[2019-10-24 10:32] SOI7 commented on #136
![67396113-08da1700-f575-11e9-8229-468e6d64532b](https://user-images.githubusercontent.com/50930970/67477413-4f557180-f65a-11e9-81f3-f2051177375f.png)

Like these?

[2019-10-24 11:23] duke7553 commented on #136
These look great! Well, then it looks like the consensus is around the second one in the comment above. I suppose we can implement it this weekend.

[2019-10-24 13:03] yaichenbaum commented on #136
@SOI7 those look amazing! Do you have versions in smaller sizes as well so we can start tweaking for other resolution's?

[2019-10-24 13:06] SOI7 commented on #136
No, but I can spin them off easily. Which formats/resolutions do you need?

[2019-10-24 13:06] yaichenbaum commented on #136
Do you have a Figma file or other source file?

[2019-10-24 13:44] SOI7 commented on #136
Never heard about Figma before, I made my icons using Gimp

[2019-10-24 13:48] yaichenbaum commented on #136
Ok, I will recreate them in Figma for ease of access and sharing between all of us.

[2019-10-24 13:51] yaichenbaum commented on #136
https://www.figma.com/file/IGYqLFl38fJvaPH9JbOrJ9/Files-UWP-Icon?node-id=0%3A1

[2019-10-24 14:14] yaichenbaum commented on #136
![image](https://user-images.githubusercontent.com/39923744/67494376-18c22b80-f647-11e9-8da3-84ad0ee3ac0f.png)

[2019-10-25 00:04] bnunya opened #248 "I would love to make more use of this but there are a few issues: First, this is targeting finger and pen, so the buttons icons and other items should be a big bigger or more spaced out. Second, the items listed should only require a single tap to enter. Finally there needs to be Thumbnails for the listed items... I would suggest consulting the OneDrive App.... They've got a lot of this stuff figured out already... In fact I would love to be able to just use that single app for all files, online and local"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-10-25 00:12] yaichenbaum commented on #248
You left the content to default template here on GitHub. I see you wrote it as the title, would you mind fixing this up to make it more friendly to read?

[2019-10-25 00:42] duke7553 commented on #248
@bnunya Please make this more readable. Thanks.

[2019-10-27 00:09] #90 closed

[2019-10-27 16:02] yaichenbaum commented on #178
This has been added to the sort branch, while we test it we will track issues with #20.

[2019-10-27 16:02] #178 closed

[2019-10-27 16:02] yaichenbaum commented on #49
This has been added to master.

[2019-10-27 18:12] #248 closed

[2019-10-29 20:00] yaichenbaum opened #251 "Some improvements to make to the "delete file" experience"
- [ ] Ctrl + shift + del - permanently delete selected items
- [ ] By default it should ask you to confirm before deleting something (should have a check box saying "Dont ask again" and there should be an option in settings to turn off the message as well)

[2019-10-29 20:04] yaichenbaum commented on #231
@OnishaX you can take a look at the thread we created for a new icon here #136

[2019-10-29 20:08] #231 closed

[2019-10-29 20:10] yaichenbaum commented on #220
We are tracking this issue over at #49

[2019-10-29 20:10] #220 closed

[2019-10-29 20:13] yaichenbaum commented on #210
If the drive space indicator would display like the picture attached, would that solve the need for a dedicated page?
![image](https://user-images.githubusercontent.com/39923744/67805262-0a20ad80-fa67-11e9-8f0b-f7cf26ff2e72.png)

[2019-10-30 08:46] jeffsieu opened #252 "Path to Windows.winmd file not set properly in ProcessLauncher.csproj"
**Describe the bug**
References in `ProcessLauncher\ProcessLauncher.csproj`:
![image](https://user-images.githubusercontent.com/8487294/67842052-60a7ed80-fb34-11e9-9b12-bf006f273303.png)

Currently, the `HintPath` for `Windows.winmd` is set to `..\..\..\..\..\..\..\Program Files (x86)\Windows Kits\10\UnionMetadata\10.0.18362.0\Windows.winmd`.

This let me to searching up and down on Google why Vis

[2019-10-30 15:39] yaichenbaum commented on #242
I suppose we can add a way to remove the OneDrive icon, as for other services you can right click on the folder and press pin to side bar.
![image](https://user-images.githubusercontent.com/39923744/67873445-d9de1b00-fb09-11e9-9301-853d07fd4e31.png)

[2019-10-30 21:19] #252 closed

[2019-10-30 22:54] generalguy41 commented on #210
Personally, I'd just like "This PC" as a home page instead of the current implementation. I don't use the favourites or the recent items, so that whole page is useless to me. Of course, that's just me.

[2019-10-30 22:58] yaichenbaum commented on #210
I am interested in understanding what having a This PC homepage would do for you. From my view having the drives on the side is more then enough, however the one place I do see how having a dedicated page would be useful is for someone with a lot of network drives or just a bunch of regular drives.

[2019-10-30 23:20] yaichenbaum commented on #210
Here is a basic idea of how it could look
![image](https://user-images.githubusercontent.com/39923744/67906256-5ee92480-fb4a-11e9-9f50-e6bad1a3f4ee.png)

[2019-10-30 23:28] generalguy41 commented on #210
Personal preference. I often keep my drives on the left hand side minimized anyway. It also helps for drives that have special names or icons, as those don't show up in the list. Hard to tell which drives are which based on "Local Disk (E:\)" and "Removable Drive (D:\)". (Maybe I should raise that as a bug?)

![image](https://user-images.githubusercontent.com/8879244/67906258-60b2e800-fb4a-11e9-89

[2019-10-30 23:35] yaichenbaum commented on #210
As far as I know we already have custom icons for different drive types. In the even this page is added there will be an option to open to it.

[2019-10-30 23:38] generalguy41 commented on #210
Sorry, I meant custom icons/images, like the Lacie drive I posted. The naming thing is more important though, as neither the external hard drive nor my network drive show their proper names (though maybe this has been addressed, I'm only on the store version).

[2019-10-30 23:40] yaichenbaum commented on #210
There were no changes to that specific area however there is a long list of other changes and bug fixes to be included in the next update.

[2019-10-30 23:55] szaimen commented on #210
BTW: When will the next update be available?

[2019-10-31 00:04] szaimen opened #255 "Add option to right click context menu to pin the current directory to the sidebar"
**Is your feature request related to a problem? Please describe.**
I want to add a whole smb-server to the sidebar. Since the network address section isn't shown, I cannot view network addresses and therefore pin e.g. whole SMB-servers through right click to the sidebar. (e.g. such addresses: **\\\smb-server**)

**Describe the solution you'd like**
Please enable us to pin the current path to the s

[2019-10-31 00:15] szaimen commented on #255
BTW: If I want to access my smb-server the first time, so I type \\\smb-server and press enter, I then don't get asked for my credentials. Is this a bug? Because If I do the same in file explorer, I get asked and afterwards access the server also with the files uwp app.

[2019-10-31 00:23] szaimen commented on #48
When will this be added?
Sry don't want to spam https://github.com/duke7553/files-uwp/issues/9.
I think this feature is quite essential.

[2019-10-31 01:31] yaichenbaum commented on #48
@szaimen Thanks for keeping this issue active! I just added it to the list of things to do, I hope we can get this done fairly soon. @jeffsieu is this something you would be interested in working on?

[2019-10-31 01:32] yaichenbaum commented on #210
@szaimen as soon as a bug stopping us from creating the release package is fixed.

[2019-10-31 01:33] yaichenbaum commented on #255
Great idea! It would be a help if you created a second issue for your second comment so we can track it separately from the feature request.

[2019-10-31 01:50] jeffsieu commented on #48
@yaichenbaum Sure! I think it'll be best to work on it on top of the sort and rename commits, as the enter key may interfere with the renaming process. When will the sort and rename branches be merged into master?

[2019-10-31 02:26] yaichenbaum commented on #48
As soon as @duke7553 reviews them.

[2019-10-31 02:40] yaichenbaum commented on #20
Changes made with #247.

[2019-10-31 02:40] #20 closed

[2019-10-31 07:50] szaimen opened #258 "Feature: Prompt user for credentials when connecting to smb-server the first time"
**Describe the bug**
If I want to access my smb-server the first time, I type in \\\smb-server and press enter, then I don't get asked for my credentials. But if I do the same in file explorer, I get asked for the credentials and afterwards can access the server also with the files uwp app.

**Requirements**
- User is prompted with modal to enter password
- Modal has text feild to enter password
-

[2019-10-31 07:52] szaimen commented on #255
I opened https://github.com/duke7553/files-uwp/issues/258 to track it separately.

[2019-10-31 12:55] yaichenbaum commented on #255
@szaimen Thank you!

[2019-10-31 14:38] szaimen commented on #255
@yaichenbaum You are welcome!

[2019-10-31 16:01] szaimen opened #259 "Refinements to Properties"
**Is your feature request related to a problem? Please describe.**
I suggest these refinements to the properties especially useful when comparing folders/files.
Currently I just can see the size of one file but not for folders and or when selecting more than on folder/file.

**Describe the solution you'd like**
I would like to see the overall size of a folder and/or files (and the count of folders

[2019-10-31 16:02] szaimen commented on #9
I would really like to get these:
- [ ] ctrl+n for new window
- [ ] ctrl+[shift]+tab to switch tabs
- [ ] ctrl+w to close tab
- [ ] ctrl+r to refresh
- [ ] ctrl+alt to show the properties for the current selected folder(s) and or file(s) (https://github.com/duke7553/files-uwp/issues/259)

[2019-10-31 16:13] szaimen commented on #183
Yeah this would be nice!
(Should be shown for all tabs not only for different windows)

[2019-10-31 16:16] yaichenbaum commented on #183
We are following a lot of the behavior of Edge, Edge doesn't function this way so I don't think we should add this feature.

[2019-10-31 16:31] szaimen opened #260 "Context menu for tabs"
**Is your feature request related to a problem? Please describe.**
I would like to change the sort order of tabs and open already open tabs in new windows

**Describe the solution you'd like**
I would like to pull one tab out of the tab row to let it open in a new window. (you can do this in edge) and change the sort order of tabs through pulling

**Describe alternatives you've considered**
Maybe

[2019-10-31 16:40] szaimen commented on #183
okay but maybe then this button:
![image](https://user-images.githubusercontent.com/42591237/67966919-02970b00-fc05-11e9-8bd8-9dfca208a1f0.png)

Or hovering images (when hovering over with the mouse) for tabs (like in chrome):
![image](https://user-images.githubusercontent.com/42591237/67967168-64577500-fc05-11e9-96bb-a8a0929db92b.png)

[2019-10-31 17:19] yaichenbaum commented on #260
You can already change the order of tabs through pulling if you build the application of the master branch.
The other stuff we plan on doing, thanks fro creating this issue to keep track of it.

[2019-10-31 17:21] yaichenbaum commented on #183
@szaimen Both of the features you brought up in the last comment are things we plan on implementing in the future.

[2019-10-31 17:22] yaichenbaum commented on #251
I wrote down the shortcut wrong! I edited the original comment to have the correct short cut.

[2019-10-31 17:42] szaimen commented on #26
@yaichenbaum I think this is someday needed so maybe also adding this to the backlog?

[2019-10-31 17:44] yaichenbaum commented on #26
This is not on our roadmap right now, we will revisit after launching the app.

[2019-10-31 17:52] szaimen opened #261 "Enable us to open everything with just one click"
**Is your feature request related to a problem? Please describe.**
Especially for touchscreens it would be nice beeing able to open every file/folder with just one click.

**Describe the solution you'd like**
This and other UWP apps are ment to be also used by devices with touchscreen, so I think the option to open files and folders with just one click would be really nice.

**Describe alternative

[2019-11-01 04:59] Dubstepwolf123 opened #263 "Files UWP crashes when switching between directories"
**Describe the bug**
When switching between directories that contain many files quickly, the app crashes with the error "We didn't expect that"

**To Reproduce**
Steps to reproduce the behavior:
1. Quickly go between directories, crashes faster with side bar (Desktop, Downloads, Documents, etc.)

**Expected behavior**
The files app continues to load the files correctly

**Desktop (please complete

[2019-11-01 05:02] Dubstepwolf123 commented on #263
Seems to be caused when the app is under load.

[2019-11-01 14:07] yaichenbaum commented on #263
Can you try updating to the latest version and confirm if this is still happening?

[2019-11-01 16:26] szaimen commented on #48
Maybe shift+enter could open the folders in new windows each?

[2019-11-01 16:28] yaichenbaum commented on #48
@szaimen As opposed to a new tab?

[2019-11-01 16:28] szaimen commented on #48
Yes 👍

[2019-11-01 16:29] yaichenbaum commented on #48
@duke7553 would it make sense for this to add this behavior?

[2019-11-01 19:40] duke7553 commented on #263
@Dubstepwolf123 Quite a few changes have been made since that version. I would strongly recommend updating to the latest and let us know how it goes.

[2019-11-02 01:13] Dubstepwolf123 commented on #263
Issue isn't there in the latest version on the Windows Store (couldn't build the git download). Although the store version is internally 0.6.2 (error said it was 0.6.2), the About section inside the app still shows 0.5.0.

All fixed, closing.

[2019-11-02 01:13] #263 closed

[2019-11-02 01:29] #48 closed

[2019-11-02 01:48] szaimen commented on #9
@yaichenbaum I looked at your list and found three times:

Otherwise really nice list!

[2019-11-02 06:30] jeffsieu opened #264 "Entering a folder causes the program to crash"
**Describe the bug**
Entering a folder causes the program to crash with `InvalidOperationException`
[code]

This is likely due to the program modifying the selectedItems list in the following sequence:
1. Folder is double-clicked/enter key is pressed
2. `OpenSelectedItems` gets triggered.
3. If only 1 folder is selected, the program loops through the `selectedItems` enumerable and executes code to

[2019-11-02 23:49] yaichenbaum commented on #9
@szaimen Thanks for pointing that out, CTRL + TAB and CTRL + SHIFT + TAB are two shortcuts to do the same thing so thats why they are both there, I removed the other duplicates though.

[2019-11-03 02:37] duke7553 commented on #136
Thank you everyone for the amazing feedback that far exceeded my expectations! We've now decided on a brand-new icon for Files that will show up in the next release. This truly great icon was only possible due to the suggestions from the community; especially: @SOI7 @jeffsieu and @yaichenbaum

![image](https://user-images.githubusercontent.com/20365014/68079512-3a4ab200-fdc1-11e9-98f2-c287c71f80bd

[2019-11-03 02:37] #136 closed

[2019-11-03 03:56] jeffsieu opened #269 "Addition of code linter, unit testing"
I was wondering if the addition of [unit testing](https://docs.microsoft.com/en-us/visualstudio/test/walkthrough-creating-and-running-unit-tests-for-windows-store-apps?view=vs-2019), and code linters like [FxCop Analyzers](https://docs.microsoft.com/en-us/visualstudio/code-quality/install-fxcop-analyzers?view=vs-2019) would be added to the project. I think it'll be a good idea to automate some (if

[2019-11-03 03:58] yaichenbaum commented on #269
Absolutely, I am in agreement with this. If Luke agrees we can get this set up.

[2019-11-03 18:14] szaimen opened #270 "Caching of files and folders"
**Is your feature request related to a problem? Please describe.**
It seems, that when entering any folder, Files UWP is reloading the files and folders, that are contained inside this folder every time. Also navigating back and forth results in reloading the contained files and folders every time.

**Describe the solution you'd like**
I would like them to get cached, so that it is much faster to

[2019-11-03 18:15] yaichenbaum commented on #270
Please fill out the info in the comment of your proposal.

[2019-11-03 18:18] szaimen commented on #270
@yaichenbaum Sry, but I don't understand what you want me to do, because I have filled out the whole feature request template as you can see...

[2019-11-03 18:19] yaichenbaum commented on #270
It must be I wrote my comment before your changes went though, thanks!

[2019-11-06 23:48] J-Cake commented on #236
You could create a *proxy* executable file in like C++ and add that to the registry. Every time you then open the explorer, the exe file opens the app?

[2019-11-06 23:53] J-Cake opened #272 "Further customizability"
It's the little things like customisability that inspire me, so this app is brilliant, I only have a few issues: The app tends to be fairly slow, even if it isn't, it feels sluggish. Other than that, I'd like a way to remove the preset favourites and replace them with my own as well as being able to add FTP based network locations and a way to hide files prefixed with `.` or to add options to *sof

[2019-11-07 00:07] yaichenbaum commented on #236
If you want you can try adding that, at the moment we have been working on nailing the basics and haven't gotten a chance to look at this yet. This would need to be completely optional and off by default.

[2019-11-07 00:08] yaichenbaum commented on #272
By slow, do you mean that loading large directories takes some time?

[2019-11-07 15:38] Francisco820 opened #273 "Por que no actualizan la app?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-07 15:42] yaichenbaum commented on #273
Please fill out the details so we can understand what you want.

[2019-11-07 20:07] duke7553 commented on #272
@J-Cake Thanks for this feedback. Can you please elaborate on what specifically you're noticing performs slowly?

[2019-11-07 20:16] szaimen commented on #272
Maybe he notices [this](https://github.com/duke7553/files-uwp/issues/270) missing feature which is resulting in the app feeling sluggish?

[2019-11-07 20:22] szaimen commented on #273
@yaichenbaum I have translated the issue title and it seems like the issue creator is asking why the app doesn't get Updates?

[2019-11-07 20:25] yaichenbaum commented on #273
In that case the answer is the app is still in very early alpha. We are constantly updating the code base and we are actually ready to ship a new update with many new features and bug fixes. The reason this update has not gone out yet is we haven't been able to compile an update package and we are still working on figuring this one out.

[2019-11-07 20:25] #273 closed

[2019-11-07 22:54] #264 closed

[2019-11-07 23:45] yaichenbaum commented on #213
@duke7553 Is this something you are working on?

[2019-11-08 00:11] J-Cake commented on #272
@duke7553 while I am finding that, yes, opening directories takes significant time, if there's a loading screen indicating its loading, this is tolerable, however, what I was originally referring to was the feel of the UI, I can't quite tell, but it seems that some elements in the UI take notable amounts of time to complete their animations, this, added up will result in sluggish feel even though

[2019-11-08 00:16] yaichenbaum commented on #272
@J-Cake Here is some good news, we are working on refining the UI and will take in to account how long elements take to load. In addition we have made some changes that will make launching the app a lot faster.
Overall things are pretty snappy in my experience when I build straight off of master. It would be helpful if you could share the exact places where you find the animations too slow or anno

[2019-11-08 00:20] yaichenbaum commented on #259
This proposal seems to include all the information we need so I will go ahead and approve this for development.

[2019-11-08 00:29] yaichenbaum commented on #261
This is great feedback, I see three options we could have -
- An option to open files and folders with one click with mouse input and of course touch as well.
- An option to open with one click **only** on touch.
- The default which would be the current behavior that requires clicking twice.
Does this cover everything or is there anything else to keep in mind?

[2019-11-08 00:34] yaichenbaum commented on #260
I updated the original pitch with some more information, I also realized that you might have meant pulling tabs for touch which is not implemented at the moment. I had originally tested with a mouse. I think this pitch now includes what we need so I will go ahead and approve this.

[2019-11-08 00:45] szaimen commented on #261
@yaichenbaum I think your list is quite complete. I am just missing the option to select files and folders through pulling. This is important for touch input since you cannot use the shift button to select files/folders if the keyboard isn't available. And you probably shouldn't be forced to use the shift and/or ctrl key imho.
Maybe these ribbon options from file explorer could also be useful for

[2019-11-08 01:00] szaimen commented on #260
Maybe "move tab to new window" could get updated to "move tab to new window or to an already open other one"?
I can do this if you agree.

[2019-11-08 01:29] yaichenbaum commented on #212
There are a few things we need to keep in mind
- Someone is pasting a file with the same name as one that already exists, in this case we should ask if they want to replace the file or keep both files, there should also be an option to cancel. Keeping both files should add a number to the end of the file name.
- Someone is pasting a folder with the same name as one that already exists, the options

[2019-11-08 01:31] #217 closed

[2019-11-08 01:32] yaichenbaum commented on #217
Closing this because of lack of activity, if you still have this issue you can reopen it.

[2019-11-08 01:35] yaichenbaum commented on #223
I was under the impression this has been addressed, however I don't have a drive to test with. @duke7553

[2019-11-08 01:37] yaichenbaum commented on #224
We are working on an option for "zip" so we will definitely look in to adding this to the Share tab.

[2019-11-08 01:38] yaichenbaum commented on #228
Duplicate of #211.

[2019-11-08 01:38] #228 closed

[2019-11-08 01:41] yaichenbaum commented on #232
@Heten-Daiya We have not been able to reproduce this error, if you have any additional information feel free to reopen this issue.

[2019-11-08 01:41] #232 closed

[2019-11-08 01:57] yaichenbaum commented on #210
We will have information to share on this feature request very soon and we will need your feedback to make sure its implemented the best way.

[2019-11-08 02:58] yaichenbaum commented on #147
@imthewiseguy It's totally ok if you are not going to finish this feature, would you mind giving us an update on your plans?

[2019-11-08 03:01] yaichenbaum commented on #131
### **The plan is to accommodate all users**
In the future we will add an option in settings that will include this feature that users can be turned on or off.

[2019-11-08 03:05] yaichenbaum commented on #179
There is now an open pull request for this feature #266.

[2019-11-08 03:08] yaichenbaum commented on #149
We are tracking this issue here #212

[2019-11-08 03:10] yaichenbaum commented on #146
We will be working on tighter OneDrive integration in the future. We will update here when we have more information.

[2019-11-08 03:12] yaichenbaum commented on #140
@Poopooracoocoo This issue has been open for some time and hasn't gotten a response to my last question. We are working on the ribbon right now and were wondering if you would be able to explain in greater detail what you would like to see added?

[2019-11-08 03:18] yaichenbaum commented on #261
@szaimen That should be tracked in a new issue. I believe that #94 will work on touch when implemented.

[2019-11-08 03:24] yaichenbaum commented on #260
I don't want to add too many options to the menu but if enough people would find it helpful then we can explore adding a second option "Move to an open window" and that would have a sub menu with the other open windows.

[2019-11-08 03:57] J-Cake commented on #272
@yaichenbaum I love the enthusiasm, I was actually working on trying to build it myself, once I have succeeded with that, I'll report the new feel of the app and a thorough speedtest etc.

[2019-11-08 04:18] yaichenbaum commented on #272
If you are going to build the app yourself I will mention that you should build in release mode rather then debug, the reason for that is debug mode will take a lot longer to load the app then it will if you build it in release mode.

[2019-11-08 04:24] J-Cake commented on #272
@yaichenbaum Noted. Thank you

[2019-11-08 11:03] szaimen opened #274 "Selection options"
Please add these ribbon options for selection:

- [x] Select all
- [x] Select none
- [x] Invert selection

Would be really helpful especially for touch input.

This is how it is currently implemented in the file explorer:
![image](https://user-images.githubusercontent.com/42591237/68471809-47332f80-021f-11ea-8823-62fdb017f9a5.png)

[2019-11-08 11:05] szaimen commented on #261
Thanks for pointing to #94, I must have overseen it.
For the additional ribbon options I opened:
https://github.com/duke7553/files-uwp/issues/274

[2019-11-08 14:09] yaichenbaum commented on #274
Select all and clear all are already options. Since the idea is straightforward I will go ahead and approve this issue.
![image](https://user-images.githubusercontent.com/39923744/68482367-6b831200-0207-11ea-87ef-b88be6baa829.png)

[2019-11-08 14:40] szaimen opened #275 "When clicking on specific folders in the path, the highlighting in the navigation bar on the left doesn't change"
**Describe the bug**
When clicking on specific folders in the path, the highlighting in the navigation bar on the left doesn't change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Downloads -> "Downloads" is highlighted
2. Click on a folder inside downloads -> highlighting on the left changes to "Local Disc"
3. Click on "Downloads" in the path-bar -> highlighting doesn't change back

[2019-11-08 14:43] szaimen commented on #275
BTW: I wonder if it wouldn't be better to remain the highlight on downloads when navigating into a folder inside the downloads folder? (Sounds somehow more intuitiv to me but isn't the current behavior of file explorer)

[2019-11-08 14:56] szaimen opened #276 "Improvements to file selection"
**Is your feature request related to a problem? Please describe.**
In file explorer you are currently able to select a specific amount of files in a custom order but not in Files UWP.

**Describe the solution you'd like**
When I have marked a few files and press after the last one ctrl+shift, I then be able to select a few files in a row additionally. Currently in Files UWP it is deselecting the f

[2019-11-08 15:00] szaimen commented on #274
I just don't know, if these option are fitting well in the "Layout" category. But that is a discussion for another time.

[2019-11-08 15:04] yaichenbaum commented on #275
This is great feedback, thank you for bringing it to our attention.

[2019-11-08 15:11] szaimen commented on #275
@yaichenbaum Do you have any thoughts on: https://github.com/duke7553/files-uwp/issues/275#issuecomment-551854144 ?

[2019-11-08 15:19] yaichenbaum commented on #275
I agree with your comment.

[2019-11-08 15:24] szaimen commented on #275
Okay, then the same behavior should probably get applied to all other items as well to be consistent.
Shall I open a new issue for that to track it seperately?

[2019-11-08 15:26] yaichenbaum commented on #275
I think this issue covers everything so there is no need for another one.

[2019-11-08 15:47] szaimen opened #278 "Improvements to the path-bar"
**Is your feature request related to a problem? Please describe.**
The path-bar can be a killer navigation feature when you know how to use it.
Unfortunately many features of file explorer are currently not working.
I will try to write them down.

**Describe the solution you'd like**

- [x] Clicking on a directory in the path bar should open it.
- [x] Clicking one time into the Path-bar should res

[2019-11-08 15:51] szaimen commented on #278
BTW: Sry for spamming your repo with ideas but I think files UWP has really the potential to become an amazing piece of software!

[2019-11-08 16:48] yaichenbaum commented on #278
First of all we love all your ideas and they are extremely helpful! Keep them coming.

This is something called environmental variables #182

Everything on the list makes sense and we will try to address as many of them as possible when we work on enhancing this area.

[2019-11-08 17:49] szaimen opened #279 "Make the Window draggable at the whole top of the window bar"
**Is your feature request related to a problem? Please describe.**
Currently a files uwp window is not draggable at the very top of it, so I cannot reach to the top in fullscreen and drag the window to minimize it: I have to grab it a few pixels below which is annoying.

**Describe the solution you'd like**
Please make the Window draggable at the whole top of the window bar.

**Describe alternativ

[2019-11-08 18:00] szaimen commented on #279
Alternatively you could expand the tabs to be as big as in Microsoft Edge: (so that on the left and above the tabs is no space -> then they are also easier to grab...
![image](https://user-images.githubusercontent.com/42591237/68499636-f2f97100-0259-11ea-8c8d-17510ba5ab60.png)

[2019-11-08 18:06] szaimen opened #280 "Advance the design of tabs in background"
**Is your feature request related to a problem? Please describe.**
Maybe the design of tabs in the background is a little bit too minimalistic?

**Describe the solution you'd like**
Maybe add dividers for those apps?

**Describe alternatives you've considered**
currently no other idea.

**Additional context**
This is the current design:
![image](https://user-images.githubusercontent.com/42591237/6

[2019-11-08 18:20] imthewiseguy commented on #147
HI,

I need to get the latest version of the project. and then change some code and then integrate it. I'm going to be working on that today

[2019-11-08 18:26] szaimen opened #281 "Consider adding the bar at the bottom"
**Is your feature request related to a problem? Please describe.**
I am used to this bottom bar so I am missing it in your app.

**Describe the solution you'd like**
It would be really nice if you would consider to adding it in files UWP.

**Describe alternatives you've considered**
currently no alternative idea how these features could be implemented otherwise.

**Additional context**
I am talkin

[2019-11-08 18:58] szaimen commented on #215
Wouldn't it be possible to show the filesize when [caching](https://github.com/duke7553/files-uwp/issues/270) the files and also the file size of files and so when a file changes, the size get updated immedeately?

[2019-11-08 19:08] szaimen opened #282 "Consider the option to show folders between files"
**Is your feature request related to a problem? Please describe.**
This is possible e.g. in finder on macos so maybe you could consider this option? But I don't know if this is technically possible?

**Describe the solution you'd like**
Consider the option to show folders between files like in finder on macos. (So when sorting alphabetically or Date modified it get shown between files.

**Describe

[2019-11-08 19:16] yaichenbaum commented on #279
@duke7553 Is already working on this one so I will just assign him to the task to keep track.

[2019-11-08 19:19] yaichenbaum commented on #280
The current version in master actually looks like this:
![image](https://user-images.githubusercontent.com/39923744/68504235-84ed8380-0232-11ea-824a-f3df1937de39.png)

There is also an open issue to improve the colors #120.
Since this issue has already been addressed and will roll out in the next update (still trying to get the package to build) I will close this issue.

[2019-11-08 19:19] #280 closed

[2019-11-08 19:20] yaichenbaum commented on #147
Excellent, if you need any help with the code base just tag @duke7553.

[2019-11-08 19:21] szaimen commented on #9
Possible additional shortcuts to be considered could be:
- [ ] a shortcut for renaming? (don't know if there is already an existing one, maybe you should think about a shortcut that makes sense if nothing exists. I have currently no idea for that)
- [ ] backspace for the last directory
- [ ] alt+UP for going up in directory?

Other shortcuts that are inspired by macos and could work at least in th

[2019-11-08 19:23] yaichenbaum commented on #281
I think this is something that should be optional as many users want a really simple UI. In any case I see how this could is useful so I will approve the request.

[2019-11-08 19:30] yaichenbaum commented on #9
@szaimen
There is a shortcut for renaming - F2
Backspace is already implemented
Alt + Up is already implemented but it only works when the file area is focused at the moment.
There will be issues with "right" and "left" since when there is a grid view for items and those keys will be needed to switch focus on files and folders with the keyboard.

[2019-11-08 19:33] szaimen commented on #9
Yes, so maybe just adding these shortcuts to the list view?

[2019-11-08 19:37] szaimen commented on #9
I don't know if an Function-key is appropriate in the current time since I know many devices and keyboards that have other shortcuts on these buttons as default. So maybe it would be appropriate to consider another additional one maybe with "alt" + "another key" or "ctrl" + "another key"?

[2019-11-08 19:39] yaichenbaum commented on #9
F2 is the behavior in File Explorer, about having other shortcuts on those keys that what the FN key is for.

[2019-11-08 20:41] szaimen commented on #9
Yes, I know that but I just find it inconsistent to use.
(it is bad to reach and at least for me just to use in combination with the fn-key.)

The only shortcut, that I could imagine since almost every combination is already used is "ctrl+q" but this has other features in other programs.
Maybe also "ctrl+e" could be considered -> the "e" could stand for editing (aka renaming), but is already plann

[2019-11-08 22:10] szaimen opened #283 "Consider creating a new folder with the current selection"
**Is your feature request related to a problem? Please describe.**
On macos finder you have the option to create a folder from the current selection. So it creates a folder and move the current selection automatically inside the folder. Afterwards you get asked for the name for this folder.

**Describe the solution you'd like**
Show when right-clicking on the current selection the option to create

[2019-11-08 22:15] szaimen opened #284 "Enhancing the design of Selections"
**Is your feature request related to a problem? Please describe.**
I don't know if it is a bug or feature but when selecting files, I can see the dividing line between items that are not visible in the list view at all.

**Describe the solution you'd like**
Maybe don't show the dividing lines or remove them completely?

**Describe alternatives you've considered**
Maybe just leave it as it is (when

[2019-11-08 22:19] szaimen commented on #45
Maybe also looking inside zip files and opening files from there should be supported?
(it is working like that currently in the file explorer)

[2019-11-08 22:32] szaimen opened #285 "Add "send to Desktop (Create link)" to right-clicking on a file or folder"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to remember a file or beeing able to send a shortcut to my desktop very quick to afterwards beeing able to open the folder or file very fast.

**Describe the solution you'd like**
Please add "send to Desktop (Create link)" to right-clicking on a file or folder

**Describe alternatives you've considered**
Maybe this

[2019-11-08 22:50] szaimen opened #286 "Customize Favorites"
**Is your feature request related to a problem? Please describe.**
I would like to remove a few of the default Favorites.

**Describe the solution you'd like**
This could be solved through right-clicking on one of the default items in the navigation bar and choosing "unpin item".

**Describe alternatives you've considered**
Alternatively this could be solved through right-clicking on one of the bi

[2019-11-09 00:11] szaimen opened #287 "Consider pinning files to the sidebar"
**Is your feature request related to a problem? Please describe.**
I wonder for a long time now why file explorer is not able to pin files to the sidebar.
Sometimes this could be a valuable feature having one or a few files just very good available in the left navigation bar.

**Describe the solution you'd like**
Maybe you could add the option to pin also files to the sidebar and not just folders?

[2019-11-09 08:00] jeffsieu commented on #49
I'll work on this

[2019-11-10 00:13] yaichenbaum commented on #283
I like this idea, is this something other people would want as well?

[2019-11-10 00:14] yaichenbaum commented on #284
This is how it is meant to be, in fact if you take a look at File Explorer it has the same behavior.

[2019-11-10 00:14] #284 closed

[2019-11-10 00:17] yaichenbaum commented on #286
This is something we should definitely do and have plans for in the future.

[2019-11-10 00:23] yaichenbaum commented on #287
How would we differentiate between files and folders? Users expect the sidebar to be a spot to navigate to directories. This will obviously only happen if the users actually pins the file but I am not sure if the option to do that should even be there.
I would like some input on this feature request from the community and how they feel about this. I am pinning this issue to increase discoverabilit

[2019-11-10 00:25] yaichenbaum commented on #287
One possibility would be to have a section labeled **Files** that would be where pinned files would go but it would need to remove the label that says "Files" when there is nothing pinned.

[2019-11-10 17:47] yaichenbaum opened #289 "Tree view in the sidebar"
**We are looking at enhancing the sidebar experience**

We are debating is if a tree view is necessary for our user base, on the one hand it could make working deep in a directory easier since you can just click on an item in the tree view to go back. On the other hand you can use the path par to click on any of the directories there to navigate, additionally you could just click the button that g

[2019-11-10 18:53] szaimen commented on #284
Yes, I agree that it is the same behavior in file explorer.
But what is the reason for that?
Doesn't this look much better to your eyes as well?
![image](https://user-images.githubusercontent.com/42591237/68549011-c11c1200-03f3-11ea-96eb-c19d990b0752.png)

[2019-11-10 18:58] szaimen commented on #283
Maybe you could also pin this issue to improve the discoverability of this topic to get more opinions from the community?

[2019-11-10 19:12] szaimen commented on #287
That sounds like a good idea and compromise for me and additionally would remain the current UX-concept (of only accessing folders in the navigation bar).

[2019-11-10 20:27] szaimen commented on #289
I don't if a Tree view in the sidebar is really needed. I think the current implementation is much cleaner.
So I think this should definitely be optional. (or just remaining collapsed if not actively used).

Also if  the two shortcuts pressing "Left" for "going up" and "Right" for "opening folder/file" is implemented for the list view (as I proposed [here](https://github.com/duke7553/files-uwp/iss

[2019-11-10 20:50] szaimen opened #290 "Toggle for Bulk Selection"
**Is your feature request related to a problem? Please describe.**
The current Selection UX isn't working without a keyboard and is therefore not touch-optimized: So you cannot make a custom selection of folders/files with only touch input.

**Describe the solution you'd like**
Maybe you could add a "Bulk" button to the "Layout" Ribbon Section to enable Bulk selection.

**Describe alternatives you

[2019-11-10 21:27] szaimen opened #291 "Please let us choose the path of the default librarys through right-clicking"
**Is your feature request related to a problem? Please describe.**
In files explorer you are able to choose the path of the default libraries through the library properties.
This option should be changable through right-clicking on a default library.

**Describe the solution you'd like**
Maybe when right-clicking on a default library (on the sidebar and the coherent button in the favorites section

[2019-11-10 21:32] yaichenbaum commented on #291
You should be able to do that in settings right now.

[2019-11-10 21:37] szaimen commented on #291
Yes but only with file explorer and not only with files UWP.

[2019-11-10 21:38] yaichenbaum commented on #284
Actually, I can't reproduce that it shows the lines in Files UWP, I am not sure why you are seeing it like this.

[2019-11-10 21:39] yaichenbaum commented on #291
I am not sure I understood correctly, you want the changes you made in Files Explorer to to take affect in Files UWP?

[2019-11-10 21:41] szaimen commented on #284
Maybe because I am using the old, current Microsoft Store release? 🤔

[2019-11-10 21:44] szaimen commented on #291
No, these work for files UWP when changing them with the file explorer.
I just would like to be able to change the path with files UWP und not having to open file explorer for that :)

[2019-11-10 21:46] yaichenbaum commented on #290
I feel like #94 would address the issue about touch input. One of the things we are doing while creating this app is rethinking which features are needed for a file explorer app that is both powerful and simple. Just because a feature is in File Explorer it does not mean that we will add it to Files, in this case if the selection rectangle solves the problem on hand I don't think we need an extra

[2019-11-10 21:48] yaichenbaum commented on #291
![image](https://user-images.githubusercontent.com/39923744/68551325-c5d3cc80-03d9-11ea-99ae-8d7f5de0a924.png)
Try going to settings > preferences to set custom locations.

[2019-11-10 21:49] yaichenbaum commented on #284
I am not sure, @duke7553?

[2019-11-10 22:02] szaimen commented on #291
@yaichenbaum Thank you for the advice 👌
Actually I have completely forgotten, that this feature is already implemented. 😅
Please consider this feature request then as a request to bring this customisation to the right-click menu!

[2019-11-10 22:03] yaichenbaum commented on #291
That I cant do, in the future we plan on making it that you can interact more with the side bar but before we do that we just need to get #289 out of the way.

[2019-11-10 22:10] szaimen commented on #291
okay 👍
Since you already implemented the feature of changing the path, maybe one entry in the context menu is enough: "Change the path" to directly open the coherent option inside the settings.

[2019-11-10 22:16] szaimen commented on #290
Actually this feature isn't implemented into file explorer to my knowledge.
It is something I thought about, that would make sense and would improve the UX for selecting files with touch input imho.

[2019-11-11 08:12] SOI7 commented on #289
Maybe as an optional mode, like the iOS column mode referenced in #147 ?

[2019-11-11 14:07] yaichenbaum commented on #289
@SOI7 That technically, is something we can do but we are trying to figure out what has the most value to **our** users. We want to hear the needs of you and if the current version satisfies them. If they don't then what can we do to meet them.

[2019-11-11 14:24] yaichenbaum commented on #290
How about check boxes at the left of every file? Once you check one then you will be able to tab on any file to select or deselect it.

[2019-11-11 14:56] szaimen commented on #290
That sounds like another good way to do this. If you like this better, I am okay with it.

But I think my Proposal is design-wise cleaner (but maybe not UI- or UX-wise), because it doesn't need the checkboxed at the left on every file/folder.

[2019-11-11 14:59] yaichenbaum commented on #290
For a cleaner design how does it sound if the check boxes are hidden until the mouse is near by or someone touches near there?

[2019-11-11 15:05] szaimen commented on #290
That sounds already better to me but then you would be in the situation of having an empty column between the navigation bar on the left and the title column...

[2019-11-12 12:02] piereligio opened #292 "Setting multiple folders for downloads, documents, etc? And adding other pinned folders on the left side?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-12 13:41] themoiFR opened #293 "Add multiple languages"
**Is your feature request related to a problem? Please describe.**
I'm a french guy and I like when all the application I use is in french. I'd like to contribute if possible to add this.

**Describe the solution you'd like**
Adding a String folder to add string languages.
Adding a possibility to change the language in the settings.

**Describe alternatives you've considered**

**Additional contex

[2019-11-12 14:01] yaichenbaum commented on #292
You should already be able to pin folders to the sidebar, can you confirm you are running the latest version of Files UWP?

[2019-11-12 14:11] yaichenbaum commented on #293
@themoiFR We are tracking this issue over at #230.
When you say you would like to add this, do you mean to set up to strings or just translating in to french? Either way make sure to let us know on #230.

[2019-11-12 14:21] themoiFR commented on #37
I can help setting up the Globalization and localization if needed and I can translate in french

[2019-11-12 14:25] yaichenbaum commented on #37
@themoiFR Thank you for the offer, we are definitely planning on having this done before the launch of Files UWP. I am not sure we are ready for translations at the moment since a lot of strings are going to be changing as we get the app ready for production. I would say that we will be ready for this closer to March.

[2019-11-12 14:59] generalguy41 commented on #284
I can confirm I see the lines on the Store version as well.

[2019-11-12 15:05] generalguy41 commented on #289
Personally I never really go deeper than one or two levels at most for the sidebar tree view, so I don't really mind not having it, but it's always nice to have the option.

[2019-11-12 15:40] piereligio commented on #292
I just downloaded it from the Microsoft Store, maybe so it's not the latest one? In that case, I'm sorry

[2019-11-12 15:46] piereligio commented on #292
I noticed I'm on 0.5.0, which doesn't seem to be the latest. How do I subscribe to the preview in the microsoft store?

[2019-11-12 16:00] szaimen commented on #292
How are you trying to add folders to the navigation bar? Through pulling or through right-klicking on the folder you want to add?

[2019-11-12 16:17] yaichenbaum commented on #292
@piereligio There should be a newer version in the store, can you try updating and see if you have the option? If not then the feature should be rolling out with the next update.

[2019-11-12 17:03] generalguy41 commented on #292
Store version for me (Canada) is 0.5.0

[2019-11-12 21:07] #293 closed

[2019-11-12 21:59] piereligio commented on #292
Ok this is strange. In the about page it's written 0.5.0, but the store says 0.6.4 (so I believe I've 0.6.4). How should I add the folders to sidebar?

[2019-11-12 22:09] yaichenbaum commented on #292
There is a bug in that version that he settings page didn't show the correct version. If you navigate to the parent directory of the folder you want to pin then you should be able to right click on a folder and press pin to sidebar.

[2019-11-12 22:21] piereligio commented on #292
Yes you're right, sorry

[2019-11-12 22:26] yaichenbaum commented on #292
Is there anything else or can I close this issue?

[2019-11-12 22:29] piereligio commented on #292
You can close it thank you

[2019-11-12 22:30] #292 closed

[2019-11-13 12:06] moutasem1989 opened #294 "Look at this UI Concept"
This [UI Design Concept for UWP File Explorer](https://www.behance.net/gallery/74300939/Windows-10-File-Explorer?tracking_source=search-all%7Cwindows%2010) is just breath taking !

[File Transfer UI Redesign](https://www.behance.net/gallery/83322777/Windows-10-File-Transfer-UI-Redesign-(Fluent-Design)?tracking_source=search-all%7Cwindows%2010) is also great !

[2019-11-13 20:17] mattwojo opened #295 "Incorporate the Windows Subsystem for Linux"
**Problem:**
The Windows Subsystem for Linux is extremely popular among developers, but for many, especially newer devs, the concept of switching between the Windows file system and Linux file system is very confusing. Currently, the Linux file system can be opened (after installing WSL and a distro) using Windows File Explorer using 'explorer.exe .'    ...but it would be VERY helpful to have a se

[2019-11-13 20:40] mattwojo commented on #295
Visual Studio Code has implemented a similar sort of thing with their Extensions installation windows...

![image](https://user-images.githubusercontent.com/7566797/68802417-c0ad9200-0612-11ea-8967-965266493308.png)

[2019-11-13 20:42] mattwojo commented on #295
This is a clear visual indicator letting users know whether they've installed an extension on the local (Windows) drive, or on the Windows Subsystem for Linux (Ubuntu-18.04 in this case) drive... as well as an indicator in the lower-left corner of VS Code letting the user know what system their current project is running on.
The community has LOVED this new remote support... definitely something t

[2019-11-14 02:59] Lolihunter1337 commented on #244
@duke7553 Tried the new version and still cannot open them

[2019-11-14 03:25] yaichenbaum commented on #244
@Lolihunter1337 Did you give permission for Files UWP to access the file system from the privacy settings in Windows 10?

[2019-11-14 03:26] Lolihunter1337 commented on #244
@yaichenbaum yes i did

[2019-11-14 03:31] yaichenbaum commented on #244
What does it say as the version number in the about page in settings?

[2019-11-14 03:33] Lolihunter1337 commented on #244
0.6.5.0

[2019-11-14 03:36] yaichenbaum commented on #244
@duke7553 any idea why this is happening?

[2019-11-14 03:59] Arlodotexe opened #297 "Exception when viewing external drive root"
**Describe the bug**
When navigating to the root of an external drive, it throws an ArgumentException

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Select an external drive from the sidebar
3. Error

**Expected behavior**
No error?

**Screenshots**
Here's the exact line causing the bug (In `InstanceTabsView.xaml.cs`):
![image](https://user-images.githubusercontent.com/93848

[2019-11-14 06:36] ashikns commented on #244
I tried with v0.6.5 and exe files open fine for me. I did notice that applications requiring UAC elevation do not work, and there's no proper error message for this.

[2019-11-14 11:26] szaimen commented on #279
I recently updated to 0.6.5 and the window is draggable now on the red marked section:
![image](https://user-images.githubusercontent.com/42591237/68853252-cfab4780-06d9-11ea-940d-c92a4469252b.png)
Now I think only this is missing: https://github.com/duke7553/files-uwp/issues/279#issuecomment-551929631

[2019-11-14 11:30] szaimen opened #298 "When searching for Files UWP the old icon is shown"
**Describe the bug**
When searching for Files UWP the old icon is shown

**To Reproduce**
Steps to reproduce the behavior:
1. press the windows key
2. search for "files uwp"
3. See the screenshot

**Expected behavior**
The new icon should be shown like in the task bar and start menu

**Screenshots**
![image](https://user-images.githubusercontent.com/42591237/68853397-32044800-06da-11ea-93b9-34416c

[2019-11-14 11:38] szaimen opened #299 "When first installing and opening the app from the Store, it shows a crash popup"
**Describe the bug**
When first installing and opening the app from the Store, it shows a crash popup

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Microsoft store
2. Download files UWP
3. Wait for it to get installed
4. Launch files uwp
5. see a crash popup
6. Have to click on "ignore" to show the "grant permission" popup next.

**Expected behavior**
Shouldn't show the crash popup.

[2019-11-14 11:49] szaimen opened #300 "Please remove the slow animation when opening a new tab"
**Is your feature request related to a problem? Please describe.**
I think the animation when opening a new tab is just to slow.

**Describe the solution you'd like**
Please remove the slow animation when opening a new tab

**Describe alternatives you've considered**
Maybe you could just speed up the animation around 3-5 times then I would also be okay with it.

**Additional context**
![image](htt

[2019-11-14 11:58] narcotix88 opened #301 "No translation"
files-uwp is only available in english. I would be happy to help with french localisation, if you provide a list of strings to be translated.

[2019-11-14 11:59] #301 closed

[2019-11-14 13:06] szaimen commented on #242
I would also appreciate this feature.
And I would like to see Nextcloud added to the list.

[2019-11-14 13:09] szaimen commented on #242
Google Drive File Stream and Nextcloud's Virtual Drive are probably much more complicated to add, am I right?

[2019-11-14 13:48] szaimen commented on #284
This bug is fixed in 0.6.5

[2019-11-14 14:00] yaichenbaum commented on #242
Its something we will look in to in the future but first we plan on a tighter OneDrive integration.

[2019-11-14 14:14] szaimen commented on #298
Also is the dark background in the program list and startmenu intended or shoulnd't it be also the default colour?
![image](https://user-images.githubusercontent.com/42591237/68864342-430c8380-06f1-11ea-87df-bd469f12fea8.png)

[2019-11-14 14:15] yaichenbaum commented on #298
This is because the store can take a while to update all the assets, the dark background is intended so that the blue holder stands out.

[2019-11-14 14:17] yaichenbaum commented on #279
We are currently working on having the tabs stretch to the top when the app is maximized.

[2019-11-14 14:18] szaimen commented on #298
So will I just have to wait or will I have to reinstall the app later on?

Otherwise, you can close this issue.

[2019-11-14 14:21] yaichenbaum commented on #244
@ashikns Do you have any ideas of a work around that will allow these applications to work?

[2019-11-14 14:22] szaimen commented on #279
Why not stretching them always to the top?
Because when not, I think the window should then be draggable in this section (above the tab, just as I have colored it in orange.)

[2019-11-14 14:23] yaichenbaum commented on #298
You will just have to wait, reinstalling the app wont help for that asset. Sorry about this inconvenience.

[2019-11-14 14:23] #298 closed

[2019-11-14 14:25] yaichenbaum commented on #279
It definitely should be draggable when not maximizes, we will work on that as well.

[2019-11-14 15:21] alexis900 opened #302 "Bug at program start"
**Describe the bug**
The bug appears with open of program.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the software

**Expected behavior**
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() + 0x21
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task) + 0x70
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotificatio

[2019-11-14 15:32] szaimen commented on #302
is this https://github.com/duke7553/files-uwp/issues/299 the same issue?

[2019-11-14 15:53] yaichenbaum commented on #302
@szaimen This looks like a different issue.

[2019-11-14 16:05] SOI7 commented on #297
I confirm this issue, it's happening to me as well with my secondary hard drive. It didn't happen with the previous version

[2019-11-14 16:07] yaichenbaum commented on #297
There were some changed made to how external drives work in this update, its is very likely this is what is causing this issue. Thank you for reporting it.

[2019-11-14 16:12] SOI7 commented on #128
I'm very sorry to revive this issue, but sadly I still can't open .exe files 😥

[2019-11-14 16:13] yaichenbaum commented on #128
We are tracking this on #244.

[2019-11-14 17:23] SOI7 opened #303 "[Feedback] Some better color and layout usage"
First of all, I like the direction the app is taking in terms of functionality. UI wise it didn't change much, but I know it's not your top priority since you're focusing on making it work as flawlessly as possible. That said, I'd like to point out some areas that could benefit some touch-ups.

First of all, the left pane highlights. Right now Files highlights the selected pin/favorite with a dark

[2019-11-14 17:51] duke7553 commented on #303
Thanks for this feedback!

[2019-11-14 18:23] ashikns commented on #244
Interactive elevation is not permitted in a uwp context, and iirc it's also not possible to run uwp app with admin privileges on launch. I did originally help write the exe launcher helper that files-uwp uses, I'll try and see if there's some way to acquire privileges from that helper.

[2019-11-14 18:45] ashikns commented on #244
Okay so short answer - yes it's possible. In the exe launcher project, you have to set StartInfo.Verb = "runas" and UseShellExecute to true. I verified that this does indeed launch the exe.

To do it properly you have to check whether the exe requires uac elevation and then elevate only if needed. I can work on this but it might take me a while (even though it's a relatively simple affair), feel f

[2019-11-14 19:51] duke7553 commented on #297
Sorry everybody for the inconvenience. I will investigate this issue this afternoon and we'll release a patch.

[2019-11-14 20:05] duke7553 commented on #223
Fixed in v0.6.5

[2019-11-14 20:05] #223 closed

[2019-11-14 21:17] lukasi2000 opened #304 "Please bring an option to apply fluent design theme."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-14 21:18] lukasi2000 opened #305 "Pretty simple: Icon is in a black box."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-14 22:00] yaichenbaum commented on #304
@lukasi2000 Please fill out the information in the provided template for the issue.

[2019-11-14 22:01] yaichenbaum commented on #305
That is to help the blue colors stand out, I agree it looks a little off. Do you have any suggestions how we can improve it?

[2019-11-14 23:19] generalguy41 commented on #297
Assuming this is the same error, I don't think it's limited to external drives. I have a network drive and an internal drive that give the same error. I also have an external drive and USB that don't give the error. Downloaded from Store.

[code]

[2019-11-14 23:26] generalguy41 commented on #305
@yaichenbaum Honestly, I wouldn't worry about the blue standing out. I think it should just match the system colour. Alternatively, I think some apps allow you to customize the live tile through settings (though I can't remember which right now). Could be something to consider.

[2019-11-14 23:47] szaimen opened #306 "Once a file/folder is selected, I am not able to open a file or folder through double-click"
**Is your feature request related to a problem? Please describe.**
Once a file/folder is selected, I am not able to open a file or folder through double-click because it let me rename this file/folder.

**Describe the solution you'd like**
Once a file/folder is selected and you click on it again, files uwp should wait whether I want to make a double click on that file/folder or click just one time

[2019-11-14 23:47] yaichenbaum commented on #306
@jeffsieu can you reproduce?

[2019-11-15 00:01] duke7553 commented on #306
This is reproducable and I'm planning on including this in our immediate v0.6.6 release.

[2019-11-15 00:46] szaimen opened #307 "Shortcuts that not always work"
**Describe the bug**
Some shortcuts don't alwas work.
I don't want to spam https://github.com/duke7553/files-uwp/issues/9, so I opened this new issue.

**To Reproduce**
Steps to reproduce the behavior:

-  ctrl+[shift]+tab to switch tabs
-  CTRL + TAB to cycle between tabs

sometimes work but just after I create a new tab or after I select a one-click option from the Homescreen (one of the Favorit

[2019-11-15 12:28] jwdotpark opened #308 "Feature request: default starting path"
Hi, thank you for the great application first of all especially there are not so many great UWP file browser! But I'd like to suggest

1. Startup default path feature.

1. Quick access sidebar would be also nice.

Other than that It works beautifully for me. Thank you again!

[2019-11-16 01:07] nafan25 opened #309 "Offline Network Drive Error"
When a user attempts to access an offline network drive, the app gives an exception.

Steps to reproduce the behavior:
1. Verify network drive is disconnected
2. Click the appropriate drive letter for the disconnected network drive
3. See error

The app should state that "The specified network drive cannot be accessed. Please make sure the device is on and connected to the internet."

 - OS Versio

[2019-11-16 12:04] watermarkhu commented on #200
How about the new Windows Terminal?  Since we're all going UWP here....

[2019-11-17 09:03] J-Cake commented on #225
this is required!!

[2019-11-17 14:22] DaemonDragonJB opened #310 "Error reported upon first open"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-17 16:30] duke7553 commented on #297
I have a fix for this locally, and I'm working on several other fixes for the v0.6.6 release which will be released soon.

[2019-11-17 16:33] yaichenbaum commented on #310
Did you give Files UWP access to the file system from Windows privacy settings?

[2019-11-17 16:34] #304 closed

[2019-11-17 16:37] yaichenbaum commented on #294
We are going to be working on a file transfer dialog, however the one linked looks very unfinished and will require multiple changes to match the Fluent guidelines put out by Microsoft.

[2019-11-17 16:39] yaichenbaum commented on #295
This is a great idea! One of the things we are looking to do with this project is add value and I definitely think this fits under that.

[2019-11-17 17:04] duke7553 commented on #310
@DaemonDragonJB Please make sure Files is updated to the latest version available and try again. Sorry for the inconvenience.

[2019-11-17 17:04] #310 closed

[2019-11-17 17:17] duke7553 commented on #306
I guess I spoke too soon. I cannot reproduce this.

[2019-11-17 17:20] yaichenbaum commented on #306
"There's a couple bugs around inline renaming
 - Can't open something if it's already selected (tries to rename)
 - Select, deselect, and select the same thing again. It tries to rename instead of selecting it.
 - Doesn't work for icon layout"

[2019-11-17 18:05] #297 closed

[2019-11-17 18:05] #299 closed

[2019-11-17 18:05] #300 closed

[2019-11-17 18:05] #302 closed

[2019-11-17 18:07] #240 closed

[2019-11-17 22:15] imthewiseguy commented on #147
[ColumnPage.zip](https://github.com/duke7553/files-uwp/files/3856193/ColumnPage.zip)

 here's the source code for the column view if anyone wants to do any change to it

[2019-11-17 23:46] szaimen commented on #290
What about putting the check boxes at the right of every file. This would solve the empty column problem.

It think combined with this idea:

It would be kind of perfect. Also on the right it is probably better reachable for most people (that are right-handed).

[2019-11-18 10:11] Prayag2 opened #312 "Enable Transparency please!"
Your file explorer is AMAZING! But it isn't having any transparency effect like in the settings app! Please please please please add that effect!

[2019-11-18 16:24] LukasHrazdil opened #313 "Startup error message"
**Describe the bug**
When the app starts it shows the error message pasted in the section "Additional context". I can't open folders and the app is unusable.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to "Start Menu"
2. Click on "Files UWP"

**Expected behavior**

The app should start normal.

**Screenshots**

![Unbenannt](https://user-images.githubusercontent.com/44154465/69069883-

[2019-11-18 16:38] yaichenbaum commented on #313
Can you try updating to the latest version (0.6.6.0) and let us know if you still run in to the issue?

[2019-11-18 16:40] yaichenbaum commented on #312
We are exploring the use of different acrylic brushes to apply throughout the app.

[2019-11-18 19:31] astalavista5000 opened #314 "The underline animation when switching from File, Home, Share and Layout seems to have lost some animations compared to before while when you go in Settings the underline under Personalization, Preferences and About still is fine."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-19 16:06] sladkOy opened #315 "Please add Russian localization"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-19 16:09] yaichenbaum commented on #315
#37

[2019-11-19 16:09] #315 closed

[2019-11-19 16:10] sladkOy commented on #37
If anything, then I can help with the translation into Russian and Ukrainian.

[2019-11-19 16:40] phileastv opened #316 "[Feature Request] Everything Search Integration"
### Is your feature request related to a problem? Please describe.

I think we can all agree that Windows Search (even with the latest updates) isn’t particularly great for searching through a lot of files.

As a video editor who has to find files fast, I use Everything from voidtools (with the Wox  Launcher UI) to search all my assets. In my opinion, this is one of the best and fastest Files Sear

[2019-11-19 16:43] #312 closed

[2019-11-21 04:37] duke7553 commented on #270
Virtualization for items is something I would definitely want to implement. Unfortunately, there doesn't exist documentation on this feature for the Toolkit DataGrid, so I assume the control doesn't support it. @yaichenbaum Can you verify whether the DataGrid supports virtualization?

[2019-11-21 04:40] duke7553 commented on #270
My mentality is: "Sure, the Windows.Storage namespace is slow, but users never really need to retrieve the properties of all filesystem items at once" That's where random-access virtualization would come in, but the DataGrid, to my knowledge simply doesn't support it.

[2019-11-21 04:48] duke7553 commented on #314
Hello. this is a limitation with the current control for the Ribbon which we are using. I'm closing this since it's 90% likely that future enhancements to the Ribbon will address this.

[2019-11-21 04:48] #314 closed

[2019-11-21 04:50] duke7553 commented on #313
Closing this issue since it was likely fixed in v0.6.6 . @LukasHrazdil Can you please reopen if you can reproduce this after updating to the latest version?

[2019-11-21 04:50] #313 closed

[2019-11-21 04:51] duke7553 commented on #305
@lukasi2000 Would it look better if we used a lighter grey?

[2019-11-21 04:59] #196 closed

[2019-11-21 04:59] #204 closed

[2019-11-21 05:16] duke7553 commented on #295
I plan to investigate this feature during the v0.7 cycle.

[2019-11-21 16:18] yaichenbaum commented on #270
As far as I know it does not but I believe it was requested for the new Win UI DataGrid control.

[2019-11-21 18:44] szaimen commented on #270
@yaichenbaum Do you have a link? I would like to read about that.
Or is [this](https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/2858) what you are refering to?

[2019-11-21 19:09] yaichenbaum commented on #270
@szaimen I am talking about [this ](https://github.com/microsoft/microsoft-ui-xaml/issues/1500 )one.

[2019-11-25 19:33] jamescadd opened #317 "Make network locations available in the sidebar"
It would be nice if there was a way to view network mounted drives in the sidebar.  Perhaps that could be visible under "This PC" as others have suggested, or it would be great if they were just listed below the custom locations.  This could also be addressed by allowing custom locations to be more flexible, for example I don't use "my videos" so I could rename that and use it to point to a networ

[2019-11-25 19:38] duke7553 commented on #317
Hello James,

I'm certainly looking to implement this functionality very soon, and displaying network-mounted drives shouldn't be that difficult considering the recent improvements to the Drives list.

Thanks for the feedback.

[2019-11-28 17:25] tzzs opened #318 "Modify the disk order"
**Is your feature request related to a problem? Please describe.**
On my computer, the disk E is displayed at the top, and the disk order is disordered, which makes me very uncomfortable.

**Describe the solution you'd like**
Is it possible to sort by disk name, or can sort by dragging. Thanks.

[2019-11-29 01:31] duke7553 commented on #157
This bug is no longer reproducible in v0.6.6 . Please reopen if you still have this problem.

[2019-11-29 01:31] #157 closed

[2019-11-29 16:50] duke7553 commented on #120
I haven't been able to reproduce this anymore with the new tab strip
![image](https://user-images.githubusercontent.com/20365014/69882520-5e08f700-129e-11ea-8268-84982fffa2ac.png)

[2019-11-29 16:50] #120 closed

[2019-11-29 16:51] yaichenbaum commented on #120
I think it still exists in the latest version in master, however it seems to be solved with the acrylic title bar change.

[2019-11-29 16:59] duke7553 commented on #207
@jeevanpulluru @ChrisdelaC I can't seem to reproduce this bug. Can you try downloading the latest version of Files, and post the exception message you see if it happens again?

[2019-11-29 17:02] duke7553 commented on #159
@yaichenbaum Can you reproduce this bug while running in a debugger?

[2019-11-29 17:22] yaichenbaum commented on #159
I cannot reproduce on the latest version.

[2019-11-29 18:34] duke7553 commented on #159
@WindowsFanboy Please re-open if you can reproduce this

[2019-11-29 18:34] #159 closed

[2019-11-30 19:29] duke7553 commented on #173
@KaKi87 This is fixed for the v0.7 release. Thank you for your patience.

[2019-11-30 19:29] #173 closed

[2019-12-01 15:11] yaichenbaum opened #320 "Would be great if the tabs can be hidden to make it more like the legacy file explorer."
Would be great if the tabs can be hidden to make it more like the legacy file explorer.

[2019-12-01 15:14] #140 closed

[2019-12-01 15:15] yaichenbaum commented on #140
Closing issue due to inactivity.

[2019-12-01 15:18] yaichenbaum commented on #269
@jeffsieu Is this something you have experience with? Neither Luke or I have done this before but would be interested in doing this to improve the quality of Files code base.

[2019-12-01 17:29] duke7553 commented on #294
We're looking to implement something like this: <img src="https://media.discordapp.net/attachments/599017746562547742/650036311616389151/unknown.png?width=1192&height=671">

[2019-12-01 17:44] duke7553 commented on #244
This behavior should be corrected with commit https://github.com/duke7553/files-uwp/commit/f53a6e08d3a39154d631362ac38604a2643df0c9  to the v0.7-changes branch

[2019-12-01 17:44] duke7553 commented on #244
Please reopen if this is still an issue

[2019-12-01 17:44] #244 closed

[2019-12-01 19:31] moutasem1989 opened #322 "add an integrated quick file viewer for images, videos and documents"
When pressing a hit key, a floating window appears to show the content of the file. It should show quick actions to handle those files (image crop and rotate ext...)

[2019-12-01 19:34] moutasem1989 opened #323 "Always on top mini window."
Add a an always on top floating window with drag and drop feature that can be accessed from anywhere in the system to provide quick file edits

[2019-12-01 19:37] yaichenbaum commented on #323
Files is not a file editor, while it may make sense to have a preview pane I don't think this specific
 feature request fits in to an app like Files.
Something like this falls more in to apps like Quick Pad and other other editing apps.

[2019-12-01 20:49] #323 closed

[2019-12-01 23:12] jeffsieu commented on #269
@yaichenbaum Nope, haha. I've never tried this before too. Maybe we can start small by adding an automated test to verify code formatting first, once that is up and running then we can start adding the actual unit and integration tests within the app.

[2019-12-01 23:50] yaichenbaum commented on #138
This will be included in the v0.7 release.

[2019-12-01 23:50] #138 closed

[2019-12-02 10:39] tomyan112 opened #324 "Can't open document directly when enter the file path in the address bar"
If I input D:/123.pdf in the address bar
In classic file explorer
It will open the pdf
In files uwp
![image](https://user-images.githubusercontent.com/9064351/69952768-d8ea4000-1532-11ea-911c-85fa96908f88.png)

[2019-12-04 06:35] tomyan112 opened #325 "Folder options(from classic explorer)"
[#177] show hidden files, folders and drives
[#261] Single-click to open an item (point to select)
- [ ] Option to hide empty drives

- [x] Hide extensions for known files types
- [ ] Underline item titles only when I point at them

[2019-12-04 06:39] tomyan112 opened #326 "Be able use ctrl+scroll to change list view to other mode"
other mode includes
Extra large icons
Large Icons
Medium Icons
Small icons
List
Details
Tiles
Content

[2019-12-04 06:46] tomyan112 opened #327 "Expand and Collapse Folders on side bar"
![image](https://user-images.githubusercontent.com/9064351/70119224-c2fc8c80-16a4-11ea-9847-4c87ba87dc0a.png)

[2019-12-04 06:56] tomyan112 opened #328 "Add support for shortcut files"
A shortcut file can be viewed in classic explorer but cant been seen in the files uwp.

![image](https://user-images.githubusercontent.com/9064351/70119773-fdb2f480-16a5-11ea-9b61-ef42fd0a7a8a.png)

[2019-12-04 13:51] tomyan112 commented on #227
It would be nice that recycle bin is pinned to the side bar by default.

[2019-12-04 14:02] yaichenbaum commented on #326
We are tracking this issue here #214.

[2019-12-04 14:02] #326 closed

[2019-12-04 14:03] yaichenbaum commented on #327
This would only make sense with a tree view, we are discussing this over here #289.

[2019-12-04 14:03] yaichenbaum commented on #328
Possible duplicate of #2.

[2019-12-05 05:48] lionnesquaer opened #329 "Show free space in drives"
Hello!
Please make a bar of free space usage of drives in menu. Like this:
![Desktop Screenshot 2019 12 05 - 08 25 24 65](https://user-images.githubusercontent.com/39178626/70207412-c4c55f00-173b-11ea-85f5-ffcdeb6b0a8a.png)

[2019-12-07 06:52] KrisnaArdi opened #330 "cannot right click a file in a tablet"
Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index within

at System.Collections.Generic.List`1.get_Item(Int32) + 0x2c
   at System.Collections.ObjectModel.Collection`1.System.Collections.IList.get_Item(Int32) + 0x20
   at Files.GenericFileBrowser.RightClickContextMenu_Opened(Object, Object) + 0x4f
   at System.EventHandler`1.Invoke(Object,

[2019-12-07 17:23] SOI7 opened #331 ""Open in new tab/window" for pins and favorites"
We should be able to right click on a folder from the left column and have the option to open it in a new tab or window, just like we can do with folders in the main navigation area

[2019-12-07 17:35] SOI7 commented on #305
Why not having the tile background as the system accent color, but giving to the icon an outer shadow?

[2019-12-07 19:06] SOI7 opened #332 "Occasional error when copying Path"
When clicking on "Copy Path" on the ribbon, the app can occasionally give an error. It doesn't always happen but you can reproduce it spamming the button multiple times

OpenClipboard Failed (Exception from HRESULT: 0x800401D0) within method (Method name unknown)

 at System.Runtime.InteropServices.McgMarshal.ThrowOnExternalCallFailed(Int32, RuntimeTypeHandle) + 0x21
   at __Interop.ComCallHelpers

[2019-12-08 16:09] mbeps opened #333 "Implement search options"
When searching nothing happens.

[2019-12-08 16:11] yaichenbaum commented on #333
Search has not been implemented yet.

[2019-12-08 16:15] mbeps commented on #333
 Hello, I am looking forward to the app as I am looking for a replacement for the current file explorer. Can you make files an folders open with 1 tap when using touch. You could collaborate with another developer who is currently making a file explorer like yourself. His email is dev.neolyon@gmail.com. You combine both of your apps you can create the perfect file explorer. Thank You. From: Yair A

[2019-12-08 18:46] d2dyno006 opened #334 "Comments on xaml code"
The UI code is quite complex I have to say, and it would have been nicer if the code had comments on the elements describing their purpose. Comments really help finding your way in the code!

[2019-12-08 18:54] yaichenbaum commented on #334
Absolutely and this is something we are working on little by little to improve the code base. We are starting by modularizing the application and are taking a few days at a time to focus on different areas. If you have any questions about a specific part let us know and we will do our best to explain it.

[2019-12-09 04:07] yaichenbaum commented on #329
If we add a page to see all your drives as shown in #210 would that solve this issue?

[2019-12-09 05:22] SpardDEV opened #335 "Addons for files uwp"
Hi! I always like to see a program like this, that boring and ugly windows Explorer is stoneaged.

I love the tab system, but tô bem perfect, How about put two or more in the same page? Like a Button tô grid the tabs, or pull a tab in another tô join. Sometimes se want tô work in two pastes.

The context menu can vê tweak by the user, like to add function like 7zip and more. Maybe stealing forms o

[2019-12-09 05:49] lionnesquaer commented on #329
Im look on your concept of this drive page, yes, it would be good. Please make it!

[2019-12-09 16:02] yaichenbaum commented on #329
I will close this issue and we will continue tracking the issue in #210. It is something we got a lot of requests for and is part of the plans for the future.

[2019-12-09 16:02] #329 closed

[2019-12-09 18:31] d2dyno006 commented on #334
That's great! Nice to hear it!

[2019-12-09 18:42] d2dyno006 commented on #37
I can help with the polish one

[2019-12-10 00:28] MadafakinRio opened #336 "Rearange right click context menu"
I just can't get used to the order of the context menu when right clicking ceran items.

In Windows Explorer, delete and rename are below copy and paste, but in FilesUWP it's the other way around and it just seems so weird.
Have you thought about changing the order?

![image](https://user-images.githubusercontent.com/26349936/70484488-44f91500-1aec-11ea-97e3-11b34345b6e8.png)

![image](https://use

[2019-12-11 04:18] yaichenbaum commented on #336
I think we should be able to address this with the next release.

[2019-12-11 04:26] yaichenbaum commented on #109
![image](https://user-images.githubusercontent.com/39923744/70591444-2fdfbd00-1ba4-11ea-81a1-f70e76b91fda.png)
@Poopooracoocoo Padding has been reduced between those button and the ribbon in general is more responsive when resizing it. There is still some work to do for the search icon but at least some of the changes will be included he next release (v0.7).

[2019-12-11 04:27] yaichenbaum commented on #333
We are tracking this issue here #8. Thank you for contributing to Files UWP.

[2019-12-11 04:28] yaichenbaum commented on #334
Make sure to let us know if you have any questions while we work on improving it.

[2019-12-11 04:28] #334 closed

[2019-12-11 04:31] yaichenbaum commented on #330
What version of the app are you running? I have not been able to reproduce this with the code for the next release so it may of been fixed.

[2019-12-11 04:32] #320 closed

[2019-12-11 15:57] yaichenbaum commented on #336
This has been addressed with #319 and will be released with the v0.7 update.

[2019-12-11 15:57] #336 closed

[2019-12-11 16:05] yaichenbaum commented on #305
This has been addressed with #319, the icon will now use the system accent color as the background.

[2019-12-11 16:05] #305 closed

[2019-12-11 16:10] yaichenbaum commented on #289
The general opinion seems to be that a regular list with no tree view is enough. We will continue improving the sidebar in future updates based on your feedback. If there are any questions or comments please make sure to let me know.

[2019-12-11 16:10] #289 closed

[2019-12-13 22:14] d2dyno006 opened #337 "Getting Files And Folders"
How does the application gets the files and folders?
Where is the specific piece of code located?

[2019-12-14 13:02] SimoneRaspagni opened #338 "Specified argument was out of the range of valid values. within"
at System.Runtime.InteropServices.McgMarshal.ThrowOnExternalCallFailed(Int32, RuntimeTypeHandle) + 0x1d
   at __Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Type__Impl.UnsafeType, Void*, Void*, Void*) + 0x9b
   at Windows.UI.Xaml.Controls.IFrame2__Impl.Stubs.Navigate(__ComObject, Type, Object, NavigationTransitionInfo) + 0x8c
   at Windows.UI.Xaml.Controls.Frame.Navigate(Type

[2019-12-14 23:37] yaichenbaum commented on #338
@SimoneRaspagni Can you try updating to the latest version 0.6.6 and see if the issue still occurs?

[2019-12-14 23:38] yaichenbaum commented on #337
@duke7553 Can you answer this question?

[2019-12-15 01:20] duke7553 commented on #337
@d2dyno006 Thanks for your interest. We're currently using the Windows.Storage APIs which you can view our implementation in the ItemViewModel class.

[2019-12-15 02:18] Alex-coder251 opened #339 "Please allow user to change OneDrive address because I have change my OneDrive address"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-15 13:20] mbeps opened #340 "Rename is not working properly"
at Files.GenericFileBrowser.<AllView_CellEditEnding>d__34.MoveNext() + 0x14c
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() + 0x21
   at System.Runtime.CompilerServices.AsyncMethodBuilderCore.<>c.<ThrowAsync>b__7_0(Object) + 0x1e
   at System.Action`1.Invoke(T) + 0x28
   at System.Threading.WinRTSync

[2019-12-15 17:25] zseventh opened #341 "Add Chinese"
可以添加中文吗，谢谢您

[2019-12-15 17:26] yaichenbaum commented on #341
Please see #37

[2019-12-15 17:27] zseventh commented on #341
thanks

[2019-12-15 17:27] #341 closed

[2019-12-15 18:38] moutasem1989 opened #342 "Side Panel options"
enable side panel resizing using mouse and touch;
enabling and disabling side panel;
enable and disable expanding open folders in side panel;
enable and disable preview panel of selected items with quick edits of known file formats "images; docs ..."

[2019-12-15 18:42] moutasem1989 opened #343 "3rd party plugins"
allow third parties to develop and add plugins through Microsoft store such as file formats support, files quick view, compression formats handling, adding actions to command panel, custom icons,

[2019-12-15 22:24] d2dyno006 commented on #337
Thank You for answering! I just couldn't get around this! :smiley:

[2019-12-15 22:32] yaichenbaum commented on #343
We have been getting a lot of requests for this. Are you interested in creating a plugin?

[2019-12-15 22:33] #337 closed

[2019-12-15 22:40] yaichenbaum commented on #114
The current implementation looks great, the only change I would recommend is adding a way to cancel the operation.

[2019-12-15 22:46] szaimen commented on #114
@yaichenbaum Do you have screenshots of the current implementation? :)

[2019-12-15 22:49] yaichenbaum commented on #114
This is the one for deleting items but its the same for paste.
![image](https://user-images.githubusercontent.com/39923744/70870603-3fc01e00-1f63-11ea-8312-72bd4ee41058.png)

[2019-12-15 23:03] szaimen commented on #114
Thanks, nice to see!

[2019-12-16 17:06] duke7553 commented on #114
@szaimen Are there any improvements to this flyout you want to see?

[2019-12-16 17:11] duke7553 commented on #340
We need to know the app version, and whether you're building from source or not.

[2019-12-16 23:44] Gaoyifei1011 opened #344 "Multilingual support(多语言支持)"
在这个应用中，默认打开的是英文界面，但对于以其他语言为母语的使用者来说比较吃力，请求一下开发者什么时候能添加一下多语言支持了
In this application, the English interface is open by default, but it is difficult for native speakers of other languages. When can the developer add multi-language support

[2019-12-17 01:54] yaichenbaum commented on #344
Please see #37

[2019-12-17 01:54] #344 closed

[2019-12-17 09:30] MGMehdi opened #345 "OneDrive not found with custom location"
My OneDrive folder is on my D: drive and Files not found it

**To Reproduce**
Steps to reproduce the behavior:
1. Set a different location for OneDrive
2. Open Files
3. Go tab OneDrive

**Expected behavior**
Open OneDrive folder

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 1909]
 - App version: [v0.6.6.0]

[2019-12-17 14:04] yaichenbaum commented on #49
Thank you @jeffsieu for your amazing work on this!

[2019-12-17 14:04] #49 closed

[2019-12-17 15:02] yaichenbaum commented on #339
This is done with v0.7.

[2019-12-17 15:02] #339 closed

[2019-12-17 15:04] yaichenbaum commented on #345
This should be fixed with v0.7. In addition there is now a setting to set a custom location for OneDrive from Files UWP as well.

[2019-12-17 15:04] #345 closed

[2019-12-17 15:46] yaichenbaum commented on #179
This is addressed in v0.7.
@KaKi87 I hope you are happy with the recent improvements to Files UWP. I just want to thank you again for all your feedback which is helping us know what to work on next.

[2019-12-17 15:50] yaichenbaum commented on #330
Please reopen if you can reproduce in the newest version of Files UWP.

[2019-12-17 15:50] #330 closed

[2019-12-17 15:52] yaichenbaum commented on #332
I was able to reproduce this in v0.7.

[2019-12-17 15:55] yaichenbaum commented on #146
@SOI7 I imagine it has to do with Files loading the wrong path for OneDrive. There is a fix for this in v0.7 that should detect the correct path as well as give you an option to set a custom path in case the one we detect is wrong.
Please reopen if the issue still occurs after we release v0.7.

[2019-12-17 15:55] #146 closed

[2019-12-17 16:52] SimoneRaspagni commented on #338
Ok, with version 0.6.6, for now, issue is not present.
Thanks

[2019-12-17 17:28] yaichenbaum commented on #338
Thank you for the updated information.
Thank you for helping make Files UWP better.

[2019-12-17 17:28] #338 closed

[2019-12-17 21:40] yaichenbaum commented on #342
Hi, can you be a little more specific what you meant by side panel?

[2019-12-17 21:49] yaichenbaum commented on #327
At the moment we are going to be sticking with the current Navigation Pane. However when we implement classic mode then it include this behavior.

[2019-12-17 21:52] yaichenbaum commented on #294
@moutasem1989 We are planning on including the dialog shown above with the next update, are there any options you would like to see included with it?

[2019-12-17 22:27] KaKi87 commented on #179
I'm sorry I didn't take time to test the app again since the first and last time. However, you did the right thing to notify me and I promise to test it soon. 😊

[2019-12-17 23:41] yaichenbaum commented on #179
There is still much work to get done but we are trying our best to get the fundamentals taken care of. Looking forward for your feedback.

[2019-12-18 00:01] generalguy41 commented on #342
@yaichenbaum I assume they mean the navigation pane (I don't believe there are any other panels?)

[2019-12-18 00:06] lampenlampen opened #347 ""Applications" can't be launched."
**Describe the bug**
"Applications" can't be launched.

### Reason:
I'm a german user.
"Applications" have the filetype "Anwendung". The german word for Application.
So the check if a clicked item is an application fails:
https://github.com/duke7553/files-uwp/blob/7fe319b0673a1dc6b8a0902a084fc0bb0448a2e5/Files%20UWP/Interacts/Interaction.cs#L450

**Screenshots**
![Files_Bug_LaunchingApplications](

[2019-12-18 00:10] szaimen commented on #114
@duke7553 I have thought about this and a way to cancel the operation like @yaichenbaum suggested, sounds like a good idea to start with.

Maybe you could also think about adding:
- a way to pause the operation and resume it
- visually show that an operation is happening on the icon in the taskbar
- a popup view, independent from the window (so that you don't accidentally close the window while an

[2019-12-18 00:54] lampenlampen opened #348 "QuickLock Integration"
# QuickLock integration

https://github.com/QL-Win/QuickLook

I have a early working [prototype](https://github.com/lampenlampen/files-uwp/tree/feat/QuickLockIntegration).

At the moment i can toggle QuickLock by launching an application. So it's basically possible.

## Things to Do

1. Communication between App and Launcher. At the moment i misuse the "Launching Application" signal for toggeling

[2019-12-18 00:57] yaichenbaum commented on #348
By using the space bar it would be by holding it down for a few seconds?

[2019-12-18 01:02] yaichenbaum commented on #342
There is an issue for a preview pane which is planned. I just want to make sure I understand which pane @moutasem1989 is talking about.

[2019-12-18 01:14] szaimen commented on #348
@yaichenbaum IMO, pressing the spacebar once (not holding it down) should open QuickLook. So that it is like on macos.

(Pressing the spacebar once again while QuickLook is open should close it and refocus the latest FilesUWP Tab. But that is probably an issue that QuickLook has to solve...)

[2019-12-18 01:35] yaichenbaum commented on #348
I imagine this will only be if QuickLook is installed so I guess it wont affect regular users.

[2019-12-18 01:46] lampenlampen commented on #348
QuickLock provides a NamedPipe, where you can send the toggle-Command.

At first toogle-Command the preview window is shown, at the second-command the preview window is closed again or shows a new file preview, if a new path is send.

@yaichenbaum I would include a settings option, where you have to turn the feature on, if you want to use it and if you have QuickLock installed.

[2019-12-18 01:47] yaichenbaum commented on #348
I wouldn't bother with the setting for it, if the user has it installed then it should work without any extra setup from the user.

[2019-12-18 17:46] duke7553 commented on #328
Hello, with our current implementation, this behavior is intended, but we're looking to improve this in the future when we add support for hidden items.

[2019-12-18 20:50] KaKi87 commented on #179
I'm sorry I can't find out where to download version 0.7 ?

[2019-12-18 21:15] KaKi87 opened #350 "Open executable file with administrative rights"
Like mentioned in #128 and #244, executable files can't be opened with administrative rights, but this should definitely be a feature. Thanks

[2019-12-18 21:23] KaKi87 commented on #225
Indeed, the ability to see file extention goes with the ability to change it.

[2019-12-18 21:32] yaichenbaum commented on #179
Version 0.7 is still not published so the only way to access it is to build from the source code. Version 0.6.6 is the latest version release and you can get it in the store.

[2019-12-18 21:34] yaichenbaum commented on #350
@duke7553 I believe this is going to be fixed with 0.7, can you confirm?

[2019-12-18 21:44] KaKi87 opened #351 "Detect executable files"
`.exe` isn't the only executable format out there, and there's no fixed list, but the information is available in the file's metadata, so Files should be able to detect it.

[2019-12-18 21:47] yaichenbaum commented on #193
There is now an open pull request with this option #321.

[2019-12-18 21:50] yaichenbaum commented on #166
There is an open pull request that adds an option to turn on and off acrylic on the side bar #321. Version 0.7 will also include acrylic on the title bar and and option to collapse the ribbon.

[2019-12-18 21:55] yaichenbaum commented on #351
Can you give an example of another format that I can use to test?

[2019-12-18 22:25] KaKi87 commented on #351
Well, like I said, there is no fixed list, because the file extension isn't relevant to indicate if a file is executable or not. For example, a file without extension could be executable.
But, for example : `bat`, `cmd`, `com`, `vbs`

[2019-12-19 00:51] yaichenbaum commented on #351
As a temporary fix I can add in manually for the common ones you listed. Ideally we would want to check correctly and that should should fix #347 as well. It may be necessary to use a Win32 component but we will do whatever it takes.

[2019-12-19 00:58] yaichenbaum commented on #351
I took a closer look and we need to actually modify the launcher since it runs command line hidden so my temporary change would not display the terminal if you open a batch file.
I am hoping to have this addressed with v0.8.

[2019-12-19 13:04] KaKi87 commented on #351
Please don't.

I prefer this feature to be available later but properly implemented than sooner but messy.

Thanks

[2019-12-19 14:13] yaichenbaum commented on #351
Absolutely, we will wait to get it right 😊. Thank you for your patience.

[2019-12-19 21:31] fxha opened #352 "Natural Sorting"
**Is your feature request related to a problem? Please describe.**

File names should be compared by the Win32Api `StrCmpLogicalW ` function to get the default Windows behavior. It's somehow strange to get the name `abc10` listed between `abc1` and `abc2`.

File names should be shown as:

[code]

but not as (currency)

[code]

**Describe the solution you'd like**

File names should be listed like

[2019-12-21 15:27] takase1121 commented on #351
I think the app should look for the magic sequence of the executables(for those who had it like PE) instead of relying of the file extension

[2019-12-21 17:20] duke7553 commented on #350
@yaichenbaum Indeed! This behavior is corrected with v0.7. Please reopen if you can reproduce after the next release.

[2019-12-21 17:22] duke7553 commented on #192
We have new changes coming in v0.7 that will auto detect your downloads folder from the Windows Shell. Please reopen if you can reproduce this in v0.7 when it's released.

[2019-12-21 18:30] KaKi87 commented on #350
Still waiting for that v0.7 ^^

[2019-12-21 23:42] yaichenbaum commented on #350
@KaKi87 v0.7 includes many changes and some of them are not ready, perhaps we should keep issues open until the changes are actually sent out.

[2019-12-22 17:19] yaichenbaum commented on #193
This was implemented and will roll out with v0.7.

[2019-12-22 17:48] lampenlampen commented on #351
I think this problem and this (#347) can be solved (partially), if we generally call `Process.Start()` for every file and let the OS handle the execution. This would only work for files with file extensions.

[2019-12-22 18:08] yaichenbaum commented on #348
Thank you @lampenlampen for the amazing job you did with this!

[2019-12-22 18:09] lampenlampen commented on #348
# Icon

QuickLook has an [icon](https://github.com/QL-Win/QuickLook/blob/master/QuickLook/Resources/app_black.png) we can use.

I'm no expert in license stuff. For me it seems that QuickLook is under the GPL 3, which gives us the permission to use it.

[2019-12-22 18:11] yaichenbaum commented on #348
I am fairly sure we can use it as long as we credit the source, the about page in the app would probably be the best place to reference it.

[2019-12-22 18:14] yaichenbaum commented on #348
Just pointing out that the way Files is setup right now is that new features in the right click context menu need to be added to the photo view as well as the standard list view. In the future this will be changed in to one control but until then it needs to be implemented twice.

[2019-12-22 21:54] d2dyno006 opened #354 "Cannot Build nor Deploy solution"
Bug occurs while building the application.
The bug is located in ...\Files.Uwp.Package\Package.appxmanifest
(As image shows:)
![bug](https://user-images.githubusercontent.com/53011783/71327836-eb421300-250d-11ea-8506-37a565c08cc8.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Download latest version of Files UWP from GitHub
2. (If needed) Set the Build -> Advanced... -> Language versio

[2019-12-22 23:42] yaichenbaum commented on #193
Its important to note its still off by default but its just one switch in settings to turn it on.
I want to thank everyone who kept sending feedback asking for this and not letting go until it got added, Files UWP is all about what **you** want and providing the customization you want so please keep sending feedback or comment on existing issues what you want to see next!

Here is a screenshot of

[2019-12-22 23:43] yaichenbaum commented on #343
Just commenting that QuickLook integration will be available when v0.7 rolls out.

[2019-12-23 12:38] lampenlampen commented on #354
Had the same problem with the master branch. A temporary solution for me was to exclude the "assets" folder from the "Files.Package" project.

[2019-12-23 14:58] SOI7 commented on #343
Another third party app that could receive support from Files UWP is Windows Terminal

[2019-12-23 14:58] yaichenbaum commented on #343
@SOI7 How would you recommend adding support for Windows Terminal?

[2019-12-23 15:02] SOI7 commented on #343
As it is now, Files UWP can open a cmd terminal starting from the directory where you right click and launch the command. However, I'm currently using Windows Terminal as a replacement for cmd and it would be cool if we could set it as the default console app in Files, so that when you right click in an empty spot and select "Open in Terminal" it launches Windows Terminal instead of the builtin cm

[2019-12-23 15:09] szaimen commented on #343
Yes, that would be really nice!
And I guess, it should get opened with windows terminal automatically, if it is installed?

[2019-12-23 15:15] SOI7 commented on #343
Maybe. Some people may prefer good old cmd even if they have Terminal installed, so a toggle could be safer. PowerShell is another big factor in the game, however there's a chance that Terminal could open the current path in PowerShell instead of cmd if you set it as the default profile, but sadly I can't verify this since, alas, in win32 Explorer you can't open any folder in Terminal. But that is

[2019-12-23 15:17] yaichenbaum commented on #343
So what we would probably want is a toggle in settings to choose cmd, powershell or terminal. In the case that terminal is chosen then I imagine terminal would open with the default profile.

[2019-12-23 15:17] SOI7 commented on #343
Exactly

[2019-12-23 20:10] #348 closed

[2019-12-23 20:20] KaKi87 commented on #347
There would definitely be a lower-level solution to detect executables more efficiently.

[2019-12-23 23:39] jeffsieu commented on #347
Right now the fileType is taken from [StorageFile.DisplayType](https://docs.microsoft.com/en-us/uwp/api/windows.storage.storagefile.displaytype#Windows_Storage_StorageFile_DisplayType). Might be better to use [StorageFile.ContentType](https://docs.microsoft.com/en-us/uwp/api/windows.storage.storagefile.contenttype#Windows_Storage_StorageFile_ContentType).

[2019-12-24 04:44] yaichenbaum commented on #347
@jeffsieu I saw this on stackoverflow https://stackoverflow.com/questions/3693891/how-to-determine-if-a-file-is-executable, not sure if it would be useful for us.

[2019-12-24 15:11] #354 closed

[2019-12-24 21:26] d2dyno006 opened #356 "Bug when opening Files UWP"
JK. No Bugs! I just wanted to wish you all, community, contributors, devs Merry Christmas! 🎄 🎁 ☃️ 🎊 😄  (I'll remove it later)

[2019-12-24 21:38] yaichenbaum commented on #356
You can expect many new features as we refine the app in the coming year!!

[2019-12-24 21:44] d2dyno006 commented on #356
Really, can't wait!

[2019-12-25 13:42] moutasem1989 opened #357 "Cannot open a Folder containing a File with a name that is too long !"
i tried to download a file using Edge Chromium but the download process was interrupted and Files UWP couldn't open the Downloads Folder anymore. It keeps crashing

EDIT: So i looked into the problem and i found that the name of the file is causing the error.
the name is:

[2019-12-25 14:12] yaichenbaum commented on #357
Would you be able to share the file so I can do some testing?

[2019-12-25 19:38] moutasem1989 commented on #342
![this is what i mean by Side Panel in Files UWP app](https://user-images.githubusercontent.com/32243157/71449823-58e08000-2756-11ea-8d94-ed31f9180bcc.png)
![and this is the preview panel in the legacy app](https://user-images.githubusercontent.com/32243157/71449824-58e08000-2756-11ea-9ae7-c94a07c5cf90.png)

[2019-12-25 19:43] moutasem1989 commented on #294
a way to see a tree view structure of the folders i am exploring. Gallery view option for music and pictures libraries would be helpful

[2019-12-25 19:52] yaichenbaum commented on #342
A preview pane should pretty easy to add once we make a new file view model with the path of the selected file. And a control to resize both side panes is a great idea!

[2019-12-25 19:53] yaichenbaum commented on #294
Gallery view options should come when we add layout modes. I think an option to pause or cancel a file operation is important as well.

[2019-12-26 08:59] moutasem1989 commented on #357
The file in question is in this archive ...
[The Good Place Season 1 Episode 1.zip](https://github.com/duke7553/files-uwp/files/4001997/The.Good.Place.Season.1.Episode.1.zip)

[2019-12-26 15:02] yaichenbaum commented on #351
@duke7553 Came up with a solution, it should be included with v0.7.

[2019-12-27 01:40] duke7553 commented on #356
@d2dyno006 Thank you! Happy holidays

[2019-12-27 01:40] #356 closed

[2019-12-27 01:41] duke7553 commented on #212
A potential fix for this behavior is being tested for v0.7. Thanks for your patience.

[2019-12-27 10:01] KrisnaArdi opened #358 "Cannot Select Icons Layout Mode"
Layout mode would not change into icons when icons layout mode is selected

 - OS Version: [e.g. Windows 10 1909 18363.535]
 - App version: [v0.5.0]

[2019-12-27 14:19] yaichenbaum commented on #358
This feature has not been implemented yet, it should come in the near future. We are tracking this issue in #214.

[2019-12-27 14:19] #358 closed

[2019-12-28 09:22] dustojnikhummer opened #359 "Renaming of system drives."
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Currently, every picked up local (not external) drive, including Network Drives, gets called "Local Disk". Allow us to rename them just like explorer.exe.

**Describe alternatives you've considered**
Also separate network shares. Also off topic, add support for Back and Forward buttons on m

[2019-12-28 23:51] yaichenbaum commented on #359
I think this can definitely be added as a long term goal, in the meantime I think we should detect the proper name instead of local disk.

[2019-12-30 21:28] yaichenbaum commented on #347
A fix for this will be included in v0.7.

[2019-12-30 21:33] yaichenbaum commented on #351
@lampenlampen I think it is only expected to support files with extensions. In any case in the future we will have an even better way to detect executable files that should work even without extensions.

[2019-12-30 21:44] yaichenbaum commented on #207
Please reopen this issue if you are still experiencing it on the latest version.

[2019-12-30 21:44] #207 closed

[2019-12-30 21:45] #109 closed

[2019-12-30 21:45] #179 closed

[2019-12-30 21:45] #192 closed

[2019-12-30 21:45] #212 closed

[2019-12-30 21:45] #347 closed

[2019-12-30 21:45] #351 closed

[2019-12-31 00:39] Spyromaniac31 opened #360 "Certain file types have type names like "pngfile" when more obscure file formats don't"
**Describe the bug**
Under the Type column, PNGs, JPGs, and TXTs have the names pngfile, jpegfile, and txtfile, whereas more obscure formats like .ev3 have descriptive names like "LEGO Mindstorms EV3 Project".
Edit: The one place this doesn't occur is my Downloads folder. There, file types are listed as PNG File or JPG File. It is located on the same drive as my Desktop and Documents, which do hav

[2020-01-01 13:55] Matt98 opened #363 "Issue about display of file extension"
**Describe the bug**
If the file is in the system disk (local disk C:), the file extension could be displayed, while if it is in other disk, the file extension disappears.

**Screenshots**
In local disk C:, the file extension could be displayed.
![image](https://user-images.githubusercontent.com/56995193/71642076-fdc40580-2ce0-11ea-9f20-7c7a7231ac28.png)

While in disk D:, the file extension disap

[2020-01-01 14:01] R3voA3 commented on #294
In that mock up, one can see the OneDrive ribbon in the footer of the navigation view.
![image](https://user-images.githubusercontent.com/17484252/71642137-347d2a00-2ca7-11ea-8ae1-fde3264ae5c7.png)
It would be nice if we could have the paper bin attached to the footer in a similar matter. It would show the current number of files and their total size and could be emptied by right-clicking on it.

[2020-01-01 14:26] yaichenbaum commented on #363
Thank you for reporting this issue, we will take some time to investigate the cause and how to fix it in one of the next updates.

[2020-01-01 14:28] yaichenbaum commented on #294
@R3voA3 I am pretty sure we cannot access recycle bin from a UWP app, we are exploring workarounds and will investigate for integrations when we get a workaround.

[2020-01-01 14:38] R3voA3 commented on #294
That's too bad, but simply opening the recycle bin should be possible, shouldn't it?

[2020-01-01 15:06] yaichenbaum commented on #294
I am not sure if you can since it is not a regular directory, in any case we will try to find a work around.

[2020-01-01 17:35] szaimen commented on #270
Would be really nice, if that would provide a way to show the size of folders.
Alternatively I imagine that if you right-click on one or more folders (after selecting a few folders and right-click then), then you could show an option in the right-click menu to calculate the current size (and show it directly in the list), so that you are able to sort all files and folders based on their size for t

[2020-01-01 19:42] duke7553 commented on #270
@szaimen Probably add that suggestion to https://github.com/duke7553/files-uwp/issues/259

[2020-01-02 01:25] vasanthdeveloper opened #365 "Can I make a YouTube video on this application?"
Hello, I have a YouTube channel called [Vasanth Developer](https://vasanth.tech/youtube) in which I make technical videos. I just found this project like an hour ago and sadly, couldn't find any social media links for @duke7553 So, I decided to raise an issue here and ask @duke7553 if I have the permission to make a video about this project. Here are some of the videos I made for open-source UWP a

[2020-01-02 01:32] yaichenbaum commented on #365
The final call is up to @duke7553 but if you do end up making one, please make sure to stress that it is a very early beta and that many changes are planned. It would also be nice if you could mention that we are always looking for more developers to contribute.

[2020-01-02 01:37] vasanthdeveloper commented on #365
Sure, I will keep track of this issue until the video is published. As I have a few more videos to be released before I get to this time. There is more than 2 weeks of time of @duke7553 to respond to us, before I start production for this video.

If there is anything else you would like to suggest to be included in the video, please drop a comment on this issue thread.

[2020-01-02 01:39] yaichenbaum commented on #365
Sounds good, although this is slightly off topic if you want I can share a list of some other great UWP apps as well.

[2020-01-02 01:42] vasanthdeveloper commented on #365
Oh, that could be awesome! You can join my Discord server and directly talk to me (visit https://vasanth.tech/discord to get a personal invite), or Tweet me at @vasanthdeveloper  🙂

[2020-01-02 02:01] szaimen commented on #294
maybe [this](https://superuser.com/questions/395015/how-to-open-the-recycle-bin-from-the-windows-command-line/395140) helps?

[2020-01-02 02:10] szaimen commented on #259
Would be really nice, if you would also add an option to the right-click menu to calculate the size of current selected folders directly inside the list view (per folder) , so that you are afterwards able to sort all files and folders based on their size.

If you change something inside this folder, or navigating away from the current path, I imagine that it gets resetted.

[2020-01-02 02:10] yaichenbaum commented on #294
I should of updated this issue, Duke found that same solution earlier today as well and is seeing if he can implement it.

[2020-01-02 15:57] duke7553 commented on #365
Of course! No need to ask permission 😀

[2020-01-02 15:59] vasanthdeveloper commented on #365
@duke7553 Please keep this issue open as I will post the video link once I publish it. Further discussion for this video can happen here :)

[2020-01-02 18:23] The-Noah opened #366 "Re-imagining the Home Page Experience"
### Creating a Fresh Home Page Experience
We're looking to make improvements to the Home page in the near future (with help from the community), are now ready to share the set of goals which will guide this effort. We anticipate lots of support from the community!

**Current Home Page Design**
![image](https://user-images.githubusercontent.com/35819660/71684253-99458c80-2d5a-11ea-83c4-7117dca96b76

[2020-01-02 18:24] yaichenbaum commented on #366
![image](https://user-images.githubusercontent.com/39923744/71684328-2bea2980-2d63-11ea-8469-fd48e593a7ce.png)

[2020-01-02 18:26] yaichenbaum commented on #366
You beat us to it! We were planning on opening an issue just for this, one idea for the home page was to change it in to a timeline where you can go back and see recently opened files. I am open to hearing more ideas, I pinned this discussion so that it can get more visibility.

[2020-01-02 20:34] duke7553 commented on #366
I'll edit this issue then with additional info based on @The-Noah 's suggestion.

[2020-01-02 20:44] SOI7 commented on #366
Personally I'd just want an overview of the drives with their current space usage, like in the Win32 File Explorer

[2020-01-02 21:28] yaichenbaum commented on #366
@SOI7 I had thought you wanted a dedicated drives page but not necessarily for the home page, am I correct or would you like the home page to be the drives one?
Another option is to let users choose between whatever page we set as the default and something else like a directory they always want to open the app to.

[2020-01-02 21:31] SOI7 commented on #366
Welp, it wasn't me actually, but the discussion was in this post: #210
In Win32, you have in the main page (AKA Home or This PC) two sections: Favorites (on top) and a bottom area where you can choose if to show the recent items (as Files currently do) or an overview of the drives. If we want to follow the Win32 Explorer, we could add an option in the Preferences section in Settings to choose betw

[2020-01-02 22:02] The-Noah commented on #366
If you don't have drives on the home page at least have the option to show them, as one common thing I do is access other drives so it would be nice to have it right there when I start it up.

[2020-01-04 04:15] generalguy41 commented on #366
This please.

[2020-01-04 16:26] wilmhit opened #367 "[Opinion][Feature request] Keyboard navigation"
Hi,
I've used this app a little bit and I must say I am impressed. App is very snappy, UI has is not cluttered and it is almost ready to replace windows explorer daily. Few features it lacks:

1. **Most important: keyboard navigation**. (alt+d, tab to autocomplete while in address bar, arrow down after opened a folder to select files). So far you've done very good job regarding shortcuts. I love h

[2020-01-04 23:15] SofiaFigueroa opened #368 "Incorrect "Rename" Behavior"
**Describe the bug**
When renaming a file and pressing "enter", Files UWP does not confirm the renaming, but instead opens the file. When going back to Files UWP, the box to rename the file is still there and still editable. Two things can happen;

1. If I don't touch this box and instead click away to close the box, the "An item with this name already exists in this folder" appears and an error l

[2020-01-05 12:15] Shomnipotence opened #369 "Could this app add support for Chinese? I will be able to help translate it"
Could this app add support for Chinese? I will be able to help translate it

[2020-01-05 14:25] SOI7 commented on #369
Translations have yet to be implemented, you can follow the discussion in this issue: #37

[2020-01-06 13:47] flimosch opened #370 "Change file path behavior"
Copying the path always gives a '\' as the path separator. Most programming languages require a double backslash or a slash for file paths. Vice versa copying the path to a file from the IDE to files-uwp doesn't work because it only supports single backslashes.

Could you add the possibility to use slashes in the file path in files-uwp and the possibility to copy the file path from files-uwp with

[2020-01-06 14:38] tomyan112 opened #371 "For pictures format, Add Right click set as desktop background"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-06 14:40] yaichenbaum commented on #371
Hey, thank you for opening this issue. This feature is on our roadmap and we are tracking it over at #78. Feel free comment there if you have any questions or comments on this feature.

[2020-01-06 14:41] tomyan112 opened #372 "Batch rename files"
For example
insert
delete
remove
replace
rearrange

[2020-01-06 15:18] yaichenbaum commented on #372
@RobbyRobbyRobby Would you be interested in doing an integration with Bulk File Rename and Files UWP? How it would probably make sense to do it is to detect if the Bulk File Rename is installed and then we can add some buttons to the right click context menus in Files UWP.
Then we would launch and pass a list of files over to Bulk File Rename and the user could then do whatever they want.

[2020-01-06 21:06] yaichenbaum commented on #369
I would recommend doing what @SOI7 suggested, we are tracking translations in #37. It is something we really want to do and we are almost ready for it.

[2020-01-06 21:06] #369 closed

[2020-01-06 23:35] RobbyRobbyRobby commented on #372
Hi @yaichenbaum,

Can UWP apps detect other apps?

Alternately we could achieve something like this through regular 'share' interaction.  the UWPFiles app has builds a share out function and I build share in functionality to Bulk File Rename.

[2020-01-06 23:51] yaichenbaum commented on #372
@RobbyRobbyRobby Absolutely, we are already doing something like this for #348.

[2020-01-07 01:00] generalguy41 commented on #372
An alternative would be to look into Microsofts own [PowerToys](https://github.com/microsoft/PowerToys) which has a built-in bulk renamer. If that could be integrated the way QuickLook was, that could alleviate this request.

[2020-01-07 02:59] yaichenbaum commented on #372
In fact we can look about doing both 😃

[2020-01-07 20:33] #371 closed

[2020-01-07 21:45] R3voA3 commented on #366
I'd like to see a layout similar to the following:

First row: Favorites, but not the ones we already have in the side panel, but ones I pinned there before
Second Row: Drive letters which show available space, also network drives
Third Row: Recent Files, but not as listView / listBox as it currently is, because those waste a lot of space.

[2020-01-07 21:50] R3voA3 opened #373 "Add item vs New, should be consistent"
**Describe the bug**
In the toolbar, the button to add a new item is called "Add item", however, in the right click context menu, it's simply called "New".

**To Reproduce**
Steps to reproduce the behavior:
1. Check the toolbar
2. Right click in a folder

**Expected behavior**
Both options should be called "New", same as in the old explorer.

**Desktop (please complete the following information):*

[2020-01-07 21:55] R3voA3 commented on #9
Remarks: Attempt to map these buttons to a key failed to fire the event with my mouse.

Any update on that?

Also, can this issue be renamed to keyboard / mouse shortcuts? I actually wanted to create an issue about mouse navigation because I didn't find one at first.

[2020-01-08 20:30] duke7553 commented on #372
We're currently looking at a way to standardize use of plugins and creating integrations for Files.

[2020-01-09 07:04] tomyan112 opened #374 "folder with unicode character is not shown"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
I have a folder with a unicode character ₂ is not shown in the file explorer

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
Classic
![image](https://user-images.githubusercontent.com/9064351/72045423-ff995480-32f0-11ea-97b7-3bf33b360a03.png)
File UWP
!

[2020-01-09 08:11] tomyan112 commented on #357
It may be due to the 260 character length limit.
https://mspoweruser.com/ntfs-260-character-windows-10/

[2020-01-09 15:01] yaichenbaum commented on #9
@duke7553 Can we can @R3voA3's request in the next update?

[2020-01-09 16:26] SimoneRaspagni opened #375 "Custom location for OneDrive"
**Is your feature request related to a problem? Please describe.**
Yes.. Actually my OneDrive path is D:\OneDrive
and when launch OneDrive from FilesUWP i receive this error message:

_Did you delete  this folder?
The folder you've navigated to was removed_

(Because app search OneDrive on C:\users\...)

**Solution**
So, in settings>preferences it would be useful add option to replace common OneDr

[2020-01-09 16:28] yaichenbaum commented on #375
Version 7 adds this option. We hope to roll out v7 very soon.

[2020-01-09 16:30] SimoneRaspagni commented on #375
wow, perfect! :)

[2020-01-09 23:18] duke7553 commented on #9
I would like to, but I'm unsure which key code represents the mouse side buttons.

[2020-01-09 23:20] duke7553 commented on #229
Quick Look integration is planned for v0.7

[2020-01-10 03:14] duke7553 commented on #366
Here's a mock-up of what I was trying to come up with:
![image](https://user-images.githubusercontent.com/20365014/72122826-591f7480-332d-11ea-87b0-adba06f5e387.png)
Any suggestions?

[2020-01-10 03:28] yaichenbaum commented on #366
What if we had suggested actions like you showed on top and the the option of a drives list or timeline on underneath?

[2020-01-10 10:23] R3voA3 commented on #366
Please, do not use a list view for recent items. It uses so much space, just for five entries.

[2020-01-10 16:33] yaichenbaum commented on #357
Interesting, we will need to look in to this and if there is a way around it.

[2020-01-10 16:35] yaichenbaum commented on #374
@tomyan112 Thank you for this report! I am adding it to our list of things to fix.

[2020-01-11 06:31] amirrammari commented on #200
Now I can open Command Prompt on the current folder.
Please add [Windows Terminal](https://github.com/microsoft/terminal) support.

![Files UWP](https://user-images.githubusercontent.com/23485114/72199991-eca19400-3458-11ea-970f-9ceca3f89174.png)

[2020-01-11 17:21] duke7553 commented on #200
@amirrammari I'm pretty sure we're still waiting on Windows Terminal to support arguments for the wt.exe command. Also, new changes coming soon will allow users to register custom terminals!

[2020-01-12 08:36] tomyan112 opened #377 "Right click - open file location"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-12 08:39] tomyan112 opened #378 "Specified cast is not valid. within method (Method name unknown)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Right click recent items then left click

**Expected behavior**
 at Files.YourHome.<RecentsView_ItemClick>d__35.MoveNext() + 0x574
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() + 0x21
   at System.Runtime.Comp

[2020-01-12 15:22] yaichenbaum commented on #377
@tomyan112 where exactly would you like the option to right click and open the file location?

[2020-01-12 15:24] yaichenbaum commented on #378
@tomyan112 I see that you are on an older version of Files UWP, can you try updating to the latest version which I believe is 0.6.6 and check if you are still seeing this error?

[2020-01-12 20:05] yaichenbaum commented on #335
Quick Look integration was added and will roll out with the next update, to follow our plans for more integrations please see #343.

[2020-01-12 20:05] #335 closed

[2020-01-12 20:07] yaichenbaum commented on #373
Thank you for creating this issue, would you rather we go with "Add Item" or "New"?

[2020-01-12 20:19] yaichenbaum commented on #367
Thank you for creating this issue, everything is well said and we plan on addressing all your feedback. In order to keep the tracking of issues simple can I ask you to comment on some of the existing issues already created?
1. We are tracking keyboard navigation related issues in #9
2. There are plans to support more file storage services in the future, please see #242.
3. I am not sure if we can

[2020-01-12 20:21] yaichenbaum commented on #318
@duke7553 Is this something you recently addressed?

[2020-01-12 20:23] yaichenbaum commented on #213
@duke7553 What is the status of this issue?

[2020-01-12 23:13] duke7553 commented on #213
This is something that will be addressed in the future.

[2020-01-12 23:30] R3voA3 commented on #373
I think it makes sense to go with "New". That's how it's called in the default explorer and it's shorter.

[2020-01-12 23:31] R3voA3 commented on #377
I guess it makes sense to add it to the context menu of each item.

[2020-01-12 23:34] yaichenbaum commented on #377
The thing is why would you want that on every item if you are already in the file location? Where I do see a use is once search is implemented but we haven't done that yet so I am curious what @tomyan112 is asking for.

[2020-01-12 23:35] R3voA3 commented on #377
That's a good point. Why not put it into the "Home" toolbar then?

[2020-01-12 23:46] R3voA3 opened #379 "Pivot menu suggestions"
**Is your feature request related to a problem? Please describe.**
Currently the file menu of the pivot view serves no real purpose. Putting the app settings in that category makes no sense, because they have nothing to do with files directly.

Additionally, the "Open new window", would better fit into the layout page.

Furthermore, the options "Select all" and "Clear all" can be found in the layo

[2020-01-13 00:03] yaichenbaum commented on #379
I am going to share what is changing in this area with the next update so you can adjust your feedback
![image](https://user-images.githubusercontent.com/39923744/72227753-1b5d5e80-356e-11ea-94fa-43f1468a85aa.png)
![image](https://user-images.githubusercontent.com/39923744/72227763-3a5bf080-356e-11ea-9193-eef8769b7915.png)

[2020-01-13 00:06] R3voA3 commented on #379
Alright, I like the new visual appearance of the menu.

My feedback about the layout menu (view in the next version) stays the same.

About the File menu. What about renaming it to Files UWP. That way it's clear to the user that this menu has options which interact with the app itself, like closing it, opening a new instance, or adjusting its settings.

[2020-01-13 03:19] generalguy41 commented on #377
Isn't this typically only used on shortcuts? So it could be added to the context menu for shortcuts only.

[2020-01-13 13:17] tomyan112 commented on #377
It came to my mind because it is not available in files in Recent Items. It would be handy for future shortcut files.

[2020-01-13 13:19] tomyan112 commented on #378
It is, you need to spam left click and right click and it would pop up
![image](https://user-images.githubusercontent.com/9064351/72258979-5d5bd280-364a-11ea-97b9-c4e2dbe9d47c.png)

[2020-01-13 13:21] tomyan112 commented on #379
This version is cleaner than the current one.

[2020-01-13 14:06] yaichenbaum commented on #378
I tested with the version from master that still wasn't released v0.7 and wasn't able to reproduce, I am going to keep this issue open in case you find it is still an issue in v0.7.

[2020-01-13 14:09] yaichenbaum commented on #377
@generalguy41 We haven't added support for shortcuts yet but when we do then we can add it to their right click context menu.
@tomyan112 We already added this option for recent files and it should roll out when v0.7 is released.

[2020-01-13 16:35] R3voA3 commented on #306
This needs to be fixed. It destroys the workflow when using Files UWP. Alternatively, what about adding a setting to toggle this off/on?

[2020-01-13 16:55] yaichenbaum commented on #306
I agree, I am pretty sure this comes down to a WinUI issue and in fact they are working on a new DataGrid control but we should definitely try to find a workaround.
Once we finish modularizing settings then it should be fairly easy to add an option to turn this off as well until we do find a workaround.

[2020-01-13 21:05] SOI7 commented on #379
May I suggest, since now the "File" section is just a button for a drop-down menu and not a ribbon area anymore, to make it a colored square like in the Win32 File Explorer, instead of giving it the colored underline?

[2020-01-13 23:09] duke7553 commented on #306
@R3voA3 This is a bug with the Toolkit DataGrid control we're using. I cannot find a way to fix it. Sorry, I'm looking into other solutions

[2020-01-17 05:30] yaichenbaum commented on #333
We are moving the tracking back to this issue, we are sorry if this confused anyone.

[2020-01-17 05:33] yaichenbaum opened #380 "Add the option to hide columns in the details layout mode"
We should add the option to edit which columns show.

[2020-01-17 05:33] yaichenbaum commented on #8
We are going to continue tracking these items in separate issues
- You can see layout mode here https://github.com/duke7553/files-uwp/issues/214
- Search is being tracked here https://github.com/duke7553/files-uwp/issues/333
- Column options is being tracked here https://github.com/duke7553/files-uwp/issues/380

[2020-01-17 05:33] #8 closed

[2020-01-17 05:37] yaichenbaum commented on #272
@J-Cake I was just going over this issue again and noticed you want a way to add FTP locations, while we don't have any special support for that right now you should be able to pin any location to the side bar.
I hope this information helps.

[2020-01-17 05:39] yaichenbaum commented on #260
Improvements to touch and pulling tabs should come in a future update of WinUI.

[2020-01-17 05:44] yaichenbaum commented on #307
This is fixed and should roll out with v0.7.1.

[2020-01-17 05:44] #307 closed

[2020-01-17 05:49] yaichenbaum commented on #177
@zbalkan does AlphaFS work with UWP applications?

[2020-01-17 13:30] zbalkan commented on #177
@yaichenbaum It's a drop in replacement for `System.IO`, so it won't be a problem, I assume. I have never used it with a UWP project.

[2020-01-17 14:00] yaichenbaum commented on #177
It looks promising, @duke7553 can you investigate if this will work in a UWP app? If it does then we can solve many open issues by switching to this.

[2020-01-17 14:18] zbalkan commented on #177
At this point, I believe "developing things that work" is better than "developing thing that does more". My feature suggestion may not be a must, but using AlphaFS might be helpful. I hope it would accelerate your efforts.

[2020-01-21 06:26] ygorcortes commented on #193
This is fantastic! Quick question: is the title bar using acrylic too? It would be great if it is! (I can't be sure from the screenshot)

[2020-01-21 10:21] KaKi87 commented on #350
@duke7553 @yaichenbaum Any ETA on v0.7 ? Since some issues have been closed, I'm assuming that I should be able to download it somewhere. Thanks

[2020-01-21 14:02] yaichenbaum commented on #193
@ygorcortes The title bar is using acrylic, the only difference is that unlike the side bar the title bar has acrylic on by default and cannot be turned off.

[2020-01-21 14:23] yaichenbaum commented on #350
@KaKi87 Sorry about that, we are waiting for a bug in Visual Studio that is preventing us from creating packages to be fixed. Someone on the Visual Studio team confirmed that the issue is fixed on their end but gave no estimated time when it will be sent out.
In the meantime we are working on performance improvements and I am really excited to share that there are some pretty major improvements co

[2020-01-22 18:56] yaichenbaum opened #381 "Add a startup option to continue where you left off"
We should add a startup setting to continue where you left off which will reopen any tabs you had open the last time the app was closed.

[2020-01-24 18:04] lorisobi commented on #37
I can help translating to german

[2020-01-26 22:48] yaichenbaum opened #382 "Things to finish for v0.7.1"
- [x] Right clicking on a file or folder crashes the app.
- [ ] Fix issue that clicking on a directory in the sidebar that you are already in will change the directory to Videos.
- [x] If the user didn't give access to file permissions then we should have a popup that asks them to allow that setting.

[2020-01-26 22:50] yaichenbaum commented on #373
There are changes in `v07.1-changes` that address this issue.

[2020-01-26 22:54] yaichenbaum commented on #375
@SimoneRaspagni Sorry about the wait, we ran in to some issues that delayed the update and it might be another few weeks until it is sent out, make sure to keep an eye the release [page](https://github.com/duke7553/files-uwp/releases) to find out when the update is released.

[2020-01-26 22:58] yaichenbaum commented on #370
You should already be seeing `\` as the path separator, however it wouldn't be a bad idea to add support for converting different types of path separators such as a double backslash to a single one when pasting it in Files UWP.

[2020-01-26 23:02] yaichenbaum commented on #367
@duke7553 has spent some time working on the speed of loading large directories and has managed to decrease the loading time by over 75%!
I am going to close this issue and if there is anything that I missed feel free to reopen this issue or to create a new one.

[2020-01-26 23:02] #367 closed

[2020-01-26 23:03] yaichenbaum commented on #352
@jeffsieu tagging you since you worked on this feature.

[2020-01-26 23:10] yaichenbaum commented on #316
Search is something we started on a while ago but paused so we can focus on other areas. There are some built in API's that we will most likely use however if the result is not satisfactory we will look in to other methods like the one you mentioned above.

[2020-01-26 23:12] yaichenbaum commented on #308
@jwdotpark I have added this issue to the v0.8 milestone, this means that once v0.7.1 is released we will take some time to investigate these requests.

[2020-01-27 22:01] SimoneRaspagni commented on #375
Ok, thanks. No problem ;)

[2020-01-28 16:31] Darhagonable opened #383 "opening folder from recent items results in error popup"
**Describe the bug**
When trying to open a folder from recent items an error pops up.

**To Reproduce**
Steps to reproduce the behavior:
1. Open folder from recent items
2. See error

**Expected behavior**
The folder to open

**Screenshots**
https://cdn.discordapp.com/attachments/335088049170022401/671753977578389544/unknown.png

**Desktop (please complete the following information):**
 - OS Versi

[2020-01-28 17:39] yaichenbaum commented on #383
Folders are going to be removed from the recent items list in the next update so you should not have this issue once that ships, we are also working on redesigning the home page experience #366.

[2020-01-28 19:59] Darhagonable opened #384 "Wrong Downloads folder location"
**Describe the bug**
Files UWP automatically managed to figure out the location for the Documents, Pictures , Music and Videos folders but for some reason it failed to do so with the Downloads one. All these folders including the Downloads one are straight on my E: drive.
I am aware one can manually change where these folders are located in the settings but since the automatic detection works for

[2020-01-28 20:37] duke7553 commented on #384
Hello there. Thank you for submitting this feedback. Starting in v0.7, we will auto-detect all common locations from the registry which should improve their accuracy.

Marking this as implemented.

[2020-01-28 20:40] duke7553 commented on #366
@R3voA3 We'll certainly take your thoughts about the ListView into account when making future improvements to the Home page.

[2020-01-28 22:30] Darhagonable commented on #366
TBH I pretty much mostly want some something similar to This PC in explorer. Easy access to my library folders (documents, pictures etc). The Drives or Storage medias section is also great since it shows one the amount of storage left and easy access to the drives themselves. It also gives fast access to the disk cleanup.
Another idea though would be to have something similar to chrome as well whe

[2020-01-28 22:38] SOI7 opened #385 "[Not urgent] Include instructions for building from source here on GitHub"
Not a high priority thing, but many projects on GitHub include in their readme instructions to build the app from source, or at least they specify the dependencies required by the solution. I tried building from source indeed, but I gave up because I couldn't figure out what's missing and what not

[2020-01-28 23:11] Darhagonable opened #386 "option to disable/hide OneDrive from Files UWP"
Title says it all. I don't use OneDrive and therefore would want the option to disable it or at least hide it

[2020-01-29 01:19] yaichenbaum commented on #9
@R3voA3 I believe I got it setup for navigating with the mouse buttons but I don't have a mouse to test with, are you interested in building from the source code and testing?
If you are able to test this out, you should use the `v07.1-changes` branch since that is where the changes have been made.

[2020-01-29 01:38] yaichenbaum commented on #386
@Darhagonable thank you for creating this issue, this is definitely an option we can add in the future.

[2020-01-29 14:40] R3voA3 commented on #9
@yaichenbaum I am getting this error
![image](https://user-images.githubusercontent.com/17484252/73366087-a4ce9980-42ad-11ea-8a13-373e4f501fcf.png) shortly after I started the debugging.
Since I have no clue how to fix that I can not test the new changes

[2020-01-29 14:43] yaichenbaum commented on #9
@R3voA3 I would try enabling file permissions in the privacy setting in Windows.

[2020-01-29 15:04] R3voA3 commented on #9
Thanks for the tip, but that didn't help.

[2020-01-29 15:05] yaichenbaum commented on #9
@R3voA3 Make sure to use the `v07.1-changes` branch, it looks like you are using master.

[2020-01-29 15:26] Darhagonable opened #387 "Better controls"
The biggest issue I find with the usability of Files UWP is the missing controls that I'm used to.

these are the controls I'd like to see added:
- Back and forward buttons on the mouse to be integrated.
- Middle click (clicking scroll wheel) to open in new tab.
- CTRL+MiddleClick or Shift+MiddleClick to open in new window.

[2020-01-29 15:27] yaichenbaum commented on #387
Can you try building off the `v07.1-changes` branch and see if the back and forward mouse button is working?

[2020-01-29 16:24] Darhagonable commented on #387
I'm running it from MS Store and not by building it in visual studio. I attempted it but got some error so I guess i can't really do that.

[2020-01-29 16:33] yaichenbaum commented on #387
There are plans to write instructions on running from Visual Studio in the future. What error did you get when you tried?

[2020-01-29 16:35] Darhagonable commented on #387
When building:
https://media.discordapp.net/attachments/335088049170022401/672108379199766531/unknown.png?width=959&height=155

When trying to run anyways
https://cdn.discordapp.com/attachments/335088049170022401/672107230400741376/unknown.png

[2020-01-29 16:37] yaichenbaum commented on #387
From the build menu try to clean and then rebuild.

[2020-01-29 16:42] R3voA3 commented on #9
I cloned the 07.1 branch into visual studio.

[2020-01-29 16:43] yaichenbaum commented on #9
![image](https://user-images.githubusercontent.com/39923744/73377082-7be9dc80-428c-11ea-807c-79588c6b33ec.png)
You can switch to it on the bottom right of the status bar in Visual Studio.

[2020-01-29 16:51] Darhagonable commented on #387
Doing so made it build without any errors but trying to run it gave me the same error.
https://cdn.discordapp.com/attachments/335088049170022401/672121283865083914/unknown.png

[2020-01-29 17:09] yaichenbaum commented on #387
What branch are you on?

[2020-01-29 17:13] Darhagonable commented on #387
v07.1-changes as you told me. maybe I should have opened it some other way. I just "clone or download", download zip. extracted the zip and opened Files.sln in visual studio

[2020-01-29 17:14] yaichenbaum commented on #387
You did it correctly, can you try giving file permissions in the settings app for Windows?

[2020-01-29 17:15] yaichenbaum commented on #387
Oh, I just realized whats happening. Make sure to select the correct project to build from.
![image](https://user-images.githubusercontent.com/39923744/73379900-19470f80-4291-11ea-8f2a-38f1e4c8e174.png)

[2020-01-29 17:17] yaichenbaum commented on #9
@R3voA3 I realized the issue is that you need to select Files.Package as the startup project.
![image](https://user-images.githubusercontent.com/39923744/73379900-19470f80-4291-11ea-8f2a-38f1e4c8e174.png)

[2020-01-29 17:25] Darhagonable commented on #387
Oh my bad, that was it lol.
And regarding the back and forward button the mouse. Files UWP treats them as normal left click instead of going back the previous page.

[2020-01-29 17:53] R3voA3 commented on #9
Alright, now it's working.

Unfortunately, the mouse navigation doesn't seem to work. Pressing the side buttons when hovering over a folder, only opens them.

[2020-01-29 17:55] yaichenbaum commented on #9
Ok, thanks for letting me know. I will need to spend some more time on this.

[2020-01-29 18:03] R3voA3 commented on #387
Maybe merge this issue with #9 ?

[2020-01-29 18:33] yaichenbaum commented on #9
Moving this from #387

The biggest issue I find with the usability of Files UWP is the missing controls that I'm used to.
these are the controls I'd like to see added:
- Back and forward buttons on the mouse to be integrated.
- Middle click (clicking scroll wheel) to open in new tab.
- CTRL+MiddleClick or Shift+MiddleClick to open in new window.

[2020-01-29 18:34] yaichenbaum commented on #387
I moved it over to #9, @Darhagonable make sure to subscribe to that issue so you will get updated when the changes are made.

[2020-01-29 18:34] #387 closed

[2020-01-29 20:10] duke7553 commented on #366
Questions:
How useful is the list of Recent Files at the bottom for productivity? Why?

If necessary, please elaborate on what could be done to improve the list for your use case.

[2020-01-29 20:12] duke7553 commented on #366
Also, are there any times you absolutely don't need to see the list, or things you wish you could see in the list?

[2020-01-29 22:21] SOI7 opened #388 "Crash when changing custom folder locations in 0.7"
After building from source the branch 0.7.0, I ran the app in Debug mode. It launched fine, so I immediately went to the Settings>Preferences tab, and enabled custom folder locations. After clicking on the toggle, the app crashed. This is what Visual Studio showed me:

![Annotazione 2020-01-29 231821](https://user-images.githubusercontent.com/50930970/73402492-b3d53c00-42ed-11ea-85c8-7673cdce6230.

[2020-01-29 22:22] yaichenbaum commented on #388
Please use the 0.7.1 branch.

[2020-01-29 22:27] SOI7 commented on #388
@yaichenbaum Yeah, the issue doesn't seem to appear on 0.7.1, my bad. However, I expected 0.7 to be the most stable branch, since it's the current release candidate. How is that? (legit confusion lol)

You can close this issue I guess

[2020-01-29 22:31] yaichenbaum commented on #388
Because we were waiting on a bug in Visual Studio to be fixed we never shipped 0.7. We are actively working on 0.7.1. I am happy to hear you got it working 🙂

[2020-01-29 22:31] #388 closed

[2020-01-29 22:32] SOI7 commented on #388
Ah, so I guess you're skipping 0.7 and releasing directly 0.7.1. Now that makes sense.
Yeah, it took me the whole day to understand how to build from source haha

[2020-01-30 03:30] yaichenbaum commented on #366
@Darhagonable do you specifically want a "This PC" page to be the startup page? Because in the future we plan to add a "This PC" page, as well as an option to set the startup page.
The goal of this issue is to get an ideal setup that works for most users that we can set as the default.

[2020-01-30 03:31] #383 closed

[2020-01-30 03:37] yaichenbaum opened #389 "Is anyone interested in contributing?"
Both @duke7553 and myself have been spending a lot of time working Files UWP and the feedback everyone is sending is great! Lately it has been getting harder for both of us to keep up with all the feedback and adding new features.
We both look forward and plan on continuing work on Files UWP but we are calling on the community to help us out, we are accepting pull requests and are available to hel

[2020-01-30 08:45] R3voA3 commented on #389
I would like too, but I am not sure I am of much help since the project is has already become quite complex.

[2020-01-30 08:47] R3voA3 opened #390 "Remove separator from Settings.xml"
![image](https://user-images.githubusercontent.com/17484252/73433840-d85d0280-4345-11ea-8403-c740d01606f4.png)

             ``

``

Looks much better when those lines are removed.

[2020-01-30 12:43] lampenlampen commented on #366
I would go with a modular "homepage". We provide some custom controls like "Drives", "Library" "Recent Files", ... and the user can select in the settings which control he wants to be displayed.

It is then easy to add new controls and customize the page for you own liking.

[2020-01-30 15:22] Darhagonable commented on #366
@yaichenbaum i guess but i also do want such shortcuts as in my mockup. I don't see what else one would want instead.

[2020-01-30 17:33] duke7553 commented on #389
@R3voA3 Are there any issues in particular you wanted to tackle? Just tag me on one, and I can try to guide you

[2020-01-30 17:51] yaichenbaum commented on #390
This is because there is acrylic in the sidebar, this is not meant to show in the settings page and will be turned off in the future. Once the settings page is done it will be very similar to how its done in Microsoft Edge.

[2020-01-30 19:56] yaichenbaum commented on #366
@Darhagonable Can you clarify the shortcuts you are talking about?

[2020-01-30 20:34] Darhagonable commented on #366
@yaichenbaum Shortcuts / Bookmarks / Quick Access or whatever one want's to call it. This could be mixed with recently/commonly used items/folders. Similar to the "new tab" page in google chrome.

[2020-01-30 20:36] yaichenbaum commented on #366
What I had in mind was a page similar to the Windows 10 Photos app that lets you scroll to any date and find files your created then, there can definitely be widgets and the like so keep sending ideas and concepts that improve on each others ideas.

[2020-01-30 20:58] Darhagonable commented on #366
I guess that's an interesting idea... I am not finding that super useful though but maybe that is because I haven't really tried integrating it into my workflow. I think having it as an option would be cool though.

[2020-01-30 21:24] duke7553 commented on #366
@lampenlampen I like that idea. How useful would the Libraries one be if you have the sidebar, though?

[2020-01-30 21:29] lampenlampen commented on #366
Dunno, these are only examples, i collected from this thread.

[2020-01-30 21:34] lampenlampen commented on #366
I think all the ideas in this thread could be realized with a "Drives", a "Favorites", a "Recently used Items" and a "Timeline" control.

[2020-01-31 02:22] generalguy41 commented on #389
Where would you recommend starting? Are there tutorials you'd suggest? Or is this kind of a "we hope you have experience with this, and we'll explain our codebase"? I've wanted to dabble in some Windows development, so maybe this would be a good starting point.

[2020-01-31 02:29] generalguy41 commented on #366
It is then easy to add new controls and customize the page for you own liking.

I like this idea. Maybe a new user gets a type of "onboarding" page when they start the app for the first time giving them an option to "Customize Your Home Page", and gives them a list of options they can choose (and change later), which include options to show on the page (Drives, Quick Access, Recent Files, etc) and

[2020-01-31 04:00] yaichenbaum commented on #389
@generalguy41

I would recommend starting with some of the smaller issues and features, if you would like to try that then let me know and I can point you to some issues and features.

Right now the code base is a little messy but we have been working on cleaning it up, the goal is follow the MVVM pattern and there is a great tutorial [here](https://code.tutsplus.com/tutorials/how-to-use-mvvm-in-a

[2020-01-31 14:49] SOI7 opened #392 "CMD ignores starting folder when ran through Files"
**Describe the bug**
CMD doesn't use the folder from which you launch it in Files as the starting path

**To Reproduce**
Right click on an empty spot inside a folder, then "Open in terminal"

**Expected behavior**
The starting path should be the folder from which you launched CMD, instead of System32

**Desktop (please complete the following information):**
 - OS: Windows 10 1909 x64
 - App versio

[2020-01-31 14:54] lampenlampen commented on #392
There is something wrong with your arguments.

Try this `profiles.json` file:
[code]

[2020-01-31 14:55] lampenlampen commented on #392
Did you alter the cmd profile?
Because it should look like mine.

[2020-01-31 14:57] lampenlampen commented on #392
I had a look into the `v07.1`-branch and the default cmd profile there also looks like mine.

[2020-01-31 14:59] SOI7 commented on #392
Apart from creating the two extra profiles for the old PowerShell and Windows Terminal, I didn't change anything else since I built 0.7.1. The stranger thing is, changing the CMD arguments with yours makes the app crash

[2020-01-31 15:03] lampenlampen commented on #392
You can test if the arguments are correct by launching `cmd.exe /k \"cd /d C:\Users\ && title Command Prompt\"` via Win+R

[2020-01-31 15:05] SOI7 commented on #392
Oh God, I'm an idiot. The argument has already an " at the end, so in my json file it should have ended with two. Now it works 😓

[2020-01-31 15:16] lampenlampen commented on #392
The problem with the spaces in paths is easily solved by putting the `{0}` in "".

[2020-01-31 15:22] SOI7 commented on #392
Got it, thanks! You can close this issue I guess

[2020-01-31 15:37] #392 closed

[2020-01-31 15:38] yaichenbaum commented on #392
@lampenlampen many thanks for resolving this!

[2020-01-31 17:38] generalguy41 commented on #389
@yaichenbaum Thanks for the references, I'll take a look! I actually have my git and whatnot set up, and have experience with other languages (working right now as a *very* junior software dev using primarily Java). I'll see what I can do!

[2020-02-02 17:25] R3voA3 commented on #9
@yaichenbaum There is an app on the MS Store called Math Solver (https://www.microsoft.com/store/productId/9WZDNCRFJ47X) which uses mouse navigation. Maybe you can get in contact with him?

[2020-02-02 17:27] yaichenbaum commented on #9
@R3voA3 I have the right code, I just need to get the events in the right place and the problem is I need a mouse to test with 😀
I will see if I can get my hands on one in the near future so I can get this working.

[2020-02-02 21:56] R3voA3 commented on #9
I can test it again, if you made some changes.

[2020-02-02 22:12] yaichenbaum commented on #9
@R3voA3 thanks for the offer, I will let you know when there is something new to test.

[2020-02-02 22:16] yaichenbaum commented on #9
@R3voA3 I made a small change, I don't know if it will work or not but feel free to try again.

[2020-02-03 08:56] R3voA3 commented on #9
@yaichenbaum Alright, navigating back works, although there is a noticeable delay between the pressing of the button and the actually navigation. Navigating forth doesn't seem to work yet.

[2020-02-03 09:11] R3voA3 opened #394 "The refresh icon to the left of the address bar flickers every time a folder is refreshed or opened."
The refresh icon to the left of the address bar flickers every time a folder is refreshed or opened.

[2020-02-03 14:13] yaichenbaum commented on #394
@R3voA3 Thanks for creating this issue, I was able to reproduce the first two issues but I am not sure what you mean by "Something is wrong with the icons". Would you mind explaining what you meant by that?

[2020-02-03 15:17] R3voA3 commented on #394
Check out the video and look at the icons. They change their appearance for a moment. Looks like some placeholder icons are first applied (Just a guess, haven't looked at the code)

[2020-02-03 15:18] yaichenbaum commented on #394
This is because we have improved the speed for loading files so much that they load faster then the thumbnails now.

[2020-02-03 20:52] duke7553 commented on #394
@R3voA3 Thanks for bringing this to our attention.

[2020-02-03 21:05] Salnikoff opened #395 "executable files"
Hello!
I like your application. But, some executable files can't running from "files uwp". Don't know why...

Little video, how it's happenning

 https://1drv.ms/v/s!Aic9SgC0Kq5Gx2uu1lr3b_DvnnQT?e=ou4Hpx

not very well speak English. Hope you understand me -:)

[2020-02-03 21:14] yaichenbaum commented on #395
Thanks for reporting this, we have a potential fix that has not yet rolled out to the store yet.

[2020-02-03 21:33] SOI7 commented on #394
You may also want to hide the first two folders named . and .. but you probably already know about that

[2020-02-04 02:00] yaichenbaum commented on #394
@SOI7 Yeah, we will do take care of that in the future. Unfortunately we haven't been able to ship any updates through the store since there is a bug in Visual Studio stopping us from creating release packages and we are waiting for them to fix it.

[2020-02-06 05:01] yaichenbaum opened #396 "Entering a path manually is not working"
Trying to type in a path in the path bar just resets the text to the current one.

[2020-02-06 05:07] yaichenbaum commented on #37
### We are going to be starting work on this much-requested option in the next few days 🚀
Adding the strings should take about a week or two and after that, we will be ready for everyone to translate to whatever languages they want.

I will let everyone know when the strings are ready and I will provide steps so you can get started. I would appreciate if everyone who is still interested can let me

[2020-02-06 06:09] KaKi87 commented on #37
I am still interested in translating from English to French and I am still waiting for the next release which is supposed to close so much issues and feature requests. xD

[2020-02-06 09:11] R3voA3 commented on #37
I can provide help with the German translation.

[2020-02-06 11:57] sladkOy commented on #37
I can help with translation on Ukranian and Russian

[2020-02-07 10:52] deredita25 opened #398 "USE KEYBOARD TO SEARCH A FOLDER"
**Describe the bug**
HOLA!! DEBERIA PODER USARSE EL TECLADO PARA ENCONTRAR CARPETAS POR LETRAS, POR EJEMPLO SI PRESIONO LA TECLA"S" TENDRÍA QUE MOSTRAR TODAS LAS CARPETAS QUE COMIENZAN CON "S"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happe

[2020-02-07 10:53] deredita25 commented on #398
HOLA!! DEBERIA PODER USARSE EL TECLADO PARA ENCONTRAR CARPETAS POR LETRAS, POR EJEMPLO SI PRESIONO LA TECLA"S" TENDRÍA QUE MOSTRAR TODAS LAS CARPETAS QUE COMIENZAN CON "S"

[2020-02-07 12:27] R3voA3 commented on #398
(Translated with DeepL)

[2020-02-07 13:55] yaichenbaum commented on #398
It should already jump to the folders starting with the letter you press. If you don't see that behavior you might want to try updating to the latest version.

[2020-02-07 17:01] deredita25 opened #399 "error trying to read disk SSD"
Hi...first of all Great job!!
I found an error trying to read an SSD (sent pic)....I have the last version (0.6.6.0) on the other hand the behavior to press any key don't show me any folder  🤔 I'll would be grateful if you explain to me how to do that... Good luck
I
![2020-02-07_13h43_53](https://user-images.githubusercontent.com/60778522/74049088-2f9c4c00-49b2-11ea-81f4-ed8e2c98a0c3.jpg)

[2020-02-07 17:05] yaichenbaum commented on #399
@deredita25 Thanks for the report, there is a potential fix in the `develop` branch for the drives not reading correctly.

Are you talking about the feature that hitting a key will jump to a folder or file that starts with the character?

[2020-02-07 17:11] deredita25 commented on #399
Yes I am !! that feature isn’t work…. Sent from Mail for Windows 10 From: Yair AichenbaumSent: viernes, 7 de febrero de 2020 14:05To: duke7553/files-uwpCc: deredita25; MentionSubject: Re: [duke7553/files-uwp] error trying to read disk SSD (#399) @deredita25 Thanks for the report, there is a potential fix in the develop branch for the drives not reading correctly.on the other hand the behavior to p

[2020-02-07 20:10] yaichenbaum commented on #37
Many strings are in the `develop` branch and ready to be localized! The ribbon control will get strings to translate later on. There are a few other areas that are missing strings and we will get to them in the near future.
I would recommend checking out these two guides to get started. If you have any questions make sure to let me know.
- https://github.com/duke7553/files-uwp/blob/develop/Transla

[2020-02-07 21:15] KaKi87 commented on #37
I won't clone the entire project on my PC and load Visual Studio Code just to perform translations, sorry.
Isn't it just possible to edit the related language file directly ?

[2020-02-07 21:17] yaichenbaum commented on #37
@KaKi87 Of course! Let me know the exact French region such as fr-FR and I will upload a file.

[2020-02-07 21:24] KaKi87 commented on #37
Yes, that's it

[2020-02-07 21:27] yaichenbaum commented on #37
[Files.fr-FR.xlf.zip](https://github.com/duke7553/files-uwp/files/4172988/Files.fr-FR.xlf.zip)

[2020-02-07 22:08] Jviix commented on #37
Can you upload files for es-ES? I can translate them :)

[2020-02-08 08:12] KaKi87 commented on #37
@yaichenbaum I meant on the repository

[2020-02-08 10:21] R3voA3 commented on #37
@yaichenbaum I have followed the instructions you've provided, but the .xlf file for the German localisation is not created. It simply fails silently. Any ideas?

[2020-02-08 18:08] MrErikDev opened #400 "[Not urgent] Support for natively unsupported file systems"
The default explorer dosen't support some file systems like HFS, HFS+, APFS,  EXT/2/3/4, MFS etc (although the only ones actively used are HFS+, APFS and EXT4).
It would probably be quite hard to implement, especially the apple ones as idk if the source is available, but there are programs out there like paragon's apfs windows ([https://www.paragon-software.com/home/apfs-windows/](url)), diskinter

[2020-02-09 00:41] yaichenbaum commented on #37
@KaKi87 @Jviix you can find the xlf files [here](https://github.com/duke7553/files-uwp/tree/develop/Files/MultilingualResources).
@R3voA3 I can add a file for German localization but I need to know the correct dialect that you want.

[2020-02-09 00:49] yaichenbaum commented on #386
@Darhagonable An option for hiding OneDrive has been added in the `develop` branch, I don't have a release date yet but I will make sure to let you know when I have one.

[2020-02-09 01:27] yaichenbaum commented on #400
@duke7553

[2020-02-09 07:19] yaichenbaum commented on #200
@lampenlampen Can you comment on this?

[2020-02-09 07:21] yaichenbaum commented on #191
WinUI is working on a new `DataGrid` control that we plan to implement when it is ready, this will likely include smooth scrolling.

[2020-02-09 07:25] yaichenbaum commented on #224
I am going to close this issue since it will be resolved once more options are added to the tab. We can't wait for you to continue sharing your feedback and ideas!

[2020-02-09 07:25] #224 closed

[2020-02-09 07:29] yaichenbaum commented on #100
I have spent some time looking into this and it is definitely possible, I already got a touch screen gesture to navigate back and forward. I to get touchpad gestures working as well in the future.

[2020-02-09 07:34] yaichenbaum commented on #390
This is how it looks without acrylic.

![image](https://user-images.githubusercontent.com/39923744/74098308-b0f3fb80-4ae4-11ea-9c4e-adb97b2316e9.png)

[2020-02-09 07:34] #390 closed

[2020-02-09 07:35] #389 closed

[2020-02-09 07:37] yaichenbaum commented on #379
@duke7553 This is something to consider when we work on improving the ribbon control.

[2020-02-09 07:38] yaichenbaum commented on #283
@szaimen I pinned this issue, the plan is to leave it there for a few weeks and try to get some more feedback.

[2020-02-09 07:39] yaichenbaum commented on #340
@mbeps I am closing this issue due to inactivity, feel free to reopen this issue if you have any more details.

[2020-02-09 07:39] #340 closed

[2020-02-09 07:43] yaichenbaum commented on #272
@J-Cake I have some good news, @duke7553 has managed to improve the speed of loading large directories by over 75%, I do not have any release date but if you build from the `develop` branch you will be able to take advantage of the new changes.

[2020-02-09 08:22] KaKi87 commented on #37
What is `Acrylic sidebar` ?

[2020-02-09 10:42] R3voA3 commented on #37
@yaichenbaum German (de-DE)

[2020-02-09 11:54] Jviix commented on #37
Pull request created. Happy to help :)

[2020-02-09 13:32] lampenlampen commented on #200
So https://github.com/microsoft/terminal/pull/4023 adds support for Windows Terminal.

With this profile you should be able to open Windows Terminal.

[code]

PS: As far as i can tell, does the latest version of Windows Terminal not include this feature. You will need to build and install Windows Terminal from the master branch.

We should wait until a release version of Windows Terminal is availa

[2020-02-09 13:40] MrErikDev opened #403 "[Not Urgent] Native support for zip files"
Hey
I think it would be nice to add built in support to open zip files (and similar), the same way it is built in to explorer. For now you _can_ just use something like 7zip but its nice to have it all in one imo.
:)

[2020-02-09 13:45] R3voA3 commented on #37
https://1drv.ms/u/s!AvgETyKiA6bQkecIXPvPKphOc2A3YA?e=SHnO3O

German localisation file

[2020-02-09 15:53] yaichenbaum commented on #37
@KaKi87 Unfortunately even if `text` and `Content` sometimes get the same translation you still need to have it translated. In this case, one is for an item in the navigation view and one is for a header on the page.

![image](https://user-images.githubusercontent.com/39923744/74105217-e242ea80-4b29-11ea-95a9-b3f8780a1670.png)

Acrylic Sidebar is the option to turn on acrylic on the left navigatio

[2020-02-09 16:02] KaKi87 commented on #37
What's the technical problem here ?

What does the `acrylic` term mean exactly ?

[2020-02-09 16:06] yaichenbaum commented on #37
The problem is that different controls have different properties for displaying text, sometimes is content, sometimes its text and sometimes it can be something like tooltip. The main issue is that each string is hooked up to different properties so we need a string for each property.

Acrylic is the blur effect in Windows 10

![image](https://user-images.githubusercontent.com/39923744/74105453-e4

[2020-02-09 16:42] duke7553 commented on #403
This remains a priority for us. No deadlines yet, but the work to support extracting ZIP files will be done eventually.

[2020-02-09 17:49] Darhagonable commented on #386
I just tried it out and it works but found a bug.
turning of pinned onedrive hides it but when turning it on again two of them appear instead of just one
![image](https://user-images.githubusercontent.com/14127357/74107097-e93f1c80-4b6c-11ea-9b3c-aa1153cfdfb9.png)

[2020-02-09 17:51] yaichenbaum commented on #386
@Darhagonable Thanks for reporting the issue, its something we know about and working on resolving.

[2020-02-09 18:44] Darhagonable commented on #193
Just a thought but when the sidebar is acrylic I kinda would prefer the sidebar to extend all the way to the top like this. It would be cool to have it as an option. I know it's a lot of work for a pretty unimportant thing though but thought i could mention it regardless
![FilesUWP concept layout](https://user-images.githubusercontent.com/14127357/74107785-edbb0380-4b73-11ea-8060-7decadd366b0.png)

[2020-02-09 18:47] yaichenbaum commented on #193
@Darhagonable I am not against it and if you want to give a shot at it then go ahead 😊. Otherwise, I will keep it in mind for the future.

[2020-02-09 23:53] duke7553 commented on #400
Thank you for your suggestion.
We currently have nothing to add on this specific request. I'm going to leave it open while I evaluate the  feasibility and technical work required.

[2020-02-09 23:56] duke7553 commented on #403
Moving this to #45

[2020-02-09 23:56] #403 closed

[2020-02-10 00:27] J-Cake commented on #272
@due7553 , thanks so much for responding, I'm yet to have a look, but I'll
let you know what the experience is like.

On Sun, 9 Feb. 2020, 18:43 Yair Aichenbaum, <notifications@github.com>
wrote:

[2020-02-10 05:56] lorisobi commented on #283
this Feature would be really nice. i can imagine very well to integrate this in my workflow.

[2020-02-12 09:17] R3voA3 commented on #37
@yaichenbaum Can you pin this issue? Also, did you see my translation file?

[2020-02-12 14:38] yaichenbaum commented on #37
@R3voA3 I did, thank you so much!

[2020-02-12 17:02] moutasem1989 opened #405 "Adding links to Desktop"
When going to Desktop in Files UWP display a link to User's Libraries, This PC, Network, Recycle Bin and user's folder.

![SharedScreenshot](https://user-images.githubusercontent.com/32243157/74358277-7c709000-4dc1-11ea-85e4-7d097cc8252d.jpg)

[2020-02-13 02:08] yaichenbaum commented on #405
@moutasem1989 Can you explain what this proposal or issue is about?

[2020-02-13 02:44] yaichenbaum commented on #211
@avknaidu Is this something you would be interested in working on?

[2020-02-13 02:51] #373 closed

[2020-02-13 02:51] #375 closed

[2020-02-13 02:51] #395 closed

[2020-02-13 02:53] yaichenbaum commented on #395
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:53] yaichenbaum commented on #375
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:54] yaichenbaum commented on #373
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:54] yaichenbaum commented on #307
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:54] yaichenbaum commented on #350
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:54] yaichenbaum commented on #378
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:55] yaichenbaum commented on #351
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:56] yaichenbaum commented on #347
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:56] yaichenbaum commented on #212
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:56] yaichenbaum commented on #192
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:56] yaichenbaum commented on #179
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:57] yaichenbaum commented on #193
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:58] yaichenbaum commented on #109
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:58] yaichenbaum commented on #146
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:59] yaichenbaum commented on #345
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:59] yaichenbaum commented on #339
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 02:59] yaichenbaum commented on #49
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 03:00] yaichenbaum commented on #305
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 03:00] yaichenbaum commented on #336
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 03:00] yaichenbaum commented on #138
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 03:00] yaichenbaum commented on #244
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 03:01] yaichenbaum commented on #159
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 03:01] yaichenbaum commented on #120
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 03:01] yaichenbaum commented on #20
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 03:02] yaichenbaum commented on #178
You can download v0.7.0 [here](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-13 03:02] #350 closed

[2020-02-13 08:50] vicanfon opened #408 "Add drag and drop support"
**Is your feature request related to a problem? Please describe.**
I want to drag a file on uwp to for example a browser that supports dropping a file for uploading it, for instance the google ebook drop a file for upload.

[2020-02-13 09:09] Salnikoff commented on #395
ok, thanks guys!

[2020-02-13 09:10] Salnikoff commented on #395
will be testing it...

[2020-02-13 12:30] SOI7 opened #409 "Opening a folder with an .ink file inside it will cause the app to crash"
The crash happens every time an .ink file is visible. The version I tested this on is the latest beta release, 0.7.0

[2020-02-13 12:58] Crocodile73 opened #410 "Crash on Startup"
Side loaded new 0.7 running Windows 1909 x64. Loads Files Beta screen, then shuts down. Clean install still the same.

[2020-02-13 14:14] yaichenbaum commented on #410
Do you have any additional drives attached to your device?

[2020-02-13 14:16] yaichenbaum commented on #408
@vicanfon Thank you for your feature request, drag and drop is already planned and we are tracking the issue at #88.

[2020-02-13 14:38] Crocodile73 commented on #410
i do yes

[2020-02-13 14:39] yaichenbaum commented on #410
@Crocodile73 To test if that is where the bug is can you try removing them and starting Files UWP again?

[2020-02-13 14:43] Crocodile73 commented on #410
yes that is the issue. Its starts fine without them.

[2020-02-13 14:44] yaichenbaum commented on #410
Thank you for testing, I am marking this as a critical bug. This is something we will look in to as soon as possible.

[2020-02-13 18:20] GuusLieben commented on #37
Submitted a PR (#411) which contains the Dutch translations

[2020-02-13 18:25] yaichenbaum commented on #200
@lampenlampen https://devblogs.microsoft.com/commandline/windows-terminal-preview-v0-9-release/

[2020-02-13 19:19] KaKi87 opened #413 "Files UWP 0.7 production packages"
**Is your feature request related to a problem? Please describe.**

The package provided for Files UWP v0.7 requires development dependencies to be installed, but I do not want to install these.

**Describe the solution you'd like**

Create a similar package in production mode instead of debug mode.

**Describe alternatives you've considered**

There is not.

**Additional context**

![2020-02-13 2

[2020-02-13 19:19] yaichenbaum commented on #413
Run the powershell script.

[2020-02-13 19:31] KaKi87 commented on #413
I understand, but you can compile the APPX in production mode instead of debug mode.

[2020-02-13 19:47] yaichenbaum commented on #413
@KaKi87 Unfortunately that's where the problem is. There is an issue with the .NET Native toolchain which is required to create a production package.

[2020-02-13 20:30] #408 closed

[2020-02-13 20:32] KaKi87 commented on #413
So you can't build a prod APPX even without publishing on Windows Store ?
How does the others developers ?

[2020-02-13 20:33] duke7553 commented on #410
@Crocodile73 Thank you for reporting this. Are these additional storage devices external or internal drives?

[2020-02-13 20:34] yaichenbaum commented on #413
We have a Win32 component with a full trust process, that is what's causing this issue. Other developers have run into the issue as well and the Visual Studio team is looking into it.

[2020-02-13 20:34] yaichenbaum commented on #410
@duke7553 I have seen this issue when connecting my phone to my laptop.

[2020-02-13 20:58] KaKi87 commented on #413
Why is that component working in debug mode but not in production mode ?

[2020-02-13 20:59] yaichenbaum commented on #413
It has something to do with the .NET Native toolchain, I don't know why it is but this has been blocking us from doing a normal release for a few months.

[2020-02-13 21:16] Crocodile73 commented on #410
they are external USB

[2020-02-13 21:44] Jviix commented on #410
i have this issue without any external drives

[2020-02-14 02:19] yaichenbaum opened #414 "Feedback on touch usage"
Touching files mimics Win32 explorer
so when you touch on the name of a file it renames when you might not want to
Another slight issue is that the tabs mimic new Edge, where the close button is shown on every tab, instead of only the current tab, which might cause you to accidentally close tabs
I actually think MS should move the close button to the left of the tab, since I sometimes accidentally

[2020-02-14 04:41] lorisobi opened #415 "Add a right click option for classic file explorer"
Maybe it would be nice to use, if there would be a right-click shortcut in normal file explorer to open the folder in Files UWP.

[2020-02-14 14:39] lampenlampen commented on #413
Because the .Net Native toolchain is only used in production mode. In debug mode the code is compiled to IL code running on the CoreCLR.

[2020-02-14 15:15] lampenlampen commented on #200
1. Users with old `terminal.json`-files don't get the updated version automatically, because we don't override existing ones.

2. Powershell and Windows Terminal profiles are deactivated by default.

[2020-02-14 15:52] KaKi87 commented on #413
I understand. Thanks. I'll be waiting for the production version.

[2020-02-14 18:27] WinObs commented on #410
I am curious if this would apply to mapped network drives? I just sideloaded the latest release on 1909 x64 and am crashing after the splash screen.

[2020-02-14 19:56] duke7553 commented on #413
@KaKi87 Thank you for your patience. This is a confirmed bug with VS 2019 where we got a supposed fix which actually wasn't the correct solution. When, we can build production packages, you can bet they'll be released immediately as there are many noticeable improvements in v0.7.

[2020-02-14 21:10] generalguy41 commented on #410
@WinObs That's what I thought initially as my main PC at home is mapped to a network drive, but I just tested it on my Surface which has the same drive mapped and it loaded there.

[2020-02-14 21:31] WinObs commented on #410
Thanks @generalguy41 - I am trying on my main desktop with mapped drives - will give it a shot on my Surface Laptop (3) and see if it works. Thanks.

[2020-02-16 05:39] yaichenbaum commented on #415
In order to do this, we would need to modify the registry. We would like to stay away from doing that but if enough users are interested we can definitely reevaluate. I will keep this issue open for the time being in order to see if it picks up interest.

[2020-02-16 05:51] yaichenbaum commented on #291
@szaimen At a quick glance, the `NavigationView` does not appear to support context menus. I can probably modify the control to add support for context menus but I don't know when that will be.

[2020-02-16 05:53] yaichenbaum commented on #394
@R3voA3 Can you let me know if this is still an issue with the latest release?

[2020-02-16 05:53] #398 closed

[2020-02-16 05:54] yaichenbaum commented on #398
If you can still reproduce this issue with the latest release please feel free to reopen this issue.

[2020-02-16 05:55] #382 closed

[2020-02-16 06:01] yaichenbaum commented on #379
@SOI7 I took a look at Microsoft Office and it looks like it doesn't have a rectangle around the file button. I am thinking that we should follow that design as well, do you have any specific to change it from the way it is right now?

[2020-02-16 06:04] yaichenbaum commented on #352
@jeffsieu any ideas about why this is happening?

[2020-02-16 06:06] yaichenbaum commented on #322
QuickLook integration has been added with the latest [release](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0).

[2020-02-16 06:06] #322 closed

[2020-02-16 06:11] yaichenbaum commented on #306
@R3voA3 I found a temporary solution is to click further to the right of the selected item in order to open it.

[2020-02-16 06:18] yaichenbaum commented on #236
@CrankySupertoon With the latest [release](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0) there is an executable file included. If you want you are welcome to try to modify the registry to launch Files UWP, however modifying the registry can be risky and we take no responsibility if something goes wrong.

[2020-02-16 06:18] #236 closed

[2020-02-16 06:20] yaichenbaum commented on #213
Please check out the latest [release](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0) and make sure to let us know if you find this experience has been improved.

[2020-02-16 06:20] #213 closed

[2020-02-16 06:21] yaichenbaum commented on #229
QuickLook integration has been [released](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0). Make sure to check it out and let us know if there are any issues.

[2020-02-16 06:21] #229 closed

[2020-02-16 08:00] jeffsieu commented on #352
Oh hey, it's because the orderBy function uses a standard compare function.

A solution will be to define an IComparer as an argument in
 `OrderBy<TSource,TKey>(IEnumerable<TSource>, Func<TSource,TKey>, IComparer<TKey>)`, whenever the list is being ordered by name.

Like in https://github.com/duke7553/files-uwp/blob/0e93b99db46c2aeb0e7839229f74c67b94b2caad/Files/Filesystem/ItemViewModel.cs#L457

[2020-02-16 09:23] R3voA3 commented on #394
@yaichenbaum I would love to try it, but it won't let me install the version 7.0.0 due to a not trusted certificate, although I installed the certificate and also the debug dependency

[2020-02-16 10:38] SOI7 commented on #379
@yaichenbaum I wouldn't really look at Office tbh since that app has a different purpose and the UI has to reflect that (Even the titlebar is different), I was suggesting to change the "File" button mainly for three reasons: 1) Familiarity with the Win32 Explorer 2) Better show it's not a ribbon section anymore, but a drop-down menu 3) Add more color to the current UI

[2020-02-16 10:43] imthewiseguy opened #417 "Suggestion: put the file explorer commands in a scrollviewer"
**Is your feature request related to a problem? Please describe.**
the file explorer commands get cut off when the window is small
![image](https://user-images.githubusercontent.com/25320332/74603200-e9a44f80-5065-11ea-8df6-55912fe1fa74.png)

**Describe the solution you'd like**
put the commands in a ScrollViewer control

**Describe alternatives you've considered**
remove labels via Visualstates

[2020-02-16 11:31] szaimen commented on #415
I think I would like it 👍

[2020-02-16 15:13] yaichenbaum commented on #394
@R3voA3 if you wait a few seconds do the icons load?

[2020-02-16 15:18] yaichenbaum commented on #417
@imthewiseguy What version of the app do you have? In the latest [release ](https://github.com/duke7553/files-uwp/releases/tag/v0.7.0) the labels already hide when the window is sized smaller.

[2020-02-16 15:19] R3voA3 commented on #394
No they didn't @yaichenbaum

[2020-02-16 15:20] yaichenbaum commented on #394
Ok, thanks for letting me know.

[2020-02-16 16:18] yaichenbaum commented on #379
@SOI7 I tested this change and it looked out of place. I don't plan on making any changes to that specific button but we will be improving the ribbon in other areas.

[2020-02-16 22:43] imthewiseguy commented on #417
Oh ok I was using the store version

Sent from my iPhone

On Feb 16, 2020, at 7:18 AM, Yair Aichenbaum <notifications@github.com> wrote:

﻿

@imthewiseguy<https://github.com/imthewiseguy> What version of the app do you have? In the latest release <https://github.com/duke7553/files-uwp/releases/tag/v0.7.0> the labels already hide when the window is sized smaller.

—
You are receiving this because y

[2020-02-16 23:00] yaichenbaum commented on #417
@imthewiseguy Thanks for letting me know if you find it's still an issue feel free to reopen this issue.

[2020-02-16 23:01] #417 closed

[2020-02-17 20:27] duke7553 commented on #394
@R3voA3 , if you resize the Window, do items load?

[2020-02-18 00:26] R3voA3 commented on #394
They indeed do. @duke7553

[2020-02-18 00:31] R3voA3 opened #418 "Clicking folders twice in sidebar navigates to wrong location"
When clicking on a folder in the sidebar twice, OneDrive location is automatically selected. Might be because OneDrive is the last entry in the sidebar for me.

This is in version 7.1

[2020-02-18 00:32] yaichenbaum commented on #418
This is something already on our roadmap to fix, thank you for opening the issue so we can track it.

[2020-02-18 00:45] R3voA3 opened #419 "Width of the acrylic sidebar label in appearance.xml is too narrow for the German localisation"
Width of the acrylic sidebar label in appearance.xml is too narrow for the German localisation.

![image](https://user-images.githubusercontent.com/17484252/74694362-256b2080-51f0-11ea-9851-06b233583558.png)

[2020-02-18 00:45] yaichenbaum commented on #419
Thank you for catching this, I will go through these labels and make sure they can fit longer text.

[2020-02-18 01:39] yaichenbaum commented on #419
I have made some improvements to fix this with 1c741a014a2d6378eaa942daf29ac2bfd2e90375.

[2020-02-18 01:39] #419 closed

[2020-02-18 10:08] R3voA3 commented on #193
@Darhagonable @yaichenbaum The side bar should definitely extent all the way to the top. The more I use Files UWP the more I find the current design irritating and with the acrylic it's even more prominent than before. Most UWP apps have the navigation menu extent all the way from the bottom to the top, so I think Files UWP should also use that design.

[2020-02-18 14:00] yaichenbaum commented on #193
@R3voA3 There is a reason we removed Acrylic from the sidebar, in any case, I will be keeping this issue open for some time to gather more feedback.

[2020-02-19 08:59] amellini opened #420 "Direct delete without recicle bin"
Shoul be nice to have Shift+Canc functionality like "old" windows explorer to delete things directly (no recicle bin)

[2020-02-19 14:48] yaichenbaum commented on #420
We are currently tracking this feature request in #251.

[2020-02-19 20:27] duke7553 commented on #378
With the latest updates, I can't reproduce this, and there's been no other reports of this exception.

[2020-02-19 20:27] #378 closed

[2020-02-19 20:28] duke7553 commented on #394
@R3voA3 This should be fixed with the latest work in the develop branch.

[2020-02-19 20:32] duke7553 commented on #295
The v0.7 cycle has seen lots of work go into this, but it hasn't been fully tested/finalized yet, so I'm bumping the target for WSL support to v0.8

[2020-02-19 20:39] duke7553 commented on #410
Unfortunately, I cannot repro this with my hardware. Since we know it exists, can someone checkout the develop branch and provide us debug info?

[2020-02-19 20:45] duke7553 commented on #409
@SOI7 I'm having trouble reproducing this, so exactly what program produces these files? Do you mean .LNK rather than .ink?

[2020-02-19 20:52] SOI7 commented on #409
No, I meant .ink as shortcut files

[2020-02-19 21:27] duke7553 commented on #409
Thanks. I've changed it to not display the shell link files which we don't support opening.

[2020-02-19 21:28] #409 closed

[2020-02-19 21:29] duke7553 commented on #409
Please reopen this issue if you can reproduce this with the latest develop branch changes.

[2020-02-20 02:32] xPoppyx opened #421 "The app closes when I click on "Downloads""
When I open the "downloads" folder from the sidebar, the app closes

OS: W10 1909
App v0.7.0

[2020-02-20 03:15] yaichenbaum commented on #149
We are tracking this in issue #189.

[2020-02-20 03:15] #149 closed

[2020-02-20 03:19] yaichenbaum commented on #370
@flimosch Can you confirm this issue still exists in the v0.7.1?

[2020-02-20 03:29] yaichenbaum commented on #193
@R3voA3 Although most UWP apps extend the navigation menu to the top, it's a little different from Files UWP because we have a ribbon and I feel that the current design looks better and keeps a familiar feel to File Explorer.
Another interesting piece of information is that in a few months from now WinUI 3 will be releasing, as a result, we will lose access to the `HostBackdrop` acrylic effect, th

[2020-02-20 11:57] xPoppyx opened #422 "Clicking twice on a folder/drive in the sidebar, the app closes"
if you are already inside the folder or drive and click again on it, the app closes, after several attempts, this happens 100% of the time.

Files uwp v0.7.0
W10 1909

[2020-02-20 12:06] xPoppyx commented on #421
**update:**
- For some reason, now this is happening with the "Desktop" folder too
- If I click on other folders / drives and then click on downloads or desktop, the app no ​​longer closes.

[2020-02-20 14:50] yaichenbaum commented on #422
I am not able to reproduce this issue on my end, would you be able to run from the `develop` branch to get me more debug information?

[2020-02-20 14:53] yaichenbaum commented on #421
There is some inconsistent behavior around opening items from the sidebar where opening them sometimes causes a crash, we are aware of this issue and are looking into it.

[2020-02-21 13:27] KaKi87 commented on #413
Could you please link the Microsoft issue ?

[2020-02-21 20:37] duke7553 commented on #413
@KaKi87 Of course! Here you go: https://developercommunity.visualstudio.com/content/problem/871255/packaging-project-microsoftdesktopbridgetargets591.html

[2020-02-21 20:51] KaKi87 commented on #413
It's not even on GitHub 😂

[2020-02-22 03:18] jerryyangboyu opened #423 "Add more functions like a native file explorer in Windows"
Bugs occured:
Errors occurs when i tried to open code files, such as f.js file
`Value does not fall within the expected range. within method (Method name unknown)`
and
` at System.Runtime.InteropServices.McgMarshal.ThrowOnExternalCallFailed(Int32, RuntimeTypeHandle) + 0x21
   at __Interop.ComCallHelpers.Call(__ComObject, RuntimeTypeHandle, Int32, Int32, Int32) + 0xc2
   at __Interop.ForwardComStub

[2020-02-22 03:24] jerryyangboyu commented on #423
Context:
System Version: 1909
App Version: 0.6.6.0

[2020-02-22 10:57] rashil2000 opened #424 "Most Settings unavailable in version 0.7.0.0"
**Describe the bug**
Most options in the new Settings page are greyed-out, i.e. unavailable.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest pre-release using the Install.ps1 script.
2. Open Files and grant File Access permission.
3. Open File->Settings.
4. Go to On Startup tab. Only the first option 'Open a new tab' is available. 'Continue where you left off' and 'Open a

[2020-02-23 01:08] yaichenbaum commented on #424
The options that are grayed out are ones that have not been implemented but are coming in the future.
Can you show a screenshot of how the pin to OneDrive option looks?

[2020-02-23 01:12] yaichenbaum commented on #423
@jerryyangboyu would you be able to download the latest version from the release page in GitHub? Some of your feedback has already been addressed in v0.7.

[2020-02-23 04:34] rashil2000 commented on #424
![Screenshot (137)](https://user-images.githubusercontent.com/46838874/75103645-7da48700-5623-11ea-8092-65ea34953565.png)
All three options here have some problem. The first one is greyed out, the second breaks the app as I mentioned earlier, and the third, after uncommenting the PowerShell Core 6 part and replacing it with `powershell.exe` as I only have the legacy PowerShell, the terminal opens

[2020-02-24 16:07] lampenlampen commented on #424
@rashil2000 For the legacy powershell you need a different argument:

[code]

[2020-02-24 16:10] rashil2000 commented on #424
Oh, thanks for that!
Also, could you please include the instructions in the Readme file as to how to build the app from source?

[2020-02-24 16:11] yaichenbaum commented on #424
@rashil2000 There is an open issue for that already 🙂
Its something we plan on doing in the next few days.

[2020-02-24 16:17] lampenlampen commented on #424
In Short:
1. Install Visaul Studio 2019 & UWP Development Kit [link](https://docs.microsoft.com/en-us/visualstudio/install/install-visual-studio?view=vs-2019).
2. Clone the source and open the `Files.sln` in VS.
3. VS installs all missing dependencies for you.
3. Launch the package project.

PS: I don't recommend changing the install path of Visual Studio.

[2020-02-24 16:45] rashil2000 commented on #424
That's exactly the problem I have. The UWP Development Workload costs around 10GB, but I only have around 15GB available in my SSD (C drive). I'm looking for workarounds though.

[2020-02-24 16:49] lampenlampen commented on #424
So i changed my normal installation path and managed to get it to work 👍.
The only problem I had, was that VS couldn't find the Desktop Expansion SDK.
On some microsoft post someone suggested to copy the expansion sdk to the normal folder and than it worked.

[2020-02-25 10:44] Crocodile73 commented on #410
sorry been away, what debug do you need, only side loaded the app.

[2020-02-25 11:15] lampenlampen commented on #410
does the crash still happen, if you grant the permission "BroadFileSystemAccess":

Win+R, `ms-settings:privacy-broadfilesystemaccess`.

[2020-02-25 11:54] Crocodile73 commented on #410
yes it still crashes, i had it on anyway.

[2020-02-25 12:36] lampenlampen opened #425 "Logger to help debugging"
We should consider implementing a logger to help debugging bugs that are not reproducible on your own machines like #410.

We could use [NLog](https://nlog-project.org/) and write log statements and all crashes to a file, so we can see what crash hapened and where.

[2020-02-25 14:19] WinObs commented on #410
On my system the overall setting was on but the app itself was not so I toggled it on.

Tried before rebooting and it still crashed. Rebooted and tried again – still crashing.

Rich

From: Crocodile73 <notifications@github.com>
Sent: Tuesday, February 25, 2020 6:54 AM
To: duke7553/files-uwp <files-uwp@noreply.github.com>
Cc: Richard Hay <richardhayjr@hotmail.com>; Mention <mention@noreply.github.c

[2020-02-25 15:23] yaichenbaum commented on #425
This would be very helpful.

[2020-02-25 17:16] Crocodile73 commented on #410
ok trial and error has lead me to a drive, which is a Samsung SSD Usb 3.0 250gb. This is the issue on my system. But i have checked the drive with all kinds of checks, and its fine, works great and has been plugged in for over 2 years. The odd thing is i have two plugged in, and the other one works connected. Hope this helps

[2020-02-25 17:16] Crocodile73 commented on #410
ok trial and error has lead me to a drive, which is a Samsung SSD Usb 3.0 250gb. This is the issue on my system. But i have checked the drive with all kinds of checks, and its fine, works great and has been plugged in for over 2 years. The odd thing is i have two plugged in, and the other one works connected. Hope this helps

[2020-02-25 20:52] duke7553 commented on #410
@Crocodile73 We just need you to clone the master branch and run in a debugger to find out what code causes this issue. (and the output)

Thanks a lot!

[2020-02-26 17:57] Crocodile73 commented on #410
@duke7553

Log Name:      Application
Source:        Application Error
Date:          26/02/2020 17:53:16
Event ID:      1000
Task Category: (100)
Level:         Error
Keywords:      Classic
User:          N/A
Computer:      DESKTOP-F3QESHP
Description:
Faulting application name: Files.exe, version: 1.0.0.0, time stamp: 0x5d36223e
Faulting module name: twinapi.appcore.dll, version: 10.0.18362.592,

[2020-02-27 15:23] lampenlampen commented on #200
We should consider creating a wiki page, where we collect the different terminal profiles.

[2020-02-27 15:24] lampenlampen commented on #200
We should consider creating a wiki page, where we collect the different terminal profiles.

[2020-02-27 16:11] #425 closed

[2020-02-27 22:10] yaichenbaum commented on #200
@lampenlampen What profiles do we support?

[2020-02-28 16:33] yaichenbaum commented on #385
I added instructions to the [readme ](https://github.com/duke7553/files-uwp/blob/develop/README.md) file.
Thank you @lampenlampen for writing them up!

[2020-02-28 16:44] #385 closed

[2020-02-28 20:11] lampenlampen commented on #200
cmd:
[code]

Powershell:
[code]

Powershell Core:
[code]

Windows Terminal:
[code]

[2020-02-28 20:12] yaichenbaum commented on #200
@lampenlampen Don't we add them automatically to the drop-down?

[2020-02-28 20:58] lampenlampen commented on #200
If the profiles are in the `terminals.json` file, but only the cmd is enabled by default, because we don't know if powershell or Windows Terminal is installed.

[2020-02-28 21:36] yaichenbaum commented on #200
Why don't we add logic for that? We already have something similar in place for detecting if QuickLook is installed so I imagine we can do the same here.

[2020-02-28 22:19] lampenlampen commented on #200
QuickLook is a lot simpler to detect, because it creates a named pipe, which we can check for existence.

I spontaneously do not know of a way to detect, if a certain program is installed.

[2020-02-28 22:31] szaimen commented on #200
I guess this is not possible (because you cannot run powershell and access the registry)?
https://keestalkstech.com/2017/10/powershell-snippet-check-if-software-is-installed/

[2020-02-28 22:46] lampenlampen commented on #200
Technically we can run powershell and access the registry, because we have the `runFullTrustProcess`-permission.

The thing is, is it worth?
We surely can detect some or many cases, where pw or wt are installed, but i think not all.
For example what about a portable installation?

So I think especially pre version 1, it's not worth, because you simply have to copy and paste a profile into `termina

[2020-02-29 02:27] szaimen commented on #200
Okay, and then why not checking if the app is installed and if it wasn't found for whatever reason, ask the user to copy and paste the profile into terminals.json, if the user wants to use that feature?

[2020-02-29 04:50] Spyromaniac31 opened #428 "Opening the Desktop folder crashes the app"
**Describe the bug**
Upon opening the Desktop folder immediately through the side bar crashes the app

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files UWP
2. Click on Desktop on the sidebar
3. The app crashes

Steps to prevent the behavior from occuring:
1. Open Files UWP
2. Navigate to This PC\...\Desktop manually
3. Click on another folder in the sidebar
4. Click on Desktop in th

[2020-02-29 16:37] pat-san opened #429 "Right click on favorites causes Files UWP to crash"
Hi,
Just to see if there were options by right clicking on favorites in sidebar, it make FUWP crash.

[2020-02-29 16:44] pat-san opened #430 "Only appearance tab accessible in parameters."
Hi,
In parameters, I'm blocked on appearance tab, can go to start, preferences, files & folders, about.
And the text is shortened (see image) whatever the window's size.

![image](https://user-images.githubusercontent.com/44109252/75611443-e48dd880-5b1a-11ea-8c50-8ca59369cad3.png)

Desktop
 - W10 1909 up to date
 - Files UWP beta

[2020-02-29 19:19] pat-san opened #431 "Ctrl+A with no selected files or folders"
Hi,
If no files or folders are selected in a window, I need to press Ctrl+A two times to select all

To Reproduce:
Open FUWP, go to a folder with files or subfolders, nothing selected, press Ctrl+A to "select all".

Expected behavior:
This should select all files and/or folders

 - W10 1909
 - FUWP beta

[2020-02-29 19:19] lampenlampen commented on #200
But we don't know in advance which profile a user wants to use.

So we end up asking every user, where we don't find for example Windows Terminal (due to not found or not installed) to select the exectuable. Even if the users wants to have nothing to do with Windows Terminal.

[2020-02-29 19:30] szaimen commented on #200
That's why I would suggest asking and checking for the installation only if the user interacts with the "open in powershell/commandPrompt". As long as he doesn't use that feature I wouldn't ask him for the installation.

[2020-02-29 21:16] duke7553 commented on #200
If we know the package id of a uwp app, can't we query it? I feel like there was a way

[2020-03-01 01:16] yaichenbaum commented on #200
@lampenlampen You can actually get read access to the registry without a FullTrustProcess.

[2020-03-01 01:18] yaichenbaum commented on #430
A fix for this is already implemented and should roll out with the next update.

[2020-03-01 01:46] yaichenbaum commented on #429
@pat-san Thank you for opening the bug report.

[2020-03-01 01:47] yaichenbaum commented on #431
@pat-san Thank you for opening this issue. We already have an open issue #9 for this, make sure to subscribe to the issue to get updated when its implemented.

[2020-03-01 01:47] #431 closed

[2020-03-01 04:31] KiriKirby opened #432 "Settings Not Work"
||No matter you choose what in the settings' sidebar, it will go to Appearance settings.||

-Steps to reproduce the behavior-
1. Go to 'Settings'
2. Click on other options in the sidebar, such as "startup, preferences, about..."
3. Whatever you choose it will go to "Appearance"

-Screenshots-
![2](https://user-images.githubusercontent.com/60438557/75619530-130dc100-5bb8-11ea-9f88-d1b8c56f726b.gif)