[2021-04-29 15:12] yaichenbaum commented on #4783
@mangoepic Do you have any ideas what we can use instead?

[2021-04-29 16:03] #4783 closed

[2021-04-29 16:04] yaichenbaum commented on #4788
@mangoepic I understand, however, once Files runs the command to open an item, Windows is doing the rest of the work. It's really up to the application that's being launched to let you know what going on.

[2021-04-29 16:17] yaichenbaum commented on #2570
@chingucoding This issue should be resolved in `main`

[2021-04-29 16:17] #2570 closed

[2021-04-29 16:26] yaichenbaum commented on #4718
CTRL + F4 is valid, but the main shortcut is CTRL + W.

[2021-04-29 16:36] winston-de commented on #2963
This should be resolved with the new details view.

https://user-images.githubusercontent.com/59544401/116586451-56ec7b00-a8ce-11eb-9ad1-7eae7424f1b7.mp4

[2021-04-29 16:42] yaichenbaum opened #4792 "Command bar flyout isn't displaying keyboard accelerators"
The new command bar isn't displaying keyboard accelerators.

[2021-04-29 16:48] gave92 commented on #4781
Mm those lines are there to open Files instead of explorer e.g. when opening a folder on the desktop. Unfortunately they also add a context menu item :/

[2021-04-29 16:56] josh-65 commented on #4781
I've remove those lines from the registry and it opens files fine from the old explore of desktop the only think i found is that they add the context menu

[2021-04-29 16:57] yaichenbaum commented on #4718
This issue should be resolved with #4793.

[2021-04-29 17:03] josh-65 commented on #4781
weirdly when i restarted my pc i get the context menu item again but it show like this "openinfiles"

[2021-04-29 17:39] #4718 closed

[2021-04-29 17:41] winston-de commented on #4781
We could just remove any shell context menu item with the command "openinfiles".

[2021-04-29 18:34] #4781 closed

[2021-04-29 18:37] yaichenbaum commented on #4781
@pklion This issue should be resolved with #4794.

[2021-04-29 20:38] chingucoding opened #4796 "Add Ctrl+Shift+T hotkey to reopen last closed tab"
**Is your feature request related to a problem?**
Oh no, I just closed my [very important content] tab, and I want to quickly reopen it.

**Describe the solution**
If there was a hotkey for this, I could just reopen the tab I just closed,

**Describe alternatives you've considered**
I could try to reopen the tab by navigating to the corresponding folder, but what if it's very deep in the structure

[2021-04-29 20:44] yaichenbaum opened #4797 "Use a lighter color for the tab separators in light mode"
**Is your feature request related to a problem?**
The tab separators are a little too dark in light mode.

**Describe the solution**
This can be solved by using a light color.

[2021-04-29 20:57] winston-de commented on #3172
Looking at the stack trace, it would *seem* that the system is getting an access denied error when trying to access and launch the Files executable. It would also appear that this is a bug with the app execution alias APIs. I'm still unsure what about the appdata folders is different that this error would only occur when launching them.

Here's the stack trace for the error if anyone else is inter

[2021-04-29 21:08] chingucoding commented on #2570
Awesome, thank you for fixing this!

[2021-04-29 21:22] winston-de opened #4798 "[Vertical multitasking flyout] Closing tab with Ctrl + W doesn't switch to the previously open tab after closing the active one"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Open a few tabs
2. Shrink window until the horizontal tabs are collapsed
3. Press ctrl + W
4. Blank content shown

**Expected behavior**
The previously active tab should be switched to.

**Logfile**
Nothing relevant.

**Screenshots**
![image](https://user-images.githubusercontent.com/59544401/116619887-ece7cc00-

[2021-04-29 21:33] skrivskithar opened #4799 "Bug when trying to delete multiple files (only deletes one at a time)"
**Explain the bug**
Deletion of multiple selected files is impossible, it only deletes one by one

**To reproduce**
1) select multiple files
2) hit DELETE
3) Confirmation to delete all
4) only deletes the file that was selected first

**Expected behavior**
Deletion of all files

**Logfile**
N/A

**Screenshots**
N/A

**System Information**
 - OS Version:  Windows 10 20H2 19042.804
 - App version: 1

[2021-04-29 21:43] winston-de opened #4800 "List of libraries is reloaded every time app is activated"
**Explain the bug**
Every time Files is activated (eg, a start tile, jumplist, or Win E), the library list is reloaded.

**To reproduce**
1. Open files
2. Expand library section
3. Open a folder through the jumplist
4. Items are refreshed

**Expected behavior**
Reloading the libraries looks weird in the sidebar and is also inefficient.

**Logfile**

**Screenshots**

https://user-images.githubuserc

[2021-04-30 00:51] #3129 closed

[2021-04-30 00:52] #4756 closed

[2021-04-30 00:56] #3013 closed

[2021-04-30 00:57] yaichenbaum commented on #3013
@Hefaistos68 This feature request was implemented with #4737.

[2021-04-30 00:59] yaichenbaum commented on #2963
@winston-de This is still an issue if you click in a blank area and then click on the file again.

[2021-04-30 03:06] rafifos opened #4801 "Shadows are broken on 10bit displays"
**Explain the bug**

Shadows on Files are broken/blocky when the color depth configuration of the display is set to `10 bpc` (on the NVIDIA Control Panel).

**To reproduce**
1. Go to the `NVIDIA Control Panel`
2. Click on `Change resolution`
3. Set the `output color depth` to **10 bpc**
4. Go to Files
5. Right click anywhere, shadows are already broken at this point.

**Expected behavior**
Shadows

[2021-04-30 03:49] yaichenbaum commented on #4801
I believe this is a WinUI issue, can you open an issue on their repo?

[2021-04-30 07:38] JVariance commented on #3562
If I'd just want the mp3 files, of course. But if I want to select all audio files, this becomes a needlessly complicated process.

[2021-04-30 07:46] JVariance commented on #3562
@yaichenbaum You could additionally consider an entry 'selection' in context menu (when right-clicking on file).
Example:
User rightclicks mp3 file.
...
'Selection'
 |- 'select all of type'
 |- 'select all audio files'
...

[2021-04-30 11:22] SiRo24 opened #4802 "no Context menu on image files with Powertoys resize feature enabled"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-30 11:47] SiRo24 commented on #4802
Edit:
it's not due to the Powertoys feature, that was just a coincidence.
The right click on images usually doesn't work, only in that case it randomly did.

[2021-04-30 11:58] SiRo24 opened #4803 "Double favourites bar"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-30 12:07] SiRo24 opened #4804 "Reordering of Favorite folders"
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Additional comment**
Add any other comment or screenshots about the feature request here. What device type/UI lay

[2021-04-30 12:29] Keefaetana commented on #4804
https://github.com/files-community/Files/issues/3094

[2021-04-30 13:14] yaichenbaum commented on #4804
Merging with #1069.

[2021-04-30 13:14] #4804 closed

[2021-04-30 15:59] yaichenbaum commented on #4803
This issue appears to be resolved in `main`.

[2021-04-30 15:59] #4803 closed

[2021-04-30 17:20] josh-65 opened #4806 "Data and time formatting error"
**Explain the bug**
Date and time goes into a long version when going into a directory on app open. Refreshing the list fixes it

**Expected behaviour**
the correct format should be displayed first

**Screenshots**
![image](https://user-images.githubusercontent.com/26977075/116730428-665be900-a9e0-11eb-9b28-0ef523400947.png)
![image](https://user-images.githubusercontent.com/26977075/116730878-ebd

[2021-04-30 17:30] josh-65 commented on #4619
Any update on this?

[2021-04-30 17:31] josh-65 commented on #4247
Any update on this?

[2021-04-30 19:24] yaichenbaum commented on #4521
This issue should be resolved in `main`.

[2021-04-30 19:24] #4521 closed

[2021-04-30 20:37] josh-65 opened #4807 "Deleting content in C: drive doesn't always work"
**Explain the bug**
Currently I found that trying to paste files into an admin folder doesn't do it or ask or admin privileges.  Deleting files does show the admin prompt but also doesn't take an action.

**To reproduce**
1. Copy some files/folder
2. Go to 'C:/programs'
3. Right click on some folder
4. click paste (or do ctrl + v)
4. See nothings done

**Expected behaviour**
Ask for admin and do t

[2021-04-30 21:38] josh-65 commented on #4802
You will need to upload the log files as it says in the template.

[2021-04-30 21:39] AndriiHarashchak commented on #4741
@cinqmilleans maybe, I found trouble. It looks like when creating a .rar ( I saw this only with small .rar files) file inside "Files",  the size isn`t correct, but after opening a folder with such files using stock file explorer the size in "Files" becomes correct. And as I suppose the trouble is with reading size from the source.

[2021-04-30 23:55] jadsnet opened #4808 "Bug"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-05-01 08:40] #4808 closed

[2021-05-01 09:37] gave92 commented on #4807
Hello pasting and renaming as admin is not implemented yet (#2513)
Only deleting is supposed to work, do you have issues with that too?

[2021-05-01 11:33] josh-65 commented on #4807
did have issues yesterday but its working now

[2021-05-01 11:44] Black-StellarSpectrum opened #4811 "Feature: Improving the status center UI"
### What feature or improvement do you think would benefit Files?
Files app is great but the only thing is that its file transfer UI is not that great, official windows UI is much better and easy to work with.

### Requirements

-

### Files Version

2.3.11.0

### Windows Version

10.19043.1899

### Comments

_No response_

[2021-05-01 22:36] geedotk commented on #3129
It is fixed in v1.5.

[2021-05-01 23:19] josh-65 commented on #4540
Currently I found the .ini, .bin and .dll files will make it go to grid mode which it shouldn't.

[2021-05-02 00:56] Obianuju7 commented on #3128
I don't know, I changed back to File Explorer.

[2021-05-02 01:30] yaichenbaum commented on #3129
Thanks for the update!

[2021-05-02 01:32] yaichenbaum commented on #4811
While we don't have plans to make this change, one of the things we are looking at is an option to pin the status center UI in Files. Please let us know what you think of this idea.

[2021-05-02 01:35] yaichenbaum commented on #3128
@Obianuju7 Thanks for the update, I'll close this issue since we can't reproduce it anymore.

[2021-05-02 01:35] #3128 closed

[2021-05-02 02:12] yaichenbaum commented on #4540
That's fair feedback, before looking into that though, we plan to improve the actual feature. In the meantime, you can turn it off by turning off the option to use individual settings for different locations.

[2021-05-02 02:44] #4206 closed

[2021-05-02 02:45] #4547 closed

[2021-05-02 08:15] cinqmilleans opened #4813 "Add search filters"
**Is your feature request related to a problem?**
It is not possible to filter the search results.

**Describe the solution**
Use a menu to filter results.
This menu, visible after the searchbar, show the filters (date, size, extension, picture, video, ...)
This menu will require research to be complete but simple, practical and beautiful.

| Capability | Priority |
| - | - |
|  Show when a search

[2021-05-02 11:51] torgeros opened #4815 "german translation problem in preferences"
The German translation has a problem in the settings:

<img width="500" src="https://user-images.githubusercontent.com/67151313/116812037-d4252380-ab4c-11eb-96b2-902909bfc9ef.png">

The last entry *"Unter Bibliotheken in der Seitenleiste anzeigen"* translates to *"show in sidebar under libraries"* which does in no way describe the functionality of the switch.

---

*"Bibliotheken in der Seitenleis

[2021-05-02 11:52] torgeros commented on #4815
if someone tells me where to change the translations, I will fix this myself.

[2021-05-02 11:58] gave92 commented on #4815
Hello you can find documentation about translating Files [here](https://files-community.github.io/docs/#/articles/translating-files).
@yaichenbaum I see that the docs state that installing Visual Studio is required, isn't that too much?  Do you know if there's a "standalone" editor for xlf files? Any text editor would probably be enough.

[2021-05-02 12:03] torgeros commented on #4815
thanks! VS is installed so that does not matter for me

also [VS-Code](https://code.visualstudio.com/) seems to have an extension for xlf files: [nab al tools](https://marketplace.visualstudio.com/items?itemName=nabsolutions.nab-al-tools)

[2021-05-02 12:05] torgeros commented on #4815
I am going to look into this.

maybe I can improve some other parts of the DE translation, too.

[2021-05-02 12:10] gave92 commented on #4682
I'd personally change the ordering of the layouts to have Details first like this:
Details -> Tiles -> Grid (small) -> Grid (medium) -> Grid (big) -> Column
Mostly because I associate "1" to the most well known/commonly used layout.

[2021-05-02 13:05] torgeros commented on #4815
in regards to the "language editor", here is a standalone tool to edit those files: https://developer.microsoft.com/en-us/windows/downloads/multilingual-app-toolkit/

[2021-05-02 13:30] yaichenbaum commented on #4815
@chingucoding Visual Studio shouldn't be required, the editor linked there should be enough.

[2021-05-02 13:32] yaichenbaum commented on #4813
@cinqmilleans Will the option always be visible, or only when the user searches something?

[2021-05-02 14:16] josh-65 commented on #3834
Any update on this. 1.5.26 still has this issue.

[2021-05-02 14:23] cinqmilleans commented on #4813
Only when the user searches something, to keep the ui as simple as possible.

[2021-05-02 14:29] josh-65 commented on #4811
I too like this idea I would much prefer a reskinned version of windows 10 default one. It gives all the information needed and could allow users to see files transfers while the main window is minimized or and a different display.

[2021-05-02 14:47] yaichenbaum commented on #4813
@cinqmilleans I noticed you mentioned that the user will need to do the search again, is there a way we can apply the filter without the user doing the search again?

[2021-05-02 14:57] cinqmilleans commented on #4813
Not yet, but it's a good idea to add. We should keep the search bar open on the results page.

[2021-05-02 16:03] cinqmilleans commented on #4796
@chingucoding @yaichenbaum
This shortcut already works but is not visible.
I propose to add this choice in the contextual menu of the tabs and indicate the missing shortcuts there.
I can do it.

[2021-05-02 16:20] #4528 closed

[2021-05-02 16:25] chingucoding commented on #4796
That sounds reasonable to me since the feature already exists but is just not mentioned. @cinqmilleans Would you also like to update the documentation around this [here](https://github.com/files-community/files-community.github.io/blob/main/docs/articles/keyboard-shortcuts.md) (assuming @yaichenbaum is fine with the proposed changes)?

[2021-05-02 16:44] cinqmilleans commented on #4796
ok for me.

[2021-05-02 17:39] michaelmckelvey opened #4818 "Files Closes"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-05-02 17:52] yaichenbaum commented on #4818
We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-05-02 18:41] duke7553 commented on #4811
I think we should ditch the Status Center UI that I built. It has proven to be unintuitive and could be better served by a window displaying information.

[2021-05-02 19:13] michaelmckelvey commented on #4818
1.  Open Files
2.  Click on Documents
3.  Scroll down to Revit & double click
4.  Double click on Revit Pure
5. Files closes

I expected Files to stay open so I could access the file I wanted to open.

Windows 10 20H2

Files 1.5.0.0

This happens every time I try to use Files.

[debug.txt](https://github.com/files-community/Files/files/6412072/debug.txt)
[debug_fulltrust.txt](https://github.com/fi

[2021-05-02 19:20] yaichenbaum commented on #4818
@michaelmckelvey Thanks for the detailed information.

[2021-05-02 19:30] gave92 commented on #4818
@michaelmckelvey Could you try the following? (I'd like to know if this only happens in details view)
1. Turn Off "Enable individual preferences for individual directories" in Settings > Files and Folders
2. Set Tiles or GridView layout mode
3. Try to trigger the crash

[2021-05-02 20:11] winston-de commented on #4811
@duke7553 Personally, I find the status center as it is is much less intrusive than the Windows explorer one, especially for smaller/shorter file operations. I think having a separate window can be helpful (eg. #4627), but more often than not I find the Windows explorer method of managing operations to be inconvenient and just gets in the way. Not to mention, Windows explorer's use of windowing to

[2021-05-02 20:14] yaichenbaum commented on #4811
@winston-de This is spot on with what I discussed with Luke around an hour ago. A lot of users don't even have the latest changes, and the changes you mentioned above will further improve the current design.

[2021-05-02 20:32] #4800 closed

[2021-05-02 20:51] josh-65 commented on #4811
In any case features like to and from file paths, current speed, what type it is (copy, move, recycling, perm deleting), how many files/folders are left and what file/folder it currently doing should be added.

[2021-05-02 21:46] michaelmckelvey commented on #4818
I turned off "Enable individual preferences, etc".

Now it still crashed once with small grid bud didn't other times.

It didn't crash after several tries with tiles and medium & large grid.

It still crashes with Details.

On Sun, May 2, 2021 at 3:30 PM Marco Gavelli ***@***.***>
wrote:

[2021-05-02 22:35] ChildishGiant commented on #2582
Would these implementations to add it to the explorer help?
https://github.com/tibold/svg-explorer-extension
https://github.com/microsoft/PowerToys/pull/5048

[2021-05-03 06:23] Dylan-Osborne opened #4823 "Spacebar doesn't trigger QuickLook"
**Explain the bug**
Selecting a file and pressing spacebar doesn't open QuickLook.

**To reproduce**
1. Select a file.
2. Press spacebar.
3. QuickLook doesn't open.

**Expected behavior**
QuickLook should open for the selected file.

**Logfile**
[debug.log](https://github.com/files-community/Files/files/6413060/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/6413061

[2021-05-03 06:58] #4818 closed

[2021-05-03 06:58] gave92 commented on #4818
Merging with #4304. Will be fixed by the new details view which is in the work.

[2021-05-03 09:27] josh-65 commented on #4823
i think they removed support for it just didn't remove the credits in settings

[2021-05-03 09:48] Dylan-Osborne commented on #4823
I know they recently removed the unnecessary QuickLook item from the context menu, but as far as I'm aware it should still work when pressing spacebar.

I don't think this is due to any recent changes either, I've had this issue for quite a while.

[2021-05-03 11:35] gave92 commented on #4823
Yeah quicklook is still supported by pressing spacebar.
@Dylan-Osborne could you post a screenshot of how a context menu appears in Files for you?

[2021-05-03 11:39] Dylan-Osborne commented on #4823
@gave92 For a simple .txt file the context menu looks like this
![image](https://user-images.githubusercontent.com/46000533/116871593-c89d2f80-ac14-11eb-8d73-9e7a78446214.png)

[2021-05-03 13:45] josh-65 opened #4824 "Customisation of right click pop out"
**Is your feature request related to a problem?**
Now a days there are many different right click options. I wish I could chose what ones were in the top icon only bar and in the icon text version. also to remove options entirely like the layout, refresh and open in terminal (windows terminal adds it own that shows in whitespace and on files/folders) button when clicking on white space.

**Describ

[2021-05-03 13:47] josh-65 commented on #4651
Moving to #4824

[2021-05-03 13:47] #4651 closed

[2021-05-03 14:32] winston-de commented on #4824
Thanks for this feedback. Merging with #3966.

[2021-05-03 14:32] #4824 closed

[2021-05-03 14:42] josh-65 commented on #3966
I would like this feature too. It's kind of need at this point with all the options currently.

[2021-05-03 15:04] yaichenbaum commented on #4823
@gave92 QuickLook was removed from the context menu so we might need the log file. Either way, I think this issue was resolved when the issue with shortcuts not working in the details layout was fixed.

[2021-05-03 15:32] #4801 closed

[2021-05-03 15:34] #4768 closed

[2021-05-03 15:34] #4761 closed

[2021-05-03 15:34] #4745 closed

[2021-05-03 15:35] #3330 closed

[2021-05-03 15:41] yaichenbaum commented on #4813
@cinqmilleans This issue has been approved, would you like me to assign it to you?

[2021-05-03 15:44] cinqmilleans commented on #4813
@yaichenbaum yes, thanks you.

[2021-05-03 15:46] yaichenbaum commented on #4813
@cinqmilleans Btw, instead of showing the filter option next to the path box, it should be in the toolbar underneath it.

[2021-05-03 16:14] gave92 commented on #4823
Yeah I was asking to make sure it wasn't an issue with the ftp but it looks all right ;)
Can't find the commit related to fixing the shortcuts.

[2021-05-03 17:08] yaichenbaum commented on #4823
@gave92 It was a couple days ago, but I can't test it right now because it's crashing in release mode 😄.

[2021-05-03 17:09] #4815 closed

[2021-05-03 17:37] cinqmilleans commented on #4811
An idea to discuss. Replace the Status Center by a new page, and the current button opens a tab with that page (like the chrome download center).

[2021-05-03 20:20] josh-65 commented on #4641
Turns out it was OneDrive adding a document folder to library and didn't remove it when I deleted it,

[2021-05-03 20:20] #4641 closed

[2021-05-04 00:42] rusti4 commented on #4823
Also have this issue

[2021-05-04 04:06] shanoaice opened #4828 "Right-click on image files will cause Files to hang up"
**Explain the bug**
Right-click on image file (suffix tested: `.jpg`, `.png`) will cause Files to hang up and silently exits after a while.

**To reproduce**
1. Go to any folder.
2. Right-click on a random image file.
3. Files hang up.

**Expected behavior**
A right-click menu appears.

**Logfile**
[Pastebin - debug.txt](https://pastebin.com/DD8xC9Kb)
[Pastebin - debug_fulltrust.txt](https://paste

[2021-05-04 05:31] winston-de commented on #4828
Thanks for reporting this. This issue should be resolved with #4625.

[2021-05-04 05:31] #4828 closed

[2021-05-04 08:12] shanoaice commented on #4828
@winston-de Actually, when I tried to build the app from the latest source, this pull request only partially solved the problem. Now when I right click on any file (not just image file), the app will hang up for about 5 seconds, and then pop a context menu. Is that the right thing to happen?

[2021-05-04 08:56] crashmit commented on #1260
I really want this feature too! Hope it gets moved to to-do soon :)

[2021-05-04 09:44] dazlab opened #4830 "Live Refresh"
**Is your feature request related to a problem?**
When performing any file operation that changes the structure, adding new files, deleting files, new folders etc. you have to manually click refresh to update the view.

**Describe the solution**
Upon completing any operation that changes the view, it should automatically update and display the changes.

**Describe alternatives you've considered**

[2021-05-04 11:40] josh-65 commented on #4830
It should alrady do that. You will properly have to upload the logs here.(settings > about > open log folder > upload debug and debug_fulltrust)

[2021-05-04 16:36] Black-StellarSpectrum commented on #4811
Nice idea, but the current design is too small & I am kinda person who likes to see the whole process plus the window from native windows shows a progress bar which is big and also shows me the transfer speed,<< this makes file transfer in "Files" app feel slow, and since it's a separate window we can minimize it & reopen it through shortcut keys if say I am anther app (I've shortcut keys on my mo

[2021-05-04 17:08] winston-de opened #4832 "Use minimal sidebar mode when the app window is very narrow"
**Is your feature request related to a problem?**
There currently is a shortage of space when the app window is very narrow, and the compact sidebar takes up a significant amount.

**Describe the solution**
Supporting minimal sidebar mode would give more space for content that normally would be taken by the compact sidebar.

**Describe alternatives you've considered**
Continue using compact mode.

[2021-05-04 17:29] sangafabrice commented on #2930
**1/ Download the required Framework**
[https://github.com/files-community/package.github.io/blob/main/Files.Package/Dependencies/x64/Microsoft.UI.Xaml.2.5.appx](url)
**2/ Provision your image using dism command tool (administration priviledges required)**
[code]

[2021-05-04 22:06] stevenbrix commented on #2917
What release will this be in? I'm seeing this issue in 1.5.0.0

[2021-05-04 22:11] stevenbrix opened #4835 "Date modified is incorrect on some files"
**Explain the bug**
Date modified is incorrect on some files, but it doesn't seem to be all.

See screenshot below, i think it sums up the problem pretty well:
![image](https://user-images.githubusercontent.com/9649518/117076013-9958f200-acea-11eb-854e-b83a2757036f.png)

**Logfile**
[debug.txt](https://github.com/files-community/Files/files/6424185/debug.txt)
[debug_fulltrust.txt](https://github.c

[2021-05-04 22:12] stevenbrix commented on #4835
Seems similar to #2917, but since this isn't just being off by a few hours, i filed a new issue

[2021-05-04 23:04] winston-de commented on #4835
Thanks for reporting this. Could you please check if caching is enabled (Settings -> Experimental -> Cache files and folders for better performance)? If it is enabled, does the issue occur when it's disabled?

[2021-05-04 23:16] yaichenbaum commented on #2917
@stevenbrix It'll be part of the v2 release, we don't have any timeline on when that will though. But if you're up to it, you can join the preview flight.

[2021-05-05 03:58] #3218 closed

[2021-05-05 03:58] #3275 closed

[2021-05-05 07:01] Shaheer-Mirza opened #4836 "Slow loading of large folders"
**Is your feature request related to a problem?**
Yes, The loading time of folders containing lots of files is considerable.

**Describe the solution**
My Desktop contains lots of files and when I open my desktop folder using this application, it takes about 10 seconds to show all the files.

**Describe alternatives you've considered**
Please improve the performance as it may solve the problem.

*

[2021-05-05 08:38] dazlab commented on #4830
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6425904/debug_fulltrust.txt)

Just tried it now, and no. I had to refresh the view to see the newly created file. To recreate: choose a directory, right-click and select New Text Document. It creates the document, but it doesn't update the current view until you manually refresh.

[2021-05-05 10:16] fmarrub opened #4837 "Files se cierra al intentar abrir una carpeta"
Hola.
Cuando intento acceder a una carpeta determinada Files se cierra

[2021-05-05 12:03] TailyFair commented on #4811
I would like to add additional idea. Currently it seems that in status UI only active transfers are visible.
It would be great to see at least few last file transfers to verify that something was completed.

[2021-05-05 12:04] fnfontana commented on #4751
Hello,

After update my Windows to 20H2 version, I was able to use your app.

Thank your for the support!

Em seg., 26 de abr. de 2021 às 17:02, Yair Aichenbaum <
***@***.***> escreveu:

[2021-05-05 12:12] josh-65 commented on #4811
I think that might be better as a windows notification as then there's a sound and popup on the main display. Action centre on windows could log it and users can see the ones done there.

I think the status page should pop out like the preview pane. that way the users could adjust the width and it more consistent with the rest of the app.

[2021-05-05 12:16] josh-65 opened #4838 "Files transferring duplicate dialog"
**Describe the solution**
It's annoying to do them individually so adding a button on top of the start of actions could act like an apply all. Details should also be out by default.

[2021-05-05 12:30] josh-65 commented on #4806
Issue seems to be fixed now haven't encounter it recently.

[2021-05-05 12:30] #4806 closed

[2021-05-05 12:36] josh-65 commented on #4830
Are you trying to make the files in L: or P: drives as they are network locations and that's the only area it won't refresh automatically for me.

[2021-05-05 12:54] josh-65 commented on #4837
You will need to follow the bug template.

How to reproduce the issue.
logs (settings > about > open log folder > upload debug and debug_fulltrust).
Windows 10 version and app version.

[2021-05-05 13:05] rounk-ctrl opened #4840 "Problem with Libraries(again)"
**Explain the bug**
When i click documents in libraries section, the blue bar jumps to the documents from Favorites Section.
Only happens with Documents, nothing else.

**To reproduce**
1. Enable Libraries (if not already).
2. Click on Documents under Libraries.
3. See Bug.

**Expected behavior**
To see the blue bar where it should've been

**Screenshots**
![Reference](https://rounk.is-inside.me/D

[2021-05-05 13:08] yaichenbaum commented on #4840
This issue should be resolved in `.main`.

[2021-05-05 13:08] #4840 closed

[2021-05-05 13:11] rounk-ctrl commented on #4840
oh ok

[2021-05-05 13:11] yaichenbaum commented on #4838
You can select multiple items and right click on them to take an action in the conflicts dialog.

[2021-05-05 13:11] #4838 closed

[2021-05-05 13:12] #4837 closed

[2021-05-05 13:13] yaichenbaum commented on #4836
@Shaheer-Mirza What version of Files & Windows do you have?

[2021-05-05 14:58] Shaheer-Mirza commented on #4836
Windows : 20H2

![image](https://user-images.githubusercontent.com/83059821/117162267-1021e800-addc-11eb-851b-53c58975f17d.png)

Files: 1.5.0.0

![image](https://user-images.githubusercontent.com/83059821/117162373-2465e500-addc-11eb-9fd1-cc54f5a95013.png)

[2021-05-05 15:36] fieldscoral opened #4841 "bug"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-05-05 15:37] #4841 closed

[2021-05-05 15:50] yaichenbaum commented on #4836
@Shaheer-Mirza Is this still an issue if your turn off the option to cache items?

[2021-05-05 16:47] Shaheer-Mirza commented on #4836
I am observing the changes for the Cache settings.
One more issue. When I open the new Tab of the application, sometimes I do not see the storage bar of the drives. The screenshots are attatched.

![ApplicationFrameHost_2AVTMUU1mI](https://user-images.githubusercontent.com/83059821/117178264-4ca91000-adeb-11eb-86dd-5fdd561ba4af.png)
![0Txf5FETym](https://user-images.githubusercontent.com/83059821/

[2021-05-05 20:00] yaichenbaum commented on #4836
@Shaheer-Mirza This is a known issue. It will hopefully be resolve in v2.

[2021-05-05 20:00] #4836 closed

[2021-05-05 21:10] pozm opened #4842 "Add option to create symlinks"
**Is your feature request related to a problem?**
A clear description of what the problem is.
No.
**Describe the solution**
A clear description of what you want.
I would like to be able to create symlinks from within the applications as currently you would have to use the command line with the command mklink.
**Describe alternatives you've considered**
A clear description of any alternative soluti

[2021-05-05 23:58] ADeltaX opened #4845 "Feature: Display "shield overall" indicating elevation is required"
Windows Explorer displays an overlayed tiny shield icon for executables that requires an elevation.
![image](https://user-images.githubusercontent.com/11020093/117223464-0618dd00-ae0e-11eb-9a21-af363a5d72be.png)

**Describe the solution**
The following function will let you know if an elevation is required for a given executable file path.

[code]

Usage:
[code]

@yaichenbaum

[2021-05-06 04:53] Shaheer-Mirza commented on #4836
Both cache on or off takes about the same time.

[2021-05-06 05:00] Shaheer-Mirza commented on #4836
Please try to add an online cloud manager in the application.
Helpful screenshots are attatched.
![image](https://user-images.githubusercontent.com/83059821/117244017-b956f580-ae51-11eb-9de8-d2f397394fcb.png)
![image](https://user-images.githubusercontent.com/83059821/117244037-c378f400-ae51-11eb-8a0a-dfb294499c34.png)
![image](https://user-images.githubusercontent.com/83059821/117244062-cffd4c80-

[2021-05-06 09:46] fmarrub opened #4846 "Files se cierra al abrir una carpeta"
Hola.
Disculpad que no hablo inglés y que es la primera vez que hago esto.

Cuando intento acceder a una carpeta determinada Files se cierra. Uso windows 10. El problema no se arregla al reiniciar el ordenador. La versión de Files es 1.5.0.0
Os  intento copiar los archivos de registro y un video de Loom.
[debug.txt](https://github.com/files-community/Files/files/6433471/debug.txt)
[debug_fulltrust

[2021-05-06 15:18] ghost opened #4848 "Show linux hidden folders"
Hi there,
Is there an option to see linux hidden folders, the ones that have ' . ' dot in begining of their name?
cheers

[2021-05-06 16:26] yaichenbaum commented on #4848
I don't think it's any different than showing regular hidden folders, do you have the option to view hidden items turned on?

[2021-05-06 18:21] #4846 closed

[2021-05-06 19:54] yaichenbaum commented on #4511
@cinqmilleans We don't have plans to go through with this for regular folders. However, we still plan to do this for the sidebar.

[2021-05-06 21:47] minidarknova commented on #4848
Yes I have that option on, and I can see windows hidden folder but not linux aka the ".downloads" for example.

[2021-05-06 22:03] duke7553 commented on #3869
@yaichenbaum This seems to be completely resolved now.

[2021-05-06 22:29] josh-65 opened #4850 "Pin to start in overflow submenu when settings off"
**Explain the bug**
Pin to start menu is in a sub menu even when "move overflow items to sub menu" is off.

**Expected behaviour**
Should be out with the rest of them.

**Screenshots**
![image](https://user-images.githubusercontent.com/26977075/117373102-8ac53300-aec2-11eb-9276-a8e54c5991c8.png)

**System Information**
 - OS Version: Windows 10 20H2 19042.928
 - App version: v1.5,26

[2021-05-06 22:48] yaichenbaum commented on #3869
@duke7553 The last item in the list doesn't seem to have been implemented yet. Let's reopen this for now.

[2021-05-06 22:56] #3869 closed

[2021-05-07 01:55] yaichenbaum opened #4852 "Add support for detecting rich information for custom themes"
**Is your feature request related to a problem?**
Files currently displays a simple drop down with a list of available custom themes but it doesn't provide information such as if the custom theme supports light/dark mode.

**Describe the solution**
We can add a GridView that has rich information as weel as a preview of the primary color of the theme. This information will be included in a json fil

[2021-05-07 06:41] ShobanChiddarth opened #4853 "How to set this app as the default file explorer app in windows 10"
This is better than the default file explorer app. How to set this as the default? (This should open whenever choosing download location in browser or uploading files to some sites or even when clicked on path links and every other file things)

How?

[2021-05-07 06:42] Jaiganeshkumaran commented on #4853
@ShobanChiddarth See https://files-community.github.io/docs/#/articles/replace-file-explorer

[2021-05-07 07:08] ShobanChiddarth commented on #4853
Thanks

[2021-05-07 07:42] #4853 closed

[2021-05-07 08:33] Twentydragon opened #4854 "Precise dates"
### Problem
In the new Files application, the dates/times shown default to a "fuzzy" format, showing relatively how long ago they were created or last modified. However, "3 days ago" and so on break the format of simply showing the exact date and time _(Fig. 1)_.

### Solution
It would be useful for there to be an option under `Settings > Appearance` or `Settings > Preferences` to show exact dates

[2021-05-07 10:25] cinqmilleans commented on #4511
@yaichenbaum I hadn't done it because there were bugs with the libraries. These bugs seem to have been fixed. I will create a pr today after further testing.

[2021-05-07 16:01] winston-de commented on #4854
Thanks for opening this well-detailed request.

Regarding the text cutoff issue the details pane, the design is being updated to fix that.
![image](https://user-images.githubusercontent.com/59544401/117476772-13b78b00-af12-11eb-9ef8-811679366637.png)

[2021-05-07 19:29] yaichenbaum commented on #4854
@Twentydragon You can already change this behavior by changing the date format to system.

[2021-05-07 21:00] Twentydragon commented on #4854
My setting had already been in System mode, but it appears that changing to Application, refreshing, changing back to System, and refreshing again fixed the formatting.

However, this only sticks until the next time I open Files; then it's right back to the mixed display.

Upon opening with System already set:
![image](https://user-images.githubusercontent.com/9030918/117507853-dd473380-af44-11eb-

[2021-05-07 21:57] #4511 closed

[2021-05-08 09:55] esysfound opened #4859 "Copy / Delete progress bar"
**Is your feature request related to a problem?**
A clear description of what the problem is.

Not clear when a copy is complete -especially with multiple files

**Describe the solution**
A clear description of what you want.

Simple "progress bar" showing % of copy complete updating in real time.

**Describe alternatives you've considered**
A clear description of any alternative solutions or feat

[2021-05-08 11:36] cinqmilleans commented on #4850
This bug is related to the ShowOnShift property
1) ShowOnShift is only used for PinItemToStart and UnpinItemFromStart.
2) The expected behavior of ShowOnShift is probably to show the command only if shift is pressed.
3) The real behavior of ShowOnShift is to show the command in More when Shift is not pressed.
4) Why only display commands with Shift? It's not intuitive and the user never will.
5) T

[2021-05-08 11:53] josh-65 commented on #4859
There is a percentage for the on going tasks it just doesn't work well. they are improving it in #4811

[2021-05-08 12:02] josh-65 commented on #3486
I would like to see this too if its possible.

[2021-05-08 16:49] josh-65 commented on #4807
Never mind cant delete content in the c: drive even though it only needs admin access according to file explorer. and the some that don't and that are being used it wont say that it just does nothing.
[debug.log](https://github.com/files-community/Files/files/6446206/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/6446207/debug_fulltrust.log)

[2021-05-08 22:16] ChildishGiant commented on #4037
Generally the app is very slow to load, select items etc overall for me. I'm happy to do diagnostics if this is unusual but for now I'm using explorer again

[2021-05-08 22:27] riskirills66 opened #4865 "I can't share folder because there is no option for that."
I used to manually share my folders, but it seems the Files don't have that feature yet. Was searching for the duplicate request, can't find one, I hope this will be the first.
I used to click folder properties and use sharing tab to enable the shares, but the properties in Files only give me one General tab. I hope I can choose legacy Propertice because Files properties are not advanced like the

[2021-05-08 22:31] #4865 closed

[2021-05-08 23:11] josh-65 commented on #4540
just to let you know I have updated listed the extension that change it to grid mode.

[2021-05-09 01:39] yaichenbaum commented on #4540
@d2dyno1 Can I assign you this issue?

[2021-05-09 01:40] #4859 closed, assigned to nobody

[2021-05-09 02:59] C4pua opened #4866 "Coloring folders"
It would be very interesting to put a color palette to color the folders.

[2021-05-09 03:23] yaichenbaum commented on #4866
We don't have plans to build this feature into Files, but there are third party apps such as Folder painter that can do this.

[2021-05-09 03:23] #4866 closed

[2021-05-09 04:44] GorthMohogany opened #4867 "When single-click is active, long pressing on an item to open context menu still clicks the item"
As the title explains, the item is still clicked when long pressing on an item to bring up the context menu. The result is that , while the context menu does eventually display, the file is opened/executed or the folder is navigated into. This action also causes the context menu to disappear because it loses focus. This makes opening context menus impossible while the single-click option is enable

[2021-05-09 07:27] whittaylor opened #4868 "Files closed unexpectedly."
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-05-09 09:11] d2dyno1 commented on #4540
Sure, I've been bit busy recently but this shouldn't be much work.

[2021-05-09 10:32] josh-65 commented on #4868
Fill in the template

[2021-05-09 14:47] #4868 closed

[2021-05-09 16:23] elmoalso opened #4869 "Crash and Exit On Recycle Bin Listing"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-05-09 16:26] #4869 closed

[2021-05-09 17:15] winston-de commented on #4867
@yaichenbaum This issue occurs with the old details view layout, but not the new one. Should this be considered fixed?

[2021-05-09 19:23] elmoalso opened #4870 ""Files" crash and spontaneous exit when expanding recycle bin on Seagate External Backup Plus Drives"
**Explain the bug**
Files crashes and spontaneously exits when trying to see contents of recycle bin in Seagate USB External Backup Plus Drives.

To Reproduce:
Reproducible 100%; Two USB External Seagate Backup Plus Drives. One model p/n 2R2APM-505 5 TB and new. One is an old model p/n unknown, 3 TB. "Files" responds the same on both.
Open "Files" app > Select either of the two Seagate Backup Plus

[2021-05-09 21:56] esibruti commented on #4811
For the whole conversation that I've been watching, I'll give my opinion: the current state center needs to be improved, this is an inescapable fact, it has to be more appealing and easier for the user to understand how it works.  Therefore, I propose the following idea: could we make a state center like something similar to the Windows notification center? From the way I am saying it is a bit com

[2021-05-09 22:40] #4225 closed

[2021-05-09 22:43] #4246 closed

[2021-05-09 23:58] yaichenbaum commented on #4811
I just want to give an update on this issue. We plan to continue using a similar UI to what we already have. The plan is to improve the UI on the status bar to indicate the overall progress of all operations, and to update the icon depending on the status. We are also working on improving the reported progress.

[2021-05-09 23:59] yaichenbaum commented on #4246
@josh-65 Should we keep this open to continue tracking it? We are working on including some themes with the app by default.

[2021-05-10 00:58] josh-65 commented on #4246
I thought it wasn't needed as there now a themes extension in the store for easy access and since there going to be some included by default anyway.

[2021-05-10 09:04] adumat commented on #4488
i have the same problem.

[2021-05-10 09:34] bartvanandel opened #4874 "Date display format is inconsistent in Dual Pane mode at times"
**Explain the bug**
See attached screenshot. Left pane uses a different date format than the right.

Looks like Date format setting isn't applied correctly in Dual Pane mode. This happens when opening a new Dual Mode tab when the current setting is set to "Application" and opening a dir in both panes. When the current setting is "System", date formats in both panes of a new Dual Mode tab are the s

[2021-05-10 10:40] dazlab commented on #4830
Yes, my user profile is a network location. However, I tried doing it in the root of C: and again no live refresh. Specifically when trying to create a .txt file. Seemed to work when creating a directory.

Can you confirm?

[2021-05-10 11:34] TobberH commented on #4768
I'm running latest version 1.5.0.0 from the Microsoft Store. Still have the issue, so app is unusable.

[2021-05-10 14:09] #4792 closed

[2021-05-10 14:12] yaichenbaum commented on #4768
This issue will most likely be resolved when we release v2.

[2021-05-10 15:50] josh-65 opened #4875 "Network drives don't automatically refresh"
**Explain the bug**
Deleting, copying, moving, creating file or folder wont refresh automatically

**Expected behaviour**
It should refresh contents like any attached storage devices

**Logfile**
[debug_fulltrust.log](https://github.com/files-community/Files/files/6453341/debug_fulltrust.log)

**System Information**
 - OS Version: Windows 10 20H2 19042.928
 - App version: v1.5.26

[2021-05-10 16:59] yaichenbaum commented on #4875
Merging with #2042.

[2021-05-10 16:59] #4875 closed

[2021-05-10 18:10] yaichenbaum commented on #4813
@mdtauk The search results don't show in a sidebar, this issue is regarding a flyout to adjust the filters...

[2021-05-10 19:31] cinqmilleans commented on #4813
The idea is to give the most common search cases, so you don't lose the user with too many options. It is in the logic of Files to keep it simple but comprehensive. The last case (custom) will be for advanced users, who will choose all the filters they want (property, comparator, ...), but the user shouldn't use it in most cases.

[2021-05-11 02:19] disantbr opened #4876 "Tabs in Library"
In the library tab you need to have the Desktop and Downloads folders

[2021-05-11 08:42] d2dyno1 commented on #45
@ChihweiLHBird I'm very busy this month. Feel free to start initial work on this if you want :)

[2021-05-11 10:35] haneenmahd commented on #4665
https://github.com/files-community/Files/blob/c098f579997f11bd77c540d0567643dd666e29af/Files.Launcher/packages.config#L1-L4

Maybe you need a windows build which supports the latest version of `.NET` Framework or Sdk

[2021-05-11 10:35] josh-65 commented on #4619
So it sort of works on 1.5.26. The issue now is when an items selected it won't bring it up but when it's not it will but also open the file/folder.

[2021-05-11 13:38] #4876 closed, assigned to nobody

[2021-05-11 13:41] yaichenbaum commented on #45
@ChihweiLHBird We used that in the original implementation, but we weren't very happy with the results. Because of this, we decided to base the feature off an alternative such as the shell dialog (with a custom UI), or a custom UI for 7zip.

[2021-05-11 14:29] MrJeff47 opened #4878 "Incompatibility with Google Drive Filestream."
**Explain the bug**
I'm triyng to use Google Drive in Files in the same way i used to use in Explorer, it something like the "Files by Demand" in OneDrive, i use this in work, but, the firt one folders in Google Drive are "hidden" in Files, but i can access those folders by copyng the directory from Explorer, however, some folders crashes the app, making it close itself, that problem not happen in

[2021-05-11 15:38] disantbr commented on #4876
there are currently only four standard folders on the library tab.  It should have the Desktop and Downloads folder as a default as well

[2021-05-11 19:58] josh-65 opened #4879 "Path bar only allow clicking on the text to navigate"
**Explain the bug**
When I try to go somewhere in the path the text is the only clickable part even though the is a button around it that highlights. it should trigger it with the whole button.

[2021-05-11 20:01] #4705 closed

[2021-05-11 22:49] Fairydx commented on #4878
Mine works fine 🤔
In version from Microsoft Store, version 1.5.0.0

[2021-05-12 09:33] jh961202 opened #4884 "Feature: Show error message when copying/moving large file to FAT32 filesystem"
**Explain the bug**
Since FAT32 doesn't support huge size file (>=4GB), Windows will show an alert message when trying to move/copy such file(s) into FAT32 filesystem (i.e. USB Flash Disks), but not in Files.

**To reproduce**
1. Make up an huge enough file that is over 4GB, such as DVD ISO image and so on.
2. Make up a FAT32-formatted drive such as inserting a USB Disk
3. Copy-paste or cut-paste

[2021-05-12 09:54] Noxdor opened #4885 "Missing file extension on new file creation"
**Explain the bug**
When I want to use Files to create a new file of a specific type (e.g. a word document or an excel document) it doesn't add any file extension. For example I click to create an Excel file and give it the name "test". It doesn't create the file "test.xlsx" but "test". Same happens with any other file type, Word, txt etc.

**To reproduce**
1. Go to any folder
2. Right click -> ne

[2021-05-12 09:58] techgue opened #4886 "shortcut for opening the app"
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish

[2021-05-12 10:00] pklion opened #4887 "Weekly Builds?"
**Is your feature request related to a problem?**
I don't have an environment to build Files from source.

**Describe the solution**
So I would love to have weekly builds.

**Describe alternatives you've considered**
N/A

**Scope**
Should? (at least I want)

**Additional comment**
N/A

[2021-05-12 12:05] Jaiganeshkumaran opened #4888 "Open in terminal uses root drive path instead of folder path"
**Explain the bug**
The open in terminal option seems to open it in C: rather than the current working directory.

**To reproduce**
1. Go to any folder except the root drive (C: in my case)
2. Right click and hit open in terminal
4. See the error

**Expected behavior**
Write a clear description of what you expected.
It should open in the current working directory instead of the root drive location

[2021-05-12 12:06] josh-65 commented on #4887
if you join the discord you can request for insider. that will get you more updated builds.

[2021-05-12 12:08] josh-65 commented on #4886
you can set files as default using the instructions here (https://files-community.github.io/docs/#/articles/replace-file-explorer) then use windows key + e. you can also add it to the start menu or task bar.

[2021-05-12 12:12] josh-65 commented on #4885
if you are clicking on new file you have to add it while naming it like .txt for text documents

[2021-05-12 12:16] josh-65 commented on #4888
It works fine for me in the new windows terminal. You will properly have to upload your logs.

[2021-05-12 12:21] josh-65 commented on #4878
Apparently 1.5.2 was broken you should have an update in the store or msixbundle on GitHub to fix it

[2021-05-12 12:33] MrJeff47 commented on #4878
Thank you guys for the attention, but how do i download this update on GitHub? Sorry, i'm kinda new in here 😅

[2021-05-12 12:38] josh-65 commented on #4878
You might have to uninstall the one you have currently or use the Microsoft store as it will likely reset your settings but https://github.com/files-community/Files/releases/download/v1.5/Files-1.5.Msixbundle  download that then click on it. it should open a windows you can click install

[2021-05-12 12:39] pklion commented on #4887
@josh-65 I'm already in the insider :)
But it's not weekly

[2021-05-12 12:42] pklion commented on #4887
I want to have weekly builds like Microsoft Edge if we can...

[2021-05-12 12:50] MrJeff47 commented on #4878
As you said, apparently this is a 1.5.2 bug, the 1.5 works perfectly, thank you so much! 😄 Its even faster now.

[2021-05-12 14:45] Noxdor commented on #4885
Well I'm sorry but that makes no sense! Why would I choose the file type then anyway? I don't want to remember every file extension just to create basic files. I'm not talking about the blank file option obviously, I'm talking about the specific Excel, Word, PP, Textfile, etc. types.

![image](https://user-images.githubusercontent.com/64439978/117995082-537ed800-b341-11eb-97d4-8bbf3f1d34db.png)

[2021-05-12 15:03] josh-65 commented on #4885
ah I was talking about the blank file option were you have to add the extension yourself. i don't have MS office so I cant try that but it does work for me with open office and the zip ones.

[2021-05-12 15:58] winston-de commented on #4886
Adding on to what josh-65 said, another method to configure the Win+E shortcut without replacing Explorer with Files is to use [this](https://files-community.github.io/docs/#/articles/configure-win-e) guide.

[2021-05-12 15:58] #4886 closed

[2021-05-12 16:20] hiranmayd opened #4889 "Ellipse-based selector for touch-based devices."
**Is your feature request related to a problem?**
No.
**Describe the solution**
There needs to be a way to select stuff on (primarily) touch-based devices quicker without going into a multiselect mode in the upcoming beta, this could also be a potential UI concept/mock-up for the multi-select mode. depends on the way y'all see it. Pls refer to image attached. Conceptualized for grid-view and detai

[2021-05-12 16:22] yaichenbaum commented on #4887
The insider channel is already updated about once a week. Sometimes we run into blocking issues so we can't release an update, but we usually let you know when that happens.

[2021-05-12 16:22] #4887 closed

[2021-05-12 16:24] yaichenbaum commented on #4885
@Noxdor Thanks for opening this issue, it's resolved in the `main` branch and will be included in the next update.

[2021-05-12 16:24] #4885 closed

[2021-05-12 16:28] yaichenbaum commented on #4888
This issue appears to be resolved in `main`.

[2021-05-12 16:28] #4888 closed

[2021-05-12 17:04] hiranmayd commented on #4813
The concept attached above (https://github.com/files-community/Files/issues/4813#issuecomment-836875139) is a wonderful and comprehensive representation of a hypothetical flyout which serves the purpose of allowing the user to add filters. I am attaching my concept which,
a ) shows how existing / applied filters can be represented.
b ) demos an alternate way to add filters.
=======================

[2021-05-12 17:06] winston-de commented on #4889
Hi there, thanks for opening this issue. Your concepts look very nice, and are also fairly similar to what we already have for multiselect (and looks even more similar on devices with dev channel builds of Windows).

![image](https://user-images.githubusercontent.com/59544401/118013861-6d032e00-b307-11eb-9504-9f91d3175d5b.png)
![image](https://user-images.githubusercontent.com/59544401/118015085-c

[2021-05-12 17:44] hiranmayd commented on #4889
This is great! I hadn't seen this. firstly, having a tick beside the item (img 1) might confuse the user so I think you should reconsider that. Except for that, it'll be great if these small selection boxes were persistent and not triggered by something like the multi-select mode **on touch devices**.
Multi-select mode for keyboard and mouse users is great but they can always ctrl + click to selec

[2021-05-12 17:58] winston-de commented on #4889
The reason why multiselect mode is not always enabled is because there isn't a small selection box, clicking/tapping any part of the item toggles selection instead of opening it. This does require a few extra taps to toggle, but it makes it easier to select with touch as there isn't a tiny hit area the user has to tap.

Although a bit old, here's a demonstration of it:

https://user-images.githubu

[2021-05-12 18:57] user13r9105713 commented on #4764
I also have this problem.

[2021-05-12 19:11] user13r9105713 commented on #4764
Hey, if you see this, the issue was fixed when I reset the app from Windows 10 settings. Hope this helps.

[2021-05-12 19:25] user13r9105713 commented on #4764
This problem is only fixed the first time you use it after resetting. The next time you open Files, the program crashes when opening a folder with a large number of items.

[2021-05-12 19:50] #4796 closed

[2021-05-12 19:50] yaichenbaum commented on #4796
@chingucoding This issue should be resolved with #4839.

[2021-05-12 22:47] aeges opened #4890 "Feature: Support for changing the preview pane position"
**Is your feature request related to a problem?**
Depending of the size of the file list the preview pane is either to the right or at the bottom.
This is a bit uncomfortable when e.g. previewing documents (pdf or word): The preview is often to small and with two (file) panes it happens that one pane shows the preview to the right and the other at the bottom.
Also the details pane is not always ne

[2021-05-12 23:54] Imransagor338 opened #4892 "Files properties crashed continuously"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-05-13 00:11] yaichenbaum commented on #4892
We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-05-13 00:11] #4892 closed

[2021-05-13 01:33] #4878 closed

[2021-05-13 07:39] hiranmayd commented on #4889
ok that seems great, but how about a select button by itself instead of it being inside a menu?

[2021-05-13 07:42] hiranmayd commented on #3882
This is great but where will the main sidebar go?

[2021-05-13 07:45] hiranmayd commented on #4789
Well what if it just redirected you to the home page when you close your last tab and have that setting enabled?

[2021-05-13 07:48] voiiden commented on #3882
next to the vertical tabs I would assume

[2021-05-13 07:52] hiranmayd commented on #4811
TBH, having a progress indicator is the best solution as it grabs the user's attention.
The way it works currently involves unnecessary navigation and it can be reduced by something like this :
This is a concept I had made for a personal project which had status in the side-bar but you can adjust that to your liking
![Figma_kcaXakEFbN](https://user-images.githubusercontent.com/60701764/118095692-0

[2021-05-13 08:36] dazlab commented on #4830
I will try that, thanks. It also doesn't seem to show shortcuts, but I'll see what it's like after a re-install.

[2021-05-13 08:47] torgeros commented on #4789
Yeah that is exectly what I was expecting: On closing the last tab, it opens a new empty tab with the home page. Of you could instead just redirect the existing tab to the home page...

[2021-05-13 09:35] esibruti commented on #4811
This concept is very beautiful. It would be interesting to see something like that in the Files.

[2021-05-13 10:13] hiranmayd commented on #4789
Yep.

[2021-05-13 10:14] hiranmayd commented on #3882
yes, but personally i don't think that'd be user-friendly, having two side-bars stacked side by side isn't an optimal solution.

[2021-05-13 10:14] hiranmayd commented on #4811
Thanks.

[2021-05-13 10:16] hiranmayd commented on #4789
Yeah or maybe you can set a custom default page for that scenario too

[2021-05-13 11:47] josh-65 commented on #4830
network drives don't show shortcuts yet. there's an issue open for that

[2021-05-13 12:09] josh-65 opened #4903 "Sync settings across devices"
**Is your feature request related to a problem?**
Right now I have to set all settings for every device witch is kind of annoying.

**Describe the solution**
Don't know if its possible but sync all settings through the store so that there applied when reinstalling or opening on new device.

**Describe alternatives you've considered**
Export settings file like windows terminal has, if store syncing

[2021-05-13 12:27] torgeros commented on #4789
The default page aka home page can be customized from the settings already

[2021-05-13 13:08] hiranmayd commented on #4789
yes, but i was talking about being able to be redirected to a different page than just home.

[2021-05-13 13:53] yaichenbaum commented on #3882
This is the main issue preventing us from implementing this feature.

[2021-05-13 13:57] yaichenbaum commented on #4903
The current plan is to enable importing/exporting user settings #1260.

[2021-05-13 13:57] #4903 closed

[2021-05-13 14:15] torgeros commented on #4789
Imo the pages shown on "new tab" and "new single tab because you closed the last one"should be the same.

[2021-05-13 14:23] hiranmayd commented on #4789
i agree.

[2021-05-13 14:24] hiranmayd commented on #3882
I see. It might be a good idea to just keep the idea of vertical tabs aside

[2021-05-13 14:28] hiranmayd commented on #3562
https://twitter.com/zeealeid/status/1302277651466420225?s=20
a flyout like this might be a great solution for being able to select multiple files at once

[2021-05-13 14:51] yaichenbaum commented on #4789
We don't have plans to implement this change. We'd like the tab behavior to be consistent with Edge and Chrome.

[2021-05-13 14:51] #4789 closed

[2021-05-13 15:40] yaichenbaum commented on #2922
We are looking into which actions should show in the toolbar, when you select a file or folder, would you prefer static items regardless of the file type e.g cut, copy, rename, open, delete. Or would you prefer the actions to change based on the item type? If the actions change based on the item type, can you provide some examples on what kinds of actions you would like for different item types?

[2021-05-13 17:04] alejor201 opened #4904 "files problem"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-05-13 20:43] winston-de commented on #4889
That's a good idea, and I believe others have requested that as well. Would you like to open an issue for it?

[2021-05-13 22:48] yaichenbaum commented on #4889
Is there a reason we can't show check boxes like the concept? We would still want to keep the menu option because that enables larger touch targets, but I still think there is a benifit of showing the checkboxes all the time.

[2021-05-13 23:24] winston-de commented on #4889
@yaichenbaum No, all that would need to be done is add a checkbox to all the templates and handling the tapped event so that it overrides the default tap behavior (which is selection). I'm not sure how much the checkboxes would interfere with the multiselect selection checkboxes though.

[2021-05-13 23:26] yaichenbaum commented on #4889
Another option is to ditch the current behavior altogether, and to use larger touch targets for touch input.

[2021-05-14 01:23] yaichenbaum commented on #4904
We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-05-14 01:23] #4904 closed

[2021-05-14 04:10] yaichenbaum opened #4906 "Open in secondary pane option missing from the sidebar context menu"
**Explain the bug**
The option to open an item in a secondary pane doesn't show in the sidebar context menu after enabling the dual pane feature until after the app is restarted.

**To reproduce**
1. Enable the dual pane feature
2. Right click on the sidebar
3. See the error

**System Information**
 - App version: v1.5.

**Additional comment**
The menu item shows correctly after restarting the app

[2021-05-14 05:41] hiranmayd commented on #4889
sure, ill do that later!

[2021-05-14 05:43] hiranmayd commented on #4889
please elaborate

[2021-05-14 05:48] hiranmayd commented on #2922
Yeah, I'd love the latter one, my idea is there have to be universal actions, copy, paste, delete, all these should be there regardless of the file type or context, maybe decide on what we want as universal ones, and then the remaining space will be occupied by context-aware or morphing actions, alternatively I'd love the user to have full control on this, so imagine if the user can set universal

[2021-05-14 13:17] duke7553 commented on #4879
@josh-65 You're going to have to provide us more information like what version of the app this is.

[2021-05-14 14:33] yaichenbaum commented on #2922
@hiranmayd Can you provide some examples on what kinds of custom actions you would like for different item types?

[2021-05-14 14:39] #4600 closed

[2021-05-14 14:50] hiranmayd commented on #2922
Maybe like rotate, edit for pictures, open in video editor for videos, something like that, one more thing I have in mind is, what if it shows icons of the app i can open my file type in, not just default apps.

[2021-05-14 14:59] #1874 closed

[2021-05-14 15:01] yaichenbaum commented on #1874
@AlexDavies8 This feature was implemented in #4826.

[2021-05-14 15:12] yaichenbaum commented on #2922
Good feedback!

How would that work if there are multiple apps that can open the file?

[2021-05-14 15:47] josh-65 commented on #4879
Whops sorry:
OS version Windows 10 Pro 20H1 19042.964
App version: 1.5.26.0

[2021-05-14 16:31] hiranmayd commented on #2922
That's exactly where it'll shine, multiple app icons so that I can choose where to open it.

[2021-05-14 17:15] duke7553 commented on #4879
@josh-65 Thanks!

[2021-05-14 18:54] hiranmayd commented on #4813
@yaichenbaum any progress/update about this?

[2021-05-14 19:16] yaichenbaum commented on #4813
@hiranmayd The concept looks good. I'd like to give some time for others to give feedback on it.

[2021-05-14 23:18] voiiden commented on #2922
a disadvantage to having content aware context menus could be less predictability. when the menu is static, you always know where the buttons are, which makes you faster.

[2021-05-15 01:45] RafaelPereiraSilva commented on #4823
I'm facing this same issue =/ Spacebar doest not do anything

[2021-05-15 01:47] RafaelPereiraSilva commented on #4823
I was having this issue, but i realised I needed to reopen Files so quicklook could apply on the app haha

[2021-05-15 03:47] stanleyowen opened #4909 "Search Feature not Working"
**Explain the bug**
`Files` Search Feature doesn't seem to display the document(s), whether through `keywords` or `exact` file name, which the users may want to search for it.

**To reproduce**
1. Go to a directory which consists of files
2. Click on Search Button
3. Try to Type Some `Keywords` or Exact File Name
4. No file(s) is previewed

**Expected behavior**
Data(s) or file(s) should be previe

[2021-05-15 04:22] stanleyowen opened #4910 "Files Crashed After Switching Between Hide and Unhide Folders"
**Explain the bug**
`Files` Crashed After Switching certain Folders from Hide Status to Unhide. `Files` will crashed after some operations of `hide` and `unhide` the same folders.

**To reproduce**
1. Open `Download` Tab
2. Click on `Properties` and Check Unhide/Hide
3. Click on `OK` nor `Cancel`
4. See `Files` closes unexpectedly

**Expected behavior**
Folder(s) should be hidden or unhidden after

[2021-05-15 04:36] stanleyowen opened #4911 "Map Network Drive Dialog isn't Being Previewed In the Front Position After Clicking It"
**Explain the bug**
Map Network Drive Dialog isn't being previewed In the front position after clicking it, otherwise it shows up in the back of the application, which is not effective for users to minimize the `Files` app and switch it to the Map Network Drive DIalog

**To reproduce**
1. Open `FIles`
2. Go to `Home` on `Favorites` Tab
3. Besides the drive label, click on the three dots icon and c

[2021-05-15 04:51] stanleyowen opened #4912 "Unable to Rename Drive(s) Name via Properties"
**Explain the bug**
When users click on a file(s) properties, the app will show up many details or description about a certain files, besides that, users are also able to rename their file(s) or folder(s) via Properties by move the cursor to the folder(s) or file(s) name and change it. However, when users open properties of a Unable to Rename Drive(s) Name via Properties.

**To reproduce**
1. Open

[2021-05-15 05:14] stanleyowen opened #4913 "Empty Recycle Bin Not Working"
**Explain the bug**
Empty Recycle Bin `Button` doesn't seem to work because the file(s) which wanted to be deleted permanently is/are still exist(s). The option I am doing now is by deleting manually which is using `Shift` + `Delete` button.

**To reproduce**
1. Go to Recycle Bin tab
2. Make sure the Recycle Bin isn't empty, otherwise the `button` is disabled
3. Click on the Empty Recycle Bin `but

[2021-05-15 05:50] stanleyowen opened #4914 "Navigation Display Becomes Messy While One Tab Open Navigation and Others Close Navigation"
**Explain the bug**
`Navigation Display` becomes messy or being cut while One Tab uses `Open Navigation` option and the other tab uses `Close Navigation` option.

**To reproduce**
1. Open `Files`
2. Click on `Close Navigation` on current tab
3. Click on New Tab which automatically uses `Open Navigation` option
4. Switch back to first tab
5. Navigation Tab Display only show half of the supposed `wi

[2021-05-15 06:57] cinqmilleans commented on #4913
This issue has been corrected since the last release. So this will be in the next version.

[2021-05-15 07:00] bhupathi189 commented on #4391
When I tried to open a new location, then again it crashed. Before crashing, there were no thumbnails of my files. When opened 2nd time, it is working fine. I think bug is in first indexing or thumbnail retrieval.

[2021-05-15 07:31] cinqmilleans commented on #4813
@yaichenbaum @hiranmayd
We have 2 very different concepts:

1) A button/menu containing filters:
- Easy to use.
- Easy but long to implement.
- The user must search for the filter they want.
- Perfect for the basic user.

2) Filters to type manually in the search bar:
- Quick to use.
- Easy and quick to implement if there is a control to do so. Long and complex if we have to develop this control o

[2021-05-15 07:49] hiranmayd commented on #4813
Why cant we use both?

[2021-05-15 07:53] hiranmayd commented on #4813
What if i could click the button for the menu OR start typing in manually

[2021-05-15 08:02] cinqmilleans commented on #4813
ok for me

[2021-05-15 10:45] hiranmayd commented on #2922
one set of icons as i said will be universal and wont change, its just the other sets which will be adaptive.

[2021-05-15 11:19] tgrelka commented on #2922
I think this would be great with an overflow menu. Display the default app as the icon, with an arrow next to it, opening an overflow menu to show more registered apps for this file type. That way, visual clutter is avoided if there’s many apps to choose from.
Or maybe limit the selection to three? That way it’s still fast.

While typing this I also though of something Total Commander does. It all

[2021-05-15 12:58] hiranmayd commented on #2922
absolutely. maybe three and then an overflow menu.

[2021-05-15 14:27] stanleyowen commented on #4913
Okay thanks.

[2021-05-15 14:27] #4913 closed

[2021-05-15 14:45] asahidev opened #4916 "No folder icon"
No folder icon is shown in the explorer

**To reproduce**
Instal from either alt. link or from MS Store; both have the same issue

**EDIT** I use internal GPU Intel HD Graphics®

[debug.txt](https://github.com/files-community/Files/files/6487598/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6487599/debug_fulltrust.txt)
![image](https://user-images.githubuserconten

[2021-05-15 14:55] #4388 closed

[2021-05-15 14:57] gave92 commented on #4388
Merging with #2714

[2021-05-15 15:00] gave92 commented on #4910
Merging with #2714. Opening and closing the properties window a few times will crash the app, regardless of toggling the hide/unhide option.

[2021-05-15 15:00] #4910 closed

[2021-05-15 15:02] #3327 closed

[2021-05-15 16:07] gave92 commented on #4912
Before clicking on "OK" to close the window please try to click outside the textbox first

[2021-05-15 16:48] gave92 commented on #4909
Do you happen to have search indexing disabled?

[2021-05-15 17:15] #4914 closed

[2021-05-15 17:15] gave92 commented on #4914
Thanks for the report. This is fixed in latest code.

[2021-05-16 01:26] stanleyowen commented on #4909
Hi @gave92, after trying to enable the "Show unindexed items when searching for files and folders" option, it works for me. Thanks!

[2021-05-16 01:26] #4909 closed

[2021-05-16 01:43] #4911 closed

[2021-05-16 01:43] #4912 closed

[2021-05-16 01:43] yaichenbaum commented on #4911
This issue should be resolved with #4917.

[2021-05-16 01:43] yaichenbaum commented on #4912
This issue should be resolved with #4917.

[2021-05-16 01:45] #4906 closed

[2021-05-16 01:45] yaichenbaum commented on #4916
@asahidev Is this still an issue if you turn off the setting to cache files and folders?

[2021-05-16 02:02] #4610 closed

[2021-05-16 02:04] #4629 closed

[2021-05-16 02:04] yaichenbaum commented on #4629
@madtempest This issue should be resolved with #4921.

[2021-05-16 02:06] yaichenbaum commented on #4304
This issue should be resolved in `main`.

[2021-05-16 02:06] #4304 closed

[2021-05-16 02:14] yaichenbaum commented on #4813
@cinqmilleans I like version 2 a little better since it doesn't get in the way of regular users, but it's still there for advanced users.

[2021-05-16 02:32] mdtauk commented on #4813
How would this work in a more narrow SearchBox?  There needs to be a way to view the filters applied, even when space is limited.

[2021-05-16 02:42] stanleyowen opened #4924 "Disk Space Capacity Doesn't Being Previewed on the First Launch"
**Explain the bug**
Disk Space Capacity for other disk(s) besides of `(C:)` doesn't being previewed on the first app launch.

**To reproduce**
1. Open Files
2. See the error

**Expected behavior**
Disk Space Capacity should be previewed on the first launch.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or

[2021-05-16 02:59] #4835 closed

[2021-05-16 04:01] yaichenbaum commented on #4813
@mdtauk In the case where the search box is narrow, perhaps the filters can be moved to a flyout.

[2021-05-16 04:07] mdtauk commented on #4813
Sure, but isn't your plan to have the search box itself in a flyout?  Wouldn't a flyout in a flyout cause issues?

[2021-05-16 04:19] yaichenbaum commented on #4813
The search box isn't in a flyout and we don't have any plans to put it in one.

[2021-05-16 08:07] hiranmayd commented on #4813
overflow menu besides the add filter button?

[2021-05-16 10:04] mangoepic commented on #4116
I really like this feature idea because there are like 10 buttons on Home page, one of which i occasionally use. I would probably like to just get it clean
![image](https://user-images.githubusercontent.com/71931749/118393321-de601b00-b63e-11eb-871c-78cb065e7ef6.png)

[2021-05-16 11:45] #4924 closed

[2021-05-16 11:45] gave92 commented on #4924
Merging with #3701

[2021-05-16 12:04] Milo123459 opened #4926 "Add a MSI build"
**Is your feature request related to a problem?**
A clear description of what the problem is.
No.
**Describe the solution**
A clear description of what you want.
Add a `msi` in the release so I can add it to a scoop bucket.
**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.
N/A
**Scope**

**Additional comment**
Add any other

[2021-05-16 12:52] gave92 commented on #4926
No MSI for UWP apps but there's the AppInstaller package available:
https://files-community.github.io/package.github.io/Files.Package/Files.Package.appinstaller
Can be installed from PowerShell like this:
`Add-AppxPackage -AppInstallerFile Files.Package.appinstaller`

[2021-05-16 12:53] Milo123459 commented on #4926
Thank you

[2021-05-16 12:53] #4926 closed

[2021-05-16 14:06] #4662 closed

[2021-05-16 15:40] cinqmilleans commented on #4813
I am starting to implement the functionality cleanly. I am using the second concept, but it will be easy to add the first concept later if we decide to.

[2021-05-16 16:23] Xairoo commented on #4666
Would be great if you guys would publish the nightly builds outside of discord ;-)

The bug I have reported also appears on my partners system. The "sometimes freezing" bug from #4625 should be fixed ASAP because the app isn't usable at this state.

[2021-05-16 16:38] Xairoo commented on #4076
Yeah the speed is slow compared to Windows Explorer.
No matter if there are many files (like a node project with about ~1500 folders) or only 2.
It feels like accessing a network share.

Hope this will be hardly improved and finally the same speed as the Explorer.

Don't get me wrong, but things to consider:
For example I use VS Code too, it's blazing fast, also Atom. There you haven't such slow l

[2021-05-17 00:51] jh961202 opened #4930 "Files crashes/messes up folder content when reading external drive if a different drive was inserted, but using the same drive letter"
**Explain the bug**
If an external drive was inserted and opened by Files, seems like Files will cache the folder content of the drive.
However if ANOTHER external drive was then inserted after the current drive was removed, Windows might assign the same drive letter to it.
At this moment if trying to open newly-inserted external drive using Files, there might be 2 possible behavior:
1.Files crash

[2021-05-17 02:32] TejasPatil80178 opened #4931 "Cloud Drives option is not working!!!"

[2021-05-17 03:50] duke7553 commented on #4931
@TejasPatil80178 Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. We typically close issues like this in 7 days, so please fill out the issue template to the best of your ability before then.

[2021-05-17 03:52] duke7553 commented on #4930
@gave92 Luckily we're removing the caching feature soon, so it sounds like this issue will be resolved alongside #4922

[2021-05-17 06:42] Karmah24 opened #4935 "Please create a keyboard shortcut for searching within a folder such as "Ctrl + F""
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish

[2021-05-17 07:16] MalteTasler opened #4936 "Copying or moving files from remote desktop session to host does not work"
Copying or moving files via context menu or shortcut ("STRG+C", "STRG+V") from remote desktop session to host does not work. However, it works vice versa. I tried with windows explorer on the remote session and UWP explorer on the host. In fact, nothing happens when pasting.

**Expected behavior**
When using shortcut "STRG+V" or context menu entry "paste" after copying elements from remote desktop

[2021-05-17 09:06] Humphrzy commented on #3531
I have just installed the app from the Microsoft store. I had never use it before. it crushes few second after launching.
![2021-05-17_12h03_28](https://user-images.githubusercontent.com/17433401/118463052-fe0f4600-b707-11eb-961b-20fa00cd11ed.png)
 this is the screen that it displays a few second then it closes.
 my Files version is 1.5
OS version is 2004

[2021-05-17 10:54] oseughu opened #4937 "Display of Collapsable Categories should be an option in the settings."
**Is your feature request related to a problem?**
I can't seem to choose if I want the sidebar categorized or not.

**Describe the solution**
I want to be able to choose if I want collapsable categories to be displayed or not.

Specifically, I would like my files app to look like the image below

https://www.windowscentral.com/sites/wpcentral.com/files/styles/large_wm_brw/public/field/image/2021/0

[2021-05-17 15:49] josh-65 opened #4938 "Recycle bin restore to new location"
**Is your feature request related to a problem?**
File explore has the ability to click and drag/right click option cut so that it can be restore to a new location.

**Describe the solution**
Copy button (witch doesn't work anyway) should be turn into cut and click and drag should work with the side bar to restore. effectively it just a cut operation to a new location.

**Scope**
| Capability | Pr

[2021-05-17 17:48] tamyphoenix opened #4939 "Erro"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-05-17 17:48] tamyphoenix commented on #4939
Não consigo abrir minhas imagens

[2021-05-17 17:51] tamyphoenix commented on #4939
[debug.txt](https://github.com/files-community/Files/files/6495789/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6495790/debug_fulltrust.txt)

[2021-05-17 18:49] winston-de opened #4940 "Stretch GridView items to fit page width"
**Is your feature request related to a problem?**
Items are not stretched to fit the size of the window, which can leave a large amount of empty space.
For example:
![image](https://user-images.githubusercontent.com/59544401/118540800-d0290200-b705-11eb-8abe-6a29b42c919f.png)

**Describe the solution**
Implement something similar to [this solution](https://gist.github.com/WamWooWam/6b19b8355e3e3a8

[2021-05-17 19:09] clorteau opened #4941 "Add option to disable recent items list"
**Is your feature request related to a problem?**
The recent items list may give away things we don't want shown, including in hiden folders

**Describe the solution**
Add an option to disable the recent items list

**Describe alternatives you've considered**
I can't think of an alternative

**Scope**

| Capability | Priority |
| :---------- | :------- |
| Toggle button in Settings > Files and Fol

[2021-05-17 20:10] gave92 commented on #4941
There's already an option in Files settings for points 1 and 2, it's under "Widgets"

[2021-05-17 20:39] #4935 closed

[2021-05-17 20:39] gave92 commented on #4935
Merging with #2447

[2021-05-18 01:58] JotaRata opened #4944 "Full acrylic theme"
It is possible to have a theme in the future that achieves this effect from VS Code?

![imagen](https://user-images.githubusercontent.com/36273501/118578914-080e6480-b75b-11eb-8200-b74e604ed51a.png)

[2021-05-18 07:20] jikunbupt opened #4946 "Can't select multiple files in a folder with the mouse"
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish

[2021-05-18 11:13] mangoepic opened #4947 "Cannot move file to recycle bin (It tries to copy)"
**Explain the bug**
In Windows Explorer you can move a file to the recycle bin by dragging it into the window.
In Files, Moving it from the sidebar is blocked. And trying  to move it from desktop gives an error message.

**To reproduce**
1. Go to your Desktop
2. Go into the Recycle Bin Folder in Files
3. Drag a File from the Desktop to the Recycle bin Folder
4. See the error

**Expected behavior**

[2021-05-18 11:26] mangoepic commented on #4947
Also, when closing Files while the dialogue is still open it can make this Copy dialogue stick to the front of your screen which i can still see while typing this even though i closed Files and checked if it was still running through the taskmanager
![error](https://user-images.githubusercontent.com/71931749/118643278-9ecf3580-b7dc-11eb-92c7-b61c2dcf47e3.gif)

[2021-05-18 12:37] ALHE3668 opened #4948 "Useless without treeview in leftmost column"
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish

[2021-05-18 13:52] Nicko-dontAsk opened #4949 "Files-full-trust stopped working"
In time to time apears that "files-full-trust stopped working" there's any way to solve this its really annoying

[2021-05-18 14:52] Rasmagoric commented on #4944
+1 I also have my vs code setup that way.
It would be cool as an option "full acrylic" but way less transparent than that screenshot.

[2021-05-18 14:59] duke7553 commented on #4949
@Nicko-dontAsk
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. We typically close issues like this in 7 days, so please fill out the issue template to the best of your ability before then.

[2021-05-18 15:00] duke7553 commented on #4948
@ALHE3668
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. We typically close issues like this in 7 days, so please fill out the issue template to the best of your ability before then.

[2021-05-18 15:11] ALHE3668 commented on #4948
I’m simply stating that without tree-view in the leftmost column (“Files”) the application is useless.
This is what I want:

***@***.***D74C08.C7160F40]

With this it is possible to perform drag and drop from the right side (showing the active folder) to the left side (showing files in a tree-view).

Venlig hilsen
Allan Helboe
Underviser,
UCL Erhvervsakademi og Professionshøjskole

Fra: Luke Blevi

[2021-05-18 15:25] Letsric opened #4950 "it crashed"
it crasht i dont like it

[2021-05-18 15:25] #4950 closed

[2021-05-18 17:05] josh-65 commented on #4944
You could properly make one in https://github.com/files-community/Custom-themes

[2021-05-18 18:08] winston-de commented on #4944
As @josh-65 said, this is (mostly) possible to do with a custom theme. However, there are a few surfaces that are not possible to override with an acrylic brush.

![image](https://user-images.githubusercontent.com/59544401/118700582-afc17c00-b7c7-11eb-80e2-2fe97cc06247.png)

I'll add this theme to the custom themes repo, and also look into updating the remaining resources that currently can't be o

[2021-05-18 18:38] hnOsmium0001 commented on #4948
I think the author's intention is to say a feature request for File Explorer-like tree layout in the left column, aka the one that shows up when you click the arrows.
Related but not duplicate (that one asks for tree layout in the main panel): #1928

[2021-05-18 19:45] asahidev commented on #4916
Yes, this issue is still present if I turn off the setting

[2021-05-18 20:27] gave92 commented on #4949
@Nicko-dontAsk do you happen to have a Windows on Arm device?

[2021-05-18 22:42] Rasmagoric commented on #4944
@winston-de wow, that acrylic themes looks great. Here's how it looks side by side with the acrylic visual studio:
![acrylic](https://user-images.githubusercontent.com/24687648/118732503-5e9aa200-b832-11eb-8368-fb046a534ae6.png)

[2021-05-18 22:45] mdtauk commented on #4944
Slight issue with the status bar, but an optional border along the top of it, would fix the grid being cut off - maybe the border only shows with the Acrylic theme chosen?

[2021-05-19 00:00] tonyms51 opened #4952 "send directories to dropbox"
why cant i send directories to dropbox?

[2021-05-19 00:50] winston-de commented on #4952
@tonyms51 Thanks for reporting this, I'm having trouble understanding what your issue is and how to reproduce it. Could you please provide more info, like how you were trying to send directories to dropbox? Filling out the issue template would also be very helpful.

[2021-05-19 02:07] #4939 closed

[2021-05-19 02:07] #4931 closed

[2021-05-19 02:07] #4941 closed

[2021-05-19 02:10] #4946 closed

[2021-05-19 02:10] yaichenbaum commented on #4948
@ALHE3668 We have plans for a tree view layout, we are tracking this feature request in #1928.

[2021-05-19 02:10] #4948 closed

[2021-05-19 02:15] yaichenbaum commented on #4944
This issue should be resolved with https://github.com/files-community/Custom-themes/pull/14.

[2021-05-19 02:15] #4944 closed

[2021-05-19 02:59] #4940 closed

[2021-05-19 04:10] yaichenbaum commented on #2305
This issue appears to be resolved in `main`.

[2021-05-19 04:10] #2305 closed

[2021-05-19 04:10] yaichenbaum commented on #2309
This issue appears to be resolved in `main`.

[2021-05-19 04:10] #2309 closed

[2021-05-19 04:11] #3721 closed

[2021-05-19 04:12] yaichenbaum commented on #4391
This issue appears to be resolved in `main`.

[2021-05-19 04:12] #4391 closed

[2021-05-19 04:13] #4644 closed

[2021-05-19 04:14] yaichenbaum commented on #4916
@gave92 Can you check if this is resolved in `main`?

[2021-05-19 05:35] yaichenbaum commented on #3837
@asuetin This issue should be resolved with #4945.

[2021-05-19 05:37] #4832 closed

[2021-05-19 09:45] tonyms51 commented on #4952
On other directory programs, I select a directory, hit my right button
and I see a list of options, one of which is 'send to' which I /then
click on and get a list of places to send to, including dropbox/-shortcut.
I use this option to back up my directories to dropbox. How can I do
this using Files?
Regards
Tony

On 19/05/2021 01:50, Winston de Jong wrote:

[2021-05-19 10:02] dawid2727 opened #4953 "Crash when quickly scrolling through the files display options (in folder > scroll + ctrl)"
**Explain the bug**
Crash when quickly scrolling through the files display options (in folder > scroll + ctrl).

**To reproduce**
Open any folder with a couple of files. For me, it was a bunch of .blend files, and 2 pictures (pretty large, 4k-ish?)
I used scroll wheel + ctrl to go back from miniatures (tiles) to a list view. The program clearly struggled, (like it went in 10fps maybe), and then cr

[2021-05-19 10:30] Nicko-dontAsk commented on #4949
@gave92 No i dont have a arm device.

[2021-05-19 10:41] Nicko-dontAsk commented on #4949
@duke7553 I dont really know more info but i will try. FilesFullTrust is a exe file located at: C:\ProgramFiles\WindowsApps\49306atecsolution.FilesUWP_1.5.0.0_x64__et10x9a9vyk8t\Files.Launcher
and starts when files is open. It crashes at startup (probably) or when acessing windows folders.

[2021-05-19 10:59] gave92 commented on #4953
Thanks for the report. Was this in a OneDrive folder?

[2021-05-19 11:00] gave92 commented on #4952
Merging with #285 (request for send to context menu)

[2021-05-19 11:00] #4952 closed

[2021-05-19 13:54] clutz2000 commented on #2355
This is a very handy feature once you get used to it. It is in another browser that many use in which my firm is trying to get rid of.  I would recommend adding it as an option so it can be turned on / off. That way for those that do not like it, they do not have to use it.

[2021-05-19 17:57] JooperPL opened #4957 "Navigation buttons that does not anything"
**Screenshots**
![Here](https://user-images.githubusercontent.com/79161805/118861142-77f82880-b8dc-11eb-8ae1-7fdb273e6e1e.png)

[2021-05-19 18:08] #4957 closed

[2021-05-19 18:08] gave92 commented on #4957
Fixed in latest code (#4634)

[2021-05-19 18:23] JooperPL commented on #4957
ok

[2021-05-19 19:32] yaichenbaum opened #4959 "Codebase: Move NavigationToolbar to MainPage"
| Capability | Priority |
| :---------- | :------- |
| Navigation toolbar will control focused pane | Must |

[2021-05-19 21:30] feelsole opened #4960 "Dragging images from Files into another app (Photoshop) doesn't work"
I have Files open on my 1st monitor, and Photoshop on the 2nd. If I try to drag an image from Files into Photoshop, it just hangs and does nothing.

[2021-05-19 22:47] yaichenbaum commented on #4959
That's something we can keep in mind, like you said, if we decide to move ahead with it, it can be a flag in Files as well.

[2021-05-19 22:48] yaichenbaum commented on #4960
We need a little more information from you in order to investigate this issue, can you fill out the issue template?

[2021-05-19 23:12] Apheiro opened #4961 "Can't copy, cut or paste any file."
**Explain the bug**
Let me explain, I cut (ctrl+x) the file and it becomes transparent so theoretically it is cutting, but when pasting (ctrl+v) it does nothing. The only thing it does is to select with a white lines box the first file of the list in the folder for example: I have 4 folders inside a directory (hello1 hello2 hello3 hello4) I select "hello4" and in the same directory I do the test o

[2021-05-19 23:32] minidarknova opened #4962 "Missing some icons"
Not sure this is a bug persay, but icons from other windows dlls are not showing.
Same partition and folders in Windows default Explorer vs Files.
Latest version since I just reinstalled windows 21H1 (fresh)
https://imgur.com/a/5pkQXY9

[2021-05-20 02:13] Relirk opened #4963 "Bug"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-05-20 02:34] tobiaswaelde opened #4964 "Add option to disable "Cloud Drives" in sidebar"
**Is your feature request related to a problem?**
No

**Describe the solution**
Add an option to toggle "Cloud Drives" in the sidebar on or off

**Scope**

| Capability | Priority |
| :---------- | :------- |
| Add option | Should |

[2021-05-20 02:47] yaichenbaum commented on #4964
Merging with #3912.

[2021-05-20 02:47] #4964 closed

[2021-05-20 02:48] yaichenbaum commented on #4963
We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-05-20 02:48] #4963 closed

[2021-05-20 07:11] cinqmilleans commented on #3562
@JVariance A management of search filters is being implemented #4813.
It will be very easy to display only files of a specific type (audio, video, pdf, ...).

[2021-05-20 07:17] josh-65 commented on #4962
there still in the process of implemting them

[2021-05-20 07:50] fmarrub opened #4965 "La aplicación se cae"
Hola.
Tengo un problema al intentar abrir carpetas. La aplicación se cae.
He observado que pasa cuando intento modificar el modo de vista de carpeta en Google Drive. Se bloquea y ya solo hace que caerse la aplicación.
Envío varios video a través de Loom porque no sé explicarlo bien.
Uso Windows 10 20H1 19043.985
La versión de Files: 1.5.0.0

[debug.txt](https://github.com/files-community/Files/fil

[2021-05-20 07:55] fmarrub commented on #4965
https://www.loom.com/share/e46b9ebfbf8f4b1690e856b5d65112a1

[2021-05-20 07:56] #4965 closed

[2021-05-20 08:05] fmarrub commented on #4965
Lo consulté día atrás

[2021-05-20 13:19] yaichenbaum commented on #4962
@josh-65 This is unrelated to the sidebar icons.

@minidarknova This issue should be resolved when we release v2.

[2021-05-20 13:19] #4962 closed

[2021-05-20 13:46] michelebiancucci opened #4966 "Feature: Add support for having multiple sharepoint drives in sidebar"
### What feature or improvement do you think would benefit Files?
The solution is to show multiple OneDrive or SharePoint folders under the Cloud Drives section. At the moment, the Cloud Drives section shows only one item for OneDrive folders and one item for SharePoint folders

### Requirements
- multiple sharepoint drives should be displayed under cloud drives

### Files Version

2.3.11.0

### W

[2021-05-20 17:38] gforien commented on #2355
Agree, this is a very useful feature, already implemented in Clover or QTTabBar.
It allows to navigate much faster in and out of folders.

[2021-05-20 17:39] yaichenbaum commented on #2472
This issue should be resolve in `main`.

[2021-05-20 17:39] #2472 closed

[2021-05-20 17:40] yaichenbaum commented on #2896
This issue should be resolved in `main`.

[2021-05-20 17:40] #2896 closed

[2021-05-20 17:42] #3116 closed

[2021-05-21 03:45] Lu9-ST opened #4971 "App runs extremely slow, almost unusable, in any view mode other than list/details"
**Explain the bug**
In folders with large quantities of items, using any view mode other than list/details while navigating and interacting with the items can be quite slow, and after doing a rectangular selection, the application hangs for a few seconds (although hovering over the files still do the outline reveal effect, but clicking on anything doesn't work)  and eventually either successfully

[2021-05-21 04:33] stanleyowen opened #4972 "Crashes after Drag New Tab"
**Explain the bug**
Files `crashes` or closes unexpectedly after dragging a new tab to other position.

**To reproduce**
1. Open `Files`
2. Click on New Tab
3. Drag the New tab to other tab
4. App crashes or closes unexpectedly

**Expected behavior**
`Files` shouldn't crashes and other operations should working appropriately.

**Logfile**
Upload the log file here for us to understand your issue be

[2021-05-21 04:36] #4319 closed

[2021-05-21 04:36] yaichenbaum commented on #4319
@chriscross12324 This issue should be resolved with #4969.

[2021-05-21 04:40] gave92 commented on #4971
@LuNiney thanks for the report. How many items in the Downloads folder?

[2021-05-21 05:08] #1912 closed

[2021-05-21 05:10] yaichenbaum commented on #1912
@Jaiganeshkumaran this issue should be resolved with #4973.

[2021-05-21 07:59] Rolli1 opened #4974 "Date Modified"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-05-21 11:22] #4974 closed

[2021-05-21 11:22] gave92 commented on #4974
We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-05-21 11:38] DinoTymo opened #4975 "Typo in GER translation of "Map network drive""
**Explain the bug**
There is a typo in the German translation of the app. "Map network drive" should be "Net***z***werklaufwerk hinzufügen", not "Netwerklaufwerk hinzufügen"

**To reproduce**
1. Set the app's language to German (Settings > Preferences > App language).
2. After starting the app in German, go to "Home".
3. Click on the three dots next to "Laufwerke" ("Drives").
4. You'll see "Netwer

[2021-05-21 11:43] c1oser commented on #4287
me too, it's really annoying

[2021-05-21 14:22] LuNiney commented on #4971
2.594 (counting folders)

[2021-05-21 16:05] SpeedyIndeedy opened #4977 "Unable to open"
Hii there,

I am not able to install File app from Microsoft Store. It gives me error.
So I tried to install from here from Files.package, now I am able to install but app wont start.
It only shows starting screen then automatically closes.

**System Information**
 - Windows 10 20H2 19042.928
 - App version: 1.5
![1](https://user-images.githubusercontent.com/74235469/119166480-4d44d600-ba7c-11eb-9

[2021-05-21 16:05] yaichenbaum commented on #4682
@pklion this feature was implemented in #4722.

[2021-05-21 16:05] #4682 closed

[2021-05-21 16:07] yaichenbaum commented on #4977
@RishiVora Can you upload the log files?

[2021-05-21 16:08] RishiVora commented on #4977
The app won't even start, how can I access logs?

[2021-05-21 17:16] gave92 commented on #4977
Perhaps we can get some info about this from Windows "Event Viewer"?
Like this:
![image](https://user-images.githubusercontent.com/9673091/119174521-f97cc180-ba68-11eb-8e62-f95b9d73a898.png)

[2021-05-21 23:57] ryadhiprasetya opened #4979 "Bad animation when open & close settings"
Description: white glitch on top. see title and video for more visual.

![bad naimation](https://user-images.githubusercontent.com/47018482/119208132-f9151280-baca-11eb-8bb7-34509a1f1933.gif)

[2021-05-22 00:35] yoshiask commented on #4979
Note that the opposite happens with the light theme, a black bar appears at the top.

[2021-05-22 01:12] duke7553 commented on #4979
@yoshiask @ryadhiprasetya Does this occur when your app theme preference matches the system theme set in Windows Settings?

[2021-05-22 01:19] ryadhiprasetya commented on #4979
in my situation, have same white glitch on windows default, dark, and white theme.

[2021-05-22 01:21] yoshiask commented on #4979
Good point, my system theme is Dark. It's still a bit jarring though, since pretty much all of the backgrounds in Files are gray (not black).

[2021-05-22 03:24] ryadhiprasetya opened #4981 "Ability to close sidebar by dragging"
**Is your feature request related to a problem?**
right now we can close dual panel with drag behaviour. why we not do the same with sidebar, like finder macos do.

**Describe the solution**
![ezgif-6-6a57cf1063e2](https://user-images.githubusercontent.com/47018482/119213204-a85fe280-bae7-11eb-9a58-dc5412cc09b5.gif)

**Describe alternatives you've considered**
-

**Scope**

| Capability | Priority

[2021-05-22 08:41] geonetor opened #4982 "Greek language localization"
**Is your feature request related to a problem?**
No

**Describe the solution**
Please inform me how i can localize the program in Greek for you.

**Describe alternatives you've considered**
I am new in Github, so i could use some guidance how to submit the files that i will translate.
-->
| Capability | Priority |
| :---------- | :------- |
| This proposal will allow end users to use the program

[2021-05-22 08:43] geonetor commented on #4982
Please inform me how i can help to localize your program in Greek.
Thanks!

[2021-05-22 08:59] cinqmilleans commented on #4813
@yaichenbaum @hiranmayd @mdtauk Here is a demonstration of how filters are presented. Look not at the visual style, but at the principles. Filters can be typed or chosen from the filter menu, with suggested options.

https://user-images.githubusercontent.com/46631671/119220550-5b7e0b00-baeb-11eb-8711-e3f36b71bf8c.mp4

[2021-05-22 11:15] hiranmayd commented on #4813
love it

[2021-05-22 12:32] vivaanmathur opened #4983 "Copy paste file to folder that requires administrator privileges"
**Explain the bug**
Copy pasting a file to a folder that requires administrator privileges does not work if not opened the app with administrator privileges.

**To reproduce**
 1. Copy any file from Desktop
 2. Paste it to C drive

**Expected behavior**
I expected it to be like Windows File Explorer: Show me an admin grant where I can put my admin password.

**Logfile**
Upload the log file here fo

[2021-05-22 13:24] touzel commented on #4128
Hi,
It would be lovely to see this feature implemented. Thanks in advance!

[2021-05-22 13:25] gave92 commented on #4982
Thanks for your interest in contributing to Files.
You can find documentation about how to translate Files [here](https://files-community.github.io/docs/#/articles/translating-files)
Feel free to ask here or on the [Discord server](https://discord.gg/files) if you need any help.

[2021-05-22 13:25] #4982 closed

[2021-05-22 13:29] #4983 closed

[2021-05-22 13:30] gave92 commented on #4983
Thanks for opening this issue. Copy/paste as admin is not yet implemented, only delete is supposed to work. Tracking the progress in -> #2513

[2021-05-22 18:47] Ouronos opened #4987 "Request: Long File Names to use multiple lines"
**Is your feature request related to a problem?**
This feature is not related to a problem; this is a QoL request.
Currently file names are limited to one line. This means that long file names are truncated. This can complicate finding the correct file in a directory (or the current directory) if the file names have the same beginning characters.

Example: "[Item Description] Snapshot XX.jpg" will

[2021-05-22 18:58] swos0000 opened #4988 "性能需要提升"
这个files非常漂亮，逼死官方，用了段时间感觉有几个地方再改进下就无敌了
1把缩略图缓存的问题搞定，打开几百个缩略图的文件夹时每次都要重新读取很慢
2单击打开文件的速度还需要优化，暂时还不能替代资源管理器
3设法常驻后台，保证启动速度
4绑定win+E

[2021-05-22 19:05] Tropix126 opened #4989 "Preview pane syntax highlighting"
**Is your feature request related to a problem?**
At the moment, all text-based files are rendered in plaintext without any syntax highlighting, which makes previewing code files sometimes tedious.
![image](https://user-images.githubusercontent.com/42101043/119238217-d30d6380-bb06-11eb-9ce9-d14957a18854.png)

**Describe the solution**
Add syntax highlighting to common code-related files in the pre

[2021-05-22 19:30] gave92 commented on #4988
1. Add thumbnail cache, it is very slow to re-read every time when you open a folder of hundreds of thumbnails
2. The speed of single-click to open the file needs to be optimized
3. Stay in the background to improve startup speed
4. Open with Win+E
------------------------------------------------------
For [4] see [here](https://files-community.github.io/docs/#/articles/configure-win-e) to see how

[2021-05-23 00:45] winston-de commented on #4987
Thanks for this feedback, merging with #1033.

[2021-05-23 00:45] #4987 closed

[2021-05-23 02:13] #4989 closed

[2021-05-23 02:13] yaichenbaum commented on #4989
@Tropix126 This feature was implemented with #4990.

[2021-05-23 02:13] alixsep opened #4991 "Left margin on the horizontal tab control is inconsistent with the top and bottom margins"
Hi, The tap padding differs for the top/bottom and sides, It would be cool to get fixed for much more consistent design.

I want the padding to be same size across all the sides, top , right, bottom and left.

This is how it looks at moment:
![image](https://user-images.githubusercontent.com/59757582/119245919-4314fb80-bb92-11eb-8686-5573b6e22de0.png)

 - OS Version: Windows 10 1809
 - App version

[2021-05-23 02:17] yaichenbaum commented on #4988
@swos0000 Can you open a separate issue for each thing you posted?

[2021-05-23 02:17] #4988 closed

[2021-05-23 02:18] yaichenbaum commented on #4981
@winston-de what are your thoughts on using the minimal sidebar feature for this scenario?

[2021-05-23 02:20] yaichenbaum commented on #4979
@ryadhiprasetya This is a system issue, can you open an issue on the WinUI repo?

[2021-05-23 02:27] yaichenbaum commented on #4813
@cinqmilleans It looks good! Can you provide a proof of concept design for smaller windows?

[2021-05-23 03:37] ryadhiprasetya commented on #4979
done [#5071](https://github.com/microsoft/microsoft-ui-xaml/issues/5077)

[2021-05-23 03:39] ryadhiprasetya commented on #4979
Can we just turn off the animation. even the color is fix, animation itself is worst, not smooth

[2021-05-23 03:50] winston-de commented on #4981
@yaichenbaum I think just toggling expanded/collapsed makes more sense. Something like how VSCode does it:

https://user-images.githubusercontent.com/59544401/119247515-02d85d80-bb3f-11eb-91a9-c07413344f98.mp4

[2021-05-23 03:56] yaichenbaum commented on #4979
Yes, there is a system setting to turn off animations.

[2021-05-23 03:58] yaichenbaum commented on #4981
That looks like a good implementation.

[2021-05-23 03:59] yaichenbaum commented on #4870
@elmoalso What version of Files do you have?

[2021-05-23 04:26] yaichenbaum commented on #4975
@DinoTymo Would you like to try to fix this issue?

[2021-05-23 04:32] yaichenbaum commented on #3538
@R3voA3 The different dialogs have different keys by design.

[2021-05-23 04:32] #3538 closed

[2021-05-23 04:33] yaichenbaum opened #4993 "Enhancement: Add tooltip to the create bundle button"
**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will add a tooltip to the create tooltip button | Must |

[2021-05-23 07:07] touzel opened #4994 "Files not getting detected on browsers, discord and most other apps even after making the regedit (Win+E is working)"
**Explain the bug**
I'm a new user and I have run the regedit to make Files the default file explorer, and Win+E opens Files instead of windows file explorer - no issue there. However, apps and websites that require you to attach files from the PC still open windows file explorer (even now as I attach the log files and screenshots to this issue) and don't seem to respect the regedit. I have attach

[2021-05-23 07:25] elmoalso commented on #4870
[image: image.png]

On Sat, May 22, 2021 at 8:59 PM Yair Aichenbaum ***@***.***>
wrote:

[2021-05-23 07:43] YuanfengZhang opened #4995 "Modification in network driver / share folder cannot get displayed automatically."
I have a share folder at 192.168.3.x, and already mapped it in the file explorer.
![image](https://user-images.githubusercontent.com/71358306/119252149-2651e580-bbdd-11eb-8375-dbb7adbeb8a6.png)
Q: After my operation in this driver, like make dir/file, remove or rename a file, it won't refresh to show the newest status.
![image](https://user-images.githubusercontent.com/71358306/119252159-3d90d300-

[2021-05-23 08:30] #4995 closed

[2021-05-23 08:30] gave92 commented on #4995
Merging with #2042

[2021-05-23 08:31] #4830 closed

[2021-05-23 08:31] gave92 commented on #4830
Merging with #2042

[2021-05-23 09:49] #4994 closed

[2021-05-23 09:49] gave92 commented on #4994
Sadly it's not possible to override the "Open" and "Save To" dialogs

[2021-05-23 13:06] ngarzonr opened #4996 "It closed intermittent when search in folders. Copy / paste not working."
**Explain the bug**
-It closed intermittent when search in folders. Copy / paste not working.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
o

[2021-05-23 14:14] gave92 commented on #4996
Hello, please upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.

[2021-05-23 14:16] mangoepic opened #4997 "Pin Folders to the Favorites with simple Drag'n'Drop"
**Is your feature request related to a problem?**
In Windows Explorer you can pin folders by drag and dropping them to the favorites. This is a quicker and more user friendly way to add something to the favorite bar.

Steps with dragging:
 - Look at folder and at favorites to see if it is already there
 - Drag the folder to favorites

Steps without dragging:
 - Look at folder and at favorites to s

[2021-05-23 14:18] gave92 commented on #4997
Thanks for this suggestion. Merging with #2626 & #1069.

[2021-05-23 14:18] #4997 closed

[2021-05-23 14:20] touzel commented on #4994
Unfortunate. Thanks for letting me know!

[2021-05-23 14:23] mangoepic commented on #4996
Try to check your OS version, maybe related: https://github.com/files-community/Files/issues/4665

[2021-05-23 14:49] #2513 closed

[2021-05-23 14:50] yaichenbaum commented on #2513
@Sank30 This feature was implemented in #4986.

[2021-05-23 14:51] yaichenbaum commented on #1353
@ajilidali This feature was implemented in #4986.

[2021-05-23 14:51] #1353 closed

[2021-05-23 17:10] #3820 closed

[2021-05-23 17:11] yaichenbaum commented on #3820
@nvi9 This issue should be resolved with #4992.

[2021-05-23 17:23] yaichenbaum commented on #4850
@josh-65 This issue should be resolved with #4877.

[2021-05-23 17:23] #4850 closed

[2021-05-23 17:24] yaichenbaum commented on #4870
@elmoalso Can you try posting that again?

[2021-05-23 18:11] elmoalso commented on #4870
Do you mean the image I included in my email today or do you want me to
repost in the bug-report system.
This is the image I sent earlier with the version number. It shows that the
version I am using is 1.5.0.0
[image: image.png]

On Sun, May 23, 2021 at 10:24 AM Yair Aichenbaum ***@***.***>
wrote:

[2021-05-23 18:13] yaichenbaum commented on #4870
@elmoalso Can you repost it? It doesn't look like the last one went through.

[2021-05-23 18:25] elmoalso commented on #4870
Done.
I responded a few moments ago with both the image and the version #
My reply is now visible on Github although it appears the image does not
show.
v1.5.0.0

On Sun, May 23, 2021 at 11:14 AM Yair Aichenbaum ***@***.***>
wrote:

[2021-05-23 19:47] #2042 closed

[2021-05-23 19:48] yaichenbaum commented on #2042
@osieltorres This issue should be resolved with #4999.

[2021-05-23 19:55] mdtauk opened #5000 "Consider use of Semibold or Bold text, only for headings or with accompanying text"
**Is your feature request related to a problem?**
The Home Tab page uses a lot of Semibold text, which feels as if it is screaming for attention.

**Describe the solution**
Please could you consider using it only for Drive Labels, where there is small secondary text alongside, but not for single lines of labels.

**Describe alternatives you've considered**
![image](https://user-images.githubuserco

[2021-05-23 20:09] cinqmilleans commented on #4813
@hiranmayd Thank you.
@yaichenbaum Here is a working prototype. There is a minimum size for the TextBox. If the filters are larger, a new button appears to show the hidden filters. The items in this menu will likely use a different template.

https://user-images.githubusercontent.com/46631671/119274967-c6763180-bc12-11eb-95f5-06abbdd2c035.mp4

[2021-05-23 20:34] yaichenbaum commented on #4813
@cinqmilleans It looks good!

[2021-05-23 21:58] R3voA3 commented on #4975
@yaichenbaum You can mention me or ping me on Discords about issues with the German translation.

[2021-05-23 23:56] #5000 closed

[2021-05-23 23:58] yaichenbaum commented on #5000
@mdtauk This issue should be resolved with #5001.

[2021-05-24 00:30] keep-devout opened #5005 "no linkfiles"
When you open the desktop directory,there's no completely link files

[2021-05-24 04:32] fisforfaheem opened #5008 "Why no updates??? we are waiting for 2 month now"
i hate to say what i open store everyday to see any updates...but still no updates... please share ur progress! also try adding a local ofline changelog insiude the app

[2021-05-24 04:51] yaichenbaum commented on #5008
We are hard at work on Files v2, make sure to watch this repo to be notified when there is an update.

[2021-05-24 04:51] #5008 closed

[2021-05-24 05:07] gave92 commented on #5005
Thanks for the report. Please add the app version and upload the log files.
Also could you share a screenshot of the desktop folder in Files vs explorer?

[2021-05-24 05:23] #4960 closed

[2021-05-24 15:45] nvi9 opened #5011 "Bug: Turning off grouping can show an empty view"
**Explain the bug**

When grouping (implemented in #4826) is turned on and the user clicks on a header to show the group names only and then turns off grouping the view becomes empty.

**To reproduce**

1. Go to any folder
2. Click on Arrangement options
3. Select any grouping type (eg. Name)
4. Click on a group header
5. Click on Arrangement options again
6. Select None in the Group by options
5.

[2021-05-24 15:54] LukoFoks opened #5013 "Hover to select item"
**Is your feature request related to a problem?**
Selecting items in the app is impossible, when the "Open items with one click" is enabled. Therefore I can't even use shortcut keys like `DEL` to delete a file quickly.

**Describe the solution**
As Windows Explorer does, I would like to select items by just hovering over them. It's fast and easy like the "One click to open" feature.

**Scope**

|

[2021-05-24 16:37] LukoFoks commented on #5011
By the way sorry for my misunderstanding, but how did you find this feature? I have no idea running the version 1.5.0. I even look up the Release notes and couldn't find any mentions about it.

[2021-05-24 16:51] Yolo-plop opened #5014 "Disabling the folder loader bar?"
**Is your feature request related to a problem?**
Files just looks great, especially compared to the aging default explorer. I just have one major issue, the loading bar at the top makes me feel like the app is sluggish. I have only SSD so everything is quick, but there is that bar that shows for like one tenth of a second and makes you feel, in my opinion, like you're waiting much longer than you

[2021-05-24 16:52] ryadhiprasetya opened #5015 "Margins on layout modes are not equal on all sides"
**Is your feature request related to a problem?**
1. Hard to select multiple item from top center.
2. Inconsistent margin

![image](https://user-images.githubusercontent.com/47018482/119379754-11af4380-bcea-11eb-92f1-59849aaec9fe.png)

**Describe the solution**
Give more and equal margin on each side

**Describe alternatives you've considered**
good example, finder macos:
![image](https://user-ima

[2021-05-24 17:07] winston-de commented on #5011
@LukoFoks This feature has yet to be released, and can only be found by building the source code from ``main``.

[2021-05-24 17:15] yaichenbaum commented on #5014
Disabling the loading bar isn't going to make the app any faster, it's used to indicate that the app is loading your Files. We have made several improvements in `main` in regards to loading items faster and you'll see the improvements of this in the next update.

[2021-05-24 17:15] #5014 closed

[2021-05-24 17:17] #5013 closed

[2021-05-24 17:17] gave92 commented on #5013
Merging with #3682

[2021-05-24 17:19] winston-de opened #5016 "Widget background brush on hover is hard to distinguish from normal brush in dark mode"
This is more noticeable now that the scale affect is gone.
Normal:
![image](https://user-images.githubusercontent.com/59544401/119383841-b5600b80-bc78-11eb-8714-03db89278146.png)

Hover:
![image](https://user-images.githubusercontent.com/59544401/119383860-bc871980-bc78-11eb-9024-185f81683a36.png)

_Originally posted by @winston-de in https://github.com/files-community/Files/pull/5010#issuecomment

[2021-05-24 17:24] #4646 closed

[2021-05-24 17:24] #4797 closed

[2021-05-24 17:24] yaichenbaum commented on #4646
@xpopy This issue should be addressed with #4891.

[2021-05-24 17:38] yaichenbaum commented on #5015
@winston-de This appears to be related to the grouped view feature, do you mind checking this one out?

[2021-05-24 18:20] Yolo-plop commented on #5014
Sorry but i strongly disagree and it's a general UX matter that i faced many times in web developement. My complain is not that the load is too slow, it's that the loader makes you feel like it is. Why show it for less than a second? It just makes the small load time noticeable.

[2021-05-24 18:25] yaichenbaum commented on #5014
@Yolo-plop You have a good point about the bright flash making it seem slow to the users, that's why we plan to make the loading indicator less prominent with #3922.

[2021-05-24 19:29] #5015 closed

[2021-05-24 19:30] yaichenbaum commented on #5015
@ryadhiprasetya This issue should be resolved with #5019.

[2021-05-24 20:17] Kedehern71 opened #5021 "FILES Crashes"
[debug.txt](https://github.com/files-community/Files/files/6534754/debug.txt)

FILES crashes when I open a certain OneDrive folder.  ALL other folders seem to open properly.   Files crashes for a single folder only.

[2021-05-24 20:20] gave92 commented on #5021
Thanks for the report:

- Do you get a notification saying "something went wrong" or does the app just close?
- Could you try if it works is you disable these two settings (turn off caching) under Experimental? (warning: probably won't change a thing but it's worth trying)

![image](https://user-images.githubusercontent.com/9673091/110851026-ce2f6680-82b0-11eb-8974-599e144ff399.png)

[2021-05-24 20:24] Kedehern71 commented on #5021
No notification – it simply shuts down.

Ok, turning caching OFF fixed the issue!  No crash.

Timothy A.C. Hader, NCARB
Senior Project Designer
ARCONS DESIGN STUDIO, PC
10550 Independence Pointe Parkway, Suite 300
Matthews, NC 28105
(O) 704-542-5252
(D) 704-815-6292
(M) 704-497-7484
WWW.ARCONSDS.COM<http://www.arconsds.com/>

***@***.***D750B9.37DF6C80]

CONFIDENTIALITY WARNING: This email may con

[2021-05-24 20:26] #5021 closed

[2021-05-24 20:39] ribkix opened #5022 "When I right click a file the program freezes"
**Explain the bug**
When I right click a file, the program just freezes and I can't do anything, I can still move my cursor and the animations still work, but I can't interact.

**To reproduce**
Right click on a file or folder.

**Expected behavior**
I should get a context menu with stuff like renaming it, opening it with a certain program, viewing the properties, etc.

**Logfile**
2021-05-15 11:5

[2021-05-24 21:45] winston-de commented on #5022
Thanks for the feedback, this issue should be resolved in ``main``.

[2021-05-24 21:45] #5022 closed

[2021-05-24 21:54] nvi9 commented on #4428
@yaichenbaum @tsvietOK this issue seems to be resolved on `main`, can you check it too?

[2021-05-24 21:57] ribkix commented on #5022
thank you that was fast

[2021-05-24 22:03] tsvietOK commented on #4428
Seems like issue has been resolved.

[2021-05-24 22:03] #4428 closed

[2021-05-24 22:08] tsvietOK opened #5023 "Can't open created library on the home page"
**Explain the bug**
Can't open created library on the home page

**To reproduce**
1. Go to Home page
2. Create new library
3. Try to open it
4. Nothing happens when clicking on it (opening in new tab works fine)

**Expected behavior**
Library should open on mouse click.

**System Information**
 - OS Version: [e.g. Windows 10 20H2 19042.985]
 - App version: [e.g. v1.3.1.0]

**Additional comment**
A

[2021-05-24 22:50] #4975 closed

[2021-05-24 22:52] yaichenbaum commented on #4975
@R3voA3 Thanks!

[2021-05-25 01:36] stanleyowen opened #5024 "Crashes If Copying Large File/Folder and Open Large Folder Simultaneously"
**Explain the bug**
`Files` crashes or closes unexpectedly if users copying large file (up to 3gb) and open large folder simultaneously.

**To reproduce**
1. Open New Tabs
2. Copy a Large File/Folder
3. While the app is copying the file(s), try open large folder simultaneously
4. See the error

**Expected behavior**
`Files` shouldn't crash or closes unexpectedly.

**Logfile**
Upload the log file h

[2021-05-25 03:45] Tropix126 opened #5025 "Acrylic coloring issue in light mode."
**Explain the bug**
When interacting with certain UI elements in the app, the light mode acrylic occasionally switches themes to the dark mode tint.

**To reproduce**
Truthfully, I have no idea how this is reproduced exactly, however it often occurs when interacting with certain clickable UI elements. Two of these examples that trigger the visual bug almost 100% of the time in my testing were the

[2021-05-25 04:06] RishiVora commented on #4977
@gave92
Here you go.

![1](https://user-images.githubusercontent.com/74235469/119437706-5237ad00-bd3c-11eb-88bc-2b35bafc10d2.png)
![2](https://user-images.githubusercontent.com/74235469/119437707-52d04380-bd3c-11eb-8c5e-cc14054e418b.png)
![3](https://user-images.githubusercontent.com/74235469/119437709-5368da00-bd3c-11eb-9eac-710fb52edcdd.png)
![4](https://user-images.githubusercontent.com/7423546

[2021-05-25 04:14] ryadhiprasetya commented on #5025
experience the same thing.

i build from source yesterday and get dark sidebar on white theme.
try to build last pulled 5 hour ago and bug is disappear, but get the same problem like your issue, glitch, sometime color is change weird

[2021-05-25 04:18] yaichenbaum commented on #4971
@LuNiney Can you fill out the issue template?

[2021-05-25 04:26] mdtauk commented on #5025
Same here, app theme set to dark, system so theme is light.

The acrylic sidebar changes from dark to light sporadically when hovering on random controls or other interactions

[2021-05-25 04:31] yaichenbaum opened #5028 "Add icons to library section on the sidebar"

[2021-05-25 04:32] mdtauk commented on #5014
Perhaps only display the progress bar after a certain amount of milliseconds?

[2021-05-25 04:37] mdtauk commented on #5016
You could remove the background plate in the rest state, using only the border

[2021-05-25 05:43] gave92 commented on #4977
![119437707-52d04380-bd3c-11eb-8c5e-cc14054e418b (2).png](https://user-images.githubusercontent.com/9673091/119445301-dda94200-bd2c-11eb-9859-a69f14377762.png)

Is there anything more in those 3 highlighter error events?

[2021-05-25 05:57] gave92 commented on #5024
Could you check if the same happens if you set gridview layout mode?

[2021-05-25 08:07] stanleyowen commented on #5024
Hi @gave92, this method works! However, it works more slower than before, is there an alternative way to solve this issue without using caching? Thanks.

[2021-05-25 08:56] Josh-65 opened #5030 "Apply admin action to all current operations"
**Describe the solution**
Currently when transferring files that requires multiple admin actions I have to do it for each one and becomes annoying when there's many. There should be a apply to all that the original file explore has.

**Scope**
| Capability | Priority |
| :---------- | :------- |
| Add a apply to all check box on the admin prompt | Must |

[2021-05-25 08:57] josh-65 commented on #4765
This seems to have been fixed for me in 1.5.26. Has it in main too?

[2021-05-25 10:56] yaichenbaum commented on #4765
@josh-65 It's still an issue when deleting items.

[2021-05-25 11:29] esibruti commented on #4430
@yaichenbaum is it still necessary for these icons? Or is it currently implemented?

[2021-05-25 12:21] samwzlim commented on #4488
Same issue even on version 1.5

[2021-05-25 12:25] yaichenbaum commented on #4430
@esibruti This task isn't completely finished yet.

[2021-05-25 12:29] esibruti commented on #4430
But if you want, I can look for the icons. Can you tell what shape, size, those things ...

[2021-05-25 12:41] esibruti opened #5031 "Feature request - Customize icons according to file type"
It would be interesting to add the possibility that we can change the icon according to the type of file. It would be an option located in the settings -> personalization. There would be an option of the types of files and the icons currently associated. It would be an implementation of the FilesTypeMan application but just so that we can customize the icons. If you get confused, write in the comm

[2021-05-25 12:44] LukoFoks commented on #5013
I added the multi-selection feature just in case the hover would be somewhat different. In the Double click mode it works just fine. Thank you and I'm looking forward to enjoy this feature!

[2021-05-25 13:02] yaichenbaum commented on #4430
@esibruti We have the icons, it's just a matter of using them.

[2021-05-25 14:21] esibruti commented on #5031
@yaichenbaum No, no, I didn't even know about this application ... but that's not it. If you search for FilesTypeMan, this is an application that detects all types of files that the computer recognizes and with that, he can change the icon for the entire computer. It would be interesting to do that but in a smaller format, in the sense that it is just a customization of the file icon. For example,

[2021-05-25 15:56] Rasmagoric commented on #5025
I get the same issue with the acrylic sidebar enabled or not and it only happens when windows is in light mode and files is set to dark.

[2021-05-25 16:18] TheSpringBoy opened #5032 "Taking 15 seconds to open menu when rightclicking a file or folder"
**Explain the bug**
When right-clicking a file or folder to get the menu, where you can delete and rename, its taking about 15 seconds to open, sometimes the app will freeze and then I need to reopen it in order to use it again.
My app is in the latest version from the Microsoft Store so the latest update didnt fixed it.

**To reproduce**
Right click filr ot folder

**Expected behavior**
It should

[2021-05-25 16:46] Skaldebane commented on #4729
@yaichenbaum Looking at the original assets, the icon is pretty misaligned. Look how much space is at the bottom compared to the top of the icon:

![image](https://user-images.githubusercontent.com/35589610/119536343-e297e100-bd80-11eb-9f8a-962814238907.png)

This image is what the browser shows as a preview of [this icon from the Assets folder here.](https://raw.githubusercontent.com/files-commun

[2021-05-25 16:54] yaichenbaum commented on #4729
@Skaldebane This can be fixed by editing each icon that has the issue.

[2021-05-25 17:18] Skaldebane commented on #4729
I can do it - but I'd like to understand what do their names mean...
For example, in the icon above, it says Square44x44Logo...targetsize-48 and its resolution is 48x48. Does this mean I have to put a 44x44 in the center of a 48x48 canvas? And what about the others?

[2021-05-25 17:58] Skaldebane commented on #5032
Perhaps you installed many apps that add their entries to the contextual bar?

[2021-05-25 18:15] TheSpringBoy commented on #5032
Google Drive, WinRar and eset. thats it.
but it also freezing so I think thats a different problem

[2021-05-25 18:17] gave92 commented on #5013
Ah apologies was your request for multi selection with "Ctrl + Hover"? Currently even in one-click-to-open mode Ctrl+Left click should work

[2021-05-25 18:21] gave92 commented on #5024
@stanleyowen was turning off caching enough to fix the issue also in details view?

You could try reenabling the caching and to delete the "cache.db" file you can find in the folder where the log files are.

[2021-05-25 18:29] ad1Dima commented on #4979
@yaichenbaum  I didn't see if you set RequestedTheme on your root frame. Mey be this is the problem?

[2021-05-25 19:07] yaichenbaum commented on #5031
It's an interesting idea, it's a little out of scope to build this kind of functionality into Files, but I'll keep this open to gather feedback and to see if we can implement this a different way.

[2021-05-25 20:06] ad1Dima commented on #4979
![5vGiNJQF1z](https://user-images.githubusercontent.com/3244664/119561393-4ea13600-bdcf-11eb-9708-d54feb93a23b.gif)
found this strange behaviour. may be related

[2021-05-25 20:15] yaichenbaum commented on #5014
@mdtauk That's something to look at, can you add your feedbac to #3922?

[2021-05-25 21:10] mangoepic opened #5033 "Show file extension when creating a new file"
**Is your feature request related to a problem?**
When creating a new File in Windows Explorer or exporting a file from Software like Photoshop, the File extension usually gets shown in the naming input field.

**Describe the solution**
Show the File extension behind the cursor in the input field.

This helps to
 - Reassure the user that they are creating the right File
 - Gives the user a chance

[2021-05-25 21:19] mangoepic commented on #4257
My mind is just blown right now, that you can draw a selection when not clicking on the text or selected item in Windows Explorer. Didn't know this.

Did this get fixed with #4626?

Or is this request here more about the selecting text functionality?

[2021-05-25 21:33] mangoepic opened #5035 "Indication for Drag'n'Dropping multiple files"
**Is your feature request related to a problem?**
It isn't clear that Files has the ability to drag and drop multiple files to the user, when he can only see one file following the mouse cursor while drag and dropping.

**Describe the solution**
An indication of having multiple files in the drag and drop

For Example by doing one or more of these things:
- Doing it like a web browser with a transp

[2021-05-25 22:19] nt4f04uNd commented on #4257
Yes, the part of this issue about double click was resovled I guess. The part about selection from the empty area is still valid I believe

[2021-05-25 22:57] yaichenbaum commented on #5033
@mangoepic Do you mind if I change this feature request to include support for an inline text box (similar to what you see when you rename an item) when creating items?

[2021-05-25 23:10] mdtauk commented on #3922
Rather than moving or removing the Progress Bar as the view populates, how about adding a delay to when it displays, so faster drives or more empty folders, can have a chance of displaying before the progress bar displays.

[2021-05-25 23:51] yaichenbaum commented on #4729
@Skaldebane Basically, this is something I am working on and I'll share the results when they are ready.

[2021-05-26 01:19] stanleyowen commented on #5024
Thanks @gave92, after deleting `cache.db` and reenabling the caching mode option, the app is no longer crash. I'll close this issue now.

[2021-05-26 01:19] #5024 closed

[2021-05-26 03:13] gave92 commented on #3922
In main it ready behaves a bit like that.

[2021-05-26 03:13] yaichenbaum opened #5038 "Enhancement: Update ToolbarButtonStyle to use the WinUI 2.6 template"

[2021-05-26 03:13] yaichenbaum opened #5039 "Codebase: Remove old DataGrid templates"

[2021-05-26 03:15] yaichenbaum opened #5040 "Bug report: Folder thumbnails in the detail layout no longer indicate if there is content in them"
**To reproduce**
1. Look at any folder that contains items
2. See the error

App version: `main`

[2021-05-26 03:16] yaichenbaum opened #5041 "Enhancement: Update column layout to use the WinUI 2.6 styles"

[2021-05-26 03:19] #4729 closed

[2021-05-26 03:19] gave92 commented on #5025
I get the sidebar in dark tint only in Release mode, debug looks fine.

[2021-05-26 03:19] yaichenbaum commented on #4729
@brendannoble This issue should be resolved in `main`.

[2021-05-26 03:29] gave92 commented on #5032
@TheSpringBoy could you post a screenshot of the context menu that appears in Files (if/when it appears)?

[2021-05-26 03:44] yaichenbaum commented on #5032
@gave92 That doesn't seem like a bad idea. It can be under the experimental settings page.

[2021-05-26 12:02] R3voA3 commented on #3922
Love that change!

[2021-05-26 16:07] #5040 closed

[2021-05-26 17:48] mangoepic commented on #5033
@yaichenbaum do you mean an option to have file creation that looks like in windows explorer instead of the pop up dialogue?
personally i kinf of like the dialogue, it looks cool and modern, but i haven't used it too much yet .. so can't really say? But if you like this feature i mean sure go ahead, users would probably expect this behaviour anyways? maybe as an option?

[2021-05-27 04:44] yaichenbaum opened #5046 "Sidebar: Add context menu options to library header item"
**Is your feature request related to a problem?**
Users are currently required to be on the home page to create a library.

**Describe the solution**
A context menu when right clicking on the header of the library section on the sidebar would be a good place to put an option to create a new library.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| Add right click context menu to

[2021-05-27 11:50] tilenpirih opened #5048 "Displaying custom elements on right click"
It would be great if you could customize what elements/features show, when you press right click on file/folder. I know this is possible by editing registers but it would be nice if this could be integrated in files.

[2021-05-27 15:27] FOkvj commented on #2065
but it still runs slowly.

[2021-05-27 15:55] mangoepic opened #5049 "Link file problems"
**Explain the bug**
I have noticed multiple problems with link files

- Link files can't be dragged around like other files (they're just stuck)
- When renaming link files the .lnk extension gets removed
- Creating link files using alt+drag isn't working (it only shows "Link" hovering over Desktop)

**System Information**
 - OS Version: Windows 10 20H2 19042.985
 - App version: 1.5.0.0

[2021-05-27 16:47] #5005 closed

[2021-05-27 16:50] yaichenbaum commented on #5049
@mangoepic Support for dragging shortcut files hasn't been implemented yet, I thought we had an issue for this but I can't find it, can you open one so we can continue tracking it?

This definitely looks like a bug, can you open a separate issue for this?

This hasn't been implemented yet, can you create a new feature request so we can track it separately?

[2021-05-27 16:50] #5049 closed

[2021-05-27 17:20] R3voA3 commented on #2587
Why limit this to "." Giving the user an option to define wildcards would be neat as well.

[2021-05-27 17:35] mangoepic commented on #5049
@yaichenbaum alright I will make separate issues later, just wondering

![image](https://user-images.githubusercontent.com/71931749/119871349-a43a2780-bf22-11eb-9d4f-42a7186d3972.png)

why this shows up when dragging to desktop 🤔

[2021-05-27 17:45] yaichenbaum commented on #2587
@R3voA3 do you have a use case where that would make sense?

[2021-05-27 18:44] AE102 opened #5050 "Google Drive folders not showing up"
When I load up my google drive (virtual drive.) No folders appear. When I try to paste in the exact file path it still shows nothing.

**To reproduce**
1. Go to 'Google Drive drive'
2. And nothing is there.

**Expected behaviour**
To show the folders and files

**Logfile**
[debug.txt](https://github.com/files-community/Files/files/6556086/debug.txt)

**Screenshots**
![image](https://user-images.gi

[2021-05-27 20:24] winston-de commented on #5048
Thanks for this feedback, merging with #3966.

[2021-05-27 20:24] #5048 closed

[2021-05-27 20:35] DiegoMagdaleno commented on #2587
@yaichenbaum Tbh it sounds like a good feature, some users might want to assign their own patterns or wildcards to be able to hide files, it would be great if we could do that + it would be a unique feature.

[2021-05-27 21:14] R3voA3 commented on #2587
Well, we could even go a bit further an talk about Regex. This would make this super customizable. All kinds of files in huge folder could be hidden.

@yaichenbaum  I work a lot with files which start with _ or __ these files clutter some folders a bit, so for me it would certainly be useful. With Regex I could even hide files with specific endings. The usecases are endless.

[2021-05-27 21:35] tilenpirih opened #5051 "Files sometimes crashes when you open new tab"
If I open, close and then open tab immidately, files crashes.

Files version: 1.5.0.0

https://user-images.githubusercontent.com/33714934/119899877-08211800-bf44-11eb-929c-fe8e0d57324f.mp4

[2021-05-27 22:55] yaichenbaum commented on #2587
Do you have any concepts/mockups for how this could work?

[2021-05-27 22:56] yaichenbaum commented on #5051
Thank you for reporting this issue. It appears to be resolved in `main`.

[2021-05-27 22:56] #5051 closed

[2021-05-28 00:23] yaichenbaum commented on #5049
Thanks!

[2021-05-28 02:05] Agredo opened #5052 "Feature: Add different click options based on user input method (Touch or mouse)"
### What feature or improvement do you think would benefit Files?
Open files and directories with one click works for touch but is unfamiliar using mouse
Allow openening files on touch screen by taping once and with mouse via double click.

### Requirements

-

### Files Version

2.3.11.0

### Windows Version

10.19043.1899

### Comments

_No response_

[2021-05-28 04:11] yaichenbaum commented on #5052
@ADeltaX 👀

[2021-05-28 11:54] mauriciomagalhaes commented on #5050
I have the same problem

[2021-05-28 14:18] AE102 commented on #5050
Even when I type in the path it doesn't diaplry anything.

[2021-05-28 14:22] mauriciomagalhaes commented on #5050
![image](https://user-images.githubusercontent.com/28632649/119998154-d3927800-bfa6-11eb-9656-bec98674e595.png)
![image](https://user-images.githubusercontent.com/28632649/119998401-0c325180-bfa7-11eb-91b8-c0a45307e216.png)

[2021-05-28 14:24] mauriciomagalhaes commented on #5050
only shows when I go to the directory that I know exists

[2021-05-28 21:18] winston-de opened #5055 "Drive icon is not shown in properties dialog"
**Explain the bug**
No icon is shown when viewing the properties of a drive. Instead, it's blank.

**To reproduce**
1. Right click drive in sidebar
2. Select properties
3. Blank space where icon would be shown

**Expected behavior**
The drive thumbnail of the appropriate size should be loaded and shown.

**Logfile**
N/A.

**Screenshots**
Add screenshots to help explain your problem if needed.

**S

[2021-05-29 04:48] Noisyfox commented on #4977
I'm having the same problem:
![image](https://user-images.githubusercontent.com/1537155/120058234-d49dd500-c08c-11eb-9d16-87affe6f48af.png)

[2021-05-29 14:02] viveksupport opened #5056 "QuickLook not working"
**Explain the bug**
Quicklook does not seem to be working in the Files app. I have Quicklook installed and it worked in Windows File Explorer but does not work in Files. Hitting the spacebar does not do anything. I have checked for other issues but they all say that the feature has been removed. Is there any way to enable Quicklook?

**To reproduce**
1. Go to 'Files'
2. Click on 'any file'
3. Scro

[2021-05-29 14:09] gave92 commented on #5056
Quicklook feature was not removed. Could you upload the two app's debug files?
- You can access them from Settings->About->Open log location.
or
- Copy the debug.log and debug_fulltrust.log from the following directory, and upload the files here.
`%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState`

(Note that QuickLook must be opened before opening Files or it won't be de

[2021-05-29 14:11] viveksupport commented on #5056
Here they are
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6564793/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/Files/files/6564794/debug.txt)

[2021-05-29 14:12] viveksupport commented on #5056
Also, Quicklook is open before starting Files and I can see the Quicklook icon in the taskbar.

[2021-05-29 19:41] winston-de opened #5058 "Photos view layout mode"
**Is your feature request related to a problem?**
Feature request.

**Describe the solution**
A photos layout mode (implemented as a new data template in the grid view browser) which shows images at their original size.

**Describe alternatives you've considered**
Use grid view - large.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow users to view photos

[2021-05-29 20:47] yeungchie opened #5059 "个性化中选择第三方终端 ConEmu 发生 BUG"
## 个性化中选择第三方终端 `ConEmu` 发生 BUG

1. 症状是疯狂弹出新的 `ConEmu` 终端窗口，只有重启或者卸载 `Files` 才能停下来。
2. 而且现在我也不能选择其他的第三方的终端应用了，因为我重新安装 `Files` 后，只要点击 修改终端项 中那个🖌编辑按钮就会开始疯狂弹出 `ConEmu` 终端窗口了。结果我又得把 `Files` 卸载一遍。。。

[2021-05-30 01:55] #985 closed

[2021-05-30 01:55] yaichenbaum commented on #985
@Taras-Parfeniuk A potential fix was included with #5009.

[2021-05-30 01:58] yaichenbaum commented on #5058
@winston-de This seems a little beyond the scope of Files. Is there added value in having this in Files over the dedicated photo app in Windows 10?

[2021-05-30 03:20] Gmemster commented on #5058
This is a must-add feature

[2021-05-30 03:22] Gmemster commented on #5056
MIne is working.

[2021-05-30 03:38] gave92 commented on #5056
This is not an issue with the Quicklook feature in particular, I dont' think anything related to the fulltrust process is working for him.
@viveksupport could you post a screenshot of how the context menu for file/folders appears for you in Files?

[2021-05-30 03:42] gave92 commented on #5059
Could you post your "terminal.json" file?

[2021-05-30 04:03] winston-de commented on #4966
Thanks for this feedback. Just to clarify, are you referring to showing cloud drives for different onedrive/sharepoint accounts, or for showing multiple folders that are in a cloud drive?

[2021-05-30 04:11] #4996 closed

[2021-05-30 04:19] yaichenbaum commented on #1258
@Jaiganeshkumaran Is this still an issue in `main`?

[2021-05-30 04:21] winston-de commented on #4735
Thanks for reporting this. I cannot reproduce the crash with the steps provided, however the stack trace matches #4316, which is a similar issue, so I'm merging this with it.

[2021-05-30 04:21] #4735 closed

[2021-05-30 04:23] yaichenbaum commented on #1577
@d2dyno1 That's the solution when ending up going with.

[2021-05-30 04:23] #1577 closed

[2021-05-30 04:24] winston-de commented on #4713
Thanks for reporting this. Unfortunately dragging shortcuts is currently not implemented, merging with #3952.

[2021-05-30 04:24] #4713 closed

[2021-05-30 04:26] winston-de commented on #4676
@gave92 This was fixed in your null task pr, right?

[2021-05-30 04:29] JackGFuller commented on #4713
Thanks for your response. That's unfortunate, as otherwise I find "Files"
to be a useful app, esp. the use of Tabs.

On Sat, May 29, 2021 at 9:24 PM Winston de Jong ***@***.***>
wrote:

[2021-05-30 04:30] gave92 commented on #4676
@winston-de yeah should be 👍

[2021-05-30 04:30] #4676 closed

[2021-05-30 04:31] #4598 closed

[2021-05-30 04:32] winston-de commented on #4579
Thanks for reporting this. Default apps is handled by Windows, not by Files, please file a bug report for this issue in the [Feedback Hub](https://aka.ms/feedbackhub).

[2021-05-30 04:32] #4579 closed

[2021-05-30 04:38] winston-de commented on #4545
Thanks for the feedback, merging with #4180.

[2021-05-30 04:38] #4545 closed

[2021-05-30 05:29] winston-de commented on #5058
@yaichenbaum Although photos provides a good way to view all photos, it does not provide a good way to browse photos in specific folders, especially when those folders are not in either the pictures library or OneDrive. For example, viewing photos in a temporary downloads folder that the user may not want to keep. A pictures layout mode would make it easy to view the contents without having to imp

[2021-05-30 05:40] winston-de commented on #4972
Thanks for reporting this, this issue should be resolved in ``main``.

[2021-05-30 05:40] #4972 closed

[2021-05-30 05:48] winston-de commented on #4758
Thanks for the feedback, this issue should be resolved in ``main``.

[2021-05-30 05:48] #4758 closed

[2021-05-30 06:03] winston-de commented on #4711
Thanks for reporting this. You mentioned preemptive caching, does this issue occur with the preemptive cache feature disabled?

[2021-05-30 06:10] viveksupport commented on #5056
The right-click menu does not have any of the extra options I have in File Explorer. Here are the two screenshots of the same file:
![image](https://user-images.githubusercontent.com/74747996/120094035-a0352200-c13b-11eb-8d19-2a415d9791fc.png)
![image](https://user-images.githubusercontent.com/74747996/120094056-c1960e00-c13b-11eb-88a0-b3aa2c7d71df.png)

Thanks

[2021-05-30 06:14] viveksupport commented on #5056
I have reinstalled the program and I have checked my Windows Security settings to make sure it has full access to the system.
A lot of the functions are not working for me in Files. I can't even copy/paste files. Right-click>Paste doesn't work, Ctrl+V also doesn't work.

[2021-05-30 06:34] mdtauk commented on #5058
There was a lot of complaint and comment when the same kind of mode was removed from Windows XP's File Explorer during the Vista transition.

![winxpanim.gif](https://user-images.githubusercontent.com/7389110/120094637-6ce19b80-c119-11eb-936f-e7d1526d1ca3.gif)

[2021-05-30 07:28] nanna66 commented on #5058
nice.

[2021-05-30 09:06] gave92 commented on #5056
Thanks a lot for the info @viveksupport. I'm going to close this issue as the issues you're facing are not tied to quicklook. Not being able to copy paste has been reported in #4665, #4971.

[2021-05-30 09:06] #5056 closed

[2021-05-30 12:06] gave92 commented on #4643
Is the new selected item background final? With the new one I find very hard too see selected items:

![image](https://user-images.githubusercontent.com/9673091/120103385-a8975800-c14f-11eb-932f-ddf661ae2f9e.png)

Edit: just noticed same goes for GriView selection so not tied to this issue.

[2021-05-30 14:20] yaichenbaum commented on #4643
@gave92 the new styles seem to only work on 20H2. A potential fix could be to create a custom style for older versions of Windows 10.
![image](https://user-images.githubusercontent.com/39923744/120107859-a8d42b00-c130-11eb-96b8-e6c22dbe42bc.png)

[2021-05-30 14:38] ColbertBrave commented on #5058
Very nice concept.

[2021-05-30 14:40] ColbertBrave commented on #5058
I think the UI in the concept is better than the UI in the current version. Please consider the design in the concept drawing, thanks. @yaichenbaum

[2021-05-30 14:56] intricatebiscuit opened #5062 "Progress indicator when copying and moving files"
I was copying and moving files between multiple locations and noted that the application was not providing feedback as to the status of the operation. These were large files. As such I was confused if the operation was occurring and if it had successful.

Please consider providing some visual feedback for file copy move and delete.

Thank for your great work.

[2021-05-30 15:49] gave92 commented on #5062
Thanks for this report, we're looking to improve this. Merging with #2543

[2021-05-30 15:49] #5062 closed

[2021-05-30 18:27] Neikon opened #5064 "Files crashes very often, almost always crashes with the onedrive folders."
**Explain the bug**
The program crashes very often, sometimes just by opening the download folder, but almost always crashes with the onedrive folders.
I have configured network disks, maybe that is relevant.
![imagen](https://user-images.githubusercontent.com/1765319/120115155-b4504200-c182-11eb-930d-0b00bbcec2ed.png)

**To reproduce**
1. Simply navigate to a onedrive folder which files is not lo

[2021-05-30 18:34] gave92 commented on #5064
Could you try deleting the two debug files, trigger the crash again and upload the debug files again?

[2021-05-30 18:39] Neikon commented on #5064
here are the clean records
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6566739/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/Files/files/6566740/debug.txt)

[2021-05-30 18:48] gave92 commented on #5064
A couple of things you can try.

1. Does it works is you disable these two settings (turn off caching) under Experimental?

![image](https://user-images.githubusercontent.com/9673091/110851026-ce2f6680-82b0-11eb-8974-599e144ff399.png)

2. Does it work if you change the following options?
- Turn Off "Enable individual preferences for individual directories" in Settings > Files and Folders
- Set Til

[2021-05-30 19:54] Neikon commented on #5064
Yes! Files only crashes if a set view to "details". I desactivate experimental features too

[2021-05-30 20:07] winston-de opened #5066 "Show item thumbnail on Start tiles for folders or libraries pinned to Start"
**Is your feature request related to a problem?**
Currently, the default folder icon is shown on tiles for folders pinned to the Start Menu.

**Describe the solution**
Since we are moving towards using the built in thumbnails in other parts of Files, the same should be done for Start tiles. This would be more like what Windows Explorer does for pinned folders. This will also make it easier for use

[2021-05-30 20:22] josh-65 commented on #4643
When opening a folder then scrolling the top bar with Name, Date and stuff disappears. It also shows up as scrollable left and right when it shouldn't.
![image](https://user-images.githubusercontent.com/26977075/120118969-1c0b8a80-c18d-11eb-886f-01789816ca10.png)

[2021-05-30 20:27] #5064 closed

[2021-05-30 20:27] gave92 commented on #5064
Thanks for confirming, this issue is fixed in latest code.

[2021-05-30 20:45] SuperZombi opened #5068 "Many tabs have falled under the close button"
When I opened much more than 6 tabs, the tabs and the "Open New Tab" button fell under the "Close" button.

![image](https://user-images.githubusercontent.com/75096786/120119515-b4f7d100-c1a0-11eb-9fb8-e4ef76b6262f.png)

[2021-05-30 20:57] winston-de opened #5069 "New tabs created via app activation aren't switched to automatically"
**Explain the bug**
When a new tab is created by activating the app (eg. jumplist item, Start tile, or files.exe), it is not automatically switched to.

**To reproduce**
1. Make sure "open folders in new tab" is selected in startup settings
2. Open Files jumplist
3. Click on any folder
4. New tab is opened, but not switched to

**Expected behavior**
Tab should be automatically switched to when cre

[2021-05-30 22:07] yaichenbaum commented on #5068
This issue should be resolved in `main`.

[2021-05-30 22:07] #5068 closed

[2021-05-30 22:08] yaichenbaum commented on #5066
@winston-de I'd rather not include a copy of the built-in icons, is it possible to set the path to the shell icon?

[2021-05-30 22:10] #5038 closed

[2021-05-30 22:10] #5039 closed

[2021-05-30 22:12] yaichenbaum opened #5071 "Feature request: Allow hiding options from the toolbar"
**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow right clicking on toolbar options to unpin them | Must |
| This proposal will add a section to the appearance settings page where users can pin/unpin options from the toolbar | Must |

[2021-05-30 22:18] winston-de commented on #5066
This wouldn't be including a copy of them in Files, it would just create a copy of the image obtained through ``GetThumbnailAsync`` in the local folder. Also no, I don't think it's possible to do that. The only way I know of for providing assets is by providing an appx path to either an item included in the app  or in the local state folder.

[2021-05-30 22:27] yaichenbaum commented on #5066
That's fine, I just didn't want to include it with the source.

[2021-05-30 23:24] gave92 opened #5073 "Feature request: right clicking on back and forward buttons should show navigation history"
**Feature description**
Right clicking on back and forward buttons should a popup containing folders from navigation history. This would allow to navigate more quickly back and forth.

Something like web browsers do:

<img src="https://user-images.githubusercontent.com/9673091/120123410-014a0d80-c1af-11eb-8078-16fb1d04dbef.png" width="500" />

**Scope**
| Capability | Priority |
| :---------- | :-

[2021-05-30 23:51] yaichenbaum commented on #5073
Merging with #4098 😂

[2021-05-30 23:51] #5073 closed

[2021-05-31 05:17] gave92 commented on #5073
Oops haven't seen it thanks =)

[2021-05-31 06:36] SuperZombi opened #5075 "Feature: Added resolution info to details pane"
### What feature or improvement do you think would benefit Files?

Add the file resolution to the file information in preview mode, and also let the user choose what information to display in this mode.

![image](https://user-images.githubusercontent.com/75096786/120150336-9b33a980-c1f3-11eb-8aaf-e2ac61fdcc50.png)

### Requirements

### Files Version

2.3.11.0

### Windows Version

10.19043.1899

[2021-05-31 09:39] luximus-hunter opened #5076 "Remove "Cloud drives" section when there are no cloud drives"
**Is your feature request related to a problem?**
No, but it's a slight design inconvenience

**Describe the solution**
Since I uninstalled OneDrive, and have no other cloud providers, the "Cloud drives" section is empty. I don't think it should display when there are no drives connected to it.

**Describe alternatives you've considered**
N/A

**Additional comment**
App version: 1.5.0.0

![image](

[2021-05-31 09:48] nightkall commented on #5058
Beautiful concept. I would love to see this mode implemented. This mode + QuickLook is all you need to explore media files.

[2021-05-31 09:59] michelebiancucci commented on #4966
Thank you for the support. I'm actually referring to showing multiple SharePoint sections as in the attached screenshot from File Explorer. Please also find attached another screenshot representing Files. As you can see, File Explorer shows two SharePoint sections, while Files only shows the first one.
![file explorer](https://user-images.githubusercontent.com/5813257/120176275-5fa2da80-c207-11eb-

[2021-05-31 14:39] Rasmagoric commented on #5058
Interesting. I barely used windows XP and I didn't know that, this is basically the same as the finder's gallery view in mac.

But one of the reason why I designed this concept was because windows 7 had an option to hide pictures filenames.
When you have thousands of pictures with random auto-generated names, the filenames become visual clutter.

Maybe a photos view layout mode could also have mor

[2021-05-31 14:44] beqabeqa473 opened #5078 "a11y: list items for selecting folders, drives and recents have no automation name."
Hello.

i am using the latest version of files app built from the latest codebase.

list items mentioned in title are not readable by the screenreader.

It would be great if you add corresponding names on them.

[2021-05-31 14:55] beqabeqa473 opened #5079 "a11y: extraneous information is read in file/folder list"
Hello.

When using screenreader, and navigating files and follders list, information is announced in the following way.

fsdn, C:\Users\beqap\Downloads\fsdn, Folder

if folder has some sort of needed value, it cannot be told the same about path.
because of that, navigation becomes extremely slow.

It would be great if you rethink display behaviour of such information for screenreaders and do it fo

[2021-05-31 15:20] yaichenbaum commented on #5079
@beqabeqa473 Is this still an issue in `main`?

[2021-05-31 15:21] beqabeqa473 commented on #5079
Yes

[2021-05-31 15:22] minidarknova opened #5080 "Right Click Freezes with pCloud"
If you have Files (obviously) and pCloud desktop client.
Right clicking on anything will freezes the software for 2-3 minutes before crashing completely.
I have tested this. I used ContextMenu Cleaner from Easy Context Menu latest version and disabled the pCloud items (copy this to pcloud, backup this folder, sync to pcloud). Once this is removed; Files, can easily open right click menu on files a

[2021-05-31 15:27] yaichenbaum commented on #5079
@beqabeqa473 Is the issue that it reads the item path, or the item type?

[2021-05-31 15:56] yaichenbaum commented on #5079
@beqabeqa473 Thanks for catching this!

[2021-05-31 17:08] yaichenbaum commented on #4678
This issue should be resolved with #5077.

[2021-05-31 17:08] #4678 closed

[2021-05-31 17:08] yaichenbaum commented on #4979
This issue is no longer relevant with #5077.

[2021-05-31 17:08] #4979 closed

[2021-05-31 17:10] yaichenbaum commented on #4937
@oseughu Thank you for opening this issue, we don't have any plans to make this change.

[2021-05-31 17:10] #4937 closed

[2021-05-31 17:12] #4454 closed

[2021-05-31 17:12] yaichenbaum commented on #4324
This issue should be resolved in `main`.

[2021-05-31 17:12] #4324 closed

[2021-05-31 17:13] #3923 closed

[2021-05-31 17:13] yaichenbaum commented on #3923
This issue is no longer relevant with #5077.

[2021-05-31 17:14] yaichenbaum commented on #3840
This issue should be resolved in `main`.

[2021-05-31 17:14] #3840 closed

[2021-05-31 17:16] yaichenbaum commented on #2066
We don't have plans to implement this change as it would get in the way of selecting items.

[2021-05-31 17:16] #2066 closed

[2021-05-31 17:17] yaichenbaum commented on #2898
This issue should be resolved with #5077.

[2021-05-31 17:17] #2898 closed

[2021-05-31 17:18] yaichenbaum commented on #2905
This issue is no longer relevant with #5077.

[2021-05-31 17:18] #2905 closed

[2021-05-31 18:46] gave92 commented on #5080
Thanks for this report. We'll investigate.

[2021-05-31 18:52] gave92 commented on #5076
Merging with #3912

[2021-05-31 18:52] #5076 closed

[2021-05-31 22:29] intricatebiscuit opened #5083 "Replacement confirmation for multiple files"
This is probably a duplicate feature request and so I apologize I am new to github.

When duplicate files are found on move / copy operations, a check box that says - repeat (replace / duplicate) for all files - would be very desirable.

Thank you for your great work.

[2021-05-31 22:46] #3708 closed

[2021-05-31 22:46] #5080 closed

[2021-05-31 22:46] yaichenbaum commented on #5080
This issue should be resolved with #5081.

[2021-05-31 22:46] yaichenbaum commented on #3708
This issue should be resolved with #5081.

[2021-05-31 22:48] #3912 closed

[2021-05-31 22:48] #4247 closed

[2021-05-31 22:49] yaichenbaum commented on #3912
This issue should be resolved with #5082.

[2021-05-31 22:49] yaichenbaum commented on #4247
This issue should be resolved with #5082.

[2021-05-31 22:50] yaichenbaum commented on #5083
@intricatebiscuit Thank you for opening this feature request, we have made some changes in `main` that resolve this issue.

[2021-05-31 22:50] #5083 closed

[2021-05-31 23:38] minidarknova opened #5084 "pCloud P: partition not visible in Files at all"
pCloud desktop software makes a P: partition in explorer, and its not visible in sidebar nor in Driver sections.

https://imgur.com/a/IhBD1KU

[2021-05-31 23:41] minidarknova opened #5085 "pCloud P: in address bar will get you BSOD"
Typing in P: in address bar to access your pCloud partition/folder will get you blue screen of death with error bxxconnect2007 (I dont remember the x bits)

[2021-06-01 06:42] 690275538 opened #5090 "希望增加 双击空白返回 上一级目录 的功能"
希望增加
1.  双击空白返回 上一级目录 的功能 (可以配置)
2.  收藏夹 可以像浏览器那样 在顶部显示
3. 地址栏 可以快速复制地址的按钮

[2021-06-01 07:06] Anshrk opened #5091 "A way to make this the default file manager"
I could not find a way to do this. So is there a way to make files the file manager the default manager.

[2021-06-01 07:52] awesomelewis2007 opened #5092 "No Blue selection box in details mode"
**Explain the bug**
No selection box in details mode

**To reproduce**
1. Go to 'view mode'
2. Click on 'drag your mouse over files and folders'

**Expected behavior**
A blue selection box to appear

**Screenshots**
![image](https://user-images.githubusercontent.com/60709927/120286225-eb734000-c2b5-11eb-9a09-30ca6769aa40.png)
![image](https://user-images.githubusercontent.com/60709927/120286348-0d

[2021-06-01 11:48] ryadhiprasetya commented on #5091
see https://files-community.github.io/docs/#/articles/replace-file-explorer

[2021-06-01 13:35] #5091 closed

[2021-06-01 14:13] R3voA3 opened #5093 "Feature: Add artworks to special folders if they are empty"
OneDrive app for example adds an artwork if the recycle bin is empty. Same could be done for the home screen if no widgets are activated.

Recycle Bin
![image](https://user-images.githubusercontent.com/17484252/120337821-f351d500-c2f3-11eb-8aa3-ac1d30830100.png)

Access Denied
![image](https://user-images.githubusercontent.com/17484252/120338643-b89c6c80-c2f4-11eb-842e-c2db1933be1f.png)

[2021-06-01 14:33] R3voA3 opened #5094 "Unified design for user input dialogs"
Right now, the user has to face several different dialog designs.

![image](https://user-images.githubusercontent.com/17484252/120340891-b1765e00-c2f6-11eb-8dad-cbd7c474cab5.png)

![image](https://user-images.githubusercontent.com/17484252/120340917-b804d580-c2f6-11eb-9919-3875e6ac4332.png)

![image](https://user-images.githubusercontent.com/17484252/120340937-bdfab680-c2f6-11eb-9d1a-7fa88ff16d5e.

[2021-06-01 15:41] #5084 closed

[2021-06-01 15:41] yaichenbaum commented on #5084
This issue should be resolved with #5088.

[2021-06-01 16:43] d2dyno1 opened #5095 "Feature request: Add support for middle click to open folder in new tab in ColumnView"
**Is your feature request related to a problem?**
 ColumnView doesn't have the option to middle-click to open a folder in new tab while other layout modes do.

**Describe the solution**
Implement middle click to open folder in new tab in ColumnView.

**Scope**

| Capability | Priority |
| :---------- | :------- |
|Implement middle click to open folder in new tab in ColumnView. | Must |

[2021-06-01 17:48] gave92 commented on #5085
Could you get a screen recording of this happening (e.g using a phone)? Thanks!

[2021-06-01 17:54] gave92 commented on #4037
Closing as folder loading speed was improved in main (#4922)

[2021-06-01 17:54] #4037 closed

[2021-06-01 17:55] #4495 closed

[2021-06-01 17:55] gave92 commented on #5092
Thanks for the report. This is fixed in latest code.

[2021-06-01 17:55] #5092 closed

[2021-06-01 17:55] yaichenbaum commented on #4495
This feature was implemented with #5065.

[2021-06-01 17:58] gave92 commented on #3373
Closing as folder enumeration speed is improved in main (#4922). Cause for crash during load was also fixed (new details view)

[2021-06-01 17:58] #3373 closed

[2021-06-01 18:21] cinqmilleans commented on #5093
For a normal folder, it is also much more beautiful and ergonomic.

[2021-06-01 18:26] cinqmilleans commented on #4813
@hiranmayd @yaichenbaum
Quick message to report that the feature is progressing well.
It takes time to have robust and efficient code.
I should be able to show in a week.

[2021-06-01 18:40] awesomelewis2007 commented on #5092
Thanks for replying so quickly and fixing the code @gave92

[2021-06-01 18:49] yaichenbaum commented on #4813
@cinqmilleans Thanks for the update!

[2021-06-01 19:07] monsterzzz opened #5096 "Files crashes when launched from admin command line"
在命令行输入 files . 或者其他路径都会闪退
不使用管理员权限则不会

[2021-06-01 19:08] gave92 commented on #5090
1. requested in #2355

[2021-06-01 19:25] gave92 commented on #5096
There are issue launching UWP apps as admin, also seen in #3117

[2021-06-01 19:52] #1245 closed

[2021-06-01 19:53] yaichenbaum commented on #1245
This issue should be resolved with #5097.

[2021-06-01 20:32] yaichenbaum commented on #5094
@R3voA3 Are you building from `main`? If so, can you make a list of the dialogs using the older style?

[2021-06-01 23:17] minidarknova commented on #5085
https://imgur.com/a/Othmyzn

Please do NOT make me do it again....I do not wanna f-up my pc

[2021-06-02 00:13] yaichenbaum commented on #5075
Fyi @winston-de

[2021-06-02 01:43] yaichenbaum opened #5099 "Enhancement: Replace theme combo box with radio buttons"
**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will replace the theme combo box on the appearance settings page with radio buttons | Must |

[2021-06-02 03:44] yaichenbaum commented on #5078
@chingucoding Do you want to take a look at this one?

[2021-06-02 04:53] yaichenbaum opened #5101 "Bug report: Settings dialog isn't using requested theme"

[2021-06-02 05:36] #3882 closed

[2021-06-02 12:57] fallen-fortress opened #5103 "un"

[2021-06-02 13:09] #5103 closed

[2021-06-02 13:48] duke7553 commented on #5099
@yaichenbaum How will this work with detected custom app themes?

[2021-06-02 14:28] tweetsakchutanee opened #5104 "Files"
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish

[2021-06-02 14:57] yaichenbaum commented on #5099
Custom themes has a separate combo box, this proposal is limited to the dark/light/default options.

[2021-06-02 15:20] Zerotask opened #5105 "Image from readme is too big to open it"
The preview image from the readme is too big to open it in the GitHub app
![Screenshot_2021-06-02-17-18-31-063_com.github.android.jpg](https://user-images.githubusercontent.com/20150243/120506986-b86ca180-c3c6-11eb-9695-8fabb1a86d8b.jpg)

[2021-06-02 16:39] #5104 closed

[2021-06-02 17:14] Zerotask commented on #5105
I can recommend using https://tinypng.com for that.

[2021-06-02 18:57] chingucoding commented on #5078
I can take a look at this, not sure when I will get to this though.

[2021-06-02 20:32] #5105 closed

[2021-06-02 23:04] #5101 closed

[2021-06-03 02:00] rial1254 opened #5109 ":("
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-06-03 02:04] #5109 closed

[2021-06-03 07:41] R3voA3 commented on #5094
Unfortunately I am not building from main.

[2021-06-03 07:44] Cyberdroid1 commented on #1603
I recently started using Files again on my old PC with an HDD, and whenever launching Files for the first time, it took around 10 seconds for the app to load. Subsequent launches took 1-2 seconds, which is "acceptable".

Can something be done to improve it? Thanks!

Files version 1.5.0.0
Windows 10 1809 LTSC  (17763.1935)

[2021-06-03 07:46] R3voA3 commented on #5058
I don't see how this is out of scope. Having one app to view files, folders and images it a great feature, especially since the photos app by MS is just crap.

[2021-06-03 08:28] monimesita opened #5111 "Colorize! app is not working properly (to change folder color)"
**Explain the bug**
I was using the Colorize! app to put color on the folders before start using "Files", however, is not working with Files, the little icon is not coloured, but the preview does.

**To reproduce**
1. Select a folder
2. Right Click
3. Click on "Colorize!"
4. Select any color
5. See that the icon does not change of color.

**Expected behavior**
It is expected to see immediately the

[2021-06-03 08:30] gave92 commented on #5111
What about refreshing the folder (F5)? Is it enough to update the icon?

[2021-06-03 08:35] monimesita commented on #5111
Gave92, yes! now it works, when press F5! thanks! :)

[2021-06-03 11:21] #2895 closed

[2021-06-03 11:22] gave92 commented on #2895
Next version will use system icons for folders.

[2021-06-03 11:24] gave92 commented on #5111
Thanks for confirming, closing this for now. We'll look for a way to do this automatically.

[2021-06-03 11:24] #5111 closed

[2021-06-03 12:40] hiranmayd commented on #4813
nice to hear

[2021-06-03 13:21] #5055 closed

[2021-06-03 15:21] yaichenbaum commented on #5094
In that case this issue should be resolved.

[2021-06-03 15:21] #5094 closed

[2021-06-03 15:21] #5059 closed

[2021-06-03 17:52] #2016 closed

[2021-06-03 17:52] gave92 commented on #2016
Fixed in latest code.

[2021-06-03 17:56] #2521 closed

[2021-06-03 17:56] gave92 commented on #2521
Fixed in latest code.

[2021-06-03 18:05] #2686 closed

[2021-06-03 18:05] gave92 commented on #2686
This issue has been fixed.

[2021-06-03 18:09] #2675 closed

[2021-06-03 18:09] gave92 commented on #2675
This is implemented with the new details view.

[2021-06-03 18:12] #2916 closed

[2021-06-03 18:12] gave92 commented on #2916
Fixed in latest code.

[2021-06-03 18:14] #2998 closed

[2021-06-03 18:14] gave92 commented on #2998
Date created column has been added.

[2021-06-03 18:33] #4235 closed

[2021-06-03 18:48] yaichenbaum commented on #2675
@gave92 It is posible to exlude the icon column from being saved?

[2021-06-03 19:22] dheerajvirgo opened #5116 "Single Click and point to select"
**Is your feature request related to a problem?**
Yes. the feature that lets you open files with one click basically removes the option to select files.

**Describe the solution**
Windows solves this by letting us select by pointing at the files.  Adding that would be very useful

**Describe alternatives you've considered**
since selecting option is gone i basically turned off one click

**Scope**

[2021-06-03 19:25] winston-de opened #5117 "Bug: PDF preview pages are very blurry at low scaling"
**Explain the bug**
In the pdf preview, pages are blurred to the point where they are almost unrecognizable.

**To reproduce**
1. Open files
2. Move it to monitor with low scaling
3. Open preview pane, select pdf
4. Content is blurred to the point of being unrecognizable

**Expected behavior**
PDF pages should appear sharp.

**Logfile**
NA

**Screenshots**
![image](https://user-images.githubuserco

[2021-06-03 20:13] winston-de opened #5118 "Feature: Show files the user has recently created in the recent items widget"
**Is your feature request related to a problem?**
Windows explorer shows recently created items in quick access, which makes it easy to view or drag and drop files that were just created.

**Describe the solution**
Show files recently created by the user in the recent items list.

**Describe alternatives you've considered**
N/A.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| Th

[2021-06-03 20:48] winston-de opened #5120 "Implement drag support for items in the recent files widget"
**Describe the solution**
Allow items in the recent items widget to be dragged, so that users can easily drag items they were recently using into other applications. For example, the user could drag a document they just opened into mail to attach it.

**Describe alternatives you've considered**
Copy-paste maybe.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will

[2021-06-03 20:50] Josh-65 opened #5121 "Switching the layout in an empty directory hides the "This folder is empty" text"
**Is your feature request related to a problem?**
Currently some layouts like Grid make it hard to tell if the folders empty or files isn't loading the content. As it just appears blank.

**Describe the solution**
Text to say "This folder is empty" should be added

**Scope**
| Capability | Priority |
| :---------- | :------- |
| Keep "This folder is empty" text when switching layout | Must |
| Add

[2021-06-03 21:12] yaichenbaum commented on #5121
This is already implemented in `main`. However, it appears that switching the layout inside an empty directory will hide the text.

[2021-06-03 21:45] winston-de commented on #5093
If this is implemented, a good source for these would likely be https://undraw.co/ since they are free to use and don't require attributions.

[2021-06-03 21:56] XPoppyX opened #5123 "Add Latin American Spanish translations"
I would like to continue translating but in **es-419** (Latin American Spanish), because I'm actually Latin American and **es-ES** which is where I am adding my translations are for Spain. There are differences between Castilian (Spain) and Latin American Spanish.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow strings to be translated into es-latam with

[2021-06-03 22:17] Seneschie opened #5124 "just moving large zip files between drives"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-06-03 22:22] Seneschie commented on #5124
drag and drop . everything fine, moved multiple files prior no problem . halfway through move OOPS! one of two window closes and window pops up with OH SH!T message I couldn't read quickly enough.  win10 rog strix

[2021-06-03 22:53] #5124 closed

[2021-06-03 22:54] yaichenbaum commented on #5124
@Seneschie We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-06-03 23:00] yaichenbaum commented on #5123
@XPoppyX I added es-419 to `main`, looking forward to your pull request 🙂

[2021-06-03 23:00] #5123 closed

[2021-06-03 23:32] duke7553 commented on #5058
@yaichenbaum I certainly think this is an area we can add value in since users want to see multiple photos at once.

[2021-06-03 23:51] yaichenbaum commented on #5058
@R3voA3 which part of this layout are you interested in, hiding the file names or is there something else?

[2021-06-03 23:52] yaichenbaum commented on #5058
@duke7553 How would this be different from the regular grid layout?

[2021-06-03 23:57] Rasmagoric opened #5126 "F11 to Toggle Fullscreen"
There's already a shortcut to toggle fullscreen (win+shift+enter) in uwp apps, but F11 is quicker way and a shortcut adopted in most of programs such as browsers, code editors , default file explorer etc.

[2021-06-04 00:30] OMAThuggin opened #5127 "Gv"
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish

[2021-06-04 00:57] #5127 closed

[2021-06-04 01:42] yaichenbaum commented on #5093
@R3voA3 wouldn't this be useful for regular folders as well?

[2021-06-04 02:00] Noisyfox commented on #4977
This is the log file for this crash
[debug.txt](https://github.com/files-community/Files/files/6595252/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6595254/debug_fulltrust.txt)

[2021-06-04 02:39] Noisyfox commented on #4977
![image](https://user-images.githubusercontent.com/1537155/120737668-d6a2e080-c531-11eb-9af8-33e323b4be5a.png)

Seems that you are not allowed to have slash in the key name...

[2021-06-04 03:42] ryadhiprasetya opened #5128 "FR: Automatically empty trash after 30 days"
Add option to automatically empty trash after 7, 30 day

[2021-06-04 04:30] yaichenbaum commented on #5128
@ryadhiprasetya There is a built-in option in Windows 10 in the storage settings.

[2021-06-04 04:30] #5128 closed

[2021-06-04 04:51] dheerajvirgo opened #5129 "File Creation date is removed"
**Is your feature request related to a problem?**
When moving files rather rather than copying, Files app basically creates a new file and deletes the old file this results in the file having new 'Date Created'

**Describe the solution**
Windows have the ability to preserve the Metadata including file creation date while moving files. Utilizing that would be beneficial as people like me are heavil

[2021-06-04 05:12] winston-de commented on #5129
I'm having trouble reproducing this issue, the date created metadata remains the same when moving an item. Could you please upload the log files? You can find them in `%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState`.

[2021-06-04 06:02] JotaRata opened #5132 "Launching explorer.exe with arguments just opens explorer.exe"
Ok title might be a little misleading..

if you execute `explorer "C:\Users"` or something like this in CMD or another program calls it this way (i.e. Steam)
It just opens regular explorer.exe and not Files even when the guide for making Files the default explorer is followed as intended

**Expected behavior**
Files should open in the desired directory when executing `explorer "Directory"`

**Logf

[2021-06-04 07:36] R3voA3 commented on #5093
Sure, but might be a bit too much.

[2021-06-04 07:45] R3voA3 commented on #5058
I think it's a beautiful way to look at images without any distraction. Also, since the file name and for example sync status isn't shown more images fit on the screen at once.

[2021-06-04 12:39] XPoppyX commented on #4173
currently this is already indicated with the system icons

[2021-06-04 12:39] #4173 closed

[2021-06-04 14:33] Rasmagoric commented on #5058
I will give another example, when photographers are viewing photos from their folders, the pictures always have those auto generated names such as "DSC_0832",  "DSC_0833" etc, when you are trying to pick the best ones from hundreds or thousands of pictures the focus has to be on the thumbnails.

Anyways, features such as hiding the filenames or adding a scale slider could be added to the regular g

[2021-06-04 15:14] yaichenbaum commented on #5058
I'm thinking more along the lines of having these as individual features rather than a dedicated layout mode.

[2021-06-04 17:17] duke7553 commented on #5132
Considering explorer.exe is itself an executable, and Files supports launching from the command line with args, we don't want to make any changes that overwrite the explorer.exe binary.

[2021-06-04 17:17] #5132 closed

[2021-06-04 17:21] duke7553 commented on #5058
We don't necessarily need a new layout mode for a photos view experience, but maybe we can detect where users have all photos in a directory and tailor the existing GridViewBrowser mode to it.

[2021-06-04 19:05] XPoppyX opened #5134 "The id of a textblock does not match the id that is in string resources"
The id of textblock "Layout" does not match the id of string resources

**NavigationToolbar.xaml:**
NavToolbar > Layout button > Flyout > Textblock "Layout":

ID: `NavToolbarLayoutMode`

------------

**String resources:**
ID: `NavToolbarLayout.Text` : "**Mode**" is missing

[2021-06-04 20:27] gus33000 opened #5135 "Feature: Add a widget for network drives"
**Is your feature request related to a problem?**
The files app makes it less easy and clear to distinguish between network drives and local drives compared to file explorer. Currently in the stable release network drives get a different icon but does not help much regarding clear separation.

![image](https://user-images.githubusercontent.com/3755345/120858538-3675a780-c583-11eb-89b7-430fc5d99ab2

[2021-06-04 20:28] yaichenbaum commented on #5134
@XPoppyX The correct ID should be`NavToolbarLayout`.

[2021-06-04 20:34] gus33000 opened #5136 "Feature request: Ability to have different layouts for widgets on the new tab page"
**Is your feature request related to a problem?**
Current files only allows a tile layout to be shown for the new tab page for widgets. It would be nice to be able to have different views showing different type of information, like file explorer does.

**Describe the solution**
Allowing different views like file explorer. Examples:

![image](https://user-images.githubusercontent.com/3755345/120859

[2021-06-04 21:12] XPoppyX commented on #5134
ok, I'll open a PR

[2021-06-04 21:46] #5134 closed

[2021-06-05 01:35] zhucp commented on #4961
奇怪的是, 第一次打开 不能复制和剪切, 重启软件, 可以剪切但任然不能复制...

[2021-06-05 03:31] tweetsakchutanee opened #5139 "Getnet"
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Scope**

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish

[2021-06-05 05:30] LuNiney commented on #4971
additionally, i've noticed recently that files would also hang after right clicking on empty space in a folder, and i tested that even on a smaller folder, same issue.

[2021-06-05 06:05] JotaRata commented on #5132
Is it possible to use the same method that launches Files using Win+E shortcut to override the excecution of explorer.exe with args?

[2021-06-05 06:32] JotaRata commented on #5132
Nevermind I found the solution!

There's no need to modify explorer.exe binaries, instead you can follow this [guide](https://stackoverflow.com/questions/20530996/aliases-in-windows-command-prompt) to set an alias for _explorer_ and set it to Files

First you need to include the path where Files.exe is located (C:\Users\NAME\AppData\Local\Microsoft\WindowsApps) to PATH
You create a bat or cmd file

[2021-06-05 11:48] gave92 commented on #5139
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. We typically close issues like this in 7 days, so please fill out the issue template to the best of your ability before then.

[2021-06-05 16:48] MeikelLP opened #5141 "Crash when opening specific path"
**Explain the bug**
When I try to open my folder at

[code]

The app crashes reproducably. I installed Files for the first time very recently (~1h ago)

This is only happening in the specific project path. Other projects `/bin/` work fine.

For example
[code]

**To reproduce**
???

**Expected behavior**
Should not crash ?

**Logfile**
Sadly the logs do not contain any crash information.
Only multi

[2021-06-05 16:50] MeikelLP commented on #5141
Sadly I have to state that the issue is no longer reproducable. It took me about ~10min to write this issue so maybe this is some caching issue? I very often opened/cleaned that folder...

[2021-06-05 17:14] gave92 commented on #5141
Thanks for this report.
- Could you upload the debug files (there are two of them) anyway?
- When the app crashed did you get a notification saying "something went wrong"?
- Where you using the "Details" layout mode or Tiles/Grid?

I'm closing this issue for now, if you can replicate it again we'll reopen this. In the meantime I'm posting below 2 workarounds that were found for similar issues.

Wo

[2021-06-05 17:14] #5141 closed

[2021-06-05 21:21] winston-de opened #5143 "Discussion: ink gestures"
**Is your feature request related to a problem?**
Not really a problem, but several apps (eg Journal, MS To-Do) have added ink gestures to manipulate items. I think this would be a cool thing to have in Files.

**Describe the solution**
Add support for ink gestures for manipulating items in layout modes. Some gestures could be scribble to delete, circle to select multiple items, check to toggle se

[2021-06-06 02:02] yaichenbaum commented on #4971
@LuNiney Is this also in v1.5?

[2021-06-06 04:27] itsmehoaq opened #5145 "Drag & Drop to extract compressed file"
Not so sure if this is just on my end or not, but currently drag and drop to extract compressed file using 7-Zip is impossible.

[2021-06-06 06:18] laksa19 opened #5146 "Can not load Google Drive"
![image](https://user-images.githubusercontent.com/16347475/120914603-6929b800-c6c9-11eb-9a8b-02f00db29851.png)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6603729/debug_fulltrust.txt)

[2021-06-06 07:55] gave92 commented on #5146
Could you try to turn on the option to show hidden files and turn _off_ the option to hide system and protected files?

[2021-06-06 08:45] gave92 commented on #5145
Thanks for this report. It works for me, could you upload here the two debug files and add the Files version to the description?

[2021-06-06 08:50] gave92 commented on #5146
Merging with #5050

[2021-06-06 08:50] #5146 closed

[2021-06-06 08:50] gave92 commented on #5050
Could you try to turn on the option to show hidden files and turn off the option to hide system and protected files?

[2021-06-06 08:57] gave92 commented on #5116
Merging with #3682

[2021-06-06 08:57] #5116 closed

[2021-06-06 08:59] gave92 commented on #4930
Yup should be fixed in main.

[2021-06-06 08:59] #4930 closed

[2021-06-06 09:02] itsmehoaq commented on #5145
[debug.txt](https://github.com/files-community/Files/files/6603891/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6603892/debug_fulltrust.txt)
Files version: 1.5.0.0

[2021-06-06 09:11] gave92 commented on #5145
A few more info :)
- Could you delete the two log files, try to drag&drop from 7zip and upload the new log files?
- Any difference if you try to drag&drop a folder or a single file from 7zip to Files?
- When you drag something from 7zip over Files does a semitransparent window appear saying "Drop here"?
- Does it work if you drag&drop from a zip opened in explorer?
- Could you share a screenshot o

[2021-06-06 09:27] akset045 opened #5147 "Crash"
The app crashes when I open tabs on both SSD and HDD at the same time. And don't work hotkeys for switch tabs (Ctrt + Tab), but Ctrl +1, Ctrl + 2 and ect. is OK.

Maybe you can find some useful. Tnx.

System:

Windows 10 Pro 64 bit
Version 20H2
OS build	19042.985

[debug.txt](https://github.com/files-community/Files/files/6603930/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/

[2021-06-06 09:31] itsmehoaq commented on #5145
Here are the 2 new log files.
[debug.txt](https://github.com/files-community/Files/files/6603918/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6603919/debug_fulltrust.txt)

For the questions:
- Either single file or whole folder produces the same error
- When dragging the file into Files window, there is an overlay saying "Drop here"
- If the zip is opened using F

[2021-06-06 14:08] mauriciomagalhaes commented on #5050
Dont work!

[2021-06-06 17:30] Neikon opened #5148 "Come back using folder name in the nav/url bar is confusing"
**Explain the bug**
Come back using folder name in the nav/url bar is confusing. I thought the program was getting stuck when I wanted to go back to a previous folder. Because no matter how many times I clicked on the program it didn't respond when I realised that although the whole section was illuminated when you put the mouse over it, if you click on it nothing happens unless you are over the t

[2021-06-06 17:32] Karthik-Dulam commented on #4931
Even though I have two cloud drives, both one drive, one personal and the other institutional, there are no options under cloud drives.

![image](https://user-images.githubusercontent.com/59601648/120934239-27c1f880-c71b-11eb-9f2e-ac5a7688b52d.png)

Probably this is what the OP meant, I have the same problem.

[2021-06-06 17:33] #5148 closed

[2021-06-06 17:33] gave92 commented on #5148
Merging with #4879

[2021-06-06 18:30] #4879 closed

[2021-06-06 18:30] yaichenbaum commented on #4879
@josh-65 This issue should be resolved in `main`.

[2021-06-06 18:31] yaichenbaum commented on #5147
@akset045 Is this still an issue in `main`?

[2021-06-06 18:39] akset045 commented on #5147
@yaichenbaum, only with switching tabs. Other stuff are not terrible.

[2021-06-06 19:14] yaichenbaum commented on #5147
@akset045 What version of Files did you test with?

[2021-06-06 19:16] akset045 commented on #5147
@yaichenbaum 1.5.0.0.

[2021-06-06 19:19] yaichenbaum commented on #5147
These issues appear to be resolved in `main`. Let us know if it's still an issue once v2 rolls out.

[2021-06-06 19:19] #5147 closed

[2021-06-06 21:09] levimatheri commented on #5126
@yaichenbaum I'm working on this. Will submit a PR for review. Thanks!

[2021-06-06 21:13] yaichenbaum commented on #5126
@levimatheri Welcome! When implementing this, you should probably add the logic to MainPage.xaml.cs.

[2021-06-06 21:30] akset045 commented on #5147
@yaichenbaum ok.

[2021-06-06 23:06] DiegoMagdaleno commented on #2587
@yaichenbaum Maybe something like this, is not an exact mockup, but its something i quickly designed on Adobe XD with Microsoft's Guidelines

<img width="918" alt="Screen Shot 2021-06-06 at 6 04 32 PM" src="https://user-images.githubusercontent.com/38844659/120942989-dc472480-c6f1-11eb-9e0f-2345cdea04b6.png">

<img width="925" alt="Screen Shot 2021-06-06 at 6 04 39 PM" src="https://user-images.git

[2021-06-06 23:37] madoliveira opened #5153 "BUG 06/06/2021 - FILES"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-06-06 23:53] yaichenbaum commented on #5153
We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-06-06 23:53] #5153 closed

[2021-06-07 01:03] richwxd opened #5154 "Always crash when file list is loading"
**Explain the bug**
Write a clear description of what the bug is.
Event for a folder with 3 files, but rarely opened recently, when open this folder, a gauge was shown, if do another operation such as click other drive at the same time, the "Files" crashed and disapeard. After open this program twice, it works.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See th

[2021-06-07 01:14] generalguy41 commented on #5143
This is a really cool idea, but I do hope that implementing it doesn't push v2.0 any further...

[2021-06-07 01:22] generalguy41 commented on #5058
Personally, I don't see the harm in adding this as another mode. If the issue is it being a dedicated option in the layouts, maybe it could be in the context menu like when you used to be able to "Hide Filenames" back in Win 7, or maybe a toggle in the settings to always show photo focused folders in this view or the original view.

[2021-06-07 08:15] LuNiney commented on #4971
@yaichenbaum  yes.

[2021-06-07 08:21] AnuthaDev commented on #5058
This layout seems very similar to that of Google photos. They have published a blog describing how it works:

https://medium.com/google-design/google-photos-45b714dfbed1

Another related blog:

https://medium.com/@danrschlosser/building-the-image-grid-from-google-photos-6a09e193c74a

[2021-06-07 13:06] SpeedyIndeedy commented on #4977
@Noisyfox
Nope, its the same as first one.

[2021-06-07 14:55] f-x1-1 commented on #5154
[debug.txt](https://github.com/files-community/Files/files/6609931/debug.txt)

https://user-images.githubusercontent.com/77340515/121038788-779ad100-c7a8-11eb-979a-50677d8fa511.mp4

As you can see It in the video above keeps crashes

[2021-06-07 15:36] radascuta commented on #4561
The application shuts down every time it tries to open a file in OneDrive that is not downloaded to the local disk. This can be easily verified, it's 100% the case.

[2021-06-07 16:22] yeungchie commented on #5059
### like this
![terminalConRmu_1](https://user-images.githubusercontent.com/30793662/121055044-8193f280-c7ef-11eb-9ec8-5a7040377206.gif)

---

### terminal.json
[code]

[2021-06-07 16:24] yeungchie commented on #5059
+ And when I uninstall "files", these terminal will close automatically in turn.

[2021-06-07 16:53] mistic100 commented on #4301
+1 for this, the current state is the step back from the standard explorer when navigating into galleries

also linked to #3326 which is a very handy feature for music albums

[2021-06-07 18:33] gave92 commented on #5059
I see no reference to ConEMu in terminals.json. Do you have this options set in COnEmu?

![image](https://user-images.githubusercontent.com/9673091/121070945-9bbdd880-c7cf-11eb-9bed-35250a2dd506.png)

[2021-06-07 18:36] gave92 commented on #4561
Have you tried the suggestions in #4304?

In particular:
1. Turn Off "Enable individual preferences for individual directories" in Settings > Files and Folders
2. Set Tiles or GridView layout mode
3. Disable these two settings (turn off caching) under Experimental

![image](https://user-images.githubusercontent.com/9673091/110851026-ce2f6680-82b0-11eb-8974-599e144ff399.png)

[2021-06-07 18:38] gave92 commented on #4561
Is the issue when opening a file or a folder?

[2021-06-07 20:46] cinqmilleans opened #5159 "TextZone too small for text in settings"
**Explain the bug**
The language change confirmation popup displays unreadable text.

**To reproduce**
Open settings, tab Preferences
Choose a another lang

**Expected behavior**
Larger text box

**Screenshots**
![lang](https://user-images.githubusercontent.com/46631671/121084888-78038e00-c7e1-11eb-9022-1a5da603ab11.png)

[2021-06-07 21:41] #5099 closed

[2021-06-07 23:29] tocram1 commented on #4707
I have kind of the same problem, except that after I click yes on the PowerShell prompt, the app is stuck and doesn't respond anymore. I have to close it, then open it again to see that the drive indeed gets renamed.
My debug files don't seem to have anything interesting aside these two lines in `debug_fulltrust.txt` (the first for the renaming, the second for the termination of the app :/)
[code]

[2021-06-08 00:31] josh-65 commented on #4707
So an update on this using a build from main. I try renaming a drive didn't work even after re launching. Tried again and it did show after a relaunch but the drive letter was also add so it became '(S:)  (S:)'. Renaming it again worked but the double drive letter remained.

Updated logs:
[debug.log](https://github.com/files-community/Files/files/6612661/debug.log)
[debug_fulltrust.log](https://gi

[2021-06-08 02:41] #5126 closed

[2021-06-08 02:42] yaichenbaum commented on #5126
This issue should be resolved with #5152.