[2021-01-18 16:42] yaichenbaum commented on #3147
@eraychumak Thank you for the extra info, in that case, it's the expected behavior since you launched Files using the keyboard.

[2021-01-18 16:42] #3147 closed

[2021-01-18 16:45] yaichenbaum commented on #3118
This concept looks good to me, is anyone interested in implementing this change?

[2021-01-18 16:47] tsvietOK commented on #3118
@XPoppyX Can you show how it looks with light app theme, please?

[2021-01-18 16:53] #3119 closed

[2021-01-18 16:54] XPoppyX commented on #3118
**Concept:**
![Captura de pantalla 2021-01-18 135022](https://user-images.githubusercontent.com/61259627/104943470-954fd100-5994-11eb-860d-4240db29496a.jpg)

[2021-01-18 16:55] yaichenbaum commented on #3122
@janegilring This kind of option is a little out of scope for Files but we can look at adding documentation on how to manually remove them.

[2021-01-18 16:57] Tropix126 commented on #3145
As mentioned earlier, some of these should probably be issues for the microsoft-ui-xaml repo instead of here. For example, the textfield is simply part of fluent as is. The button issue is a side-effect of using "reveal style" buttons, which is one of 3 button styles. The style you saw in settings was the standard style as opposed to the reveal style. I'm personally in favor of switching to standa

[2021-01-18 16:58] Tropix126 commented on #3145
I might also add that the guys at the xaml repo have been doing some major changes to stuff like this, and most components will look different in the future. Example:

[2021-01-18 17:30] XPoppyX commented on #3145
For now we can discuss about this:

### **Before:**

![Captura de pantalla 2021-01-18 110000](https://user-images.githubusercontent.com/61259627/104945263-3475c800-5997-11eb-804b-0087785487ef.png)

--------------------

### **After:**

![Captura de pantalla 2021-01-18 111251](https://user-images.githubusercontent.com/61259627/104945272-36d82200-5997-11eb-92c3-c5105923fe96.png)

[2021-01-18 17:39] yaichenbaum commented on #3145
@XPoppyX What font size are you using for the toggle switch headers?

[2021-01-18 17:39] gumbarros opened #3155 "Hide OneDrive (or other drives) from the list"
**Is your feature request related to a problem? Please describe.**
I want to remove the OneDrive from the drives list

**Describe the solution you'd like**
A option on right-click to hide a driver

**Describe alternatives you've considered**
Hide all drives, but I need the others.

[2021-01-18 17:40] XPoppyX commented on #3145
14

[2021-01-18 17:44] yaichenbaum commented on #3155
@gumbarros Thank you for opening this issue, you should be able to remove OneDrive from the list by removing the environment variables for OneDrive.

[2021-01-18 17:44] #3155 closed

[2021-01-18 18:08] Tropix126 commented on #3145
Agreed here, though what's with those 2px border toggleswitches in the first screenshot?

[2021-01-18 18:17] XPoppyX commented on #3145
@Tropix126 Because I took that screenshot from Blend and it looks thicker there. I will change it

[2021-01-18 18:30] mdtauk commented on #3145
The actual settings app on Windows 10 is still using the old control designs, they didn't move to WinUI 2

[2021-01-18 18:36] mdtauk commented on #3145
Not everything you click in a UI is or should be a button.  Some things are Icons, Tiles, List Items, and yes Buttons.

Having defined styles for each of the discreet UI concepts is important, and these can be visually distinctive from each other, but should be used consistently and within the correct context.

The Tilt effect is being removed from the WinUI design language, so I would imagine it

[2021-01-18 18:42] mdtauk commented on #3130
The accent button style is traditionally used for "default actions", so the action that will be performed when you press Enter, because that item has focus.

In modern UI, it is also used to distinguish destructive actions, or actions that will change something.

So its important to not only change the style, but to examine the behaviour of the button too.

[2021-01-18 18:44] mdtauk commented on #3132
Might I suggest you put a border around those colour key rectangles, to ensure they are not confused for CheckBoxes

[2021-01-18 19:01] tsvietOK commented on #3132
There possible color contrast problem, if you select dark gray color in Windows settings.

[2021-01-18 19:04] itmk64 opened #3158 "Fuzzy text after hoovering over button"
When I hoover over button the clear and nice font always went to be little bit fuzzy (see screenshot).
Same behavior for each button in the "Folders" menu and "Units" menu.
Same behavior always (doesn't matter if you restart app, Windows or not)

**resolution:** 1920x1080px

**OS version:** Windows 10 Home 19042.746
**App version:** 1.1.0.0

**Expected behavior:** Clear sharp font on the hoovered

[2021-01-18 19:22] mdtauk commented on #3132
To be fair, it is a silly choice to make, when the Accent Colour is functional as well as an aesthetic one.

You can't expect every app to "correct" a mistake made by the user.

[2021-01-18 19:27] #3130 closed

[2021-01-18 19:49] #3151 closed

[2021-01-18 19:49] gave92 commented on #3151
See #3005

[2021-01-18 19:52] #3158 closed

[2021-01-18 19:52] gave92 commented on #3158
See #3143

[2021-01-18 20:14] yaichenbaum commented on #1023
@XPoppyX This enhancement will be implemented with #3159.

[2021-01-18 20:17] mdtauk commented on #1023
Should the layout button itself, display the icon of the currently chosen layout mode?

[2021-01-18 20:19] heikobischoff commented on #3095
@gave92
I have opened a new case #3151 for additional synced locations. This is a little bit different from the topic discussed here, but maybe it can be put together.
We have two scenarios:
1) Connect OneDrive with your first M365 identity. You will get your OneDrive folder synced on your device. After that, connect a 2nd M365 identity with your OneDrive client, then you have two OneDrive folders

[2021-01-18 20:23] gave92 commented on #3151
@heikobischoff apologies, I misinterpreted your request. It should still make sense to merge the two together as the implementation should take care of both at once.

[2021-01-18 20:24] TechShark1 opened #3160 "Hotkeys"
It would be great if there was a way to assign a hotkey to open the application.
Thanks

🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨

I ACKNOWLEDGE THE FOLLOWING BEFORE PROCEEDING:
1. If I delete this entire template and go my own path, the core team may close my issue without further explanation or engagement.
2. If I list multiple bugs/concerns in this one issue, the core team may close my issue without further explanation or e

[2021-01-18 20:29] gave92 commented on #3095
@AndyMDoyle the above looks like another point in favor for implementing this by reading the registry and not the .ini files xD

[2021-01-18 20:36] #1023 closed

[2021-01-18 20:37] yaichenbaum commented on #3160
Merging with #1660.

[2021-01-18 20:37] #3160 closed

[2021-01-18 20:43] heikobischoff commented on #3095
I just checked my %localappdata%\Microsoft\OneDrive\settings\ folder.
I have three folders: Business1, Business2 and Personal.
In Business1 i discovered a file <randomguid>.ini with some "libraryScope"s and "libraryFolder"s. The library folders are my mapped SharePoint locations. Maybe you can read all libraryFolders for all business accounts (you can have x synced locations for y business account

[2021-01-18 21:08] AndyMDoyle commented on #3095
@gave92, did you see the update to PR #3099 I posted yesterday? It includes all of the required changes to support this now and to allow each ```ICloudProviderDetector``` to load and populate the sidebar in the background (which was needed to allow time for the app service connection to become available without delaying the app startup)

Adding support for sync'd SharePoint sites should not be a p

[2021-01-18 21:13] gave92 commented on #3095
@AndyMDoyle not yet but it looks to right path to go on as it also allows to solve other issues such as recyclebin appearing empty if navigating to it too early after startup

[2021-01-18 21:30] yaichenbaum commented on #3132
@mdtauk There are lots of things that users don't expect developers to go through the trouble of, but we try to do them anyways since details matter.

[2021-01-18 21:30] yaichenbaum commented on #3132
@Tropix126 This issue should be resolved with #3161.

[2021-01-18 22:06] #3144 closed

[2021-01-18 22:07] gave92 commented on #3144
Closing this as Files shows the same context menu as Explorer. Explorer does not show that menu item either for root drives.
You can still use the "Open in Terminal.." menu item which you can set to open Windows Terminal in Files settings.

[2021-01-18 23:36] rafifos commented on #3125
It's failing this check somehow: https://github.com/files-community/Files/blob/f602cfc5940f41dccdcb42806041c9e965ed967e/Files/Filesystem/Cloud/Providers/GoogleDriveCloudProvider.cs#L56

[2021-01-18 23:50] #3132 closed

[2021-01-19 00:39] duke7553 commented on #3088
@coldwinds Hi. We have an option for this under multitasking in the app settings. Is this what you had in mind?

![image](https://user-images.githubusercontent.com/20365014/104974110-c6e09080-59c4-11eb-8c91-59f4ba40fde5.png)

[2021-01-19 00:43] #3140 closed

[2021-01-19 00:44] duke7553 commented on #3140
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available and reopen if this behavior continues to cause data loss after updating.

[2021-01-19 01:17] yaichenbaum commented on #2838
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2021-01-19 01:17] #2838 closed

[2021-01-19 01:20] yaichenbaum commented on #1769
Further enhancements will continue to be made, but I think the changes with #2655 and #3045 should make Files much smoother to use.

[2021-01-19 01:20] #1769 closed

[2021-01-19 01:27] yaichenbaum commented on #3143
@yoshiask Will using your library fix the issue with the icons?

[2021-01-19 01:29] yoshiask commented on #3143
Depends on which one you use. The original Fluent.Icons package would probably fix it, but it's quite large. Fluent.Icons.Compact is much smaller, but that's because it uses a custom font behind the scenes and is likely to have similar issues.

[2021-01-19 01:39] yaichenbaum commented on #3143
It sounds like we need to wait for a fix from FluentUI.

[2021-01-19 01:54] hez2010 opened #3163 "FilesFullTrust process crashes for Access Violation Exception"
**Describe the bug**
FilesFullTrust crashes for Access Violation Exception while loading large icons for some files.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to Grid layout
2. Open `C:\Windows\System32` and scroll down
3. FilesFullTrust process crashes

**Expected behavior**
No crashes in FilesFullTrust

**Screenshots**
![image](https://user-images.githubusercontent.com/1496034

[2021-01-19 03:06] hez2010 opened #3166 "Prevent rectangle selection while enumerating files"
**TODO**
Processing rectangle selection while enumerating files would cause enumerating on a modified collection and crash apps for `System.InvalidOperationException: Collection was modified; enumeration operation may not execute`.

Therefore, rectangle selection should be disabled during files enumeration.

Also, any enumeration operation to `ItemViewModel.FilesAndFolders`, `GridView.Items` and `

[2021-01-19 06:18] anatoly-kryzhanovsky opened #3167 "Fresh installed app crashed"
**Describe the bug**
After launching fresh installed app and navigate to drive application was crashed

**To Reproduce**
Steps to reproduce the behavior:
1. install app from Windows Store
2. Click on any folder on left panel or on any disk in main panel
3. Application hangs for 1-2s and crash after that

**Expected behavior**
Application open desired component

**Desktop (please complete the follo

[2021-01-19 08:03] AleksHitch opened #3168 "Корявые значки файлов"
Доброго.
При выборе вида таблицей, иконки файлов очень размытые
![image](https://user-images.githubusercontent.com/77663477/105004985-bcb2a680-5a45-11eb-9344-6b11983a8ac4.png)
![image](https://user-images.githubusercontent.com/77663477/105005044-d7851b00-5a45-11eb-9577-ca13651f08c6.png)
Если переключить в другой вид, то разрешение в норме
![image](https://user-images.githubusercontent.com/77663477

[2021-01-19 10:33] Vanillabacke commented on #3145
Yes, the word "button" was a bit of missleading. Mainly I wanted to say, that there are to many different styles in the UI.

[2021-01-19 10:54] Vanillabacke commented on #3145
@yaichenbaum are there any layout or wireframes files for this project?

[2021-01-19 13:31] yaichenbaum commented on #3145
@Vanillabacke There are not, is this something the community would like to help with?

[2021-01-19 13:35] yaichenbaum commented on #3167
@anatoly-kryzhanovsky Can you check if Files has access to the file system under Privacy Settings in Windows 10?

[2021-01-19 13:57] SteveP757 opened #3169 "Crashes Upon Load"
[debug.txt](https://github.com/files-community/Files/files/5836456/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/5836457/debug_fulltrust.txt)

[2021-01-19 14:00] anatoly-kryzhanovsky commented on #3167
yes, i checked and see that apps have access to file system.
also i try to run Files as administrator - with no luck

for additional information about environment:
i also installed Files son my home pc and only one different - on my work pc i have some network mounted drive and drive mounted with subst

[2021-01-19 14:04] tsvietOK commented on #3168
Спасибо за отзыв! Мы уже знаем об этой проблеме и исправим её по мере возможности. Что-то бы не дублировать информацию, я закрываю этот issue в пользу [ранее созданного](https://github.com/files-community/Files/issues/1152).

[2021-01-19 14:05] #3168 closed

[2021-01-19 14:17] tsvietOK commented on #3167
@yaichenbaum looks like it is the same bug as reported on our Discord server #general chat.

[2021-01-19 14:36] HttpJacobo opened #3170 "Default view"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-19 14:59] yaichenbaum commented on #3170
@HttpJacobo Thank you for opening this issue, we usually expect users to fill out the issue template when reporting a bug or submitting a feature request, please reopen this issue when you have filled out the issue template.

[2021-01-19 14:59] #3170 closed

[2021-01-19 15:20] Maple9536 opened #3171 "Right-click to create a new Excel or PPT file failed."
**Describe the bug**
Right-click to create a new Excel or PPT file, enter the file name and confirm, nothing happens.
But it can be created normally for word documents.
Office 2010 Chinese ver.
Win10 Home 1909 18363.1316 Chinese ver.
App version: [v1.1.0.0] Chinese ver.
**To Reproduce**
Steps to reproduce the behavior:
1. Right click
2. Click on 'New',  Click on Excel or PPT
3. Input file name
4.

[2021-01-19 15:20] MMMMartyyyy opened #3172 "When accessing %appdata% over WIN+R an error occurs"
**Describe the bug**
When Files is being set to default and you try to access %appdata% over the Run menu Windows shows an error saying it cannot access it.

**To Reproduce**
Steps to reproduce the behavior:
1. Set Files to default in Registry
2. Open Run menu (WIN+R)
3. Type %appdata%
4. Press enter
5. See error

**Expected behavior**
It should open the AppData folder

**Screenshots**
![image](ht

[2021-01-19 15:59] corlud opened #3173 "Program gets a crash after deleting network shared folder with Shift+Del"
**Describe the bug**
Program gets a crash after deleting network shared folder with Shift+Del. Only if you enter a folder, go back and Shift+Del the default selected folder before it gets highlited

**To Reproduce**
Steps to reproduce the behavior:
1. Go to folder on a shared resource (Windows 2016 share)
2. Enter a subfolder. Go back to previous folder
3. Use Shift+Del quickly, before the subfold

[2021-01-19 17:05] osieltorres opened #3174 "Files list not refreshed after pasting file(s) into phone drive"
**Describe the bug**
The file list is not refreshed automatically after pasting any files into folder of phone drive.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Files application
2. Connect your phone
3. Go to the phone drive, copy some files/folders inside the phones drive.
4. After finishing pasting the files/folders, the list of them is not refreshed to add new pasted files/fol

[2021-01-19 18:08] cristiansgm opened #3175 "Recycle bin is not translated the very first time after app install"
**Describe the bug**
In the sidebar of the explorer the trash does not appear translated into Spanish at the first start.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Files'
2. Look in 'Sidebar'

**Expected behavior**
That it was translated into the language of my system at the first start.

**Screenshots**
https://i.imgur.com/ajWontA.png

**Desktop (please complete the following i

[2021-01-19 18:26] XPoppyX commented on #3175
Al reiniciar ya debería de mostrarse en español. Es algo que suele pasar al instalar por primera vez o reinstalando.

[2021-01-19 18:48] #3174 closed

[2021-01-19 18:48] gave92 commented on #3174
Merging with #2042 as the cause is the same

[2021-01-19 18:50] cristiansgm commented on #3175
Tienes razón, lo dejo por si consiguen solucionar lo del primer inicio.

Muchas gracias!

[2021-01-19 18:50] gave92 commented on #3169
@jakoss clues?

[2021-01-19 18:56] jakoss commented on #3169
The only thing that comes to mind is some string modification on compile/linker? Maybe some strange string encoding? It's super weird that first character is wrong..

[2021-01-19 19:48] 10011 opened #3176 "Files ignores the Windows theme"
**Describe the bug**
When setting the App theme under settings you have three options: Windows default, light and dark. Dark and light works as expected but Windows default ignores the Windows theme you have.

**To Reproduce**
Open files
Click on Settings
Choose Windows default as your app theme
See it ignore your theme (if using another one than Windows standard light/dark)

**Expected behavior**

[2021-01-19 20:03] yaichenbaum commented on #3176
@10011 Did you set Windows to use dark mode? By thy way, what's the other app in the screenshot?

[2021-01-19 20:42] 10011 commented on #3176
Yeah it works better as a base for the theme I'm using. And Files to use the Windows theme.

There are two programs in the screenshot - Files to the left and the standard Windows File Explorer to the right, highlighting what I expected to see in Files when it comes to colors etc.

[2021-01-19 21:09] AndyMDoyle commented on #3149
@sk8erjdy, PR #3177 will resolve this issue by changing how OneDrive accounts are found.
This will prevent the issue you ran in to, and mean a user doesn't need to manually remove the OneDrive environmental variables.

[2021-01-19 21:10] duke7553 commented on #3176
@10011 Sorry. We don't have plans to support custom themes from Explorer.

Closing this now.

[2021-01-19 21:10] #3176 closed

[2021-01-19 21:16] AndyMDoyle commented on #2350
@MarcAnt01, issue #3095 and the resulting PR #3177 will address this issue for you. With this change Files will correctly list every OneDrive business accounts you use with the relevant company name instead of "OneDrive - Commercial".

I hope this helps.

[2021-01-19 22:09] RocketNinja15 opened #3178 "Pin Directories"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
No
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
On your "Folders" Page or Below, the ability to "pin" a directory or file, so when you click on it... It will either open, or go to that dir

[2021-01-19 22:35] thevitormanuel opened #3179 ".EXE or .MSI"
I need a **.EXE** or **.MSI** installer, Where I can find? Thanks.

[2021-01-19 22:36] gave92 commented on #3179
Thre's no exe/msi for UWP apps. Here you can find the equivalent -> https://github.com/files-community/Files/releases/download/v1.1/Files-1.1.Msixbundle

[2021-01-19 22:36] #3179 closed

[2021-01-19 22:39] gave92 commented on #3178
Did you have in mind something like this? -> #2881 If yes, we're implementing it :)

[2021-01-19 22:59] sk8erjdy commented on #3149
@AndyMDoyle Sounds good! New to github so I didn't properly search correctly to find the other post that was answered a while ago with that solution. It's gone now and love the progress! Can't fully commit yet, but once I get used to it I hope to make Files the primary tool for me :)

[2021-01-20 00:31] sos34211 commented on #2350
Fr

[2021-01-20 02:37] RocketNinja15 commented on #3178
Pretty Much.... I guess the ability to pin a directory like how "drives" or folders are

[2021-01-20 03:50] linsui commented on #2748
@yaichenbaum

https://github.com/files-community/Files/blob/34c69f40a06de67e4ff3bfdab51c844ac144dae3/Files/Controllers/TerminalController.cs#L120-L131

I guess I found what happened. I installed Windows Terminal from scoop so Files thought that it's not installed and remove the block.

[2021-01-20 04:18] yaichenbaum commented on #2748
Perhaps we should stop removing the Terminal block if we can't detect Terminal.

[2021-01-20 04:30] linsui commented on #2748
@yaichenbaum

I thought it can be detected by `Test-Path "$env:SCOOP/apps/windows-terminal"`.

[2021-01-20 05:12] BRabbitG opened #3181 "Preview"
Hi,
Files could be greater with files preview. In the conventional explorer I have listed my files in a folder and in the right I have the preview. With this I can read a pdf file without opened it, also see imaged, excel, word files, etc...

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [..

[2021-01-20 06:03] ReyMagos opened #3182 "Recycle bin problems"
**Bugs description**

- Emptying recycle bin via Files doesn't refresh Desktop's recycle bin. It will can empty even without files inside.
_**Reproducing**_: Just empty recycle bin with Files and see to the Desktop's bin.
_**Expected behavior**_: Synchronized emptying in Files's and Desktop's bins.
- Recycle bin opens with default explorer and it leads to closing all Files windows immediately.
_**

[2021-01-20 06:28] adriansalvatori opened #3183 "Double click in blank space should take the user one level up."
**Is your feature request related to a problem? Please describe.**
Not a problem, actually. It's only that I come from solutions like Clover and ExplorerMax. In these tools, the user can go Up one level when double-clicks in the blank space. Not really a big deal, but I kinda miss it using Files. Thought it would be a nice touch to add that function.

**Describe the solution you'd like**
As easy a

[2021-01-20 06:31] adriansalvatori commented on #3181
This behavior is easily achieved by adding "QuickLook", as the official website explicitly communicates.

https://www.microsoft.com/en-us/p/quicklook/9nv4bs3l1h4s?SilentAuth=1

[2021-01-20 07:10] #3181 closed

[2021-01-20 07:11] gave92 commented on #3181
Preview pane is coming! -> #2756

[2021-01-20 07:12] Shomnipotence opened #3184 "Extend the left sidebar to the title bar (tab page bar) area, and limit the tab page bar to the right area of ​​the window (as shown in the figure)"
**Is your feature request related to a problem? Please describe.**
Please build a more holistic interactive interface. In this interface, there are two levels of navigation, one is the left sidebar navigation, and the other is the tab navigation. How to deal with the relationship between the two is a very troublesome thing.

Theoretically speaking, the tab page should be the first-level navigation

[2021-01-20 07:13] gave92 commented on #3183
Merging with #2355

[2021-01-20 07:13] #3183 closed

[2021-01-20 07:20] gave92 commented on #3184
@Shomnipotence thanks for the suggestion. Files used to be like you describe till not so long ago.
￼

[2021-01-20 07:31] Shomnipotence commented on #3184
I remember this change at least a year ago. I guess its logic is probably that the tab bar is the first-level navigation bar, and the sidebar is the second-level, which is logically correct, but there is no need to do so.

![image](https://user-images.githubusercontent.com/6630660/105141585-56588180-5b34-11eb-99e5-f7b448cc92e7.png)

As shown in the picture, the entire interface is divided into thr

[2021-01-20 07:56] thevitormanuel commented on #3179
And a portable version?

[2021-01-20 09:00] jakoss commented on #3169
@gave92 Do you think it's reasonable to wrap first db connection with try/catch and just disable SQLite caching on exception? Memory Cache will still work like before

[2021-01-20 09:42] ruben-conesa opened #3185 "Connect to Sharepoint Sites"
**Is your feature request related to a problem? Please describe.**
I can't see Sahrepoint sites connected to Windows Explorer
![Captura de pantalla 2021-01-20 103739](https://user-images.githubusercontent.com/77723051/105156363-08c81e80-5b0c-11eb-956c-44a317750828.jpg)

**Describe the solution you'd like**
Please I would to like connect Sharepoint sites like I can do in Windows Explorer. See the s

[2021-01-20 09:48] gave92 commented on #3179
No portable versions are possible for uwp apps either :(

[2021-01-20 12:24] gave92 commented on #3185
Duplicate of #1310

[2021-01-20 12:24] #3185 closed

[2021-01-20 12:26] gave92 commented on #3151
#1310 is the correct duplicate

[2021-01-20 13:10] SOI7 opened #3186 "[Feedback] Folders with only pictures should be displayed in Grid Layout by default"
As the title says, folders with only pictures should have their layout as Grid mode by default, just like in the Win32 Explorer

[2021-01-20 14:19] perplexityjeff commented on #3131
This is a great suggestion!

[2021-01-20 14:33] osieltorres opened #3187 "Add a checkbox to select all files from a list"
**Is your feature request related to a problem? Please describe.**
It would be nice from an accesibility perspective, if the list of displayed could have a checkbox(previous to the *Name* field) for selecting all files, as not every user knows about the `Ctrl+A` shortcut.

**Describe the solution you'd like**
Adding a checkbox for selecting all files would add some accesibility plus for other not

[2021-01-20 15:09] Kuroncho opened #3189 "Sort content by creation date."
****Is your feature request related to a problem? Please describe.**
User Experience

**Describe the solution you'd like**
Sort the columns by Creation Date. Add to the list the option to sort by Creation Date and that the option can be added from the right button on the column titles.

**Describe alternatives you've considered**
Alternatively, add the option from Sort By to the right button over

[2021-01-20 15:12] yaichenbaum commented on #3184
@Shomnipotence As Gave92 mentioned, this was how it used to work. We changed the design because users were getting confused with the different navigation layers, however, it could be that this won't be an issue anymore since we have the new detached tab design.

[2021-01-20 15:25] yaichenbaum commented on #3095
@AndyMDoyle Thank you for implementing this feature.

[2021-01-20 15:25] #3095 closed

[2021-01-20 15:27] #2350 closed

[2021-01-20 15:27] yaichenbaum commented on #2826
@Magangel This issue should be resolved with #3177.

[2021-01-20 15:27] #2826 closed

[2021-01-20 16:03] yaichenbaum commented on #3184
We are open to making this change, but we would some feedback from the community before committing to it.

[2021-01-20 16:59] EasyRhinoMSFT commented on #290
I'd love to see a prototype of this if someone has time...

[2021-01-20 17:03] gmusa opened #3190 "Not showing complete list of drive"
**Describe the bug**
Not showing complete list of drives or option to chose witch drives to show

**Expected behavior**
Be able to access information on any of my drives

**Desktop :**
 - OS Version: Windows 10 2004 Os Build 20277.1
 - App version: [v1.1.0.0]

 **Screenshots**

 ![image](https://user-images.githubusercontent.com/742233/105208777-d88e7900-5b27-11eb-962f-93cf8f8ad1ee.png)

_VS_

![i

[2021-01-20 17:10] gave92 commented on #3189
Being implemented in #3123

[2021-01-20 17:11] gave92 commented on #3187
In the lower right corner you have the option to select all files, but not very discoverable.
Merging this with #290

[2021-01-20 17:13] gave92 commented on #3186
See #2893

[2021-01-20 17:13] #3186 closed

[2021-01-20 17:20] gave92 commented on #3190
Could you verify that:
- In Windows Settings > Privacy > File system permission is turned on for Files
- Can you access any folder in those missing drives if you type the path in the navigationbar?

[2021-01-20 17:22] Barina commented on #290
I tried to find something in Google search but there's something very similar actually in Google Photos Android app.
Long click a picture there and then drag to select others.

[2021-01-20 17:26] gmusa commented on #3190
"In Windows Settings > Privacy > File system permission is turned on for Files" resolved the issue thank you!

[2021-01-20 17:26] #3190 closed

[2021-01-20 17:52] generalguy41 commented on #3184
I for one love the idea of a fully extended sidebar like the concept shown. I think it looks much cleaner and less disjointed than the current implementation. I was a big fan of the original design before the change to the current implementation, though I understand the reasoning behind the change.

[2021-01-20 17:57] XPoppyX commented on #3184
+1

[2021-01-20 17:57] Z-beam commented on #3092
Hi! I have the same problem!
Just add, hotheys Ctrl+C and Ctrl+V aren't work too.
OS: Windows 10 19042
App Version: 1.1

[2021-01-20 18:10] mdtauk commented on #3184
I wonder if its the visual distinction between top acrylic and the side acrylic.  You know I have been suggesting using a single Acrylic for both regions, with the content area rounded and shadowed. @yaichenbaum

[2021-01-20 18:17] tsvietOK commented on #3184
I'll just post my previous app design concept for further discussion.
![image](https://user-images.githubusercontent.com/20501502/105217093-1ad1ad80-5b5c-11eb-946e-0d95ada4f502.png)

[2021-01-20 18:33] migueljgoliveira opened #3192 "add separators between files/folders to type organization"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I want files and folders to be separated as it happens in File Explorer/Finder, when organised by type.

**Describe alternatives you've considered**
A clear and concise description of any alternative so

[2021-01-20 18:33] mdtauk commented on #3184
Posting my concept also, with one Acrylic surface for tabs and sidebar.
![image](https://user-images.githubusercontent.com/7389110/105219104-f66ed480-5b4d-11eb-98fc-dd4d019f98a7.png)

[2021-01-20 18:36] gave92 commented on #3192
Merging with #1874

[2021-01-20 18:36] #3192 closed

[2021-01-20 19:53] generalguy41 commented on #3184
Bringing it back to one of the earlier threads about this, I think there were a number of good discussions in #520. I already pointed out a number of potential ideas in [this comment](https://github.com/files-community/Files/issues/520#issuecomment-610745600). (Perhaps this thread should be merged with #692 like that one was?)

Also, I'm personally still a fan of this file explorer concept that's

[2021-01-20 20:22] TheTechGeekMicx opened #3193 "Folder and Files Not Deleting Due to Insufficient Administrator Permissions"
### **The Bug:**
There is a bug on the Files app when you try and delete a file or folder that requires administrator approval before deleting or moving. When you try, you just get an error thrown at you on the 'Ongoing Tasks' section.

### **Steps to reproduce:**
1. Right click on a folder which require administrator approval
2. Click delete
3. Click the 'Ongoing Tasks' button
4. See error
### **

[2021-01-20 20:34] #3193 closed

[2021-01-20 20:34] gave92 commented on #3193
Merging with #2513

[2021-01-20 21:02] osieltorres commented on #3187
@gave92 I am aware of what you say, but like you also said, is not very discoverable, either eyes friendly, and that's why I created this request. Current way is not first look accessible.

[2021-01-20 21:06] gave92 commented on #3187
@osieltorres There's #290 that is about adding check boxes for multiselection. This would also add a select-all checkbox in the top left of the list as you suggest.
But perhaps your suggestion can be implemented on its own, reopening.

[2021-01-20 23:47] farolillo opened #3194 "Snip & Sketch app bug"
**Describe the bug**
If I do a snip of the screen and i have some files windows open (but not at the front), doing a snip automatically brings files to the front.

**To Reproduce**
1. Open a Files window.
2. Open something on top of the Files windows.
3. Open the Snip & Sketch app.
4. Take a snip.
5. The Files windows is on top.

**Expected behavior**
Should not be on top. Just don't change where

[2021-01-21 00:00] XPoppyX opened #3195 "Tab header icon: Improve drive type check method"
Currently to show the drive icon in the tab header, the type is checked only by the letter.

**Drive letter: A or B** = Floppy disk icon

**Any other letter** = Hard disk icon

[2021-01-21 00:14] Shomnipotence commented on #3184
I prefer this one，but the currently selected tab may need more obvious marking

[2021-01-21 01:10] KibSquib48 opened #3196 "Context Menu randomly crashes Files"
**Describe the bug**
In some folders, right clicking crashes Files completely.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a folder
2. Right click
3. **boom** crashed

**Expected behavior**
The context menu is supposed to show up

**Desktop (please complete the following information):**
 - OS Version: Windows 10 20H2 19042.746
 - App version: 1.1.4.0

**Additional context**
The pro

[2021-01-21 01:16] DeViL-CU opened #3197 "Search engine problems"
When you try to use the search engine to find files, it never finds the files

[2021-01-21 01:22] sanbausan opened #3198 "File preview in FILES 1.1.0.0"
**Is your feature request related to a problem? Please describe.**
NO
Everything is fine with the application, it is very intuitive and easy to use.

**Describe the solution you'd like**
I would like it to be able to preview the files like Windows explorer does.

**Describe alternatives you've considered**
There is an application in Microsoft Store called QuickLook that with the space bar shows a

[2021-01-21 04:25] Shomnipotence commented on #3198
Files supports QuickLook, you can search the knowledge base to find more content.

[2021-01-21 04:52] primorolo opened #3199 "Allow change position of tabs and sidebar"
it´s so crazy, but would be amazing can invert the position of the tabs and sidebar:

The tabs in the left side or bottom, the side bar in the left or rigth or even top, like a ribbon-Style

[2021-01-21 05:00] Shomnipotence opened #3200 "Improve the acrylic brush so that the transparent effect is still retained even when out of focus."
**Is your feature request related to a problem? Please describe.**
Although losing transparency when inactive windows can help improve battery life, there is no doubt that if the transparency effect persists, it will make the interface look more dynamic

**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/6630660/105281906-1b178a80-5be8-11eb-9081-6a67ebe6499d.p

[2021-01-21 05:02] primorolo opened #3201 "Auto expand sidebar when hovering over it with the mouse"
there are posibilities that the sidebar compact to icons for default and expand automatically when the cursor is positioned over it.

This is a cool alternative for smaller screens or when two panels side by side are open

[2021-01-21 05:05] Shomnipotence commented on #3199
The workload of this work may be relatively large, and I personally think that it is necessary to focus on the current functional improvement.

[2021-01-21 05:10] Shomnipotence commented on #3145
I think your team does not need to make too many improvements, just follow the updates of WinUI3 and XAML Control. XAML control styles are constantly changing. I really don’t understand why Microsoft is so obsessed with this, instead of focusing on updating the old interface in the system to Fluent Design as soon as possible.

[2021-01-21 05:10] Shomnipotence commented on #3201
I love it

[2021-01-21 05:18] yaichenbaum commented on #3199
@primorolo Thank you for opening for this issue, this feature request is a little out of scope and we don't have any plans to implement it.

[2021-01-21 05:18] #3199 closed

[2021-01-21 05:25] yaichenbaum commented on #3200
@Shomnipotence Thank you for opening this issue, as mentioned in your proposal, Acrylic can have an impact on battery life. However, there is another reason that apps switch to the fallback when they are not focused, it's because Acrylic draws the attention of the eye and the attention should usually be on the focused window. While implementing an always-on Acrylic brush isn't impossible, we don't

[2021-01-21 05:25] #3200 closed

[2021-01-21 05:26] yaichenbaum commented on #3198
@sanbausan Thank you for opening this issue, as mentioned by Shomnipotence, Files already supports QuickLook. If you are looking for something built in, we are working on a preview pane which is almost ready.

[2021-01-21 05:26] #3198 closed

[2021-01-21 05:27] yaichenbaum commented on #3178
Merging with #2881.

[2021-01-21 05:27] #3178 closed

[2021-01-21 06:58] pratik-choudhari opened #3205 "App crashes while renaming files"
**Describe the bug**
I was renaming .png files and here's what happened. When one file is renamed the pointer moves onto next file automatically now when I press F2(rename shortcut) the app crashes every time, even after restart.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any folder with multiple files/folders
2. Click on a file and rename it
3. After renaming the cursor moves dow

[2021-01-21 08:18] gave92 commented on #3195
Also #3054

[2021-01-21 08:50] melon-boy opened #3206 "Add SVN integration (icons status and TortoiseSVN to contextual menu)"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Add integration with Tortoise SVN. Show SVN icons in a repository folder and add Tortoise SVN to contextual menu.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other co

[2021-01-21 09:56] dennisroche opened #3207 "Add option to choose home directory"
**Is your feature request related to a problem? Please describe.**
I frequently open the user home directory, e.g. `C:\Users\{Name}` or `~`.

**Describe the solution you'd like**
Change `Home` to go to user home directory instead of the dashboard...  or provide an option in settings to disable the dashboard.

**Describe alternatives you've considered**
Bookmarks as described in https://github.com/

[2021-01-21 09:58] ernestomiralles opened #3208 "I can't see the files in Onedrive"
Hi,

I have any files in my onedrive but "files" can't show me.

Thanks.

Ernesto.

[2021-01-21 10:24] LazaroBC opened #3209 "recicle bin"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-01-21 11:52] gusgeek opened #3210 "Tab Pin"
I would like that in the tabs you can pin each one to a reference folder as happens in current browsers. In my case I usually open the same directories, this possibility would be excellent.

[2021-01-21 14:17] AbdoLaatiba opened #3212 "The program crushes when i click on any drive on my pc"
**Describe the bug**
when i click on my c drive or any other drive the application crushes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please co

[2021-01-21 14:35] v-zubritsky opened #3213 "Can't open file in Files if opening it from Visual Studio context menu"
**Describe the bug**
`Files` crashes, when using `Open containing folder` context action in `Visual Studio`. The same action works as expected in `Explorer`.

**To Reproduce**
Steps to reproduce the behavior:
1. Open `Visual Studio`;
2. Open any solution;
3. Open any file in the solution explorer;
4. Click `Open containing folder` context action on the file tab.

**Expected behavior**
`Files` is o

[2021-01-21 16:14] dckface commented on #2924
This is reported for v1.0, but it seems to be happening as well in v1.1 (Win 10 Pro, 20H2).

[2021-01-21 18:19] Elbaxi71 opened #3214 "Crash"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-01-21 18:22] winston-de commented on #3207
What about having a Json file of "shortcuts" that the user can set for use in the path bar? Something like this:
[code]

Also, I know this isn't the solution your looking for, but for the time being you can type `%userprofile%` in the path bar to get to your user folder.

[2021-01-21 18:29] gave92 commented on #3206
Both functionalities should be already present. Installing tortoise svn should be enough for it to popup in the context menu and icon overlays.
Do you see them in explorer but not in files? Even after restarting Files?

[2021-01-21 18:31] gave92 commented on #3208
Could you share a screenshot of your OneDrive folder as it appears in Files and Windows Explorer?

[2021-01-21 18:58] yaichenbaum commented on #3214
@Elbaxi71 We are having a little trouble understanding this issue report, please reopen this issue when you have filled out the issue template.

[2021-01-21 18:58] #3214 closed

[2021-01-21 19:10] yaichenbaum commented on #1465
This widget was implemented with #2881.

[2021-01-21 19:10] #1465 closed

[2021-01-21 19:30] gave92 commented on #3210
Same as #3068?

[2021-01-21 19:32] gave92 commented on #3209
Thanks for the report.
- could you post the app log files?
- could you check if in task manager you see a process called "FilesFullTrust.exe"?
- also happens when there are more files in recycle bin?

[2021-01-21 19:34] gave92 commented on #3207
Is it not enough to pin the user folder to the sidebar?

[2021-01-21 19:35] gave92 commented on #3212
Please add Files app version and the log files to the issue description

[2021-01-21 19:36] gave92 commented on #3213
Are you opening visual studio as administrator?

[2021-01-21 19:57] meow81 opened #3216 "Sidebar default links and library cards widget paths should follow Windows defaults"
**Is your feature request related to a problem? No

**Describe the solution you'd like**
I have multiple drives for different purposes: C: solid state with only Windows and programs for fast loading.  I've set up my documents, music, photos, videos to be saved on my user files HDD (E:) through the windows storage setting.  In Files, I'd like the library cards widget to open the correct libraries g

[2021-01-21 20:06] gusgeek commented on #3210
Exactly, but I see that at least in the Microsoft Store version this option is not available, I will check with the package they have on GitHub to see what results it gives me.
<img src="https://i.ibb.co/w4f8Grw/Captura-de-pantalla-2021-01-21-170343.png">

[2021-01-21 20:10] gusgeek commented on #3210
Nope, I don't see it in the Package they have on Github either. Will it be coming in a next update?

[2021-01-21 20:56] duke7553 commented on #2803
@yaichenbaum Should the licenses be included with the source, binaries, or both?

[2021-01-21 22:08] gave92 commented on #3210
It's still an open issue so it's not implemented yet. As it's the same request I'm going to merge this two issues together

Merging with #3068

[2021-01-21 22:08] #3210 closed

[2021-01-22 06:17] tgrelka opened #3218 "View does not update after pasting and replacing file"
**Describe the bug**
When pasting a file into a folder and replacing an already existing one, the view will not automatically update to reflect changes, e.g. Last Changed date.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy any file.
2. Open a folder containing a different file with the same name.
3. Paste and select Replace.
4. See view not update to reflect change.

**Expected behavi

[2021-01-22 08:35] v-zubritsky commented on #3213
@gave92 yes

[2021-01-22 08:47] gave92 commented on #3213
@v-zubritsky well, don't xD visual studio will try to launch Files as administrator too, but UWP apps can't do that.

Closing this as duplicate of #3117 (same  cause)

If starting VS as normal user does not fix the issue please let us know and we'll reopen this issue

[2021-01-22 08:47] #3213 closed

[2021-01-22 08:55] v-zubritsky commented on #3213
@gave92 Could confirm, it works from non admin VS. Unfortunately it's not an option for me.

Any plans for the `Files` to be distributed as a desktop app? (dunno the specifics, so can't guess whether it's possible at all).
Also should I create another issue for file not being focused after it's opened? Haven't found any similar requests in the repo.

[2021-01-22 11:06] benjione commented on #2407
I think this is a duplicate of #1629 and was merged with #1342 . However, FTP is not the same as SFTP. I suggest merging this with #1342 .

[2021-01-22 13:35] AlvaroLopezLoayza opened #3220 "Feature request to improve usability of the software."
**Describe the solution you'd like**
1. Add Quick Access Panel.

[2021-01-22 14:06] Sayor0630 commented on #3118
yes. you should use it.

[2021-01-22 14:35] kimlimjustin opened #3221 "Date modified get updated real time [Feature Request]"
**Is your feature request related to a problem? Please describe.**
Date modified is always staying on a specific time ago without getting updated. Ex: I download a file and it keeps showing 0 seconds ago as Date modified.

**Describe the solution you'd like**
Date modified get updated.

**Describe alternatives you've considered**
Showing the exact date modified instead of "time" ago. Ex: showing 2

[2021-01-22 15:32] MarathonMax opened #3222 "Quick view using spacebar"
On my iMac, I looooooove using the spacebar to get a quickpreview of the file. One COmmander has implemented this feature in Windows but the overall UI is far from being as clean as yours. I understand that Windows has only a limited number of builtin viewers (for example it can't preview RAW files from My Nikon camera).

[2021-01-22 15:36] MarathonMax opened #3223 "Add option to pin shortcuts to the sidebar"
Hey maybe this one has been requested before ... but a drag and drop of a folder or file in a reserved Shortcut collapsible section would be great. By collapsible, I mean to see a open / close triangle to expand and retract (collapse) a section. This could / should be added to the Drives section and maybe the Home section (this section is yet unnamed but starts with the Home location and ends with

[2021-01-22 15:43] MarathonMax opened #3224 "Control Tab to navigate betweens tabs"
Is it just me or is this ferature misssing? The ability to use Control Tab to navigate betweens tabs...

[2021-01-22 16:03] Josue7425 opened #3225 "Files crashes"
The app closes when i'm doing a Backup.
Version: 1.1.0.0
[LocalState.zip](https://github.com/files-community/Files/files/5860618/LocalState.zip)

[2021-01-22 16:11] yaichenbaum commented on #3222
@MarathonMax Files comes with support for [QuickLook](https://github.com/QL-Win/QuickLook).

[2021-01-22 16:11] #3222 closed

[2021-01-22 16:27] MarathonMax commented on #3222
Man this is goooood !

[2021-01-22 16:53] carlosvsilva opened #3227 "Graphical elements like files and folders take too long to render"
**Describe the bug**
Files and folders take too long to "render" (or maybe even be found) when opening a new folder. Sometimes there's a quick render that's erased and replaced with another after a few seconds.

**To Reproduce**
Steps to reproduce the behavior:
1. Double click any folder
2. Wait for files and folders to appear while sipping from a cup of tea

**Expected behavior**
It should displa

[2021-01-22 17:00] carlosvsilva opened #3228 "I think a New Folder button is warranted next to Up and Refresh/Reload buttons"
**Is your feature request related to a problem? Please describe.**
Feature request for a "New Folder" button in the top row of icons and while there, maybe add a Properties (with a 'info' icon) after.

**Describe the solution you'd like**
The Files team could add a New Folder and Properties buttons to the top button row, maybe configurable as on/off in the options.

**Describe alternatives you've

[2021-01-22 17:11] salmantino opened #3229 "Errores en la compilacion"
Good afternoon, I get the following in the compilation
************************************************** ************************************************** ****************
Compile operation started ..
1> ------ Compile operation started: project: Files.Launcher, configuration: Debug Any CPU ------
1> CSC: error CS0006: Metadata file 'F: \ files \ Common \ bin \ Debug \ netstandard2.0 \ Common.dl

[2021-01-22 17:13] KibSquib48 opened #3230 "QuickLook not working in 1.1.5"
**Describe the bug**
Pressing space and using the quicklook context menu option do nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a file/folder
2. Click on it once
3. Press space bar
4. No QuickLook :(

**Expected behavior**
A QuickLook window with a preview of the file should show up.

**Desktop (please complete the following information):**
 - OS Version: Windows 10 20H2 19

[2021-01-22 17:47] yaichenbaum commented on #3228
@carlosvsilva There is already an option to create new items in the three dot menu, can you check if that works for you?

[2021-01-22 17:50] yaichenbaum commented on #3227
@carlosvsilva This behavior has seen some significant improvements and will be included with the next release. We still have some work to do here... but I don't think you will have enough time for that tea anymore 😂.

[2021-01-22 17:50] #3227 closed

[2021-01-22 17:54] carlosvsilva commented on #3228
Right I just noticed it, had been there before but didn't imediately associate the "New" with creating a directory, but it makes sense.

I just think it's a central file manager function to create new folders (and new files), and having to go through 3 different steps to create the folder seems a tad excessive. I would welcome a direct button at the top row to click it directly like I used to do o

[2021-01-22 17:54] KibSquib48 opened #3231 "Drives not showing up on home screen"
**Describe the bug**
Drives do not appear on home screen until opening one of the library folders, and sometimes not even that works.

**To Reproduce**
Steps to reproduce the behavior:
1. Open files
2. Go to click on the C: Drive
3. wait where did it go

**Expected behavior**
The buttons for the C: drive and all other drives should be there

**Screenshots**
![image](https://user-images.githubuserc

[2021-01-22 17:55] carlosvsilva commented on #3227
eheheh thanks! cheers

[2021-01-22 18:08] yaichenbaum commented on #3228
@carlosvsilva We are exploring adding options that can be pinned the toolbar and this can definitely be one of them.

[2021-01-22 18:29] winston-de opened #3232 "Allow extensions to provide file/folder actions"
**Is your feature request related to a problem? Please describe.**
This would allow UWP apps (and packaged desktop applications) to provide similar utilities to Windows shell extensions like "open folder with Code", "open folder in Windows terminal", "Power Rename", "image resizer", etc, for Files.

**Describe the solution you'd like**
Similar to the preview pane extension implementation, extensio

[2021-01-22 19:26] Ein-Tim opened #3233 "QuickLook does not work"
**Describe the bug**
I installed [QuickLook](https://github.com/QL-Win/QuickLook) from the Microsoft Store and it is working correctly with the Windows Explorer. However, if I hit the Space key for a file in Files, nothing happens.
Since I am a newbie using QuickLook, it is possible that I did something wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Download QuickLook from the Micros

[2021-01-22 19:29] Ein-Tim commented on #3230
As described in #3233, I am using version 1.1.0.0 (QuickLook version 3.6.10.0 - downloaded from Microsoft Store) and QuickLook does not work.

[2021-01-22 19:30] gave92 commented on #3230
@AndyMDoyle could you check the error reported in debug_fulltrust? Looks related to OneDrive detection

[2021-01-22 19:32] gave92 commented on #3224
Ctrl tab feature is there but a bit wonky. Could you check if it works if you click on the tab strip first?

[2021-01-22 19:32] Ein-Tim commented on #3230
Looking at my debug_fulltrust.txt log I see the first entry says:
`2020-12-21 22:05:35.8272|INFO|FilesFullTrust.QuickLook|QuickLook detected: False|`.
This is wrong. I have QuickLook installed. I will try the version which is available here on GitHub, maybe it is a problem with the Microsoft Store Version

[2021-01-22 19:34] KibSquib48 commented on #3196
Update: Happens more frequently on 1.1.5.0, and this time nothing seems to help

[2021-01-22 19:34] gave92 commented on #3233
@Ein-Tim reopening this as the cause looks different

[2021-01-22 19:37] Ein-Tim commented on #3233
Thanks @gave92. Please leave it open for a bit. It is working with the .msi installer I downloaded from https://github.com/QL-Win/QuickLook/releases. I will test again with the Microsoft Store Version.

[2021-01-22 19:46] Ein-Tim commented on #3233
Okay, now working with version from the Microsoft Store too. I really don't know why it was not working before.
Sorry for this (unnecessary) issue.

Have a nice evening

[2021-01-22 19:46] #3233 closed

[2021-01-22 19:48] Ein-Tim commented on #3230
@KibSquib48 Did you install QuickLook from the Microsoft Store? If yes, you could try to install it from [here](https://github.com/QL-Win/QuickLook/releases) and see if it is working. I did this and it worked for me. Then I deinstalled the QuickLook from GitHub again and installed it from the Microsoft Store again. Now it is working 🤷‍♂️

[2021-01-22 19:53] KibSquib48 commented on #3230
Not working with .msi or .zip from there, also uninstalled and then reinstalled from MS store, still nothing...

[2021-01-22 19:58] gave92 commented on #3230
@KibSquib48 from the log file it looks like the issue is not just with wuicklook. For example I'm guessing that context menu should be not working for you as well?

[2021-01-22 19:59] KibSquib48 commented on #3230
yeah, I have another issue for that too

[2021-01-22 21:03] AndyMDoyle commented on #3230
@gave92 PR with a fix: #3234

[2021-01-22 21:33] DarrylNoakes commented on #3038
Any progress with this? I tried to do it, but nothing happened.
This feature is almost essential to me, so nice to know it is being implemented.
Once it *is* implemented, I will probably use Files a lot.

P.S. Any hope of network drives? That is *actually* essential to me.

[2021-01-22 21:44] KibSquib48 commented on #3230
I don't, the very first thing I uninstalled on this was OneDrive

[2021-01-22 21:52] gave92 commented on #3230
@KibSquib48 From the stacktrace it looks like that would solve the context menu & quicklook issues. Anyway we're working on a fix in #3234 which will be included in the next release.

[2021-01-22 22:03] KibSquib48 commented on #3230
yep installing OneDrive fixed it, glad to hear that a fix is coming!

[2021-01-22 22:47] okey2k commented on #3197
Yes, indeed.

Already use everything toolbar to mitigate this.

[2021-01-23 01:35] winston-de commented on #3194
I'm having this issue with all UWP apps, not just Files.
I think it's probably an issue with Snip & Sketch and/or Windows, not Files.

[2021-01-23 01:43] farolillo commented on #3194
yes, just checked and it also happens with other UWP apps like the Microsoft Store and the Xbox app.

[2021-01-23 01:49] winston-de commented on #3194
In that case, you should file a bug report in the [Feedback Hub](aka.ms/feedbackhub).

[2021-01-23 03:12] lambor-xsf opened #3236 "bug"
You can't move Windows when you open the app, but you can move Windows when you open Settings

[2021-01-23 03:13] lambor-xsf commented on #3236
good

[2021-01-23 03:13] #3236 closed

[2021-01-23 05:16] maikelagm opened #3237 "Error al hacer una busqueda y cambiar el tamaño con que se ven los iconos."
Ocurre un error cuando ejecutamos una busqueda y luego queremos cambiar el tamaño de los iconos en los resultados de la busqueda, sale de la busqueda cuando cambiamos el tamaño. Además los iconos los muestra borrosos.

1 Ir a cualquier carpeta que contenga archivos
2 Haga click en buscar y escriba algo que usted sepa que se encuentra dentro
3 (lo primero es que los iconos de los resultados se ven

[2021-01-23 05:38] maikelagm commented on #3237
[debug_fulltrust.txt](https://github.com/files-community/Files/files/5859742/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/Files/files/5859743/debug.txt)
 Estos son los archivos de registro, tambien ahora me pasa que  si pongo la letra b en la barra de búsqueda la app se reinicia sola, aclaro que estuve buscando antes cono esta letra y que mi PC es una laptop de Lenovo, Flex

[2021-01-23 05:47] Cyberdroid1 commented on #3230
I had also uninstalled Onedrive from my PC, and facing same issue. Looking forward for a fix 😄

[2021-01-23 09:24] StLa1 commented on #3237
Please write in English

[2021-01-23 09:25] StLa1 commented on #3230
Works for me, weird

[2021-01-23 09:26] StLa1 opened #3238 "Close Dual Pane"
There don't seem to be a way to close a Dual Pane once it's opened, the 3 dots used to open it don't have the close option.

[2021-01-23 09:28] StLa1 opened #3239 "Contextual Menu takes 10+ seconds to open"
Happens for any contextual menu (on a file, in the window, on a side menu item...)

2020-04-20 09:59:09.6810|INFO|Files.Filesystem.DrivesManager|Drive added: C:\, Fixed
2020-04-20 09:59:09.7925|INFO|Files.App|App launched
2020-04-20 10:10:33.8146|INFO|Files.Filesystem.DrivesManager|Drive added: C:\, Fixed
2020-04-20 10:10:33.8795|INFO|Files.App|App launched
2020-04-20 10:12:40.6509|INFO|Files.App|

[2021-01-23 09:34] maikelagm commented on #3237
An error occurs when we execute a search and then we want to change the size of the icons in the search results, it exits the search when we change the size. In addition, the icons are blurred.

1 Go to any folder that contains files
2 Click search and type something that you know is inside
3 (the first thing is that the icons of the results are blurred if they were in a large size) click on View

[2021-01-23 09:55] Jaiganeshkumaran opened #3240 "Wierd date modified that shows "Pin OneDrive to sidebar""
![2021-01-23 (3)](https://user-images.githubusercontent.com/45227503/105575133-42f52280-5d8f-11eb-80b3-f4500ae28f84.png)

[2021-01-23 10:40] XPoppyX commented on #3237
Veo que no tienes la versión mas reciente, se hicieron unos cambios en como escalan los iconos al cambiar de modo de vista.
**Igualmente sigue ocurriendo algo:**
Al buscar, los iconos aparecen borrosos y se ven bien al cambiar el modo de vista.

[2021-01-23 10:50] XPoppyX commented on #3237
### In the latest version:

**The icons / thumbnails of items that appear in the search result are blurred**
There are no problems when changing the view mode.

![blur](https://user-images.githubusercontent.com/61259627/105576136-89c32800-5d4f-11eb-825e-730ea43cbc63.gif)

[2021-01-23 11:02] gave92 commented on #3238
You can drag it all the way to the right or press Ctrl Shift W. A button to close it has been requested in #2941

[2021-01-23 11:02] #3238 closed

[2021-01-23 11:04] gave92 commented on #3239
Hi @StLa1 could you provide a screen recording? Of both the file and side menu item context menu opening would be best

[2021-01-23 11:08] gave92 commented on #3225
Hello @Josue7425 please add the app version and the log files to the issue description

[2021-01-23 11:10] gave92 commented on #3221
@kimlimjustin you can show the exact date by changing the "date format" option to "System" in Files settings

[2021-01-23 11:13] gave92 commented on #3196
Hi @KibSquib48 could you post the log files again with 1.1.5? Possibly right after you got a crash due to context menu

[2021-01-23 11:17] gave92 commented on #3231
@KibSquib48 does it work when you type a drive path e.g. "C:\\" in the navigationbar?

[2021-01-23 11:29] #3220 closed

[2021-01-23 11:30] gave92 commented on #3220
Merging with #692

[2021-01-23 11:37] gave92 commented on #3216
@meow81 could you check if deleting this file: "%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalCache\PinnedItems.json" make the sidebar pick up the new paths?
Note: you'll loose manually pinned folders

[2021-01-23 13:07] SimonCDalzell commented on #3231
Typing in the path of one of the non-showing drives works and contents is displayed correctly.

[2021-01-23 13:34] gave92 commented on #3231
@SimonCDalzell do you experience the same? Is all your drives missing or just some? Could you post the log files a screenshot of the sidebar?
Are the drive missing from the sidebar only or from the home page too?

[2021-01-23 13:41] KibSquib48 commented on #3231
Installing OneDrive fixed it, and typing C:\ worked too

[2021-01-23 13:56] SimonCDalzell commented on #3231
Just some. I believe the two drives that appear correctly have AHCI Hotswap enabled in the bios, while the ones that do not show have it disabled. I can test this in a sec.
I've attached the logs and a screenshot
The drives are missing from the sidebar and from the home page.

Probably worth mentioning that I'm on Windows 1809.

![Capture](https://user-images.githubusercontent.com/19229302/1055801

[2021-01-23 13:58] v-zubritsky opened #3241 "Visual Studio context action opens built-in File explorer instead of Files"
**Describe the bug**
Even though Files integration is enabled (by registry modification), built-in file explorer opens instead of Files. So it means integration doesn't cover some entry points.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any solution in Visual Studio
2. Execute `Open in file explorer` solution explorer context action on any project

**Expected behavior**
Files is op

[2021-01-23 14:00] gave92 commented on #3241
See #3090

[2021-01-23 14:08] gave92 commented on #3056
@breidyfunes you can change sort option by right clicking in the empty space.

[2021-01-23 14:09] v-zubritsky commented on #3241
@gave92 thanks. Going to test it.
Maybe it makes sense to add it to the documentation with some "danger" label, so that you don't receive additional duplicates of this issue :)

[2021-01-23 14:20] v-zubritsky commented on #3241
@gave92 Works now. Closing.

[2021-01-23 14:20] #3241 closed

[2021-01-23 14:52] gave92 commented on #3231
@SimonCDalzell could you verify that:
In Windows Settings > Privacy > File system permission is turned on for Files

[2021-01-23 15:12] kimlimjustin commented on #3221
Oh, okay thanks

[2021-01-23 15:24] #3194 closed

[2021-01-23 15:29] duke7553 commented on #3232
Would these extensions be coded specifically for Files, or would they work for other participating apps by default?
Here's a mock-up I created earlier this year.
![Potential design](https://user-images.githubusercontent.com/20365014/105606151-a79b8780-5d65-11eb-848e-d5b0c82963a6.png)

[2021-01-23 16:50] meow81 commented on #3216
@gave92 just deleted it, restarted the app and it did reset the sidebar, but still points to C: (windows drive) default paths.

[2021-01-23 16:57] SimonCDalzell commented on #3231
That solved it. I had not received the prompt to enable file access. I then unplugged the drives U and V, and next time I launched files was prompted to enable file system permissions.

[2021-01-23 16:59] gave92 commented on #3231
@SimonCDalzell thanks for confirmation, the prompt is only shown if Files is not able to access any fixed drive. What kind of drive where U and V? Usb HDDs?

[2021-01-23 17:25] SimonCDalzell commented on #3231
All are internal drives connected to motherboard SATA ports. I unplugged U and V for an unrelated reason and happened to notice the prompt for file access. As far as I remember of my configuration the only difference between the drives is the AHCI Hotswap mode. Happy to investigate more thoroughly though.

[2021-01-23 18:37] maikelagm commented on #3237
hello I just updated the application and it continues with the error that it closes the application when I type the letter b in the search bar and shows the blurred icons when searching

[2021-01-23 18:40] maikelagm commented on #3237
[debug_fulltrust.txt](https://github.com/files-community/Files/files/5860819/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/Files/files/5860820/debug.txt)

[2021-01-23 18:45] maikelagm commented on #3237
now it happens with any letter I put

[2021-01-23 18:54] coldwinds commented on #3088
Hello, @duke7553 I enabled this option but looks like the tabs are still listed in horizon, and I have relaunch the app, am I missing something?

[2021-01-23 22:37] XPoppyX commented on #3231
In my case it takes a long time to load drives.

![loading](https://user-images.githubusercontent.com/61259627/105616008-6bdadf00-5db2-11eb-9ff9-080715f45063.gif)

[2021-01-23 22:42] gave92 commented on #3231
@XPoppyX thanks for the report. That's unfortunately expected after #3177. Working on it :)

[2021-01-23 22:43] winston-de commented on #3232
Any UWP or packaged desktop application would be able to function as an extension for Files. All that has to be done is create an app service, and add that service to the app manifest with the proper name.

My thinking was that the extensions would serve the same purpose as the context menu shell extensions in Windows Explorer do now, and could also be displayed in a similar manner as they are now

[2021-01-23 23:57] yaichenbaum commented on #3038
@DarrylNoakes We haven't gotten to this issue quite yet. As a temporary workaround, this doesn't seem to be an issue when the adaptive multitasking setting is turned on.

[2021-01-24 00:01] #2785 closed

[2021-01-24 00:07] #3230 closed

[2021-01-24 00:07] yaichenbaum commented on #3230
@KibSquib48 This issue should be resolved with #3234.

[2021-01-24 02:49] yaichenbaum commented on #3187
@gave92 This is technically already implemented with the option on the status bar, regarding the check box, I think that should go together with #290.

[2021-01-24 02:49] #3187 closed

[2021-01-24 02:49] yaichenbaum commented on #3197
Does turning on the setting to search un-indexed items improve this behavior?

[2021-01-24 02:51] yaichenbaum commented on #3088
@coldwinds That's a bug, and I think there is another issue for that. Does everything work properly once you restart the app?

[2021-01-24 02:54] yaichenbaum commented on #3216
Merging with #2709.

[2021-01-24 02:54] #3216 closed

[2021-01-24 02:55] #3228 closed

[2021-01-24 02:57] yaichenbaum commented on #3240
@Jaiganeshkumaran Can you check if the strings are set wrong for your localization?

[2021-01-24 02:59] yaichenbaum commented on #3212
@AbdoLaatiba We are having a little trouble investigating this issue, please reopen this issue when you have filled out the issue template.

[2021-01-24 02:59] #3212 closed

[2021-01-24 03:00] #3100 closed

[2021-01-24 03:00] yaichenbaum commented on #3100
@v-aravind This issue should be resolved with #3242.

[2021-01-24 03:25] DeViL-CU commented on #3197
Ready, the search works for me, thanks

[2021-01-24 03:25] #3197 closed

[2021-01-24 03:30] duke7553 commented on #1152
@XPoppyX Hey Richard. I'm going to close this since we fixed the larger issue. I believe the pixelation is due to very slight differences in how the xaml image for the icons are stretched vs the thumbnail size requested. It doesn't look very noticeable to me, but if you find a scenario which has icons rendered in an unacceptable way please open a feedback item for it.

[2021-01-24 03:31] #1152 closed

[2021-01-24 04:12] ungubajue90k opened #3244 "Add MFT Entry modified timestamps for NTFS filesystem"
**Is your feature request related to a problem? Please describe.**
There is no file manager (GUI) on Windows 10 that displays MFT Entry modified timestamps.

The vision of Files is:

**Describe the solution you'd like**
Because it is a function for power user there should be an option in settings to decide if it will be displayed in list view column.

**Describe alternatives you've considered**
N/

[2021-01-24 05:42] RickStanley commented on #1893
Hello, was this released to version 1.1.0.0? Didn't find any mention of this in the release notes for the most recent release (v1.1, Jan. 15). Installed through MStore.

I can't paste and overwrite the file.

![image](https://user-images.githubusercontent.com/23178554/105622110-e7558400-5de4-11eb-9879-95723446c538.png)

Options:
- New name for file (appends - Copy)
- Existing file or
- Cancel

Fro

[2021-01-24 05:49] duke7553 opened #3246 "Tracking: Improve SidebarPinnedModel with support for child items"
This issue will track the pre-requisite work done in order to allow manipulation of child sidebar items.

- [ ] Change default item addition in the model to add root items and their respective default children (if applicable)
- [ ] Support getting root items only
- [ ] Support getting child items from a specified header item of a certain type
- [ ] Update all methods to accept INavigationControlIt

[2021-01-24 06:13] duke7553 commented on #692
I am planning on starting work on some of the pre-requisite tasks for enhancements to the sidebar.

In the meantime, we'd like to know:

- **If you had to pick, what set of 3-4 locations do you need quick access to the most?** For example, we know that the Desktop folder is far less important for immediate access than the Downloads folder in the collaborative world we live in. This is because the

[2021-01-24 07:24] mdtauk commented on #692
I hide my desktop icons, so when I dump something on the desktop, I access it via file explorer window

[2021-01-24 08:17] winston-de commented on #3232
At the time of writing, I did not realize that UWP applications could register file explorer context menu items. Since Files already can show those, there isn't much point in implementing this.

[2021-01-24 08:17] #3232 closed

[2021-01-24 09:25] scls19fr opened #3248 "Shortcut Windows + R C:\ doesn't open Files but Windows File Explorer"
Hello,

Replacing File Explorer with Files is possible according https://files-community.github.io/docs/#/articles/replace-file-explorer
It's an unsupported method but which works fine in my case except when using shortcut Windows + R C:\
In such a cas Windows File Explorer is opened instead of files.
but it's quite surprising to notice that Windows + R C:\Windows opens this folder using Files.
An

[2021-01-24 09:26] scls19fr opened #3249 "French translation error - Double panneau"
Hello,

French translation displays "Double peanneau" instead of "Double panneau".
https://github.com/files-community/Files/pull/3247 should fix that

Kind regards

[2021-01-24 09:29] scls19fr commented on #1523
I was looking also for such a feature but couldn't find it also.

Maybe this feature should be as a contextuel menu on "Drives" item (SidebarDrives)

[2021-01-24 09:31] SimonCDalzell opened #3250 "Window cannot be moved by dragging header"
**Describe the bug**
Often, the window cannot be moved by dragging the header. This appears to have something to do with the multitasking mode.

**To Reproduce**
Attempt to move window by clicking and dragging it. Window does not move. Sometimes resizing the window until the layout changes (when adaptive mode is on of course) allows the window to be moved.

**Expected behavior**
Windows moves alwa

[2021-01-24 10:57] irslo opened #3251 "Please, allow several OneDrive in FILES."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

_I use several OneDrives (1 personnal and 2 pro accounts) and 2 Sharepoints accounts. In the Windows Explorer, I can see this 5 OneDrives/SharePoints. In Files, I only see my personnal OneDrive and a Shrepoint account (pro)._

**Describe t

[2021-01-24 10:58] KAMiKAZOW commented on #1089
A button in the toolbar would still be nice when I already have the trash open.

[2021-01-24 11:17] XPoppyX opened #3252 "Changing theme enables the details panel"
Changing the theme to light or dark causes the details pane to be enabled

![panel](https://user-images.githubusercontent.com/61259627/105628550-54d0d700-5e1c-11eb-8742-4a9bf49537d4.gif)

[2021-01-24 11:18] #3251 closed

[2021-01-24 11:19] gave92 commented on #3251
Multiple OneDrive accounts support was added in #3177. For SharePoint merging with #1310

[2021-01-24 11:42] fxzxmicah opened #3253 "Manually add shell folders or get shell folder settings from Explorer"
**Is your feature request related to a problem? Please describe.**
I set up some custom shell folders in Windows Explorer for easy opening, but that doesn't seem to work on the left side of the application or on the front page.
In addition, a small question, is there anyone who uses disk letters A and B as floppy disks now?

**Describe the solution you'd like**
Follow Windows Explorer's Shell fold

[2021-01-24 11:44] #3253 closed

[2021-01-24 11:45] XPoppyX opened #3254 ""GB, MB, etc" are shown in Arabic when the app is in Spanish."
I tested in other languages ​​and no problem, it only happens in Spanish

![Captura de pantalla 2021-01-24 083722](https://user-images.githubusercontent.com/61259627/105629208-6caa5a00-5e20-11eb-8aa7-b1cab7323935.png)
![Captura de pantalla 2021-01-24 084036](https://user-images.githubusercontent.com/61259627/105629209-6d42f080-5e20-11eb-871c-ab76dba309aa.png)

[2021-01-24 12:27] fxzxmicah opened #3255 "Unpin folder failed"
**Describe the bug**
Unable to unpin this pinned folder, and this folder has been deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Start Menu
2. Right Click on “Files” icon
3. Clicking Unpin has no effect

**Expected behavior**
Unpin this pinned folder

**Screenshots**
![image](https://user-images.githubusercontent.com/48860358/105629980-2507ea80-5e81-11eb-8460-58179d54af1c.png

[2021-01-24 13:36] tsvietOK opened #3256 "Vanara update causes File browser icons are upside-down."
**Describe the bug**
The bug caused by 5a053f85ec5654c1e25f1c273b5ae02bf6671278

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any folder contains files.

**Screenshots**
![image](https://user-images.githubusercontent.com/20501502/105631949-9b90f200-5e59-11eb-94dd-e68724c2b7fe.png)

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 20H2 19042.746

[2021-01-24 13:38] tsvietOK commented on #3252
For me details panel enables when navigating to and from Settings page.

[2021-01-24 13:41] tsvietOK commented on #3252
FYI: @winston-de

[2021-01-24 14:13] okey2k opened #3258 "SideBar missing OneDrive Business account"
**Describe the bug**
Only one OneDrive Business shown in the sidebar while multiple OneDrive Business accounts logged on.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files.
2. Check the Number of OneDrive Commercial.

**Expected behavior**
List all logged OneDrive accounts in the sidebar as File Explorer does.

**Screenshots**
![Screenshot 2021-01-24 151205](https://user-images.gith

[2021-01-24 14:17] gave92 commented on #3258
Implemented in version 1.1.5. This will be included in the next public release.

[2021-01-24 14:17] #3258 closed

[2021-01-24 14:32] AndyMDoyle opened #3259 "Excessive whitespace above the files list when a folder contains a small number of items"
If a folder contains a fewer items than would require the file list to scroll, the file list appears docked to the bottom of the UI and a lot of whitespace appears above it.

![image](https://user-images.githubusercontent.com/307719/105633499-d80c2000-5e50-11eb-92e5-df5dff8d42cb.png)

Likewise, if the folder is empty, the file list is at the bottom of the UI.

![image](https://user-images.githubus

[2021-01-24 14:33] ahmednrana opened #3260 "Lagging on 4k screens"
**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Using it on 4k screen causes lagging. Although the laptop has good specs and other apps works well
3. Works fine if I use it to an external screen

**Expected behavior**
Should be smooth

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS Ve

[2021-01-24 14:35] gave92 commented on #3256
@dahall was this expected? With 3.3.0 we were getting all the images upright (overlays, files and context-menu icons and thumbnails). With 3.3.2 icons and thumbnails appear consistently upside-down :)

[2021-01-24 14:40] gavinayling opened #3262 "Crash when opening a new tab"
**Describe the bug**
I have only been using Files for a couple of days and when I opened a new tab one time, it force-closed and asked me if I wanted to submit a bug report.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a tab. Use that for a long time.
2. Right-click on a folder in the first tab's sidebar and choose open in new tab.

**Expected behavior**
A new tab would open and File

[2021-01-24 14:41] gavinayling commented on #3260
I am running on a 4K screen and only a 7th gen i7 - it runs smoothly here.

[2021-01-24 14:41] AndyMDoyle commented on #3231
@XPoppyX, if you are in a position to do so, please try out the commits from PR #3257.
This PR should allow local drives to appear almost instantly, while allowing cloud drives to appear a little later.

Or if you disconnect drive D (which appears to be a network or mapped drive), does that populate your drives list quicker?

[2021-01-24 14:44] dahall commented on #3256
@gave92 Can you tell me what code is involved so I can see what changed?

[2021-01-24 14:45] #3249 closed

[2021-01-24 14:48] gumbarros commented on #3155
It worked guys, thanks!

[2021-01-24 14:48] AndyMDoyle commented on #3259
Addressed in #3245

[2021-01-24 14:48] #3259 closed

[2021-01-24 14:49] gave92 commented on #3256
Thanks this was the code we were using to [get a thumbnail](https://github.com/files-community/Files/blob/main/Files.Launcher/Win32API.cs#L146):

[code]

[2021-01-24 15:04] gave92 commented on #3256
Update, I tried with the following: this seems to be returning upsidedown *icons* but upright *thumbnails*:
[code]

[2021-01-24 15:09] mrcoder991 opened #3263 "selecting files"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any folder say D drive '
2. Click on 'try selecting multiple items by clicking and dragging'
3. error is when view is set to grid view (small) i can select multiple files but when i choose to view in detailed list mode i can't click and drag to select
4. there is an

[2021-01-24 15:13] gave92 commented on #3262
@gavinayling thanks for this report. The log file contains only one crash report: a crash happened (today) upon pressing "F2" to rename a file.

[2021-01-24 15:18] ahmednrana commented on #3260
I see .
You using a graphics card?
You using it on a laptop screen? because if its laptop screen windows does not use the graphics card but the internal Intel graphics chip for desktop apps which is not as performant as graphic cards

[2021-01-24 15:22] gavinayling commented on #3262
I was not aware that it had crashed when renaming a file, but that was much earlier than the force-close. Perhaps the cause of the crash was not caught by the logs?

[2021-01-24 15:25] mrcoder991 opened #3265 "add actions somewhere depending upon contents of folder"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when lets say on recycle bin i recycle bin there should be an option for emptying it

**Describe the solution you'd like**
like recycle bin there should be optimization of folder according to the contents like if that folder contains videos then there

[2021-01-24 15:26] gave92 commented on #3262
@gavinayling yeah I feared that much :)

[2021-01-24 15:29] gavinayling commented on #3260
I have a laptop with an nVidia and Intel, as you describe.

[2021-01-24 15:32] generalguy41 commented on #692
- **If you had to pick, what set of 3-4 locations do you need quick access to the most?**
Desktop and Downloads in the "quick access" location, as well as I guess the "Home" link, which in explorer I would equate to the "This PC" link. Though I assume that's not going anywhere haha.
- **How many sidebar items do you typically have?**
![image](https://user-images.githubusercontent.com/8879244/10563

[2021-01-24 16:25] OlegSolomatin opened #3268 "application crashed when changing name"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-01-24 16:29] gave92 commented on #3268
Add app version and log files please :)

[2021-01-24 16:39] KristofKekesi opened #3269 "[Bug] UI bugs with Bundles widget"
##  **Describe the bug**
UI Bugs in version 1.1.5.0
## **To Reproduce**
Steps to reproduce the behavior:
### 1.
When I create a bundle (from the big + icon), type in the name and press enter, I get input field empty warning. (the input isn't empty)

### 2.
When I create a bundle from the right side three dots, the popup is out of theme. (I'm using dark theme in the app and light in windows)

## **

[2021-01-24 16:39] #3029 closed

[2021-01-24 16:43] KristofKekesi opened #3270 "[Feature request] Add shortcut support to Bundles"
**Is your feature request related to a problem? Please describe.**
I cannot add Microsoft Store apps to the bundle. I tried making shortcuts and use them to add them to a bundle, but it didn't worked.

**Describe the solution you'd like**
Ability to add files and folders to bundles from shortcuts. (As well something with adding MS Store apps)

[2021-01-24 17:39] XPoppyX commented on #3231
Start faster now (without disconnecting the network drive)

[2021-01-24 17:41] irslo commented on #3251
I'm sorry I only have one onedrive personnal account and one professionnal sharepoint account.
Multiple account seem not being supported in the version i use (1.1.0.0 )
![image](https://user-images.githubusercontent.com/7957514/105638548-65606c00-5e73-11eb-9e55-a39eaab87bb5.png)
![image](https://user-images.githubusercontent.com/7957514/105638558-75784b80-5e73-11eb-8a5d-731522086808.png)

If I can

[2021-01-24 17:47] irslo commented on #3251
Here is what I have in the Windows Explorer :
![image](https://user-images.githubusercontent.com/7957514/105638731-9c834d00-5e74-11eb-9180-27131f13ca95.png)

[2021-01-24 18:05] gave92 commented on #3251
@irslo sorry if I misinterpreted, Files currently supports:
- A single personal account
- A single business account
- Sharepoint accounts are not supported, status tracked here -> #1310
- Multiple business accounts support is being tested in beta version and will ship to everyone with the next public version

[2021-01-24 18:20] AndyMDoyle commented on #3231
@XPoppyX  thanks for trying that. Would you say it is acceptable performance with your setup or do you think there is room for improvement?

[2021-01-24 18:36] XPoppyX commented on #3231
Well, any speed improvement is welcome, because it is still slower than the native file explorer.

2 seconds vs. less than 400 ms

I guess because it's UWP it complicates things more

[2021-01-24 18:50] XPoppyX opened #3271 "Folder shortcuts open in File Explorer"
![shortcut](https://user-images.githubusercontent.com/61259627/105640219-9df44b80-5e5b-11eb-8017-9431a6d4be82.gif)

[2021-01-24 19:00] Rick-HM opened #3272 "The app freezes sometimes when you leave it in the background"
This does not always happen, leaving it in the background tends to freeze.

**1.** Open Files
**2.** Leave it open and go to another window / software
**3.** There is a chance that it will freeze when returning to the Files window

There is nothing in the log to help

![freeze](https://user-images.githubusercontent.com/61259627/105640334-38548f00-5e5c-11eb-9a21-d69b1b1c2d48.gif)

[2021-01-24 19:53] wilsonchicaiza opened #3274 "Do not show BOX files"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-01-24 20:12] winston-de commented on #3252
This issue seems to be caused by the bindings to the PreviewPaneEnabled throwing false positives after switching tabs or closing settings. I put a breakpoint on the setter, and the value is definitely not being changed.
I'm unsure what's causing this behavior or how to fix it.
If anyone has any advice or ideas, I'd greatly appreciate it.

[2021-01-24 20:16] yaichenbaum commented on #3274
We are having a little trouble understanding this bug report, please reopen this issue when you have filled out the issue template.

[2021-01-24 20:16] #3274 closed

[2021-01-24 20:18] yaichenbaum commented on #3269
@d2dyno1

[2021-01-24 20:20] d2dyno1 commented on #3269
as soon as #3215 is merged

[2021-01-24 20:34] Laser42 opened #3275 "Search doesn't work in a big folder"
**Describe the bug**
I have a folder E:/Movies which contains videofiles as well as subfolders. The total size is 1.2 Tb. In a Files UI, I go inside E:/Movies and start typing in search input. No suggestions is available and when I finish typing and push enter, no search results are displayed. When I type in search input in disk root (E:/), I see the suggestions, but not for the files in E:/Movies

[2021-01-24 20:40] AndyMDoyle commented on #3231
UWP is a strange beast. Unlike WinForms which had minimal difference between debug and release modes, UWP apps are so much slower in debug mode and it makes it hard to troubleshoot issues.

I agree Files is slower at launching that file explorer, and I have been personally trying to improve this. Still a few ideas in the works to propose but I don't know if it would be in the direction everyone wa

[2021-01-24 21:28] #3271 closed

[2021-01-24 21:29] yaichenbaum commented on #3271
@XPoppyX This issue should be fixed with #3276.

[2021-01-24 21:58] #2763 closed

[2021-01-24 21:59] yaichenbaum commented on #2763
@youngerstar This issue should be resolved with #3277.

[2021-01-24 22:03] #2643 closed

[2021-01-24 22:46] duke7553 commented on #3246
Closing this because I decided to use a different method altogether that requires less of this work.

[2021-01-24 22:46] #3246 closed

[2021-01-24 22:53] yaichenbaum commented on #3256
This issue should be fixed with #3279.

[2021-01-24 22:56] #130 closed

[2021-01-24 22:56] #2450 closed

[2021-01-24 22:58] xSojo opened #3280 "Crashes clicking a drive"
**Describe the bug**
When I click any driver the app crashes.

**To Reproduce**
Click any Drive.

**Expected behavior**
Open the drive folder.

**Desktop:**
 - OS Version: Windows 10 20H2 19042.631
 - App version: 1.1.0.0

**Additional context**
It happens always.

**Log file**
[log.txt](https://github.com/files-community/Files/files/5863390/log.txt)

[2021-01-24 23:09] #3256 closed

[2021-01-24 23:14] gave92 commented on #3280
Related appcenter: [1693596875u](https://appcenter.ms/orgs/FilesApp/apps/Files/crashes/errors/1693596875u/overview)

Appcenter points to [this line](https://github.com/files-community/Files/blob/v1.1/Files/Views/MainPage.xaml.cs#L270), and I don't know what it means.

[2021-01-25 01:24] dahall commented on #3256
Thanks @yaichenbaum. It appears there is a problem in the HBITMAP.ToBitmap extension method. I'll look into it.

[2021-01-25 02:11] EtianAM opened #3281 "When using Ctrl + X in the Recycle Bin the file name changes"
**Describe the bug**
When you use "Ctrl + x" in the Recycle Bin, the file name is left with a strange name.

**To Reproduce**
Steps to reproduce the behavior:
1. Delete a file
2. Go to Recycle Bin
3. Cut the file to a folder
4. The file name will have changed

**Expected behavior**
The name should not have changed

**Screenshots**
![image](https://user-images.githubusercontent.com/42478705/1056525

[2021-01-25 02:13] yaichenbaum commented on #3054
This issue should be resolved with #3211.

[2021-01-25 02:13] #3054 closed

[2021-01-25 02:14] yaichenbaum commented on #3195
This issue should be resolved with #3211.

[2021-01-25 02:14] #3195 closed

[2021-01-25 02:59] shriramnat opened #3282 "unable to drag and drop files into browser for uploading"
The experience of using Files is hindered pretty much by the fact taht i am not able to upload files by dragging from files and dropping into a browser. it would be great to have this functionality

[2021-01-25 03:43] rusti4 commented on #3272
I've found this too, but it will randomly hang and then just crash and close.

[2021-01-25 03:53] rusti4 commented on #3263
I tried doing what you have explained and didn't get any issues. I'm also running Version 1.1.0.0. But I have a newer Windows version it seems. 120.2212.551.0

[2021-01-25 04:00] rusti4 opened #3283 "Dragging Files"
I've noticed when dragging any file to another folder or tab if that file that you are moving is open, it prompts with a warning and says it can't be moved cause its open, so it duplicates it. It should just ignore the file. I didn't realise this initially and when I closed the file and attempted to move again it says the file already exists, do you want to overwrite it. I say yes, but it does not

[2021-01-25 06:28] ahmednrana commented on #3260
Ok then it could be my machine only

[2021-01-25 06:28] #3260 closed

[2021-01-25 07:11] d2dyno1 commented on #3269
@yaichenbaum #3286

[2021-01-25 07:20] d2dyno1 commented on #3270
It'll be added with my Improved Bundles PR, you can see list of these changes here under the "**Future Bundles PR**":
https://github.com/files-community/Files/pull/2881

[2021-01-25 09:53] dconstanti opened #3287 "No se puede mover la ventana sino es con los atajos de teclado."
Hola!
Descubrí vuestra herramienta la semana pasada y me parece una genialidad y posible candidata a sustituir al explorer. De todos modos, no me acaba de funcionar bien. Se cuelga bastante y no puedo mover la ventana por la pantalla, a no ser que lo haga con los atajos de teclado (Windows + cursor).

Tampoco me carga bien los estados de los ficheros de onedrive. Tengo ficheros sincronizados que n

[2021-01-25 11:13] XPoppyX commented on #3287
Los desarrolladores preferirían que se publiquen los problemas por separado, para estar más organizado.

[2021-01-25 11:15] dconstanti commented on #3287
¿Debo abrir la incidencia de nuevo? Daniel Constantí Sánchez De: RichardEnviado: lunes, 25 de enero de 2021 12:14Para: files-community/FilesCC: dconstanti; AuthorAsunto: Re: [files-community/Files] Excelente descubrimiento de herramienta (#3287) Los desarrolladores preferirían que se publiquen los problemas por separado, para estar más organizado.—You are receiving this because you authored the th

[2021-01-25 11:29] kn0xit commented on #2860
I have the same issue. Would greatly appreciate help on this.

See error message:
![files-screenshot-errormessage](https://user-images.githubusercontent.com/40426730/105699602-e5d0ac80-5f07-11eb-8319-ac4374cef04e.jpg)

The message pops up three times in a row in overlapping dialogs.

I am not receiving this message in any other programs.

Files Version 1.1.5.0 did not resolve the issue.
Resetting

[2021-01-25 11:36] actlucagit opened #3288 "SEARCH..."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-01-25 12:37] XPoppyX commented on #3287
Puedes editar el titulo y descripción de este para poner el bug de no poder mover la ventana, y publicas en uno nuevo lo de onedrive

[2021-01-25 12:56] #3288 closed

[2021-01-25 12:56] gave92 commented on #3288
We are having a little trouble understanding this issue report, please reopen this issue when you have filled out the issue template.

[2021-01-25 13:45] dconstanti commented on #3287
Claro.   Daniel Constantí Sánchez De: RichardEnviado: lunes, 25 de enero de 2021 13:37Para: files-community/FilesCC: dconstanti; AuthorAsunto: Re: [files-community/Files] Excelente descubrimiento de herramienta (#3287) Puedes editar el titulo y descripción de este para poner el bug de no poder mover la ventana, y publicas en uno nuevo lo de onedrive—You are receiving this because you authored the

[2021-01-25 14:08] dconstanti opened #3289 "La sincronización con onedrive no se muestra correctamente."
Los ficheros no muestran el estado correcto con onedrive. Tengo ficheros que salen como "en la nube" cuando los tengo sincronizados en local.

[2021-01-25 14:09] dconstanti commented on #3287
Hecho. Daniel Constantí Sánchez De: MarleandoEnviado: lunes, 25 de enero de 2021 14:45Para: files-community/Files; files-community/FilesCC: dconstanti; AuthorAsunto: RE: [files-community/Files] Excelente descubrimiento de herramienta (#3287) Claro.   Daniel Constantí Sánchez De: RichardEnviado: lunes, 25 de enero de 2021 13:37Para: files-community/FilesCC: dconstanti; AuthorAsunto: Re: [files-comm

[2021-01-25 14:18] #3252 closed

[2021-01-25 14:19] yaichenbaum commented on #3252
@XPoppyX This issue should be resolved with #3284.

[2021-01-25 14:37] SOI7 commented on #3272
Happens to me sometimes as well. Can't really figure out what triggers it

[2021-01-25 15:53] XPoppyX opened #3291 "Theme mode returns to "Windows Default" when restarting the app"
When I change the theme mode then I close and open the app again, it is back to "Windows default"
_Nothing useful in the log_

![theme](https://user-images.githubusercontent.com/61259627/105729213-c0de3880-5f0b-11eb-84a6-e89326648713.gif)

[2021-01-25 16:34] Sibyl666 opened #3292 "Context Menu shell menu items slow to appear after app startup"
**Describe the bug**
Context menu "open with" buttons takes arount 10 seconds to appear. I should wait for a while to see "open with" buttons

**To Reproduce**
Steps to reproduce the behavior:
1. Open folder
2. Right Click

**Expected behavior**
on first right click i should see "open with" buttons

**Screenshots**
This is the first time i open the folder and right click on blank area
![FirstRight

[2021-01-25 16:34] winston-de commented on #3272
I've noticed that if I minimize it then restore the window a few times, it will usually start responding again.

[2021-01-25 16:42] mrcoder991 commented on #3263
Actually at first I opened the app it was error but when I was posting and
it asked for screenshot It somehow worked I don't know why it should work
at first time I opened

I tried to drag and drop files when I first opened but it didn't work also
so I thought it seems developer doesn't added that feature but somehow 3 or
4 th time I opened app it worked

I think it's a glitch that should be fixed

[2021-01-25 16:58] XPoppyX commented on #3195
It is not fixed
![Captura de pantalla 2021-01-25 135735](https://user-images.githubusercontent.com/61259627/105737987-516d4680-5f15-11eb-9c86-f13a0b1f20ed.png)

[2021-01-25 17:18] yaichenbaum commented on #3195
@suvrat29

[2021-01-25 17:23] suvrat29 commented on #3195
I'll look into it

[2021-01-25 17:26] suvrat29 commented on #3195
May I know what is the drive type for you B: drive?

[2021-01-25 17:37] suvrat29 commented on #3195
@XPoppyX Also, what is the type of network drive for drive D: ? For me it shows the drive correctly if the drive is A: (and a network drive)

![image](https://user-images.githubusercontent.com/37221647/105742935-1c3b1580-5f62-11eb-990f-823730eff599.png)

[2021-01-25 17:47] suvrat29 commented on #3195
Oh wait! I think I got it, apologies. Fix will be coming shortly. I didn't handle the changes for Tab icons. I did only for the drive widgets.

[2021-01-25 17:53] winston-de commented on #2447
I noticed that you can't select search results from the drop down with arrow keys. Attempting to use the down-arrow key will open the first item.
I'd like to add that to the list.

[2021-01-25 18:20] rafal06 opened #3293 "Info icon next to date format picker redirects to old GitHub Wiki"
**Describe the bug**

Info icon Info icon next to date format picker in appearance settings redirects to old [GitHub Wiki](https://github.com/files-community/Files/wiki/Date-formats) instead of the [new one](https://files-community.github.io/docs/#/articles/date-formats).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Click on !['i' icon](https://user-images.githubusercont

[2021-01-25 18:53] yaichenbaum commented on #3293
@rafal06 This issue should be resolved in `main`.

[2021-01-25 18:53] #3293 closed

[2021-01-25 19:38] suvrat29 commented on #3195
@yaichenbaum I have added a new commit [https://github.com/files-community/Files/pull/3285/commits/cfc7970da5549a558653be7f208171e5920e92de](url) which will fix this issue.
**Note**: To fix both issues: #3195 (this) and #3211, the above mentioned commit and the commit [https://github.com/files-community/Files/commit/502a4117330717e36df05388f8ed4709be47f541](url) will be required.

[2021-01-25 19:41] winston-de commented on #290
@yaichenbaum I intend to start working on this, can you please assign me?

[2021-01-25 19:42] suvrat29 commented on #3195
@XPoppyX, @yaichenbaum
The drives have their own icons according to types :-
For  network drives
![DI1](https://user-images.githubusercontent.com/37221647/105756843-2b768f00-5f73-11eb-8491-ade5a62729ae.png)

For regular (fixed) drives and external hard drives
![DI2](https://user-images.githubusercontent.com/37221647/105756866-34fff700-5f73-11eb-9dc8-f89452e86b79.png)

For USB drives
![DI3](https:/

[2021-01-25 20:41] winston-de commented on #290
I think the best way to approach this is to have a toggle for multiselect in the selection flyout.
Here's a mockup I made with the GridView.

https://user-images.githubusercontent.com/59544401/105762228-fd5c6500-5f08-11eb-81f4-8c6856d14e4c.mp4

Please let me know what you guys think of this.

[2021-01-25 20:44] szaimen commented on #290
Looks good to me, I like it! 👍

[2021-01-25 20:52] EasyRhinoMSFT commented on #290
@winston-de is that a persistent setting? I always need multi-select enabled and I definitely don't want to have to enable it every time. That's why Windows has this as a global setting.

[2021-01-25 20:54] #3269 closed

[2021-01-25 21:06] winston-de commented on #290
@EasyRhinoMSFT At the moment, it is not, however I could add a setting to enable multiselect by default. Would that work?

[2021-01-25 21:10] yaichenbaum commented on #290
That is how we envisioned this feature.

[2021-01-25 22:26] winston-de commented on #290
@yaichenbaum

I was a bit confused about the previous discussion. Would there be a way to temporarily switch modes (to multiselect mode, or vice versa)?
My reasoning for not making the toggle in the flyout persistent (as an app setting) is that it would provide a way for the user to quickly enable multiselect when they needed it. For example, if they had a tab open where they were moving a bunch o

[2021-01-25 23:21] #2232 closed

[2021-01-25 23:35] yaichenbaum commented on #290
@winston-de When I was thinking about how to implement this feature, the idea I had in mind was to have a setting where the user can turn on/off this feature. The default setting would be to keep this turned off, however, on touch devices, the default setting will be turned on. You mentioned a good point where some users have a touch display but prefer the mouse + keyboard option, in a case like t

[2021-01-25 23:37] yaichenbaum commented on #2232
@SOI7 This feature was implemented with #3285.

[2021-01-25 23:49] XPoppyX commented on #3195
nice

[2021-01-26 00:16] yaichenbaum commented on #3255
@fxzxmicah The pinned items on the jumplist is a Windows feature and is a different list than the sidebar in Files.

[2021-01-26 00:16] #3255 closed

[2021-01-26 00:18] yaichenbaum commented on #3208
@ernestomiralles We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-01-26 00:18] #3208 closed

[2021-01-26 00:18] yaichenbaum commented on #3209
@LazaroBC We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-01-26 00:18] #3209 closed

[2021-01-26 00:39] winston-de commented on #290
@yaichenbaum I think we both might be thinking of different things.
I was thinking that clicking any part of the file selects it. That's why I was proposing a temporary toggle, since it would interfere with normal usage.
You're thinking about having a smaller clickable region to select, correct?

[2021-01-26 00:49] yaichenbaum commented on #290
@winston-de Correct, I am talking about a little check box next to every item.

[2021-01-26 00:57] fxzxmicah commented on #3255
@yaichenbaum So there's no way to solve it?

[2021-01-26 01:17] yaichenbaum commented on #3255
@fxzxmicah Are you trying to remove OneDrive from the sidebar?

[2021-01-26 01:17] #3254 closed

[2021-01-26 01:31] winston-de commented on #290
@yaichenbaum Ahhhh, glad were on the same page now.

My prototype used the default GridView multiselect, which selects an item when you click it.
It will take me a while to make a custom selection box.

[2021-01-26 01:41] fxzxmicah commented on #3255
@yaichenbaum I didn't pin the Onedrive folder to the sidebar, and I tried to pin and remove it, but it didn't work.

[2021-01-26 01:50] winston-de commented on #290
@yaichenbaum I guess my only concern is that the little checkmarks can be a real pain to press. Maybe it's just me though cause I have big fingers.

[2021-01-26 01:55] fxzxmicah commented on #3255
@yaichenbaum It seems to have been solved after clearing "%APPDATA%\Microsoft\Windows\Recent\AutomaticDestinations" and "%APPDATA%\Microsoft\Windows\Recent\CustomDestinations".

[2021-01-26 03:35] ccory2004 opened #3298 "Taskbar shows Media Play Buttons"
**Describe the bug**
The little popup when hovering over the application icon in the taskbar also shows media buttons, see screenshot below:

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files
2. Hover over icon in taskbar

**Expected behavior**
Not show media play buttons

**Screenshots**
![image](https://user-images.githubusercontent.com/32803874/105796457-851b9100-5f54-11eb-88c1-f2

[2021-01-26 03:45] yaichenbaum commented on #3298
This was a Windows bug and it appears to be fixed with the recent Windows Insider builds.

[2021-01-26 03:45] #3298 closed

[2021-01-26 03:47] yaichenbaum commented on #3255
Thanks for the update, I am glad you were able to work it out.

[2021-01-26 05:33] hez2010 opened #3299 "Files omitted some special files and folders"
**Describe the bug**
Files doesn't list some special files and folders

**To Reproduce**
Navigate to `C:\Windows`, you will find some special files and folders such as `Downloaded Program Files`, `Fonts` and `bootstat.dat` don't appear in the list.

[2021-01-26 06:39] gave92 commented on #3299
Do they appear if you uncheck "hide system files and folders" in Files settings?

[2021-01-26 07:00] hez2010 commented on #3299
Still doesn't appear.

[2021-01-26 07:08] gave92 commented on #3299
Strange:
![image](https://user-images.githubusercontent.com/9673091/105811929-9e9cf700-5fad-11eb-8135-7617603a0a0c.png)

[2021-01-26 07:59] fxzxmicah commented on #3255
I think it would be better if the pinned list is consistent with the software sidebar. What do you think? After all, Windows Explorer is like this.

[2021-01-26 08:07] xumepoc commented on #3299
Did you refresh the tab after you activated "Hide protected operating system files"? I had to do manually refresh the tab in order for the files/folder to appear.

[2021-01-26 11:02] hez2010 commented on #3299
Yes I did refresh.
In addition my system is Windows 10 Dev Insider 21296, I think this may be relevant.

[2021-01-26 11:22] Vanillabacke commented on #3145
well, it seems like you are sticking to the style of that components and not really open to improvements. so there is no need for layouts or wireframes to proof / improve the concept.

is  there any date for the update release of WinUI3 / XAML control?

[2021-01-26 11:30] Shomnipotence commented on #3145
https://github.com/microsoft/microsoft-ui-xaml/issues?q=refresh

[2021-01-26 11:31] Shomnipotence commented on #3292
I ran into the same problem

[2021-01-26 11:52] Shomnipotence commented on #3282
Yes we need this feature

[2021-01-26 13:42] Vanillabacke commented on #3145
@Shomnipotence thx

[2021-01-26 13:44] generalguy41 commented on #3299
I have the same Windows Insider version and they showed up for me after disabling the "Hide system files" on v1.1.0.0

[2021-01-26 14:12] hez2010 commented on #3299
My mistake. I just incorrectly activated another toggle "Show all files and folders".
I'm closing this issue.

[2021-01-26 14:12] #3299 closed

[2021-01-26 14:58] v-aravind opened #3302 "Path gets cut off - Justify right"
**Describe the bug**
When you navigate to more than 2 or 3 folder levels deep, the path extends beyond the width of the path field.
In the Windows file explorer, the path is right justified, so the current folder and higher level folders are visible but if the path is too long, the highest level folders are cut off, not the current folder.
This is a much better way to implement from a usability pe

[2021-01-26 15:28] yaichenbaum commented on #3302
@v-aravind This issue will be solved when we start using the WinUI breadcrumb control, it's still a work in progress on their end so I can't give an ETA but I am happy to share the link where this control is being planned. https://github.com/microsoft/microsoft-ui-xaml/issues/3326

[2021-01-26 15:28] #3302 closed

[2021-01-26 16:00] Ein-Tim commented on #3291
Not reproducible on my machine

[2021-01-26 16:18] XPoppyX commented on #3291
What version, microsoft store or dev?

[2021-01-26 17:19] Ein-Tim commented on #3291
Microsoft Store. Are you on dev? If yes, sorry, I'm new to Files so I did not know that Dev version bugs and normal version bugs are not collected separately (or are labeled in some way)

[2021-01-26 18:26] SOI7 opened #3303 "Gap between title bar and address bar doubles when tabs are enabled"
**Describe the bug**
When the app uses the tabs layout, the gap between the address and title bar becomes too tall, and wastes a lot of space. It almost looks like there's another title bar below the actual one

**To Reproduce**
Open the app in Vertical layout, then in Horizontal/Adaptive layout, and compare them

**Expected behavior**
Gap should stay the same across both modes

**Screenshots**
Ve

[2021-01-26 20:06] yaichenbaum commented on #3291
@winston-de Can this be from the changes you recently made to fix the issue with the preview pane opening at the wrong time?

[2021-01-26 20:13] winston-de commented on #3291
@yaichenbaum I don't see how. All I did in my changes was move from using a VisualStateManager to adjust the layout of the preview pane (in ```ModernShellPage.xaml```) to instead doing it programmatically. I didn't change any of the code for settings.
I'll double check anyway, though.

[2021-01-26 20:47] winston-de commented on #3291
@yaichenbaum Yeah, it doesn't look the issue was introduced in that PR.
I think the issue may be caused by the [selected theme property's](https://github.com/files-community/Files/blob/5f686bf611770cea02dc746a7d41fb5be1acd938/Files/Helpers/ThemeHelper.cs#L44) setter and getter saving to and reading from two different locations, but I'm not certain.

[2021-01-26 21:45] tsvietOK commented on #3291
I think it is because of 0e937777bfbafdb30f5ebe1c398a0e98f6bb754a

[2021-01-26 22:09] szaimen commented on #290
Hm... I still think that [this proposal](https://github.com/files-community/Files/issues/290#issuecomment-767099900) is better than small checkboxes next to each item.
IMO, those small checkboxes next to each item just don't look good and aren't good to use, either.

[2021-01-26 22:16] Ricky55 opened #3306 "Ability to drag / reorder pin folders"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-26 22:17] Ricky55 commented on #3306
Title speaks for its self. Just the ability to drag / reorder pin folders in the side bar

[2021-01-26 22:20] Ricky55 opened #3307 "Pinned items open wrong folder"
If I click on a pin item in the side bar it opens the recycle bin. I have to click off and click again for the correct folder to be displayed.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wh

[2021-01-26 22:50] Tech-How opened #3308 "Smooth Scrolling"
**Is your feature request related to a problem? Please describe.**
Nope.

**Describe the solution you'd like**
I think it would be a nice polish to the fluent design system if the app had smooth scrolling, just like Microsoft Word has.

**Describe alternatives you've considered**
None.

**Additional context**
Version 1.1.0.0
Video: https://user-images.githubusercontent.com/76794507/105916687-51e20

[2021-01-26 23:30] yaichenbaum commented on #290
@szaimen @winston-de Once you toggle one of the check boxes, I think you can select/deselect an item just by clicking on it.

[2021-01-26 23:33] yaichenbaum commented on #3291
Thanks for checking it out, it looks like @tsvietOK found the issue.

[2021-01-26 23:38] szaimen commented on #290
Yes but showing a checkbox next to each item only for beeing able to toggle one of the checkboxes once to activate this feature doesn't seem like the best idea in terms of UI (and UX), IMO.

Thats why I voted for a toggle instead of a checkbox next to each item from the beginning on and thats why I still think that [this proposal](https://github.com/files-community/Files/issues/290#issuecomment-76

[2021-01-26 23:38] yaichenbaum commented on #3306
This feature was implemented but is currently blocked by an issue with the WinUI repo, I am linking it here so you can upvote the issue and hopefully increase the priority for Microsoft https://github.com/microsoft/microsoft-ui-xaml/issues/3290.

[2021-01-26 23:38] #3306 closed

[2021-01-26 23:43] yaichenbaum commented on #3308
@Tech-How Thank you for opening this feature request, I would like to point out that the grid view layouts already have smooth scrolling. The details layout doesn't have smooth scrolling because of some limitations with the DataGrid control used in Files, the good news is that WinUI is going to be building a new DataGrid control. I am linking the proposal here so you can add your request for smoot

[2021-01-26 23:43] #3308 closed

[2021-01-26 23:44] yaichenbaum commented on #3307
@Ricky55 Can you fill out the issue template so we can better investigate this issue?

[2021-01-27 00:20] yaichenbaum commented on #290
I just noticed the proposal, that looks good to me.

[2021-01-27 00:27] szaimen commented on #290
I would suggest adding this option on tablets either in the top menu bar or in the bottom menu bar:
![image](https://user-images.githubusercontent.com/42591237/105924566-d1db9680-603e-11eb-980a-edc839bbcd79.png)
Most likely the bottom bar is better...

[2021-01-27 00:29] winston-de commented on #290
@yaichenbaum @szaimen What if there was an option to "pin" the multi select button to the status bar?

[2021-01-27 00:36] winston-de commented on #290
@yaichenbaum I remember you saying something about adding toolbar customization. Maybe an option to pin multiselect could be a part of that?

[2021-01-27 00:36] szaimen commented on #290
Either this or just show it on touch devices in the bottom menu bar and on other devices hidden in the selection menu.

[2021-01-27 00:58] winston-de commented on #290
I'd say it's better to provide an option. The user could have a drawing pad, prefer being able to click to select without holding down the control key, or some other reason they would want to pin a multiselect option.

[2021-01-27 01:33] #3166 closed

[2021-01-27 02:19] XPoppyX opened #3310 "Shortcuts are not loading correctly"
When opening the app, the shortcuts are shown with a different arrow icon:

![Captura de pantalla 2021-01-26 230509](https://user-images.githubusercontent.com/61259627/105931980-f463b480-602a-11eb-9251-30f6667d283b.png)

And not only that, when you right click and see its properties, the **"Details"** tab appears instead of **"Shortcut"**, clicking on **"Details"** causes a crash:

![CRASH](https:

[2021-01-27 04:35] yaichenbaum commented on #3206
@melon-boy We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-01-27 04:35] #3206 closed

[2021-01-27 04:41] yaichenbaum commented on #3224
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2021-01-27 04:42] yaichenbaum commented on #3268
@OlegSolomatin We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-01-27 04:42] #3268 closed

[2021-01-27 04:44] yaichenbaum commented on #3292
@Sibyl666 Does this happen if you open the context menu a second time or is it only the first time?

[2021-01-27 04:45] yaichenbaum commented on #3289
@dconstanti We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-01-27 04:45] #3289 closed

[2021-01-27 04:49] yaichenbaum commented on #3255
I agree, I am not sure we have the same permission as File Explorer in this area, but we can look into it. Can you open a separate issue for tracking this?

[2021-01-27 04:56] yaichenbaum commented on #2448
@AkazaRenn Thank you for opening this issue, I am going to mark this as fixed as I can't reproduce it in `main`.

[2021-01-27 04:56] #2448 closed

[2021-01-27 06:03] Shomnipotence commented on #3292
Ones,secound,everytime.....

[2021-01-27 06:55] fxzxmicah commented on #3255
Certainly.

[2021-01-27 07:11] fxzxmicah opened #3311 "Feature: Sync pinned favorites with taskbar jumplist"
**Requirements**
- Sync pinned items in the right click menu on the taskbar with the favorites section on the sidebar
![image](https://user-images.githubusercontent.com/39923744/196987189-b49b8a93-5abe-4e0f-820c-b3eb617ee5aa.png)

[2021-01-27 07:33] fxzxmicah opened #3313 "Tab title does not follow the localization settings"
**Describe the bug**
The title of the opened folder does not follow the localized folder name set in the desktop.ini file, even if it has been pinned to the sidebar and its localized name has been correctly identified in the sidebar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a sidebar folder
2. Edit desktop.ini file
3. Modify `LocalizedResourceName` entry
4. See that its sidebar

[2021-01-27 07:50] gave92 commented on #3313
Thanks for this feedback. Please see #1226 and #3195 for duplicate issues

[2021-01-27 08:02] Sibyl666 commented on #3292
@yaichenbaum Yes it does after around 10 seconds it fixes itself

[2021-01-27 08:10] gave92 commented on #3281
Thanks for this feedback. That's the name files have in the recyclebin. Cut pasting from the bin should be disallowed until we properly support it.

[2021-01-27 08:50] sujayv-au opened #3314 "Search Not Working"
This one is very simple.

It looks like the search function is not working. I tried the search phrase in lower case, Files was unable to find the phrase. Thinking search might be case sensitive, I entered the phrase exactly like how the folder was name, again, Files did not find anything.

Since I love this app and would like to help as much as possible, I thought I would log a possible bug and ho

[2021-01-27 09:01] ghost opened #3315 "The sincronization with onedrive doesn't work properly"
Hi!
I reopen the issue with more information. In the left side you can see the Files tool with a folder of my one drive. In the right side, you can see the same folder with Windows Exploter.

Note that the "attachment" folder shows as sincronized in Files but in the cloud in Windows Explorer.

I think that it's incorrect, isn't it?

Thnx in advance.

![files](https://user-images.githubusercontent.

[2021-01-27 09:02] dconstanti commented on #3289
Hi! I opened a new issue. I don’t know how to reopen an issue.  Thnx in advance. Daniel Constantí Sánchez De: Yair AichenbaumEnviado: miércoles, 27 de enero de 2021 5:45Para: files-community/FilesCC: dconstanti; MentionAsunto: Re: [files-community/Files] La sincronización con onedrive no se muestra correctamente. (#3289) @dconstanti We need a little more information from you in order to investigat

[2021-01-27 10:09] fxzxmicah commented on #3313
OK, Thanks.

[2021-01-27 11:04] linsui commented on #2748
@yaichenbaum Could you please reopen this issue?

[2021-01-27 11:24] suvrat29 commented on #3313
@fxzxmicah Can you please share your desktop.ini contents for the `LocalizedResourceName` entry?

[2021-01-27 11:41] SOI7 commented on #3310
Shortcuts also open in Win32 Explorer instead of Files now

[2021-01-27 12:09] fxzxmicah commented on #3313
[desktop.ini.zip](https://github.com/files-community/Files/files/5880024/desktop.ini.zip)
The file is encoded as GB2312 or GBK.

[2021-01-27 13:21] AbdulRafay517 opened #3316 "Teracopy in Files UWP"
It would be nice to have teracopy integrated into the app. Thanks.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise descripti

[2021-01-27 13:23] rusti4 commented on #3088
When I went to this setting; it didn't allow me to even select the bubble. It doesn't activate. It's clickable and hoverable, but not activated.

[2021-01-27 13:23] AbdulRafay517 opened #3317 "Pasting to MTP devices does not work"
It would be great to have MTP Support.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative soluti

[2021-01-27 14:13] yaichenbaum commented on #2748
If you can find the package name I should be able to fix this in a simple PR. Can you try running this command `Get-AppxPackage -AllUsers`?

[2021-01-27 14:19] linsui commented on #2748
@yaichenbaum I ran `Get-AppxPackage -AllUsers | Select-String "Terminal"` and got nothing. Scoop does not install it but unpack the installer.

[2021-01-27 15:02] yaichenbaum commented on #2748
@linsui Can you open a new issue for detecting windows terminal from a scoop installation?

[2021-01-27 15:05] linsui commented on #2748
@yaichenbaum OK!

[2021-01-27 15:11] linsui opened #3318 "Add detection for Windows Terminal when installed from Scoop"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Windows terminal from Scoop
2. Add it into terminal.json
3. Restart files
4. The related block is removed

**Expected behavior**
Windows Terminal installed from Scoop is detected and added to terminal.json

**Screenshots**
If applicable, add screenshots to help exp

[2021-01-27 15:57] MarathonMax commented on #3224
did not work for me as you suggested. sorry for the delayed answer.

[2021-01-27 15:59] yaichenbaum commented on #3316
@AbdulRafay517 Thank you for opening this issue. We usually expect users to fill out the issue template when reporting a bug or submitting a feature request, please reopen this issue when you have filled out the issue template.

[2021-01-27 15:59] #3316 closed

[2021-01-27 17:14] wond4200 opened #3320 "Crash when opening newly created ("empty") shortcuts"
Hello, I have a few questions about your great project "files", but something is missing!
When you right-click and "new", then "create shortcut" is missing!
So when you create a single file for which you put .lnk, nothing happens, but when you "open the file location", the application crashes.
I would love for these bugs to be fixed, but otherwise a nice application!
WONDER GAMING

[2021-01-27 17:42] AndyMDoyle commented on #3291
Looking in to this now.

[2021-01-27 20:20] #2919 closed

[2021-01-27 20:21] yaichenbaum commented on #2577
@chingucoding This issue should be resolved with #3312.

[2021-01-27 20:21] #2577 closed

[2021-01-27 20:21] yaichenbaum commented on #2919
@chingucoding This issue should be resolved with #3312.

[2021-01-27 20:21] #2563 closed

[2021-01-27 20:42] chingucoding commented on #2577
Thank you @winston-de and @yaichenbaum for fixing this!

[2021-01-28 03:04] duke7553 commented on #3314
@sujayv-au Hi. Thanks for the feedback. I'm the contributor who implemented our initial search experience. Are you able to check if the location you're searching in is indexed or not? If so, please get back to us with the results and briefly clarify the following questions:
- Is your Windows search indexer disabled/enabled?
- Is the system fully indexed?
- What indexer mode are you using?
- Is thi

[2021-01-28 03:10] duke7553 commented on #2946
@Sebastia181 La adición de etiquetas de color a archivos y carpetas se está rastreando actualmente en otro elemento de comentarios https://github.com/files-community/Files/issues/1161

[2021-01-28 04:14] scottkuhl commented on #3231
I have an issue where instead of my OneDrive showing up, sometimes it shows the C Drive twice.

![image](https://user-images.githubusercontent.com/4465616/106089124-ef673980-60ec-11eb-8303-bdab3e80b235.png)

[2021-01-28 05:11] Dantella02 commented on #2901
I dont want messages

On Sat, Jan 16, 2021, 4:08 PM Russell Taylor <notifications@github.com>
wrote:

[2021-01-28 06:35] gave92 commented on #3231
@scottkuhl but if you open a new tab, the new tab sidebar shows the correct items, right?

[2021-01-28 07:09] fxzxmicah commented on #3255
@yaichenbaum https://github.com/files-community/Files/issues/3311

[2021-01-28 07:32] FormlosLK opened #3324 "Whenever I click on a drive or want to enter a server-adress (eg. \\servername), Files crashes with no further notice"
**Describe the bug**
Whenever I click on a drive or want to enter a server-adress (eg. \\servername), Files crashes with no further notice:
![Screenshot 2021-01-28 082629](https://user-images.githubusercontent.com/37832701/106104302-91654100-6142-11eb-8eba-4d42ba7acf49.png)

**To Reproduce**
Steps to reproduce the behavior:
1. I start on the "start" pane
2. Click on 'Drive C'
3. Crash with the afo

[2021-01-28 09:12] AndyMDoyle commented on #3231
@gave92 @scottkuhl I have had something similar occur while finishing the sync'd SharePoint folder integration. The last entry added to the side bar is intermittently duplicated, or even stranger, causing the last-1 item to be rendered as a duplicate of the last item.

Locally I have code logging all of the items discovered, logging the order they are being added to the sidebar, and then dump out

[2021-01-28 09:31] gave92 commented on #3231
@AndyMDoyle yeah that's what I meant by "visual duplicates", looks like a bug in NavigationView. Calling a Collection.Reset on the sidebar list usually fixes the visualization.

[2021-01-28 10:51] Tolo789 opened #3325 "Customisable sidebar for pinned folders"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try to find a folder among multiples ones that I've pinned on my sidebar, they are all clumped together and they all look the same.

**Describe the solution you'd like**
I'd love to be able to create custom groups in my sidebar, similarly to the already existing "Drives" one. And then being able to free

[2021-01-28 11:01] gave92 commented on #3320
Thanks for the report. For the create new shorcut: feature request tracked in #2833

[2021-01-28 11:03] gave92 commented on #3324
Thanks for the report. Same stacktrace as #3280. Sadly common bug we're investigating.

[2021-01-28 11:13] gave92 commented on #3325
We're working to improve the sidebar -> see #632. If you're suggestions are not already included there, feel free to add them there.

[2021-01-28 11:13] #3325 closed

[2021-01-28 11:35] AbraamNader opened #3326 "Live Folder Thumbnails using Folder.* image convention"
**Is your feature request related to a problem? Please describe.**
- Having all yellow folders look the same can make it harder to identify.
- Customizing each folder with an icon can be a boring mundane task.

**Describe the solution you'd like**
- Reusing windows explorer convention for creating live folder thumbnails when adding an image file named folder (e.g. folder.png or folder.jpg) inside

[2021-01-28 11:50] AndyMDoyle opened #3327 "[Discussion] AppServiceConnection lifecycle question"
@gave92, I am seeing an intermittent issue with cloud drive detection when two app service connections are created and called at almost the same time. From what I can see, the first instance of FilesFullTrust launches, and a second is then launched followed by the process ending and no results coming back to the second callee.

Looking around and I have seen examples of implementing the full trust

[2021-01-28 12:00] SOI7 commented on #3326
OneDrive uses this layout for folders with pictures. Perhaps Files could use the same layout

![IMG_20210128_125746](https://user-images.githubusercontent.com/50930970/106135914-d43a0f80-6168-11eb-86be-3efed0ff1836.jpg)

[2021-01-28 12:02] rubberdecoy opened #3328 "non standard right click menu items missing in store 1.1.5"
[debug.txt](https://github.com/files-community/Files/files/5888618/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/5888619/debug_fulltrust.txt)

**Describe the bug**
When I use 1.1.5 (most recent store version at time of writing) I lose most of the right click menu options that would appear in regular explorer. Rolling back to 1.1.0 from Github and all the menu opti

[2021-01-28 13:37] Tolo789 commented on #692
Just discovered `Files` so I'm probably wrong, but when reading this thread it seems to me that you are not planning on having an unlimited number of sections in the sidebar?

I would love to be able to create (and rename) as many sections as I like, and then freely move my pinned folders from one section to the other. Did I just missed it?
Of course I don't mind at all the automatically generated

[2021-01-28 13:44] gave92 commented on #3327
I addresses this in my OR related to network shares. I took your suggestion of having a single connection per app instance :)

[2021-01-28 14:34] gave92 commented on #3328
Hello thanks for the report. Please attach the log files to the issue description.
Do you happen to have uninstalled/disconnected OneDrive?

[2021-01-28 14:36] gave92 commented on #3317
Hello could you add some more details? MTP devices like android phone storage are already supported.

[2021-01-28 14:50] AbdulRafay517 commented on #3317
It is supported but I can't transfer files.

[2021-01-28 15:19] ShapeGroup opened #3329 "make/restore default file explorer"
It's so cute that I wish it just opened up instead of explorer.
so, is it possibile?

 "make/restore default file explorer"

[2021-01-28 15:44] d2dyno1 commented on #3329
Please read our [documentation](https://files-community.github.io/docs/#/).

[2021-01-28 16:29] rubberdecoy commented on #3328
Yes I have. I don't use or need OneDrive at all.

[2021-01-28 16:55] ShapeGroup commented on #3329
perfect. thanks

[2021-01-28 17:20] HamidRezaAshkiyan opened #3330 "Cut and paste doesnt work"
Most of the times i want to move some file or videos to a new folder. I cut them make a new folder and then paste them there. but nothing works.

Windows 10 20H2
latest version of app.

[2021-01-28 17:33] gavinayling opened #3331 "Renaming a file sometimes causes a force-close"
**Describe the bug**
A clear and concise description of what the bug is.
When using the context menu to rename a file, or when pressing F2, about half the time Files will force close.

**To Reproduce**
Steps to reproduce the behavior:
1. Locate any file you do not mind renaming
2. Press F2 to rename
3. Files force closes (about half the time)

**Expected behavior**
A clear and concise description

[2021-01-28 17:38] #3329 closed

[2021-01-28 19:02] gave92 commented on #3328
@rubberdecoy thanks for the info. This is an issue affecting everyone who has uninstalled OneDrive. I can confirm that a fix will be included in the next version.

[2021-01-28 19:02] #3328 closed

[2021-01-28 19:04] gave92 commented on #3317
@AbdulRafay517 thanks for the info. Don't trust the percentage, also after pasting try refreshing the folder and see if the files were copied. If not please let us know.

[2021-01-28 19:40] #3331 closed

[2021-01-28 19:43] Sebastia181 commented on #2946
Muchas gracias por la información
Sebastià Tost

Enviado desde Correo<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

De: Luke Blevins<mailto:notifications@github.com>
Enviado: dijous, 28 de gener de 2021 4:11
Para: files-community/Files<mailto:Files@noreply.github.com>
CC: Sebastia181<mailto:sebas.tj@live.com>; Mention<mailto:mention@noreply.github.com>
Asunto: Re: [files-communi

[2021-01-28 19:44] rubberdecoy commented on #3328
Outstanding. Thank you!

[2021-01-28 19:47] winston-de commented on #3282
This should already be possible, I just tested it now and it works. What browser are you using?

[2021-01-28 21:12] yaichenbaum commented on #3255
Thank you.

[2021-01-28 21:14] mbeps opened #3332 "App crashes"
**Describe the bug**
When trying to launch the app it crashes. A notification is sent informing me that something went wrong. This only happens when installing on another account. Documents, photos, videos are all saved on a different drive but the apps are installed on the C drive.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Windows user
2. Set where documents, music, photo

[2021-01-28 22:27] pklion opened #3333 "New office files made by Files open in a protected view"
**Describe the bug**
When I open new blank office files made by Files, they open in a Protected view.
If I make them by old explorer, they don't open in a Protected view.

**To Reproduce**
Steps to reproduce the behavior:
1. Make blank office files using Files (e.g. .docx, .xlsx, .pptx)
2. Open it

**Expected behavior**
I would like to do not open new office files made by Files in a protected view

[2021-01-28 23:18] scottkuhl commented on #3231
@gave92  That is correct.

[2021-01-29 03:33] Jaiganeshkumaran opened #3334 "Update JumpList items using an update task"
Some jumplist items have a localized and there's an issue on how handles them since it refers the version in the localization string ID so it appears wrong until you launch Files after the update

[2021-01-29 03:37] Jaiganeshkumaran opened #3335 "Changing options in display mode such as hidden files or file extensions doesn't update immediately"
At least consider refreshing

[2021-01-29 03:41] Jaiganeshkumaran opened #3336 "Search box should be always expanded on larger display"
**Is your feature request related to a problem? Please describe.**
Today you need to click on the search icon to show the search box and it gets hidden afterwards. While this should be the case on smaller displays to save screen space, on larger displays it makes more sense to keep it expanded always.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2021-01-29 03:46] Jaiganeshkumaran opened #3337 "Can't use tab navigation to go outside after focusing the path box"
**Describe the bug**
After clicking on the path box to see the full location, I can't get to the next element via the tab key. Esc key works but it wrongly focuses the selection box button instead of the next element after it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a folder
2. Click on the path box
3. Press tab
4. See error

**Expected behavior**
A clear and concise descriptio

[2021-01-29 05:55] hez2010 opened #3338 "Crashes while opening on-going tasks after failure"
**Describe the bug**
Crashes while opening on-going tasks after failure

**To Reproduce**
Steps to reproduce the behavior:
1. Create a docx
2. Open it and make sure it cannot be deleted (for being in use)
3. Try delete it in Files
4. Click on-going task
5. Crashes

**Desktop (please complete the following information):**
 - OS Version: Windows 10 dev insider 21301
 - App version: v1.2.0

**Additio

[2021-01-29 06:31] #3335 closed

[2021-01-29 06:31] gave92 commented on #3335
#2857

[2021-01-29 06:37] gave92 commented on #3332
Could you check if in Windows Settings > Privacy > File system permission is turned on for Files?

[2021-01-29 08:49] FormlosLK commented on #3324
- If I click on any item under "1", it works like a charm.
- Whenever I click on any item in "2", Files crashes.
<img width="902" alt="Screenshot 2021-01-29 094755" src="https://user-images.githubusercontent.com/37832701/106253011-35b8b780-6217-11eb-8818-bfb3161caee5.png">

[2021-01-29 09:46] KristofKekesi opened #3339 "[Feature] Windows Terminal Preview support"
**Describe the solution you'd like**
An option for Windows Terminal Preview in terminal selector.

[2021-01-29 13:23] ziplock9000 opened #3341 "Details Pane like Windows Explorer"
Windows Explorer lets you enable a details pane which will show stats regarding the current object.

This is much quicker than right-clicking and digging intro properties. It also shows a subset of info that is more datatype specific

It's also much better than details view for many reasons.

<img width="556" alt="msedge_enjZgdc9k5" src="https://user-images.githubusercontent.com/5209752/106279979-

[2021-01-29 13:36] XPoppyX commented on #3341
Details / preview pane has already been implemented (#2756) and will be available in next update

[2021-01-29 13:49] XPoppyX commented on #3339
**Did you add this? :**

_{
      "name": "Windows Terminal",
      "path": "wt.exe",
      "arguments": "-d \"{0}\"",
      "icon": ""
}_

I just tested and it works with terminal preview

[2021-01-29 14:02] KristofKekesi commented on #3339
Oh thanks for the snippet but I don't know C and I have no idea in which file to put that json.
I'm only making translations here.

[2021-01-29 14:33] #3341 closed

[2021-01-29 14:35] yaichenbaum commented on #3336
This feature request doesn't fit with our plans for Files, we will have more to share about this soon.

[2021-01-29 14:35] #3336 closed

[2021-01-29 14:36] JuanChiogna opened #3342 "Feature: Add the ability to close the primary/left panel"
**Requirements**
- Add support for closing the left pane

[2021-01-29 15:04] gave92 commented on #3342
See #2941

[2021-01-29 15:12] XPoppyX commented on #3339
There is an edit button next to the combo box

![Captura de pantalla 2021-01-29 121111](https://user-images.githubusercontent.com/61259627/106292073-2fccd180-622b-11eb-8af4-394afb845cbf.png)

[2021-01-29 15:22] mbeps commented on #3332
@gave92 Yes, it's enabled.

[2021-01-29 15:47] RohitBag opened #3345 "The "Date modified" of all files and folders are showing wrong value."
**Describe the bug**
The "Date modified" of all files and folders are showing wrong value. My timezone is GMT+5.30

**To Reproduce**
Steps to reproduce the behavior:
1. Open any folder and create anew file or change any existing file.
**Expected behavior**
Time should correspond default system time.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please co

[2021-01-29 15:54] yaichenbaum commented on #3345
@RohitBag Which version of Files do you have this issue with?

[2021-01-29 15:57] yaichenbaum commented on #3314
@sujayv-au Can you check if turning on the setting to search for unindexed items fixes this issue?

[2021-01-29 16:01] yaichenbaum commented on #3196
@KibSquib48 Thank you for taking the time to report this issue. We need a little more information from you in order to investigate this issue, please reopen this issue when you get a chance to upload the more recent log files.

[2021-01-29 16:01] #3196 closed

[2021-01-29 16:02] yaichenbaum commented on #3239
@StLa1Thank you for opening this issue, we need a little more information from you in order to investigate this issue, please reopen this issue when you get a chance to upload a screen recording.

[2021-01-29 16:02] #3239 closed

[2021-01-29 16:05] yaichenbaum commented on #1618
@jonnypjohnston This method is no longer supported by Files.

[2021-01-29 16:05] #1618 closed

[2021-01-29 16:10] yaichenbaum commented on #2895
@Senliast Files should already load custom icons, what version of Files do you have?

[2021-01-29 16:26] Senliast commented on #2895
@yaichenbaum yes it does, but not the custom icons of the folders. The lastest version from MS Store.

[2021-01-29 16:34] yaichenbaum commented on #2895
@gave92 Can you check this on your end when you get a chance?

[2021-01-29 16:54] Senliast commented on #2895
P.S. the custom folders icons will be installed by patching imageres.dll and imageresx86.dll so i think it would be enough if the app just uses the default system folder icon, like it does for files.

[2021-01-29 17:20] TheUnsleepingAlchemist opened #3348 "Drag and Drop in Search mode"
**Describe the bug**
Drag & Drop in Search mode not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go search for some files.
2. Click on random file.
3. Try to drag or drop file anywhere.
4. See error

**Expected behavior**
In search mode I expected normal drag and drop behavior.

**Desktop (please complete the following information):**
 - OS Version: Windows 10 Pro 1909 18363.1316

[2021-01-29 18:22] gave92 commented on #2895
@yaichenbaum currently we show custom icons for folder only if the icon file is outside the c:\windows folder. This is to avoid showing the standard folder icons instead of the Files one.

[2021-01-29 18:37] AndyMDoyle commented on #3327
@gave92, that looks great. Do you know when that PR will be merged?

I think I have worked around the duplication issue on the sidebar but I don't want to throw these changes in to the mix when you are working on most of the same files.

[2021-01-29 18:40] gave92 commented on #3327
@AndyMDoyle I won't be able to work on that for a week. So you can go ahead and do anything. If you wish you're free to take anything from that PR.

[2021-01-29 20:49] KristofKekesi commented on #3339
Thanks for the step by step. It launches the normal Windows Terminal not the Preview. And It has a crash like message as well
(```[error 0x8007010b when launching `cmd.exe']```).

Thanks for your time.

[2021-01-29 21:04] XPoppyX commented on #3339
mm, I guess you should uninstall the normal version if you only want to use the preview version

Strange that it crashes with cmd

[2021-01-29 22:34] XPoppyX commented on #3345
After comparing the modification date of several files, I can confirm that they are displayed with a different timezone

[2021-01-29 22:37] Ein-Tim commented on #3345
I've already reported this in #2917

[2021-01-30 02:01] glitchcodes opened #3351 "Cannot drag/move app from it's tabs section"
**Describe the bug**
As the title says. Dragging/Moving the app window from its tabs section doesn't do anything. But moving/dragging the app from a little space in app before the file location bar/home works

**To Reproduce**
Steps to reproduce the behavior:
1. Drag/Move the app from Tab Section/Top side of the app
2. You can't move it

**Expected behavior**
You can move the window

**Screenshots

[2021-01-30 02:11] iKatsuo opened #3352 "Shortcut"
**Is your feature request related to a problem? Please describe.**
No, my feature request is not related to a problem.

**Describe the solution you'd like**
A shortcut for opening the app would be great, I normally used Win + E when I was using the predetermined file explorer but now that I'm using Files, I'm missing a shortcut to open the program.

**Describe alternatives you've considered**
I do

[2021-01-30 04:22] glitchcodes commented on #3352
Follow this documentation:
https://files-community.github.io/docs/#/articles/replace-file-explorer

This replaces Win+E to open Files instead of File Explorer and most other things that uses File Explorer.
Although, this isn't perfect. Opening downloaded files from your browser still opens file explorer.

[2021-01-30 06:23] sujayv-au commented on #3314
Hi Luke

Answers below ....

On Thu, Jan 28, 2021 at 2:04 PM Luke Blevins <notifications@github.com>
wrote:

was searching was not included in the indexing. So I have added that drive
and Windows 10 is building the index as we speak. I will be away from home
for the next week so I will be able to retest the search when I get back.*

drives (I have three drives). So I have switched indexing on for

[2021-01-30 06:30] sujayv-au commented on #3314
Hi Yair

As per my email report to Luke, I was searching within a OneDrive folder.
When I checked the Windows Indexing, I noticed that the SSD that contains
my OneDrive folder was not being indexed. I have added that SSD to the
index and changed the Index Mode to Enhanced. The re-indexing is happening
as I write this email.

Once complete, I will retest the search and report via this ticket.

Also

[2021-01-30 06:37] #3351 closed

[2021-01-30 06:38] gave92 commented on #3351
Merging with #3250

[2021-01-30 06:39] gave92 commented on #3352
You can set WinE to open files!

https://files-community.github.io/docs/#/articles/configure-win-e

[2021-01-30 06:40] #3352 closed

[2021-01-30 09:21] DicksHalfwayInn opened #3353 "Renaming files"
<!--
🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨

I downloaded the app upon to try when one of your contributors told me about it

one issue I encountered... If you rename a file in a directory and then try to rename a second, the program crashes

[2021-01-30 11:38] Zabijak05 opened #3354 "Crash at start-up"
**Describe the bug**
The Files app launches, stays open for 2 seconds without being able to interact with any buttons, and crashes

**To Reproduce**
Start the Files app
Wait
*Crash*

**Expected behavior**
App starts normally

**Screenshots**
N/A

**Desktop (please complete the following information):**
OS Version: Windows 10 Version 2002 Build 21292.1010
App version: [v1.1.0.0]

**Additional conte

[2021-01-30 11:40] jmoo2 opened #3355 "Copying big files freezes app"
**Is your feature request related to a problem? Please describe.**
When copying files, especially large ones over 1GB, there is no notication. The app also seems to lock until the file has been copied (from one drive to another). I see there is a noticiation area bottom right but that doesn't seem to display anything.

**Describe the solution you'd like**
I'd like a progress bar. Unlike Windows Fi

[2021-01-30 12:26] glitchcodes commented on #3250
It seems that this only happens when Tab Customization setting is set to Vertical Mode

[2021-01-30 12:30] Ein-Tim commented on #3250
I've set it to adaptive and experience this too.

[2021-01-30 12:33] gave92 commented on #3353
We are having a little trouble understanding this issue report, please reopen this issue when you have filled out the issue template.

[2021-01-30 12:50] 0x5bfa opened #3356 "Feature: Disable splash screen on UWP"
### Summary

Disable splash screen.
Considering that "files", which is an alternative to windows explorer, is the most used app by users, I think it is useless if the startup time is long, so I think it is better to disable the splash screen like windows terminal.

[2021-01-30 12:50] gave92 commented on #3354
@jakoss could you take a look at this? Have we seen this before?

[2021-01-30 12:55] gave92 commented on #3355
The progress report for now only works when copying multiple files, not with a single big file (#2543)

[2021-01-30 14:08] jakoss commented on #3354
Seems to be a duplicate to https://github.com/files-community/Files/issues/3169.

I'll catch and ignore this error in my next PR. No idea how this is happening

[2021-01-30 15:31] #3354 closed

[2021-01-30 15:31] gave92 commented on #3354
Closing this in favor of #3169

[2021-01-30 16:06] generalguy41 opened #3357 "Dragging images from browser saves them incorrectly"
**Describe the bug**
Not sure if this is a UWP limitation or not, but when dragging images from the browser to Files, the image doesn't save as the right name/format.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a site with an image you want to save.
2. Drag the image to Files.
3. See that the image is not the right name/format.

**Expected behavior**
Files will save the image prope

[2021-01-30 16:22] generalguy41 commented on #2910
To add to this in 1.1.0.0, it also navigates other open tabs (See the second tab in recording).

https://user-images.githubusercontent.com/8879244/106361746-5f441280-62ed-11eb-9c86-c840631028b2.mp4

[2021-01-30 16:32] generalguy41 commented on #3263
It seems this actually works correctly when in details view in dual pane mode (v1.1.0.0, Windows 10 Pro 2004 21301.1000).

https://user-images.githubusercontent.com/8879244/106362011-7cc5ac00-62ee-11eb-86b1-dc4a1f56b43f.mp4

[2021-01-30 16:41] gave92 commented on #3357
+ @winiston-de

[2021-01-30 16:43] gave92 commented on #3356
Related #2568

[2021-01-30 16:46] gave92 commented on #3339
For terminal preview the exe might be "wtd.exe"

[2021-01-30 17:21] generalguy41 opened #3358 "Quicklook does not work correctly in dual pane mode"
**Describe the bug**
Quicklook does not work correctly in dual pane mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to two separate directories in dual pane mode.
2. Click on an image (or file) in the first pane and press space.
3. See that nothing opens with Quicklook, and the focus changes to the first item.
4. Click on an image in the second pane and press space.
5. See that Quic

[2021-01-30 17:27] KristofKekesi commented on #3339
No :(
![image](https://user-images.githubusercontent.com/64812024/106363403-9f74b680-6328-11eb-9bc3-8c4694c62185.png)
(Could not find the file wtd.exe)

[2021-01-30 18:08] winston-de commented on #3357
I believe this is an issue with Firefox, not with Files, as I cannot reproduce it with Edge. It also looks like this bug affects all apps *except* Windows explorer. I tried dragging an image from Firefox into any other app, and I have the same issue.

I think these are related to your issue:
https://bugzilla.mozilla.org/show_bug.cgi?id=557708
https://bugzilla.mozilla.org/show_bug.cgi?id=1191462

[2021-01-30 18:12] generalguy41 commented on #3357
Fair, it's only a minor annoyance anyway, and there are workarounds. I'll close this.

[2021-01-30 18:12] #3357 closed

[2021-01-30 19:34] gave92 commented on #3353
@DicksHalfwayInn could you update the description with what you posted on Discord (video included)? It's just too difficult to keep track of issues on Discord ;)

[2021-01-30 19:36] gave92 commented on #3353
Likely duplicate of #3205

[2021-01-30 19:52] Zakees commented on #2917
+1

[2021-01-30 21:58] jmoo2 commented on #3355
Thanks for the update

[2021-01-30 23:24] sujayv-au commented on #3314
Hi Luke

It looks like indexing had fixed the issue. Will test more when I get back
from my vacation and report. But preliminary tests shows Search working as
it should.

Thanks for your help.

Sujay

On Thu, 28 Jan 2021, 2:04 pm Luke Blevins, <notifications@github.com> wrote:

[2021-01-30 23:25] duke7553 commented on #3314
@sujayv-au Excellent! Enjoy your vacation

[2021-01-31 00:04] #3345 closed

[2021-01-31 00:16] yaichenbaum commented on #3356
The splash screen is already set to "optional" but as mentioned by @gave92, it isn't the only factor in startup time. There is an ongoing effort to improve the startup time so you can expect to see these improvements over the next couple of months. We are going to merge this with #2568 to continue the discusion.

[2021-01-31 00:16] #3356 closed

[2021-01-31 00:17] ariadevl opened #3359 "Support Folder Name Created by Windows Store Application"
**Is your feature request related to a problem? Please describe.**
Folder name supposed to be the name of application installed

**Describe the solution you'd like**
example folder created by 8zip app, view in file explorer
![image](https://user-images.githubusercontent.com/61529802/106371187-578f7700-639c-11eb-83df-10c75ccc1839.png)
view in Files app
![image](https://user-images.githubusercontent

[2021-01-31 00:54] yaichenbaum commented on #3339
Both Windows Terminal and Windows Terminal Preview use the same app execution alias `wt`. If you would like `wt` to launch the preview version, you should be able to change this under the app execution alias settings page in the Settings app.

[2021-01-31 00:58] Simplicitus opened #3360 "Python Files report being in C:\WINDOWS\system32"
**Describe the bug**
Python scripts report having their working directories in `C:\WINDOWS\system32`  even though being somewhere else

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a random directory and create a python file with content like this:
[code]
2. Execute it
3. See that the working directory isn't the one the file is located in, but `C:\WINDOWS\system32`

**Expected behavi

[2021-01-31 05:12] onein528 commented on #3356
Oh, sorry....

[2021-01-31 05:43] XiiZii commented on #3356
I like to take risks

[2021-01-31 08:34] gave92 commented on #3359
Likely fixed together with #1226

[2021-01-31 09:11] aadvanraamt opened #3363 "Not started"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-01-31 09:25] BreezyMain opened #3364 "Start application with Win + E shortcut key."
In RX Explorer (another UWP Explorer), I can open it with the Win + E shortcut key, which allows me to use it instead of the system's own Explorer, which is very convenient. I like the UI design and animation of Files very much, but unfortunately there is no shortcut key for Win + E. If this function can be added, I think it will be perfect.

[2021-01-31 09:27] BreezyMain commented on #3364
I know that the application can be launched through Win + E in other ways, but it will be perfect if it can be built in.

[2021-01-31 09:36] gave92 commented on #3363
Please reopen this issue when you have filled out the issue template.
In particular we'd need the app log files in order to investigate the issue.

[2021-01-31 09:36] #3363 closed

[2021-01-31 09:58] gave92 commented on #3364
As you may know already you can use this method to open Files on Win E.
https://files-community.github.io/docs/#/articles/configure-win-e
Rx-Explorer actually use the same method (the registry one) but bundles the .reg files within the app.
@yaichenbaum should we consider doing the same? Opening on Win+E should be safe enough (not like fully replacing explorer with Files)

[2021-01-31 10:35] kn0xit opened #3365 ".NET error"
This issue was previously reported by another user but since then closed. I have the same issue now, thus reposting the error. Would greatly appreciate help on this.

Describe the bug

FilesFullTrust.exe - .NET Framework Initialization Error
C:\Windows\Microsoft.NET\Framework64\v4.0.30319\mscoreei.dll could not be loaded

See error message:
![files-screenshot-errormessage](https://user-images.gith

[2021-01-31 10:55] #3339 closed

[2021-01-31 12:05] gave92 commented on #3365
@kn0xit does this prevent the main Files app from opening? Or it "just' shows the error message but the app is then usable?

[2021-01-31 14:32] kimlimjustin opened #3368 "Add animation to status center to indicate when an operation is complete"
**Is your feature request related to a problem? Please describe.**
There's no animation/notification that pops up when copying files/folders which sometimes makes me confused whether it is done.

**Describe the solution you'd like**
An animation that shows the progress of copying files/folders.

**Describe alternatives you've considered**
A popup notification tells me that it's finished.

[2021-01-31 14:42] sos34211 commented on #3365
F

[2021-01-31 14:58] kn0xit commented on #3365
the program itself runs fine.

the error prompts remain in the background, also after closing Files.

At every new Files window opening, including startup, 3 error prompts pop up (eg startup and then a new window results in 6 prompts). For new secondary pane or new tab actions, 1 additional error prompt appears.

I can't say if this impacts performance in any way. Quicklook doesn't work, although

[2021-01-31 15:09] kn0xit commented on #3365
one more piece of info: an additional error prompt also appears after restoring a previously minimized window.

[2021-01-31 15:23] gave92 commented on #3365
Thanks for the additional info. I'm a bit at a loss here. The dumb solution would be to disable the fulltrustprocess on WoA, which would get rid of the error messages.
But that means forgoing having Quicklook integration and full context menu on WoA..

[2021-01-31 15:29] yaichenbaum commented on #3364
@gave92 I am a little hesitant to build this in, although we provide instructions, it still has some risks involved and I don't think we want to make it an official solution.

[2021-01-31 15:29] #3364 closed

[2021-01-31 17:43] Ein-Tim commented on #3368
Hey @kimlimjustin

If you copy/paste something you should see a blue point in the "Ongoing Tasks" menu.
The "Ongoing Tasks" menu looks like this:
![image](https://user-images.githubusercontent.com/67682506/106392775-b7653c80-63f3-11eb-8b69-9f1de2d3fdfa.png)

and can be found in the bottom right corner.

Can you confirm that this menu is there and if you copy something you see the blue point in it?

[2021-01-31 18:44] Nisgrak opened #3370 "Show additional terminal options in sub menu when holding down shift key"
### Is your feature request related to a problem? Please describe.

I have multiple terminal profiles and I must remember the name and write in navbar.

### Describe the solution you'd like

* The "Open in Terminal" is a button with an optional list, if I click it go to default profile, if I hover it's showed a list to select between all profiles
 * Show all profiles in "Open in Terminal" button t

[2021-01-31 20:58] eamodio opened #3371 "Scrolling stutters/jumps in v1.2"
**Describe the bug**
Scrolling seems worse than in 1.1 -- even in a directory that only has a handful of folders and files. It kind of seems to get stuck at certain points when scrolling and then continues (or jumps). After a restart (well actually a crash where the window just disappeared which I will file in a separate bug), things are better, but still stuttery/jumpy.

From watching how it stut

[2021-01-31 21:00] eamodio opened #3372 "Add a "copy" button to the About screen to quickly copy and environment/version information to make reporting easier"
It would be great to have a "Copy" button, that would copy not only the current Files version, but also the OS version to make reporting issues easier.

[2021-01-31 21:05] yaichenbaum commented on #3371
@eamodio Is this also an issue in the grid layout modes or is it only in the details layout?

[2021-01-31 21:06] #3314 closed

[2021-01-31 21:06] yaichenbaum commented on #3307
@Ricky55 We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-01-31 21:06] #3307 closed

[2021-01-31 21:07] eamodio opened #3373 "Trying to open folder was extremely slow, and then the whole Files window disappeared"
**Describe the bug**
I tried to open/switch to few folders, and it was really slow -- the progress indicator spun for at least a few seconds (and this is on a very fast local SSD). And on the 3rd folder I tried to open, it just spun for 10+ seconds until the window completely disappeared. While I haven't been able to reproduce the extreme slowness since, the app still feels quite slow to switch to

[2021-01-31 21:10] eamodio commented on #3371
Grid mode seems very snappy.

[2021-01-31 21:16] eamodio opened #3374 "I find it hard to know which Tab or UI element is active/selected"
**Describe the bug**

I find it hard to tell which of these tabs is the active one. And with only 2 tabs I find it MUCH harder.

![image](https://user-images.githubusercontent.com/641685/106398162-53d11400-63df-11eb-9c99-e3845397429c.png)
![image](https://user-images.githubusercontent.com/641685/106398201-7400d300-63df-11eb-937c-2c8d5ae29e09.png)

In that 2nd image, I really think the first tab is

[2021-01-31 21:33] yaichenbaum commented on #3371
This looks like it might be an issue with the DataGrid control, the good news is that Microsoft is working on a new DataGrid control. I am linking the issue here so you can add your feedback regarding scrolling https://github.com/microsoft/microsoft-ui-xaml/issues/1500.

[2021-01-31 21:38] yaichenbaum commented on #3374
@eamodio The second issue seems to be because of the accent color you are using, other than changing the color to something else, do you have any ideas how we can improve this behavior?

[2021-01-31 21:39] eamodio commented on #3374
Maybe a border?

[2021-01-31 21:46] yaichenbaum commented on #3374
Wouldn't a border have the same issue if the accent color matches the button backgroun?

[2021-01-31 21:49] eamodio commented on #3371
Did something change though that could have impacted things negatively between 1.1 and 1.2? Because I don't remember experiencing this with 1.1

[2021-01-31 21:50] yaichenbaum commented on #3371
@hez2010 Do you know if you changes would have made an impact here?

[2021-01-31 21:51] eamodio commented on #3374
Yeah, the border would have to be some color calculated from the accent color -- to be either brighter or darker (or more saturated, etc) depending on the theme.

[2021-01-31 21:55] makcim392 commented on #3371
Hi, when using a high refresh rate monitor (165Hz, I'm using an HP Omen 27") there's a lot of jittering. I happen to have another 60hz screen and it's working fine. I suspect the stuttering it's due to the higher refresh rate.

Hope I've been helpful.

[2021-01-31 22:14] pklion opened #3375 "The Arabian message is shown when I set language to Japanese"
**Describe the bug**
The Arabian message is shown when I set language to Japanese, as following screenshots.

**To Reproduce**
1. Change language to Japanese.
2. Go to setting.

**Expected behavior**
Please show the Japanese message instead of the Arabian message.

**Screenshots**
![image](https://user-images.githubusercontent.com/78145811/106399129-270e1280-645a-11eb-9ff4-7e200ab271bd.png)

**Des

[2021-01-31 22:16] generalguy41 commented on #3371
Not sure if it will help, but I did some testing as well. Done on a Gigabyte M27Q 170Hz monitor with an MX Master using the fast scrolling. App version 1.2.0.0, Windows 10 Pro Insider Preview 2004 21301.1000.

Seems to me there is very minor stuttering when scrolling normally. The only more significant stuttering I see is when you are actively moving the cursor up and down while scrolling (as seen

[2021-01-31 22:17] XPoppyX commented on #3374
What about something like this? _(Without acrylic effect)_

![Captura de pantalla 2021-01-31 183951](https://user-images.githubusercontent.com/61259627/106399487-a8808900-63f7-11eb-80f8-d52424983f34.png)

[2021-01-31 22:26] PkLion opened #3376 "Clicking desktop icons opens old explorer"
**Describe the bug**
When I click Desktop icons(PC, Recycle Bin), it opens old explorer, not the Files app as #3182.

**To Reproduce**
1. Click the Desktop icon on the Desktop

**Expected behavior**
I would like to open with the Files app, not the old explorer.

**Screenshots**
![image](https://user-images.githubusercontent.com/78145811/106399784-24adb780-645e-11eb-926d-0bd3de7bbc75.png)

**Deskto

[2021-01-31 22:26] TheXamlGuy commented on #3368
An option for the "Ongoing task" menu to pop open automatically may be a good idea, for ease of discovery.

[2021-01-31 22:59] pklion opened #3377 "Tab's name becomes like "DOWNLO~1""
**Describe the bug**
When I open folders using Files from other applications(e.g.Chrome), the tab's name becomes like "DOWNLO~1."

**To Reproduce**
Example of open Files from Chrome.
1. Open Chrome
2. Download something.
3. Right-click on it and open the folder.

**Expected behavior**
Please show the full name of the folder.

**Screenshots**
![image](https://user-images.githubusercontent.com/78145

[2021-01-31 23:06] XPoppyX commented on #3375
I checked and those strings are not translated into Japanese, that's why they are shown in another language.

However, they should be shown in the original language (English) in these cases.

[2021-01-31 23:40] carlosvsilva opened #3379 "Files should bring support for file and directory labels a la Finder.app (MacOS)"
**Is your feature request related to a problem? Please describe.**
Files can only be organized in directories, there is no support for file/directory labels/tags that can differentiate between files and directories with different status (Done/NotDone), (Reviewed/ToReview), (Processed/ToProcess), etc

**Describe the solution you'd like**
I think Files is in a privileged place to bring support for f

[2021-01-31 23:41] R3voA3 opened #3380 "v1.2.0.0 Performance is incredible bad. Almost unusable."
The performance seems to have become worse with the recent update, even though the changelog suggests otherwise. Opening a folder with a few items takes 1-2 seconds, the search is incredible slow, and overall the current experience is very "laggy".

[debug_fulltrust.txt](https://github.com/files-community/Files/files/5901098/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/Files

[2021-01-31 23:47] R3voA3 commented on #3379
I absolutely agree!

[2021-01-31 23:48] R3voA3 commented on #3376
This is intended. A workaround can be found here https://files-community.github.io/docs/#/articles/replace-file-explorer

[2021-01-31 23:49] R3voA3 commented on #3373
Same as in #3380

[2021-01-31 23:53] R3voA3 commented on #3375
Guess because many changes were done by an Arabic contributor in version 1.2.0.0? German localisation is almost done except a few new keys and they are Arabic too.

[2021-02-01 00:16] yaichenbaum commented on #3380
@R3voA3 Do you have the setting to cache items turned on?

[2021-02-01 00:24] R3voA3 commented on #3380
Yes, I tried with it and without. Seems to make no noticeable difference @yaichenbaum

[2021-02-01 00:28] R3voA3 commented on #3374
![image](https://user-images.githubusercontent.com/17484252/106403006-b1d81880-642c-11eb-875b-4757e63b39e5.png)
This is how Mail app does it. Maybe apply accent color to the font?

[2021-02-01 00:32] R3voA3 opened #3382 "Small icons next to folder appear blurred with Grid View (large)"
Small icons next to folder appear blurred with Grid View (large).

![image](https://user-images.githubusercontent.com/17484252/106403127-43e02100-642d-11eb-91ce-faacbe42975f.png)

Perhaps https://github.com/microsoft/fluentui-system-icons ?

[2021-02-01 02:02] Talisman39ar opened #3383 "Remember prior sort order for column"
**Is your feature request related to a problem? Please describe.**
I *love* that I can now co-mingle files and folders when sorting alphabetically (I missed this from my Mac days). However I have a request for how sort order is handled when switching between columns. For example:
1. Open a folder
2. Defaults to Name column from lowest to highest (A->Z). Fine if I haven't specified otherwise
2. Dec

[2021-02-01 02:56] ManFridayy opened #3384 "Files 1.2.0.0 can't start"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-02-01 03:04] yaichenbaum commented on #3384
@ManFridayy Can you please upload the log files?

[2021-02-01 03:07] kimlimjustin commented on #3368
Thanks for your reply, I can see the ongoing task animation right now, but it will be easier if the ongoing task menu pops up automatically as what @TheXamlGuy mentioned.

[2021-02-01 03:33] rusti4 commented on #3384
I too am having this issue. App store just updated it.

[2021-02-01 03:39] yaichenbaum commented on #3382
@R3voA3 The fluent icon is already used, @gave92 should be able to confirm, but I think this icon is used as fallback.

[2021-02-01 04:51] hez2010 commented on #3371
The only thing in my changes would impact here is the semaphore while acquiring enumerator in `BulkConcurrentObservableCollection` which introduced by #3290:
https://github.com/files-community/Files/blob/1f872f745f7e53340e9772294495c28ecfb6a4b8/Files/Helpers/BulkConcurrentObservableCollection.cs#L195

But I don't think this would result in too much scrolling stutters.

[2021-02-01 05:37] hez2010 commented on #3373
@yaichenbaum I think this might be caused by persistent cache in previous version.
We have changed the cache behavior but if users upgrade Files from previous version, they still have old cache entries in SQLite which leads to long loading time.

[2021-02-01 06:05] tgrelka opened #3385 "German translation uses wrong (non-english) fallback"
**Describe the bug**
When using Files with German translation, some strings have the wrong translation fallback (and even are left to right!) - I don’t know what language, but definitely not English.
When setting Files to English manually, everything works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Have Windows language be German.
2. Open Files with language setting set to “window

[2021-02-01 06:18] hez2010 commented on #3371
@yaichenbaum  I've sent a possible fix in PR #3386

[2021-02-01 06:21] eamodio commented on #3373
Tried that, and I'm not sure I'm seeing much of a difference (maybe slightly?). I also tried with and without caching, and also don't notice too much of a difference -- with caching I don't see it painting the icons of the folders/files when I switch into a folder, but it still takes it 1-2s to show anything.

Another thing I noticed, is that when switching to a folder. When the parent folder is s

[2021-02-01 06:22] eamodio commented on #3371
I also am seeing that using the arrow keys to scroll the view, is VERY slow and stuttery too.

[2021-02-01 06:27] hez2010 commented on #3373
@eamodio Did the progress indicator appear during this "1-2s"?

[2021-02-01 06:28] eamodio commented on #3373
Yeah

[2021-02-01 08:36] PkLion commented on #3385
Maybe this is the same problem as #3375.

[2021-02-01 08:49] PkLion commented on #3376
I already ran SetFilesAsDefault.reg, but it won't open Files.

[2021-02-01 09:20] consdel opened #3387 "OneDrive - Teams/Sharepoint folders"
In the "cloud archives" section,
add OneDrive folders related to the enterprise (Sharepoint/Teams)

[2021-02-01 09:29] R3voA3 commented on #3385
These strings are not translated into English yet. Only language available is Arabic.

[2021-02-01 09:30] R3voA3 commented on #3373
Seems like resetting the app improves the performance, making it better, yet not great.

[2021-02-01 09:44] benschlegel opened #3388 "JSON/cs/java files not properly scrollable in preview pane"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any folder with a JSON/cs/java file in it that have content longer than the default preview pane so you have to scroll (this potentially involves other file types too)
2. Click on the preview pane icon if its not already enabled
3. Unlike with html/md/text and other

[2021-02-01 09:59] benschlegel opened #3389 "Files freezes/crashes when enabling preview on big files (.reg)"
**Describe the bug**
Files freezes indefinitely until you restart and sometimes crashes when enabling preview pane on big .reg files (tested with 2 ~270mb .reg files)

**To Reproduce**
Steps to reproduce the behavior:
1. Start Files
2. Navigate to folder containing big .reg file
3. Click on big .reg file
4. Enable preview

**Expected behavior**
No crash and proper preview like with smaller files

[2021-02-01 10:11] benschlegel opened #3391 "Remember preview pane state when restarting Files"
**Is your feature request related to a problem? Please describe.**
Having to manually enable preview pane every time i start files.

**Describe the solution you'd like**
A toggle in settings ("on startup") that allows you to switch on and off preview pane by default.

**Describe alternatives you've considered**
Manually opening up preview pane every time i start files.

**Additional context**
Im u

[2021-02-01 10:20] benschlegel opened #3392 "Preview pane doesnt keep size if navigated to different folder"
**Describe the bug**
If you adjusted the size of the preview pane and navigate to a different folder or close and open it, the size resets to default.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable preview pane
2. Resize preview pane
3. Navigate to different folder or close and open preview pane
4. Preview pane has default size again

**Expected behavior**
Preview Pane keeping same s

[2021-02-01 12:01] burakdede2001 opened #3394 "Turkish language has so many Arabic text"
**Describe the bug**
App settings are %70 Arabic and %30 Turkish while using Turkish language.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Set language to Turkish
3. Settings will be Arabic mostly

**Expected behavior**
Turkish language should make the app Turkish

**Screenshots**
![Ekran görüntüsü 2021-02-01 145517](https://user-images.githubusercontent.com/29973158/10

[2021-02-01 12:08] oOII-J4HN-IIOo opened #3395 ""Item already exists..." - which item?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
**When copying more than one file from one location to another, if there is a duplicate, Files will display the message:
"Item already exists. An item with this name already exists in this directory".

**Describe the solution you'd like**
A

[2021-02-01 12:30] fakepasta opened #3396 "crash after renaming pdf"
application crashed after I renamed a pdf
entered new name of pdf --> pressed TAB to switch to the next pdf and thus confirming the change in the first pdf --> name of second pdf was editable --> then Files application crashed

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down

[2021-02-01 13:06] vsopko opened #3397 "Copy/Paste/Move multiple files"
1. Copy/paste multiple files dialog must have checkbox "Replace all" to replace all existing files instead of selecting "Replace" button on each one. Replacing a lot of files without this becomes very long.
2. Copy/paste multiple files with drag drop must have an option to move files, not just copy (drag with +shift or +ctrl)
3. Replace files dialog must show source and target files comparision on

[2021-02-01 13:11] vsopko commented on #3395
Also it would be great to edit new file name while copiyng instead of finding later what name the programm gives to the file copy. Like in Directory Opus:
![image](https://user-images.githubusercontent.com/15255277/106463090-ff459b80-64a7-11eb-9959-890add739d0d.png)

[2021-02-01 13:40] SOI7 commented on #3374
![image](https://user-images.githubusercontent.com/50930970/106466257-6577f180-649b-11eb-87e0-0d7113627b52.png)

@XPoppyX I'm in love with this layout, seriously. It should absolutely make its way into the app

[2021-02-01 14:24] LoZeno commented on #3282
@winston-de

I am using version 1.2.0.0 of Files, and I can't drag files from Files and drop them onto any browser (I tried Firefox, Firefox Developers Edition, Chrome and Edge); I can't drag files from a pane to another, nor can I drag files from a root directory into a subdirectory.
In short, it doesn't look to me like ANY drag-and-drop is possible, not just to upload to browsers. @winston-de ,

[2021-02-01 14:44] #3371 closed

[2021-02-01 15:10] Vixb1122 commented on #2737
same bug，and date format is "Application"
![image](https://user-images.githubusercontent.com/17810492/106476912-89125a80-64e2-11eb-81a5-846344e798ff.png)

[2021-02-01 16:04] dckface opened #3398 "Duplicit physical drives panels in Home screen"
**Describe the bug**
The Home screen's Drives panel list all physical drives twice. In the sidebar, the drives are listed correctly.

**To Reproduce**
1. Open Files.
2. See the double drives on Home screen.

**Expected behavior**
The physical drive entries should not be doubled.

**Screenshots**
![image](https://user-images.githubusercontent.com/3797371/106483634-08863680-64af-11eb-9a10-d08964e933

[2021-02-01 16:17] lmms500 opened #3399 "Version 1.2.0.0 translation bug"
**Describe the bug**
After updating to version 1.2.0.0, the translation failed in some parts of the application (the screenshots show more details), I use my system in Portuguese, I don't know if this error is only in my language.

**Screenshots**
![Screenshot bug 2 png](https://user-images.githubusercontent.com/78367179/106484928-dbc22700-648e-11eb-80e8-a67b4f994341.png)
![Screenshot bug 3 png](h

[2021-02-01 16:19] carlosvsilva commented on #3379
Apparently Windows Explorer already supports labels (etiquetas) and ratings (classificação) alike (another useful feat) and those columns can be selected from the list of available columns to display. Maybe these properties in Files can be stored in the same place of Windows Explorer. Thanks.

![ratings](https://user-images.githubusercontent.com/40889421/106485817-e8ec0f80-64a8-11eb-8cb2-be99eb6f1

[2021-02-01 16:59] KristofKekesi opened #3400 "Preview pane for folders"
**Describe the solution you'd like**
Some additional informations about the folder (like how much sotrage does it take, how much files does it contain, or how much files with x file extension).

[2021-02-01 17:43] winston-de commented on #3282
@LoZeno There is not, it should always be enabled. However, you do have to select the item you wish to drag before you can drag it, like this:

https://user-images.githubusercontent.com/59544401/106496017-3d739880-6471-11eb-9f80-b8c9733b0026.mp4

Could that have been your issue?

[2021-02-01 17:52] dragonBall561 opened #3401 "Navigation Pane Dropdown (Like in original file explorer)"
**Is your feature request related to a problem? Please describe.**
Not really, just something I miss from original WE(Windows Explorer)

**Describe the solution you'd like**
In WE, there is a dropdown menu from 'This PC', 'OneDrive', etc. I would like that in Files.

**Describe alternatives you've considered**
I don't know any alternitaves

**Additional context**
Add any other context or screensho

[2021-02-01 18:14] shriramnat commented on #3282
THAT WAS IT - you had to first click to select and then click and drag again..i just tested it and it works for me as well..

however - that's super unintuitive though - idk what it takes to make it a single drag+drop gesture but that would be a super nice to have or at least some sort of tutorial at the beginning to tell ppl this is how it's done.

[2021-02-01 18:21] LoZeno commented on #3282
@winston-de Yes, that is my issue - I would have never figured out that I would need to click first to select the item, before dragging.

Thanks for that, now I know how it works. However, and I mean this in the most constructive way possible, this pattern breaks every established convention about drag-and-drop, no other application or OS that I know of requires to select a file with a click befor

[2021-02-01 18:39] winston-de commented on #3282
@LoZeno @shriramnat
Glad I could help. I agree that the current drag in drop is a bit unintuitive, and there is an issue open to address this, #673.

[2021-02-01 18:51] winston-de commented on #3392
This bug was fixed with #3349#3282

[2021-02-01 19:18] winston-de commented on #3389
The problem is that it's trying loading the entire contents of the file at once, which jams the UI thread. Anyway, #3349 adds a file size cap, which fixes this issue.

[2021-02-01 19:36] okey2k commented on #1194
Any estimated date on this issue?
Thanks.

[2021-02-01 20:06] XPoppyX commented on #3399
It's because those are not translated into Portuguese.
As I said in another issue, they should be shown in English in these cases

[2021-02-01 20:06] asuetin opened #3402 "Feature: Show picture thumbnails in Details view"
**Is your feature request related to a problem? Please describe.**
It's hard to identify pictures at a glance when they all use the same generic picture icon.

**Describe the solution you'd like**
Show small thumbnails:
![image](https://user-images.githubusercontent.com/37500046/106511918-f8d41580-64e1-11eb-88d8-7be980b349e4.png)
Instead of the generic icon:
![image](https://user-images.githubuser

[2021-02-01 20:10] yaichenbaum commented on #3402
@asuetin This behavior is consistent with File Explorer, can you let us know if you think implementing this change will improve the experience, because after all, the icons will anyways be small and hard to see.

[2021-02-01 20:23] XPoppyX commented on #3401
Making headers collapsible is part of #692

[2021-02-01 20:25] asuetin commented on #3402
If you select the small icons view in File Explorer and zoom in with Ctrl + mouse wheel a couple of steps, you can achieve visible thumbnails that are smaller than the icons in Files' Details view. So if anything, I'm not sure why Microsoft decided to hide them in Details view :P

I feel like being able to identify pictures at a glance improves the experience.

See the example screenshot above: I

[2021-02-01 20:56] yaichenbaum commented on #3380
@R3voA3 It's possible that this is because we changed how the cache system works, can you try resetting Files? Alternatively, you can try deleting this file `%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalCache\cache.db`.

[2021-02-01 21:17] gave92 commented on #3396
Thanks for the report. Please also post the app log files so we can better diagnose the issue.

[2021-02-01 21:19] #3387 closed

[2021-02-01 21:19] gave92 commented on #3387
Merging with #1310

[2021-02-01 21:20] #3399 closed

[2021-02-01 21:21] gave92 commented on #3399
Merging with #3385. Happens with any language with incomplete translation. The fallback language really should be English.

[2021-02-01 21:21] #3394 closed

[2021-02-01 21:21] gave92 commented on #3394
Merging with #3385

[2021-02-01 21:26] gave92 commented on #3401
Yup but even #692 does not cover a full tree view in the sidebar (where you can expand e.g the C:\ drive to any folder depth).
Not quite sure if it would be ok to show a full tree view in the sidebar.. perhaps we could implement a tree view layout instead (#1928)

[2021-02-01 22:45] pklion opened #3403 "Can't drag & drop shortcuts"
**Describe the bug**
I couldn't drag & drop shortcuts from Files.

**To Reproduce**
1. Make a shortcut.
2. Drag it into Desktop or something from Files.

**Expected behavior**
Support dragging shortcuts.

**Screenshots**

**Desktop (please complete the following information):**
 - OS Version: [Windows 10 20H2 19042.746]
 - App version: [v1.2.0.0]

**Additional context**

**Log file**
[debug.txt](h

[2021-02-01 23:30] #3388 closed

[2021-02-01 23:31] yaichenbaum commented on #3388
@benschlegel This issue should be resolved with #3404.

[2021-02-02 00:36] R3voA3 commented on #3380
I did both and it seems to be a bit faster, but I still get a 1+ second delay when opening a folder.

[2021-02-02 01:07] yaichenbaum commented on #3380
@R3voA3 That's expected, there is an ongoing effort to improve this behavior. Do you at least notice an improvement over v1.1?

[2021-02-02 01:08] R3voA3 commented on #3380
Can't really tell since I don't have both versions side by side. So probably not really =(

[2021-02-02 01:16] qxoko opened #3407 "Dragging Files/Folders Breaks Instance"
**Describe the bug**
Dragging and dropping a file or folder to any other location causes the window/instance to refresh unexpectedly.  The file move will have failed and _any_ subsequent attempt to drag/drop any item (the original file or another) in the instance will not work.  The bug occurs when moving files _or_ folders, but seems to occur more frequently with folders.

**To Reproduce**
1. Sel

[2021-02-02 02:36] yaichenbaum commented on #3401
We don't have any plans for a full tree view in the sidebar, but we do have plans for a tree view layout. Make sure to check #1928.

[2021-02-02 02:36] #3401 closed

[2021-02-02 02:57] #3392 closed

[2021-02-02 03:02] 1091515459 opened #3408 "新标签页中的文件夹希望可以进行自定义的设置"
**Is your feature request related to a problem? Please describe.**

新标签页的文件夹部分无法进行增减和删除，但是我并不想用默认提供的几个选项，这让我很困扰

**Describe the solution you'd like**

希望增加对新标签页的文件夹部分进行增减和删除的功能

**Describe alternatives you've considered**

null

**Additional context**

![image](https://user-images.githubusercontent.com/33256117/106546358-002d0a80-6546-11eb-842d-f6fa3b34b288.png)

[2021-02-02 03:13] 1091515459 opened #3409 "希望能提高打开文件夹的速度"
**Is your feature request related to a problem? Please describe.**

当它打开文件夹很慢的时候，我总是很烦躁

**Describe the solution you'd like**

希望打开文件夹并显示器中的文件的速度可以和windows本身的资源管理器一样

**Describe alternatives you've considered**

null

**Additional context**

null

[2021-02-02 03:17] yaichenbaum commented on #3409
@1091515459 Can you fill out the issue template?

[2021-02-02 03:31] rusti4 commented on #2901
Then unsubscribe from this thread.

[2021-02-02 03:33] rusti4 commented on #3395
This is the issue I had in my ticket #3283

[2021-02-02 03:41] 1091515459 opened #3410 "希望能在一级菜单显示全部右键功能项"
**Is your feature request related to a problem? Please describe.**
每次我对着文件夹右键的时候第三方提供的右键功能大部分都被放在了二级菜单，这让我很困扰

**Describe the solution you'd like**
希望可以自定义一级菜单显示第三方软件提供的右键功能的显示数量，或者直接给一个开关用来控制是否将更多地第三方软件的右键功能显示在一级菜单中

**Describe alternatives you've considered**
null

**Additional context**
![image](https://user-images.githubusercontent.com/33256117/106548860-beeb2980-654a-11eb-9305-92a474afcc5f.pn

[2021-02-02 04:06] yaichenbaum commented on #3410
@1091515459 Thank you for your feedback, you can change this behavior by turning off the "Move overflow items into a sub menu" option under the Appearance settings page. Please let us know if this is what you were looking for.

[2021-02-02 04:06] #3410 closed

[2021-02-02 04:52] qiyuexinfan opened #3411 "深色模式无法保存"
设置深色模式后关闭重新打开依旧显示默认主题。其他设置可以自动保存。

[2021-02-02 05:00] Mr-Gump opened #3412 "Error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-02-02 05:00] #3412 closed

[2021-02-02 05:08] oOII-J4HN-IIOo opened #3413 "Files makes me feel like I have a HDD..."
**Describe the bug**
A clear and concise description of what the bug is.

I have Files version 1.20 (on 1st Feb 2021) installed and at this point, I'm only using it because it looks better. Otherwise, IT IS SO SLOW. I feel like it's as if my OS is on a HDD (I'm running an SSD). Whether that's relevant or not, the UI "speed and responsiveness" needs to be improved ASAP.

I feel like it's especially

[2021-02-02 05:15] yaichenbaum commented on #1203
@ldsands Thank you for opening this issue, this feature was implemented with v1.2.

[2021-02-02 05:15] #1203 closed

[2021-02-02 06:24] 1091515459 commented on #3410
oh,my fault,thank you

[2021-02-02 06:28] #3403 closed

[2021-02-02 06:29] gave92 commented on #3403
Sadly this is a limitation of the uwp platform. Shortcuts (and hidden files) can only be copy/pasted, not dragged.

[2021-02-02 06:31] pklion commented on #3403
OK, I understand.
Thank you :)

[2021-02-02 06:41] tgrelka commented on #3385
That’s not true - when setting Files to use English instead of system default, all those strings are English.
I’ve also seen some of these strings in German before, I’m pretty sure.

![image](https://user-images.githubusercontent.com/22134144/106562056-09a87980-652a-11eb-815a-5bf251e558ef.png)
![image](https://user-images.githubusercontent.com/22134144/106562082-12994b00-652a-11eb-8a9f-aeee2f6f872

[2021-02-02 08:25] R3voA3 commented on #3413
Try if this helps a bit

[2021-02-02 09:17] perplexityjeff commented on #3380
I do notice a big difference between versions however I hope that the ongoing effort to improve it further will continue as things do still seem a bit weird at times.

Where I do notice lag is when navigating quickly out of a directory A in to another directory B when things in the directory A seem to not have finished loading yet. It lags probably to stop a process? of loading directory A and mov

[2021-02-02 09:20] oOII-J4HN-IIOo commented on #3413
To be honest, not really. It still "loads" before opening the next folder. I feel like the loading times are very random - sometimes it will load instantly (which is ideal!) but other times it takes a few seconds before bringing up the next page... I think I'll just have to wait for the next performance update!

[2021-02-02 12:40] XPoppyX commented on #3411
Duplicate of #3291

[2021-02-02 12:41] HydrogenDeuterium opened #3416 "unable to copy path"
**Describe the bug**
i choose to "copy path",and windows told me err occurs,and its "unknown error".
it also ask me to report it ,and i do so.

**To Reproduce**
choose to copy path

**Expected behavior**
path copied to my clipboard

**Screenshots**

**Desktop (please complete the following information):**
 - OS Version: win 10 2004
 - App version: 1.1.0.0

**Additional context**
Add any other cont

[2021-02-02 16:41] osieltorres commented on #3374
I agree @XPoppyX, but like @R3voA3 says, think would be also better if font also could reflect the focus on the selected tab.

[2021-02-02 17:02] LoganTann commented on #3385
This bug also occurs for me, but I think it have been fixed with #3361
[*Files.de-DE.xlf* Line 2063](https://github.com/files-community/Files/blob/main/Files/MultilingualResources/Files.de-DE.xlf#L2063)

so we just need to wait for the changes to takes effects in a future build.

[2021-02-02 17:27] LoganTann opened #3420 "Add Ctrl+scrollUp and Ctrl+ScrollDown shortcut"
**Is your feature request related to a problem? Please describe.**
Sometimes, the font/layout is too small. I have the habit to change the font size using `CTRL` `Scroll Up/Down`.
This shortcut is the alias of `CTRL` `+` / `-`, which already exists in the explorer.

**Describe the solution you'd like**
Make an alias shortcut where `CTRL` `SCROLL UP` = `CTRL` `+` and `CTRL` `SCROLL DOWN` = `CTRL` `

[2021-02-02 19:22] XPoppyX commented on #3374
Is the outline a final solution or is it a "first step" to do something else?

Now it's even harder to identify the focused tab

![Captura de pantalla 2021-02-02 161613](https://user-images.githubusercontent.com/61259627/106650819-1ea8fb00-6572-11eb-8aed-7d4c903e5cf4.png)

_the right one is the focused tab_

[2021-02-02 19:57] tirsocarranza opened #3422 "Feature: Add support for setting an alias name for favorites"
Can you please allow pinned folders to be renamed?
To be clear, I don't want the original folder to be renamed, just the name of that folder on the list.

Thanks!

[2021-02-02 19:57] 10catsinspace opened #3423 "Dragging and dropping file takes me to the destination folder"
In Windows Explorer, if I drag and drop a file then I remain in the source folder. This means I can quickly organize files. For instance, I can navigate to Documents, then drag ten different files into ten different subfolders quickly without having to navigate back.

In Files, when I drag and drop a file I am immediately taken to the destination folder. So if I'm in Documents and drag a file to D

[2021-02-02 19:58] tirsocarranza opened #3424 "Reorder Pinned Folders"
Can you allow pinned folders to be reordered?

Thanks!

[2021-02-02 20:51] yaichenbaum commented on #3424
@tirsocarranza This feature was already implemented but is currently blocked by an issue with the WinUI repo, I am linking it here so you can upvote/comment on the issue and hopefully increase the priority for Microsoft microsoft/microsoft-ui-xaml#3290.

[2021-02-02 20:51] #3424 closed

[2021-02-02 20:53] yaichenbaum commented on #3422
@tirsocarranza Can you give a little more detail on how renaming the item on the sidebar will be helpful for you?

[2021-02-02 20:54] yaichenbaum commented on #3423
Ideally, navigating to a destination folder should only happen when hovering over an item for a couple of seconds.

[2021-02-02 21:02] johan-perso opened #3425 "3D Objects Folder"
**Is your feature request related to a problem? Please describe.**
In the classic Windows Explorer, there is a folder pinned in the quick access named "3D Objects". I want this folder can be accessible from the Quick Access of Files.

**Describe the solution you'd like**
Add the folder "3D objects" to the quick access of Files.

**Describe alternatives you've considered**
I actually no alternative

[2021-02-02 21:06] johan-perso opened #3426 "Choose what folders are displayed on home page"
**Is your feature request related to a problem? Please describe.**
I want the possibility of add file / folder to the quick access.

**Describe the solution you'd like**
Add a button when we right click on a file/folder to add him on the quick access, or choose what is displayed in the settings (like if I want to unshow the Music folder I can unshow him from the settings or with a right click on i

[2021-02-02 22:18] yaichenbaum commented on #3425
@johan-perso Can you try right clicking on the "3D Objects" folder and clicking on pin to sidebar?

[2021-02-02 23:47] gr3yta5ks commented on #2521
I have the same issue too. Any updates or patches?

[2021-02-02 23:56] yaichenbaum commented on #3380
@R3voA3 Thanks for the information, closing this issue since it was resolved with clearing the cache.

@perplexityjeff There is an ongoing effort to improve this area, thank you for your feedback.

[2021-02-02 23:56] #3380 closed

[2021-02-02 23:57] yaichenbaum commented on #3416
@HydrogenDeuterium Is this still an issue with v1.2?

[2021-02-03 00:52] MarathonMax opened #3427 "Too many Cloud Folders"
Just installed Files on a new laptop and it has too many cloud folders. Like false positives.

For example "Google Drive (Bureau)" (aka Desktop in French) points to "C:\Users\maxim\OneDrive\Bureau"

![image](https://user-images.githubusercontent.com/7364694/106682275-22e41100-6590-11eb-906a-0f38d7880619.png)

[2021-02-03 02:49] yaichenbaum commented on #3427
@MarathonMax Would you expect to only have the Google Drive item on the sidebar?

[2021-02-03 02:52] 10catsinspace commented on #3427
To add on to this -- it would be great if we could simply hide any unwanted cloud folders. For instance, I have a permanent shortcut to OneDrive even though I don't use it.

This would also allow users to hide any duplicate entries (as a short term fix)

[2021-02-03 03:35] yaichenbaum commented on #3427
@10catsinspace as a short-term fix, you can already remove the OneDrive entries by using the registry editor. In the future, you will be able to collapse sections as well.

[2021-02-03 03:52] fthmko opened #3428 "Can't launch on offline machine"
**Describe the bug**
I've installed Files v1.2 on a offline machine,  when launch it just show a logo window and then disappeared.

**To Reproduce**
Steps to reproduce the behavior:
1. Download and install required dependencies (VCLibs140, Xaml2.5, Navite.Runtime&Native.Framework2.2, found from AppxManifest.xml)
2. Install Files 1.2
3. Lauch Files and then the window flash disappeared

**Expected

[2021-02-03 04:18] HydrogenDeuterium commented on #3416
okay,i see

[2021-02-03 04:18] #3416 closed

[2021-02-03 09:53] GreenBanana10 opened #3429 "downloads sorted by download date"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
downloads are kinda useless right now, because its all sorted like a normal folder.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
sort by download date

**Describe alternatives you've cons

[2021-02-03 10:15] d2dyno1 commented on #3429
You can already choose how files are sorted by clicking either of these columns:
![image](https://user-images.githubusercontent.com/53011783/106732563-1fdd3500-6611-11eb-83ca-3d18b9b3040d.png)

[2021-02-03 10:58] SoaCha opened #3430 "App does not open, crash directly"
App does not open, crash directly

**To Reproduce**: Simple open the app

Version: 1.2.0.0
Windows Version: 20H2 19042.572

Log:

2021-02-03 11:47:24.7000|INFO|.ctor|App launched|
2021-02-03 11:47:25.1389|INFO|.ctor|Drive added: C:\, Fixed|
2021-02-03 11:47:25.2399|INFO|.ctor|Drive added: G:\, Network|
2021-02-03 11:47:25.2969|INFO|.ctor|Drive added: O:\, Network|
2021-02-03 11:47:25.3659|INFO|.ct

[2021-02-03 12:13] johan-perso commented on #3426
I speak of this quick access
![image](https://user-images.githubusercontent.com/41506568/106745560-8f5b2080-6621-11eb-8104-96bbb0352c62.png)

[2021-02-03 12:14] johan-perso commented on #3425
yes but there is not the 3d objects icon

[2021-02-03 12:53] pklion opened #3431 "Files crashes when opening file location of shortcuts"
**Describe the bug**
Files crashes when opening the file location of shortcuts.

**To Reproduce**
1. Make a shortcut.
2. Open file location of it.
3. See an error

**Expected behavior**
I would like you to change the files' behavior not crash.

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS Version: [Windows 10 20H2 19042.789]
 - App version: [v1.2.0.0]

**Addi

[2021-02-03 13:26] gave92 commented on #3430
[Internal comment]
The fix would have been in #3278

[2021-02-03 13:28] #3427 closed

[2021-02-03 13:28] gave92 commented on #3427
See #3125 for the same bug

[2021-02-03 14:10] XPoppyX commented on #3429
@GreenBanana10  you mean grouping?

![Captura de pantalla 2021-02-03 110845](https://user-images.githubusercontent.com/61259627/106758495-549cbc80-6610-11eb-8aeb-a1bcd4ee5bc9.png)

[2021-02-03 14:25] XPoppyX commented on #3420
Ctrl + scroll up and Ctrl + scroll down is already supported

[2021-02-03 14:40] LoganTann commented on #3420
oh I tried it with the trackpad of my laptop... I had to use the two fingers zoom shortcut  instead of ctrl + finger scrolls
sorry for the disturbing

[2021-02-03 14:40] #3420 closed

[2021-02-03 15:32] yaichenbaum commented on #3430
That's my fault I guess😆.

[2021-02-03 16:36] SiddharthSharma16923 opened #3432 "Small Change Request In Sidebar"
I really don't use the DVD RW DRIVE of my pc.
IT WOULD BE GREAT IF:

[2021-02-03 16:38] SiddharthSharma16923 opened #3433 "KEEP THE FILE APP ON LAST TAB CLOSE"
I think the title itself explains the FEATURE REQUEST🙃

[2021-02-03 18:51] gave92 commented on #3430
@yaichenbaum just meant that I currently do not have access to a PC and if someone wanted they could take the fix from one of the commits in that PR xD

[2021-02-03 20:09] gilvandev opened #3435 "Bug on Portuguese (Brazil) translate"
**Describe the bug**
When you choose "Portugues (Brasil)" as the default language, the app show some areas in another language (I really don't know what is)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Preferences'
3. On App Language select "Portugues (Brasil)"
4. Restart the app.
5. If you go to settings, will see the properties in another idiom. I've attach