[2020-07-14 02:32] Jaiganeshkumaran commented on #1433
@seohyun1108 We can redirect the user from Files UWP to Control Panel if the link is a control panel link. However, Files UWP will still start and the Control Panel will only appear after Files UWP starts since you can't launch the control panel directly anymore. Instead, I recommend you not to replace File Explorer with Files UWP until all control panel applets are migrated to the Windows Setting

[2020-07-14 02:34] Jaiganeshkumaran commented on #1434
You can zoom in and zoom out already by pressing Ctrl + Scroll Wheel. I don't know whether it works touchscreen or not.

[2020-07-14 02:38] Jaiganeshkumaran commented on #1424
@yaichenbaum This ain't a feature request, so please remove the feature_request tag, added by the bot.

[2020-07-14 02:39] seohyun1108 opened #1435 "Ctrl shortcuts are still not working well :("
**Describe the bug**
Ctrl + C, Ctrl + V and all Ctrl shortcuts are not working well...
So, I always click the "Copy" button.

**Desktop (please complete the following information):**
 - OS: [e.g. Windows 10 21H1 20161]
 - App version: [v0.11.0]

[2020-07-14 02:41] seohyun1108 opened #1436 "Redesigned Files UWP menu with a corner."
**Describe the solution you'd like**
Files UWP menu with a corner will be great. It will look good.

[2020-07-14 02:58] #1433 closed

[2020-07-14 03:03] Jaiganeshkumaran commented on #1428
Sorry for the inconvenience caused. Could you try using a recovery program like Recuva to try recover your data?

[2020-07-14 03:14] Jaiganeshkumaran opened #1437 "Ability to rotate an image horizontally and vertically"

[2020-07-14 04:10] #1402 closed

[2020-07-14 04:10] yaichenbaum commented on #1436
@seohyun1108 Can you please update your proposal with more details on what you would like to see?

[2020-07-14 04:12] yaichenbaum commented on #1434
Merging with #530.

[2020-07-14 04:12] #1434 closed

[2020-07-14 04:13] yaichenbaum commented on #530
@Jaiganeshkumaran Is this something you would like to work on?

[2020-07-14 04:14] yaichenbaum commented on #1421
@R3voA3 Would creating a wiki page with the available shortcuts be helpful?

[2020-07-14 04:16] yaichenbaum commented on #1416
@Jaiganeshkumaran Can you provide details on which elements show up with the wrong strings?

[2020-07-14 04:17] yaichenbaum commented on #1411
@XPoppyX Is this something you would like to work on?

[2020-07-14 04:19] Jaiganeshkumaran commented on #1416
The item type and library folder names.

[2020-07-14 04:20] yaichenbaum commented on #1428
@NicTanghe Sorry about the troubles, we are working on a new file transfer UI that will let you know if there is an issue transferring a file. This will hopefully prevent issues like this from happening again.

[2020-07-14 04:21] yaichenbaum commented on #1416
@Jaiganeshkumaran Files UWP does not translate those strings as it pulls it from Windows. We only translate the UI and strings that we have added ourselves.

[2020-07-14 04:21] #1416 closed

[2020-07-14 04:23] Jaiganeshkumaran commented on #1416
The library folder names are translated by us so they should appear properly.

[2020-07-14 04:26] Jaiganeshkumaran commented on #530
Yes, sure.

[2020-07-14 04:28] Jaiganeshkumaran opened #1438 "Ability to cast media files to device"
This can be achieved using the APIs in [Windows.Media.Casting](https://docs.microsoft.com/en-us/uwp/api/windows.media.casting?view=winrt-19041) namespace. Check this out: https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/media-casting.

[2020-07-14 04:38] Jaiganeshkumaran commented on #530
In File Explorer, the layout mode and sorting for a directory is stored in a file named desktop.ini in that folder. We can do something similar or we can use a JSON file in the app local folder.

[2020-07-14 05:13] smallg0at opened #1440 "Inproper file size format on zh-CN"
**Describe the bug**

This is a problem on file size format which will confuse users, might caused by string replacement.
Currently the zh-cn file size format looks like this:

![image](https://user-images.githubusercontent.com/30719670/87368920-ba145780-c5b1-11ea-963c-31ea4cc09659.png)
If translated to English you may see this as: XX.x Kilobytes (K Bytes (B))
The current format is full of gibberi

[2020-07-14 06:10] gave92 commented on #177
@Jaiganeshkumaran CreateFileFromApp should be available to UWP apps together with FindFirstFileExFromApp (which we're using), DeleteFileFromApp, MoveFileFromApp and others.
So once you get the list of ads using the fulltrust process you can do everything else in uwp maybe.

[2020-07-14 06:48] R3voA3 commented on #1421
That would work as well, sure.

[2020-07-14 07:35] Myuki opened #1441 "Terminals with same path can't be saved as default terminal in settings"
**Describe the bug**
If have 2 terminals with same path in terminal.json, the second terminal can't be saved as default terminal in settings.

**To Reproduce**
Steps to reproduce the behavior:
1.  Config 2 terminals with same path in terminal.json like that
[code]
2. Go to 'Settings -> Preference'.
3. Set 'Terminals' to 'WSL'.
3. Leave settings.
4. Go to 'Settings -> Preference'.
5. The 'Terminals

[2020-07-14 07:59] Jaiganeshkumaran opened #1442 "Security window appears in background when using run as another user"
**Describe the bug**
When you use the run as another user option, the security window to enter user credentials appears in the background.

**To Reproduce**
Steps to reproduce the behavior:
1. Right-click on an executable or installer file
2. Select run as another user
3. A security window will pop-up in the background

**Expected behavior**
The security window should appear in the foreground.

**

[2020-07-14 09:21] NicTanghe commented on #1428
I'm not going to do that I'm just going to ditch the project it was more of research project than something I need or need to earn money with. I already learned from it what I wanted to. I was overreacting a tad bit.

Don't worry bout me just about making the program better

[2020-07-14 09:36] Jaiganeshkumaran commented on #1428
@NicTanghe<mailto:notifications@github.com> Can you explain what really went wrong and what happened? I’ve experienced issue before when copying or moving files within Files UWP. Also could you share the log file so that I could what can I do.

[2020-07-14 10:39] Nikola34315its opened #1444 "Drag and Drop"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-14 10:39] #1444 closed

[2020-07-14 12:16] PartyDonut commented on #1245
It looks like the bug occurs when the folders icon is changed? Nextcloud assigns a custom nextcloud icon to every synced folder, after reverting the icon back to the default folder icon the folders show up in files-uwp and still sync with nextcloud.

This is with the Nextcloud 2.7 beta-client, not sure if this works for older clients.

[2020-07-14 12:24] seohyun1108 commented on #1436
![533E2EE0-DE85-4C8D-A267-2D566C7D217C](https://user-images.githubusercontent.com/43906110/87425315-6426ca80-c618-11ea-8325-78a2923c9be6.jpeg)

Like that! (Sorry, I'm not good at drawing)
Menu with a corner.
And, I think it will be beautiful if the settings button become like it. (No "Settings" letter, only an icon)

[2020-07-14 12:28] seohyun1108 opened #1445 "Add support for Disk Drive (like original file explorer)"
Add support for formatting a disk drive. Plus, I want this panel.
![7F9B0540-AE27-477E-9092-98533B821DB0](https://user-images.githubusercontent.com/43906110/87425597-e2836c80-c618-11ea-8176-d3e3c56eb313.jpeg)

[2020-07-14 12:30] XPoppyX commented on #1411
@yaichenbaum Not this time, I don't know how to make them translatable

[2020-07-14 12:35] seohyun1108 opened #1446 "Add Support for Control Panel."
I know that Control Panel is a part of file explorer. However, when I open a Control Panel, Files UWP opens. I can't use it! Please fix it so I can set Files UWP to default file explorer. Is there any solutions?

[2020-07-14 12:50] soumyamahunt commented on #1229
@yaichenbaum pushed a fix in #1447.

[2020-07-14 13:03] XPoppyX commented on #1436
something like this?
![Anotación 2020-07-14 085807](https://user-images.githubusercontent.com/61259627/87428776-d9f74b80-c5b0-11ea-98f6-33e020d3bf0a.jpg)

[2020-07-14 13:15] crashmit commented on #366
Hi there, first time poster here.

I drew out a quick Idea I had. My proposal would be to allow for "storage containers" which you can create and delete as you like. They can be called whatever a users wants and can be filled by simply dragging and dropping item into the container. I am always annoyed by filling up my sidebar with quick access shortcuts without any sorting and having it all filled

[2020-07-14 13:24] crashmit opened #1448 "Open pinned folders in existing windows of F-UWP instead of creating a new one"
Hi there,

**Problem:**
I often open new folders by right-clicking the explorer and opening a shortcut. One of my favourite "features" of F-UWP is that you don't open new windows for every instance, but instead have tabs like in a browser - except from when you open a pinned folder from the taskbar.

**Solution:**
I would love to have a setting which allows me to open pinned folders from the taskb

[2020-07-14 14:12] tanosettembre opened #1449 "Translate the application into several languages"
I could help you with Italian.

[2020-07-14 14:44] fisforfaheem opened #1450 "I want to use it as deafult( please add an option) also add new features * sorting,better scroll on touch"
I want this app to be by daily driver and default, but no option please add new thing sin experimental also , make more features before microsoft launches windows 10x

[2020-07-14 14:58] Jaiganeshkumaran commented on #1449
Files UWP has been already translated into Italian but you could help us in the future or add another language that you speak. Learn more about translating Files UWP here: https://github.com/files-community/files-uwp/wiki/Translating-Files-UWP-into-your-language

[2020-07-14 15:02] Jaiganeshkumaran commented on #1446
There's no solution but I'm investigating support for opening control panel when Files is the default. Till then don't replace the File Explorer and instead add the option to open a folder in Files UWP and open folders easily in File Explorer. Check this out: https://github.com/files-community/files-uwp/wiki/Add-Files-UWP-to-the-File-Explorer-context-menu

[2020-07-14 15:04] Jaiganeshkumaran commented on #1446
@yaichenbaum Until a solution is found for this issue, the wiki must say that 'after replacing File Explorer, you can't access the Control Panel.' Most users don't know that the Control Panel is part of Explorer.

[2020-07-14 15:10] Jaiganeshkumaran commented on #1450
You can already set Files UWP as the default by modifying the [Windows Registry](https://github.com/files-community/files-uwp/wiki/Replacing-File-Explorer-with-Files-UWP) however, please don't since it breaks core Windows functionality like the Control Panel. Instead, you can add a right-click menu option to open a selected folder with Files UWP. Check this out: https://github.com/files-community/

[2020-07-14 15:30] Jaiganeshkumaran commented on #1397
@gave92 After enumerating all the custom shell menu items for a specific file type when right-clicking a file, store the items in memory and when the user right-clicks on another file with the same file type, load it from there instead of enumerating using the Full Trust component. This could improve performance. Also, I want to point out that whenever you're accessing Desktop-specific API in UWP,

[2020-07-14 15:41] osieltorres opened #1451 "Application closes if try to open an .exe after disabled experimental option "Double tap to rename files""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app Settings
2. Click on Experimental, disable the "Double tap to rename files" option.
3. Go back and try to open any .exe file.
4. File is not executed and application crashes and closes.

**Expected behavior**
Expected to execute the file, but instead application

[2020-07-14 15:42] AkazaRenn commented on #174
Would it also help the support for other shell extensions? Like TC4Shell which is an archive viewer integrated into File Explorer.

[2020-07-14 15:54] osieltorres opened #1452 "Application date format not corresponded with selected format in settings"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Appearance settings
2. Click on Date format and select "System" option
4. When return to list of files and folders, some appears with date base in "Application" option, and some on selected "System" option.

**Expected behavior**
Date for files and folders should be

[2020-07-14 15:58] RandomAJL opened #1453 "Make tabs more intuitive"
I believe that doing the following would help make this application feel more intuitive:

- Dragging a tab out of the window opens that tab in a new window
- Dragging a tab when that is the only tab in the window moves the window instead of the tab

I think it'd be great if dragging a tab out of the window will open that tab in it's own window as users will likely do this instinctively anyways (as

[2020-07-14 16:15] XPoppyX commented on #1453
Drag and drop for tabs has already been implemented, and will be available in the next version of the app: #1432

[2020-07-14 16:21] RandomAJL opened #1454 "Remove acrylic sidebar from settings | Default to on"
I believe that **allowing the user to choose** weather they want the acrylic sidebar turned on will **cause confusion** and therefore will increase the likelihood of **false issue reports**.

The acrylic sidebar **(when turned on)** respects the **windows global setting for transparency** **(Windows settings app -> Personalisation -> Colours -> Transparency effects)**.
Even when the files app has

[2020-07-14 17:09] osieltorres commented on #1436
The requested design looks nice, but I believe that rounded corners would break out with based Windows style.

[2020-07-14 17:13] gave92 commented on #1397
@BuraChuhadar I wouldn't do that because the context menu also depends on which folder the file is in. For example if you right click on .txt file inside OneDrive folder the menu will be different from menu for a .txt file a in normal folder.
Also I don't think there is such a  performance penalty to justify this complication.

[2020-07-14 17:18] RandomAJL commented on #1453
https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.tabview.tabdroppedoutside?view=winui-2.4

[2020-07-14 18:13] duke7553 commented on #1454
@RandomAJL We added this as an option specific to the app, because certain users expect acrylic in the Windows Shell, but not on the sidebar pane. We'll keep this suggestion in mind, but there is a low likelihood we'll act on it considering how background acrylic is technically poor design.

[2020-07-14 18:13] #1454 closed

[2020-07-14 18:16] duke7553 commented on #1453
Thank you for creating this feedback item. A solution to this issue is currently resolved in one of our active development branches and will be shipped after we've validated that everything works properly via code review.

We will notify you when this feature is in a PR

[2020-07-14 18:18] duke7553 commented on #1037
Duplicate of #828

[2020-07-14 18:18] #1037 closed

[2020-07-14 18:19] duke7553 commented on #1453
Duplicate of #828

Please subscribe to the original feedback item for the latest notifications and status updates.

[2020-07-14 18:19] #1453 closed

[2020-07-14 18:20] duke7553 commented on #1193
Thank you for creating this feedback item. A solution to this issue is currently resolved in one of our active development branches and will be shipped after we've validated that everything works properly via code review.

We will notify you when this feature is in a PR

[2020-07-14 18:22] duke7553 commented on #366
@yaichenbaum Take a look at [this](https://github.com/files-community/files-uwp/issues/366#issuecomment-658172746) when you get a chance! 😀

[2020-07-14 18:23] jpparametrics commented on #366
I like that idea. ALOT...

[2020-07-14 18:24] duke7553 commented on #1245
@PartyDonut This is valuable information. Thank you for following up!

[2020-07-14 18:36] yaichenbaum commented on #1446
There is already a warning "This guide involves modifying the registry, make sure to create a backup beforehand and proceed at your own risk.".

[2020-07-14 18:38] crashmit commented on #366
Well thank you very much! 😄

[2020-07-14 18:53] crashmit commented on #366
If you need somebody to help with designing the feature to full detail, I'd be happy to help out.

[2020-07-14 19:13] Xemanth commented on #1245
Sorry, forgot to answer. Here's output:
PS C:\Users\Xemanth> Get-ItemProperty C:\Users\Xemanth | Format-list -Property * -Force

PSPath            : Microsoft.PowerShell.Core\FileSystem::C:\Users\Xemanth
PSParentPath      : Microsoft.PowerShell.Core\FileSystem::C:\Users
PSChildName       : Xemanth
PSDrive           : C
PSProvider        : Microsoft.PowerShell.Core\FileSystem
Mode              : d-

[2020-07-14 19:15] XPoppyX commented on #366
![concept](https://user-images.githubusercontent.com/61259627/87466645-a209fb80-c5e4-11ea-9e7d-2add63ab8cb3.jpg)

[2020-07-14 19:23] Xemanth commented on #1245
Where can I modify these icons ? Now I can't test can I see Nextcloud folder as Files-UWP crashes when I go to my user profile =)
This behavior started after updating to Files-UWP beta program and now I'm using version 0.11.1.0.
I have installed Nextcloud 2.6.5 client.

[2020-07-14 19:24] duke7553 commented on #1245
@Xemanth Thanks. Can you run it for: C:\Users\Xemanth\Nextcloud

[2020-07-14 19:24] Xemanth commented on #1245
PS C:\Users\Xemanth> Get-ItemProperty C:\Users\Xemanth\Nextcloud | Format-list -Property * -Force

PSPath            : Microsoft.PowerShell.Core\FileSystem::C:\Users\Xemanth\Nextcloud
PSParentPath      : Microsoft.PowerShell.Core\FileSystem::C:\Users\Xemanth
PSChildName       : Nextcloud
PSDrive           : C
PSProvider        : Microsoft.PowerShell.Core\FileSystem
Mode              : d---s-
BaseN

[2020-07-14 19:27] duke7553 commented on #1245
@Xemanth Thanks!

This confirms the item is invisible because it is marked with the SYSTEM attribute. Since you can navigate to it just fine, we should look into displaying SYSTEM items as well. Files currently excludes these from the query.

[2020-07-14 19:36] Mol-git opened #1455 "Continue where you left off"
Great product, congrats.
But the Settings/OnStartup/ "Continue where you left off" button doesn't work

[2020-07-14 19:40] crashmit commented on #366
Those sorting options would definitely be useful, but I'd suggest using the "Add new Storage" or at least its icon as a button instead burying it in a menu? Also, if there were multiple widgets there should be a way to change their order.

[2020-07-14 19:51] XPoppyX commented on #1455
is disabled because it has not yet been implemented

[2020-07-14 20:00] PartyDonut commented on #1245
In the standard windows file explorer select the right-click the nextcloud folder -> Properties -> Customize -> Change Icon, then just select the default windows folder icon.

Or you can run this on the folder using powershell
`Get-Item C:\PathToFolder -Force | Where-Object { $_.PSIsContainer -and $_.Attributes -match "System" } | ForEach-Object { $_.Attributes = "" }`

Both options remove the nex

[2020-07-14 20:01] XPoppyX commented on #366
Maybe an option to show or hide a "+" button to add containers, and enable it by default.

[2020-07-14 20:02] crashmit commented on #366
I don't think showing it permanently would annoy anyone or do you think it would?

[2020-07-14 20:09] XPoppyX commented on #366
well, for me for example I don't really like a giant "add" button

[2020-07-14 21:31] gave92 opened #1456 "Commad line open folder in Files"
**Describe the bug**
Launching a folder through the command line does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Open cmd
2. Run `files c:\windows\`
3. Startup page is opened

**Expected behavior**
Files UWP should open the specified path.

It's a simple enough fix, I can do this it you agree.

[2020-07-14 22:19] crashmit commented on #366
Well yes agreed, the add in my first proposal is pretty big, but I would put the "add storage" on the top level next to the three dots, that you proposed. You already use that pattern for "New File" in regular folders. But as the pattern is already connected to new file there maybe needs to be a different icon than a plus.

![image](https://user-images.githubusercontent.com/58466626/87481973-cdb2d

[2020-07-14 22:23] XPoppyX commented on #366
I see, in that case there is no problem in showing it permanently, I thought you were referring to the other big button

[2020-07-14 22:30] XPoppyX commented on #366
maybe this icon could be used

![Anotación 2020-07-14 182936](https://user-images.githubusercontent.com/61259627/87482710-fec6df80-c5ff-11ea-88b9-b08603c7ad0c.png)

[2020-07-14 22:37] Kaedin commented on #1000
@yaichenbaum Actually, this issue occurs either when I'm trying to open the executable from Recents or via browsing into the actual folder where it resides. In later case, a double click is required to run the executable and the UAC dialog is invoked multiple times. Sometimes there's also more than 2 dialogs invoked when launching using the double click so the behavior is not bound the number of m

[2020-07-14 22:39] crashmit commented on #366
Absolutely, that fits perfectly I think.

[2020-07-14 22:46] yaichenbaum commented on #366
@crashmit This is an excellent idea! I would like to take this chance to announce our vision for the home page moving forward.

We have heard from our users that they would like modular home page where they can pin cards depending on their needs. We are working on building out a widget system where users will be able to pin\unpin and reorder widgets to their liking. From the start, there will alre

[2020-07-14 22:56] seohyun1108 commented on #1436
Yes! I like it!

[2020-07-14 23:16] yaichenbaum commented on #1436
A rounded corner design wouldn't look too good in this case unless the actually window was rounded as well.

[2020-07-15 00:05] gave92 commented on #1448
I'd like this as well and it's easy enough to implement. Perhaps we should add a setting to select the desired behavior.

[2020-07-15 00:37] #1456 closed

[2020-07-15 01:08] #1455 closed

[2020-07-15 01:42] yaichenbaum commented on #1445
We are exploring adding a disks widget to the homepage, merging with #366.

[2020-07-15 01:42] #1445 closed

[2020-07-15 01:43] #1446 closed

[2020-07-15 01:45] yaichenbaum commented on #1448
Adding a setting would probably be the best choice here.

[2020-07-15 01:48] #1449 closed

[2020-07-15 01:48] #1450 closed

[2020-07-15 01:51] duke7553 commented on #1291
@PaPaTheGMan Can you please post your terminal configuration?

[2020-07-15 03:09] yaichenbaum commented on #1316
This has been implemented with #1443.

[2020-07-15 03:09] #1316 closed

[2020-07-15 03:36] Samboy-Chips commented on #1293
Got back to my PC, finally. Found my logs; had no idea where they where before. Just getting a general access is denied error.

`2020-07-03 01:19:08.6181|INFO|Files.App|App launched|
2020-07-03 01:19:08.8452|INFO|Files.Filesystem.DrivesManager|Drive added: C:\, Fixed|
2020-07-03 01:19:08.8712|INFO|Files.Filesystem.DrivesManager|Drive added: D:\, Fixed|
2020-07-03 01:19:08.8982|INFO|Files.Filesyste

[2020-07-15 04:11] xtprion opened #1460 "Files UWP can't difference between Onedrive personal and Onedrive for Business"
**Describe the bug**
OneDrive sidebar only navigate to one account

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Onedrive
2. See error

**Expected behavior**
It should have more than one onedrive, like personal onedrive, business onedrive etc.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/46372297/8750

[2020-07-15 04:38] Jaiganeshkumaran commented on #1460
Duplicate of #16

[2020-07-15 04:42] rayyesboulous commented on #1316
Thanks a lot for the update. I'm really enjoying the app. I had a question to... There is any way to add a shortcut on the jeitos to open the app? I do use a litte win + e to open the default file explorer and it's very convenient

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Tuesday, July 14, 2020 11:10:01

[2020-07-15 04:46] yaichenbaum commented on #1316
@rayyesboulous You can pin it to be the first app on the task bar and launch it using `win + 1`.

[2020-07-15 04:47] rayyesboulous commented on #1316
Thanks a lot I'll try that tomorrow

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Wednesday, July 15, 2020 12:46:26 AM
To: files-community/files-uwp <files-uwp@noreply.github.com>
Cc: rayyesboulous <paul.daher@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [files-community/files-uwp] add the

[2020-07-15 04:48] Jaiganeshkumaran opened #1461 "Shrink sidebar on small windows sizes similar to the settings page"

[2020-07-15 09:05] mr-plod opened #1463 "Date format to be as set up in computer/tablet/phone"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-15 09:07] mr-plod commented on #1463
The date is shown only in "American" format. Please allow the app to format the date as the user has set up in the preferences of the PC/tablet/etc. For example today is 15 July 2020 and many would use 15/7/2020 and NOT 7/15/2020.  Thanks!

[2020-07-15 09:07] techtanic opened #1464 "files on desktop don't open with it."
I don't know if I am dumb but the files on the desktop don't open with file - uwp .
and also win+E only opens the old explorer.

[2020-07-15 09:07] #1463 closed

[2020-07-15 10:07] crashmit opened #1465 "Containers for Pinned Items on the Home Page"
This request is corresponding to the widget system announced in #366

**Idea:**
My suggestion is to introduce a widget that allows users to create storage containers on the home page, which can be filled with links to folders, files and programs. This will enable them to access everything related to one topic from one location instantly, regardless of where the files are stored on the system, like

[2020-07-15 11:42] Jaiganeshkumaran commented on #1464
@techtanic Yes you're dumb, not really. Folders open in File Explorer by default and installing a third-party file manager doesn't replace it. You need to modify the registry to achieve that but you can't access the control panel since it's part of the File Explorer. Instead, I would suggest you add an option to open a selected folder in Files UWP. You can learn both in the wiki.

[2020-07-15 11:49] Jaiganeshkumaran opened #1467 "Drives aren't added to the taskbar jumplist"

[2020-07-15 11:50] Jaiganeshkumaran opened #1468 "Deleting/Renaming/Moving or copying a previous opened folder would clear the taskbar jumplist"

[2020-07-15 11:55] #1460 closed

[2020-07-15 12:19] techtanic commented on #1464
link pls?

[2020-07-15 12:32] Jaiganeshkumaran commented on #1464
It's there in the nav bar itself.

[2020-07-15 12:41] PaPaTheGMan commented on #1291
Please close, the issue is fixed.  Thanks.

[2020-07-15 12:41] #1291 closed

[2020-07-15 14:39] XPoppyX commented on #1465
maybe an option to resize containers could be added

[2020-07-15 15:09] #1464 closed

[2020-07-15 17:02] jpparametrics commented on #1465
How about something along the lines of the tiles on the start menu? For resizing the containers.

My programming skills are limited so I really don’t even know if this can be done however if it can, it would be nice.

JP

[2020-07-15 21:25] XPoppyX opened #1471 "OnStartup: Alignment of "Add a new page" button"
With longer text the button should expand to the left and not to the right, to maintain alignment

**Current:**
![Anotación 2020-07-15 171546](https://user-images.githubusercontent.com/61259627/87597295-917a8380-c6bf-11ea-9458-7c62f839c32d.png)

**Proposal:**
![Anotación 2020-07-15 1715462](https://user-images.githubusercontent.com/61259627/87597312-98a19180-c6bf-11ea-80d2-96a42e5e3f8b.png)

[2020-07-15 22:51] #1448 closed

[2020-07-15 22:55] #1327 closed

[2020-07-15 23:31] duke7553 commented on #828
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-07-16 00:50] yaichenbaum commented on #1327
This has been fixed with the v0.12.1 beta release.

[2020-07-16 00:52] yaichenbaum commented on #1448
This has been implemented with the v0.12.1 beta release.

[2020-07-16 00:52] yaichenbaum commented on #1316
This has been implemented with the v0.12.1 beta release.

[2020-07-16 01:42] duke7553 commented on #1397
I'm almost positive you cannot have them yet.

[2020-07-16 01:42] duke7553 commented on #1397
We'll have to come up with a way later on to publish for Windows 10X without the FullTrust process.

[2020-07-16 03:02] Jaiganeshkumaran commented on #1397
@gave92 By desktop-specific API, I mean by the Windows Runtime APIs that only work on Desktop like the API to launch a full trust component. These APIs don't work on other device families and would crash. So we should check if the type is present on that device using the Windows.Foundation.ApiInformation class. Otherwise, the app would crash on runtime on those devices. Regarding Windows 10X, you

[2020-07-16 03:05] Jaiganeshkumaran opened #1474 "Ability to share a folder or file on the local network or to a specific user"

[2020-07-16 03:57] duke7553 commented on #1397
@Jaiganeshkumaran It seems like WinUI Desktop would fill that gap well.

[2020-07-16 04:42] #1229 closed

[2020-07-16 06:34] DesmondWillowbrook opened #1475 "Option to Open Folder in Windows File Explorer"
**Is your feature request related to a problem? Please describe.**
A lot of the times I want to use features of the top ribbon in the File Explorer but currently while browsing in files-uwp I have to again navigate to the path of the files I'm opening.

**Describe the solution you'd like**
An option to open the path in Windows File Explorer on right-clicking inside the files-uwp app.

**Describe a

[2020-07-16 07:35] ChihweiLHBird commented on #45
Why not just use https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.zipfile?view=netcore-3.1 ?

[2020-07-16 08:41] yarikv8601 opened #1476 "Optional tab layout suggestion"
This layout is inspired by Firefox side panel and in my opinion It would be perfect for wide screen monitors.

![untitled_page](https://user-images.githubusercontent.com/52413473/87680390-087a4f80-c786-11ea-81a7-02d2cc0c1049.png)

[2020-07-16 10:57] soumyamahunt opened #1479 "Better implementation for command line arguments"
**Is your feature request related to a problem? Please describe.**
The command line arguments currently implemented lack a lot of feature implemented with Windows Explorer.

**Describe the solution you'd like**
Command line arguments should support relative path along with absolute path, also passing environment variables as arguments should be supported.

**Additional context**
I am considering t

[2020-07-16 11:07] soumyamahunt commented on #1247
Since .Net5 now supports ARM64, migrating the desktop extension project to .Net5 would be good idea.

[2020-07-16 11:37] Jaiganeshkumaran commented on #1247
.NET 5 is currently only a preview so we should wait until it becomes stables.

[2020-07-16 12:02] iisGmoney opened #1480 "App crashes when I open the preference panel"
**Describe the bug**
When I try and open the preferences settings panel the app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Settings
2. Click on Preferences
3. App crashes

**Expected behavior**
What should happen is that a preference panel should open.

**Desktop**
 - OS Version: Windows 10 20H2
 - App version: 0.12.0.0

[2020-07-16 12:13] yaichenbaum commented on #1476
@duke7553

[2020-07-16 12:26] mdtauk commented on #1476
Edge is soon to be getting Vertical Tabs - and the idea of TabPlacement being added to the WinUI TabView control has been brought up.  So once it's added to the control - it should be easier to include in Files.

![image](https://user-images.githubusercontent.com/7389110/87670657-01444900-c768-11ea-8cde-b9c181323e90.png)

[2020-07-16 12:49] Jaiganeshkumaran commented on #1480
Could you post the log file, please?

[2020-07-16 12:50] Jaiganeshkumaran commented on #1475
This should be optional since you can replace File Explorer with Files UWP.

[2020-07-16 13:20] StevenTsvetkov commented on #1475
I've also pretty much replaced the File Explorer with Files UWP. It's an awesome software, it looks great, and 90% of the time, it gets the job done. This seems like a good temporary feature for those 10%, where you have to quickly hop into Explorer and get something done.

I currently solve this with an AHK script, but I think such a button would be a welcome addition and it will sit nicely below

[2020-07-16 13:55] iisGmoney commented on #1480
where would that be located

[2020-07-16 13:59] Jaiganeshkumaran commented on #1480
In the settings page.

[2020-07-16 16:31] jkane12 opened #1481 "Save tabs between sessions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-16 16:32] jkane12 commented on #1481
Save tabs between sessions

[2020-07-16 17:04] iisGmoney commented on #1480
[debug.txt](https://github.com/files-community/files-uwp/files/4933025/debug.txt)

[2020-07-16 18:28] soumyamahunt commented on #1479
[These](https://winaero.com/blog/file-explorer-command-line-arguments-in-windows-10/#:~:text=You%20can%20use%20File%20Explorer%20command%20line%20arguments,Win%20%2B%20R%29%20or%20a%20command%20prompt%20instance.) are some of the command line arguments Windows Explorer implements.

[2020-07-16 20:52] yaichenbaum commented on #1481
Merging with #381.

[2020-07-16 20:52] #1481 closed

[2020-07-16 20:58] yaichenbaum commented on #1476
@mdtauk While we can implement a full VerticalTab pane, it can cause confusion with navigation as you already have a sidebar compared to Edge, which does not.

[2020-07-16 23:52] pixl-8 opened #1483 "Crashes when making new folder in Recycle Bin"
Files UWP v0.12.0 Crashes when making a new folder in the Recycle Bin.

Desktop Version: Win 10 Home 20170.rs_prerelease

To Reproduce:
1. Enable Recycle Bin
2. Make a new folder inside Recycle Bin

Debug Files:
[debug.txt](https://github.com/files-community/files-uwp/files/4934972/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/files-uwp/files/4934973/debug_fulltrust.txt)

[2020-07-17 00:12] pixl-8 opened #1484 "App Crashes when changing theme"
The app crashes when changing the theme and hitting the back button.

To Reproduce:
1. Change theme from dark to light or light to dark
2. Press the back button in the corner

Windows Version: Win 10 Home 20170.rs_prerelease.200710-1419

[2020-07-17 00:16] pixl-8 commented on #1480
It doesn't do that for me.

OS: Win 10 Home 20170.rs_prerelease
App Version: v0.12

[2020-07-17 00:59] XPoppyX commented on #1093
a checkbox could be added in the extraction dialog to choose if we want the file to be deleted when the extraction is finished

[2020-07-17 02:34] Talisman39ar commented on #1465
I like this general idea. Reminds me of the Fences product from Stardock, however that works by creating customizable regions on the desktop. My desktop is always obscured, so it ends up not being that useful. But if done as the default view for the Files "explorer" it could be quite a bit more accessible. Personally I think icon view rather than list view is the way to go here - these are just ju

[2020-07-17 02:41] Jaiganeshkumaran commented on #1483
You can't create directories in the Recycle bin. It's only for storing temporarily deleted files and folders.

[2020-07-17 02:54] Jaiganeshkumaran commented on #1484
@pixl-8 What's your Windows app theme? Could you post the log file?

[2020-07-17 03:44] Jaiganeshkumaran commented on #1436
@yaichenbaum It's not possible to round a UWP window.

[2020-07-17 04:02] yaichenbaum commented on #1436
Correct.

[2020-07-17 04:02] #1436 closed

[2020-07-17 04:02] pixl-8 commented on #1484
Windows app theme is dark and the log files are here:
[debug.txt](https://github.com/files-community/files-uwp/files/4935676/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/files-uwp/files/4935677/debug_fulltrust.txt)

[2020-07-17 04:04] pixl-8 commented on #1483
I actually right-clicked and had the option to add a folder (I thought this was strange) so I clicked it. But now, it doesn't have the option.

[2020-07-17 04:05] yaichenbaum commented on #1475
There are no plans to implement such an option as the goal is to completely replace File Explorer. We know we haven't gotten to that point yet but we don't think it's a good idea to add something that we know will be removed shortly after.

[2020-07-17 04:05] #1475 closed

[2020-07-17 04:14] yaichenbaum commented on #1302
Thank you for sharing these links! We will keep listening to user feedback to improve the app.

[2020-07-17 04:14] #1302 closed

[2020-07-17 04:15] yaichenbaum commented on #1399
Merging with #242.

[2020-07-17 04:15] #1399 closed

[2020-07-17 04:17] yaichenbaum commented on #1377
Merging with #973.

[2020-07-17 04:17] #1377 closed

[2020-07-17 08:14] crashmit commented on #1465
I will explore some options today and share my prototypes later. Just for clarification, is a drag-and-drop function across different tabs planned in the near future or should we look for different options to add elements? @yaichenbaum

[2020-07-17 08:28] qw1085209368 opened #1486 "can't copy file name when we rename it[even useing ctrl+c,it doesn't work]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-17 10:26] crashmit commented on #1465
So this is my try on using tiles: I tried two sizes.

![image](https://user-images.githubusercontent.com/58466626/87775660-c0f7d000-c826-11ea-9457-62f9c5323a14.png)

While the medium large tiles alleviate the issue of too little space for the label, I don't think anybody would benefit from larger Icons or Previews, as you usually only put things in there you use often and therefore already know th

[2020-07-17 10:43] soumyamahunt opened #1487 "Multiple panes for files-uwp"
**Is your feature request related to a problem? Please describe.**
Many file explorers implement multiple panes to navigate multiple folders at the same time. This is good for large screen to use complete screen estate.

![ApplicationFrameHost_anfqJel7q2](https://user-images.githubusercontent.com/51203900/87778171-6b341f80-c848-11ea-9b2e-f812db99096b.png)

**Describe the solution you'd like**
The

[2020-07-17 10:49] mdtauk commented on #1487
This may cause issues with the navigation pane on the left, no longer being tied to the tabs to the right.  Making sure it reflects the active tab, and remains clear to read what is going on there should be considered.

[2020-07-17 10:54] soumyamahunt commented on #1487
Rasing an event every time the focused pane changes, and navigation pane will make sure to reflect the changes. I don't think there will be any issue there.

[2020-07-17 10:59] Jaiganeshkumaran commented on #1487
@soumyamahunt Just snap two Files UWP window side by side.

[2020-07-17 11:01] Jaiganeshkumaran commented on #1486
Duplicate of #1381

[2020-07-17 11:09] soumyamahunt commented on #1487
Snapping doesn't have the same kind of usability improvements as having multiple panes does. For example:
1. You have to take the full screen to do that, although you can use something like PowerToys to use other apps alongside two files-uwp apps, you don't have that much freedom in snapping than multiple panes.
2. Another major disadvantage is keyboard navigation, in snapping you get all the othe

[2020-07-17 11:18] Jaiganeshkumaran commented on #1487
@Jaiganeshkumaran We can have multiple panes for things like previews of files but not for directories. It doesn't make sense and it will make Files UWP harder to use. Instead, we can have freeform MDI child windows similar to Visual Studio.

[2020-07-17 12:09] #1486 closed

[2020-07-17 13:48] Jaiganeshkumaran commented on #260
This is no longer relevant since the latest version has removed TabView.

[2020-07-17 14:35] szaimen commented on #260
Why, do you have a screenshot of the new tab layout?

[2020-07-17 14:47] Jaiganeshkumaran commented on #260
Here's the new layout. Tabs are no longer stacked on the tab like a browser. Instead, there's now a button for switching between and adding new tabs.
![திரைப்பிடிப்பு (7)](https://user-images.githubusercontent.com/45227503/87798950-3cc73c00-c86a-11ea-9281-34825c99a6c5.png)

[2020-07-17 14:54] szaimen commented on #260
Thanks for the screenshot!

[2020-07-17 15:09] generalguy41 commented on #260
This is optional... right?

[2020-07-17 15:10] xmha97 opened #1488 "App crashes when go to 'Preferences' settings"
**Describe the bug**
This app crashes when I go to 'Preferences' settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Settings'
2. Click on 'Preferences'
3. The app crashes and closed.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Files UWP](https://user-ima

[2020-07-17 16:04] szaimen commented on #260
I am afraid, it is not optional.

[2020-07-17 16:27] cocoon opened #1490 "App Crashes when accessing ejected CD/DVD-Drive and no refresh"
**Describe the bug**
When accessing an ejected CD/DVD-Drive the app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Mount an ISO file in Windows
2. Start Files UWP
3. Eject ISO
4. Try to access the drive in Files UWP

**Expected behavior**
Files UWP should recognize that a drive disappears and refresh the list and catch the exception without crashing.

https://github.com/files-commu

[2020-07-17 18:19] yarikv8601 opened #1491 "Another vertical tab layout suggestion"
My previous mockup had basically 2 side panels: left one is stock one with pinned folders and drives and right one is vertical tabs list and some people noticed that this layout looks overloaded. So I made a mockup of the compact and best version (in my opinion) of this layout where you could fast switch between pinned folders and tabs list in single panel:

Tabs list disabled:
![files_side_panel_

[2020-07-17 18:43] chuchanpr opened #1492 "Keyboard shortcuts on context menus"
**Is your feature request related to a problem? Please describe.**
Keyboard shortcuts on context menus

**Describe the solution you'd like**
after pressing the menu button on keyboard, i would like to have keyboard shortcuts to use most of the items listed

**Describe alternatives you've considered**
Using shortcuts for copy, cut, paste is available without using the context menus, however, certai

[2020-07-17 18:47] chuchanpr opened #1493 "Add ability to recognize and mount .img files"
**Describe the solution you'd like**
.img files should be recognizable and mountable as a drive as in windows explorer

**Describe alternatives you've considered**
Using windows explorer for now

**Additional context**
Would like to see an item in the context menu to mount the image file, when a img file is right clicked
Also, would like to see an popup asking if the image files should be mounted,

[2020-07-17 18:48] chuchanpr opened #1494 ".img files should be recognizable and mountable"
**Describe the solution you'd like**
.img files should be recognizable and mountable as a drive as in windows explorer

**Describe alternatives you've considered**
Using windows explorer for now

**Additional context**
Would like to see an item in the context menu to mount the image file, when a img file is right clicked
Also, would like to see an popup asking if the image files should be mounted,

[2020-07-17 18:49] #1493 closed

[2020-07-17 18:49] chuchanpr commented on #1493
Duplicate to #1494. Created two accidentally

[2020-07-17 18:55] chuchanpr commented on #45
This is a recommend to be added to Files UWP, when possible

[2020-07-17 19:06] XPoppyX opened #1495 "If one of several files you want to delete is in use, delete the others and show an option to skip"
In the file explorer, if you want to delete for example 10 files and 2 of them are in use, it deletes all the others except the ones that are in use, and shows an option to skip all the ones that cannot be deleted. On the other hand, in Files UWP, if any file is in use, none is deleted and there is no option to skip

[2020-07-17 19:10] yaichenbaum commented on #1488
Merging with #1480.

[2020-07-17 19:10] #1488 closed

[2020-07-17 23:58] zhaoyycrow opened #1496 "Map network drives and show network drives"
I have several network drives mapped to my file explorer, but they don't show up in Files UWP. I also couldn't find a way to map new network drives in Files UWP (I tried right click and looked into settings but couldn't find any clue).

Overall very great job! I love the neat UI. Thank you!

[2020-07-18 04:19] Jaiganeshkumaran commented on #260
@szaimen You're right. This is not optional. The entire tab system has been rewritten.

[2020-07-18 04:35] generalguy41 commented on #260
@Jaiganeshkumaran that's really unfortunate.

[2020-07-18 04:52] Jaiganeshkumaran opened #1497 "Multitasking flyout doesn't expand after adding more than 4 tabs"

[2020-07-18 04:55] Jaiganeshkumaran opened #1498 "Can't drag the window when in Settings page"
App version: 0.12.1
OS Version: Windows 10 Insider Preview 20170.100

[2020-07-18 05:25] soumyamahunt commented on #174
I think an approach like Windows Terminal will be better. A single json file will store the context menu data for different file extensions in different profiles, user can edit this file to add/remove/sort the entries of context menu for a certain item. Additionally, we can provide a gui for editing context menu which may contain detected entries from registry as suggestions.

[2020-07-18 08:41] soumyamahunt commented on #1175
Seems to be working fine for me.

[2020-07-18 08:45] KaKi87 commented on #174
As long as there's a GUI, it's okay.

[2020-07-18 09:30] Jaiganeshkumaran opened #1499 "Can't rearrange tabs in multitasking flyout"
**Describe the bug**
Rearrange tabs in multitasking flyout doesn't work and sometimes crashes the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new tab
2. Drag over on another tab
3. It won't work or it will crash

**Expected behavior**
The order should be rearranged.

**Desktop (please complete the following information):**
 - OS Version: Insider Preview 20170
 - App version:

[2020-07-18 09:45] soumyamahunt commented on #54
A toggle for user will be good, since some user might not want their timeline to be filled with folders.

[2020-07-18 18:21] jbvc97 opened #1501 "Tab theme"
**Describe the bug**
Tab theme don't follow app theme setting

**To Reproduce**
Steps to reproduce the behavior:
1. Change Windows to Dark mode [Settings > Personalization > Colors > Select _Dark_ on _Choose your color_]
2. Change the application's app theme to Light [Settings > Appearance > Select _Light_ on _App theme_]
3. Restart the application

**Expected behavior**
The tab theme applied shou

[2020-07-18 21:12] duke7553 commented on #1497
This is by design

[2020-07-18 21:12] #1497 closed

[2020-07-19 02:12] yaichenbaum commented on #1498
@Jaiganeshkumaran Can you please add details like the app version

[2020-07-19 02:16] yaichenbaum commented on #174
Most users are not interested in setting up the right click context menu.

[2020-07-19 02:29] osieltorres opened #1502 "External devices icon missing from left pane after connected"
**Describe the bug**
When some external device is connected, is not showed automatically on left pane as it should, that makes you think even that the device was not connected properly. Happens with USB pendrives and external HDD.

**To Reproduce**
Steps to reproduce the behavior:
1. Plug in an external device such a pendrive or HDD.
2. Look for device icon on left pane.
3. There is no icon for pl

[2020-07-19 02:43] osieltorres opened #1503 "Paste option should refresh the list of items"
**Describe the bug**
After "Paste" option is selected, list of items dont get updated, unless is manually done, causing sometimes duplicated pasted files

**To Reproduce**
Steps to reproduce the behavior:
1. Go and copy some files from any folder.
2. Go back to any other folder and paste them into.
3. Try to find the first item is being pasted.
4. No list of item is updated where you pasted the fi

[2020-07-19 02:46] osieltorres commented on #1502
Sorry, this is a duplicated  from #1467

[2020-07-19 05:05] yaichenbaum commented on #1471
@XPoppyX Upon checking the latest beta release, it looks like the button is already lined up.

[2020-07-19 05:05] #1471 closed

[2020-07-19 10:56] Jaiganeshkumaran commented on #1502
No, this could be related but not a duplicate. That issue is for Root Drives not being added to taskbar jumplist when accessed.

[2020-07-19 10:57] Jaiganeshkumaran commented on #1501
TabView has been removed in the latest preview.

[2020-07-19 11:25] gave92 commented on #1483
Ah the good old bug is back #1283

[2020-07-19 11:29] Jaiganeshkumaran commented on #1483
@gave92 Could you reopen that PR?

[2020-07-19 12:08] XPoppyX commented on #1471
with the latest changes, it still looks like this
![Anotación 2020-07-19 080620](https://user-images.githubusercontent.com/61259627/87874322-ea376e00-c996-11ea-84cb-041322f0b518.png)

[2020-07-19 13:42] SimoneRaspagni opened #1509 "Segoe MDL2 Assets are still present"
**Describe the bug**
Segoe MDL2 Assets are still present in small parts of the app

**To Reproduce**
Steps to reproduce the behavior:

Segoe MDL2 Assets are still present in:
1. right clik flyout in path bar (and is not present for "select all")
2. right clik flyout in column header (edit colunm and size alla colunm to fit)

**Expected behavior**
Replaced this Segoe MDL2 Assets with Fluent UI icon

[2020-07-19 14:02] XPoppyX commented on #1509
for texts, normally for "select all" icon is not used

[2020-07-19 14:13] shjdgwj opened #1510 "希望能将主页的“下载”，“文档”，“图片”等按钮后添加或替换成自己设置的文件夹"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
希望能将主页的“下载”，“文档”，“图片”等按钮后添加或替换成自己设置的文件夹
**Describe alternatives you've considered**
A clear and concise description of any alternative solutio

[2020-07-19 14:23] yaichenbaum commented on #1509
Since the menus are built into the TextBox, I am not sure if there is a way to change these icons.

[2020-07-19 14:34] Jaiganeshkumaran commented on #1510
@yaichenbaum Instead of displaying pre-listed folders, we can show the folders pinned on the sidebar.

[2020-07-19 20:28] yaichenbaum commented on #1035
Merging with #174.

[2020-07-19 20:28] #1035 closed

[2020-07-19 20:30] yaichenbaum commented on #1281
@Cuberick-Orion Is this still an issue with v0.12?

[2020-07-19 20:31] yaichenbaum commented on #1300
@RDavidN Thank you for opening this pull request. PowerToys will be available when #174 is implemented.

[2020-07-19 20:31] #1300 closed

[2020-07-19 20:32] gave92 opened #1511 "Address bar improvements - Auto suggest + shortcuts"
**Proposed features**
It would be nice if when typing in the navigation bar it would suggest folder names to complete the path.
Also the navigation bar should go into editable mode when pressing "Ctrl + L" (or "Alt + D" for english keyboards)

Would you consider something like the following?

![ezgif com-gif-maker](https://user-images.githubusercontent.com/9673091/87884639-eac01b00-ca0f-11ea-8bec-

[2020-07-19 20:34] yaichenbaum commented on #1499
@Jaiganeshkumaran Can you please fill out the issue template?

[2020-07-19 20:35] yaichenbaum commented on #1501
This issue is no longer present in the latest preview build.

[2020-07-19 20:35] #1501 closed

[2020-07-19 20:40] yaichenbaum commented on #372
There are no plans to include a built-in option for batch renaming files, however, PowerToys will work with Files UWP when #174 is implemented.

[2020-07-19 20:40] #372 closed

[2020-07-19 20:47] yaichenbaum commented on #1421
@R3voA3 I started work on a new Wiki [page](https://github.com/files-community/files-uwp/wiki/Keyboard-shortcuts), there are many shortcuts available which we will add to the list over time.

[2020-07-19 20:47] #1421 closed

[2020-07-19 21:04] duke7553 commented on #1510
@shjdgwj Users already have the capability to modify the sidebar to their choosing by pinning/unpinning folders.

@Jaiganeshkumaran I hope I'm interpreting this correctly. 😨

[2020-07-19 23:15] #1509 closed

[2020-07-20 01:27] minecraftchest1 commented on #1344
I like the progress bar on the taskbar. It's the flashing that annoys users.

[2020-07-20 02:00] XPoppyX commented on #1510
@duke7553 mm, he mentions the home page

[2020-07-20 04:25] shjdgwj commented on #1510
![QQ截图20200720122231](https://user-images.githubusercontent.com/11689121/87899496-f9e0b080-ca83-11ea-9eaa-ed3a47a8af91.png)
This is what I am refering to

[2020-07-20 04:32] shjdgwj commented on #1510
it seems that i can not change the order of the siderbar.How can i do it？

[2020-07-20 04:45] Jaiganeshkumaran commented on #1510
You can change the order currently however you can add folders and unpin existing folders. To add a folder, navigate to that folder and click ‘Pin to sidebar’. To unpin a folder right click on a folder on the sidebar and click ‘Unpin’.

[2020-07-20 04:46] Cuberick-Orion commented on #1281
Sorry, I haven't been using this app for a while for some reasons.

But thanks for following up with the issue, and thank you for the awesome UWP app.

[2020-07-20 04:47] hez2010 opened #1513 "Ability of checking updates actively"
**Describe the solution you'd like**
An app can check for updates actively and request silent downloads and installation, see
https://docs.microsoft.com/en-us/windows/uwp/packaging/self-install-package-updates.
It can keep users who disabled Automatically Update in Microsoft Store up-to-date, and it can also inform users about the up-coming update contents.

I think it's helpful for improving user

[2020-07-20 08:01] Jaiganeshkumaran opened #1514 "Extensibilty model"
**Is your feature request related to a problem? Please describe.**
Although shell menu items can be used for integrating third-party apps, things like QuickLook can't be done that way and we need to modify Files UWP to support these apps which leaves closed-source apps in the dust. Also if that app is open-source, it can change so we need to maintain the integration.

**Describe the solution you'd

[2020-07-20 08:02] SinGuLaRiTy2001 opened #1515 "The latest version of QuickLook cannot open files in "Files UWP""
The v3.6.9 QuickLook cannot open files after I select one file and press SPACE key.
I reported this to the developer of QuickLook, but they've asked me to report this to you. https://github.com/QL-Win/QuickLook/issues/689

[2020-07-20 08:34] Jaiganeshkumaran commented on #54
This doesn't make sense anymore since now we add recently accessed folders to the jumplist. The timeline feature is best-used with multiple devices and directory paths will not be the same across devices.

[2020-07-20 08:40] Jaiganeshkumaran commented on #1208
I don't have a touch screen to test but I will be opening a PR that tries to fix this issue soon.

[2020-07-20 12:38] SimoneRaspagni opened #1516 "Choose the folders pinned to sidebar"
**Is your feature request related to a problem? Please describe.**
Feature request: Choose the folders pinned to sidebar through the settings page (like "Pin OneDrive to the sidebar)

**Describe the solution you'd like**
Add ability to pin/unpin folders (desktop, documents, downloads, music...) via settings > preferences.
Add Fluent UI icons

**Describe alternatives you've considered**
---

**Addi

[2020-07-20 12:55] SimoneRaspagni opened #1517 "Ribbon menu"
**Is your feature request related to a problem? Please describe.**
more than a new feature, mine is a question about a hidden / removed feature?
Are you planning to reintroduce ribben menu (see image below), present in the first versions of Files UWP?
I find it comfortable

![Annotazione 2020-07-20 144927](https://user-images.githubusercontent.com/22842679/87939576-901ed180-ca98-11ea-9c90-a3ee5ece

[2020-07-20 13:05] SimoneRaspagni opened #1518 "feature like TreeComp"
**Is your feature request related to a problem? Please describe.**
it could be interesting integrate, in future versions, a feature like TreeComp (https://lploeger.home.xs4all.nl/TreeComp.htm)

**Describe the solution you'd like**
---

**Describe alternatives you've considered**
---

**Additional context**
_TreeComp is an interactive utility to keep 2 directory trees and the files within the direc

[2020-07-20 13:34] itsJavaCoder opened #1519 "Default and Save As"
Is there a way I can change the default so it opens files uwp when it tries to open file explorer? Also is there a 'save as' window like file explorer? If not then I would appreciate it if it was added.

[2020-07-20 14:12] XPoppyX commented on #1519
https://github.com/files-community/files-uwp/wiki/Replacing-File-Explorer-with-Files-UWP

[2020-07-20 14:33] JavaAppleJr commented on #1519
what about the save as thing?

[2020-07-20 15:18] Jaiganeshkumaran commented on #1517
@SimoneRaspagni There are no plans to bring it back.

[2020-07-20 15:21] JavaAppleJr commented on #1519
ok.

[2020-07-20 15:21] Jaiganeshkumaran commented on #1503
Files UWP is programmed to refresh the list as soon as something changes in that directory. Is there anything special about that folder?

[2020-07-20 15:24] Jaiganeshkumaran commented on #1519
Replacing File Explorer will prevent you from accessing the Control Panel. Instead consider adding the option to open a selected folder in Files UWP. Check this out: https://github.com/files-community/files-uwp/wiki/Add-Files-UWP-to-the-File-Explorer-context-menu

[2020-07-20 16:30] JavaAppleJr opened #1520 "Move files and folders"
I can't seem to find a way to move files and folders. Is that even a function?

[2020-07-20 16:50] Samboy-Chips commented on #1293
I'm unsure what causes this, but I ended up reinstalling windows. App works great btw

[2020-07-20 16:50] #1293 closed

[2020-07-20 18:51] #1517 closed

[2020-07-20 18:58] Talisman39ar commented on #1322
This is now working for me (using Quicklook v3.6.9 and the v 0.12.0.0 of Files UWP

[2020-07-20 19:02] Talisman39ar commented on #1515
It's working fine for me (v3.6.9 of Quicklook, and v0.12.0.0 of Files UWP). With the previous version of Files UWP, Quicklook was only working in List view, not in Icons view, and it's now working for me in all views (see other Issue a couple of pages back)

[2020-07-20 20:14] winiston2212 opened #1521 "Media controls shown in the taskbar preview"
**Describe the bug**
The preview window that is shown up when hovering over the Files UWP app in the taskbar shows the media controls that are shown for apps like Spotify and Groove to control music. The media controls are greyed out, so they don't actually do anything when pressed. This also shows on the files properties windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files UW

[2020-07-20 20:44] generalguy41 commented on #1322
Yea, this was fixed in #1349. Closing now.

[2020-07-20 20:44] #1322 closed

[2020-07-20 22:45] yaichenbaum commented on #1521
This is a bug in the latest version of Windows 10. https://github.com/microsoft/msix-packaging/issues/357

[2020-07-20 22:45] #1521 closed

[2020-07-20 22:50] #1379 closed

[2020-07-21 00:58] yaichenbaum commented on #54
A toggle would probably work best in this case. I mainly use one device, but I would still like to have the directories show in the timeline.

[2020-07-21 00:59] #1281 closed

[2020-07-21 00:59] yaichenbaum commented on #1281
@Cuberick-Orion Thank your for the update. If you find this is still an issue, please let us know.

[2020-07-21 01:08] yaichenbaum commented on #1516
@SimoneRaspagni You can already unpin items from the sidebar by right clicking on them. You can also pin an item yourself by right clicking on a directory, and clicking on the pin option.

[2020-07-21 01:08] #1516 closed

[2020-07-21 01:32] Jaiganeshkumaran commented on #1520
You can cut a file or folder and paste it somewhere else.

[2020-07-21 02:15] Jaiganeshkumaran commented on #1499
Done.

[2020-07-21 02:32] Jaiganeshkumaran opened #1523 "Ability to map network drives"

[2020-07-21 03:50] #828 closed

[2020-07-21 03:51] #1193 closed

[2020-07-21 03:54] yaichenbaum commented on #1495
Merging with #114.

[2020-07-21 03:54] #1495 closed

[2020-07-21 03:55] yaichenbaum commented on #1514
Integrations with other applications will be possible when #174 completed.

[2020-07-21 04:08] Jaiganeshkumaran commented on #1514
@yaichenbaum You don't get my point. Shell context menu can be used to open other applications. They can't do more. Eg: QuickLook. To integrate with such apps we have to currently modify the source of Files and we should maintain it. Instead, it's better to make these integrations as extensions so the user only installs what's required. Also, the developer of the app can maintain the integration w

[2020-07-21 04:47] Jaiganeshkumaran commented on #1260
How about using the Apps folder in OneDrive for storing settings. Microsoft's own apps like Office Lens and Fresh Paint use the apps folder for storing and syncing.

[2020-07-21 07:05] Dylan-Osborne commented on #1514
@yaichenbaum I think @Jaiganeshkumaran is referring to add-ons/app extensions ([more details here](https://docs.microsoft.com/en-us/windows/uwp/launch-resume/how-to-create-an-extension) and [here](https://docs.microsoft.com/en-us/windows/uwp/publish/add-on-submissions))

Add-on support wouldn't have to be just for context menus and integrating other applications. If it's do-able, it could be used

[2020-07-21 18:52] d2dyno1 commented on #114
Maybe show a progressbar just next to the notifications button to show the progress of operations (Only when the notifications are hidden)

[2020-07-21 18:59] NextinMono opened #1525 "Crash on app start"
Hello, I tried installing the app, but as soon as I open it (or a few seconds later) it crashes. I checked the log file and it seems like it's flagging a drive as a floppy drive due to the letter, and can't find it

[debug.txt](https://github.com/files-community/files-uwp/files/4955607/debug.txt)

[2020-07-22 01:53] yaichenbaum commented on #672
This has been implemented with #1512.

[2020-07-22 01:53] #672 closed

[2020-07-22 02:15] #1511 closed

[2020-07-22 03:52] osieltorres commented on #1503
Nothing special in folder, I have tried to recreate this bug to be more precise. Somehow is related with changing default configuration, for example, if I change Experimental option like "Double tap to rename files", in some copy & paste simply does not refresh after starting to be copied to folder, also the app crashes frequently.

[2020-07-22 04:25] Jaiganeshkumaran commented on #1514
Add-ons and app extensions are not the same. Add-ons as shown on the screenshot are small packages that can contain optional assets and code. These are managed by the host application and appear on the Store. App extensions, on the other hand, are standalone UWP apps that can communicate as an optional package but they are just regular apps. The first link teches how to create an app extension but

[2020-07-22 04:50] erayrafet opened #1528 "Windows Terminal Preview support"
![image](https://user-images.githubusercontent.com/34194191/88135549-fa965580-cbef-11ea-9139-c791ba4c91a5.png)
https://www.microsoft.com/en-us/p/windows-terminal-preview/9n8g5rfz9xk3?rtc=1

[2020-07-22 05:07] AngerZeur opened #1529 "Suggestion For Files UWP - Preview"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-22 05:09] AngerZeur commented on #1529
![Screenshot_1](https://user-images.githubusercontent.com/60907149/88136682-26014c00-cbc0-11ea-9356-2eacf845448a.png)
![Screenshot_1](https://user-images.githubusercontent.com/60907149/88136688-2b5e9680-cbc0-11ea-9e58-f0ed1b1950d4.png)
![Screenshot_1](https://user-images.githubusercontent.com/60907149/88136703-33b6d180-cbc0-11ea-8db3-e300fafa1a58.png)

[2020-07-22 06:32] yxhl opened #1530 "If the file name does not have a suffix, the file cannot be opened"

[2020-07-22 07:35] Jaiganeshkumaran commented on #1530
@yxhl By suffix do you mean by the file type extension? These files can't be opened since Windows doesn't know which app to use. In File Explorer, it lets you select an app to open a file like that but Files UWP doesn't do anything.

[2020-07-22 07:41] Jaiganeshkumaran commented on #1514
We can actually use add-ons for making Files UWP compatible with Windows 10X without switching to WinUI Desktop. It's not clear whether Windows 10X will have the Win32 container at first or not. By using this, we can get all the features but also supporting non-Desktop devices.

[2020-07-22 07:42] yxhl commented on #1530
yes, Can I use Notepad as the default application to open these files? Or add Notepad to right click menu?

[2020-07-22 07:59] Jaiganeshkumaran commented on #1530
You can't set defaults for files without an extension but you could try using the Open with option.

[2020-07-22 08:01] Jaiganeshkumaran commented on #1530
Actually I found out that there's no option to open with these files but opening them using double click brings up the open with dialog where you can select Notepad.

[2020-07-22 08:07] yxhl commented on #1530
Strange, I just showed the desktop and then double-clicked the file, which can pop up dialog, but there was no prompt before, and it may be that dialog was hidden under other windows.

[2020-07-22 08:09] Jaiganeshkumaran commented on #1530
Minimize all windows using the Windows + M shortcut and then open Files UWP maximized.

[2020-07-22 08:11] yxhl commented on #1530
It work, thanks

[2020-07-22 08:13] #1530 closed

[2020-07-22 10:57] wahom opened #1532 "Crash for using keyboard to operate this software"
**Describe the bug**
When i using keyboard to forward, backward or modify file name, crash will happen every time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your proble

[2020-07-22 11:31] XPoppyX commented on #1528
you can edit terminal profiles to add windows terminal to the list
https://github.com/files-community/files-uwp/wiki/Sample-terminal-profiles

[2020-07-22 11:43] yaichenbaum commented on #1514
We are in touch with Microsoft about Windows 10X support, nothing to share just yet but it may  end up working without any major changes.

[2020-07-22 12:00] Jaiganeshkumaran commented on #1514
Even if Windows 10X supports it we could make the FullTrust component as an optional package so that users don't need to install the FullTrust package on devices like the Xbox so they can save disk space.

[2020-07-22 12:08] Jaiganeshkumaran commented on #1514
For app extensions (not add-ons), we can provide project templates that are extremely similar to the default template but configured for integration with Files UWP. I'm investigation on how to use App Extensions for third party integration.

[2020-07-22 12:09] erayrafet commented on #1528
I can't find the .exe name of the preview release.

[2020-07-22 12:17] Jaiganeshkumaran commented on #177
@gave92 The documentation is a little weird. The list of support Win32 APIs contains CreateFileFromApp but the API documentation says that it's desktop only. Maybe they haven't updated it.

[2020-07-22 12:34] XPoppyX commented on #1529
You can put the description of your problem or request here, instead of comments
![Anotación 2020-07-22 083353](https://user-images.githubusercontent.com/61259627/88176980-1ac91300-cbf6-11ea-92be-7842df4bb4b6.png)

[2020-07-22 13:42] makunterry opened #1534 "Crash on click 'Preferences' in setting panel"
**Describe the bug**
Each time click the 'Preferences' button on setting panel, the app crash.
This directly disable any chance in changing the preferences of this app.

**To Reproduce**
Steps to reproduce the behavior:
1. Click 'Settings' and open setting panel;
2. Click 'Preferences' button on the left;

**Expected behavior**
Preferences panel should be shown on the right side.

**Screenshots**

[2020-07-22 13:59] AlfaSierra92 opened #1535 "File size measure unit"
**Describe the bug**
Issue with file size when language is set to Italian.

**To Reproduce**
Steps to reproduce the behavior:
1. Set app language to "Italiano (Italia)"
2. Explore any folder

**Expected behavior**
Files dimension should be show correctly (e.g. app shows "knowledge Gase" instead KB)

**Screenshots**
Attacched.

**Desktop (please complete the following information):**
 - OS Version:

[2020-07-22 14:18] makunterry commented on #1534
As investigated by myself, this bug should be related with using **'OneDrive'** environment variable.
in `Files/View Models/SettingsViewModel.cs` reading 'OneDrive' from ENV.
And did not check null before using.
Proved by adding a fake 'OneDrive' var in ENV and the preferences page showed correctly.
Please fix this.

[2020-07-22 14:52] 1466587594 opened #1536 "Support icon overlays of TortoiseGit"
**Is your feature request related to a problem? Please describe.**
With TortoiseGit icon overlays set, files icons will be like this, which not supported in files-uwp.
![image](https://user-images.githubusercontent.com/13366013/88190560-ffe5b580-cc6c-11ea-9c8f-54827a6e5fbd.png)

**Describe the solution you'd like**
Hope to support the above effect.

**Describe alternatives you've considered**
Noth

[2020-07-22 14:59] rdrtnk opened #1537 "Can't create new tabs"
**Describe the bug**
Can't open new tabs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'More options'
2. Click on 'New Tab'
3. Nothing happens.

**Expected behavior**
It should open a new tab, but it doesn't.

**Desktop (please complete the following information):**
 - OS Version: Windows 10 Insider (Dev Channel) 20170.1000
 - App version: v0.12.2.0

**Additional context**
Restartin

[2020-07-22 15:01] 1466587594 opened #1538 "Allow users to turn off recent items"
**Is your feature request related to a problem? Please describe.**
Certain people dont want to show recent items due to privacy reasons.

**Describe the solution you'd like**
Allow users to turn off recent items.

**Describe alternatives you've considered**
Nothing.

**Additional context**
Nothing.

[2020-07-22 15:04] Jaiganeshkumaran commented on #1535
@AlfaSierra92 It shows the translated version instead of the English string and currently, KB is translated as knowledge Gase in Italian. If you think this is wrong, please modify the translation resource file and open a PR. You can learn about translation in the Wiki.

[2020-07-22 15:15] Jaiganeshkumaran commented on #1538
I proposed this earlier but they said they will do it later. This can be merged with #366.

[2020-07-22 15:22] AlfaSierra92 commented on #1535
I checked Files.it-IT.xlf to correct the strings but it seems to have been corrected with a commit already 9 days ago; surely with next update issue will be no more. Thanks!

[2020-07-22 15:22] #1535 closed

[2020-07-22 16:07] duke7553 commented on #177
@Jaiganeshkumaran Indeed. I noticed with a lot of the FromApp APIs, they never categorized them as usable from a UWP app. They certainly are though.

[2020-07-22 16:11] duke7553 commented on #1538
Duplicate of #366

[2020-07-22 16:11] #1538 closed

[2020-07-22 16:14] duke7553 commented on #1537
@rdrtnk Hello there.

We recently changed the default behavior of the tabs to be in a Vertical tab flyout.

Can you try accessing the vertical tabs flyout after creating a new tab?
![image](https://user-images.githubusercontent.com/20365014/88200905-c8e3b580-cc14-11ea-8b90-850ad5b71edf.png)

[2020-07-22 16:15] #1529 closed

[2020-07-22 16:33] rdrtnk commented on #1537
Hello duke7553, thanks for answering promptly.

Thanks, now I've just figured out how it works now.

Is there any keyboard shortcut to create a new tab instead of creating them by the menu?

Thanks again!

[2020-07-22 16:42] yaichenbaum commented on #1537
@rdrtnk Have you tried `ctrl + t`?

[2020-07-22 16:54] rdrtnk commented on #1537
@yaichenbaum yes. I just noticed that it indeed creates the new tab, but you're not automatically redirected to it, creating the feeling that it didn't work - unless you know you have to go to the menu and select it.

Will this be the default behavior from now on?

Thanks!

[2020-07-22 17:06] chuchanpr opened #1539 "append tags to files/folders via cookies/system.ini"
**Is your feature request related to a problem?
A clear and concise description of what the problem is. append tags to files/folders via cookies/system.ini

**Describe the solution you'd like**
A clear and concise description of what you want to happen. append tags to files/folders via cookies/system.ini This will allow, searching / reaching / sorting files easily

**Describe alternatives you've c

[2020-07-22 18:28] gave92 commented on #177
Regarding support for shortcut files I think it's worth mentioning an alternative to using the fulltrust process which is using this library to directly parse the lnk file as binary in uwp -> https://github.com/EricZimmerman/Lnk

Since this is not "official" I would be more in favour of using the Win32 api in fulltrust process, but this is also viable

[2020-07-22 19:08] yaichenbaum commented on #1537
The expected behavior is for the app to switch to the new tab.

[2020-07-22 20:10] duke7553 commented on #1539
Duplicate of #1161

[2020-07-22 20:10] #1539 closed

[2020-07-22 22:55] AngerZeur opened #1540 "Put UWP-Preview Files with its configuration to place interaction with Razer Chroma RGB"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-22 22:56] AngerZeur commented on #1540
Put UWP-Preview Files with its configuration to place interaction with Razer Chroma RGB

[2020-07-22 22:56] AngerZeur commented on #1540
![Screenshot_2](https://user-images.githubusercontent.com/60907149/88237315-665ed980-cc55-11ea-88dd-7e4daf0b70e0.png)

[2020-07-22 22:57] AngerZeur commented on #1540
configuration for files UWP-Preview interface stay with O Razer Chroma RGB

[2020-07-23 00:07] #1540 closed

[2020-07-23 00:07] duke7553 commented on #1540
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-07-23 01:26] miftahafina opened #1542 "Can't Invert Selection"
**Describe the bug**
I can't invert selection

**To Reproduce**
Steps to reproduce the behavior:
1. Click some folders (e.g. 3 of 9 folders)
2. Go to 'Selection Options' (bottom right corner)
3. Click on 'Invert Selection'
4. The only folder that selected is the last folder

**Expected behavior**
The folder selection should be inverted.

**Screenshots**
![Step 1 and 3](https://user-images.githubus

[2020-07-23 02:13] Jaiganeshkumaran commented on #177
Regarding shortcuts, we can actually don’t need the full trust component since the Win32 APIs that we use do work for shortcut.

[2020-07-23 05:12] soumyamahunt opened #1543 "The tabview scroll buttons aren't properly aligned"
**Describe the bug**
The scroll buttons in tabview aren't properly aligned.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch files-uwp app.
2. Go to a folder with sufficiently large path.
3. Right click on it and open it in new tab.
4. Open the vertical tabview flyout.

**Expected behavior**
The scroll buttons should be centered.

**Screenshots**
![ApplicationFrameHost_v7vPqEoW7p](http

[2020-07-23 05:20] gave92 commented on #177
I was thinking about shortcuts to *folders*, we need to know the destination to navigate to it

[2020-07-23 05:33] Jaiganeshkumaran commented on #177
@gave92 We can use the library you mentioned but everything can be done from UWP. No need to use the Full Trust component for enumerating shortcuts.

[2020-07-23 05:37] soumyamahunt opened #1545 "Cut-pasting a parent folder to a child folder crashes the app"
**Describe the bug**
Cut-pasting a parent folder to a child folder crashes the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Open files-uwp app.
2. Cut a folder which has children folders, i.e. cut "C:\Users\Documets\Test"
3. Try pasting it to a child folder, i.e. paste in "C:\Users\Documents\Test\ChildTest"
4. See error

**Expected behavior**
The operation should prompt a dialog givi

[2020-07-23 05:48] gave92 commented on #177
@Jaiganeshkumaran yeah for enumerating shortcuts we're good, I was thinking on what to do when the user tries to open one :)

[2020-07-23 05:49] soumyamahunt opened #1546 "Cut-pasting item in the same folder creates a copy of the item"
**Describe the bug**
Cut-pasting an item from the same folder replaces the item with a copy of it and attaches "-Copy" to its original name.

**To Reproduce**
Steps to reproduce the behavior:
1. Open files-uwp app.
2. Cut an item from a folder
3. Try pasting the item in the same folder.
4. See error

**Expected behavior**
A dialog should be prompted with option to either skip or cancel the operati

[2020-07-23 07:53] SinGuLaRiTy2001 commented on #1515
I've used the QuickLook installer trying to fix this and it worked! Thank you so much! @Talisman39ar

[2020-07-23 07:53] #1515 closed

[2020-07-23 08:16] xumepoc commented on #1528
This is strange. It is working for me
![Annotation 2020-07-23 111512](https://user-images.githubusercontent.com/46034979/88265307-ee84c380-ccd5-11ea-9a79-cbf71f41db15.jpg)

[2020-07-23 08:21] erayrafet commented on #1528
There is a separate release track for the preview version of Windows Terminal.

[2020-07-23 09:35] lampenlampen commented on #1528
Under `Settings > Apps > Apps & Features > Aliase` you can choose which app the alias `wt.exe` opens (normal or preview). Unfortunately the preview does not have it's own alias.

[2020-07-23 12:11] yaichenbaum commented on #1543
In this, there shouldn't be any scroll buttons, the expected behavior would be for a tool tip to show the full path or name.

[2020-07-23 12:51] erayrafet commented on #1528
I only have the preview version installed and manually setting the default terminal app to wt.exe does the trick, but sadly, now I can't access the Preferences tab in the settings of Files UWP. The app freezes and eventually quits.

[2020-07-23 12:57] soumyamahunt commented on #1543
In that case I will implement that, also I am thinking of disabling horizontal scrolling here entirely, since with tooltip it's not needed, also it interferes with vertical scrolling.

[2020-07-23 13:16] soumyamahunt opened #1548 "The folder path in the tab title is wrong when folders opened in a new tab"
**Describe the bug**
When right clicking on any folder and opening it in new tab before clicking on the tab, the tab displays path for the parent of the folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Open files-uwp.
2. Right click on any folders except root folders(i.e. C:\).
3. Click on "Open in new tab" in context flyout.
4. Open the Tabview flyout.
5. Check the title of the tab y

[2020-07-23 15:09] mdtauk commented on #1476
The vertical tabs could be placed on the right of the Icon/Grid view.  Top Tabs seem to work fine, and I only mentioned that the TabView may be getting vertical tab support in the future, and you could implement it if you wish, even if the default remains the top tabs.

[2020-07-23 15:39] Jaiganeshkumaran opened #1550 "Make log files easier to identify"
**Describe the solution you'd like**
Use the .log extension instead of txt. The log extension is used by many applications to distinguish log files from regular text files.

**Describe alternatives you've considered**
None

[2020-07-23 17:08] 7xavierl opened #1553 "Some suggestions to improve user experience"
**OS: Windows 10 v1909**
**Files UWP Versoin: 0.12.0.0**
**Using Dark Theme and Desktop Layout**

After using it for about a few days, i'd like to make some suggestions to improve the user experience.
First of all, the drag and drop feature. Right now, you have to click on the item (select it) then you can drag and drop it evrerywhere. On the traditional file explorer, you do not need to select th

[2020-07-23 17:27] #1542 closed

[2020-07-23 17:44] awsomenes opened #1554 "Not bad but just a little thing"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
no not really
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
When you right click on a directory and choose open in windows terminal it opens the terminal but not in front of the file explor

[2020-07-23 17:45] yaichenbaum commented on #634
This has been implemented with #1507.

[2020-07-23 17:45] #634 closed

[2020-07-23 17:45] #1554 closed

[2020-07-23 17:46] yaichenbaum commented on #1554
Duplicate of #985.

[2020-07-23 18:27] CrankySupertoon opened #1555 "Executables do not run in the directory they are executed in"
**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wh

[2020-07-23 20:14] #1548 closed

[2020-07-23 20:17] duke7553 commented on #1476
@mdtauk No. There were numerous issues with the horizontal tab strip design which led us to implement the vertical flyout. Trust me, we had this in the pipeline long before you suggested it. 🙂

[2020-07-23 20:18] duke7553 commented on #1476
Closing this until @yarikv8601 can tell us specifically how his mockup is better than the existing design, and what problems it solves.

[2020-07-23 20:18] #1476 closed

[2020-07-23 20:19] #1510 closed

[2020-07-23 20:22] yarikv8601 commented on #1476
@duke7553 keep it closed since I already made better ones (Yeah, this one sucks)

[2020-07-23 20:25] yarikv8601 commented on #1491
Closing this issue since I made improved version of this layout

[2020-07-23 20:25] #1491 closed

[2020-07-23 20:26] duke7553 commented on #1555
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-07-23 20:26] #1555 closed

[2020-07-23 20:41] yarikv8601 opened #1556 "Yet another vertical tab/side panel layout suggestion"
I think I finally found the best side panel layout look that can solve all frustration from removing horizontal tab layout.
Pros of this layout:

- Keeps everything compact and in one place
- All opened tabs can be visible all the time. No need to press dedicated button to reveal them.
- Quick access list and tabs list can be switched fast and easy between themselves.

![files_side_panel_tabs_v3](

[2020-07-23 22:33] awsomenes opened #1558 "Feature Request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
No
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I believe it would be a neat feature to drag a file from one tab to another. For example: lets say you have a picture in a picture folder. Y

[2020-07-24 01:16] yaichenbaum commented on #1558
This is already available in the latest beta build and will roll out to all users once we have finished testing this feature.

[2020-07-24 01:16] #1558 closed

[2020-07-24 01:53] XPoppyX commented on #1502
then it would be a feature request to auto-refresh the drive list

[2020-07-24 04:56] soumyamahunt opened #1561 "Onstartup options should apply to only first instance of the app"
**Is your feature request related to a problem? Please describe.**
The "OnStartup" preferences like opening specific set of pages applies to every instance of the app.

**Describe the solution you'd like**
The "OnStartup" preferences should only apply to the first instance of the app. This is default behavior from browsers and other multi-window solutions.

**Additional question**
Also, should the

[2020-07-24 05:24] Jaiganeshkumaran commented on #1344
That's not the real reason. Windows 8 didn't show Metro apps in the taskbar and Windows 8.1 did but apps were running in full screen so showing progress on the taskbar would not make sense. Now with Windows 10, all apps are windowed so it's useful.

[2020-07-24 05:25] Jaiganeshkumaran commented on #1561
@soumyamahunt Continue where you left off hasn't been implemented yet.

[2020-07-24 05:28] soumyamahunt commented on #1561
I know, the question was when it will be implemented whether it should be for one instance or for multiple instance.

[2020-07-24 10:10] Jaiganeshkumaran opened #1562 "Support archive formats other than ZIP"
**Is your feature request related to a problem? Please describe.**
Not really. Although zip is universally supported, there are many other formats that offer better compression ratios and speeds. Today I need to install third-party apps just to extract these files since Microsoft doesn't provide support natively. The goal of Files UWP was always to provide a high-quality replacement for the decade

[2020-07-24 10:10] soumyamahunt commented on #1550
That's a good idea also we should add an environment variable that takes to the folder where log is stored, it is difficult for normal users to go to the application data folder.

[2020-07-24 10:11] R3voA3 commented on #1556
Looks sweet.

[2020-07-24 10:13] R3voA3 commented on #1550
The user can already access the log folder via settings.

[2020-07-24 10:15] soumyamahunt commented on #1550
Yeah, but it opens the folder in Windows Explorer. This app is meant to make user less reliant on Windows Explorer.

[2020-07-24 10:17] R3voA3 commented on #1550
I agree. It should use the app instead.

[2020-07-24 10:19] Jaiganeshkumaran commented on #1550
@R3voA3 @soumyamahunt No need. What if there's a bug that prevented access? Using File Explorer is better.

[2020-07-24 10:24] R3voA3 commented on #114
I think the action center is a good idea. Don't need to reinvent the wheel for now.

[2020-07-24 10:26] soumyamahunt commented on #1550
Every application can access its localdata folders without any permissions. So there wouldn't be any prevention in that case. If the app crashes on launch then user has to use explorer anyway.

[2020-07-24 10:26] R3voA3 commented on #285
I like that idea.

[2020-07-24 10:28] Jaiganeshkumaran commented on #1550
I'm not talking about permission. What if we had a bug where the app crashes when navigating or some other app bug that only occurs sometimes.

[2020-07-24 10:39] R3voA3 commented on #1550
Then we should already start at ""What happens if the app crashes when navigating to the settings page".

Isn't is possible to open the log folder automatically in explorer if the app crashes? I know some applications which automatically zip all relevant data and copy it on the desktop for easy access.

[2020-07-24 10:44] Jaiganeshkumaran commented on #1550
In older versions of Files UWP, a BSOD like page will appear with options to retry and send feedback. We could restore that page and add the option to open log location.

[2020-07-24 10:54] SOI7 commented on #1537
Please, tell me that's optional and there's a toggle to bring back the horizontal tabs layout

[2020-07-24 10:58] mdtauk commented on #1537
Not at the moment

[2020-07-24 11:06] soumyamahunt commented on #1461
Settings has different icons for different sections, while sidebar will have same icons for many items. Hence shrinking like settings isn't going to be a good solution. In this case, sidebar should expand as an overlay when the pointer enters.

[2020-07-24 12:15] TailyFair commented on #1537
Vertical flyout tabs is very inconvenient, not only you don't see what tabs are open without any clicks, interacting with tabs is hassle.

It would be great if horizontal tabs would be brought back.

[2020-07-24 12:23] mdtauk commented on #1537
There is no good visual indicator when a new tab has been created.  You have no good visual way to just see what tabs are open at a glance, when doing file system manipulations.

Vertical tab display itself is not a bad idea, and would be useful as an option, but hiding them within a flyout is bad UX in my opinion.

I am not sure what is being solved by moving the Tabs out of a clearly visible reg

[2020-07-24 12:57] minecraftchest1 commented on #1344
I love the progress bar on the taskbar, because I may have a file transfer or download but not always have the applications window open in the foreground. With the progress on the taskbar, it allows me to just take a quick look and see how it is going.
A word from a user.

Sent from my T-Mobile 4G LTE Device

________________________________
From: Jaiganesh Kumaran <notifications@github.com>
Sent:

[2020-07-24 14:33] ArttuLai opened #1564 "What happened to the tabs?"
Maybe I missed the news, but I see that the tabs were removed in the later preview builds. Or at least, moved behind multitasking flyout.

I'm sure you guys worked hard on this flyout too, and you can do whatever you want with your app, but I'm just trying to understand why would you choose to go with this implementation?

I find this flyout menu cumbersome to use, you always have to click it firs

[2020-07-24 14:54] Talisman39ar commented on #1543
I'm on 0.12.0 but don't see that tab flyout - I just have the 3-dots and the search (which doesn't work - clicking on it does nothing). Am I missing something?

[2020-07-24 15:02] duke7553 commented on #1564
The old behavior probably isn't coming back for a number of reasons, but we'll take this feedback into consideration when improving the flyout.

@ArttuLai Did you know you can access the flyout by hovering over the icon, and hovering off the flyout to close it?

[2020-07-24 15:04] duke7553 commented on #1537
This is one of the many reasons we removed the horizontal tabstrip, because it took up far too much space for one/two tabs open at once.

[2020-07-24 15:09] duke7553 commented on #1537
Improvements in this area are coming soon, but we prefer to keep it separate from the tabs area.

Maybe we could promote the flyout more?

See https://github.com/files-community/files-uwp/issues/1193

[2020-07-24 15:11] generalguy41 commented on #1564
@duke7553 Can you elaborate those reasons? Or link to the discussion/feedback that took place regarding removing it? Maybe I just missed my chance to put in my input. I'm personally not a fan at all of the extra steps that it's now going to take to work with tabs. The tabs in their previous form were something that set this apart for me from other UWP file explorer replacements and really made it

[2020-07-24 15:12] duke7553 commented on #1564
See https://github.com/files-community/files-uwp/issues/1193

[2020-07-24 15:17] soumyamahunt commented on #1543
You mean you don't have that button?? Have you enabled this:

![ApplicationFrameHost_mXhyUEpLEY_LI](https://user-images.githubusercontent.com/51203900/88406852-deacd280-cdee-11ea-87b2-60691b77c928.jpg)

[2020-07-24 15:31] mdtauk commented on #1537
I will remain hopeful this solution is functional.

At this stage, I predict users would probably prefer to keep the tabs, and change the sidebar implementation.  I remain convinced the flyout is a poor substitute for visible tabs.  Promoting it is not going to substitute for an always present UX.

You seem to have decided to sacrifice the TabView, to maintain an sidebar being separate from the co

[2020-07-24 15:42] XPoppyX commented on #1564
if there are visual issues with the rounded corners it would be better to reverse that change instead of making a big change like removing the tabs

[2020-07-24 16:07] Talisman39ar commented on #1543
At least on my 0.12.0.0 that toggle isn't in Settings.
Though upon further reading about how this supersedes horizontal tabs along the top, I'd actually want to stay with horizontal 😉 - fewer clicks, less information hidden. This may make sense in an overflow situation with loads of tabs (though that seems like a super edge case), but otherwise definitely a worse UX.

[2020-07-24 17:00] ArttuLai commented on #1564
@duke7553 I think you guys jumped the gun a bit here: fixing a "clashing design metaphor" by nuking the standout/signature/main feature of the app sounds like an overkill. I think it looked/worked great before, and could've been improved further without having to alter it so drastically. I just feel like that decision was made by designers nitpicking on some design metaphors "normal" users probabl

[2020-07-24 17:02] SOI7 commented on #1564
tbf I think OP in #1193 simply wanted the gaps to go 🤷‍♂️

[2020-07-24 17:04] generalguy41 commented on #1564
The biggest concern I'm seeing in that issue is a supposed perceived issue among users that the gaps around the tabs would be confusing? Feel free to correct me if I'm wrong.

I recognize that there are issues with:
- the section above the tabs and above the 'Home' button that are not draggable.
- the curve on the leftmost side of the first tab when selected is not clean with the sidebar

I don't

[2020-07-24 17:04] yaichenbaum commented on #1543
The new tab layout is only in the beta builds right now, hovering over the flyout button will automatically expand the flyout so there is no need for extra clicks. We are still exploring the options and we will continue to improve the new experience before rolling out the changes to everyone else.

[2020-07-24 17:06] duke7553 commented on #1564
I'll make an announcement soon which I'm sure everyone will like.

In the meantime, what aspects of a horizontal TabView are important to you?

@SOI7 @ArttuLai @generalguy41

[2020-07-24 17:08] #1543 closed

[2020-07-24 17:10] #1499 closed

[2020-07-24 17:13] mdtauk commented on #1564
Firstly, Seeing all the folders/locations I have open is impotant for me.

Secondarily is the ability to click on them to switch to that location's Icon View.

Thirdly, the ability to drag a group of files or files and folders, from on icon view, hover over a tab, the tab switches, and I can let go of the mouse within that location's icon view, to move the items.

Throw in the ability to hover ove

[2020-07-24 17:16] duke7553 commented on #1564
The changes included with the Vertical Tabs actually were done with anticipation of user feedback on our design decisions. I'm in the process of working out the details for this new initiative, but please don't fret. There's always ways to go back, and the changes I made only enable that further. Once the announcement is made, our goal will be to create something better than both previous implemen

[2020-07-24 17:25] ArttuLai commented on #1564
Thanks, sounds exciting!

1. I'd say one-click access to different tabs is the key thing for me
2. Being able to see all of the tabs that are open at once, and being able to reorganize them, close them with one click, open a new tab like in Edge (+) button
3. Drag & drop files with one hand: take a file in tab1, drag it over tab2 to move it to that folder

[2020-07-24 17:26] generalguy41 commented on #1564
![image](https://user-images.githubusercontent.com/8879244/88417594-311ace80-cdb0-11ea-871a-5c5d8bd47d62.png)

Jokes aside, I really like the ease of being able to see which tabs I have open/access to at a glance. I was really looking forward to the work of being able to drag/drop things across tabs as well, and think that would be the easiest method rather than having to deal with hovering over a

[2020-07-24 17:29] SOI7 commented on #1564
The most important aspect of horizontal TabView, to me, is it being streamlined with the UI at eye-sight, plus it allows me to quickly switch folders and speed up my workflow. In an ideal complete Tab system I should also be able to drag and drop files from one tab to another, which technically doesn't really matter atm, but it would be much easier to do that in a horizontal layout compared to a b

[2020-07-24 19:32] yaichenbaum commented on #1564
1. This is already possible with the new implementation, we do have some improvements to make to the speed, however it isn't specific to the vertical tab flyout.
2. Adding a button to add a new tab is definitely something we could do.
3. This is already possible in the latest preview.

[2020-07-24 19:39] yaichenbaum commented on #1564
The new changes were in the works for quite some time. Since removing the ribbon a few months ago, the tabs never really fit in, the UX confused users and the idea of having two navigation sections right next to each other caused clashing designs. The changes we made were not because of one specific issue, but rather, because of many different issues. We are planning on improving the new experienc

[2020-07-24 19:41] yaichenbaum commented on #1564
The changes to the tab UI were in the works for quite some time. Since removing the ribbon a few months ago, the tabs never really fit in, the UX confused users, and the idea of having two navigation sections right next to each other caused clashing designs. The changes we made were not because of one specific issue, but rather, because of many different issues. We are planning to improve the new

[2020-07-24 19:48] Talisman39ar commented on #1564
I use Stardock's Groupy (which allows tabbed UI for all applications), and I can drag a file from one File Explorer window on to another tab, that tab then becomes visible and I can drop the file into where I want in the now-visible file list. Horizontal tabs afford this as they are always visible. Maybe there's a way to do it with the vertical tab/hover menu, but it's more opaque (even with horiz

[2020-07-24 19:58] generalguy41 commented on #1564
I don't understand how the UX confused users. Can you explain what the common complaints were or how specifically it's confusing?

[2020-07-24 20:54] XPoppyX commented on #1564
it is much faster and more comfortable to navigate between horizontal tabs, now you should always open a menu, adding that simple extra step makes it annoying

[2020-07-24 23:11] XPoppyX commented on #1564
If there are users who find it difficult to know which tab they are in, something like this could be the solution:

**Before:**
![Anotación 2020-07-24 184125](https://user-images.githubusercontent.com/61259627/88442025-f715f080-cde0-11ea-9ab5-c5e44e2b0c37.png)

**After:**
- Change the heading to gray when it is not in focus
- And maybe change the color of the header icon to the color accent when i

[2020-07-25 05:52] ArttuLai commented on #1564
Thanks! But if you mean that the current preview build 0.12.3.0 has "one-click tab switching", I wouldn't really call it as that (maybe you meant that you can hover over multitasking button and click a tab to switch?). What I meant is that you could see all of your open tabs at a glance, and could quickly switch between them with one click because they're always visible.

Or did you mean a build t

[2020-07-25 09:03] SOI7 commented on #1564
Colored active tab icon sounds like an awesome idea 👀

[2020-07-25 09:05] xiaofengsoft opened #1568 "打开特殊文件没有反应"
打开没有后缀名的文件(且没有绑定此文件打开方式的应用)时没有反应

[2020-07-25 09:32] hez2010 commented on #1568
I cannot repro your problem.
On my computer, Windows will prompt you selecting the open method for your file.

[2020-07-25 09:36] gave92 commented on #177
Is anyone already working on this? If not I can start adding support for .lnk and .url shortcuts

[2020-07-25 11:00] Jaiganeshkumaran commented on #1568
@xiaofengsoft First, minimize all applications using Windows + M keyboard shortcut and then open FIles UWP again and make it maximized. Then the dialog will be shown.

首先，使用Windows + M键盘快捷键最小化所有应用程序，然后再次打开FIles UWP并将其最大化。 然后将显示对话框。

首先，使用Windows + M鍵盤快捷方式最小化所有應用程序，然後再次打開FIles UWP並將其最大化。 然後將顯示對話框。

[2020-07-25 11:01] Jaiganeshkumaran commented on #1532
@wahom Could you upload the log file? To access the log file, go to Files UWP Settings->About->Open log location.

[2020-07-25 15:04] XPoppyX opened #1572 "The highlight effect when dragging an item over a folder does not work correctly"
**with the latest changes:**
_tested packaging the app_

![highlight bug](https://user-images.githubusercontent.com/61259627/88459821-1b67e080-ce66-11ea-9100-3536af50a576.gif)

**Microsoft store version (v0.12.0.0):**
_here it works correctly_

![highlight np](https://user-images.githubusercontent.com/61259627/88459824-1e62d100-ce66-11ea-997c-fd4c97920ba0.gif)

[2020-07-25 20:51] gave92 commented on #1397
@BuraChuhadar I'm curious :) did you have the chance to work on this?

[2020-07-25 22:09] BuraChuhadar commented on #1397
@gave92 sorry it has been a busy couple of days. I started to work on a little bit. I will update here once I am done.

[2020-07-25 23:00] R3voA3 opened #1574 "Add a badge to folder icons indicating that the folder is empty"
I just thought it would be handy to see before opening a folder whether or not it's empty. This could be indicated by a badge displayed at the icon of the folder.

[2020-07-25 23:30] XPoppyX commented on #1574
What about something like this?

**left:** empty
**right:** contains items

![Anotación 2020-07-25 191452](https://user-images.githubusercontent.com/61259627/88468109-d1eeb400-ceac-11ea-81f8-6bd5256c76c1.png)

[2020-07-26 02:47] yaichenbaum commented on #1550
@R3voA3 Using the app in this case can be a problem in the case the app is crashing when navigating to a directory.

[2020-07-26 02:48] yaichenbaum commented on #1550
It looks like the majority or in favor of switching to the file extension to log so I am approving this issue.

[2020-07-26 04:52] Jaiganeshkumaran commented on #1513
Don't do this. I don't want Files UWP to become an app that keeps asking to install updates.

[2020-07-26 05:48] soumyamahunt commented on #1413
That's because of environment variables weren't supported before, it works now.

[2020-07-26 05:49] soumyamahunt commented on #1413
Duplicate of #177.

[2020-07-26 05:53] Jaiganeshkumaran opened #1577 "Shrink path components when it can't be fit"
**Is your feature request related to a problem? Please describe.**
Not really. In File Explorer. the path shown is automatically when it's too large to display in a way that the directory name is always shown. Files UWP doesn't do this and instead cuts the full path.

**Describe the solution you'd like**
The last portion should be always visible regardless of the screen size and the front portion

[2020-07-26 05:54] soumyamahunt commented on #1236
After the tab ui change this doesn't seem to exist anymore.

[2020-07-26 05:58] Jaiganeshkumaran commented on #333
@yaichenbaum I'm still working on this and I will reopen the PR soon. Please assign me to this.

[2020-07-26 06:31] Jaiganeshkumaran commented on #1413
@soumyamahunt It's not a duplicate since this a bug report and that's a feature request.

[2020-07-26 07:13] R3voA3 commented on #1574
How does it look in the light theme? It should be easily distinguishable.

[2020-07-26 07:59] smallg0at commented on #1532
Just reproduced by using F2 to rename a file (0.12.3.0):
[code]

[2020-07-26 12:37] XPoppyX commented on #1574
what about this?

is the icon used in OneDrive

![Anotación 2020-07-26 083423](https://user-images.githubusercontent.com/61259627/88479104-e6699580-cf1a-11ea-9f67-64e4aa17c9ae.png)

[2020-07-26 12:37] soumyamahunt commented on #1441
@yaichenbaum we should save name of the terminal instead of path for default terminal.

[2020-07-26 13:02] soumyamahunt commented on #1160
Should this be classified as bug instead of feature-request?? I mean, Windows Explorer also shows pin option even if the folder is pinned to quick access.

[2020-07-26 13:38] R3voA3 commented on #1574
Looks sweet.

[2020-07-26 13:53] #1236 closed

[2020-07-26 14:46] tsvietOK commented on #1205
@Jaiganeshkumaran What exact string you are trying to launch?

[2020-07-26 14:47] yaichenbaum commented on #182
@soumyamahunt With your recent changes, can you confirm that this issue is resolved with the latest beta builds?

[2020-07-26 14:49] XPoppyX opened #1579 "When I drag and drop an item with right click, Show a dialog to choose if I want to copy or move"
instead of a dialog, it could also be a context menu

![Right-Click-Held-Options](https://user-images.githubusercontent.com/61259627/88482161-9811c200-cf2d-11ea-8139-89e5d52ed80f.png)

[2020-07-26 14:55] soumyamahunt commented on #182
I tested all the environment variables that the op mentioned, and only "%programdata%" doesn't work (because it points to "C:\ProgramData" which is a hidden folder), everything else works. Also, in my testing I created my custom environment variable and used it and it worked.

[2020-07-26 14:58] yaichenbaum commented on #182
@KaKi87 Sorry about the long wait on this feature, it's currently in beta testing and it should roll out to everyone else in a couple of weeks.

[2020-07-26 14:58] #182 closed

[2020-07-26 15:10] KaKi87 commented on #182
Thanks. How do I download beta ?

[2020-07-26 15:16] KaKi87 commented on #174
Well, my initial feature request was to add an entry to the UWP context menu which would contain the existing entries of the Windows Explorer context menu, just like TreeSize, WinSCP, Beyond Compare, etc.
So, if that feature gets implemented, then, technically, the context menu would be customizable using existing software with Windows Explorer context menu customization features like CCleaner or

[2020-07-26 15:28] #1176 closed

[2020-07-26 15:32] #1205 closed

[2020-07-26 15:49] gave92 commented on #1579
@XPoppyX copy, move or [https://github.com/files-community/files-uwp/pull/1573](create shortcut) 😜

[2020-07-26 15:49] Jaiganeshkumaran commented on #1205
I was actually trying open a website since in Explorer it works.

[2020-07-26 15:53] Jaiganeshkumaran commented on #1160
@soumyamahunt File Explorer is different, Files UWP is different. You should understand that Files UWP isn't a fluent design copycat of File Explorer instead the goal of Files UWP is to provide a better file manager for Windows.

[2020-07-26 16:48] yaichenbaum commented on #182
@KaKi87 You can fill you the form that is linked to on the release page, or you can build from the source code.

[2020-07-26 16:59] soumyamahunt opened #1580 "Last window size and position not remembered in some cases"
**Describe the bug**
When last window closed for the app is a property window, in the next start up of the app, files-uwp opens with the size and position of property window instead of the main window's last size and position.

**To Reproduce**
Steps to reproduce the behavior:
1. Open files-uwp app.
2. Open properties for any folder.
3. Close the main window.
4. Close the properties window.
5. Rel

[2020-07-26 17:26] #829 closed

[2020-07-26 17:42] yaichenbaum commented on #1580
I suppose that closing any open property windows when the user closes the main app windows would be the correct action here.

[2020-07-26 20:37] KaKi87 commented on #182
You know I'm not into that xD
But if you can give me an APPX I'll absolutely try it out, otherwise I'll wait like everyone else ;)

[2020-07-26 21:55] XPoppyX commented on #1409
@yaichenbaum

[2020-07-26 22:05] Rick-HM opened #1581 "Add support for changing which program a file opens in from the properties window"
Show which application opens the file, with a button to change the application
![Anotación 2020-07-26 180333](https://user-images.githubusercontent.com/61259627/88490570-88fd3500-cf6a-11ea-9e85-f67ce24754b5.png)

[2020-07-27 01:36] yaichenbaum commented on #1409
This issue has been fixed with #1504 and should roll out to users in a couple of weeks.

[2020-07-27 01:36] #1409 closed

[2020-07-27 01:45] Jaiganeshkumaran commented on #1581
This is not open with, this is for changing the default application.

[2020-07-27 06:41] nightfire68 opened #1583 "Feature Request"
**Is your feature request related to a problem? Please describe.**
I would like an option to access my iCloud drive and photos

**Describe the solution you'd like**
I would like to see an option to the setting to enable support for iCloud, weather that be a portal to the website, or direct support.

**Describe alternatives you've considered**
An alternative I have considered is a portal to the web

[2020-07-27 07:09] Jaiganeshkumaran commented on #1583
Duplicate of #242

[2020-07-27 07:49] m98770 opened #1584 "Cut-Pasting or Renaming Any Files/Folders that require Elevation make the app crash immediately.."
**Describe the bug**
Cut Pasting or Renaming any files/folders that require elevation makes the app crash immediately.

**To Reproduce**
Steps to reproduce the behavior:
1. Cut a txt file and paste that into Folders like Program Files or Windows
2. or try to rename a sub-folder inside those folders .

**Expected behavior**
It should ask for Elevation rights and paste/rename files/folders  like it

[2020-07-27 08:07] R3voA3 opened #1585 "File Type in Grid View should have different font"
![image](https://user-images.githubusercontent.com/17484252/88518277-77f70700-cff0-11ea-961c-2b324a30b525.png)

The file type and the folder name have the same font size, type and color and it's hard to distinguish them from one another at first glance.
I'd suggest to maybe use a light grey for the item type and size.

[2020-07-27 08:07] R3voA3 commented on #1585
![image](https://user-images.githubusercontent.com/17484252/88518578-fe134d80-cff0-11ea-9632-cfba861b1dca.png)

[2020-07-27 08:17] Jaiganeshkumaran commented on #1584
Duplicate of #1353

[2020-07-27 08:24] m98770 commented on #1584
not only for Renaming but also for cut-pasting . it doesnt even ask for elevation or Administrator Rights on my machine, just crashes

[2020-07-27 08:56] Jaiganeshkumaran commented on #1585
We can have opacity as 6 for those other details.

[2020-07-27 09:21] yi-Xu-0100 opened #1586 "Type column in Details view changes from localized to none localized after folder is loaded"
**Describe the bug**

In the file management interface, the first time you open or newly open a folder, the file or folder type will be refreshed from English to Chinese.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to main interface.
2. Click on 'C:' or 'D:'.
4. See error.

**Expected behavior**

When switching between different folders, the page does not refresh, and the relevant la

[2020-07-27 09:24] yi-Xu-0100 commented on #1586
I see some issue about translation, but never mention the refresh phenomenon.

[2020-07-27 10:12] SOI7 commented on #1585
Alternatively, instead of making it use a different font, they could use the same font, but the system accent color

![Annotazione 2020-07-27 121025](https://user-images.githubusercontent.com/50930970/88531003-7afaf300-d002-11ea-9fc4-015e410f701e.png)

[2020-07-27 10:17] Jaiganeshkumaran commented on #1586
The item type is pulled from Windows so it remains in your system language and we can't do anything about that.

[2020-07-27 10:24] R3voA3 commented on #1585
That looks very nice as well. Maybe as an option in Appearance?

[2020-07-27 10:25] SOI7 commented on #1585
Up to the devs, although I think the app in general could use more color here and there

[2020-07-27 10:31] yi-Xu-0100 commented on #1586
But it can be seen that he has a default value. Why not keep the default value, but need to refresh and replace it with the system value?

[2020-07-27 11:20] 77376 opened #1589 "Files UWP should auto refresh in the background and display the updated files like in file explorer."
when a file is created or deleted or downloaded ,those files/folders appear/removed immediately and instantly in default file explorer. but in files uwp you have to manually click refresh all the time.     Manually refreshing all the time is so boring  .

Steps to reproduce the behavior:
1. Download/create any type of file/folder.
2. It wont appear until you manually click refresh in files uwp

**

[2020-07-27 11:21] XPoppyX commented on #1585
Other users will like that there is a little more color, because I have read many complaints that the app is very monochromatic

[2020-07-27 11:45] #1583 closed

[2020-07-27 12:20] R3voA3 commented on #1585
I think it should be coloured as well but with the option to change the color in the appearance settings.

[2020-07-27 13:30] XPoppyX commented on #1572
It works fine now, maybe some recent PR about dragging files fixed this

[2020-07-27 13:30] #1572 closed

[2020-07-27 13:30] Talisman39ar commented on #1585
Could run into contrast issues if default color is subtle against white are dark background, so would need a way to handle that (or just pick a color each for light and dark mode and go with that). File Explorer does the sub-details in gray vs black for the file/folder name, which I like even though it's monochrome. Adding a color to the secondary information could giveit more visual prominence th

[2020-07-27 13:38] mdtauk commented on #1585
Using the Accent colour makes it appear as if it would be a link or button

But dimming the text to make the folder/file name stand out, is a sensible idea

[2020-07-27 13:46] tsvietOK opened #1590 "Status bar is not visible"
**Describe the bug**
Status bar not visible when first time entering to folder after app launch.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch app
2. Click on sidebar drive item
3. Status bar is not visible
4. Open any folder, now status bar is visible

**Expected behavior**
Status bar should be visible when entering to folder

**Screenshots**
If applicable, add screenshots to help

[2020-07-27 14:03] XPoppyX commented on #1585
![Anotación 2020-07-27 100338](https://user-images.githubusercontent.com/61259627/88551111-77f70700-cff0-11ea-844c-518967b41abd.png)

[2020-07-27 14:22] R3voA3 commented on #1585
Looks very good and it adds a neat accent.

[2020-07-27 14:29] XPoppyX commented on #1585
different color tone will need to be used depending on whether it is in dark or light mode, the color tone that I used in that screenshot for example looks good in light mode, but not so much in dark mode

[2020-07-27 14:31] SOI7 commented on #1585
Tbf this is a problem with Windows 10 as a whole

[2020-07-27 16:37] XPoppyX commented on #817
Extra: If possible also show different titles depending on the number of files:
![Anotación 2020-07-27 123650](https://user-images.githubusercontent.com/61259627/88567736-e2667200-d005-11ea-8413-26b7df4520a1.png)

[2020-07-27 17:54] gave92 commented on #659
I tested a fix for this that involves switching from AppWindow to ApplicationView... It works but seems like an overkill.

[2020-07-27 18:10] mdtauk commented on #1585
Take the text foreground colour, and set the alpha to 60%

[2020-07-27 19:25] XPoppyX commented on #1585
**Color:** SystemAccentColorLight1

![light1](https://user-images.githubusercontent.com/61259627/88582298-7c391980-d01c-11ea-9a30-947a64dc8426.png)
![light2](https://user-images.githubusercontent.com/61259627/88582301-7d6a4680-d01c-11ea-8475-5969287a03ac.png)

-----------------------------------

**Color:** SystemAccentColor
**Opacity:** 60%

![normal2](https://user-images.githubusercontent.com/61

[2020-07-27 19:30] SOI7 commented on #1585
SystemAccentColor seems the best to me, unless there's a way to make the tint theme-aware. In that case I'd use SystemAccentColorLight1 for Dark Mode and 60% opacity for Light Mode

[2020-07-27 19:39] mdtauk commented on #1585
You use a ThemeDictionary and set the colour of the brush resource for Light, Dark, and High Contrast themes.  The correct value is applied when the system theme changes.

I still think using the Accent colour is a mistake, as it implies there is an action or importance to what is essentially an inactive caption for the folder and file items.

[2020-07-27 19:49] Talisman39ar commented on #1585
I agree with this as good UX practice. Adding a color to the less important item makes it more visually prominent, which is going to make it harder to scan the list quickly, not easier. (Unless you do something else to rebalance the visual hierarchy, such as making the primary item larger, bold, etc. But that seems overkill). Since the original request here was about making the tiles easier to sca

[2020-07-27 19:56] XPoppyX commented on #1585
![Anotación 2020-07-27 155601](https://user-images.githubusercontent.com/61259627/88585950-c4a70600-d021-11ea-9986-4cf91c37b87e.png)
![Anotación 2020-07-27 155615](https://user-images.githubusercontent.com/61259627/88585954-c53f9c80-d021-11ea-9c96-de6bfb8a6c3c.png)

[2020-07-27 19:59] mdtauk commented on #1585
Perfect @XPoppyX

[2020-07-27 20:00] SOI7 commented on #1585
Gotta agree with mdatuk on second thought, and that seems the most practical and logical approach. I'm pretty sure we can find other areas to use more color in the future

[2020-07-27 20:02] mdtauk commented on #1585
If you have performed a search, the letters searched for could be displayed in the Accent Colour.  Also for the Details view, the currently selected header, the text in that column should probably be in the Foreground colour, and everything else being in the faded colour.

[2020-07-27 20:27] zhaoyycrow commented on #1496
Updates: network drives show up if they are connected. Still can't establish new connections.

[2020-07-27 20:49] XPoppyX commented on #1585
the problem is in details view, when selecting an item, **gray** does not look good depending on the accent color
![83441748-08f89a00-a415-11ea-83c5-ec2cc29b05ce](https://user-images.githubusercontent.com/61259627/88588598-cffc3080-d025-11ea-8df9-fc1ef10afe57.png)

as I had said in #1170,
for **dark mode:** white 60% opacity
for **light mode:** black 60% opacity

[2020-07-27 20:51] SOI7 commented on #1585
I thought you could bypass this issue by altering the opacity instead of the tint

[2020-07-27 23:31] XPoppyX commented on #1585
the app crashes when I use "ThemeResource" in foreground (DataGridTextColumn)

[2020-07-28 00:05] Talisman39ar opened #1592 "Color labels to help highlight or categorize folders or files"
**Is your feature request related to a problem? Please describe.**
In the past, MacOS had a really handy way to add color labels to files and folders to help categorize them (e.g. business vs personal) or just highlight them so they got your attention more quickly while scanning down a list. Personally I find this sufficient, and without the complexity of tags, though I know some people love tags.

[2020-07-28 00:25] Verplitic opened #1593 "Weird Translation of Data Units under Chinese"
I found that, under Chinese translation, data units such as gigabyte is translated to "吉字节（G字节（B））".
This is no doubt too long and confusing to read. *吉字节* is the correct translation to gigabyte, but we are still more accustomed to **GB**. The default name of gigabyte under Chinese in Windows is GB, too.
![the confusing translation](https://user-images.githubusercontent.com/57583509/88605040-658dd

[2020-07-28 01:32] XingMu-YuXi opened #1594 "关于在Windows20H2使用中发现的问题：【About using some of the questions on Windows20H2.】"
首先，它显示了一个并不存在的盘符(:D)，并且打开它会强制闪退。
其次，相应的，它没有显示全我电脑上所有的盘符，以至于他们无法在软件里打开。
再然后，建议可以增加起始页为我的电脑这个选项以方便过渡。
最后希望这个项目顺利进行，谢谢你们！
另：还是希望将来可以有自定义背景这个功能。
【First, it shows a drive letter (:D) that does not exist, and opening it will force a crash.

Secondly, correspondingly, it does not display all the drive letters on my computer, so that they cannot be opened in the software.

Then, it is recommended to add t

[2020-07-28 02:46] Jaiganeshkumaran commented on #1592
Duplicate of #1161

[2020-07-28 03:03] liukenny961 opened #1595 "“Show Hidden Files, Folders, and Drives” switch couldn't be turned on."
When I use file-UWP, I notice that it doesn't show hidden folders. I went to Settings and then to files and folders, but I found that the “Show Hidden Files, Folders, and Drives” switch couldn't be turned on. What's the problem?
![Snipaste_2020-07-28_10-52-07](https://user-images.githubusercontent.com/65520199/88614139-b0b2e100-d0c1-11ea-9077-479787ac34a0.png)

[2020-07-28 03:06] Jaiganeshkumaran commented on #1595
@liukenny961 It hasn't been implemented yet.

[2020-07-28 08:02] ChihweiLHBird commented on #1594
请问您一共有多少个盘符？我也是20H2版本的系统，但是我只有C盘，所以无法复现这个问题。
关于启动页面，您是希望盘符出现在画面中央吗？
![image](https://user-images.githubusercontent.com/43905414/88636575-f5ad2800-d06d-11ea-9002-d08ada4bd41a.png)

[2020-07-28 08:08] ChihweiLHBird commented on #1593
![image](https://user-images.githubusercontent.com/43905414/88637072-8dab1180-d06e-11ea-8a4f-915456dbc1ca.png)
请问你觉得是否需要将“字节”保留呢？还是改为“B”？其他的都转换为英文字符吗？比如: 兆字节--->MB

[2020-07-28 08:16] ChihweiLHBird commented on #1581
Maybe we can let this window pop up when clicking "open with"? It can does same thing (changing default app for the type of file).
![image](https://user-images.githubusercontent.com/43905414/88638033-cac3d380-d06f-11ea-8c35-0f88a9ea404d.png)

[2020-07-28 08:31] Verplitic commented on #1593
其它都转换成英文字符。“字节”的话，我个人没有意见，也许也可以为了统一而写成“B”吧…

[2020-07-28 11:36] #1595 closed

[2020-07-28 15:17] Talisman39ar commented on #1592
Thanks! I'd done a search but hadn't turned that one up.

[2020-07-28 16:15] duke7553 commented on #1594
Thank you for taking the time to open this feedback item. In order to best address this in a transparent way, we usually expect reporters to open each feedback topic (e.g. feature request, bug, question, discussion item) as its own ticket. Please review each topic suggested here, and add your own take on an already open issue, or open a new one.

Closing this now.

[2020-07-28 16:15] #1594 closed

[2020-07-28 16:20] duke7553 opened #1596 "Recycling multiple files, and switching to another tab results in an app crash"
**Describe the bug**
Moving multiple files to the recycle bin, and switching to another tab results in an app crash

**To Reproduce**
Steps to reproduce the behavior:
1. Moving multiple files to the recycle bin
2. switch to another tab
3. Observe crash

**Expected behavior**
Obviously no crash here. We need to find a better way to associate the current app instance with the AppService connections

[2020-07-28 16:34] duke7553 commented on #114
More updates on the StatusCenter UI:

<img width="814" alt="Capture" src="https://user-images.githubusercontent.com/20365014/88693743-a72f7600-d0cd-11ea-86c9-99261f7eb675.PNG">
<img width="814" alt="Capture2" src="https://user-images.githubusercontent.com/20365014/88693745-a72f7600-d0cd-11ea-88fa-19984f916e09.PNG">

Under the hood, things aren't as great. We really need to take a good look at impr

[2020-07-28 18:51] kwolf111316 opened #1598 "Crashes when trying to paste files"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-07-28 18:54] kwolf111316 opened #1599 "Capability to show and use .lnk shortcut files"
**Is your feature request related to a problem? Please describe.** No
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...] unable to see or use .lnk files

**Describe the solution you'd like**
A clear and concise description of what you want to happen. Add support for .lnk files if possible

**Describe alternatives you've considered**
A clear and concise des

[2020-07-28 20:55] yaichenbaum commented on #1599
Merging with #177.

[2020-07-28 20:55] #1599 closed

[2020-07-28 20:56] #1592 closed

[2020-07-28 21:45] ChihweiLHBird commented on #1593
谢谢，我查一下台港澳的繁体中文是否也是这样显示，然后再看看要怎么改。

[2020-07-29 01:46] yaichenbaum commented on #1308
The latest changelog can always be found on the GitHub release page, we will start providing a changelog in the store once the app leaves preview.

[2020-07-29 01:46] #1308 closed

[2020-07-29 01:53] chen-jianpeng opened #1601 "System.UnauthorizedAccessException"
i can not find my computer

![image](https://user-images.githubusercontent.com/20961152/88747267-04383400-d181-11ea-8fd4-094fe50c82ca.png)

when i click Downloads ,the applacation closed.
the debug.txt show

2020-07-29 09:44:51.5964|ERROR|Files.App|拒绝访问。 (Exception from HRESULT: 0x80070005)|System.UnauthorizedAccessException: 拒绝访问。 (Exception from HRESULT: 0x80070005)
   at System.Runtime.Exceptio

[2020-07-29 03:17] Fearlessv opened #1602 "功能小建议"
1. 删除时，弹窗会有永久删除选项，建议添加提示，永久删除是指不进入回收站直接删掉，还是仅仅在Files UWP 程序中不显示这个文件，新人会不好判断。
2.选择文件时不能通过拖选的方式选择文件，建议添加
3.回收站建议添加按照删除时间排序的功能
其他：Files UWP 做的非常棒，我十分喜欢！ 感谢开发者大大的努力，希望Files UWP能越来越好！

[2020-07-29 05:23] Jaiganeshkumaran commented on #1602
2 - #94
3 - You can already sort by deletion date

[2020-07-29 13:05] XPoppyX commented on #1553
Duplicate of #673

Duplicate of #130

#366

[2020-07-29 14:44] Jaiganeshkumaran opened #1603 "Improve the launching speed"
Although Files UWP is much better the File Explorer in my opinion, it is much slow to launch so if I want to access a folder quickly I can't use Files UWP. Please work on improving the performance of Files now that it's getting popular.

[2020-07-29 15:11] SOI7 commented on #1603
Removing the splash screen could increase the boot speed I believe

[2020-07-29 15:12] Jaiganeshkumaran commented on #1603
Actually Files UWP is already configured to hide the splash screen but it only works when app launches fast enough. The splash screen isn’t the problem here.

[2020-07-29 15:13] SOI7 commented on #1603
I see it all the time 🤷‍♀️

[2020-07-29 17:39] osieltorres opened #1604 "No keyboard combination to switch tabs"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a tab
2. Go and open another tab
3. Try a keyboard combination to switch from tabs, currently I can't find any.
**Expected behavior**
As the design of tabs changed, it shoud be a way to switch from tabs without having to go to the "open tabs" button icon, that would b

[2020-07-29 17:41] #1049 closed

[2020-07-29 17:57] yaichenbaum commented on #1604
@osieltorres Have you tried using `ctrl + 1` - `ctrl + 9`?

[2020-07-29 19:24] jh-chn opened #1605 "盘符显示打不开"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-07-29 19:56] gave92 commented on #1604
I think Ctrl+Tab used to work but now does nothing

[2020-07-29 20:20] osieltorres commented on #1604
No, I have not, I suppose it works, but in this case, wouldn't it be better on a accessibility perspective, to set `ctrl + tab` for it?

[2020-07-29 20:21] yaichenbaum commented on #1604
`ctrl + tab` should work as well.

[2020-07-29 20:24] osieltorres commented on #1604
Not working then.

[2020-07-29 20:26] gave92 commented on #1596
@duke7553 hi! could you confirm if something like the following is sufficient to solve the issue? (sorry I'm pasting code below, I'll make a proper PR when I can)

In App.xaml.cs -> Connection_RequestReceived
[code]

[2020-07-30 01:58] XPoppyX opened #1606 "Shortcuts: Add "Open file location" in context menu"
it is faster to open the file location from the context menu, it would be a bit annoying to have to open the properties window first
![Anotación 2020-07-29 215651](https://user-images.githubusercontent.com/61259627/88871677-78f18980-d1e6-11ea-9470-b6e4f4463c2b.png)

[2020-07-30 02:03] Rick-HM opened #1607 "Feature: Add support for pinning shortcuts to favorites"
### What feature or improvement do you think would benefit Files?
When a shortcut to a folder location is pinned to the sidebar favorites section. It shows as missing location when clicked it shows access denied.
![image](https://user-images.githubusercontent.com/26977075/189412784-ac4e68ae-f31f-4c80-88d5-6cc41e3cf808.png)

### Step to reproduce
1. Create a shortcut to a folder
2. Right click the

[2020-07-30 02:13] yaichenbaum commented on #1606
This feature was implemented with #1573.

[2020-07-30 02:17] XPoppyX commented on #1606
really?, I know it's in the properties window, but I don't see that it's in the context menu

[2020-07-30 02:38] XPoppyX commented on #1606
there is no "Open file location" in the context menu of file shortcuts

![Anotación 2020-07-29 223652](https://user-images.githubusercontent.com/61259627/88874012-07b4d500-d1ec-11ea-8417-05f28c1abef4.png)

[2020-07-30 06:49] R3voA3 opened #1611 "Recycle Bin is empty even though it has items in it"
The Recycle Bin in the app does not list items, but the default Recyle Bin shows them.

![image](https://user-images.githubusercontent.com/17484252/88890227-9f90de00-d241-11ea-9d40-b635fbafdfef.png)

[2020-07-30 10:09] hez2010 commented on #1605
Please describe your problem in details.

[2020-07-30 15:35] #1593 closed

[2020-07-30 15:36] yaichenbaum commented on #1440
This issue has been fixed with #1610.

[2020-07-30 15:36] #1440 closed

[2020-07-30 15:36] yaichenbaum commented on #1593
This issue has been fixed with #1610.

[2020-07-30 20:18] gave92 commented on #1611
The fulltrust process may have crashed. Could you post the contents of the `debug_fulltrust.txt` file? Thanks!

[2020-07-30 21:41] R3voA3 commented on #1611
[debug_fulltrust.txt](https://github.com/files-community/files-uwp/files/5003916/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/files-uwp/files/5003917/debug.txt)

[2020-07-30 22:47] Rick-HM opened #1615 "Reduce opacity of file icons / thumbnails when dragging"
In my opinion, when dragging a file, it should have less opacity, since it is currently a bit annoying drag and drop in the navigation bar or in the sidebar.

**In all layout modes**

**Before:**

![before](https://user-images.githubusercontent.com/61259627/88981908-fecc0e00-d294-11ea-837f-f14824462aa8.png)

**After:**

![after](https://user-images.githubusercontent.com/61259627/88981899-fa075a00-

[2020-07-31 02:31] jayasio commented on #1564
For example, one issue related to #1193 would be: when the app is used in smaller sizes with multiple tabs, the top left area was confusing.. the tabs and the sidebar were occupying similar space and especially when the user switches to a tab that is not the first, it got messy since 'Home' and tab lay very close. Sure it works when on fullscreen or half split, but in a quarter split and smaller,

[2020-07-31 02:42] generalguy41 commented on #1564
And these are fair points, but like you said this is more of an edge case. I agree that this should be a modification. When I first heard about the vertical tabs/menu thing, my immediate thought was "This will be great for users who use the app when the window is small. Regular sized windows will use horizontal, and once you reach a certain window size it changes to vertical". I never thought it w

[2020-07-31 02:44] yaichenbaum commented on #1564
I am closing this issue as a solution will be included in the next beta release.

[2020-07-31 02:44] #1564 closed

[2020-07-31 03:05] XingMu-YuXi commented on #1594
六个，有一个莫名其妙冒出来的d盘，后来我是拿rx文件管理器弹出【虽然没有这个玩意】后恢复正常，希望可以帮到你。

[2020-07-31 05:26] ChihweiLHBird commented on #1605
可以详细描述一下您遇到的问题吗？

[2020-07-31 11:09] VOSAICA opened #1617 "Crush when user change his own default folders to hidden"
# Crush when user change his own default folders to hidden
When I changed the folder of Downloads, Documents, Music etc. from the User folder in C disk to D disk and set them hidden, the  program would not be able to locate them and will crush.

![image](https://user-images.githubusercontent.com/57782331/89029365-db6e9500-d360-11ea-9e87-c623ecffbfdc.png)
In this situation, the program will crush w

[2020-07-31 11:34] jonnypjohnston opened #1618 ""Open Files UWP here" crashes app everytime"
**Describe the bug**
When I click on the "Open Files UWP here" in the context menu, the app crashes, every time...

**To Reproduce**
Steps to reproduce the behavior:
1. On my external hard-drive, open a folder location...
2. Right click to open the context menu...
3. Click on the "Open Files UWP here"...
4.

**Expected behavior**
Files UWP should open at that location

**Screenshots**
If applicabl

[2020-07-31 13:08] tsvietOK opened #1619 "App crashing when dragging text to sidebar item"
**Describe the bug**
App crashing when dragging text to sidebar item

**To Reproduce**
Steps to reproduce the behavior:
1. Select text
2. Drag it and move to sidebar item
3. See error

**Expected behavior**
Sidebar area should be protected from dropping text into it.

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 2004]
 - App version: [v0.12.0]

[2020-07-31 14:01] Jaiganeshkumaran commented on #1617
Currently Files doesn't support hidden files so that's why it doesn't work.

[2020-07-31 14:59] XPoppyX opened #1621 "Add "Open" option in folder context menu"
if all files have this option, folders should have it too

[2020-07-31 15:16] pitchtheripoff opened #1622 ".exe files don't appear"
**Describe the bug**
When going in a folder with executable files, most if not all files don't appear at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a folder with .exe files
2. Click on the folder
3. The .exe files don't appear.

**Expected behavior**
All .exe files in the folder will appear.

**Screenshots**
None

**Desktop (please complete the following information):**
 - OS

[2020-07-31 17:17] #1622 closed

[2020-07-31 17:51] #1619 closed

[2020-07-31 17:53] #1617 closed

[2020-07-31 22:08] Talisman39ar commented on #1525
It frequently crashes for me after 2-4 clicks into folders to get to a file. Happens on both my machines (both running Windows 2004, though it was also happening before either got updated). It's not consistent and I haven't found an underlying pattern
, but happens enough where it mostly discourages me from using the app unfortunately. Log file attached if that's helpful.

[debug.txt](https://gith

[2020-08-01 01:47] XPoppyX commented on #1498
This happens to me when I open the settings, close and reopen, and then I can no longer drag the window

[2020-08-01 04:13] hez2010 commented on #1513
@Jaiganeshkumaran I can give an option in settings for whether enable it or not.

[2020-08-01 16:20] hunterlan commented on #1611
Don't know, what have you done, but on my laptop, it works well.

![image](https://user-images.githubusercontent.com/38838841/89105666-d6c2e300-d42b-11ea-84e8-275f969d4ec1.png)

[2020-08-01 18:36] hunterlan commented on #1525
I think, you have a hidden drive, and app can't recognize it.

[2020-08-01 18:47] WindowsRed commented on #1525
Funnily enough, the only hidden drive is the EFI partition

[2020-08-01 19:41] fisforfaheem commented on #1308
then please keep updating

On Wed, Jul 29, 2020 at 6:46 AM Yair Aichenbaum <notifications@github.com>
wrote:

[2020-08-01 20:25] XPoppyX opened #1625 "Properties: disable "open file location" for .url files"
this option is not useful for .url files, it only opens the shortcut

[2020-08-02 02:38] X-Jackdaw opened #1626 "The App crashed when click the same file or folder twice"
**Describe the bug**
When I click(not double click) the same file or folder twice, the app will crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to anywhere in the computer
2. Click any file or folder and wait for two or more seconds
3. Click the same file or folder again
4. The app crashed

**Desktop:**
 - OS Version: Windows 10 2004 19041.388
 - App version: v0.12.0.0

**Additiona

[2020-08-02 08:06] hunterlan commented on #1487
@soumyamahunt, In my opinion, instead of Files UWP, you can use Total Commander or other application from family Commanders. The directed using multiple panes, but Files UWP isn't developing for it. Also, as user opinion, I don't need it.

[2020-08-02 08:33] hunterlan commented on #1520
It's the crutch. I don't want open another "Files UWP" for moving file/folder from one place to another place. Default file explorer has function "Move/Copy to...", which calling dialog window, where you choose the destination. It would be better, if developer team added this feature.

[2020-08-02 09:42] hunterlan commented on #1534
@makunterry do you have installed OneDrive?

[2020-08-02 11:37] hunterlan commented on #1345
This screenshot and references will help you:

![image](https://user-images.githubusercontent.com/38838841/89122122-88662080-d4cd-11ea-8249-167840ce8ed1.png)

[Registering AutoPlay Event Handlers](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/windows-media-center-sdk/aa468474(v=msdn.10)?redirectedfrom=MSDN)
[How to Register a Handler for a Device Event](https://docs.microsoft.

[2020-08-02 12:10] hunterlan opened #1627 "Properties for drives"
**Is your feature request related to a problem? Please describe.**
Default file manager has a possibility to show properties a driver. It would be really good, if you added this feature.

![image](https://user-images.githubusercontent.com/38838841/89122707-4390b880-d4d2-11ea-8c50-6db85af2aa7a.png)
![image](https://user-images.githubusercontent.com/38838841/89122716-53a89800-d4d2-11ea-94e9-5879c94a

[2020-08-02 12:15] tsvietOK commented on #1627
Drive properties you could see through right click in its root.

[2020-08-02 12:19] hunterlan commented on #1627
Got it, but is it possible to add it, when you click on drive in left-side?

[2020-08-02 12:23] tsvietOK commented on #1627
It will be added as soon as possible.

[2020-08-02 14:52] Dubzer opened #1629 "SFTP support"
Hi. It would be great to see SFTP support in Files UWP.
Currently, there is only three options to use SFTP in Windows:
1. WinSCP - an old app that is not very comfortable to use. (there is also MobaXterm, but it just works even slower)
2. Apps that create a virtual network drive. As they integrate with Windows Explorer, this is not a bad option, but path that Explorer uses is not Unix-style, so yo

[2020-08-02 16:42] XPoppyX commented on #1627
for sidebar: #1212

[2020-08-02 17:13] XPoppyX commented on #1585
could merge with #1170  and close this

[2020-08-02 18:16] #1606 closed

[2020-08-02 18:21] #1627 closed

[2020-08-02 19:44] ChenShihuan opened #1631 "Crash in windows10 2004"
**Describe the bug**
When I open one folder, the files-uwp crash

**To Reproduce**
Steps to reproduce the behavior:
1. Just start the computer,
2. Open the files-uwp.
2. Click on one of my folder, such as OneDrive, Document, or other folders.
3. See error

**Expected behavior**
Jusr crash, then the whole software is turned off.

**Desktop (please complete the following information):**
 - OS Versio

[2020-08-02 19:49] ChenShihuan commented on #1631
半桶水英语，我用中文再复述下吧（逃~
Bug现象：
在软件内打开文件夹时软件闪退

复现步骤：
1. 启动电脑，或者正在运行的电脑也可以
2. 启动files-uwp
3. 在files-uwp中打开一个文件夹，比如OneDrive或者文档或者别的什么文件夹
4. files-uwp闪退

软件和系统版本
OS Version: [Windows 10 2004 19041.421]
App version: [v0.12.0]

[2020-08-02 19:59] ChenShihuan opened #1632 "放置多个同步盘于侧边栏的驱动器区域"
**Is your feature request related to a problem? Please describe.**
目前files-uwp的驱动器栏仅提供了一个OneDrive同步盘的按钮，我希望得到多个

**Describe the solution you'd like**
可以放置多个同步盘于侧边栏的驱动器区域，并提供自定义（本人电脑上挂着三个OneDrive，包括一个个人版和两个商业版，和一个NextCloud）

**Additional context**
Add any other context or screenshots about the feature request here. Ex: What device type/UI layout and app version?

[2020-08-02 23:50] ChihweiLHBird commented on #1632
Duplicate of #16

[2020-08-03 01:12] XPoppyX commented on #9
similar to microsoft edge chromium

![Anotación 2020-08-02 205109](https://user-images.githubusercontent.com/61259627/89137108-d1859700-d504-11ea-8516-eac9c3e33027.png) ![Anotación 2020-08-02 210222](https://user-images.githubusercontent.com/61259627/89137066-9e430800-d504-11ea-82f1-7641b23c9998.png)

[2020-08-03 01:17] XPoppyX commented on #534
@yaichenbaum

[2020-08-03 01:44] XPoppyX commented on #947
I think this could be implemented after adding the "Quick Access" section first.

[2020-08-03 02:06] #1534 closed

[2020-08-03 02:32] X-Jackdaw commented on #1626
I think the main reason is I closed the Experimental Function - _Double tap to rename files_. Today, after I restart my computer and open it, the crash don't occur. But even I close it again, the bug never happen, I just go into the folder or open the file.

Then I reinstall the app and close the _Double tap to rename files_. When I repeat the actions above, the app crash again. After that, I open

[2020-08-03 02:39] seohyun1108 opened #1635 "How can I get the Insider build? (Even if I became an Insider)"
How can I get it?

[2020-08-03 02:41] #1635 closed

[2020-08-03 03:17] ChenShihuan commented on #1632
感谢指路

[2020-08-03 05:38] Jaiganeshkumaran commented on #1631
@ChenShihuan Please upload the log file. You can access it from Settings->About->Open log location.

[2020-08-03 07:42] boscorelly commented on #1310
hi,

i need this too, as we are using it too. It seems to be a great app, but the lack of this feature make it unusable for us :(

[2020-08-03 12:02] Dylan-Osborne opened #1636 "Incorrect file deleted when changing selection"
**Describe the bug**
When deleting a file, Files UWP deletes the incorrect file if you change your selection.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on any file
2. Click delete and accept the prompt
3. Immediately select another file
4. The file selected after the delete prompt is deleted instead of the file originally selected.

**Expected behavior**
Correct file being

[2020-08-03 12:17] #534 closed

[2020-08-03 13:10] SOI7 opened #1638 "Incorrect file size unit of measure (or whatever these are)"
**Describe the bug**
Instead of showing files size in KBs, MBs etc. Files UWP shows them in... "knowledge gase"? I don't even know what that is, nor I know if it's exclusive to the italian localization.

**To Reproduce**
Just open the app, you see these basically anywhere, no matter which layout. Even in Properties, you see these weird strings.

**Expected behavior**
Files size should be displayed

[2020-08-03 19:58] #1636 closed

[2020-08-03 23:04] ImZary opened #1639 "adding more user Customization options"
i would like to see an option that let me for example just change the icon for example of the folders in the app it self because they are so big
& an this pc menu
& i would like to see an option for if i wanna the file explorer blurry or transparent it will be cool too (:
i know its short but this is what i have to say lol the app is so good that i don't have so much to talk about
i hope you read

[2020-08-03 23:21] winiston2212 commented on #1604
Ctrl+Tab and Ctrl+Shift+Tab seem to work when the vertical tab view flyout is open. When it's closed, it doesn't work.

[2020-08-04 00:32] #1639 closed

[2020-08-04 00:32] #1632 closed

[2020-08-04 02:24] XPoppyX opened #1641 "Horizontal tab: The app crashes when trying to open a new tab"
**Edit:** This happens if "Multitasking flyout" is disabled

Log:

2020-08-03 22:21:50.1164|ERROR|Files.App|Object reference not set to an instance of an object.|System.NullReferenceException: Object reference not set to an instance of an object.
   at Files.Controls.InteractionViewModel.set_TabStripSelectedIndex(Int32 value)
   at Files.UserControls.HorizontalMultitaskingControl.horizontalTabView

[2020-08-04 02:35] XPoppyX opened #1642 "The navigation bar is too close to the top"
**With horizontal tab disabled**

![bar](https://user-images.githubusercontent.com/61259627/89246591-78d3fe00-d5d9-11ea-8cfa-581f3aa43dd2.gif)

[2020-08-04 02:55] XPoppyX opened #1643 "After restarting the app, the window is no longer draggable from the tab area"
1- Enable horizontal tabs
2- The window is draggable, without problems
3- Restart the app
4- The tab area is no longer draggable (just a small area next to window control)

![drag](https://user-images.githubusercontent.com/61259627/89247370-2e538100-d5db-11ea-9bc6-cebbc69d4cfe.gif)

[2020-08-04 03:55] #1584 closed

[2020-08-04 09:22] gave92 commented on #1638
Nice case of automatic translation 😁. The issue is now fixed but not yet released to the store.

[2020-08-04 09:35] Yehorchenkov opened #1644 "app crashes when copy folder to NAS drive"
When I try to copy folder from a local drive to NAS drive via ctrl+c, ctrl+v, app crashes. New folder on NAS drive is created but it is empty.

[2020-08-04 12:12] Co10 opened #1645 "Recent items & OneDrive Bug"
**Describe the bug**
The thing is, I open a large file via Files UWP - Preview, then I backup it to OneDrive, and freed local space(removed the file from my PC). So the trace exists in **Recent Items** in Files UWP.
When I open the app, it freezes, and at the same time I see OneDrive is fetching that file I've backup. Since the file is very large and it takes time to download, and I don't want to

[2020-08-04 13:59] Jaiganeshkumaran opened #1647 "Add security tab to properties"
From a feedback on Feedback Hub (Apps->Files UWP).
https://aka.ms/AA96qf4

[2020-08-04 15:39] XPoppyX commented on #692
Option 2

![84311910-1bb85080-ab32-11ea-933c-2d76c7b](https://user-images.githubusercontent.com/61259627/89138722-735bb280-d50a-11ea-89eb-5861b30b3f4b.png)

[2020-08-04 16:32] ChenShihuan commented on #1631
`Please upload the log file. You can access it from Settings->About->Open log location.`

Thanks for your reply. I think I maybe find the reason with the help of the log. The log said that "The process cannot access the file because it is being used by another process. (Exception from HRESULT: 0x80070020)|System.IO.FileLoadException: The process cannot access the file because it is being used by a

[2020-08-04 16:46] duke7553 commented on #895
@Darhagonable I assigned this to you, so you can work on it now.

[2020-08-04 17:38] generalguy41 commented on #692
I like the idea of having a bit more separation like the previous concept, with either padded nesting for each header or space between headers. I think it makes a potential long list cleaner/easier to navigate.

[2020-08-04 17:54] duke7553 commented on #692
Regardless, we'll be using the default hierarchical nav view design with little/no customizations to the padding or item indentations.

[2020-08-04 18:10] tobias-mayer commented on #1212
What about displaying it for every item in the Sidebar, just like in Windows explorer?

[2020-08-04 18:55] generalguy41 commented on #692
Is that the design shown in "Option 2"?

[2020-08-04 19:17] PruvostMaxime opened #1649 "Small translate issue in French"
**Is your feature request related to a problem? Please describe.**
Just a small translation issue in French language

**Describe the solution you'd like**
Change the text from "Trajets" to "Disques" or "Péripheriques et lecteurs"
Change text to "Assez bon" in "Properties" to "OK" like in english

**Describe alternatives you've considered**
Reporting the issue ?

**Additional context**
Add any othe

[2020-08-04 19:55] XPoppyX commented on #1574
@yaichenbaum

[2020-08-04 19:57] osieltorres commented on #1641
I have been facing same issue, but in my case, I only disabled this multitasking flyout option on settings, then I tried to open a new tab, and app crashes.

[2020-08-04 20:00] osieltorres commented on #1604
I think this can be closed, currently in v0.12.5.0 works fine.

[2020-08-04 20:05] XPoppyX commented on #1641
I confirm that it crashes after disabling "Multitasking Flyout"

[2020-08-04 20:05] osieltorres commented on #1604
App crashes for me when I disable the multitasking flyout and try to open a new tab.

[2020-08-04 20:18] XPoppyX commented on #1520
If he is referring to the "Move to" function then it is a duplicate of #946
@yaichenbaum

[2020-08-04 20:20] #1625 closed

[2020-08-04 20:30] XPoppyX commented on #1480
@yaichenbaum Was this fixed with this #1634 ?

[2020-08-04 20:45] yaichenbaum commented on #1604
@osieltorres We are keeping this issue open as it still applies to the vertical tab flyout.

[2020-08-04 20:56] XPoppyX commented on #1413
any updates about this bug after certain changes to the path bar?

[2020-08-04 20:59] XPoppyX commented on #1579
Duplicate of #1396

[2020-08-04 20:59] #1579 closed

[2020-08-04 21:18] XPoppyX opened #1650 "Properties: Add "Details" tab"
Add the "Details" tab in the properties window to show extra file information
First step to implement: #691 and #1103

-------------------------------
![Anotación 2020-08-04 171335](https://user-images.githubusercontent.com/61259627/89345956-4cba8a80-d676-11ea-9961-9bf25e500978.png)

[2020-08-04 21:31] XPoppyX commented on #873
@yaichenbaum I mention you in case you have not read this bug

[2020-08-04 21:35] XPoppyX commented on #754
i think this can merge with #997

[2020-08-04 21:35] #754 closed

[2020-08-04 21:41] Beefy32659 opened #1651 "Drag and Drop"
**Is your feature request related to a problem? Please describe.**
I'm annoyed that I can't drag files from one tab to another.

**Describe the solution you'd like**
I'd like to be able to drag and drop files between tabs.

**Additional context**
Add any other context or screenshots about the feature request here. Ex: Desktop Windows 10 Pro (20H2), version 0.12.5.0?

[2020-08-05 00:12] duke7553 commented on #873
@XPoppyX No need to nag. We can't get to every open issue.

[2020-08-05 00:34] yaichenbaum commented on #1651
Drag and drop for files and tabs has been implemented in the latest beta build.

[2020-08-05 00:34] #1651 closed

[2020-08-05 00:36] yaichenbaum commented on #1413
@XPoppyX Support for folders like AppData has not been added yet.

[2020-08-05 00:36] #1480 closed

[2020-08-05 00:38] yaichenbaum commented on #1574
This has been implemented with #1614.

[2020-08-05 00:38] #1574 closed

[2020-08-05 06:13] LinuxWincomn opened #1652 "App crashed when copy a folder to USB drive"
**Describe the bug**
I'm new to this app. This is a great one!
But 5 munites ago, I tried to copy a folder from C: to a USB drive via the app, it crashed.
I checked the log file, there was nothing useful, just reguler info.

**Desktop**
 - OS Version: Windows 10 2004 19041.388
 - App version: v0.12.0.0

[2020-08-05 09:19] R3voA3 opened #1653 "Weird behaviour when deleting multiple items in the Recycle Bin"
See the video:
https://youtu.be/3zVWEbXpQ1k

[2020-08-05 11:30] seohyun1108 opened #1654 "Fluent Design Context Menu in Desktop"
**Is your feature request related to a problem? Please describe.**
In Files UWP, I can experience Fluent Design context menu. However, in Desktop, it is an original Windows 10 context menu. But I like Fluent Design context menu like Files UWP's.

**Describe the solution you'd like**
Can you redesign the context menu in Desktop like Files UWP context menu? I like it.

**Additional context**
Fluent

[2020-08-05 11:33] seohyun1108 opened #1655 "Compatibility with Desktop"
**Describe the bug**
I can't copy and paste or do other tasks between Files UWP and Desktop.

**Expected behaviour**
make Compatible with Desktop, please

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 21H1 20180]
 - App version: [v0.12.0]

[2020-08-05 12:17] XPoppyX commented on #1654
Sorry if I misunderstood you but it is a feature request that you must send to microsoft, not here, since it is change outside Files UWP.

[2020-08-05 12:17] #1654 closed

[2020-08-05 12:18] Jaiganeshkumaran commented on #1652
@LinuxWincomn Do you mean USB drive?

[2020-08-05 12:23] Jaiganeshkumaran commented on #1653
When deleting multiple items from the recycle bin, Files UWP deletes an item one by one and so every time it deletes a file the folder gets modified so Files UWP reloads it again. A solution would be to temporarily unsubscribe from the changed event.

[2020-08-05 16:09] #1621 closed

[2020-08-05 21:03] Rick-HM opened #1657 "Context menu: "Open" does not appear for folder shortcut"
![Anotación 2020-08-05 170128](https://user-images.githubusercontent.com/61259627/89463853-7db1c280-d73d-11ea-895a-a23606942270.png)

[2020-08-05 21:35] XPoppyX opened #1658 "Auto select item after opening the file location of a shortcut"
After opening the file location of a shortcut, auto select the target item

![select](https://user-images.githubusercontent.com/61259627/89466374-b6ec3180-d741-11ea-878c-82b6b49185fa.gif)

[2020-08-06 00:15] wangafei opened #1659 "right"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-06 00:19] #659 closed

[2020-08-06 00:19] #973 closed

[2020-08-06 00:19] #1076 closed

[2020-08-06 00:23] #1659 closed

[2020-08-06 00:47] #1520 closed

[2020-08-06 00:49] yaichenbaum commented on #9
@XPoppyX Can you open a seperate issue with the concept you shared?

[2020-08-06 00:50] XPoppyX commented on #9
ok

[2020-08-06 00:52] LinuxWincomn commented on #1652
@Jaiganeshkumaran Yes! Sorry, my bad.

[2020-08-06 00:59] yaichenbaum commented on #1179
@TopApex Can you still reproduce this issue in the latest version from the Microsoft Store?

[2020-08-06 01:01] yaichenbaum commented on #1279
The next update will include breadcrumbs in the navigation bar, this will allow you to easily move to another directory with greater speed.

[2020-08-06 01:01] #1279 closed

[2020-08-06 01:02] Rick-HM opened #1660 "Add a settings page to customize keyboard shortcuts"
**Concept**:

![89137108-d1859700-d504-11ea-8516-eac9c3e33027](https://user-images.githubusercontent.com/61259627/89478376-d3966280-d75d-11ea-8d2f-d26bc1cb6ddc.png) ![89137066-9e430800-d504-11ea-82f1-7641b23c9998](https://user-images.githubusercontent.com/61259627/89478381-d5f8bc80-d75d-11ea-85fa-3c10bddac697.png)

[2020-08-06 01:02] #1296 closed

[2020-08-06 01:03] yaichenbaum commented on #1296
This issue should be solved with the latest version in the Microsoft Store.

[2020-08-06 01:04] yaichenbaum commented on #1312
Drag and drop should be implemented in the latest version of Files UWP.

[2020-08-06 01:04] #1312 closed

[2020-08-06 01:07] yaichenbaum commented on #1528
@erayrafet Files UWP already supports Windows Terminal Preview.

[2020-08-06 01:07] #1528 closed

[2020-08-06 01:09] #1553 closed

[2020-08-06 01:09] #1537 closed

[2020-08-06 01:11] yaichenbaum commented on #1556
@yarikv8601 Thank you for sharing your concept for Files UWP, at the moment, there are no plans to implement the design.

[2020-08-06 01:11] #1556 closed

[2020-08-06 01:31] jamiehoss opened #1661 "Extracting zip file crashes Files UWP"
**Describe the bug**
I downloaded the latest Win10 2004 security baseline zip file from Microsoft, then viewed it in Files UWP and right clicked on it and selected Extract, I get the dialog about the folder to extract it to (I leave the current folder selected) and start the extraction, at that point Files UWP crashes and zip file isn't extracted.

**To Reproduce**
Steps to reproduce the behavior:

[2020-08-06 01:39] wagsoft commented on #973
Great.

[2020-08-06 01:43] wangafei opened #1662 "RightMenu too sample"
sample:support svn ect...

[2020-08-06 02:05] Jaiganeshkumaran commented on #1661
@jamiehoss Does it work when extracting using File Explorer or any other tool?

[2020-08-06 02:08] Jaiganeshkumaran opened #1663 "Show a notification when the app crashes"

[2020-08-06 02:29] XPoppyX opened #1664 "Context menu: "Set as desktop background" appears for .ink files"
This happens after right clicking on an image

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on an image
2. Then right click on a .ink file
3. See "Set as desktop background" and "Set as lockscreen background"

![contextMenu](https://user-images.githubusercontent.com/61259627/89483586-6b9a4900-d76a-11ea-92c5-6c86ed75e8ef.gif)

[2020-08-06 15:39] R3voA3 opened #1668 "Buttons used to scroll through open tabs are not properly places"
![image](https://user-images.githubusercontent.com/17484252/89551802-a7391f80-d80b-11ea-95d9-8fdf14f04a4c.png)

I think the buttons should be vertially aligned with the tabs. Also the + button should be moved to the right a bit.

[2020-08-06 15:41] R3voA3 opened #1669 "Add context menu entries to the tabs"
- Close all other tabs
- Close tabs to the right
- Duplicate tab
- Close tab

Similar to the Edge browser.

![image](https://user-images.githubusercontent.com/17484252/89552134-0b5be380-d80c-11ea-8e4a-88b89b1c9714.png)

[2020-08-06 15:43] Jaiganeshkumaran commented on #1669
Duplicate of #260

[2020-08-06 16:04] #1669 closed

[2020-08-06 16:11] CreepKY opened #1670 "Files UWP can suddenly crash"
Files UWP can suddenly crash when I click the next folder.
For example, when I firstly clicked and opened Files UWP, it run smoothly. But sometimes as soon as I click the next folder, the whole screen will get stuck and finally the application crash.
The issue often happen, almost everytime.
My OS version: Windows 10 2004
My Files UWP version:0.12.0.0

[2020-08-06 16:41] jonaskohl commented on #1638
Also happens for German language: It says "MF" (how inappropiate 😅) instead of "MB" (also happens for KB (KF), GB (GF) etc.)

[2020-08-06 17:52] Talisman39ar commented on #1670
Same for me. Happens on both my HP desktop and ThinkPad laptop. Both are running 2004, but it was this was before that installed too. Usually for me the crash process is instant - it doesn't sit there and hang, it just disappears. There's a similar issue in another thread, maybe they should be combined? I had posted a log file in that one

[2020-08-06 22:45] #1662 closed

[2020-08-07 04:18] Jaiganeshkumaran commented on #1670
@CreepKY Please post the log file so that we can understand your issue better and fix it.

[2020-08-07 06:17] Jaiganeshkumaran commented on #1652
@LinuxWincomn Could you post the log file so that we can understand your issue better. You can access it from Settings->About->Open log location.

[2020-08-07 06:18] Jaiganeshkumaran opened #1671 "Feature: Add support for creating shortcuts from the new item menu"

[2020-08-07 09:01] Jaiganeshkumaran opened #1672 "Open settings in a new tab like the old version"
Now that the horizontal tab view starts from the starting, it makes sense to open settings in a new tab rather than occupying the entire window.

[2020-08-07 09:48] LinuxWincomn commented on #1652
@Jaiganeshkumaran I've already deleted the app. Sorry about that.

[2020-08-07 09:59] Jaiganeshkumaran commented on #1652
@LinuxWincomn We can't fix the problem without knowing where, how and when it occurs. Please install our app again and then try it again. If it crashes, post the log file. If it works the close the issue.

[2020-08-07 14:34] THX1188 commented on #1670
Same for me,...

[2020-08-07 17:40] yaichenbaum commented on #1672
@Jaiganeshkumaran There is still an option to hide the tab strip, it would be better to keep the behavior how it is to keep things consistent.

[2020-08-07 17:40] #1672 closed

[2020-08-07 17:52] #1664 closed

[2020-08-07 18:15] compl opened #1674 "Dual-pane view"
Guys,

It would be awesome to have dual-pane view as in good old Total Commander

Thnx

![image](https://user-images.githubusercontent.com/9084162/89675656-f5751e00-d8f2-11ea-8600-96d59052058a.png)

[2020-08-07 23:25] gabrieldelaparra commented on #1674
Would it be possible that a pane works as in visual studio? You have a tab and you can drag it to split the grid view (horizontally or vertically). This is such a cool feature of VSCode, but I am not sure if this can be done here (?)

[2020-08-07 23:28] gabrieldelaparra commented on #1660
I find this one cool. Would it be possible to include a launcher ? As in the launcher (Ctrl+Shift+P) in VSCode?

[2020-08-08 01:40] AqilCont commented on #1670
Same for me with the specs stated above

[2020-08-08 01:42] AqilCont commented on #1650
Yes, I would love one for videos and other file types where some quick info like bitrate, fps, and resolution would be handy :D

[2020-08-08 07:37] R3voA3 opened #1676 "App crashed when opening Documents folder"
App randomly crashed when accessing the Documents folder through the side bar.

[debug_fulltrust.txt](https://github.com/files-community/files-uwp/files/5044816/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/files-uwp/files/5044817/debug.txt)

[2020-08-08 07:38] R3voA3 opened #1677 "Add link to the changelog in the about page"
I'd like to see a message popping up when the app is started for the first time after it was updated through the Microsoft Store, informing about the latest changes. Alternatively, it could show a flyout with a link to the latest changelog here on GitHub.

[2020-08-08 07:41] R3voA3 opened #1678 "Add "Clear Recycle Bin" to the context menu when the Recycle Bin is opened"
![image](https://user-images.githubusercontent.com/17484252/89705169-41f44400-d95b-11ea-9da6-241fa9dfc359.png)

[2020-08-08 08:58] Jaiganeshkumaran commented on #1678
@R3voA3 It's already there as 'Empty recycle bin' when the recycle bin has deleted items

[2020-08-08 09:57] R3voA3 commented on #1678
Strange. It didn't show up for me, otherwise I would not have reported it.

[2020-08-08 10:02] Jaiganeshkumaran commented on #1678
@R3voA3 Which version of Files are you using?

[2020-08-08 10:02] Jaiganeshkumaran opened #1680 "Properties: Show the original location for files in the recycle bin"

[2020-08-08 10:04] Jaiganeshkumaran commented on #260
Horizontal tabs are back in the latest preview.

[2020-08-08 10:13] Jaiganeshkumaran opened #1681 "Show which app is preventing a file from being deleted"
**Is your feature request related to a problem? Please describe.**
Not really. In File Explorer when you try to delete, rename or move a file that's being used by another process, it would show the process name as well along with an message. This could be useful at times when an unwanted process like a malicious application has locked your file. Files UWP currently only displays an message and doe

[2020-08-08 10:30] Jaiganeshkumaran opened #1682 "Tablet mode back button doesn't work on settings page"
I don't know if this is a bug or enhancement because I didn't implement it but ideally the back button when used in the settings page should go to the main page with tabs where you can access your directories.

[2020-08-08 10:36] compl commented on #1674
Indeed, as in VSCode would be perfect.

And I didn't mean the constant dual-pane view, there should be a choice, of course, as in VSCode again.

[2020-08-08 10:44] R3voA3 commented on #1678
I restarted the app and now it's showing fine. I think this can be closed for now.

[2020-08-08 10:44] #1678 closed

[2020-08-08 13:52] menturi opened #1683 "Keyboard shortcut to gain focus on file location bar"
To my knowledge there currently is not a way to gain focus of the file location / address bar using keyboard shortcuts. This feature request is for implementation of a keyboard shortcut to gain focus of the file location bar using *F6* or *Alt+d*, which are the shortcuts used in other programs:

**Firefox and Chrome:** F6 and Alt+d.
**File Explorer:** Alt+d

[2020-08-09 01:59] yaichenbaum commented on #1683
@menturi The latest beta build uses `ctrl + l` to focus on the navigation bar.

[2020-08-09 01:59] #1683 closed

[2020-08-09 03:27] TarsChiu opened #1684 "rename bug"
**before**
1. Go to '设置'
2. Click on '.实验性'
3. Scroll down to '双击重命名‘
**then**
1. Go to 'Any file'
2. Click on '重命名'
3. See error
It does not rename, but opens the file directly

**Expected behavior**

**It should be renamed**

[2020-08-09 03:40] Jaiganeshkumaran commented on #1684
@TarsChiu You need to click on the name part of the grid to rename using double tap or click. Clicking somewhere else will open the file instead.

[2020-08-09 08:45] TarsChiu commented on #1684
I know it can double click on the file name and rename it

The point is, after you turn off the experimental feature, double-click the rename

A normal right - click rename ,but it is opens a file

我知道它可以双击文件名可以重命名
重点是，在关闭实验性的功能双击重命名后
正常的右键重命名却是打开文件

&nbsp;

TarsChiu
tarschiu@qq.com

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jaiganesh Kumaran"<notifications@github.com&gt;;

[2020-08-09 16:19] #1668 closed

[2020-08-09 16:28] #1420 closed

[2020-08-09 21:13] #1398 closed

[2020-08-09 21:13] #1677 closed

[2020-08-09 22:39] winiston2212 opened #1689 "Acrylic background is not shown for the navigation view pane in properties window"
**Describe the bug**
Acrylic background is not shown for the navigation view pane in file properties window. It instead shows the theme background.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the properties window of a file or folder
2. Drag window over a color that contrasts with your theme
3. The non-acrylic navigation view will be obvious

**Expected behavior**
The background of

[2020-08-10 00:41] #1643 closed

[2020-08-10 00:43] winston-de opened #1691 "Compact overlay mode"
I think it would be great to have a compact overlay mode for the file browser, like the Windows calculator or Notepads app. This would make it much more convienient to quickly drag and drop files into a website or document. Some quick access options like "open folder in new compact window" or "open tab in new compact window" would also be nice.

Grid view:
![FUWP CO GridView concept](https://user-

[2020-08-10 00:55] XPoppyX opened #1692 "Change selected tab icon foreground to accent color"
![Anotación 2020-08-09 205433](https://user-images.githubusercontent.com/61259627/89745550-8dedd880-da82-11ea-960f-cc99d218ff64.png)

[2020-08-10 00:55] LinuxWincomn commented on #1652
@Jaiganeshkumaran Alright, I will try it today.

[2020-08-10 01:11] XPoppyX opened #1693 "Gray out unfocused tab header"
![Anotación 2020-08-09 210618](https://user-images.githubusercontent.com/61259627/89745945-d9a18180-da84-11ea-92a7-1b84bec38988.png)

[2020-08-10 01:22] yaichenbaum commented on #1693
@XPoppyX We don't see a reason to change the style of the unfocused state, if you still feel it should be changed, can you please fill out the issue template to help us evaluate this change?

[2020-08-10 01:22] #1693 closed

[2020-08-10 02:28] #1642 closed

[2020-08-10 02:30] #1179 closed

[2020-08-10 02:53] yaichenbaum opened #1695 "Increase the size of the touch target for the chevron on the Breadcrumb Bar levels"

[2020-08-10 02:57] mdtauk commented on #1695
32 x 32 is the recommended target size as a minimum with WinUI - but if you wanted to differentiate between mouse or touch, then perhaps 24 x 32 may work.

As well as the larger hit target, you may also want to use a border or distinctive Hover state to improve confidence for the user when trying to tap or click it to display the folder list.

[2020-08-10 06:46] Radcliffe-Bai opened #1696 "New Featurn Request"
Hope that I can drag my files from one files-uwp window to another files-uwp window.
I also hope that I can drag my files to the desktop conveniently, and do not need to drag it, then click the "copy"

[2020-08-10 06:48] Radcliffe-Bai commented on #1696
Maybe my English is so bad that you can't understand what I mean, here is the Chinese version.
我希望可以直接再files-uwp窗口之间拖拽来移动文件，和从files-uwp的窗口拖拽文件到桌面，而不用在拖拽之后还要再点击一次复制到所在位置。

[2020-08-10 08:57] Jaiganeshkumaran commented on #1696
@Radcliffe-Bai Better dragging support is coming in the next version (0.13).

[2020-08-10 13:32] tsvietOK commented on #1692
![image](https://user-images.githubusercontent.com/20501502/89787930-06a67080-db27-11ea-84b0-cf8a9f0ba715.png)
It could be unreadable for some colors.

[2020-08-10 13:39] XPoppyX commented on #1692
the color change is for the icon, not the background

[2020-08-10 14:28] tsvietOK commented on #1692
Oops, sorry.
![image](https://user-images.githubusercontent.com/20501502/89793673-cfd45880-db2e-11ea-8242-fb46fe5e5951.png)
I think there is no sense in changing icon color.

[2020-08-10 14:54] XPoppyX commented on #1692
If the two tab states (selected and unfocused) have exactly the same color, users could still get confused with dark backgrounds  (and in dark mode), then the problem they mentioned about the user having trouble identifying which tab they are in is still unsolved.

But well, if you think that those things don't make sense, that's fine, I'll respect the decisions

[2020-08-10 15:12] #1696 closed

[2020-08-10 16:33] tsvietOK opened #1699 "Settings: Missing spaces before link buttons"
**Describe the bug**
Missing spaces before link buttons when enabled Ukrainian language

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings - About
2. See site and license links

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/20501502/89806663-12526100-db40-11ea-97c5-eeab1ef17b58.png)

**Desktop (plea

[2020-08-10 18:45] gave92 commented on #1653
We can probably do something smarter than clearing and reloading the whole bin contents. We should be able to just remove the deleted file from the list as with the other folders.

[2020-08-11 02:43] LinuxWincomn opened #1702 "A progress bar please?"
**Is your feature request related to a problem? Please describe.**
When I copy something to anywhere, there is no display of the progress.

**Describe the solution you'd like**
I think it could be better to have a progress bar for copping, deleting, cutting.

**Describe alternatives you've considered**
Maybe you can make it like this: when something is copied and pasted, a gray colored icon can be

[2020-08-11 02:47] LinuxWincomn commented on #1652
@Jaiganeshkumaran Sorry for the delay. I have tried twice, the first time gone nothing and the second time got crashed. Here is the log files.
[debug_fulltrust.txt](https://github.com/files-community/files-uwp/files/5054484/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/files-uwp/files/5054486/debug.txt)

[2020-08-11 02:53] XPoppyX commented on #1702
Duplicate of #114

[2020-08-11 05:38] xiaozhu2007 opened #1703 "I don't think the translation of complete"
I want the application to translate Chinese more completely, the current version of the "New Tab", Chinese should be "新标签页"
 I think this is a very good application, I hope it can be maintained like this!

[2020-08-11 07:14] candrapersada commented on #1650
Add the "[MediaInfo](https://mediaarea.net/en/MediaInfo/Screenshots)" tab in the properties window to show extra file information
![image](https://user-images.githubusercontent.com/36833664/89868124-7fb3cf80-dbdc-11ea-8c7d-dbbdd1af2175.png)

[2020-08-11 07:33] candrapersada opened #1704 "How to get my tabs back from the last time I opened a File UWP"
How can I restore a Files UWP session?

[2020-08-11 08:19] candrapersada commented on #1704
why not enable continue where you left off?
![tab](https://user-images.githubusercontent.com/36833664/89874408-fe613a80-dbe5-11ea-9a94-3393c8f352e6.PNG)

[2020-08-11 12:09] XPoppyX commented on #1704
This feature is not implemented yet

[2020-08-11 12:28] #1704 closed

[2020-08-11 12:30] #1702 closed

[2020-08-11 13:46] Jaiganeshkumaran opened #1705 "You need to double click on an about page item to open"
**Expected behavior**
On version 0.13, you need to double click on an about page item to open it which should not be the case. Also clicking should not select it. This can be done using SelectionMode="None". For clicking use the ItemClick event and make sure to enable IsItemClickEnabled.

[2020-08-11 23:17] #1699 closed

[2020-08-12 00:44] duke7553 commented on #632
Notes: Someone really needs to take a good look at improving the reliability of these operations especially when multitasking with different tabs.

I consider this issue a prerequisite for the Status UI.

[2020-08-12 05:43] yxhl opened #1707 "Cutting multiple folders causes the program to crash"
2020-08-12 13:40:22.6151|ERROR|Files.App|Access is denied. (Exception from HRESULT: 0x80070005)|System.UnauthorizedAccessException: Access is denied. (Exception from HRESULT: 0x80070005)
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() + 0x21
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task) + 0x70
   at System.Runtime.CompilerServices.TaskAwaiter.Handl

[2020-08-12 12:13] SOI7 opened #1708 "Opening new tab causes the app to crash"
This is the debug log:

2020-08-12 14:11:39.9499|INFO|Files.App|App launched|
2020-08-12 14:11:40.1061|INFO|Files.Filesystem.DrivesManager|Drive added: C:\, Fixed|
2020-08-12 14:11:40.1529|INFO|Files.Filesystem.DrivesManager|Drive added: D:\, CDRom|
2020-08-12 14:11:40.1842|INFO|Files.Filesystem.DrivesManager|Drive added: E:\, Fixed|
2020-08-12 14:11:45.2557|ERROR|Files.App|Puntatore non valido.

[2020-08-12 12:40] generalguy41 opened #1709 "Crash when opening a new tab when flyout is disabled"
**Describe the bug**
Program will crash when trying to open a new tab when the multitasking flyout is disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable multitasking flyout
2. Try to open a new tab

**Expected behavior**
Program will not crash

**Screenshots**
![ezgif-6-c992175ca4f6](https://user-images.githubusercontent.com/8879244/90015587-cce47f80-dc76-11ea-8ace-3b7ddb309e8

[2020-08-12 12:45] generalguy41 opened #1710 "Buttons in About page don't work"
**Describe the bug**
The 'Submit Feedback', 'Release Notes', and 'Contributors' buttons don't open anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > About page
2. Click on 'Submit Feedback', 'Release Notes', or 'Contributors'

**Expected behavior**
Should open their respective pages in browser.

**Desktop (please complete the following information):**
 - OS Version:

[2020-08-12 12:49] generalguy41 commented on #1710
Duplicate #1705

[2020-08-12 12:49] #1710 closed

[2020-08-12 12:53] XPoppyX commented on #1709
Duplicate of #1641

[2020-08-12 12:54] #1709 closed

[2020-08-12 12:55] XPoppyX commented on #1708
If it happens after disabling the multitasking flyout, then it is a duplicate of #1641

[2020-08-12 12:57] generalguy41 commented on #1590
Still applies in 0.13.0.0. Happens for me when going from the Home page to any of my local drives (not network drives though).

[2020-08-12 12:57] SOI7 commented on #1708
Oddly enough, multitasking was disabled by default after updating the app. Now I've disabled it and tabs work again

[2020-08-12 12:58] #1708 closed

[2020-08-12 13:20] generalguy41 opened #1712 "Crash when trying to open Desktop"
**Describe the bug**
Program crashes when opening Desktop.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to:
   a. Desktop in sidebar (if pinned)
   b. C > Users > your user > Desktop
2. Attempt to open

**Expected behavior**
Program should not crash

**Screenshots**
![ezgif-4-4aeff4d5a2b2](https://user-images.githubusercontent.com/8879244/90018835-88a7ae00-dc7b-11ea-9b4e-ef4581e3a1e2.g

[2020-08-12 13:58] R3voA3 opened #1713 "Crash when renaming"
Happened after fresh start of the app.

[debug.txt](https://github.com/files-community/files-uwp/files/5063199/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/files-uwp/files/5063200/debug_fulltrust.txt)

[2020-08-12 14:17] R3voA3 commented on #1705
Something else I'd like to add to the ticket:

Why not add the licence and webpage (source code) also as a button. This would clean up the About page even more.

![image](https://user-images.githubusercontent.com/17484252/90026174-42704000-dcb7-11ea-8ec9-508e47685042.png)

[2020-08-12 14:55] R3voA3 opened #1714 "App crashed and freezed when removing site which is opened on startup"
[debug.txt](https://github.com/files-community/files-uwp/files/5063537/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/files-uwp/files/5063539/debug_fulltrust.txt)

[2020-08-12 15:36] m0riii opened #1715 "Support ICON Folder"
Please add ICON Folder support for change icon like windows explorer

[2020-08-12 17:35] gave92 opened #1716 "App crashes when parsing/opening some shortcuts"
**Describe the bug**
App may crash with a "KeyNotFoundException" when browsing a folder that contains invalid shortcuts.
App may crash when clicking "Open File Location" for a shortcut and the destination does not exist.
App may crash when viewing properties of a shortcut and the destination does not exist.

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 1

[2020-08-12 19:24] xumepoc commented on #948
This seems to be fixed now :) My batch files are executing. Thank you!!!

[2020-08-12 19:24] #948 closed

[2020-08-12 19:49] #1716 closed

[2020-08-12 23:39] seohyun1108 commented on #1713
Me too

[2020-08-13 00:33] carmellolb opened #1725 "Proposal: Change current tab pane design to the default WinUI TabView (but with acrylic of course), rather than the current floating box style"

[2020-08-13 01:42] generalguy41 opened #1726 "Files should switch to new tab when one is opened"
**Is your feature request related to a problem? Please describe.**
Not related to a problem

**Describe the solution you'd like**
Files should automatically switch to the new tab when one is opened.

**Describe alternatives you've considered**
If not enabled by default, there should at least be an option in settings to enable it.

[2020-08-13 01:51] yaichenbaum commented on #1726
@soumyamahunt Can you confirm that you are still working on this?

[2020-08-13 01:53] yaichenbaum commented on #1725
There are no plans to change the design of the TabView at the moment, if you feel this change would benefit users, please fill out the issue template to help us understand how this would benefit users.

[2020-08-13 01:53] #1725 closed

[2020-08-13 02:02] generalguy41 opened #1727 "List view sorting arrows don't switch right away"
**Describe the bug**
When changing the sorting order from ascending to descending in any column, the arrow doesn't switch unless you switch from one column to another.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a folder in List view
2. Click on one of the column headers (Name, Status, Type, etc)
3. Switch from ascending to descending. Note the arrow doesn't change.
4. Click the he

[2020-08-13 02:05] generalguy41 commented on #1727
Not sure if I should open another ticket for this, but you also can't sort by 'Status' for synced items.

[2020-08-13 06:53] R3voA3 commented on #1713
Attach your log files, please.

[2020-08-13 08:50] d2dyno1 opened #1729 "Use nameof() instead"
**Is your feature request related to a problem? Please describe.**
There's nothing wrong with using `NotifyPropertyChanged("SomeProperty")`. The problem starts when the property gets renamed. You then must remember (and know where) to rename all the strings within `NotifyPropertyChanged("SomeProperty")` to avoid any hidden errors. With the new solution, VS wouldn't let you complile the app - point

[2020-08-13 10:01] Jaiganeshkumaran commented on #1729
@d2dyno1 Don't create an issue for code changes, create a pull request instead. Use the issues section only for reporting bugs and giving feedback.

[2020-08-13 10:51] d2dyno1 commented on #1729
Ok, I'll create a pull request

[2020-08-13 11:37] yaichenbaum commented on #1729
@Jaiganeshkumaran Issues should be created for everything in order to avoid changes that might not get approved.

[2020-08-13 11:38] Jaiganeshkumaran commented on #1729
But this is a just minor code change not an enhancement.

[2020-08-13 14:40] #1729 closed

[2020-08-13 16:43] Duffy-y opened #1731 "Drag&Drop not working as intended"
**Is your feature request related to a problem? Please describe.**
Not related to a problem

**Describe the solution you'd like**
![video](https://user-images.githubusercontent.com/53657346/90161981-3e662000-dd94-11ea-89c0-98914c175c8a.gif)
![Capture](https://user-images.githubusercontent.com/53657346/90162259-ab79b580-dd94-11ea-8b7f-bb8a6b6d6ff9.PNG)

When I try to move the folder "test" inside a

[2020-08-13 16:53] SOI7 opened #1732 ""Empty Recycle Bin" is greyed out in right-click context menu, even when Bin is full"
**Describe the bug**
The "Empty Recycle Bin" option in the right-click context menu of the Recycle Bin sidebar item is always greyed out, regardless if the Bin is empty or full

**To Reproduce**
1) Right click on Recycle Bin from the sidebar
2) See the option

**Expected behavior**
The option should be greyed out only when the Bin is empty

**Desktop (please complete the following information):**

[2020-08-13 18:39] ChenShihuan commented on #1631
this bug had been fixed in the latest release! thanks!🎉🎉🎉~

[2020-08-13 20:26] Talisman39ar commented on #1731
Drag and drop is now working for me with the latest version, thank you! But yes I have this same issue.
I usually like to try and drag into an open area if I can to avoid inadvertently dropping something into a folder (esp if it's nothing but folders shown in the list)

[2020-08-14 00:30] #1596 closed

[2020-08-14 00:30] #1653 closed

[2020-08-14 01:45] gave92 commented on #1676
Judging from the log file this issue is the same as the one fixed here: #1717 (KeyNotFoundException due to shortcuts)

[2020-08-14 01:46] gave92 commented on #1712
Judging from the log file this issue is the same as the one that was (hopefully) fixed with #1717 (KeyNotFoundException due to shortcuts)

[2020-08-14 08:42] Jaiganeshkumaran opened #1737 "Crash when immediately switching while a folder is being loaded"
**Describe the bug**
When you instantly switch while the folder loads, the app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new tab.
2. Click on a large folder pinned on the sidebar
3. Switch two the another tab very fast
4. App will crash

**Expected behavior**
App shouldn't crash and the refresh task should run in background.

**Screenshots**
If applicable, add screens

[2020-08-14 08:50] gave92 commented on #1737
@Jaiganeshkumaran could you check if this issue still exists on master? If we're lucky it got fixed with [this](https://github.com/files-community/files-uwp/pull/1718/files#diff-c66272bf7eb1f57b0287c4466394719bL1153)

[2020-08-14 08:54] Jaiganeshkumaran commented on #1737
@gave92 But that's for the recycle bin. I will build the latest branch and try it.

[2020-08-14 08:55] antnauman opened #1738 "Selection with mouse drag"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-14 08:57] gave92 commented on #1737
@Jaiganeshkumaran yeah the PR was for the recyclebin, but looking at the stacktrace it looks like that change may solve this issue too (error is NullReferenceException and the PR adds a null check to the `UpdateDirectoryInfo()` function)

[2020-08-14 08:57] antnauman commented on #1738
Please make able to select file/folders using mouse click and drag.

[2020-08-14 08:59] Jaiganeshkumaran commented on #1738
@antnauman Duplicate of #94

[2020-08-14 09:01] Jaiganeshkumaran commented on #455
@leyheart We now have a Discord server: https://discord.com/invite/mr5hVu8

[2020-08-14 10:13] Duffy-y commented on #1731
I made an error, the drag&drop feature in the void is working in every view type except in list mode/view.
Maybe the issue should swap to bug and not feature-request.

[2020-08-14 12:07] #1738 closed

[2020-08-14 18:59] #1451 closed

[2020-08-14 18:59] #1626 closed

[2020-08-14 18:59] #1713 closed

[2020-08-15 01:59] Nuzza opened #1739 "Switch to newly opened tab"
Perhaps add an option within settings that would set a newly opened tab as active (switch to) as currently when clicking the plus button (for a new tab) or opening a folder in a new tab does create the new tab, but doesn't switch to it as you would expect. If you take a look at how Chrome handles new tabs and you will see that it switches to it straight away without the user having to manually sel

[2020-08-15 03:13] generalguy41 commented on #1739
Duplicate of #1726

[2020-08-15 06:48] gave92 commented on #1684
This should be fixed with #1736

[2020-08-15 09:52] X-Jackdaw opened #1741 "Add new tab bug"
**Describe the bug**
The application crashed when adding a new tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'settings'
2. Close the experimental function _**Show mulitasking flyout in the navigation toolbar**_
3. Go back and click the add new tab button
4. See error

**Screenshots**
![2020-08-15 17-38-33](https://user-images.githubusercontent.com/48050957/90309943-967d5d80-df1f

[2020-08-15 12:02] XPoppyX commented on #1741
Duplicate of #1641

[2020-08-15 12:58] lorisobi opened #1742 "When german translation isn't available it should use english"
Right now when a string isn't translated to german the app uses the russian version. Even if some people in german-speaking countries understand russian and can read cyrillic it are way less than people understanding english. So Files should use the english strings when german isn't available

![image](https://user-images.githubusercontent.com/28399150/90312932-91f97a80-df08-11ea-9ae3-357bad965f83

[2020-08-15 13:01] Elttob opened #1743 "Move floating tabs to main area"
I've been using this app for a while now and have loved the clean and modern design of it so far.
However in the latest update, floating tabs don't seem to align with anything in the interface, making it look somewhat messy:

![image](https://user-images.githubusercontent.com/11815374/90312819-8e152a80-deff-11ea-9586-810b187e9507.png)

A potential improvement could be to move the floating tabs int

[2020-08-15 13:03] gave92 opened #1744 "App crash when copying file to USB drive"
**Describe the bug**
App crashes with NullReferenceException when copying/deleting file to USB drive *if* you first navigate to Home Page

**To Reproduce**
Steps to reproduce the behavior:
1. Copy file
2. *Navigate to Home Page*
3. Navigate to USB drive
4. Paste file
5. App crashes

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 1903 18362.175]
 - App vers

[2020-08-15 14:22] gave92 opened #1746 "App crash when a folder from a USB device is pinned to the sidebar and drive is disconnected"
**Describe the bug**
App crashes when opening the app and a folder from a USB device is pinned to the sidebar and drive is disconnected.

**To Reproduce**
Steps to reproduce the behavior:
1. Pin a folder from a USB drive to the sidebar
2. Disconnect USB drive
3. Reopen app
4. App crashes

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 1903 18362.175]
 - Ap

[2020-08-15 14:49] gave92 opened #1747 "Consent dialog for broadFileSysteAccess is not shown"
**Describe the bug**
App never shows consent dialog for broadFileSystemAccess permission (e.g after install, or if the capability is disabled in Settings)
This causes the app to launch without crashing but the only drive listed in the sidebar is the OneDrive folder and most operations fail with UnauthorizedAccessException.
Users may not know to go to Settings and enable permission without being in

[2020-08-15 15:32] astalavista5000 commented on #750
Hi,

I noticed that there seems to be new testing with the UI which currently makes the app look odd.
I’ve been looking around at the Microsoft new approach (if they don’t change everything again) and I made the below
<made with paint since I don’t have knowledge with Adobes>

[cid:image001.png@01D6732A.0A6C78F0]

The sidebar can be made (if Microsoft released the APIs) like the new Dashboard of O

[2020-08-15 15:53] duke7553 commented on #1743
The reason we changed them to span the entire app width is that the TabView shouldn't be on the same level as the left Sidebar. Having them above the right side only is bad design because it implies the tabs are specific to the app content. If you can come up with ways to make the existing design feel more connected, please open a new issue.

[2020-08-15 15:53] #1743 closed

[2020-08-16 00:10] Jackaroo05 opened #1748 "Ability to extract .rar files"
**Is your feature request related to a problem? Please describe.**
With .rar files being worked with a lot, it would be nice to have the ability to extract them via the context menu

**Describe the solution you'd like**
I would like to be able to extract .rar files via the context menu and create a subfolder in the same folder of the .rar with the .rar contents inside.

**Describe alternatives you

[2020-08-16 02:26] #1739 closed

[2020-08-16 02:26] #1741 closed

[2020-08-16 02:29] yaichenbaum commented on #1742
@lorisobi Files UWP already defaults to English, if there is a translation available for the language a user sets then the app will use that instead.

[2020-08-16 02:29] #1742 closed

[2020-08-16 05:20] winiston2212 commented on #721
I don't know if this is still being worked on, but I think it would be useful to also show cloud drive sync status and shortcut destinations in the tooltip.

Cloud drive:
![image](https://user-images.githubusercontent.com/59544401/90327058-9cd20080-df44-11ea-9b3a-725b71872fdd.png)
![image](https://user-images.githubusercontent.com/59544401/90327106-0fdb7700-df45-11ea-8141-3febd0f9fc3b.png)

Shortc

[2020-08-16 06:23] lorisobi commented on #1742
But why does Files show some Strings to me in Russian?

[2020-08-16 06:43] ChihweiLHBird commented on #1747
Where can I disable broadFileSystemAccess permission for Files UWP in Settings? I did not find this option...
![image](https://user-images.githubusercontent.com/43905414/90328408-15d75500-df51-11ea-9239-ccfb809bdb2b.png)

[2020-08-16 06:51] ColbertBrave opened #1749 "Sarasa-Gothic font may look better if it's taken in UI"
Now the font seems to be calibra and microsoft Yahei. They look ordinary.  Sarasa-Gothic font may look better if it's taken in UI.

You can download it here: https://github.com/be5invis/Sarasa-Gothic

[2020-08-16 09:05] gave92 commented on #1747
@ChihweiLHBird it's under Settings > Privacy > File System

[2020-08-16 14:35] yaichenbaum commented on #1749
We plan to continue using Segoe UI as it's the recommended font for Windows apps.

[2020-08-16 14:35] #1749 closed

[2020-08-16 14:52] #1747 closed

[2020-08-16 15:00] #1645 closed

[2020-08-16 15:10] Jaiganeshkumaran commented on #1748
Related to #1562

[2020-08-16 15:16] Jaiganeshkumaran commented on #1747
@gave92 Actually Files doesn't appear in the File system permissions in 2004+ as it grants the permission automatically if you also had a full trust component.

[2020-08-16 15:18] gave92 commented on #1747
@Jaiganeshkumaran Thanks for the info. Might still be worth to fix this since we support older versions as well

[2020-08-16 15:20] yaichenbaum commented on #1747
@Jaiganeshkumaran The dialog only comes up on older versions.

[2020-08-16 15:22] Jaiganeshkumaran commented on #1747
@yaichenbaum I know that since 2004 allows users to grant right from the app instead of settings but if you are wondering why it's not shown in the list it is because of the full trust component.

[2020-08-16 15:24] yaichenbaum commented on #1747
2004 non longer requires access to the file system for apps with a full trust component, because of this, the consent dialog won't show in the first place.

[2020-08-16 15:31] gave92 commented on #1747
Even in 2004 if the user switches off the "global" switch for the filesystem permission (the one for all the apps) it will still affect Files UWP

[2020-08-17 07:57] Jaiganeshkumaran commented on #1737
@gave92 I tried it and it still seems to crash but this time it needs to be done extremely fast (< 50ms). Regular users may not notice it but we should fix it.

[2020-08-17 15:34] yolong-lin opened #1751 "open specify directory from terminal"
**Is your feature request related to a problem? Please describe.**
No relate to any issue.

**Describe the solution you'd like**
open specify directory from terminal, like `explorer.exe`

**Additional context**

[2020-08-17 18:33] tobias-mayer commented on #1732
@SOI7 this should be fixed with my PR for #1420.
The PR was not included in the latest release. As soon as this is released, this Bug should be fixed.
With the current version of the code everything is working fine for me.

[2020-08-18 00:20] Talisman39ar commented on #1746
I don't know if this is related, but I have 2 "zombie" USB files that always appear in the sidebar. Both are SD cards from my cameras I think - neither of which are present but which still show up in Files (but not in File Explorer). Log file is showing them as Removables. Files UWP is still being super crashy for me, it rarely lasts more than a few seconds, so it's just not worth me using it righ

[2020-08-18 00:48] #507 closed

[2020-08-18 00:49] yaichenbaum commented on #333
@Jaiganeshkumaran Are you still working on this issue?

[2020-08-18 00:52] yaichenbaum commented on #975
After exploring the options here, we decided to continue with the existing colors as they follow the current guidelines. If someone is interested, they can try adding another theme option and if we like it we will merge it in.

[2020-08-18 00:52] #975 closed

[2020-08-18 00:58] yaichenbaum commented on #1089
Thank you for all your feedback, some of the mentioned have since been addressed but here are some of the ones that were not yet addressed that we think should be solved before closing this issue

- [ ] Recycle bin could also use different icons for when it's empty or not. Also, right now I need to refresh it to see changes after emptying it
- [ ] I was testing file restoration, and all are restor

[2020-08-18 00:59] yaichenbaum commented on #1077
@Mazzupa This issue should be resolved in v0.13.

[2020-08-18 00:59] #1077 closed

[2020-08-18 01:00] yaichenbaum commented on #1028
Merging with #174.

[2020-08-18 01:00] #1028 closed

[2020-08-18 01:01] yaichenbaum commented on #1019
Merging with #174.

[2020-08-18 01:01] #1019 closed

[2020-08-18 01:02] yaichenbaum commented on #174
@BuraChuhadar Can you share a status update where things are with this issue? Thank you 😃

[2020-08-18 01:04] yaichenbaum commented on #1306
@Jaiganeshkumaran Is this still an issue with v0.13.1?

[2020-08-18 03:28] gave92 commented on #1397
Hello all, I'd like to share some progress i did on this feature.
This is what I'm getting right-clicking on a folder inside OneDrive:

![image](https://user-images.githubusercontent.com/9673091/90466909-2e8f6880-e113-11ea-9d53-6f5b49b8c987.png)

There's Open in Visual Studio, 7-Zip submenu and OneDrive actions (e.g "free up space", "always keep on this device") and they work :)

[2020-08-18 03:35] Jaiganeshkumaran commented on #1306
@yaichenbaum Actually I found out that this is an SDK issue. Building against 2004 on 1903 doesn't work properly and this even occurs when building other projects.

[2020-08-18 03:35] #1306 closed

[2020-08-18 03:36] Jaiganeshkumaran commented on #1751
@yolong-lin You can already do this by typing files.exe /DirectoryPath

[2020-08-18 03:52] Jaiganeshkumaran commented on #1397
@gave92 What about icons for custom shell menu items?

[2020-08-18 03:57] gave92 commented on #1397
@Jaiganeshkumaran We can probably add them but there's a small issue. Currently I get the icons as byte arrays and I can convert them easily to BitmapImage, unfortunately MenuFlyoutItem wants a BitmapIcon instead and I don't thinks you can convert BitmapImage -> BitmapIcon and BitmapIcon cannot be created from byte array :/

[2020-08-18 04:05] Jaiganeshkumaran commented on #1397
@gave92 BitmapIcon supports loading PNG images from local app Uri. We could save it in LocalFolder and then set the URI source to ms-appdata://local/<icon>.png

https://docs.microsoft.com/de-de/uwp/api/windows.ui.xaml.controls.bitmapicon?view=winrt-19041

[2020-08-18 04:35] Jaiganeshkumaran opened #1753 "Files looks worse in high contrast themes"
**Describe the bug**
Currently Files UWP doesn't work properly in high contrast themes and there are a lot of issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to any high-contrast theme
2. Open and use Files UWP
3. You'll notice that the design is inconsistent and worse

**Expected behavior**
App should look like any other app in high contrast themes.

**Screenshots**

![திரைப்