[2020-10-19 17:08] gave92 commented on #2118
Curious you should be able to. Have you tried clicking on an item first and then click a second time to drag it?
![ezgif com-gif-maker](https://user-images.githubusercontent.com/9673091/96488445-4cc23380-123e-11eb-904b-9fa09c3ffba2.gif)

[2020-10-19 17:59] yaichenbaum commented on #1052
@tsvietOK Is there an issue on their repo?

[2020-10-19 18:10] tsvietOK commented on #1052
@yaichenbaum As mentioned [here](https://github.com/microsoft/microsoft-ui-xaml/issues/3085#issuecomment-671054773) this bug should be resolved in preview version of microsoft-ui-xaml library.

[2020-10-19 18:22] yaichenbaum commented on #1052
Thank you for the update, I am closing this issue since it will be fixed in the new release of WinUI.

[2020-10-19 18:22] #1052 closed

[2020-10-19 18:34] pitchtheripoff commented on #2118
Yes, I tried that. It seems to not work for stuff like shortcuts.

[2020-10-19 18:35] gave92 commented on #2118
@pitchtheripoff correct shortcuts can't be dragged. (UWP limitation don't know a way around)

[2020-10-19 18:44] pitchtheripoff commented on #2118
So it's impossible to make shortcuts dragged?

[2020-10-19 18:46] gave92 commented on #2118
Currently it's not possible. Hopefully we can find a way to enable it.

[2020-10-19 18:47] pitchtheripoff commented on #2118
Oh, that's a bummer. Thank you for elaborating.

[2020-10-19 18:47] #2118 closed

[2020-10-20 04:08] JonathanFerraz opened #2120 "Bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-10-20 05:08] komals1 opened #2121 "Pin option for Copy dialog box, as well more background progress of copying"
Copy dialog box auto hides every time, please add pin option for that, and as well the process of copying are not accurate and not very interactive, would be great either to see all processes in new tab, or to have UI like the window copy system have, just to interact with it more easily for now.

[2020-10-20 08:52] Jaiganeshkumaran commented on #985
@duke7553 Here's an idea. Create a fake blank foreground and make it transparent

[2020-10-20 09:44] AshTheGreat98 opened #2122 "L ig d"

[2020-10-20 11:58] yaichenbaum commented on #2121
@duke7553

[2020-10-20 11:59] #2120 closed

[2020-10-20 11:59] Jaiganeshkumaran commented on #2122
@AshTheGreat98 Please explain what this means?

[2020-10-20 11:59] #2122 closed

[2020-10-20 13:17] yaichenbaum commented on #2011
@DanielSlincak Sort by date is not necessary, we only plan to implement the option to reorder the pinned items manually.

[2020-10-20 14:16] DanielSlincak commented on #2011
@yaichenbaum Okay, should I disable it, or remove all the code for the implementation as well? You can check it in the pull request.

[2020-10-20 14:54] yaichenbaum commented on #2011
@DanielSlincak You should probably remove the code for the sorting option.

[2020-10-20 16:26] hez2010 opened #2124 "Proposal: Make translation resources as dedicated add-ons"
**Describe the solution you'd like**
In general, the frequency of translation updates is higher than application updates, and it'll be better if translations are updated independently depart from the application.

In order to achieve this, translations can be published as "add-ons" just like "Windows localization experience pack", and it will enable files-uwp to fix/update/add translations without

[2020-10-20 16:59] yaichenbaum commented on #2124
As of now, most of the people translating the app do the translations at the end of each development cycle when the strings are changing anyway. Because of this, I don't think making them an add-on will provide any benefits.

[2020-10-20 18:57] shaoran007 opened #2125 "bug report"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-10-20 19:40] #2125 closed

[2020-10-20 23:00] duke7553 commented on #2124
@hez2010 I like the thinking behind this idea. Because these resources are updated frequently, it would make sense to have the ability to ship them on-demand and out of band. We have a rapid release cadence currently, but resource packages would definitely be something to consider once the app leaves beta.

For reference purposes, can you find the docs for the structure of resource packages with M

[2020-10-20 23:01] duke7553 commented on #1514
FYI: #2124

[2020-10-21 02:23] Jaiganeshkumaran commented on #2124
No need. Add ons should be provided for features and not for strings. Also, the store will only download the language the user really knows so this has no effects.

[2020-10-21 13:07] daoloc opened #2127 "Suggest an idea for Files UWP"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-21 13:07] #2127 closed

[2020-10-21 15:41] yaichenbaum opened #2128 "Add an option to open a directory when a user is dragging items and hovers over a folder for a few seconds"
Add an option to open a directory when a user is dragging items and hovers over a folder for a few seconds.

[2020-10-21 15:50] yaichenbaum opened #2129 "Add a setting to always open folders in a new tab"
Add an option to open folders in a new tab instead of opening in the existing tab.

[2020-10-21 17:41] duke7553 commented on #1753
Thank you for creating this feedback item. A solution for it is currently being reviewed as a PR (pull request) to our active development branch. We'll let you know once it's merged.

[2020-10-21 17:43] duke7553 commented on #2129
@yaichenbaum This already exists for three or less items, iirc

[2020-10-21 17:44] yaichenbaum commented on #2129
@duke7553 This proposal is regarding a setting to make them always open in a new tab.

[2020-10-21 18:14] yaichenbaum commented on #333
Just checking up to see if you are still working on this or if you need any help.

[2020-10-21 18:59] #1753 closed

[2020-10-22 00:49] GameBoyYeet opened #2131 "Make the library cards customizable like the sidebar"
**Is your feature request related to a problem? Please describe.**
No, this feature request is not related to a problem.

**Describe the solution you'd like**
I want a Desktop tile on the Home tab (look at additional context to see what I mean)

**Describe alternatives you've considered**
None

**Additional context**
Add any other context or screenshots about the feature request here. Ex: What dev

[2020-10-22 02:30] duke7553 commented on #2070
@ZzzzzzzSkyward Can you post some screenshots?

[2020-10-22 02:36] duke7553 commented on #2109
@Concorde1234 Thank you for reporting this issue. Can you also post the regular log file called "debug.txt"?

[2020-10-22 02:39] Concorde1234 commented on #2109
[debug.txt](https://github.com/files-community/Files/files/5419699/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/5419700/debug_fulltrust.txt)

These are the only log files I found. Is this what your looking for?

[2020-10-22 03:44] #94 closed

[2020-10-22 03:44] #1731 closed

[2020-10-22 08:43] alanchen20 opened #2133 "fail to access the netdisk"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-10-22 12:57] yaichenbaum commented on #2133
@alanchen20 Can you please fill out the issue template?

[2020-10-22 12:58] #1484 closed

[2020-10-22 12:59] Jaiganeshkumaran commented on #2131
Actually, we should make it more customizable and more colourful and add more options.

[2020-10-22 15:30] yaichenbaum commented on #2124
@hez2010 After looking into it, an add-on will not give any additional benefits since it will require us to submit an update to the store and go through the same certification process as a regular update. If you have any additional feedback, please let us know by opening a new issue.

[2020-10-22 15:30] #2124 closed

[2020-10-22 15:46] boscorelly commented on #2080
[debug_fulltrust.txt](https://github.com/files-community/Files/files/5423930/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/Files/files/5423931/debug.txt)

[2020-10-22 18:47] gave92 commented on #1161
I'd love to see this feature implemented :)
I did some research and tests on this and I currently found two options:
1) Store tags inside the files with Alternate Data Streams
- Pro: tags will not get lost if the file is moved/renamed/modified as long as the file stays on NTFS
- Pro: fully UWP (I did not know you could read/write ADS from UWP!)
- Con: ADS are not indexed by Windows Search so looki

[2020-10-22 20:00] GameBoyYeet commented on #2131
I agree with @Jaiganeshkumaran, there should be much more customization like in Windows Explorer

[2020-10-22 22:51] chingucoding opened #2134 "Accesibility: Few buttons/elements and breadcrumb missing descriptive UIA names"
**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

A few buttons in Files - Preview are missing UIA names resulting in them being announced as "button" instead of a descriptive name indicating what the function of the button is.

In

[2020-10-23 02:20] Jaiganeshkumaran commented on #1161
@gave92 We can use ADS and also it doesn't need to be indexed because Windows Search only supports properties.

[2020-10-23 05:34] gave92 commented on #1161
@Jaiganeshkumaran you can actually store properties in ADS. E.g. you can add the standard "comments" property to any kind of file.
Unfortunately as I said this does not help us as those properties will not be indexed :(

[2020-10-23 14:31] yaichenbaum commented on #1649
@PruvostMaxime Would you like to work on this issue?

[2020-10-23 14:32] yaichenbaum commented on #1561
@soumyamahunt Is this still an issue with v0.17?

[2020-10-23 14:33] yaichenbaum commented on #1536
@gave92 Can we reuse the code we used for OneDrive here?

[2020-10-23 14:34] yaichenbaum commented on #1655
@seohyun1108 Is this still an issue in v0.17?

[2020-10-23 16:17] PruvostMaxime commented on #1649
Yeah,it's would be a pleasure !
So i could even check if there is other missings translations :D

[2020-10-23 16:25] gave92 commented on #1536
@yaichenbaum i don't think so. OneDrive stores the offline/online status in a file property. Tortoise likely uses "icon overlays". If so, you can surely get the icon from the fulltrust process, don't know if you can get it directly from uwp.

[2020-10-23 17:37] yaichenbaum commented on #1649
@PruvostMaxime That is great! Let us know if you have any questions.

[2020-10-23 17:48] GameBoyYeet opened #2135 "Add support for opening archives inside Files"
**Is your feature request related to a problem? Please describe.**
I can't open *.zip files in Files UWP.

**Describe the solution you'd like**
Add support for *.zip files

**Describe alternatives you've considered**
Use 7z, Explorer, etc.

**Additional context**
Add any other context or screenshots about the feature request here. Ex: What device type/UI layout and app version?
None

[2020-10-23 18:30] PruvostMaxime commented on #1649
Thanks !
And no problem,i'm gonna do it this weekend.

[2020-10-23 18:31] XPoppyX commented on #2135
Duplicate of #45

[2020-10-23 23:21] winston-de commented on #2093
@Thomas1664 What changes have you been working on and/or are planning to work on? I'm asking because I have been working on moving the properties to a ListView bound to a single list of properties, and don't want our changes to conflict.

[2020-10-23 23:44] Thomas1664 commented on #2093
@winston-de I didn't chang much of the layout so there should be no conflicts. I focused more on codebehind. My plan is to add translation strings but maybe it is discussable which properties actually need to be on the details tab since some are already included in the general page.

I will open a PR in a few hours.

[2020-10-24 21:23] Thomas1664 opened #2137 "Selection rectangle: Don't clear selection if ctrl is pressed"
**Describe the bug**
When starting selection rectangle and holding CTRL, the current selected item gets deselected.

**To Reproduce**
Steps to reproduce the behavior:
1. Select an item
2. Hold `CTRL`
3. Trigger selection rectangle
4. See error

**Expected behavior**
Don't clear selection

**Desktop (please complete the following information):**
 - OS Version: [Windows 10 2009]
 - App version: [mas

[2020-10-25 00:48] yaichenbaum commented on #2134
#2139 should resolve this issue.

[2020-10-25 01:26] #2054 closed

[2020-10-25 02:09] #261 closed

[2020-10-25 02:16] yaichenbaum commented on #261
This issue should be resolved with #2130.

[2020-10-25 05:51] Lolihunter1337 opened #2140 "Winrar Icons are flipped"
**Describe the bug**
Some icons are flipped in the right click menu. i can only see this with the winrar icon so not sure if there are more
**To Reproduce**
Steps to reproduce the behavior:
1. Go to any Winrar file ( or any item where the "winrar options" show )
2. Right click it
3. See the winrar icon flipped

**Expected behavior**
Icon should not be flipped

**Screenshots**
Files UWP
![image](ht

[2020-10-25 07:57] chingucoding commented on #2134
#2139 did not fix the issue with the breadcrumbs being announced as "Files.Views.Pager.PathBoxItem" instead of a descriptive UIA name. Should I open a new issue or do you want to reopen this issue?

[2020-10-25 09:22] gave92 commented on #2140
@Lolihunter1337 thanks for reporting this. I think this was reported before but I could not reproduce it.
What version of winrar do you have installed?

[2020-10-25 09:23] Lolihunter1337 commented on #2140
@gave92
![image](https://user-images.githubusercontent.com/17437302/97103350-16583e80-16ac-11eb-835e-2b41ec265f17.png)

[2020-10-25 10:16] Pandaver commented on #468
1. Create a backup of the registry.
2. Open the registry editor.
3. Navigate to `Computer\HKEY_CLASSES_ROOT\Folder\shell\opennewwindow\command`
4. Set the default keys value to `C:\Users\!YOURUSERNAME!\AppData\Local\Microsoft\WindowsApps\files.exe -Directory %1`
5. Delete the DelegateExecute key

[2020-10-25 12:07] gave92 commented on #2093
@Thomas1664 while reviewing your PR (nice job anyway!) I found a couple of additional issues with the current implementation of the Details tab:
1- For some file types it will show properties the file doesn't have: e.g ".txt" files don't have a "Title" property
2- For some file types app will crash when clicking "Clear Personal Info" button

[2020-10-25 12:16] gave92 commented on #2140
@Lolihunter1337 thanks I can confirm this too

[2020-10-25 12:52] yaichenbaum commented on #2134
@chingucoding I didn't realize this issue included those, can you reopen and edit the description?

[2020-10-25 12:56] chingucoding commented on #2134
Updated the title and adjusted the description (even though it already included the breadcrumb). Unfortunately, I can't reopen this issue, so this is something you have to do.

[2020-10-25 13:31] yaichenbaum commented on #2134
@chingucoding Thank you for editing the description, I will try to work on this later today.

[2020-10-25 13:34] yaichenbaum commented on #2134
@chingucoding Also, my appoligies for missing that you included the breadcrumb the first time, I was going off the screenshot you shared and somehow missed it.

[2020-10-25 13:35] chingucoding commented on #2134
Don't worry about it, the order of text and screenshot was chosen poorly on my side.

[2020-10-25 14:49] #2140 closed

[2020-10-25 15:23] yaichenbaum commented on #306
This issue should be resolved with #2142.

[2020-10-25 15:23] #306 closed

[2020-10-25 15:23] yaichenbaum commented on #917
This issue should be resolved with #2142.

[2020-10-25 15:23] #917 closed

[2020-10-25 15:24] yaichenbaum commented on #927
This issue should be resolved with #2142.

[2020-10-25 15:27] osieltorres opened #2144 "Navigation shortcuts don't work when any folder / file is selected"
**Describe the bug**
The navigation shortcuts for `Alt + arrows` don't work if at least one **folder / file** is selected, , but it does when nothing is selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app.
2. Open any folder.
3. Select any ** folder / file** inside, then try to use the shortcuts to go back or up.
4. If `Alt+ up / down` arrows are pressed, only moves the se

[2020-10-25 15:37] R3voA3 opened #2145 "Bug: App crashes when opening a lot of tabs"
**Steps to reproduce**
- Open many tabs very quickly by holding CTRL + T.

**Requirements**
Fix crash when opening many tabs

[debug_fulltrust.txt](https://github.com/files-community/Files/files/5434978/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/Files/files/5434979/debug.txt)

[2020-10-25 15:42] R3voA3 opened #2146 "Tab bar does interfere with close, minimize and maximize button"
1. Use the app in full screen mode
2. Create so many tabs that the whole screen width is used
![image](https://user-images.githubusercontent.com/17484252/97111761-de1f2300-16e0-11eb-8c55-fbd2c46d8d14.png)

3. Resize the app window
![image](https://user-images.githubusercontent.com/17484252/97111770-ea0ae500-16e0-11eb-8a76-6cb189d35f84.png)

4. Use the app again in full screen mode
5. Note how the

[2020-10-25 15:56] #2134 closed

[2020-10-25 15:59] gave92 commented on #2146
Looks like #2024

[2020-10-25 16:02] #2146 closed

[2020-10-25 17:01] #2144 closed

[2020-10-25 17:02] #1536 closed

[2020-10-25 17:37] Jackaroo05 opened #2150 "KERNELBASE.dll Crash"
Hello. Every once in a while, the application crashes with that action center pop up and when I go to event viewer, It shows that it crashed from KERNELBASE.dll.

I am running the beta.

`Faulting application name: Files.exe, version: 1.0.0.0, time stamp: 0x5f94e799
Faulting module name: KERNELBASE.dll, version: 10.0.19041.572, time stamp: 0x1183946c
Exception code: 0xc000027b
Fault offset: 0x0000

[2020-10-25 18:09] gave92 commented on #2150
@Jackaroo05 could you post the app's log files? You can access them from Settings->About->Open log location. Thanks!

[2020-10-26 02:15] #2085 closed

[2020-10-26 02:16] yaichenbaum commented on #2085
This issue should be resolved with #2153.

[2020-10-26 03:12] Xiloadin opened #2155 "Bug Open Context Menu File UWP"
**Describe the bug**
The error proceeds by opening the context menu that proceeds to give more information about a file or program, unexpectedly happening since this seemed to have been resolved and that it had fully worked in the time that I was using it. it only happens with the new version 0.17.4.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'file or program'
2. Click on 'right'

[2020-10-26 03:46] Jaiganeshkumaran commented on #2065
For me pictures folder, this app consumes over 200 MB in tiles view compared to just 60 in File Explorer. Also, it's very slow in loading in some layout modes.

[2020-10-26 11:43] boscorelly commented on #2080
i just tried with 0.17.4 to access the root of the shared folders, and app crashed
[debug.txt](https://github.com/files-community/Files/files/5438524/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/5438525/debug_fulltrust.txt)

[2020-10-26 11:44] boscorelly commented on #2080
and problem is still present :
![image](https://user-images.githubusercontent.com/3873787/97168613-06faf300-1789-11eb-8933-192a0ca75bfc.png)

[2020-10-26 16:41] MeirKlemp commented on #1844
I would like to be assigned to this issue.

[2020-10-26 20:07] khiivl commented on #2066
middle mouse button would be nice too.

[2020-10-27 09:16] hariprasad26091993 opened #2158 "Recycle bin bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-10-27 12:01] #2158 closed

[2020-10-27 14:01] Eyji opened #2159 "Win+E"
**Is your feature request related to a problem? Please describe.**
Open the file manager with the standard Win+E shortcut.

**Describe the solution you'd like**
An option to activate the Win+E shortcut

**Describe alternatives you've considered**
- Switching back to Microsoft's solution
- Edit the registry myself
- Replace the file manager but it's unsupported, right ?

**Additional context**
Win+

[2020-10-27 14:12] yaichenbaum commented on #2159
The best option is to try editing the registry or to use software to remap the keys. We don't plan to edit the registry from the app because it can cause issues if the user were to uninstall the app at some point.

[2020-10-27 14:12] #2159 closed

[2020-10-27 18:07] JavkhlanK opened #2160 "Dropping a file from Your Phone app crashes Files UWP"
**Describe the bug**
Trying to drop a file (I tried a video and a photo) from your phone's mirrored screen on the Your Phone app on Files UWP crashes the app (A box with the No-Icon appears for a while and then a notification pops up that says Files crashed)

**To Reproduce**
Steps to reproduce the behavior:
1. Mirror your phone's screen on the Your Phone app (Samsung-device required) and open the

[2020-10-27 19:03] Diazz72 opened #2161 "Files as default explorer"
Hi, is there an option to make File a default explorer ( for example in Chrome if I select Show file to open it in Files ), if not...is there a plan to add this feature in the future ( if possible )?

Regards, Diazz72.

[2020-10-27 19:29] yaichenbaum commented on #2155
@Xiloadin Can you reproduce this issue in v0.18?

[2020-10-27 19:37] gave92 commented on #2161
There is procedure you can follow to achieve this -> see [here](https://github.com/files-community/Files/wiki/Replacing-File-Explorer-with-Files-(Unsupported)).
But I think it has more downsides than ups (e.g losing access to control panel).

[2020-10-27 19:43] Diazz72 commented on #2161
Thanks, this will be gr8 :).

[2020-10-27 19:44] #2161 closed

[2020-10-27 20:12] gave92 commented on #2160
Thanks for reporting this.
Reading [around](https://docs.microsoft.com/en-us/answers/questions/38974/how-to-drag-and-drop-image-from-wpf-application-to.html) it appears to be a known uwp limitation. UWP can only receive files if they point to physical location on disk.
I'm not sure if we'll be able to solve this :(
(We can for sure handle the error to avoid the crash and show an error message inst

[2020-10-27 22:02] gave92 commented on #2160
Duplicate of #2003

[2020-10-27 22:02] #2160 closed

[2020-10-27 22:06] gave92 commented on #2023
Reading around it appears to be a known uwp limitation. UWP can only receive files if they point to physical location on disk.
If you drag a file from e.g winrar it will crash with a `System.Exception Invalid FORMATETC Structure`
I wouln't know how to solve this
(Obviously we can at least handle the error to avoid the crash and show an error message instead)

[2020-10-28 00:08] fasolatha opened #2164 "Files crashes when attempting to access unmounted ISO"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure that there is ISO mounted via Windows Explorer.
2. "Eject" said ISO from Windows Explorer
3. Attempt to view file contents from ISO mount path in Files under Drives

**Expected behavior**
ISO should be removed dynamically when Ejected from Windows E
[debug.txt](http

[2020-10-28 16:20] #1844 closed

[2020-10-28 16:59] #2128 closed

[2020-10-28 18:37] yaichenbaum opened #2170 "Right clicking in a directory when an item is selected will show the shell context menu items for the selected item instead of the current directory"

[2020-10-28 18:52] osieltorres commented on #2121
Would be great if an independent UI could be added for operations, but different from current implementation, or at least, that the right bottom operation panel shows inmediately after opration starts, it would give to the user better experience as well as notify that the operation is happening. For me, it has happened that I have pasted some copy, but I am never sure that is being happening until

[2020-10-28 19:12] IGoodVibe commented on #2065
Its uses 60MB with only New Tab opened, the more tabs i open higher the RAM it uses, around 10-15MB for each new tab and that goes up really fast. With the exact same folder oppened in the base Windows Explorer it uses 1/4 of it.
The folders are Program Files, Program Files(x86), Downloads and Downloads again.
Files: 124,3Mb
Explorer: 30,1Mb
Hope i provided more detail about it.

[2020-10-28 20:04] #2090 closed

[2020-10-28 20:44] #2170 closed

[2020-10-28 20:49] gave92 commented on #2155
Same stacktrace appears on [AppCenter](https://appcenter.ms/orgs/Files-UWP/apps/Files/crashes/errors/3880852871u/overview) with version 0.18 as well.

[2020-10-28 22:48] Hockenhorn opened #2172 "OneDrive"
**Describe the bug**
Opened the synchronized OneDrive folder. Opened a Word sheet and added a letter and saved. An error message appears and the app closes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the synchronized OneDrive folder with "Files - Preview"
2. Open a word file in this folder
3. Add a letter to the document
4. Save the document
5. "Files - Preview" closes and an error

[2020-10-29 14:56] gave92 commented on #2172
@Hockenhorn thanks for reporting this.
From the stacktrace I believe this issue happens when temporary files are created and quickly deleted (which often  happens when Word is saving files and/or OneDrive is syncing)

[2020-10-29 15:44] ZzzzzzzSkyward commented on #2070
image when double clicking the MSIXBundle(in CHinese):
![图片](https://user-images.githubusercontent.com/55184223/97597044-5dde2200-1a40-11eb-89d9-2100b06bb61a.png)
information when using Powershell to add-appxpackage(in Chinese):
[code]

[2020-10-29 16:27] matchot75 opened #2173 "recicle bin"
hello! started today using "Files". Loving it!!
just wanted to ask if there is a bug with the recicle bin. The empty option is grayed out.  to go to
Great app!!
best regards 8)

[2020-10-29 17:01] yaichenbaum commented on #2173
Duplicate of #1910.

[2020-10-29 17:01] #2173 closed

[2020-10-29 19:23] osieltorres opened #2174 "App takes too long frozen at start if network folders are offline."
**Describe the bug**
The app spend too much time frozen when loading at first open after I connect few shared folders. This happens when those folders are not accessibles at that time

**To Reproduce**
Steps to reproduce the behavior:
1. Add some shared folders.
2. Close the app.
3. Reopen the app.
4. The app start take too much time frozen before it reacts and finish loading.

**Expected behavior

[2020-10-30 00:41] Tester09 opened #2175 "Thumbnails for images appears only after opening them in MS Photos"
**Describe the bug**
In folders with many images, Files shows blank icons on some of them and they remain the same even after pressing F5, to fix it you should open every image with the blank icon with the MS Photos and after this press F5

**Expected behavior**
Thumbnails should generate after pressing F5

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https

[2020-10-30 02:18] GreatRequest opened #2176 "Dragging files from 7Zip File Manager will result in UWP app crash"
**Describe the bug**
I use 7Zip to unzip most of my files, as I'm sure you are aware there are two ways to unzip the files one is to do it through the context menu and the other is by opening the file directly in the 7Zip File Manager (if you need only one file from the zip like in my case). I was trying to export one file but as soon as I dragged the file to the UWP explorer it crashed.

**To Rep

[2020-10-30 04:20] Concorde1234 commented on #2109
This is an update to the issue I had said previously about the problem
![image](https://user-images.githubusercontent.com/72770340/97659401-29606b00-1a2c-11eb-819f-078219c67999.png)

Version 0.18.0.0
[debug.txt](https://github.com/files-community/Files/files/5462965/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/5462966/debug_fulltrust.txt)

Why is this issue occur

[2020-10-30 09:35] Jaiganeshkumaran opened #2179 "Use GetLocalized string extension from Windows Community Toolkit"
Windows Community Toolkit now provides GetLocalized and GetViewLocalized and we can use that instead of our own ResourceController

[2020-10-30 14:55] #2179 closed

[2020-10-30 15:34] mdfarragher opened #2181 "No longer showing files in Windows 10 build 19041.610"
**Describe the bug**
Files Preview is no longer showing files. It used to work fine until I upgraded Windows to build 19041.610, Since then, Files is no longer showing any files.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade Windows to build 19041.610
2. Start Files Preview (Microsoft Store version)
3. Files window opens up but is not showing any folders in the left bar.
4. Click o

[2020-10-30 16:18] rwrife opened #2182 "Needs to support multiple OneDrive accounts"
It appears that the app only shows a single OneDrive account, if a person has a personal and corporate account it would be nice to be able to see both.

[2020-10-30 16:21] rwrife opened #2183 "Ability to rearrange the pinned folders"
It'd be nice to be able to re-arrange the pinned folders and customize them

[2020-10-30 16:49] yaichenbaum commented on #2183
Duplicate of #2011.

[2020-10-30 16:49] #2183 closed

[2020-10-30 16:51] yaichenbaum commented on #2182
Duplicate of #1794.

[2020-10-30 16:51] #2182 closed

[2020-10-30 16:52] yaichenbaum commented on #2176
Duplicate of #2023.

[2020-10-30 16:52] #2176 closed

[2020-10-30 20:05] #2011 closed

[2020-10-31 08:31] Jaiganeshkumaran opened #2186 "Use accent color for selection rectangle"

[2020-10-31 08:46] yaba101 opened #2187 "In Recent item: It will be much better if you include the option in setting to show recently accessed file and not to show recently accessed file option"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-31 08:50] yaba101 commented on #2187
In Recent item: It will be much better if you include the option in setting to show recently accessed file and not to show recently accessed file option!

[2020-10-31 11:51] askfriends opened #2188 "Add a drives widget to the home page"
I have a feature request, so i am bypassing template.

I cant select "This PC"  in startup settings, it says "you cant open this location in this app...." so please add option to use this location on startup, because sometimes i want to see how much space is used or free in each drive.

[2020-10-31 14:01] gave92 commented on #1532
Fixed in #1736

[2020-10-31 14:01] #1532 closed

[2020-10-31 14:13] RomRodry opened #2190 "Hidden Folder Bug"
Hello, before I describe the bug I encountered I would like to say that I really admire your work and look forward to the release of the final version of File.

**Describe the bug**
Whenever I hide a folder using the General Tab in the Properties of that same folder and then hide it using the Hidden items option in the View tab of the default File Explorer, File automatically closes.

**To Reprodu

[2020-10-31 20:26] igoragm commented on #2190
I can confirm this. Steps that I took to reproduce it:
1) Opened a folder
2) In default File Explorer set the folder to hidden
3) Got back to Files, right click withing the folder and selected Refresh.

Does Files even support hiding items and displaying those that are already hidden? Under Properties both Read-only and Hidden attributes are disabled for me (screenshot attached).
Second question r

[2020-10-31 23:07] Thomas1664 commented on #2190
No, but maybe in the future.

Don't show the hidden folder.

[2020-10-31 23:41] #1910 closed

[2020-11-01 00:07] yaichenbaum commented on #2188
@askfriends This will be an option once a drives widget is added as proposed in #366.

[2020-11-01 00:10] yaichenbaum commented on #2187
@yaba101 We are having trouble understanding this proposal, can you please add a little more context to help us understand this feature request?

[2020-11-01 01:33] Nuzza opened #2192 "Add Office programs to the New menu in the Context (right click) menu"
**Is your feature request related to a problem? Please describe.**
Basically, File Explorer has a really useful feature that Files UWP doesn't have which allows the user to easily create Word, PowerPoint, Excel, etc files in the current directory right from the New menu in the context (right click) menu.

**Describe the solution you'd like**
Depending if Office is installed on the user's device, s

[2020-11-01 01:45] yaichenbaum commented on #1899
After creating a poll to ask users about this, most users asked us to keep the settings page how it is. This can be evaluated again in the future if this changes.

[2020-11-01 01:45] #1899 closed

[2020-11-01 09:04] moshiangel opened #2194 "能不能设计个exe版的，UWP版本权限太低了"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-11-01 10:14] mdfarragher commented on #2181
Hoo boy, you're right. Disconnected Z: network drive pointing to a cloud share that has been removed. My Windows update was a coincidence because it happened at the same time the share got deleted.

So I guess it's not a bug.

But maybe Files can only scan the drives on startup and not try to read them right away? That would prevent the hang on startup and mimic the Windows explorer behavior.

[2020-11-01 10:44] gave92 commented on #2181
@mdfarragher thanks for confirming this. Files currently has issues with disconnected network drives.
I'm closing this as duplicate of #2144

[2020-11-01 10:45] #2181 closed

[2020-11-01 10:52] gave92 commented on #2194
"Can you design an exe version, the UWP version permissions are too low"

Thanks for reporting this, merging with #1194

[2020-11-01 10:52] #2194 closed

[2020-11-01 11:07] igoragm commented on #2190
Thanks for the answer.
I'd like to contribute to this. Could you please assign me to the issue?

[2020-11-01 12:39] Thomas1664 commented on #2190
I can't. But @yaichenbaum can.

[2020-11-01 16:17] Cuberick-Orion opened #2195 "Very strange sorting logic"
**Bug description**
It appears that when selecting **Sort by -- Name**, the files in the folder are sorted by a rather curious logic when filenames contain numbers.

**Steps to reproduce**
* Basically prepare a folder with files whose names contain numbers.

**Expected behavior**
Files sorted in an identical manner as in the conventional explorer.

**Screenshots**
Please see the below example (the

[2020-11-01 16:54] igoragm commented on #2190
@yaichenbaum I have a solution for the bug & have created a local branch for it though I can't push the branch (The requested URL returned error: 403). Could you please create a new branch for me with the name 2190-hidden-folder-bug?

[2020-11-01 16:56] yaichenbaum commented on #2190
@igoragm You can create a pull request when the solution is ready 😄

[2020-11-01 16:58] yaichenbaum commented on #1465
Thank you for all your input, this widget has been approved for development. We are looking for someone to assign this to so let us know if you are interested in working on this.

[2020-11-01 17:33] igoragm commented on #2190
Well, as it's my first open source contribution ever, that took a bit :D I needed to fork it first.
Anyway, I've created the pull request.

[2020-11-01 18:02] igoragm commented on #2190
I do have some second thoughts though as I don't really like the message that appears after a folder gets marked as hidden...

[2020-11-01 19:07] sschr15 opened #2198 "Files crashes when dragging a file from 7-Zip"
**Describe the bug**
Dragging a file from 7-Zip File Manager will cause Files to crash upon entering the window's area.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an archive using 7-Zip
2. Select a file
3. Drag it onto a Files window
4. See error toast

**Expected behavior**
The file shows as attempting to drag a file normally acts.

**Screenshots**
![Files has encountered an error

[2020-11-01 20:27] Xiloadin commented on #2155
For now it has not happened again.

[2020-11-01 21:35] gave92 commented on #2198
Thanks for opening this feedback item.
Closing as duplicate of #2023

[2020-11-01 21:35] #2198 closed

[2020-11-02 03:48] duke7553 commented on #2190
@igoragm Congrats on your first contribution!

[2020-11-02 07:12] dkostarnov opened #2206 "A window with a list of all disks and their content, different designs of plates that appear when you hover over a file"
I would very much like a window, like in a stranded explorer, where you can see the load on system drives and other drives. Don't really like the design of highlighting files on hover, maybe do it like in the "Search" menu in the Windows 10 2004 panel, but slightly reduce the shadows? Also, if Files is open in full screen, this selection is very long, can it be cropped to the "size" table? The vol

[2020-11-02 07:50] Cuberick-Orion commented on #2195
After restarting the app it became normal again.

I am still unsure what caused this temporary error in sorting the files. But given the behavior, it seems to be just a minor glitch.

I'll leave the decision of whether to pursue this issue or closing it to the contributors. Thank you.

[2020-11-02 08:18] igoragm commented on #2190
Thanks! :)

[2020-11-02 11:48] Leblayd opened #2207 "Add options for different Date formats"
**Describe the solution you'd like**
I would like to see dates formatted as "2020-11-02 09:30:23".
To achieve this, I think the most flexible (and not too difficult) solution would be to allow advanced users direct access to C#'s date formatting.
Meaning, I want to specify the format as "yyyy-MM-dd HH:mm:ss".

**Describe alternatives you've considered**
If this custom format doesn't align with eit

[2020-11-02 17:20] #2172 closed

[2020-11-02 18:16] notgarette opened #2208 "App crashes on launch"
**Describe the bug**
The app will not open at all -- it crashes on startup. You cannot use the app at all due to this.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Wait 1-2 seconds
3. App crashes

**Expected behavior**
The app opens and is navigable.

**Screenshots**
This is as far as the app gets without crashing.
![image](https://user-images.githubusercontent.com/41551490/97

[2020-11-02 19:00] gave92 commented on #2208
You can find them here `%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState`

[2020-11-02 19:27] #2188 closed

[2020-11-02 19:28] yaichenbaum commented on #2188
@askfriends This has been implemented with #2196.

[2020-11-02 20:06] yaichenbaum commented on #366
With the new widget system, users can choose which widgets to show on the home page and they can even contribute new widgets if they have an idea. The widget system is still basic, but over time we will enhance the actual widgets as well as the system for managing them based on your feedback.

[2020-11-02 20:06] #366 closed

[2020-11-02 20:08] #2174 closed

[2020-11-02 20:08] yaichenbaum commented on #2174
This issue should be resolved with #2205.

[2020-11-02 21:08] gave92 commented on #2023
Ok, I found a "very creative" solution to this issue.
1) In Files `DragOver` event handle the `System.Exception: Invalid FORMATETC Structure` that is generated
2) If the exception was caught, the fulltrust process shows a semitransparent window over the Files app
3) The user can drop the files
4) The fulltrust process will copy/move the dropped files to the destination folder

_Please, find a bett

[2020-11-02 21:52] igoragm commented on #2164
This is basically the sames issue as #2190
@yaichenbaum Could you assign me please, I can modify my initial solution for the #2190 to handle a wider range of exceptions.

[2020-11-03 00:51] #2190 closed

[2020-11-03 02:31] Tester09 opened #2212 "Highlighting after selecting folder on the sidebar doesn't turn off"
**Describe the bug**
When you selecting some folder from the sidebarr highlighting effect stand still and doesn't turn off

![image](https://user-images.githubusercontent.com/18252816/97943472-2697aa00-1d8d-11eb-83e2-13f59c2cf7cc.png)

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 2004 20246]
 - App version: [v0.18.1]

[2020-11-03 02:59] yaichenbaum commented on #2212
This issue is fixed in the master branch.

[2020-11-03 02:59] #2212 closed

[2020-11-03 03:47] jayasio opened #2214 "Highlights on sidebar do not go away when deselected"
**Describe the bug**
On selecting an item on the sidebar, it is highlighted. On selecting another item, the old item should be deselected and new item should be highlighted. But, the highlights do not disappear and there are multiple highlights instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files
2. Click on another item from sidebar
3. Click on another item from sidebar again

[2020-11-03 07:20] Ryongyon opened #2216 "Add an option：Do not log recently accessed files"
Add an option：Do not log recently accessed files

[2020-11-03 09:42] AnugrahJames opened #2217 "Add the ability to pull to refresh"
**Is your feature request related to a problem? Please describe.**
While using Files many a times I've pulled down to refresh only to remember that it wasn't supported. I would love to have the ability to pull down than reach for the button. It would make Files much better for touch and gestures.

**Describe the solution you'd like**
 The pull-to-refresh sample from the Xaml-Controls-Gallery would

[2020-11-03 13:15] gave92 commented on #2214
Thanks for the feedback. This issue was resolved in #2209.

[2020-11-03 13:15] #2214 closed

[2020-11-03 13:40] MashukeAlam opened #2218 "Please add an option to disable the "double-click rename" feature."
**Is your feature request related to a problem? Please describe.**

Yes, the feature request is related to a problem. The problem is double click to rename. **In Windows' default File Explorer which has double-click rename feature which is already disgusted by many. This Files app that you guys are creating for the good for all of us (thanks for that though!) shouldn't have that feature. It's conf

[2020-11-03 14:54] yaichenbaum commented on #2218
@MashukeAlam Please fill out the issue template with details such as the version number.

[2020-11-03 14:57] yaichenbaum commented on #2216
@Ryongyon There is a new option coming to turn of the recent file's widget. This setting should be available in the next version of Files.

[2020-11-03 14:57] #2216 closed

[2020-11-03 15:01] yaichenbaum commented on #2206
@dkostarnov Can you please share some concepts and add to your description to better help us understand your proposal?

[2020-11-03 15:01] #1589 closed

[2020-11-03 15:02] #1655 closed

[2020-11-03 15:04] yaichenbaum commented on #2155
@Xiloadin Please reopen this issue if it happens again.

[2020-11-03 15:04] #2155 closed

[2020-11-03 15:17] duke7553 commented on #2150
@Jackaroo05 Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-03 15:17] #2150 closed

[2020-11-03 16:17] nayar34 commented on #2150
I have a customer who is receiving this error on two devices with OneDrive crashing.  They started to get this after upgrading to 2004 on one device and upgrading to 20H2 on the other device.

Log Name:      Application
Source:        Application Error
Date:          11/2/2020 2:55:37 PM
Event ID:      1000
Task Category: (100)
Level:         Error
Keywords:      Classic
User:          N/A
Compute

[2020-11-03 19:57] yaichenbaum commented on #1247
We will now start offering ARM64 builds on the Microsoft Store.

[2020-11-03 19:57] #1247 closed

[2020-11-03 20:39] GSonofNun opened #2220 "Pasting file from Remote Desktop to local PC causes crash"
**Describe the bug**
If I am connected to a remote PC through Remote Desktop Connection, and I copy a file from that remote PC, then try to paste  it in this app on the local PC, this app will crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect to Remote PC via Remote Desktop Connection
2. Copy file from Windows Explorer on Remote PC
3. Open Files app on Local PC
4. Navigate to a

[2020-11-03 20:50] GSonofNun opened #2221 "Paste option in context menu doesn't always enable"
**Describe the bug**
When copying from Windows Explorer to Files, the Paste command in the context menu is disabled until you navigate to a different directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files and navigation to a directory (i.e. Desktop)
2. Open Windows Explorer, find a file, and copy it
3. Right-click in Files, Paste shows as disabled
4. Navigate to other director

[2020-11-03 20:52] MashukeAlam commented on #2218
Sorry for that. I'm new here... Can you please guide me where to fill this template that you are talking about.

[2020-11-03 20:54] MashukeAlam commented on #2218
Owh got it...

[2020-11-03 21:16] Firehawke opened #2222 "Feature request: Teracopy / Teramove support"
I find that TeraCopy provides the best overall copy/move experience on Windows and I would like to be able to have the option to have Files use TeraCopy for file copy and move operations.

Perhaps a settings switch (defaulting to off, of course) that has all appropriate file operations go to TeraCopy when it's detected on the machine is most appropriate here. Defaulting to 'off' makes the most sen

[2020-11-03 21:46] yaichenbaum commented on #2218
@MashukeAlam Can you provide details on how it interferes with opening items? We added a considerable delay to prevent this issue so a screen recording would help.

[2020-11-03 22:24] gave92 commented on #2220
Thanks for this feedback! Sadly common issue, merging with #2023

[2020-11-03 22:24] #2220 closed

[2020-11-03 22:32] gave92 commented on #2222
Doesn't TeraCopy add items to the right-click context menu for files and folders? Like a "copy with TeraCopy" contextmenu?
If yes those items should be working in Files

[2020-11-04 07:59] zhuxb711 commented on #2109
It seems to be related to text encoding

[2020-11-04 11:27] dkostarnov opened #2227 "Sorting files in the Downloads tab"
sorting by "date modified" works very strangely. I believe that each file carries information about the date of its creation and the files are sorted by this data, and not by the date of download. In fact, this type of sorting is useless in general and I would like to be able to sort by the date the file was UPLOADED, and in other folders sort by the date of creation on MY device.

[2020-11-04 16:09] Cyberdroid1 commented on #1936
This issue happened again.

![image](https://user-images.githubusercontent.com/51435948/98135674-1e06b700-1ee6-11eb-958f-3636fce45d4d.png)

Please reopen this issue again.

App version -- v0.19
Windows version -- Windows 10 19042.572

[2020-11-04 16:16] Cyberdroid1 commented on #380
When will this be included? I am waiting for it to arrive to make this app much more better.

[2020-11-04 16:33] notgarette commented on #2208
Hey, sorry for the delay, had issues with power.
[debug.txt](https://github.com/files-community/Files/files/5489099/debug.txt)

[2020-11-04 16:35] Cyberdroid1 opened #2229 "Custom folder icons appear blurred"
**Describe the bug**
I have used registry to change the default folder icon to a custom one. While the folder icons appear crisp in windows explorer, the Files app makes them look blurred.

**Expected behavior**
The blur should not have been there.

**Screenshots**

![image](https://user-images.githubusercontent.com/51435948/98138234-e77e6b80-1ee8-11eb-88a1-4fd77bc00b38.png)
Windows explorer

![im

[2020-11-04 17:37] Concorde1234 commented on #2109
So no data is being sent or tracked by a third party right?

Sent from my Galaxy

-------- Original message --------
From: Ruofan <notifications@github.com>
Date: 11/3/20 11:59 PM (GMT-08:00)
To: files-community/Files <Files@noreply.github.com>
Cc: Concorde1234 <harishvaratharaj@outlook.com>, State change <state_change@noreply.github.com>
Subject: Re: [files-community/Files] Chinese Folder appeari

[2020-11-04 20:03] XPoppyX commented on #2229
This happens with all icons and thumbnails. I submitted a feature request about that: #1152

[2020-11-04 20:35] XPoppyX opened #2231 "Selecting an item, deselecting it and then selecting it again triggers rename"
When you want to rename with double click you must first select the item and then click again. But if you cancel and try to do it again with **the same item**, the rename function starts with a single click.

As you can see in the gif, in the first attempt it works correctly, the rename function starts in the second click after selecting first.
**But from the second time, it starts with a single c

[2020-11-04 20:55] gave92 commented on #2229
Merging it with #1152

[2020-11-04 20:55] #2229 closed

[2020-11-04 20:56] SOI7 opened #2232 "Access Drives properties by right clicking widgets"
We should be able to access Drives properties by right clicking their widgets, just like we can currently do with drives in the sidebar.

App Version: v0.19.0
Windows Version: Windows 10 20H2

[2020-11-05 00:42] yaichenbaum commented on #2227
Merging with #131.

[2020-11-05 00:42] #2227 closed

[2020-11-05 00:43] #2133 closed

[2020-11-05 02:10] Hmmmmmmmmmm opened #2233 "Add more than one OneDrive?"
**Is your feature request related to a problem? Please describe.**
I'm have OneDrive account for both personal & for business. But now only OneDrive for business is appearing in Files UWP.

**Describe the solution you'd like**
Add options for add more add OneDrive(s)

**Describe alternatives you've considered**
Or add options to add/hide drives on the left panel.

[2020-11-05 02:54] seohyun1108 opened #2234 "I think Files is ready to release the stable version (v.1.0)"
Now, Files has almost every features, and it's very stable. So, I think Files is ready to release the first stable version, version 1.0.

[2020-11-05 02:55] #2234 closed

[2020-11-05 02:57] seohyun1108 opened #2235 "Add support for Formatting and Editing Drives"
Now, Files is very stable and has almost all the features.
But, I have a problem to use it.
I can't format or edit drives. Please add support for editing drives.

[2020-11-05 03:18] skyduy commented on #468
You can do this by compiling this script with AutoHotKey:
[code]

[2020-11-05 04:24] yaichenbaum commented on #2233
This issue should be resolved with #2215.

[2020-11-05 04:24] #2233 closed

[2020-11-05 04:26] yaichenbaum commented on #16
Support for multiple OneDrive accounts will be implemented with #2215.

[2020-11-05 04:26] #16 closed

[2020-11-05 05:05] skyduy commented on #2159
You can do this by compiling this script with AutoHotKey:
[code]

[2020-11-05 08:55] crashmit opened #2236 "Issues with responsive design of the new drives widget"
**Describe the bug**
Currently, the maximum capacity number of a drive, gets cut off under specific window widths instead of breaking to a new line or moving elements below. This happens in english as well as german. This is a minor issue as you still have the graph above but is still worth adressing imo.

**Screenshots**
![image](https://user-images.githubusercontent.com/58466626/98219045-cf40380

[2020-11-05 09:58] dkostarnov commented on #2206
As it turns out, you've already introduced a special widget to display disk usage. Well, it will be easier for me to describe a proposal for too long a choice in contention, dkostarnov # 0991

[2020-11-05 12:33] dkgv opened #2238 "Feature: Add an option to consolidate nested paths consisting of multiple empty directories to single"
### What feature or improvement do you think would benefit Files?
It would be neat if a GitHub-like feature was added that consolidated multiple empty directories into single entry, allowing for rapid navigation of nested content.

As an example, 1 click on GitHub would take me directly to `gradle/wrapper` instead of first to `gradle` and then afterwards to `wrapper`.
![image](https://user-images.

[2020-11-05 14:35] yaichenbaum commented on #2236
@crashmit You can hover over the widget to see a tooltip with the full text.

[2020-11-05 16:42] askfriends commented on #2188
thanks, thats really great.
but i still cant see that option, when this update will be released?

[2020-11-05 16:43] yaichenbaum commented on #2188
@askfriends This was included in v0.19, you should be able to get the update from the Microsoft Store.

[2020-11-06 01:56] generalguy41 opened #2242 "Drives widget storage details don't update without reopen"
**Describe the bug**
Drives widget storage details don't update without reopen of Files.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Home page.
2. Note the size of a drive.
![image](https://user-images.githubusercontent.com/8879244/98316259-10b20100-1fa8-11eb-92da-c3ec87b71a06.png)
3. Change the files in that drive (delete everything, add a big file, etc.)
![image](https://user

[2020-11-06 02:42] yxhl opened #2243 "Program crash when disk if full."
2020-11-03 10:45:11.4446|INFO|Files.Filesystem.DrivesManager|Drive added: Z:\, Network|
2020-11-06 10:36:21.4477|ERROR|Files.App|The disk is full. (Exception from HRESULT: 0x80070027)|System.Exception: The disk is full. (Exception from HRESULT: 0x80070027)
2020-11-06 10:36:36.7469|INFO|Files.App|App launched|

[2020-11-06 02:43] generalguy41 opened #2244 "Ongoing Task dialog progress not updating"
**Describe the bug**
Task dialog box not updating.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy a large number of items to Files.
2. Click on the Ongoing Tasks dialog.
3. Dialog stuck at 0%

**Expected behavior**
Dialog should show progress.

**Screenshots**
![image](https://user-images.githubusercontent.com/8879244/98319556-fa5b7380-1fae-11eb-9dc4-021a06dfefdb.png)

**Desktop**
 - O

[2020-11-06 03:41] generalguy41 opened #2245 "Drives widget and sidebar not consistent when drives are added/removed"
**Describe the bug**
Drives widget and sidebar don't update properly when drives are added/removed. Most commonly seen on the home page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home page.
2. Add or remove a drive.
3. Note the drives don't update.

**Expected behavior**
Drives should update.

**Screenshots**
1. Worked, but then crashed:
![ezgif-7-ba8575a12a05](https://user-image

[2020-11-06 03:44] generalguy41 commented on #1776
This seems to be fixed in 0.19.0.0

[2020-11-06 03:44] #1776 closed

[2020-11-06 03:54] yaichenbaum commented on #2243
@yxhl Can you please fill out the issue template?

[2020-11-06 04:34] yxhl commented on #2243
**Describe the bug**
Program crash when disk if full.

**To Reproduce**
Steps to reproduce the behavior:
1. I open two remote directory A and B though samba.
2. I copy a directory from dir A to dir B.
3. the program crash.
4. I see the log show disk is full error.

**Expected behavior**
Commenting me the disk full and stop action but not crash.

**Screenshots**

**Desktop (please complete the foll

[2020-11-06 05:15] AnugrahJames opened #2246 "Library cards' corners covered on hover"
**Describe the bug**
Not a bug, but a small visual issue. I noticed that the library cards on the 'Home' section which enlarges on hovering gets covered at the corners. This also holds for the 'Drives' cards. Another thing I noticed is that it happens only when 'Recent Items' are enabled, otherwise the animations are not covered.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure "Rec

[2020-11-06 05:31] AnugrahJames commented on #2246
Additionally the cards are covered when the window size is very low (even when 'Recent Items' are not enabled).

![image](https://user-images.githubusercontent.com/70474434/98329894-46460100-201f-11eb-9d0c-81b1ee881f9a.png)

[2020-11-06 07:58] Sigurdur42 opened #2247 "Store sort criteria per folder"
I really would like to have the sort order of folders per folder. Some folders I do need alphabetically sorted while others are sorted by date.
Can you (maybe optional) enable that the sort order is simply stored per folder once the user changes it?

[2020-11-06 08:26] loudar opened #2248 "Network drives can be accessed partially, but crash when accessed at highest level"
**Description**
Copying a path to a folder within a network drive from the normal Explorer and pasting it into the address bar of Files does work and navigates me to it. However, when I then try to access the level above by clicking on the network drive name, the app crashes. If the paths below work, why don't the network drives?

**To Reproduce**
1. Copy a network path from the Explorer (e.g. \\D

[2020-11-06 10:04] crashmit commented on #2236
Thank you, this was less a usability issue and more a design problem :) Therefore really low priority

[2020-11-06 10:07] XPoppyX commented on #2247
Duplicate of #530

[2020-11-06 10:43] d2dyno1 commented on #1975
PR soon

[2020-11-06 11:23] hjsleal opened #2249 "Crash and it close by self 2 times before stabilize"
**Describe the bug**
Crash and it close  by self 2 times before stabilize

**To Reproduce**
Steps to reproduce the behavior:
1. Go to task bar and select Files Beta
2. Click on icon Files Beta
3. When the File Beta deploy immediately opens and in the message are appear a message announcing the error-crash
4. The "File Beta" it close itself and open itself exactly 2 or three times and after that it

[2020-11-06 13:38] #2247 closed

[2020-11-06 16:34] freispiel commented on #1502
I have noticed something similar with TrueCrypt/VeraCryt volumes: No matter what you do, encrypted containers or partitions mounted as "removable medium" will not show up in Files. Even if you mount the container first and start Files afterwards, it will still not show the drive letter of the TC volume.

However, if you mount the container without checking "Mount volume as removable medium", then

[2020-11-06 20:02] #2206 closed

[2020-11-06 20:03] yaichenbaum commented on #2187
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 6+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-06 20:03] #2187 closed

[2020-11-06 20:14] yaichenbaum commented on #2159
@skyduy Thank you for sharing that, I created a [Wiki ](https://github.com/files-community/Files/wiki/Configuring-Files-to-launch-with-Win---E-shortcut)page for it.

[2020-11-07 00:55] d2dyno1 commented on #2117
Would it have a history of tabs or would it hold only one recently closed tab?

[2020-11-07 01:01] d2dyno1 commented on #333
I'll try to look into that.
Is it ok if I was to use Everything's SDK?

[2020-11-07 02:16] seohyun1108 commented on #2235
Is this feature coming in v.0.20?

[2020-11-07 02:56] Jaiganeshkumaran commented on #333
@d2dyno1 You can use it but I have discovered some issues with it. First, the user needs to install the right version. Note that the light version will not work. Since it provides separate DLLs for a different architecture, the user also needs to install the appropriate version. Also since it's Win32 based we need to use from the full trust component and pass it to the main executable. Currently,

[2020-11-07 03:00] Jaiganeshkumaran commented on #2246
When the application is run on larger window size, the corners are overlapping sometimes.

[2020-11-07 07:06] angelhdz opened #2253 "I almost felt in love with this app until..."
I almost felt in love with this app until... realized the search doesn't work. A very basic, expected, main feature is missing.

[2020-11-07 08:50] gave92 commented on #2253
Search is one of the last missing features before Files leaving the Beta.
Merging with #333

[2020-11-07 08:50] #2253 closed

[2020-11-07 10:45] scriptBoris opened #2255 "Drag & Drop file from WinRar to Files (Beta)"
🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨

**Describe the bug**
Bad drag and drop

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files (Beta)
2. Open Winrar archive
3. Drag and drop file from archive to Files (Beta)
4. See error :(

**Desktop (please complete the following information):**
 - OS: [e.g. Windows 10 1903 18362.175]
 - App version: [v0.11.0]

[2020-11-07 11:46] #2255 closed

[2020-11-07 11:46] gave92 commented on #2255
Merging with #2023

[2020-11-07 12:47] bogdanbryzh-official opened #2256 "Files chashes on draging more than 8 files"
**Describe the bug**
Trying to drag-and-drop 8+ files to any item on the sidebar. Files crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any folder on your PC
2. Choose 8 or more files
3. Drag them to any item on the sidebar
4. Files crashes

**Expected behavior**
Moving my files to the chosen place

**Screenshots**
![image](https://user-images.githubusercontent.com/66746788/98

[2020-11-07 14:17] Jaiganeshkumaran commented on #2236
Actually, we could wrap the text so it fills the screen and goes to the new line. This will be better.

[2020-11-07 15:34] khrmndgn opened #2258 "Macos Finder Grid Style"
a viewing option like in the photo would be great
![ColumnView640](https://user-images.githubusercontent.com/11201074/98445275-dd967b80-2127-11eb-8f8d-70ef127a7e78.jpg)

[2020-11-07 15:36] khrmndgn opened #2259 "Freedom for Folders (just like macos)"
Freedom for Folders (just like macos)

![cluttered-finder-mac-osx](https://user-images.githubusercontent.com/11201074/98445310-120a3780-2128-11eb-96c4-35fc6e3e743a.png)

[2020-11-07 15:36] duke7553 commented on #2258
Duplicate of #147

[2020-11-07 15:36] #2258 closed

[2020-11-07 15:37] duke7553 commented on #2259
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-11-07 15:37] #2259 closed

[2020-11-07 15:43] rubidev68 opened #2260 "Phone connexion"
Hello,
I had a problem using your application today. When you connect a phone that works with android, the application crashes. It can be restarted but it is impossible to access the files on the phone without crashing again. This is a shame.
I love your application, the graphics are breathtaking.
Yours sincerely
rubidev68

[2020-11-07 16:14] wumpoth opened #2261 "Etwas ist schiefgelaufen"
**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wh

[2020-11-07 17:45] cambo2015 opened #2262 "Command line/terminal open"
**Is your feature request related to a problem? Please describe.**
This is a FEATURE REQUEST and is not a bug or direct problem with the current software.

**Describe the solution you'd like**
In terminal/cmd you can open files in file explorer by running "start ." which opens the current directory in Explorer. It would be great to run "files ." in a terminal and have it open the Files App in the

[2020-11-07 18:00] d2dyno1 opened #2263 "Ability to rearrange widgets"
**Is your feature request related to a problem? Please describe.**
As more widgets come in the future it'd be nice if users had the ability to rearrange them

**Describe the solution you'd like**
Ability to rearrange widgets in the Widgets settings

[2020-11-07 18:19] gave92 commented on #2260
Same issue as #2249

[2020-11-07 18:19] #2260 closed

[2020-11-07 18:28] gave92 commented on #2262
Yup, currently Files supports a command like `files c:\users\someone\documents` (absolute paths only)

[2020-11-07 18:29] cambo2015 commented on #2262
That's great! Thanks!

[2020-11-07 18:30] #2262 closed

[2020-11-07 18:32] gave92 commented on #2261
Thanks for your feedback. We need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-11-07 18:32] #2261 closed

[2020-11-08 00:23] #2249 closed

[2020-11-08 00:30] khrmndgn opened #2265 "error while copying and moving files"
After being open for a long time, it gives an error in the copying process. the application crashes, restarts automatically

![Screenshot_1](https://user-images.githubusercontent.com/11201074/98454184-ad27ff00-2172-11eb-8bf6-784a11a00990.png)

[debug.zip](https://github.com/files-community/Files/files/5505709/debug.zip)

[2020-11-08 00:45] osieltorres opened #2266 "Application crashes inmediately when attempting to delete file."
**Describe the bug**
Application crashes when you try to delete a file.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Select on/more files to delete.
3. Press delete key to delete file(s).
4. App crashes inmediately, without deleting any file.

**Expected behavior**
I expect the files to get deleted without any issue.

**Desktop (please complete the following information):*

[2020-11-08 03:13] yaichenbaum commented on #2266
This issue should be fixed with v0.19.3.

[2020-11-08 03:13] #2266 closed

[2020-11-08 07:50] scriptBoris commented on #2186
I completely agree. Otherwise, it turns out that the program looks gray

[2020-11-08 07:52] scriptBoris commented on #2186
![Uploading image.png…]()

[2020-11-08 07:54] Jaiganeshkumaran commented on #2186
@scriptBoris This is about the recently added cursor selection being blue always instead of the system settings but I don't like the trend of gray backgrounds.

[2020-11-08 09:21] scriptBoris commented on #2186
Sorry, my bad. BUT Drive "SSD" can't see line? Or am I wrong?

[2020-11-08 10:32] Jaiganeshkumaran commented on #2186
@scriptBoris Can you open an issue about that? It supposed to fill used/free space with different colors.

[2020-11-08 11:49] scriptBoris commented on #2186
Will be done

[2020-11-08 12:22] scriptBoris commented on #2186
Sorry, this problem occurs when using this color in Windows 10
![image](https://user-images.githubusercontent.com/29772096/98464796-20c41d80-2200-11eb-8995-fc99f0dc14ec.png)

[2020-11-08 14:43] #2248 closed

[2020-11-08 14:45] Pietro228 opened #2270 "Colored folder and file icons"
**Is your feature request related to a problem? Please describe.**
There are only one colored icons.

**Describe the solution you'd like**
I would like colored moder icons. Something like in Win File Explorer

**Describe alternatives you've considered**
Add selecting which type of icons you want.

[2020-11-08 15:17] #359 closed

[2020-11-08 15:17] #2235 closed

[2020-11-08 15:18] yaichenbaum commented on #359
This issue should be resolved with #2239.

[2020-11-08 15:18] yaichenbaum commented on #2235
This issue should be resolved with #2239.

[2020-11-08 15:24] yaichenbaum commented on #2270
Duplicate of #1015.

[2020-11-08 15:24] #2270 closed

[2020-11-08 16:16] yaichenbaum commented on #946
I am approving this feature proposal since there is a lot of interest in it.

[2020-11-08 16:51] #114 closed

[2020-11-08 16:54] yaichenbaum commented on #114
Thank you for sharing all your feedback. This feature is now available in Files! Please open new issues if you have any additional feedback.

[2020-11-08 17:24] masrawyremix opened #2272 "Left clicking then Right clicking a file opens it if I am in the "Home" tab"
**Describe the bug**
Left clicking then Right clicking a file opens it.

**To Reproduce**
Steps to reproduce the behavior:
1. Left Click on a file in the "recent" menu
2. quickly after right click the same file
3. tada, my .mp4 file just opened in VLC

**Expected behavior**
uhh, maybe I get the right click drop menu? I don't get it at all and the file just opens. I can't say the same in other fold

[2020-11-08 18:18] yaichenbaum commented on #2272
Opening files on the home page only requires one click.

[2020-11-08 18:18] #2272 closed

[2020-11-08 20:58] duke7553 commented on #1692
@generalguy41 We've done work to improve the contrast here, and no longer think the accent colored tab icons would fit the design well. I'll close this now, but please keep the design feedback coming!

[2020-11-08 20:58] #1692 closed

[2020-11-08 21:03] duke7553 commented on #2121
@osieltorres We have plans to improve the Status Center UI, and the first step in doing that involves improving user awareness of the existing UI. PR #2273 will add a new double-pulse animation when a new progress banner is posted. If you have any suggestions for future animations (e.g. operation failure and completion) we'd love to hear it on the PR.

[2020-11-08 21:05] duke7553 commented on #2121
@komals1 Could you be a bit more specific on how you'd like to see the UI and progress reporting improved? Screenshots work great too.

[2020-11-08 21:14] duke7553 commented on #1707
Potential fix by #2269 ? @gave92

[2020-11-08 21:15] duke7553 commented on #1603
@yaichenbaum recently enabled an optimization for .NET Native which should improve start up times.

[2020-11-08 21:19] gave92 commented on #1707
@duke7553 likely yes! Obviously#2269 will only avoids the app crash, if a file can't be accessed, #2269 won't change it

[2020-11-08 21:26] duke7553 commented on #1641
Thank you for creating this feedback item. This issue was resolved in our stable branch and should be available from the Microsoft Store.

[2020-11-08 21:26] #1641 closed

[2020-11-08 21:29] duke7553 commented on #2001
There's a potential improvement in this area being authored by @gave92 with #2269 . I'm going to close this since we already have other issues tracking the exceptions.

[2020-11-08 21:29] #2001 closed

[2020-11-08 21:30] #1603 closed

[2020-11-08 21:30] duke7553 commented on #1737
@Jaiganeshkumaran We recently made improvements that could affect this area. Can you still reproduce this issue on the latest Store build?

[2020-11-08 21:44] Steve01010 opened #2274 "Can't access network drives"
**Describe the bug**
When attempting to open network drives, the app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a New Tab
2. Change the file path from 'Home' to a network drive path

**Expected behavior**
As in the default file explorer, the contents of the network drive should be shown in the app.

**Desktop:**
 - OS: Windows 10 1909
 - App version: 0.19.0.0

**Log file**

[2020-11-08 21:45] #1707 closed

[2020-11-08 21:45] #1831 closed

[2020-11-08 21:45] #2164 closed

[2020-11-08 21:45] #2265 closed

[2020-11-08 21:47] Steve01010 opened #2275 "Can't access network drives"
**Describe the bug**
The app crashes when trying to open network drives.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new tab
2. Change the path from 'Home' to a network drive path

**Expected behavior**
As in the default file explorer, the network drive should be opened and its contents should be visible.

**Desktop (please complete the following information):**
 - OS: Windows 10

[2020-11-08 21:48] #2274 closed

[2020-11-08 21:59] tsvietOK opened #2276 "Avoid code duplication in MultitaskingControls"
**Describe the bug**
A lot of code in HorizontalMultitaskingControl exists in VerticalTabViewControl.

[2020-11-08 22:00] gave92 commented on #2275
@Steve01010 thanks for this report! Could you post here the path you were trying to open?

[2020-11-09 04:21] Concorde1234 opened #2279 "Touch sometimes doesn't open items"
**Describe the bug**
Folders sometimes would not open when I use touch and pen inputs which make it difficult to open folders when not using a keyboard and mouse

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files app
2. Click on OneDrive then go to a folder
3. Click on the folder
4. Doesn't open and sometimes shows an error message

**Expected behavior**
For it to open as expected.

[2020-11-09 05:11] Gaoyifei1011 opened #2280 "Allow Files UWP application run as administrator，允许“文件”应用以管理员身份运行"
目前的版本中，文件应用只是一个纯UWP应用，好像不能以管理员身份运行。但是在文件操作方面，总是要涉及到权限问题。例如在C盘的根目录下存放了一些文件，文件应用不能将其删除，也不会提示有关权限的涉及，必须通过传统的资源管理器提升权限后可以删除。我希望未来的文件应用也能够像Windows Terminal一样，结合Project Union，在Win32/64应用中插入UWP的特性，允许以管理员身份运行，执行一些提权操作。

The current version, the file is just a pure UWP application, if did not run as an administrator.But in terms of file operations, always involves permission problems.For example, in C disk

[2020-11-09 06:28] gave92 commented on #2280
Thanks for the feedback, merging with #1194

[2020-11-09 06:28] #2280 closed

[2020-11-09 11:06] KristofKekesi opened #2282 "[feature] Right click eject option"
**Describe the solution you'd like**
When I rightclick on a drive an option to eject it.

[2020-11-09 14:05] #2276 closed

[2020-11-09 14:07] yaichenbaum commented on #2282
Duplicate of #84.

[2020-11-09 14:07] #2282 closed

[2020-11-09 14:57] LukeGotBored opened #2284 "Merging two windows by dragging the tabs causes a crash"
**Describe the bug**
Merging two tabs from separated windows crashes the program

**To Reproduce**
Steps to reproduce the behavior:
1. Open two windows
2. Drag the tab from one window onto the other window
3. Wait a few seconds
4. the program crashes

**Expected behavior**
The two windows should merge in one

**Screenshots**
It's not screenshottable

**Desktop (please complete the following inform

[2020-11-09 15:16] yaichenbaum commented on #2284
@LukeGotBored Please try updating to v0.19 to see if this issue is fixed.

[2020-11-09 15:17] LukeGotBored commented on #2284
i am already on v0.19
![image](https://user-images.githubusercontent.com/20886839/98559608-1ad54780-22a7-11eb-9a39-b00272412c8e.png)

[2020-11-09 17:02] yaichenbaum commented on #2284
This issue should be resolved with #2285.

[2020-11-09 17:21] #2284 closed

[2020-11-09 17:30] Steve01010 commented on #2275
for example, on windows file explorer, i see a network pane on the left sidebar... and i can click on any of the network drives

i can also type in the name of a network volume, for example, ``//HOME_NAS``, and it will open and display the contents

the same behavior crashes this application and throws the invalid path error, which i believe may be due to a lack of implementation of a feature to d

[2020-11-09 17:58] askfriends opened #2286 "Icons wont change with Stardock IconPackager"
**Describe the bug**
A clear and concise description of what the bug is.
When i change icons with Stardock IconPackager, they (newly applied icons) dont appear in the UWP but in Windows Explorer i can see all icons are updated
**To Reproduce**
Steps to reproduce the behavior:
1. Install Stardock IconePackager '...'
2. Apply any custom icon pack
3. Now have a look at UWP icons

**Expected behavior*

[2020-11-09 18:06] Aviortheking opened #2287 "OneDrive shortcut crash the app"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a OneDrive folder in your homepage before installing the app
2. Launch the app to have the OneDrive shortcut
3. delete the OneDrive folder
4. See error

**Expected behavior**
OneDrive shortcut should be removed if OneDrive folder is deleted

**Screenshots**
If applica

[2020-11-09 18:11] gave92 commented on #2275
Thanks @Steve01010 a fix for this issue will be included in version 0.20.0
The fix will allow you to navigate to path like `\\DESKTOP-XXXX\Shared\SomePath`

[2020-11-09 18:12] duke7553 commented on #2286
@askfriends Sorry, we don't have plans to support custom icon themes.

[2020-11-09 18:12] #2286 closed

[2020-11-09 18:19] duke7553 commented on #2243
@yxhl Can you check if the crash occurs in the latest version from the Store?

[2020-11-09 18:36] cambo2015 commented on #2262
For what it is worth if anybody else has trouble I was able to go to Settings>Preferences>terminal Applications and edit the json file there. Here is my code: `{
  "version": 1,
  "defaultTerminalPath": "cmd.exe",
  "terminals": [
    {
      "name": "CMD",
      "path": "cmd.exe",
      "arguments": "",
      "icon": ""
    },
    {
      "name": "WT",
      "path": "wt",
      "arguments": "",

[2020-11-09 18:38] gave92 commented on #2287
Thanks @Aviortheking this should be already fixed in the beta version

[2020-11-09 18:40] #2287 closed

[2020-11-09 18:58] #2275 closed

[2020-11-09 23:31] michaelrizzo2 opened #2293 "Files app crashes on Windows 10 pro when opening. It tries to load and then immediately closes.Version is 0.19.0.0"
**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wh

[2020-11-10 00:02] yaichenbaum commented on #2293
@michaelrizzo2 Can you please fill out the issue template?

[2020-11-10 01:09] yxhl commented on #2243
The latest version I've seen in Strore is V0.19.0. It's the same as the crashed version. And my disk has been cleaned by me, so I can't test it any time soon

[2020-11-10 10:09] Cyberdroid1 opened #2295 "Searching Home gives no result"
**Describe the bug**
When searching Home in the navigation bar of the app, it gives No Results, but when pressed enter, it jumps to Home tab. This No Results part should be fixed.

**Screenshots**

![image](https://user-images.githubusercontent.com/51435948/98660069-e1fea680-236a-11eb-9f87-32fa182b1113.png)

**Desktop (please complete the following information):**
 - OS Version: [Windows 10 2009 1

[2020-11-10 10:38] Cyberdroid1 commented on #530
Any updates to this? I am really looking forward to this! 👀

[2020-11-10 10:43] XPoppyX commented on #530
first implementation attempt with #1485, read the comments

[2020-11-10 11:07] dkgv commented on #2295
See https://github.com/files-community/Files/issues/333

[2020-11-10 15:32] d2dyno1 commented on #2295
@dkgv It's actually not search, it's direct pathbox navigation. It should say "Navigate to home" or something like this

[2020-11-10 15:41] Steve01010 opened #2296 "Add Network Tab in sidebar"
**Is your feature request related to a problem? Please describe.**
Can't see devices on network like in file explorer.

**Describe the solution you'd like**
Add a network tab to the sidebar just like in file explorer.
![image](https://user-images.githubusercontent.com/26387656/98695993-4278ee00-2341-11eb-8ad1-90ef7c47a6bd.png)

[2020-11-10 15:44] khushrxnx opened #2297 "Grouping or Sorting doesnt not apply to individual folders"
🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨

**Describe the bug**

When you try to sort a folder in a particular way, every single folder in the application is sorted in the same order. This might even come under a feature suggestion but not sure if its a bug.

**Expected behavior**

It will be great if there was a way to individually sort each folder! Example: I like to sort my Downloads folder by Date and most of my other folde

[2020-11-10 15:53] XPoppyX commented on #2297
Duplicate of #530

[2020-11-10 16:38] #2297 closed

[2020-11-10 18:03] dkgv opened #2298 "Unable to build from source"
**Describe the bug**
I'd like to help out with a few of the open issues but I'm having trouble building/launching the solution after following the instructions from README.md:

[code]

I'm on Windows 10 Pro, x64. Any suggestions?

Edit: Just for reference, I've tried the `master`, `0.19.7`, `0.19.8` branches. Additionally, I've also tried excluding the `Assets` folder from the Files.Package projec

[2020-11-10 20:16] yaichenbaum commented on #2243
@yxhl v0.20 just rolled out, can you try updating?

[2020-11-10 20:46] duke7553 commented on #2096
Thank you for creating this feedback item. This issue is currently resolved in our release branch and should be available from the Microsoft Store. Please subscribe to our releases to be notified when fixes like this are available.

[2020-11-10 20:46] #2096 closed

[2020-11-10 21:48] duke7553 commented on #2298
@dkgv Thanks for letting us know. Have you tried selecting the Files.Package project in the Visual Studio dropdown near the run button?

[2020-11-10 22:03] tehwolf1337 opened #2299 "Files app opens MediaInfo for .mp3 files despite the fact that default app for this extension is Foobar2000"
**Describe the bug**
Files app opens MediaInfo for .mp3 files when I double click it or press Enter despite the fact that default app for this extension is Foobar2000.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files app
2. Double click or press Enter on any selected .mp3 file

**Expected behavior**
Foobar2000 should be opened

**Screenshots**
![изображение](https://user-images.git

[2020-11-10 22:05] duke7553 opened #2300 "Occasional Garbage Folders Displayed When Loading C:\ Drive"
**Describe the bug**
I can reproduce a bug 100 percent of the time where garbage folder entries are displayed in the list after a brief delay. They may disappear then reappear relatively quickly.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Local Disk (C:\)
2. Wait several seconds
3. See empty and garbage folder entries be added/removed rapidly to the list (as depicted)

**Expected b

[2020-11-10 22:33] duke7553 commented on #2300
Not sure why this occurred. It happened while my computer was updating itself and installing a Visual Studio version, so I'll close this until it becomes more replicable.

[2020-11-10 22:33] #2300 closed

[2020-11-10 23:29] jrkmtf opened #2301 "Acrylic Opacity Settings"
**Is your feature request related to a problem? Please describe.**
No, this feature request is simply aesthetic.

**Describe the solution you'd like**
I would like to be able to adjust the acrylic opacity, similar to opacity options provided by Windows Terminal or TaskbarX.

**Describe alternatives you've considered**
I tried searching for a settings.json file to edit, similar to the current Windo

[2020-11-10 23:54] yaichenbaum commented on #2301
@jrkmtf We don't have any plans to give this leval of customization for the sidebar.

[2020-11-10 23:54] #2301 closed

[2020-11-11 02:51] yaichenbaum commented on #177
Support for shortcuts and hidden items have been added to Files, we are still exploring ways to add support for alternate data streams.

[2020-11-11 03:19] yaichenbaum opened #2303 "Improve support for hidden items"
- [x] Navigating to a hidden directory from the path bar throws an unauthorized error.
- [ ] #8269
- [x] The possibility to mark a file as hidden or not from properties page
- [x] Hidden items should be distinguishable in the UI
- [x] Hidden items have no thumbnail
- [x] Cannot move or permanently delete a hidden folder (moving will result in the folder being copied and the new folder loses the hi

[2020-11-11 04:50] Jaiganeshkumaran opened #2304 "The last chevron in the breadcrumb bar should be hidden when there are no sub folders in the current directory"
![ஸ்கிரீன் கிளிப்பிங் 2020-11-11 101846](https://user-images.githubusercontent.com/45227503/98770078-69015c80-2407-11eb-945f-d491da761e20.png)

[2020-11-11 07:03] yarikv8601 commented on #2304
Why? In Windows Explorer the > symbol indicates that there's further path (another folder(s) in current folder) and it's hidden only when there's no any folders in current folder.

[2020-11-11 09:52] Tester09 opened #2305 "The phantom file of folder from year 1601"
**Describe the bug**
Sometimes I see in the opened tab a file or folder without a name which was created 1 January 1601
![image](https://user-images.githubusercontent.com/18252816/98796104-b1267c00-2413-11eb-80b5-82e3558d8e3c.png)

[2020-11-11 10:27] dkgv commented on #2298
@duke7553 Yes, that is the one that results in the output I included above.

[2020-11-11 10:46] Jaiganeshkumaran commented on #2304
@yarikv8601 Ok but it doesn't work in Files and clicking on it doesn't show folders in the current folder.

[2020-11-11 10:51] AnugrahJames opened #2307 "Deleting protected files does not delete them yet the icon vanishes"
**Describe the bug**
Whenever I try to delete a protected file, the file just disappears without showing a 'Folder Access Denied' dialog box. But can be found after a refresh.

**Expected behavior**
Files might still not support deleting protected files, but it would  be better to let the user know that the task failed and the icon should not disappear if the file has not been deleted.

PS: A 'Tas

[2020-11-11 12:33] needhelpfulanswers-spectrumchat opened #2308 "have tested 16+ file apps, this is missing so much it's unbelievable"
have tested 16+ file apps,
this is missing so much it's unbelievable

gonna put of the basic things the file apps have and dont have on
https://docs.google.com/spreadsheets/d/1ngT8No6MBY46QtB9o-45SmqOgH1c3fmzShcVDEt1mvE/edit#gid=0

you can add what uwp file preview has or doesnt on there
but it's missing so many basics that i think gonna wait 2-5 years before adding anything about this

[2020-11-11 12:57] antnauman opened #2309 "While selecting items, Shift and Control buttons does not work as expected"
These are minor bugs:
1. If we keep the control button pressed and start to drag-select, it RESETS the current selection. In case of selecting individual item one by one, it works fine.
2. If we are on item A, press shift and select item N, it selects all items from A to N (as expected). But if we then select item F (which is between A and N), it does not unselect items G to N.

[2020-11-11 13:05] antnauman opened #2310 "Select Items using Space key"
The keyboard shortcut of selecting an item using space key is not there yet. Kindly implement this functionality.
Thank you.

[2020-11-11 15:39] crashmit commented on #2236
I thought this whole issue was due to me having too many drives, but even on my laptop that only has one drive, the text gets cut off, which doesn't really make sense, considering the amount of space, there is.

![image](https://user-images.githubusercontent.com/58466626/98831912-76850980-243c-11eb-8d7b-2238388e860e.png)

[2020-11-11 16:19] yaichenbaum commented on #1794
This issue should be resolved with v0.20.

[2020-11-11 16:19] #1794 closed

[2020-11-11 18:23] duke7553 commented on #2308
Thank you for taking the time to open this feedback item. In order to best address this in a transparent way, we usually expect reporters to open each feedback topic (e.g. feature request, bug, question, discussion item) as its own ticket. Please review each topic suggested here, and add your own take on an already open issue, or open a new one.

Closing this now.

[2020-11-11 18:23] #2308 closed

[2020-11-11 18:25] duke7553 commented on #2305
@yaichenbaum This may be related to what I assumed wasn't a bug for anyone else
#2300

[2020-11-11 18:26] duke7553 commented on #2298
@dkgv Sorry that you're experiencing this difficulty while trying to contribute.

Have you tried deleting from disk and re-cloning the solution?

[2020-11-11 18:31] yaichenbaum commented on #2222
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-11 18:31] #2222 closed

[2020-11-11 18:31] yaichenbaum commented on #2218
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-11 18:31] #2218 closed

[2020-11-11 18:34] duke7553 commented on #2293
@michaelrizzo2 We haven't heard anything back from you for almost two days, and we typically close issues without a filled-out template after three days of inactivity. Please fill out the issue template and include a copy of your log file. Otherwise, we'll assume you resolved this and close this feedback report.

[2020-11-11 19:08] michaelrizzo2 commented on #2293
Expected behavior
The app should open and I should be able to browse the files. What happens is when the Files app tries to open , it shows everything then the something went wrong dialog box shows up in the notification.

Screenshot
![files issue ](https://user-images.githubusercontent.com/8195851/98853331-f7d1a180-2426-11eb-9a22-a25b777e07f5.png)

Desktop (please complete the following informati

[2020-11-11 20:02] duke7553 commented on #2293
@michaelrizzo2 Thanks. Can you also upload your log files (*.txt) from:

C:\Users\[USERNAME]\AppData\Local\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState

[2020-11-11 20:10] michaelrizzo2 commented on #2293
Hello Luke,

I just updated to app version 0.20.0.0 and the issue is gone. This issue can be closed.

Let me know if you need anything else.

Michael Rizzo

From: Luke Blevins <notifications@github.com>
Sent: Wednesday, November 11, 2020 3:03 PM
To: files-community/Files <Files@noreply.github.com>
Cc: Michael Rizzo <m_rizzo@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [files-commun

[2020-11-11 20:18] #2293 closed

[2020-11-12 00:11] #242 closed

[2020-11-12 00:12] yaichenbaum commented on #242
Support for Dropbox, Google Drive and Mega was implemented with #2311.

[2020-11-12 00:35] DogeLord081 opened #2314 "Files UWP failing to open"
**Describe the bug**
When I open Files UWP it just shows the logo and then is stuck on the loading screen where it just shows the logo forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files UWP
2. The screen will just show the logo forever and no buttons appear or anything

**Expected behavior**
For it to open and let me do stuff

**Screenshots**
If applicable, add screenshots t

[2020-11-12 01:05] yaichenbaum commented on #2314
@DogeLord081 Can you please upload the log file?

[2020-11-12 01:06] DogeLord081 commented on #2314
It wont work when i go into settings about i dont see a log thing

[2020-11-12 01:07] yaichenbaum commented on #84
@tsvietOK Are you still working on this issue?

[2020-11-12 01:07] yaichenbaum commented on #2314
@DogeLord081 https://github.com/files-community/Files/wiki/Opening-the-log-file

[2020-11-12 01:08] DogeLord081 commented on #2314
K ill try this tomorrow

[2020-11-12 01:13] tsvietOK commented on #84
Yeah

[2020-11-12 02:01] osieltorres opened #2316 "Network folders pinned to sidebar are removed after disconnection from network"
**Describe the bug**
Network folders pinned to sidebar are removed after disconnection from network.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app.
2. Pin a network folder to the sidebar.
3. Close the app, disconnect from network and reopen the application again.
4. The pinned network folders are no longer pinned to the sidebar anymore.

**Expected behavior**
Expect the pinned

[2020-11-12 02:10] ColbertBrave opened #2317 "The type of file changed after I rename some file"
When I rename some files, the file type will change to "file" instead of the original file type. Please consider solving it. I have to open the native win 10 file explorer every time I need to rename some file. Thanks a lot.

[2020-11-12 03:52] wlj1243 opened #2318 "The right-click menu does not pop up"
This app is very useful, like.

Right-clicking on a file can cause the program to get stuck.
There is no problem right-clicking the folder, and there is no problem right-clicking in the folder space.

[2020-11-12 05:21] yaichenbaum commented on #2318
@wlj1243 Can you try restarting Windows to see if that solves the issue?

[2020-11-12 05:26] Jaiganeshkumaran commented on #2318
@wlj1243 Can you provide more info like app version and Windows version?

[2020-11-12 07:12] Lukasz-egg opened #2319 "Replace build-in file explorer"
Is it possible to replace build-in file explorer with this? I mean opening shortcuts from desktop with this app/when saving file from browser to appear this explorer instead of build-in. This will be so good feature, but I dont know is it possible. Have a nice day :)

[2020-11-12 07:59] gave92 commented on #2319
There is a tutorial here: https://github.com/files-community/Files/wiki/Replacing-File-Explorer-with-Files-(Unsupported)
But note that it's unsupported and has side-effects like loosing the ability to access the control panel

[2020-11-12 07:59] #2319 closed

[2020-11-12 08:01] gave92 commented on #2317
Happens if you have the option to show the file extension disabled

[2020-11-12 08:15] wlj1243 commented on #2318
restarting windows can not resolve the problem

[2020-11-12 08:17] wlj1243 commented on #2318
the app version is 0.20.0.0
the windows version is win10 ltsc  1809  17763.1577

[2020-11-12 08:26] Dem1se opened #2320 "Drives on homepage not clickable until app restart"
**Describe the bug**
When you turn on the show drives option in home page, the drives get added, but clicking on them don't do anything (they don't take you to the drive). Exiting the app after altering the setting and re-opening the app fixes the the problem and makes the drive tiles in homepage navigate to the drive on click. Settings > Widgets > Show drives in homepage

**To Reproduce**
Steps t

[2020-11-12 08:45] Dem1se opened #2321 "Back(Mouse4) and Forward(Mouse5) buttons don't navigate backdwards/forwards"
**Is your feature request related to a problem? Please describe.**
The windows default file explorer supports the forward and backward binding that gaming mice have by default. Chrome and Firefox and most applications that have navigation supports the Forward and Backwards keys. It's a very quick and convenient way to move back and forth without moving the mouse away from the main panel. I must sa

[2020-11-12 10:10] XPoppyX commented on #2317
Duplicate of #873

[2020-11-12 11:27] #2317 closed

[2020-11-12 11:30] dkgv commented on #2298
@duke7553 Yes, I've tried all the usual suspects multiple times (re-cloning, restarting, clearing various caches, reinstalling).

[2020-11-12 11:33] gave92 commented on #2320
Thanks for the feedback
Navigating away from the homepage and navigating back to it also solves the issue.
Still something we need to fix.

[2020-11-12 11:55] gave92 commented on #2321
Hi @Dem1se thanks for this feedback.
Alt+arrow keys should be working, but is something we'll want to add as well

[2020-11-12 12:06] gave92 commented on #2303
Also it's missing the possibility to mark a file as hidden or not from properties page.
This can be done using SetFileAttributes (available in uwp)
Plus hidden items should be distinguishable in the ui

[2020-11-12 13:52] generalguy41 commented on #2245
@gave92 This still occurs in 0.20.0.0. It doesn't seem to crash anymore, but unplugging a drive doesn't remove it from Files without a restart.

I tested again with 3 different USB drives, and it looks like the last one unplugged replaces the previous one.
![ezgif-7-de16948dfe7f](https://user-images.githubusercontent.com/8879244/98947883-bcd17b80-24c3-11eb-9143-f911f8563854.gif)

Also of note, whe

[2020-11-12 14:16] yaichenbaum commented on #2321
@gave92 We implemented support for the side mouse buttons a couple of months ago, perhaps it's not working because of the refactors that were recently done. https://github.com/files-community/Files/blob/7d1be782971dd57637fc46338e0a716f2b9679e4/Files/Views/ModernShellPage.xaml.cs#L264

[2020-11-12 14:25] generalguy41 commented on #2321
Back/Forward mouse buttons are working for me on 0.20.0.0 with two separate mice (Razer Basilisk Ultimate and Logitech MX Master).

[2020-11-12 15:06] Dem1se commented on #2321
This is bizarre, it's working now for me too... 😅. I'll report back if this is inconsistent or what's the deal, because it sure wasn't working earlier.

[2020-11-12 15:06] #2321 closed

[2020-11-12 16:00] jordanisaacs opened #2322 "Smart Quick Access for Recent Folders in Sidebar"
In the traditional windows 10 file explorer there are constantly updating quick access folders in the sidebar. This allows for quick navigation to folders that I have been using recently. It would be extremely useful to have a feature like that in files. It is the feature that I use a lot in the normal file explorer that is missing from files.

[2020-11-12 17:22] Martin-Hausleitner opened #2324 "Implement Everything"
https://www.voidtools.com/

[2020-11-12 17:42] yaichenbaum commented on #2324
@Martin-Hausleitner Can you please fill out the issue template?

[2020-11-12 18:03] duke7553 commented on #2135
@GameBoyYeet We're going to track this with issue #45 , so I'll close this now.

[2020-11-12 18:03] #2135 closed

[2020-11-12 23:49] DogeLord081 commented on #2314
@yaichenbaum I didn't find a debug.txt i think its because it didn't crash or anything, it just didn't open

[2020-11-13 03:43] Firehawke commented on #2222
Sorry, I'm really late in responding-- I've had serious internet issues.

No, Files does not actually show it in the right click menu.

![image](https://user-images.githubusercontent.com/34792592/99026219-be348f80-2527-11eb-8f9c-a0289c4cd5a3.png)

[2020-11-13 08:45] Sanlorng commented on #2318
I also encountered the same problem, and after the problem occurred, the content of the context menu in the folder and the blank space of the folder changed
![Uploading Snipaste_2020-11-13_16-43-45.png…](before)
![Uploading Snipaste_2020-11-13_16-44-07.png…](after)

[2020-11-13 12:03] dkgv commented on #2298
Reopening this.

It's turned out to be a bit of a hit and miss for me; it seems like 9/10 times when I try to build it fails with the following error:
`3>C:\Users\admin\.nuget\packages\microsoft.net.uwpcoreruntimesdk\2.2.10\tools\CoreRuntime\Microsoft.Net.CoreRuntime.targets(238,5): error : CopyWin32Resources failed with exit code 701`

[2020-11-14 00:44] XiaoLeCN opened #2329 "Search can't run on FilesUWP"
Search can't run on FilesUWP
![image](https://user-images.githubusercontent.com/74437699/99133599-9e02ee80-2655-11eb-8b6a-44cfa0587287.png)

[2020-11-14 00:57] XPoppyX commented on #2329
This feature is not implemented yet

[2020-11-14 03:22] iseeghosts opened #2330 "OneDrive that appears in app is the one associated with my organization"
**OneDrive shown in app isn't the personal account**
I'm genuinely enjoying this app, but I would highly appreciate it if the publisher would either choose OneDrive personal account for OneDrive integration or display both along with SharePoint folders in the navigation pane. Right now, it says OneDrive which one can confuse with personal account but it's the Organization account.
To avoid such co

[2020-11-14 08:28] gave92 commented on #2329
Duplicate of #333

[2020-11-14 08:29] #2329 closed

[2020-11-14 08:45] gave92 commented on #2330
@iseeghosts thanks for this feedback. Issue should be solved in version 0.20.0.0 (both accounts will be pinned to the sidebar)
Feel free to reopen if updating does not solve the issue

[2020-11-14 08:45] #2330 closed

[2020-11-14 09:12] aunight opened #2332 "Didn't support Bandizip drop & unzip. it'll crash"
Please support this future

[2020-11-14 10:33] gave92 commented on #2332
Merging with #2023

[2020-11-14 10:33] #2332 closed

[2020-11-14 13:04] Jaiganeshkumaran opened #2333 "Files not opening in the latest version"
https://app.box.com/s/oubgw7qg8ggfcyrzjbx6gx9oe1vjxal9
App version: 0.20

[2020-11-14 13:39] XiaoLeCN opened #2334 "use different sort"
use different sort
![image](https://user-images.githubusercontent.com/74437699/99148283-cc1e1800-26c1-11eb-84c0-84b9ac2080c7.png)

[2020-11-14 13:41] XiaoLeCN opened #2335 "Time Bug"
![image](https://user-images.githubusercontent.com/74437699/99148326-0e475980-26c2-11eb-9a91-05bbe75f292f.png)
Same picture's time is not same in FilesUWP and WindowsExplorer

[2020-11-14 15:29] DanielBeigel opened #2336 "New Feature: Settings for single Folders"
Nice Software you made.
But it would be nice, if i can change the Overview or the order of files in single folders.

[2020-11-14 16:02] gave92 commented on #2336
Same request as #530?

[2020-11-14 16:05] DanielBeigel commented on #2336
Oh yes, sry i didnt saw that.
Realy nice software, like to use ist. Would be nice if #530 would be finished to 2021.
Thanks

[2020-11-14 16:05] #2336 closed

[2020-11-14 17:59] aaronth07 opened #2339 "Implement Optional White Icon"
I have every pinned app using a white icon for aesthetic purposes. I do this by setting a custom icon for the shortcut. But since Files is a UWP app, this is not possible. Even creating a separate shortcut does save the icon when pinning.

[Example](https://imgur.com/a/XOMu4ex)

Not asking for that icon specifically of course, i'm just posting that icon as an example, along with a comparison of th

[2020-11-14 18:37] duke7553 commented on #2334
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-11-14 18:37] #2334 closed

[2020-11-14 18:38] duke7553 commented on #2324
@Martin-Hausleitner We haven't heard anything back from you for 2+ days, and we typically close issues without a filled-out template after three days of inactivity. Please fill out the issue template and include a copy of your log file. Otherwise, we'll assume you resolved this and close this feedback report.

[2020-11-14 21:33] gave92 commented on #2222
@Firehawke at least for me the "teracopy" context menu item is present and working.

![image](https://user-images.githubusercontent.com/9673091/99156902-34222d80-26c5-11eb-995f-f4ac1ce6efd0.png)

I understand that anyway this is not as handy as having TeraCopy as the default copy handler, where drag and drop and ctrl-c/ctrl-v automatically use TeraCopy..

[2020-11-14 23:49] yaichenbaum commented on #2339
![image](https://user-images.githubusercontent.com/39923744/99159405-0380ca80-26aa-11eb-8389-60266bf9b67b.png)
@aaronth07 Is this what you were looking for?

[2020-11-15 00:15] XPoppyX opened #2340 "The app crashes when trying to open drive properties"
It crashes when I try to see the properties of any drive, from the sidebar and the folder / explorer

**LOG:**

2020-11-14 21:04:38.4166|ERROR|Files.App|Value cannot be null.
Parameter name: path1|System.ArgumentNullException: Value cannot be null.
Parameter name: path1
   at System.IO.Path.Combine(String path1, String path2)
   at Files.View_Models.SelectedItemsPropertiesViewModel.get_IsReadOnly(

[2020-11-15 00:20] d2dyno1 opened #2341 "MVVM"
**Is your feature request related to a problem? Please describe.**
WPF and UWP technologies were intentionally designed to work with MVVM pattern. Files follows it very poorly as majority of the code is hidden in the code-behind files (MainPage.xaml.cs)

**Describe the solution you'd like**
A loosely coupled code achieved with MVVM would be more maintainable and would make the entire codebase more

[2020-11-15 00:31] yaichenbaum commented on #2341
@d2dyno1 Moving towards MVVM is a long-term goal and we have made several steps in this direction with some of the recent refactoring we have done. Is this something you are interested in helping with?

[2020-11-15 00:34] d2dyno1 commented on #2341
I'll make sure my next PRs follow the MVVM pattern

[2020-11-15 01:02] d2dyno1 commented on #333
That turned out to be not so easy thing to do. I'm not sure I'll manage to get it working by myself. I'll need some help from anyone that's interested in working with such a enormous task.

[2020-11-15 01:03] d2dyno1 commented on #333
That turned out to be not so easy thing to do. I'm not sure I'll manage to get it working by myself. I'll need some help from anyone that's interested in working with such a enormous task.

[2020-11-15 03:16] aaronth07 commented on #2339
Yep, or something like that.

[2020-11-15 05:03] yaichenbaum commented on #1824
@rashil2000 @Jaiganeshkumaran Files is now available from Chocolatey https://chocolatey.org/packages/files.

[2020-11-15 05:21] yaichenbaum opened #2342 "Switch the right click context menu to CommandBarFlyout"
Here is a concept from https://twitter.com/zeealeid/status/1327710601691455488?s=20

![image](https://user-images.githubusercontent.com/39923744/99173711-596c6700-26d8-11eb-991e-16af32ebb164.png)

[2020-11-15 05:31] yaichenbaum commented on #2333
@Jaiganeshkumaran Can you share the log file?

[2020-11-15 05:32] #2324 closed

[2020-11-15 05:33] #84 closed

[2020-11-15 05:48] rashil2000 commented on #1824
@yaichenbaum I suppose that Scoop installation would be possible now too? Scoop already supports .msixbundle files.

If Files allows installation to a custom location, I can help in preparing the Scoop manifest.

[2020-11-15 06:00] yaichenbaum commented on #1824
@rashil2000 Feel free to take the msixbundle from the release page, we usually put the bundle up a day or two after publishing a new release.

[2020-11-15 08:19] Final-Hawk opened #2344 "OneDrive tab under drives is missing"
**Describe the bug**
OneDrive tab under drives is missing. On the sidebar of the app the OneDrive option under drives is missing. In settings the pin OneDrive is greyed out. (see image)

**To Reproduce**
Steps to reproduce the behavior:
1. Open files app
2. Look at sidebar or drives widget
3. See error (OneDrive Not showing)

**Expected behavior**
A OneDrive tab is supposed to be on the side and i

[2020-11-15 08:33] gave92 commented on #2340
After #2337 😅

[2020-11-15 13:23] MaxYaffe opened #2348 "Roadmap"
Is there a Roadmap for Files?  I'd hate to submit requests only to get back -- it's already on the roadmap but hasn't been implemented yet.  Or worse, it's there but I haven't discovered it.

For what its worth I really miss the Quick access list from Windows 7 File Manager.  I really like the clarity of relying on Drives and Folders as the chief organizing metaphor. MS has managed to mangle that

[2020-11-15 13:45] gave92 commented on #2348
Hi @MaxYaffe you can refer to Github issues or the [project board](https://github.com/files-community/Files/projects/1) to know what it's currently planned or being worked on.
For example a search for "quick access" leads to issue #2322 which sounds like what you are requesting here.
The "triage approved" label means that a feature request is on the roadmap but hasn't been implemented yet.

[2020-11-15 13:47] gave92 commented on #2322
This is the same as #1805 right?

[2020-11-15 15:31] yaichenbaum commented on #2344
@Final-Hawk This issue should be fixed when we roll out the next update.

[2020-11-15 15:31] #2344 closed

[2020-11-15 15:34] yaichenbaum commented on #2348
@MaxYaffe As @gave92 said, you can check the project board to see what's already been approved. If you don't see an issue for a feature you would like added, make sure to open a proposal so that we can review/add it to the plans 😃.

[2020-11-15 15:34] #2348 closed

[2020-11-15 16:37] yaichenbaum commented on #1245
@Xemanth Nextcloud will be pinned by default in the next update.

[2020-11-15 17:05] #2340 closed

[2020-11-15 18:21] Thomas1664 opened #2349 "Don't show selection rectangle on touch input"
**Describe the bug**
the selection rectangle shows up while using the touchscreen to scroll in the items view

**To Reproduce**
Steps to reproduce the behavior:
1. Open a folder with many items or decrease the window size until the scrollbar appears
2. Use the touch screen to scroll up and down
4. See error

**Expected behavior**
Don't show selection rectangle while using the touchscreen in scroll

[2020-11-15 20:16] Rasmagoric commented on #2333
Same issue here with v0.20

[2020-11-15 21:13] gave92 commented on #1924
As of 0.20.0.0 app won't crash anymore but won't show items is the Vault folder

[2020-11-15 22:32] MarcAnt01 opened #2350 ""OneDrive commercial" label in the sidebar is misleading"
I use it for the account managed by my university, so commercial is definitely out of context. I think it could ba a better idea to show the full name like it's done by the official file explorer and it's already shown by Files in the path
![image](https://user-images.githubusercontent.com/43090263/99198708-a9136700-279a-11eb-94da-1f8cbdb13974.png)

[2020-11-15 23:30] yaichenbaum commented on #2350
@MarcAnt01 Do you think it's best to add a string for it in the resource files?

[2020-11-15 23:39] tsvietOK commented on #2350
@yaichenbaum I think what he means is to change the name from "OneDrive" or "OneDrive Commercial" to the real name of the folder.

[2020-11-16 00:10] yaichenbaum commented on #2117
@d2dyno1 It would only restore the last tab that was closed.

[2020-11-16 03:43] Jaiganeshkumaran commented on #2350
Instead of OneDrive commercial, it could be OneDrive for Work or School.

[2020-11-16 04:44] mokeyjay opened #2351 "Can not show hidden files. and another maybe a translate issue"
**Describe the bug**
- the `Show hidden files, folders, and drives` switch is disable
[![Snipaste-2020-11-16-11-02-38.jpg](https://i.postimg.cc/rptQfHDk/Snipaste-2020-11-16-11-02-38.jpg)](https://postimg.cc/yJsmdvhQ)
- [this guy](https://github.com/files-community/Files/commit/b39e744ea5a6fd2f2f6d094b4d7894dbc7ff0b57#diff-0e44270c7e1774ce04ab6c347f6cfb64d756ebc98e3cf6f9e614f1a377754066) change all

[2020-11-16 06:46] DashCruft opened #2352 "Drag and Dropping"
Hey there!
It would be awesome if you guys add the feature where you can drag and drop the files/items into like discord or somewhere!

[2020-11-16 07:49] mokeyjay opened #2355 "Add a double click gesture and setting to let the user customize the action"
**Is your feature request related to a problem? Please describe.**
No, just a feature

**Describe the solution you'd like**
double click in red box area back to upper folder
![Snipaste_2020-11-16_15-46-33](https://user-images.githubusercontent.com/6757507/99225416-ff2bed00-2822-11eb-8b6c-f7119d29477c.jpg)

the [QTTabbar](http://qttabbar.wikidot.com/)、[Clover](http://cn.ejie.me/) all support this f

[2020-11-16 08:57] MarcAnt01 commented on #2350
@yaichenbaum sorry I don't understand what you mean,

@Jaiganeshkumaran  I don't think it's a good idea, how are you going to get that info?

@tsvietOK I think OneDrive personal could be kept, since it's the main account, but change as you've proposed the one of the school/work account

![image](https://user-images.githubusercontent.com/43090263/99232320-13a3c180-27f2-11eb-8847-2ac3ad7642bc.png)

[2020-11-16 10:14] MarcAnt01 opened #2357 "StatusBar control is not touch-friendly"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Using it with touch buttons are to close to each other

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Use default uwp font size and button size

**Describe alternatives you've considered**

[2020-11-16 13:26] d2dyno1 commented on #2355
There's more popular approach to this problem:
![image](https://user-images.githubusercontent.com/53011783/99257418-4ad89980-2817-11eb-9ed2-a22d631171d9.png)
Adding a special item that navigates up a directory.

That would create a problem of accidental clicks.

[2020-11-16 13:44] agoogleuser opened #2359 "Drag and Drop from 7zip to any folder Crashes the app"
The app doesn't work nicely at the event of Drag & Drop from 7zip

Steps to reproduce the behavior:
1.open a compressed file/folder using 7z.
2. select a file and drag it to the destination folder in the Files - Preview app.
3. See error

The app craches giving a notification in action center called "New Notification".

 - OS Version: Windows 10 20H2 build 19042.630
 - App version: v0.20.0

**Log

[2020-11-16 14:05] AnugrahJames commented on #2352
@DashCruft The feature is already present in Files. It's just that dragging isn't very fast currently. You need to drag a bit slower to see it work.

[2020-11-16 14:20] gave92 commented on #2359
Merging with #2023

[2020-11-16 14:20] #2359 closed

[2020-11-16 15:56] yaichenbaum commented on #2357
@MarcAnt01 The plan is to add an option to adjust the spacing and size of controls as part of #737.

[2020-11-16 15:57] yaichenbaum commented on #2350
That's probably the best way to do it.

[2020-11-16 15:58] MarcAnt01 commented on #2357
@yaichenbaum I don't really like the idea, all UWP controls are thought to be touch friendly by default. Files app is very good with touch, I don't think making this control bigger would have any cons.

[2020-11-16 16:10] yaichenbaum commented on #2357
@MarcAnt01 Files is used by both touch users and mouse users, therefore, instead of making the app oriented to just one kind of input we are going to add an option for the user to choose the mode themselves.

[2020-11-16 16:11] yaichenbaum commented on #2355
@mokeyjay I am not against this idea but what value would this have over clicking to the button that is already there for this?

[2020-11-16 16:13] yaichenbaum commented on #2351
@mokeyjay This feature is included in the `master` branch but has not been shipped to users yet.

[2020-11-16 16:13] #2351 closed

[2020-11-16 16:14] MarcAnt01 commented on #2357
@yaichenbaum I don't agre with this strategy, all the new parts of Windows 10 are made a bit bigger for touch users, moving on your path is a legacy way. Also the web is slowly moving towards touch-friendly UIs first

[2020-11-16 16:22] yaichenbaum commented on #2357
Touch friendly is important, however apps with a lot of options need to be careful to leave enough space to view the main content. Of course the touch user will prefer larger buttons over more space to view content and that is why we will make sure to provide that for them.

[2020-11-16 16:24] MarcAnt01 commented on #2357
Sure, but I don't think that a bit of additional space for those buttons will reduce the available space

[2020-11-16 16:26] yaichenbaum commented on #2357
@MarcAnt01 Perhaps making them wider is fine, making them taller would require the options I mentioned above.

[2020-11-16 16:26] alunosnet commented on #2333
Same problem, files only open if selected open with and then ok.

[2020-11-16 16:26] #2349 closed

[2020-11-16 16:27] yaichenbaum commented on #2333
@alunosnet Does resetting the app fix the issue?

[2020-11-16 16:32] alunosnet commented on #2333
Yes, thanks.

[2020-11-16 16:52] lucandrei opened #2360 "Copy/Paste multiple files crashes the app."
**Describe the bug**
The app crashes when you copy multiple files and try to paste them into another path/folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy over 100 jpgs (i had over 6gb of data)
2. Try to paste them into a different drive

I have the lastest vers of Windows 10

[2020-11-16 17:08] MarcAnt01 commented on #2357
I don't think around 5 pixel could affect the overall space, while they could improve touch-screen experience

[2020-11-16 17:09] MarcAnt01 commented on #2357
But it's your choice in the end

[2020-11-16 18:58] DashCruft commented on #2352
and can you guys solve that in future updates?

[2020-11-16 19:21] yaichenbaum commented on #2360
@lucandrei Can you fill out the issue template to help us investigate the issue?

[2020-11-16 19:22] yaichenbaum commented on #2333
@Jaiganeshkumaran @Rasmagoric Can you check if resetting the app fixes the issue?

[2020-11-16 21:36] Steve01010 opened #2362 "Folder doesn't auto-refresh when file dragged in"
**Describe the bug**
When a file is dragged and dropped into the current folder, the view doesn't show the new file. This leaves no indication of whether or not the file was successfully moved/copied.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a folder in Files
2. Drag and drop a file into the open folder

**Expected behavior**
When the file is dropped/copied/moved into the folder,

[2020-11-16 22:02] gave92 commented on #2008
An alternative way for touch would be a long press that triggers a "multiple selection mode" where checkboxes appear next to items
![image](https://user-images.githubusercontent.com/9673091/99309862-66b15f00-285a-11eb-8629-ba2859d2d2c2.png)

[2020-11-17 00:52] ArtexJay commented on #692
Will there be an optional to disable Quick Access?

[2020-11-17 01:05] XPoppyX commented on #692
I think so

[2020-11-17 01:06] mdtauk commented on #2357
For what it's worth, I think touch should be the default affordance with the UI.

Then include an option to resize UI to optimize for mouse.  With a warning that this will make it hard to use on touch screens.

It's WinUI, the underlying assumption should be touch.  If only for consistency with other modern apps and the modern shell.

[2020-11-17 01:07] yaichenbaum commented on #2357
@mdtauk Once the setting is implemented we will actually set the default based on if the device is a touch screen or not.

[2020-11-17 01:11] mdtauk commented on #2357
That is a thing used by invokable UI, like context menus and flyouts. Not for entire apps.

You could detect if a device has no touch capability and use a Teaching Tip to inform the users wish to optimise for mouse.

But first presentation of the UI should use the same Metrics and sizing as all WinUI apps.

[2020-11-17 02:15] yaichenbaum commented on #2341
@d2dyno1 That sounds great, one of the things we can already start doing is moving some of the core functions out of the code-behind into a separate "commands" folder for features such as copying, pasting etc.

[2020-11-17 02:51] yaichenbaum commented on #2296
@Steve01010 Files already includes support for network drives, is there a specific use case you had in mind?

[2020-11-17 03:23] yaichenbaum commented on #1006
There are no plans to implement an option like this at the moment.

[2020-11-17 03:23] #1006 closed

[2020-11-17 03:28] yaichenbaum commented on #947
Duplicate of #1805.

[2020-11-17 03:28] #947 closed

[2020-11-17 04:57] AngelZeur opened #2367 "Suggestion For Files - Preview Always work using Adobe Creative Cloud for everything from every transparent interface to every All Files Designer - Preview always using Adobe Creative Cloud to always perfect everything from Files - Preview please Link For Site Oficial Adobe https://www.adobe.com/"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-17 05:00] AngelZeur commented on #2367
Always work using Adobe Creative Cloud for everything from every transparent interface to every All Files Designer - Preview always using Adobe Creative Cloud to always perfect everything from Files - Preview please Link For Site Oficial Adobe https://www.adobe.com/

[2020-11-17 10:19] mijorus commented on #2367
please close this

[2020-11-17 14:00] #2357 closed

[2020-11-17 14:49] TarsChiu opened #2369 "Cannot Open Items With Touch"
1. Go to start uwp
2. Click  **any** folder or  files on the **touch screen**
3. See error.**you can't open it**

 **- OS Version: [Windows 10 20H2 19042.630]**
 **- App version: [v0.20.0.0]**

[2020-11-17 14:51] d2dyno1 commented on #2298
Did you try commenting out TerminalController.Init?
![image](https://user-images.githubusercontent.com/53011783/99405220-d07a4900-28ec-11eb-99f3-da2dcdd96772.png)

[2020-11-17 14:54] yaichenbaum commented on #2367
@AngelZeur We are having trouble understanding this feature request, can you please fill out the template to give us a better idea what you are requesting?

[2020-11-17 16:23] hez2010 commented on #2369
I cannot repro your issue.

[2020-11-17 17:03] Rasmagoric commented on #2333
@yaichenbaum yeah. I reinstalled the app and it works fine now. thanks

[2020-11-17 17:04] #2333 closed

[2020-11-17 20:10] jordanisaacs commented on #2322
@gave92 pretty much, but I would think pinning folders and smart quick access would be separate features.

[2020-11-17 21:17] yaichenbaum commented on #1492
This issue should be resolved with #2163.

[2020-11-17 21:18] yaichenbaum commented on #873
This issue should be resolved with #2163.

[2020-11-17 22:05] #873 closed

[2020-11-17 22:05] #1492 closed

[2020-11-18 00:13] d2dyno1 commented on #2367
Some advertising spam

[2020-11-18 00:32] d2dyno1 commented on #2341
Are you referring there to changes made by #2358? In the means of copying, moving, deleting items, the (new, reworked) `IFilesystemOperations` needed its own special place. I intentionally didn't keep it in the Commands directory because `Commands` are specifically reserved for UI elements functionality implementation (`ICommand`). The new `IFilesystemOperations` is a part of Files' underlying FS.

[2020-11-18 00:52] yaichenbaum commented on #2341
@d2dyno1 No, I was just saying in general.

[2020-11-18 02:55] #2367 closed

[2020-11-18 03:21] Jaiganeshkumaran commented on #2369
@TarsChiu Could you try reinstalling the app from the Store?

[2020-11-18 03:23] Jaiganeshkumaran commented on #45
@duke7553 It seems to not support by default but System.IO should be sufficient

[2020-11-18 03:40] Jaiganeshkumaran opened #2371 "Use acrylic for tabs background but solid color for sidebar by default"

[2020-11-18 03:46] Jaiganeshkumaran opened #2372 "Enhancement: Move layout and selection flyouts to the toolbar"
- [ ] Move display options button to the toolbar
- [ ] Move selection options button to the toolbar

[2020-11-18 03:53] Jaiganeshkumaran opened #2373 "Eject shown for pinned folders"
**Describe the bug**
Sometimes eject option is shown for pinned folder

**To Reproduce**
Steps to reproduce the behavior:
1. Right-click on a secondary drive
2. Now right click on a pinned folder
4. See error

If you right-click on the primary drive (Windows) you will not see the eject option for pinned folders next time

**Expected behavior**
Eject option should not be shown for pinned folders.

[2020-11-18 04:48] mdtauk commented on #2371
There is an already an Acrylic setting, and it is un-needed complication to have separate options for both the Tab/Title Bar and the Sidebar.

[2020-11-18 04:49] Jaiganeshkumaran commented on #2371
@mdtauk No I want acrylic always for tabs and optional acrylic for sidebar

[2020-11-18 08:24] boscorelly commented on #2080
Hi,

glad to see you fixed part of the problem :)

Now, i can access \\x.x.x.x but when i try to access \\x.x.x.x\folder while clicking the name of the folder in the drop down list, i got this error : ERROR_NOTAFOLDER
But if i click the same item in the explorer list, it works.

[2020-11-18 08:25] boscorelly commented on #2079
this has no sense : if you want to deploy an online content on computer without internet, at one time, you need to have access to internet...

[2020-11-18 10:34] AndrewDaGuy opened #2375 "Sidebar title is "trash bin", should be "Trash Bin", etc."
**Describe the bug**

The Recyling bin tab is just "trash bin" without capitalization

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files UWP
2. In the sidebar you should see it

**Expected behavior**
Either it should be "Trash Bin" or "Recycling Bin", etc.

**Screenshots**
Screenshot:
![image](https://user-images.githubusercontent.com/66189242/99518191-19f68280-2945-11eb-8486-78c1bee

[2020-11-18 10:43] AndrewDaGuy commented on #2375
i just stupidly realized that my bin is called that because it syncs with the name

[2020-11-18 10:43] #2375 closed

[2020-11-18 11:06] alberto-diaz15 opened #2376 "The app does not open folders with empty name"
If you create a "hidden folder" with empty name (Alt+255) and you try to open it from the app it does not open
![git](https://user-images.githubusercontent.com/72040488/99522789-68803d00-2996-11eb-960e-3ea902ffbcd8.PNG)

[2020-11-18 11:08] Cyberdroid1 opened #2377 "Add a way to quit the QuickLook preview by pressing Esc key"
**Is your feature request related to a problem? Please describe.**
It sometimes bugs me that I cannot exit the quicklook preview by pressing Esc.

**Describe the solution you'd like**
Program it so that pressing Esc closes it, just like how the independent app works

**Additional context**
Also, make it so that when I change the selection of file, the preview should switch to preview of the newly-

[2020-11-18 12:05] fisforfaheem commented on #2079
offline deployment using usb

On Wed, Nov 18, 2020 at 1:25 PM Camille Ollié <notifications@github.com>
wrote:

[2020-11-18 13:50] i-curve opened #2379 "Why not add double-click Settings?"
I'm used to selecting the file/folder by click, and opening file/folder by double click.

I don't find this setting. Why not add the feature?

[2020-11-18 14:22] yaichenbaum commented on #2339
@aaronth07 While we won't add the option to change the icon for Files, we will make sure to add icons for high contrast themes. To create a shortcut with a custom icon, create a new shortcut and set the target path to `Files.exe`.

[2020-11-18 14:22] #2339 closed

[2020-11-18 14:36] MrStefanW opened #2380 "Able to preview contents inside a folder"
**Is your feature request related to a problem? Please describe.**
It's not related to a problem in Quicklook, but something that is on MacOSX and would like to see on Windows.

**Describe the solution you'd like**
On MacOSX there is a column view that you can view contents of a folder when clicking on it. For my suggestion I have 2 ideas how it could be implemented.

**Copying the MacOSX feature.

[2020-11-18 14:38] MrStefanW opened #2381 "Right click animations and speeds."
**Is your feature request related to a problem? Please describe.**
Currently when you right click on something it slides in at a speed that's too slow for me.

**Describe the solution you'd like**
What I would like to see is being able to customize the animations for the right click menu to come in, and the speed of it. For me that would be a fade in for 1/4th of a second.

**Describe alternatives

[2020-11-18 14:46] yaichenbaum commented on #895
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-18 14:46] #895 closed

[2020-11-18 14:47] yaichenbaum commented on #1649
@PruvostMaxime Is this still an issue?

[2020-11-18 14:49] yaichenbaum commented on #2371
@Jaiganeshkumaran We don't plan to add this level of customization, the best option would be to turn on the acrylic setting.

[2020-11-18 14:49] #2371 closed

[2020-11-18 14:52] yaichenbaum commented on #2377
Merging with #792 #1373.

[2020-11-18 14:52] #2377 closed

[2020-11-18 14:53] yaichenbaum commented on #2379
@i-curve We are having trouble understanding this feature proposal, can you please fill out the issue template to better help us under your feature request?

[2020-11-18 14:59] yaichenbaum commented on #2380
Merging with #147 #130.

[2020-11-18 14:59] #2380 closed

[2020-11-18 15:33] TarsChiu commented on #2369
This issue just like you use the powerpoint on the touch screen ,it is hard to operat
You clicked but it is hard to poen it

[2020-11-18 15:46] PruvostMaxime commented on #1649
Sup,
I forgot to do the translations because i have more work than planned (moving out,exams..)
Really sorry,still need to do them

[2020-11-18 17:07] ldsands opened #2383 "Rearrange "Open a specific page or pages""
**Is your feature request related to a problem? Please describe.**
After I add pages to the "Open a specific page or pages" option in the "On Startup" tab in Settings there is no way to rearrange those folders.

**Describe the solution you'd like**
I can think of two options off the top of my head:
1. Click and drag these pages to create the order desired (my preferred option)
1. In the three dot

[2020-11-18 17:07] #1005 closed

[2020-11-18 17:10] #1786 closed

[2020-11-18 17:14] yaichenbaum commented on #2314
@DogeLord081 Can you check if resetting the app fixes the issue?

[2020-11-18 18:06] fisforfaheem opened #2385 "Can you port the app over to windows phone 10??"
it would be so cool! to use it on that lumia phone too! also please add subtle lottie live tiles

[2020-11-18 18:15] PruvostMaxime commented on #1649
Looks like the translations are done now (wasn't running the latest version of Files)
So the issue can be closed

[2020-11-18 18:15] #1649 closed

[2020-11-18 19:28] #440 closed

[2020-11-18 19:35] osieltorres opened #2387 "Drives space in Home widgets are not being updated after operations"
**Describe the bug**
The disks space are not updated after `deleting`/`copying` files into it, it is necessary to restart the application to update.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to application
2. Enter a disk, make any operation like `paste`/`delete` files, that modifies the space of the disk.
3. Go to *Home* view, and check the disk space.
4. The current space of the d

[2020-11-18 19:46] gave92 commented on #2387
Merging with #2242

[2020-11-18 19:46] #2387 closed

[2020-11-18 19:53] yaichenbaum commented on #2385
@fisforfaheem Windows Phone is no longer supported by Microsoft and many of the APIs that we rely on are not available for Windows Phone.

[2020-11-18 19:53] #2385 closed

[2020-11-18 20:30] #2373 closed

[2020-11-19 02:02] yaichenbaum commented on #1343
This issue should be resolved with #2389.

[2020-11-19 02:04] yaichenbaum commented on #1321
@NicTanghe Is this still an issue is v0.20?

[2020-11-19 02:05] #1330 closed

[2020-11-19 03:44] yaichenbaum commented on #325
Merging with #795.

[2020-11-19 03:44] #325 closed

[2020-11-19 13:27] dinrise opened #2392 "Set Files as default File explorer"
Any ways, it's real?

[2020-11-19 13:32] yaichenbaum commented on #2392
@dinrise You can follow the instructions in this link, but it's not recommended. https://github.com/files-community/Files/wiki/Replacing-File-Explorer-with-Files-(Unsupported).

[2020-11-19 13:32] #2392 closed

[2020-11-19 15:12] mokeyjay commented on #2355
@yaichenbaum Because of its high frequency of use, it does not require precise positioning as opposed to the click of a button, making it quick and easy to use.
It's a feature that's hard to get rid of once you get used to it. Maybe you should try [QTTabbar](http://qttabbar.wikidot.com/) .

[2020-11-19 17:05] KristofKekesi opened #2394 "[Feature] translated element type in Drives Properties page"
**Is your feature request related to a problem? Please describe.**
When I open the properties page of a drive every text is translated except the `element type`.

**Describe the solution you'd like**
Ability to translate the options.

**Additional context**
![005](https://user-images.githubusercontent.com/64812024/99698977-ba59bd80-2a91-11eb-8b4b-f14637d59961.PNG)

[2020-11-19 17:57] #2115 closed

[2020-11-19 20:15] #1580 closed

[2020-11-19 21:02] #1343 closed

[2020-11-20 03:38] yaichenbaum commented on #794
@ChelaruCatalin Is this still an issue in v0.20?

[2020-11-20 03:50] yaichenbaum commented on #2070
@ZzzzzzzSkyward Can you try again with the latest release?

[2020-11-20 13:35] caibook opened #2400 "often crash"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-11-20 14:19] #2400 closed

[2020-11-20 14:19] yaichenbaum commented on #2400
Thanks again for your feedback.

If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-20 14:30] duke7553 commented on #2360
@lucandrei We haven't heard anything back from you for 2+ days, and we typically close issues without a fully filled-out template after three days of inactivity. Please fill out the issue template and include a copy of your log file. Otherwise, we'll assume you resolved this and close this feedback report.

[2020-11-20 14:30] duke7553 commented on #2369
@TarsChiu Does this occur in ListView mode only or GridView also?

[2020-11-20 14:53] #2360 closed

[2020-11-20 14:54] yaichenbaum commented on #2314
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-20 16:00] TarsChiu commented on #2369
Ehh,I‘m not sure that gridview mode was the same,
but i'm sure that listview mode must have this situation,
I will test gridview mode tomorrow.

[2020-11-20 17:02] #2236 closed

[2020-11-20 19:56] osieltorres opened #2402 "Default left icons missing from list view in network drives"
**Describe the bug**
Network drives shows with missing icons in the list view.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application.
2. Click on any *network drive*.
3. Archives left icon are missing from list view.

**Expected behavior**
List of archives with default folder icon to the left to be shown.

**Screenshots**
![2020-11-20_143746](https://user-images.githubusercont

[2020-11-20 20:11] osieltorres opened #2403 "Left pane not refreshing to show recent mounted .iso file disk."
**Describe the bug**
Left pane not refreshing to show .iso file disk after mounted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the application.
2. Click on on a .iso file disk.
3. Mount the file as a disk.
4. Left pane does not refresh to show the mounted disk.

**Expected behavior**
To refresh the left pane after mounting the .iso file disk.

**Desktop (please complete the follow

[2020-11-20 21:34] AndrewDaGuy opened #2404 "QuickLook launching using space instead of menu"
**Is your feature request related to a problem? Please describe.**
nope

**Describe the solution you'd like**
Just like the actual Quicklook app, you long-press space for Quicklook to open instead of going to the context menu.

**Describe alternatives you've considered**
Maybe you can also add as a setting for example:

**QuickLook** (ON/OFF)

**Additional context**
I saw QuickLook on the third pa

[2020-11-20 22:02] fisforfaheem commented on #2385
oh :( Really wanted this on my lumia though! anyway! keep improving the
explorer i hope it becomes faster in next release on hard disks. right now
it is very slow on mycore2duo

On Thu, Nov 19, 2020 at 12:54 AM Yair Aichenbaum <notifications@github.com>
wrote:

[2020-11-20 22:30] duke7553 opened #2405 "Poor contrast of Status Center flyout in dark mode"
**Describe the bug**
Compared to light mode the status center flyout has poor contrast with the page background in dark mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Status Center flyout at bottom right

**Expected behavior**
We should improve this so users understand the Flyout is present

**Screenshots**
![image](https://user-images.githubusercontent.com/20365014/99855947-f191

[2020-11-21 00:15] d2dyno1 commented on #2117
I'll look into that as soon as #2358 is merged

[2020-11-21 00:21] d2dyno1 commented on #2405
Status Center is lacking dropshadow.

[2020-11-21 06:42] Tombstone2K opened #2407 "SFTP support"
Please add SFTP support for Files-Beta.
I use KDE-Connect to access files on my android phone, adding SFTP client support would make life easier for many

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you wan

[2020-11-21 06:45] Tombstone2K opened #2408 "Crashes while inverting selection"
**Describe the bug**
There are 1947 files in the folder. When I select one of them and proceed to invert selection, Files Beta crashes.
It works fine when the I tried it in a folder with 12 files.

[2020-11-21 09:01] R3voA3 commented on #2405
It has a drop shadow for me and I personally find the contrast alright.

[2020-11-21 09:14] R3voA3 opened #2410 "Make text in the properties dialog responsive"
When using the German localisation, the right attribute text is cut off due to the window being too narrow.

![image](https://user-images.githubusercontent.com/17484252/99872511-6f02f480-2be2-11eb-9fbd-05cf3de470e0.png)

[2020-11-21 09:16] R3voA3 commented on #2379
The feature you describe is the default behaviour of Files.

[2020-11-21 09:19] R3voA3 opened #2411 "Increase margin between drives on the homepage"
![image](https://user-images.githubusercontent.com/17484252/99873835-20a22580-2be3-11eb-85a4-527d495ef6a7.png)

The zoom effect causes them to overlap.

[2020-11-21 09:31] mdtauk commented on #2405
Drop Shadows are not very effective in Dark Themes, and so perhaps a highlight border around the flyout/dialog should be added (set to Transparent in Light Theme)

![image](https://user-images.githubusercontent.com/7389110/99874007-1e889880-2bdc-11eb-9f31-50c807215e49.png)

![image](https://user-images.githubusercontent.com/7389110/99874013-2a745a80-2bdc-11eb-975f-13136ab6fc33.png)

![image](https

[2020-11-21 10:20] i-curve commented on #2379
No, Single click will open folder. I want to open a folder by double click

[2020-11-21 10:22] R3voA3 commented on #2379
Have you checked the settings?

[2020-11-21 10:26] i-curve commented on #2379
Oh, I didn't notice that. All right

[2020-11-21 10:26] i-curve commented on #2379
😄

[2020-11-21 10:26] #2379 closed

[2020-11-21 11:01] TarsChiu commented on #2369
@duke7553 I have tested it today,this issue only occurs on listview mode,other mode is OK.

[2020-11-21 12:08] Jaiganeshkumaran opened #2412 "Too many UI Automation + keyboard tab navigation issues"

[2020-11-21 13:29] gave92 commented on #2408
Thanks for the report @Tombstone2K. Please fill out the issue template with the app version anche the log files to help us investigate the issue.

[2020-11-21 14:23] i-curve opened #2413 ".exe programs take a long time to load"
I suddenly realized that it couldn't run the ".exe" program and can't delete shutcut on desktop.

Is that a bug?

[2020-11-21 18:40] #2412 closed

[2020-11-21 18:40] duke7553 commented on #2412
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-11-21 23:09] DogeLord081 commented on #2314
@yaichenbaum how do I reopen it

[2020-11-21 23:29] #2402 closed

[2020-11-21 23:42] yaichenbaum commented on #2411
@R3voA3 I am keeping this open for now but it should be fixed when we ship the next beta build.

[2020-11-21 23:44] yaichenbaum commented on #2404
@AndrewDaGuy Do you have QuickLook installed? Pressing the space bar should already open QuickLook so let us know if you see anything different.

[2020-11-22 03:21] Saihaan06 opened #2416 "Make a way to use files as the default file explorer for windows please"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-22 03:33] yaichenbaum commented on #2416
https://github.com/files-community/Files/wiki/Replacing-File-Explorer-with-Files-(Unsupported)

[2020-11-22 03:33] #2416 closed

[2020-11-22 14:15] yaichenbaum commented on #2413
@i-curve What version of Windows are you running?

[2020-11-22 17:12] yaichenbaum commented on #1243
@Xemanth The full path should show by default in v0.20, can you confirm if this is what you had in mind?

[2020-11-22 17:13] yaichenbaum commented on #2070
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-22 17:13] #2070 closed

[2020-11-22 17:15] yaichenbaum commented on #1226
@Jaiganeshkumaran Are you still planning to work on this issue?

[2020-11-22 17:16] yaichenbaum commented on #1161
@Jaiganeshkumaran Are you still planning on working on this issue?

[2020-11-22 17:18] yaichenbaum commented on #1413
Merging with #2303.

[2020-11-22 17:18] #1413 closed

[2020-11-22 17:23] yaichenbaum commented on #1513
@Thomas1664 It looks like there is a way to check if an update is mandatory, perhaps we should only check for updates if they are mandatory. Doing this will help make sure the app is updated if a critical update was sent out.

[2020-11-22 17:24] yaichenbaum commented on #1461
@Jaiganeshkumaran v0.20 has support for resizing the sidebar.

[2020-11-22 17:24] #1461 closed

[2020-11-22 17:26] yaichenbaum commented on #1661
@jamiehoss This issue should be fixed in v0.20.

[2020-11-22 17:26] #1661 closed

[2020-11-22 17:38] yaichenbaum commented on #2405
@duke7553 This issue should be resolved once we switch the colors of the content area with the colors of the sidebar.

[2020-11-22 17:57] duke7553 commented on #2405
@yaichenbaum I'm not sure I follow. We need to change the background color of the Flyouts to something which differentiates it from the page background in dark mode.

[2020-11-22 18:11] d2dyno1 commented on #2342
Does the author of this tweet know about Files? Maybe if we dm them, he could bring some creative ideas to Files... 🤔

[2020-11-22 19:49] d2dyno1 commented on #1763
:eyes: hmmm....

[2020-11-22 19:49] d2dyno1 commented on #1763
I'll :eyes: into that too

[2020-11-22 20:17] Steve01010 commented on #2296
@yaicenbaum There is no button to see the network drives in the sidebar.

[2020-11-22 20:21] yaichenbaum commented on #2296
@Steve01010 Right now network drives show up under the drives section, but we plan to split that up in the future. Merging with #692.

[2020-11-22 20:21] #2296 closed

[2020-11-22 21:55] DogeLord081 commented on #2314
can someone put this in the to do list? its in the closed right now because it got reopened

[2020-11-22 22:15] yaichenbaum commented on #2314
@DogeLord081 Can you try resetting the app again?

[2020-11-22 23:15] aaronth07 commented on #2339
Unfortunately, that doesn't work for me. It was the first thing I have
tried. I think it has something to do with the UWP format.

On Wed, Nov 18, 2020 at 8:23 AM Yair Aichenbaum <notifications@github.com>
wrote:

[2020-11-23 02:28] Mew1998 opened #2420 "hope to support multi-selection using touch screen instead of Ctrl+mouse"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-11-23 06:10] Jaiganeshkumaran commented on #1226
@yaichenbaum Yes but only if you let me use StorageFolder

[2020-11-23 06:11] Jaiganeshkumaran commented on #1161
@yaichenbaum Yes

[2020-11-23 10:02] i-curve commented on #2413
20H2  (19042.630).
The software is too stuck in this version.

[2020-11-23 10:09] i-curve commented on #2413
To correct it, it is not that it does not run, but it takes a long time. Sometimes it just won’t run

[2020-11-23 10:12] i-curve commented on #2413
The same is true for other functions

[2020-11-23 13:35] yaichenbaum commented on #1161
@Jaiganeshkumaran That's great! Keep us posted.

[2020-11-23 13:37] yaichenbaum commented on #1226
@Jaiganeshkumaran The reason we don't use StorageFolder over there is because it will slow down the loading of the items. Perhaps there is another way to find the localized name without using StorageFolder.

[2020-11-23 13:39] Jaiganeshkumaran commented on #1226
@yaichenbaum There's a function named SHGetLocalizedName but it's not allowed in UWP. SHGetFileInfo can also be used but it is also not allowed.

[2020-11-23 13:42] yaichenbaum commented on #1226
We can probably put that in the FullTrustProcess.

[2020-11-23 14:20] askfriends opened #2423 "No copy/move progress screen is shown"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'any location'
2. Copy File/Files
3. Go to another folder/location
4. Paste and you wont see any copy progress dialog

**Expected behavior**
Please fix it so that copy/move files dialog must be shown

**Screenshots**
not necessary

**Desktop (please complete the foll

[2020-11-23 14:28] yaichenbaum commented on #1321
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 5+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-23 14:28] #1321 closed

[2020-11-23 17:57] yaichenbaum commented on #2420
Merging with #290.

[2020-11-23 17:57] #2420 closed

[2020-11-23 18:07] duke7553 commented on #2341
@d2dyno1 We do need to rename the "Commands" folder to something less confusing.

[2020-11-23 18:10] d2dyno1 commented on #2341
I'd create a ViewModel folder for all View Models. I'll open a PR regarding this - How I'd do it, how I see it done - as soon as #2358 is merged, and #1763, #2117 is completed

[2020-11-23 18:16] yaichenbaum commented on #2341
@d2dyno1 We already have a ViewModel folder.

[2020-11-23 18:17] d2dyno1 commented on #2341
👀

[2020-11-23 18:18] yaichenbaum commented on #2341
It depends, at the time we were going to put the command in their own files but now it looks like we will be putting them in the View Models.

[2020-11-23 20:01] DogeLord081 commented on #2314
@yaichenbaum ok i just tried. It didnt work

[2020-11-23 21:56] LucaRossi02 opened #2424 "Errore when lanch Debug"
**Describe the bug**
When I debug, I get the error
"Exception thrown:" System.InvalidOperationException "in FilesFullTrust.exe
No handled exception of type "System.InvalidOperationException" in the
FilesFullTrust.exe private package identity process. (Exception from HRESULT: 0x80073D54)

'FilesFullTrust.exe' (CLR v4.0.30319: FilesFullTrust.exe): Speech bubble that says' C: \ Program Files (x86) \

[2020-11-24 01:23] yaichenbaum commented on #2424
@LucaRossi02 Make sure to set the Files.Package project as the startup project.

[2020-11-24 12:13] R3voA3 opened #2426 "Allow the user to add separators to the side bar"
The context menu of the side bar should have an option to add a separator. This would make organizing custom entries easier.

Example:
![image](https://user-images.githubusercontent.com/17484252/100092735-d923cf80-2e56-11eb-9673-1fd345de4e27.png)

Alternatively allow the user to define a new header similar to **Drives**

[2020-11-24 12:42] R3voA3 commented on #2411
Fixed in current beta

[2020-11-24 12:42] #2411 closed

[2020-11-24 13:24] yeduzhouzi commented on #2318
Did you find a way to solve it? I got the same problem here. The app could not retrieve the system context menu at all.

[2020-11-24 14:39] matt70tx opened #2427 ""Group By" option in listview"
In MS File Explorer you have an option to group files by the columns shown in listview. Its really handy when I want to group files that are older or by size or by type. I miss this feature here.

And same with the drives on the left side. Would be nice to group them too so Network drives are separated from USB drives and from internal drives.

[2020-11-24 14:45] yaichenbaum commented on #2318
@Sanlorng @yeduzhouzi This happens with the full trust process crashes but stays open in the background. You can force close the full trust process by running this command `taskkill -f -im filesfulltrust.exe`. You should see the regular context menu again the next time you open Files.

[2020-11-24 14:46] yaichenbaum commented on #2426
I am going to merge this with #692. It is an interesting idea and it would be good to hear what other users think.

[2020-11-24 14:46] #2426 closed

[2020-11-24 14:47] yaichenbaum commented on #2427
Merging with #1874.

[2020-11-24 14:47] #2427 closed

[2020-11-24 14:53] yeduzhouzi commented on #2318
Thanks. But for me every time I click on a file, the problem will be back again. That said, the full context menu only works for folders or blank spaces, but not for a single file.

[2020-11-24 15:17] alberto-diaz15 opened #2428 "Avaibale space in storages are not completely shown in Spanish"
As the words used in Spanish are longer than in English, the avaiable storage is not shown correctly
![bug](https://user-images.githubusercontent.com/72040488/100113317-7b03e600-2e70-11eb-92e7-b5dbf45766a8.PNG)

[2020-11-24 15:31] boscorelly commented on #2080
same here in 0.20.5.0

[2020-11-24 16:14] LucaRossi02 commented on #2424
VS hadn't downloaded all the necessary files.
Now works!

[2020-11-24 16:28] #2424 closed

[2020-11-24 18:50] #2428 closed

[2020-11-24 19:01] askfriends commented on #2423
oh i just noticed that and after playing with it i just noticed copy progress is not shown in real time, it says 0% and then finally say its 100%. it doesn't show copy speed or items being copied.
btw it should show windows like copy window and not small icon in bottom

[2020-11-24 19:12] osieltorres commented on #2042
Version 0.20.5.0 also happening this issue, current location not refreshed after pasting files, I needed to refresh manually to see new pasted files.

[2020-11-24 19:16] osieltorres commented on #2404
@yaichenbaum why QuickLook is no longer supporting close when pressing ESC key in the app, as it currently does in windows file explorer? I think pressing Space key again to close is a little confusing, perhaps the app could support both methods.

[2020-11-24 21:38] BabaJJ commented on #2369
doesn't work on Lenovo Yoga C640. Reinstall didn't help.

[2020-11-24 23:49] #2376 closed

[2020-11-24 23:51] #1490 closed

[2020-11-24 23:51] #2403 closed

[2020-11-24 23:51] #1257 closed

[2020-11-24 23:51] yaichenbaum commented on #1490
@cocoon This issue should be fixed with #2406.

[2020-11-25 02:04] flumiie opened #2431 "Integration with Bitdefender context menu"
**Describe the solution you'd like**
Add a context menu specifically for Bitdefender's. I'm not sure if it requires a special API or such, but that has been missing in the menu.
![FileExplorer](https://user-images.githubusercontent.com/8995187/100173494-3c683d00-2efd-11eb-8281-c67e4ecea80e.png)
![FilesUWP](https://user-images.githubusercontent.com/8995187/100173743-ada7f000-2efd-11eb-9a44-1b9018cd

[2020-11-25 05:01] YuJianghan opened #2433 "Abnormal change the file name"
**Describe the bug**
When I change the file name, right-click in the options panel will flash back to disappear

**To Reproduce**
Steps to reproduce the behavior:
1. Select any one file
2. Right click - renamed
3. Right click
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![20201125_125105](https://user-images.githubusercontent.

[2020-11-25 06:54] gave92 commented on #2433
Thanks for the feedback. Merging with #1034

[2020-11-25 06:54] #2433 closed

[2020-11-25 09:13] fisforfaheem opened #2434 "The app seems too slow to load please make the loading performance better"
I would mean a lot make it as fast at native explorer

[2020-11-25 11:51] mbeps opened #2435 "Automatically refresh page when there are any changes"
**Describe the bug**
When creating a new file like a folder the page is not automatically refreshed. This means that the content does not show up until the page is refreshed manually.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any folder in the app
2. Right-click to create a folder
3. Create a folder (can give a name)
4. Folder not shown until "refresh" is clicked

**Expected beha

[2020-11-25 12:12] Chris2011 commented on #147
Yes, great work. I also wanted to add this feature right after I found thi great tool here 😀. Glad that still some other people are thinking about it :)

[2020-11-25 12:17] mdtauk commented on #147
https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/bladeview

With some added shadows would be great.  There will also need to be some horizontal scrolling

[2020-11-25 12:18] Chris2011 commented on #147
Definitely, I don't like autoshrinking. I think the Mac OS finder has a setting for fixed width and if you have more columns than space on the screen, it get's a scrollbar.

[2020-11-25 14:19] yaichenbaum commented on #2434
@fisforfaheem Can you please fill out the issue template?

[2020-11-25 15:36] StijnBousard opened #2436 "Feature: Support for showing shortcuts and hidden files in network drives"
**Describe the bug**
When using the Files app, I noticed that shortcuts were only shown in local drives, not in mapped network drives.

**Requirements**
- Network drives should display hidden files and folders when the option to show hidden items is turned on
- Network drives should display shortcuts

[2020-11-25 15:46] alberto-diaz15 opened #2437 "Docs and programs are opened at background"
When I select an image (.jpg format) it automatically opens in front of the app, but .docx, .pdf or dierct accesses are opening behind the app

[2020-11-25 16:35] osieltorres opened #2438 "Add menu option for pin an open tab."
**Is your feature request related to a problem? Please describe.**
I always working with many tabs inside the app, but, it is difficult for me each time I need to have a new tab pinned, to go to Settings and add the location for the new tab.

**Describe the solution you'd like**
I think would be better for if there is an option on the tab contextual  menu as example, to pin the current tab, adding

[2020-11-25 16:41] yaichenbaum commented on #2438
Merging with #260.

[2020-11-25 16:41] #2438 closed

[2020-11-25 17:02] yaichenbaum commented on #2437
Duplicate of #985.

[2020-11-25 17:02] #2437 closed

[2020-11-25 20:44] osieltorres opened #2442 "App crashes when refresh if external application made change in folder opened by Files"
**Describe the bug**
Files crashes and exit if any external application make some operation in a folder opened in Files when you refresh it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to application, open folder with files inside.
2. Click on open external app and perform operation over files inside same folder.
3. Go back to Files app and refresh current folder.
4. Files app crashes

[2020-11-25 20:56] osieltorres commented on #2442
The simplest test is to open the windows default explorer and create a folder while having opened same location in Files, then just go to the app and refresh the location, then the Files app crashes.

[2020-11-25 22:25] gave92 commented on #2442
Thank for the report @osieltorres. I can't currently reproduce your issue and unfortunately since 0.20.0 a bug prevents the log file from being updated :/ Does this happen in an folder? Does it happen also when you perform operations on files using windows explorer and then refreh Files?

[2020-11-25 22:35] osieltorres commented on #2442
@gave92 Yes, as long as I have tested, happens on any folder, and also with windows explorer as the external app.

[2020-11-25 23:41] #1857 closed

[2020-11-25 23:41] #2362 closed

[2020-11-25 23:41] #2435 closed

[2020-11-26 00:35] yaichenbaum commented on #54
Merging with #2043.

[2020-11-26 00:35] #54 closed

[2020-11-26 00:37] yaichenbaum commented on #131
Merging with #1874.

[2020-11-26 00:37] #131 closed

[2020-11-26 00:37] yaichenbaum commented on #1277
Merging with #1874.

[2020-11-26 00:37] #1277 closed

[2020-11-26 00:38] yaichenbaum commented on #794
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 6+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-26 00:38] #794 closed

[2020-11-26 00:39] #615 closed

[2020-11-26 00:41] yaichenbaum commented on #1093
Merging with #45.

[2020-11-26 00:41] #1093 closed

[2020-11-26 00:42] yaichenbaum commented on #1086
Merging with #290.

[2020-11-26 00:42] #1086 closed

[2020-11-26 00:53] yaichenbaum commented on #1494
This issue should be resolved in v0.20.

[2020-11-26 00:53] #1494 closed

[2020-11-26 00:54] yaichenbaum commented on #1442
Merging with #985.

[2020-11-26 00:54] #1442 closed

[2020-11-26 00:56] yaichenbaum commented on #1601
@chen-jianpeng Can you please fill out the issue template?

[2020-11-26 00:57] yaichenbaum commented on #1568
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-26 00:57] #1568 closed

[2020-11-26 00:58] #1519 closed

[2020-11-26 01:40] yaichenbaum opened #2447 "Feature: Add support for searching in recycle bin"

[2020-11-26 01:45] duke7553 commented on #2121
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-11-26 01:45] #2121 closed

[2020-11-26 01:46] duke7553 commented on #2408
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-26 01:46] #2408 closed

[2020-11-26 04:14] AkazaRenn opened #2448 ""Open items with a single click" doesn't always work"
**Describe the bug**
When "Open items with a single click" is turned on, single click a folder sometimes doesn't open it (behaves like when the option is off). Even if the folder is opened, there would be some latency in between.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Settings` - `Files and Folders`
2. Turn on `Open items with a single click`
3. Single click on folders to try

[2020-11-26 08:58] mister-hunter opened #2449 "Support to be able to set Files as the default file explorer"
**Is your feature request related to a problem? Please describe.**
It's not a problem, just a convenience request and a question

**Describe the solution you'd like**
Support to be able to set Files as the default file explorer

**Describe alternatives you've considered**
The default files explorer, but if that was good enough, I wouldn't be here :D

**Additional context**
![image](https://user-im

[2020-11-26 14:13] mbeps opened #2450 "Feature: Details Pane"
**Is your feature request related to a problem? Please describe.**
Viewing details about specific files already exists. It should be possible to add a details pane on the side similar to the built-in File Explorer. This will allow the user to view file details without going to the properties.

**Describe the solution you'd like**
In the settings, add an option to show the details pane similar to F

[2020-11-26 14:20] mbeps opened #2451 "Feature: Preview Content"
**Is your feature request related to a problem? Please describe.**
Allow user to preview certain type on content by using keyboard shortcut. Something similar to QuickLook. This should work with major file types such as png, jpg, pdf, etc.

**Describe the solution you'd like**
Allow the user to press a certain key combination (for example Ctrl Space) to open a preview of a certain file that is sel

[2020-11-26 14:27] yaichenbaum commented on #2449
You can already do this but it's not recommended because of the side effects, see [here](https://github.com/files-community/Files/wiki/Replacing-File-Explorer-with-Files-(Unsupported)) for more information.

[2020-11-26 14:27] #2449 closed

[2020-11-26 14:28] yaichenbaum commented on #2451
@mbeps Is there a reason that you would prefer this to Quick Look?

[2020-11-26 14:29] yaichenbaum commented on #1502
This issue should be resolved in the `master` branch.

[2020-11-26 14:29] #1502 closed

[2020-11-26 14:37] mbeps commented on #2451
I was asking for something similar to this to be implemented natively into the app. It's not important as you can still use the QuickLook app on Files UWP but a native implementation could have been more efficient and easier to find.

[2020-11-26 16:04] yaichenbaum commented on #2451
@mbeps We don't have any plans to build the Quick Look functionality into Files, however, we are looking at adding a preview pane #130.

[2020-11-26 16:04] #2451 closed

[2020-11-26 18:59] gave92 commented on #2442
@osieltorres version 0.21.0 will be out soon. v0.21 restores the logging functionality, could you test whether the issue is still present and in that case upload the debug file? Thanks!

[2020-11-26 18:59] erayrafet commented on #2307
That's a problem I have as well with deleting folders from the C: directory. Although they appear as deleted, upon a refresh, they just come back.

[2020-11-26 19:25] d2dyno1 opened #2454 "Display Changelog on app start"
**Is your feature request related to a problem? Please describe.**
Many users don't know what's new in recent updates. Although there's already Releases tab on GitHub, and a changelog on Discord, many users aren't aware of that and don't bother checking.

**Describe the solution you'd like**
Create a changelog tab in the settings menu with the most recent changes (and previous updates).

**Additio

[2020-11-26 19:30] yaichenbaum commented on #2454
@d2dyno1 There is a link to the latest changelog in the settings page, is there an added benefit of building the release notes into the app?

[2020-11-26 19:39] d2dyno1 commented on #2454
It's an accessibility feature, quality of life change. Users won't have to go to the Github page. Everything could be done on the Files' level.

[2020-11-26 20:58] osieltorres commented on #2442
@gave92 I have tested after last app update to v0.20.7.0 and it seems the issue is solved, no crashes reported.
Thanks!

[2020-11-26 20:59] #2442 closed

[2020-11-26 21:00] gave92 commented on #2442
Feel free to reopen if you notice the issue in the latest version

[2020-11-26 23:19] TyJOrtiz commented on #147
I'll be back on working on it then

[2020-11-27 00:06] yaichenbaum commented on #1438
@Jaiganeshkumaran This issue should be resolved in v0.21.

[2020-11-27 00:06] #1438 closed

[2020-11-27 00:09] foggywindow2001 opened #2456 "Google Drive files not accessible"
**Describe the bug**
the program cannot access or show folders and files stored in a linked google drive
[sorry if this is not clear, windows file explorer can access google drive files and folders using "google drive file stream" program, this does not seem to be working in this files app]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Drives'
2. Click on 'My Drive'
3. N/A
4. See err

[2020-11-27 01:41] seohyun1108 opened #2457 "Add the option to format drives to the right click context menu on the sidebar and on the drives widget"
In v.0.20, it supports formatting the drives. However, I can't format the drives. I mean "formatting" like deleting all files in certain drives. Do you mean that added support formatting the drives like that?

I want to format the drives in Files.

[2020-11-27 01:53] seohyun1108 opened #2458 "Add support for updating Files."
When the new Files version releases, I need to visit the Github or Microsoft Store. Please add support for checking for an update and updating Files in About menu to update Files easily without updating via Microsoft Store.

[2020-11-27 02:16] yaichenbaum commented on #2458
Merging with #1513.

[2020-11-27 02:16] #2458 closed

[2020-11-27 02:24] yaichenbaum commented on #1381
This issue should be fixed in v0.21.

[2020-11-27 02:24] #1381 closed

[2020-11-27 02:25] yaichenbaum commented on #1525
@NextinMono Is this still an issue in v0.21?

[2020-11-27 02:33] yaichenbaum commented on #2298
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-27 02:33] #2298 closed

[2020-11-27 02:48] yaichenbaum commented on #2295
This behavior is on the intended behavior.

[2020-11-27 02:48] #2295 closed

[2020-11-27 02:49] seohyun1108 commented on #2457
Why I can't format the drives (like deleting all files in certain drives) in v.0.20

[2020-11-27 02:57] michaelhthomas commented on #2456
+1, though this may apply to network locations in general, as file stream appears to mount the disk like a network share.

[2020-11-27 04:28] generalguy41 commented on #2245
The specific issues in this ticket have been addressed in 0.21.0.0, though I know there are still issues detailed in #2406.

[2020-11-27 04:28] #2245 closed

[2020-11-27 04:49] generalguy41 commented on #2244
Adding more details discovered in 0.21.0.0:
- If an error pops up during the transfer, the dialog will just be stuck and the progress in general will be halted with no explanation. For example:
  - Transfer a file to a USB that doesn't have enough space (or do some other operation that leads to an error)
  - In explorer, there's a message that says such, but for files, the task is stuck at 0% with

[2020-11-27 09:39] whdmike opened #2460 "I can't open video files"
**Describe the bug**
I can't open video files .mp4 .mkv when I double click on a file. I cam open them through dialog open with and then choosing MP-HC in my case.

**To Reproduce**
Steps to reproduce the behavior:

I can't open video files .mp4 .mkv when I double click on a file. I cam open them through dialog open with and then choosing MP-HC in my case.

**Expected behavior**
open video files n

[2020-11-27 09:42] whdmike commented on #2011
I see that this feature is already "implemented", but still in the last 0.21 version I am not able to sort pinned folders. Am I missing something? Thanks

[2020-11-27 12:25] boscorelly commented on #2080
0.21.0 idem

2020-10-26 12:42:46.6730|ERROR|Files.App|Invalid URI: The format of the URI could not be determined.|System.UriFormatException: Invalid URI: The format of the URI could not be determined.
   at SharedLibrary!<BaseAddress>+0xafcaa0
   at System.Uri..ctor(String) + 0x17
   at Files.Helpers.PathNormalization.NormalizePath(String) + 0xea
   at Files.UserControls.HorizontalMultitaskingCont

[2020-11-27 13:33] jakoss commented on #1769
I'm prety sure that native file explorer does some heavy indexing/caching internally, that's why it's so fast. I'm not sure how files are doing that now, but i think that caching paths in some super-fast embedded database (for example LMDB is extremly fast - https://github.com/kwaclaw/KdSoft.Lmdb). I'd love to take a shot at this, but a newborn baby limits my time a little bit. I'll keep that in m

[2020-11-27 13:49] Chris2011 opened #2462 "Files opens and closes after call start . from a CMD as admin"
**Describe the bug**
When I open a CMD Line as an administrator and I want to call files from the cmd within a specific folder I type `start .` to open files. It opens and closes immediately.

**To Reproduce**
Steps to reproduce the behavior:
1. You need to register Files inside of the registry as your default explorer, see wiki
2. Open cmd as admin
3. Type `start .` and hit enter
4. See files ope

[2020-11-27 13:59] Chris2011 opened #2463 "ALT + Enter opens Properties window and selects next file/folder"
**Describe the bug**
When I select a file or a folder and hit `ALT + Enter` it opens the dialog to see the information of that selected item and in the background, it will select the next item in the list.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a folder with Files
2. Select a file or a folder
3. Hit `Alt + Enter`
4. Info window opens, next item will be selected

**Expected beha

[2020-11-27 14:14] SituChengxiang opened #2464 "Cannot display more than 4 drives in a row on the home page when you maximize the window"
![image](https://user-images.githubusercontent.com/52872757/100456980-2aa0b880-30fc-11eb-96e4-5fff09ffcec9.png)
（Screen Record: https://ws28.cn/f/436g22m3vnw）
OS Version: Windows10 20H2 19042.662
App version：0.20.7.0
[debug.txt](https://github.com/files-community/Files/files/5608191/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/5608194/debug_fulltrust.txt)

[2020-11-27 14:45] yaichenbaum commented on #2011
@whdmike The code is already there and implemented, however we are waiting on a fix in the WinUI library for an issue that breaks this functionality before we enable it.

[2020-11-27 14:47] yaichenbaum commented on #2462
Merging with #1479.

[2020-11-27 14:47] #2462 closed

[2020-11-27 15:03] TarsChiu commented on #2369
@BabaJJ I have no Lenovo Yoga C640,and reinstall the issue still.

[2020-11-27 15:04] Jaiganeshkumaran commented on #2369
@TarsChiu Is this because of it's too small? Try pressing hard so we can make sure sizing is a problem.

[2020-11-27 15:17] duke7553 commented on #2369
@Jaiganeshkumaran Yes. I should have been more clear with the reason why it's hard to tap items in the DataGrid. The rows are simply too small of a touch target. We have issues open for introducing custom sizing to the DataGrid.

[2020-11-27 15:19] Jaiganeshkumaran commented on #2369
@duke7553 The default control sizing works well on both mouse and touch input but we could automatically change the sizes when running in tablet mode to make it more touch friendly.

[2020-11-27 16:10] #2464 closed

[2020-11-27 18:18] ericcornelissen commented on #1089
I would still like to see a button in the top bar to empty the recycle bin to be honest, in addition to the option in the right-click menu.

[2020-11-27 18:26] yaichenbaum commented on #2369
Merging with #2279.

[2020-11-27 18:26] #2369 closed

[2020-11-27 18:30] yaichenbaum commented on #2460
@whdmike Can you fill out the template with the version numbers?

[2020-11-27 18:31] yaichenbaum commented on #2456
fyi @gave92

[2020-11-27 18:46] yaichenbaum commented on #2423
@askfriends Can you open/upvote on existing issues regarding the issue where the progress is stuck?

[2020-11-27 18:46] #2423 closed

[2020-11-27 18:47] #1975 closed

[2020-11-27 19:05] whdmike commented on #2460
Latest app version 0.21, latest windows 10 home
PS: As I remember it was working in 0.20

[2020-11-27 23:29] d2dyno1 commented on #2454
...or if making separate tab does not convince you, maybe we could settle somewhere between, and add a popup dialog when starting Files after updating?

[2020-11-28 05:40] SamToki opened #2467 "[Feature] Add a check box for each item"
I would like you to add a check box for each item in this file explorer, just like "Use check boxes to select items" in "Folder Options" of the traditional Windows File Explorer. Thanks for your awesome app!

[2020-11-28 05:49] SamToki opened #2468 "[Feature] Support an extra view"
It would be of great efficiency if an extra view is available to users. Details:
1. Support two separate views and two separate tab groups in one window;
2. Support customizable hotkeys for the extra view, e.g. Ctrl+Shift+C copies selected files to the other view directly.

[2020-11-28 05:55] SamToki opened #2469 "[Feature] Support customizable hotkeys"
Beside this app, I'm using QTTabBar, a powerful extension for Windows File Explorer. It allows me to set a lot of hotkeys for a lot of features, thus making the Explorer full of efficiency. I would appreciate it if this app can learn from QTTabBar.

[2020-11-28 07:04] rashil2000 commented on #1824
@yaichenbaum I was making the Scoop manifest. I'm running into some missing DLL errors while using running Files.exe from the extracted msixbundle. Specifically, `vcruntime140_app.dll`, `SharedLibrary.dll` and `mrt100_app.dll`.

Could you reopen this? How do I proceed? Scoop relies on running that exe.

[2020-11-28 09:11] whdmike commented on #2460
App is working now again normally. Could be that it didn't work just after update. Now after computer was restarted several times it opens video files again normally.

[2020-11-28 10:05] fisforfaheem opened #2470 "Add preview(images) of files it mkv mp4 etc"
currently the app doesn't  support icons and **thumbnails**

[2020-11-28 10:08] R3voA3 opened #2471 "Animation when closing the settings page is not smooth"
The animation when opening the settings page appears smooth. When closing the settings however, the animation ends very abruptly.

Version: 0.21.0.0

[2020-11-28 10:10] R3voA3 commented on #2454
When a new version is started for the first time a small **!** could be added to the status bar. Upon clicking on it, it would either link to the release page here on GitHub or show most important changes in the app.

[2020-11-28 10:34] erosyte opened #2472 "Folder and Icons are visualised when pinned to side"
**Is your feature request related to a problem? Please describe.**
One of the most important features tha Microsoft still hasn't aknowledge fully is the importance of being able to personalize icons. I use this on a daily basis via my quick access bar, with differentiated icons of folders.

**Describe the solution you'd like**
Right now i see that, when pinning folders to the bar they retain a sta

[2020-11-28 10:41] erosyte opened #2473 "Change the color of base Windows System Icons"
**Is your feature request related to a problem? Please describe.**
Right now, the whole app uses the same color for everything, which in my case is white since I'm using the dark mode.
Something that is very useful when navigating through the various folders is being able to recognize a folder from it's icon color.

**Describe the solution you'd like**
It would be great if
1. You could change all

[2020-11-28 13:06] icsholderegger opened #2475 "selected file can not be opend with a double click, only on the context Menue, with selecting open with."
Hey, I'm using Files 0.21.0. Its a very cool tool, thanks.
Sinc the last update I have the impression, that you can not open a fiel on double-Clicking on it. YOu have to go the contextmenu an select ther "open with-..."

[2020-11-28 13:29] Jaiganeshkumaran commented on #2471
@R3voA3 This is due to the way the settings page is layered. The navigation view is slightly different and it on the main page there's tabs so it may cause this visual glitch.

[2020-11-28 13:30] Jaiganeshkumaran opened #2476 "Recent files list is not accessible via screen reader"
Just opening this to add it in backlog, I will open a PR to fix it

[2020-11-28 13:40] Jaiganeshkumaran opened #2477 "Keyboard focus navigation gets stuck within file browser page, status bar and grid splitter"
https://app.box.com/s/d6izg7ga9gn5bvbz0sn0zqwr22iz09yl

[2020-11-28 13:50] Jaiganeshkumaran opened #2478 "The Name property of a focusable element must not be null. (ListView in the about page)"
This is for list view items in about page

The following accessibility issue needs investigation.

**App:** Files

**Element path:** ListView items in the about page

**Issue Details:** The Name property of a focusable element must not be null. [Section 508 502.3.1](https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-ict-refresh/final-rule/single-file-version#502-

[2020-11-28 15:08] BooBerry opened #2479 "Add a smaller version of the GridView layout mode"
I'll keep this simple, I feel Layout mode > Grid View (Small)'s icon size is still too large, even on a 1440p screen (with Windows' scaling unchanged at 100%). Grid View (Small) would be more-or-less equal to File Explorer's View > Large icons in this case, and there's no size smaller than this (I use File Explorer's View > Medium icons by default in Windows 10).

**Is your feature request related

[2020-11-28 15:11] ahmedWaelSalem opened #2480 "Some folders don't appear on Local Disk in Files app"
**Describe the bug**
In Local Disk (E:) I have 205 GB and it's full/ only 7.42 GB free. The problem is not of these files is shown in Files - Preview.
even the app reads it's full. and on Files explorer everything is ok.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Drivers'
2. Click on 'Local Disk'
3. See error

**Expected behavior**
I should see my files.

**Screenshots**
![Files

[2020-11-28 17:44] gave92 commented on #2480
@ahmedWaelSalem thanks for this report.
Do the folders appear if you enable "show hidden files" in Files settings? (even if those folder are not hidden)

[2020-11-28 17:47] gave92 commented on #2456
@foggywindow2001 thanks for this report.
Do the missing folders appear if you enable "show hidden files" in Files settings? (please try even if those files/folders are not hidden)

[2020-11-28 17:55] gave92 commented on #2457
You can find the format option by:
- Navigating to a drive by clicking on the Files sidebar
- Right-clicking on the empty space in the file list, this will open the context menu
- Under "More" submenu you should find the "Format" option

![image](https://user-images.githubusercontent.com/9673091/100522665-f1735180-31aa-11eb-9925-ca0cd6f85f52.png)

[2020-11-28 18:08] NextinMono commented on #1525
I've tried, it works now!

[2020-11-28 18:08] #1525 closed

[2020-11-28 20:27] ahmedWaelSalem commented on #2480
Yes, when I enable show hidden files and folders, folders appear. But I have on other drivers hidden files and folders appear correctly.
those folders and files aren't hidden. there is only 1 hidden folder and 2 unhidden

[2020-11-28 20:28] ahmedWaelSalem commented on #2480
It's a fix for now but I don't need to show hidden files.

[2020-11-28 20:30] gave92 commented on #2480
Thanks for the confirmation, and yes this is just a temporary workaround

[2020-11-28 23:25] #1682 closed

[2020-11-28 23:27] #2456 closed

[2020-11-28 23:27] #2480 closed

[2020-11-28 23:34] yaichenbaum commented on #2467
Merging with #290

[2020-11-28 23:34] #2467 closed

[2020-11-28 23:36] yaichenbaum commented on #2469
Merging with #1660.

[2020-11-28 23:36] #2469 closed

[2020-11-28 23:36] yaichenbaum commented on #2470
Merging with #99.

[2020-11-28 23:36] #2470 closed

[2020-11-28 23:40] yaichenbaum commented on #2478
@Jaiganeshkumaran Do you have more information for which button or control has this issue?

[2020-11-28 23:56] #2460 closed

[2020-11-29 00:56] yaichenbaum commented on #1824
I just tested the bundle, and it seems like it works on my end, it could be you need to add those dlls manually for Scoop.

[2020-11-29 07:08] HeroPPPPath opened #2482 "win+e"
win+E  open

[2020-11-29 09:28] gave92 commented on #2482
Please see the guide here:
https://github.com/files-community/Files/wiki/Configuring-Files-to-launch-with-the-Win---E-shortcut

[2020-11-29 09:28] #2482 closed

[2020-11-29 10:16] R3voA3 opened #2483 "Deleted folders reappear when folder is refreshed"
https://youtu.be/Fb6h6euwjZQ

Deleting the folder with Windows Explorer works just fine.

[2020-11-29 12:46] gave92 commented on #2483
Merging with #2037

[2020-11-29 12:46] #2483 closed

[2020-11-29 15:48] #1561 closed

[2020-11-29 16:15] yaichenbaum commented on #1243
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-11-29 16:15] #1243 closed

[2020-11-29 16:56] Thomas1664 commented on #1513
@yaichenbaum seems like you need to create a [Package Flight](https://docs.microsoft.com/en-us/windows/uwp/publish/package-flights) to enable me working on this according to [this issue](https://github.com/microsoft/WinDev/issues/22).
However, I can still work on it, but you need to test and may change the code afterwards.

[2020-11-29 17:24] duke7553 commented on #2473
@erosyte Unfortunately, we don't have plans to support modifying the color of system icons on a per-folder basis. However, support for color tags is planned for the future.

Please follow: #1161

[2020-11-29 17:24] #2473 closed

[2020-11-29 17:25] duke7553 commented on #1601
_Thanks again for your feedback._

Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this.

[2020-11-29 17:25] #1601 closed

[2020-11-29 17:26] duke7553 commented on #2434
Thanks again for your feedback.

We remain committed to improving the performance of Files, but since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this.

[2020-11-29 17:26] #2434 closed

[2020-11-29 17:30] #2117 closed

[2020-11-29 17:31] duke7553 commented on #2405
@mdtauk As always, thank you for these awesome visuals.

We can definitely consider adding a border to the flyouts in dark mode, but I feel like it is more of an issue with the color itself because WinUI assumes apps use the default background color in dark mode. Since we use custom colors, the flyouts seem less differentiated when visible.

I'd wonder if there are there better background colors w

[2020-11-29 17:31] yaichenbaum commented on #1513
@Thomas1664 We can use the beta testing flight group to test these changes, let me know when you are ready to submit the update.

[2020-11-29 18:10] yaichenbaum commented on #2475
@icsholderegger Can you check if the "open items with a single click" setting is one?

[2020-11-29 18:37] DogeLord081 commented on #2314
Well, isnt anyone going to work on this? Also, @yaichenbaum can u put the triage approved label on it again?

[2020-11-29 18:39] yaichenbaum commented on #2314
We need to investigate this, being that we can't reproduce this on our end, we can't start working on a fix yet. Can you try updating to v0.21 to see if the issue is fixed?

[2020-11-29 18:40] DogeLord081 commented on #2314
I tried to install the new version but it keeps getting stuck at 16%

[2020-11-29 19:56] RikKoedoot opened #2485 "Issue's with opening media in vlc via files preview"
**Describe the bug**
When opening media in vlc (windows store version) via files preview the media won't load in vlc, it does load in windows explorer

**To Reproduce**
See the video in the zip

**Expected behavior**
the video should open in vlc

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS Version: win

[2020-11-29 23:04] alunosnet opened #2486 "This folder is empty message"
When pasting files into a empty folder the message that states the folder is empty should disapear.

Create a new folder, select files to copy, open the empty folder and paste.

As the files start to show the message should go away.
Version 0.21.0.0

![image](https://user-images.githubusercontent.com/6307206/100556101-a3884780-3297-11eb-8355-202c4ade081a.png)

[2020-11-29 23:42] seohyun1108 commented on #2457
What version is it?

[2020-11-29 23:44] seohyun1108 commented on #1436
I think Microsoft is developing UWP round windows, so maybe later this can be happen.

[2020-11-29 23:46] seohyun1108 commented on #2457
Oh yes! But, then... I think the format button should go to the drive page, like the original file explorer.

[2020-11-30 00:31] Lubieerror commented on #2475
I have same bug but only when I have it sorted by type or size.

[2020-11-30 03:04] Lubieerror commented on #2475
This code seems to cause bug.
DefaultQuery can't work because it's always overwritten(?) with null property (or just adding null causes problems) from sortEntry.PropertyName

[code]

[2020-11-30 03:42] AndrewDaGuy opened #2488 "Arrange Items on the sidebar"
**Is your feature request related to a problem? Please describe.**
nope

**Describe the solution you'd like**
Ability to move/arrange the items on the sidebar in settings.

**Describe alternatives you've considered**
`+ -` icons for adding/removing sidebar items and a new option in settings maybe called Sidebar or add it in appearance.

**Additional context**
There will be a preview of the sidebar

[2020-11-30 03:50] yaichenbaum commented on #2488
Merging with #1069.

[2020-11-30 03:50] #2488 closed

[2020-11-30 04:10] AndrewDaGuy opened #2489 "Dowload Redesign?"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to sort my date modified but then when I go to my other stuff I have to sort by name again.

**Describe the solution you'd like**
Add headers or something like what the explorer uses with them displaying something like:
[code]

[2020-11-30 05:00] yaichenbaum commented on #2489
Merging with #1874.

[2020-11-30 05:00] #2489 closed

[2020-11-30 09:17] Sav22999 opened #2491 "Border radius not applied"
**Describe the bug**
Buttons (not selected/focussed) don't have the border-radius, they are "squared", as you can see in the screenshots

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a generic Folder
2. Click on '[three dots at the top-right]'
3. Click on "New" then "Text document"
4. See the error

**Expected behavior**
The buttons should have the border radius

**Screenshots**
![im

[2020-11-30 09:20] Sav22999 opened #2492 "Create a "New (generic) file""
**Is your feature request related to a problem? Please describe.**
You can just create a "Text document", a "Folder" and a "Bitmap Image".

**Describe the solution you'd like**
I think it would be very great if you could create a "File" which is a generic file, without any extensions and, if you want to insert an extension, just write "Name.Ext"

[2020-11-30 13:16] dkostarnov opened #2494 "Improve user experience"
![Screenshot (67)_LI](https://user-images.githubusercontent.com/73770663/100614602-cfefa280-332f-11eb-951e-a4d532fecb30.jpg)

[2020-11-30 13:22] PrivOci commented on #2486
If you click "refresh" or F5 it will disappear, but I agree it needs to be fixed

[2020-11-30 13:26] XPoppyX commented on #2494
Duplicate of #1040

[2020-11-30 13:30] #2494 closed

[2020-11-30 13:57] CrazyTomatoOo opened #2495 "The replication function is defective"
**Describe the bug**

Cannot copy recursively，Cannot overwrite copy

**To Reproduce**
Steps to reproduce the behavior:
1. Copy a folder with files.
2. Paste it into another directory.
3. Folders are not overwritten and files in folders are not copied

**Expected behavior**
Files in folders are copied
Folders with the same name will be overwritten

**Screenshots**

**Desktop (please complete the fo

[2020-11-30 14:09] #2475 closed

[2020-11-30 14:14] yaichenbaum commented on #2404
Merging with #792.

[2020-11-30 14:14] #2404 closed

[2020-11-30 16:03] yaichenbaum commented on #734
@PeterStrick If you notice any other issues with touch screen usage, please open a new issue for each area.

[2020-11-30 16:03] #734 closed

[2020-11-30 16:20] perplexityjeff commented on #1940
Searched as I am having this issue as well. I find that from a productivity standpoint that the old explorer shows you so much more information at a glance. For me at least an option to tweak this to my liking would be fantastic. Either font settings and/or the padding.

[2020-11-30 21:50] duke7553 opened #2496 "Crash on Delete"
**Describe the bug**
Delete throws an unhandled exception. This can be reproduced 100 percent of the time in my testing.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to Downloads folder (likely any location)
2. Delete an item (not permanently)
3. The app will crash, but it DOES look like the item was moved to the Recycle Bin as expected

**Expected behavior**
The app should NOT c

[2020-11-30 21:52] duke7553 commented on #2496
FYI @d2dyno1

[2020-11-30 21:56] yaichenbaum commented on #2496
@duke7553 I can't reproduce this on my end, is this in debug mode?

[2020-11-30 22:02] duke7553 commented on #2496
@yaichenbaum Yes. Let me verify again that I have the latest changes.

[2020-11-30 22:08] duke7553 commented on #2496
@yaichenbaum I have the latest commits from master, but noticed this only occurs when deleting a single item only.

[2020-11-30 22:09] duke7553 commented on #2496
![image](https://user-images.githubusercontent.com/20365014/100671637-d0d40480-332e-11eb-9609-70d2299dac54.png)
Helpful image from debugger

[2020-11-30 22:14] duke7553 opened #2498 "Items Restored from Recycle Bin have no file extension"
**Describe the bug**
Restoring any items from Recycle Bin causes the newly returned items to lack a file extension

**To Reproduce**
Steps to reproduce the behavior:
1. Delete item with file extension
2. Navigate to Recycle Bin from Files
3. Invoke restore on the item(s)

**Expected behavior**
Items restored should keep their file extension regardless of user opting to have extensions hidden by de

[2020-11-30 22:21] duke7553 commented on #2106
Duplicate of #1893

@testiwm007 Please follow the original issue above. Thanks!

[2020-11-30 22:21] #2106 closed

[2020-11-30 22:22] duke7553 commented on #2495
Since we want to eventually support the full customizable overwrite experience, I'll close this in favor of: #1893

Duplicate of #1893

[2020-11-30 22:22] #2495 closed

[2020-11-30 22:26] duke7553 commented on #2410
@R3voA3
Thank you for creating this feedback item. A solution for it is currently being reviewed as a PR (pull request) to our active development branch. We'll let you know once it's merged.

[2020-11-30 22:27] duke7553 commented on #2065
This issue is currently being tracked on the WinUI repo as: https://github.com/microsoft/microsoft-ui-xaml/issues/3597

[2020-11-30 22:29] duke7553 commented on #1950
@AbelTheGeorge Closing this since @AqilCont suggested QuickLook which Files has support for.

[2020-11-30 22:29] #1950 closed

[2020-11-30 22:32] duke7553 commented on #1880
@asuetin Thanks for the great issue report. We made some changes which improve perceived loading speeds overall. If you still notice an issue with SSHFS drives specifically, can you provide us a status on the situation?

Otherwise, we'll assume this was resolved for you after several days.

[2020-11-30 23:51] #2410 closed

[2020-11-30 23:54] yaichenbaum commented on #2498
Merging with #1089.

[2020-11-30 23:54] #2498 closed

[2020-12-01 00:14] duke7553 commented on #2410
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-12-01 00:24] yaichenbaum commented on #1175
Merging with #1203.

[2020-12-01 00:24] #1175 closed

[2020-12-01 00:28] yaichenbaum commented on #1103
fyi @winston-de

[2020-12-01 01:29] winston-de commented on #1103
@yaichenbaum Included in #2289

<img  src="https://user-images.githubusercontent.com/59544401/100685073-78056b80-3330-11eb-9602-535beb11947b.png" width="400"
/>
<img  src="https://user-images.githubusercontent.com/59544401/100685295-f3671d00-3330-11eb-8415-42542eeda8b9.png" width="400"
/>

[2020-12-01 01:36] seohyun1108 commented on #2457
What happens to this issue after you added it to the backlog?

[2020-12-01 03:41] TyJOrtiz commented on #147
![image](https://user-images.githubusercontent.com/25320332/100693821-82c8fc00-3342-11eb-9fd5-5eaf30e3e5b0.png)

I'm getting the ColumnView working, I just need to know how can I create a dynamic list of items in a selected folder to open another column?

[2020-12-01 03:45] yaichenbaum commented on #147
@TyJOrtiz You should be able to get the path of the selected item with `listedItem.Path`.

[2020-12-01 03:47] TyJOrtiz commented on #147
I see that but I need to know how to create an ObservableCollection<ListedItem> with the files and folders contained in the `listedItem.ItemPath`

[2020-12-01 03:51] yaichenbaum commented on #147
@TyJOrtiz ItemViewModel has both `EnumerateItemsFromStandardFolderAsync` and `EnumerateItemsFromSpecialFolderAsync`.
fyi @duke7553

[2020-12-01 06:05] TyJOrtiz commented on #147
I got the column view working (sorta, none of the menu options except Layout Mode work)

![image](https://user-images.githubusercontent.com/25320332/100702970-80bd6800-3357-11eb-9151-c0cd6fbec5a6.png)

I'll create a pull request

[2020-12-01 07:09] mdtauk commented on #147
You may want to consider the selected item styling for the inactive columns.  I believe only the active Colin should use the filled in accent colour style, whilst the inactive columns could use an accent coloured border instead, or filled in a grey colour.

It will help those with accessibility issues, and those using keyboarding to navigate, to tell where the active view is.

[2020-12-01 07:36] TyJOrtiz commented on #147
![image](https://user-images.githubusercontent.com/25320332/100710647-da785f00-3364-11eb-9a0b-ff6fd7640cc5.png)

like this?

[2020-12-01 07:38] TyJOrtiz commented on #147
![image](https://user-images.githubusercontent.com/25320332/100710799-23c8ae80-3365-11eb-8ab8-ae4f4c7980b8.png)

Light mode

[2020-12-01 07:44] mdtauk commented on #147
That fits the bill yes!

[2020-12-01 09:47] TheOnlyTails opened #2501 "Adding a way to change the default keyboard shortcuts"
I always want to optimize my productivity and that means that I like to unify the keyboard shortcuts in my tools. However, in Files, there is no way currently to change the keyboard shortcuts.

I suggest adding a menu to the settings called "Keyboard shortcuts" which will have a layout like this:
Action (Close Tab) | keyboard shortcut (Ctrl+W)
To change the shortcut, the user needs to click on the

[2020-12-01 10:11] shubhammehra4 opened #2502 "Shortcut to toggle hidden files"
**Is your feature request related to a problem? Please describe.**
Currently to toggle hidden files you have to go in settings and toggle which is very inefficient.

**Describe the solution you'd like**
A keyboard shortcut to toggle hidden files or options to do it in the title menu.
**Describe alternatives you've considered**
A checkbox option in the menu situated at bottom-right corner to toggle

[2020-12-01 10:50] perplexityjeff commented on #2381
I agree I would like to see at least options to change the animation speeds. From a productivity tool standpoint this change will make it a bit easier and faster to use.

[2020-12-01 12:38] fisforfaheem commented on #2434
ok, i have seen some speed improvements

On Sun, Nov 29, 2020 at 10:27 PM Luke Blevins <notifications@github.com>
wrote:

[2020-12-01 12:48] Thomas1664 commented on #2496
Maybe it's my fault. Is this method called twice?

[2020-12-01 13:09] yaichenbaum commented on #2501
Duplicate of #1660.

[2020-12-01 13:09] #2501 closed

[2020-12-01 14:29] yaichenbaum commented on #2502
@shubhammehra4 It looks like you have two feature requests, can you split up the issues and fill out the feature template?

[2020-12-01 14:41] #1763 closed

[2020-12-01 14:42] yaichenbaum commented on #1763
This issue should be resolved with #2499.

[2020-12-01 15:52] #2486 closed

[2020-12-01 15:53] yaichenbaum commented on #2486
This issue should be resolved with #2504.

[2020-12-01 16:02] #2491 closed

[2020-12-01 16:02] yaichenbaum commented on #2491
This issue should be resolved with #2503.

[2020-12-01 16:12] Olcay91 opened #2506 "Right Click Animation Direction"
If the mouse is on the upper half, the context menu is above the mouse cursor, but the animation is starting at the top instead of at the position, where the cursor is.

**Is your feature request related to a problem? Please describe.**
As far as i know, no

**Describe the solution you'd like**
It'd feel more natural if the animation would start from the cursors position upwards.

**Describe alter

[2020-12-01 16:42] duke7553 commented on #2478
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-12-01 16:47] duke7553 commented on #147
@TyJOrtiz Currently, we only have support for populating the read only observable collection FilesAndFolders which can be accessed from an instance of ItemViewModel. To populate the observable collection, the layout modes internally call RefreshItems().

If your layout mode has any specific needs from ItemViewModel, we can help you with that 🙂