[2020-12-01 17:15] Thomas1664 commented on #1513
@yaichenbaum I'm ready for testing.

[2020-12-01 19:02] gave92 commented on #2457
@seohyun1108 contributors are free to pick any open Backlog issue and fix it. Being in the backlog means the issue is accepted and will be fixed but does not define a deadline/specific release.

[2020-12-01 19:28] gave92 commented on #2498
Also related to #873

[2020-12-01 22:18] TyJOrtiz commented on #147
That would be great if there was a way to get an observable Collection like FilesAndFolders from a selected folder, the way I'm doing it now doesn't have support for OneDrive File availability or file icons.

[2020-12-02 03:07] yaichenbaum commented on #2243
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-02 03:07] #2243 closed

[2020-12-02 03:42] yaira2 opened #2509 "Feature: Add a list layout"
### What feature or improvement do you think would benefit Files?
The two main parts of this proposal are for a layout mode that scrolls horizontally and displays items in columns.

### Requirements

- Add new template to the GridView layout page
- Scrolls horizontally instead of vertically
- Add option to the layout flyout menu after the option for "tiles"
- Add option to right click context menu

[2020-12-02 04:17] wanderseeme opened #2510 "Arrow Keys Keyboard Navigation experience just like the default Windows Explorere"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

`Capture arrow keys wisely, always make them navigate through files pane!`

**Describe alternatives you've considered**
A clear and c

[2020-12-02 04:29] Jaiganeshkumaran commented on #2509
@yaichenbaum Instead of renaming current list view, we can name the new list view as List view compact

[2020-12-02 04:30] Jaiganeshkumaran commented on #2509
Isn't this a duplicate of #1368

[2020-12-02 04:30] yaichenbaum commented on #2509
The current list view is really a details view.

[2020-12-02 04:31] yaichenbaum commented on #1368
Merging with #2509.

[2020-12-02 04:31] #1368 closed

[2020-12-02 04:39] Jaiganeshkumaran commented on #2509
@yaichenbaum Won't users get confused if we do that?

[2020-12-02 04:39] yaichenbaum commented on #2023
This doesn't look like such a bad solution, I think we should go for it.

[2020-12-02 04:40] yaichenbaum commented on #2509
I don't think so, it would also align it with the name File Explorer uses for the details view.

[2020-12-02 04:43] yaichenbaum commented on #2021
@RadioActiveEssence Is this still an issue in v0.21.1?

[2020-12-02 04:47] yaichenbaum commented on #1932
This issue should be resolved in the `master` branch.

[2020-12-02 04:47] #1932 closed

[2020-12-02 04:51] Daksh777 commented on #1763
Amazing!

[2020-12-02 04:51] #1783 closed

[2020-12-02 04:53] yaichenbaum commented on #2231
@XPoppyX Is this still an issue in v0.21.1?

[2020-12-02 04:55] yaichenbaum commented on #1880
@duke7553 The issue is by design since we use the StorageFolder APIs for this type of drive.

[2020-12-02 05:08] generalguy41 commented on #2231
@yaichenbaum I can reproduce it in 0.21.1.0

[2020-12-02 06:44] tgrelka opened #2512 "Opening directories in a new tab should open them in the background"
**Is your feature request related to a problem? Please describe.**
I’m used to browsers opening a new tab with Middle Click in the background. I find it quite annoying to use the feature in Files UWP, since it opens a new tab *and* focuses it.

At first, I was confused and thought I had found a bug where it opens the folder in a new tab, but also in the current one until I noticed I had been focus

[2020-12-02 07:51] Sank30 opened #2513 "Cannot copy/paste to folders that require administrator access."
![image](https://user-images.githubusercontent.com/73607086/100964170-099df480-354e-11eb-840a-0c36e730f4c3.png)
![image](https://user-images.githubusercontent.com/73607086/100964183-0efb3f00-354e-11eb-8ca6-8dabed64c7ed.png)
![image](https://user-images.githubusercontent.com/73607086/100964187-13275c80-354e-11eb-9101-ff9c3d875f6a.png)
![image](https://user-images.githubusercontent.com/73607086/1009

[2020-12-02 08:32] erayrafet opened #2514 "Disk free capacity won't update until I kill the app"
**Describe the bug**
Once I do changes on, let's say drive C:, after I delete a few files and go back to the home page, the changes in free space capacity aren't being reflected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'C:/~Downloads/.'
2. Delete a file.
3. Click on 'the home button.'
4. Compare the free space on the C: drive reported by Files.
5. Kill Files and compare again.

[2020-12-02 09:30] boscorelly opened #2515 "Translation - missing for OneDrive tasks"
Hi,

there are some translations missing :
- drive types (right clic on a drive)
- onedrive tasks (ongoing tasks)

[2020-12-02 09:38] boscorelly opened #2516 "USB Ejection"
Hi,

v0.21.2

when you request USB ejection, there is no trigger of refresh in the left bar, so the usb drive is still visible on the bar.
When you eject, windows drop a notification saying there is a new notification but nothing more :
![image](https://user-images.githubusercontent.com/3873787/100855109-1d802280-348a-11eb-956a-3d6372857ec8.png)

and then if you click on the notification, you stil

[2020-12-02 10:13] Thomas1664 commented on #2510
Might me a duplicate of #2477

[2020-12-02 11:54] XPoppyX commented on #2231
@yaichenbaum yes, it is still an issue with the latest changes to "master"

[2020-12-02 13:31] yaichenbaum commented on #2513
We usually expect users to fill out the issue template when reporting a bug, please reopen this issue when you have filled out the issue template.

[2020-12-02 13:32] yaichenbaum commented on #2514
Duplicate of #2242.

[2020-12-02 13:32] #2514 closed

[2020-12-02 13:37] yaichenbaum commented on #2515
Merging part 2 with #1411.

[2020-12-02 13:39] yaichenbaum commented on #1769
@jakoss The latest update should improve the performance, but if you have idea's to improve it further, feel free to take a look when you get a chance 😃

[2020-12-02 14:24] duke7553 commented on #1880
@yaichenbaum The user reported that this regressed after a certain version number. Perhaps, the StorageFolder abstraction is our only option.

[2020-12-02 14:28] yaichenbaum commented on #1880
I was wondering about that because pre v0.13, this directory shouldn't have loaded at all. Either way, because of the recent changes we made to improve the speed of displaying items, as well as improvements coming down the list with an improved data grid control, I think we can close this issue.

[2020-12-02 14:28] #1880 closed

[2020-12-02 14:32] Olcay91 opened #2517 "Create New Folder with selected files"
**Describe the solution you'd like**
As the title says, it'd be nice to have a feature where you can select multiple files and rightclick create a new folder where the selected files will be moved to.

**Additional context**
This feature is available a long time in macs Finder and helped me many times

![GitHub Logo](https://i.postimg.cc/Prjy2B29/screen.jpg)
Format: ![Alt Text](url)

[2020-12-02 14:43] yaichenbaum commented on #2517
Duplicate of #283.

[2020-12-02 14:43] #2517 closed

[2020-12-02 14:43] Olcay91 commented on #2512
I'd make more sense if you could decide if it should open in the background or switch to the new tab. As far as I know the standard is that it switches to the new tab in multiple Internet Browsers. A 'Tab' entry in the settings could offer this feature, asking you what should happenj if a new tab is opened.

[2020-12-02 14:48] yaichenbaum commented on #2512
The correct behavior when opening a directory in a new tab is for it to open in the background. However, opening a regular tab should open it in the foreground.

[2020-12-02 16:42] Michaelzhouisnotwhite opened #2518 "Replace the Windows native file explorer"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-02 17:15] yaichenbaum commented on #2518
We usually expect users to fill out the issue template when reporting a bug, please reopen this issue when you have filled out the issue template.

[2020-12-02 17:15] #2518 closed

[2020-12-02 17:16] yaichenbaum commented on #2468
Merging with #1674,

[2020-12-02 17:16] #2468 closed

[2020-12-02 17:17] yaichenbaum commented on #1487
Merging with #1674.

[2020-12-02 17:17] #1487 closed

[2020-12-02 17:23] Michaelzhouisnotwhite opened #2519 "replace the native windows explorer."
**Is your feature request related to a problem? Please describe.**

i'm always frustrated when i press the button of  _downloads_  in chrome and then the native windows explorer is opened,but i want the **Files** UWP open.

**Describe the solution you'd like**
just like i describe above, i wish the uwp can replace the native windows explorer.

**Describe alternatives you've considered**
may be mod

[2020-12-02 17:34] yaichenbaum commented on #2519
You can follow this guide for instructions on settings Files as the default https://github.com/files-community/Files/wiki/Replacing-File-Explorer-with-Files-(Unsupported).

[2020-12-02 17:34] #2519 closed

[2020-12-02 18:52] gave92 commented on #2023
@yaichenbaum if you like it, you can give it a try. The code in the branch "fix_dragdrop" should be already working (though based on an old master)

[2020-12-02 19:10] gave92 commented on #2516
@boscorelly can you confirm whether when the usb drive is physically removed from pc the drive list is refreshed?

[2020-12-03 02:02] #1103 closed

[2020-12-03 03:13] yaichenbaum commented on #1911
@R3voA3 Is this still an issue in v0.21.1?

[2020-12-03 03:16] winston-de opened #2520 "Bug: Can't use the file selection rectangle with pen/touch input"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to activate the selection rectangle with a digital pen or touch.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I think there are two things that should be added:
- To align with the selection behavior of UWP, Office, and Edge apps, I think holding down t

[2020-12-03 03:18] yaichenbaum commented on #1755
Merging with #1089.

[2020-12-03 03:18] #1755 closed

[2020-12-03 03:36] yaichenbaum commented on #1644
@Yehorchenkov Is this still an issue in v0.21.1?

[2020-12-03 03:48] jayasio opened #2521 "iCloud folder names are not shown right"
**Describe the bug**
Folder names from iCloud are not right; it shows some internal identification string instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Open 'Files'
2. Click on 'iCloud'
3. See error

**Expected behavior**
Show the actual name as seen in Apple devices and win32 FIle Explorer..

**Screenshots**
![Screenshot (1)](https://user-images.githubusercontent.com/34701149/100

[2020-12-03 05:05] Sank30 commented on #2513
Requested Data

![image](https://user-images.githubusercontent.com/73607086/100964170-099df480-354e-11eb-840a-0c36e730f4c3.png)
![image](https://user-images.githubusercontent.com/73607086/100964183-0efb3f00-354e-11eb-8ca6-8dabed64c7ed.png)
![image](https://user-images.githubusercontent.com/73607086/100964187-13275c80-354e-11eb-9101-ff9c3d875f6a.png)
![image](https://user-images.githubusercontent.c

[2020-12-03 05:33] Tucko29 opened #2522 "Opening files"
I have issues with opening files. Every time I need to **right click** and choose **open with** after that files opens in corespodenting application. I have to do this every time, like it does not remembers.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See e

[2020-12-03 07:27] Yehorchenkov commented on #1644
You fixed this, for now app don't crash. But it don't refresh file list after coping and have to do this manually.

[2020-12-03 08:24] R3voA3 commented on #1911
Yes, still the same issue.

[2020-12-03 09:18] tgrelka commented on #2512
If that is the case, should I open a bug report? Using the ‚open in new tab‘ option from the context menu opens the new tab in the foreground as well.

[2020-12-03 11:05] AngelZeur opened #2523 "When you release the new Windows 10 file explorer in 2021 permanently delete Files - Preview from Microsoft Store please do not need it but when they release the new Windows 10 file explorer in 2021 in a new update"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-03 11:05] AngelZeur commented on #2523
When you release the new Windows 10 file explorer in 2021 permanently delete Files - Preview from Microsoft Store please do not need it but when they release the new Windows 10 file explorer in 2021 in a new update

[2020-12-03 12:38] Osaxely opened #2524 "[Question] How do files get access to hidden folders ?"
Hello ! I don't know if this "issue" is appropriated, but I have question about Files UWP. How does this can get access to Hidden files and folders, and has read/write permission ?
This is incredible.

[2020-12-03 13:25] ZzzzzzzSkyward commented on #2070
update: finally I was able to download Files from Microsoft Store. Somehow it managed to install the application and I'm happily using Files now. :)

[2020-12-03 14:13] Cloudwires opened #2525 "Custom Folder shortcuts in Sidebar, file-preview instead of Icons"
1. Request: Possibility to place custom shortcuts in the sidebar (ex. custom project/music folders/ cloud storage links

2. Request: Instant File display: right now, content of folders loads with a delay, just like a browser would do. That's annoying, especially when browsing through large folders or navigating quickly between folders.

3. Request: File-Preview instead of File icons of several des

[2020-12-03 14:15] #2524 closed

[2020-12-03 14:39] #1644 closed

[2020-12-03 14:55] yaichenbaum commented on #2512
@tgrelka This issue should be enough.

[2020-12-03 14:56] tgrelka commented on #2512
I suppose this should be considered a bug report instead of enhancement suggestion then.

[2020-12-03 14:58] yaichenbaum commented on #2512
@tgrelka Considering that the current behavior is working correctly, I would consider this proposal an enhancement rather than a bug report.

[2020-12-03 15:01] tgrelka commented on #2512
@yaichenbaum Oh sorry, I interpreted your "the correct behaviour should be" as "it's currently not working as intended (aka a bug)", not as "we should change the behaviour".

[2020-12-03 15:08] #2523 closed

[2020-12-03 15:09] yaichenbaum commented on #2522
@Tucko29 We usually expect users to fill out the issue template when reporting a bug, please reopen this issue when you have filled out the issue template.

[2020-12-03 15:09] #2522 closed

[2020-12-03 15:15] yaichenbaum commented on #2525
1. Merging with #1607.
2. This is due to the outdated DataGrid control, there is an issue on the WinUI repository regarding a new control that will solve this issue. In the meantime, we are considering other layout modes that won't have this issue.
3. Can you open a new issue for this?
4. We used to have it like this but the feedback we got that it was confusing, if you feel differently, please op

[2020-12-03 15:15] #2525 closed

[2020-12-03 15:16] yaichenbaum commented on #2520
@gave92 I believe you had some ideas on this.

[2020-12-03 15:22] gave92 commented on #2520
Selection rectangle was disabled on touch as it was causing issue with the drag-to-scroll gesture.
We can either find a way to trigger it which does not cause this issue or use a different approach for multiselect on touch (e.g. a toggle for multiselect where check boxes are shown on the items corner)

[2020-12-03 16:24] Zalmez opened #2526 "Pasting folders from zip fails"
**Describe the bug**
Attempted to copy a folder from a zip file that contained more files. It copied the folder, but not the containing items

**To Reproduce**
Steps to reproduce the behavior:
1. Have zip file that contains a folder, the folder must contain any type of item
2. Copy the folder from the zip
3. Paste into any desired location (my case was my desktop)

**Expected behavior**
Expected t

[2020-12-03 16:26] yaichenbaum commented on #2093
@Thomas1664 Do you still plan to work on this issue? #2289 should take care of the code improvements, but the other things on this list should still be done.

[2020-12-03 16:36] Thomas1664 commented on #2093
@yaichenbaum No. Since @winston-de implemented this feature, he probably knows better than me how to fix the remaining issues.

[2020-12-03 16:54] sguergachi opened #2527 "Context Menu Slow to Open"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When I right click on a file item the right click context menu takes at least a few seconds, which is considerably slower than native File Explorer and frequently interrupts my flow of using this app, making it unusable for me.

**Describe

[2020-12-03 16:55] sguergachi commented on #2527
Basically if we can have an instant access to these items on right click and load in the rest as they come in, that would improve UX by a lot

![image](https://user-images.githubusercontent.com/615386/101061370-6d301e00-355e-11eb-847e-0896d0748e46.png)

[2020-12-03 19:31] prakharsinghal001 opened #2528 "Blurry Icons"
Firstly, I am very thankful to you guys for bringing a nice file explorer app. I hoped Microsoft would take the initiative but its nice to see an excellent app of yours in the store.

Problem: Icons appear blurry. I have attached the screenshot, you can compare it.
![Screenshot 2020-12-04 005613](https://user-images.githubusercontent.com/75448234/101077973-8de28d00-35cb-11eb-9bb4-73063c79dfde.png)

[2020-12-03 19:38] XPoppyX commented on #2528
Duplicate of #1152

[2020-12-03 19:39] prakharsinghal001 opened #2529 "Access to Shared files in Onedrive"
Currently, there is no integration of onedrive where i can get access to shared files and folder. If you guys can bring it into this file app, then it would be great.

[2020-12-03 20:04] winston-de commented on #2520
@gave92 I think the way Windows Explorer does it currently is pretty good (although laggy), where you can touch and hold in the margin, then drag to select. In my experience, it doesn't interfere with scrolling or the context menus too much.

[2020-12-03 20:45] #2528 closed

[2020-12-03 20:53] winston-de commented on #2093
@yaichenbaum @Thomas1664
The read only text editing issue has been solved.

As for the localization, I added all the property names to the en-us string resource file, which updated the multilingual resource files. However, I don't have an Azure subscription, so I can't use the Multilingual Editor's translation providers.

[2020-12-03 20:56] #2093 closed

[2020-12-04 00:13] tsvietOK opened #2531 "Properties: Icon of file is not vertically centered"
**Describe the bug**
Preview image of file(like photo or video) is not centered.

**To Reproduce**
Steps to reproduce the behavior:
1. Open photo or video properties.

**Expected behavior**
Preview image of file should be centered.

**Screenshots**
![image](https://user-images.githubusercontent.com/20501502/101105350-03535b00-35d6-11eb-8d2c-15ae5ca70c74.png)

**Desktop (please complete the followi

[2020-12-04 01:24] linuxduduniao opened #2533 "double click can not open file"
files version: 0.21.1.0
window version: win10 profession 20251.1
--------------
double click file dose not work , and [Open] button on right menu does not work.
but [Open With] can open file success.
![image](https://user-images.githubusercontent.com/44915655/101109681-6cf15a80-3612-11eb-85db-f7ecab2b5119.png)

[2020-12-04 02:17] yaichenbaum commented on #2533
@linuxduduniao This issue should be fixed in `master` and will roll out when we ship the next update, in the meantime, try setting the sort option to sort by name.

[2020-12-04 02:17] #2533 closed

[2020-12-04 03:08] prakharsinghal001 opened #2534 "Support for Customize folder icons"
It would be much better If you guys added the ability to customize folder icons.

[2020-12-04 03:56] #2531 closed

[2020-12-04 07:56] asuetin commented on #1880
Just to confirm: SSHFS is much faster now to the point where I'd consider this issue resolved.

[2020-12-04 18:03] yaichenbaum opened #2536 "The settings button is not in the correct place after updating to WinUI 2.5"

[2020-12-04 18:05] yaichenbaum opened #2537 "Opening the properties window from the sidebar crashes the app after updating to WinUI 2.5"
`2020-12-07 00:55:31.1217|ERROR|.ctor|The application called an interface that was marshalled for a different thread.`

[2020-12-04 18:29] mdtauk commented on #2536
Is this because of the new Bottom Items support in the NavigationView control?

[2020-12-04 18:31] yaichenbaum commented on #2536
Yes, it's a little bit more than just changing the xaml in our case because of the setup we have but @duke7553 is planning to work on a fix.

[2020-12-04 18:49] nickhasoccured opened #2538 "Properties window shows storage for current directory"
**Describe the bug**
When opening the properties of a folder __pinned to the sidebar__, the storage information displayed will be for the currently open directory, not the one clicked.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate into any directory
2. Right-click a folder (other than your current folder) from the sidebar, then select Properties.
3. Observe the storage information

[2020-12-04 19:42] AngelZeur opened #2539 "all the icons of the folder full of videos and photos when I open the folder do not appear the icons showing does not load the icons is like this way of the photo I'm showing the print screen taking too long even to load correct it please"
**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wh

[2020-12-04 20:50] duke7553 commented on #2539
@AngelZeur Please fill out the issue template to the best of your ability and re-open this. Thank you!

[2020-12-04 20:50] #2539 closed

[2020-12-05 02:44] EricChen1248 opened #2540 "Default tab focus move to explorer region."
**Is your feature request related to a problem? Please describe.**
The default tab focus on the explorer screen (and probably others too, I've noticed the properties as well) are not very useful, and unhelpful for keyboard based navigation. Currently you need 6 "tab presses" to switch to the actual explorer region before being able to navigate with arrow keys to select folders/drives.

**Describe

[2020-12-05 17:41] erayrafet opened #2542 "Folder icons not showing up"
**Describe the bug**
A single folder icon is missing / not shown.

**Expected behavior**
All the default folder icons on the left to be displayed.

**Screenshots**
![image](https://user-images.githubusercontent.com/34194191/101259394-57268700-3731-11eb-8d71-897c1f4f5b92.png)
![image](https://user-images.githubusercontent.com/34194191/101259510-b389a680-3731-11eb-895b-f7daa4112477.png)

**Desktop (

[2020-12-05 18:47] infuriatedcodex opened #2543 "Ongoing Tasks when file copying reports too slow in chunks instead of realtime."
**Describe the bug**
A clear and concise description of what the bug is.
The Ongoing Tasks doesn't give real-time progress like the built in Windows File explorer does when copying files to network locations (SMB or UNC path). This becomes very obvious when copying a large amount of data (files and folders) around 10GB for example.

**To Reproduce**
Steps to reproduce the behavior:
1. Open 2 tabs,

[2020-12-05 20:03] NikolaDjokic271 opened #2544 "Accessing the file system of an installed WSL distribution"
I use Windows Subsystem for Linux a lot for several personal projects of mine and have been able to access the linux file system from the default windows explorer. However, on this Files app, in the usual place where I expect the linux files, I just see a hard disk image (.vhdx) file. Opening it results in an error (screenshot included). I suppose the app doesn't know how to read or write to linux

[2020-12-05 22:56] gave92 commented on #2544
Hi @NikolaDjokic271 does typing "\\wsl$" in the Files address bar work?

[2020-12-06 04:58] #2540 closed

[2020-12-06 05:41] Cyberdroid1 commented on #2534
You can change icon in the windows explorer, they would appear normally in files app.

[2020-12-06 05:48] prakharsinghal001 commented on #2534
I can do everything in windows file explorer, then why do we need this Files UWP app.

[2020-12-06 11:13] NikolaDjokic271 commented on #2544
@gave92 It does work. I didn't even know WSL file system could be accessed like that. The files take a tiniest bit longer to load but it does work as expected. I guess this is just me not knowing enough about WSL.

Although, having access to the WSL distro's file system via a shortcut in the side bar in the same way OneDrive can be accessed or on the home page might have prevented this.

[2020-12-06 13:45] Jon-Florin opened #2548 "Can't open documents"
I can't open the documents when typing or clicking. I just see the icon for the docutment but can't open it working on a surface pro x (ARM).

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wha

[2020-12-06 13:46] gave92 commented on #2544
Glad it works, closing this as a duplicate of #295

[2020-12-06 13:47] #2544 closed

[2020-12-06 14:31] yaichenbaum commented on #2548
@Jon-Florin We usually expect users to fill out the issue template when reporting a bug, please reopen this issue when you have filled out the issue template.

[2020-12-06 14:31] #2548 closed

[2020-12-06 15:47] d2dyno1 commented on #1040
We could add a margin for now as a placeholder?

[2020-12-06 20:25] d2dyno1 commented on #2065
Maybe because the code is not optimized?

[2020-12-06 21:19] yaichenbaum commented on #1040
@d2dyno1 Having the scroll bar at the edge of the app is important, I wonder if we can just edit the template of the DataGrid to solve this issue.

[2020-12-06 21:23] d2dyno1 commented on #1040
Does not seem like a problem.

I'm not sure about the Margin solution that's why I'm calling it "Temporary" - I dunno how it will behave when user tries to resize the column

[2020-12-07 12:56] ShankarBUS commented on #2534
So, you basically need an option to customize the folder icon within **"Files UWP"** (i.e. to select the folder's icon from an *.ico or *.dll or *.exe), right?

If Files could already extract the custom icon and apply it, then this could indeed be possible.

Perhaps they could add a **"Select Icon"** button or something like that to the Folder Properties window.

[2020-12-07 12:58] ShankarBUS commented on #2527
How about using a CommandBarFlyout instead of a MenuFlyout?

Would that cause any problems?

[2020-12-07 14:19] boscorelly commented on #2516
i can't for now, as the 0.21.3 is bugged with the left menu.

btw, the drive is removed from tiles when i remove it yes.

[2020-12-07 18:30] prakharsinghal001 commented on #2534
Thanks for responding.

Yes, I do.

I organize my folders by changing their icons which makes the interface
more user friendly to work. It becomes easy to identify the folders using
visual representation. The best way that this facility can be integrated is
by clicking on the folder properties window. Then as one can rename the
files by clicking on the file title, in the similar manner, it would b

[2020-12-07 18:42] prakharsinghal001 opened #2555 "Right Click not working when the app stays idle for a few minutes"
When the Files UWP stays idle for about 3-5 minutes, right click somehow doesn't work. The problem is very annoying, please look after this bug.

[2020-12-08 01:37] #2536 closed

[2020-12-08 03:37] AngeredSpace opened #2558 "Animations are way too long."
**Is your feature request related to a problem? Please describe.**
My only problem is the animation times when opening a menu/navigating menus, which makes file browsing take way too long and not very practical for everyday use. Feels like it takes ages for the menu to pop up when i right click a file.

**Describe the solution you'd like**
I would like an option to change the speed of animations a

[2020-12-08 05:26] #2558 closed

[2020-12-08 13:54] yaichenbaum commented on #2479
This issue should be resolved with #2550.

[2020-12-08 13:54] #2479 closed

[2020-12-08 16:51] Dylan-Osborne opened #2560 "Increase max GridView size for ctrl + scroll"
**Is your feature request related to a problem? Please describe.**
In the current master branch, the max GridView size achievable by _ctrl + scroll_ is 220. It would be really appreciated if that max could be increased without modifying the default GridView layout sizes in the master branch ie. leaving the large, medium and small defaults as 220, 160 and 100 as set in #2479

**Describe the solutio

[2020-12-08 17:50] yaichenbaum commented on #2560
@Dylan-Osborne I believe this is already implemented.

[2020-12-08 18:08] Dylan-Osborne commented on #2560
@yaichenbaum Running the current master I can't get past GridView size 220, here's what I mean
![Files-Dev-2020-12-08-20-00-07-Tr](https://user-images.githubusercontent.com/46000533/101522723-4aec3500-3990-11eb-8703-c1347cc6d643.gif)

If I'm correct the offending line is https://github.com/files-community/Files/blob/7b5aa84e92a03183b325431c8b684f153cba923b/Files/View%20Models/SettingsViewModel.cs#

[2020-12-08 18:27] yaichenbaum commented on #2560
@Dylan-Osborne I see it now, if you want to work on adding an option for 260, go ahead. I wouldn't add a menu option for this, instead, it can be accessed using `ctrl + +`.

[2020-12-08 22:03] duke7553 commented on #2065
@d2dyno1 We have many optimizations in place, but this WinUI ticket is tracking the TabViewItem free-on-close issue. It is a known defect in the TabView control.

With that said, if you see other areas to optimize, please let us know so we can assign this to you 😀

[2020-12-08 22:04] d2dyno1 commented on #2065
Soon...

[2020-12-08 22:05] duke7553 commented on #2065
Making this as ongoing because we've made improvements in this area previously, but would still like to consider community feedback as we investigate this problem. This may very well be a "death by a thousand papercuts" scenario, but we are aware of several root causes.

[2020-12-09 02:08] yaichenbaum opened #2563 "Banners in the status center are missing AutomationProperties"
The banners in the status center don't have AutomationProperties set, causing the screen reader to read out unhelpful information.

[2020-12-09 04:32] rihards-simanovics opened #2565 "Quick Switch to "legacy" Explorer"
**Is your feature request related to a problem? Please describe.**
I find it frustrating to not be able to quickly switch from UWP Explorer to "Legacy" Explorer when you need to do something that is not supported in UWP explorer.

**Describe the solution you'd like**
I think it would be useful to have a context menu item, such as, "Open in Legacy Explorer" so that when you need to do something tha

[2020-12-09 04:56] yaichenbaum commented on #2565
@GreatRequest Can you try following the instructions [here](https://github.com/files-community/Files/wiki/Add-Files-to-the-File-Explorer-context-menu) by replacing the path for Files with the path for File Explorer?

[2020-12-09 11:03] Xiaoice001 opened #2567 "I want different sorts and layout modes in every page."
I want different sorts and layout modes in every page.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any al

[2020-12-09 11:21] Dylan-Osborne commented on #2567
Duplicate of #530

[2020-12-09 11:30] #2567 closed

[2020-12-09 11:33] gave92 commented on #2555
@prakharsinghal001 thanks for this report. Please add the Files version to the issue description.
"Right click not working" means that the context menu does not appear at all?
Does the app keep working or does it freeze?

[2020-12-09 14:49] dreaddr opened #2568 "Improve App Startup Performance"
**Describe the bug**
Slow to start, almost sluggish. I have an SSD and this hasn't happened before, overall the app feels laggy to use.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app and use it.

**Expected behavior**
Be fast and not be laggy.

**Screenshots**
How to add screenshots of the lag?

**Desktop (please complete the following information):**
 - OS Version:
Edition	Wi

[2020-12-09 18:30] chingucoding opened #2569 "A11y: Progressbars for volumes don't have a UIA name"
**Describe the bug**
When opening Files, the progressbars indicating the "fill up" of the volumes have no UIA name leaving the user with having to guess what the progress could indicate

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files
2. Visit ProgressBars for volumnes using narrator item mode
3. Observe announcement

**Expected behavior**
A clear and concise description of what yo

[2020-12-09 18:40] chingucoding opened #2570 "A11y: File/folder list is missing UIA names, faulty controltype & localizedcontroltype"
**Describe the bug**
The default file/folder list is missing UIA names for multiple things:
1. The image in the first column
2. The second hidden image which get's reported by accessibility insights and narrator
3. The value for the "Size" column if there is no size present

In addition to that, the first column of the file/folder view is using the "Custom" controltype and is not providing a local

[2020-12-09 18:44] mdtauk commented on #2569
Should it be a "friendly" readout of the storage?  So something like
**Internal Drive C.  Two Hundred and Ten Gigabytes of space remaining, out of Five Hundred Gigabytes capacity.**

[2020-12-09 18:49] chingucoding opened #2571 "A11y: Website link on abouts page should not be announced as "Link""
**Describe the bug**
The link to the website on the abouts page should not be announced as "link" but rather "Link, website" or something similar as in it's current form, it's hard to tell where the link will take you to if invoked.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to about page
2. Visit Website link with narrator
3. Observe announcement "link"

**Expected behavior**
A clea

[2020-12-09 18:53] chingucoding commented on #2569
If you visit the progressbar, it should only read out something like "80% of storage used" or something like that, the information which drive it is or how much storage is used exactly is already brough to the user through the label above and below the progress bar.

But you are touching another good point here: The label currently is announced as "two hundered and ten GB free of five hundered GB"

[2020-12-09 18:58] yaichenbaum commented on #2560
This issue should be resolved with #2561.

[2020-12-09 19:02] chingucoding opened #2572 "A11y: Properties window contains image without alt text"
**Describe the bug**
Open a "properties" window of a folder, observe that the folder image has no alt text.

**To Reproduce**
Steps to reproduce the behavior:
1. Open folder in Files
2. Open properties panel
3. Observe narration of image being "image"

**Expected behavior**
A clear and concise description of what you expected to happen.
Either leave out the image from the control tree or provide a

[2020-12-09 19:11] chingucoding opened #2573 "A11y: Info link next to date format dropdown has invalid UIA name"
**Describe the bug**
The info link next to the date format dropdown on the appearance page has an invalid UIA name (single unicode character in the private UTF space). Instead it should have an appropriate UIA name describing it's purpose.

**To Reproduce**
Steps to reproduce the behavior:
1. Open appearence on settings page
2. Visit info link next to date format with narrator
3. Observe announcem

[2020-12-09 19:20] #2555 closed

[2020-12-09 19:25] mdtauk opened #2575 "Request: Consider a Slider for adjusting layout sizing"
## Is your feature request related to a problem? Please describe.

With more sizing "breakpoints" being added for the keyboard shortcuts of resizing the Icon Views, It may be worth adding a slider for adjusting the sizing view Menus used with the mouse.

@yaichenbaum asked me to make this focused issue.

![image](https://user-images.githubusercontent.com/39923744/101674400-6f92ec00-3a26-11eb-8d6f-

[2020-12-09 19:28] yaichenbaum commented on #2575
Fyi @duke7553

[2020-12-09 19:30] alberto-diaz15 opened #2576 "Auto scroll when moving an item"
It may be very useful to have the function of auto-scroll when moving selected items as it's not implemented.
![files](https://user-images.githubusercontent.com/72040488/101677840-683b0500-3a5d-11eb-8e24-3b648a466dc1.png)

[2020-12-09 20:07] chingucoding opened #2577 "A11y: Invoking "Ongoing tasks" button does not read out of opened flyout"
**Describe the bug**
When invoking the ongoing tasks button, users are not notified about the content of the opened flyout. Generally, when invoking a button, users should be notified of changes, e.g. reading out something or switching focus if applicable

**To Reproduce**
Steps to reproduce the behavior:
1. Visit a folder
2. Invoke ongoing task button
3. Observe nothing gets announced

**Expected

[2020-12-09 20:14] #2560 closed

[2020-12-10 06:21] Jaiganeshkumaran opened #2578 "Crash notifications are not working"
It just says new notification

[2020-12-10 13:40] duke7553 commented on #2578
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-12-10 18:45] #2571 closed

[2020-12-10 18:45] #2573 closed

[2020-12-10 18:46] yaichenbaum commented on #2571
This issue should be resolved with #2574.

[2020-12-10 18:46] yaichenbaum commented on #2573
This issue should be resolved with #2574.

[2020-12-10 18:47] duke7553 commented on #2496
@d2dyno1 Were you going to fix this one?

[2020-12-10 18:48] duke7553 commented on #2413
@i-curve Can you fill out the issue template to the best of your ability? We'd like to fix this one eventually, but we need more info from you first. 🙂

[2020-12-10 18:50] yaichenbaum commented on #2021
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-10 18:50] #2021 closed

[2020-12-10 18:52] d2dyno1 commented on #2496
I'll fix it in 1-2days

[2020-12-10 22:07] gave92 commented on #2578
In recent versions when the app crashes the crash toast notification does not display the "report issue" button anymore but simply contains the text "new notification"

[2020-12-11 06:27] Jaiganeshkumaran opened #2580 "Home page elevation effect overlay for folder shortcuts"
**Describe the bug**
The elevation effect that comes when a folder shortcut is hovered overlays with the next folder on larger windows sizes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Files
2. Hover on a folder item
3. See issue

**Expected behavior**
A clear and concise description of what you expected to happen.
It should not overlay

**Screenshots**
If applicable, add screensh

[2020-12-11 10:47] pgirzalsky opened #2581 "Add option to remove shortcut overlay"
**Is your feature request related to a problem? Please describe.**
Customization is really important to me, and I would imagine, many others. Thus, I'd like the option to remove the shortcut arrows from icons, as it is possible in the default explorer as well.

**Describe the solution you'd like**
Use the registry key that is set and used by the default explorer as well. Explanation of the key tha

[2020-12-11 10:57] pgirzalsky opened #2582 "Bug: File preview thumbnails not showing in grid and tile view's"
### What feature or improvement do you think would benefit Files?
I'd like to be able to preview common file-types like psd, pdf, svg, ai etc. natively inside Finder. If that will be implemented, it would be great to have that preview appear also in the "details" layout mode. If you don't want that that to be the default for any reason, please add an option in the settings or so do to enable that.

[2020-12-11 12:55] duke7553 commented on #2580
@yaichenbaum Isn't this by design to imply elevation?

If so, we can close this.

[2020-12-11 12:56] duke7553 commented on #2537
@yaichenbaum Does the log file contain sufficient information for this crash?

[2020-12-11 12:57] Jaiganeshkumaran commented on #2580
@duke7553 I don't mean the elevation itself but if you see carefully on larger screen sizes it overlays the next box which doesn't occur in small screen sizes.

[2020-12-11 14:20] generalguy41 commented on #2580
Here's a closer image of what I believe the issue is. You can see that there is an overlap that shouldn't be there. This is on 0.21.1.0 as well.
![image](https://user-images.githubusercontent.com/8879244/101914252-0def9080-3b92-11eb-993b-3490b66fc7e3.png)

[2020-12-11 14:49] yaichenbaum commented on #2580
@duke7553 This is a bug, the reason it happens is that the center point is not set correctly for those items.

[2020-12-11 14:50] yaichenbaum commented on #2537
@duke7553 I updated the description.

[2020-12-11 14:55] yaichenbaum commented on #2582
Merging with #130.

[2020-12-11 15:38] osieltorres opened #2583 "Application crashes when attempting to show folder properties in system partition"
**Describe the bug**
Files crashes when trying to get folder property in system partition.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to application
2. Click open system partition
3. Try to get any folder properties
4. Application crashes inmediately.

**Expected behavior**
To show the property of the selected folder.

**Desktop (please complete the following information):**
 - OS Ve

[2020-12-11 17:25] d2dyno1 commented on #2496
Fixed with #2585?

[2020-12-11 17:57] yaichenbaum commented on #2583
Duplicate of #2537.

[2020-12-11 17:57] #2583 closed

[2020-12-11 18:23] gmmazza opened #2586 "Use of partial path from enviroment variable"
**Is your feature request related to a problem? Please describe.**
Is not a problem, just a feature.

**Describe the solution you'd like**
The situation is this. I want to paste a partial path like "OneDrive\work\project 1" and the native file explorer will take the environment variable with OneDrive to fill the complete path to the local copy of OneDrive.

[2020-12-11 20:09] osieltorres commented on #2537
I have to say that the crash happens on every possible partition, not only for system, and not only from the sidebar.

[2020-12-11 20:55] DiegoMagdaleno commented on #295
Hey I want to report something else, and I think you mean you only want to start the WSL kernel.

Example:
See I dont have any sessions of WSL running, while I started Pengwin distro earlier, for example I didn't touch Void Linux at all Today.

Here is an Example, i dont have any WSL sessions open:
![image](https://user-images.githubusercontent.com/38844659/101953800-a4d34180-3bc0-11eb-99dc-a869dc

[2020-12-11 21:11] DiegoMagdaleno opened #2587 "Add a feature to also hide files that start with a "dot""
**Is your feature request related to a problem? Please describe.**

Normally on Linux/macOS dotfiles are hidden, while this isn't the case on Windows systems, many apps still do a dotfile in the "home" directory, for example scoop:

`C:\Users\User\.scoop`

While in Windows you are supposed to hide folders using the hidden attribute, some Apps don't like this. This clutters the home folder with dot

[2020-12-11 22:16] GreatRequest commented on #2565
Hi @yaichenbaum , Thanks for the suggestion. Hmm, it would seem that File Explorer is unable to execute the script, please see the screenshot below.
![image](https://user-images.githubusercontent.com/52106095/101959667-a66f2a80-3bfd-11eb-9ba2-38a37b9a18bb.png)

[2020-12-12 02:14] Vixb1122 opened #2588 "Add the option to filter items by from the column headers in the DataGrid layout"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
Nope

**Describe alternatives you've considered**
Nope

**Additional context**
![image](https://user-images.githubusercontent.com/17810492/101999644-1541a600-3d1a-11eb-9515-8c27b36f28fe.png)

In the file explorer, you can filter the entries by clicking on the arrow beside of button.

[2020-12-12 03:15] Vixb1122 opened #2589 "How to add registry entries that can be detected by Files"
1. Add a entry to context menu by follow code.
[code]
2. Can't detect this entry

[2020-12-12 07:06] gave92 commented on #2589
@Vixb1122 Files does not currently show the context menu items that appear when right clicking on a folder background/empty space, but only the ones that appear when right clicking on a folder item.
HKEY_CLASSES_ROOT\Directory\Background\shell won't work
HKEY_CLASSES_ROOT\Directory\shell should

[2020-12-12 12:28] Vixb1122 opened #2590 "Can't display the directory that contains system in it's attributes"
**Describe the bug**
Can't display the directory that contains system in it's attributes

**To Reproduce**
1. open C:\Windows
2. retrieve fonts folder(with mode `d-r-s`)

**Expected behavior**
The directory contains fonts.

**Screenshots**
![image](https://user-images.githubusercontent.com/17810492/101983865-8a7c8f00-3cb8-11eb-98a7-ee668a6ac6d0.png)

![image](https://user-images.githubusercontent.

[2020-12-12 15:22] fisforfaheem opened #2591 "Make an option inside files(app) that shows all changes(version history)"
Please we really need to know whats going on without leaving apps

[2020-12-12 15:24] fisforfaheem commented on #2582
any updates?

[2020-12-12 15:25] fisforfaheem commented on #2568
takes some time to load..

[2020-12-12 15:26] fisforfaheem commented on #2565
would love to see it coming before 2020

[2020-12-12 16:39] whdmike commented on #2011
I think there are few options how sorting can be done - in a case you have problems with code and you are not able to implement it - one option is drag and drop like windows file explorer and another option is like most of other file explorers have, separate option to sort/manage pinned/favorite folders (xyplorer, zabkat,Freecommander, ,..). Just an idea if might help.

[2020-12-12 23:55] yaichenbaum commented on #2565
@rihards-simanovics Can you share the script you tried running?

[2020-12-12 23:59] yaichenbaum commented on #2591
Merging with #2454.

[2020-12-12 23:59] #2591 closed

[2020-12-13 00:00] yaichenbaum commented on #2590
@duke7553 Is this the intended behavior?

[2020-12-13 00:01] yaichenbaum commented on #2588
@Vixb1122 We usually expect users to fill out the issue template when reporting a bug, please reopen this issue when you have filled out the issue template.

[2020-12-13 00:08] Vixb1122 commented on #2588
@yaichenbaum reopen please.

[2020-12-13 00:40] Vixb1122 opened #2592 "Use translate platform to maintenance translate file."
**Is your feature request related to a problem? Please describe.**
Some texts are not localized

**Describe the solution you'd like**
Use translate platform to maintenance translate file.

**Describe alternatives you've considered**
https://crowdin.com (non-free)
https://www.oneskyapp.com (non-free)
https://poeditor.com (free less than 1 000 Strings)

[2020-12-13 03:24] rihards-simanovics commented on #2565
hi @yaichenbaum , It's in the link you have posted above, "[Add Files to the File Explorer context menu](https://github.com/files-community/Files/wiki/Add-Files-to-the-File-Explorer-context-menu)".
[code]

[2020-12-13 03:28] yaichenbaum commented on #2565
@fisforfaheem That was just an example as a starting point, you would need to modify the script in order for it to launch file explorer.

[2020-12-13 04:12] rihards-simanovics commented on #2565
@yaichenbaum I guess the previous comment was for me. Now I see. Unfortunately, it wasn't too clear in the instructions that it was a template as it simply instructed to copy, paste and then install the script. So maybe perhaps it would be a good idea to mention the script provided in the wiki is a template.

Would you be able to give me a rough idea of what to edit as I am mostly a web developer

[2020-12-13 08:50] dkostarnov opened #2593 "Comfortable on a regular PC without a touch screen"
Make PLEASE the option to decrease the height of the file selection in ListView mode. At the moment it is not convenient to use Files with a mouse because of this. Also, it is not convenient due to the fact that you have not done empty space where there is no column. This is also very important. And lastly, when dragging a file, I drag a whole line. It's not comfortable. It would be very convenien

[2020-12-13 15:50] yaichenbaum commented on #2593
@dkostarnov Thank you for your feedback, your idea about adding an option to decrease the height of items in the DataGrid is something we are tracking and planning to implement over here #1940. We are also looking for a solution to have empty space where there are no columns, #1040. I cannot reproduce the issue where thumbnails are not displaying when dragging items, but if it's still an issue in

[2020-12-13 15:50] #2593 closed

[2020-12-13 15:52] #2496 closed

[2020-12-13 17:55] #2476 closed

[2020-12-13 18:02] yaichenbaum commented on #2011
@whdmike The feature was implemented using the drag and drop option, however there is currently an issue where drag and drop isn't working https://github.com/microsoft/microsoft-ui-xaml/issues/3290.

[2020-12-13 18:11] JanKrulak opened #2597 "Files does not open"
Dear Developers,

I have downloaded the Files today - looking really good. However, when I try to open any file (MS word, pdf, cad file, etc.), it does not open at all.

On the following link, you can see me trying to open files. https://www.dropbox.com/s/ttdm7rajrp9x586/Screen%20Recording%202020-13-12%20at%2018-09-07.mp4?dl=0

Kind regards,

Jan Krulak

[2020-12-13 18:11] yaichenbaum commented on #2597
@JanKrulak Can you try changing the sort mode? The store release has an issue where changing the sort mode can prevent opening items.

[2020-12-13 18:15] JanKrulak commented on #2597
Hi,
Yes, that solved the issue. I have changed it from sort by type to sort by name and it worked.
Many thanks!
Kind regards,
Jan
    On Sunday, 13 December 2020, 18:11:52 GMT, Yair Aichenbaum <notifications@github.com> wrote:

@JanKrulak Can you try changing the sort mode? The store release has an issue where changing the sort mode can prevent opening items.

—
You are receiving this because you

[2020-12-13 18:16] yaichenbaum commented on #2597
@JanKrulak Thank you for letting us know, we fixed the issue in `master` and it will be available with the next update.

[2020-12-13 18:16] #2597 closed

[2020-12-13 18:23] #2023 closed

[2020-12-13 18:24] yaichenbaum commented on #2023
This issue should be fixed with #2511.

[2020-12-13 18:28] yaichenbaum commented on #2534
Duplicate of #1015.

[2020-12-13 18:28] #2534 closed

[2020-12-13 18:37] #2477 closed

[2020-12-13 19:44] duke7553 commented on #2590
@yaichenbaum It was. We should investigate whether this attribute type can work with our filesystem operations.

[2020-12-13 21:21] yaichenbaum commented on #2590
@duke7553 It should work but it should probably be behind a setting.

[2020-12-13 21:47] yaichenbaum commented on #333
This issue should be resolved with #2446. Further improvements to the search feature are being tracked over here #2447.

[2020-12-13 21:51] yaichenbaum commented on #109
Thank you for your feedback, the search box is now hidden behind a button and the padding and overall design has been improved. These changes will be included in the next update.

[2020-12-13 22:27] #333 closed

[2020-12-13 22:39] yaichenbaum commented on #2569
@chingucoding Should the UIA name be added to the progress bar or should it be added to the parent control which in this case is a button?

[2020-12-13 22:50] chingucoding commented on #2569
Either add it to the progressbar so it get's announced in a helpful way (Narrator would announce "..., 80%, ProgressBar" instead of "80%, ProgressBar") or remove it from the control tree through the [AutomationProperties.AccessibilityView](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.automationproperties.accessibilityviewproperty?view=winrt-19041).

[2020-12-14 00:32] doggo404 opened #2598 "Please display folder sizes beside them, its my biggest gripe with file explorer."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-14 01:04] winston-de commented on #2450
@yaichenbaum Can you please assign me to this?

[2020-12-14 01:05] yaichenbaum commented on #2450
Sure! Do you have any designs in mind before you start?

[2020-12-14 01:26] winston-de commented on #2450
@yaichenbaum My plan is to use the design and most of the code from the properties: details page, but without the section headers and the clear properties button.
I was also planning on adding the file icon, an "open properties window" button, and ok/cancel buttons (that are revealed when the user makes a change) like Windows Explorer has.

[2020-12-14 01:28] yaichenbaum commented on #2450
What do you think about adding a grid splitter so users can resize the pane?

[2020-12-14 01:31] yaichenbaum commented on #2598
@doggo404 Displaying the folder sizes will have a considerable impact while loading directories, we would like to display them however we are not aware of an efficient way to do so.

[2020-12-14 01:31] #2598 closed

[2020-12-14 01:31] winston-de commented on #2450
@yaichenbaum Good idea.

[2020-12-14 01:44] mdtauk commented on #2450
I think this is a space where some thought of information design could be put in.

Text hierarchy

![image](https://user-images.githubusercontent.com/7389110/102031143-f6d8ba80-3dac-11eb-986f-31da1a10c116.png)

Headers and body text, and ways to visualise the non-text based data.

Grouping of information such as permissions and status, and ordering these groups based on what typical file informati

[2020-12-14 05:23] allenkk42 opened #2599 "right-click menu"
Why is it slower to open the right-click menu than native file manager?

[2020-12-14 06:17] ZENGJIACOM opened #2600 "Support launching more items from Path Box like Windows Explorer"
Displayed when the start command WT of Windows Terminal is entered in the address bar ![Error Image](https://user-images.githubusercontent.com/58651265/102046578-8bc3ce00-3e16-11eb-8167-581d2ae2639f.png),But it is normal in file Explorer

[2020-12-14 08:39] gave92 commented on #2599
Merging with #2527

[2020-12-14 08:39] #2599 closed

[2020-12-14 10:44] JanKrulak opened #2601 "Miller Columns"
Dear Developers,

I have been using Files 0.21.1.0 barely 24hrs and I must say, that I love it. However, there is still some room for improvement in my opinion.

The features which I miss are Miller Columns similar to mac Finder, and a preview by pressing the space key similar to Mac, or Seer does the same.

Kind regards,

Jan Krulak

[2020-12-14 10:57] Dylan-Osborne commented on #2601
If I'm correct the Miller Columns request is the same as #147. I think it's also being worked on at the moment.

Files supports previews when pressing space through integration with QuickLook. You can install QuickLook from the [Microsoft Store](https://www.microsoft.com/en-us/p/quicklook/9nv4bs3l1h4s?activetab=pivot:overviewtab)

[2020-12-14 11:01] JanKrulak commented on #2601
Thank you for the response!
Kind regards,
Jan
    On Monday, 14 December 2020, 10:57:25 GMT, Dylan Osborne <notifications@github.com> wrote:

If I'm correct the Miller Columns request is the same as #147. I think it's also being worked on at the moment.

Files supports previews when pressing space through integration with QuickLook. You can install QuickLook from the Microsoft Store

—
You are rec

[2020-12-14 11:42] gave92 commented on #2601
Closing this as duplicate of #147

[2020-12-14 11:42] #2601 closed

[2020-12-14 15:27] duke7553 commented on #2600
@ZENGJIACOM The path box currently doesn't use the user's environment variable Path as context when launching items. This means you can only enter absolute paths or type to find an item from the working directory.

However, we can triage this as a feature request.

[2020-12-14 16:11] yaichenbaum commented on #2600
@ZENGJIACOM The `wt` command will only work if you added a profile for Windows Terminal in preferences, have you tried doing that?

[2020-12-14 16:26] mbeps opened #2603 "Add Third Party Cloud Storage Support"
**Is your feature request related to a problem? Please describe.**
Allow users to use another cloud storage provider other than Microsoft OneDrive. If Google Drive Sync is installed then

**Describe the solution you'd like**
For example, if Google Drive Backup & Sync is installed, then it should automatically be displayed on the 'Drives' section where OneDrive is. Additionally, if OneDrive is not

[2020-12-14 17:30] frbona opened #2604 "High size folder access in list view mode"
Hi,

Issue i am facing is related to high size folder access (via tactile mode) in list view mode.

Selection is not directly effective and i have to switch from another folder to make it work.

Thx

[2020-12-14 18:42] yaichenbaum commented on #2603
@mbeps this is already implemented in v0.21.1, can you fill out the issue template so we can investigate why it's not working on your device?

[2020-12-14 19:41] RudySPG commented on #1346
![image](https://user-images.githubusercontent.com/37492880/102127347-3f21c800-3e01-11eb-93e8-fc331fd3298a.png)
Having the same issue no icons at all only folders get icon everything else is just default

[2020-12-14 23:10] d2dyno1 commented on #632
Are all .dll functions imports supported in Files? ("Kernel32.dll", "win32.dll")

[2020-12-15 02:22] Rick-HM opened #2605 "When there are no search results, show text: "No items match your search""
Show this text when there are 0 results:
![Captura de pantalla 2020-12-14 231808](https://user-images.githubusercontent.com/61259627/102159684-c6ebee80-3e62-11eb-8972-c656c3cd35cf.png)

[2020-12-15 04:51] yaichenbaum commented on #1929
@rc1 Sorry about the long delay on this, I took a look and ended up implementing it myself when I saw how simple it is 😆. You can check out the pull request here #2606.

[2020-12-15 07:41] Joel362 opened #2607 "The 'search' option doesn't work"
**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wh

[2020-12-15 08:17] Joel362 commented on #2607
The search option in "Files-preview" does not work.

pls help!!

[2020-12-15 12:10] Tester09 opened #2608 "Crash after opening properties of the pinned to sidebar folder"
**Describe the bug**
Apps crashed after I trying to open properties

**To Reproduce**
Steps to reproduce the behavior:
1. Click the right mouse on any sidebar folder
2. Click on 'properties.'
3. Wait until the app will try to open another window and crash

**Expected behavior**
Properties window should work without crashing
**Screenshots**
![crash_prop](https://user-images.githubusercontent.com/18

[2020-12-15 14:16] yaichenbaum commented on #2608
Duplicate of #2537.

[2020-12-15 14:16] #2608 closed

[2020-12-15 15:45] MadhiasM opened #2609 "Context Menu is not in the window when using keyboard 'Menu' Button"
**Describe the bug**
When trying to open the context menu (usually using right mouse click) with my keyboard menu button (see image 1), the menu appears at the top of the screen with the upper half cut off when it should appear starting at the selected element.
(Image 2)

**To Reproduce**
1. Select a file or folder in the explorer
2. Hit the 'Menu' button on your keyboard
3. Menu appears at the wr

[2020-12-15 16:28] duke7553 commented on #2604
@frbona This sounds like a bug, but can you please elaborate on what you're unable to do that you should be able to? We normally expect issue templates to be filled out completely.

[2020-12-15 16:29] duke7553 commented on #2413
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-12-15 16:29] #2413 closed

[2020-12-15 16:30] duke7553 commented on #2607
@Joel362 Please fill out the issue template all the way and describe in detail what "does not work" means. Otherwise, we'll close this after 3 days.

[2020-12-15 16:32] duke7553 commented on #2605
@XPoppyX Thank you for bringing this to our attention. @yaichenbaum added this to #2447 for visibility

[2020-12-15 16:54] #1929 closed

[2020-12-15 17:03] frbona commented on #2604
Describe the bug
Access high size folders in list view mode is not effective on first selection. Selection is not possible anymore when issue occurs and refresh is needed to make it work. This issue occurs in tactile mode by controlling application by tactile way.

To Reproduce
Try to open by tactile way a high size folder in list view mode

Screenshots
![image](https://user-images.githubuserconte

[2020-12-15 17:57] yaichenbaum commented on #2587
@DiegoMagdaleno Can you check if turning off the option to show hidden items hides dot files?

[2020-12-15 17:59] DiegoMagdaleno commented on #2587
@yaichenbaum i dont have that option enabled

[2020-12-15 18:57] gave92 commented on #2447
Searching inside a hidden folder crashes the app with UnauthorizedAccessException
`2020-12-15 19:55:53.7967|ERROR|Files.App|Accesso negato. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))|System.UnauthorizedAccessException: Accesso negato. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))
   at Files.Filesystem.Search.FolderSearch.SearchForUserQueryTextAsync(String userText, String Worki

[2020-12-15 20:48] Dogacel opened #2610 "Remember ordering rules on different folders"
In the file explorer, each folder has its own rule for ordering/sorting its content. For example when I enter downloads tab, I would like to see downloads in the order of date modified. But when I return back to documents. I want to see my documents ordered by name. Now this app only remembers a single rule and applies it whenever I visit.

**Is your feature request related to a problem? Please de

[2020-12-15 21:16] XPoppyX commented on #2610
Duplicate of #530

[2020-12-15 21:31] #2610 closed

[2020-12-15 21:32] #2603 closed

[2020-12-15 23:59] #1040 closed

[2020-12-16 04:50] winston-de commented on #2537
I believe the source of the issue is the NavigationView in Properties.xaml as the window will launch properly when it is removed.

[2020-12-16 05:58] winston-de commented on #2537
Using Windows.Ui.NavigationView instead of Microsoft.Ui.Xaml.NavigationView seems to be a workaround to this issue.

[2020-12-16 06:50] Joel362 commented on #2607
I see there is a search icon on the top-right. But this icon is 'unclickable'. It is not backlit like the other options.
I don't know if it happens only to me or if this feature has not yet been implemented.

https://user-images.githubusercontent.com/76034986/102313965-978ace00-3f97-11eb-9044-91acf5459bf3.png
                            ...................(LINK TO SCREENSHOT)......................

[2020-12-16 13:56] JER-ry commented on #2492
***(I Am Not One of the Developers)***

Maybe this is more useful than the feature requested in #2192... However, it would be best if you can support all "Create New" options available on a certain PC.

By the way, the feature requested here is already provided by VSCode and seems good.

[2020-12-16 14:00] jakoss commented on #1769
I did some measurement and experiments with memory cache and unfortunetely - i think the "load performance" issue is somewhere else (probably the rendering itself). All code that listed files performed under 800ms (average 350 ms for 20 measurements on my machine) which is in my opinion acceptable. I'm not sure how to measure perceivable performance here, but i'm pretty sure that ui (time that too

[2020-12-16 14:15] Sav22999 commented on #2492
@JER-ry yeah, but it's useful (for me) if you can create a "empty" file.

You can create also on Explorer > Create a "txt" file > Then rename it and change the extension. But it's not the best practice, because this feature should be supported by default

[2020-12-16 14:16] #2537 closed

[2020-12-16 15:32] alberto-diaz15 opened #2614 "Icons are not shown the first time you open the app"
When i open the app, all thumbnails look the same but next times it's corrected:

![image](https://user-images.githubusercontent.com/72040488/102369378-2578b000-3fbc-11eb-894b-d9feddf20e6c.png)

![image](https://user-images.githubusercontent.com/72040488/102369432-36292600-3fbc-11eb-934e-2f84fac377c5.png)

[2020-12-16 18:02] #2478 closed

[2020-12-16 18:02] #2569 closed

[2020-12-16 18:05] gave92 commented on #2614
@alberto-diaz15 can you confirm that this only happens if you enable the "continue where you left off" option in Files settings?

[2020-12-16 18:34] alberto-diaz15 commented on #2614
I had enabled "Open new window"

[2020-12-16 18:35] gave92 commented on #2614
Same effect, thanks for the info!

[2020-12-16 19:03] alberto-diaz15 commented on #2614
When i said "open new window" i meant "open new tab", sorry because i have the program in spanish.  With "continue where you left off" I have the same issue.

And yes, if i wait 3-5 seconds the app loads all the thumbnails correctly

[2020-12-16 19:23] yaichenbaum commented on #2607
@Joel362 Search is not available in v0.21.1 but it will be availible when we ship the next update.

[2020-12-16 19:23] #2607 closed

[2020-12-16 20:20] duke7553 commented on #632
@d2dyno1 They have to be from this list: https://docs.microsoft.com/en-us/uwp/win32-and-com/win32-and-com-for-uwp-apps

[2020-12-16 21:34] yaichenbaum commented on #2256
@bogdanbryzh-official Is this still an issue in v0.21.1?

[2020-12-16 21:43] #2515 closed

[2020-12-16 21:44] yaichenbaum commented on #2314
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-16 21:44] #2314 closed

[2020-12-16 21:46] #2195 closed

[2020-12-16 21:49] yaichenbaum commented on #2113
This issue appears to be resolved with v0.21.1.

[2020-12-16 21:49] #2113 closed

[2020-12-16 22:23] d2dyno1 commented on #632
How do I import them?
Is it done by `[DllImport()]`?

[code]
?

[2020-12-16 22:48] tsvietOK commented on #632
@d2dyno1
[code]

[2020-12-16 22:53] d2dyno1 commented on #632
Thanks, @tsvietOK !

I'll see what I can do then...

[2020-12-17 00:01] winston-de commented on #2450
@mdtauk
I agree with everything you said.

Personally I like the idea of using icons (like the one in the google photos sample). It would make it much more compact when the details pane is narrowed.

You also mentioned previews for photos, but what if we did previews for most file types? I think the way OneDrive does this is pretty solid.
<img src="https://user-images.githubusercontent.com/5954440

[2020-12-17 00:24] yaichenbaum commented on #2450
@winston-de I think that this feature can be merged with #130.

[2020-12-17 00:37] treneth333 commented on #2485
I've seen it have this problem before, sometimes reinstalling VLC will fix the problem.
But when some people continue to have difficulties, VLC is usually replaced by another MP4 player. Sometimes users will completely uninstall VLC so that there's no clash on what program is supposed to play the MP4 by default.

I'd start there personally, hope this helps 😁

[2020-12-17 01:14] yaichenbaum commented on #2580
Merging with #2246.

[2020-12-17 01:14] #2580 closed

[2020-12-17 01:34] Joel362 commented on #2607
Thank you!

On Thu, Dec 17, 2020 at 12:53 AM Yair Aichenbaum <notifications@github.com>
wrote:

[2020-12-17 01:48] yaichenbaum commented on #1737
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-17 01:48] #1737 closed

[2020-12-17 01:49] yaichenbaum commented on #1222
@Jaiganeshkumaran Can you still reproduce this with v0.21.1?

[2020-12-17 01:50] yaichenbaum commented on #1320
@generalguy41 Is this still an issue with v0.21.1?

[2020-12-17 01:52] yaichenbaum commented on #1987
@Nuzza Is this still an issue in v0.21.1?

[2020-12-17 01:57] yaichenbaum commented on #1947
@arasthudev Is this still an issue with v0.21.1?

[2020-12-17 01:58] yaichenbaum commented on #1931
@rachit1601 Is this still an issue in v0.21.1?

[2020-12-17 02:01] yaichenbaum commented on #1878
This issue should be resolved with v0.21.1.

[2020-12-17 02:01] #1878 closed

[2020-12-17 02:03] yaichenbaum commented on #1823
@lbfatcgf Is this still an issue in v0.21.1?

[2020-12-17 02:04] yaichenbaum commented on #1714
@R3voA3 Is this still an issue in v0.21.1?

[2020-12-17 02:06] yaichenbaum commented on #2111
This issue appears to be resolved with v0.21.1.

[2020-12-17 02:06] #2111 closed

[2020-12-17 02:09] yaichenbaum commented on #2109
I want to assure you that none of your files or data is tracked or accessible to us.

[2020-12-17 02:10] yaichenbaum commented on #2012
@hederaetype Is this still an issue in v0.21.1?

[2020-12-17 02:44] Nuzza commented on #1987
Nope, just tested it and the issue seems to be resolved, thanks.

[2020-12-17 02:44] #1987 closed

[2020-12-17 03:05] yaichenbaum commented on #380
@Cyberdroid1 #2622 resolves this issue, so it should be available in one of the next updates.

[2020-12-17 03:34] Cyberdroid1 commented on #380
Thanks!

[2020-12-17 03:51] generalguy41 commented on #1320
@yaichenbaum No longer crashes, though rotating the image caused empty folders to show up randomly...
![ezgif-3-ab29a6da2e97](https://user-images.githubusercontent.com/8879244/102441683-c2edd700-3ff0-11eb-8f51-0aacb6660b59.gif)

Nothing in the log files either. The folders disappear on refresh.

[2020-12-17 07:04] Jaiganeshkumaran opened #2624 "AutomationProperties not set in vertical tab strip"

[2020-12-17 08:49] lbfatcgf commented on #1823
The issue remains。

[2020-12-17 08:58] lbfatcgf commented on #1823
Maybe my PC is behind The Times。

hasee Z7M-SL7

[2020-12-17 09:54] smarquespt commented on #2592
I also would like to have this. It more user friendly than messing with resource file.

I'm not sure wht you've meant by non-free but crowdin as a free plan for oss - https://crowdin.com/page/open-source-project-setup-request

Also transifex has a free plano for oss - https://docs.transifex.com/projects/open-source-project

[2020-12-17 12:09] KeremArdicli opened #2625 "Turkish Translation error"
**Describe the bug**
Translation of "Drives" for Turkish is stated as "Sürüşler" whereas it is originally translated as "Sürücüler" in regular File Explorer. And "Sürücüler" is the correct one.

Settings is also translated as " Özellikler " which means "features". When I click on the button, "Ayarlar (Settings)" page is opened. I think this also should be corrected.

**To Reproduce**
Steps to repr

[2020-12-17 12:16] KeremArdicli opened #2626 "Pin folders by dropping them on left pane"
**Is your feature request related to a problem? Please describe.**
I'm frustrated to see that I cannot pin any folder to left pane. When i tried to do so, my folder is copied under a folder present on the pane.

**Describe the solution you'd like**
Users should be able to pin folders under a Quick Access tab.

**Describe alternatives you've considered**
Existing File Explorer solution is just fine

[2020-12-17 12:21] KeremArdicli opened #2627 "Enable "one click-and-hold to drag" feature"
**Is your feature request related to a problem? Please describe.**
When i want to move a folder, simple one "click and hold to drag" is not working. You need to select the folder first and that should click again and drag it.

**Describe the solution you'd like**
Clicking and holding on a folder/file should be enough. Users should not need to select file/folder first and thgen click again to move/

[2020-12-17 13:01] R3voA3 commented on #1714
Unfortunately, yes.

[Uploading debug_fulltrust.txt…]()

[2020-12-17 13:10] mrr07 commented on #2626
There is a option in context menu

![image](https://user-images.githubusercontent.com/69007625/102492122-7d252300-4071-11eb-80f2-cc369853d04d.png)

[2020-12-17 13:14] Dylan-Osborne commented on #2627
Possible duplicate of #673

[2020-12-17 13:17] KeremArdicli commented on #2626
Drag and drop should be an option. Dont you think so?

[2020-12-17 13:17] KeremArdicli commented on #2626
BTW, thnx for the info. I have dropped using it just bcs of this so-called-missing feature.

[2020-12-17 13:19] KeremArdicli commented on #2627
Yeah exactly.

Dylan Osborne <notifications@github.com>, 17 Ara 2020 Per, 16:15 tarihinde
şunu yazdı:

[2020-12-17 14:14] yaichenbaum commented on #2624
@Jaiganeshkumaran Can you please add more details such as which controls in the tab strip are missing AutomationProperties?

[2020-12-17 14:30] Chris2011 commented on #2527
I can reproduce it. But IMHO it is more a bug or misbehaviour than a new feature.

[2020-12-17 15:39] #2627 closed

[2020-12-17 16:09] yaichenbaum commented on #1513
@hez2010 The next release of Files will start checking if there are mandatory updates when launching the app. It won't force the user to install them, but it will inform them that it's available and give them the option to download it. @Thomas1664 Thank you for implementing this great feature!

[2020-12-17 16:51] duke7553 commented on #2604
@frbona Thanks for getting back to us. Is the issue involving touch input only?

[2020-12-17 17:17] gave92 commented on #2590
I've just tested this:
- Browsing system folders works
- Copying system files works
- All other operations (rename, move, delete) fail without crashing the app

I guess we can enable this, since rename, move, delete also fail for windows explorer if user is not administrator
What do you think?

[2020-12-17 17:29] gave92 commented on #2609
I'm also pretty sure that the shown menu is related to the folder you are in and not to the currently selected item.
Grid view works correctly

[2020-12-17 17:30] duke7553 commented on #1320
@generalguy41 Thanks for reporting this.

Wow, this bug is quite amusing. 😆

[2020-12-17 17:32] yaichenbaum commented on #2590
@gave92 Do you think those issues can be solved by implementing an elevated full trust process?

[2020-12-17 17:32] #1513 closed

[2020-12-17 17:36] #380 closed

[2020-12-17 17:38] gave92 commented on #2590
@yaichenbaum that would help I believe, some files you can delete only if you are admin.
System files can't deleted even by admin unless the file owner/permissions are changed first (an elevated process should be able to change file permissions as well)

[2020-12-17 17:52] MadhiasM commented on #2609
Yes, you are right, it is the menu of the folder, but since the item is selected, the menu should actually refer to the selected item like in MS explorer. Plus the menu is cut off due to its position in any case. For reference I attached a gif of the issue while using keyboard inputs plus the same for MS explorer. Files actually unselects the file when hitting the menu key and thus shows the menu

[2020-12-17 18:14] gave92 commented on #2609
@MadhiasM same in my testing, thanks for the confirmation.
Only difference is that for me the menu appears on the left of the file list (but anyway is the menu for the wring item)
Does it make a difference if the Files window is smaller/not maximized?

[2020-12-17 18:21] #1498 closed

[2020-12-17 18:35] MadhiasM commented on #2609
Yes, you're right, whenn the window is not maximized the menu will appear in different positions. The position depends on where the not maximized windows is located :If there is a lot of space on the left it will appear on the left and so on. (Same for Top, Bottom, Right). In that case, the menu is not cut off, but still not the correct menu

[2020-12-17 19:34] yaichenbaum commented on #2600
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-17 19:34] #2600 closed

[2020-12-17 20:02] frbona commented on #2604
Yes, only in touch mode

[2020-12-17 22:22] duke7553 commented on #2604
@frbona Since we already have an issue open for this, please follow #2279 .

Duplicate of #2279

[2020-12-17 22:22] #2604 closed

[2020-12-17 22:23] d2dyno1 commented on #1222
@duke7553 Are you currently working on this? Does it include modifying `IFilesystemOperations` in any way?

[2020-12-17 23:34] DogeLord081 commented on #2314
Woah woah woah why does it keep getting closed

[2020-12-17 23:40] yaichenbaum commented on #2314
@DogeLord081 We cannot reproduce this issue on our end, can you check if this is still an issue with v0.21.1?

[2020-12-17 23:41] DogeLord081 commented on #2314
@yaichenbaum sure ill try

[2020-12-18 00:44] #2538 closed

[2020-12-18 00:46] yaichenbaum commented on #2538
This issue should be resolved with #2629.

[2020-12-18 00:52] yaichenbaum commented on #1714
@R3voA3 Can you share some steps to reproduce this issue?

[2020-12-18 01:35] HenryOfCarim opened #2633 "Instant crash after after typing something in the search field"
**Describe the bug**
Typing anything in the search field freeze the window first and then the app is crashing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any searchable folder
2. Click on the search icon
3. Type anything
4. See  the app crashing

**Expected behavior**
Search should work

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 2004 2

[2020-12-18 03:39] Jaiganeshkumaran commented on #2624
@yaichenbaum The add tab button has no automation properties set and since it has an icon, XAML doesn't set it automatically. Also list view items there don't report the tab names by overriding ToString()

[2020-12-18 03:44] yaichenbaum commented on #1805
Merging with #692.

[2020-12-18 03:44] #1805 closed

[2020-12-18 03:48] yaichenbaum commented on #2322
I think that merging the two features would make sense, quick access would show some recent directories, but it would also let you pin them to the quick access section.

[2020-12-18 03:48] #2322 closed

[2020-12-18 03:48] yaichenbaum commented on #2322
Merging with #692.

[2020-12-18 19:46] gave92 commented on #2513
@Sank30 does this happen also hen you try to paste to the Documents or Downloads folder?
Pasting to the Program Files folder is not working due to permission issues (you need to be administrator usually)

[2020-12-18 19:53] yaichenbaum commented on #692
The goal of the sidebar control is to access the most important directories on your device. The built in Files Explorer in Windows was designed a little differently and it blurs the lines between the navigation menu and the list of items. The new design we are looking at implementing in Files no longer pins all the library locations by default, instead the new design will only have four items pinn

[2020-12-18 20:00] yaichenbaum commented on #2633
@Tester09 Does this issue happen in every directory or is it only in some directories?

[2020-12-18 20:06] yaichenbaum commented on #2510
@wanderseeme This issue should be resolved with #2636.

[2020-12-18 20:50] Tester09 commented on #2633
I didn't find any directory where this isn't happening except My Documents

[2020-12-18 21:24] bogdanbryzh-official commented on #2256
No, it's gone)) The bug is fixed I guess?)
I didn't use new Files for a while. Have to say now it's blazing fast and super comfortable)) Thanks!

[2020-12-18 21:24] #2256 closed

[2020-12-19 05:32] Sim233 opened #2639 "Request: Change the font and size or the height of each file in settings"
**Is your feature request related to a problem? Please describe.**
It seems that I cannot change the font and size in settings now. Personally, I think the font size is okay for viewing, but only a small number of files (about 18) can be displayed on one page, which makes it a bit hard to use when there's a lot of files under the path.

**Describe the solution you'd like**
Give a select box to sel

[2020-12-19 05:39] Sim233 opened #2640 "Request: Split window into two columns"
**Is your feature request related to a problem? Please describe.**
Now it seems I cannot split the window into two columns showing different folders.

**Describe the solution you'd like**
Expect shared control column in the left, and two columns in the right, each showing a folder, similar to most IDEs.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2020-12-19 05:52] Sim233 opened #2641 "Request: Pull the pinned shortcuts in the sidebar to rearrange the sequence"
**Is your feature request related to a problem? Please describe.**
I added several paths to be pinned to sidebar, but it's ordering by the pinned time, and I cannot change the sequence by pulling the items.

**Describe the solution you'd like**
Pull the items to rearrange the sequence, like the win10 build-in file explorer.

**Describe alternatives you've considered**
Right click on the items pinn

[2020-12-19 06:17] Sim233 opened #2642 "Request: (urgent) New more types of file in right-click menu"
**Is your feature request related to a problem? Please describe.**
It seems I can only new text documents, bitmap images or new folder, but cannot new .docx, .xlsx, .pptx, etc.

**Describe the solution you'd like**
Add more file types that can be newed when right click in a tab, especially MS office files and .md.

**Describe alternatives you've considered**
None.

**Additional context**
None.

[2020-12-19 08:23] gave92 commented on #2639
Merging with #1943

[2020-12-19 08:23] #2639 closed

[2020-12-19 08:25] #2641 closed

[2020-12-19 08:25] gave92 commented on #2641
Merging with #1069

[2020-12-19 08:27] #2642 closed

[2020-12-19 08:31] #2640 closed

[2020-12-19 08:31] gave92 commented on #2640
Merging with #1674

[2020-12-19 14:35] Cyberdroid1 commented on #2626
Dragging and dropping is a lot more Intuitive than having to right click.

[2020-12-19 14:38] Cyberdroid1 commented on #2609
Seems like the files inside the folder aren't getting focused.

[2020-12-19 20:48] d2dyno1 opened #2643 "Sidebar's device FullPath is shown after hovering on it"
**Describe the bug**
A device's path is shown after hovering on a device (phone).

**Expected behavior**
Show only device name in this particular case.

**Screenshots**
![image](https://user-images.githubusercontent.com/53011783/102699260-bdd49600-4243-11eb-887b-17e04a4edc91.png)

[2020-12-19 23:16] #2510 closed

[2020-12-19 23:22] #2614 closed

[2020-12-19 23:22] yaichenbaum commented on #2614
@alberto-diaz15 Thank you for opening this issue, this issue should be resolved with #2637.

[2020-12-19 23:27] #2307 closed

[2020-12-19 23:27] #2590 closed

[2020-12-19 23:28] yaichenbaum commented on #2307
This issue should be resolved with #2638.

[2020-12-19 23:28] yaichenbaum commented on #2590
This issue should be resolved with #2638.

[2020-12-19 23:33] yaichenbaum commented on #1931
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-19 23:33] #1931 closed

[2020-12-19 23:34] yaichenbaum commented on #1947
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-19 23:34] #1947 closed

[2020-12-19 23:34] yaichenbaum commented on #2012
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-19 23:34] #2012 closed

[2020-12-20 02:18] #2192 closed

[2020-12-20 02:18] #2492 closed

[2020-12-20 02:19] yaichenbaum commented on #2192
@Nuzza This issue should be resolved with #2644.

[2020-12-20 02:19] yaichenbaum commented on #2492
@Sav22999 This issue should be resolved with #2644.

[2020-12-20 02:43] Nuzza commented on #2192
Awesome, thanks for implementing the idea.

[2020-12-20 07:01] NichVong opened #2646 "Can't open files with QuickLook installed"
**Describe the bug**
When QuickLook has been installed, files cannot be opened by neither double click nor in right click menu, but "open with" works normally

**To Reproduce**
Steps to reproduce the behavior:
1. Setup QuickLook
2. Double click on a EXE file or any other file, or open it in right click menu
3. The file cannot be opened

**Desktop (please complete the following information):**
 - O

[2020-12-20 11:35] Jaiganeshkumaran opened #2647 "Files crashes at launch"
**Describe the bug**
I have not launched Files for some time and after the latest update, it's no longer starting. It seems like it tries to access a registry key that it shouldn't

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest update
2. Click on the Files tile
3. See error

**Expected behavior**
Files should launch correctly

**Screenshots**
Recording of this issue:

![2

[2020-12-20 11:44] gave92 commented on #2647
Latest commit accesses the registry to get the file types to show in the Create New File menu
Something has gone with though, I'll check if I can reproduce it

[2020-12-20 15:38] #2647 closed

[2020-12-20 16:50] duke7553 commented on #1222
@d2dyno1 Sorry, I'm not at the moment. We may need to utilize the Win32 primitives like CopyFileEx() for better reliability and precise byte-by-byte progress reporting.

[2020-12-20 16:52] d2dyno1 commented on #1222
As I mentioned on Contributors channel, `CopyFileExA` does not seem to work like it's intended to

[2020-12-20 19:19] yaichenbaum commented on #2186
@Jaiganeshkumaran This issue should be resolved with #2650.

[2020-12-20 19:21] #2589 closed

[2020-12-20 19:22] yaichenbaum commented on #2589
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-20 20:50] #2186 closed

[2020-12-20 21:22] Tester09 opened #2652 "The Files crash on startup after updating to 0.22.5"
**Describe the bug**
The app is crashing on startup

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 2004 20277 fe_release]
 - App version: [v0.22.5]

**Additional context**
Reinstall and reset settings doesn't work

**Log file**
[debug.txt](https://github.com/files-community/Files/files/5721538/debug.txt)
[debug_fulltrust.txt](https://github.com/files-comm

[2020-12-20 21:25] mdtauk commented on #2652
me too

[2020-12-20 21:28] tsvietOK commented on #2652
fyi @gave92

[2020-12-20 21:36] gave92 commented on #2652
A bug that was causing crash at startup was fixed after 0.22.5 in #2648 but this stacktrace looks different
@mdtauk could you share your `debug.txt` as well?

[2020-12-20 21:52] mdtauk commented on #2652
[debug.txt](https://github.com/files-community/Files/files/5721570/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/5721572/debug_fulltrust.txt)

[2020-12-20 21:54] gave92 commented on #2652
Aaand we have a third stacktrace different from the other two, great :/

[2020-12-20 21:57] mdtauk commented on #2652
Sorry @gave92

[2020-12-20 21:58] tsvietOK commented on #2652
@gave92 Version 0.22.5
[debug.txt](https://github.com/files-community/Files/files/5721577/debug.txt)

[2020-12-20 21:59] gave92 commented on #2652
ok @tsvietOK your stacktrace is the one that (should) have been fixed in #2648

[2020-12-20 22:04] tsvietOK commented on #2652
@gave92 Just tested in debug mode on master branch, seems like issue fixed.

[2020-12-21 06:00] Sank30 commented on #2513
No. It does not happen in that case.

[2020-12-21 09:41] kione8 opened #2654 "How to open folders with that program?"
How to open folders with that program? Is opening the default explorer when i click on a folder.

[2020-12-21 10:10] jakoss commented on #1769
Scratch my previous answer, there is a way to cache files list and i believe that i managed to do that quite efficiently. For now i'm caching only in RAM memory, but i can try and move it to some persistent storage if result will be promising.

There's still some work to be done, for example:
- Use some persistent store for cache (DBreeze in my opinion will be the best solution here)
- Cache preem

[2020-12-21 11:17] Jaiganeshkumaran commented on #2654
@kione8 You can but if you do that you can't access the control panel. https://github.com/files-community/Files/wiki/Replacing-File-Explorer-with-Files-(Unsupported)

[2020-12-21 11:27] Jaiganeshkumaran commented on #2587
@DiegoMagdaleno This doesn't make sense in Windows because Windows 10 treats dot files as regular files so users may get confused why their files are hidden.

[2020-12-21 11:30] Jaiganeshkumaran opened #2656 "Add an option to have a simple right click context menu"
**Is your feature request related to a problem? Please describe.**
Today there's an option to show some items in a more flyout to declutter the menu, but I want an option to completely get rid of them within Files.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
A simple toggle to hide all custom context menu items.

**Describe alternatives you've

[2020-12-21 11:32] Jaiganeshkumaran opened #2657 "Status center reports deleting but doesn't actually delete it even if you click cancel on the dialog"

[2020-12-21 14:12] yaichenbaum commented on #2587
@Jaiganeshkumaran The feature request is about adding an option to hide them, the default will remain the way it is so that users don't get confused.

[2020-12-21 15:14] gave92 commented on #2656
@Jaiganeshkumaran is your request to be able to hide them all in a submenu, or the ability to turn the feature completely off (and gain a faster context menu opening)?

[2020-12-21 15:15] Jaiganeshkumaran commented on #2656
@gave92 An option to completely turn off the feature and only have required options shown

[2020-12-21 18:26] yaichenbaum commented on #2657
@Jaiganeshkumaran We usually expect users to fill out the issue template when reporting a bug, please reopen this issue when you have filled out the issue template.

[2020-12-21 18:26] #2657 closed

[2020-12-21 18:27] #2654 closed

[2020-12-21 19:47] kleuton05 opened #2659 "the transfer percentage is not shown."
the percentage is always at zero or complete (100%)
![Captura de tela 2020-12-21 164130](https://user-images.githubusercontent.com/51864325/102816099-335b7600-43ac-11eb-9127-84bbbbc030af.jpg)

[2020-12-21 19:50] gave92 commented on #2659
Duplicate of #2244

[2020-12-21 19:50] #2659 closed

[2020-12-22 00:00] mdtauk commented on #2652
Not sure what you did, but 0.23.0 is not crashing for me

[2020-12-22 00:25] gave92 commented on #2652
@mdtauk glad to hear that!
@Tester09 could you test if the issue is solved for you in version 0.23?

[2020-12-22 01:05] duke7553 commented on #1222
@d2dyno1 That's a shame. They have it listed as usable in the UWP context, but I guess not.

[2020-12-22 01:35] winston-de commented on #2450
@yaichenbaum Sounds good to me.

[2020-12-22 02:23] winston-de commented on #2450
Here's a rough mockup I made.

https://user-images.githubusercontent.com/59544401/102841205-5b9da180-43b9-11eb-8ff0-bbcc10c36d0c.mp4

[2020-12-22 03:27] generalguy41 opened #2660 "Icons/Thumbnails become blurry when switching from Details View"
**Describe the bug**
Any icons become blurry when switching from Details view to Grid or Tiles view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a directory with icons/thumbnails that are clear in Grid view.
2. Switch to Details view.
3. Switch back to Grid or Tiles view.
4. See issue.

**Expected behavior**
Icons/Thumbnails should remain clear when switching views.

**Screenshots*

[2020-12-22 04:38] Teraskull opened #2661 "Selecting 'Open in new tab' on the Sidebar Recycle Bin opens a new tab instead"
**Describe the bug**
Selecting 'Open in new tab' or 'Open in new window' on the Sidebar Recycle Bin opens a new tab instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click "Recycle Bin" on the sidebar.
2. Click on 'Open in new tab' or 'Open in new window'.
3. A new tab/window is opened instead of the Recycle Bin.

**Expected behavior**
The Recycle Bin tab/window should be opened

[2020-12-22 08:13] Tester09 commented on #2652
@gave92  Unfortunately the app still crashing, even after re-install
[debug.txt](https://github.com/files-community/Files/files/5728570/debug.txt)

[2020-12-22 08:42] mztlive opened #2662 "右键延迟甚至闪退"
首次对任意文件鼠标右键操作会有明显的卡顿延迟，有时候甚至直接闪退。

如果运气好没有闪退，则后续右键操作就不会存在卡顿。

[2020-12-22 08:57] gave92 commented on #2662
Duplicate of #2527

[2020-12-22 08:57] #2662 closed

[2020-12-22 11:11] whdmike opened #2664 "update inside MS Store not working for ver 0.23"
**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  MS Store'
2. Click on UPDATE
3. Doesn't work (for me)

**Expected behavior**
A clear and concise description of what you e

[2020-12-22 15:04] Gaoyifei1011 opened #2665 "Microsoft Defender menu item is missing it's icon"
Right-click menu of "using Windows Defender scanning" this option of Windows Defender blue icon does not show, hope to add as soon as possible
右键菜单关于"使用 Windows Defender 扫描"的这一选项的Windows Defender 蓝色图标不会显示，希望尽快添加
![image](https://user-images.githubusercontent.com/49179966/102902497-09887900-44aa-11eb-848d-5764f05e2b85.png)

[2020-12-22 15:49] d2dyno1 opened #2666 "[Documentation] FAQ for Files"
**Is your feature request related to a problem? Please describe.**
I've seen many people frequently asking same questions over and over again

**Describe the solution you'd like**
Make a link in README file that'd redirect to FAQ page.

**Additional Context**
... specifically with replacing Windows File Explorer with Files.

[2020-12-22 17:09] yaichenbaum commented on #1903
@pixl-8 Our website just went live, you can find it over [here](https://files-community.github.io/files.github.io/).

[2020-12-22 17:09] #1903 closed

[2020-12-22 19:12] guiramsor opened #2668 "It would be nice to be able to customize the icon for one I want."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-22 19:13] guiramsor commented on #2668
It would be nice to be able to customize the icon for one I want.

[2020-12-22 19:20] yaichenbaum commented on #2668
@guiramsor We usually expect users to fill out the issue template when reporting a bug or submitting a feature request, please reopen this issue when you have filled out the issue template.

[2020-12-22 19:20] #2668 closed

[2020-12-22 19:28] #2652 closed

[2020-12-22 19:29] yaichenbaum commented on #2652
@Tester09 This issue should be resolved wtih #2663.

[2020-12-22 20:45] gave92 commented on #896
Drag selection rectangle has been implemented

[2020-12-22 20:45] #896 closed

[2020-12-22 21:00] gave92 commented on #1496
Merging with#1593

[2020-12-22 21:01] #1496 closed

[2020-12-22 21:13] gave92 commented on #1998
Merging with #285

[2020-12-22 23:52] yaichenbaum commented on #2660
@generalguy41 This issue should be resolved with #2669.

[2020-12-23 00:48] #2660 closed

[2020-12-23 01:00] yaichenbaum commented on #2572
@chingucoding This issue should be resolved with #2670.

[2020-12-23 01:04] yaichenbaum commented on #2664
@whdmike Files is rolled out in stages so it might be a couple days before it's available for your device.

[2020-12-23 01:04] #2664 closed

[2020-12-23 01:19] Tester09 opened #2672 "Lag in more than 10 seconds between pressing delete button and appearing dialogue window"
**Describe the bug**
When I'm trying to delete any files in Files app dialogue window appears to confirm the deletion (which in itself is not good, Explorer allows you to turn off confirmation for moving to recycle bin) but the biggest problem is that it appears with a terrible lag of more than 10 seconds.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any directory
2. Select any file

[2020-12-23 02:14] #2572 closed

[2020-12-23 03:53] WinstonSepruko opened #2674 "After the latest update as of this issue, app opens then crashes mere seconds later."
**Describe the bug**
The app crashes 1-2 after opening, it remains unresponsive during the time it takes to crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Open "Files - Preview"
2. Wait 1-2 seconds as it remains unresponsive.
3. See as it crashes.

**Expected behavior**
The app opens, responds to inputs and does not crash.

**Screenshots**
N/A

**Desktop:**
 - OS: Windows 10 1909 183

[2020-12-23 05:22] yaichenbaum commented on #2674
@WinstonSepruko you can acess the log file by following this [guide](https://github.com/files-community/Files/wiki/Opening-the-log-file).

[2020-12-23 05:29] WinstonSepruko commented on #2674
[debug.txt](https://pastebin.com/StAGydkk)

[debug_fulltrust.txt](https://pastebin.com/ataCApRq)

[2020-12-23 06:16] whdmike opened #2675 "Keep settings - column width and view"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I would like that app keeps last state of column width after is restarted. Default column is many times too narrow and i don't like to adjust it every time I start Files. Option are just to keep last co

[2020-12-23 06:22] whdmike opened #2676 "Just want to report increased CPU with latest update"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-12-23 07:57] gave92 commented on #2674
This should be fixed in 0.23.1

[2020-12-23 09:04] WrXu233 opened #2677 "icons not clear"
![image](https://user-images.githubusercontent.com/69620730/102979470-12785980-4541-11eb-95fa-1036e2cbe397.png)
just like this.

[2020-12-23 09:14] gave92 commented on #2677
Duplicate of #2660

[2020-12-23 09:14] #2677 closed

[2020-12-23 10:52] Schmensch commented on #896
Ok, thanks.

[2020-12-23 14:23] #2674 closed

[2020-12-23 14:25] yaichenbaum commented on #2676
@whdmike We usually expect users to fill out the issue template when reporting a bug or submitting a feature request, please reopen this issue when you have filled out the issue template.

[2020-12-23 15:40] whdmike commented on #2676
I usually expect developers to be more user friendly. I am reporting
this to help you and to help improve the product. I am not developer or
some computer geek, I just love software and I like to help, sometimes,
by giving feedback. I think I will also "close" this contributing.
Thanks for your hard work and wish you luck with project.

[2020-12-23 15:54] yaichenbaum commented on #2676
@whdmike User feedback is particularly important to us and we appreciate you sharing your concerns. In fact, Files is only the way it is because of feedback from users like you. In order for us to manage issues and track feedback, we usually expect issue reports to include information that can help us investigate the issue. The issue template is there to help guide the user to include information

[2020-12-23 15:55] yaichenbaum commented on #2676
I am reopening this in anticipation for more information.

[2020-12-23 16:47] alberto-diaz15 opened #2678 "Error on used storage with OneDrive"
If you don´t have any account linked to OneDrive and you select the "Properties" option, it will show you the properties of your internal storage.
Image attached:
![image](https://user-images.githubusercontent.com/72040488/103019156-aa2c7680-4546-11eb-96ac-8455021f0de1.png)

Also I would like to ask you if you could add an option to disable or hide the "OneDrive" folder/storage, as many users won'

[2020-12-23 16:54] yaichenbaum commented on #2678
@alberto-diaz15 You can remove the OneDrive option by deleting the environmental variable in Windows.

[2020-12-23 17:21] alberto-diaz15 commented on #2678
Thank you

[2020-12-23 19:12] whdmike commented on #2676
I understand, but sometimes as a user you just want to help and you
don't have time for a big report. I thougt if more users report about
higher CPU it will get your attention.

Files 0.23.0.0 I have 12 GB of ram, Intel I-3 processor and compared to
previous version, computer while using Files became significally louder
and slower. This is my observation and I stoped using Files when more
programs

[2020-12-23 19:42] yaichenbaum commented on #2676
@whdmike Thank you for the extra information, I am keeping this open so we can investigate.

[2020-12-23 21:22] lwndwsk1 commented on #2305
Hi, i´ve found exactly the bevahior. Tested on Windows 10 Home (20H2, 19042.685). The Software crashes without any error Messages. After opening up again, the phantom File ist gone.

<img width="767" alt="screenshot" src="https://user-images.githubusercontent.com/13572147/103037878-33ef3a80-456d-11eb-95bc-8f95d0d1f719.png">

[2020-12-23 23:41] andro095 opened #2680 "Files Aplication crashes when you open the aplication"
**Describe the bug**
When I'm opening Files - Preview (Windows Store Version), automaticaly the aplication crashes and closes without start.

**To Reproduce**
Steps to reproduce the behavior:
1. Click in Aplication Icon to open the app
2. Wait

**Expected behavior**
The aplication opens and loads the information

**Screenshots**

https://user-images.githubusercontent.com/35317562/103044405-f6c3820

[2020-12-24 02:02] AnLazyOtter commented on #1972
现在，该帮助页面的超链接已经修改为：
Now, the guide page change into:
https://github.com/files-community/Files/wiki/Translating-Files-UWP-into-your-language

[2020-12-24 02:03] yaichenbaum commented on #1972
@AnLazyOtter The updated link is [here](https://github.com/files-community/Files/wiki/Translating-Files-into-your-language).

[2020-12-24 04:37] InfiniteSynthesis opened #2683 "Files process crashes when opening the context menu"
Please support more software right-click options, e.g., winrar, onedrive, local emulator.

[2020-12-24 05:22] yaichenbaum commented on #2683
@InfiniteSynthesis Those options should already be there, can you help us with some information by uploading the log files and sharing the app version number?

[2020-12-24 05:36] InfiniteSynthesis commented on #2683
@yaichenbaum I'm using v0.23.0.0, seems the latest. The right-click menu does not show any additional options. Errors occur when I right-click files.

See:

I also upload the full log, hope it can help you.
[debug_fulltrust.txt](https://github.com/files-community/Files/files/5738266/debug_fulltrust.txt)

[2020-12-24 05:41] yaichenbaum commented on #2683
@InfiniteSynthesis Thank you, this may be fixed with v0.23.1 but I will keep this issue open until then so that we can confirm.

[2020-12-24 07:29] gave92 commented on #2680
Thanks for this report, please add the debug files to the issue description.
You can find the log files following [this guide](https://github.com/files-community/Files/wiki/Opening-the-log-file)

[2020-12-24 08:46] linsui opened #2684 ""Open in terminal" doesn't work"
**Describe the bug**
The "Open in terminal" doesn't work. There are powershell, CMD and Windows Terminal but none of them works. I can click it but nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a directory
2. Click on Open in Terminal
3. Nothing happens

**Expected behavior**
A terminal is opened

**Screenshots**
If applicable, add screenshots to help explain your pr

[2020-12-24 09:07] iseeghosts opened #2685 "Thumbnail appear blurred/pixelated"
Blurred thumbnails for many files, probably scaling issues.

**PDF, Videos etc. Files associated with app like Adobe reader or VLC, appear blurred**
Probably a scaling issue after switching to grid view, issue is only with files and not folders, seems to affect (around) first 15 files.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any folder/location in Files Preview app
2. Switch to

[2020-12-24 09:10] QiuYukang opened #2686 "The sidebar shows that there are two drive D, in fact there is only one"
**Describe the bug**
The sidebar shows that there are two drive D, in fact there is only one！

**To Reproduce**
This phenomenon occurs when I open the software for the first time after turning on the computer. After closing the software and opening it again, the display is normal, the position of the second `Data D:` will become `OneDrive`.

**Expected behavior**

**Screenshots**
![files-preview-b

[2020-12-24 10:06] gave92 commented on #2685
Duplicate of #2660

[2020-12-24 10:06] #2685 closed

[2020-12-24 11:11] gave92 opened #2689 "No dialog is shown when renaming an item and a files with the same name already exists"
**Describe the bug**
When renaming an item, if a file with the same name exists in the folder the rename operation silently fails. The item is renamed in the list with the new name but reverts back when refreshing the folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to a folder that contains files "file1.txt" and "file2.txt"
2. Rename file2.txt to file1.txt
3. file2.txt is re

[2020-12-24 14:01] #2680 closed

[2020-12-24 14:01] yaichenbaum commented on #2680
@andro095 This issue should be fixed with #2688.

[2020-12-24 15:52] #2689 closed

[2020-12-24 16:09] gave92 commented on #2675
This should probably be build upon #2667

[2020-12-24 16:24] gave92 commented on #2683
@InfiniteSynthesis could you share a screenshot of the right click menu that appears in Windows Explorer when you click one of the files that crash Files Fulltrust process?
Does the same error also happens if you click on a folder (restart the app before checking)?

[2020-12-24 18:04] whdmike commented on #2675
I think #2667 <https://github.com/files-community/Files/pull/2667> is
way too complicated. I can't imageine who would really benefit from that
beside some hard core programmer. Keep things simple and normal user
friendly, please.

[2020-12-24 18:06] gave92 commented on #2675
@whdmikeit will be an option,  we are planning to allow the user to decide whether to save view settings per folder or globally

[2020-12-24 18:12] InfiniteSynthesis commented on #2683
@gave92 The folder menu works well at the first time when I open the app. However, after I right-click some files, the folder menu no longer shows those options (and no crash log for this).

Here's the screenshot when I right-click exe file in File Explorer:

![image](https://user-images.githubusercontent.com/20440018/103101956-7baeaa00-45df-11eb-8c6c-cd5babcd0390.png)

Here's the menu of the same

[2020-12-24 19:13] Rasmagoric opened #2692 "Option to hide filenames"
**Is your feature request related to a problem? Please describe.**
One of the features i missed from windows 7 explorer (it was removed in w10) was the ability to hide filenames.
This was an option on designated picture type folders, you had the option to right click anywhere and toggle the option to view or hide filenames. This was great for viewing folders with hundreds of pictures.

**Describe

[2020-12-24 23:50] payambordbar opened #2695 "New file option not working"
**Describe the bug**
Nothing happens after selecting the new file option

**Screenshots**
![Screenshot 2020-12-25 031602](https://user-images.githubusercontent.com/45229646/103111226-e43d6b80-465f-11eb-93fd-a901154c5095.png)

 - App version: [v0.23.1.0]

[2020-12-25 00:07] DanRotaru opened #2696 "Files preview"
Video preview bug
![image](https://user-images.githubusercontent.com/7759507/103111391-36c55a80-4655-11eb-9495-71585faa8f34.png)

Here we have 2 bugs (or flaws):
1) Video preview is not displayed
2) App preview icon is in very bad resolution
How look app icon in default explorer (if video preview isn't displayed) (Very good quality)
![image](https://user-images.githubusercontent.com/7759507/103111

[2020-12-25 01:40] #2666 closed

[2020-12-25 07:20] gave92 commented on #2696
Duplicate of #2660

[2020-12-25 07:20] #2696 closed

[2020-12-25 11:31] Vaintelog opened #2701 "Option to hide folder history on taskbar"
Add an option to disable indexing folders that were opened appearing on the taskbar

[2020-12-25 12:41] DanRotaru commented on #2696
How it's fixed if I see that?

[2020-12-25 13:08] gave92 commented on #2696
"Fixed" as in "it's fixed in the internal development version and will roll out to users in the next public release"

[2020-12-25 15:40] #2683 closed

[2020-12-25 15:40] #2695 closed

[2020-12-25 15:42] yaichenbaum commented on #2683
@InfiniteSynthesis This issue should be resolved with #2702.

[2020-12-25 15:42] yaichenbaum commented on #2695
@payambordbar This issue should be resolved with #2702.

[2020-12-25 17:08] yaichenbaum commented on #530
@XPoppyX This feature is implemented with #2667.

[2020-12-25 17:36] duke7553 commented on #2676
@whdmike We don't charge for our code, nor have we charged for our labor before. We don't owe the community any type of support for defects in it, and aim to fix these on a best effort basis. If you don't have time to fill out a ticket, then please don't bother opening one to begin with.

I'll close this now.

[2020-12-25 17:36] #2676 closed

[2020-12-25 17:47] yaichenbaum commented on #2701
@Vaintelog You can turn off the jump list from the Settings app, you can find this setting under `Settings > Personalization > Start` "Show recently opened items in Jump Lists on Start or the taskbar and in File Explorer Quick Access".

[2020-12-25 17:47] #2701 closed

[2020-12-25 17:48] yaichenbaum commented on #2684
@linsui Can you share your terminal profile here?

[2020-12-25 18:11] yaichenbaum commented on #2352
@DashCruft Drag and drop should be available with v0.23.1.

[2020-12-25 18:11] #2352 closed

[2020-12-25 18:14] yaichenbaum commented on #1311
@battenmufang Is this still an issue in v0.23.1?

[2020-12-25 18:18] whdmike commented on #2676
@duke7553, I am sorry, your communication skills are unfortunately on a
level of a computer geek who forgot how to talk to humans.

[2020-12-25 20:02] #530 closed

[2020-12-25 22:45] dreaddr commented on #2568
It usually does, yes, but these wait times can be the difference between switching or sticking with native file explorer.

[2020-12-25 22:51] rihards-simanovics commented on #2565
@yaichenbaum Ok, now that I am on holidays, I can actually have some time to invest into `.inf` structure research. I must say it was fun as it brought back some good memories of Win XP days when you had to create an inf file for CD Auto Exec! Anyway back to the point, I got it to work but you may wont to refine it a little, as I am sure there is room to improve, the initial file had a major issue

[2020-12-25 22:58] rihards-simanovics commented on #2565
Here is the final look:
![image](https://user-images.githubusercontent.com/52106095/103142926-31731900-4704-11eb-9633-a898fcce7eb5.png)

Just one problem, it opens behind the Files, not quite sure why, probably something to do with the fact how the explorer is called, oh well I can live with that, not that i will use it much anyway!

[2020-12-25 23:19] DashCruft opened #2705 "Some Epic Suggestions for the Files App :O"
I was wondering if you guys could make this awesome Files app a bit better with these suggestions :)

- Faster in processing
- If possible put an option for removing animations
- When selecting "Grid View" it changes the current grid of the folder your in. Not everywhere you go the default setting be like that.
- I've noticed that while previewing some files or pictures, it doesn't show up.
- Down

[2020-12-26 01:30] linsui commented on #2684
[code]

[2020-12-26 01:34] XPoppyX opened #2707 "Add ability to undo item deletion"
Currently pressing Ctrl + z after deleting a file, it is not restored

[2020-12-26 08:00] gave92 commented on #2707
Hi @XPoppyX, undo/redo were implemented in version 0.23. If you're not seeing this, then it's a bug.

[2020-12-26 08:17] gave92 commented on #2705
Thank you for taking the time to open this feedback item. In order to best address this in a transparent way, we usually expect reporters to open each feedback topic (e.g. feature request, bug, question, discussion item) as its own ticket. Please review each topic suggested here, and add your own take on an already open issue, or open a new one.

The following were recently implemented and will sh

[2020-12-26 14:26] d2dyno1 commented on #2707
What kind of file are you talking about?

[2020-12-26 14:31] XPoppyX commented on #2707
for now, images and txt files

[2020-12-26 14:35] infuriatedcodex opened #2709 "Add a libraries section to the sidebar"
**Is your feature request related to a problem? Please describe.**
Pure feature request

**Describe the solution you'd like**
The Native File explorer has the ability for users to use Libraries for common folder types (Docs, Pic, Vids, Music).
This solution allows the logged on user to aggregate multiple folders into a single library which is great if you want to reduce pinning and creating shortc

[2020-12-26 14:35] XPoppyX commented on #2707
@gave92 can you change the label?

[2020-12-26 14:41] d2dyno1 commented on #2707
😳

[2020-12-26 14:42] XPoppyX commented on #2707
For me it only works for folders

[2020-12-26 14:57] infuriatedcodex opened #2710 "DragDrop Default action - Give the user a choice"
**Is your feature request related to a problem? Please describe.**
Partially related to a "problem".
The default action (in the native explorer) when dragging files/folders to another location is to MOVE the file if it is the same logical drive or COPY if dragging to a different logical drive.

In this app, the only action it performs is a MOVE, which may Not be the users intention.

**Describe th

[2020-12-26 15:02] gave92 commented on #2710
Thanks for this suggestion!

As an alternative / in addition we should also support overwriting the default action when the user presses shift or control key:
- Ctrl+Drag will copy the file
- Shift+Drag will move the file (in situations where copy is the default)
- Alt+Drag will create a shortcut to the file in the new location

[2020-12-26 15:03] infuriatedcodex opened #2711 "Remember folder layout view perfs - Detailed, Grid View etc."
Currently users are limited to a single Layout view for every folder in the system, regardless of the folder type.

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Would be great if the app remembered the Layout you choose for any given folder.
Example, I set Detailed View for Documents but set Grid View (Small) on Pictures with native st

[2020-12-26 15:05] gave92 commented on #2711
This has been implemented -> #530/#2667 and will ship in the next public version 👍

[2020-12-26 15:05] #2711 closed

[2020-12-26 15:11] XPoppyX commented on #2710
It should show the move or copy options if you drag and drop with the right click, like in native file explorer

![Right-Click-Held-Options](https://user-images.githubusercontent.com/61259627/103153987-71251980-4773-11eb-82c9-0905bb251ddf.png)

[2020-12-26 16:24] #2705 closed

[2020-12-26 18:43] fisforfaheem commented on #2565
Looks great!

On Sat, Dec 26, 2020 at 3:58 AM Rihards Simanovics <notifications@github.com>
wrote:

[2020-12-26 19:16] winston-de opened #2714 "Closing folder properties window just after folder size has been calculated causes crash"
**Describe the bug**
Closing folder properties window just after folder size has finished calculating causes a crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Open folder properties
2. Just after the folder size has finished calculating (or when the loading icon disappears), close the window
3. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**

[2020-12-26 19:40] gave92 commented on #2714
@winston-de thanks for this feedback item. Does this happen regularly or does it seem random? Is the above the full stacktrace (i looks clipped)?

[2020-12-26 19:46] winston-de commented on #2714
@gave92 It's consistent, though you have to close the window right when the folder size has finished calculating, so unless you're looking for it it's decently uncommon.
Also, you're right, it looks like I didn't quite copy the full stack trace. I just updated it.

[2020-12-26 19:53] gave92 commented on #2714
Thanks the above screenshot looks related to the Delete keyboard key being pressed, so maybe unrelated.
Could you try to delete the `debug.txt` file and than trigger the bug again?

[2020-12-26 20:05] winston-de commented on #2714
@gave92 I think the error I posted may be completely unrelated. I deleted the log file like you asked, then reproduced the bug, and no errors were reported. All there is is the loading info.
[code]
Gimme a minute, I'll try doing it with a debugger attached.

[2020-12-26 20:06] gave92 opened #2715 "Proposal: move classes to the proper namespace"
**Is your feature request related to a problem? Please describe.**
The following classes (among others) are defined in an "improper" namespace
| Class | Current Namespace | Suggested Namespace | Notes |
| :----------: | :----------: | :----------: |:----------: |
| ModernShellPage | Files.Views.Pages | Files.Views | All other pages are in Files.Views |
| CloudProviders | Files.Filesystem | Files.E

[2020-12-26 20:08] gave92 commented on #2714
I knew it, the same happens for me :)

[2020-12-26 20:13] winston-de commented on #2714
@gave92 Good catch lol.

I'm getting the same error code from the debugger as you, but a different message.
[code]

[2020-12-26 22:20] d2dyno1 commented on #2715
Class | Current Namespace | Suggested Namespace | Notes
-- | -- | -- | --
InteractionViewModel | Files.Controls | Files.View_Models | With the other viewmodels

`Files.View_Models` - without the `_` here

[2020-12-26 22:22] gave92 commented on #2715
@d2dyno1 agreed, `View_Models` is the currently used name, but we may as well change it here.

[2020-12-26 23:23] #2244 closed

[2020-12-26 23:23] yaichenbaum commented on #2244
@generalguy41 This issue should be fixed with #2708.

[2020-12-26 23:29] yaichenbaum commented on #2565
@rihards-simanovics That looks great!

[2020-12-26 23:29] #2565 closed

[2020-12-26 23:57] yaichenbaum commented on #2715
@gave92 We can also take this opportunity to rename the `View Models` folder to `ViewModels`.

[2020-12-27 01:19] #2715 closed

[2020-12-27 01:31] yaira2 opened #2718 "Feature request: Add a recent items page"
**Is your feature request related to a problem? Please describe.**
I often want a way to view a list of recently opened directories and files. While there is an optional widget that can be pinned to the home page, that is limited to displaying files, and it has some other limitations as well.

**Describe the solution you'd like**
A proper recent items page that will display files and folders with

[2020-12-27 04:16] Jaiganeshkumaran opened #2720 "Drive widget: Caption trimmed"
**Describe the bug**
Caption for a drive widget item is not displayed correctly and half the line is trimmed in some languages

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Files
2. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
Text should be fully wrapped

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-12-27 04:21] Jaiganeshkumaran commented on #2521
@jayasio Those a virtual folders which may need to be queried separately. Are you using the Store version of iCloud or the desktop version?

[2020-12-27 04:23] Jaiganeshkumaran commented on #2609
@MadhiasM Does this issue only occur in list view layout mode or in all layout modes?

[2020-12-27 04:44] jayasio commented on #2521
Desktop version... it's the same folder, just the naming is different in the app.

[2020-12-27 11:13] MadhiasM commented on #2609
Good observation, it seems that this only occurs in list view

[2020-12-27 14:01] yaichenbaum commented on #2720
@Jaiganeshkumaran I can't reproduce this issue with the latest from `master`, can you check if it's only an issue with some localizations?

[2020-12-27 14:29] XUANJI233 opened #2721 "When changing from a tab page to a new window, it will return to the home page instead of the original page."
**Describe the bug**
When changing from a tab page to a new window, it will return to the home page instead of the original page.

**To Reproduce and Screenshots**
![1](https://user-images.githubusercontent.com/56026539/103173030-fbb06a80-4892-11eb-9c1d-5822724826b6.png)
![2](https://user-images.githubusercontent.com/56026539/103173034-ff43f180-4892-11eb-889d-58e2af56ff9c.png)

**Desktop (please c

[2020-12-27 14:58] BooBerry opened #2722 "Feature request: Hide removable drives that are empty/non-populated/not mounted"
**Is your feature request related to a problem? Please describe.**
I have a card reader connected via USB to my computer, which has multiple slots for SD, micro SD, CF, etc. memory cards. In Disk Management all these removable drive memory card slots have drive letters associated with them but when they are empty (non-populated) they do not appear in File Explorer's This PC section unless a memory

[2020-12-27 15:09] XUANJI233 opened #2723 "Some side effects after replacing file Explorer with a file"
**Describe the bug**
Some side effects after replacing file Explorer with a file

**To Reproduce**
1.Trying to open recycle will Open the homepage.
2.In the Task Manager, trying to open location  file no response.
3.Right click on "this PC -> Properties",will Open the homepage.

**Desktop (please complete the following information):**
OS Version: 20H2 Pro
App version: 0.23.1.0
**I think it origina

[2020-12-27 15:10] yaichenbaum commented on #795
Merging with #2722.

[2020-12-27 15:10] #795 closed

[2020-12-27 15:16] fake3h opened #2724 "Crashes when opening certain folders"
**Describe the bug**
Clicking on certain folders causes the app to crash and shows a notification. It first happened when I clicked on the Downloads folder, however after deleting some files in it, it opens like normal. Now it happens when I click on the Pictures and the Music folder. Maybe there's more.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Click on Pictures folder

[2020-12-27 16:02] gave92 commented on #2723
Thanks for opening this feedback item. Please note that replacing file explorer with Files is not supported and known to have undesired side effects.

[Internal comment] we might want to add the above issues to the wiki description, so it's clear that there are additional issues wrt to the Control Panel not opening

[2020-12-27 16:02] #2723 closed

[2020-12-27 16:07] rounk-ctrl opened #2725 "Feature: Image preview"
Could there be a image preview of image file instead of the photos app icon?

[2020-12-27 16:08] rounk-ctrl commented on #2725
The image preview weirdly works in the recent items.

[2020-12-27 16:10] gave92 commented on #2724
Thanks for opening this ticket. From AppCenter this looks a pretty common error and really needs fixing.
- Does the crash happen every time you open the Picture (or one of the other affected folders) folder?
- Does it make any difference if you sort the folders by name or by date or by something else?
[Btw it appears that the crash notification is *still* not working]

[2020-12-27 16:19] gave92 commented on #2725
@rounk-ctrl Please fill out the issue template to the best of your ability and re-open this. Thank you!

Anyway when in Grid view mode you should get a preview for image files but there was a bug recently fixed preventing that.

[2020-12-27 16:19] #2725 closed

[2020-12-27 16:49] rounk-ctrl opened #2726 "Image preview not working"
**Describe the bug**
Image preview wont work when switched from details view to other file view types. The problem fixes when restarted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any folder that has images
2. Select Details view(if already not)
3. Then select any view type other than Details View
4. Images wont preview

**Expected behavior**
Images to preview

**Screenshots**
![i

[2020-12-27 17:20] gave92 commented on #2726
Thanks @rounk-ctrl I can confirm this issue has been fixed in the internal development version and will ship with the next public release 👍

[2020-12-27 17:20] #2726 closed

[2020-12-27 17:34] rounk-ctrl commented on #2726
Ok thank you :)

[2020-12-27 18:54] yaichenbaum commented on #2137
@Thomas1664 This issue should be resolved with #2716.

[2020-12-27 18:54] Don-Vito commented on #2309
The first part (Ctrl) seems to be covered by https://github.com/files-community/Files/issues/2137 and will be hopefully resolved by https://github.com/files-community/Files/pull/2716 and https://github.com/files-community/Files/pull/2728.

I will try to take a look at Shift behavior.

[2020-12-27 18:56] #2137 closed

[2020-12-27 18:59] yaichenbaum commented on #1680
This issue should be resolved with #2703.

[2020-12-27 18:59] #1680 closed

[2020-12-27 19:00] yaichenbaum commented on #2661
This issue should be resolved with #2703.

[2020-12-27 19:01] #2661 closed

[2020-12-27 19:18] yaichenbaum commented on #2485
@rickkode Is this still an issue in v0.23.1? I can't reproduce it on my end, so it may have gotten fixed.

[2020-12-27 19:22] yaichenbaum commented on #2320
@Dem1se Is this still an issue in v0.23.1?

[2020-12-27 19:25] Don-Vito commented on #2309
@antnauman - I am trying to reproduce the shift issue, but cannot. This what I am doing:
![ShiftDecreaseSelection](https://user-images.githubusercontent.com/4639110/103178277-fef32880-4889-11eb-908f-0956b8d22ada.gif)

Can you please provide more details?

[2020-12-27 19:31] gave92 commented on #2320
Yeah it is, toggling the show drives option makes the drives unclickable

[2020-12-27 19:33] antnauman commented on #2309
I have just checked, the mentioned fault is not in List view, but it is there in Tiles view and Grid views.

[2020-12-27 19:49] WilliamBakersGithub opened #2729 "Preview Pane Require"
That will be nice 👍

[2020-12-27 19:52] Raspberry1111 opened #2730 "Crashes when trying to open any drive"
**Describe the bug**
The bug crashes the app. I reinstalled it on a new install of Windows 10, upon clicking on a drive, it crashed. Files doesn't crash if I click on a folder that isn't the root of a drive. This did not happen on my old install.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Click on any drive (not folder, a drive root like C:\ or D:\ )
3. See Crash

**Expected

[2020-12-27 20:02] XPoppyX commented on #2729
Duplicate of #130

[2020-12-27 20:07] #2729 closed

[2020-12-27 20:39] Fibbitts opened #2732 "Small files taking 6 whole seconds to delete 😒"
**Describe the bug**
With a recent update, when you press the delete button, it takes about 6 whole seconds before the file gets deleted. This is quite irritating, please look into this.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable the deletion confirmation (Settings > Preferences)
2. Locate any file.
3. Press the delete button.

**Expected behavior**
I expected the small text fil

[2020-12-27 20:45] rickkode commented on #2485
Yep, it still occurs for me, even after reinstalling vlc. Keep in mind it's the uwp version of vlc and not the x86 version.

[2020-12-27 21:07] infuriatedcodex commented on #2711
Beautiful !

[2020-12-27 21:09] gave92 commented on #2732
Hi @Fibbitts, thanks for this report.
- Did you notice after which version this started happening? Between 0.23 and 0.23.1?
- You mention you disabled the delete confirmation, is this tied to the issue? Or does it happen regardless of that setting?

[2020-12-27 21:10] gave92 commented on #2732
[Might be a duplicate of #2672]

[2020-12-28 00:37] d2dyno1 opened #2735 "[Codebase] Fody.PropertyChanged"
**Is your feature request related to a problem? Please describe.**
Whenever we interact with the UI (via Properties) we always need to raise `OnPropertyChanged `.  This creates a lot of boilerplate code and it looks messy. It's also easy to forget about.

**Describe the solution you'd like**
There's a NuGet package called 'Fody.PropertyChanged' that injects the logic of `OnPropertyChanged` to any

[2020-12-28 00:59] yaichenbaum commented on #2724
@gave92 It looks like it's coming from `502308486u`.

[2020-12-28 04:14] Sim233 opened #2737 "Bug: Time Zone display error"
**Describe the bug**
I'm in UTC+08, but when I changed me files, Date Modified column shows the time in UTC, which is 8 hours earlier.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy or move a file in the app.
2. The Date Modified column doesn't show the time in my time zone.

**Expected behavior**
Expect a correct display of time, which correspond to my windows system setting.

**Scree

[2020-12-28 05:22] yaichenbaum commented on #2735
@d2dyno1 Can you check what kind of impact this NuGet package will have on startup performance?

[2020-12-28 05:42] gave92 commented on #2724
@yaichenbaum and all the reports seem to be coming from Surface Pro X

[2020-12-28 09:55] gave92 commented on #2672
Related to having many files in the recycle bin -> see #2738

[2020-12-28 09:56] gave92 commented on #2732
@Fibbitts could you check if the issue is resolved if you empty your recycle bin? thanks!

[2020-12-28 11:14] d2dyno1 commented on #2735
Device specifications:
Processor: Intel i5-8400 | 2.80GHz
RAM: 16GB
Grapics Card: GTX1070

Files without `Fody.PropertyChanged`
[Release][x64] (Newest commit) (Not started via Visual Studio)

#1: 1.53
#2: 1.45
#3: 6.35
#4: 5.56
#5: 3.70

Possible margin of error: 250ms
---

Files with `Fody.PropertyChanged`
[Release][x64] (Newest commit) (Not started via Visual Studio)

#1: 1.64
#2: 2.12
#3: 2.56

[2020-12-28 13:43] yaichenbaum commented on #2735
@d2dyno1 I am not sure we want to implement this change, while the performance impact might be negligible on a more powerful device, adding another dependency is likely to have an impact on lower end devices. I think we should try to run more tests comparing the two to see how large of an impact it actually has.

[2020-12-28 14:09] d2dyno1 commented on #2735
https://github.com/Fody/PropertyChanged

@yaichenbaum

[2020-12-28 14:13] tsvietOK commented on #2735
@d2dyno1 I don't think we are need all properties with injected PropertyChanged event.

[2020-12-28 15:23] d2dyno1 commented on #2735
Hey @tsvietOK! You can specify properties that you don't want to have the injected code. Take a look here: https://github.com/Fody/PropertyChanged/wiki/Attributes

There's a attribute called `[DoNotNotify]`

[2020-12-28 16:35] d2dyno1 opened #2740 "[Codebase] Overhaul for logging and debugging"
**Is your feature request related to a problem? Please describe.**
There's little to none information we can get from users from the debug files when trying to fix an issue. It always seemed like some issues are only occuring for some users and not for others.

**Describe the solution you'd like**
In code, put a Logging function to every { major/minor function, try-catch block, point of interest }

[2020-12-28 17:10] jebeld17 opened #2741 "Recommend appearance settings based off system spec"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
     A: _**No**_

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
     A: **_Recommend app appearance settings based off system hardware spec and inferred system performance._**

**Describe a

[2020-12-28 17:22] yaichenbaum commented on #2741
@jebeld17 We are having a little trouble understanding this feature proposal, can you add a little more detail?

[2020-12-28 17:24] yaichenbaum commented on #2740
@d2dyno1 We get additional info in AppCenter and for the most part, @gave92 was able to solve many crashes from looking at the reports there.

[2020-12-28 17:25] yaichenbaum commented on #1311
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-28 17:25] #1311 closed

[2020-12-28 18:08] d2dyno1 commented on #2735
What's your opinion on this change?

@tsvietOK @gave92 @duke7553

[2020-12-28 19:29] tsvietOK commented on #2735
Since we are not getting any other advantages except less code, i think we are don't need this package. WCT MVVM package doing almost the same thing and it is pretty comfortable to use it.

[2020-12-29 01:39] #2730 closed

[2020-12-29 01:39] Raspberry1111 commented on #2730
Installing windows media pack fixed the issue!

[2020-12-29 02:15] djgreedo opened #2744 "App does not honour changed location for Documents and Downloads folders"
**Describe the bug**
The Documents and Downloads links in the left pane point to Windows' default locations, but I have relocated my folders to point to other locations (e.g. my Downloads folder is Q:\Downloads). These locations were changed in the correct way via the properties, and Windows Explorer correctly links to these folders. Files still points to the defaults.

**To Reproduce**
Steps to r

[2020-12-29 02:47] Fibbitts commented on #2732
Yes. After emptying the recycle bin, it is back to normal. I still feel like a fix should be implemented though, and it happens regardless of the show dialog confirmation being checked or not.

[2020-12-29 02:47] #2732 closed

[2020-12-29 03:01] 321cheese123 opened #2745 "No icon shown when pinned to taskbar."
**Describe the bug**
Bug is, Icon doesnt show when pinned to taskbar, Instead of showing the app icon, it shows nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Pin to taskbar
2. Look at the icon.

**Expected behavior**
The Files icon would show in the taskbar.

**Screenshots**
![image](https://user-images.githubusercontent.com/70666613/103255559-81eab080-4968-11eb-9b2a-25db43d7c78a.

[2020-12-29 03:05] wanderseeme opened #2746 "Integration with folder opening actions (e.g., AutoHotKey, search open folder, show file location, etc.)"
**Is your feature request related to a problem? Please describe.**

Integration with folder opening actions (e.g., AutoHotKey, search open folder, show file location, etc.).
For example, I set a shortcut "Windows+Shift+0" in AutoHotKey to open Users folder, but it opens in default Windows Explorer, NOT Files.
For another example, I right click an application icon in start menu and select "Show fil

[2020-12-29 03:17] duke7553 commented on #2709
@infuriatedcodex Just out of curiosity, are you wanting to create and list files from custom libraries, or just the 4 default libraries (Documents, Music, Pictures, Videos) from Windows Explorer?

Note to implementor:
The Windows Runtime API exposes [these](https://docs.microsoft.com/en-us/uwp/api/windows.storage.knownlibraryid?view=winrt-19041) default libraries which we should be able to display

[2020-12-29 03:21] duke7553 commented on #2745
@321cheese123 It appears you're using a custom theme. Does the Files icon show on your taskbar with all modifications to the system taskbar theme disabled?

[2020-12-29 03:23] duke7553 commented on #2746
@wanderseeme Thanks for the feature request. It seems that the robust hooking feature of Windows Explorer and other Win32 apps isn't supported by the WinRT app model (for apps like Files).

Sorry for the inconvenience, but I'll close this now.

[2020-12-29 03:23] #2746 closed

[2020-12-29 03:29] duke7553 commented on #2735
@d2dyno1 I'm leaning towards a no vote on taking this dependency. Wouldn't it be better practice to have those defining a property make the explicit decision to raise PropertyChanged notifications rather than merely opting out of them?

@yaichenbaum Besides that, I think any performance hit would be negligible unless there's something I haven't researched yet.

[2020-12-29 04:06] #2735 closed

[2020-12-29 04:07] yaichenbaum commented on #2735
@d2dyno1 Thank you for the suggestion, it's not something we are looking at doing right now but we can reevaluate in the future if the need comes up.

[2020-12-29 05:20] yaichenbaum opened #2747 "Code base: Merge context menus so they can be reused in different layouts"
**Is your feature request related to a problem? Please describe.**
We currently reimplement the right click context menu in every layout. This leads to duplicate code and can make the context menu a little harder to work with.

**Describe the solution you'd like**
The context menus that are reused can be merged so that changes will only need to be made once.

[2020-12-29 07:50] stelulocom opened #2748 "Custom terminal cannot be saved"
**Describe the bug**
Custom terminal application error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'personalise'
2. Click on 'Edit terminal application'
3. No response after finishing editing
4. Click again to become the default template

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help exp

[2020-12-29 09:09] infuriatedcodex commented on #2709
@duke7553 , hello mate ... yes exactly as you suspected, the 4 default Libs from Explorer for the reasons you point out to the project owner.

[2020-12-29 09:32] Don-Vito commented on #2009
@brukberhane - if you are asking if you can install both Terminal and Terminal Preview on the same PC, then the answer is absolutely yet. These are two different packages and appear separately both in Windows Store and chocolatey.

[2020-12-29 09:55] fanstyle-cmd opened #2751 "icon can not fit the HR screen"
the icon was blurry when it was showed on the 4K screen

[2020-12-29 13:12] d2dyno1 commented on #2747
`BaseContextMenu`?

[2020-12-29 13:51] d2dyno1 commented on #1465
Hmmm..

@yaichenbaum

[2020-12-29 13:53] yaichenbaum commented on #1465
@d2dyno1 Would you like to work on this widget?

[2020-12-29 13:54] d2dyno1 commented on #1465
I'll see what I can do, but I can't promise anything. I've just started work on it, but it'll not come anytime soon cuz I'll be away for a week

[2020-12-29 13:55] d2dyno1 commented on #1465
I'll also need some help on the UI

[2020-12-29 15:06] #1834 closed

[2020-12-29 15:06] yaichenbaum commented on #1834
@Jaiganeshkumaran This issue should be resolved with #2749.

[2020-12-29 15:12] #2672 closed

[2020-12-29 15:13] yaichenbaum commented on #2732
@Fibbitts This issue should be resolved with #2738.

[2020-12-29 15:13] gave92 commented on #2751
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please open a new issue filling out the issue template to the best of your ability. Screenshots and the app version are of particular importance.

[2020-12-29 15:13] #2751 closed

[2020-12-29 15:26] #1545 closed

[2020-12-29 15:26] #1546 closed

[2020-12-29 15:27] yaichenbaum commented on #1546
@soumyamahunt This issue should be resolved with #2742.

[2020-12-29 15:28] yaichenbaum commented on #1545
@soumyamahunt This issue should be resolved with #2742.

[2020-12-29 15:50] gave92 commented on #2744
You can try deleting this file:
`%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalCache\PinnedItems.json`
and see if the new path is picked up
--> NOTE: you will loose your pinned folder <--

[2020-12-29 16:08] yaichenbaum commented on #1222
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-29 16:08] #1222 closed

[2020-12-29 19:58] Erdu-EC opened #2754 "Add "Group by..." option on context menu"
I want request a feature that not exist in this File explorer and before in the other explorer if existed.

I refer to "Group by..." option of context menu, for my opinnion, this is a important feature becouse permit the fast access to certains type of files.

[2020-12-29 20:05] 9xr42 opened #2755 "Width of Columns"
**Is your feature request related to a problem? Please describe.**
It's frustrating when the columns reset every time the app is opened, as it cuts off the information and it makes me have to resize the columns every time.

**Describe the solution you'd like**
I would like a feature that allows us to save the size of the columns that we set and to have different sized columns for each folder. Each

[2020-12-29 20:30] yaichenbaum commented on #2755
Merging with #2675.

[2020-12-29 20:30] #2755 closed

[2020-12-29 20:32] yaichenbaum commented on #2754
@Erdu-EC Thank you for opening this issue, I am merging it with #1874.

[2020-12-29 20:32] #2754 closed

[2020-12-30 01:45] #1893 closed

[2020-12-30 01:46] yaichenbaum commented on #1893
@asuetin This issue should be resolved with #2712.

[2020-12-30 01:52] 9xr42 opened #2757 "View Format"
**Is your feature request related to a problem? Please describe.**
It's frustrating when the files in the Pictures and Videos folders are the same view format as the Documents or Downloads.

**Describe the solution you'd like**
Similar to the default File Explorer on Windows, a change of view based on the type of folder. For example, have the Pictures and Videos folders use Grid View Medium by def

[2020-12-30 02:00] yaichenbaum commented on #2757
@9xr42 This feature was implemented with #2667 and will be available with the next update.

[2020-12-30 02:00] #2757 closed

[2020-12-30 04:42] yaichenbaum commented on #2720
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-12-30 04:42] #2720 closed

[2020-12-30 05:14] brukberhane commented on #2009
@Don-Vito I'm sorry if I didn't put this succinctly. What I mean is that if **ONLY** Windows Terminal Preview is installed, then Files doesn't automatically add the "Windows Terminal" option into the "open with terminal" options. Even if I were to manually add it into the .json file, My entry gets removed.

[2020-12-30 06:03] Don-Vito commented on #2009
@brukberhane - actually you explained it quite well in the first time :blush: There is an issue that definitely requires a fix (I guess I understand the root cause of it but not sure how to fix it yet).

I tried to answer your last question, about installing preview and non-preview alongside. Probably I misread it.
But if such temporary workaround applicable in your case, you can install both Term

[2020-12-30 09:54] fisforfaheem commented on #2565
looking forward to see this in windows 10 app

On Sun, Dec 27, 2020 at 4:29 AM Yair Aichenbaum <notifications@github.com>
wrote:

[2020-12-30 11:40] youngerstar opened #2763 "Add support for pinning hidden folders to the sidebar"
**Describe the bug**
A clear and concise description of what the bug is.
Cannot pin hidden folder to sidebar.
无法把隐藏的文件夹固定到侧边栏。

**To Reproduce**
Steps to reproduce the behavior:
1. Left click on hidden folder
2. Right click
3. Click 'Pin to sidebar'

**Expected behavior**
A clear and concise description of what you expected to happen.
The hidden folder is pinned to the sidebar.

**Screenshots**
If

[2020-12-30 15:34] fake3h commented on #2724
1. From what I've tested its not random. It crashes everytime.
2. No difference

[2020-12-30 15:50] XPoppyX opened #2765 "Add strings for "Ongoing Tasks""
Strings need to be added for "Ongoing Tasks" in order to translate

[2020-12-30 16:02] yaichenbaum commented on #1441
@Myuki This issue should be resolved with #2764.

[2020-12-30 16:03] #1441 closed

[2020-12-30 16:04] yaichenbaum commented on #2748
@stelulocom Do the new terminals show up after restarting the app?

[2020-12-30 16:20] yaichenbaum commented on #2009
@brukberhane This issue should be resolved with #2764.

[2020-12-30 16:38] yaichenbaum commented on #2765
@XPoppyX Would you like to work on this change?

[2020-12-30 16:40] XPoppyX commented on #2765
yep

[2020-12-30 16:48] #2009 closed

[2020-12-30 17:09] #2765 closed

[2020-12-30 17:23] duke7553 commented on #2747
@d2dyno1 Yeah named something like that. It will be universal to all layout modes. We could also add the ability to add custom items to the flyout based on your layout mode later on, but this is a good start.

[2020-12-30 17:24] duke7553 commented on #2747
@yaichenbaum I'll start on this

[2020-12-30 19:13] yaichenbaum commented on #1674
This feature was implemented with #2727.

[2020-12-30 19:40] yaichenbaum commented on #2741
@jebeld17 The default settings in Files are what we recommend from a performance perspective. The only appearance setting that has an impact is the acrylic setting which is why it's turned off by default.

[2020-12-30 19:40] #2741 closed

[2020-12-30 19:53] gave92 commented on #2320
Changes in #2727 seems to have magically solved this issue

[2020-12-30 19:53] #2320 closed

[2020-12-30 21:11] heistema opened #2775 "Application crashes when clicking sorting by name twice on a plain drive (no subfolder)"
**Describe the bug**
When having navigated directly onto a drive (like C:, D:, ...) the whole file manager crashes when I click on the "Name" tab in the header twice in order to sort the files by name in ascending and then descending order.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any drive (like C:). It doesn't matter whether you do this by using the Drive button in the sidebar

[2020-12-30 21:38] gave92 commented on #2775
@heistema thanks a lot for the issue report and the proposed solution.
I believe the best solution for this is to make the changes inside `UpdateLayoutPreferencesForPath`, something like:
[code]
Do you wish to open a pull request with this changes yourself?

[2020-12-30 21:45] heistema commented on #2775
Yes, would be awesome. Thank you very much

[2020-12-30 22:12] heistema commented on #2775
I fixed it using a conditional assignment on folderPath (see comment in code). That's because "TrimEnd(..)" returns null if not successful. So normal paths to folders would become null because they have no trailing '\\'.

[2020-12-30 22:19] gave92 commented on #2578
Fixed in #2752

[2020-12-30 22:19] #2578 closed

[2020-12-30 22:46] Tech-How opened #2778 "Progress bar stuck at 0%"
**Describe the bug**
Whenever you copy an item large enough for you to have time to open the progress bar, it never increases. The file will _usually_ copy, but the progress bar doesn't move.

**To Reproduce**
Steps to reproduce the behavior:
1. Drag a file large enough to trigger a progress bar from one drive to another using the sidebar.
2. Click on the "Ongoing tasks" button in the corner. The

[2020-12-30 22:50] heistema commented on #2737
I tried to reproduce the bug creating a simple text file. The bug only occurs in the folder view (It does not occur in Properties dialog for the specific file).

The bug occurs if and only if the setting for time zone is set to "System".

[2020-12-30 23:04] Tech-How opened #2779 "Re-order pinned sidebar folders by dragging"
**Is your feature request related to a problem? Please describe.**
I like to keep my files nice and organized, so I pin folders I use frequently to the sidebar. But when I want to pin a new folder, I wish I could choose _where_ on the sidebar I wanted it.

**Describe the solution you'd like**
I think it would be nice if you could drag the folders on the sidebar to re-order them.

**Describe altern

[2020-12-30 23:10] XPoppyX commented on #2779
Duplicate of #1069

[2020-12-30 23:27] winston-de opened #2780 "Feature: Add command palette"
**Is your feature request related to a problem? Please describe.**

One of my favorite features in Windows Terminal and Visual Studio Code is the command palette. It makes it very easy to quickly access commands from the keyboard without having to memorize a keyboard shortcut or grab the mouse and locate a button.

This would also be very helpful when trying to find a shell command, because there

[2020-12-30 23:39] #2779 closed

[2020-12-30 23:40] yaichenbaum commented on #2778
@Tech-How This issue will be fixed in the next update.

[2020-12-30 23:40] #2778 closed

[2020-12-31 01:18] heistema opened #2785 "When marking a folder as hidden the folder view does not update itself automatically"
**Describe the bug**
When any folder is set to a hidden folder by using the properties window the folder view does not update itself automatically. So after closing the properties window the folder icon still is shown as if the folder is being visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any folder and right click on it
2. Click on 'Properties' and enable the checkbox on 'H

[2020-12-31 01:29] yaichenbaum commented on #2785
@heistema Do you want to work on this?

[2020-12-31 01:55] yaichenbaum commented on #2665
@Gaoyifei1011 Can you provide some more details? It looks like Microsoft Defender is the second option in your screenshot.

[2020-12-31 02:17] Don-Vito opened #2786 "File properties page does not support RTL"
**Describe the bug**
File details do not support RTL

**To Reproduce**
1. Open file properties by right-clicking the file and choosing properties

**Expected behavior**
The page is RTL

**Screenshots**
![image](https://user-images.githubusercontent.com/4639110/103390796-ee0f1500-4b1e-11eb-911b-f74cab62ddb2.png)

**Desktop (please complete the following information):**
 - App version: v0.23.9.0

[2020-12-31 02:36] yaichenbaum commented on #2786
@Don-Vito I will work on fixing this issue. Also, do we finally have someone who can help with the Hebrew translation??

[2020-12-31 03:00] #2786 closed

[2020-12-31 03:00] yaichenbaum commented on #2786
@Don-Vito This issue should be resolved with #2788.

[2020-12-31 13:50] Don-Vito commented on #2786
Yep, I can help :)

[2020-12-31 13:52] djgreedo commented on #2744
I deleted that file, and indeed my documents and downloads folders now point to the correct locations.

I'm unfortunately not 100% sure if I already had Files installed previously (before I had moved my folder locations) or if this was a fresh install.

[2020-12-31 14:24] fanstyle-cmd commented on #2751
[cid:image003.png@01D6DFC3.BEA99590]
Thanks for your reply. Except for the icon of the file folder, the other icons were not clear on my 4K display, the app version is 0.23.1.0. if any other information was needed, please feel free to contact me. This app is really amazing.
发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: Marco Gavelli<mailto:notifications@github.com>
发送时

[2020-12-31 14:31] zhangtianli2006 opened #2793 "Right click menu animation drops down from the top when the menu is upon the cursor"
Right click menu animation drops down from the top when the menu is upon the cursor

![Screenshot 2020-12-31 223052](https://user-images.githubusercontent.com/49156174/103414200-e5b6e880-4bb7-11eb-94bb-9f0ef344353b.jpg)

[2020-12-31 14:35] yaichenbaum commented on #2221
@GSonofNun This issue should be fixed with #2792.

[2020-12-31 14:37] gave92 commented on #2751
@fanstyle-cmd thanks for the additional info. This issue has been resolved in the development branch. The fix will ship with the next public version.

[2020-12-31 14:57] yaichenbaum opened #2794 "Code base: Rewriting/improving the FullTrustProcess"
**Is your feature request related to a problem? Please describe.**
The current FullTrustProcess does what it's meant to do, but the code base is kind of messy and hard to work with, additionally, it uses more system resources than a project of this size should.

**Describe the solution you'd like**
Rewriting the FullTrustProcess seems likely to happen at this point, while it doesn't need to be don

[2020-12-31 14:57] #2221 closed

[2020-12-31 15:18] gave92 commented on #2794
@yaichenbaum @duke7553 correct if I'm wrong: I understood that the plan is to switch sometimes in the future to using net5 + winui desktop.
This would make unnecessary to have a fulltrust process separated from the main app
Depending on if and when the above is going to happen it may or may not make sense to rewrite the Fulltrust process to C++.

We could anyway check if there is any performance g

[2020-12-31 15:23] yaichenbaum commented on #2794
@gave92 We haven't made any decision around that yet, it's going to be quite a while before WinUI Desktop is going to be ready for us to use. Taking that into account, if we were to make the switch, it won't be for a while and I wouldn't like that to hold us back on improving what we have now. That being said, if sticking with c# will make it easier to move over to WinUI Desktop in the future, tha

[2020-12-31 16:10] alberto-diaz15 opened #2795 "Add translations to system folders"
I want to ask if there is the possibility to add the translations to system folders such as "Program Files (x86)", "Users" and similars, because they are only displayed in English:

![image](https://user-images.githubusercontent.com/72040488/103417438-fe5cd980-4b8a-11eb-8fbd-0f9e4fb0f819.png)

[2020-12-31 16:30] yaichenbaum commented on #2795
Merging with #1226.

[2020-12-31 16:30] #2795 closed

[2020-12-31 18:23] gsingh13 opened #2800 "Add support to pin an item by dragging it to the sidebar"
**Is your feature request related to a problem? Please describe.**
- Not related to a problem.

**Describe the solution you'd like**
1. Be able to drag and drop items I'd like to pin to the sidebar.
2. Be able to drag and reorient items in the left pane.

**Describe alternatives you've considered**
- I can pin items by right-clicking and selecting "Pin to Sidebar", however, it'd be nice to do 1 &

[2020-12-31 18:29] gave92 commented on #2800
Merging with #2626

[2020-12-31 18:29] #2800 closed

[2020-12-31 18:59] XPoppyX commented on #801
mm currently it doesn't happen anymore

[2020-12-31 19:01] yaichenbaum commented on #801
@XPoppyX It depends on whether you have the option to use individual preferences for folders on or off. Keeping this issue open until it's fixed.

[2020-12-31 19:02] XPoppyX commented on #801
i see

[2020-12-31 19:38] bronewi4ok opened #2801 "splitted windows"
Your app is one of the best for Windows and looks really awesome. But it'll be great to improve one feature to make it even better. When I open two windows at the same time it feels like I use two different apps to solve one problem. Is there a way to gather it in splitted one? Like a modernized total commander, something similar to a Linux file manager called Nemo:
https://user-images.githubuserc

[2020-12-31 19:39] gave92 commented on #1769
Could we close this thanks to #2655?

[2020-12-31 19:40] yaichenbaum commented on #1769
@gave92 I would hold off on closing this until @jakoss creates a pull request to finish this feature.

[2020-12-31 19:42] gave92 commented on #2801
![image](https://user-images.githubusercontent.com/9673091/103423753-a6cd6680-4ba8-11eb-8a27-81dd35be4d2e.png)

[2020-12-31 19:49] jakoss commented on #1769
Yes. You could release this as is now, as optional and experimental feature. And I'll add preemptive caching asap

[2020-12-31 19:53] bronewi4ok commented on #2801
That's the best news in file managers' history! Can't wait for the next release. Happy New Year!

[2020-12-31 20:06] bronewi4ok commented on #2801
But will a second window have an own independent tabs panel?

[2020-12-31 20:07] gave92 commented on #2801
Nope there will be a single tabs panel, inside each tab you can have one or two panes open

[2020-12-31 20:10] yaichenbaum commented on #2131
This issue should be resolved with #2802.

[2020-12-31 20:10] #2131 closed

[2020-12-31 20:17] yaichenbaum opened #2803 "Include license for Fluent icons and Quick Look"
Files is missing the required license for QuickLook and the Fluent icons used in the app.

[2020-12-31 20:21] bronewi4ok commented on #2801
Your approach is good too. Probably enough for all my wishes. Thanks!

[2020-12-31 20:21] #2801 closed

[2020-12-31 20:22] gave92 commented on #2801
Thank you and happy new year ;)

[2020-12-31 21:27] 321cheese123 commented on #2745
No.

[2020-12-31 21:50] gave92 commented on #2527
Some findings on this.

I've added a stopwatch in a couple of checkpoints to see what is taking the longest:
- [QueryContextMenu](https://github.com/files-community/Files/blob/master/Files.Launcher/Win32API_ContextMenu.cs#L231), 1 line
- [LoadContextMenu](https://github.com/files-community/Files/blob/master/Files.Launcher/Program.cs#L262) function in fulltrust process, which includes [1]
- [SetShe

[2020-12-31 22:18] yaichenbaum commented on #2745
@321cheese123 This might be a bug with Windows, can you report this issue on Feedback Hub?

[2021-01-01 00:57] yaichenbaum commented on #1660
@gabrieldelaparra Someone just opened an issue for that over here #2780.

[2021-01-01 00:58] yaichenbaum commented on #2175
@Tester09 Can you still reproduce this issue in v0.23.1?

[2021-01-01 05:28] #2381 closed

[2021-01-01 05:29] yaichenbaum commented on #2381
@MrStefanW This issue should be resolved with #2805.

[2021-01-01 06:45] Shadowblitz16 opened #2806 "Remove grey outline around unfocused tabs"
**Is your feature request related to a problem? Please describe.**
Can you remove the outline around unfocused tabs?
for example the downloads tab in this pic..
![image](https://user-images.githubusercontent.com/2453707/103434686-b99c6700-4bb9-11eb-9b64-5951f3d2768b.png)

**Describe the solution you'd like**
just make it flat when its not hovered or selected

**Describe alternatives you've conside

[2021-01-01 13:05] Tester09 commented on #2175
@yaichenbaum Everything looks OK now

[2021-01-01 13:49] d2dyno1 commented on #2806
Making it flat would confuse users

[2021-01-01 13:59] XPoppyX opened #2808 "Properties: Titles of detail sections are sorted alphabetically"
The property section titles are sorted alphabetically. This makes the **"Image"** section, for example, be positioned after **"Core"**.

### **So what is the problem?**

Well, i think the **"Core"** section should always be in the last place, because **"Image" / "Audio" / "Video"** are more important sections.

I already tested using **A** and **B**, and they were definitely sorted alphabetically

[2021-01-01 14:09] #2175 closed

[2021-01-01 15:15] Fishcat6012 opened #2809 "bug反馈与功能反馈"
Bug：当进行有关快捷方式时候应用崩溃（直接卡死）
功能反馈：建议在应用侧边栏添加一个C盘的按钮（方便使用）

[2021-01-01 15:15] yaichenbaum opened #2810 "Bug report: Navigating to the settings page sometimes requires pressing the back button multiple times"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. Click on the back button
3. See error

**Expected behavior**
Clicking the back button should go back to the regular view.

**App version**
 - App version: v0.24.1

[2021-01-01 15:17] yaichenbaum commented on #2809
@Fishcat6012 Can you add some more details? We usually expect users to fill out the issue template when reporting a bug or submitting a feature request.

[2021-01-01 15:19] yaichenbaum commented on #2744
@djgreedo Thank's for the update, this is intentional behavior since the sidebar allows you to pin the path to any folder, but it doesn't support pinning libraries. We are looking at changing this behavior with #692.

[2021-01-01 15:19] #2744 closed

[2021-01-01 16:19] d2dyno1 commented on #2809
Please write bug reports in English

[2021-01-01 17:45] MBuelowius opened #2812 "Overlapping library widgets on hovering"
**Describe the bug**
The library widgets grow underneath each other on 4k

**To Reproduce**
Steps to reproduce the behavior:
1. Open files on a 4k monitor.
2. Hover over a library widget.

**Expected behavior**
The widget should expand over other widgets while hovering and not expand behind other widgets.

**Screenshots**
![image](https://user-images.githubusercontent.com/53919796/103443530-7a7521

[2021-01-01 18:25] yaichenbaum commented on #2812
Duplicate of #2246.

[2021-01-01 18:25] #2812 closed

[2021-01-01 18:32] heistema opened #2814 "Application crashes when clicking on drives without a letter"
**Describe the bug**
When connected to my PC, my mobile phone also gets enumerated as a disk drive. But when I click on it the application crashes because the path is invalid?! My assumption is that this might be because my mobile phone does not a have a drive letter assigned.

**To Reproduce**
Steps to reproduce the behavior:
1. Connect an Android mobile with your PC
2. A new "stick drive" appear

[2021-01-01 19:11] heistema opened #2815 "Safe file copy method that doesn't crash as in explorer"
**Is your feature request related to a problem? Please describe.**
Whenever I copy huge amounts of date e.g. from one drive to another the default explorer.exe keeps on crashing from time to time. Which is especially annoying when you don't know where it stopped. As a workaround I use "TeraCopy", but it would be awesome if my favourite file manager could do this on his own (and more elegant, light

[2021-01-01 19:13] heistema commented on #2809
Google Translate:

The application crashes when performing related shortcuts (directly stuck)
Feature feedback: It is recommended to add a C drive button in the sidebar of the application (easy to use)

[2021-01-01 19:21] heistema commented on #2814
The current solution filed as PR in #2777 also would solve this issue... I just tested it out.

[2021-01-01 19:40] ghost opened #2816 "Duplicated C: drive"
Hello,

I have an issue with this app: the C: drive at the 'Drives' is duplicated.
I have Windows 10 Home 64-bit, version 20H2.
![image](https://user-images.githubusercontent.com/76850160/103445188-8a493100-4c71-11eb-83c2-9630eb7c77d4.png)

[2021-01-01 20:50] gave92 commented on #2816
Merging with #2686

[2021-01-01 20:50] #2816 closed

[2021-01-01 21:30] gave92 commented on #2794
Not for the faint of hearts:
you can find [here](https://github.com/files-community/Files/tree/cpp_fulltrust) a branch with a skeleton for the rewritten fulltrust process in C++.

What works @01/01/2021:
- AppService connection

I'm going to try and see how to port the context menu stuff to check if there's any performance gain.

In case someone else wants to get his/her hands dirty.. contribution

[2021-01-01 21:51] heistema commented on #2785
@yaichenbaum Yes, will do.

[2021-01-01 22:09] d2dyno1 commented on #2794
Wooow @gave92!!
Amazing work! Didn't know you know c++ too!

[2021-01-01 22:20] Shadowblitz16 commented on #2806
No it wouldn't. besides if you didn't want to confuse users Microsoft wouldn't be using a mobile gui framework in a desktop environment
you can make the tab a solid color instead of of a outline that way it looks better and you can still see where it is

[2021-01-01 22:27] d2dyno1 commented on #2815
Could you provide log files?

[2021-01-01 23:41] heistema commented on #2815
I had no crash in Files yet. I assume that Files will have the same issues as the APIs are the same as explorer uses, right?

[2021-01-02 03:56] Fewmonth opened #2819 "How to set files as the default file manager of windows"

[2021-01-02 07:03] gave92 commented on #2819
You can follow the instructions in this link, but it's not recommended. https://github.com/files-community/Files/wiki/Replacing-File-Explorer-with-Files-(Unsupported).

[2021-01-02 07:03] #2819 closed

[2021-01-02 11:01] d2dyno1 commented on #2815
Files uses `IStorageItem` calls which are the same that file explorer uses

[2021-01-02 14:11] Gaoyifei1011 commented on #2665
Above the right-click menu of the Windows default Microsoft Defender blue icon and tinder the yellow icon of security software is shown, but the Files UWP icon does not show the above Microsoft Defender blue, yellow tinder security software icon will display normally, hope to be able to fix the problem
![image](https://user-images.githubusercontent.com/49179966/103459067-6eb05a00-4d47-11eb-9443-3e

[2021-01-02 18:07] va-it opened #2821 "Allow expansion of left-hand menu in settings when window is not maximised"
**Is your feature request related to a problem? Please describe.**
When the window is not maximised it is impossible to expand the left-hand menu

**Describe the solution you'd like**
Either an option to expand the menu (like the hamburger menu on Start) or leave the left-hand menu always open (like the Windows Settings)

**Describe alternatives you've considered**
None

**Additional context**
Tou

[2021-01-02 18:12] crashmit commented on #1465
I'm happy to help. Which way do you need help with the UI? Sadly my coding skills won't be enough for that, but if you need more Design work, I may help.

[2021-01-02 19:15] d2dyno1 commented on #1465
I meant coding wise. I code in wpf and have little experience with uwp. The design is nicely explained there. Appreciate your will to help!

[2021-01-02 23:25] #2775 closed

[2021-01-02 23:25] #2814 closed

[2021-01-02 23:29] yaichenbaum commented on #2806
@Shadowblitz16 We would love to have a discussion around the outline, but before making any design change, we need to go through what's wrong with the current design and what change can fix it.

[2021-01-02 23:30] #2231 closed

[2021-01-02 23:31] yaichenbaum commented on #2231
@XPoppyX This issue should be solved with #2813.

[2021-01-02 23:43] yaichenbaum commented on #2794
@gave92 Perhaps we should do this on a branch in the main repo so that it gets more visibility?

[2021-01-03 02:22] yaichenbaum commented on #2793
@zhangtianli2006 This is the intended behavior when the menu has a lot of items. The next update will come with an option to disable the animation, and we will work on reducing the size of the menu as well in a future update.

[2021-01-03 02:22] #2793 closed

[2021-01-03 02:23] yaichenbaum commented on #2815
@heistema While Files uses a lot of the same APIs as File Explorer, there is no guarantee that it has the same crashes, can you run some tests and upload the logs if Files does indeed crash?

[2021-01-03 02:25] heistema commented on #2815
@yaichenbaum Yes, I will try to reproduce this using Files.

[2021-01-03 04:43] yaichenbaum commented on #1004
@andyfmidd We don't plan on implementing this specific change, but we are looking into alternative ways to access these options outside of the context menu.

[2021-01-03 04:43] #1004 closed

[2021-01-03 04:54] yaichenbaum commented on #765
Merging with #100.

[2021-01-03 04:54] #765 closed

[2021-01-03 04:59] yaichenbaum commented on #1342
@hawkerm Would you expect features to manage saving files to the server or just support to view the files?

[2021-01-03 05:01] yaichenbaum commented on #1310
@scottac30 Thank you for opening this issue, can you check if SharePoint creates an environmental variable with the path?

[2021-01-03 05:15] yaichenbaum commented on #1218
@hez2010 Being that UWP isn't going to be getting .NET 5 anytime in the near future, do you want us to keep this issue open?

[2021-01-03 05:17] hez2010 commented on #1218
I think it can be closed for now.

[2021-01-03 05:18] #1218 closed

[2021-01-03 05:26] yaichenbaum commented on #1611
@R3voA3 Is this still an issue in v0.23.1?

[2021-01-03 05:30] yaichenbaum commented on #2684
@linsui Can you see if removing the command prompt profile fixes the issue?

[2021-01-03 05:32] yaichenbaum commented on #2656
@Jaiganeshkumaran We don't plan to implement this specific change, but we are looking at using the CommandBarFlyout control which will significantly decrease the size of the context menu.

[2021-01-03 05:32] #2656 closed

[2021-01-03 05:33] yaichenbaum commented on #2643
@d2dyno1 Would you like to work on this issue?

[2021-01-03 05:33] yaichenbaum commented on #2625
@KeremArdicli Would you like to fix this issue?

[2021-01-03 05:34] yaichenbaum commented on #2624
@Jaiganeshkumaran Would you like to work on this issue?

[2021-01-03 05:35] yaichenbaum commented on #2568
@dreaddr Do you have the setting to continue where you left off turned on? This can cause the app to load a little slower.

[2021-01-03 06:08] linsui commented on #2684
It works now though I didn't touch any profiles. IIRC, I notice that there were only some bulit-in options in the context menu but now there are much more options such as power rename. Maybe it start working after a Windows restart. I'll close this issue as I can't reproduce it any more. If this issue happens again I'll reopen it. Thanks!

[2021-01-03 06:08] #2684 closed

[2021-01-03 06:50] Magangel opened #2826 "A new cloud feature"
Please, add the ability to sign up to more than one onedrive personal account, or at least, to one custom account different from the one synchronized with the onedrive app.
Greetings and keep the great work

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd l

[2021-01-03 08:19] ColbertBrave opened #2827 "Could you speed up interface loading？"
Dear developers,

Compared with the file explorer in win 10, the  interface loading speed in **Files** is much slower. Could you speed it up? Thanks.

[2021-01-03 08:21] ColbertBrave commented on #2809
@Fishcat6012 应用侧边栏可以添加驱动器啊。在设置里修改。这个开发者是老外，要用英语。

[2021-01-03 08:38] KeremArdicli commented on #2625
Sure. I can accord the translations with the current file explorer. I have realized couple of more translation errors.

How should we proceed?

[2021-01-03 10:39] d2dyno1 commented on #2643
I'll try after bundles are ready

[2021-01-03 10:50] MatejaSrejic opened #2828 "All my files are gone after cut/paste-ing multiple folders"
Okay, I tried to cut/paste 5 folders full of my valuable scripts and programs, and what do you know, only the folders were moved, with no files inside of them. Seriously, I just lost 500+ programs of mine and ended up with empty folders. I thought the process wasn't finished, so I left it for half an hour, came back, empty folders. I started panicking, I didn't know what to do, I quickly tried CTR

[2021-01-03 14:17] yaichenbaum commented on #2828
@MatejaSrejic First of all, our apologies about this issue, we are working on improving the quality of copy/paste and as we get close to releasing v1, we are going to make sure this feature works as expected. Can you share with us the version number you had this issue on?

[2021-01-03 14:23] MatejaSrejic commented on #2828
Don't know if it helps, but I installed the latest version three days ago. If that doesn't help, I'll check which version I used tomorrow (I don't have my computer on me)

[2021-01-03 14:33] d2dyno1 commented on #2828
@yaichenbaum is the newest version after #2742 patch?

[2021-01-03 14:36] gave92 commented on #2828
#2742 doesn't help I'm afraid
The move operation is implemented as a Copy + (permanent!) Delete, Delete should only be done if the copy operation returns success.... except after investigation it appears that Copy *always* returns success regardless of the actual result.
@d2dyno1 could you check as well?
Thanks @MatejaSrejic for bringing this out, we'll be sure to fix it.

[2021-01-03 14:37] MatejaSrejic commented on #2828
Thank you. I made a huge mistake but I luckily got out of it.

[2021-01-03 14:43] d2dyno1 commented on #2828
@gave92 indeed. We should take the result of `errorCode` variable.

[2021-01-03 14:49] gave92 commented on #2828
@d2dyno1 I'd be careful with that. What we do with `errorCode` in a lot of places is incorrect:
[code]

[2021-01-03 14:56] d2dyno1 commented on #2828
Hmm..
I suggest disabling the Move operation in a patch update for now to prevent further damage.

@yaichenbaum

[2021-01-03 14:57] gave92 commented on #2828
Or at least sending the stuff to recycle bin instead of permanent delete. Anyway it should not be too hard to fix.

[2021-01-03 15:02] yaichenbaum commented on #2828
This can be done but we are so close to releasing v1 that it might be just as fast to fix the actual bug and ship out v1 then to ship a change that disables the feature.

[2021-01-03 15:07] yaichenbaum commented on #2827
@ColbertBrave The startup speed is something we are working on improving over time, merging this issue with #2568.

[2021-01-03 15:07] #2827 closed

[2021-01-03 15:32] #2828 closed

[2021-01-03 15:33] yaichenbaum commented on #2828
@MatejaSrejic This issue should be fixed with #2830, we are going to do some extensive testing first but you can expect this update to be available in around a week or two.

[2021-01-03 15:36] MatejaSrejic commented on #2828
Cool, thanks.

[2021-01-03 15:52] yaichenbaum commented on #2748
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 4+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2021-01-03 15:52] #2748 closed

[2021-01-03 16:05] Tech-How opened #2832 "Unable to drag shortcuts (lnk) files to move them"
**Describe the bug**
When you have a shortcut file, like an *lnk file, you can't drag it to different places.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a shortcut with Windows' File Explorer.
2. Locate that shortcut in the Files app.
3. Now try to move it by dragging.

**Expected behavior**
I expected to be able to drag it to another folder, but nothing happens when you drag sho

[2021-01-03 16:09] Tech-How opened #2833 "Add "Shortcut" option to the new menu"
**Is your feature request related to a problem? Please describe.**
I wouldn't call it a problem, but it is a bit of an annoyance when I have to open the Windows File Explorer to create shortcuts.

**Describe the solution you'd like**
In the new menu in the Files app, there should be an option to create a shortcut.

**Describe alternatives you've considered**
I would normally have to open the Windo

[2021-01-03 17:57] gave92 commented on #2832
Thanks for opening this feedback item. Unfortunately due to UWP limitations this is (to my knowledge) simply impossible.
Copy/Cut/Pasting shortcuts instead should be working.

[2021-01-03 18:05] gave92 commented on #2832
I was correct the first time :)

Previous comment:
Due to UWP limitations dragging shortcut files is sadly impossible. The same goes for hidden files/folders.
Copy/Moving/Pasting instead should be working.

[2021-01-03 18:05] #2832 closed

[2021-01-03 20:09] #1474 closed

[2021-01-03 20:10] yaichenbaum commented on #2625
@KeremArdicli You can find a guide with information about translationing Files in the [Wiki](https://github.com/files-community/Files/wiki/Translating-Files-into-your-language).

[2021-01-04 05:06] yaichenbaum commented on #2745
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 3+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2021-01-04 05:06] #2745 closed

[2021-01-04 05:19] yaichenbaum commented on #1911
@R3voA3 This issue should be resolved in `master`.

[2021-01-04 05:19] #1911 closed

[2021-01-04 06:39] heistema commented on #2780
Would be awesome if this could get integrated into the search bar... So you have on bar for everything.

[2021-01-04 09:11] R3voA3 commented on #1611
Well, I wasn't able to reproduce it, but it also didn't happen always.

[2021-01-04 09:44] dkostarnov opened #2838 "unpacking winrar"
I will describe the process as I unpack the files. I open the archive in WinRAR, drag a folder from there, the unzip process starts, but it stops at 99 percent without error. But when I unpack the archive through the context menu, everything is fine. But this method does not always suit me. If there is a folder with a password inside the archive, then winrar does not fill in the password, but simp

[2021-01-04 10:18] dkostarnov opened #2840 "access to folders in administrator mode"
To enter some folders, you need administrator rights. Files does not ask for them like standard Explorer does. And because of this, I cannot edit anything in these folders. Please fix this

[2021-01-04 10:24] gave92 commented on #2840
Duplicate of #1194

[2021-01-04 10:24] #2840 closed

[2021-01-04 10:38] boscorelly commented on #1310
@yaichenbaum there is no env var for sharepoint.

maybe search for those informations in desktop.ini in the folder may help ?

[.ShellClassInfo]
IconResource=C:\Users\coe\AppData\Local\Microsoft\OneDrive\OneDrive.exe,2

[2021-01-04 15:56] yaichenbaum commented on #1611
@R3voA3 I am going to close this for now, let us know if it happens again.

[2021-01-04 15:56] #1611 closed

[2021-01-04 19:23] dreaddr commented on #2568
@yaichenbaum nope, its turned off but I did toggle and try experimental features a bit, though it's the same performance even if I use experimental or not (its not noticeable) (Version 0.23.1.0 seems a bit smoother but maybe that has more to do with the animations or me having confirmation bias)

[2021-01-04 21:49] yaichenbaum opened #2843 "Bug report: Closing tabs don't free up memory"
**To Reproduce**
Steps to reproduce the behavior:
1. Open a couple tabs
2. Close them

**Expected behavior**
Memory goes down

[2021-01-05 01:56] Tech-How opened #2845 "Cannot run CMD files as administrator."
**Describe the bug**
I noticed with a recent update, you've added the ability to run programs as an administrator. Which I love, but I write a lot of CMD files, and the "Run as administrator" option is not present in the right-click context menu for CMD files.

**To Reproduce**
Steps to reproduce the behavior:
1. Locate a CMD file.
2. Right-click; there is no "Run as administrator" option.

**Expe

[2021-01-05 03:51] #2845 closed

[2021-01-05 03:52] yaichenbaum commented on #2845
@Tech-How This issue should be resolved with #2846.

[2021-01-05 04:00] winston-de commented on #2843
It looks like there are some circular refences to the ModernShellPage that may be preventing proper garbage collection.
Files.ViewModels.ItemViewModel and Files.BaseLayout both contain circular references to ModernShellPage.

[2021-01-05 04:12] yaichenbaum commented on #1514
Extensions are going to be supported in different scenarios, we will share more details about this in the near future.

[2021-01-05 04:12] #1514 closed

[2021-01-05 04:16] yaichenbaum commented on #2472
@erosyte Is a picker like this what you had in mind, or are you looking for the option to use any image there?
![image](https://user-images.githubusercontent.com/39923744/103605776-c8995700-4ee2-11eb-80f3-aa11b12aa350.png)

[2021-01-05 04:17] #2806 closed

[2021-01-05 04:18] yaichenbaum commented on #2809
@Fishcat6012 We need a little more information from you such as the app version and steps to reproduce the issue, please reopen this issue when you have filled out the issue template.

[2021-01-05 04:18] #2809 closed

[2021-01-05 05:54] tgrelka opened #2847 "Crash on launch loading folders from fixed drive C:\"
**Describe the bug**
Files crashes on launch for no apparent reason. Window hangs for about a second (see screenshot for state) before closing and a notification: “Files - Preview: New notification”.

**To Reproduce**
Not sure if applicable, open up the app I guess?

**Expected behavior**
Files should launch and stay open, ready to be used.

**Screenshots**
![A screenshot displaying the Files inte

[2021-01-05 08:57] gave92 commented on #2847
@tgrelka thank you for reporting this. The issue shown has been fixed in #2688. The fix will ship with the next public version.
In the meantime you can try reinstalling the app and disabling the "Recent files list" from the app Settings > Widgets

[2021-01-05 08:57] #2847 closed

[2021-01-05 09:09] tgrelka commented on #2847
Reinstalling did fix the issue, displaying recent files works as well though. 🤔

[2021-01-05 09:12] gave92 commented on #2847
It'll work until you open the "wrong" file and then the issue will be back :)
Feel free to keep the recent list enabled, we'd be interested in finding out what king of file/file location triggers the bug

[2021-01-05 09:22] tgrelka commented on #2847
Yeah, I figured it might be a file the app has some problems with. I’ll try to investigate what file triggered the issue.
My network share was definitely connected when Files crashed, I was using it in the standard explorer.

[2021-01-05 10:38] seohyun1108 commented on #2457
I think this issue can be solved easily. Why it's not fixing till now?

[2021-01-05 12:41] d2dyno1 commented on #2843
I feel like a lot of core logic has to be rewritten

[2021-01-05 13:01] sanbrother opened #2850 "Crash when more than 10 tabs opened"
Crash when more than 10 tabs opened

**To Reproduce**
Steps to reproduce the behavior:
1. Ctrl + T to open a new tab
2. Repeat step 1 (at least 10 times)

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 20H2 19042.685]
 - App version: [master]

**Screenshot**
![Capture](https://user-images.githubusercontent.com/817077/103649289-2daf8400-4f99-11eb-9d08-d9897

[2021-01-05 15:51] yaichenbaum commented on #2850
Merging with #2145.

[2021-01-05 15:51] #2850 closed

[2021-01-05 15:52] gave92 commented on #2850
This happens even if you open tabs "slowly" unfortunately and 100% of time

[2021-01-05 15:54] yaichenbaum commented on #2850
@gave92 It only seems to happen if the last tab is selected when opening the new tabs.

[2021-01-05 16:47] ziv-commentor commented on #2843
I don't feel like this is a problem: The file explorer merely takes up 100 MB of RAM, opening up 20 tabs doesn't increase RAM usage either.

[2021-01-05 16:48] yaichenbaum commented on #2109
@Don-Vito I see that you marked this as partially fixed with #2823, does this issue still exist in some scenarios?

[2021-01-05 16:50] yaichenbaum commented on #2843
@ziv-commentor The tab itself takes around 1mb but if you navigate to large directory such as System 32, you will see the memory usage increase and closing the tab doesn't free up the memory.

[2021-01-05 16:56] maxicraftplus opened #2852 "Search in trash crash the apps"
**Describe the bug**
When searching for something via search menu in trash it totally crash the app after one letter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to trash
2. Click on search menu
3. put anything inside
4.

**Expected behavior**
the app should freeze for a sencode or two and crash without error code

**Desktop (please complete the following information):**
 - OS Version:

[2021-01-05 16:59] gave92 commented on #2852
Thanks for reporting this. In version 1.0 (next public version) the crash has been fixed but the ability to search in recyclebin is not implemented yet.

[2021-01-05 17:00] Don-Vito commented on #2109
@yaichenbaum - the PR we merged definitely resolves a scenario that led to the creation of such folders / files. I wrote "partially" because when working on the fix I was not aware of this ticket and didn't try to hunt down additional scenarios. FWIW I am not aware of additional scenario that can lead to this.

[2021-01-05 17:11] yaichenbaum commented on #2109
@Don-Vito Sounds good, I can't reproduce this anymore in my tests.
@Concorde1234 This issue seems to be resolved with #2823 and will be available in the next update. Please reopen this issue if you can still reproduce it once you get the update.

[2021-01-05 17:11] #2109 closed

[2021-01-05 17:12] #2852 closed

[2021-01-05 17:21] yaichenbaum commented on #2710
Merging with #1396.

[2021-01-05 17:21] #2710 closed

[2021-01-05 17:57] ziv-commentor opened #2853 "Setting Files as default file explorer"
It's very frustrating to set Files as default file explorer using the registry. Please add an option in the setting to set it as default file explorer.

[2021-01-05 18:37] yaichenbaum commented on #2853
@ziv-commentor Unfortunately this is not possible because of the way Windows works. Explorer is the shell that powers the start menu, taskbar, control panel and much more. Replacing that with Files wouldn't work since Files is just a File Manager as opposed to a full shell. The most you can do is to follow the guide in how to redirect the command to launch File Explorer to launch Files instead.

[2021-01-05 18:37] #2853 closed

[2021-01-05 18:57] winston-de commented on #2843
Related:
https://github.com/microsoft/microsoft-ui-xaml/issues/3597
#2065

[2021-01-05 19:41] Concorde1234 commented on #2109
Thanks for the fix

[2021-01-05 21:20] yair100 opened #2856 "Feature: Scroll position and selected item should be kept after changing layout"
**Requirements**
- Scroll position should be remembered after the layout mode is changed
- Scroll position should be remembered after refreshing the directory

[2021-01-05 21:23] mdtauk commented on #2856
Item selection should probably also be preserved between Layout mode changes

[2021-01-05 21:25] yaichenbaum commented on #2003
@Jaiganeshkumaran We don't have any plans to implement this.

[2021-01-05 21:25] #2003 closed

[2021-01-05 21:28] yaichenbaum commented on #2502
@shubhammehra4 This issue should be resolved with #2854.

[2021-01-05 21:28] #2502 closed

[2021-01-05 21:50] duke7553 commented on #2843
@d2dyno1 Merely saying it needs to be re-written without specific solutions won't help anything.

@winston-de Re-working ItemViewModel is quite a task, and I avoided it with the overhaul I did several months ago. We should aim to remove unwanted references from inside ItemViewModel.

The minimal sample project I created on that WinUI issue demonstrates the issue is not entirely related to Files lo

[2021-01-05 22:05] #2808 closed

[2021-01-05 22:08] Rick-HM opened #2857 "When you enable "Show hidden items" or "Show file extensions", see changes without manually refreshing the directory"
Currently you need to manually refresh to see the changes when enabling the two options I mentioned.
In the native file explorer you can see these changes or others immediately

[2021-01-05 22:19] winston-de commented on #2843
@duke7553

These classes were the top 5 biggest users of memory after opening 7 tabs of System32 and closing it again.

Object Type | Count | Count Diff. | Size (Bytes) | Total Size Diff. (Bytes) | Inclusive Size (Bytes) | Inclusive Size Diff. (Bytes) | Module
-- | -- | -- | -- | -- | -- | -- | --
Files.Filesystem.ListedItem | 17,333 | 17,333 | 8,920,852 | 8,920,852 | 9,504,672 | 9,504,672 | Files

[2021-01-06 03:36] HeroPPPPath opened #2858 "winE"
win+E open  explorer

[2021-01-06 03:59] yaichenbaum commented on #2858
@HeroPPPPath You can find information about `win` + `e` over [here](https://files-community.github.io/docs/#/articles/configure-win-e).

[2021-01-06 03:59] #2858 closed

[2021-01-06 05:50] #1160 closed

[2021-01-06 05:51] yaichenbaum commented on #1160
@Jaiganeshkumaran This issue should be resolved with #2859.

[2021-01-06 08:33] phamwon opened #2860 ".NET Framework Initialization Error"
**Describe the bug**

FilesFullTrust.exe - .NET Framework Initialization Error
C:\Windows\Microsoft.NET\Framework64\v4.0.30319\mscoreei.dll could not be loaded

**Desktop (please complete the following information):**
 - OS Version: Windows 10 21277.1000
 - App version: 0.23.1

**Additional context**
Error when open Files

[2021-01-06 09:08] gave92 commented on #2860
Thanks for this report. It looks more like a Windows issue that a Files issue.
Are you getting the same error in any other program?
Last answer [here](https://answers.microsoft.com/en-us/windows/forum/windows_10-performance-winpc/error-microsoftnetframeworkv4030319mscoreeidll/0aaef68c-5f61-45f7-bdb8-bb7280140995) suggests a way to fix the issue

[2021-01-06 10:09] candrapersada opened #2861 "Thumbnails in File don't work properly"
Why don't Thumbnail in File work properly? like this picture
![awww](https://user-images.githubusercontent.com/36833664/103756342-d31e3280-5041-11eb-9ae6-b3bf6cc6394b.PNG)

[2021-01-06 10:11] gave92 commented on #2861
Duplicate of #2660, fixed

[2021-01-06 10:11] #2861 closed

[2021-01-06 10:52] XPoppyX opened #2862 "The Uids of the details and tiles view buttons are different in string resources"
**StatusBarControl.xaml**

**Id** end in "**... views**" instead of "**... view**", was this intended?

![Captura de pantalla 2021-01-06 074259](https://user-images.githubusercontent.com/61259627/103759692-e3f38780-4ff2-11eb-8846-dc699df80388.png)
![Captura de pantalla 2021-01-06 074308](https://user-images.githubusercontent.com/61259627/103759697-e524b480-4ff2-11eb-883e-1addaaaa96c6.png)

**Strin

[2021-01-06 11:14] gave92 commented on #2862
Agreed some resources are different from the "Uid", if you can fix them it would be great.

[2021-01-06 11:16] XPoppyX commented on #2862
but is it okay that it ends in "..views" instead of "... view"?

[2021-01-06 11:18] gave92 commented on #2862
As long as they are uniform it's ok but "view" makes more sense

[2021-01-06 11:38] KeremArdicli commented on #2625
I would be happy to help. However, it is not easy to follow the
instructions.

I have downloaded all required apps. Yet your introductions are not noob
friendly :)
I could not open Files UWP in Visual Studio I could not even locae Files
UWP folder in the system.

Is there a visual guide to help likes of me?

Yair Aichenbaum <notifications@github.com>, 3 Oca 2021 Paz, 23:10 tarihinde
şunu yazdı:

[2021-01-06 13:04] MatejaSrejic commented on #2828
Oh no, looks like Recuva didn't recover some of the files properly. When opened in Notepad++ it only has `NUL` over and over. F*** me. I'm screwed... can anyone recommend what to do. 😭😭

[2021-01-06 14:06] #2862 closed

[2021-01-06 16:12] Tester09 opened #2866 "Back button in the settings doesn't work from the first try"
**Describe the bug**
When I open the settings I can't go back with one click on the back button. This requires 2-4 clicks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on the 'back' button
3. Repeat until success

**Expected behavior**
Back button should work with one click

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 2

[2021-01-06 16:14] gave92 commented on #2866
Merging with #2810

[2021-01-06 16:14] #2866 closed

[2021-01-06 16:49] Tech-How opened #2868 "Hidden files & folders doesn't update until page refreshed"
**Describe the bug**
When hidden files & folders are enabled, and you turn that switch off and return to your files, you still see the hidden files until you refresh the page.

**To Reproduce**
Steps to reproduce the behavior:
1.Turn on "Show hidden files and folders".
2. Make sure you have some hidden files and folders, and open the location that contains them.
3. Return to settings, and turn off

[2021-01-06 16:51] gave92 commented on #2868
Duplicate of #2857

[2021-01-06 16:51] #2868 closed

[2021-01-06 17:15] #2810 closed

[2021-01-06 17:22] Tech-How opened #2869 "Hold Shift/Ctrl to change file copy/move behavior"
**Is your feature request related to a problem? Please describe.**
I think it is easier to drag files to perform copy/move operations. But when I drag files across drives, the operation is always "copy". And when I drag files to locations on the same drive, the operation is always "move".

**Describe the solution you'd like**
Just like Windows Explorer, I would appreciate it if when you held the s

[2021-01-06 17:27] gave92 commented on #2869
Thanks for this suggestion. Merging with #1396

[2021-01-06 17:27] #2869 closed

[2021-01-06 17:28] gave92 commented on #1396
Merging here requests for having ctrl and shift keys change the drop action.

- Ctrl+Drag should copy the file
- Shift+Drag should move the file (in situations where copy is the default)
- Alt+Drag should create a shortcut to the file in the new location

[2021-01-06 18:51] Tech-How opened #2870 "Alt+enter moves cursor down"
**Describe the bug**
When I select an item, then press alt+enter, the properties dialog opens. In addition to that, the cursor moves down to the next item in the list as well, which isn't supposed to happen.

**To Reproduce**
Steps to reproduce the behavior:
1. Select an item.
2. Press alt+enter
3. Notice how the cursor moves down an item in the list.

**Expected behavior**
I expected the properti

[2021-01-06 18:54] gave92 commented on #2870
Duplicate of #2463

[2021-01-06 18:54] #2870 closed

[2021-01-06 21:22] Yuraconst opened #2871 "Grouping"
Title says it all - grouping by type, sorting by date in each group, or any other combination. IIRC, even Explorer++ has this.
BTW, congrats on being much closer than MS to what MS promised!

[2021-01-06 21:36] gave92 commented on #2871
Thanks for this suggestion. Merging with #1874

[2021-01-06 21:36] #2871 closed

[2021-01-07 01:44] yaichenbaum opened #2872 "Bug report: Item selection count is not displaying on status bar in any of the GridView layouts"
**Describe the bug**
Status information for the selection count or item size is not being displayed on the status bar in the grid view layout modes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any directory with items
2. Set the layout mode to a grid view layout
3. Click or select any item
4. See error

**Expected behavior**
The expected behavior would be to display the correct inf

[2021-01-07 01:58] XPoppyX opened #2873 "The app crashes when trying to restart it after changing the language"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Preferences
2. Change the language of the app to any other
3. You will see the message to restart the app
4. Click on "Yes"
5. When trying to start the app, it crashes

**Screenshots**
![crash](https://user-images.githubusercontent.com/61259627/103841489-7850ff00-5072-11eb-88d9-ae7ddef3728e.gif)

**Log**
2021-01-06 22:55:59.5161

[2021-01-07 02:44] 1333481 commented on #236
Where did it go?

[2021-01-07 02:45] yaichenbaum commented on #236
@1333481 It's been moved to [here](https://files-community.github.io/docs/#/articles/replace-file-explorer).

[2021-01-07 05:43] wycnet opened #2874 "right-click menu"
Why did the latest version of the right-click menu turn gray?

[2021-01-07 07:12] Jaiganeshkumaran opened #2877 "Reduce code duplication in context flyout for folders and files"
I'll work on this

[2021-01-07 07:14] Jaiganeshkumaran commented on #1161
Maybe we would have to implement then manually

[2021-01-07 08:31] EdiTurn opened #2878 "Duplicate items in SMB drive after "Cache files and folders for better performance" enabled"
**Describe the bug**
While "Cache files and folders for better performance" is enabled (seems default on), the file/folder list in a mounted SMB drive will duplicate after every refresh.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable "Cache files and folders for better performance"
2. Open a mounted SMB drive
3. refresh
4. See error

**Screenshots**
![屏幕截图 2021-01-07 162642](https://