[2020-03-01 04:33] yaichenbaum commented on #432
Duplicate of #430. A fix for this is already in the `develop` branch.

[2020-03-01 04:33] #432 closed

[2020-03-01 13:50] lampenlampen commented on #200
@yaichenbaum Are you sure? I thought every UWP app has it's own registry.
@duke7553 But PowerShell or Windows Terminal are not uwp apps.

I thought about it a little more:
We don't need the path at all, because the install location must be on the "Path"-variable.
So we can launch powershell and only have to recognize if it succeeded or not.

[2020-03-01 14:59] SOI7 commented on #428
It may be related to .ink files as reported on #409

[2020-03-01 15:31] yaichenbaum commented on #428
@SOI7 That is a possibility, another possible reason for this is that some parameters are set wrong. We are working on resolving both possible causes.

[2020-03-01 15:57] yaichenbaum commented on #200
@lampenlampen Absolutely, we already do that to detect the path for the user folders.

[2020-03-03 17:42] yaichenbaum commented on #410
Is anyone able to run Files from the source code to get more detailed information on what's causing the crash?

[2020-03-03 22:13] lampenlampen commented on #410
Can you create a branch for this issue? Then i will backport the logger to v0.7 and you can create a package, so we can get the stacktrace.

[2020-03-03 22:13] duke7553 commented on #410
Does this bug affect any users on 20H1 or higher?

[2020-03-03 22:14] yaichenbaum commented on #410
@lampenlampen Just target the `develop` branch.

[2020-03-03 22:16] lampenlampen commented on #410
This branch already contains the logger. Can you create a package and link it here?
The affected users can then install it and upload the `debug.txt`, so we get a crash report.

[2020-03-04 00:14] yaichenbaum commented on #410
[Files.Package_0.7.0.0_x64_Debug.msixbundle.zip](https://github.com/duke7553/files-uwp/files/4284305/Files.Package_0.7.0.0_x64_Debug.msixbundle.zip)

[2020-03-04 13:06] Crocodile73 commented on #410
no 19H2 for me.

[2020-03-04 13:17] Crocodile73 commented on #410
does this have to be used with a debug tool?

[2020-03-04 13:57] lampenlampen commented on #410
No,
go to the folder `%localappdata%`, `Packages`, search there for the folder `Files` and there in the folder `LocalState` should be a file `debug.txt`, which contains a stacktrace.

[2020-03-04 14:51] Jviix commented on #410
Debug from yaichenbaum file:
2020-03-04 15:46:43.7966|INFO|Files.App|App launched
2020-03-04 15:46:43.8258|ERROR|Files.App|Acceso denegado. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))

Acceso denegado = denied access

Files UWP has permission in file system, so... that's it

[2020-03-04 14:53] yaichenbaum commented on #410
@Jviix Hf you give file permission access does it resolve the issue?

[2020-03-04 14:55] Crocodile73 commented on #410
same info as @Jviix

2020-03-04 13:13:22.3586|ERROR|Files.App|Access is denied. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))

[2020-03-04 14:55] Jviix commented on #410
Nope. Same issue. Tried 3 times.

[2020-03-04 14:58] yaichenbaum commented on #410
This is interesting, is anyone able to run from the source code? That should give us more information.

[2020-03-04 15:00] Jviix commented on #410
How can I run from source code? I'll do it

[2020-03-04 15:01] yaichenbaum commented on #410
https://github.com/duke7553/files-uwp/tree/develop#building-files-uwp-from-the-source-code

[2020-03-04 15:02] Jviix commented on #410
Thank you, downloading. I'll update asap.

[2020-03-04 15:04] yaichenbaum commented on #410
@Jviix Thank you so much, doing this will go a long way towards resolving this issue.

[2020-03-04 15:55] yaichenbaum commented on #410
@Jviix Try again using the `develop` branch.

[2020-03-04 16:02] lampenlampen commented on #410
@Jviix simple delete the certificates. They are still linked in VS, but the certificate file is not stored on git.

[2020-03-04 16:10] lampenlampen commented on #410
@yaichenbaum
They are still referenced:
https://github.com/duke7553/files-uwp/blob/016c05dd54157b1de03ec1f02a74bc658ede7d06/Files.Package/Files.Package.wapproj#L155-L158

[2020-03-04 16:12] yaichenbaum commented on #410
@lampenlampen I am pretty sure that is fine, the main thing is that I removed the fingerprint from the `Package.wapproj` file.

[2020-03-04 16:15] lampenlampen commented on #410
@yaichenbaum You are right 👍

[2020-03-04 17:42] Jviix commented on #410
Well. After some time, I get this:

2020-03-04 18:42:07.8014|INFO|Files.Filesystem.DrivesManager|Drive added: C:\, Fixed
2020-03-04 18:42:07.8504|INFO|Files.Filesystem.DrivesManager|Drive added: D:\, Fixed
2020-03-04 18:42:08.0209|INFO|Files.App|App launched
2020-03-04 18:42:08.0339|ERROR|Files.App|Acceso denegado. (Exception from HRESULT: 0x80070005)

[2020-03-04 17:48] lampenlampen commented on #410
Do you have some other drives than the `C` and the `D` one.

[2020-03-04 17:48] Jviix commented on #410
Nope. Just C and D.

[2020-03-04 17:50] yaichenbaum commented on #410
@Jviix Were you able to build from the source code?

[2020-03-04 17:54] Jviix commented on #410
Yup. That log is from source code.

[2020-03-04 18:02] Crocodile73 commented on #410
"type": "startService"
}Š “ycrashes{
  "exception": {
    "type": "System.UnauthorizedAccessException",
    "message": "Access is denied. (Exception from HRESULT: 0x80070005 (E_ACCESSDENIED))",
    "stackTrace": "   at Windows.Devices.Portable.StorageDevice.FromId(String deviceId)\r\n   at Files.Filesystem.DrivesManager.DeviceAdded(DeviceWatcher sender, DeviceInformation args)\r\n   at Windows

[2020-03-04 19:48] lampenlampen commented on #410
@Crocodile73 Can you insert a breakpoint in line 78 in the `Drives.cs`-file and rerun the app?
I woulb be interested in the `tag` property of the `root`-variable.
And in which line is the exception thrown?

To prevent this error, we could simply catch this exception and skip this drive, but i think it would be good to know, why exactly it fails.

[2020-03-04 19:56] lampenlampen commented on #410
1. Is there anything special about the drive?
2. BitLocker?
3. Are you an admin?
4. Can you repro this behavior on another pc with this drive?

[2020-03-04 20:00] Crocodile73 commented on #410
i haven't created from source file, i have just trialled and error-ed myself from the info in the directory. The drive is a SSD, I am going to run in another pc, and see what happens. The drive is error free, and has ran in previous builds.

[2020-03-04 20:02] lampenlampen commented on #410
@Jviix Are you sure that you don't have some other removable drive plugged in?
Assuming you and @Crocodile73 have the same error:
The crash happens in the `DeviceAdded`-method. This method is called by windows, if a removable storage device is added to the computer.

[2020-03-04 20:07] lampenlampen commented on #410
@Crocodile73 It's an external drive?

[2020-03-04 20:07] Crocodile73 commented on #410
@lampenlampen yes it is

[2020-03-04 20:07] lampenlampen commented on #410
@Crocodile73 Which letter does the drive has?

[2020-03-04 20:10] lampenlampen commented on #410
@Crocodile73 Did it work in v0.6.6?

[2020-03-04 20:11] Crocodile73 commented on #410
@lampenlampen it did yes

[2020-03-04 20:19] lampenlampen opened #435 "Crash if mostRecentlyUsed file is deleted"
**Describe the bug**
Files tries to populate the mostRecentlyUsed list with files and crashes if one of these files was deleted with `FileNotFoundException`.

[2020-03-04 20:26] lampenlampen commented on #410
Can you open a shell in the root directory of your drive and start Files with `files.exe`?
UWP apps have automatically file-system permissions of the directory (and downwards) they are launched from in the shell.

[2020-03-04 20:36] lampenlampen opened #436 "Switch from UWP to .Net Core and WinUI"
Are there any plans to ditch the UWP model with the release of WinUI 3 and change to .NetCore 3 and WinUI?

It would allow us to maintain the modern UI and we would escape the AppContainer restrictions, which would make a lot of things simpler (see #410).

[2020-03-04 20:38] Crocodile73 commented on #410
@lampenlampen drive does the same on another PC. If i run files from a root directly it crashes still.

[2020-03-04 20:41] yaichenbaum commented on #436
There are no plans to switch to a desktop application with WinUI, however, we will definitely use WinUI 3 for the UI layer.
@duke7553 and I have spoken about it but decided against it since we pretty much got around most of the AppContainer restrictions. In addition, the file permission model has changed with 20H1. To make it short users no longer need to open settings and manually give permission

[2020-03-04 21:13] duke7553 commented on #410
FYI: There may be a fix for this in the develop branch. Please try it out and let us know.

[2020-03-04 22:57] duke7553 commented on #410
@lampenlampen @Crocodile73 I'll have a debug package prepared soon with some other fixes. If you want to try it out earlier, the potential fix is now in develop branch.

[2020-03-05 12:30] Crocodile73 commented on #410
build from source via the develop branch and it still crashes, unplugged the drive and checked build its 0.7.1.0

[2020-03-05 13:59] mrjnklva commented on #283
Upvote:)

[2020-03-05 20:59] duke7553 commented on #410
@Crocodile73 Can you run the app from Visual Studio (debug) and let us know what line it breaks on? This would really help me figure out what the issue is.

[2020-03-05 21:03] yaichenbaum commented on #413
@KaKi87 0.7 has been released on the store.

[2020-03-05 21:03] #413 closed

[2020-03-05 21:09] Crocodile73 commented on #410
@duke7553 I don't know if i have done it right but says stack trace line 14

[2020-03-05 21:16] duke7553 commented on #410
Which file?

[2020-03-05 21:16] duke7553 commented on #410
@Crocodile73 Visual Studio should highlight a line inside a specific file

[2020-03-05 21:18] duke7553 commented on #410
Could you give me the stack trace then?

[2020-03-05 21:19] Crocodile73 commented on #410
can you give me a brief how too.

[2020-03-05 21:19] KaKi87 commented on #413
Finally ! I'm looking into it right now :)

[2020-03-05 21:20] duke7553 commented on #410
Step One: Launch the app from Visual Studio in debug mode
Step Two: Wait for an exception to be displayed. It should highlight a line number.

[2020-03-05 21:22] duke7553 commented on #410
![image](https://user-images.githubusercontent.com/20365014/76026743-62782800-5efd-11ea-9bb6-093cc3e24229.png)
You'll see something like this. Just tell me what .cs file is open or send a screenshot.

[2020-03-05 21:22] yaichenbaum commented on #413
We hope to have another build soon with some bug fixes, hopefully you don't run into any before that.

[2020-03-05 21:24] Crocodile73 commented on #410
loaded .sin file in. top says debug x64 files.launcher?

[2020-03-05 21:29] KaKi87 commented on #410
I'm experiencing the same issue.

Here are screenshots of AOMEI Partition Assistant showing the external drive's properties :

![2020-03-05 22_26_10-AOMEI Partition Assistant Technician Edition](https://user-images.githubusercontent.com/21284089/76027302-b18b8080-5f30-11ea-8bb7-134b27a96b75.png)
![2020-03-05 22_26_41-AOMEI Partition Assistant Technician Edition](https://user-images.githubuserconte

[2020-03-05 21:33] KaKi87 commented on #430
I'm experiencing the same issue. Besides tabs not switching, please notice the text being cut.

[2020-03-05 21:36] yaichenbaum commented on #430
@KaKi87 Both of those issues have been fixed in the `develop` branch.

[2020-03-05 21:37] KaKi87 commented on #410
I'm also experiencing a crash when this appears :

![2020-03-05 22_33_51-Greenshot](https://user-images.githubusercontent.com/21284089/76027912-c3b9ee80-5f31-11ea-9bc4-3c3b046f0520.png)

Clicking on the `Grant Permission` button doesn't do anything.

[2020-03-05 21:44] KaKi87 commented on #413
Let's say that, at least, I get to contemplate the home screen xD

[2020-03-05 22:07] duke7553 commented on #410
@KaKi87 Please verify you're running the latest code from develop, because that is what this issue is tracking. I'm pretty sure we fixed the second bug you're encountering in the develop branch.

[2020-03-05 23:51] duke7553 commented on #410
@KaKi87 We're preparing a new APPX which should be ready soon.

[2020-03-05 23:59] yaichenbaum commented on #413
This new release is not going to be getting release notes since its a minor patch, but I will outline the basics of what's included.
- potential fix for the crash at startup
- includes a fix for the pathbar not letting you enter a custom location
- includes a fix for navigating in setting
- fixes text getting cut off in some regions

[2020-03-06 00:38] KaKi87 commented on #413
What do you mean by "not getting release notes" ?

[2020-03-06 01:24] yaichenbaum commented on #413
@KaKi87 We usually do a GitHub release for updates and include a sideload package. This time we will be skipping that and just releasing it on the store

[2020-03-06 08:22] KaKi87 commented on #413
That is against open source spirit.

[2020-03-06 10:41] Crocodile73 commented on #410
what i got was:-

files.exe!files.view_Models.SettingsViewModel.LoadTerminalApps() Line 363

[2020-03-06 17:36] yaichenbaum commented on #413
@KaKi87 The code is all available, the only difference is that it won't be recorded because it's just a minor patch.

[2020-03-06 18:58] KaKi87 commented on #413
Well, using git is pointless if you don't record even the smallest patches.

[2020-03-06 19:21] yaichenbaum commented on #413
Thank you for your feedback, I will keep this in mind and when we get a working package we will upload it 🙂

[2020-03-06 22:16] duke7553 commented on #410
@Crocodile73 I added a change that should silently prevent loading the drives that are causing this problem. The app (develop branch) should now launch and log the drive ids which cannot be loaded.

[2020-03-06 22:19] duke7553 commented on #270
@szaimen We did work to prevent reloading the extended properties of a storage item if it's not scrolled into view. Since performance has improved from these changes, I do not believe caching items is particularly useful.

[2020-03-06 22:21] duke7553 commented on #270
Please re-open this if you can find a technical rationale for for caching files and folders. For instance, what properties should be cached and how would it benefit performance?

Thanks for the great feedback. Please keep it coming!

[2020-03-06 22:21] #270 closed

[2020-03-06 22:51] szaimen opened #438 "The first opening of a new window is really slow"
**Is your feature request related to a problem? Please describe.**
I really like the speed of the files app 0.7.0 now but the first opening of a window is really slow: it takes around 3 seconds on my machine (Microsoft Surface Pro 3 with i5 on Windows 10 1909)

**Describe the solution you'd like**
would be really nice, if you would match the speed of the file explorer as well, which opens instantl

[2020-03-06 23:03] szaimen opened #439 "Right-clicking on an item in the favorites-bar crashes the app"
**Describe the bug**
Right-clicking on an item in the favorites-bar crashes the app

**To Reproduce**
Steps to reproduce the behavior:
1. open the files app
2. Right-click on an item in the favorites-bar
3. the app crashes.

**Expected behavior**
The app shouldn't crash

**Desktop (please complete the following information):**
 - OS Version: Windows 10 1909
 - App version: 0.7.0

[2020-03-06 23:06] szaimen opened #440 "Please remove the animation for loading the recent used files in the home section"
**Is your feature request related to a problem? Please describe.**
The home view feels kind of slow, because there is a slow loading animation when loading the recent used files

**Describe the solution you'd like**
They should appear instantly (don't know if that has to do with loading them...

**Describe alternatives you've considered**
Currently nothing.

**Additional context**
app version 0.7.

[2020-03-07 09:56] Crocodile73 commented on #410
@duke7553 That is working now.

[2020-03-07 18:04] duke7553 commented on #410
@Crocodile73 Glad to hear you can use the app now.

[2020-03-07 18:06] duke7553 commented on #396
This should be fixed now in develop

[2020-03-08 01:02] yaichenbaum commented on #438
Are you running the debug version I uploaded, or is it the version from the store?

[2020-03-08 01:04] yaichenbaum commented on #439
Can you confirm if this is the same issue as #429?

[2020-03-08 01:05] #396 closed

[2020-03-08 02:54] HaoTian22 opened #441 "The program will crash when using the shortcut(.lnk)"
**Describe the bug**
The program will crash when using the shortcut(.lnk)

**To Reproduce**
Steps to reproduce the behavior:
1. Double-Click on a shortcut(.lnk)
2. About 3 sec later, the program crash

**Expected behavior**
I think it can open the folder in the shortcut in the normal situation.

**Screenshots**
![image](https://user-images.githubusercontent.com/48882584/76155708-bf0c5a80-612a-11ea

[2020-03-08 03:12] yaichenbaum commented on #441
We do not support shortcut files yet, in the meantime, it's recommended to avoid opening them.

[2020-03-08 03:18] yaichenbaum commented on #440
The page itself loads pretty fast but I see what you mean with the recent items list. Perhaps we can use a fade-in animation for the list view as opposed to animating each **item** on its own in the list view.

[2020-03-08 11:54] szaimen commented on #440
Yes, that would be nice 👍

[2020-03-08 11:55] szaimen commented on #439
It seems like 👍
Closing!

[2020-03-08 11:55] #439 closed

[2020-03-08 11:56] szaimen commented on #438
I've installed the 0.7.0 version directly from github via the provisioned powershell script.

[2020-03-08 14:45] yaichenbaum commented on #438
@szaimen I would recommend getting it from the store, the launch speed should be a lot faster.

[2020-03-08 15:02] szaimen commented on #438
Ah, I haven't seen that it is finally in the store again. Yes, the version from the store is much faster 👍
Closing!

[2020-03-08 15:02] #438 closed

[2020-03-08 17:16] yaichenbaum commented on #182
We should take a look at https://docs.microsoft.com/en-us/dotnet/api/system.environment.getenvironmentvariables?view=netframework-4.8 for full support.

[2020-03-08 20:02] yaichenbaum commented on #37
I started adding strings for the ribbon in the `develop` branch, feel free to get to it on your own schedule.

[2020-03-09 21:56] duke7553 commented on #441
@yaichenbaum @HaoTian22 These will be hidden in the next version until we can properly support them.

[2020-03-09 21:58] duke7553 commented on #386
@Darhagonable This should be fixed in the next Store release. Thanks for your patience.

[2020-03-09 21:59] duke7553 commented on #37
I'll remove the milestone to reflect this being an ongoing effort

[2020-03-09 22:02] duke7553 commented on #441
@HaoTian22 We'll have proper support for viewing and opening these types of items when https://github.com/duke7553/files-uwp/issues/177 is implemented, so please subscribe to that one.

[2020-03-09 22:06] duke7553 commented on #363
@Matt98 @yaichenbaum FYI: the improvements made to item loading should make the extensions be displayed more consistently. Marking this as fixed. Please re-open if this regresses or is still problematic after the next Store release.

[2020-03-09 22:39] duke7553 commented on #352
@jeffsieu The Win32 function specified above cannot be used in a UWP app through PInvoke, so we'll have to wait on this until someone can find a good natural sorting helper class.

[2020-03-10 20:10] duke7553 commented on #225
Thank you for reporting this issue.

[2020-03-11 14:55] #430 closed

[2020-03-11 14:56] yaichenbaum commented on #430
v0.7.1 is in the process of rolling out.

[2020-03-11 14:56] #410 closed

[2020-03-11 14:56] #386 closed

[2020-03-11 14:57] #363 closed

[2020-03-11 14:57] #420 closed

[2020-03-11 14:57] yaichenbaum commented on #410
v0.7.1 is in the process of rolling out.

[2020-03-11 14:58] #441 closed

[2020-03-11 14:58] yaichenbaum commented on #386
v0.7.1 is in the process of rolling out.

[2020-03-11 14:58] yaichenbaum commented on #363
v0.7.1 is in the process of rolling out.

[2020-03-11 14:59] yaichenbaum commented on #420
v0.7.1 is in the process of rolling out.

[2020-03-11 15:00] yaichenbaum commented on #441
v0.7.1 is in the process of rolling out.

[2020-03-11 15:46] SOI7 opened #452 "Error when trying to install 7.1.0"
Running the Install.ps1 script leads to this error. I tried with both updating Files and doing a clean install

![image](https://user-images.githubusercontent.com/50930970/76435740-b086a300-63b7-11ea-9754-58e48e6fbd4b.png)

[2020-03-11 15:47] yaichenbaum commented on #452
You might need to wait for the store version to be released if the sideload package isn't working.

[2020-03-11 15:49] SOI7 commented on #452
Oh? So the VS bug that prevented you to compile Store builds is gone, I guess

[2020-03-11 15:50] yaichenbaum commented on #452
The bug is still there, but we have been able to find a temporary workaround.

[2020-03-11 16:14] WinObs commented on #452
Seeing the same issue here.
![Annotation 2020-03-11 121226](https://user-images.githubusercontent.com/40800748/76438775-d13c0200-6391-11ea-88ea-316209b1193a.png)

[2020-03-11 16:15] yaichenbaum commented on #452
It might help to restart your computer and try sideloading again.

[2020-03-11 16:58] WinObs commented on #452
Thanks for the suggestion – I did try that and received the same error. For now have installed the 0.7.0 Microsoft Store version waiting on the update to come once it is available.

Thanks.

Rich

From: Yair Aichenbaum <notifications@github.com>
Sent: Wednesday, March 11, 2020 12:16 PM
To: duke7553/files-uwp <files-uwp@noreply.github.com>
Cc: Richard Hay <richardhayjr@hotmail.com>; Comment <commen

[2020-03-11 17:03] yaichenbaum commented on #452
Sorry about the inconvenience with the sideload package. The store update is still finishing certification and will be out as soon as that is done.

[2020-03-11 18:07] Crocodile73 commented on #452
could be its the wrong file in the zip, as it says arm_arm64. may just need updating.

[2020-03-11 18:07] WinObs commented on #452
Appreciate the update. Just grabbed Quick Pad to work with in the meantime.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Wednesday, March 11, 2020 1:03:23 PM
To: duke7553/files-uwp <files-uwp@noreply.github.com>
Cc: Richard Hay <richardhayjr@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [du

[2020-03-11 20:10] duke7553 commented on #435
@lampenlampen I cannot reproduce this one with the latest develop branch changes. Can you?

[2020-03-11 20:11] yaichenbaum commented on #435
I wrapped it in a try\catch just so I can run the application but the issue is still there.

[2020-03-11 20:12] duke7553 commented on #360
This should be fixed in v0.7.1

[2020-03-11 20:13] #360 closed

[2020-03-11 20:14] duke7553 commented on #399
@deredita25 Can you please let us know if this is still an issue in the v0.7.1 Store release?

[2020-03-11 20:16] duke7553 commented on #428
#409 should have fixed this in v0.7.1. Thanks for reporting.

[2020-03-11 20:17] #428 closed

[2020-03-11 20:19] duke7553 commented on #435
@yaichenbaum
![image](https://user-images.githubusercontent.com/20365014/76460218-03f6f200-63b4-11ea-9675-a16e880c2d20.png)
This one?

[2020-03-11 20:19] yaichenbaum commented on #435
@duke7553 Yes, that is the one.

[2020-03-12 00:44] yaichenbaum commented on #251
I looked into this and I didn't see any way to do implement it using C#, does anyone have any ideas?

[2020-03-12 01:06] leyheart opened #454 "Crash when quickly moving between folders"
Example: Open the app, and just click each folder listed on the left in rapid succession. It'll crash almost instantly.

[2020-03-12 01:17] yaichenbaum commented on #454
@leyheart Thank you for reporting this issue, a potential fix for this issue will be coming when we release v0.7.2. We will make sure to let you know when that's released.

[2020-03-12 02:25] leyheart opened #455 "A video(gif) showing problems I found"
First, can you not disable "recent files" from showing? I've done that on the original File Explorer and I'd love for it to be the same way here. Second problem shown, I didn't even knew existed until I found accidentally when recording. I went to Pictures folder, clicked empty space in the folder and it sent me straight back to the Home tab. Third, which is kind of a large deal-breaker, is that y

[2020-03-12 02:27] leyheart commented on #455
One thing I wanted to add: do you have a discord server for this app?

[2020-03-12 02:54] yaichenbaum commented on #455
There is a channel for Files UWP in the [UWP Community Discord](https://discord.gg/SzpkFNU).

I need more information on what you're requesting here.

Did you click and drag the mouse very quickly? There is a gesture implemented that may be causing this issue.

- Drag and drop support is on our roadmap for the near future #88
- A selection rectangle is planned but there is no timeframe for that ye

[2020-03-12 03:02] #455 closed

[2020-03-12 03:18] leyheart commented on #455
![image](https://user-images.githubusercontent.com/62083456/76483848-1b4ed300-63e6-11ea-804f-54be4eaa5a7f.png)
I'd like to be able to remove this, and I can't find anything related to this in the settings.
And no, just as seen in the gif, I just randomly left clicked and it happened. I'm unsure what happened.

[2020-03-12 03:29] yaichenbaum commented on #455
Home page customization is on the roadmap #366. I am not able to reproduce the other error though 🤔

[2020-03-12 03:33] yaichenbaum commented on #424
This should be fixed in v0.7.1. The update is currently in certification in the Microsoft Store and assuming nothing goes wrong, it should roll out sometime tomorrow.

[2020-03-12 03:36] yaichenbaum commented on #365
@vasanthdeveloper Can we get an update on the video?

[2020-03-12 03:39] yaichenbaum commented on #318
@tzzs Can you confirm if this is still an issue in v0.7.0?

[2020-03-12 03:48] vasanthdeveloper commented on #365
I have been using the FIles app on my production computer from the time I opened this issue. The problem is that right now, we are upgrading my workstation. So, there is a gap in production. Really sorry, but I am still on my point of making a video for the app.

[2020-03-12 03:49] vasanthdeveloper commented on #365
As soon as we are back in production, this will be the first video I publish.

[2020-03-12 03:50] yaichenbaum commented on #272
I believe the issues with files taking a long time to load has been addressed. In recent versions, it is also possible to pin custom locations to the sidebar. There is an open issue for supporting hidden files #25.
If you one into any problems make sure to open an issue or upvote an existing one.

[2020-03-12 03:50] #272 closed

[2020-03-12 14:20] yaichenbaum commented on #452
v0.7.1 is no available on the Microsoft Store.

[2020-03-12 14:20] #452 closed

[2020-03-12 14:24] WinObs commented on #452
Superb – downloaded, installed and working!

From: Yair Aichenbaum <notifications@github.com>
Sent: Thursday, March 12, 2020 10:21 AM
To: duke7553/files-uwp <files-uwp@noreply.github.com>
Cc: Richard Hay <richardhayjr@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [duke7553/files-uwp] Error when trying to install 7.1.0 (#452)

v0.7.1 is no available on the Microsoft Store.

—
You

[2020-03-12 19:52] duke7553 commented on #225
@SOI7 This is now fixed in the develop branch.

[2020-03-12 19:53] #225 closed

[2020-03-12 19:58] duke7553 commented on #399
@deredita25 We made some changes with v0.7.1 which hide unsupported drives. Please reopen if this is still an issue.

[2020-03-12 19:58] #399 closed

[2020-03-12 20:00] duke7553 commented on #78
@yaichenbaum Ideally, this feature should only be visible in the context menu for image files. Has it been implemented yet?

[2020-03-12 20:07] duke7553 commented on #251
@yaichenbaum Undoing a move to recycle bin (delete) probably requires access to part of the Windows Shell.

[2020-03-12 20:10] yaichenbaum commented on #78
@duke7553 Not yet.

[2020-03-12 20:51] yaichenbaum commented on #332
@SOI7 I am not able to reproduce this is v0.7.1, can you test if this is fixed on your end as well?

[2020-03-12 20:59] SOI7 opened #456 "0.7.1 doesn't open up anymore"
After updating to 0.7.1 through the store, the app opened fine. I then tried changing the default folders for the pinned elements, and the app now crashes at startup. I even uninstalled it and reinstalled it and the startup crash still occurs, even a reboot didn't solve it

[2020-03-12 20:59] SOI7 commented on #332
I'm not able to use Files atm because of #456

[2020-03-12 21:11] SOI7 commented on #456
Yeah, no result

[2020-03-12 21:12] yaichenbaum commented on #456
Can you check the log file?

[2020-03-12 21:13] SOI7 commented on #456
Where can I access it?

[2020-03-12 21:14] yaichenbaum commented on #456
cc @lampenlampen

[2020-03-13 09:50] R3voA3 commented on #422
For me it doesn't crash, but it automatically opens the OneDrive.

[2020-03-13 09:52] R3voA3 commented on #394
In the latest version 7.1.0, most of the animations have been fixed, except the refresh icon to the left of the adress bar. It flickers every time a folder is refreshed or opened.

[2020-03-13 11:29] lampenlampen commented on #456
go to the folder %localappdata%, Packages, search there for the folder Files and there in the folder LocalState should be a file debug.txt, which contains a stacktrace.

[2020-03-13 11:43] SOI7 commented on #456
2020-03-12 22:11:07.5835|INFO|Files.App|App launched
2020-03-12 22:11:07.8719|ERROR|Files.App|The application called an interface that was marshalled for a different thread. (Exception from HRESULT: 0x8001010E)
2020-03-12 22:12:54.0941|INFO|Files.App|App launched
2020-03-12 22:12:54.4113|ERROR|Files.App|The application called an interface that was marshalled for a different thread. (Exception from

[2020-03-13 15:05] yaichenbaum commented on #422
@R3voA3 We are tracking that issue here #418.

[2020-03-13 16:13] d2dyno006 commented on #456
Maybe this is what is causing this:
https://stackoverflow.com/questions/19341591/the-application-called-an-interface-that-was-marshalled-for-a-different-thread

[2020-03-13 16:16] d2dyno006 commented on #415
It would be great to see this feature! By such it would always remind you about the app

[2020-03-13 19:28] duke7553 commented on #394
@R3voA3 Hello. This is by design because we don't want users to spam the refresh button. (which would cause unexpected behavior)

[2020-03-14 11:55] R3voA3 commented on #394
I can still spam it. I can also spam refresh by clicking at the folder quickly.

[2020-03-14 12:03] R3voA3 opened #458 "Properties dialog"
![image](https://user-images.githubusercontent.com/17484252/76681482-8a4d4700-65f3-11ea-8962-f703cfbcb9ed.png)

- Cancel button doesn't have rounded corners (Seems to be a style issue, all cancel buttons miss those)
- Icon is blurred
- Item Name property is missing the colon, but it's also incorrectly used.
- Last changed property uses an incorrect string (RecentItemClearAll.Text)
- Size and path

[2020-03-14 13:38] lampenlampen commented on #415
Scott Hanselman created a right click option for the windows terminal [link](https://github.com/shanselman/WindowsTerminalHere).

I think we could change the `inf`-file to our needs, but i have zero experience with this.

Maybe someone can have a look.

[2020-03-15 02:12] yaichenbaum commented on #394
You might be able to click on it a bunch of times, but it prevents you from clicking it too fast.

[2020-03-15 02:15] yaichenbaum commented on #458
1. This is an issue with the WinUI library and will be fixed whenever it is fixed on the WinUI end.
2. This should be easy enough to fix.

I think the other issues are all caused by localization issues, the strange thing is that we haven't done any work with localization in the properties dialog. I am wondering if that is automatically done by Windows...

[2020-03-15 02:53] yaichenbaum commented on #424
It seems that this issue carried over to v0.7.1, we have a new fix in the works that will be included with v0.7.2.

[2020-03-15 04:14] J-Cake commented on #272
I've just seen this change. Thanks so much for addressing this.

[2020-03-15 04:15] yaichenbaum commented on #272
@J-Cake I am happy to hear these changes helped.

[2020-03-15 05:08] J-Cake commented on #272
I went on a total customisation rampage. I've got custom everything. And now this explorer is capable of replacing the default one. Windows is decent once again... :P

[2020-03-15 08:58] R3voA3 commented on #458
I see, that's why I couldn't find the cause of this in the properties dialog's xaml.

[2020-03-15 10:06] tomyan112 opened #461 "Halo appearing on the selection of drives is distracting"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/9064351/76699340-78e56700-66e7-11ea-9404-b2b3bdfd3d51.png)

**Describe the solution you'd like**
Remove the halo

**Additional context**
app version 0.7.1.0

[2020-03-15 13:30] yaichenbaum commented on #461
The effect is called "reveal", and it can be found throughout Windows 10. I think the reason why it is distracting here is that it has a double effect from the item above and bellow in the list. We should spend some time improving this so it only shows reveal on the actual item that has the focus.

[2020-03-15 13:34] yaichenbaum commented on #458
@R3voA3 I am keeping this issue open until we fix the blurry icon. Even though the localization issue seems to be a Windows problem, we should still find a workaround so that's another reason to keep this issue open.

[2020-03-15 13:41] tomyan112 commented on #461
You are right, the start menu has it too. It is much thinner than the one in files uwp.

[2020-03-15 20:15] yaichenbaum commented on #415
This will launch Files UWP but not with the correct path. Feel free to play around and try to get it to do that.
[code]

[2020-03-15 21:35] yaichenbaum commented on #418
This has been fixed with 96492dd4f257ca3fc35327766e3e20d600935496. It will roll out with v0.7.2.

[2020-03-15 21:47] yaichenbaum commented on #461
The reveal effect has been toned down with d9856ebcbde16ef5e3885ba741288554174579b5. When v0.7.2 rolls out, it will include this change.

[2020-03-15 21:47] #461 closed

[2020-03-15 21:54] #424 closed

[2020-03-15 21:57] yaichenbaum commented on #454
I believe this issue is connected to #422 and #421. The behavior doesn't happen 100% of the time but it does happen occasionally. Make sure to subscribe to both of those issues to get notified when v0.7.2 is rolling out.

[2020-03-15 21:57] #454 closed

[2020-03-16 11:44] xpirad commented on #456
Does this have a fix? Now files-uwp crash on start instantly

[2020-03-16 13:00] yaichenbaum commented on #456
@xpirad Can you get us information from the log file?
You can get it by going to the folder %localappdata%/Packages, search there for the folder Files and there in the folder LocalState should be a file debug.txt, which contains a stacktrace.

[2020-03-16 13:57] xpirad commented on #456
2020-03-16 21:56:28.9082|INFO|Files.App|App launched
2020-03-16 21:56:29.1934|ERROR|Files.App|The application called an interface that was marshalled for a different thread. (Exception from HRESULT: 0x8001010E)

[2020-03-16 13:59] xpirad commented on #456
Also, windows reliability monitor shows this
![image](https://user-images.githubusercontent.com/24430064/76765383-44e67080-67d1-11ea-8c51-68744ae60be4.png)

[2020-03-16 16:10] shmykelsa commented on #456
- <Event xmlns="http://schemas.microsoft.com/win/2004/08/events/event">
- <System>
  <Provider Name="Application Error" />
  <EventID Qualifiers="0">1000</EventID>
  <Version>0</Version>
  <Level>2</Level>
  <Task>100</Task>
  <Opcode>0</Opcode>
  <Keywords>0x80000000000000</Keywords>
  <TimeCreated SystemTime="2020-03-16T15:02:15.5721883Z" />
  <EventRecordID>36209</EventRecordID>
  <Correlation

[2020-03-16 16:14] yaichenbaum commented on #456
@shmykelsa What version of Windows are you running?

[2020-03-16 16:15] shmykelsa commented on #456
19041.153

[2020-03-16 17:46] GitMoDu commented on #456
I recognize that error. Someone is updating the UI on a non-UI thread.

[2020-03-16 19:28] yaichenbaum commented on #78
This feature has been implemented and will roll out with v0.7.2.

[2020-03-16 19:28] #78 closed

[2020-03-16 23:54] yaichenbaum commented on #435
@lampenlampen Can you still reproduce this? I believe the try\catch was enough.

[2020-03-17 00:49] yaichenbaum commented on #418
This issue crept back up and it looks like it will need to be fixed differently. It is still on our roadmap to fix with v0.7.2.

[2020-03-17 10:03] TheMayhem6328 opened #462 "Compressed File Support needed"
### **Files UWP is a buggy app, but I will say that it is a beautiful one!**

Nevertheless, I it isn't a complete replacement for explorer.exe. I would be glad to see compressed file support so that I don't have to use 7-Zip or any other third-party apps to open ZIPs or 7Zs or RARs.

Apart from this, I see no other problems (except random crashes)! Keep it up, @duke7553 !

[2020-03-17 18:38] lampenlampen commented on #435
can't reproduce anymore 👍.

[2020-03-17 18:38] #435 closed

[2020-03-17 18:42] lampenlampen commented on #415
The correct commandline argument for opening a folder is `-WorkingDirectory` and not `-d`.

[2020-03-17 21:45] yaichenbaum commented on #418
This issue has been fixed, it should roll out with `v0.7.2`.

[2020-03-17 21:47] #418 closed

[2020-03-17 22:14] duke7553 commented on #462
@TheMayhem6328 Thanks for reporting this. Regarding the random crashes, what version of the app is this, and what device is this running on?

[2020-03-17 22:34] yaichenbaum commented on #462
@TheMayhem6328 The next release we are working on will fix a couple of crashes, it would be helpful to know if there are specific actions that are causing the app to crash.

[2020-03-17 22:39] yaichenbaum commented on #415
![image](https://user-images.githubusercontent.com/39923744/76908208-8123da80-687e-11ea-8835-22c3d44f81a7.png)

@lampenlampen That helped somewhat, the app is still not navigating to the right directory but it looks like we are closer than before.

[2020-03-17 22:45] yaichenbaum commented on #415
I got it working correctly.

[code]

[2020-03-18 11:42] lampenlampen commented on #415
Yeah this is a bug in https://github.com/duke7553/files-uwp/blob/1f81dc3a1555d08afc5a3d18eb0deec0f6fbd729/Files/CommandLine/CommandLineParser.cs#L45

We must not split the whitespace, if it is in a sequence surrounded by quotation marks.

[2020-03-18 15:09] yaichenbaum commented on #415
Good to know the issue is not in the `inf` file.

[2020-03-18 18:09] SJ-Shubh opened #464 "Appreciation for work"
You made me switching from classic "Explorer" to your "Files"you have most of the things that windows Explorer lacks. Yet it has some issues that I'll share here after testing it properly.

[2020-03-18 19:16] nahomebssa opened #465 "Mismatched drive names in sidebar and navigation toolbar"
**Describe the bug**
The Windows drive is named "Windows (C:)" in the sidebar, but navigating to a directory in the C: drive names the drive as "Local Disk (C:)"

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Files UWP App
2. Click on the Windows (C:) in the sidebar
3. Observe the path textbox name for the drive

**Expected behavior**
Whenever the current directory path starts with

[2020-03-18 20:45] yaichenbaum commented on #465
It goes by the drive name, if you rename the `c:` drive you should see that reflected in the sidebar.

[2020-03-19 17:01] duke7553 commented on #464
@SJ-Shubh Thanks. I'll look forward to seeing your follow up feedback!

[2020-03-19 17:01] #464 closed

[2020-03-19 17:09] duke7553 commented on #422
I can't repro this with the changes in develop,

[2020-03-19 17:51] nahomebssa commented on #465
After a fresh install, the default behavior the user would expect is consistent naming, without manually renaming the drive.

[2020-03-19 17:52] duke7553 commented on #465
@nahomebssa We hear you, and this is on the roadmap to be fixed.

[2020-03-19 18:32] yaichenbaum commented on #465
@nahomebssa I am sorry that I wasn't clear, I meant that the sidebar would reflect whatever you have set in the system. On a fresh install, the c: drive is named `Local Disk`. It could be there are different factors that affect this and that you see something else.
In any case, as @duke7553 said, it is on our roadmap to fix and we will make the sidebar and pathbar be consistent in this area.

[2020-03-19 20:17] carmellolb opened #466 "Please add inset (projecting from the main content onto the left pane) shadow to sidebar"
Michael West's concepts included this and it was perfect.

Add an inset shadow to the sidebar, it will assist with visual hierarchy and will look more visually appealing as well.

screenshot: https://mspoweruser.com/wp-content/uploads/2019/03/File-Explorer-1.jpg

[2020-03-19 20:21] carmellolb opened #467 "Add more leading (vertical line space) between items on the sidebar"
The current sidebar looks very cramped with the items so close together.

The older version of Files UWP had more space between the items.

[2020-03-19 20:25] yaichenbaum commented on #467
I personally like the compact view, even in the compact view, the items in the list are about 20% bigger than the sidebar items in File Explorer.
I am marking this as a discussion so we can get other users feedback on this area.

[2020-03-19 20:32] yaichenbaum commented on #466
@duke7553

[2020-03-19 21:19] Ryan-Efendy opened #468 "WIN + E keyboard combination to open files-uwp"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Shortcut/hotkey pressing WIN + E open files-uwp vs. files explorer

[2020-03-19 21:39] yaichenbaum commented on #468
You can already do this with existing keyboard remapping software, but I will see if there is an easier way to get this set up 🙂

[2020-03-20 01:34] yaichenbaum commented on #324
A fix should roll out with v0.7.2, we will make sure to let you know when that happens.

[2020-03-20 01:34] #324 closed

[2020-03-20 02:57] yaichenbaum commented on #37
I started adding strings for the sidebar. Make sure to update all your translations so you can get the best experience when we roll out the next update 🙂

[2020-03-20 10:24] R3voA3 opened #470 "RecentItemOpenFileLocation.Text is interchanged with RecentItemDescription.Text"
![image](https://user-images.githubusercontent.com/17484252/77155135-61b6c880-6a9d-11ea-974b-4d2d3808b8d9.png)

[2020-03-20 14:58] yaichenbaum commented on #470
Thank you for reporting this issue.

[2020-03-20 16:04] duke7553 commented on #456
Thank you everyone for your continued patience. We're working hard to get a very promising fix for this bug out soon.

[2020-03-20 16:32] duke7553 commented on #456
This has been confirmed as fixed by a tester.

[2020-03-20 19:07] yaichenbaum opened #472 "Strange animation when clicking on items on the sidebar in v0.7.2"
There is a strange animation when clicking on items in the sidebar, this only affects the first tab that is loaded.
The animation issue is because we are using a WinUI pre-release. It should be fixed with a future WinUI update.

[2020-03-20 19:12] yaichenbaum commented on #332
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:12] #332 closed

[2020-03-20 19:12] yaichenbaum commented on #421
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:12] #421 closed

[2020-03-20 19:12] yaichenbaum commented on #422
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:12] #422 closed

[2020-03-20 19:13] yaichenbaum commented on #456
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:13] #456 closed

[2020-03-20 19:13] yaichenbaum commented on #429
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:13] #429 closed

[2020-03-20 19:15] yaichenbaum commented on #324
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:15] yaichenbaum commented on #418
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:16] yaichenbaum commented on #435
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:16] yaichenbaum commented on #78
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:17] yaichenbaum commented on #424
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:18] yaichenbaum commented on #461
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:18] yaichenbaum commented on #225
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:21] yaichenbaum commented on #419
This should be fixed with the [v0.7.2](https://github.com/duke7553/files-uwp/releases/tag/v0.7.2) release, which is currently in certification in the Microsoft Store.

[2020-03-20 19:22] #193 closed

[2020-03-20 19:25] duke7553 commented on #193
We will consider your feedback in the future when tailoring Files to future form factors.

[2020-03-20 19:38] duke7553 commented on #279
I think since we've fixed most of this bug by shifting the tabs up, there's no need to put any more time into it. Also, we designed the app to have a drag region always visible to the left of the caption buttons.

[2020-03-20 19:38] #279 closed

[2020-03-20 20:46] xPoppyx opened #473 "Unexpected "previous" gesture"
EDIT: There is a gesture to go to the previous directory, and sometimes you do it accidentally and it could be annoying

**Files v0.7.2**

[2020-03-20 21:08] yaichenbaum commented on #473
This is because of a swipe gesture that lets you use a touch screen to go back to the previous directory. We will need to look into a replacement that is more accurate and won't cause the unexpected behavior you noticed.

[2020-03-20 21:57] xPoppyx commented on #473
So, it is not a bug I suppose, besides that the scroll bar is not related to this at all, just an unexpected "gesture"

[2020-03-20 22:15] #394 closed

[2020-03-20 22:20] duke7553 commented on #357
@moutasem1989 Just tested this in the next version of Files (v0.7.2) due to enter the Store, and it looks like we fixed this. Please reopen if you can still reproduce this after v0.7.2 enters the Store.

[2020-03-20 22:20] #357 closed

[2020-03-20 22:29] duke7553 commented on #368
Hello!
I plan on reviewing this bug for the next cycle (v0.7.3), and just wanted to thank you for the very detailed bug report you've filed.

[2020-03-21 00:05] R3voA3 commented on #458
This seems to be fixed except for the blurry icon.

[2020-03-21 11:54] SOI7 opened #474 "Apparently not able to use folders in another drive as replacements for Music and Videos"
**Describe the bug**
I have my songs and videos in another HDD that isn't C:, but when I change the path of common locations in Files it ignores the new paths and still opens the Music and Videos folders in C:

**To Reproduce**
Go to Settings, enable "Replace common locations", change the default path of Music/Videos to another folder that isn't in C:

**Desktop:**
 - Windows 10 1909
 - App versio

[2020-03-21 14:47] Spyromaniac31 opened #475 "App crashes upon opening"
**Describe the bug**
The app crashes within seconds of being opened, regardless of where I open it from. For those split-seconds that it is opened, the mouse cursor has the blue wheel next to it.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files UWP from the Start Menu or Search.
2. The app hangs for a little and then crashes

**Expected behavior**
The app opens and remains open dur

[2020-03-21 15:17] szaimen commented on #279
I would like to test this out. How long will it take until 0.7.2 is available over the store?

[2020-03-21 16:42] duke7553 commented on #475
@Spyromaniac31 This will be fixed in v0.7.2 which is in certification now.

[2020-03-21 16:42] #475 closed

[2020-03-21 17:40] duke7553 commented on #279
@szaimen The update is currently in certification, so this may take anywhere from 1-2 days.

[2020-03-22 00:56] yaichenbaum commented on #473
@xPoppyx Correct, we want to include gestures in the app but we need to make sure they don't have any side effects.

[2020-03-22 01:00] yaichenbaum commented on #474
Thank you for opening this issue.

[2020-03-22 02:55] yaichenbaum commented on #282
Thank you for opening this issue.

[2020-03-22 02:59] yaichenbaum commented on #276
Thank you for opening this issue, unfortunately, this is out of control and it's a behavior of the Windows Community Toolkit DateGrid control. The good news is WinUI is working on a brand new DataGrid control that will improve the behavior in many areas. I am linking to the issue [here](https://github.com/microsoft/microsoft-ui-xaml/issues/1500#issuecomment-582248175) so you can add your feedback

[2020-03-22 02:59] #276 closed

[2020-03-22 03:00] yaichenbaum commented on #258
Thank you for opening this issue.

[2020-03-22 03:00] yaichenbaum commented on #211
Thank you for opening this issue.

[2020-03-22 03:01] yaichenbaum commented on #331
Thank you for opening this issue.

[2020-03-22 03:03] yaichenbaum commented on #325
Thank you for opening this issue. You should already be able to hide extensions for known file types. We will look into supporting the other options requested in the future.

[2020-03-22 03:03] yaichenbaum commented on #309
Is this still an issue in v0.7.2?

[2020-03-22 03:03] yaichenbaum commented on #285
Thank you for opening this issue.

[2020-03-22 03:05] yaichenbaum commented on #405
Closing this issue due to inactivity, please reopen it if you have more information.

[2020-03-22 03:05] #405 closed

[2020-03-22 03:06] yaichenbaum commented on #370
Closing this due to inactivity, please reopen it if it is still an issue in v0.7.1.

[2020-03-22 03:06] #370 closed

[2020-03-22 10:01] szaimen commented on #276
@yaichenbaum would you suggest to like the comment that you have linked? So is the comment already covering this issue here?
Or should I add a comment there?

[2020-03-22 17:01] duke7553 commented on #275
We've made changes for v0.7.3 that will make this behavior more consistent.

[2020-03-22 18:02] yaichenbaum commented on #276
@szaimen You should probably add a comment there.

[2020-03-22 22:48] Uxusk1 opened #476 "Application does not launch at all! HELP"
**Describe the bug**
I installed it from the MS Store, but when done I launch opens and immediately crashes!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Microsoft Store'
2. Click on 'Get, Install'
3. Click on 'Windows Key'
4. Find 'Files UWP BETA'
5. Open the application

**Expected behavior**
Expected to launch and let me browse through my files, but didn't

**Screenshots**
No Sc

[2020-03-22 22:54] duke7553 commented on #476
@Uxusk1 Hello there. This is fixed already and will come soon, as the update is in certification.

[2020-03-22 22:56] duke7553 commented on #476
FYI, building from source code will include the fix, if you don't want to wait.

[2020-03-22 22:56] #476 closed

[2020-03-23 06:13] nainardev opened #477 "Usage in Windows 8"
Is it possible?

[2020-03-23 13:11] yaichenbaum commented on #477
There are no plans to support earlier versions of Windows.

[2020-03-23 15:05] #477 closed

[2020-03-23 16:03] rashil2000 commented on #424
Looks like many of them are still unavailable.

[2020-03-23 16:04] yaichenbaum commented on #424
@rashil2000 Can you clarify what you mean by unavailable?

[2020-03-23 16:06] rashil2000 commented on #424
The options are greyed out.

![Screenshot (189)](https://user-images.githubusercontent.com/46838874/77336996-51794480-6d4e-11ea-9e41-627b25e17498.png)
![Screenshot (191)](https://user-images.githubusercontent.com/46838874/77337002-53430800-6d4e-11ea-95cd-b81d29618fdb.png)
![Screenshot (190)](https://user-images.githubusercontent.com/46838874/77337004-53db9e80-6d4e-11ea-9d84-03bc5ecdefad.png)

[2020-03-23 16:08] yaichenbaum commented on #424
The options that are grayed out are ones that have not been implemented but are coming in the future.
I am not sure why the OneDrive option is not enabled for you but I will do some investigations.

[2020-03-23 16:14] rashil2000 commented on #424
Okay.
By the way I have the OneDrive app installed too.

[2020-03-23 16:15] yaichenbaum commented on #424
It shouldn't make a difference, the only thing that toggle does is remove the OneDrive option from the sidebar.

[2020-03-23 17:44] nafan25 commented on #309
No - Files UWP - Preview loads the offline folder cache saved in the file system that File Explorer reads.

[2020-03-23 18:02] rashil2000 commented on #424
I noticed very strange behavior here.
I reinstalled the app. The OneDrive option was already there this time. Clicking on it just crashed the app.
Also, when I switched the Date format in Settings to System, the OneDrive sidebar option disappeared. 😐

[2020-03-23 19:24] yaichenbaum commented on #424
@rashil2000 Would you be able to get information from the log file so we can investigate this?

[2020-03-23 19:27] yaichenbaum commented on #309
Thank you for letting us know, please reopen if the issue comes up again.

[2020-03-23 19:27] #309 closed

[2020-03-23 20:33] duke7553 commented on #424
@rashil2000 Do you have the classic OneDrive app installed or the Microsoft Store one?

[2020-03-23 22:59] Spyromaniac31 commented on #472
I have the same issue. Windows Insider build 19587.
[Files UWP - Preview 2020-03-23 16-56-49.zip](https://github.com/duke7553/files-uwp/files/4372277/Files.UWP.-.Preview.2020-03-23.16-56-49.zip)
 Here is a video:

[2020-03-23 23:36] yaichenbaum commented on #472
This is a known issue due to using a pre-release for WinUI, we decided to go through with v0.7.2 even though it has this issue since it contained many bug fixes. This issue should be fixed with a future WinUI release.

[2020-03-24 01:14] yaichenbaum commented on #242
In recent versions of Files UWP, you can turn off the OneDrive integration if you don't want it.

[2020-03-24 05:43] totolouis opened #478 "Non-default user folder location"
**Describe the bug**
When the location of users folders are different than the default one (not on the C: disk), the message "folder you've navigated to was not found.".

**To Reproduce**
Steps to reproduce the behavior:
1. Change the location of a default user folder (like `Downloads`)
2. Go to `Downloads` default folder in files-uwp.
3. See error

**Expected behavior**
Redirect to the good file

[2020-03-24 06:00] totolouis commented on #478
They were 2 different values for some user folder inside the registry. It seems that it can not handle more than 2 values for one registry.

Solution : delete the bad entries or delete both and remove the deleted user folder.

[2020-03-24 06:00] #478 closed

[2020-03-24 11:52] Crocodile73 opened #479 "Crashing when entering a folder"
**Describe the bug**

Crash everytime you try and open folder on the main Windows C Drive

**To Reproduce**
Steps to reproduce the behavior:
1. Open App
2. Click on C Drive folders
3. App crashes
4. Only on C Drive

**Expected behavior**

Expected to enter into files, to view content

.**Desktop (please complete the following information):**
 - OS:  Windows 10 1909 18363.752]
 - App version: [v0.7

[2020-03-24 14:48] rashil2000 commented on #424
@rashil2000 Sure, I'll be happy to help. I just don't know how to get those logs. Can you tell how?

@duke7553 I think I have the Store version, since in the Store I can see it installed, and in the Control Panel I can't see it. Is there any other way to check?

[2020-03-24 15:26] yaichenbaum commented on #479
Thank you for opening this issue. Would you be able to share the log file here for additional information? You can get it by going to the folder %localappdata%/Packages, search there for the folder Files and there in the folder LocalState should be a file debug.txt, which contains a stacktrace.

[2020-03-24 15:26] yaichenbaum commented on #424
You can get the log file by going to the folder %localappdata%/Packages, search there for the folder Files and there in the folder LocalState should be a file debug.txt, which contains a stacktrace.

[2020-03-24 15:45] duke7553 commented on #424
@rashil2000 Yep. Our app is only compatible with the version of OneDrive that ships with Windows instead of the Store app.

Please download this here: https://products.office.com/en-us/onedrive/download

[2020-03-24 15:46] duke7553 commented on #424
If you want to see if the correct version of OneDrive is installed, check the system tray for the icon
![image](https://user-images.githubusercontent.com/20365014/77446715-2120bd00-6dc5-11ea-8767-a857c4236046.png)

[2020-03-24 15:50] Crocodile73 commented on #479
@yaichenbaum

2020-03-24 15:47:38.1620|INFO|Files.App|App launched
2020-03-24 15:47:38.0590|INFO|Files.Filesystem.DrivesManager|Drive added: T:\, Removable
2020-03-24 15:47:38.0590|WARN|Files.Filesystem.DrivesManager|UnauthorizedAccessException: Attemting to add the device, Portable SSD T3, failed at the StorageFolder initialization step. This device will be ignored. Device ID: \\?\STORAGE#Volume#

[2020-03-24 17:09] rashil2000 commented on #424
`
2020-03-24 22:29:02.1329|INFO|Files.App|App launched
2020-03-24 22:29:04.2303|ERROR|Files.App|Value cannot be null.
Parameter name: path
2020-03-24 22:30:27.5235|INFO|Files.App|App launched
2020-03-24 22:30:45.3662|INFO|Files.App|App launched
2020-03-24 22:31:22.9186|INFO|Files.App|App launched
2020-03-24 22:32:05.4078|INFO|Files.App|App launched
2020-03-24 22:32:19.5099|INFO|Files.App|App launc

[2020-03-24 18:20] duke7553 commented on #424
@rashil2000 For OneDrive functionality to work in Files, please download the program linked above.

[2020-03-25 11:58] MaxVonMustermann commented on #473
I personally like the idea of gestures, but I also met some inconviniences like it being triggered too easily with a mouse. For future releases, I would appreciate, if those gestures could optionally be turned off/customized. Regarding customization, it would be cool if the user could navigate between tabs when swiping, rather than going back and forth. This would especially be useful when using a

[2020-03-25 22:21] yaichenbaum commented on #37
I added the strings for the brand new Extract Files dialog. The actual feature is still a work in progress but it's working really nicely so far!

[2020-03-26 01:12] szaimen commented on #279
I've tested 0.7.2 and this behaiour hasn't changed since 0.6.5 version:

But if you think that are enough spaces to grab te window, then I am fine with it. 👍

[2020-03-26 16:30] sladkOy commented on #37
I am very sorry, I can not help with the translation of the application. Use Google translator to translate into my languages

[2020-03-26 16:34] yaichenbaum commented on #37
@sladkOy Unfortunately that won't work since many strings depend on the context of where it is being used and require's a human to translate accordingly.

[2020-03-26 18:38] duke7553 commented on #479
@Crocodile73 @yaichenbaum I can't repro this one.

[2020-03-26 18:47] Crocodile73 commented on #479
@duke7553 Its that SSD external drive again. I have removed it from the machine.

[2020-03-26 22:28] carmellolb commented on #466
Just want to point out that Microsoft actually uses this on the new File Explorer that is being developed, which you can see in the app in Windows 10X and the image that MS showed of it on the redesigned Windows 10 in the video last week showcasing the new UI.

[2020-03-26 22:30] yaichenbaum commented on #466
@carmellolb The video the showed was just a concept, the actual File Explorer looks very different than that and will likely end up looking more like the OneDrive website. In any case, we will be closely watching development on that end and take inspiration. I will also explore adding a shadow to the sidebar to see how it looks.

[2020-03-26 22:34] carmellolb commented on #466
okay, and also keep in mind that a standard shadow would mess up the visual hierarchy, instead, an inset shadow (like I mentioned before) would be better in my opinion.

PS - the File Explorer w/ the inset shadow wasn't just on the concept, it is also currently present in the new app in Windows 10X

[2020-03-27 01:46] yaichenbaum commented on #466
![image](https://user-images.githubusercontent.com/39923744/77712755-1d4e8f80-6fab-11ea-8d28-0d50206d5b80.png)

Let me know what you think. Personally I think it looks kind of crowded gives the appearance of too many layers.

[2020-03-27 02:16] carmellolb commented on #466
I strongly disagree, I think this is perfect! This is what Microsoft seems to be going for in their concepts, and it’s no wonder. It provides visual hierarchy, because users’ attention should be drawn to the main content and using this kind of shadow in this manner does just that. It makes it appear as if it is recessed, which is ideal. In my opinion, this is perfect.

[2020-03-27 03:56] ACoderWu opened #484 "A severe experiencing bug in the sidebar"
**Describe the bug**
The experience is greatly affected by the fact that each click flashes as me switch directories in the sidebar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'new table'
2. Click on 'any directory in the sidebar'
3. See error

**Expected behavior**
Toggle the effect normally

**Screenshots**
https://ae04.alicdn.com/kf/Haa5b0f0d82514b6abac9441a5eaeca256.png

**Desk

[2020-03-27 13:35] yaichenbaum commented on #484
This was a known issue before we shipped v0.7.2. It is due to the specific version of WinUI we are using, but we decided to go through with it anyways since v0.7.2 included many other bug fixes. We are tracking this issue in #472.

[2020-03-27 13:35] #484 closed

[2020-03-27 16:46] lampenlampen commented on #415
I also found this repo:
https://github.com/kerol2r20/Windows-terminal-context-menu

It uses a powershell script instead of a inf file.

[2020-03-27 17:58] yaichenbaum commented on #415
I started adding pages to the Files UWP wiki, would you be interested in adding this to the page that explains how to use the inf file?

[2020-03-27 19:40] duke7553 commented on #479
@Crocodile73 Does this crash still occur without that drive?

[2020-03-27 20:04] duke7553 commented on #465
This will be fixed in v0.7.3 with https://github.com/duke7553/files-uwp/commit/840d50636ad83db34f080c4b770faca992b6a5db

[2020-03-27 20:06] Crocodile73 commented on #479
@duke7553 no crash, once it's removed.

[2020-03-27 20:07] duke7553 commented on #466
@carmellolb Is there anything else about the Windows 10X design that would add value to the app? Also, is there anything about our current design which seems redundant or poorly designed? Which design is better?

[2020-03-27 21:45] yaichenbaum commented on #466
Changes will roll out with v0.7.3 to address this issue.

[2020-03-27 21:45] #466 closed

[2020-03-28 18:23] duke7553 commented on #303
This will be addressed soon, so I'll close this now. If you noticed anything not mentioned here, please open a feedback item for it. Thanks!

[2020-03-28 18:23] #303 closed

[2020-03-28 18:25] duke7553 commented on #294
Please open a specific feedback item for each issue in the future, thanks!

[2020-03-28 18:25] #294 closed

[2020-03-29 14:44] ewandalen opened #486 "New Folder creation looses focus with each letter"
**Describe the bug**
The text box in the Create new folder dialog keeps losing focus after every character is typed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Select any folder and right click
3. Select 'New', then select 'Folder'
4. Start typing the folder name.
5. The textbox will lose focus and you have to click on it again to type the next character.

**Expected beh

[2020-03-29 14:50] yaichenbaum commented on #472
Changes that address this will roll out with v0.7.3.

[2020-03-29 14:50] #472 closed

[2020-03-30 01:57] yaichenbaum commented on #193
@Darhagonable
![image](https://user-images.githubusercontent.com/39923744/77868181-34d68400-7208-11ea-8ab9-d184a9fa8922.png)

[2020-03-30 04:45] ygorcortes commented on #193
@yaichenbaum this seems awesome and I can't wait! Thank you!

[2020-03-30 08:02] Darhagonable commented on #193
@yaichenbaum Awesome! thank you!

[2020-03-30 10:49] NellPoi opened #488 "Can't display other drives"
**Describe the bug**
My computer can only display one drive,but I have a total of 6 drive letters, others devices **cannot be displayed**

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the program
2. Authorize file management permissions

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/16631927/77903818-1

[2020-03-30 11:26] Phil4102 commented on #281
If you were to add this bar, could you also add a label that would show the total size of the folder or selected documents/items?

[2020-03-30 12:27] Crocodile73 commented on #488
@NellPoi you really need to try 0.7.2 version

[2020-03-30 12:35] NellPoi commented on #488
I tried and the problem still exists
Version:0.7.2.0
![image](https://user-images.githubusercontent.com/16631927/77912835-df60ac80-72c5-11ea-8f2a-1f74492d44e3.png)

[2020-03-30 15:02] yaichenbaum commented on #488
Drives that cannot be loaded for whatever reason will not be displayed in Files UWP. In the future, we should probably look into supporting more drives.

[2020-03-30 16:11] yaichenbaum commented on #281
@Phil4102 The status bar is in its early stages, we will explore the behavior you suggested when we spend more time on this control.

[2020-03-30 18:23] duke7553 commented on #488
@yaichenbaum To confirm this we should probably have them post their log file.

[2020-03-30 18:32] NellPoi commented on #488
So where is the log..? I also found that when I DblClick to open any folders, it will causes a crash（100%），I can't view subfolders of any folders on this program

[2020-03-30 18:34] yaichenbaum commented on #488
@NellPoi Did you give Files UWP files permissions?

[2020-03-30 18:36] NellPoi commented on #488
Of course
![image](https://user-images.githubusercontent.com/16631927/77948715-6890d700-72f8-11ea-9c32-4c7c0fcb5fa5.png)

[2020-04-01 23:05] xpirad opened #491 "[Feature Request] Add hash value in file properties"
File uwp is very good but i think it's missing one feature, that is displaying hash value of files
![image](https://user-images.githubusercontent.com/24430064/78194541-0bd81c80-74b0-11ea-9140-b29fc5fbc799.png)

In windows explorer, this can be achieved by installing an extension called hashtab
![image](https://user-images.githubusercontent.com/24430064/78194590-2e6a3580-74b0-11ea-8a8a-d26e440e58f1

[2020-04-01 23:11] xpirad opened #492 "[Bug Report] files-uwp crash when entering "py" in address bar"
Demonstration:
![image](https://user-images.githubusercontent.com/24430064/78194837-c6681f00-74b0-11ea-8f71-a37e4c170423.png)

I don't know why, but it doesn't crash every single time, just from time to time

Expected behavior:
Start python in the current directory
![image](https://user-images.githubusercontent.com/24430064/78194963-18a94000-74b1-11ea-81c4-0cda04bcb753.png)

[2020-04-01 23:33] yaichenbaum commented on #492
Did you try adding a profile for python? We currently do not support opening terminal shells from the address bar but you can add a terminal profile that will let you right-click in the directory and open the default terminal from there.

[2020-04-01 23:36] yaichenbaum commented on #491
Thank you for opening this issue. This feature would definitely come in handy, it shouldn't be so hard to add this since there are APIs already built into C# for this.

[2020-04-02 01:38] xpirad commented on #492
Thanks for the info, i will try that!

[2020-04-02 01:38] #492 closed

[2020-04-02 01:39] xpirad commented on #491
Thanks! That would be nice!

[2020-04-02 01:42] xpirad commented on #492
@yaichenbaum although, i think there should be some error-handling to prevent the crash. You know, in case user put in some strange stuff in the address bar

[2020-04-02 01:55] yaichenbaum commented on #492
There actually is error handling, that is why that message comes up. I am not sure why it is sometimes crashing.

[2020-04-02 02:02] xpirad commented on #492
yeah, i guess that's weird. It crashed 2 out of 5 times in my test

[2020-04-02 14:54] GavinYou082 opened #493 "Delete file command is triggered when renaming files"
**Describe the bug**
When renaming a file, deleting letters in the file name triggers the Delete File command with the confirmation dialog popped up.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a file
2. Click on the file name to rename the file
3. Press 'Delete' in the TextBox showing the file name
4. Delete confirmation dialog is shown

**Expected behavior**
Delete command shoul

[2020-04-02 14:55] yaichenbaum commented on #493
Thank you for opening this issue.

[2020-04-02 19:17] yaichenbaum commented on #493
This has been fixed with dd118dcc066031bfeb13682a86c1b1fc82ee974f and will roll out with the v0.7.3 release.

[2020-04-02 19:17] #493 closed

[2020-04-02 19:24] yaichenbaum commented on #275
This should be fixed when the v0.7.3 release rolls out.

[2020-04-02 19:24] #275 closed

[2020-04-02 19:25] yaichenbaum commented on #465
This should be fixed when the v0.7.3 release rolls out.

[2020-04-02 19:25] #465 closed

[2020-04-02 19:27] yaichenbaum commented on #473
Due to the inconsistent behavior of this gesture, it will be removed when the v0.7.3 release is rolled out. We will explore adding new gestures in the future, but only when we are confident that it won't cause any unexpected side effects.

[2020-04-02 19:27] #473 closed

[2020-04-02 19:33] yaichenbaum commented on #374
@tomyan112 Can you check if you can still reproduce this? I haven't been able to reproduce this in the upcoming v0.7.3 release.

[2020-04-02 19:36] yaichenbaum commented on #474
@SOI7 What happens if instead of replacing the locations from the settings page in Files UWP, you change the actual library location in Windows? This should fix the issue and will also make sure you have a consistent experience with file dialogs throughout other applications in Windows.

[2020-04-02 19:40] yaichenbaum commented on #281
A very basic implementation will be included with the v0.7.3 release. We don't have a timeline for when this control will be fully functional but we will work on improving it over the next few releases.

[2020-04-02 19:44] SOI7 commented on #474
I can't do that. I have an SSD with limited GBs as my OS drive and an external HDD for bigger files, so I always try to have all my non necessary files on the HDD

[2020-04-02 19:45] yaichenbaum commented on #379
In the upcoming release, we will be replacing the ribbon with a modern navigation toolbar. This new toolbar is still in its early stages and will see improvements in future releases. With the new changes, this issue is no longer relevant. You can get an early look at these new changes with the included screenshot.

![image](https://user-images.githubusercontent.com/39923744/78294706-d0ae0b80-74f8-

[2020-04-02 19:47] yaichenbaum commented on #474
You don't need to move the files, from Files Explorer you can set a custom location for the library folders and Files UWP with automatically use that new location.
![image](https://user-images.githubusercontent.com/39923744/78294911-2d112b00-74f9-11ea-9dc2-b09ae14e7eaa.png)

[2020-04-02 19:48] SOI7 commented on #474
Ah, now I see. Then let me test this

[2020-04-02 19:48] #379 closed

[2020-04-02 20:14] SOI7 commented on #474
Changing the save location for libraries, like that article suggested, doesn't solve the issue. Files still uses the Library stored in C:

[2020-04-02 22:07] yaichenbaum commented on #474
Did you turn off the setting to use custom locations in the settings page of Files UWP?

[2020-04-02 22:08] SOI7 commented on #474
Yeah

[2020-04-02 22:10] yaichenbaum commented on #474
There is a potential fix coming in v0.7.3 but you will need to reset the app to test it. Sorry about the inconvenience.

[2020-04-03 02:09] tomyan112 commented on #374
It has been fixed.

[2020-04-03 03:15] yaichenbaum commented on #365
@vasanthdeveloper Do you have a time-frame?

[2020-04-03 03:21] Bdeciduous opened #494 "鼠标无法划选多个文件、文件夹"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-03 03:49] yaichenbaum commented on #374
@tomyan112 Thank you for the update.

[2020-04-03 03:49] #374 closed

[2020-04-03 03:54] yaichenbaum commented on #494
We are tracking a selection rectangle in #94.

[2020-04-03 03:54] #494 closed

[2020-04-03 03:54] yaichenbaum commented on #494
Thank you for opening this issue. We are tracking a selection rectangle in #94.

[2020-04-03 08:32] bhupathi189 opened #496 "Icon Layout is not working"
**Describe the bug**
Icon Layout is not working. Whatever the layout model is we chose, items are still in list layout only.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'View'
2. Click on 'Layout Mode'
3. Scroll down to 'Icons'
4. See error (the files don't change into icons mode)

**Expected behavior**
The files must change into icons from list layout.

**Screenshots**
If applicab

[2020-04-03 09:11] vasanthdeveloper commented on #365
@yaichenbaum The plan was to get new equipment by April 6th. But :frowning_face: due to COVID-19 both India & America are under lockdown and I can't ship my new equipment. Really :cry: disappointed to say this. But I can't make the video in the near future. Although I am watching the app development.

I am closing the issue now as I will notify you once I get back into production :frowning:

[2020-04-03 09:11] #365 closed

[2020-04-03 10:18] Phil4102 commented on #281
Thank you for considering my feedback. Its' a feature that doesn't exist in the native File Explorer, and it would be really easy to view the size of selected items or the current file path.

[2020-04-03 13:25] yaichenbaum commented on #365
@vasanthdeveloper Thank you for letting us know.

[2020-04-03 13:28] yaichenbaum commented on #496
Thank you for opening this issue. Layout modes is not yet implemented. We are tracking this issue in #214.

[2020-04-03 13:28] #496 closed

[2020-04-03 16:15] yaichenbaum commented on #37
The v0.7.3 release is almost ready, there are multiple new strings that need to be translated. The majority of the basic application now has strings. I am aware that some dialog's are still missing strings, if you notice something that is missing strings, please mention it in this issue.

[2020-04-03 16:22] R3voA3 commented on #37
Are you sure my last translations were merged into the developement branch? I think I am translating some of them for the second time now. @yaichenbaum

[2020-04-03 16:32] yaichenbaum commented on #214
Layout modes will be be available when the v0.7.3 release rolls out.

[2020-04-03 16:32] #214 closed

[2020-04-03 17:59] yaichenbaum commented on #37
It was caused by the replacement of the ribbon control.

[2020-04-03 22:36] EmiyaBestBoy opened #499 "Fluent Terminal Support?"
I know you added open in terminal support but you could explain to me how I could possibly add Fluent Terminal as an option? Fluent Terminal is a UWP app just like this one. I don't know what path or argument I should put.

[2020-04-03 23:15] yaichenbaum commented on #499
cc @lampenlampen

[2020-04-04 14:21] konsyr11 opened #504 "No access to Windows Drive"
**Describe the bug**
The explorer will not show drive C:\ in the drives list, the related option in Settings is grayed out, and trying to type the path manually returns an "Access Denied" error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Files UWP
2. Click on the path bar
3. Type "C:\" and press Enter
4. See error

**Expected behavior**
Drive C:\ opens up and I can see the files.

[2020-04-04 14:22] konsyr11 commented on #504
Let me also add that I am the computer administrator, and the computer does not belong in a domain/network, so no special security policies apply.

[2020-04-04 19:28] lampenlampen commented on #499
According to https://github.com/felixse/FluentTerminal/pull/194:

[code]

[2020-04-05 00:47] FinlayDaG33k commented on #317
Hii there,

I don't want to sound rude but is there any ETA on this?
I want to give it a good spin but since most of the things I do are done on network drives, I can't currently do so :(

[2020-04-05 01:09] yaichenbaum commented on #317
@FinlayDaG33k Thank you for letting us know this is important for you. We currently have 80 open issues and are working as fast as we can to address them. We don't have any timeline on this feature, but we will update this issue when it's available.

[2020-04-05 01:26] yaichenbaum commented on #504
Have you given Files UWP access to the file system on your device?

[2020-04-05 02:21] duke7553 commented on #317
@jamescadd @FinlayDaG33k We recently changed the way we access storage items for better performance, and (in my testing) locations mapped through Windows explorer should work on v0.7.3 and appear in the sidebar.

We're looking to improve this experience, so testing v0.7.3 once it makes it to the Store will really help us.

Thanks!

[2020-04-05 10:09] FinlayDaG33k commented on #317
Great to hear that this hasn't gone unnoticed :)
I'll be waiting for 0.7.3 and see if it will show me what I need.

Anyhow, thanks for making this project, I don't like the default explorer (it's slow and keeps becoming unresponsive yay)

[2020-04-05 13:59] lampenlampen commented on #499
@EmiyaBestBoy does it work?

[2020-04-05 15:31] yaichenbaum commented on #467
This will be addressed when v0.7.3 rolls out.

[2020-04-05 15:31] #467 closed

[2020-04-05 15:34] yaichenbaum opened #507 "Add more options when right click for create new files, for example new -> new world docx file"
We should pull a list of options from the registry and display them in the right click context menu.

[2020-04-05 15:36] yaichenbaum commented on #423
1. We are tracking this issue in https://github.com/duke7553/files-uwp/issues/507
2. Can you open a new issue for this with more information?
3. You can use QuickLook if you have it installed to preview files by pressing the space bar.
4. You can pin folders to the sidebar by right clicking on them and pressing pin to sidebar.

[2020-04-05 15:36] #423 closed

[2020-04-05 15:38] yaichenbaum commented on #415
@lorisobi I hope the `inf` file helps you. I am going to be closing this issue now, but feel free to open a new one if you have any other feedback.

[2020-04-05 15:38] #415 closed

[2020-04-05 15:41] yaichenbaum commented on #318
Closing due to inactivity, feel free to reopen if this is still an issue.

[2020-04-05 15:41] #318 closed

[2020-04-05 15:43] yaichenbaum commented on #291
After looking into this, it seems we will need to modify the registry in order to do this. It is technically possible, but it's recommended to stay away from that. Any thoughts?

[2020-04-05 15:47] yaichenbaum commented on #130
Files UWP works with QuickLook, is there a benefit of including similar functionality when QuickLook already does this?

[2020-04-05 16:18] szaimen commented on #291
So do I understand you correctly: to add a right-click to the `NavigationView` you need to modify the registry?

Since there are already feature requests to add some other options to the right click menu of the NavigationView, this would be just one additional option. So I would really love to see this added.

But as I said this would be enough for me:

[2020-04-05 16:28] yaichenbaum commented on #291
No, context menu's are possible, it's the changing of the path that requires modifying the registry. Another option we can look into is opening the properties dialog in File Explorer to let you change it from there.

[2020-04-05 17:28] szaimen commented on #291
So then I would vote for the following UX:
1. right-click on any library in the `NavigationView` to open the context-menu
2. click on `Change the path to the library" to open that section inside the settings and automatically enable this option (if not already enabled):
![image](https://user-images.githubusercontent.com/42591237/78505352-3efe0280-7773-11ea-9eae-b793154a6831.png)

Depending on if y

[2020-04-05 17:34] duke7553 commented on #200
For v0.8 we'll work on detecting terminal emulator apps, so users won't have to add the profile each time.

[2020-04-05 18:33] duke7553 commented on #130
This would be a new experience powered by QuickLook (if possible)

[2020-04-05 19:49] carmellolb opened #508 "Have tabs curve onto the title bar rather than going straight down (hard to explain, refer to pictures)"
It looks strange currently, it goes straight down but should curve onto the title bar, like the concepts by Michael West.

IMAGES ATTACHED:

![cur](https://user-images.githubusercontent.com/49946175/78508458-123af280-7755-11ea-95ab-c23630226cde.png)
![prp](https://user-images.githubusercontent.com/49946175/78508459-123af280-7755-11ea-9c5d-57b15e07a9cc.png)

[2020-04-05 20:20] yaichenbaum commented on #508
Thank you for opening this issue. The WinUI TabView control does not currently support bottom rounding of the corners on tabs. It is planned for [TabView vNext](https://github.com/microsoft/microsoft-ui-xaml/issues/1332). We try to keep Files UWP up to date with the latest versions of WinUI, so you should see this added around the same time it's added to WinUI.

[2020-04-05 21:16] lindseyleeanna opened #509 "Files UWP First Reactions"
I love the way this is going! 😲😀
Especially the mouse drag to switch between folders!  Really nice surprise! Add an option to toggle this feature on and off. Some people may start folder jumping unintentionally.
Obviously there are many things grayed out, and some things cause the app to crash onclick.

I noticed it needs:

- [ ] Fast Toggle hidden files button,
- [ ] The preview/details pane & qu

[2020-04-06 05:29] duke7553 commented on #508
I did try back-porting the curved tab items from WinUI vNext, but I think it's best to wait for the official release for now because their implementation will be better. I'll keep this item open until it releases.

[2020-04-06 15:59] Crocodile73 opened #511 "0.7.3 Issues"
Quick look round, looks ok, are preferences in settings, supposed to work? The app crashes when i select it.

[2020-04-06 16:10] yaichenbaum commented on #511
We have a fix coming for the crash, were you able to get v0.7.3 from the store?

[2020-04-06 16:19] duke7553 commented on #511
And whatever you do, don't try to press TAB in the app because a fix is on the way for the Tab Focus bug also.

[2020-04-06 16:54] duke7553 commented on #458
Some work was done on this in v0.7.4, and the two issues you described may be fixed.

[2020-04-06 16:54] Crocodile73 commented on #511
@yaichenbaum no i cloned it from the source file

[2020-04-06 16:55] yaichenbaum commented on #511
Thanks for letting me know, there was an issue with the pipeline that caused it to not upload the release so v0.7.3 isn't actually in the store yet.

[2020-04-06 17:01] Crocodile73 commented on #511
i cloned 0.7.4 and preferences works ok now.

[2020-04-06 18:08] yaichenbaum commented on #511
@Crocodile73 Great! Make sure to open issues if you have any other issues or feedback.

[2020-04-06 18:08] #511 closed

[2020-04-06 19:35] lampenlampen commented on #499
It works. Tested it.

[2020-04-07 00:25] duke7553 commented on #504
@konsyr11

[2020-04-07 01:12] XPoppyX opened #519 "Show custom folder icons"
Is it possible to display custom folder icons?.
![file_expl](https://user-images.githubusercontent.com/61259627/78619447-79d36980-784b-11ea-862f-de337de15336.jpg)

[2020-04-07 01:19] yaichenbaum commented on #519
Thank you for bringing this up. Files UWP does not currently support custom icons for folders. It is something we would like to do so having this issue will help for tracking it.

[2020-04-07 01:20] yaichenbaum commented on #509
Thank you for opening this issue. Your feedback is really helpful and we will take a look at addressing them as we continue to refine the app.

[2020-04-07 01:22] yaichenbaum commented on #174
UWP apps can actually read from the registry, however I am not sure how something like this would work with localization.

[2020-04-07 01:26] yaichenbaum commented on #486
Thank you for opening this issue, I think by implementing inline editing for this functionality, it will not only fix the issue but it will improve the experience as well.

[2020-04-07 01:28] yaichenbaum commented on #468
Everything I found points to a piece of software called AutoHotKey, I recommend checking it out to see if it can do what you are interested in.

[2020-04-07 01:29] #468 closed

[2020-04-07 01:31] yaichenbaum commented on #462
v0.7.2 added the option to extract files, we are still working on improving this functionality and are tracking it in #45.

[2020-04-07 01:31] #462 closed

[2020-04-07 02:01] KaKi87 commented on #174
Context menu strings are exclusively managed by the software which added itself to it. Indeed, if you change Files's language, the software's won't.

[2020-04-07 02:46] xPoppyx opened #520 "Design suggestion [Files 0.7.3]"
**Updated image: I have moved the menu a little higher**
![design-files2](https://user-images.githubusercontent.com/61259627/78668927-7cfd4280-78a9-11ea-97d6-3eccb7958c66.jpg)

[2020-04-07 03:29] yaichenbaum commented on #520
I am a fan of adding the Quick Access header but I am not such a fan of shifting down the menu.

[2020-04-07 03:34] yaichenbaum commented on #174
There are two types of context menu entries that I can think of, the first type would be for the open with menu and the new file menu, the second type would be for additional entries in the right click context menu for items such as 7zip.
We would probably need a way of classifying them and adding sub menus for the ones that require that like 7zip.

[2020-04-07 03:42] xPoppyx commented on #520
no problem, it will not look bad if it is higher, what interests me most is the size of the texts / icons and the space between them and the side
![asdasdasd](https://user-images.githubusercontent.com/61259627/78627748-418a5600-7860-11ea-923a-f34cc4b1ba9c.jpg)

[2020-04-07 03:55] generalguy41 commented on #520
I agree with reducing the size of the font and icons, and adding the bolded headers. It adds a degree of separation and hierarchy. And while I agree with not shifting it down that much, I do like the idea of shifting it in from the left a little bit.

[2020-04-07 04:01] xPoppyx commented on #520
maybe like this?
![cccfg](https://user-images.githubusercontent.com/61259627/78628679-dbeb9900-7862-11ea-9be6-5ae902502edb.jpg)

[2020-04-07 10:54] R3voA3 commented on #520
I am not sure if I like the idea of a smaller font. Currently it's very easy on the eyes, if its size is decreased it might appear unsharp.

Perhaps a settings page for font and icon sizes?

[2020-04-07 11:14] xPoppyx commented on #520
Whether it is blurry or not will depend on the screen resolution of the users.
an option to change the font size would be fine, everyone happy xd

[2020-04-07 12:36] xPoppyx commented on #37
I have put in "pull requests" the Spanish translation

[2020-04-07 13:23] yaichenbaum commented on #520
Perhaps we will provide an option to choose between the compact style and regular style. However I would recommend waiting until you actually try this to see how it looks on your screen.

[2020-04-07 19:40] lindseyleeanna commented on #509
👍 Kindest Regards,LindseyLeeanna 2020 From: Yair AichenbaumSent: Monday, April 6, 2020 9:21 PMTo: duke7553/files-uwpCc: lindseyleeanna; AuthorSubject: Re: [duke7553/files-uwp] Files UWP First Reactions (#509) Thank you for opening this issue. Your feedback is really helpful and we will take a look at addressing them as we continue to refine the app.—You are receiving this because you authored the

[2020-04-07 20:02] generalguy41 commented on #520
On a semi-related note, would it be possible to make the sidebar expandable? I notice that some of my drive names are cut off, and there's no way to adjust. It would be partially fixed with smaller font, but still.

[2020-04-07 20:16] szaimen commented on #520
+1

[2020-04-07 20:35] yaichenbaum commented on #520
The small gap is to indicate a difference between the tabs and the sidebar. The plan is to make the sidebar expandable, we just haven't gotten to that yet. For the meantime, you should be able to see the full drive name by hovering over it.

[2020-04-07 20:38] yaichenbaum commented on #509
@lindseyleeanna It looks like your message got messed up, can you try editing it so that we can read it?

[2020-04-07 20:50] szaimen opened #523 "some feedback on 0.7.3"
Hi, I like the new look of files uwp very much but I have some feedback on 0.7.3 and will list it here.

Sorry, have currently no time to create a new issue for every one... Please tick them if they are already fixed/edit my comment to link existing issues.

- [ ] showing the properties of a folder and clicking on the close button of the properties minimizes files uwp in the background sometimes (

[2020-04-07 21:01] szaimen commented on #520
Hm, I still don't like it :/

Maybe a header like "quick access" as already proposed would solve this issue if aligned to the very top without that gap?

[2020-04-07 21:09] szaimen commented on #523
@yaichenbaum do you want me to create a new issue for every item in the list? I would then just copy over the text from each item. I hope this is okay for you?

[2020-04-07 21:27] xPoppyx commented on #520
if it's too high it'll be ugly, I edited the image and moved the menu a little higher, what do you think?

![gab-](https://user-images.githubusercontent.com/61259627/78721038-c8890e00-78f4-11ea-8b3e-d54c33fa8ef9.jpg)

[2020-04-07 21:49] yaichenbaum commented on #523
Selection options are not yet implemented, that is why #274 is still open

Great feedback, I will check that item off when I get to it.

We are using the default styles from WinUI, I believe they are working on the accessibility aspect but I don't think they shipped that out yet.

I would appreciate if you opened a separate issue for the following items, I will try to respond to the other items in

[2020-04-07 22:17] szaimen commented on #520
@xPoppyx Yes, I also think that the first variant (on the left) looks better but what about this?
![image](https://user-images.githubusercontent.com/42591237/78724737-5f25f100-792e-11ea-8bc9-b5e983ef0b58.png)

[2020-04-07 22:25] szaimen opened #524 "open pictures with photos app should allow to cycle through all photos in that directory"
**Is your feature request related to a problem? Please describe.**
when opening a picture with the microsoft photos app, I am not able to switch to the next item in the list but have to double click on the next item instead to open that in a new instance of the photos app?

**Describe the solution you'd like**
be able to cycle through all photos in that directory with the photos app

[2020-04-07 22:27] szaimen opened #525 "enhancement to the highlighting of an item in the left sidebar"
**Is your feature request related to a problem? Please describe.**
if I open a folder inside e.g. the documents folder, wasn't the idea to still highlight the documents section on the left side? instead the local disc C: is highlighted.

**Describe the solution you'd like**
when I open a folder in e.g. the documents folder, the documents element should still be highlighted

[2020-04-07 22:28] szaimen commented on #523
done 👍

[2020-04-07 22:31] xPoppyx commented on #520
just a little bit more space between the blue bar and the icons and it will be perfect.

![new de](https://user-images.githubusercontent.com/61259627/78725606-f1fa6780-78fd-11ea-8266-4dd60f4211dd.jpg)

[2020-04-07 22:33] szaimen opened #526 "enhancement to the tab view if windows is narrow"
**Is your feature request related to a problem? Please describe.**
When the window is too narrow to show all tabs there are navigation buttons shown
![image](https://user-images.githubusercontent.com/42591237/78725633-4cacb700-7930-11ea-81f7-c5f0150feb3c.png)

**Describe the solution you'd like**
 Instead I would suggest that you first disable the tab description and show only the icons (and shrin

[2020-04-07 22:44] szaimen commented on #520
Maybe something like this?
![image](https://user-images.githubusercontent.com/42591237/78726359-0fe1bf80-7932-11ea-8714-dd8aeac0d952.png)

[2020-04-07 22:46] xPoppyx commented on #520
perfect

[2020-04-07 23:18] yaichenbaum commented on #520
We are using the default navigation menu, we don't plan on extending it further then adding an option to choose between compact and regular views. The question still remains on how large of a gap to have between the edge of the app and the header. Looking forward for some more feedback on that 🙂

[2020-04-07 23:20] yaichenbaum commented on #526
Excellent feedback, what do you think about collapsing the navigation menu when the window is smaller so that you get more space for the tabs?

[2020-04-07 23:20] yaichenbaum commented on #525
@duke7553

[2020-04-07 23:21] yaichenbaum commented on #524
@duke7553

[2020-04-07 23:21] szaimen commented on #520
This is what will work for me:

Also a header like "Quick Access" will definitely be helpful solving the problem, imho.

[2020-04-07 23:33] duke7553 commented on #317
@FinlayDaG33k The Store version should now be updated if you wanted to give us feedback 😀

[2020-04-07 23:46] szaimen commented on #526
Thats how I would do it. But I think there should be two states: one collapsed state where you only show icons in the sidebar and one expanded state. If the window gets too narrow it would then automatically switch to the collapsed state to only show icons in the sidebar and if made bigger it could automatically switch to the expanded state which should have the size that you have chosen by draggi

[2020-04-07 23:49] yaichenbaum commented on #523
@szaimen Can you share a screenshot of what you see? It is possible that different version of Windows will have different behaviors in this area.

[2020-04-07 23:49] szaimen commented on #523
I think that applies also to the "plus" button on the top right.

[2020-04-07 23:50] szaimen commented on #523
![image](https://user-images.githubusercontent.com/42591237/78729792-4243ea80-793b-11ea-999e-3f5d5750b817.png)
![image](https://user-images.githubusercontent.com/42591237/78729799-496af880-793b-11ea-9710-42d3f20d3de6.png)

[2020-04-07 23:57] yaichenbaum commented on #523
I can't reproduce this, what version of Windows are you using?

[2020-04-08 00:00] szaimen commented on #523
Windows 10 1909

[2020-04-08 00:11] XPoppyX opened #530 "Different layout mode and sorting for each folder"
I would like to be able to use different layout modes and sorting in each folder, like in file explorer.

[2020-04-08 00:18] szaimen commented on #523
BTW: I think the new design looks already really awesome with the acrylic sidebar:
![image](https://user-images.githubusercontent.com/42591237/78731148-26424800-793f-11ea-849f-94f66076f2ca.png)

[2020-04-08 00:31] yaichenbaum commented on #530
We can definitely explore this but in order to be transparent I want to let you know it probably won't be before Launch 2020.

[2020-04-08 00:32] yaichenbaum commented on #523
Unfortunately we don't have control over the window, however we will work on making this dialog more responsive.

[2020-04-08 00:43] szaimen opened #532 "right-clicking on an item in a folder crashes files uwp when not selecting the item first"
**Describe the bug**
right-clicking on an item in a folder crashes files uwp when not selecting the item first

**To Reproduce**
Steps to reproduce the behavior:
1. Open a folder
2. right-click on an item without selecting the item first
3. Crash

**Expected behavior**
Shouldn't crash but instead show the context menu of that item

**Desktop (please complete the following information):**
 - OS Ver

[2020-04-08 00:44] szaimen commented on #523
Done 👍

[2020-04-08 00:48] yaichenbaum commented on #523
Can you create a separate issue for this as well? I think a discussion would be helpful.

[2020-04-08 00:55] duke7553 commented on #532
@szaimen Thanks for reporting this. We have found the root cause and have prepared a fix for the next release.

[2020-04-08 00:57] duke7553 commented on #524
Hmm... I wonder if this is a limitation with the Photos app because we open items in a standard way.

[2020-04-08 01:00] duke7553 commented on #526
I think it is more likely that we'll support the TabViewItem compact mode when we upgrade the WinUI version again soon.

[2020-04-08 01:01] szaimen opened #534 "Highlight navigation bar when hovering over it"
**Is your feature request related to a problem? Please describe.**
I think the navigation bar isn't discoverable enough since 0.7.3

**Describe the solution you'd like**
like you show that a folder is selectable in the navigation bar, you could also highlight the whole navigation bar when hovering over it to make for the user visible that you can click on the navigation bar to edit the path

[2020-04-08 01:02] szaimen commented on #523
Done 👍

[2020-04-08 01:06] szaimen commented on #524
It works in file explorer 🤷‍♂️

[2020-04-08 01:07] #532 closed

[2020-04-08 01:14] yaichenbaum commented on #523
Can you please open another issue for this one?

[2020-04-08 01:18] szaimen opened #535 "When clicking enter in the navigation bar, it should get closed automatically"
**Is your feature request related to a problem? Please describe.**
When clicking enter in the navigation bar, it should get closed automatically.

**Describe the solution you'd like**
when typing a path into the navigation bar and pressing enter, the new directory gets opened but I think it would be better to directly escaping the navigation bar like it is in the file explorer (would also look bet

[2020-04-08 01:19] szaimen commented on #523
Done 👍

[2020-04-08 01:22] yaichenbaum commented on #523
We really appreciate all the time you took to create all these issues, we hope to have a release ready in a few hours which will address many of these issues.

[2020-04-08 01:38] xPoppyx commented on #534
I think it should be a little smaller too

[2020-04-08 01:45] yaichenbaum commented on #523
@duke7553 I am not able to reproduce this, are you able to reproduce it and if yes, is there anything we can do about it?

[2020-04-08 02:10] yaichenbaum commented on #535
This has been fixed with v0.7.5.

[2020-04-08 02:10] #535 closed

[2020-04-08 02:13] yaichenbaum commented on #534
@szaimen How about changing the cursor when the mouse is moved over the navigation bar?

[2020-04-08 02:20] yaichenbaum commented on #499
@lampenlampen Thank you for testing.
@EmiyaBestBoy I hope your issue has been resolved, feel free to reopen this issue or open a new one if you run into additional issues or if you have feedback for Files UWP.

[2020-04-08 02:20] #499 closed

[2020-04-08 02:39] yaichenbaum commented on #470
Is this still an issue in v0.7.4?

[2020-04-08 02:41] yaichenbaum commented on #474
@SOI7 Can you check if this is resolved with v0.7.4?

[2020-04-08 02:46] yaichenbaum commented on #523
@szaimen v0.7.5 is now in certification, I am going to be closing this issue since everything was either addressed or transferred to new issues. I just want to thank you again for all your feedback which has been really helpful in improving the quality of the app.

[2020-04-08 02:46] #523 closed

[2020-04-08 02:47] duke7553 commented on #458
![image](https://user-images.githubusercontent.com/20365014/78739201-bf626600-7921-11ea-9908-eaa12ba1df41.png)

[2020-04-08 03:09] BuraChuhadar commented on #37
I am sending translations for Turkish: https://github.com/duke7553/files-uwp/pull/541

[2020-04-08 03:12] BuraChuhadar commented on #37
#541

[2020-04-08 04:32] generalguy41 commented on #520
Actually, it seems to only show me the size of the drive. It's no real issue to me as I can see the majority of the name of the drive.

As for the spacing above the header, here are a few options I've seen that we can discuss:
1. Even amount of space on both the top and left side of the content, but clearly more space than there is between each element ([here](https://external-preview.redd.it/nfDv

[2020-04-08 05:33] konsyr11 commented on #504
Yea that was the stupid error. Great job :)

[2020-04-08 05:33] #504 closed

[2020-04-08 06:56] SOI7 commented on #474
Could you upload an installer package, please? I uninstalled the UWP definitions for Visual Studio because they take so much space and it's not worth it to keep them on my disk just to install an app now and then

[2020-04-08 09:16] R3voA3 commented on #458
Perfect

[2020-04-08 09:16] szaimen commented on #534
Yes, that could work but only if combined with the highlighting imo...

[2020-04-08 09:18] R3voA3 commented on #470
Seems to be fixed

[2020-04-08 09:46] bhupathi189 opened #545 "add colourful icons instead of monocolor icons"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-08 09:59] szaimen opened #546 "bug with creating a new folder"
**Describe the bug**
bug with creating a new folder: the input box where you can enter the new folder name seems to get unfocussed after aftere character, which is a bit annoying

BTW: clicking on "cancel" seems to create a new folder with default name nonetheless...

**To Reproduce**
Steps to reproduce the behavior:
1. create a new folder
2. try to enter the foldername
3. unfocus the inputbox aft

[2020-04-08 10:05] szaimen opened #547 "copying an empty folder into itself seems to create an infinity amount of empty folder in itself"
**Describe the bug**
copying an empty folder into itself seems to create an infinity amount of empty folder in itself

**To Reproduce**
Steps to reproduce the behavior:
1. copy an empty folder
2. open this folder
3. paste the folder from the clipboard
4. files uwp crashes

**Expected behavior**
files uwp shouldn*t crash, instead there should be only one copy of the folder in this folder and not an

[2020-04-08 10:08] szaimen opened #548 "when updating files uwp over the store, it gets forced-closed and asks after a new opening for sending a crash-report"
**Describe the bug**
when updating files uwp over the store, it gets forced-closed and asks after a new opening for sending a crash-report

**To Reproduce**
Steps to reproduce the behavior:
1. open the app
2. update the app over the store -> gets force-closed
3. app gets automatically opened again and asks for sending a crash-report

**Expected behavior**
shouldn*t ask for sending a crash-report s

[2020-04-08 10:17] szaimen opened #549 "only show the scroll bar in the path if the folder name is too long"
**Is your feature request related to a problem? Please describe.**
see the scroll bar if the window is too narrow

**Describe the solution you'd like**
when the window is too narrow I would not show directly the scroll bar. Instead I would first hide the path in a drop-down menu a bit like nextcloud is doing that and only show the current folder that is open.

**show current folder and only 3-poin

[2020-04-08 10:40] yuyoyuppe opened #550 "Improvement suggestions"
Great software, some feedback:
- would be nice to have an ability to hide Desktop/Downloads/etc. altogether
- initially the app doesn't have permission to access drives, so it doesn't show any of them, perhaps it would be nice to suggest granting the permission on first start
- favorite directories

[2020-04-08 13:20] yaichenbaum commented on #474
@SOI7 The store is already up to v0.7.5 so you should be able to test from there.

[2020-04-08 13:20] yaichenbaum commented on #534
Do you have a concept for how this could look?

[2020-04-08 13:22] yaichenbaum commented on #470
@R3voA3 Thank you for letting us know.

[2020-04-08 13:22] #470 closed

[2020-04-08 13:24] yaichenbaum commented on #546
Thank you for opening this issue, we are tracking this same issue in #486. Make sure to subscribe to that issue to get updated when it's fixed.

[2020-04-08 13:24] #546 closed

[2020-04-08 13:26] yaichenbaum commented on #548
What is asking for the crash report, Files UWP or Windows?

[2020-04-08 13:27] szaimen commented on #534
Maybe something like this: (just highlight the whole cliclable area when hovering over it)
![image](https://user-images.githubusercontent.com/42591237/78789447-70faa900-79ad-11ea-8d4e-24c2b8a50b91.png)

[2020-04-08 13:29] FinlayDaG33k commented on #317
My machine has downloaded the new update (`0.7.5.0`) but unfortunately, it doesn't show my network drives yet.

Here is a side-by-side screenshot of my drives:
![image](https://user-images.githubusercontent.com/13424273/78789645-b6b77180-79ad-11ea-9167-38afefcb08fa.png)

[2020-04-08 13:36] yaichenbaum commented on #534
@szaimen Thank you for the concept, that looks really good! I am going to keep this issue open for some time to give a chance for others to give their take on this but I am fairly certain we will end up going with this design.

[2020-04-08 13:36] szaimen commented on #548
I think it was files uwp but is a bit hard to replicate. Will try to reproduce on the next update and make a screenshot ;)

[2020-04-08 13:38] yaichenbaum commented on #548
You can try to force crash the app and see if a message comes up when opening it again. As far as I know Files UWP doesn't have a message come up after crashing, but it could be I missed it.

[2020-04-08 13:39] xPoppyx opened #552 "Concept design V2 - Different icons and a few more things"
This time the font size of the sidebar is the original, I just changed the icons, replaced "Home" with "This PC", added "Quick Access" and moved them a bit to the right leaving a little more space between the red bar and icons, also reduces the size of the navigation bar.

![Captura de pantalla (178)](https://user-images.githubusercontent.com/61259627/78794232-780bc200-7981-11ea-9086-113202eaefcf.

[2020-04-08 13:41] yaichenbaum commented on #317
@FinlayDaG33k Make sure to give Files UWP access to the file system on Windows 10. To do this you can go to the settings app on Windows > Privacy > File system. Click the toggle for Files UWP to give it permission to access your files.

[2020-04-08 13:46] szaimen commented on #548
hm... when doing that through the task manager and opening again no message appears. So I think this has to get tested when the new update arrives...

[2020-04-08 13:47] szaimen commented on #548
But actually this is so a rare case, that I don't think it is important to get fixed...
So I would say you can close this issue if you like.

[2020-04-08 13:51] SOI7 commented on #552
It would be a gigantic task for the devs, but personally I wouldn't mind if we could choose between MDL2 icons and Shell32 icons

[2020-04-08 13:52] szaimen commented on #552
I think I overall like the new porposal 👍
But maybe we should think about adding new designed colorful icons instead of the old Win10 legacy file explorer icons to the sidebar?
BTW: shouldn't e.g. the music icon then also be on top of the tab? Seems to me like a mistake...

[2020-04-08 13:53] xPoppyx commented on #552
forgot to change it xd

[2020-04-08 13:56] SOI7 commented on #474
@yaichenbaum Updated to 0.7.5. The option to change default Favorites location is gone from Settings... am I doing something wrong? As it is now, Favorites folders still redirect me to those in C:

[2020-04-08 13:56] xPoppyx commented on #552
in fact I was thinking of putting new icons instead of the old ones, I only used these because it was quicker to find them, anyway I also agree with putting the new icon designs

[2020-04-08 13:58] szaimen commented on #552
I think those would also fit better to the new designed app icons by microsoft for Windows 10 x...

[2020-04-08 13:59] szaimen commented on #552
I wouldn't say this has to be an settings option: if I understand correctly this is a mockup how colorful icons would look like...

[2020-04-08 14:03] yaichenbaum commented on #552
I like how you added the header, about the icons, the issue I have with it is that we are using the MDL2 Assets which are part of the fluent design system. However, Fluent is shifting towards colorful icons and there is the chance the MDL2 icons will shift to more colorful icons as well.
It will also be interesting to see how the File Explorer on Windows 10X does this.

[2020-04-08 14:10] yaichenbaum commented on #474
@SOI7 If you reset the app, does it take you to the correct location?

[2020-04-08 14:11] yaichenbaum commented on #548
Technically when the store closes the app it is considered a crash, if a dialog does come up, I wounder if there is a way to detect how the app was closed and stop showing it in this case.

[2020-04-08 14:12] SOI7 commented on #525
Gotta add another feedback about the left pane highlights:
When you open the app (which shows Home as the first page) and then open another folder from the Favorites, Home is still highlighted and you result with two highlighted folders at the same time. Going back to Home and then to the folder solves the issue

[2020-04-08 14:13] yaichenbaum commented on #525
@SOI7 That is an issue with the WinUI Navigation Menu, it will hopefully be fixed with an update to WinUI.

[2020-04-08 14:15] yaichenbaum commented on #550
1. We plan on an option to unpin favorites.
2. We plan on adding a dialog for this, however I should point out that the next version of Windows will no longer require you to give access for the file system.
3. Can you elaborate what you mean by this?

[2020-04-08 14:15] SOI7 commented on #474
Nope, still C:
Also, now OneDrive shows my educational account folder instead of the personal one

[2020-04-08 14:16] yaichenbaum commented on #552
Let's continue tacking this in #545.

[2020-04-08 14:16] yaichenbaum commented on #545
The issue I have with doing this is that we are using the MDL2 Assets which are part of the fluent design system. However, Fluent is shifting towards colorful icons and there is the chance the MDL2 icons will shift to more colorful icons as well.
It will also be interesting to see how the File Explorer on Windows 10X does this.

[2020-04-08 14:17] yaichenbaum commented on #474
Which directories is it not detecting right?

[2020-04-08 14:17] #552 closed

[2020-04-08 14:18] szaimen commented on #552
What about the Quick access header? and other edits to the navigation bar?

[2020-04-08 14:18] SOI7 commented on #474
Videos and OneDrive atm

[2020-04-08 14:18] yaichenbaum commented on #552
The quick access header will be done in a future update.

[2020-04-08 14:20] SOI7 commented on #474
I need also to clarify that those are the only ones besides Music that I have on my secondary HDD, so I can't tell atm if the other Favorites are working properly or not since I can't manually change the default folders in Files anymore

[2020-04-08 14:42] yaichenbaum commented on #474
@SOI7 Can you check if the paths in `HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders` match what you set in File Explorer?

[2020-04-08 14:44] SOI7 commented on #474
Well, surprisingly they don't. Videos, for example, is %USERPROFILE%\Videos instead of E:\Videos

[2020-04-08 15:03] SOI7 commented on #474
Changing the parameter in Regedit solved the issue in Files. I'd still bring custom locations back, though, but that's up to you

[2020-04-08 15:20] yuyoyuppe commented on #550
Thanks for the answers!

basically have a quick access panel with bookmarked directories like we have in browsers.

[2020-04-08 16:08] yaichenbaum commented on #474
We don't plan on bringing it back as that would require the app modifying the registry, however at some point we will try to get the app to launch the File Explorer dialog's for changing the paths.

[2020-04-08 16:08] #474 closed

[2020-04-08 16:12] yaichenbaum commented on #550
You can already pin directions to the Quick Access pane on the sidebar.

[2020-04-08 16:37] xPoppyx opened #554 "The app closes if I right-click on a folder or file with the navigation bar focused"
![crash (1)](https://user-images.githubusercontent.com/61259627/78809899-9c719980-7995-11ea-84b5-03d88041b6ef.gif)

[2020-04-08 17:24] generalguy41 commented on #534
I think at the very least it should have a reveal effect, maybe not necessarily a full solid colour. Just to show it's clickable. Maybe test a couple of designs and get feedback in this thread.

[2020-04-08 18:01] yaichenbaum commented on #200
I am excited to report that #542 adds support for launching terminal applications from the navigation bar. This will let you enter the name of any terminal in your profile and it will launch the terminal with the current path you are working in.
#543 includes a change that will automatically add a profile for Windows Terminal if it's installed. Detection for other popular terminal apps will be add

[2020-04-08 19:05] FinlayDaG33k commented on #317
That seemed to work yes :)
I'll be giving the app a spin and open new issues as they arrise.

[2020-04-08 19:19] yaichenbaum commented on #317
@jamescadd Can you confirm if this is fixed for you as well?

[2020-04-08 20:00] #200 closed

[2020-04-08 20:01] yaichenbaum commented on #200
This issue should be fully addressed with the latest changes in the `develop` branch.

[2020-04-08 23:14] Darhagonable opened #558 "Open in new tab causes temporary freezing"
**Describe the bug**
If I right-click on a folder and click "Open in new tab" it causes the program to either freeze, freeze then close or freeze and after a while manages to open it in the new tab but freezes again for a while afterwards. While this is happening it also spikes in CPU usage.

**To Reproduce**
Steps to reproduce the behavior:
1. Right-click on a folder
2. Click on "open in new tab"

[2020-04-09 01:40] BlaT2512 opened #559 "Clicking OneDrive tab puts marker on Local Drive"
**Describe the bug**
When clicking on the OneDrive location on the sidebar, it opens OneDrive in the file viewer but the blue marker that indicated which folder is open on the sidebar goes onto Local Drive (C:). When clicking on the OneDrive location again, the marker correctly goes to OneDrive.

**To Reproduce**
Steps to reproduce the behaviour:
1. Select a random folder
2. Click on OneDrive
3. S

[2020-04-09 07:42] bhupathi189 opened #560 "when the settings tab is opened, the tabs on the top are shifting towards complete left. So, when we switch between normal tab and setting tab, tabs on top are shifting. this irritates me a little bit becuase the tabs are not present where i expected them to be."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-09 10:05] szaimen commented on #560
This could get solved by opening the settings tab always on the left:
![image](https://user-images.githubusercontent.com/42591237/78883761-3a2e9c80-7a5a-11ea-8103-68dcecef68fb.png)
And don't show the settings tab when returning to a normal tab. (so that you would have to click on the settings button again to go into settings again. (Maybe you could remember the state of the settings tab nonetheles

[2020-04-09 10:16] lampenlampen commented on #295
Actually you can already access your WSL-files in files with `\\wsl$`. This only works for now, if the distro is running ([see](https://devblogs.microsoft.com/commandline/whats-new-for-wsl-in-windows-10-version-1903/) under Known Issues).

So we only need a way to detect which distros are installed, then we can display them on the sidebar. The files in a distro can be accessed with `\\wsl$\{distro

[2020-04-09 11:54] Darhagonable commented on #560
IMO it should look more like this:
![Files UWP settings mockup](https://user-images.githubusercontent.com/14127357/78892360-86350d80-7a69-11ea-94a0-eef42ad93521.png)

[2020-04-09 12:02] szaimen commented on #560
Yes, that would look better but wouldn't solve the reported problem of moving tabs...

[2020-04-09 12:05] Darhagonable commented on #560
Yes it would. The tabs wouldn't be shifting in any way.

[2020-04-09 12:08] bhupathi189 commented on #560
yes, wherever the setting tab is whole tabs are shifting towards left

[2020-04-09 12:38] GavinYou082 commented on #559
![image](https://user-images.githubusercontent.com/38808970/78895577-ada7cc80-7aa1-11ea-8355-e9b67d20ae36.png)
Sometimes event two markers appear on the sidebar. It occurs randomly when navigating between tabs, at least I didn't find a certain way to reproduce this.

[2020-04-09 13:58] SOI7 commented on #534
Oh yes, reveal on the navbar would be really cool, like in the old Microsoft Edge

[2020-04-09 14:01] szaimen commented on #534
Actually my proposal was meant only as reveal effect and wouldn't be visible all the time: only if you hover with your mouse over it...

[2020-04-09 14:22] xPoppyx commented on #560
what if it appears as a popup?

![Anotación 2020-04-09 101353](https://user-images.githubusercontent.com/61259627/78905433-fcc31280-7a4b-11ea-9a0c-fcb500490faf.jpg)

[2020-04-09 14:31] szaimen commented on #560
I would be okay with that 👍
Maybe to make it easier for the developers just open this in a new window?

[2020-04-09 14:36] xPoppyx commented on #560
maybe it is not difficult to put it in a popup, better wait for them to respond to see what they say about it

[2020-04-09 14:37] generalguy41 commented on #560
Alternatively, couldn't it just open at the end like a new tab typically would (see: Microsoft Edge)? That way it just acts as a normal tab, and doesn't move any of the others around.

[2020-04-09 14:44] Darhagonable commented on #560
Like my concept? Just that mine changes the options in the side menu too.

[2020-04-09 14:47] szaimen commented on #560
Yes, I think your concept with opening the tab at the end of the list would also work👍

[2020-04-09 14:50] bhupathi189 commented on #560
i would be much better

[2020-04-09 16:28] lindseyleeanna commented on #509
As to that last email, yeah that does look messed up. I didn't consciously send that... lol wtf? It obviously came from my email though. I have no idea! I would just ignore all that jumble and if it happens again I'll have to figure out what's causing it.

[2020-04-09 16:38] duke7553 commented on #560
Hello there. I've felt for a long time that Settings should be a separate experience from the instance tabs, and understand that our current solution (shifting the tabs over) is not a very good one.

We've seen success with AppWindow for the Properties dialog, so that looks like what we'll do, but I'm going to leave this open for more feedback.

[2020-04-09 16:42] duke7553 commented on #295
@lampenlampen Yes! I actually started work on this last year. If you want to improve upon it, and hook it up, take a look at this: https://github.com/duke7553/files-uwp/blob/bf942034ef2b7e11a6f6ccf4183b64a6e17716eb/Files/View%20Models/SettingsViewModel.cs#L174

However, I do plan on working on this myself very soon.

[2020-04-09 19:15] MarcAnt01 opened #561 "The app takes too long to open"
**Describe the bug**
The first time I open Files Uwp it takes 3/4 secs (Windows automatically disables splash screen, since I have good hardware and their opening is instanteous)

**To Reproduce**
Steps to reproduce the behavior:
Open the app

**Expected behavior**
Take less than 2 seconds

**Screenshots**
Not needed

**Desktop (please complete the following information):**
 - OS Version: [e.g. Wi

[2020-04-09 20:16] duke7553 commented on #561
Hello @MarcAnt01 Please make sure that you're running the latest version of the app, v0.7.5 from the Store.

[2020-04-09 20:38] Darhagonable opened #563 "Drives disappear from side menu"
**Describe the bug**
Sometimes when starting the Files UWP app the the drives section of the side menu is missing.

**To Reproduce**
Not sure. It just happens sometimes when i start the program. Is there anything i could do to test it further?

**Expected behavior**
The section with the drives to exist in the side menu.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-04-09 20:40] Darhagonable commented on #384
This is still an issue for me on version 0.7.5

[2020-04-10 00:30] xPoppyx commented on #560
mmm it is unlikely that more people than us will come to give their opinion on this

[2020-04-10 08:40] MarcAnt01 commented on #561
Sorry, I installed the version you sent me on Discord some weeks ago for testing it and I have just noticed that it doesn't update automatically from the Store.

[2020-04-10 08:44] MarcAnt01 commented on #561
Looks fixed now👍

[2020-04-10 08:44] #561 closed

[2020-04-10 09:06] MarcAnt01 opened #564 "Use esc / tablet mode back button to go back"
**Is your feature request related to a problem? Please describe.**
I often use esc key to go back, in Files UWP that doesn't seem to be possible. Moreover in tablet mode the back button closes the app

**Describe the solution you'd like**
Implement esc/tablet mode back button to go back

**Describe alternatives you've considered**
None

**Additional context**
Not needed

[2020-04-10 19:32] lampenlampen opened #566 "switch ci to build debug mode"
Consider changing the ci pipeline to build the app in debug mode.

I for myself could lower the build time from 17 min to 2,5 min with this change.

Especially for the `develop`-branch, i think a release build is not necessary.

I think for the `develop`-branch, we can also skip the appx-package creation.

[2020-04-10 20:38] tsvietOK commented on #560
What do you think about moving all controls under their captions like all other Windows apps settings?
![image](https://user-images.githubusercontent.com/20501502/79021401-11a2c180-7b84-11ea-8391-8879be878750.png)

[2020-04-10 23:01] jamescadd commented on #317
@yaichenbaum I'm not seeing the list of apps to allow FS access in Settings at the moment, likely because I'm on an internal build.  May be an internal issue so as long as you see this working in production it should be good.  Thanks for doing this!

[2020-04-10 23:01] #317 closed

[2020-04-10 23:44] duke7553 commented on #317
@jamescadd Hi James. The issue you've descibed isn't specific to MSFT-Internal builds because they made the decision starting with v2004 to hide fullTrust apps from the filesystem permission list. The permission should be granted automatically to Files now on these versions.

[2020-04-10 23:46] duke7553 commented on #563
@Darhagonable Yes! Could you please paste your log file? You can get it by going to the folder %localappdata%/Packages, search there for the folder Files and there in the folder LocalState should be a file debug.txt, which contains a stacktrace.

[2020-04-10 23:49] duke7553 commented on #488
@NellPoi Are there any other user accounts on this PC?

[2020-04-10 23:57] Darhagonable commented on #563
I don't seem to have any Files folder that updated recently. I built it myself in VS and didn't install it through MS Store if that could be why?
I don't know much about VS but maybe there's a log in there?

[2020-04-11 01:12] tsvietOK commented on #563
@duke7553 Log file is not useful.
Start with disks loaded
`2020-04-11 04:09:09.1492|INFO|Files.Filesystem.DrivesManager|Drive added: C:\, Fixed
2020-04-11 04:09:09.2066|INFO|Files.Filesystem.DrivesManager|Drive added: S:\, Fixed
2020-04-11 04:09:09.2273|INFO|Files.Filesystem.DrivesManager|Drive added: V:\, Fixed
2020-04-11 04:09:09.2471|INFO|Files.App|App launched`

Start without disks loaded
`202

[2020-04-11 12:47] Darhagonable commented on #563
I seem to be able to temporarily fix it by doing this:
- Turning off access to the file system for the app while it's running.
- Start Files UWP again.
- Turning on access to the file system for the app while it's running.
- Start Files UWP again.
- Close it.
- Start it again and it's fixed

[2020-04-11 13:48] jeffsieu commented on #352
@duke7553 I did manage to get it to work though, using the following helper class:
[code]

then using `NaturalStringComparer` in the relevant function calls.

![image](https://user-images.githubusercontent.com/8487294/79045498-0b711b80-7c3e-11ea-9fc3-004eacf9185f.png)

[2020-04-11 14:36] lampenlampen opened #570 "Update .net framework version for launcher project"
Is there any reason, why the launcher project references .net 4.6.1?

[2020-04-11 14:57] lampenlampen commented on #566
So i tested it with this repo and i have a build time of 7 min ([see](https://dev.azure.com/lampenlampen/Files-UWP/_build)).

[2020-04-11 17:25] duke7553 commented on #566
@lampenlampen Thanks for this testing. I think I'll wait for @yaichenbaum to review this one.

[2020-04-11 17:53] #352 closed

[2020-04-12 01:23] yaichenbaum commented on #566
I specifically use the release build since many issues have come up in release mode that are not in debug mode, that we don't catch until we are ready for a release.

[2020-04-12 01:25] yaichenbaum commented on #563
I have seen this behavior a few times. Restarting the app shows the drives again.

[2020-04-12 01:31] yaichenbaum commented on #560
I just want to mention that most users are not opening the settings page on a day to day basis. That being said I think it is extremely important to have a good experience for those few times. A simple way to solve this would be to extend the settings sidebar into the title bar.

[2020-04-12 01:33] yaichenbaum commented on #384
@Darhagonable More changes to address this will be included with v0.7.6 when it's released.

[2020-04-12 02:00] duke7553 commented on #570
The initial reason was to stay at the version of .NET Framework that ships with Windows, but I'm not against any of the following:
- Upgrading it
- Converting it to a C++ Project
- Moving to .NET Core as long as everything works

[2020-04-12 02:14] yaichenbaum commented on #458
@R3voA3 v0.7.4 has been released to the store, can you let us know if any of the issues you mentioned are still around?

[2020-04-12 05:31] yaichenbaum commented on #508
There is now an open pull request on the WinUI repo that will address this issue https://github.com/microsoft/microsoft-ui-xaml/pull/2201.

[2020-04-12 07:12] R3voA3 commented on #458
Issues have been fixed. Good work!

[2020-04-12 07:16] R3voA3 opened #573 "Different animation for "On Startup" than for the other settings pages"
The On Startup settings page has a different animation than the other settings pages.

https://www.youtube.com/watch?v=6OIJrsLGN0Y

[2020-04-12 07:21] R3voA3 commented on #560
In my opinion I think the navigation bar of the settings pages should be identical (visually) with the default navigation bar. There shouldn't be  a harsh translation.

[2020-04-12 09:57] jeffsieu opened #575 "[Minor] Acrylic sidebar doesn't update for already opened tabs"
**Describe the bug**
When the acrylic sidebar option is toggled, existing tabs' sidebars do not update.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new tab
![image](https://user-images.githubusercontent.com/8487294/79065936-a1608100-7ce6-11ea-9114-6eaf018d41c0.png)
2. Go to Settings and toggle the acrylic sidebar option
![image](https://user-images.githubusercontent.com/8487294/79

[2020-04-12 10:06] Darhagonable commented on #563
Not for me. I have to do my trick or if I'm lucky it will be fixed later when i start it. Simply restarting the app does not fix it for me.

[2020-04-12 14:12] #458 closed

[2020-04-12 14:48] yaichenbaum commented on #573
It's the same animation, the reason it might look a little different is that there are no controls on the right of the page while the other pages do have controls on the right.

[2020-04-12 14:53] yaichenbaum commented on #575
Another issue is that the tabs don't update until the app is restarted, so this results in a weird situation where some of the app has acrylic and some of the app does not.

[2020-04-12 15:06] xPoppyx opened #577 "Apply changes to theme settings without restarting the application"
It should display a message when changing theme mode or activating / deactivating the acrylic sidebar, saying that the changes will be applied the next time the app is opened or something like that

[2020-04-12 15:20] yaichenbaum commented on #577
Better yet, we should actually apply the changes right away.

[2020-04-12 15:22] xPoppyx commented on #577
perfect

[2020-04-12 15:23] yaichenbaum commented on #575
Merging this issue with #577.

[2020-04-12 15:23] #575 closed

[2020-04-12 15:24] yaichenbaum commented on #577
- Turning on or off the acrylic sidebar setting should automatically apply for the sidebar and tabs.
- Changing the theme should work without restarting the app.

[2020-04-12 15:28] yaichenbaum commented on #570
I recall that we had previously moved the Launcher project to .NET Core, but had to revert afterwards because it caused an issue. I think it caused an issue with launching applications but I don't remember if that was the only issue.

[2020-04-12 15:40] yaichenbaum commented on #368
This doesn't seem to be an issue in the ListView layout mode, however when testing I noticed that the inline rename for the GridView layout mode is broken and crashes the app.

[2020-04-12 15:55] #211 closed

[2020-04-12 16:01] yaichenbaum commented on #211
This has been resolved with #574, it will be included when v0.7.6 rolls out.

[2020-04-12 17:03] SOI7 opened #579 "New Folder creation looses focus with each letter"
**Describe the bug**
When I create a new folder and start typing its name, the popup keeps loosing focus and I have to click again on it after each letter

**To Reproduce**
Steps to reproduce the behavior:
Create a new folder and start typing the name. Doesn't matter if the folder is created through the toolbar or the right-click menu

**Expected behavior**
The focus should be kept on the popup, s

[2020-04-12 17:14] yaichenbaum commented on #579
We are planning on fixing this issue with the v0.7.7 release https://github.com/duke7553/files-uwp/issues/486.

[2020-04-12 17:14] #579 closed

[2020-04-12 17:29] yaichenbaum commented on #554
This should be fixed with 234a8520c882e59d7c0c2efe49defe3962d7bbbf.

[2020-04-12 17:29] #554 closed

[2020-04-12 18:24] yaichenbaum commented on #547
This has been fixed with 0ace5ecc98cab6b5c0fdc4d80c7c7ba7ee078dfc. These changes should roll out when v0.7.6 is released.

[2020-04-12 18:24] #547 closed

[2020-04-12 19:09] duke7553 commented on #558
@yaichenbaum Maybe he tried to open multiple items at once?

[2020-04-12 19:10] duke7553 commented on #558
@Darhagonable Just in case: the performance should be better on builds from the Store, so please try to stay on those unless you're prepared to deal with performance not being up to par.

[2020-04-12 19:22] Darhagonable commented on #558
nope, only one folder.

Oh I might try that 🤔

[2020-04-12 19:30] yaichenbaum commented on #491
This has been implemented with 60147862cb5c9ef780fb6b25924b957dd10042c4. These changes will roll out when v0.7.6 is released.

[2020-04-12 19:30] #491 closed

[2020-04-12 19:35] yaichenbaum commented on #189
@BothSamuel Is this still an issue in the latest release (v0.7.5)?

[2020-04-12 20:42] yaichenbaum commented on #37
Multiple new strings have been added to the `develop` branch.

[2020-04-12 22:35] Frioo commented on #509
One up for syntax highlighting!
Would love to try and help with a pull request but I must admit I've never done anything related to syntax highlighting, so somone would need to point me in the right direction:)

[2020-04-12 22:53] yaichenbaum commented on #509
@Frioo Can you clarify what you mean by syntax highlighting?

[2020-04-12 22:55] Frioo commented on #509
@yaichenbaum I mean displaying source code in different colors and fonts according to the category of terms.

[2020-04-12 22:57] yaichenbaum commented on #509
Are you talking about Quick Pad? Usually syntax highlighting is referring to text editors or code editors as opposed to a file explorer app.

[2020-04-12 23:00] Frioo commented on #509
Wow I just noticed I'm on the worng tab haha
Was browsing around some cool UWP apps on github with this repo being open and notepads, was meant for the latter.

just delete my comments, sorry for the trouble

[2020-04-12 23:01] yaichenbaum commented on #509
@Frioo No problem haha.

[2020-04-12 23:04] lindseyleeanna commented on #509
🤣Had me confused, lol

[2020-04-12 23:07] yaichenbaum commented on #509
@lindseyleeanna About the preview pane, have you tried out the QuickLook integration?

[2020-04-12 23:42] lindseyleeanna commented on #509
Yes I have quicklook :) I feel like this app is different than the last time I used it?  Yes because i can now pin the folders in the left nav bar :) This is almost very usable. You have the toggle labels thing going in the settings with the burger button. I like that there aren't auto expanding dropdowns in the nav bar, and the drives are clear. Cool  👍  Libraries though??

[2020-04-12 23:47] yaichenbaum commented on #509
Can you clarify what you mean by "libraries"?

You should be able to choose the date format from the settings page.

[2020-04-12 23:57] lindseyleeanna commented on #509
Well I'm usually on windows file explorer and if I have a library  I can add whichever multiple folders from all over the drive and view and edit them in one place while the original file locations stay the same.
For some reason I guess I assumed this was a windows project...

[2020-04-13 00:10] yaichenbaum commented on #509
This is a Windows project, I just wasn't sure what you meant by that.

[2020-04-13 00:14] BothSamuel commented on #189
Yes, it works very well. It's getting better and better.

[2020-04-13 01:15] xtprion opened #585 "Custom documents / download folder not found"
**Describe the bug**
When using documents, download etc with custom location, file explorer can't find the path

**To Reproduce**
Steps to reproduce the behavior:
1. Change the location of download folder to custom folder
2. Open download on file explorer
3. File explorer say "did you delete the folder? The folder you've navigated to was not found

**Expected behavior**
File explorer could open cu

[2020-04-13 09:31] #566 closed

[2020-04-13 09:34] lampenlampen commented on #570
On my machine .net 4.6.1 is not installed, so every time i upgrade to the latest (4.8 i think) and discard this change before pushing.

[2020-04-13 11:55] generalguy41 commented on #558
I can reproduce this issue on the current store version as well.

[2020-04-13 17:52] yaichenbaum commented on #88
Drag and drop support has been added with de45f623fcb908c754115e34e6833a8e9bff755d.

[2020-04-13 17:52] #88 closed

[2020-04-13 18:31] duke7553 commented on #585
@xtprion What app version is this?

[2020-04-13 18:32] yaichenbaum commented on #585
@duke7553 @xtprion This issue should be fixed when v0.7.6 rolls out.

[2020-04-13 20:57] BuraChuhadar commented on #174
I would like to take a look at this. However what I couldn't find is the menu options of 7-Zip. Where is the submenu items located under the registry of Windows? Here is more information how this can be done.

https://stackoverflow.com/questions/20449316/how-add-context-menu-item-to-windows-explorer-for-folders

https://www.askvg.com/add-cascading-menus-for-your-favorite-programs-in-windows-7-desk

[2020-04-13 21:21] yaichenbaum commented on #174
The open with menu items are interesting because it includes more then the programs you would expect to show. For example, the items for text files include a bunch of strings that seem to have nothing to do with opening files.
![image](https://user-images.githubusercontent.com/39923744/79162377-23b27900-7dab-11ea-8b49-464dcd883c93.png)

[2020-04-14 01:25] #570 closed

[2020-04-14 01:25] yaichenbaum commented on #570
This has been addressed with #588.

[2020-04-14 01:26] BuraChuhadar commented on #174
Some of the application's shell context menu cannot simply be retrieved from the registry. 7-Zip for example is using shell extensions. These are in-process COM objects which extend the abilities of Windows operating system. To retrieve the menu items for 7-Zip, COM object needs to be queried.

[2020-04-14 01:28] yaichenbaum commented on #189
@BothSamuel I tested in v0.7.5 and there is now a dialog that gives you the option to generate a new name or to replace the existing file. If this is still an issue, please let me know.

[2020-04-14 01:28] #189 closed

[2020-04-14 01:33] yaichenbaum commented on #174
@BuraChuhadar We can technically check for 7zip and manually add the menu items like we do for QuickLook.

[2020-04-14 01:34] BuraChuhadar commented on #174
I am not sure how did you get the "Open With" list from your registry. I am seeing on my end Open With is also a shell extension which needs to be queried as a COM object. See "Computer\HKEY_CLASSES_ROOT\*\shellex\ContextMenuHandlers\Open With" which then calls "%SystemRoot%\system32\shell32.dll".

[2020-04-14 01:35] yaichenbaum commented on #174
I got mine from `Computer\HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\FileExts`.

[2020-04-14 02:01] BuraChuhadar commented on #174
I would suggest to keep it simple and look only these sections for now without shell extension functionality:
[code]

Then it can be expanded into "Open With" and/or shell extensions functionality.

[2020-04-14 02:22] yaichenbaum commented on #174
@BuraChuhadar That sounds like a good starting point, is this something you wanted to implement?

[2020-04-14 03:02] BuraChuhadar commented on #174
Yes I want to take a look at this please.

[2020-04-14 04:33] yaichenbaum commented on #560
@R3voA3 #582 includes some changes to address this issue that are inspired by the link you shared.

[2020-04-14 04:33] #560 closed

[2020-04-14 15:48] duke7553 opened #592 "Test Issue"
TEST

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the f

[2020-04-14 15:51] #592 closed

[2020-04-14 15:52] duke7553 opened #593 "Test Issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-14 15:52] #593 closed

[2020-04-14 15:59] #573 closed

[2020-04-14 18:06] #585 closed

[2020-04-14 18:07] yaichenbaum commented on #368
This will be fixed when v0.7.6 rolls out.

[2020-04-14 18:07] #368 closed

[2020-04-14 18:20] yaichenbaum commented on #278
What would this add over appending the folder name to the directory path?

I think `c:` should be enough.

Can you clarify what you are requesting with this one?

[2020-04-14 20:21] szaimen commented on #278
The advantage would be that it would be faster: (and is also possible with file explorer)
Because if you first select the navigation bar, the whole path gets selected which makes sense, then you can just type in the new folder name and don't have to press another key to navigate to the end of the path first.

Maybe you could also compare it to the cd command:
if you are in a directory, you can jus

[2020-04-14 20:41] yaichenbaum commented on #278
Because if you first select the navigation bar, the whole path gets selected which makes sense, then you can just type in the new folder name and don't have to press another key to navigate to the end of the path first.

Maybe you could also compare it to the cd command:
if you are in a directory, you can just type in the folder name (after cd) to navigate into the folder instead of entering the w

[2020-04-14 20:45] yaichenbaum opened #601 "The new sorting feature introduced with v0.7.6 crashes the app when navigating to a directory"
To reproduce this issue, build the app with release mode and try navigating to a directory.

[2020-04-14 20:46] yaichenbaum commented on #601
cc @jeffsieu

[2020-04-14 20:49] szaimen commented on #278
I would vote to always open the folder in the current directory first. If there is no folder with this name in the current directory, you would then open the favourite from the sidebar...

[2020-04-15 00:54] tsvietOK commented on #601
@yaichenbaum look at this [space ](https://github.com/duke7553/files-uwp/blob/6c00418f75d856683f55fa44dea1e34422aae786/Files/Helpers/NaturalStringComparer.cs#L24) before .dll

[2020-04-15 09:36] Darhagonable commented on #384
v0.7.6 still has the same issue. It works perfectly for all the other folders except for Downloads.
Looking at the difference between the folders the only thing i can tell is that my downloads folder has it's target location with a special swedish letter in it's name "ä" and that it has a space in it if any of those could cause this.
![image](https://user-images.githubusercontent.com/14127357/7932

[2020-04-15 10:30] Darhagonable opened #602 "Crashes when trying to open most folders"
Files UWP often crashes when trying to open a folder.
see video:
https://youtu.be/7Xt3k2TOF0c

**Desktop:**
 - OS: Windows 10 1909 18363.657
 - App version: v0.7.6

[2020-04-15 12:22] jeffsieu commented on #602
May be related to #601

[2020-04-15 12:56] Jaiganeshkumaran opened #605 "Open With just opens the file using the default app instead of showing the open with dialog."

[2020-04-15 13:32] SimoneRaspagni commented on #37
Hi! I am sending translations for Italian.
[Files it-IT.zip](https://github.com/duke7553/files-uwp/files/4481463/Files.it-IT.zip)

[2020-04-15 13:37] Jaiganeshkumaran opened #606 "Add a run as admin option for .exe files"

[2020-04-15 13:47] KaKi87 commented on #37
Should `<target>`'s `state` attribute be changed from `new` to `translated` when translating ?
If yes, are there other possible values ?
Thanks

[2020-04-15 14:23] SimoneRaspagni commented on #37
Hi,
thank you I corrected: now I set all translated strings with "final" tag .
[Files it-IT.zip](https://github.com/duke7553/files-uwp/files/4481731/Files.it-IT.zip)

[2020-04-15 14:47] Crocodile73 commented on #602
yeah can confirm this happens on Windows 1909 (1863.778)
Click into a folder, expect folder to open
App crashes.
0.7.6 (External Drives attached)
File Permission granted

[2020-04-16 18:04] #384 closed

[2020-04-16 18:04] #486 closed

[2020-04-16 18:04] #601 closed

[2020-04-16 18:05] duke7553 commented on #488
@NellPoi Hi, I'm going to mark this as more-info

[2020-04-16 21:02] duke7553 commented on #558
I did some work in v0.7.6 which should reduce the freezing. Once it is in the Store (currently in certification), you can test it out and let me know if it's any better

[2020-04-16 22:54] Darhagonable commented on #602
id say this is a critical bug but the labels didn't get applied even if i chose the critical bug option

[2020-04-17 00:51] duke7553 commented on #602
@Darhagonable The new update, which is in certification for the Store, may address this issue.

[2020-04-17 01:18] yaichenbaum commented on #274
Selection options are fully implemented with v0.7.6.

[2020-04-17 01:18] #274 closed

[2020-04-17 01:21] yaichenbaum commented on #384
@Darhagonable v0.7.6 is still in certification.

[2020-04-17 13:45] Crocodile73 commented on #602
@duke7553 If its same as master branch, the issue is still there.

[2020-04-17 14:17] yaichenbaum commented on #602
@Crocodile73 Does Visual Studio have an exception?

[2020-04-17 14:26] tsvietOK commented on #602
@yaichenbaum
![image](https://user-images.githubusercontent.com/20501502/79579540-6092ae80-80d0-11ea-9425-2420683af11c.png)
*parameter set incorrectly* After call SetSelectedItemsOnUi in PhotoAlbum

[2020-04-17 14:26] yaichenbaum opened #615 "Add unit tests to increase the quality of Files UWP"
Adding unit tests will insure that individual bits of the software work in release mode, this will help catch most issues with functionality not working before it's released to any users.

[2020-04-17 14:37] yaichenbaum commented on #602
I am not seeing this issue, can it have something to do with localization?

[2020-04-17 14:42] tsvietOK commented on #602
@yaichenbaum To reproduce: start debug, set grid view and try to open folder

[2020-04-17 14:45] Crocodile73 commented on #602
i didn't see anything, will have another look. I went back to 0.7.5

[2020-04-17 14:57] tsvietOK commented on #602
For me it is not working only in Downloads folder

[2020-04-17 15:28] yaichenbaum commented on #602
@tsvietOK I have tried that and didn't have any issues with it crashing, however I did notice that I can't open the first folder listed in the grid view layout.

[2020-04-17 15:35] yaichenbaum commented on #605
Thank you for opening this issue, after investigating it turns out that "Open With" wasn't implemented and the context menu was actually meant to say "Open". We are tracking the option to choose which program to open a file in over here #174.

[2020-04-17 15:35] #605 closed

[2020-04-17 15:43] tsvietOK commented on #602
@yaichenbaum you can open first folder after select and unselect any other element next to this folder

[2020-04-17 15:45] tsvietOK commented on #602
@yaichenbaum Null check fixes opening folder
![image](https://user-images.githubusercontent.com/20501502/79587708-9b4e1400-80db-11ea-9660-1a42c4e5b21b.png)

[2020-04-17 16:35] Darhagonable commented on #558
Just built from master branch and it seems to be fixed! 😃

[2020-04-17 16:39] yaichenbaum commented on #558
@Darhagonable Thank you for the updated information 🎉

[2020-04-17 16:39] #558 closed

[2020-04-17 17:51] yaichenbaum commented on #37
@SimoneRaspagni Thank you.

[2020-04-17 17:56] tsvietOK commented on #602
@yaichenbaum For some reason first folder can't be opened because of these lines. Without them first folder opens fine. but drag is not working.
![image](https://user-images.githubusercontent.com/20501502/79599186-c2154600-80ed-11ea-9b02-300b87dae751.png)

[2020-04-18 00:06] szaimen commented on #548
I had it open today and updated again and there was no popup window with a crash report. So I would say this issue is fixed.

[2020-04-18 00:06] #548 closed

[2020-04-19 05:52] yaichenbaum commented on #191
While WinUI has still not released it's new `DataGrid` control, I just wanted to let you know that the GridView layout in Files UWP already has smooth scrolling. I hope this information is helpful.

[2020-04-19 05:57] yaichenbaum commented on #343
Full support for Windows Terminal has been added to Files UWP with v0.7.5. We will continue work on integrations with Windows 10 features as well as integrations with 3rd part apps. If there is a specific integration that you would like to see added, make sure to open an issue or pull request.

[2020-04-19 05:57] #343 closed

[2020-04-19 05:58] yaichenbaum commented on #359
@dustojnikhummer Is this still an issue in v0.7.5?

[2020-04-19 06:03] yaichenbaum commented on #282
This can probably be added as a sort option, however there doesn't seem to be much support for adding this feature.

[2020-04-19 10:06] szaimen commented on #282
I see, would of course love this getting implemented nonetheless.

[2020-04-19 13:28] dustojnikhummer commented on #359
Only one of my 3 internal drives got recognized, but with a proper name.

Network drives are not shown and when manually opened they show an empty folder, explorer.exe does not

https://i.imgur.com/YgOM9bs.png

[2020-04-19 14:08] yaichenbaum commented on #282
@szaimen I am going to be leaving this issue open. As the app gets more users, the needs of the users change and there might be more requests for this feature.

[2020-04-19 14:28] yaichenbaum commented on #359
@dustojnikhummer Have you given Files UWP permission to access the file system?

[2020-04-19 14:47] yaichenbaum commented on #525
@szaimen This issue should be resolved with v0.7.6, for some reason OneDrive is still not getting highlighted correctly but we are investigating this in order to fix it.

[2020-04-19 15:54] dustojnikhummer commented on #359
Yes
![image](https://user-images.githubusercontent.com/3268305/79692681-ce70de80-8266-11ea-9631-97da9936d146.png)

[2020-04-19 16:03] szaimen commented on #525
@yaichenbaum when will 0.7.6 be available through the store? I would like to test this out! I am still running 0.7.5 and no update is available through the store...

[2020-04-19 16:11] yaichenbaum commented on #525
@szaimen As soon as it gets past certification, this time the update is taking a little longer since we added a new capability to the app.

[2020-04-19 16:12] yaichenbaum commented on #359
@dustojnikhummer Were there any specific parts of the older design that you liked better?

[2020-04-19 18:03] dustojnikhummer commented on #359
Well, the main thing I don't like is the sidebar going all the way to the top. IRRC before it looked more like explorer, just with Fluent

[2020-04-19 18:10] yaichenbaum commented on #359
I will admit that at first I felt the same about the new design, but after some time I realized the goal of the app is not just a rewrite of File Explorer, but rather a whole new take on what a File Explorer should be. Keeping that goal in mind, the new design makes a lot of sense.
The new design is still not done and we will do further work to make the tabs and sidebar more responsive when resizi

[2020-04-19 21:29] yaichenbaum commented on #306
There is a new pull request https://github.com/duke7553/files-uwp/pull/624 that adds a feature flag which lets you turn off double tap to rename.

[2020-04-20 14:19] NellPoi commented on #488
you're right，there are three local accounts on PC by my created

[2020-04-20 14:33] NellPoi commented on #488
![image](https://user-images.githubusercontent.com/16631927/79762777-c0e65200-8355-11ea-8fcb-ba9b77146d83.png)
It's better than before on this version now (ver0.7.5.0) ,it fixed the most serious problem，App crash issue was fixed,but it still can't display any devices...

![image](https://user-images.githubusercontent.com/16631927/79762777-c0e65200-8355-11ea-8fcb-ba9b77146d83.png)
It's better than

[2020-04-20 15:40] tsvietOK opened #627 "Progress bar color changed after settings opened and closed"
**Describe the bug**
Opening settings page somehow changes loading indicator background color.

**To Reproduce**
Steps to reproduce the behavior:
1. Open folder contains a lot of files(for example /system32)
2. Make sure that loading indicator is visible and working fine;
3. Open and close settings page.
4. Update current directory
5. Instead of loading indicator there is a gray line.

**Expected

[2020-04-20 15:45] yaichenbaum commented on #331
This has been implemented with #625.

[2020-04-20 15:45] #331 closed

[2020-04-20 21:14] jcardama opened #630 "Crashes when creating a folder or file with a restricted name"
**Describe the bug**
When trying to create a folder or file with a reserved name, it crashes.

List of names:
- CON
- AUX
- PRN
- LST
- COM0 - COM9
- LPT0 - LPT9
- NUL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to desktop
2. Right click
3. New -> Folder
4. Type a name of the ones mentioned above
5. UWP Crashes

**Expected behavior**
An error message should pop showing you the followi

[2020-04-21 02:00] duke7553 opened #632 "Improve the Speed and Reliability of Storage Item Operations"
**Is your feature request related to a problem? Please describe.**
The cut, copy, and paste operations aren't as fast as we'd like.

**Describe the solution you'd like**
Use the Win32 *FromApp APIs available to UWP apps.

**Describe alternatives you've considered**
N/A

**Additional context**
TBA

[2020-04-21 03:29] BuraChuhadar commented on #174
I am also sharing this here:
https://stackoverflow.com/questions/5708434/how-to-use-shell32-within-a-c-sharp-application
https://stackoverflow.com/questions/53035823/using-folderitemverbs-and-invoke-or-doit-to-execute-a-submenu-item-in-a-windows

[2020-04-21 04:18] yaichenbaum commented on #174
@BuraChuhadar Make sure to keep us updated on your progress 😊

[2020-04-21 07:03] EukalyptenHD commented on #130
Why download an entirely separate app for this one feature when you can just support it natively?

[2020-04-21 07:13] EukalyptenHD opened #633 "Drag To Select"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
To select files and folders on drag when clicking on empty space.

**Describe alternatives you've considered**
...

**Additional context**
...

[2020-04-21 07:15] #633 closed

[2020-04-21 07:22] eraychumak opened #634 "Drag File/Folder To A Previous Directory In Path To Move"
**Is your feature request related to a problem? Please describe.**
Cannot move a file/folder to a previous directory within the current path.

**Describe the solution you'd like**

Example of windows file explorer:

![image](https://user-images.githubusercontent.com/44278658/79837098-d9cc2300-83a8-11ea-8ed7-e280778f5312.png)

Current result of Files UWP:

![image](https://user-images.githubusercon

[2020-04-21 14:03] BuraChuhadar commented on #174
So far I have this: https://github.com/duke7553/files-uwp/commit/4ee24dbb73956762910aa8b86e9baef9d522db4f

I have been experimenting with also getting the information from other ways.

[2020-04-21 19:49] tsvietOK commented on #577
@yaichenbaum Should the AcrylicSidebar parameter affect the properties window? I am currently working on theme change and acrylic mode on/off without app restart.

[2020-04-21 19:50] duke7553 commented on #577
@tsvietOK Most likely, yes. That setting should disable all background acrylic surfaces.

[2020-04-22 11:41] Darhagonable opened #635 "Sharp corner when one isn't on the first tab (visual nitpick)"
This is just a visual nitpick but if you look at this:
(first one: when being on the first tab
second one: how I would like it to look when the first tab is not active
 third one: is how it looks currently when the first tab isn't active)
![image](https://user-images.githubusercontent.com/14127357/79977130-057d0500-849e-11ea-9e08-f9f5e7a8bb70.png)
I think the corner should be rounded since most ot

[2020-04-22 12:35] xPoppyx opened #636 "Space for "Double tap to rename files" text does not adjust automatically"
**Screenshots**
![Anotación 2020-04-22 082246](https://user-images.githubusercontent.com/61259627/79982256-08630000-8474-11ea-937a-8e675ba705af.png)

**Desktop:**
 - OS Version: Windows 10 1909
 - App version: [v0.7.7]

[2020-04-22 12:45] XPoppyX opened #637 "Add string for "New tab" that appears in path"
**Screenshots**
![Anotación 2020-04-22 084342](https://user-images.githubusercontent.com/61259627/79983254-7b20ab00-8475-11ea-88c2-a8a4196634b1.png)

**Desktop:**
 - OS Version: Windows 10 1909
 - App version: [v0.7.7]

[2020-04-22 14:15] xPoppyx opened #638 "Some bugs/questions/Feature request [v0.7.7]"
**1.**  **Feature request:** Display this date format -> 04/19/2020 20:30, instead of "3 days ago" for the most recent files
  - in case you are not interested in changing this, the text "5 days ago", "4 hours ago", etc. are they translated automatically? because they are still in English

**2.** ------------------------------

**3.** -----------------------------

**4.** -------------------------

[2020-04-22 18:42] yaichenbaum commented on #638
1. You can change the date format in the apps settings.
6. Shortcuts are not supported yet #328.
8. Can you mention the missing strings in #37? The second dialog is going to be replaced with a modern one instead of the Windows 8 style, the theme issue should be fixed when that is taken care of.

_It would help if you opened individual issues for the other items, this way if someone wants to work o

[2020-04-22 18:46] tsvietOK commented on #638
@yaichenbaum As i understand, currently it is not possible to translate this string, as new tab detection based on "new tab" string.

[2020-04-22 18:48] yaichenbaum commented on #638
@tsvietOK Which string?

[2020-04-22 18:49] xPoppyx commented on #638
changing the date format only affects older files:
![Anotación 2020-04-22 144546](https://user-images.githubusercontent.com/61259627/80021138-1468b500-84a8-11ea-9470-b9b6500cc316.png)
![Anotación 2020-04-22 144624](https://user-images.githubusercontent.com/61259627/80021143-16327880-84a8-11ea-9d5d-6651cab4ef95.png)
also that "11 hours ago" is not automatically translated into Spanish

[2020-04-22 18:51] tsvietOK commented on #638
@yaichenbaum "New tab" string. As in your PR #640 . I think this change could break new tab detection.

[2020-04-22 18:53] xPoppyx opened #641 "In grid view, the icon of the first file is not displayed correctly"
![Anotación 2020-04-22 145248](https://user-images.githubusercontent.com/61259627/80021750-fea7bf80-84a8-11ea-93b4-993c4f766db1.png)
![Anotación 2020-04-22 145301](https://user-images.githubusercontent.com/61259627/80021753-ffd8ec80-84a8-11ea-9e08-c0b9c96e8eba.png)

v0.7.7

[2020-04-22 18:55] xPoppyx commented on #37
strings need to be added for this:
![80010185-0b6fe780-8498-11ea-851a-b0aa5bd2b4f7](https://user-images.githubusercontent.com/61259627/80021916-44648800-84a9-11ea-8c77-6ea5b46c9090.png)

[2020-04-22 18:58] XPoppyX opened #642 "Network folders appear empty, but it works in Files UWP - Dev"
In "files uwp - dev", the contents of the network locations are displayed correctly, however in the microsoft store version they appear empty.

**Update:** network locations still appear empty (v0.10.2)

![80325018-82dba900-8801-11ea-8d3c-4ab8fa5cb31d](https://user-images.githubusercontent.com/61259627/84296878-ae4cf580-ab1a-11ea-9f56-98b11b670bb2.png)

[2020-04-22 19:04] XPoppyX opened #643 "Highlight folder when you drag a file over it"
example:
![drag](https://user-images.githubusercontent.com/61259627/80022784-8d690c00-84aa-11ea-8cf7-4f3a87565bfe.gif)

[2020-04-22 19:08] xPoppyx opened #644 ""Close, max, min" icons of the properties dialog do not change color when put in dark mode."
![79988376-95aa5280-847c-11ea-8233-922e99e98af3](https://user-images.githubusercontent.com/61259627/80023151-1da75100-84ab-11ea-89aa-f3c128e9515a.png)

[2020-04-22 19:14] XPoppyX opened #645 "Folder size is not displayed in the properties dialog"
![Anotación 2020-04-22 151419](https://user-images.githubusercontent.com/61259627/80023731-fb620300-84ab-11ea-921b-62e129114355.png)

[2020-04-22 19:21] xPoppyx commented on #638
https://github.com/duke7553/files-uwp/issues/638#issuecomment-617963511

[2020-04-22 19:25] yaichenbaum commented on #637
The issue of it not being localized on the tab is fixed with #640. I wasn't able to get it localized for the navigation bar, but I might of missed something.

[2020-04-22 19:26] yaichenbaum commented on #636
This should be fixed with #646.

[2020-04-22 19:26] #636 closed

[2020-04-22 19:41] xPoppyx commented on #37
Date modified: "X seconds ago", "X minutes ago", etc. , still displayed only in English
![Anotación 2020-04-22 144546](https://user-images.githubusercontent.com/61259627/80026185-b8a22a00-84af-11ea-84f5-e06bb702800d.png)
![Anotación 2020-04-22 154009](https://user-images.githubusercontent.com/61259627/80026188-ba6bed80-84af-11ea-89c2-c271b8afbdf3.png)

[2020-04-22 21:00] R3voA3 opened #647 "Visual suggestions for properties dialog"
- [x] The icon should be aligned to the left side.
- [x] The OK button should not stretch, but have a fixed width
- [ ] The window's corners should have a radius

![alignment](https://user-images.githubusercontent.com/17484252/80033467-15700580-84ed-11ea-8227-21e76b7361a4.PNG)
![buttonSize](https://user-images.githubusercontent.com/17484252/80033469-16089c00-84ed-11ea-94ca-ee2831bc23aa.PNG)

[2020-04-22 21:43] yaichenbaum commented on #647
1. Some icons are square, that is why there is extra space on the edges.
2. Thank you for pointing this out 😂.
3. Unfortunately this one isn't possible since this is a regular window which doesn't let you set the corner radius.

[2020-04-22 21:58] yaichenbaum commented on #9
@R3voA3 Can you test again if it's working to use the mouse buttons for navigation?

[2020-04-22 22:40] #638 closed

[2020-04-23 08:22] R3voA3 commented on #9
Works fine with the latest Store version. @yaichenbaum

[2020-04-23 08:55] SOI7 opened #650 "Several fields in Settings are cut in Italian localization"
In the Italian localization, several fields in Settings are cut and you can't read the whole phrase

![image](https://user-images.githubusercontent.com/50930970/80079562-bcd25400-8550-11ea-9216-ade97900fd6f.png)

![image](https://user-images.githubusercontent.com/50930970/80079456-97dde100-8550-11ea-98e4-c523f9f7bf47.png)

Side Note: "RCerca" (equivalent of "Search") may be a typo, the correct tra

[2020-04-23 12:41] xPoppyx commented on #650
one of those was fixed with #646
![80079562-bcd25400-8550-11ea-9216-ade97900fd6f](https://user-images.githubusercontent.com/61259627/80099178-0ebcaf00-853c-11ea-8a97-0830db3be956.png)

[2020-04-23 14:02] Faisalnk4045 opened #651 "Experimental double tap to rename files is disabling other rename methods"
*select a folder
*right click on it
*click on rename
*List view layout mode
instead of renaming the folder name it's opening the selected folder
Note to mention, my 'double tap to rename files' is disabled.

[2020-04-23 14:24] xPoppyx commented on #651
in my case, when renaming a file or folder I have to manually refresh to see the change

[2020-04-23 14:34] xPoppyx opened #652 "The app crashes when you right-click on a unformatted file"
_I don't know if "unformatted file" is the correct term, I use google translator_
![crash](https://user-images.githubusercontent.com/61259627/80111456-e938a100-854d-11ea-8f70-06a0e004f81d.gif)

[2020-04-23 14:49] yaichenbaum commented on #650
This should be fixed with https://github.com/duke7553/files-uwp/pull/653.

[2020-04-23 14:49] #650 closed

[2020-04-23 15:20] yaichenbaum commented on #236
@CrankySupertoon [Here](https://github.com/duke7553/files-uwp/wiki/Replacing-File-Explorer-with-Files-UWP) is a guide on how to replace File Explorer with Files UWP.

[2020-04-23 17:05] MarcAnt01 opened #655 "Show long names of files with mouse hover"
**Is your feature request related to a problem? Please describe.**
When a file has a long name, it could be shown with mouse hover like Windows explorer does.

**Describe the solution you'd like**
Implement it in the in-folder view

**Describe alternatives you've considered**
None

**Additional context**
Not needed

[2020-04-23 17:54] xPoppyx opened #657 "Cannot see full long name when renaming files in grid view"
![renaming3](https://user-images.githubusercontent.com/61259627/80131944-fdd66280-8568-11ea-9e1b-dd420d2fba12.gif)

![renaming2](https://user-images.githubusercontent.com/61259627/80131658-8f91a000-8568-11ea-8ebd-4d0739a1a6bb.gif)

--------------------------------------------------------

Another thing is that after renaming you need to manually refresh to see the change.
![renaming4](https://user

[2020-04-23 19:27] ivanodapice opened #659 "Closing the 'property' window will also close definitively the app or its just bugged and wont open"
![1](https://user-images.githubusercontent.com/34964967/80141009-1cf4e480-85a9-11ea-9c4d-3f7ad19130b8.PNG)
![2](https://user-images.githubusercontent.com/34964967/80141015-21210200-85a9-11ea-9a38-f2ec4eab0cbb.PNG)

[2020-04-23 19:30] yaichenbaum commented on #659
Can you add steps to reproduce this issue?

[2020-04-23 19:32] ivanodapice commented on #659
To me it happens every time i just right click on a file/folder > click on property > close the new property window with the x red button

[2020-04-23 19:38] yaichenbaum commented on #659
@ivanodapice The app crashes when you close the properties window?

[2020-04-23 19:40] ivanodapice commented on #659
Yes, exactly. The app itself remain in the windows taskbar but if i click on it's icon it doesen't really shows anything.

[2020-04-23 19:45] ivanodapice commented on #659
@yaichenbaum
![ezgif-3-e7dccd27c388](https://user-images.githubusercontent.com/34964967/80142610-c1782600-85ab-11ea-954d-e72f2ea4a9dc.gif)

[2020-04-23 19:47] xPoppyx opened #660 "Sometimes i can't open the first folder/file in grid view mode"
As shown in the gif, it works if I click on another folder first

![folder](https://user-images.githubusercontent.com/61259627/80142490-39792880-8579-11ea-8d0c-3460098b8766.gif)

_I go back using the side mouse buttons, that's not part of the bug_

[2020-04-23 20:13] xPoppyx opened #661 "The app crashes when trying to interact with a .url file"
It crashes when trying to open, copy, cut, share, view properties, it cannot be renamed, and when trying to delete it, this happens:
![Anotación 2020-04-23 160457](https://user-images.githubusercontent.com/61259627/80144507-a17d3e00-857c-11ea-842b-89856529f32b.png)

[2020-04-23 23:20] yaichenbaum commented on #659
Can you check the [log file](https://github.com/duke7553/files-uwp/wiki/Opening-the-log-file) to help us debug?

[2020-04-23 23:21] ivanodapice commented on #659
@yaichenbaum Sure, here is it
[debug.txt](https://github.com/duke7553/files-uwp/files/4525783/debug.txt)

[2020-04-23 23:25] yaichenbaum commented on #659
What version of Windows are you running?

[2020-04-23 23:26] ivanodapice commented on #659
@yaichenbaum Windows 10 Pro Insider Preview Ver. 2004 Build 19613.1000

[2020-04-23 23:34] yaichenbaum commented on #659
I am not sure why this is happening, perhaps @duke7553 can help with this.

[2020-04-23 23:36] yaichenbaum commented on #661
I think the issue is that Files UWP doesn't support shortcut files yet. The solution would be to hide url files until they are supported.

[2020-04-23 23:51] yaichenbaum commented on #652
Can you include a sample file?

[2020-04-24 00:02] xPoppyx commented on #652
http://www.mediafire.com/file/08sa2di4ykedb7u/TEST1/file

[2020-04-24 00:02] yaichenbaum commented on #647
Besides for the corner radius, the feedback in this issue should be addressed with #648.

[2020-04-24 00:02] #647 closed

[2020-04-24 00:15] yaichenbaum commented on #661
#662 Disables loading url files. We will re-enable shortcut files when we can properly support them.

[2020-04-24 00:15] #661 closed

[2020-04-24 00:22] XPoppyX opened #664 "Concept design for navigation bar"
updated:
![concepto files uwp blanco](https://user-images.githubusercontent.com/61259627/80230527-0b025880-8620-11ea-89c0-f8775d764e9a.png)

![concepto files uwp oscuro](https://user-images.githubusercontent.com/61259627/80230537-0dfd4900-8620-11ea-9468-02eac030dbfd.png)

[2020-04-24 00:25] yaichenbaum commented on #664
I like this idea...

[2020-04-24 00:28] yaichenbaum commented on #645
Because of limitations with Windows NT filesystem (ntfs) folder sizes aren't returned as part of the standard query. This isn't specific to the properties dialog either.

[2020-04-24 00:31] xPoppyx commented on #645
Then it is possible, but in another way?

[2020-04-24 00:32] yaichenbaum commented on #645
It is possible, but we haven't gotten around to it yet.

[2020-04-24 00:38] duke7553 commented on #645
@xPoppyx We certainly could return this information in the Properties dialog, but it isn't part of the standard item query data. Meaning, we'd have to recursively calculate this manually.

[2020-04-24 00:53] xPoppyx opened #667 "Is the "Up" button really useful?"
I thought that its function was to go back to the top, but I realized that it only goes back in the same way that I would do using the navigation bar.

[2020-04-24 07:02] seohyun1108 opened #669 "Add support for recycle bin"
**Describe the bug**
I changed the default file explorer to Files UWP. However, I can not open to Recycle Bin. Also, sometimes, Files UWP closed unexpectedly.

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 20H2 build 19613]
 - App version: [v0.7.7.0]

[2020-04-24 07:18] lisaraj2009 opened #670 "Search f"
I don't have anything to write but you have to enable the search function!

[2020-04-24 07:46] R3voA3 commented on #667
The top button is used to go one level up in the folder hierarchy, so it does what it' supposed to.

[2020-04-24 07:47] R3voA3 commented on #670
Yep, it's a mandatory feature and should have a  high priority.

[2020-04-24 07:49] R3voA3 commented on #664
I like it too, it looks very clean.

[2020-04-24 08:05] R3voA3 opened #671 "Acylic effect is too subtle"
In my opinion the acrylic effect is too weak/dark. It looks really dull to me. For comparison:
![acrylic_old](https://user-images.githubusercontent.com/17484252/80189511-113e0800-8613-11ea-98fc-a51ba569e107.PNG)

![acrylic_new](https://user-images.githubusercontent.com/17484252/80189509-10a57180-8613-11ea-9795-af303b6c9543.PNG)

[2020-04-24 10:08] GavinYou082 commented on #664
I like the design for navigation bar. I think adding another button for opening new windows besides the existing one would be a better solution. Using a flyout means you have to click twice every time when you want a new tab.

[2020-04-24 11:53] xPoppyx commented on #664
@GavinYou082

Sorry, I forgot to clarify that, it is supposed to be with the right-click

![concepto files uwp 2](https://user-images.githubusercontent.com/61259627/80209650-6de3f780-8600-11ea-9b6e-e6c8416d970d.png)

[2020-04-24 12:25] lampenlampen commented on #659
did you install the store version?

Had the same problem while i did work on the properties dialog, but it got away, when i merged the `develop`-branch. So i thought it was a bug, that got already fixed.

[2020-04-24 12:27] ivanodapice commented on #659
@lampenlampen Yes, the one on MS

[2020-04-24 14:05] GavinYou082 commented on #664
@xPoppyx That's nice!

[2020-04-24 14:08] SOI7 commented on #664
I approve everything, but why would you remove the Up button?

[2020-04-24 14:13] xPoppyx commented on #664
@SOI7 Well, I thought it was not very useful since you can do exactly the same in the navigation bar, but if it is useful for users then it is not necessary to remove it.

[2020-04-24 14:14] yaichenbaum commented on #664
I don't think there is a need for the plus button to show the context menu, there will be a different context menu when right clicking on the tab strip that gives that option, most of the time when a user clicks the plus button they want a new tab.
I also like how on the current design, the address bar blends in with the design and looks like a regular header, but if you click on it then you get m

[2020-04-24 14:14] SOI7 commented on #664
The function is different, the navigation buttons return you to the previous folder you opened, while the Up button returns the parent folder

[2020-04-24 14:16] yaichenbaum commented on #664
Another thing I would like to add is that we should only show the search box when the user wants to search, the rest of the time it stays hidden and gives the app a cleaner look.

[2020-04-24 14:16] XeZrunner opened #672 "Ability to resize the sidebar"
**Is your feature request related to a problem? Please describe.**
It isn't related to a problem.

**Describe the solution you'd like**
When hovering between the sidebar and content edge, the cursor should change into the horizontal resizing cursor and let us change the sidebar width. The application should also save this width so we don't have to keep adjusting the sidebar width every time.

**De

[2020-04-24 14:18] SOI7 commented on #664
Was thinking the same, switching from a button to a box when you start searching

[2020-04-24 14:19] yaichenbaum commented on #669
Thank you for opening this issue, we don't have support for recycle bin yet but we will work on that in the future. Do you have any more details about the crashes?

[2020-04-24 14:21] xPoppyx commented on #664
I'll see what I can do :)

[2020-04-24 14:21] yaichenbaum commented on #667
The up button is very useful, while you can do that from the navigation bar as well, many users are used to using the up button. It is also useful if the path in the navigation bar is very long and you would have to scroll to find the path you want to switch to.

[2020-04-24 14:21] #667 closed

[2020-04-24 14:22] XeZrunner opened #673 "Allow dragging files and folders without selecting them first"
**Is your feature request related to a problem? Please describe.**
I wouldn't say it's a problem, so I report it as a feature request. Some may consider this annoying or a bug.

**Describe the solution you'd like**
When clicking and holding (or tapping and holding) without selecting the file first, the application should highlight and initiate the drag & drop mechanism.

**Describe alternatives yo

[2020-04-24 14:25] yaichenbaum commented on #659
I was able to reproduce this once or twice but not consistently. I am guessing it's an app window bug since we are not doing anything special here. That being said, I wonder if there is anything we can do about it...

[2020-04-24 14:25] xPoppyx commented on #664
What do you think?
![Anotación 2020-04-23 215738](https://user-images.githubusercontent.com/61259627/80223063-c5409280-8615-11ea-9e5b-42ea60b0bc1d.png)

[2020-04-24 14:28] yaichenbaum commented on #671
It is done this way to limit distractions. When it lets too much through it can lead to issues like this
![image](https://user-images.githubusercontent.com/39923744/80223482-5879c800-8616-11ea-9442-d5f5d7837a90.png)

[2020-04-24 14:29] R3voA3 commented on #664
Very nice. So CTRL+F will auto-focus the search box?

[2020-04-24 14:31] SOI7 commented on #664
It looks good, but I have mixed feelings about possible overlaps between the navbar and the eventual searchbox (unless you make the searchbox shift the navbar margin). On the other hand, I'm a big fan of condensing the current two lines, because it helps with not wasting space, which is a issue most UWPs have

[2020-04-24 14:33] XeZrunner opened #674 "Improve Properties dialogs' user interface design"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
At this time, the properties dialogs' design appears to be the same as the original Windows File Explorer one. I suggest giving it an user interface design refresh.

**Describe alternatives you've considered**
[This concept on Reddit got 999 upvotes](https://www.reddit.com/r/Windows10/comme

[2020-04-24 14:33] yaichenbaum commented on #664
@R3voA3 When search is implemented we will add that shortcut as well.

@xPoppyx I like it!

@SOI7 A concept we are thinking about is having the search box float down underneath the navigation bar.

[2020-04-24 14:35] SOI7 commented on #664
A "push" to the left would feel more natural imho, but we'll see later when Search will be a thing

[2020-04-24 14:36] yaichenbaum commented on #670
@lisaraj2009 @R3voA3 Search is a very important feature, and is very high on our list. We are tracking this issue here #333.

[2020-04-24 14:36] #670 closed

[2020-04-24 14:39] xPoppyx commented on #664
something like this, but to the left
![search-final2](https://user-images.githubusercontent.com/61259627/80224536-d2f71780-8617-11ea-8ba6-87d8ff7feca6.gif)

[2020-04-24 14:41] yaichenbaum commented on #664
I think it would be a little more subtle then that but we will explore it at the time.

[2020-04-24 14:42] XeZrunner opened #675 "Slow scrolling speed (mouse)"
**Describe the bug**
Compared to other applications, Files UWP's scrolling speed is very slow with a mouse.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application and navigate to a folder with many files and/or folders.
2. Open the Windows File Explorer at the same path or other applications that support scrolling.
3. Keep scrolling and switching between the two applications to

[2020-04-24 14:42] yaichenbaum commented on #673
@XeZrunner Good feedback! This would make drag and drop more user friendly.

[2020-04-24 14:50] yaichenbaum commented on #675
Unfortunately this isn't something we can control right now, it is the behavior of the Community Toolkit DataGrid control. The good news is that a new one is going to be made by WinUI which will fix many of the issues with the Toolkit version.
You can add your feedback to the open issue on the WinUI repo here https://github.com/microsoft/microsoft-ui-xaml/issues/1500.

[2020-04-24 14:50] #675 closed

[2020-04-24 15:29] yaichenbaum commented on #674
The dialog already follows the fluent design guidelines.

![image](https://user-images.githubusercontent.com/39923744/80229690-cd510000-861e-11ea-9abf-dcd249a9fa55.png)

[2020-04-24 15:57] XeZrunner commented on #674
Sorry, my original title was worded incorrectly.
I would love to see a more fresh, custom design of the Properties dialog. Right now, it looks identical to the Windows File Explorer, which, to me, feels a bit dated.
Definitely not supposed to be prirority.

[2020-04-24 16:34] yaichenbaum opened #676 "First official preview (v0.9)"
As we near the first official release of Files UWP by participating in the [2020 Launch event](https://uwpcommunity.com/launch), we are focusing on stability. A number of bug reports have been filed in the past few days, and we hope that together with the community we will be able to work through all of them before Launch.

We are expecting there to be an influx of issues and contributions after t

[2020-04-24 16:54] xPoppyx commented on #674
maybe something like this? not much difference but it's just to get an idea
![Captura de pantalla (195)](https://user-images.githubusercontent.com/61259627/80237350-97b21400-862a-11ea-9b95-072e9fb785a4.png)

[2020-04-24 17:16] xPoppyx commented on #664
Will we wait to receive more feedback?

[2020-04-24 17:17] yaichenbaum commented on #664
I think your latest idea is perfect, see #676 about our priorities right now.

[2020-04-24 17:21] xPoppyx commented on #673
I want to add something, if you select a folder or file and deselect it, you can't open it

[2020-04-24 17:22] yaichenbaum commented on #673
@xPoppyx That sounds more like a bug, can you open a separate issue for it?

[2020-04-24 17:26] xPoppyx opened #678 "If you select and deselect a folder or file, you can't open it"
![bug](https://user-images.githubusercontent.com/61259627/80240000-2c1e7580-862f-11ea-8673-9a5770526311.gif)

[2020-04-24 17:37] yaichenbaum opened #679 "Changes to files should refresh the directory"
After creating a new file the extension doesn't show until you refresh the directory, if you try interacting with the file before refreshing the directory the app will crash.
After creating a new folder, it adds it to the bottom of the list, copying and pasting the folder will crash the app unless you refresh the directory.

If you know of any other actions that have this issue, add them as a comm

[2020-04-24 18:14] XeZrunner commented on #678
Can confirm. It prompts me to rename the file instead.
By turning off the Double tap to rename files option in Settings -> Experimental, I can't reproduce the issue anymore.

[2020-04-24 18:20] yaichenbaum commented on #678
That is a different issues, the issue reported here is an issue with something in the photo album layout mode that was introduced after we added the drag and drop feature.
The issue you mentioned is a bug with the Toolkit Data Grid control that we use for the list view layout mode. While we are waiting for the toolkit to fix this issue we added an option to turn of the double click to rename featu

[2020-04-24 20:05] xPoppyx opened #683 "Alternative to "Home" tab"
**Don't give much importance to the style of icons and bars.**

![Captura de pantalla (196)](https://user-images.githubusercontent.com/61259627/80251188-334f7e80-8643-11ea-8aa0-77e12edaab16.png)

With "Recents":

![Captura de pantalla (196) 2](https://user-images.githubusercontent.com/61259627/80252322-15831900-8645-11ea-83e1-bb89fac56fb0.png)

Bigger drives:

![Captura de pantalla (196)3](https:/

[2020-04-24 20:06] yaichenbaum commented on #683
Thank you for opening this issue, please see #366.

[2020-04-24 20:06] #683 closed

[2020-04-24 20:12] yaichenbaum commented on #366
Some feedback I have after using the app as a full replacement for File Explorer for some time.

1. The cards on the home page are really helpful even though the locations are already on the sidebar, the cards are larger and easier to click on compared to the sidebar. However since it's possible that not everyone feels the same, it should be easy to remove this widget.

2. The recent items list is

[2020-04-24 21:25] R3voA3 opened #685 "App crashes when opening a file with .url extension (OneNote)"
**Describe the bug**
App crashes when opening a file with .url extension (OneNote)

**To Reproduce**
Steps to reproduce the behavior:
1. Double Click on a .url file

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Windows 10 2004
- App: 0.7.7.0

[2020-04-24 21:33] yaichenbaum commented on #685
Can you try updating to v0.8.0? v0.8.0 disabled loading url files since we do not support shortcut files yet.

[2020-04-24 21:49] XPoppyX opened #686 "I'd like to be prompted to replace storage items during the Paste operation"
![replace](https://user-images.githubusercontent.com/61259627/80259511-c98ba080-8653-11ea-8f09-db7c463f6856.gif)

[2020-04-24 22:10] Chaoticoz opened #688 "Renaming an item twice crashes the app"
**Describe the bug**
Renaming the same item twice opens the "Item already exists" dialog and then crashes the app

**To Reproduce**
Steps to reproduce the behavior:
1. Open any folder
2. Rename an item
3. Rename the same item again

**Screenshots**
![W7QwXqb6ej](https://user-images.githubusercontent.com/6023076/80262276-37a08980-868d-11ea-906a-d02999f865c8.gif)

**Desktop (please complete the foll

[2020-04-24 22:18] Chaoticoz opened #689 "Double click to rename generally strange behavior"
**Describe the bug**
Double click to rename gets activated, even when you click on empty space in between the two clicks.

**To Reproduce**
Steps to reproduce the behavior:
-Click an item
-Click in empty space
-Click the item again

**Expected behavior**
In this case, double click to rename should not be activated

**Screenshots**
![EJ4wMqKnZc](https://user-images.githubusercontent.com/6023076/802

[2020-04-24 22:46] Chaoticoz commented on #651
Experiencing the same issue:
Disabling "Double tap to rename" stops renaming from working all together:

![crUPmAvSdI](https://user-images.githubusercontent.com/6023076/80262551-0f655a80-868e-11ea-8bd5-67d2d39dd389.gif)

[2020-04-24 22:47] xPoppyx commented on #679
if you rename a file and try to interact with it without refreshing, the app crashes too

[2020-04-25 00:19] XPoppyX opened #691 "Display dimensions of an image in the properties dialog"
![Anotación 2020-06-17 121152](https://user-images.githubusercontent.com/61259627/84922785-5a9b5880-b094-11ea-8afe-e1534c7fabb2.jpg)

[2020-04-25 00:49] seohyun1108 commented on #669
Thank You!

[2020-04-25 02:25] XPoppyX opened #692 "Improving the sidebar"
**Original sidebar concepts:**

![sidebar concept](https://user-images.githubusercontent.com/61259627/84311910-1bb85080-ab32-11ea-933c-2d76c7becf47.png) ![84311910-1bb85080-ab32-11ea-933c-2d76c7b](https://user-images.githubusercontent.com/61259627/89138722-735bb280-d50a-11ea-89eb-5861b30b3f4b.png)

[2020-04-25 03:48] seohyun1108 opened #693 "Cannot copy and paste"
**Describe the bug**
I cannot copy a folder to another location. Files UWP was closed unexpectedly. Also, sometimes, Files UWP close unexpectedly.

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 20H2 19613]
 - App version: [v0.7.8]

[2020-04-25 08:42] R3voA3 opened #694 "List view flickers when changing to grid view"
**Describe the bug**
The list view flickers once the button in the start menu is pressed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a folder and select list view
2. Click on the button used to switch the view

**Expected behavior**
It should be a smooth transition.

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 2004
 - App version: 0.7.7.

[2020-04-25 10:42] seohyun1108 opened #695 "Ctrl+C, Ctrl+V, and Ctrl+X shortcuts"
**Is your feature request related to a problem? Please describe.**
I want these shortcuts because I want to copy and paste easily.

[2020-04-25 10:44] seohyun1108 opened #696 "Cannot see .exe, .py, etc. files."
**Describe the bug**
I cannot see these files. I cannot do programming.

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 20H2 19613]
 - App version: [v0.7.8]

[2020-04-25 11:41] xPoppyx commented on #695
They actually work, just not very well, I need to hold "Ctrl + v" for a second to make it work and sometimes the app crashes when pasting a file

[2020-04-25 11:55] SOI7 commented on #691
Yes, this is much needed

[2020-04-25 15:23] xPoppyx opened #697 "If you close the properties dialog before a file info is displayed, sometimes the app crashes"
This happens with large files. sometimes it crashes immediately, other times a few seconds later.
it also takes too long to display the info of large files

![crash](https://user-images.githubusercontent.com/61259627/80283510-0e601780-86e6-11ea-901e-0392d5bfcbfa.gif)

[2020-04-25 15:39] duke7553 commented on #692
@xPoppyx That's an interesting take-having the drives go under This device.

Originally, I was proposing something like this, with three sections:
![image](https://user-images.githubusercontent.com/20365014/80283928-3bfa9000-86e9-11ea-99c1-ff13a18ec72d.png)
(Ignore the new tab page stuff for now)

[2020-04-25 15:48] xPoppyx commented on #692
It looks great, maybe with an option to choose the order? for example first "pinned items", then "This device" and "Drives"

[2020-04-25 17:17] xPoppyx commented on #683
#692

[2020-04-25 17:56] xPoppyx commented on #366
![home-tab](https://user-images.githubusercontent.com/61259627/80286636-8f290e80-86fa-11ea-96b3-842938003ee7.png)
-------------------------------------------------------------------
![home-tab2 - copia](https://user-images.githubusercontent.com/61259627/80286917-42dece00-86fc-11ea-9ddd-f6b3da06dd2d.png)

[2020-04-25 17:59] SOI7 commented on #366
As @lampenlampen said, a modular Home page where you can choose what to show would be ideal

[2020-04-25 18:03] xPoppyx commented on #366
and i agree, it's just to get an idea of ​​what it would look like

[2020-04-25 18:29] BuraChuhadar commented on #174
Current progress: https://github.com/duke7553/files-uwp/pull/699 not done yet.

[2020-04-26 01:04] xPoppyx opened #700 ""Date Modified" Format"
I have seen that the files modified before 7 days, are shown in X seconds ago, X minutes ago, X hours ago and X days ago.

What if instead of showing as "**X hours ago**" the normal date is displayed? Like **04/25/20 18:35** or depending on how you configure the date format in the app
![fecha-formato](https://user-images.githubusercontent.com/61259627/80294549-fa450600-8737-11ea-9201-64daab8ee450.

[2020-04-26 01:24] yaichenbaum commented on #689
This is a bug with the community toolkit data grid control, while we wait for a fix you can disabling this feature from the experimental settings page. I hope this help.

[2020-04-26 01:24] #689 closed

[2020-04-26 01:26] yaichenbaum commented on #688
I believe this issue is related to #679.

[2020-04-26 01:28] yaichenbaum commented on #686
I think the dialog only shows when renaming files. I agree that this should show for pasting files as well.

[2020-04-26 01:35] yaichenbaum commented on #692
I don't know how hard it would be but ideally it should be possible to rearrange the items in the sidebar. Additionally home page shouldn't prevent improving the sidebar.

[2020-04-26 01:37] yaichenbaum commented on #695
@seohyun1108 Can you add information like the app version number and layout mode?

[2020-04-26 01:38] yaichenbaum commented on #696
Have you given the app permissions to access the file system?

[2020-04-26 01:39] yaichenbaum commented on #694
This is actually an issue in recent insider builds, I noticed it in other areas of Windows. It will hopefully be fixed in a future insider build.

[2020-04-26 01:40] yaichenbaum commented on #693
Possibly related to #679, can you confirm if this error is after renaming or creating new items?

[2020-04-26 03:25] seohyun1108 commented on #693
Files UWP was closed unexpectedly when I copy a folder or file to another location...

[2020-04-26 03:26] seohyun1108 commented on #696
How can I give the app permissions?

[2020-04-26 03:31] yaichenbaum commented on #696
@seohyun1108 Go to the settings app on Windows 10 > Privacy > File System, make sure to toggle the option for Files UWP.

[2020-04-26 03:52] yaichenbaum commented on #695
I can't reproduce this issue, please make sure you are running the latest version of the app and that you gave the app file access permissions.

[2020-04-26 03:52] #694 closed

[2020-04-26 03:54] yaichenbaum commented on #660
Is this still an issue in v0.8.0?

[2020-04-26 04:03] yaichenbaum commented on #130
@EukalyptenHD The reason would be is the QuickLook provides additional functionality, of course having a built in option would be nice as well, but for the meantime, I would recommend trying out QuickLook.

[2020-04-26 04:08] yaichenbaum commented on #259
Have the points brought up in this issue been resolved in the recent updates? If not please let me know which things still need to be addressed, thank you 🙂.

[2020-04-26 04:14] yaichenbaum commented on #327
@tomyan112 Instead off adding a full tree view, we are planning on separating the items in the side into three sections that can be expanded or collapsed. The three sections would something like,
- Pinned
- Libraries
- Drives.

For more information and to add your input, make sure to check out #692.

[2020-04-26 04:14] #327 closed

[2020-04-26 08:29] R3voA3 opened #702 "Add a button to export log files, app version and windows version"
**Is your feature request related to a problem? Please describe.**
When filing bug reports it's imperative to add the app version, windows version and, when reporting crashes, log files. It would be nice if there was an easy way to export that data from within the app and directly link to an issue template here on Github.

[2020-04-26 10:40] szaimen commented on #259
@yaichenbaum All points are addressed for single files but they don't work for a selection of files/folders which is still very important imo.
Also the size of a folder is missing from this dialog (when showing the properties of only one folder).

[2020-04-26 11:50] xPoppyx commented on #660
v0.7.8
![folder](https://user-images.githubusercontent.com/61259627/80306643-83892680-8792-11ea-85d6-efec6fb16128.gif)

[2020-04-26 12:06] xPoppyx opened #704 "The app crashes when trying to display the properties of an iso file"
This happened with a 24 GB and 4 GB iso
I'm not sure if it happens only with large iso files

![crash](https://user-images.githubusercontent.com/61259627/80307015-9997e680-8794-11ea-8d38-fb42bf107524.gif)

[2020-04-26 14:24] yaichenbaum commented on #259
@szaimen The size for folders is a different issue, #645 that we will work on in the future. I will keep this issue open since you mentioned you still need it to support showing the properties with the total size of all the selected items.

[2020-04-26 23:35] yaichenbaum commented on #704
This issue should be fixed with the changes from #706.

[2020-04-26 23:35] #704 closed

[2020-04-27 10:46] seohyun1108 commented on #700
me too

[2020-04-27 15:16] yaichenbaum opened #710 "Reset terminal json when loading the app if the file is invalid"
If the terminal json file has an error inside it then the app will crash when loading, instead of crashing we should reset the json file to be proper so that the app can load.

[2020-04-27 15:41] tsvietOK commented on #710
As i told in #562 we should unify all exceptions(replace JsonSerializationException with Exception or add JsonReaderException), so if there will be any json parsing error, just reset this json to default.

[2020-04-28 02:34] yaichenbaum commented on #676
With just one month left before Launch, our focus is going to be on fixing some of the top bugs that have been reported. If anyone wants to be assigned an issue, just add a comment to the issue to let us know.

- https://github.com/duke7553/files-uwp/issues/679 Changes to files should refresh the directory
- https://github.com/duke7553/files-uwp/issues/221 Alert user trying to delete an open file

[2020-04-28 02:36] #685 closed

[2020-04-28 03:19] xPoppyx commented on #676
take a look at this, it is about network locations: #642

[2020-04-28 03:51] yaichenbaum commented on #676
@xPoppyx That is a really interesting find, if we make good progress on the list above and it looks like there is time before Launch, then I will add #642 to the list.
I want to be transparent, there is a really long way to go and v0.8.0 is only the official launch of the preview. The app will still be in a preview state for many more months.

[2020-04-28 11:48] lampenlampen commented on #710
But if we reset the json file, the user loses all his profiles and we will have to store a default json file. If the terminal loading process goes wrong for whatever reason, i would simply default to cmd and log, that there was an error. So the user can investigate his json file, if he want's to fix it and if not, he gets the cmd terminal.

[2020-04-28 11:58] yaichenbaum commented on #710
@lampenlampen That sounds like a better idea.

[2020-04-28 12:05] xPoppyx commented on #676
It is understandable, there is a lot to fix and add

[2020-04-28 12:07] yaichenbaum commented on #676
@xPoppyx The app will only leave preview when we feel it's ready, it already replaces File Explorer 90% of the time for me but I understand that it still has a long way to go until it's that way for everyone else.

[2020-04-28 13:20] tsvietOK commented on #710
@yaichenbaum we can add an interface, so user can edit terminals through settings, instead of modifying json file manually.

[2020-04-28 14:03] yaichenbaum commented on #710
That would be a nice addition, however it would still make sense to include a json file for someone who wants to use the json format.

[2020-04-28 15:55] lampenlampen commented on #710
Maybe we should get rid of the json file, especially if we autodetect the common terminals (powershell (core), Winodws Terminal).

And for the few users, who want's to use a custom one, they can choose `custom` and then we present them an input box to specify the path.

I choosed json, because i thought then they can specify multiple terminals and icons and so on, but i don't think we will use tha

[2020-04-28 16:12] lampenlampen opened #718 "Explain the datetime options"
We should explain what the differences between the datetime options are (Tooltip or link to wiki page, ...).

[2020-04-28 16:22] lampenlampen opened #719 "Create new file"
At the moment you can only create a folder, a text file and a bitmap file.

We should change the two file options for a `Create file`-option, where you can specify the file extension.

[2020-04-28 17:12] xPoppyx commented on #718
![Anotación 2020-04-28 130147](https://user-images.githubusercontent.com/61259627/80516690-d3fab280-8951-11ea-837d-516185287897.png)

[2020-04-28 18:02] generalguy41 commented on #718
@xPoppyx I'd say the second one to keep consistent.

[2020-04-28 20:05] tsvietOK opened #720 "App crash in release mode"
**Describe the bug**
Sometimes app crash right after launch.

**To Reproduce**
Steps to reproduce the behavior:
1. Build app in release mode and deploy
2. Start app
3. If it did not crash, restart app

**Expected behavior**
Expected normal start without crash

**Desktop (please complete the following information):**
 - OS: [e.g. Windows 10 1909 18363.815]
 - App version: [v0.7.9]

**Additional con

[2020-04-28 20:09] yaichenbaum commented on #718
I suggest keeping the design how it is, we can add a simple information icon that displays a teaching tip when you hover or click on it.

[2020-04-28 20:21] yaichenbaum commented on #720
I wonder if this is related to the changes @ADeltaX made...

[2020-04-28 20:34] tsvietOK commented on #720
@yaichenbaum Just reverted his changes and it is still crash

[2020-04-28 20:47] tsvietOK commented on #720
@yaichenbaum As i understand, that happen because of my changes about theme change

[2020-04-28 21:00] yaichenbaum commented on #720
Oh, I did notice you switched to a different method for the get\set.

[2020-04-28 21:02] tsvietOK commented on #720
What do you mean?

[2020-04-28 21:05] yaichenbaum commented on #720
Before your change, the setting for acrylic was a simple get and set, this would automatically save the setting as well saving us from needing to detect it when launching the app. An example of how it should be is,
[code]