[2022-01-17 00:25] PavelDobCZ23 commented on #7724
@aleksanderlukasiewicz This is what happens when I try that

https://user-images.githubusercontent.com/62188082/149684224-ebd6f7db-155a-4c30-be2c-fa93f6e90b38.mp4

[2022-01-17 01:14] TheDiamondGen commented on #7680
It happened for me as well, change default zip app to file explorer in settings. Then all of the zip files will work and they will open in files. Its weird.

[2022-01-17 01:43] Josh-65 commented on #5798
fixed in 2.1.2.0

[2022-01-17 01:43] #5798 closed

[2022-01-17 01:48] JMOrbegoso commented on #7625
I agree 😄.

[2022-01-17 03:03] yaichenbaum commented on #2263
@d2dyno1 considering the fact that no additional widgets are on the roadmap, I think we can close this issue.

[2022-01-17 03:03] #2263 closed

[2022-01-17 03:04] yaichenbaum commented on #1671
@Jaiganeshkumaran were you working on this?

[2022-01-17 03:06] yaichenbaum commented on #1940
@Gabryxx7 just wanted to follow up and see if you had a chance to look into this.

[2022-01-17 03:12] yaichenbaum commented on #3718
@duke7553 we can probably clear the visual tree by navigating to an empty page in the background.

[2022-01-17 03:12] yaichenbaum commented on #3682
Would you like to work on this issue?

[2022-01-17 03:13] yaichenbaum commented on #3682
@LukoFoks would you like to work on this issue?

[2022-01-17 03:18] bakabaka9405 opened #7728 "Local drive side bar automatically closed on launch"
### Description

I use Files 2.1.2.0 on win11 22000.376 and find that every time I open Files, the local drive side bar isn't open, but leave the arrow up. It seems to have some problem.
Thanks.

### Steps To Reproduce

_No response_

### Expected behavior

The side bar should be in the same state I close File last time.

### Files Version

版本: 2.1.2.0 OS Version: 10.0.22000.376

### Windows Versi

[2022-01-17 05:26] yaichenbaum commented on #7625
@ADeltaX @afonsojramos @cotur @CyberAndrii @BlancRay @chausner @Daninator1 @DanielSlincak @Denizeri24 @SketchNI @emilnymann @FibYar @MarcAnt01 @Gurgarath @GuusLieben @igoragm @joergpichler @kaavi98 @jaw3l @jusso-dev @xJavii8 @KSYMEK @KaKi87 @kayazeren @levimatheri @Lubieerror @maicol07 @marcauberer @marcusbillman @MarkBirkholz @MeirKlemp @mijorus @mohammadshughri @Zerotask @RexTremendae @piotrulos

[2022-01-17 05:29] yaichenbaum commented on #7625
@roguerrero1 @angelwzr @scottwhi @Seo-Rii @LoganTann @SiderealArt @stanleyowen @sumeshir26 @Ein-Tim @timsu92 @torgeros @Venipa @vikashraghavan @Suburbanno @wnstngs @yarikv8601 @telmondyoel @yude

[2022-01-17 05:30] Seo-Rii commented on #7625
I agree.

[2022-01-17 05:32] rckmnr opened #7732 "After update (1/17/22), Drives no longer appear on the Home page"
### Description

Files updated about an hour ago. As soon as it did, the Drives widgets no longer appear on the home page. It was working a few hours ago. Also icons no longer show default program icons.

### Steps To Reproduce

_No response_

### Expected behavior

For Drives to show up on the home page, and correct icons.

### Files Version

Version: 2.1.2.0 OS Version: 10.0.19043.1466

### Wind

[2022-01-17 05:33] yaichenbaum commented on #7732
@rckmnr can you check if you collapsed the widget?

[2022-01-17 05:33] ryadhiprasetya commented on #7625
I agree

[2022-01-17 05:35] angelwzr commented on #7625
I agree

[2022-01-17 05:37] levimatheri commented on #7625
I agree

[2022-01-17 05:40] Suburbanno commented on #7625
https://github.com/files-community/Files/issues/7625#issuecomment-1012640104

[2022-01-17 05:40] Ein-Tim commented on #7625
Agreed!

[2022-01-17 05:41] BlancRay commented on #7625
ok for me

[2022-01-17 05:45] marcusbillman commented on #7625
I agree

[2022-01-17 05:45] sumeshir26 commented on #7625
Great, prefer MIT anyway!

[2022-01-17 05:54] Satsaa opened #7733 "Folder/file sort grouping outside of sorting by name"
### What's the Problem?

Show folders first/last only when sorting by name. When sorting by Date/Size, it feels a bit funny to have folders not mix with files.

### Solution/Idea

Add a new setting for this behaviour. (Like "List and sort directiories alongside files" but when not sorting by name)

### Alternatives

Make this default behaviour. (either when "List and sort directiories alongside fi

[2022-01-17 05:56] samzanemesis commented on #7625
Sounds great, gives a lot of new opportunities for the future of Files

[2022-01-17 05:57] RikoDEV commented on #7625
I agree

[2022-01-17 05:59] jusso-dev commented on #7625
Fine with me, I think this is the right direction for the project 😊

[2022-01-17 06:04] ressing1 opened #7734 "File Sorting Preference"
### What's the Problem?

Thank you for writing this application.  I am really enjoying using it, so far.  Would it be possible to have a setting to select whether files or folder have sorting precedence?

### Solution/Idea

I would like to be able to change whether folder have sorting priority.  For example, if I am sorting by the Date Modified coumn, I would like to have files on top and folders

[2022-01-17 06:15] QkeleQ10 commented on #7625
I agree. Sounds great!

[2022-01-17 06:20] Satsaa opened #7735 "Sort by descending by default"
### What's the Problem?

Sorting by oldest first feels like a rarer use case when sorting by date created/modified.
Sorting by largest first when sorting by size seems better as a default as well.
Oh and yes this is how my File Explorer behaves.

### Solution/Idea

When sorting by date modified/created default to newest first.
When sorting by size default to biggest first.

### Alternatives

Remem

[2022-01-17 06:24] #7728 closed

[2022-01-17 06:25] gave92 commented on #7728
Tracked in #6469

[2022-01-17 06:25] d4kir92 opened #7736 "EXPLORER.EXE NOT FOUND"
### Description

how do i repair the normal explorer.exe??

### Steps To Reproduce

how do i repair the normal explorer.exe??

### Expected behavior

how do i repair the normal explorer.exe??

### Files Version

how do i repair the normal explorer.exe??

### Windows Version

how do i repair the normal explorer.exe??

### Relevant Assets/Logs

how do i repair the normal explorer.exe??

[2022-01-17 06:26] #7736 closed

[2022-01-17 06:27] gave92 commented on #7736
To restore explorer run this script (make sure to save it as a ".reg" file):
https://raw.githubusercontent.com/files-community/Files/main/src/Files.Launcher/Assets/FilesOpenDialog/UnsetFilesAsDefault.reg
Please let us know if it solves the issue.

[2022-01-17 06:33] C0D3-M4513R opened #7737 "Hidden Files on network drives have strange behavior"
### Description

Hiding files & Hidden files don't work on network drives.

### Steps To Reproduce

1. Go to a network drive.
2. Create a File
3. Go into it's properties in Files.
4. Mark it as Hidden
5. Refresh
6. Watch it unhide itself

1. Go to the network drive in explorer
2. Notice how the File really isn't hidden
3. Go into the File's Properies
4. Mark it as Hidden
5. Refresh Files
6. Watch

[2022-01-17 06:37] imtiazAyon commented on #7732
Same thing happened to me. The widget wasn't collapsed. Also The files icon in the taskbar was missing. All the themes in the setting was missing. They worked after I restarted the PC.

[2022-01-17 06:38] SiderealArt commented on #7625
I Agree 👌

[2022-01-17 06:40] maicol07 commented on #7625
I agree

[2022-01-17 06:41] SketchNI commented on #7625
I agree

[2022-01-17 06:42] #7737 closed

[2022-01-17 06:42] #6774 closed

[2022-01-17 06:43] gave92 commented on #7737
Same cause as #2436

[2022-01-17 06:43] tower-town commented on #7654
maybe QuickLook(https://github.com/QL-Win/QuickLook) can help you

[2022-01-17 06:46] C0D3-M4513R commented on #7737
Read title incorrectly. Is it by any chance possible, that the winget command on the [website](https://files.community/) outdated is?
When I copy & paste it, it just gives me the following:

[2022-01-17 06:46] WhiteBrownie opened #7738 "winget command on website"
### Description

As stated [here](https://github.com/files-community/Files/issues/7250#issuecomment-989881696_), a custom winget version isn't maintained any more. The website however still shows `winget install -e Files-Community.Files ` as a way to install Files. It should probably be changed to `winget install -e 9NGHP3DX8HDX`  (for the MS Store version) or be removed outright.

### Steps To Re

[2022-01-17 06:46] CyberAndrii commented on #7625
Sounds great

[2022-01-17 06:47] marcauberer commented on #7625
Okay for me 👍

[2022-01-17 06:49] gave92 commented on #7722
You can also install the side loaded version without the Store: https://filescommunity.blob.core.windows.net/files/preview/Files.Package_2.1.2.0_Test/Files.Package_2.1.2.0_x86_x64_arm64.msixbundle

[2022-01-17 06:52] stanleyowen commented on #7625
I agree 👌

[2022-01-17 06:53] gave92 commented on #7737
It is, you may try "install -e 9NGHP3DX8HDX" instead.

[2022-01-17 06:56] gave92 commented on #7737
#2436 is correct. Missing hidden and shortcut files on network are due to the same UWP platform limitation and will be solved together.

[2022-01-17 07:13] KSYMEK commented on #7625
Agreed.

[2022-01-17 07:16] CessnaBroon commented on #7680
I also experience this issue.

[2022-01-17 07:21] adislice commented on #7625
It's okay for me

[2022-01-17 07:24] FibYar commented on #7625
No objections.

[2022-01-17 07:26] gave92 commented on #7680
@CessnaBroon, @topbun92 does @TheDiamondGen suggestion work for you? (Try setting file explorer or Files as default app for zip files)

[2022-01-17 07:29] MambaOutZY opened #7739 "idea open in explorer 还是打开的系统默认文件管理器"
### Description

1.实验性设置了系统默认，idea浏览文件还是会默认打开文件管理器
2.打开主页后无法右键查看属性，以及没有快捷查看设备管理器等。

### Steps To Reproduce

_No response_

### Expected behavior

实验性设置了系统默认，idea浏览文件还是会默认打开文件管理器

### Files Version

2.1.2.0

### Windows Version

windows11 22000.434

### Relevant Assets/Logs

1.实验性设置了系统默认，idea浏览文件还是会默认打开文件管理器
2.打开主页后无法右键查看属性，以及没有快捷查看设备管理器等。

[2022-01-17 07:41] Mahas1 opened #7740 "Indicator for selected folders appears on folder when a file is dropped onto it"
### Description

The blue indicator, which indicates that a file/folder is selected, appears when a file is dragged and the mouse is hovered over the folder
![image](https://user-images.githubusercontent.com/82939599/149726880-503a7d40-9654-4df6-9288-0f164efc998c.png)

This doesn't disappear even after reloading, and the only way to turn the indicator off seems to be to click on the folder, and th

[2022-01-17 07:43] CessnaBroon commented on #7680
Setting file explorer as default fixes, but setting default as Files results in a message 'No such interface supported'.

[2022-01-17 07:45] yude commented on #7625
I agree

[2022-01-17 07:47] Daninator1 commented on #7625
Fine with me.

On Mon 17. Jan 2022 at 06:30 Yair Aichenbaum ***@***.***>
wrote:

[2022-01-17 07:54] emilnymann commented on #7625
No objections from me.

[2022-01-17 07:56] robinwittebol commented on #7625
I agree.

[2022-01-17 08:05] RexTremendae commented on #7625
I'm fine with switching to MIT.

[2022-01-17 08:06] infuriatedcodex opened #7741 "Fixed Columns"
### What's the Problem?

Seem to remember an older version that supported users ability to move & resize the detail columns (Date, Type, Size etc.).

Current layout has fixed columns and when using cloud storage (OneDrive) it now places the "Status" column on the far right. This becomes problematic when you have a preferred Window size for the main Files app.

Example:
![20220117_075104 - Applicat

[2022-01-17 08:17] Lubieerror commented on #7625
I agree.

[2022-01-17 08:19] typeling1578 commented on #7625
I agree.

[2022-01-17 08:26] seec1111 opened #7742 "icon of adobe indesign file"
### Description

Icon of indesign file type cannot be shown.

### Steps To Reproduce

_No response_

### Expected behavior

wish the adobe indesign file type icon can show correctly, thanks!

### Files Version

2.1.2.0

### Windows Version

win10 21H1 19043.1466

### Relevant Assets/Logs

Right hand side is the preview of Files, left hand side is the indesign icon in win10 file explorer.
![indesig

[2022-01-17 09:18] NickHarmer opened #7743 "Bundle contents do not save"
### Description

When I create a bundle containing folders for my project, the bundle never gets saved.  When I close the window and re-open it, either the bundle is present but empty, or it has disappeared entirely.

This could be a really useful feature, but at the moment it simply doesn't work

### Steps To Reproduce

1. Create a bundle
2. Add folders to it
3. Close the Files window
4. Reopen t

[2022-01-17 09:19] NickHarmer commented on #7743
BTW - it didn't work on the previous version either

[2022-01-17 09:37] LoganTann commented on #7625
I agree.

Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>
________________________________
From: typeling1578 ***@***.***>
Sent: Monday, January 17, 2022 9:20:00 AM
To: files-community/Files ***@***.***>
Cc: ShinProg (Logan Tann) ***@***.***>; Mention ***@***.***>
Subject: Re: [files-community/Files] 📢📢Switching the license to MIT (Issue #7625)

I agree.

—
Reply to this email directly, v

[2022-01-17 09:38] tormodfj commented on #7625
Agreed

[2022-01-17 09:45] MarcAnt01 commented on #7625
I agree with the license change

[2022-01-17 09:46] xJavii8 commented on #7625
I agree

[2022-01-17 09:48] ricardosousaIB commented on #7625
I agree.

[2022-01-17 09:49] aleksanderlukasiewicz commented on #7724
@PavelDobCZ23  Yea i know but it is my build with changed minimum width of sidebar

[2022-01-17 10:01] Zerotask commented on #7625
I agree.

[2022-01-17 11:19] AndreBlackScribe opened #7745 "Library not recognising path"
### Description

I have enabled "Show library on the sidebar"

When I am trying to access any Folder from that menu Item I get the following error:

Error:

![error](https://user-images.githubusercontent.com/5656905/149759292-2c0f1fc1-9efb-4f89-89db-1480804685e9.png)

After the error the path sowed is:
C:\Users\User\AppData\Roaming\Microsoft\Windows\Libraries\Music.library-ms

I have Tried:
- PC r

[2022-01-17 11:28] LukoFoks commented on #3682
Sorry, I have no idea of UWP or C#. I'm rather a web developer.

[2022-01-17 11:31] texsheitmann commented on #7625
I also agree...

[2022-01-17 11:47] cotur commented on #7625
Agreed

[2022-01-17 11:49] PavelDobCZ23 commented on #7724
Ok nice, so it could be added easily?

[2022-01-17 11:54] #7740 closed

[2022-01-17 11:54] gave92 commented on #7740
Tracked in #6768

[2022-01-17 11:55] gave92 commented on #7741
You should already be able able resize columns by dragging the (invisible) divider between them

[2022-01-17 11:56] #7741 closed

[2022-01-17 11:56] gave92 commented on #7741
For reordering, tracked in #4643

[2022-01-17 11:59] gave92 commented on #7745
From the screenshot it looks like the Documents library works, correct? At least, it shows a message but in fact it properly shows the library contents.

[2022-01-17 12:02] gus33000 commented on #7625
Agreed.

[2022-01-17 12:09] aleksanderlukasiewicz commented on #7724
@PavelDobCZ23 Yes it's just a change of one variable

[2022-01-17 12:19] yarikv8601 commented on #7625
I'm fine with that 👌🏼

[2022-01-17 13:25] cloudmapleleaf commented on #7614
I have the same problem😢

[2022-01-17 13:33] ajay-mishra7 opened #7746 "too much lag while transferring file"
### Description

I'm facing too much of lag while transferring file/data form one device to other. It takes too much time to share files form devices.

### Steps To Reproduce

_No response_

### Expected behavior

I think file sharing time should less or it should share my data quickly

### Files Version

Version: 2.1.2.0 OS Version: 10.0.22000.466

### Windows Version

Windows 11 21H2 22000.466

[2022-01-17 13:36] imtiazAyon opened #7747 "Files crashes if you try to drag multiple images"
### Description

If you drag multiple images, files crashes when you release them. Images size has to be large and you have to set group by to something other than None.

### Steps To Reproduce

1. Set Group by to something other than None
2. Set Layout to Large Icon
3. Select Multiple Image files and drag them
4. Release the dragged images

### Expected behavior

The software will hang and crash.

[2022-01-17 14:03] gave92 commented on #7747
Where do you release the dragged files? In the same folder they are in?
Could you upload the other debug file as well (debug.log)? Thanks!

[2022-01-17 14:04] imtiazAyon commented on #7747
The same folder yes
[debug.log](https://github.com/files-community/Files/files/7882360/debug.log)
.

[2022-01-17 14:33] dansauve opened #7748 "Bug: Opening folder from external source does not honor dual pane settings"
### Description

When opening a folder, say from Explore (right-click on a folder on desktop and "Open") or other source (e.g. Download menu in Edge browser) then folder is opened in a new tab but in single-pane only mode.

Preconditions:
- Files is set as the default file browser
- Multitasking > Enable dual pane setting "On"
- Multitasking > Always open tabs in dual pane mode setting "On"

### S

[2022-01-17 15:06] #7509 closed

[2022-01-17 15:12] soredake commented on #7509
Why close?

[2022-01-17 15:17] yaichenbaum commented on #7509
https://github.com/files-community/Files/issues/7509#issuecomment-1008274187

[2022-01-17 15:19] Noisemagician opened #7750 "Can't open multiple images at once since the new update."
### Description

Hi,

Because of the thumbnail loading problem, I used to open all the images in (jpg, jpeg, png, psd, psb,)at once closed Files and reopen the map where the images were. The thumbnails do show after doing this. I made a bug report, reporting this very issue. I was informed that this is a know-issue.
I expect that solving this problem will take a long time so using the method that

[2022-01-17 15:22] aWeinzierl commented on #7673
For me they don't show up until they are connected

[2022-01-17 15:27] yaichenbaum commented on #7750
@gave92

[2022-01-17 15:28] Josh-65 commented on #7734
You can change the sorting order with ascending and descending options in the sorting button. you can have file and folder mixed rather than folders first in Setings > Preferences > Files and folders > List folders along side files.

[2022-01-17 15:30] Josh-65 commented on #7739
This is not a readable issue. You should re write this and add the logs files. You can get them in files settings > about > open log folder.

[2022-01-17 15:36] RwbyChan opened #7751 "Navigating through images in same folder"
### What's the Problem?

When I try to open an image within Files, it the default Windows images app doesn't let me navigate through all the images in the folder (unlike with the default File Explorer app)

### Solution/Idea

I'd be nice if when I open an image through the Files app that the Images app can navigate through all the images in the folder just like with the default File Explorer app.

[2022-01-17 15:50] AndreBlackScribe commented on #7745
yes it show the folder under:
C:\Users\User\AppData\Roaming\Microsoft\Windows\Libraries\Music.library-ms

[2022-01-17 15:56] MervinHernandez opened #7752 "Keyboard Shortcut - Alt-D"
### What's the Problem?

Not a problem - just a suggestion.

### Solution/Idea

Add support for traditional Windows Explorer keyboard shortcut `Alt-D` to get to the address bar.

### Alternatives

I'm pursuing temporary alternative via AHK to get to the address bar by way of `Ctrl-F` or tabbing a few times.

### Priorities

_No response_

### Files Version

Version: 2.1.2.0 OS Version: 10.0.22000.

[2022-01-17 16:02] maikkunrk commented on #7625
Fine by me!

[2022-01-17 16:03] yaichenbaum commented on #7752
`Alt` + `D` is already implemented, is it not working on your device?

[2022-01-17 16:46] barkermn01 commented on #7637
That's what I have been saying this whole time, i was asking for that feature aswell,

[2022-01-17 16:51] rdbende commented on #7625
It's fine for me!

[2022-01-17 16:59] yaichenbaum commented on #7637
@barkermn01 my apologies for the misunderstanding, is there a use case to open the app again to create a new tab as opposed to clicking the new tab button? Opening it from the taskbar requires right clicking the icon and then clicking the app name, the alternative is shift + click on the icon. In both bases, it's still faster and more intuitive to click the new tab button.

[2022-01-17 17:09] Noisemagician commented on #7750
It could be, I don't know what using FTP means. But I have issues with opening multiple images. I have no music on my PC so I can't test it with music files.

[2022-01-17 17:14] Denizeri24 commented on #7625
I agree.

[2022-01-17 17:15] yaichenbaum opened #7754 "Update colored icon font"
We've added a number of toolbar buttons since we initially created the colored glyph font, we should go through the app and add the missing icons and improve existing ones.

[2022-01-17 17:21] mijorus commented on #7625
do it!

[2022-01-17 17:39] chausner commented on #7625
Fine for me.

[2022-01-17 17:54] gave92 commented on #7752
Also "Ctrl+L" but both don't work on the homepage

[2022-01-17 17:55] themisir commented on #7700
I've tried disabling animations on windows settings, restarted the app and used for some time. My final thoughts is it seems like loading file list takes some time, when disabling animations this becomes even more noticeable so having animations currently seems like better option unless we could increase file list loading performance.

Btw just curious, why does loading file list takes some time.

[2022-01-17 17:58] R3voA3 commented on #3682
Please make this a priority. Working with files when files are being opened by one click without this functionality is cumbersome.

[2022-01-17 18:00] jaw3l commented on #7625
Fine by me. I agree.

[2022-01-17 18:03] almostserious commented on #7304
Im on Version: 2.1.2.0
OS Version: 10.0.22000.434

In a normal environment there is auto refresh happening for me.
However, as soon as I manage a Network share (SMB in my case) every change is only reflected after refresh.
This is even if the File Explorer is set to be the default explorer.

[2022-01-17 18:07] yaichenbaum commented on #7752
Merging with #6800

[2022-01-17 18:07] #7752 closed

[2022-01-17 18:14] yaichenbaum opened #7755 "Add "Run script" button to toolbar when ps1 files are selected"
### What's the Problem?

Double clicking a ps1 file will open the script in the default editor, to run the script, you need to right click and find the "Run with PowerShell" option in the context menu.

### Solution/Idea

Adding a "Run script" button to the toolbar will make running PowerShell scripts easier and improve the users workflow.

### Alternatives

NA

### Priorities

| Capability | Prio

[2022-01-17 18:18] Moustik2002 commented on #7304
that's also the case for me when i try to edit soemthing on my nas shared folder for instance.

[2022-01-17 18:26] Lucien950 opened #7756 "Very High CPU Usage Windows 10"
### Description

The CPU Usage of this application is far higher than the standard file explorer.

### Steps To Reproduce

Use the app

### Expected behavior

Less CPU usage

### Files Version

Version: 2.1.2.0 OS Version: 10.0.19043.1466

### Windows Version

Windows 10 Home 21H1 19043.1466

### Relevant Assets/Logs

ni=/a

[2022-01-17 18:35] yaichenbaum commented on #7700
There are several reasons why enumerating items take time, but the main reason is that on top of enumerating the items, the data is passed from the full trust process to the UWP process and that causes there to be some latency. The thumbnails and extended properties shouldn't affect the loading speed as those are lazy loaded.
These issues will hopefully be resolved when we eventually make the swit

[2022-01-17 18:35] #7700 closed

[2022-01-17 18:36] yaichenbaum commented on #7756
Merging with #4180 and #2065

[2022-01-17 18:36] #7756 closed

[2022-01-17 18:40] datlechin commented on #7625
Agreed!

[2022-01-17 19:03] SonGokussj4 commented on #7671
Thanks. This worked for me too. But I wouldn't call this "closed". There should be an option in the menu of Files settings.

I tried it today for a little while, noticed it's much slower for opening folder, wanted to go back (after I tried setting it as default) and I couldn't have without searching and finding this issue.

[2022-01-17 19:03] barkermn01 commented on #7637
Unless the window is buried then you have to click on the Taskbar icon, then move your mouse to the new tab button and click it,

I tend to use the middle mouse button for taskbar icons a lot it tends to be why I pin stuff to my tasks bar in the first place instead of tapping the windows key and typing the name of the application I want, I also have a multi-screen setup so I can shift-click and th

[2022-01-17 19:04] boyy21 opened #7757 "preview pane"
### What's the Problem?

The preview pane only shows the file logo, on the normal windows 10 file explorer you can read Word and Excel documents without opening them.

Windows 10 File Explorer: https://imgur.com/gallery/y5OPY4t
Files: https://imgur.com/gallery/pct9Fhp

would be nice if this feature would be added.
Thank you

### Solution/Idea

i dont know much about how it works i just love Files

[2022-01-17 19:16] infuriatedcodex commented on #7741
Indeed you are correct sir!
Noticed that the OneDrive status column is the only one that cannot be resized (currently).

[2022-01-17 19:21] yaichenbaum commented on #7637
@barkermn01 thanks for the response, forgot about the middle click option. Can you open a seperate issue for this request and I'll add it to the project board?

[2022-01-17 19:34] barkermn01 opened #7758 "Add support for application start-up to detect if windows exists and open a new tab in the existing window"
### What's the Problem?

I would like an option so that when the Files Application is already open, and I open another copy from my taskbar (Shift+Click, Middle Mouse Button click) I can set it to open in the existing window, and not always open a new window.

This follows on from a conversation on https://github.com/files-community/Files/issues/7637

### Solution/Idea

I would like a setting addi

[2022-01-17 20:04] Crwmy commented on #6712
Issue seems resolved since version 2.1.
Thanks!

[2022-01-17 20:04] #6712 closed

[2022-01-17 20:07] Crwmy commented on #6226
Seems to be fixed since version 2.1
Thanks!

[2022-01-17 20:07] #6226 closed

[2022-01-17 20:08] #7757 closed

[2022-01-17 20:09] gave92 commented on #7757
Tracked in #4041

[2022-01-17 20:11] gave92 commented on #7671
@SonGokussj4 glad the script it worked. I assume you tried to disable the feature from the toggle switch in Files settings but it didn't work?

[2022-01-17 20:19] TheJohny opened #7759 "When setting the column width, the width changes less than the mouse pointer moves"
### Description

the movement is not synchronous

### Steps To Reproduce

1. start adjusting with any of the columns

### Expected behavior

The column with should be in synch with the mouse pointer

### Files Version

Version 2.1.2.0

### Windows Version

Windows 11 Pro 21H2 22000.434

### Relevant Assets/Logs

https://user-images.githubusercontent.com/5933893/149832524-959b1d1c-bf1f-4392-93b2-7c

[2022-01-17 20:20] kaitoconan opened #7760 "Shell extension not work"
### Description

The right click menu for both open with and other program options worked for a while and not anymore. Not even reinstalling the app fixed the problem.

### Steps To Reproduce

_No response_

### Expected behavior

You could use the open with from the app

### Files Version

Versión: 2.1.2.0 OS Version: 10.0.19043.1466

### Windows Version

Windows 10 21H1 19043.1466

### Relevant

[2022-01-17 20:27] gave92 commented on #7759
Tracked in #5371

[2022-01-17 20:27] #7759 closed

[2022-01-17 20:28] SonGokussj4 commented on #7671
Yeah. When I switched it on, UAC showed for registry edit. A few minutes later, when I switched it off, nothing happened and I started searching for a solution.

I installed it through Microsoft Store.

[2022-01-17 20:30] gave92 commented on #7671
Tracking in #7626

[2022-01-17 20:34] AndreasKaratzas opened #7761 "Question: How to undo section hiding action?"
While I was trying to explore the features of this app, I hid the `Home` section. I'm trying to find a way to undo that action, but I can't. Is there any way?

[2022-01-17 20:35] gave92 commented on #7760
Thanks for the report. Could you delete the two log files and upload the new ones after opening the app and opening the context-menu? Thanks!

[2022-01-17 20:35] yaichenbaum commented on #7761
@AndreasKaratzas you can show the section again from the sidebar settings under the appearance page.

[2022-01-17 20:35] #7761 closed

[2022-01-17 21:16] kaitoconan commented on #7760
Ok
[debug_fulltrust.log](https://github.com/files-community/Files/files/7884684/debug_fulltrust.log)
[debug.log](https://github.com/files-community/Files/files/7884685/debug.log)

[2022-01-17 21:17] puppetsw commented on #7755
Can I claim this one?

[2022-01-17 21:21] yaichenbaum commented on #7385
This issue should be resolved with #7725

[2022-01-17 21:21] #7385 closed

[2022-01-17 21:39] yaichenbaum commented on #7755
Sure! Thank you for your work on the extract button.

[2022-01-17 21:46] gjactat commented on #5546
Hello,
First of all, thank you for providing such a great file explorer !
I've juste updated to Files v2.1.2.0 and enabled the "Set Files as the default file manager" option.

I don't have any issue when opening folders from Chrome downloads page.
However, when I use the "Reveal in File Explorer" of **VSCode**, the Files app pops up and the loading indicator spins for like 15 seconds.
![image](htt

[2022-01-17 21:47] gave92 commented on #7760
@kaitoconan mind trying opening the context menu after minimizing and restoring Files window?

[2022-01-17 21:52] kaitoconan commented on #7760
It was resolved by trying several times and in the end the open menu with system default was opened and I selected what I wanted to do and it was resolved

[2022-01-17 22:05] gjactat commented on #5546
The log files mentions an FTP connection. Which seems weird.
I do host a FTP server on this computer but I don't think this is related.

[code]

[2022-01-17 22:18] #7760 closed

[2022-01-17 22:59] DMS4444 commented on #7614
Same here

[2022-01-17 23:25] DMS4444 commented on #7614
You can manually add more bundles like this:
[](https://user-images.githubusercontent.com/81837486/149846741-a71eb8b5-a356-4381-b8e8-acd2af8a2b48.png)
Editing the "bundles.json" file.
To find bundles.json go here:
![Captura de pantalla 2022-01-18 002120](https://user-images.githubusercontent.com/81837486/149847053-27392425-24ec-416e-8d16-042f493e4378.png)
It is on the settings folder. BTW Sorry fo

[2022-01-17 23:30] d2dyno1 commented on #7614
Aaaaa I really need to fix it 😅

[2022-01-17 23:38] MalteTasler commented on #4116
close?

[2022-01-17 23:41] gjactat commented on #5546
One last note : The 15 seconds delays only happen when VSCode is launched as administrator. So I think it must be related to security for some reason.
Maybe some latency in the privileges processing required for a Windows Store app launched from an elevated native process. Or maybe some failed telemetry requests to report these unusual behaviors.

[2022-01-17 23:43] #4116 closed

[2022-01-17 23:54] capSAR273 opened #7764 "Option to disable smooth scrolling"
### What's the Problem?

Smooth scrolling is pretty to look at, but an option to disable this and scroll a fixed number of lines would be a useful feature. This is the behavior of stock File Explorer and its something I find nice to have.

### Solution/Idea

Add a toggle under the Files and Folders subsection of Preferences to enable/disable smooth scrolling.

### Alternatives

I looked around the

[2022-01-18 01:30] timsu92 commented on #7625
ok

[2022-01-18 01:33] EasyThe commented on #7625
Perfectly fine!

[2022-01-18 01:44] lovexxx opened #7765 "Translation issue"
### Description

setting - preferences - files and folders - "list and sort directories alongside files" has been translated into "列出和排序文件旁的目录”.

### Steps To Reproduce

_No response_

### Expected behavior

should be translated into “文件夹与文件一同分类排序”

### Files Version

Version: 2.1.2.0 OS Version: 10.0.18363.1500

### Windows Version

Windows 10, version 1909 (OS Build 18363.1500)

### Relevant Ass

[2022-01-18 02:42] yaichenbaum commented on #7765
@lovexxx would you like to work on a fix?

[2022-01-18 03:57] yaichenbaum commented on #7625
@carlosrfernandez

[2022-01-18 04:00] yaichenbaum commented on #7625
@creeperlv

[2022-01-18 04:00] RickeyHo commented on #7625
I have no objections.

On Mon, Jan 17, 2022, 6:47 AM Yair Aichenbaum ***@***.***>
wrote:

[2022-01-18 04:02] yaichenbaum commented on #7625
@JinchengYou

[2022-01-18 04:02] Athey81 commented on #7625
I agree

[2022-01-18 04:03] yaichenbaum commented on #7625
@MuMDevelopment

[2022-01-18 04:05] yaichenbaum commented on #7625
@tGecko

[2022-01-18 04:06] yaichenbaum commented on #7625
@tytynono66

[2022-01-18 04:07] creeperlv commented on #7625
I agree. ;D

[2022-01-18 04:08] yaichenbaum commented on #7625
@rmarquis

[2022-01-18 04:18] yaichenbaum commented on #7625
@AkiaCode

[2022-01-18 04:27] yaichenbaum commented on #7625
@gtskhadadze83

[2022-01-18 04:29] rckmnr commented on #7732
I set the widget every way possible. However, I did a restart last night, and saw no change. This morning, everything was working fine. Go figure!

[2022-01-18 04:30] rckmnr commented on #7732
I restarted last night, with no improvement. However, this morning everything is working fine.

[2022-01-18 04:54] azlan-syed opened #7768 "the dark pixel theme is too dark"
### What's the Problem?

it is a theme problem there is a theme called dark pixel it is  very dark in color and it is hard to see some icons

### Solution/Idea

we should try making another kind of dark theme that is not clearly dark with a little bit of grey color at the sides

### Alternatives

as mentioned in the solution we should make (remake) the theme or we can make a function that when the

[2022-01-18 05:09] Windows11-Pro-Ultimate commented on #5030
Yes please fix it.

[2022-01-18 05:23] bagiosw commented on #7614
For now this is the working solution, just make sure the app is closed while you editing the json file, otherwise it will revert back to the current state while it was opened.

[2022-01-18 05:25] yaichenbaum opened #7769 "Add set as background button to toolbar when image files are selected"
### What's the Problem?

_No response_

### Solution/Idea

Adding a toolbar button will increase ease of use when setting an image as the desktop background.

### Alternatives

NA

### Priorities

_No response_

### Files Version

_No response_

### Windows Version

_No response_

### Comments

_No response_

[2022-01-18 06:02] TripSea6023 opened #7770 "Random images appearing when opening folders with lots of images"
### Description

There are random images appearing when opening folders with lots of images, and any folder after that. For example if I open a folder with a cake's picture, and I open another folder, all the images' thumbnails of that folder become cakes.

### Steps To Reproduce

_No response_

### Expected behavior

Normally it should show the thumbnails of the actual images, but still show thum

[2022-01-18 06:03] #7755 closed

[2022-01-18 06:56] rr-da-cat commented on #7769
Yea plz do it

[2022-01-18 07:01] rr-da-cat commented on #7626
![image](https://user-images.githubusercontent.com/97874600/149886191-0fa79028-41b7-44d9-91a5-1a077a03a53b.png)

I downloaded the new .reg file and ran it...
But now i again want to set files as default.

I downloaded the msixbundle and reinstalled it.
Now i have 2 instances as below. And both the buttons are stuck.

All I want to do now is MAKE files app as default opener. I have the .reg file as

[2022-01-18 07:03] rr-da-cat commented on #7626
1 instance of app is launched from taskbar, Other from msixbundle windows's launch button...
They are not 2 same windows.

@gave92  @yaichenbaum

[2022-01-18 07:05] gave92 commented on #7626
You need to run the script, uninstall the Store version, switch the option in from the side loaded version.

[2022-01-18 07:16] rr-da-cat commented on #7626
My MS Store apps don't work already so I don't want to risk uninstalling Files... Can u provide me with a script that makes it default file explorer please @gave92

[2022-01-18 07:17] gave92 commented on #7626
If you want to keep both, look at Windows Settings > Apps > App execution alias. Make sure the correct Files install had the right switch enabled.

[2022-01-18 07:25] SU-Ki-MA opened #7771 "Files crashed after shift+delete."
### Description

I recently started learning vim, and when I created few python files with it, It created some swap files and un~ files and PY~ files.
I shift+deleted all those files, it was around 10 files or more.
a popup appeared to make sure that I wanted to permanently delete it and I agreed.
then Files crashed. I opened it again, and the files were deleted.

so it was just a crash.

### Step

[2022-01-18 07:29] ytse77 opened #7772 "No refresh on mapped network drive"
### Description

Folders on mapped network drive aren't being refreshed. I have to manually refresh them.

### Steps To Reproduce

1. Go into a folder on a mapped network drive.
2. Paste a file and it wont show unless you press F5.
3. Rename a file and it wont show the new name unless you press F5.
4. Save a file into that folder from an app and it wont show unless you press F5.

### Expected beha

[2022-01-18 07:30] mohammadshughri commented on #7625
Fine by me

[2022-01-18 07:39] TripSea6023 opened #7773 "Change application font"
### What's the Problem?

Well, right now, Files uses Windows 10's Segoe UI. It's fine for people using Windows 10, but for those on Windows 11, it would be nice if we could atleast get the Segoe UI Variable Display font.

### Solution/Idea

My suggestion is to add the **Segoe UI Variable Display** font.

### Alternatives

Or you can even add the option to change the application font to a font of o

[2022-01-18 08:07] 50thomatoes50 commented on #7625
I agree

[2022-01-18 08:13] Tarek-Hasan commented on #7124
I would like to search file/folders by attributes, now I'm using **Everything** for this.

[2022-01-18 08:21] Josh-65 commented on #7771
You will need to upload the logs files. You can get them in files settings > about > open log folder.

[2022-01-18 08:46] #7772 closed

[2022-01-18 08:46] gave92 commented on #7772
Tracked in #5869

[2022-01-18 08:50] rmarquis commented on #7625
Fine by me!

[2022-01-18 08:53] Gitoffthelawn commented on #7625
Please reply "yes" if you've received more notifications for this issue than any other issue on GitHub. ;)

(Please don't... that's humour. 😸 )

[2022-01-18 09:42] Kannezzy opened #7776 "Adding support for external file copy agents"
### What's the Problem?

Right now Files is using it's internal file transfer agent (potentially windows one, don't know).
Would be nice if there was option to chose external agents already installed on system, for example TeraCopy.
![2022-01-18_10-25-05](https://user-images.githubusercontent.com/25113343/149908620-9bdecbe4-4f66-4e6e-bd26-aa869e70e74c.png)
_Figure 1. Files default file tranfer age

[2022-01-18 09:53] Kannezzy commented on #7776
Sorry, totally missed that is being discussed here #7518

[2022-01-18 09:53] puppetsw commented on #7769
@yaichenbaum Is this another one I can take on?

[2022-01-18 10:02] Mahdihp opened #7777 "Con not show Dialog Question Replace And Copy File"
### Description

Con not show Dialog Question Replace And Copy File

### Steps To Reproduce

_No response_

### Expected behavior

![image](https://user-images.githubusercontent.com/6378625/149915281-c561230f-dbde-4c7e-98ef-7fcf76a06570.png)

### Files Version

Version: 2.1.2.0 OS Version: 10.0.19042.1288

### Windows Version

win 10

### Relevant Assets/Logs

![image](https://user-images.githubus

[2022-01-18 11:31] thierryntoh24 opened #7778 "Change Glass Theme’s On-unfocus Background"
### What's the Problem?

When you chose the Glass Theme from themes, it works ok and is really beautiful until the app loses focus, then it just reverts back to black.

Im on my phone rn so I can’t attach a photo.

### Solution/Idea

I think it’d be cool if it could stay somewhat transparent still, like the Acrylic theme does, when focus has been lost.

### Alternatives

I set theme to Acrylic, al

[2022-01-18 12:39] AkiaCode commented on #7625
agree

[2022-01-18 12:53] Josh-65 commented on #7778
This is becuase it use acrylic and Windows will disable it when a window not in focus, i dont belive it can be changed.

[2022-01-18 12:55] Josh-65 commented on #7777
What your issue? "Con not show Dialog Question Replace And Copy File" means nothing. if you want to disable  the conflict dialog you can't.

[2022-01-18 13:01] Josh-65 opened #7779 "Frezzing when accent color changes in Windows"
### Description

I have my background as a slide show and accent color to auto change with it. Most of the time files will end up frezzing entirely either in the forground or background. The rare times it doesnt it will lag out for a while.
This also happends with transparacy being toggled but it will always freeze up.

### Steps To Reproduce

_No response_

### Expected behavior

The app should h

[2022-01-18 13:14] PetoFeFe commented on #7702
i have touchpad too, i wish this will be a feature. It is windows precision touchpad and I have set up gestures for navigation back/forward.

[2022-01-18 13:17] PetoFeFe commented on #7364
Same here

[2022-01-18 13:35] soredake commented on #6130
Having similar problem, but going to explorer does not helps.

[2022-01-18 13:37] thierryntoh24 commented on #7778
🤦🏿‍♂️, Windows.
It just throws off the whole vibe of the theme.

[2022-01-18 13:38] windracer commented on #7602
In my installation of Files, when switched to the Columns Layout, I experience the same issue.

1. Ensure that the number of files in the column exceeds the window height (in other words, some files aren't visible)
2. Start typing a file name.
3. A file or a folder starting from the typed letter is selected (the contents of the folder or a zip archive is shown in the next column), but the column s

[2022-01-18 14:04] SU-Ki-MA commented on #7771
[debug.log](https://github.com/files-community/Files/files/7889594/debug.log)
do you need debug_fulltrust.log as well?

[2022-01-18 14:04] Josh-65 commented on #7771
best to do so

[2022-01-18 14:33] yaichenbaum commented on #7777
Thank you for taking the time to report this, in order to investigate the issue we'll need the log files and steps to repro this bug, can you please reopen this issue using the issue template?

[2022-01-18 14:33] #7777 closed

[2022-01-18 14:36] josdemmers opened #7780 "Crash occurs when double clicking folder while pressing Shift"
### Description

Was looking for the shortcut to open selected folder in a new tab. Thought it was Shift + double click but that crashed the app. (I now know I can use middle mouse for the new tab).
Not sure I can use Shift + double click as well to open folders in a new tab but at least I thought it a good idea to report the crash.

Crash happens when selecting one or more folders using shift and

[2022-01-18 14:45] ArthurMTX opened #7781 "Can't Drag & Drop"
### Description

https://cdn.discordapp.com/attachments/725514946112127057/933000056833998878/Desktop_18-01-2022_15-07-19.mp4

As you can see in the recording, I can't drag & drop a file, whatever the extention is. I can drag and drop out of the explorer, but not into it.

PM if more informations required at MitralyxL#1337

### Steps To Reproduce

1. Take a random file
2. Open an explorer window
3

[2022-01-18 14:50] Mahdihp commented on #7777
Con not show "Replace or Skip Files" Dialog

[2022-01-18 14:54] Josh-65 commented on #7777
Whats the name of the file in files

[2022-01-18 14:55] Anas-Elgarhy opened #7782 "Can't open the terminal"
### Description

I am trying to open the terminal inside the current path from the "Open in terminal" option but it is not responding

### Steps To Reproduce

1. Open Files
2. Go to the path
3. Clik on the right mouse button
4. Clik on "Open in terminal" option

### Expected behavior

Open the Terminal in the current path

### Files Version

Version: 2.1.2.0 OS Version: 10.0.19044.1466

### Window

[2022-01-18 15:00] Mahdihp commented on #7777
any file

[2022-01-18 15:04] Josh-65 commented on #7777
the file that was suppost to be replaced

[2022-01-18 15:05] kayazeren commented on #7625
I agree

[2022-01-18 15:06] Mahdihp commented on #7777
yes .Do not ask Replace or Skip Files

[2022-01-18 15:11] Josh-65 commented on #7777
what do you mean yes. If a file with the same name is already there and you copy another file to it, it's going to ask for you to decided witch one you want witch you cna do and is what makes sence.

[2022-01-18 15:36] yaichenbaum commented on #7778
@thierryntoh24 is this in light mode or dark mode?

[2022-01-18 15:40] SU-Ki-MA commented on #7771
[debug_fulltrust.log](https://github.com/files-community/Files/files/7890303/debug_fulltrust.log)
[debug.log](https://github.com/files-community/Files/files/7890304/debug.log)
done

[2022-01-18 15:41] yaichenbaum commented on #7625
@Gitoffthelawn it's one of the largest issues on this repo, that's for sure :D

[2022-01-18 16:05] thierryntoh24 commented on #7778
Dark mode. I haven’t tried in Light mode.

Enviado desde mi iPhone

El 18 ene 2022, a la(s) 16:36, Yair Aichenbaum ***@***.***> escribió:

[2022-01-18 16:17] #7776 closed

[2022-01-18 16:22] yaichenbaum commented on #3880
Closing this issue since the library widget has been removed.

[2022-01-18 16:22] #3880 closed

[2022-01-18 16:30] widkit commented on #7614
![image](https://user-images.githubusercontent.com/75989700/149977870-d84cfe31-ab4e-472d-966b-59bb056bfe0c.png)

this solution here seems to work, but GUI option should be fixed.
![image](https://user-images.githubusercontent.com/75989700/149977953-b07802c9-0896-4100-a4fc-6cc4b3abcca3.png)

[2022-01-18 16:31] #7310 closed

[2022-01-18 16:32] yaichenbaum commented on #7310
This issue should be resolved with #7657

[2022-01-18 16:57] yaichenbaum commented on #7778
@thierryntoh24 this is the way Acrylic works.

[2022-01-18 16:57] #7778 closed

[2022-01-18 16:57] chimichala opened #7784 "Folder icon bug"
### Description

Some folder icons have black background for some reason. Its the same on every icon size except when i set it to detailed view, then its normal.

### Steps To Reproduce

_No response_

### Expected behavior

Well, the background should by transparent.

### Files Version

Version: 2.1.2.0 OS Version: 10.0.22000.438

### Windows Version

Windows 11 Pro N 21H2 22000.438

### Relevant

[2022-01-18 17:00] HarriVainola opened #7785 "Crash Dragging & Dropping tab items"
### Description

Crash after dragging & dropping tab items.

### Steps To Reproduce

_No response_

### Expected behavior

Purpose was sort tab items by name.

### Files Version

Version: 2.1.2.0 OS Version: 10.0.22000.434

### Windows Version

MS Windows 11 Home: 10.0.22000.434

### Relevant Assets/Logs

logs not available

[2022-01-18 17:51] wodawoda opened #7788 "Slow indexing SMB local network server"
### Description

Files is very slow to index new files on the local server. After saving a new file you have to refresh the application window. The same happens when you delete a file or a directory. Maybe it is possible to use native [windows index ](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/indexers/using-indexers)mechanism or implement [Everything](https://www.voidtools.c

[2022-01-18 18:56] #7614 closed

[2022-01-18 18:56] yaichenbaum commented on #7614
This issue should be resolved with #7787

[2022-01-18 18:57] 14AUDDIN opened #7789 "Add option to share with bluetooth"
### What's the Problem?

Currently there's no option to share files across devices using Bluetooth.

### Solution/Idea

Add bluetooth sharing as an option in the share windows
![image](https://user-images.githubusercontent.com/42714433/150000039-bc75c8a7-36eb-4c5b-807d-6ab085d49fc8.png)

### Alternatives

Alternatively you could add the send to option in the right click menu from the regular Windo

[2022-01-18 18:58] #7773 closed

[2022-01-18 18:59] yaichenbaum commented on #7773
@TripSea6023 this issue should be resolved with #7786

[2022-01-18 20:25] mattish91 opened #7791 "Better search with multiple files of the same name."
### What's the Problem?

I have multiple files in a dev project that have the same name, i would love to see the actual file location to get the correct one 😬

### Solution/Idea

Add an option to view "file location" in the colums on the search page. or "location" if it's folders that im looking for.

### Alternatives

Open Windows explorer that can actually show me that information.

### Prioriti

[2022-01-18 20:30] Josh-65 commented on #7791
Same as #7070

[2022-01-18 20:48] #7791 closed

[2022-01-18 20:58] legalMori opened #7793 "Is it possible to bring flash memory/drive formatting feature?"
### What's the Problem?

Hi,

I use the application by default, but when I insert a flash memory, while formatting easily with the wibdows file manager, I could not see the formatting option in this application. Will it come in the future?

### Solution/Idea

Hi,

I use the application by default, but when I insert a flash memory, while formatting easily with the wibdows file manager, I could not

[2022-01-18 21:15] P3rf3ctXZer0 opened #7794 "A version that has working indexing when in safemod."
### What's the Problem?

When you activate windows 11 safe mode search is just gone and I am looking for an application that can safely mimic that as this is the first windows version where this is definitely an issue.

### Solution/Idea

Dunno - maybe a low grade shell style? Something ... dunno.

### Alternatives

None that I am aware of.

### Priorities

| Capability | Priority |
| :----------

[2022-01-18 21:31] Josh-65 commented on #7794
Files use features from windows search. so it not possible unless they change the provide but im not sure on when or if there doing that.

[2022-01-18 21:32] Josh-65 commented on #7793
Right click the drive on the sidebar and formatt will be an option

[2022-01-18 22:07] FefeTroanes commented on #6830
Sorry to bother you, how did you uninstall Files? I can't find how to do it

[2022-01-18 22:21] telmondyoel commented on #7625
Sure, absolutely!
Fine by me :)

[2022-01-18 22:25] P3rf3ctXZer0 commented on #7794
I understand thanks for the information.

[2022-01-18 23:10] #7794 closed

[2022-01-18 23:14] JackSkellet opened #7796 "Crashes when i drag a tab into another tab"
### Description

As stated in the title. it crashes when i drag a tab into another tab

### Steps To Reproduce

1. open files
2. go to a dir
3. open another tab
4. drag first tab onto new tab

### Expected behavior

i would want this to open dual view, or it should do nothing at all

### Files Version

Version: 2.1.2.0 OS Version: 10.0.19043.1466

### Windows Version

Device name	DESKTOP-JD1RLG3 P

[2022-01-18 23:23] gave92 commented on #7796
Hi you can find the logs from Files settings > About > Open log location

[2022-01-18 23:24] #7793 closed

[2022-01-18 23:25] Talisman39ar commented on #5645
@yaichenbaum Is there a design in progress for reworking the Conflicting File Names dialog? If not, I was thinking I'd take a crack at it

[2022-01-18 23:26] #7788 closed

[2022-01-18 23:26] JackSkellet commented on #7796
[debug.log](https://github.com/files-community/Files/files/7893031/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/7893032/debug_fulltrust.log)

[2022-01-18 23:26] gave92 commented on #7788
Unfortunate limitation is the UWP platform. Issue tracked in #5869

[2022-01-18 23:27] columkeane opened #7797 "No File will open"
### Description

![Screenshot 2022-01-18 232256](https://user-images.githubusercontent.com/573006/150034808-9b376356-9e2e-4df5-a7dc-b0bb4aa9d1be.png)
I get the above error message no matter what file I try to open. This is disappointing especially since I paid for the program.

### Steps To Reproduce

_No response_

### Expected behavior

The file to open.

### Files Version

Version 1.0.12

### W

[2022-01-18 23:29] gave92 commented on #7797
Files is free and the above screenshot does not seem to be represent the Files app.

[2022-01-18 23:29] Josh-65 commented on #7797
The items in the screenshoots are not files. Also v1 is very old you should update to 2.1.2.0.

[2022-01-18 23:30] #7797 closed

[2022-01-18 23:31] #7785 closed

[2022-01-18 23:31] gave92 commented on #7785
Matching with #7796

[2022-01-18 23:32] #7784 closed

[2022-01-18 23:32] gave92 commented on #7784
Tracked in #6373

[2022-01-18 23:33] columkeane commented on #7797
Where is the update the Microsoft Store says app is up to date. They are
pdf files.

On Tue 18 Jan 2022 at 23:29, Josh-65 ***@***.***> wrote:

--

Regards,
Colum Keane
Email: ***@***.***
Mobile: +353 (0)87 343 5530

[2022-01-18 23:36] yaichenbaum commented on #5645
@Talisman39ar we're still working on a design spec. Are you in the Discord server?

[2022-01-18 23:39] gave92 commented on #7781
Are you able to drop on the folders on the sidebar or the file list or the navigation bar? Is the issue only dropping in the blank space?

[2022-01-18 23:40] yaichenbaum opened #7798 "Add install button to toolbar when inf files are selected"
### What's the Problem?

_No response_

### Solution/Idea

NA

### Alternatives

NA

### Priorities

_No response_

### Files Version

_No response_

### Windows Version

_No response_

### Comments

_No response_

[2022-01-18 23:41] watya1 opened #7799 "ClickMoveAnimation OFF for Windows10"
### What's the Problem?

Clicking on a file moves the line

### Solution/Idea

I want to turn off the movement of lines when selected

### Alternatives

I want an item that turns off animation when selected

### Priorities

_No response_

### Files Version

Version: 2.1.2.0 OS Version: 10.0.19042.867

### Windows Version

Windows 10 Pro 20H2

### Comments

_No response_

[2022-01-18 23:44] yaichenbaum opened #7800 "Add install button to toolbar when font files are selected"

[2022-01-18 23:47] yaichenbaum commented on #7799
@watya1 does the option to turn off animations in Windows 10 help?

[2022-01-18 23:52] Talisman39ar commented on #5645
No just here on git

[2022-01-19 00:03] watya1 commented on #7799
@yaichenbaum It wasn't turned off with the optional animation off in windows10.

![MoveIcon](https://user-images.githubusercontent.com/32918589/150038292-8f286c4f-b012-4fe3-a25e-3195df21fe74.gif)

[2022-01-19 00:09] yaichenbaum commented on #7799
This seems to be a system behavior that was changed with Windows 11.

[2022-01-19 00:19] watya1 commented on #7799
It can be inferred that it is difficult to correct if it is a movement peculiar to the system.
I hope someday it will be resolved. Thank you for your quick answer.

[2022-01-19 00:28] artbat opened #7801 "Sugestions: Queue file operations and a more compact details view"
I'd switch to this great piece of software if I could queue ongoing file operations (copy, move, delete) instead of launching them in parallel, just like windows explorer does.

Also, line separation is too big in details view. A more compact view would be appreciated.

Everything else is great, which is a lot!
Greetings!

[2022-01-19 00:52] washicjr opened #7802 "Folders icons have a black square border around them"
### Description

Folders icons have a black square border around them

![Screenshot 2022-01-18 184643](https://user-images.githubusercontent.com/28652385/150042407-4a4d5dfd-b020-4cb4-b940-bf5253b354e4.png)

### Steps To Reproduce

Nothing special, happens with each of the provided themes. Drilling into a folder causes this. Each version of Files that I have installed and each version of Windows 11

[2022-01-19 01:00] yaichenbaum commented on #5645
@Talisman39ar can you join so we can work on this together?

[2022-01-19 01:01] #7703 closed

[2022-01-19 01:02] #7495 closed

[2022-01-19 01:02] #7497 closed

[2022-01-19 01:03] yaichenbaum commented on #7491
@gave92 are you able to reproduce this?

[2022-01-19 01:07] JohnMansell commented on #7084
Copy **TO** virtual machine is also broken. Copies parent folder, but does not copy recursively.

1. Open Files
2. Open VMWare - Virtual Machine
3. Copy directory from files -> Virtual machine
     - Copy with either ctrl-c + ctrl-v or drag-and-drop
4. Parent folder is copied -- child directories are not copied

**Expected Behavior**
Directory and all sub-folders should be copied

**Versions**
Fil

[2022-01-19 01:27] yaichenbaum commented on #7801
Merging with #2447 #1940

[2022-01-19 01:27] #7801 closed

[2022-01-19 01:50] Talisman39ar commented on #5645
Sure, my user name there is Richardsona39#8797 if you want to send an invite (sorry if I'm missing it, don't see a way to join it from within Git)

[2022-01-19 02:23] #7639 closed

[2022-01-19 02:24] yaichenbaum commented on #7639
This issue should be resolved with #7696

[2022-01-19 02:35] linsui commented on #3318
[windows-terminal](https://github.com/ScoopInstaller/Extras/blob/master/bucket/windows-terminal.json)

[2022-01-19 02:40] sunshineharry opened #7803 "I hope it can change fonts"
### What's the Problem?

I hope the fonts of `Files` can be changed! I can use the other fonts to render interface. thank you

### Solution/Idea

I donnt have the solution to achive it.

### Alternatives

`OneCommander` can change the fonts, but i dont like it

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This

[2022-01-19 02:43] yaichenbaum commented on #3318
@linsui I meant the package name that's displayed when you run `Get-AppxPackage -AllUsers`.

[2022-01-19 03:03] kristoferbuno commented on #7705
✋ I'll take the issue @yaichenbaum

[2022-01-19 03:09] yaichenbaum commented on #7705
@kristoferbuno what do you plan to change the shortcut to?

[2022-01-19 03:10] #6388 closed

[2022-01-19 03:21] linsui commented on #3318
It's not installed but simply unpacked, so there is no package name.

[2022-01-19 03:25] kristoferbuno commented on #7705
I took a look at the shortcuts list (https://files.community/docs/configuring/keyboard-shortcuts) - I'm thinking Ctrl+Space. Maneuverable with one hand, no surprise playback with just one key.

[2022-01-19 03:29] Zigadirasu commented on #6888
Up for this. Also in addition to this, i also use the Start11 program that adds an contextual menu to "pin to start11", that appears on files and adds the shortcut to the right place but doesn't appear on the start menu of start11.

[2022-01-19 03:53] #7799 closed

[2022-01-19 05:02] yaichenbaum commented on #6116
Closing as the underlying issue was resolved.

[2022-01-19 05:02] #6116 closed

[2022-01-19 05:09] yaichenbaum commented on #6067
@MarcAnt01 thank you for opening the issue, I just wanted to let you know that we don't have plans to make this change.

[2022-01-19 05:09] #6067 closed

[2022-01-19 05:12] yaichenbaum commented on #3822
Merging with #7287

[2022-01-19 05:12] #3822 closed

[2022-01-19 05:13] #3665 closed

[2022-01-19 05:18] yaichenbaum commented on #3318
@linsui looking at the script, it's using the same package as the store version so it should work now.

[2022-01-19 05:18] #3318 closed

[2022-01-19 05:24] linsui commented on #3318
Scoop uses the same package but doesn't install it. So I doubt if it works. But I don't use scoop anymore so I can't check it.

[2022-01-19 05:30] tlitookilakin opened #7804 "Right-click drag support"
### What's the Problem?

_No response_

### Solution/Idea

The standard file explorer allows one to drag items by holding right-click, and when "dropped", shows a small context menu allowing the user to choose how to process the dragged file(s). This is very convenient when multitasking with many files and folders at once.

By default, windows offers Copy, Move, and Create Shortcut options, though

[2022-01-19 05:30] azlan-syed commented on #7803
we can ask for some fonts and we can have a font store with some cool fonts like neonderthaw, Rubik beastly, luxorius roman,etc

[2022-01-19 05:32] azlan-syed commented on #7796
yup same to me we may have a drag and drop animation too

[2022-01-19 05:47] yaichenbaum commented on #7804
Merging with #1396

[2022-01-19 05:47] #7804 closed

[2022-01-19 05:47] azlan-syed opened #7805 "try adding icons"
### What's the Problem?

// not a problem

I have a brilliant idea why not just make an icon theme. I mean we can change through icons of Windows 10 and 11 for Windows 10 people who want to experience Windows 11 and  people who miss Windows 10 in Windows 11

### Solution/Idea

make an icon theme of windows 10 from win 10 icons  and a windows 11 icon theme from windows 11

### Alternatives

/*well

[2022-01-19 05:55] TeoMorabito opened #7806 "Feature: Add "Open with" to context menu when multiple files are selected"
### What's the Problem?

I would love to be able to select multiple jpg files, right click, and open all those files with say photoshop.
As I remember this works in macos but the feature is lacking in windows (unless i'm missing a settings somewhere)

### Solution/Idea

Is this something that could be added to files?

### Alternatives

currently, selecting multiple images and right clicking to ope

[2022-01-19 06:09] azlan-syed commented on #7782
you need to install the windows terminal software from the Microsoft store or go to settings and change the default shell (terminal)

[2022-01-19 06:12] azlan-syed commented on #7771
this bug is fixed now reinstall the software from store and you are good to go

[2022-01-19 06:15] SU-Ki-MA commented on #7771
wow, that was fast!... amazing ill reinstall.
Thanks!!

[2022-01-19 06:15] #7771 closed

[2022-01-19 06:17] azlan-syed opened #7807 "one_click_clicker"
### What's the Problem?

not a problem but a suggestion

add a setting that we should open folders in how many clicks this should be with choices and it should have 1 click and 2 click

### Solution/Idea

^ up above is the soultion

### Alternatives

nope no alternatives

### Priorities

| Capability | Priority |
| :---------- | :------- |
|  make a setting to set how many clicks are needed to ope

[2022-01-19 06:17] #7802 closed

[2022-01-19 06:18] gave92 commented on #7802
Tracked in #6373

[2022-01-19 06:18] #7807 closed

[2022-01-19 06:19] gave92 commented on #7807
Take a look at Files settings > preferences > files and folders. There's "open files with one click" and "open folders with one click"

[2022-01-19 06:23] azlan-syed commented on #7807
ik but maybe we should make a better UI

[2022-01-19 06:25] chrfin commented on #6828
Please rethink adding this feature. This single feature makes Files useless for me even if I REALLY like all the rest, but I need this navigation capability all the time when using a file explorer, as I switch between neighboring folders in my workflow.
It's always the first thing I change when setting up the default explorer and wonder EVERY time, why they do not enable that by default (anymore).

[2022-01-19 06:54] sunshineharry commented on #7803
Thank you for your response. Font store could be a great idea, but it can cause **Law Rick**, thus, can fonts be changed in theme? just in this file?

thank you!

[2022-01-19 07:40] raulpop8 opened #7808 "Back Button on mouse crashes app in Columns View with Multiple Tabs open"
### Description

When ever I try to use the back button on my mouse, the app crashes. I tried this using the backspace button, witch works ok, but when ever I have more than one tab open, and I press the back button on my mouse (by mistake or not) the app crashes.

### Steps To Reproduce

1. Click on Layout Options
2. Select Columns
3. Navigate to any folder
4. Click Back Button (on mouse)
5. If t

[2022-01-19 07:40] bagiosw opened #7809 "FilesFullTrust.exe - System Error"
### Description

This error shows up once everytime Files is open, and then right-click a file (as far as I know, only image or video file). The second time I right-click the file again, it's normal no error. But if I close and reopened Files, it pops up again. So far there are 2 different error titles, the first one is **_FilesFullTrust.exe - System Error_**, and the other one is **_.NET-Broadcas

[2022-01-19 08:28] boscorelly commented on #7625
ok for me too

[2022-01-19 08:50] Ossy81 opened #7810 "Only 1 OneDrive location is shown"
### Description

When you add multiple OneDrive location from different "tenants" it only shows 1 of them, so not multiple OneDrive locations. These are the links to the SharePoint/Teams Document Libraries

### Steps To Reproduce

Go to teams and sync File locations from multiple tenants/companies. So not multiple teams within 1 company, but from others.

### Expected behavior

Within the cloud dr

[2022-01-19 09:31] roxxel opened #7811 "Ability to choose action for all files when delete fails"
### What's the Problem?

![image](https://user-images.githubusercontent.com/64275777/150102273-a95e1327-a196-4e94-a744-83c5375a99b7.png)
When deleting big chunk of files this message is extremely annoying 'cause u have to dismiss it every time it shows, and there's no way to choose action for all files

### Solution/Idea

Add "Ignore for all" button

### Alternatives

-

### Priorities

_No respon

[2022-01-19 11:12] onurbbr opened #7812 "[BUG] Open folder action in any application opens explorer.exe after Files."
### Description

20-25 seconds after selecting the "Open folder" option from any application, explorer.exe opens.

https://user-images.githubusercontent.com/47495526/150118540-4673fe30-38cd-430c-b090-16c34d343b28.mp4

### Steps To Reproduce

Go to any app
Click on 'Open Folder'
Wait 20 seconds
You can see explorer.exe is running as file manager.

### Expected behavior

The Windows File Explorer ap

[2022-01-19 12:29] gave92 commented on #7811
Tracked in #7060

[2022-01-19 12:30] gave92 commented on #7809
What PC/ device you have?

[2022-01-19 12:44] generalguy41 commented on #7769
Would it be possible to make it a dropdown with the option to Set as Lockscreen as well? (Or alternatively add that as a button too).

[2022-01-19 13:18] Anas-Elgarhy commented on #7782
Oh yes the problem was resolved when I changed the default emulator from Tabby to Windows terminal and also when I changed it to Fluent terminal it seems the problem is related to my Tabby terminal or my configuration of the terminal.json file

[2022-01-19 13:31] Anas-Elgarhy commented on #7782
It turns out that the problem was because I didn't put the full path to the executable file

[code]

[2022-01-19 13:31] #7782 closed

[2022-01-19 13:50] ptmrio commented on #7089
+1

A dedicated browser like bookmarks bar is abolutely missing in my workflow. It would be a huge success!

[2022-01-19 13:53] SoesBR opened #7813 "Bulk rename feature"
### Solution/Idea

**It's an idea**

If we look at the Finder rename system, we will notice there's an advanced option to rename a file, better, files! Yes, renaming many files at one time should be amazing. Should we look for perfection? So, why not rename the files with a chosen prefix and automatic date suffix?

To reference, follow some useful links:

Video shows rename system:
[https://youtu.

[2022-01-19 14:10] StefanLobbenmeier opened #7814 "Support opening application from the path editbox"
### What's the Problem?

In explorer.exe, you can start a new cmd at the current folder by typing "cmd.exe" in the path editbox. I also like to open IntelliJ at the current folder using "idea .".

This is what I mean in explorer.exe:
![image](https://user-images.githubusercontent.com/36509607/150145968-8e03b420-9f60-4222-b31e-1a87daca3397.png)

In the files app, "cmd" actually works somehow. But t

[2022-01-19 14:29] doodlemania2 opened #7815 "Opening Zip Files"
### Description

When I attempt to open a zip file (expecting it to open like the standard Windows file manager) with a double click, nothing happens.

### Steps To Reproduce

1. Download a zip to /Downloads
2. Double click zip file
3. *should open zip file*

### Expected behavior

Open the zip file so I can grab a file or files.

### Files Version

Version: 2.1.2.0 OS Version: 10.0.22538.1000

##

[2022-01-19 15:01] JoshuaDup commented on #7746
am experiencing the same thing, but also while having more than two tabs open and attempting to edit text files, bat files, etc.

[2022-01-19 15:02] koersner opened #7816 "The look and feel of Files"
### What's the Problem?

1) I am new to Github so please bare with me if I do something inappropriate.
2) I want to stop using Windows Explorer due to its well-known drawbacks.
3) I found the Files app and I have been using it for a while. I use it in "multitasking" or "dual pane" mode in order to see two directory trees at the same time (dual pane view).
4) I have some suggestions for improvement

[2022-01-19 15:24] yaichenbaum commented on #7769
At the moment, that's not part of the design spec.

[2022-01-19 15:33] yaichenbaum commented on #7814
@StefanLobbenmeier that sample would work but it would need to open the application in the current directory. Do you want to work on this?

[2022-01-19 15:34] yaichenbaum commented on #7813
@SoesBR have you tried Powertoys?

[2022-01-19 15:59] Gabryxx7 commented on #1940
Yes I did started working on it!
I barely use WPF and C# so I hit a bit of a road block.
I would like to bind one of the sliders in the screenshot to the `Margin` property of an `ItemContainerStyle` inside `DetailsLayoutBrowser.xaml`.

[code]

The issue I'm facing is that even when clicking the refresh button, the margin property does not seem to be updated, most likely because the style has alrea

[2022-01-19 16:09] Gabryxx7 commented on #1940
I could try that. It'd be nicer if the height was set to Auto and calculated through margin and padding but as of now only properties bound to the ListedItem (as opposed to the style/setter) seem to get refreshed.

[2022-01-19 16:10] StefanLobbenmeier commented on #7814
I do not have a development environment setup, but I think Azure can build it and I test it after fixing it with a text editor 😄

[2022-01-19 16:33] #6315 closed

[2022-01-19 16:42] MaxSteven commented on #7350
![image](https://user-images.githubusercontent.com/6467223/150175163-1c792384-0475-4141-a77f-5c3520f4a4a7.png)
Hello Can you consider adding the Send to Options?
I usually use it to send the file to some custom batch for render or conversion.

[2022-01-19 16:43] EricAtORS opened #7818 "Recent files does not respect the "single click" to open a file preference"
### Description

When I open a new tab, at the bottom of the main frame, I have a "Recent Files" section. When I single click on a file in that section, it opens that file.
My preferences say that it should require 2 clicks, but a single click opens the file. This does not happy anywhere else, as far as I can tell.

### Steps To Reproduce

1. Set your preference "Open files with a single click" to

[2022-01-19 16:45] LukoFoks commented on #7803
Just a dropdown to select font from installed fonts would be amazing. Or maybe just a path to it. That is how Godot solved it. Everyone can always install more fonts themselves.

[2022-01-19 18:03] Josh-65 commented on #7816
I presume your is the same as #6448. Also i reccomend keeping to the issue discription to whats wrong rather than make a bunch of paragraphs.

[2022-01-19 18:10] BenJewell opened #7819 "Drag and Drop Into Folders Broken"
### Description

Drag and droping within Files is broken. Dragging any files over top of any folders shows a red "don't" sign. Not a permission issue.

### Steps To Reproduce

_No response_

### Expected behavior

Should move selected files into the folder when mouse is released.

### Files Version

2.1.2.0

### Windows Version

Windows 10 21H2 19044.1466

### Relevant Assets/Logs

[debug_fulltrus

[2022-01-19 18:18] CrypticVader opened #7820 "Reduce Tile height in Tiles layout"
### What's the Problem?

Currently, files & folders look oversized in Tiles layout, compared to Explorer.

### Solution/Idea

Reducing the size of the tiles.

### Alternatives

Provide an option in settings to reduce to size of items in Tiles layout.

### Files Version

v2.1.2.0

### Windows Version

Windows 11 21H2 22000.466

### Comments

In Files:
![image](https://user-images.githubusercontent.

[2022-01-19 18:30] CrypticVader commented on #7808
Same here in column view, at times Files navigates all the way back to Home when pressing the mouse back button, or it crashes.

[2022-01-19 19:20] riksque opened #7821 "Ajout de l'icone Affiché/Caché les fichiers caché dans la barre d'icone."
### What's the Problem?

Il faut aller dans les paramètres pour pouvoir afficher les fichiers ou dossiers caché, il serait bien d'avoir une icone raccourci dans la barre d'icone.

![Sans titre 1](https://user-images.githubusercontent.com/93746398/150199197-a9e39d8d-f677-4536-b8f2-33e2d35041a4.jpg)

### Solution/Idea

Il serait bien d'avoir une icone raccourci dans la barre d'icone.

![Exemple](htt

[2022-01-19 19:22] SoesBR commented on #7813
Yes, I tried Powertoys, pretty good, but not enough - I wish to rename files using the date that's they were created, not the current date. May even with hour time!

Example: "photo212ba65" to "Photo_02-06-19"

[2022-01-19 20:09] yaichenbaum commented on #5645
@d2dyno1 do you want to work on this?

[2022-01-19 20:09] yaichenbaum commented on #5790
Merging with #5645

[2022-01-19 20:09] #5790 closed

[2022-01-19 20:09] yaichenbaum commented on #6942
Merging with #5645

[2022-01-19 20:09] #6942 closed

[2022-01-19 20:10] yaichenbaum commented on #7821
You can adjust this option from the layout/view flyout.
![image](https://user-images.githubusercontent.com/39923744/150206223-7f25fc07-4929-45d3-b546-e739b0c06666.png)

[2022-01-19 20:10] #7821 closed

[2022-01-19 20:24] d2dyno1 commented on #5645
No, I'll be busy with #7540 and #7402

[2022-01-19 20:58] DutchEclipse commented on #7819
Same issue here, however it only happends with folders that got a lot of files in them.

[2022-01-19 21:00] DutchEclipse commented on #7813
If it renames files just as in file explorer (Renamed title +1 suffix behind it)  that would be great.

[2022-01-19 21:06] koersner commented on #7816
Thanks for your comment. Yes it is more or less the same. My intention
with paragraphs was to try to make it clear what I meant.
regards
Ib K.

------ Original Message ------
From: "Josh-65" ***@***.***>
To: "files-community/Files" ***@***.***>
Cc: "koersner" ***@***.***>; "Author"
***@***.***>
Sent: 2022-01-19 19:03:47
Subject: Re: [files-community/Files] The look and feel of Files (Issue
#7816)

[2022-01-19 21:08] #7818 closed

[2022-01-19 21:08] gave92 commented on #7818
Tracked in #6074

[2022-01-19 21:11] generalguy41 commented on #7769
Right, but... could it be? Should I raise a separate feature request? Figured it'd be better to ask now before this gets merged in.

[2022-01-19 21:14] #7814 closed

[2022-01-19 21:14] gave92 commented on #7814
Tracked in #5677

[2022-01-19 21:16] BenJewell commented on #7819
Did you find a workaround?
________________________________
From: Eclipse ***@***.***>
Sent: Wednesday, January 19, 2022 3:58 PM
To: files-community/Files ***@***.***>
Cc: Jewell, Benjamin ***@***.***>; Author ***@***.***>
Subject: [EXTERNAL] -Re: [files-community/Files] Drag and Drop Into Folders Broken (Issue #7819)

Same issue here, however it only happends with folders that got a lot of files

[2022-01-19 21:26] yaichenbaum commented on #7769
@generalguy41 can you open a separate feature request?

[2022-01-19 21:28] yaichenbaum commented on #7813
@SoesBR can you request that on the Powertoys repository? Building a powerful rename feature is possible but the one in Powertoys already works pretty well.

[2022-01-19 21:32] the-mr-matt opened #7823 "[Feature Request] Option to not show delete confirmation popup"
### What's the Problem?

I find it cumbersome deleting a number of files when each one has to be confirmed.

![image](https://user-images.githubusercontent.com/36836699/150216915-fc9c2e0a-0119-49eb-a756-3e0217b95ad7.png)

### Solution/Idea

I propose a checkbox, "don't show this again", and a toggleable option in the settings menu.

### Alternatives

N/A

### Priorities

| Capability | Priority |

[2022-01-19 21:33] yaichenbaum commented on #7823
You can turn off the confirmation dialog from settings > preferences > files and folders
![image](https://user-images.githubusercontent.com/39923744/150217283-b943205e-c797-46b7-bf02-10eb29b54fa6.png)

[2022-01-19 21:33] #7823 closed

[2022-01-19 22:10] riksque commented on #7821
Merci beaucoup, je ne l'avait pas vu.
Bonne continuation.

[2022-01-19 22:48] DutchEclipse commented on #7819
Only workaround i could find is cutting the files and then manually going into the folder that you want to put the files in.

[2022-01-20 00:35] puppetsw commented on #6861
Happy to take this one on.

[2022-01-20 00:35] puppetsw commented on #7798
Happy to take this one on.

[2022-01-20 00:35] puppetsw commented on #7800
Happy to take this one on.

[2022-01-20 00:41] puppetsw commented on #6861
Would this be better served as a flyout button with the 2 options for rotating? Rather than 2 individual buttons on the toolbar.

[2022-01-20 01:50] kristoferbuno commented on #7705
@yaichenbaum polite ping!

[2022-01-20 02:18] yaichenbaum commented on #7705
`ctrl` + `space` sounds good.

[2022-01-20 03:20] bagiosw commented on #7809
I'm using a PC, it's Intel i5 CPU, ASUS GTX 750 Ti, 8,00 GB RAM if that helps. Did you mean another debug file? here it is:
[debug.log](https://github.com/files-community/Files/files/7902014/debug.log)

[2022-01-20 03:28] J4kulMei opened #7825 "Redirect issues"
### Description

When I for example open edge go to customs in page layout and upload my own image, it always uses file explorer.

### Steps To Reproduce

1. Go to edge
2. Tap settings
3. Press custom
4. Your own image
5. Upload
6. It redirects to file explorer

### Expected behavior

It should open files.

### Files Version

Version: 2.1.2.0 OS Version: 10.0.19044.1466

### Windows Version

21H2

[2022-01-20 03:37] CEbbinghaus opened #7826 "Unmapped Network drives and WSL directories not showing"
### Description

Network drives do not show up at all if they are unmapped (i haven't tried mapped yet) and the WSL submenu with its directories is missing too. Both of them are enabled in the settings

### Steps To Reproduce

* Run a second PC on the network with network sharing enabled
* Launch Files and enable show Network Drives section in the Sidebar dropdown

### Expected behavior

It to sho

[2022-01-20 03:38] azlan-syed opened #7827 "run files"
### What's the Problem?

// not a problem

i have an idea why don't we make an option for html, python,exe,bat,powershell files to run them like

html - run in browser

python - run python file

exe - run exe

bat - run bat

and more

### Solution/Idea

^
see above

### Alternatives

well idk

### Priorities

| Capability | Priority |
| :---------- | :------- |
|make options for running any kinda

[2022-01-20 06:45] gave92 commented on #7809
Sorry I meant: on the same folder there should also be a second debug file called "debug_fulltrust.log". If it's not there that is interesting in itself :)

[2022-01-20 06:46] #7825 closed

[2022-01-20 06:47] gave92 commented on #7825
Open and save file dialogs are not yet implemented but we're looking at how to do it.

[2022-01-20 07:31] yaichenbaum opened #7828 "Create custom sidebar control to replace the NavigationView"
The WinUI NavigationView has a couple of issues preventing the behavior from working as expected. Building a custom sidebar using listview groups with the expander control might allow us to recreate the sidebar UI and provide a better experience to users.

[2022-01-20 08:54] EvaRune opened #7829 "OneDrive sync Icon too big on Small/Medium/Large icons or Tiles layout."
### Description

I haven't seen this bug reported yet but I may have missed it.
On OneDrive folders, the sync icon is getting way too big and seem to scale with the icon itself instead of keeping a fixed size.

### Steps To Reproduce

1. Open a folder from OneDrive.
2. Set the Layout to either Tiles or Small/Medium/Large Icons.

### Expected behavior

Sync icons should stay their initial size like

[2022-01-20 08:56] lakani opened #7830 "Create New any Office Document is not working"
**steps**
1. navigate to any folder
2. Press New and select any Microsoft Office Related documents like Word or Excel
3. enter the new file name in the popup window
4. press (Set Name)

**Actual Results**

- nothing happened, even after pressing refresh

**Expected Results**

- a new word file should be created

[2022-01-20 10:05] bagiosw commented on #7809
Oh sorry, here it is :
[debug_fulltrust.log](https://github.com/files-community/Files/files/7904171/debug_fulltrust.log)

[2022-01-20 10:47] esibruti commented on #7769
@yaichenbaum Can I open the feature request myself?

[2022-01-20 13:48] #7765 closed

[2022-01-20 13:48] yaichenbaum commented on #7765
This issue should be resolved with #7831

[2022-01-20 13:49] yaichenbaum commented on #7830
Thank you for taking the time to report this, in order to investigate the issue we'll need the log files and version info, can you please reopen this issue using the issue template?

[2022-01-20 13:49] #7830 closed

[2022-01-20 13:51] Johndoe0153 commented on #7625
Yup! I agree with it :)

[2022-01-20 14:39] amir-shehzad opened #7833 "Ability to set a Default Layout"
Hello, I have just started using Files. I use this feature regularly in Windows Explorer to set Tiles as default Layout but couldn't find it here. Please add this feature as well. Thanks

[2022-01-20 14:40] esibruti opened #7834 "Add set as Lockscreen button to toolbar when image files are selected"
### What's the Problem?

_No response_

### Solution/Idea

Adding a toolbar button will increase ease of use when setting an image as lockscreen.

### Alternatives

NA

### Priorities

_No response_

### Files Version

_No response_

### Windows Version

_No response_

### Comments

Related: [https://github.com/files-community/Files/issues/7769#issuecomment-1016431345](https://github.com/files-com

[2022-01-20 14:51] kpervin opened #7835 "Please add an working indicator when attempting to delete large files/folders"
### What's the Problem?

When attempting to delete a large folder, Files did not seem to respond to my request. However, after a while, it finally showed a popup asking if I wanted to delete or permanently delete. Because I had hit this several times, multiple popups showed up.

### Solution/Idea

Please either add a loading indicator, a progress bar indicating any sort of indexing, or some sort o

[2022-01-20 15:07] yaichenbaum commented on #7833
Merging #4155

[2022-01-20 15:07] #7833 closed

[2022-01-20 16:27] bl-ue commented on #7625
@KristofKekesi @Don-Vito @KiriKirby @pixl-8 @tobias-mayer @CanPotate @VoidExploiter @open3 @HappyDrop674 @scls19fr @dileepsam @heistema @guillaume-nizet @abdonkov @roguerrero1 @torgeros @Venipa @wnstngs
@ADeltaX @afonsojramos @DanielSlincak @Gurgarath @GuusLieben @igoragm @joergpichler @kaavi98 @MarkBirkholz @MeirKlemp @piotrulos @RobbyRobbyRobby @tGecko @JinchengYou

Please see [this](https://git

[2022-01-20 16:29] GlassySundew commented on #7369
Hello, after restoring back to default windows explorer it now creates a new window with a startup page instead of opening a folder when i try to open a folder

[2022-01-20 16:31] KristofKekesi commented on #7625
I've already gave a go for it :D
https://github.com/files-community/Files/issues/7625#issuecomment-1012871727

[2022-01-20 16:34] Woksben opened #7837 "Bundles Widget"
### Description

I cannot create more than one bundle at a time...

the three dots at the right-hand side of the bundle widget not respond
![Screenshot 2022-01-20 173118](https://user-images.githubusercontent.com/88069105/150380961-93b5e919-6c73-4891-b3a0-3b13301351bc.png)
 whenever I click on it.

### Steps To Reproduce

_No response_

### Expected behavior

list of drop down options to select fr

[2022-01-20 16:42] GuusLieben commented on #7625
Agreed

[2022-01-20 16:44] GlassySundew commented on #7369
oh i have just found a thread at https://github.com/files-community/Files/issues/7626, so it fixed it

[2022-01-20 17:45] venktesh3 opened #7838 "Files app crash when two tabs are opened and then one of the tab is dragged and dropped."
### Description

The app crashes when two tabs are opened and then one of the tab is dragged and dropped anywhere on the screen. I tried opening from 1 - 10 tabs, and this only happens when two tabs are opened.

### Steps To Reproduce

1. Open two tabs in files app.
2. Drag and drop a tab anywhere in the screen.

### Expected behavior

It was expected to create two different windows or either just

[2022-01-20 18:40] rensaketh commented on #7460
I'll take this issue

[2022-01-20 19:11] afonsojramos commented on #7625
Agreed!

[2022-01-20 19:17] gave92 commented on #7809
Could you check if the same happens when you right click a folder or a e.g a ".txt" file?
If not, could you share a screenshot of the context menu that appears _in windows explorer_ when you right click on the ".png" image file if the first screenshot?
Thanks for the help 👍

[2022-01-20 19:21] gave92 commented on #7829
Thanks for the report. Sounds like #7452

[2022-01-20 19:23] #7829 closed

[2022-01-20 19:24] gave92 commented on #7835
When you issue the first delete command is the UI "freezed"? E.g can you scroll the file list or is everything locked up?

[2022-01-20 19:27] gave92 commented on #7835
Could you clarify if this happens also when deleting a single item or only when many items are selected?

[2022-01-20 19:28] #7837 closed

[2022-01-20 19:28] gave92 commented on #7837
Fixed in #7314

[2022-01-20 19:55] daveo132 opened #7839 "App Crashed when moving Favs, now no Hard Drives show"
### Description

I was setting up the app on my PC, I was adding and organising my favourites which caused the app to crash.
On reopening the app, my hard drives and network drives no longer show.
![image](https://user-images.githubusercontent.com/96916642/150412056-698207c3-47b3-416e-922a-21d44b0e3d2f.png)
![image](https://user-images.githubusercontent.com/96916642/150412123-4461700d-fddd-4d9c-86

[2022-01-20 19:57] reedjaz opened #7840 "Mapped network drive won't load all files and folders"
### Description

Hi there, the Files app can open mapped network drive, but it won't display all files and folders. For example I have attached a screenshot. The network drive should have 800 items inside (shown on Windows File Explorer), but on Files app, it only shows 32 items.

### Steps To Reproduce

_No response_

### Expected behavior

It should display all of the mapped network drive conten

[2022-01-20 20:16] mclaudiopt opened #7841 "error after uninstalling"
after uninstalling if:
run for example c:\ from start menu: shows error explorer.exe not found

if try to open a folder with 2 clicks it gives error

windows E - Explorer.exe not found
how to solve ?

[2022-01-20 20:17] #7841 closed

[2022-01-20 20:17] yaichenbaum commented on #7841
https://github.com/files-community/Files/issues/7626

[2022-01-20 21:07] #6641 closed

[2022-01-20 21:24] the-mr-matt opened #7843 "Mapped network drive is not remembered upon system restart"
### Description

In Windows File Explorer a network location will be remembered upon system restart. It still needs to reconnect but the shortcut is still there. In Files mapped network drives are forgotten and I have to type out the address every time.

### Steps To Reproduce

1. Add any mapped network drive
2. Restart computer
3. Open files and note the mapped network drive is no longer there

#

[2022-01-20 21:31] JackPro72 opened #7844 "Fonction Couper/Coller inactive dans Win11"
### Description

Bonjour.
J’utilise ce logiciel ‘Files’ depuis qqes jours sous WIN11 et je n’arrive pas à faire de **Couper/coller** !
Dans la liste de taches en cours, l’action est marquée comme effectuée mais le fichier n’est pas déplacé. Idem pour un répertoire.

En faisant différents tests, j’ai remarqué que _cela fonctionnait bien si ‘Files’ n’était pas déclaré comme l’explorateur de fichiers

[2022-01-20 21:48] karanrahar commented on #3682
This is the only thing preventing me from using Files. Please can we have this>?

[2022-01-20 21:50] Angell1993 opened #7845 "Layout Mode Missing"
### What's the Problem?

List layout mode missing..

### Solution/Idea

Add List Layout Mode..

### Alternatives

None

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will allow developers to accomplish Y | Could |
| This proposal will

[2022-01-20 21:50] #7845 closed

[2022-01-20 21:51] gave92 commented on #7845
Tracked in #2509

[2022-01-20 22:00] gave92 commented on #7839
Thanks for the report. Please upload the 2 app's log files.

[2022-01-20 23:46] andrefiaschi opened #7847 "Bundle not working"
### Description

I cannot create more than 1 Bundle. The ... button does not work after 1 created.
And the one Bundle I created eventually disappears...

### Steps To Reproduce

_No response_

### Expected behavior

Create more Bundles and do not disappear.

### Files Version

2.1.2.0

### Windows Version

Windows 11 Home Single Language 21H2

### Relevant Assets/Logs

None.

[2022-01-21 01:59] littlefooch opened #7848 "Network - work in progress?"
Files looks very good, I do not see Network Places displayed, is this a work in progress?

[2022-01-21 04:27] upintheairsheep commented on #7805
Icon pack list:
*Windows 11 (default)
*Windows 10 (MDL2)
*Windows 8 (Metro)
*Windows 7 (Aero (also aero chocolate is really yummy try it if you ever go to Canada or Europe) )
*Windows XP (Luna)
*Windows Classic
* Windows Classic Aesthetic
*Mac OS Classic B&W
*Mac OS Classic color
*Mac OS X Cheetah - Tiger
*Mac OS X Leopard - Mountain lion
* OS X Yosemite - macOS Catilina
* macOS Big Sur
*Android S

[2022-01-21 04:33] upintheairsheep opened #7849 "New Icons"
### What's the Problem?

Nothing.

### Solution/Idea

Add icons to a few unthemed commonly used folders

* AppData folder

- AppData folder

- C:/Windows
- System 32
- C:/Users

- Local (AppData)
- Roaming (AppData)
- LocalLow (AppData)
- Program files

- Program files (x86)
- WindowsApps from program files
- Packages from AppData

- Google and chrome from AppData

- . Minecraft folder

- Driver's

[2022-01-21 04:49] yaichenbaum commented on #7849
@upintheairsheep thank you for your feedback, for changing thumbnails, we'd prefer to let users customize it on their own rather than making a change like this from the app.

[2022-01-21 04:49] #7849 closed

[2022-01-21 06:10] azlan-syed commented on #7805
WOWWWW amazing

[2022-01-21 06:14] vadinoguerrero opened #7850 "File and folders dissappear after moving them"
### Description

This is the third time it happens, two times it was folders, one it was a file, when trying to move them from one folder to another,  they're removed from the source folder(as expected) but it doesn't appear on the target folder as it should, all the while Ongoing Tasks says it was successful.

I was lucky it was files I had backed up on the cloud, otherwise I'd have lost them com

[2022-01-21 07:10] #7848 closed

[2022-01-21 07:10] gave92 commented on #7848
Tracked in #7627

[2022-01-21 07:10] #7847 closed

[2022-01-21 07:11] gave92 commented on #7847
Tracked in #7743

[2022-01-21 08:29] osenaattori commented on #7625
![Sieppaa – kopio](https://user-images.githubusercontent.com/37250900/150493000-09fe54d9-53a5-4025-ac0a-10074bd2b8c3.PNG)

[2022-01-21 09:03] BusteanHAN opened #7851 "Opening new tabs duplicates themes"
### Description

On a new instance, the custom themes tab shows the normal amount of themes (I mean the included ones).
For every new tab that is opened through pressing Win + E, all the themes get duplicated in the list.

Normal:

![Screenshot 2022-01-21 095521](https://user-images.githubusercontent.com/60746455/150497276-14ca0a5e-c0ff-4793-99d6-ee4ec7a05577.jpg)

###
The problem:

https://user-i

[2022-01-21 09:12] BusteanHAN opened #7852 "Cannot resize or move from top bar when settings menu is open"
### Description

The top edge is not selectable for resizing or moving when the settings menu is open

![Issue](https://user-images.githubusercontent.com/60746455/150499661-1ebefae5-da56-49f3-aef3-d23e7025e44d.gif)

### Steps To Reproduce

1. Open settings menu
2. Mouse over top edge, the cursor does not change, and you cannot resize or move the window

### Expected behavior

Being able to resize

[2022-01-21 09:51] daveo132 commented on #7839
[debug_fulltrust.log](https://github.com/files-community/Files/files/7912211/debug_fulltrust.log)
[debug.log](https://github.com/files-community/Files/files/7912212/debug.log)

Hi, thanks for getting back to me.  Are these to ones you need?

[2022-01-21 10:14] daveo132 commented on #7839
Ironically, the drives are now showing again.
I haven't reset my PC, I just left it running over night and it seems to have fixed itself.  Hopefully something in those logs will point in the right direction.
Let me know if you need anything else from me.

[2022-01-21 12:25] Animanion opened #7853 "mouse clicks are buggy sometimes"
### Description

I am using files instead of windows explorer and I think it's the best app I have used after a very long time on windows 10, it is far better than windows explorer, RAM and CPU consumption is also very low as compared to the default explorer. but sometimes the mouse clicks act weirdly, sometimes a folder opens with a single click and sometimes doesn't respond even after several do

[2022-01-21 12:57] abdonkov commented on #7625
I agree

[2022-01-21 13:00] Venipa commented on #7625
seems ok for me 🤙

[2022-01-21 13:44] jaredratcliff opened #7854 "Compact View"
### What's the Problem?

_No response_

### Solution/Idea

I think the Files app would greatly benefit from a compact mode, similar to what is present in the Windows 11 files manager (click "view" -> "compact view"). This would compress the list vertically, allowing me to see more items on the screen at once when using the "details" layout or the "columns" layout.

### Alternatives

The built in W

[2022-01-21 13:54] carondaniel1957 opened #7855 "Files self loading without user intervention"
### Description

Files self loading without user intervention fearing an hacker trying to control my system.

OS: Windows 11

### Steps To Reproduce

_No response_

### Expected behavior

I shall launch the application on my request only

### Files Version

Version : 2.1.2.0 OS Version: 10.0.22000.438

### Windows Version

Windows 11 Famille Version 21H2

### Relevant Assets/Logs

[debug.log](http

[2022-01-21 14:04] Josh-65 commented on #7855
Have you enabled restarable apps on sign in from windows or run on startup in files?

[2022-01-21 14:11] Josh-65 opened #7856 "Feature: Add an access denied error when drive/folder is blocked because of permissions"
### What feature or improvement do you think would benefit Files?

I have set a drives permissions for a user account to not allow access, it works but is not very clear to the user that there are permissions stoping them from seeing the drives contents, I presume this happends for folders too.

### Steps to reproduce

1. Open drives properties page (don't do it on the C drive it will brake Window

[2022-01-21 14:27] 2ndwonder opened #7857 "''Recent Files'' option"
Recent Files option is missing in the settings. Even though the function in Windows 11 is disabled.

[2022-01-21 14:30] Josh-65 commented on #7857
If it's disabled in Windows then it will be disabled in files. Please use the issue templates next time.

[2022-01-21 14:32] 2ndwonder commented on #7857
sorry, I just figured out. case can be closed. thank you anyways

[2022-01-21 14:32] Josh-65 commented on #7857
You can close it yourself it next ot the comment button

[2022-01-21 14:33] #7857 closed

[2022-01-21 14:33] yaichenbaum commented on #7854
Merging with #1940

[2022-01-21 14:33] #7854 closed

[2022-01-21 14:44] aindriu80 opened #7858 "Smaller Larger font size in Details view"
### What's the Problem?

The font size is too big when viewing a folder in detail view - there is too much vertical space between folders and you can't shrink them closer - use a smaller font, also you can make them bigger

### Solution/Idea

Add a feature to increase and decrease the font size when viewing a folder.  Something like CTRL + and CTRL -

### Alternatives

using another file browser

[2022-01-21 14:57] StefanLobbenmeier commented on #5677
I am here from #7814

I determined that the location to add this feature is most likely here: https://github.com/files-community/Files/blob/afb77d9f6399066af55b035a4843a63840186074/src/Files/ViewModels/NavToolbarViewModel.cs#L956

I tried adding the following code:

[code]

But this seems to crash the application. I instead tried

[code]

But in my locally built dev build the FilesFullTrust did no

[2022-01-21 15:50] puppetsw commented on #7834
The "Set as background" could be changed to a flyout labelled as "Set as..." for example, and have it drop-down so you can choose either lockscreen or desktop. But, for me, changing the lockscreen isn't a "common" task, so just having the desktop background button is sufficient in my use case.

[2022-01-21 16:00] yaichenbaum commented on #7858
Merging with #1940

[2022-01-21 16:00] #7858 closed

[2022-01-21 16:09] yaichenbaum commented on #7834
Adding a flyout would require two clicks to choose an action which will in most cases end up being the set as desktop background option.

[2022-01-21 16:22] puppetsw commented on #7625
I agree

[2022-01-21 16:31] BanCrash commented on #7834
What about "Set as... Background" but if you right click it shows the flyout? Left-clicking will have the same effect (setting as background)

[2022-01-21 16:32] tower-town opened #7861 "The file path bar can use input environment variables"
example：
- %homepath% ： open homepath.
- %appdata% ： open user of appdata file.

[2022-01-21 17:07] Josh-65 commented on #7861
On 2.1.2.0 I can. What version of files and your OS are you on. Also you will need to upload the logs files. You can get them in files settings > about > open log folder. For future issues please use the Issue templates.

[2022-01-21 17:10] Josh-65 commented on #7853
It will be becuase it's loading the directory i believe. Have you looked in th tab icon area for a loading icon?

[2022-01-21 17:34] tower-town commented on #7861
thanks you,I upgrade the Files just now.Files can do it.

[2022-01-21 17:34] yaichenbaum commented on #7834
@BanCrash one of the goals of the toolbar is ease of access, would adding a menu flyout would have any benefit over the existing context menu?

[2022-01-21 17:34] #7861 closed

[2022-01-21 17:45] dsolimini opened #7863 "Columns Layout: Column width adjustment by dragging divider"
### What's the Problem?

When using Columns Layout, the width of each column is fixed, which makes it difficult to distinguish between file and folder names over ~20 characters long.
![image](https://user-images.githubusercontent.com/98179326/150570748-2351cc53-4c43-4f02-ae39-49607bc27e92.png)
![image](https://user-images.githubusercontent.com/98179326/150571110-fe0f2b50-be3b-4479-9dc0-1b981f34d93

[2022-01-21 18:23] gave92 commented on #7863
Merging with #7863

[2022-01-21 18:24] gave92 commented on #7597
Merging with #7863

[2022-01-21 18:24] #7597 closed

[2022-01-21 18:29] emanuelbg opened #7864 "Bug: Can't move folder to a new empty folder in columns view"
### Description

Can't move folder or multiple folders to a new empty folder if that folder it's not opened with the collumn visualization it's active. I can do this if I have at least one file/folder in the new folder.

### Steps To Reproduce

1. With the column view, create a new folder.
2. Select the folder you want to put in the new folder.
3. Drag the folder above the new folder. You can't co

[2022-01-21 19:11] Radical4ever opened #7865 "¿how do you set files 2.0 as default?"
hi, i love this new style of files app and is more effective than the default one, but i have a question: how do you set it as default?

[2022-01-21 19:11] Radical4ever commented on #7865
i mean, default files app

[2022-01-21 19:34] yaichenbaum commented on #7865
https://files.community/docs/configuring/replace-file-explorer

[2022-01-21 19:34] #7865 closed

[2022-01-21 22:25] Radical4ever commented on #7865
Thanks!

[2022-01-21 22:28] laspersonas opened #7866 "Black color background behide folder icon thumbnail"
### Description

Black color background behide folder icon `thumbnail
https://imgur.com/a/B3NwNNm

### Steps To Reproduce

Black color background behide folder icon thumbnail

### Expected behavior

Black color background behide folder icon thumbnail

### Files Version

2.1.2.0

### Windows Version

10.0.22538.1010

### Relevant Assets/Logs

Black color background behide folder icon thumbnail

[2022-01-21 23:00] GOKUSSL4 commented on #6257
While it maybe closed it is a valid request an msi or exe installer that way UWP is not used. Windows 10 and 11 people will use non UWP apps as much as possible.

[2022-01-22 01:15] RobbyRobbyRobby commented on #7625
I agree.  Do it.

[2022-01-22 04:06] Unknown-64 opened #7868 "Grouping order"
### What's the Problem?

When using files with group by set to "Type", every type of file is separated, like it should be. However, where each type of file is located is not controllable by the user. For example, zip folders are always on top, and there is no way to change that.

### Solution/Idea

For example, let's say I want my folders to always be on top of the list. However, zip files are alw

[2022-01-22 04:13] MaybeFlyZ opened #7869 "Lags out file explorer with experimental features."
### Description

I turned on "make files the default explorer" or something like that it was the only experimental setting, anyways I decided to switch back to file explorer after a little while and I unchecked the setting but now file explorer runs really really slow and sometimes just freezes. Like as soon as I open it, it has to load even though all the files are there. I also noticed when righ

[2022-01-22 07:00] flamesred opened #7872 "Can't open files at all"
### Description

when I downloaded files, and installed it, it closed the default files app, when I click the default app again I can't open  default files, files at all. as it is now tied to the app, now the old shortcut for the default icon doesn't work, I can get around this by using apps that can open default file explorer, but only be allowed to send stuff, not use or open files as a separate

[2022-01-22 07:19] bagiosw commented on #7809
Hey I'm sorry for the late reply, I was away from my PC for days.

When I right click a txt file, it's normal, with no error.

Okay here it is:
![image](https://user-images.githubusercontent.com/15670237/150628976-be0f30fa-896f-4958-b921-7952d01b7447.png)

[2022-01-22 08:00] hooddy opened #7873 "Android phone issue"
### Description

Works so slow with Android Phone. Its hard to describe whole proccess issue.

### Steps To Reproduce

_No response_

### Expected behavior

Copy-past files/fodlers from C to Phone. In comparing with default Explorer it's realy slow. As well as some operations work strande (create folder for i.e. its doesnt show created folder so I need to leave current folder and enter it again to

[2022-01-22 08:09] revenz commented on #7777
I just stumbled upon this too.   Whenevever I try to update some files,  Files asks me what to do for every single file.  Which is really annoying.  Is there any an option to just "Replace All" ?

[2022-01-22 09:19] Atrello opened #7874 "Implimentation of a graph of file sizes"
### What's the Problem?

_No response_

### Solution/Idea

Basically a visual graph or ordering method that shows file sizes for absolutely everything.

Makes things a lot easier to find and saves lots of time when finding large files to clear space.

### Alternatives

I've tried a few programs that do this job.

TreeSize
WinDirStat
SpaceMonger (from stardock)

### Priorities

| Capability | Prior

[2022-01-22 10:53] gave92 commented on #7872
It's not very clear what the problem is but if you can't open windows files explorer try to run this script (make sure to save it as a ".reg" file):
https://raw.githubusercontent.com/files-community/Files/main/src/Files.Launcher/Assets/FilesOpenDialog/UnsetFilesAsDefault.reg

[2022-01-22 10:54] #7872 closed

[2022-01-22 10:56] #7866 closed

[2022-01-22 10:56] gave92 commented on #7866
Tracked in #6373

[2022-01-22 10:57] gave92 commented on #7869
Not really aure what's up, you may try to run this script that undoes changes made by Files (make sure to save it as a ".reg" file):
https://raw.githubusercontent.com/files-community/Files/main/src/Files.Launcher/Assets/FilesOpenDialog/UnsetFilesAsDefault.reg

[2022-01-22 11:11] BanCrash commented on #7834
Yep, I think you are right. Then would be to add another button but just in case there is space for that.

Maybe we can recover the option to customize the toolbar so the users can choose what they want to have or not in the amount of space that we have.

[2022-01-22 11:24] gave92 commented on #7809
Thanks, given that it works for txt files I suppose one of the entries for png files is causing the issue.
- Could you also post a screenshot of windows explorer's context menu for txt files? (so we can check the differences)
- What program adds the 3 items "resize picture"/"rotate left"/"rotate right"?

[2022-01-22 11:33] ThemisterNaim opened #7875 "add the old toolbar"
### What's the Problem?

the windows 11 toolbar is too simple

### Solution/Idea

I think that would be nice if you make an option to select witch toolbar use: the windows 11 toolbar or windows 10 toolbar, thanks!

### Alternatives

(i have nothing else to say)

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| Thi

[2022-01-22 12:13] remco59 opened #7876 "Copying/moving files doesn't work"
### Description

Sometimes when dragging one or multiple files over to another folder to move or copy them, the activity box says that the files have been copied or moved, but the files aren't actually there.

### Steps To Reproduce

1. Open 2 windows of the files app
2. Select one or multiple files/folders
3. Drag the selected files/folders to another folder in the second window of the files app

[2022-01-22 12:15] CyclingLand commented on #7876
Something to note with this issue is that it can be resolved when quitting files through the task manager.
The bug also doesn't always appear.

I do work a lot with cloud storage, that might be relevant.

[2022-01-22 12:24] ImoutoChan opened #7877 "No way to install your app"
### Description

Please provide the usual executable installer so that people can download and install your app without any troubles. Right now your way of installation is a mess.

1. Microsoft store isn't working
![image](https://user-images.githubusercontent.com/14975965/150638262-28bef241-c9b3-407f-ab25-fcba759a358f.png)

Sometimes it loads and then throw some Authentication errors

2. winget i

[2022-01-22 12:26] BusteanHAN commented on #7877
Bro there is a zip file with the installer in the latest release
https://github.com/files-community/Files/releases/download/v2.1.2/Files.Package_2.1.2.0.zip

[2022-01-22 12:32] #7877 closed

[2022-01-22 12:38] Josh-65 commented on #7777
it s been done via #5645

[2022-01-22 12:44] widkit opened #7878 "Bundles disappearing"
### Description

Bundles disappear after some time.
Have no idea what could've caused it.
bundles.json's output returns null.
[code]

### Steps To Reproduce

Create a bundle
Wait a couple of days
Your bundle is gone

### Expected behavior

Bundles wouldn't disappear

### Files Version

Version: 2.1.2.0 OS Version: 10.0.22000.434

### Windows Version

Windows 11 Home 21H2  22000.434

### Relevant A

[2022-01-22 12:46] tothambrus11 opened #7879 "Dragging a tab out of the window produces closes all tabs and opens the dragged tab again."
### Description

Dragging a tab out of the window produces closes all tabs and opens the dragged tab again.

### Steps To Reproduce

Open multiple tabs. Drag and drop one of them out of the window's rectangle

### Expected behavior

It would be expected to detach that tab and open (without reloading if possible).

### Files Version

2.1.2.0

### Windows Version

Windows 11 10.0.22000.434

### Rele

[2022-01-22 12:55] gave92 commented on #7878
Merging with #7743

[2022-01-22 12:56] Advik-B opened #7880 "Add the ablity to mount disc image files"
### What's the Problem?

# When you double click on a disc image file, the following happens:

## Windows Explorer
will mount the file and display it as a drive

## Files
nothing happens

### Solution/Idea

Add the ablity to mount disc image files, or ... at least use windows explorer to mount it, then show it as a drive

### Alternatives

hard-code it yourself, or use [this library](https://githu

[2022-01-22 13:01] gave92 commented on #7880
Are we talking about ".ISO" files?

[2022-01-22 13:03] puppetsw commented on #6103
I can't seem to replicate this issue. Windows 11 (10.0.22000)

[2022-01-22 13:17] d2dyno1 commented on #1468
This issue should be resolved with #7867 @Jaiganeshkumaran

[2022-01-22 13:26] Josh-65 commented on #6103
This has proberly been fixed from the settings redesign

[2022-01-22 13:28] Josh-65 commented on #7879
Same as #7246

[2022-01-22 13:31] Josh-65 commented on #7850
According to the logs it not allowed accses to the place your trying to put files. Is it on a local drive or a network one.

[2022-01-22 15:54] JoshuaDup commented on #7736
@gave92 This script does not work properly. When you run it and attempt to open a file it says file explorer is still unable to be found. You're able to open new files within new windows, btu are unable to open files in the same window. I had to use a backup of my registry in order to solve this problem. Please fix this for future users.

[2022-01-22 16:20] dano227 opened #7883 "7zip"
### What's the Problem?

When I want to unzip something and close the Files app it won't load in the Background.

### Solution/Idea

Files could load in the Background so it can still unzip with 7zip.

### Alternatives

/

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accom

[2022-01-22 17:59] LastDerivative commented on #7705
Can I also get added on to this? Or can only one person work on it at a time?

[2022-01-22 18:00] LastDerivative commented on #7705
@yaichenbaum

[2022-01-22 18:10] #6130 closed

[2022-01-22 18:10] #6512 closed

[2022-01-22 18:10] #6966 closed

[2022-01-22 18:10] #7770 closed

[2022-01-22 18:11] d2dyno1 commented on #6512
This issue should be resolved with #7881 @laurorual

[2022-01-22 18:11] d2dyno1 commented on #7770
This issue should be resolved with #7881 @TripSea6023

[2022-01-22 18:11] d2dyno1 commented on #6130
This issue should be resolved with #7881 @flackseven

[2022-01-22 18:11] d2dyno1 commented on #6966
This issue should be resolved with #7881 @Pietro228

[2022-01-22 18:53] Unknown-64 commented on #7876
When this happens, does it also happen in the normal windows explorer? Sometimes I try to move files and it is frozen in both windows explorer and files.

[2022-01-22 21:20] revenz commented on #7777
k, welll thats just bad user experience, something that would be very common hidden away behind a hot key.  it should be default to replace all files, unless copying into the same directory as source, exactly the same way Explorer does this.

[2022-01-22 22:30] SaccoSVD opened #7885 "Report and a few requests."
### What's the Problem?

_No response_

### Solution/Idea

N/A

### Alternatives

N/A

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will allow developers to accomplish Y | Could |
| This proposal will allow end users to accomplish Z

[2022-01-22 22:43] Pujadinny opened #7886 "New Icon"
### What's the Problem?

I think is not a problem

### Solution/Idea

I wish you will can change the icon file for what ever you wanna put there i think

### Alternatives

You can change the icon .png to .ico or whatever you wanna show in the explorer icon

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This pro

[2022-01-22 23:55] yaichenbaum commented on #7875
@ThemisterNaim we're constantly improving the toolbar and adding more options, please let us know if there is a specific action that you're looking for.

[2022-01-22 23:55] #7875 closed

[2022-01-22 23:56] d2dyno1 commented on #6579
This should issue should be resolved with #7884

[2022-01-23 00:05] #6103 closed

[2022-01-23 00:10] yaichenbaum commented on #7705
@LastDerivative you can reach out TO @kristoferbuno to see if they can use some help.

[2022-01-23 01:21] sunshineharry opened #7887 "Invoke a third-party replication engine"
### What's the Problem?

The original copy method is too slow! Especially in the world of cut folders. I hope it can invoke a third-party replication engine, like `TeraCopy` and `FastCopy`.

### Solution/Idea

invoke a third-party replication engine, like `TeraCopy` and `FastCopy`

### Alternatives

I donnt know.

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal

[2022-01-23 03:46] yaichenbaum commented on #7887
We don't have plans to add support for third party copy engines, however, there are a number of issues regarding improving the built in search feature.

[2022-01-23 03:46] #7887 closed

[2022-01-23 03:49] yaichenbaum commented on #7868
Did you try the option to sort folders together with files?

[2022-01-23 03:49] yaichenbaum commented on #7869
@MaybeFlyZ is this still an issue after restarting?

[2022-01-23 03:50] #7879 closed

[2022-01-23 03:51] yaichenbaum commented on #7883
@dano227 can you reopen this as a bug report and include steps to reproduce the issue?

[2022-01-23 03:51] #7883 closed

[2022-01-23 03:52] yaichenbaum commented on #7885
@SaccoSVD thank you for the requests, I'm going to close this issue since there are several similar requests on the todo list.

[2022-01-23 03:52] #7885 closed

[2022-01-23 03:53] yaichenbaum commented on #7886
@Pujadinny did you try changing the icon from the properties dialog?

[2022-01-23 03:55] KevinABK opened #7888 "Using Listary's quick switch feature for Files"
### What's the Problem?

Currently, I am able to use Listary to launch Files, however the one thing I am sorely missing would be the "Quick Switch" function from Listary. The function allows quick switching of the page from any currently opened folder when doing"save as", " open files" function.

### Solution/Idea

No solution, just a request or if theres a way to make it work, I would like to kno

[2022-01-23 04:01] yaichenbaum commented on #7888
Merging with #6314

[2022-01-23 04:01] #7888 closed

[2022-01-23 05:23] cbsims opened #7889 "Startup settings - Open in dual pane view"
### What's the Problem?

_No response_

### Solution/Idea

Enable dual pane view under startup settings with individual page for each pane at startup

### Alternatives

Open dual pane view at startup settings

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Sho

[2022-01-23 05:31] LastDerivative commented on #7800
@puppetsw Hello, Ive noticed that youve been active on a few threads so I was wondering if I can ask you for some help? This is my first time contributing to open source projects and I cant get visual studio to reflect changes to xaml files when running the app on db. The app does not reflect any of the changes ive made. Ive tried cleaning/building the sln but that isnt working, ive also tried doi

[2022-01-23 06:23] AnupNair08 opened #7890 "Global option for setting layout"
### What's the Problem?

Currently, you have to individually go to folders and set layouts. What could be better is to allow an option to change the layout of all the folders globally.

### Solution/Idea

Provide an option in the setting to select a default layout that applies to folders. Within each folder keep the current layout system that allows users to change the layout for specific folders

[2022-01-23 07:43] Advik-B commented on #7880
yes

[2022-01-23 07:46] Advik-B commented on #7880
Also **TRY** to add support for [The following file extensions](https://fileinfo.com/filetypes/disk_image)

[2022-01-23 07:58] TheAlienDrew commented on #7815
I also have this same issue, and 7-Zip was set as the default ZIP program for my computer, prior to using this app.

[2022-01-23 08:08] TheAlienDrew commented on #7815
@yaichenbaum & @doodlemania2 found a work around. For all the effected file types (that are previously associated in a different program than Windows Explorer, e.g. 7-Zip, prior to using Files), you need to reset the default file association back to normal Windows Explorer, and then change it back.

[2022-01-23 08:12] puppetsw commented on #7800
Hi @LastDerivative if you’re not already you should jump on the Files discord there are some very helpful people there and will be able to better guide you and is a better place to communicate.

As for xaml changes not showing, I’m not sure what would cause that issue.

[2022-01-23 08:24] gave92 commented on #7880
Iso images open fine in Files for me, so bug.

[2022-01-23 08:27] #7890 closed

[2022-01-23 08:29] gave92 commented on #7890
Merging with #4155.
You can already set a global layout mode bu turning off "enable individual preferences for folders" option.

[2022-01-23 08:45] Advik-B commented on #7880
[debug_fulltrust.log](https://github.com/files-community/Files/files/7920090/debug_fulltrust.log)

[2022-01-23 08:48] Advik-B commented on #7880
[debug.log](https://github.com/files-community/Files/files/7920102/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/7920103/debug_fulltrust.log)

[2022-01-23 08:48] Advik-B commented on #7880
Yea.... the log files are not showing anything

[2022-01-23 08:50] Advik-B commented on #7880
So... this is a bug **AND** a feature request?

[2022-01-23 08:51] Advik-B commented on #7880
I found a lot of helpful links [here](https://duckduckgo.com/?t=ffab&q=mount+disc+image+files+in+C%23&ia=web)

[2022-01-23 10:44] Tximistargi opened #7893 "Malfunción en Biblioteca"
### Description

La aplicación muestra problemas con la visualización de la Biblioteca. Tengo una Biblioteca con elementos añadidos correctamente desde el File Explorer, y después de reiniciar NO se muestra al hacer click en ella.

### Steps To Reproduce

_No response_

### Expected behavior

La Biblioteca debería expandirse correctamente al hacer click en ella.

### Files Version

2.1.2.0

### Wi

[2022-01-23 11:04] StLa1 commented on #7878
It happened to me after updating to 2.1

[2022-01-23 11:15] StLa1 opened #7894 "Right-clicking specific items crashes Files (LayoutCycle)"
### Description

When I right click some specific items, Files consistently crashes.
The right-click pop-up shows, but 1-2 seconds later Files crashes.

So far this happened only with folders, but I can't confirm the issue is specific to folders.
This happens with folders nested in other ones, pinned in the Favorites, or pinned in Bundles. Not necessarily all 3 together.

### Steps To Reproduce

I

[2022-01-23 12:38] CrypticVader commented on #7820
#7824 has fixed this. So ig this issue can be closed.

[2022-01-23 12:38] #7820 closed

[2022-01-23 12:47] CyclingLand commented on #7876
No, for me it still works in the windows file explorer when this happens

[2022-01-23 13:05] d2dyno1 commented on #7820
This should be resolved with #7820

[2022-01-23 13:07] Korkman commented on #6471
+1 for this feature. I frequently need to see the true size of my VM disk images, and having it right with the apparent size on the details page would be best.

[2022-01-23 13:34] Korkman opened #7895 "Give option to disable spell-check autocorrection when naming a file"
### What's the Problem?

When creating a file, the name is auto-corrected to the case written in dictionary, for example:

`mercedes.txt` becomes `Mercedes.txt`

### Solution/Idea

While spellchecking is useful, at least the auto-correction should be optional. Maybe make "Preferences" > "Language" a collapsible like "Preferences" > "Startup settings" and have two toggles for spellchecking and auto

[2022-01-23 13:41] Korkman commented on #7895
I just realized this is a feature which can be toggled in Windows settings globally. I don't know if it is feasible to make it optional within Files, or just guide users to the settings (is it possible to deep link into the Windows settings?)

[2022-01-23 13:51] gave92 commented on #7880
@Advik-B could you check what happens if you right-click an ISO file and choose "Mount" instead of double-clicking it?

[2022-01-23 14:02] Korkman commented on #7258
I believe this has been fixed? I cannot reproduce with Windows 10 Pro 21H2 (19044.1466), Files 2.1.2.0 and 7-Zip 19.0, also 7-Zip 21.07 (x64 version).

* Drag & drop works as expected (cursor shows "Copy to X" label) on drop).
* Copy & paste is not available in 7-Zip (there is no "copy" in the menus and ctrl-c / ctrl-v doesn't do anything in Windows Explorer either).

[2022-01-23 14:41] Korkman commented on #7732
I've had the same effect when BitLocker-Driver decided to do some kind of "cleanup" on my drives (that's what event log says, event ID 24660). After that, "FilterManager" complained about some volumes not being accessible until after the next restart. Explorer.exe subsequently hung as well after a few clicks. Not sure what triggered the cleanup. I activated the secure folder in OneDrive just befor

[2022-01-23 15:15] Korkman opened #7896 "Switching to dual pane view updates sidebar location but doesn't receive focus"
### Description

When opening a new pane (switching to dual pane view), the side panel location is updated in sync with the newly opened pane but the focus is still kept on the original pane. It would be nice to focus the new pane immediately so that clicking on a new location in the side panel changes the location of the new pane, which is suggested by the location update. What happens is that th

[2022-01-23 15:20] Gryzle opened #7897 "[CRITICAL] Files Crashes When Renaming Files in Documents Folder"
### Description

When attempting to rename a file specifically in the Documents Folder, Files crashes. There are no special permissions within the Documents library, or on any of the folders I have attempted to rename. I renamed a file in Downloads, and it worked just fine.

### Steps To Reproduce

1. Open Files
2. Navigate to Documents
3. Rename an existing folder

### Expected behavior

Files sh

[2022-01-23 15:22] Gryzle commented on #7897
This bug appears to only effect the Documents folder, I tested it in every other library.

[2022-01-23 15:24] yaichenbaum commented on #7897
Are you using the tiles layout?

[2022-01-23 15:25] anhell commented on #7734
I'd like to see that feature too, files first and folders last when sorting by date modified, no matter if ascending or descending.

[2022-01-23 15:25] gave92 commented on #7897
Is the library grouped? If so, could you try without grouping?

[2022-01-23 15:35] Josh-65 opened #7898 "Add a need triage or review to new issues"
### What's the Problem?

Ive seen many issue be seeming ignored by moderators. I presume this isn't intentinal and simply get missed. Adding the needs review label to new issues would proberly help with this as its just going down a list rather then scrolling through many issues.

### Solution/Idea

Add the need-review label to new issues.

### Alternatives

*

### Priorities

_No response_

### F

[2022-01-23 15:40] yaichenbaum commented on #7898
@Josh-65 we simply don't have enough time to go through all the issues but we're doing our best. Personally I take a couple hours every now and then to go through all the issues and to take care of the ones we previously missed.

[2022-01-23 15:42] Josh-65 commented on #7898
I do get that but i think it would be easer for you and others to go through them if there was a tag that could make it a list

[2022-01-23 15:44] Korkman commented on #6469
![grafik](https://user-images.githubusercontent.com/3186931/150685683-3e81f814-3d60-4b46-a2bd-26a4a4da4d7a.png)
![grafik](https://user-images.githubusercontent.com/3186931/150685859-32b91ee6-2787-407b-9b5e-6b2426947894.png)

Definitely some race happening. Note the arrow directions. Up should be expanded, down should be closed. Only when I expand or collapse all items it works as expected.

[2022-01-23 15:51] yaichenbaum commented on #7895
@Korkman I don't think there is a way to change it in Files but the option in Windows is off by default. Is it still an issue if you turn off the option in Windows?

[2022-01-23 15:57] LastDerivative commented on #6606
@yaichenbaum I can take this on

[2022-01-23 16:15] tsvetnoff opened #7899 "Compact format for files list"
### What's the Problem?

Files list is too fat for large folders for now.

### Solution/Idea

It would be good to add a compact format of files list identical to the standard Windows 11. This contributes to a smoother transition from the standard Explorer to Files.

### Alternatives

An alternative is to make a slider that would set the height of the rows.

### Priorities

| Capability | Priority

[2022-01-23 16:26] yaichenbaum commented on #7899
Merging with #1940

[2022-01-23 16:26] #7899 closed

[2022-01-23 16:29] Korkman commented on #7895
@yaichenbaum For me it is solved.

[2022-01-23 16:40] Pujadinny commented on #7886
Yes i try it to click on propieties but i can 't do nothing

[2022-01-23 16:45] #7895 closed

[2022-01-23 16:54] tasnimahmedtusar commented on #7876
yes same issue. cut/copy/paste works inside the Files but if i try to cut it from desktop to any specific folder it does not work (if i try copy, it works)

[2022-01-23 16:57] tasnimahmedtusar commented on #7894
yes anywhere it happens. extreme annoying bug for this beatutiful Files. I am looking for fix too

[2022-01-23 17:51] BlairCurrey commented on #6579
this should be resolve by https://github.com/files-community/Files/pull/7901

[2022-01-23 18:09] yaichenbaum commented on #6579
@BlairCurrey does the right click menu show the shortcut?
![image](https://user-images.githubusercontent.com/39923744/150691891-8631131a-57ae-4038-a05a-789ea0a4412a.png)

[2022-01-23 18:10] LastDerivative commented on #7705
@kristoferbuno Hello! I sent you an email, or you can find on the discord as LastDerivative. Im in the Files server. Reach out to me when you get a chance!!

[2022-01-23 18:10] BlairCurrey commented on #6579
It does not - good catch. I will work on adding that.

[2022-01-23 18:30] BlairCurrey commented on #6579
@yaichenbaum  I've added the tooltip locally - should I also be adding them to the language files where similar commands are included? `Files\src\Files\Strings\af\Resources.resw` etc? I added them to `en-GB/Resources.resw` and `en-US/Resources.resw` but see there are many more that include similar shortcuts.

[2022-01-23 18:37] yaichenbaum commented on #6579
@BlairCurrey yes.

[2022-01-23 18:59] ohidurbappy opened #7903 "Make the home sections movable"
### What's the Problem?

These sections are not rearrangeable.

![image](https://user-images.githubusercontent.com/22405409/150693488-d685654e-6578-4916-bd9f-e14c1a06d1d0.png)

### Solution/Idea

Add feature to be able to rearrange the section by the end-user as per their convenience.

### Alternatives

I haven't looked for any alternative.

### Priorities

_No response_

### Files Version

2.1.2.

[2022-01-23 19:00] yaichenbaum commented on #7903
We don't have plans for this option.

[2022-01-23 19:00] #7903 closed

[2022-01-23 19:15] #5677 closed

[2022-01-23 19:15] d2dyno1 commented on #5677
This should be resolved with #7814 @mpatel8

[2022-01-23 19:18] OpenSource03 opened #7904 "Other apps still don't consider Files as default file manager"
Hello!

Apps like PHPStorm, IntelliJ, or basically any other app that has an option like "reveal in file explorer" still open up the old file explorer instead of Files, even with the experimental feature enabled.

[2022-01-23 19:58] #6579 closed

[2022-01-23 19:59] #7687 closed

[2022-01-23 20:00] d2dyno1 commented on #7687
#7763 Should resolve this issue

[2022-01-23 20:02] d2dyno1 commented on #7897
@Gryzle #7900 May fix this issue

[2022-01-23 20:03] #7800 closed

[2022-01-23 20:04] d2dyno1 commented on #7800
This issue has been resolved with #7846

[2022-01-23 20:19] Gryzle commented on #7897
I am, and since it was the only directory that I was using it in at the time, I misidentified the issue. The title should be "Renaming with the "Tiles" View causes Files to Crash."

[2022-01-23 20:44] yaichenbaum commented on #7904
@OpenSource03 thank you for opening this issue. We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2022-01-23 20:44] #7904 closed

[2022-01-23 20:56] StLa1 commented on #7897
You can rename your issue

[2022-01-23 21:37] StefanLobbenmeier commented on #7625
I agree

[2022-01-23 22:18] gave92 commented on #7897
@yaichenbaum why did you think of tiles layout? Is there a known issue with it?

[2022-01-23 22:19] yaichenbaum commented on #7897
I noticed the issue in the tiles layout myself while working on my visual tree pull request.

[2022-01-23 23:50] HTD opened #7907 "Date format doesn't match Windows date format."
### Description

I have my display language set to English, but my date format set to Polish.
The application ignores the date format set in Windows and uses mm/dd/yyyy instead of dd.mm.yyyy I see in Windows Explorer.

### Steps To Reproduce

1. Set Windows display language to English.
2. Set date format to Polish.
3. Check the dates in Files when the "System" format is used.

### Expected behavio

[2022-01-24 00:23] yaichenbaum commented on #7907
@HTD what did you set the time format to in Files?

[2022-01-24 00:51] Mneyuu opened #7908 "Sending Files to Devices"
### What's the Problem?

First off, thank you for making Files! I found it shortly after upgrading to Windows 11 back in October and loved it. The recent update brought compatibility settings, which I really needed to really daily drive Files. All that said, I recently found something missing that I'd like to request.

Would it be possible to add the ability to send files to other devices? For exa

[2022-01-24 00:59] yaichenbaum commented on #7908
Merging with #7789

[2022-01-24 00:59] #7908 closed

[2022-01-24 03:51] puppetsw commented on #4799
I can't replicate this issue. Might be fixed?

OS Version: Windows 11
App version: 2.1.2.0

[2022-01-24 03:56] Chaython opened #7910 "Font Scaling / Text cut off"
### Description

![image](https://user-images.githubusercontent.com/6486343/150719415-3bf64f6a-7206-4933-b91f-30344624374f.png)
I believe this is related to changing font size in windows scaling settings. "Accessibility > Text Size"

### Steps To Reproduce

_No response_

### Expected behavior

Elements should stretch to fit the text.

### Files Version

2.1.2.0

### Windows Version

10.0.22000.43

[2022-01-24 04:01] puppetsw commented on #5420
Looks to be fixed?

OS Version: Windows 11
App version: 2.1.2.0

[2022-01-24 05:18] saaiful opened #7912 "Search Improvement"
### What's the Problem?

Windows search sucks it's slow and useless.

### Solution/Idea

You can include Everyting in Files search, Everyting has SDK for intregration.
https://www.voidtools.com/support/everything/sdk/

### Alternatives

https://www.voidtools.com/downloads/

### Priorities

_No response_

### Files Version

2.0.36.0

### Windows Version

Edition	Windows 10 Pro Version	21H1 Installe

[2022-01-24 06:07] yaichenbaum commented on #7912
Merging with #2447

[2022-01-24 06:07] #7912 closed

[2022-01-24 07:01] Chaython opened #7913 "Default File Manager: Steam, Recycle bin"
### Description

Going to a Steam app, properties, local files, browse... does not open files and open the related directory. Only opens a home tab in files.
![image](https://user-images.githubusercontent.com/6486343/150736309-9bb61d54-75b5-4143-8593-6c1e707cc89f.png)
Recycle bin shortcut: Shows it has files, clicking it opens files but not the recycle bin dir, when manually going to recycle bin,

[2022-01-24 07:52] HTD commented on #7907
It's set to System. I've checked the documentation and I'm totally confused: in documentation System is in fact English, I have no idea why it's called "System". It's not an international standard, even SQL doesn't use it as default, ISO8601 IS a standard. It's a very weird choice, since the actual Windows system has a culture dependent time format that is selectable by the user and available to a

[2022-01-24 08:57] BanCrash commented on #5376
Closing this since it's fixed on last release.

[2022-01-24 08:57] #5376 closed

[2022-01-24 09:08] Crwmy commented on #7913
@Chaython Was curious and in my test, Files opened the related directory.

Just out of curiosity: Have you tried the "Repair" option in the advanced options of Files in Apps and Features? I have had an issue with icon display after updating to 2.1.0 and this solved it for me without loosing my settings.

[2022-01-24 09:22] Chaython commented on #7913
I ran repair.
![image](https://user-images.githubusercontent.com/6486343/150754430-a1794872-9c9c-40ed-a54c-6112b733d5a1.png)
Issue persists:
https://user-images.githubusercontent.com/6486343/150755442-64c19a64-f052-4b94-84c3-32212631acc8.mp4

[2022-01-24 10:19] bagiosw commented on #7809
Okay, here
![image](https://user-images.githubusercontent.com/15670237/150762889-1c28bc51-6dd5-44c5-ad2a-8abfed0c83aa.png)

For the "resize picture" I think it's from a program called PowerToys, same for the "PowerRename", but for the "rotate right/left" I forgot, it's built in item isn't it? I just read it from Winaero [here](https://winaero.com/remove-rotate-left-rotate-right-context-menu-window

[2022-01-24 10:34] bagiosw commented on #7809
Oh and I think the error leads to "weird" behavior. So after the error, the "additional items" in the context menu disappeared. But before that, it's there, let me show you.

Here's the context menu of a .txt file before the error:
![Screenshot_3](https://user-images.githubusercontent.com/15670237/150766453-0aab5a9b-3b17-4258-be1c-f2e51e6fbe3b.png)

And here's it after the error shows up:
![Screen

[2022-01-24 10:58] kakalpa opened #7914 "Can't type on New File Popup"
### Description

Can't type file name when creating a new file on the Popup "enter new item name" non of the keystrokes seems to work

### Steps To Reproduce

Go to New
File
Try entering a name for the file in the pop-up

### Expected behavior

To Create a new file

### Files Version

Version: 2.1.2.0

### Windows Version

Processor	Intel(R) Xeon(R) E-2224G CPU @ 3.50GHz   3.50 GHz Installed RAM	1

[2022-01-24 11:43] puppetsw commented on #5607
Mind if I take this issue on?

[2022-01-24 11:50] apollofps commented on #7896
HI im new to opensource so can i take it as my first issue?

[2022-01-24 12:16] gave92 commented on #7809
Thanks for the info, I'll test with power toys.
To restore the missing items you can also minimize and restore the app instead of restarting it.

[2022-01-24 13:20] Seuguhfr opened #7916 "Slow open"
### What's the Problem?

File is very slow to open when closed (unlike default windows explorer)

### Solution/Idea

Open File in background when the computer start.

### Alternatives

Leave File open in the background when it has been closed

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will all

[2022-01-24 14:11] esibruti commented on #5762
@yaichenbaum I think this feature is already implemented in Files

![image](https://user-images.githubusercontent.com/78214358/150798103-df8cb2c0-f9b9-422b-926e-3eeddb761b51.png)

[2022-01-24 14:40] #5762 closed

[2022-01-24 14:44] wonderNG commented on #7350
Then, find an way to put it back. With the Original Explorer I got this option. pls

[2022-01-24 15:06] yaichenbaum commented on #7916
@Seuguhfr you can set Files to open on startup from the startup settings in the preferences page.

[2022-01-24 15:06] #7916 closed

[2022-01-24 15:51] mhoude1966 opened #7917 "Resizing preview pane"
### Description

Cannot resize the preview pane to make it bigger even if we narrow all the columns.

### Steps To Reproduce

1. Try to resize the preview pane to make it bigger.

### Expected behavior

Just like the old Explorer.exe does

### Files Version

2.1.2.0

### Windows Version

Windows 10 21H2

### Relevant Assets/Logs

[debug.log](https://github.com/files-community/Files/files/7926831/d

[2022-01-24 16:01] redystum opened #7918 "error and crash"
### Description

I tried to see the size of the wsl2 folders by clicking on properties and after that the app crashes.

### Steps To Reproduce

1. Need to have a wsl2 system
2. Go to the Wsl menu on sidebar
3. Chose a wsl folder (ex. Ubuntu)
4. Select all folders (ctrl + a)
5. Right click
6. Properties
7. App crash

The computer are in Portuguese Sorry about that
https://user-images.githubusercont

[2022-01-24 16:15] bagiosw commented on #7809
Great, good luck.

Ohh that's true I just tested it, and so the error also occurred after minimizing and restoring the app.

[2022-01-24 16:35] antpowell opened #7919 "Crashed after moving tab"
### Description

Click + held tab, moved it outside of window my mistake and back into its position.

### Steps To Reproduce

1. Navigate to a folder in first tab
2. Open another file from "Reveal in File Expolorer" right click option (ensuring Files is set as default), should open second tab
3. Click and drag first tab around and drop it back into its original place

### Expected behavior

I woul

[2022-01-24 16:35] yaichenbaum commented on #7917
Thank you for your feedback, merging with #6628

[2022-01-24 16:35] #7917 closed

[2022-01-24 17:06] Seuguhfr commented on #7916
Thank you for your answer, but my issue is for open in background. Else, when I close File, he's slow to open. my request is for leave File open in background.

[2022-01-24 17:08] yaichenbaum commented on #7916
This a unfortunately a limit of the UWP platform and I'm not aware of any solutions for this.

[2022-01-24 17:14] yaichenbaum commented on #1581
@Rick-HM does this have added value over the existing open with option that's in the context menu?

[2022-01-24 17:55] xx88xx opened #7921 "Colour labels don't "stick" to files"
### Description

experimental labels don't apply permanently  to files.

### Steps To Reproduce

1) apply label to file
2) navigate to new folder
3) navigate back to previous folder
4) label is gone

### Expected behavior

label applies permanently to file

### Files Version

2.1.2

### Windows Version

Windows 11 22000.466 21H2

### Relevant Assets/Logs

[debug.log](https://github.com/files-commu

[2022-01-24 17:59] brucebinder opened #7922 "Status field does not show in all OneDrive folders"
### Description

I have a few folders that do noto show status.
C:\Users\bruce\OneDrive\Documents\Lakshmi does how status
C:\Users\bruce\OneDrive\Documents\Lakshmi\Chair Yoga\ does not show status
C:\Users\bruce\OneDrive\Documents\Lakshmi\Chair Yoga\Chair Yoga Certifications shows status

Strange!

### Steps To Reproduce

View the three folders above and they all should show status.

### Expected

[2022-01-24 18:03] MaxSteven opened #7923 "Open New tab by duplicate current tab not open the default Home Directory"
### What's the Problem?

Right now Files open new tabs by go to Home folder

### Solution/Idea

It will be great to have an option in preference that allow it by default open new tabs by duplicating current tab instead.
And maybe another option in preference to allow user choose where is the default folder.

### Alternatives

Or Ctrl + T = Open new tab to default home folder
Ctr + D = Duplicate cu

[2022-01-24 18:07] yaichenbaum commented on #7923
#7901 added a shortcut to duplicate tabs.

[2022-01-24 18:07] #7923 closed

[2022-01-24 18:55] nicholateslaisme opened #7924 "ADD LIST VIEW LIKE WINDOWS FILE EXPLORER IN LAYOUT MENU"
### What's the Problem?

WINDOWS FILE EXPLORER HAS LIST VIEW WHICH IS COMPACT, TIDY AND DO NOT SHOW THUMBNAIL IN THIS VIEW.
JUST THE FILE ICON ALONG WITH FILE NAME.

FOR EXAMPLE IT DOS NOT  SHOW VIDEO THUMBNAILS IN THIS VIEW

### Solution/Idea

WINDOWS FILE EXPLORER HAS LIST VIEW

### Alternatives

WINDOWS FILE EXPLORER

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This p

[2022-01-24 19:14] nicholateslaisme opened #7925 "QL-Win / QuickLook NOT WORKING"
### What's the Problem?

QuickLook is a file viewer, it plays video for video file, opens image in image viewer if its a image, opens pdf file.
All without opening separate application from the file explorer.

Its a very handy tool to preview media files , just like Mac

### Solution/Idea

Pls implement support for QuickView

https://github.com/QL-Win/QuickLook/releases/tag/3.7.1

### Alternatives

[2022-01-24 19:26] yaichenbaum commented on #7924
Merging with #2509

[2022-01-24 19:26] #7924 closed

[2022-01-24 19:28] yaichenbaum commented on #7925
@nicholateslaisme thank you for opening this issue, QuickLook support is already implemented. Can you create a new bug report and include the log files and version information so we can look into why it's not working for you?

[2022-01-24 19:28] #7925 closed

[2022-01-24 19:47] Andret2344 opened #7926 "Ability to set the default option on colliding names"
### What's the Problem?

When I copy&paste files, sometimes the colliding name appear, and I want to quickly overwrite old file to new. To do so, I have to manually change "Generate new name" to "Replace existing" for every file.

### Solution/Idea

The idea is to add to settings the setting to change the default behavior to overwriting.

### Alternatives

Manually changing the option to all files

[2022-01-24 19:50] yaichenbaum commented on #7926
Thank you for your feedback, we're tracking this in #5645

[2022-01-24 19:50] #7926 closed

[2022-01-24 19:55] Andret2344 commented on #7926
Hi @yaichenbaum, the #5645 doesn't 100% match this feature request. I am mostly a keyboard user, so I'd like to have the "Replace" option by default globally. The mentioned PR only allows to change the behavior for all conflicting files, but left "generate new name" as the default option and I still need to change it at last once. When I want to replace exactly one file, I still have to change the

[2022-01-24 20:04] Rick-HM commented on #1581
@yaichenbaum For me from the properties window it feels a bit faster to change, actually it's only 1 step faster but in the end clicking "OK" to close the properties window doesn't feel annoying like having to close the file that was opened from the context menu, since when changing the program used from the context menu, the file will open.

Which one is better I suppose depends on what you will

[2022-01-24 20:12] yaichenbaum commented on #7926
#5645 will allow you to change the default option at the top of the dialog and the preference will be remembered the next time the dialog is opened.

[2022-01-24 20:15] vineetk101 opened #7927 "Add a drive to favorites"
### What's the Problem?

_No response_

### Solution/Idea

Possible to add a drive to Favourites? I use Cryptomator, I'd like to add the drive [i.e. lettered drive] that I use for mounting to my Favourites if possible.

### Alternatives

Cryptomator doesn't allow for a custom location anymore, which I first thought of implementing. They used to.

But also, my work enterprise environment is also ma

[2022-01-24 20:16] gave92 commented on #7927
Merging with #7321

[2022-01-24 20:16] #7927 closed

[2022-01-24 20:19] gave92 commented on #6227
Bumping to #7922

[2022-01-24 20:19] #6227 closed

[2022-01-24 20:20] gave92 commented on #7921
Where are the files you're trying to tag? In a local drive? In a network drive?

[2022-01-24 20:24] gave92 commented on #7918
Crash is when clicking "OK" button in properties, right?

[2022-01-24 21:35] Chaython opened #7928 "Winrar Extract"
### Description

I keep extracting a .rar, via drag and drop.
It keeps only extracting 16 directories at a time.
All files are extracted in temp, but files is only moving 16 directories.
![image](https://user-images.githubusercontent.com/6486343/150867568-4a1e6eb9-ef34-4c05-841e-312bfec0af97.png)
Winrar keeps writing a new temp dir / fully extracted each time.... making my SSD full until I unset f

[2022-01-24 21:37] d2dyno1 commented on #6861
@MidoSpace This has been resolved with #7832

[2022-01-24 21:38] #6861 closed

[2022-01-24 21:42] NousB commented on #7722
Thank you,
 
I have been thinking that Microsoft wants to control the Windows ecology the same way Apple does their's. I may let them try on one of my lappies to see what happens - once I determine the sacrificial goat.
 
I had  to get an iPhone last year and it works OK. The iPhone on the Verizon network is solid, though not very malleable.
 
Their seems to be a paucity of manuals on iPhones, et.

[2022-01-24 22:29] hanskokx opened #7929 "Left-most navigation groups are broken"
### Description

The shortcut groups on the left-most side of the window are broken. Some which should be expanded are not and clicking the arrow to expand them sometimes works.

### Steps To Reproduce

1. Open Files
2. Look at the left panel - some arrows point up while others point down
3. Tap some of the arrows

### Expected behavior

When tapping a down-pointing arrow, the group should expand.

[2022-01-24 22:30] #7929 closed

[2022-01-24 22:30] gave92 commented on #7929
Tracked in #6469

[2022-01-24 22:32] hanskokx commented on #7929
...My bad. I should have searched, first.

[2022-01-24 22:33] hanskokx commented on #6469
![Animation](https://user-images.githubusercontent.com/1911919/150876222-42b43260-87d2-4014-b455-75acd5c2b7a9.gif)

[2022-01-24 23:20] tdw46 opened #7930 "Launch "bash" from Address Bar"
### What's the Problem?

Running "bash" from the address bar does not launch a WSL bash terminal at the location:
![image](https://user-images.githubusercontent.com/10996763/150881009-0b437007-1e09-438b-9e92-56d9da8778f9.png)
![image](https://user-images.githubusercontent.com/10996763/150881029-a3f2a91e-046c-450e-90c2-e2737d23e4f0.png)

### Solution/Idea

In the default file explorer you can run "

[2022-01-24 23:21] #7930 closed

[2022-01-24 23:21] gave92 commented on #7930
Thanks for the report. This has been recently implemented (#7859) and will ship with the next version.

[2022-01-24 23:25] gave92 commented on #7930
In the meantime you can get around this limitation by going to Settings > Preferences > Terminals > Edit terminal applications.
You can add any executable to the json file that opens. Executables listed here will open when you type them in the address bar.

[2022-01-25 00:53] yaichenbaum commented on #7907
@HTD what is your system region set to?
![image](https://user-images.githubusercontent.com/39923744/150890187-a95f3df9-9056-480c-8927-76b7e2265166.png)

[2022-01-25 01:52] gave92 commented on #7673
Merging with #7843 / #7627

[2022-01-25 01:52] #7673 closed

[2022-01-25 02:03] AndrewLaganaro opened #7932 "Consider making a Linux beta version?"
Hello. I love files and I've been thinking about a Linux version, particularly Ubuntu.

Do you think it is possible some day? Would really appreciate it.

There's the suggestion. Thanks 😊

[2022-01-25 02:19] yaichenbaum commented on #7932
@AndrewLaganaro we don't have enough resources to work on Linux version but if someone is interested in putting together a group of devs to work on such a version, I'll be happy to work with them.

[2022-01-25 02:19] #7932 closed

[2022-01-25 02:43] AndrewLaganaro commented on #3584
Just happened to me right now when plugging a regular flash drive with only one partition (regular FAT32 partition for flash drives)

Random crashes algo occur when new folders or files are created or when I press "update" (F5) on the program.

[2022-01-25 02:46] AndrewLaganaro commented on #6493
Happened right now when connecting a regular flash drive with only one partition (FAT32, regular for flash drives)

It showed up two identical flash drives at first, then the second disappeared when I've updated the program. Don't know why.

Files version: 2.0.3.4

Windows OS: 10, Version: 10.0.19043.1348

[2022-01-25 02:53] AndrewLaganaro opened #7933 "Flash drive opens on regular windows explorer"
**Description**
I have Files defined as default file explorer on "Experimental" settings but even though when I plug any flash drive it still opens on the regular windows explorer.

**Steps to reproduce**
Just plug a flash drive
**Expected behavior**
It should open into Files instead
**Version**
Files: 2.0.34.0
OS Version: 10.0.19043.1348

[2022-01-25 03:06] jonluu1 commented on #7561
New to open source, happy to take this on.

[2022-01-25 03:13] yaichenbaum commented on #7933
This issue should be resolved by updating to v2.1.2 and toggling the setting of and on again.

[2022-01-25 03:13] #7933 closed

[2022-01-25 04:06] mndream commented on #7210
谢谢！我之前在互联网上找到了一段代码，以.reg结尾的，同样是可以使用的。
[code]

[2022-01-25 05:37] yaichenbaum commented on #5792
Merging with #6514

[2022-01-25 05:37] #5792 closed

[2022-01-25 05:39] yaichenbaum commented on #7327
@cinqmilleans is this something we can use the full trust process for?

[2022-01-25 07:35] Advik-B commented on #7880
No it does not work

[2022-01-25 08:01] gave92 commented on #7880
What happens instead? You don't have a mount option? You get a request for administrator but the iso is not mounted?

[2022-01-25 08:03] #5492 closed

[2022-01-25 08:03] d2dyno1 commented on #5492
@stanleyowen This should be resolved with #7915

[2022-01-25 08:20] cinqmilleans commented on #7327
@yaichenbaum I tried but failed. All my attempts only got nulls. I may have missed something. If someone can get a unique id for a volume, we might have something really cool.
I started working on the file size cache again, because the searchpanel needs integration #7892. I already have a cache system and it's very nice. I need to improve it to optimize memory usage before publishing it.

[2022-01-25 08:23] #7627 closed

[2022-01-25 08:23] #7826 closed

[2022-01-25 08:23] d2dyno1 commented on #7627
@dmeffe-21 This has been cloed with #7931

[2022-01-25 08:24] d2dyno1 commented on #7826
This has been resolved with #7931 @CEbbinghaus

[2022-01-25 08:38] Gabryxx7 commented on #1940
Hi everyone!
I submitted PR #7941 to add settings for customizing Padding and Spacing in all Layouts (not just Details).

It took me a while to figure out how all the parts are connected but I came up with a solution at the most general level, implemented by changind `Padding `and `Margin `of `ListViewItem `(or `GridViewItem`) from both `ModernShellPage `and `ColumnShellPage`.

The reason being th

[2022-01-25 09:33] lyonelf opened #7942 "Scan for Update available"
### What's the Problem?

The program have no alert for an update available

### Solution/Idea

periodically scan for update

### Alternatives

no one

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will allow developers to accomplish Y

[2022-01-25 10:12] Advik-B commented on #7880
Yes, also I don’t need admin to mount drive in windows explorer Sent from Mail for Windows From: Marco GavelliSent: 25 January 2022 13:32To: files-community/FilesCc: Advik; MentionSubject: Re: [files-community/Files] Add the ablity to mount disc image files (Issue #7880) What happens instead? You don't have a mount option? You get a request for administrator but the iso is not mounted?—Reply to th

[2022-01-25 10:29] d2dyno1 commented on #7798
This has been resolved with #7860 @yaichenbaum

[2022-01-25 12:20] nyaambxr opened #7943 "Plugging in an MTP device makes Files unable to detect all system drives and causes erratic explorer.exe behaviour"
### Description

The app becomes unresponsive, failes to detect drives, launches explorer.exe, does not let explorer access the drive and more when an MTP USB device, such as an Android Phone is connected.
The MTP device in question shows up as one peripheral that consists of two drives, the primary drive and the SD Card. This is expected and always happened in Explorer but when using Files, Explo

[2022-01-25 12:24] Ir1sDev commented on #7943
May be linked to #779

[2022-01-25 12:45] takanuva15 commented on #1940
@Gabryxx7 you are a legend sir!

Quick question: Do the changes also reduce spacing within the right-click context menu? (Windows 11 decided to overdo the spacing in the context menus too)

[2022-01-25 13:47] StLa1 commented on #7918
Can you please triage [this issue](https://github.com/files-community/Files/issues/7894) too ? It makes Files pretty much impossible to use as the main explorer.

[2022-01-25 14:11] Gabryxx7 commented on #1940
No they don't, they only affect the Browser page. I'll have a look at how to implement the changes on a more general level to also include the sidebar and the context menu!

[2022-01-25 14:47] #7798 closed

[2022-01-25 14:47] yaichenbaum commented on #7942
@lyonelf the store version will prompt you when an updatee is availible.

[2022-01-25 14:47] #7942 closed

[2022-01-25 14:52] yaichenbaum commented on #1940
@Gabryxx7 considering the fact that this will eventually affect the context menu and sidebar, do you think the options should be moved to the settings dialog?

[2022-01-25 16:41] sivelswhy opened #7944 "Error : NotAFolder when refreshing in the home tab"
### Description

When you click on refresh on the "Home" Tab, an errors appears _(screenshot in the asset section)_

`Disk Deconnected`
`NotAFolder`

### Steps To Reproduce

1. Open Files App (if not already)
2. Click on the "Home" Tab
3. Click on the refresh button at the top left (if the button is gray, click to another tab and co back to it and it should be white)
4. Observe

### Expected behav

[2022-01-25 16:58] enoversum opened #7945 "Drag and drop from one tab to another invokes scrolling in second tab (=can't drop into sub-folder)"
### Description

When I try to drag and drop a file or folder from one Files tab to another, the list of files and folders in the destination tab starts to scroll automatically. It is thus impossible to drop the file/folder into the desired sub-folder in the second tab.
This possibly requires to have more files and/or folders in the destination tab than can be viewed in the window at once, thus ma

[2022-01-25 17:06] gave92 commented on #7918
Done, and don't worry, we are sadly aware of that issue xD

[2022-01-25 18:18] lightningHoneypot opened #7947 "Copy and move operations always report success even on error"
### Description

On Windows Explorer, when you drag a file to another directory but the file is still open, it will prompt an error message that it can't move the file because it is currently open with an another program. In Files (Community) however, it doesn't show an error, but instead shows that the task has been completed.

### Steps To Reproduce

1. Take one file and one folder
2. _Important

[2022-01-25 18:18] AE102 opened #7948 "Spellcheck"
### What's the Problem?

I wanted to rename some files and I think it would be a good feature to add spellcheck when renaming a file.

### Solution/Idea

To add a spellchecking feature. Microsoft has windows spell check API  https://docs.microsoft.com/en-us/windows/win32/intl/spell-checker-api

### Alternatives

You could use an alternative spell check API.

### Priorities

| Capability | Priority

[2022-01-25 18:32] yaichenbaum commented on #7948
@AE102 the text controls have spellcheck built in, please make sure you turned it on from the settings app.
![image](https://user-images.githubusercontent.com/39923744/151037556-b48e7f4c-6b66-48f3-9eb9-c7abc81e556c.png)

[2022-01-25 18:38] AE102 commented on #7948
How do I access that menu?

[2022-01-25 19:12] Daninator1 commented on #7625
i agree

[2022-01-25 21:23] generalguy41 commented on #7834
Not sure what the proper element is called, but instead of a separate button why not a split button? The primary button is to set as desktop, and the arrow would show the dropdown to set as lockscreen. Personally, when I change my desktop, I always set my lockscreen to match, so this would be very useful to me.

[2022-01-25 21:34] gave92 commented on #7945
Thanks for the report. Could you post a screen recording of this?

[2022-01-25 21:45] enoversum commented on #7945
It seems to happen in detail view, the grid views don't seem to be affected on my quick tests. Here is a screen recording of that phenomenon, reproduced on another machine than I reported it from.

https://user-images.githubusercontent.com/8190174/151064946-c14507a0-745f-43e1-aea4-e0ae792df015.mp4

[2022-01-25 21:49] gave92 commented on #7945
Thanks, curious for me the list only scrolls if the dragged item is near the top or the bottom of the list.

[2022-01-25 21:52] #6737 closed

[2022-01-25 21:53] d2dyno1 commented on #6737
This has been closed by #7891 @R3voA3

[2022-01-25 21:54] enoversum commented on #7945
Well, no idea if that helps. Maybe you need a folder with files and/or folders into both directions, so try a destination folder that has a lot of files or folders in it, and stick to somewhere in the middle before you drag and drop, maybe that helps evoking it.
For me though, I can be at the very end of my folder content, and after switching from first to second tab move the mouse wherever I want

[2022-01-25 22:13] tiomanisland opened #7950 "Scrolling is weird"
### What's the Problem?

This app is fantastic but why is scrolling different that in Windows Explorer or other Windows apps? You should use scrolling set in Windows, not override with your smooth scrolling. This is bad, otherwise your app is fantastic.

### Solution/Idea

Use scrolling type as defined in user's settings in Windows 10 when there are more files in windows and you scroll with mouse

[2022-01-25 22:14] #7950 closed

[2022-01-25 22:14] gave92 commented on #7950
Tracked in #7764

[2022-01-25 23:30] #5121 closed

[2022-01-25 23:30] d2dyno1 commented on #5121
@Josh-65 Closed with #7909

[2022-01-25 23:48] barkermn01 commented on #2065
Just on this would it not be better to use multisize `.ico` files vs SVG?

[2022-01-25 23:51] babyblue69 opened #7951 "No Access to a WebDAV Network Location"
### Description

No Access to a WebDAV Network Location

error message:
title: Disk Disconnected
message: Generic

### Steps To Reproduce

1. open the application, Files (File Manager)
2. select Network Disk in (go video)

[https://drive.infomaniak.com/app/share/Files-managerfile_souciNASWebDAV_2022-01-25.MP4](https://drive.infomaniak.com/app/share/107658/80cc5b77-f173-492a-a62e-138069aaed6a)

###

[2022-01-26 00:50] ismael12br opened #7952 "Adding options and optimizing"
### What's the Problem?

On the home page, the program is slow to show the folders (images, downloads, etc.), in addition to not returning to the home page when clicking on drives in the sidebar. The program also does not have a "send to" option.

### Solution/Idea

You can add the options mentioned above.

### Alternatives

Add a button to take you to the home page, as seen in browsers

### Prior

[2022-01-26 02:00] Gabryxx7 commented on #1940
I thought about it actually, but I thought it'd be much nicer to see the change live from the little flyout menu on the navbar. And the way I see it, these two sliders affect the file browser just like the layout radio buttons and the "Show hidden files/ Show extension" toggles.

Shall we maybe have two different settings now that I'll try to add those for menu and sidebar? So one set of sliders f

[2022-01-26 02:16] yaichenbaum commented on #1940
Shall we maybe have two different settings now that I'll try to add those for menu and sidebar? So one set of sliders for the file browser and one for the UI in general (so sidebar and menu at the moment)?

I'm afraid that will make the options too complex, and users would be confused when they don't match up.

Do you think we can automatically change the scale together with the padding and spacin

[2022-01-26 02:28] Yoshomay opened #7953 "Compact mode"
### What's the Problem?

Normal windows explorer lets you make things compact like 10-. only thing stopping me from using this

### Solution/Idea

Add compact mode

### Alternatives

don't i guess..? idk this is required so

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to acc

[2022-01-26 02:32] #7953 closed

[2022-01-26 02:32] yaichenbaum commented on #7953
Merging with #1940

[2022-01-26 02:33] yaichenbaum commented on #7952
Merging with #7350

[2022-01-26 02:33] #7952 closed

[2022-01-26 03:11] spooferjahks opened #7954 "Crash while Hiding Folder"
### Description

App crashes when trying to hide two folders at the same time.

### Steps To Reproduce

_No response_

### Expected behavior

Expected the two folders to be hidden

### Files Version

Version: 2.1.3.0

### Windows Version

Windows 11 21H1 build 22000.469

### Relevant Assets/Logs

[debug.log](https://github.com/files-community/Files/files/7938661/debug.log)
[debug_fulltrust.log](ht

[2022-01-26 03:47] takanuva15 commented on #1940
Just to give my 2 cents (take it or leave it lol) - I think what makes the most sense from a clean & simple UX perspective is to just have a single option in the Navbar Setting dialog. Call it something like "Density" and put a dropdown (like an HTML select element) there with 3 options "Compact", "Default", and "Comfortable". (Obviously "compact" would have minimum space/padding, "default" would

[2022-01-26 06:55] #7954 closed

[2022-01-26 06:55] gave92 commented on #7954
Same as #7918

[2022-01-26 07:03] #5788 closed

[2022-01-26 07:03] d2dyno1 commented on #5788
@mangoepic Fixed with #7882

[2022-01-26 07:05] d2dyno1 commented on #5584
This has been resolved with #7882

[2022-01-26 07:05] #5584 closed

[2022-01-26 10:15] grahamwheaton opened #7956 "Turn of file press animation"
### What's the Problem?

I personally find the animation quite jarring, and makes it feel slow.

(compared to explorer)

### Solution/Idea

In the settings, have a toggle on off.

### Alternatives

In the settings, have a toggle on off.

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end

[2022-01-26 10:58] xcad2k opened #7957 "Copying a file shows "success" when there is no space left on the disk"
### Description

Copying a file shows "success", even though the file isn't copied, because there is no space left on the disk. This also happens when the file is moved.

**Test Scenario:**

I tried to copy a large file 3.44GB to a Disk which hasn't enough space left, as you can see in the screenshots below:

<img width="231" alt="image" src="https://user-images.githubusercontent.com/28359525/1511

[2022-01-26 11:29] sdanielch opened #7958 "Force close when make hidden directories"
### Description

when a try hide a folders selection the software crash, but when i run software again my folders is hidden.

### Steps To Reproduce

to anywhere
click over some folder and click in property
in atributes select hidden
CRASH

### Expected behavior

Simply, hidden my folders selected

### Files Version

2.1.2.0

### Windows Version

Windows 11 21H2 22000.434

### Relevant Assets/Logs

[2022-01-26 12:36] xx88xx commented on #7921
ah yes I've just retested it. It works on a local drive, but not with network drives. Are a lot of my stability issues due to the fact I'm primarily running a network drive?

[2022-01-26 12:44] Quinten0508 opened #7959 "Can't change default File explorer"
### Description

In an older version, I chose to set Files as my default files explorer. However, in the current version installed (20.0.13.0) the option to toggle this "default file manager" is gone. This means I cannot switch back to Windows' built-in explorer anymore. I have to switch back to Explorer from time to time for some more niche features or to fix / identify the cause of related issue

[2022-01-26 12:44] kennyvv commented on #7304
I'm running into the same issue here, my documents folder is a network folder. When i delete a file i have to press F5 for it to be removed from the list.

The same issue occurs when creating a new file.

Version: 2.1.2.0
OS Version: 10.0.19044.1415

[2022-01-26 13:23] Wanooo0 commented on #7956
I totally agree. This animation is pretty ugly.

[2022-01-26 14:02] yaichenbaum commented on #7959
It looks like you're using an older version of Files. Please update to v2.1.2 and try again.

[2022-01-26 14:02] #7959 closed

[2022-01-26 14:02] yaichenbaum commented on #7956
This issue is resolved in Windows 11.

[2022-01-26 14:02] #7956 closed

[2022-01-26 15:41] cinqmilleans opened #7961 "Feature: Always display the size in the status bar when ShowFolderSize is enabled"
### What's the Problem?

In a folder you have to select all to display the total size.

### Solution/Idea

It would be handy to show the total size in the status bar when nothing is selected and the option to show folder sizes is enabled.

### Alternatives

None.

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| T

[2022-01-26 16:08] RusterX16 opened #7962 "Crash when a Flash Drive is plugged"
### Description

I just plugged out then plugged in a flash drive to crash Files

### Steps To Reproduce

Plug a flash drive is there is no flash drive already plugged
Plug out the flash drive
Plug in once again on the computer

### Expected behavior

I expect Files to keep running

### Files Version

2.1.2.0

### Windows Version

Windows 11 21H2

### Relevant Assets/Logs

2022-01-21 16:47:49.4930

[2022-01-26 16:14] esibruti commented on #6686
@yaichenbaum We can close this issue.

[2022-01-26 16:16] esibruti commented on #7769
@yaichenbaum We can close this issue.

[2022-01-26 16:20] #7769 closed

[2022-01-26 16:21] #6686 closed

[2022-01-26 18:00] VoidExploiter commented on #7625
Okay for me

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Daniel Zauner ***@***.***>
Sent: Wednesday, January 26, 2022 12:43:13 AM
To: files-community/Files ***@***.***>
Cc: VoidExploiter ***@***.***>; Mention ***@***.***>
Subject: Re: [files-community/Files] 📢📢Switching the license to MIT (Issue #7625)

i agree

—
Reply to this email directly, view it on GitHu

[2022-01-26 19:39] yaichenbaum commented on #7598
@exomarty does the registry change work for Files as well?

[2022-01-26 19:39] #7659 closed

[2022-01-26 19:40] yaichenbaum commented on #6795
@yurnasg can you report this to Google and ask if they can change the behavior?

[2022-01-26 19:41] #7732 closed

[2022-01-26 19:41] #7658 closed

[2022-01-26 19:41] #7660 closed

[2022-01-26 19:41] #7739 closed

[2022-01-26 19:41] #7712 closed

[2022-01-26 19:42] #7605 closed

[2022-01-26 19:42] #7623 closed

[2022-01-26 19:46] exomarty commented on #7598
No, if i change registry on windows only applies to default explorer, Files keeps the limit on 10 files

[2022-01-26 20:36] #7957 closed

[2022-01-26 20:37] gave92 commented on #7957
Merging with #7947

[2022-01-26 23:05] elvistkf commented on #7625
No problem from me

[2022-01-27 00:19] diegoborgh opened #7965 "Copy operation doesn't auto refresh on network drives"
### Description

Anytime I copy files, or create a folder, I have to hit the reset button. It works ok on the main drives, but on network drives it doesn't work

### Steps To Reproduce

_No response_

### Expected behavior

I"d like to see the files copied displayed in the folder.

### Files Version

2.1.2.0

### Windows Version

Windows 10 21H2

### Relevant Assets/Logs

[debug_fulltrust.log](htt

[2022-01-27 01:13] kenleyshaw commented on #7947
I am new to the Open source community. For one of my courses for college, we have to contribute to a project - this seems like an issue that I may be able to help with. Can you assign this to me please? I'll update along the way as I troubleshoot

[2022-01-27 02:46] 850710247liu opened #7966 "设置成默认文件管理器后，无法调出系统的控制面板"
### Description

一个严重的无法调出控制面板的BUG

### Steps To Reproduce

_No response_

### Expected behavior

在设置中开启设为默认文件管理器后，无法调出控制面板

### Files Version

最新

### Windows Version

win10

### Relevant Assets/Logs

闪退

[2022-01-27 03:23] lightningHoneypot opened #7967 "Automatically delete/discard illegal filename characters when *pasting* a string on a *new* file/folder"
### What's the Problem?

In Files Explorer, every time when you paste a string that contains:

- :
- &
- "
- ?
- <
- (>)
- (#)
- {
- }
- %
- ~
- /
- \

It will automatically delete the string **and** displays the following message

If the user tries again by deleting and pasting the same string, File Explorer will automatically post the string of text without those characters as if the user didn't

[2022-01-27 03:27] #7966 closed

[2022-01-27 03:28] yaichenbaum commented on #7966
Thank you for opening this issue, in order to investigate, we will need the version number and log files.

[2022-01-27 04:24] 850710247liu opened #7968 "win10 Contral Panel of the system cannot be called out"
### Description

After being set as the default file manager, the win10 Contral Panel of the system cannot be called out

### Steps To Reproduce

Click the control panel on the desktop

### Expected behavior

The control panel can be opened normally

### Files Version

2.1.2.0

### Windows Version

win10

### Relevant Assets/Logs

2022-01-27 11:47:52.9982|INFO|GetDrivesAsync|Drive added: D:\, Fixe

[2022-01-27 04:52] yaichenbaum commented on #7968
@850710247liu which version of Files were you using when you turned on the option to set Files as the default?

[2022-01-27 05:15] 850710247liu commented on #7968
版本: 2.1.2.0
OS Version: 10.0.19044.1499

[2022-01-27 05:18] yaichenbaum commented on #7968
Can you try turning the option off and back on again?

[2022-01-27 05:19] yaichenbaum commented on #7968
It looks like you originally turned the option on using an older version of Files, can you run this script and then try turning the option on again? https://raw.githubusercontent.com/files-community/Files/main/src/Files.Launcher/Assets/FilesOpenDialog/UnsetFilesAsDefault.reg

[2022-01-27 06:04] android272 commented on #7712
Yep that is a good solution to this problem.

[2022-01-27 06:22] #7965 closed

[2022-01-27 06:23] gave92 commented on #7965
Tracked in #5869

[2022-01-27 07:41] dimitakhs1 opened #7971 "Pack of scripts"
### What's the Problem?

I love files!I'd like to see in the future pack of cool scripts

### Solution/Idea

A pack of right-click sub menu scripts like we have on linux

### Alternatives

No idea

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This

[2022-01-27 08:06] rGunti opened #7972 "Acryll effect bugs out, getting dark"
### Description

When using any bright theme, context menus and flyouts tend to get blurred incorrectly, getting darker in the process.
![image](https://user-images.githubusercontent.com/5184813/151316433-9b36a4e4-63da-48c3-8590-5fb4b65bc262.png)

### Steps To Reproduce

_No response_

### Expected behavior

Flyout and Context Menus should be colored like this:
![image](https://user-images.githubu

[2022-01-27 11:38] tiomanisland commented on #7764
Can we expect this to be fixed and when? Thank you.

[2022-01-27 11:39] tiomanisland opened #7973 "Files is a bit slow comparing to Windows 10 native Explorer"
### What's the Problem?

Sometimes clicking around seems slow. In what program is this written? Is it possible to make click action faster (instant)?

### Solution/Idea

Make clicking more responsive.

### Alternatives

Default Windows 10 Explorer.

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal wi

[2022-01-27 12:04] BEEDELLROKEJULIANLOCKHART commented on #1940
I believe that configuration should be possible within 1 separate window, because much of the present configuration is immediately visually obvious, and duplication and inconsistent placement of configurative functionality shall not merely unnecessarily clutter the interface, but confuse new users and be bothersome for all else.

[2022-01-27 13:21] cloo commented on #6993
I get many thumbnails missing as too: jpg, png and pdf.
Larger thumbnails are not generated at all.

![220127-151728](https://user-images.githubusercontent.com/651760/151366851-ade04be1-bd29-460e-bb46-5c6a696215db.png)

![220127-151822](https://user-images.githubusercontent.com/651760/151366743-6edef92e-5d96-42ec-89b3-42b24035cba8.png)
1366737-1c799d16-69d9-433c-b5e1-986ae5b634b6.png)
![220127-151

[2022-01-27 14:17] yaichenbaum commented on #7973
@tiomanisland this is becuase of the Windows 10 xaml styles but it's resolved in Windows 11.

[2022-01-27 14:17] #7973 closed

[2022-01-27 14:17] yaichenbaum commented on #7972
This issue is resolved in Windows 11.

[2022-01-27 14:17] #7972 closed

[2022-01-27 14:44] sstavridis commented on #6902
Is there any way to apply the columns layout to be the default view for all the folders?
For example in File Explorer you can go to view and select Large Icons then you can to Options and on the View tab you check Apply to folders.

[2022-01-27 15:03] FionNoir opened #7975 "Drag and Drop to Windows Mail"
### Description

Drag and Drop of files to Windows Mail App isn't working

### Steps To Reproduce

1. Open Windows Mail App
2. Write a new mail
3. Try to Drag and Drop a File from the Explorer to the new mail

### Expected behavior

File should be added as attachment to the mail.

### Files Version

2.1.2.0s

### Windows Version

Windows 10 Home 21H1  19043.1466

### Relevant Assets/Logs

No

[2022-01-27 15:09] gave92 commented on #6993
This issue should be fixed in the preview version.

[2022-01-27 15:09] zsxdcfvgbh opened #7976 "Linking with QuickLook"
### What's the Problem?

_No response_

### Solution/Idea

Nice to meet you.
File and I have been best friends since we met at the Microsoft Store.
Now, what I would like to ask you to do is to work with a Windows software called QuickLook.
This is a very capable software that allows you to use the functionality of QuickLook on Mac as it is on win.
I used to use Windows Explorer, and it was an ind

[2022-01-27 15:09] #6993 closed

[2022-01-27 15:36] yaichenbaum commented on #7976
QuickLook is already supported, if it's not working for you, can you please open a bug report and include the log files and version information?

[2022-01-27 15:36] #7976 closed

[2022-01-27 16:02] AlYahyaMajed opened #7977 "sudden death when browsing through network folder"
### Description

Files suddenly stopped working when browsing through network mapped drive and folders

### Steps To Reproduce

1- open network drive
2- navigate to a subfolder
3- return to parent folder

### Expected behavior

open the subfolder and return to main folder normally.

### Files Version

Version: 2.1.2.0

### Windows Version

Windows 10 Version: 10.0.19044.1469

### Relevant Assets/L

[2022-01-27 16:07] ManfredRichthofen opened #7978 "Allow disabling the hover effect when clicking on folders"
### What's the Problem?

Not a huge problem but imo the hover effect doesn't look great at least as it is currently implemented especially because the text and icons loose quality.

### Solution/Idea

I think giving the option to disable this effect would be great

### Alternatives

Im not sure what this is asking.

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This propos

[2022-01-27 16:08] enoversum opened #7979 "Update German translation"
### Description

When having multiple language packs installed, Files doesn't show strings from the chosen system language, but mixes them with the other language(s). My system is in German, but shows some strings in Norwegian, which I have installed as a secondary language pack and keyboard layout.
The Norwegian strings are in the last line: _Rydd opp… Disk-opprydding_

### Steps To Reproduce

Po

[2022-01-27 16:17] yaichenbaum commented on #7979
@enoversum Files will fall back to secondary languages if there are untranslated strings, would you like to update the German translation? https://files.community/docs/contributing/translating-files

[2022-01-27 16:18] yaichenbaum commented on #7978
@ManfredRichthofen we don't plan to change the style on Windows 10 but this issue should be resolved on Windows 11.

[2022-01-27 16:18] #7978 closed, assigned to nobody

[2022-01-27 16:19] enoversum opened #7980 "File renaming: Focus jumping in Icon/Details view"
### Description

When renaming a file in Detail view, after renaming the focus jumps to the column header (Name). If I switch to small/medium/large Icon view (no idea how it is called in English), the focus jumps to the first file or folder in the location.

### Steps To Reproduce

1. Switch to Details view.
2. Rename a file.
3. Focus jumps to column header ('Name').
4. Switch to small/medium/larg

[2022-01-27 16:21] enoversum commented on #7980
Edited, as I saw crashes when renaming files in Grid/Tiles view has already been reported.

[2022-01-27 16:25] enoversum commented on #7979
@yaichenbaum Ah, good to know, had no idea. So it's basically only happening when there are missing strings. Funny enough, Norwegian has only a tiny community of speakers in the whole world, whereas German is far more popular.
Thanks for the link for the translations! I'm afraid it's a bit too technical and time consuming for me at the moment ❤️!

[2022-01-27 16:25] osaunier opened #7981 "Can't go back on default File explorer"
### Description

In the previous release, I have set Files as the default File Manager. I've upgraded to 2.1 and see the button to roll back but it doesn't work.

### Steps To Reproduce

1. Install the previous release with no rollback possible
2. Set Files as default file manager
3. Update to the last release
4. Try to rollback

### Expected behavior

Explorer is the Default Manager again.

### F

[2022-01-27 16:50] Josh-65 commented on #7981
You can run this script and then try turning the option on again if you want.
https://raw.githubusercontent.com/files-community/Files/main/src/Files.Launcher/Assets/FilesOpenDialog/UnsetFilesAsDefault.reg

[2022-01-27 16:58] #7981 closed

[2022-01-27 17:09] Ryder17z commented on #477
Then PLEASE add it to your FAQ.

[2022-01-27 17:35] prajjwal27 opened #7983 "Cannot open Properties for any file/folder"
### Description

When I try to open the properties window for any file or window, the cursor shows a loading animation but nothin happens after that.

### Steps To Reproduce

1. Open Files.
2. Navigate to required directory (any).
3. Press the 'Properties' button.
OR
3. Right click on the required file/folder.
4. Press the 'properties' button in the context menu.

### Expected behavior

A properti

[2022-01-27 17:42] tiomanisland commented on #7973
If I understand you right you are saying that Files is slow in Windows 10 but fast in Windows 11?

[2022-01-27 17:43] dbbgba opened #7984 "Animations speed"
### What's the Problem?

The animations between interactions are great but they do slow down the workflow of intense file management.

### Solution/Idea

Maybe have a slider to speed up the animation or a drop-down menu (ala android).

### Alternatives

Just a checkbox to disable them could be a quick temporary solution, I don't like it because I do like animating things on screen, but as a tempor

[2022-01-27 17:54] yaichenbaum commented on #7984
This is specific to Windows 10 and is fixed in Windows 11.

[2022-01-27 17:54] #7984 closed

[2022-01-27 18:58] yaichenbaum commented on #7973
@tiomanisland I meant in regards to the click animation, performance for item enumeration should be about the same.

[2022-01-27 19:11] dmegatool opened #7986 "Cmder as terminal option"
### What's the Problem?

I would like to launch [Cmder ](https://cmder.net/) terminal with the contextual "Open in terminal".

### Solution/Idea

Can we support 3rd party command line tools ? Or is it possible and not documented ?

### Alternatives

I'm considering Fluent but I kinda like Cmder to be honest. It's portable, all my stuff's in there.

[2022-01-27 19:11] #6628 closed

[2022-01-27 19:12] yaichenbaum commented on #6628
This issue should be resolved with #7920

[2022-01-27 19:15] yaichenbaum commented on #7986
@dmegatool custom profiles are already supported, please see the docs for sample profiles and information on creating your own profile. https://files.community/docs/configuring/terminal-profiles

[2022-01-27 19:15] #7986 closed

[2022-01-27 19:50] gave92 commented on #7971
Could you post some screenshots / more details to clarify what you're referring to?

[2022-01-27 20:47] yaichenbaum commented on #5726
@m1karii thank you for your feedback, we gathered feedback from a number of users and when asked if they were interested in an option to hide the icons, the majority preferred to keep them visible.

[2022-01-27 20:47] #5726 closed

[2022-01-27 21:23] Pietro228 opened #7987 "Automatically select file when opening it's location"
### What's the Problem?

When I open downloaded file location from e.g. Firefox, it will only open the directory and it doesn't select the downloaded file.

### Solution/Idea

Select opened file in directory.

### Alternatives

I need to search the file in large directory.

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W |

[2022-01-27 23:38] #7987 closed

[2022-01-27 23:39] gave92 commented on #7987
Tracked in #6382

[2022-01-28 00:47] #7686 closed

[2022-01-28 01:45] Pietro228 commented on #6382
Any update?

[2022-01-28 07:19] gave92 commented on #6382
@Pietro228 not really, this thing is hard. Currently we got "show in folder" highlight the item when done from the start menu, but doesn't work when invoked from anywhere else.

[2022-01-28 09:59] ukyouz opened #7989 "Can not overwrite all files at once"
### What's the Problem?

when copy files to a destination folder, I have to select each action for each file, which kind of annoyed if I just want to replace all.

### Solution/Idea

add option to apply action to all~

### Alternatives

delete all and copy.

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This pr

[2022-01-28 11:13] yosimor commented on #1928
Not sure if the following will help you in the meantime, but are you aware that the native Win10 File Explorer has an "**Expand to open folder**" option in the configuration settings for its Navigation pane?

Enabling it will automatically synchronize the currently selected directory inside the Navigation pane's directory-tree (expanding it if needed) ... with the current working directory.

![Fil

[2022-01-28 12:21] #7989 closed

[2022-01-28 13:55] Prasanjit-4 commented on #7702
Am I supposed to close this feature request or there are other plans? Kindly let me know.

[2022-01-28 14:39] abizeauMaxon opened #7990 "Cannot add more than one bundle"
### Description

I'm trying to add a new bundle. The 3 dots are not clickable anymore.

If I delete all my bundles, the 3 dots button is now clickable and I can see the 'add', 'import' & 'export' features.

But at this point, I deleted all my bundle and can only have 1.

### Steps To Reproduce

1. Go to home
2. Try to click the "..." to add a bundle

### Expected behavior

Be able to click on thos

[2022-01-28 15:05] dimitakhs1 commented on #7971
Something like that: Nautilus Scripts - Gnome-look.org for Windows though Στάλθηκε από την Αλληλογραφία για τα Windows Από: Marco GavelliΑποστολή: Πέμπτη, 27 Ιανουαρίου 2022 21:50Προς: files-community/FilesΚοιν.: dimitakhs1; AuthorΘέμα: Re: [files-community/Files] Pack of scripts (Issue #7971) Could you post some screenshots / more details to clarify what you're referring to?—Reply to this email d

[2022-01-28 15:10] romanroth opened #7991 "Option to show old Right Click Context Menu by Default"
### What's the Problem?

The Files App is a great substitute for the default explorer with a more visually appealing GUI and especially tabs. However many users like the old layout of the right click context menu instead of the Win11 style where you have to click "More" to get to your Shell Context Menu Options.

### Solution/Idea

It would be cool if there was an Option to show the old right clic

[2022-01-28 15:15] #7990 closed

[2022-01-28 15:19] yaichenbaum commented on #7991
@romanroth you can show everything in the main menu by turning off the option to move items into the sub menu.
![image](https://user-images.githubusercontent.com/39923744/151572777-ee6038a3-2268-4184-9fa6-bac71cb87f39.png)

[2022-01-28 15:19] #7991 closed

[2022-01-28 15:23] romanroth commented on #7991
@yaichenbaum I am very sorry I did not see that... Was too obvious I guess.

[2022-01-28 18:42] GkqqNkKC opened #7993 "Words correction does worse than better"
### What's the Problem?

When renaming an item, a red underline appears under incorrectly spelled words. Sometimes these underlined words corrects themselves without explicit user input. A lot of people do not have the os in the desired naming language for their files. On top of that, there are a lot of times when a user actually wants to spell the filename by a different encoding system: as examp

[2022-01-28 18:44] #7993 closed

[2022-01-28 18:46] gave92 commented on #7993
Merging with 7948

[2022-01-28 18:49] Slowwwww opened #7994 "Option for bigger file preview with the preview pane"
**Problem**
When going through images the maximum size that image is displayed in the preview pane is a small.
**Solution/Idea**
Having the option to hide the metadata and just view the image and/or resize the preview pane to make it bigger would greatly improve the usability for going through photos.
**Alternatives**
Opening every file you want to see (slow)

[2022-01-28 18:50] gave92 commented on #7895
Just wanting to highlight that in XAML it's also possible to disable spell check for specific TextBoxes, so this feature request could make sense.

[2022-01-28 18:55] #7994 closed

[2022-01-28 18:56] gave92 commented on #7994
Thanks for the report. Latest preview version has the ability to make the preview pane a lot wider than before.

[2022-01-28 19:56] anwar3606 opened #7995 "Better resizing Preview Pane"
### What's the Problem?

Right now I can't see the preview panel that usefull. It's too small !!
For example, I can't see whats inside a image like this.
This also applicable for Video preview. Even video preview takes up 30% of the space.

![image](https://user-images.githubusercontent.com/3619250/151612785-3c028ec4-4f6d-42d7-8fb5-25aacf148d8a.png)

### Solution/Idea

remove resize restriction

a

[2022-01-28 20:28] yaichenbaum commented on #7895
@gave92 I'll keep that in mind 👍

[2022-01-28 20:29] yaichenbaum commented on #7995
@anwar3606 this issue is resolved in our development branch and will be included in the next update.

[2022-01-28 20:29] #7995 closed

[2022-01-28 20:57] anwar3606 commented on #7995
Thank you!!!, I use this heavily in Windows Explorer. I saw there is a new option to see only preview. Along with this and resize will make my life really easy.

[2022-01-28 21:17] Josh-65 opened #7996 "Crash when renaming in tile view"
### Description

Not sure on specifics but I have music folder thats got 1600 files. Renaming a folder "_Playlists" to "Playlists" will consistently crash files.

### Steps To Reproduce

_No response_

### Expected behavior

Should rename folder and refresh

### Files Version

2.1.3.0

### Windows Version

10.0.19043.1466

### Relevant Assets/Logs

[debug.log](https://github.com/files-community/Fi

[2022-01-28 21:29] ddetton opened #7997 "Drive Properties in Dark Mode Unreadable"
### Description

In Dark Mode with Default Theme, right click C: drive and select Properties.  The dialog background is white making the white text unreadable.

### Steps To Reproduce

 right click C: drive and select Properties

### Expected behavior

Expect to be able to read the dialog.

### Files Version

2.1.2.0

### Windows Version

Windows 11 Version 21H2 (OS Build 22000.438)

### Relevant

[2022-01-28 21:41] gave92 commented on #6892
Merging with #6066

[2022-01-28 21:41] #6892 closed

[2022-01-28 21:42] gave92 commented on #7997
Merging with #6066

[2022-01-28 21:42] #7997 closed

[2022-01-28 21:43] gave92 commented on #7996
Grid or Tiles layout? Any difference in Details layout?

Error from log:
`:14:18.0560|ERROR|AppUnhandledException|Object reference not set to an instance of an object.
	System.NullReferenceException: Object reference not set to an instance of an object.
   at Files.Views.LayoutModes.GridViewBrowser.EndRename(TextBox) + 0x11b
   at Files.Views.LayoutModes.GridViewBrowser.<CommitRename>d__27.MoveNex

[2022-01-28 21:44] Josh-65 commented on #7996
I used tiles il try detail view

[2022-01-29 03:21] eliranbenishai commented on #6421
Completely agree. I use a few network drives and Files is churning through every single folder to try to create thumbnails. First thing I did was comb the settings for the option to not show thumbnails, and it's sorely missing for me.

[2022-01-29 04:48] jasonsafir opened #7998 "Navigation Pane Hide/Show Keyboard Shortcut"
### What's the Problem?

_No response_

### Solution/Idea

Would be useful to have the ability to quickly hide and show the sidebar/navigation pane without using the mouse using a keyboard shortcut.

### Alternatives

Just a simple keyboard shortcut such as Ctrl+Alt+S like in macOS Finder!

### Priorities

_No response_

### Files Version

_No response_

### Windows Version

_No response_

### Com

[2022-01-29 07:38] gchegr opened #7999 "Content of folders does not get displayed in Columns layout"
### Description

When I enable Columns layout, Files does not display a content of a clicked folder in the next column.
Sometimes it takes the application a while to display the content (while no indication the loading is in progress), sometimes it stops displaying an already read and displayed content of a previously selected folder.

### Steps To Reproduce

1. Run Files
2. Enable Columns layout

[2022-01-29 07:45] gchegr opened #8000 "List Layout"
### What's the Problem?

The application has Columns, Details, Tiles, Icons... but no List view/layout, which is my default view of folders. I have a thousand of them and a big screen, so I’d like to display a lot of them in a list, with no thumbnails displayed

### Solution/Idea

List Layout should be added

### Alternatives

The are no alternatives to this, Columns layout uses only one small por

[2022-01-29 09:24] dippa-1 opened #8001 "Can't restore deleted file that needs admin"
### Description

When trying to restore a deleted file that required admin privileges, nothing happens.

### Steps To Reproduce

1. Open Files without admin
2. Delete file that requires admin rights
3. Go to Recycle Bin
4. Press restore
5. Nothing happens

### Expected behavior

In default Windows Recycle Bin it asks for admin rights again and restores it.

### Files Version

Version: 2.1.2.0 OS V

[2022-01-29 09:25] #8000 closed

[2022-01-29 09:26] gave92 commented on #8000
Tracked in #2409

[2022-01-29 11:05] pc-v2 opened #8003 "Open In Terminal Button Broken (Weird Naming)"
### Description

![image](https://user-images.githubusercontent.com/58063311/151658540-983f6842-f94b-45b5-8b4f-3c491351fa22.png)

### Steps To Reproduce

1. open Files
2. click
![image](https://user-images.githubusercontent.com/58063311/151658549-7b0e3ba8-3816-46a4-ba32-13081b058e14.png)
3. voila!
![image](https://user-images.githubusercontent.com/58063311/151658550-4bb76f96-36bc-4777-bda4-6d05474

[2022-01-29 12:22] Josh-65 opened #8004 "Chrash when clicking on a path bar item"
### Description

*

### Steps To Reproduce

_No response_

### Expected behavior

Should go to the folder clicked on in the path bar

### Files Version

2.1.4.0

### Windows Version

10.0.19043.1466

### Relevant Assets/Logs

[debug.log](https://github.com/files-community/Files/files/7963642/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/7963643/debug_fulltrust.log

[2022-01-29 12:27] chrs-it commented on #8004
+1, easily reproducible.

[2022-01-29 12:57] PavelDobCZ23 opened #8006 "Download folder opens at a wrong group."
### Description

When I open Downloads folder, it opens at the "Older" group when selecting option group by date modified.

### Steps To Reproduce

1. Open Files.
2. Go to Downloads folder.
3. Open "Sort" options.
4. Set "Group by" to "Date modified".
5. Open some other folder.
6. Reopen Downloads folder (*In the same tab).
7. It won't open on the top of the folder but instead on the group "Older"

[2022-01-29 13:07] CrypticVader opened #8007 "Selecting directory from navigation bar crashes Files"
### Description

Selecting/clicking on any folder on the navigation bar will crash Files.

### Steps To Reproduce

1. Open a folder within any local drive.
2. Now click on any folder on the navigation bar.
3. Files should crash after becoming unresponsive for a second or two.

### Expected behavior

Open the selected folder.

### Files Version

Version: 2.1.4.0 OS Version: 10.0.22000.469

### Wind

[2022-01-29 13:13] #8007 closed

[2022-01-29 13:14] gave92 commented on #8007
Tracked in #8004

[2022-01-29 13:17] CrypticVader opened #8009 ""Open in terminal" isn't working"
### Description

Clicking on "Open in terminal" does nothing.
Also, the option is shown in a random language.
![image](https://user-images.githubusercontent.com/61494838/151662364-2dd73a24-545b-468a-a624-ab1ec928c777.png)

The "Terminal Applications" dropdown list is also empty.
![image](https://user-images.githubusercontent.com/61494838/151662380-38ab2f4b-f185-454e-a4d0-b65badecc761.png)

### Ste

[2022-01-29 13:19] gave92 commented on #8009
Could you check what happens in settings if you click "edit terminals" and make any change to the file that open?

[2022-01-29 13:23] CrypticVader commented on #8009
I tried changing the file and then restarted the app, still the same.

[2022-01-29 13:29] PavelDobCZ23 commented on #3834
WinRar, Change File Extension and Windows Defender icons are missing.
Windows Explorer:
![image](https://user-images.githubusercontent.com/62188082/151662880-8db2dda0-b027-47fb-9efc-c89bc06b7996.png)
Files:
![image](https://user-images.githubusercontent.com/62188082/151662888-7ec06922-bd80-422c-aa1c-783dac413c9f.png)

[2022-01-29 13:31] CrypticVader opened #8011 "Empty context menu"
### Description

When right-clicking any empty space, the context menu that opens is empty.
![image](https://user-images.githubusercontent.com/61494838/151663023-98eb69fa-3f16-4ef5-9e0f-ef9a42c3a425.png)

### Steps To Reproduce

1. Open any folder/drive
2. Right-click on empty space.

### Expected behavior

A context menu with all options should be displayed.

### Files Version

v2.1.4.0

### Wind

[2022-01-29 13:37] CrypticVader opened #8012 "Add progress ring when loading custom themes in the settings dialog"
### Description

Custom themes are missing after the latest update.
![image](https://user-images.githubusercontent.com/61494838/151663145-72de129b-acf0-42ea-804e-4adec314afe6.png)

### Steps To Reproduce

1. Open settings.
2. Click on "Custom themes"

### Expected behavior

Show the available custom themes.

### Files Version

Version: 2.1.4.0 OS Version: 10.0.22000.469

### Windows Version

Windo

[2022-01-29 14:46] gave92 commented on #7958
Were you selecting more than one folder?

[2022-01-29 17:52] kart1ka opened #8017 "Error while opening the properties of files and folders"
### Description

An error occurs while opening the **properties of file/folder** in Windows 11. When I try to open the properties of some file/folder the dialog box opens but **it (dialog box) then freezes** and **nothing is displayed** on the dialog box.

### Steps To Reproduce

_No response_

### Expected behavior

I expect the dialog box to open as it does in the native file explorer app in win

[2022-01-29 18:03] Haitham-7 opened #8018 "Problem when changing the layout"
### Description

When changing a file's layout to small icons or tiles, sometimes a black square appears behind random Icons, here is an example:

### **Details layout**
![Details_layout](https://user-images.githubusercontent.com/98659384/151671625-c3760ba6-5734-421c-bd70-92e69e80c2d5.png)

### **Changing to tiles layout:**
![Tiles_Layout](https://user-images.githubusercontent.com/98659384/1516716

[2022-01-29 18:14] ScottRButler commented on #7626
I came here looking for this exact question. I just reinstalled Files, turned the setting off, and uninstalled it. That fixed it for me.
The reason I installed it was I couldn't map a network drive. I will look through here for the answer in a bit but if you happen to know off the top of your head where the answer is can you point me that way.? Thanks much. OH, I was using the store version.

[2022-01-29 18:57] wiktorderelf opened #8019 "Application hangs when attempting to add a network drive"
### Description

Exactly as the title says

### Steps To Reproduce

1. Call **_Map Network Drive_** window from menu besides drives list in _Home_ screen. (See screenshot)
2. Go through the window, select drive letter, address etc. and click _Finish_

### Expected behavior

Login/password dialog is expected. Instead, the application doesn't respond to any clicking as well as the window cannot be m

[2022-01-29 19:09] #8004 closed

[2022-01-29 19:09] d2dyno1 commented on #8004
Resolved with #8010

[2022-01-29 19:16] gave92 commented on #8017
Are you sure it freezes? It looks like the text is white