[2021-03-31 23:42] #4404 closed

[2021-04-01 00:35] yaichenbaum opened #4405 "[Enhancement] Implement color icons on the drives widget"

[2021-04-01 02:43] #2342 closed

[2021-04-01 03:50] mdtauk commented on #4396
I don't think the headings being alongside the values is a good use of the narrow space.

![image](https://user-images.githubusercontent.com/7389110/113241043-c9eddc00-92a5-11eb-82b2-f6eb67624f9b.png)

Stacking them, with different font colours and sizes would be a better heirachy and fit in the narrow scrollable view better

[2021-04-01 06:00] Hounsvad commented on #4127
The same occurs when I launch files from powershell or cmd, under the name files.
It does not occur if an instance of files is already running.

[2021-04-01 06:45] shuohao opened #4407 "lost folder"
lost the folder, see the screenshot
**System Information**
 - OS Version: Windows 10 21H1 19043.899
 - App version: 1.5.2.0

<img width="723" alt="微信截图_20210401144136" src="https://user-images.githubusercontent.com/4637107/113254106-bfa8fd80-92f8-11eb-819c-e57e123c321a.png">

[2021-04-01 09:05] SlimShadys commented on #4391
I don't know if this is relevant, but I tried your 3 steps above and it seems to be working well.
As soon as I switched to Details View > Closed Files > Reopened Files, I went to my personal folder (containing lots of folders / fiels) and it immediately crashed. Went back to GridView and everything was okay.

[2021-04-01 09:16] SiRo24 opened #4408 "File counter"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.txt and d

[2021-04-01 12:39] ahmednrana commented on #2998
This is much need feature

[2021-04-01 12:41] generalguy41 commented on #4408
Same as #4281?

[2021-04-01 12:43] lettucemarcvel opened #4410 "Create a new file does not create the correct extension file."
**Explain the bug**
Create a new Word Document, so in any location that you want, inside your folders, righ click in one free space and then select NEW and select Microsoft Word Document, a pop-up window comes to type the new name. The file is created but not extension .docx, so when you double click in the file appears the option to select what app use to open the file (this window selector does

[2021-04-01 13:45] yaichenbaum commented on #4410
@winston-de This issue is resolved in `main`, right?

[2021-04-01 14:15] SiRo24 commented on #4408
Similar, my counter shows the true number in Detail View, but not in all the other ones, it only corrects itself when I press F5.

[2021-04-01 15:01] #3540 closed

[2021-04-01 15:04] yaichenbaum commented on #3540
@pafase This issue should be resolved with #4409.

[2021-04-01 15:15] XPoppyX opened #4412 "Context menu: Add tooltips for flyout command bar buttons"
They should have a tooltip so that the user is sure what each button does, even if the icon is obvious.

![Captura de pantalla 2021-04-01 103314](https://user-images.githubusercontent.com/61259627/113310612-6cbe4e80-92d6-11eb-8d11-a40f36ede083.png)

[2021-04-01 15:33] yaichenbaum commented on #4412
@XPoppyX You beat me to this issue, I was just about to open it 😂.

[2021-04-01 15:34] cinqmilleans commented on #4369
Hello, I can fix it if the team assigns me this bug.

[2021-04-01 16:23] winston-de commented on #4410
@yaichenbaum Yes.

[2021-04-01 17:06] winston-de commented on #4412
I could have sworn the CommandBarFlyout was supposed to do this automatically based on the item label.

[2021-04-01 18:13] #4412 closed

[2021-04-01 18:13] yaichenbaum commented on #4410
@lettucemarcvel This issue will be resolved in the next update to the Store.

[2021-04-01 18:13] #4410 closed

[2021-04-01 18:23] hannta commented on #4391
Im having similar issue. Files crashes when I open my home folder if details view layout mode is selected.

I have only around 20 files and folders on my home folder.

[2021-04-01 18:41] winston-de commented on #4396
The main issue I can foresee with stacking them is that there are vertical space constraints as well, especially when the preview pane is in a horizontal layout, so less information would be visible without scrolling.
Perhaps they could be shown stacked when the pane is narrowed, and side by side when there is more horizontal space?

[2021-04-01 18:52] #4115 closed

[2021-04-01 20:55] DHCross opened #4415 "I'd love to see Quick Access in this app"
Got it.

**Is your feature request related to a problem?**
No problem.

**Describe the solution**
I would just like to see the Quick Access in your app.

**Describe alternatives you've considered**
I can't think of anything else.

[2021-04-01 21:27] yaichenbaum commented on #4415
@DHCross Can you explain what you mean by Quick Access?

[2021-04-01 21:28] DHCross commented on #4415
![quickaccess](https://user-images.githubusercontent.com/45954119/113356075-58467a00-9307-11eb-9274-b3642179a83b.png)

[2021-04-01 21:29] yaichenbaum commented on #4415
@DHCross You should already be able to pin things to the favorites section.

[2021-04-01 21:32] #4415 closed

[2021-04-01 23:47] osieltorres opened #4417 "App crashes inmediately after clean install while enabling dual pane view"
**Explain the bug**
After a clean install of the application, enabling "dual pane view" option on Multitasking settings by first time, will make the application to crash inmediately.

**To reproduce**
1. Open the 'application' after clean install or after reset app data through windows settings.
2. Click on 'Settings'
3. Go to 'Multitasking' setting and click 'Enable dual pane view'
4. The applica

[2021-04-02 00:26] yaichenbaum commented on #4417
@osieltorres This issue should be resolved in `main`.

[2021-04-02 00:26] #4417 closed

[2021-04-02 02:06] mdtauk commented on #4396
I'm in support of having it reflow as you resize, but the font sizes and colours can still distinguish headers from values

[2021-04-02 07:45] tkarika opened #4420 "Add NextCloud folder to cloud storages"
**Is your feature request related to a problem?**
My NextCloud folder is not listed in the Cloud Storages section.

**Describe the solution**
It would be nice, if along OneDrive and Google Drive, my NextCloud folder would be listed in the Cloud Storages section. I didn't find any way to add it manually either.

**Describe alternatives you've considered**
Currently I just added the folder to the fa

[2021-04-02 08:23] Jaiganeshkumaran commented on #3116
Instead of those monochrome icons, we should use the official logo of the service

[2021-04-02 08:26] Jaiganeshkumaran commented on #4343
Windows 10 Anniversary Update and later provides a way to disable max path limitations which allows you to work with larger paths. Could you enable that?

[2021-04-02 08:32] Jaiganeshkumaran opened #4421 "Share charm doesn't use the right theme when the app uses a different theme"
**Explain the bug**
Write a clear description of what the bug is.
When the app theme is different from the system theme, it uses the system theme instead of the app theme.

**To reproduce**
1. Go to folder
2. Right click on a file or folder and click Share
4. See the error

**Expected behavior**
Write a clear description of what you expected.
The share flyout should use the same theme as the app t

[2021-04-02 08:34] R3voA3 commented on #4396
I like @mdtauk's version more. Looks way more modern. And it will solve the issue with values being cut-off most of the time.

[2021-04-02 08:41] Jaiganeshkumaran opened #4422 "Context menu issue with list view"
**Explain the bug**
When opening the context menu via the keyboard, in list view mode the selection gets cleared and also the context menu appears on the top of the data grid itself as opposed to top/bottom of the selected item. This issue is specific to the list view layout mode and doesn't exist in other layout modes.

**To reproduce**
1. Go to a folder and use the list view layout mode
2. Selec

[2021-04-02 09:06] gave92 commented on #4422
Also #2609

[2021-04-02 13:52] #4422 closed

[2021-04-02 13:54] yaichenbaum commented on #4420
Merging with #1245.

[2021-04-02 14:28] tkarika commented on #4420
Isn't it a different issue though? I see the folder in the file list, but I don't see it in the sidebar.

[2021-04-02 16:33] XPoppyX opened #4425 "Crash when trying to rename an item"
1- Right click on an item
2- Click on "Rename"
3- The app crashes

![crash](https://user-images.githubusercontent.com/61259627/113434640-56d08c80-93af-11eb-96fb-afb259b086a5.gif)

Log:
`2021-04-02 12:28:26.2889|ERROR|Files.App|Object reference not set to an instance of an object.|System.NullReferenceException: Object reference not set to an instance of an object.
   at Files.Views.LayoutModes.Grid

[2021-04-02 16:41] winston-de commented on #4396
@R3voA3

Both of these requests can be implemented.

The address bar does not show the full item path. The idea of adding the path was to make it easy to view and copy part of or the full item path, which is useful if you are, to name one example, adding relative path references to files in a c# project.

[2021-04-02 16:55] CarlosRivera4726 opened #4426 "Option for change icons"
Hi, I want them to place an option to be able to change the icons of the file explorer like you call it Files. thanks obviously with one size predefined.

[2021-04-02 17:28] TyJOrtiz commented on #4425
This is an issue i raised (#4268) @winston-de @yaichenbaum @d2dyno1

[2021-04-02 17:31] #4426 closed

[2021-04-02 17:31] gave92 commented on #4426
Merging with #1015

[2021-04-02 17:32] #4425 closed

[2021-04-02 17:32] gave92 commented on #4425
Merging with #4228

[2021-04-02 18:26] yaichenbaum commented on #4421
@Jaiganeshkumaran This issue should be resolved with #4427.

[2021-04-02 18:26] #4421 closed

[2021-04-02 19:41] tsvietOK opened #4428 "Crash when trying to delete library folder."
**Explain the bug**
Crash when trying to delete library folder.
**To reproduce**
1. Go to Home tab
2. Create new library.
3. Delete this new library
4. Crash

**Logfile**
[code]

**System Information**
 - OS Version: [e.g. Windows 10 20H2 19042.906]
 - App version: [e.g. v1.3.1.0]

[2021-04-02 19:54] yaichenbaum opened #4429 "Add colored icons to the drives section on the sidebar"

[2021-04-02 19:54] yaichenbaum opened #4430 "Add colored icons for recycle bin and home"

[2021-04-02 22:04] winston-de opened #4432 "Feature: Add option to sort by date taken"
**Is your feature request related to a problem?**
When viewing photos, the date created and date modified values are not an ideal method for viewing photos sorted by the most recent, as it generally will show when you imported the photo, not when it was taken.

**Describe the solution**
I think a solution to this would be to add a sort by date taken option for folders that mostly contain photos an

[2021-04-02 22:35] duke7553 commented on #4384
@TyJOrtiz Did we answer your question?

[2021-04-02 22:37] TyJOrtiz commented on #4384
Yeah

[2021-04-02 22:59] zahidislm opened #4433 "Context menu not opening after searching in directory"
**Explain the bug**
After searching for a specific file or filetype in a directory, right clicking to open context menu doesn't work after returning from the search query. Only file-specific context menu opens, not the general directory one.

**To reproduce**
1. Go to any non-empty directory.
2. Right click in directory to verify context menu pops up.
3. Click on search chip and search for any fil

[2021-04-02 23:31] R3voA3 commented on #4396
Since the path is quite long and we do not have the horizontal space in the preview pane. What about a simple *Copy Path* button which has the path as tooltip?

[2021-04-02 23:39] winston-de commented on #4396
I tried to implement aspects of both designs.
![image](https://user-images.githubusercontent.com/59544401/113461587-fe5eb680-93d1-11eb-841d-a7d0b788b8b6.png)

[2021-04-02 23:41] R3voA3 commented on #4396
The front is pretty huge isn't it?

[2021-04-02 23:41] mdtauk commented on #4396
@winston-de  you will need to add extra padding beneath the values, to make it clearer which heading goes with which value

[2021-04-02 23:53] winston-de commented on #4396
@mdtauk Updated

[2021-04-03 00:05] mdtauk commented on #4396
Looking better!

[2021-04-03 08:51] R3voA3 commented on #4396
Looks nice now!

[2021-04-03 13:04] kimlimjustin opened #4435 "Automatically generate a new name for copied folder/file if copying from the same directory"
**Is your feature request related to a problem?**
Files always ask to generate a new name or replace existing when copying folder/file even in the same directory.

**Describe the solution**
If the source and target of copying is the same, just auto-generate a name for it, for example, `Folder Name` into `Folder Name ~ Copy` instead of asking whether to generate a new name or replace existing (ofc

[2021-04-03 13:20] megaten commented on #4080
I've done the test with some other tools to change the icons color, the results are impredictable.
So the trouble is more general not specific to one tools.

[2021-04-03 13:39] gave92 commented on #4435
Merging with #3900

[2021-04-03 13:39] #4435 closed

[2021-04-03 15:27] cinqmilleans opened #4437 "Double click on MultiSelect checkbox open the item"
**Explain the bug**
Click on MultiSelect checkbox is also a click on the item. Deactivating a checkbox immediately after activating (to correct an entry error), or the opposite, is considered a double click and can open the folder/file.

**To reproduce**
1. Open a non-empty folder.
2. Select a view with multi-select.
3. Active multi-select in the selection menu.
4. Quickly double-click on a select

[2021-04-03 17:01] DeveloperWOW64 opened #4439 "Crashes when opening external drives"
**Explain the bug**
When I attempt to open a Git repository on an external drive, not only does it refuse to show it, but it also just crashes

**To reproduce**
1. Go to 'an external drive'
2. Click on 'the repos folder'
3. Scroll down to 'wait for it to load'
4. See it crash

**Expected behavior**
You would expect to see it open it fine, just like normal, but it crashes, and even when I try again

[2021-04-03 17:04] garthh opened #4440 "Nextcloud folder not displayed"
Hi,

I've 2 Nextcloud account I sync with my PC. I used official Nextcloud client.
With the classic file explorer I see them, and not with Files app.

[2021-04-03 17:31] #4440 closed

[2021-04-03 17:31] gave92 commented on #4440
#1245, #4220

[2021-04-03 17:35] gave92 commented on #4439
Thanks for this report.
- Do you get a notification when the app crashes?
- Could you try the following?
1. Turn Off "Enable individual preferences for individual directories" in Settings > Files and Folders
2. Set Tiles or GridView layout mode
3. Try to trigger the crash

[2021-04-03 17:45] DeveloperWOW64 commented on #4439
no, didn't get any notification
i. mostly works when i enable this, but stilll crashes

ii. dont thinks there's any difference

iii. here is a video of me opening it and it crashing:
[Video of Files app crashing.zip](https://github.com/files-community/Files/files/6253141/Video.of.Files.app.crashing.zip)
i'll

[2021-04-03 18:47] winston-de commented on #4437
This behavior was intentional (feature not a bug™️), so that users would still be able to navigate with multiselect enabled. However I can see how it would make more sense do do it this way.

[2021-04-03 19:55] gave92 commented on #4439
Mind trying this too?

- does it work if you disable these two settings (turn off caching) under Experimental?

![image](https://user-images.githubusercontent.com/9673091/110851026-ce2f6680-82b0-11eb-8974-599e144ff399.png)

[2021-04-04 02:30] trulko opened #4444 "Image resolution in preview pane has too many decimal places"
**Is your feature request related to a problem?**
When selecting an image and opening the Preview pane, the image resolution (both horizontal and vertical) shows a many many decimal places that overflow the pane and get cut off.

**Describe the solution**
These numbers should be rounded after a certain number of significant figures.

**Describe alternatives you've considered**
You could make it sc

[2021-04-04 07:02] kimlimjustin opened #4446 "Broken files sorting"
**Explain the bug**
I got no idea why the `rufus_files` folder always placed at the top

**To reproduce**
1. Use Rufus to flash a USB drive
2. Rufus will produce the `rufus_files` folder
3. The `rufus_files` folder will always placed at the top

**Expected behavior**
Just being sorted as it supposed to be.

**Logfile**
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6254070/de

[2021-04-04 07:25] MRZ07 opened #4447 "Support for Path Environments"
**Is your feature request related to a problem?**
Paths like  %APPDATA%\GIMP\ do not work currently

**Describe the solution**
Support for Path Environments have to be included to solve it

**Additional comment**
Version: .5.0.0

[2021-04-04 08:25] gave92 commented on #4447
Curious works fine for me so.. bug.

[2021-04-04 08:27] gave92 commented on #4446
The folder stays at the top because it's the only folder. Folders by default are always at the top of the list.
To change this you can toggle the "Sort folders together with files" option in Files settings.

[2021-04-04 08:38] kimlimjustin commented on #4446
Oh okay, thanks

[2021-04-04 14:27] kanetik commented on #4439
I've been seeing the same thing. In attempting to answer your questions, I was trying to get folders to all appear in tile or detail mode, and noticed that it was switching as I'd enter new folders. (Side note: after a crash, if you use the same folders to reproduce again, it works fine, so once it's cached, it seems to be fine.)

Anyhow, I set the "individual settings per folder" to off, and then

[2021-04-04 14:29] kanetik commented on #4439
Just found another issue which references the same discovery.
Duplicate of https://github.com/files-community/Files/issues/4304#

[2021-04-04 16:12] aelbanyard opened #4449 "One Drive Compatibility"
For me as a student who Likes to have acces to my Files from everywhere, i like to use OneDrive.
My Problem with this extremely cool App is that it does not have a funktion to add OneDrive, so if you could add this it would be extremely helpfull and cool.
Kind Regards
A future Programmer

[2021-04-04 17:29] DeveloperWOW64 commented on #4304
Can you try replacing explorer with Files and seeing if that works? (I don't exactly know how the Registry works, so tell me if that's wrong)

[2021-04-04 17:33] DeveloperWOW64 commented on #4439
No, because it crashed, then crashed again, then just kept on crashing and sometimes it would stop. I don't think caching has anything to do with it

[2021-04-04 18:16] AkazaRenn opened #4450 "New tab button disappears in a specific width"
**Explain the bug**
New tab button disappears in a specific width, for me it's the width when the tab bar sits exactly three tabs

**To reproduce**
1. Open three tabs, if you already have three, close one first
2. Resize the window to a width when the tab bar sits exactly three tabs
3. See the error

**Expected behavior**
A new tab button should be next to the tabs

**Screenshots**
![image](https:

[2021-04-04 19:33] #4446 closed

[2021-04-04 19:34] gave92 commented on #4449
Onedrive folder should be automatically added to the sidebar but the Onedrive client needs to be installed and running.

[2021-04-04 19:35] #4439 closed

[2021-04-04 19:36] gave92 commented on #4439
Merging with #4304.

[2021-04-04 22:01] HvadFanSkalJegHedde opened #4452 "Setting to replace Win+E shortcut to open Files and not Windows File Explorer"
**Is your feature request related to a problem?**
The specified feature request is not a specific problem, but it would be nice to quickly open the Files explorer instead of the Windows File Explorer when pressing Win+E.

**Describe the solution**
The solution to this would be to open the Files explorer instead of the Windows File Explorer.

**Describe alternatives you've considered**
I haven't co

[2021-04-04 22:15] DogeLord081 opened #4453 "Add an Open With... Option"
I want a feature for an Open With... when you right-click a file, kind of like the windows file explorer one because when I want to edit a photo with Photoshop, there's no option to let me open it in Photoshop. Also, dragging the image into Photoshop doesn't work either for some reason. Thanks!

[2021-04-04 22:46] emilnymann commented on #4304
Other than the aforementioned registry tweaks, I don't know of any other way of replacing Explorer with Files. It doesn't appear to be an actual neccesary step to trigger this crash, but I included it in my steps when I first wrote the issue in case it was.

[2021-04-04 23:02] winston-de commented on #4452
Thanks for opening this issue. There is already a way to do this, you can find it [here](https://files-community.github.io/docs/#/articles/configure-win-e) in the docs.

[2021-04-05 01:02] #4444 closed

[2021-04-05 01:02] yaichenbaum commented on #4444
@trulko This issue should be resolved with #4431.

[2021-04-05 01:05] yaichenbaum commented on #1550
@Jaiganeshkumaran This issue should be resolved with #4442.

[2021-04-05 01:05] #1550 closed

[2021-04-05 01:16] #4396 closed

[2021-04-05 01:24] #4449 closed

[2021-04-05 01:24] yaichenbaum commented on #4449
We need a little more information from you in order to investigate this issue, please reopen this issue once you have filled out the issue template.

[2021-04-05 01:25] #4452 closed

[2021-04-05 01:48] #4384 closed

[2021-04-05 02:34] Tobitosan opened #4454 "Fecha inesperadamente quando abre a pasta de downloads"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-05 02:43] #1346 closed

[2021-04-05 07:17] DeveloperWOW64 commented on #4282
Also related to #4439, and so all similar duplicates are merging with #4304

[2021-04-05 07:23] DeveloperWOW64 commented on #4304
It could be that you are attempting to go beneath the character limit for directories, and (I don't know, but I think) Files doesn't have access to go beneath the character limit.

[2021-04-05 10:07] emilnymann commented on #4304
The crash has been confirmed to be related to details view, as it never occurs in tile/grid view, so I don't think that's directly related.

[2021-04-05 10:07] DeveloperWOW64 commented on #4304
ok

[2021-04-05 10:10] DeveloperWOW64 commented on #4439
ok, but I don't think it is related to it being in tiles/grid mode or whatever, since it did crash when inside that mode

[2021-04-05 11:10] mafra99 opened #4457 "Selecting and deselecting items with right click does not work"
**Explain the bug**
Right-clicking to select and deselect items does not work on the main branch at the moment. With version 1.5 it works.

**To reproduce**
1. Open a folder
2. Right click any item
    Expected: item is selected
    Actual: item is selected
3. Right click another item
    Expected: new item is selected
    Actual: new item is **not** selected, item from step 2 remains selected
4.

[2021-04-05 11:16] almeidx opened #4458 "Open folder from the address bar in a new tab by clicking on the mouse wheel"
**Is your feature request related to a problem?**
N/A

**Describe the solution**
Clicking with the mouse wheel on any folder in the address bar should open it in a new tab
Similar to when you click with the mouse wheel on a normal folder.

**Describe alternatives you've considered**
N/A

**Additional comment**
N/A

[2021-04-05 11:19] mafra99 commented on #4457
I have already fixed the problem on a local branch.
Let me know if I should create a PR 😃

[2021-04-05 12:21] aelbanyard commented on #4449
It doesn't show onedrive in the sidebar and i def have the client installed. Could you explain to me who to make it appear please

[2021-04-05 13:33] CF-71 commented on #4453
Actually, the function should be available.

(Öffnen mit = Open with)

![Screenshot (9)](https://user-images.githubusercontent.com/79550364/113579010-fa29d780-9623-11eb-8ff8-bf8623674a0f.png)

[2021-04-05 13:39] #4437 closed

[2021-04-05 13:42] yaichenbaum commented on #4458
Merging with #3667.

[2021-04-05 13:42] #4458 closed

[2021-04-05 14:18] yaichenbaum commented on #4449
@aelbanyard Can you fill out the issue template so we can investigate this issue? Particularly, we need the app version, and Windows version. An upload of the log files would be helpful as well.

[2021-04-05 15:30] DogeLord081 commented on #4453
Not for photos / images

[2021-04-05 15:36] yaichenbaum commented on #4457
@mafra99 Can you open a PR?

[2021-04-05 17:52] trulko opened #4461 "Tweak sidebar padding for consistency"
**Is your feature request related to a problem?**
The sidebar in files is very nice, but there are two inconsistencies between the sidebar and right-hand pane that bother me: the sidebar header (hamburger icon and "Files" text) is not aligned with the tabs (see picture below), and the padding of sidebar items is almost-but-not-quite-the-same as padding between folder items in the right-hand-pane l

[2021-04-05 20:31] CF-71 commented on #4453
Do you have a special idea of "photo-files"? Which photo-format (file extension) do you mean in detail?

I mean by a photo-format, for example .jpg/.jpeg and .png. And these formats work.

I also use: .bmp, .gif, .tiff, .cpt (Corel-Photo), .cdr (Corel-Draw). And these also work.

[2021-04-05 21:17] d2dyno1 commented on #45
Hmmm

[2021-04-05 21:34] yaichenbaum commented on #45
@d2dyno1 Do you want to work on this? We will probably want to use 7zip or something similar to power the feature.

[2021-04-05 21:55] d2dyno1 commented on #45
@yaichenbaum This is not possible with current state of Files' codebase. I'll focus on this particular codebase first before taking any action on this feature request.

[2021-04-06 02:30] ricardo28reis opened #4464 "bug"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-06 03:07] #4464 closed

[2021-04-06 05:21] victormedica2 opened #4465 "i want to know something"
I want to know how can i make this app my predetermined files explorer app.
pls help me

[2021-04-06 05:25] #4465 closed

[2021-04-06 05:25] gave92 commented on #4465
You can follow the method explained here: https://files-community.github.io/docs/#/articles/replace-file-explorer

[2021-04-06 08:58] carlosvsilva opened #4467 "Pressing Alt while dragging and dropping file between directories should copy instead of move"
**Is your feature request related to a problem?**
When I have 2 panes open and I drag and drop a file from one pane to another Files always moves the file but sometimes I just want to copy

**Describe the solution**
When I'm dragging and dropping a file between Files panes if I press Alt when dropping Files should copy the file instead of moving.

**Describe alternatives you've considered**
I trie

[2021-04-06 09:02] carlosvsilva commented on #4364
I think a solution would be to have two tab bars, one for each side of the pane. That way, you could switch between multiple directories while keeping the two pane interface in place. Thanks

[2021-04-06 10:09] AngeloMen commented on #4355
I update to the latest Files and the issue is now solved.

Thank you very much,

Il giorno mar 30 mar 2021 alle ore 09:51 Marco Gavelli <
***@***.***> ha scritto:

--
Angelo Meneghini
Castello, 2340 - 30122 Venezia - Italia - what3words
<https://w3w.co/episodi.brevi.lati>
Tel. +39(0)418220102  Mob. 3478581269 Fax: +39(0)4181064952

[2021-04-06 11:52] #4355 closed

[2021-04-06 11:55] #4467 closed

[2021-04-06 11:55] gave92 commented on #4467
Merging with #1396

[2021-04-06 12:56] JamesIslan opened #4469 "Add a pop-up explorer mode for Files"
**Is your feature request related to a problem?**
Yes. A problem related to Windows Explorer.

**Describe the solution**
I would like Files to also support pop-up menus (such as those for selecting files in Photoshop).Files is already a standard file explorer, but when a program asks you to open a file or asks to designate a location to save a specific file, you cannot use Files instead of Windows

[2021-04-06 13:07] LorenzoSTF opened #4470 "Refreshing a folder with PDFs crashes the app"
-->

**Explanation of the bug**
If you have a folder in Documents only with PDFs which will be opened with Microsoft Edge PDF Reader and start refreshing the folder too many times very fast, Files will crash..

**To reproduce**
1. Go to 'Documents'.
2. Go to a folder full of only PDFs that will be opened with Microsoft Edge PDF Reader (Microsoft Edge PDF.
3. Click on 'Refresh' too many times in a

[2021-04-06 14:11] #4278 closed

[2021-04-06 14:14] BelowZeroLH opened #4473 "Hidden / System Files should use existing registry values from Explorer"
Why should there be SEPARATE settings for showing Hidden and System Files? This is a well-established setting in Explorer with values stored in the Registry. Pull/change existing values for universal use instead of making your own.

[2021-04-06 16:11] yaichenbaum commented on #4473
@BelowZeroLH One of the core principles of Files is that it's a modern file manager. While we technically have access to the registry, it goes against our policies as a modern app on Windows to make changes to the registry.

[2021-04-06 16:11] #4473 closed

[2021-04-06 16:13] #3395 closed

[2021-04-06 16:15] yaichenbaum commented on #3395
@oOII-J4HN-IIOo This issue should be resolved with #4411.

[2021-04-06 17:13] AngeloMen commented on #4355
Eccolo qui.
Adesso che leggo con più attenzione sembra manchi qualche file.

Grazie per la cortese e rapida risposta.

Il giorno mar 6 apr 2021 alle ore 13:52 Marco Gavelli <
***@***.***> ha scritto:

--
Angelo Meneghini
Castello, 2340 - 30122 Venezia - Italia - what3words
<https://w3w.co/episodi.brevi.lati>
Tel. +39(0)418220102  Mob. 3478581269 Fax: +39(0)4181064952

[2021-04-06 18:38] KibSquib48 opened #4475 "Files crashes on certain folders"
**Explain the bug**
When I enter certain folders, Files just crashes

**Logfile**
[debug.txt](https://github.com/files-community/Files/files/6266858/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6266859/debug_fulltrust.txt) (not sure which one i should put so i put both)

**System Information**
 - OS Version: Windows 10 20H2 19042.906
 - App version: v1.5.2.0

[2021-04-06 18:44] #4469 closed

[2021-04-06 18:44] gave92 commented on #4469
Merging with #4106. Unfortunately to my knowledge it's just not possible to do this.

[2021-04-06 18:47] gave92 commented on #4470
Is the folder in Details layout mode or Grid/Tiles mode?

[2021-04-06 18:48] #4475 closed

[2021-04-06 18:48] gave92 commented on #4475
Merging with #4304. Please also see #4304 for possible workarounds.

[2021-04-06 20:17] 00LT00 commented on #4245
Any update?

[2021-04-06 20:31] yaichenbaum commented on #4245
@00LT00 The issue has been added to the backlog.

[2021-04-06 21:38] dgodfather opened #4477 "Mapped Drives have wrong label"
Mapped Drives show up as "Data" and not the name of the drive as listed in File Explorer.

https://postimg.cc/mczwZCJz

[2021-04-07 00:20] gdstuart opened #4479 "Adding Attributes (e.g Rating) to details view"
Requesting the ability to add attributes, particularly a "Rating" column which can be used to assign Ratings to individual files (recipes, movies, etc.).

**Is your feature request related to a problem?**
This is not a problem, just a request.  I did not find the ability to add any additional attributes to the Files app.

**Describe the solution**
A Ratings attribute would be populated either as f

[2021-04-07 00:56] #4334 closed

[2021-04-07 01:27] yaichenbaum commented on #4116
@winston-de Since there are only a couple widgets right now, I ended up using that design, thanks for the idea!

[2021-04-07 02:50] yaichenbaum commented on #3869
@d2dyno1 Do you want to work on this?

[2021-04-07 02:51] #4429 closed

[2021-04-07 02:51] #4405 closed

[2021-04-07 04:17] gave92 commented on #4477
Files version? Could you post the log files?

[2021-04-07 04:20] gave92 commented on #4479
If you open a file properties you should be able to set a rating. This request is about to add the rating column to the details file list correct?

[2021-04-07 11:51] crashmit opened #4485 "Remove the "Cloud Storage" menu item, when there are no cloud storage services"
**Is your feature request related to a problem?**
This is a minor request, I uninstalled OneDrive and use Google Drive FS which creates a virtual drive for the files. Hence I don't have any cloud storage services in the corresponding menu item.

![image](https://user-images.githubusercontent.com/58466626/113862187-63d2ee80-97a8-11eb-9059-9db1f20f9b6f.png)

**Describe the solution**
It would be nic

[2021-04-07 12:04] crashmit opened #4486 "Changing Layout Mode to List crashes Files"
**Explain the bug**
I just changed the layout mode of a folder to "List". This crashed Files and continues to do so, when I navigate to this folder. I tried "changing" from List to List (so no change at all) and this also caused this behaviour. This only happens in my virtual drive created by "Google Drive FS".

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
[de

[2021-04-07 12:35] gdstuart commented on #4479
Yes.  The point is to list the property (and probably many others) on the
main display to enable sorting/filtering/ranking etc.

Thanks,

Geoff Stuart
4119 Nesco Rd.
Hammonton, NJ  08037
610-348-9590 cell

On Wed, Apr 7, 2021 at 12:20 AM Marco Gavelli ***@***.***>
wrote:

[2021-04-07 12:59] dgodfather commented on #4477
V 1.3.0.0,
[debug.zip](https://github.com/files-community/Files/files/6271731/debug.zip)

[2021-04-07 13:04] WeeJeePee opened #4487 "Some .dll file properties are not visible"
**Is your feature request related to a problem?**
I would like to suggest a feature that Files is lacking over the default file explorer.
Can't see quick info when hovering a .DLL file like in the built-in file explorer nor is all info visible when viewing properties. I would love to use Files as my default but little things like this unfortunately keep it from being my default file manager as it

[2021-04-07 13:35] FernandoConsentino opened #4488 "Files are shown but in 1 second they simply desappear"
It works well in all my drives, but when I go to "google drive", then "my drive", I can see the files in it. But in less than 1 second, the central panel make a "refresh" and the files are gone. I see just a blank screen.

**To reproduce**
1. Go to 'google drive'
2. Click on 'me drive'
3. The files are there, but in less than 1 second the central panel makes a "refresh"
4. So the files are gone an

[2021-04-07 14:03] short-int-happiness-0 opened #4489 "The hours (duration, when present) are not displayed in the preview pane on the right."
**Explain the bug**
The hours (duration, when present) are not displayed in the preview pane on the right. However, they are displayed correctly on the "miniplayer" at the top of this pane.

**Screenshots**
![image](https://user-images.githubusercontent.com/49497386/113879325-b0272a00-97ba-11eb-82e1-e92553faaacb.png)

**System Information**
 - OS Version: Edizione	Windows 10 Home

[2021-04-07 14:55] marcelovai opened #4490 "locking"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-07 15:25] christubuntu opened #4491 "Error "App Installer failed to install package dependencies. Ask the developer for package" when installing the Msixbundle"
When I try the app (Mxbundle), the app tries to install some dependencies and stalls. I get error "FApp Installer failed to install package dependencies. Ask the developer for  package".
I'm connected to the Internet when trying to install.
I cant post logs since the app isn't even installing.
OS version= Windows 10 20H2 (Os build 19042-508)
App version = Files-1.5.Msixbundle
https://imgur.com/r38

[2021-04-07 16:12] Yuhtin opened #4492 "Add the option to open the themes folder directly from settings"
**Describe the solution**
A button named 'Open in folder' on right of button to select Color schema
![image](https://media.discordapp.net/attachments/728068076289130547/829386237122576384/unknown.png)

**Why add this**
Make more easy to open the app themes folder

[2021-04-07 16:14] merwie commented on #4492
or maybe make a gui to submit themes and download themes in the app? I think I heard them discussing that

[2021-04-07 16:16] yaichenbaum commented on #4491
The msix installer will only work if you have the correct dependencies installed, you can use this installer to install Files https://files-community.github.io/package.github.io/Files.Package/Files.Package.appinstaller.

[2021-04-07 16:16] #4491 closed

[2021-04-07 16:16] #4490 closed

[2021-04-07 16:16] Yuhtin commented on #4492
make a gui to drag and drop themes and select one, appears more userfriendly, but, for now, one button to open folder is a better and more faster solution

[2021-04-07 16:56] winston-de commented on #4492
This is a great idea!

[2021-04-07 17:04] winston-de commented on #4489
Thanks for opening this issue. This has been fixed in #4431, and will be rolled out in the next update.

[2021-04-07 17:04] #4489 closed

[2021-04-07 17:34] BlackBeltPanda opened #4494 "Can't double-click to open images"
**Explain the bug**
When double-clicking to open an image, nothing happens. I can open the image by right-clicking and choosing "Open With", however.

**To reproduce**
1. Double-click on an image
2. Nothing happens.

**Expected behavior**
Double-clicking an image should open it.

**Logfile**
[debug.txt](https://github.com/files-community/Files/files/6273491/debug.txt)

**System Information**
 - OS

[2021-04-07 17:35] XPoppyX commented on #4492
It would be even better to have a color picker ui, much easier to edit colors. Would it be a lot of work?

![RegionBasePrimary_Properties](https://user-images.githubusercontent.com/61259627/113908523-a692c780-97a4-11eb-9307-01e516bce98b.png)

[2021-04-07 17:47] #4485 closed

[2021-04-07 17:47] gave92 commented on #4485
Merging with #3912

[2021-04-07 17:48] BlackBeltPanda opened #4495 "Scroll with middle mouse click"
**Describe the solution**
Clicking the middle mouse button should toggle scroll mode, like how it works in a web browser. This would make navigating large directories a bit easier, IMO.

[2021-04-07 17:50] gave92 commented on #4486
Thanks for this report. The only way to fix this for now is to create a new folder and copy the contents over.

[2021-04-07 18:01] BlackBeltPanda opened #4496 "Extremely slow opening context menu"
**Explain the bug**
When opening a directory, right-clicking takes a couple seconds for the context menu to load.

**To reproduce**
1. Open directory
2. Right-click to open context menu
3. Context menu takes a couple seconds to appear

**Expected behavior**
Context menu should have no delay.

**Logfile**
[debug (1).txt](https://github.com/files-community/Files/files/6273605/debug.1.txt)

**Screens

[2021-04-07 18:02] stevenbrix opened #4497 "After renaming/editing files in WSL I need to manually refresh Files"
**Explain the bug**
When I make a change to a file in my WSL instance (say, do a rename or copy/paste) it doesn't look like anything happened. I have to refresh the view to see the changes take effect.

**To reproduce**
1. Go to any file in a WSL distro
2. Right click and select "Rename" and rename the file
3. See that the filename hasn't changed

**Expected behavior**
I would expect to see the ch

[2021-04-07 18:16] Yuhtin commented on #4492
Yeah, this is better

[2021-04-07 18:38] #4496 closed

[2021-04-07 18:38] gave92 commented on #4496
Merging with #2527

[2021-04-07 18:39] #4497 closed

[2021-04-07 18:39] gave92 commented on #4497
Merging with #2542.

[2021-04-07 19:27] yaichenbaum commented on #4492
@Yuhtin This issue should be resolved with #4498.

[2021-04-07 19:28] #4492 closed

[2021-04-07 22:51] baldaiacharles opened #4500 "set lateral menu to always open in reduced mode"
Every time I open files, I have to click on the upper left for it to go from expanded lateral menu to small, it would be nice to configure it to always open the way I prefer it.

this is what e mean to expanded
![image](https://user-images.githubusercontent.com/70418775/113944210-8d0c7280-97da-11eb-8174-a9a577733d3c.png)

and this is small
![image](https://user-images.githubusercontent.com/7041877

[2021-04-08 00:02] yaichenbaum commented on #4500
@nvi9 Can you see if this issue is resolved in `main`?

[2021-04-08 05:10] duke7553 commented on #2896
![image](https://user-images.githubusercontent.com/20365014/113971498-e5596980-9806-11eb-909b-9f722fada258.png)
UI is very unfinished right now, but I'm planning to finish something like this which allows for getting values from desktop.ini and setting custom icons from a dll or ico file.

This feature will also include an easy way to restore the default icon.

[2021-04-08 08:45] christubuntu commented on #4491
I was able to fix this issue by updating some dependencies on the ms store.

[2021-04-08 09:40] dylumian opened #4505 "BUG report"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-08 09:41] #4505 closed

[2021-04-08 09:45] meowish opened #4506 "Opening new tab should keep you on current tab"
**Describe the solution**
Opening a new tab should not automatically move you to the new tab, and should keep you on the current one.

[2021-04-08 09:58] meowish opened #4507 "Have files as the default windows file explorer"
**Is your feature request related to a problem?**
Opening desktop folders does not use Files, would like to have Files as the default windows file explorer.

**Describe the solution**
Add the ability to have Files as the default windows explorer.
Files should automatically open folders on the computer.
Files should be automatically used by software that use windows explorer.

**Describe alternativ

[2021-04-08 10:02] #4507 closed

[2021-04-08 10:02] gave92 commented on #4507
You can follow the method explained here: https://files-community.github.io/docs/#/articles/replace-file-explorer

[2021-04-08 10:08] meowish commented on #4507
Thank you very much!

[2021-04-08 11:02] emzy07 commented on #4447
It works now after a reinstallation, I also encountered that "%APPDATA%\GIMP\ " (with a whitespace on the end) will lead to a NotAFolder error. Maybe we could trim the path before executing.

[2021-04-08 13:51] yaichenbaum commented on #4491
Thanks for the update!

[2021-04-08 14:55] Weishaar88 opened #4508 "Network Shortcuts"
**Explain the bug**
Files does not show network shortcuts. I have a folder that has shortcuts to the different projects on our server that I manage. When I open the shortcuts folder in Files, it is empty. In windows explorer, the shortcuts are present and functional.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
When I open my

[2021-04-08 15:25] cinqmilleans commented on #4506
I agree. I can take care of the community accept this change.

[2021-04-08 15:39] cinqmilleans opened #4510 "Action New Tab always available"
**Is your feature request related to a problem?**
The middle click opens files and folders in a new tab. It does not work for drives.
In the SideBar, the middle click opens in the current tab and not in a new tab.

**Describe the solution**
Always open in new tab with middle click.

**Additional comment**
I can implement it.

[2021-04-08 15:48] cinqmilleans opened #4511 "Use CTRL + Left click for new tab"
**Is your feature request related to a problem?**
In most software, you can open a new tab with middle click or ctrl + left click.
The second option is not available in Files.
This is however useful when the mouse does not have a middle button.

**Describe the solution**
Implement ctrl + left click to open new tab.

**Additional comment**
I can implement it.

[2021-04-08 15:58] yaichenbaum commented on #4506
@cinqmilleans That would be great! Let's continue tracking this in #2512.

[2021-04-08 15:58] #4506 closed

[2021-04-08 16:00] #4510 closed

[2021-04-08 16:03] yaichenbaum commented on #4511
@cinqmilleans That would be great!

[2021-04-08 17:00] leodan26 opened #4513 "Problema"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-08 17:03] baldaiacharles opened #4514 "when creating a new file, the .docx needs to be introduced manually"
When creating a document by right click > new > word.
![image](https://user-images.githubusercontent.com/70418775/114066993-b082fc00-9872-11eb-825b-a4a2dbb92850.png)

the documente created doesn't come with a .docx at the end of it, so it stays like this:
![image](https://user-images.githubusercontent.com/70418775/114067147-dc05e680-9872-11eb-8cfd-e01ae95042f6.png)

being needed to manually write

[2021-04-08 17:06] cinqmilleans commented on #4507
We could add a button in the settings to automatically set/unset it as a default.
Or offer a popup when opening to suggest it (yes / no / no longer ask).

[2021-04-08 17:24] winston-de commented on #4514
Thanks for opening this issue, this has been fixed in #4190.

[2021-04-08 17:24] #4514 closed

[2021-04-08 18:34] gave92 commented on #4508
Is the folder containing the shortcuts inside a network share?

[2021-04-08 18:36] #4513 closed

[2021-04-08 18:40] winston-de opened #4515 "Searching in a library doesn't work"
**Explain the bug**
It seems to be trying to search in the folder where libraries are located (appdata and whatnot), and not the contents of the library itself.

**To reproduce**
1. Open a library (eg, pictures)
2. Search for anything
3. See results from the library location

**Expected behavior**
It should search the contents of the library, or be disabled if this isn't possible.

**Logfile**
Not

[2021-04-08 19:20] Xwindow367 opened #4516 "Change the timestamps accessed, modified and created + nanoseconds"
**Is your feature request related to a problem?**
Files looks very nice on my Windows 10 computer and is my default file manager. but I have not found a way to change the timestamps Accessed, Modified and Created.

For Windows Explorer there are many shell tools to get this function. But for Files I have not found anything.

**Describe the solution**
When I go to a folder or file info in Files, th

[2021-04-08 19:52] lettucemarcvel opened #4518 "Trying to move a file of a location, that it's already open, does not show and message."
**Explain the bug**
If you try to move a file of location in your computer (commonly I use cut and paste), but that file is already open it and you did not realize or forget that it's open it, in the new location trying to pasting the file appears and then disappear but no warning message or message telling the reason of why it's not possible to relocate.

**To reproduce**
1. Go to the location of

[2021-04-08 20:18] winston-de commented on #4516
This could be integrated into the details page of the properties dialog, which already allows for editing some file metadata.

[2021-04-08 20:53] ItaloCunhaBueno opened #4520 "Replacing an existing folder does not merge its content"
**Explain the bug**

**Expected behavior**

**System Information**

[2021-04-08 21:07] ItaloCunhaBueno opened #4521 "Clicking outside filename box when renaming a file cancels the action."
**Explain the bug**

**Expected behavior**

**System Information**

[2021-04-08 22:14] josh-65 commented on #4366
It seems it is.

[2021-04-08 22:18] josh-65 commented on #4343
That works for me but it should say that the path limit is too small as an error instead of crashing and provide guidance on how to fix it on the wiki. Better yet when the error message does show up provide a button that will increases it to max.

[2021-04-08 23:12] kiikoh commented on #4511
I agree this needs to be there, as well as middle clicking

[2021-04-09 02:43] winston-de commented on #4520
Thanks for opening this, merging with #3958

[2021-04-09 02:43] #4520 closed

[2021-04-09 02:50] winston-de commented on #4453
Thanks for opening this. As was already mentioned, this feature already exists, if it's not showing up, then it's a bug. Could you please post a screenshot of it not showing up so I can try and debug it?

[2021-04-09 08:35] MathiasMagnus opened #4524 "Launching multiple files of matching associated app"
**Is your feature request related to a problem?**
No.

**Describe the solution**
Old-school File Manager / Explorer (call it what we may) allows selecting multiple files of the same type / same associated application and "launch" them, which launches the associated app giving all files to it for opening. (I believe as a comma-separated list of paths, but I've not checked) This is mighty useful whe

[2021-04-09 09:01] nvi9 commented on #4500
@yaichenbaum I can reproduce the same in `main`.
It seems to be set by the `NavigationView` control when loading, either the setting what stores the open state was `true` or `false`:

1. this property is set to `true` by the binding on the control https://github.com/files-community/Files/blob/abde6e2adc71abdc735e80f1d7bb3f4ff2985b17/Files/UserControls/SidebarControl.xaml.cs#L55-L65
2. what updates

[2021-04-09 10:23] Terepin commented on #2509
This is the only thing that is preventing me from switching.

[2021-04-09 11:42] Entreri86 opened #4525 "Pressing F5 to update the folder crashes the app"
**Explain the bug**
Adding some files and after fill them with some values updating the UI the app crashes.

**To reproduce**
1. Add some files to a folder (for example some txt files)
2. After insert some values on the files ,save the files.
3. Close the files.
4. After all this press F5 key.

**Expected behavior**
Update the bytes for the files.

**Logfile**
2021-04-09 13:04:08.7046|ERROR|.ctor|

[2021-04-09 15:36] hugo-nascimento opened #4528 "Travamentos e Fechamento Inesperado do App"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-09 15:54] josh-65 opened #4529 "Error mounting Hyper-V drive"
**Explain the bug**
When I try to mount a Hyper-V virtual disk get an error mounting message.

**To reproduce**
1. Go to Hyper-V virtual disk
2. Right click
3. Click mount
4. Give admin privileges
5. Hear error sound

**Expected behaviour**
It should show up as a normal drive

**Logfile**
[debug.txt](https://github.com/files-community/Files/files/6287007/debug.txt)
[debug_fulltrust.txt](https://gi

[2021-04-09 18:15] #4457 closed

[2021-04-09 18:41] mynando opened #4531 "App crashes after clicking "Ok" when viewing Desktop/Downloads/Documents in the left navigation."
**Explain the bug**
App crashes after clicking "Ok" when viewing Properties (right-click on "Desktop/Downloads/Documents" in the "Favorites" left bar.

**To reproduce**
1. Right-click on 'Desktop/Downloads/Documents'
2. Click on 'Properties'
3. Click on 'Ok'
4. See the error. App crashes and disappears.

**Expected behavior**
I expected to click "Ok" and have the app not crash.

**Logfile**
Upload

[2021-04-09 19:16] giolly0black opened #4532 "moving files"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-09 19:33] #4532 closed

[2021-04-09 19:36] #4529 closed

[2021-04-09 19:36] gave92 commented on #4529
Merging with #3490

[2021-04-10 00:00] josh-65 commented on #4246
Not sure how it wold be confusing for users it just hiding functionality. Since there is also a public themes repository it a simple of putting a file in the themes folder if users knew it was there.

[2021-04-10 00:05] josh-65 opened #4533 "Colour schemes are not working"
**Explain the bug**
When I try colour schemes from the themes repository they don't change anything when I apply and restart the app. The restart message also shows it as a language change.

**Expected behaviour**
The colour scheme is apply and changes the look of the app,

**Logfile**
[debug.txt](https://github.com/files-community/Files/files/6288937/debug.txt)
[debug_fulltrust.txt](https://githu

[2021-04-10 00:21] josh-65 opened #4534 "Add folder sizes in types bar"
**Describe the solution**
It should display the size like normal files.

**Additional comment**
![image](https://user-images.githubusercontent.com/26977075/114251979-fdfa8880-999a-11eb-9d0b-a3f5d2c680f3.png)

[2021-04-10 05:47] winston-de commented on #4534
Thanks for opening this issue, merging with #3944

[2021-04-10 05:47] #4534 closed

[2021-04-10 08:02] kimlimjustin opened #4535 "[Feature Request] Option for App theme: Scheduled Change between Light and Dark themes"
**Describe the solution**
Inspired by Zorin OS Appearance, it'd be nice if there's a scheduled switching between themes option, which is described as follows:
- From Sunrise to Sunset (around 6:30 am to 6:30 pm), Files use the Light theme
- From Sunset to Sunrise (around 6:30 pm to 6:30 am), Files use the Dark theme

**Describe alternatives you've considered**
User input the time which Files use L

[2021-04-10 10:10] gave92 commented on #4535
I think any method to change the windows theme (e.g. [this](https://www.windowscentral.com/how-automatically-switch-dark-mode-night-time-windows-10) affects Files as well. I'm not sure about having a separate option just for Files.

[2021-04-10 11:08] LuanRoger commented on #4402
Fixed in #4416

[2021-04-10 11:08] #4402 closed

[2021-04-10 12:10] SOI7 commented on #4535
Yup, that's what I use

[2021-04-10 12:26] kimlimjustin commented on #4535
I know this method but for other users who only need this option for Files, it might very bothering.  If Files implement this separately, it would be better tho :) Just my two cents.

[2021-04-10 13:31] AhmadHddad opened #4537 "Have an option to show tasks (delete or copy) in native windows instead of integrated tasks"
It would really help if I can choose between integrated tasks or default windows or even any other copying program I choose.
In my case, I am using TeraCopy, and I can't use it while using Files,

Please consider this feature.

[2021-04-10 16:02] josh-65 opened #4540 "Improving the logic for auto changing the layout mode"
**Is your feature request related to a problem?**
The layout mode will change from detail view to tiles randomly in folder. There is not pattern i can see it will randomly change it when I open a folder.

**Describe the solution**
Fix the issue where it's randomly changing the layout mode.

**Additional comment**
Logs in case they can be used to fix how layouts will change automatically.
[debug_fu

[2021-04-10 16:52] notgarette commented on #2208
Fixed on the latest version -- thanks!

[2021-04-10 16:52] #2208 closed

[2021-04-10 16:56] VOOM108 commented on #4151
I can d&d files from Files to a desktop app only, if more than one file is selected and I press Ctrl. after starting to drag until releasing. I found no way to drag a single file into those apps. Also if I start to press Ctrl. before I start to drag, it does not even work with several files. "Open with" would not help because this is about dragging files to an email in Outlook (open with would sta

[2021-04-10 19:29] cinqmilleans commented on #4506
yaichenbaum, meowish and myself wished it in issue # 4506. Most software with tabs works this way, so it's more intuitive for the user. If we need the folder right away, we open it in the current tab. If it's for later, you open it in a pending tab. You can open multiple subfolders in tabs easily.

[2021-04-10 21:37] va-it opened #4542 "Tab controls overlay window minimise, maximise and close."
**Explain the bug**
At a certain width, selecting the first of two open tabs causes the tabs to expand to the full width, and the tab controls overlay the window minimise, maximise and close buttons.

**Screenshots**
Correct behaviour when second tab is selected:
![image](https://user-images.githubusercontent.com/46725213/114285098-6190be80-9a4c-11eb-81da-1e19732bc44b.png)

Wrong behaviour when fi

[2021-04-11 00:52] Darth-Idimmu opened #4543 "close..."
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-11 01:15] yaichenbaum commented on #2208
@notgarette Thanks for the update!

[2021-04-11 01:29] #4543 closed

[2021-04-11 01:30] yaichenbaum commented on #4540
We are working on improving this feature, can you provide details of what kinds of items were in the folders that unexpectedly change layout modes?
Fyi @d2dyno1

[2021-04-11 01:32] yaichenbaum commented on #4537
We don't have plans to make this change however, if there are any ways you think we can improve the copy/detete experience, please let us know in seperate issues 🙂

[2021-04-11 01:32] #4537 closed

[2021-04-11 01:34] yaichenbaum commented on #4535
@kimlimjustin Can you provide your use case where you would only want this for Files vs the whole system?

[2021-04-11 01:35] yaichenbaum commented on #4533
@josh-65 Some themes only have brushes for light or dark mode, can you see if switching the theme solves the issue?

[2021-04-11 01:42] yaichenbaum commented on #4246
@josh-65 The settings in Files should work as is, an empty combo box isn't something that works out of the box. Adding a link can help teach the user how to use the feature, but it's not something that we can show by default until the setting works out of the box. We don't have much to share right now, but we are looking into the possibility of including a couple themes by default and providing an

[2021-04-11 02:04] josh-65 commented on #4540
It quite random most of the time mostly exe, dll and folders only directorys.

[2021-04-11 02:06] josh-65 commented on #4533
i have try multiple themes file in both light and dark mode I don't see any change however I'm not sure what there support to change to look.

[2021-04-11 02:31] yaichenbaum commented on #4533
@josh-65 Which themes did you try?

[2021-04-11 03:30] #4287 closed

[2021-04-11 03:32] #4453 closed

[2021-04-11 05:22] GiornoJJ opened #4544 "Crash while doing specific things"
I will get straight to the point. I was deleting 31 videos of a total size of around 15gb and right after deleting I got a notification that the app crashed due to an unknown issue or something of that sort. Another instance was keeping the app idle, after around 20 mins of the app being idle it stops responding and crashes soon after

App version - 1.5.0.0

[2021-04-11 05:53] kimlimjustin commented on #4535
Both Light theme and Dark theme in Files looks good, However, if you make this in the whole system, it will also affects some other applications (which are only looks good in single theme, dark theme for instance) tho... Anyway, this is just my suggestion...

[2021-04-11 06:09] Guardian820 opened #4545 "Perfomance problems"
**Files has a heavy perfomance problem:**
When you have so many archives in a folder, you already had a problem because these archives take some long time (is a heavy process) to be read, the navigation and preview of these archives is perfect, but the selection between one archive and other archive is like the application go to crash.

**To reproduce**
1. Create a folder with 10,000 archives insi

[2021-04-11 07:16] gave92 commented on #4544
@GiornoJJ thanks for the report. Please upload the debug files.

[2021-04-11 07:52] GiornoJJ commented on #4544
[debug.txt](https://github.com/files-community/Files/files/6291357/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6291358/debug_fulltrust.txt)

Are these the files?

[2021-04-11 08:27] d2dyno1 commented on #4540
@yaichenbaum we could add an option to disable Adaptive Layout

[2021-04-11 11:08] militaryCoder opened #4546 "Files window is not maximized from taskbar after setting background image from MS Photos app"
### Bug Explanation

After changing background image while Files application is open (especially through MS Photos application), if it was hidden it stops opening from taskbar.

### Steps to reproduce

1. Open Files app.
2. Open any image through MS Photos application and set image up as background image.
3. Minimize Files window to taskbar.
4. Try to open it again by clicking it's taskbar shortcu

[2021-04-11 11:09] danielUCM opened #4547 "keyboard shortcut: select All Files in Directory"
**Is your feature request related to a problem?**
In Windows File Explorer, all files in a directory are selected with the keyboard shortcut: SHIFT + END.
In Files: SHIFT + CTRL + END

**solution**
Both alternatives would be fine.

**Additional comment**

![selectAllFiles](https://user-images.githubusercontent.com/45082598/114301896-f6d09900-9ac6-11eb-80e5-50f04161ddbe.PNG)

[2021-04-11 12:51] josh-65 commented on #4533
blackpixel, discord purple, midnight, lavender

[2021-04-11 13:06] gave92 commented on #4547
Does Ctrl+A work?

[2021-04-11 13:16] yaichenbaum commented on #4540
@d2dyno1 Before doing that, we should tweak the behavior, I had this issue as well, but I think that once it's fixed, we won't need a setting.

[2021-04-11 13:21] yaichenbaum commented on #4533
@josh-65 Can you try black pixel and lavender again?

[2021-04-11 13:43] radascuta opened #4548 "Reverse Time Order of All Objects"
**Is your feature request related to a problem?**
No, this is a feature request.

**Describe the solution**
I would like a feature that sorts all objects, regardless of what they are - files, folders, etc., in time order. I use reverse time order in most cases for folder contents sorting so that the latest ones are on top.

**Describe alternatives you've considered**
On Windows, I have not seen go

[2021-04-11 13:54] josh-65 commented on #4548
if you enable in settings > File and folder > list and sort directory along side files then click on one of these ![image](https://user-images.githubusercontent.com/26977075/114306971-9432c980-9ad5-11eb-810c-2e9ad4369c97.png)
it will sort it as you want.

[2021-04-11 13:59] yaichenbaum commented on #4548
@radascuta Can you try turning on the setting to list files alongside with folders? You can find this under the files and folders settings page.

[2021-04-11 13:59] josh-65 commented on #4533
I tried them nothing changed in dark or light mode even after a restart between them.

[2021-04-11 14:04] yaichenbaum commented on #4533
@josh-65 Can you upload the theme files you tested with?

[2021-04-11 14:06] josh-65 commented on #4533
These are unmodified versions from the themes repository
[Themes.zip](https://github.com/files-community/Files/files/6291950/Themes.zip)

[2021-04-11 14:10] yaichenbaum commented on #4533
@josh-65 Can you try black pixel and lavender again (you need to download the latest version)?

[2021-04-11 14:11] josh-65 commented on #4533
where are they i downloaded them from the themes repository when you ask me to re try them

[2021-04-11 14:14] yaichenbaum commented on #2512
@tgrelka This issue should be resolved with #4549.

[2021-04-11 14:15] #2512 closed

[2021-04-11 14:16] josh-65 commented on #4533
just did it again to make sure and there's no change

[2021-04-11 14:17] yaichenbaum commented on #4533
I just realized lavender wasn't fixed at that time, can you download it again?

[2021-04-11 14:30] #4548 closed

[2021-04-11 14:30] radascuta commented on #4548
cool, thanks! It works at the top level of my OneDrive, but dropping into
subfolders makes the app close.
I'll open a bug ticket.
Radu

On Sun, Apr 11, 2021 at 9:59 AM Yair Aichenbaum ***@***.***>
wrote:

--
Radu Popescu
***
303-589-5143
***@***.***

[2021-04-11 14:30] radascuta commented on #4548
thanks, very nice.
Radu

[2021-04-11 14:34] josh-65 commented on #4533
sure can i ask what there suppose to change/look like so i know what to look for

[2021-04-11 14:42] josh-65 commented on #4533
There working now. Here a suggestion though add a override app theme option. Since the themes may only work with one and make the app look broken if not set correctly.

[2021-04-11 14:51] esibruti opened #4550 "Open a dialog, like Windows Explorer, saying to insert a disc in the player"
Is your feature request related to a problem?
R: No, it's just a feature request.

Describe the solution
R: So, my idea would be to insert a resource that exists in Windows Explorer. Currently, Files, when opening the disc player, which does not have any disc inserted, says that the folder is empty. It would be a good idea to do what Windows Explorer does: open a dialog to insert a disc and even o

[2021-04-11 14:59] #4533 closed

[2021-04-11 15:06] lettucemarcvel opened #4551 "App suddenly close when you are navigating between folders"
**Explain the bug**
Open de app go to Documents and start to navigate between my folders and the app suddenly closes. No specific action or folder.

**To reproduce**
1. Go to your documents that have saved in the C: and start to navigate.

**Expected behavior**
Do not close the app

**Logfile**

[debug_fulltrust.txt](https://github.com/files-community/Files/files/6292073/debug_fulltrust.txt)
[debu

[2021-04-11 15:24] cinqmilleans commented on #4547
No. in Windows File Explorer, Shift + end selects from current item to last item.
ctrl + a selects all items from directory.

[2021-04-11 15:27] tozzy2012 opened #4554 "Window in BackGround when Extracting zip files"
Hi. First, congratz for the awesome app!!!

Whenever you have a zip file, when you right click and click on "extract all"  (extrair tudo, in portuguese), the confirmation windows is on background. You have to go to your taskbar, bring it to the front, and then confirm the operation.

Would be awesome if you could bring that window to the front.

[2021-04-11 15:33] yaichenbaum commented on #4533
@josh-65 Moving forward, we are going to require that custom themes include brushes for all themes.

[2021-04-11 15:37] yaichenbaum commented on #4535
@kimlimjustin We'll keep this open for a discussion for now.

[2021-04-11 15:39] yaichenbaum commented on #3944
@gave92 Do you think that if we added a calculate button, that it should calculate all items, or would it be an individual option for each folder?

[2021-04-11 15:40] yaichenbaum commented on #3950
@R3voA3 Being that the user can turn on or off the widget, do you think the user will be confused if the widget doesn't show even after they turned it on?

[2021-04-11 15:44] #4185 closed

[2021-04-11 15:44] yaichenbaum commented on #4267
Merging with #100.

[2021-04-11 15:44] #4267 closed

[2021-04-11 15:47] yaichenbaum commented on #4554
@tozzy2012 Thanks for opening this issue, we are tracking it in #985. Make sure to subscribe to the issue to be notified when it's resolved.

[2021-04-11 15:47] #4554 closed

[2021-04-11 15:49] kimlimjustin commented on #4535
Okay thanks!

[2021-04-11 15:49] yaichenbaum commented on #4185
@josh-65 Should we keep this open to continue the discussion?

[2021-04-11 15:50] #4020 closed

[2021-04-11 15:52] josh-65 commented on #4185
Don't think it necessary as you said the home button going to act like a pin able thing like the others anyway

[2021-04-11 15:57] yaichenbaum commented on #4185
Sounds good, thanks!

[2021-04-11 15:59] josh-65 commented on #4008
Being fixed with #4180

[2021-04-11 15:59] #4008 closed

[2021-04-11 16:04] danielUCM commented on #4547
Very good, thanks!. I didn´t know.

Sorry, I didn´t explain myself correctly. But I think you understood what I was referring to.

For some reason CTRL+A in my windows file explorer doesn't work =(
In Files, yes =)

[2021-04-11 16:54] josh-65 commented on #3836
Not the same/duplicate

[2021-04-11 17:49] gave92 commented on #3944
@yaichenbaum I was thinking about a button that calculates size for the _selected_ folders.

[2021-04-11 17:57] gave92 commented on #4551
Probably same issue as #4304, happens more or less frequently to most users. Less likely in GridView, less likely with cache turned off.

[2021-04-11 18:07] marcio126 opened #4555 ".exe , .rar and .zip files don't open!"
_**Yesterday, April 10, 2021**_ I discovered his software Files, but today I decided to test it and realized that by double-clicking on an **.exe**, **.zip**, or **.rar** file, it just doesn't open the file! and I realized that using standard windows file explorer it opens normally.
I also already clicked with the right mouse button and then on Open, but it had the same problem, it didn't open!
I

[2021-04-11 18:29] josh-65 commented on #4555
Try re installing files. If that doesn't work upload the logs from settings > about > open logs folder.

[2021-04-11 18:33] josh-65 opened #4556 "Drive sizes are not refreshable"
**Explain the bug**
The drive amount of space free doesn't update when clicking the home button or f5 and the refresh is greyed out. I have to close and reopen files to see the current correct size.

**Expected behaviour**
The refresh function should be enabled on the home page to update the drive sizes.

**System Information**
 - OS Version: Windows 10 20H2 19042.906
 - App version: v1.5.2.0

[2021-04-11 18:52] #4556 closed

[2021-04-11 18:52] gave92 commented on #4556
Merging with #2242

[2021-04-11 18:55] NoraTheGamer opened #4557 "Google Drive Desktop App (not Backup and Sync) does not show in Cloud Storage"
**Is your feature request related to a problem?**
This is not a problem just a feature request

**Describe the solution**
I want Google Drive to show up under the cloud storage tab.

**Describe alternatives you've considered**
There is really no other alternatives

[2021-04-11 19:25] hackingguy opened #4558 "Crashes On Launching Second Time"
**Explain the bug**
On Launching App second time, got a crash, on first launch just changed some settings and everything was working perfectly fine.

**To reproduce**
1. After first launch, Everything was working fine, I just changed theme to dark mode and exited.
2. But on next launch I was on a screen like in below screenshot and got a immediate crash
3. Logs are provided below

**Expected behav

[2021-04-11 22:07] R3voA3 commented on #3950
Don't really think it would be confusing, but there is only one way to find out.

[2021-04-11 22:34] CreepyCat225 opened #4560 "Move/Copy File or Folder without Selection"
**Is your feature request related to a problem?**
Immediately trying to drag a file/folder without putting it in the "Selected" state (AKA Left-Click to make it colored) doesn't allow me to drag and drop the file/folder into another place unless I Left-Click it first then drag, in the official File Explorer app I can Immediately drag an item on top of another folder or to another app without havin

[2021-04-11 23:52] winston-de commented on #4560
Thanks for opening this, merging with #673

[2021-04-11 23:52] #4560 closed

[2021-04-12 01:31] radascuta opened #4561 "Application Shuts Down Unexpectedly and Freezes Machine"
**Explain the bug**
The app shuts down and sometimes it freezes the computer after opening a folder

**To reproduce**
1. Go to any folder
2. Click on any subfolder
3. The folder update bar runs for a while
4. The application disapears or freezes

**Expected behavior**
I expected the folders and files to open normally, not to freeze or disappear

**Logfile**
Upload the log file here for us to under

[2021-04-12 02:10] winston-de opened #4562 "Bug: Crash after saving library properties"
**Explain the bug**
Files crashes after pressing "ok" in the library properties window. However, the changes are saved.

**To reproduce**
1. Right click library widget, open properties
2. Navigate to library properties
3. Change something (eg, add folder)
4. App crashes

**Logfile**
[code]
**Screenshots**

**System Information**
 - 19043.906
 - App version: 1.5.6.0

**Additional comment**

[2021-04-12 04:04] yaichenbaum commented on #3951
This issue should be resolved in v1.5.

[2021-04-12 04:04] #3951 closed

[2021-04-12 08:45] Ni4ellas opened #4564 "Moving files from explorer to Files does not work"
** Explain the bug **
Objects are not moved by pressing the bindings ctrl + c, ctrl + x, ctrl + v.

** Expected behavior **
Moving an object.

** Logfile **
https://www.upload.ee/files/13047326/debug.zip.html

** Screenshots **
https://youtu.be/i-KjIr4ybAE

** System Information **
  - OS Version: [Windows 10 20H2 19042.746]
  - App version: [. v1.5.0.0]

** Additional comment **
The problem persi

[2021-04-12 11:48] gave92 commented on #4557
Doesn't this app add a virtual drive? It should appear in the drives section in Files

[2021-04-12 11:59] gave92 commented on #4561
Likely same as #4304. Please see there for a couple of suggestion that should reduce the issue.

[2021-04-12 12:03] gave92 commented on #4564
Does copy pasting using the context menu work?
Sometimes shortcuts do not work and closing and reopening the app a couple of times should fix it.

[2021-04-12 14:14] Jaiganeshkumaran commented on #4550
Duplicate of #1262

[2021-04-12 14:22] michelebiancucci opened #4565 "Add default layout option"
**Is your feature request related to a problem?**
no

**Describe the solution**
Add option to settings menu to choose an default layout mode for all folders.

**Describe alternatives you've considered**
-

**Additional comment**
Using Files 1.5.2.0 on Win 10 (OS Build 19042.844)

[2021-04-12 15:39] cinqmilleans commented on #4564
The copy/move does not always work with keyboard shortcuts or drag/drop.
It works with the menu. I will look to correct this.

[2021-04-12 18:01] gave92 commented on #4565
@d2dyno1 does setting a default layout make sense with the adaptive layout feature?

[2021-04-12 18:02] gave92 commented on #4565
@michelebiancucci you can set a default layout for all folder by turning off "Enable individual preferences for folders" options in Files settings

[2021-04-12 18:09] winston-de opened #4567 "Pinning libraries to the Start menu doesn't work"
**Explain the bug**
Currently, clicking "pin to start" on a library item does nothing.

**To reproduce**
1. Right click a library
2. Select "pin to start"
3. Nothing happens

**Expected behavior**
Users should be able to pin libraries to the start menu.

**Logfile**
Nothing relevant.

**Screenshots**

**System Information**
 - OS Version: [e.g. Windows 10 20H2 19042.804] (Press WIN + PAUSE/BREAK,

[2021-04-12 18:55] #4567 closed

[2021-04-12 18:56] yaichenbaum commented on #4565
@gave92 I am pretty sure the default is already the details view.

[2021-04-12 19:34] NoraTheGamer commented on #4557
It appears in the Drives tag. It normally adds itself as the G Drive named Google Drive by default. Maybe just add to cloud drives if name = Google Drive

[2021-04-12 20:06] inspiredscout opened #4571 "Drag & drop Bug"
When using the Drug And Play function, it is not possible to transfer files to third-party applications such as browser or Discord. That is, it does not work like this to send files to other people through instant messengers

[2021-04-12 20:42] BlackBeltPanda opened #4572 "New instance of FilesFullTrust.exe started every time Files is opened"
**Explain the bug**
Whenever I open Files, a new instance of FilesFullTrust.exe is created and when I close Files, the process remains running. After a few days, I had somewhere around 75-100 instances of FilesFullTrust.exe running at once, eating up a large amount of system memory.

**To reproduce**
1. Start Files
2. Close Files
3. Repeat
4. View running processes in Task Manager

**Expected beha

[2021-04-12 23:41] yaichenbaum commented on #4572
@gave92 This issue has been resolved in `main`, right?

[2021-04-12 23:41] #4565 closed

[2021-04-13 04:26] gave92 commented on #4572
@yaichenbaum yeah should be.

[2021-04-13 04:26] #4572 closed

[2021-04-13 06:53] Ni4ellas commented on #4564
in the video I clearly showed that even through the context menu moving does not work

[2021-04-13 07:26] michelebiancucci commented on #4565
Thank you. Much appreciated.

[2021-04-13 07:38] etadzeta commented on #4564
I see the same behavior (files are not moved) using keyboard bindings `ctrl + c`, `ctrl + x`, `ctrl + v`

[2021-04-13 07:38] Ni4ellas commented on #4564
I want to add that this problem occurs when transferring files inside the "Files" explorer itself"

[2021-04-13 09:11] zackBRAVE opened #4575 "Cannot paste in Files"
**Explain the bug**
Cannot paste items in Files.

**To reproduce**
1. Cut or copy items in Files
2. Paste them in Files
3. Nothing happen
4. Paste them in File Explorer or on desktop
5. Successfully pasted
6. Can undo by Ctrl-z

**Expected behavior**
Just paste them in Files.

**Logfile**
[debug.txt](https://github.com/files-community/Files/files/6302534/debug.txt)
[debug_fulltrust.txt](https://gi

[2021-04-13 09:39] KristofKekesi opened #4576 "[Feature] Middle click open in new tab (for Widgets and NavigationView)"
**Is your feature request related to a problem?**
Widgets and NavigationView buttons are not middle clickable like folders and files.

**Describe the solution**
Open in new tab when middle clicking Widgets and NavigationView buttons.

[2021-04-13 10:44] expectl3ss opened #4577 "ауе"
разрабы пидорасы
![image](https://user-images.githubusercontent.com/82428011/114540553-59a86880-9c5e-11eb-9abd-b3108cccef6a.png)

[2021-04-13 10:54] nvi9 commented on #4550
We could have both the dialog showing up in this case with a button to open the disc tray.

[2021-04-13 11:25] esibruti commented on #4550
![Concept BT 2](https://user-images.githubusercontent.com/78214358/114545004-50fe6500-9c53-11eb-8fc0-a31f4501e6f4.jpg)

This image above is a good concept of when we try to open the player when there is no disc inserted.

I even had an idea that we could make a Help button to explain that we can insert a CD / DVD or mount an ISO.

What do you think of the idea?

[2021-04-13 12:54] killerpapy opened #4578 "Perfomance problems with network repository"
**Explain the bug**
Sometimes, when i want to open network repository (\\\\app), i have an empty result or it's verry long to have a result....

**To reproduce**
1. Open Files
2. Click on 'Nav bar'
3. Go to your shared network repository '\\\\app'
4. See the error

**Logfile**
![image](https://user-images.githubusercontent.com/11554510/114555042-9e84cd00-9c67-11eb-8a98-de8e0a9dc9e5.png)
[debug.txt

[2021-04-13 13:30] #4577 closed

[2021-04-13 13:34] randellgreer opened #4579 "Files not saving default app for music files"
**Explain the bug**
Default app for FLAC files is set up for Foobar2000 in Windows 10.  When double-click on FLAC file in Windows Explorer Foobar2000 opens as expected.  When double-click on FLAC file in Files a window pops up for user to select what app to use, even after selecting Foobar2000 multiple times and clicking the "Always use this app" box.

**To reproduce**
1. Go to any folder containi

[2021-04-13 14:28] yaichenbaum commented on #4576
This issue should be resolved in `main`.

[2021-04-13 14:28] #4576 closed

[2021-04-13 14:28] #2987 closed

[2021-04-13 14:29] yaichenbaum commented on #2987
@Hefaistos68 This change has ben implmented with #4441.

[2021-04-13 15:26] WolfIcefang opened #4582 "When the preview pane is open, PDFs cannot be deleted because they are being "used by another application""
**Explain the bug**
When I try to delete a PDF while the preview pane is open, I get the error message:
"File in use"
"The file you're trying to delete is currently being used by an another application."
(side note, that's a typo, it shouldn't say "by an another", it should just say "by another"... ANYWAY! Moving on.) I do not have the PDF open anywhere else, and if I close the Preview Panel, I ca

[2021-04-13 17:10] Daninator1 commented on #655
Just a quick heads up regarding this issue, I started implementing it a while back but faced a couple of issues. At the moment I do not have much time to work on this so it would be fine if someone else would be willing to implement it. I'm unassigning myself and @yaichenbaum can move this one back to To Do again. When I'll find time again I can take another look at it as long as no one else has w

[2021-04-13 17:25] winston-de commented on #4582
Thanks for filing this issue.
Are you able to delete the PDF once it has finished loading the preview (when the loading bar at the bottom has disappeared)?

[2021-04-13 17:33] winston-de commented on #4575
Thanks for filing this issue.
Could you please test if paste does not work through the layout context menu option, through ctrl+v, or both?

[2021-04-13 17:36] zackBRAVE commented on #4575
both

[2021-04-13 17:49] winston-de commented on #4575
Thanks for this additional info. This is likely a duplicate of #3615.

[2021-04-13 17:49] #4575 closed

[2021-04-13 18:02] CreepyCat225 commented on #4571
I'd like to add that it doesn't work with Adobe applications such as Photoshop consistently, works sometimes for me but not consistent enough.

[2021-04-13 18:40] josh-65 opened #4584 "Add option to create new shortcut"
As it say above. It should just show up in the right click new option.

[2021-04-13 19:19] yaichenbaum commented on #1262
Merging with #4550.

[2021-04-13 19:19] #1262 closed

[2021-04-13 20:06] yaichenbaum commented on #4584
Thanks for opening this Josh, I am going to merge it with #2833. Keep up the great feature requests and issue reports!

[2021-04-13 20:06] #4584 closed

[2021-04-13 20:06] yaichenbaum commented on #2833
Merging with #1671.

[2021-04-13 20:06] #2833 closed

[2021-04-14 02:39] winston-de opened #4591 "Crash when opening library properties"
**Explain the bug**
For some libraries, opening the properties window will cause a crash.

**To reproduce**
1. Go to home page
2. Right click a library widget
3. See crash

alternatively

1. Right click library in sidebar
2. Open properties
3. See crash

**Expected behavior**
Properties for libraries should open normally.

**Logfile**
[code]

**Screenshots**

https://user-images.githubusercontent.

[2021-04-14 06:45] determinder opened #4593 "Crashes when selecting files with the mouse"
When I select files with the mouse, it just crashes

[2021-04-14 10:35] gave92 commented on #4593
Hello please add Files version to the description and post the log files

[2021-04-14 11:08] b7s opened #4595 "Copy and paste does not work"
When I try to copy any file, from any folder, it does not go to the clipboard. Tested with CTRL + C and with right button > copy. Consequently, it is not possible to paste.

[debug.txt](https://github.com/files-community/Files/files/6310359/debug.txt)

[2021-04-14 12:17] FilipeOcara opened #4596 "The files in list view are not opening"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-14 12:18] #4596 closed

[2021-04-14 12:29] pklion opened #4597 "Auto renaming when copying & pasting in the same directory"
**Is your feature request related to a problem?**
I use copy & paste when I duplicate files, but Files always ask me whether rename or not.

**Describe the solution**
I'd like to Files to auto rename when I copy & paste in the same directory.

**Describe alternatives you've considered**
N/A

**Additional comment**
N/A

[2021-04-14 13:36] glike1 opened #4598 "The right-click menu becomes very dark"
**The right-click menu becomes very dark **
![image](https://user-images.githubusercontent.com/70507345/114719078-4209d680-9d69-11eb-9208-e9ab13606838.png)

Thanks for watching my report !

[2021-04-14 15:05] yaichenbaum commented on #4598
@chingucoding Is there any way we can fix this, or is it a WinUI issue?

[2021-04-14 15:16] yaichenbaum opened #4600 "Code improvement: Move StatusBar control into MainPage"

[2021-04-14 15:18] yaichenbaum commented on #2896
@duke7553 This change isn't going to fix this issue unless you start loading icons from the Windows folder as well.

[2021-04-14 15:21] yaichenbaum opened #4601 "Feature request: Add option to merge folders when pasting items"

[2021-04-14 15:21] yaichenbaum commented on #3958
@banoctopus The replace existing item option is not a merge option so this is the expected behavior. We are looking at adding a merge option though. Merging with #4601.

[2021-04-14 15:21] #3958 closed

[2021-04-14 15:24] yaichenbaum commented on #3601
This feature has been approved for development. Being that it's a bit of an advanced feature, it will only show when the menu is opened while holding down the `shift` key at the same time.

[2021-04-14 15:45] winston-de commented on #4598
I remember seeing a PR that fixed this in the WinUI repo, I'll see if I can find it.

[2021-04-14 16:38] #3801 closed

[2021-04-14 16:48] chingucoding commented on #4598
@yaichenbaum @winston-de This is a theme shadow bug on light theme, that's almost certainly a WinUI issue since this has been reported/known there before.

[2021-04-14 17:44] #4597 closed

[2021-04-14 17:44] gave92 commented on #4597
Merging with #3900

[2021-04-14 17:45] gave92 commented on #4595
Files version?

[2021-04-14 19:24] #2952 closed

[2021-04-14 19:24] yaichenbaum commented on #2952
@McPwner This issue should be resolved with #4541.

[2021-04-14 20:01] yaayimanalien opened #4608 "Invalid filename on preview pane for files in recycle bin"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to 'Recycle Bin'
2. Click on 'any file'
3. Scroll down to 'Item name in preview pane'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

I expected to name to be the same as it actually is. Seems like Windows renames files if they're in recycle bin. The same invalid filen

[2021-04-14 20:12] duke7553 commented on #1089
@yaichenbaum Wondering if there are any updates we can make to this issue's description. For instance, has the missing item extensions on restore bug been fixed?

[2021-04-14 20:18] yaichenbaum commented on #1089
@duke7553 As of now, nothing has changed with the issue.

[2021-04-14 21:31] d2dyno1 opened #4609 "Pasting images from clipboard is not 100% reliable"
**Explain the bug**
Copying an image of choice and pasting it to a directory is not always reliable. The image appears to be > 0B in size albeit the read is corrupted. From what I found, some images will be 100% reliablity pasted while some will always paste corrupted.

Important note:
By "Copied image" I do **not** mean image as file but raw data in clipboard.

**To reproduce**
1. Copy any image

[2021-04-15 01:13] yaichenbaum opened #4610 "Bug report: Option to pin current directory to the sidebar isn't working"
The option in the right click context menu to pin the current directory to the sidebar isn't working.

[2021-04-15 01:14] yaichenbaum opened #4611 "Bug report: The option to open properties for items in the favorites section is missing"
The properties option is missing from the right click content menu when right clicking on items in the favorites section in the sidebar.

[2021-04-15 01:43] winston-de commented on #4609
I believe the problem is that it's always being saved as a png file, even if it's not encoded as one.

[2021-04-15 02:04] jonnypjohnston opened #4613 "Right Click to Change Properties of New Library causes Files to crash"
Right Click to Change Properties of New Library causes Files to crash

**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. I create Custom Library called "Rocketry"...
2. Right Click on Custom Library...
3. Click on "Properties" in dialog...
4. Crashes.
[debug.txt](https://github.com/files-community/Files/files/6314744/debug.txt)
[debug_fulltrust.txt](https://git

[2021-04-15 04:04] yaichenbaum commented on #4613
Duplicate of #4591.

[2021-04-15 04:04] #4613 closed

[2021-04-15 05:38] CyrilCharlier opened #4614 "Alert When Update is installed"
**Is your feature request related to a problem?**
Not really a problem, i just want to know when files has been updated to see new features ;)

**Describe the solution**
When a new version is installing, alert the user and ask him/her for seeing the release note

**Describe alternatives you've considered**
no alternive in mind

**Additional comment**
My version has been updated in 1.5 and I didn't

[2021-04-15 07:11] mhsayan opened #4615 "Send To option"
Like old windows explorer if you can add a "Send to" option when we click mouse right button over any file. that would be a very good for us.
![Files](https://user-images.githubusercontent.com/38936021/114828709-0bc16b00-9dec-11eb-98f0-eeb8f2c72d8a.png)
![send to](https://user-images.githubusercontent.com/38936021/114828728-0f54f200-9dec-11eb-94b0-dc0a05eb3e1e.png)

[2021-04-15 07:46] #4615 closed

[2021-04-15 07:46] gave92 commented on #4615
Merging with #285

[2021-04-15 08:18] AnphirAddoN opened #4616 "Please add the grouping option in the download folder."
**Additional comment**

That is an option that currently exists in the file explorer and is useful, at least in downloads. I would be very grateful if you could add that option. Thank you very much for the application, it improves very fast and the consumption is significantly reduced.

[2021-04-15 10:28] #4616 closed

[2021-04-15 10:28] gave92 commented on #4616
Merging with#1074

[2021-04-15 10:30] gave92 commented on #4614
Also #2454

[2021-04-15 10:53] CyrilCharlier commented on #2454
just a link ... super decision thanks .. so i can't be alert that a new version is installed ... with new features .. fix ,..
It is some communication  ; have you ever heard about it ? You know **geek** don't like it but **users**  love it !

[2021-04-15 13:17] #4611 closed

[2021-04-15 13:20] yaichenbaum commented on #4614
@CyrilCharlier The Microsoft Store should display a notification whenever an update is installed. Additionally, if you ever want to see the changelog, you can find a link in the settings page.

[2021-04-15 13:20] #4614 closed

[2021-04-15 14:14] JingSpiral opened #4617 "Choose what PROGRAM to use when clicking EDIT option"
**Is your feature request related to a problem?**
After clicking EDIT on images it allways opens a mspaint. tbh it's a little bit useless

**Describe the solution**
I would love to see option for to set default program on the edit button in settings, like photoshop or gimp

**Describe alternatives you've considered**
Add another dropdown or popup menu when clicking the EDIT button

**Additional co

[2021-04-15 15:08] ldsands opened #4618 "Add `shift+mouse scroll` to scroll horizontally in item window"
**Is your feature request related to a problem?**
No

**Describe the solution**
Many programs I use allow for `shift+mouse scroll` to scroll horizontally in item window (`shift+mouse scroll down` for right scroll and `shift+mouse scroll up` for left scroll). Chrome and VSCode are examples of programs that use this same scroll scheme.

**Describe alternatives you've considered**
Although there are

[2021-04-15 16:04] josh-65 opened #4619 "Touch screen click and hold doesn't work in Android RDP Client"
**Describe the solution**
Click and hold allows users to access right click options it work everywhere but in files. It should work for single and double click options in any layout.

[2021-04-15 16:05] winston-de commented on #4618
Related: https://github.com/microsoft/microsoft-ui-xaml/issues/877

[2021-04-15 16:33] josh-65 commented on #3836
Turns out this only happens when try to map it from the home page drive thing. I think this option should be removed and have user only be able to add it from the network section.
![image](https://user-images.githubusercontent.com/26977075/114905257-aaf85980-9e10-11eb-9e92-e056e85dbbb1.png)

[2021-04-15 17:48] JuezFenix opened #4620 "Explorer importer and Sessions"
To facilitate the change from explorer to files, I think it would be nice some kind of wizard or importer that copies the favorites, settings, etc.

On the other hand, it would be interesting a sessions system, to be able to have saved groups of tabs, open latest open tabs, and many more options that session permits.

If the sessions were to be implemented, in the same way as with the favorites im

[2021-04-15 17:48] TofuByte opened #4621 "Default Layout Setting"
Would love to see a setting for a default layout mode. i.e. Extra Large image layout like in explorer.

[2021-04-15 18:11] #4621 closed

[2021-04-15 18:12] gave92 commented on #4621
Merging with #4155

[2021-04-15 19:14] winston-de commented on #4619
I just tested, touch and hold to right click does indeed work. Could you please provide more information on this issue?

[2021-04-15 19:16] ameliandev opened #4622 "I love this application. Only one thing, its possible replace the current Ctrl+E to open WinExplorer will be replaced by Files?"
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Additional comment**
Add any other comment or screenshots about the feature request here. What device type/UI lay

[2021-04-15 19:17] winston-de commented on #4622
Yes there is a way to do this, please see [this](https://files-community.github.io/docs/#/articles/configure-win-e) article.

[2021-04-15 19:17] #4622 closed

[2021-04-15 19:20] josh-65 commented on #4619
i test this using touch mode on rdp android client

[2021-04-15 20:42] JohntheLast99 opened #4623 "Need network file access"
**Is your feature request related to a problem?**
No

**Describe the solution**
Show files that are on other servers (i.e. NAS)

**Describe alternatives you've considered**
None

**Additional comment**
Nice interface but sorely lacking if network files aren't included

[2021-04-15 21:05] lancedfr opened #4624 "Setting to disable recent items from home view and pined taskbar icon"
**Is your feature request related to a problem?**
No, this is not a problem.

**Describe the solution**
Add a option in settings to disable recent items from showing.

**Describe alternatives you've considered**
Manually clearing recent items every day..

**Additional comment**
The app may feel less intrusive if it does not seem like its recording user activity. Privacy concerns if the computer is

[2021-04-15 21:07] lancedfr commented on #4624
found the setting.. sorry for reporting

[2021-04-15 21:07] #4624 closed

[2021-04-16 00:02] #3855 closed

[2021-04-16 00:02] yaichenbaum commented on #3855
This issue should be resolved with #4625.

[2021-04-16 02:28] #673 closed

[2021-04-16 02:29] yaichenbaum commented on #673
@XeZrunner This issue should be resolved with #4626.

[2021-04-16 05:06] winston-de opened #4627 "Pop out status center to compact overlay window"
**Is your feature request related to a problem?**
No.

**Describe the solution**
Being able to pop the status center out into a compact overlay window would make it easy to monitor the progress of large file operations while working in other programs.

**Describe alternatives you've considered**
- Keep Files on top
- Pin status center to side of files

**Additional comment**

[2021-04-16 06:33] winston-de opened #4628 "Opening drive properties causes crash"
**Explain the bug**
Files crashes when opening drive properties from a drive widget context menu.

**To reproduce**
1. Go to home page
2. right click drive
3. open properties
4. see crash

**Logfile**
[code]

**Additional comment**
The property marshalled for a different thread seems to be ```SelectedItemsPropertiesViewModel```.

[2021-04-16 06:59] madtempest opened #4629 "Box Cloud Drive Contents Missing"
**Explain the bug**
When browsing the contents of the "Box" cloud drive, there is only a single file. When reviewing this directory within regular Windows Explorer, all expected content is there.

**To reproduce**
1. Go to Cloud Drives
2. Click on Box
3. Review the list of content

**Expected behavior**
When browsing the contents of the "Box" cloud drive, there is only a single file. When reviewin

[2021-04-16 08:06] mmischitelli opened #4630 "Selection animation in left sidebar broken"
**Explain the bug**
The selection animation in the left sidebar is broken. It used to move across the elements in between the two folders you're navigating to/from. Now instead it "teleports" from one to the other.

**To reproduce**
1. Go to any of the folders you have on your left sidebar
2. Click on another folder you have on the left sidebar, possibly quite distant from the current one
3. The a

[2021-04-16 08:59] pklion commented on #4628
Isn't it also happen when opening drive properties from right-clicking?

[2021-04-16 09:28] jonathan-reichardt opened #4631 "Show dialog when accessing folders without read/write permissions"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Let someone create a Folder on a network drive, so that you dont have read/write/open permissions for the folder, but so that you can see it (see first screenshot)
2. Try to open the Folder in Files.
3. Now it looks as if the folder you opened is an empty folder

**Expected behavior**
- A warning message when yo

[2021-04-16 10:40] gave92 commented on #4629
Could you check if turning on "show hidden files" and turning _off_ "hide system files and folders" options the missing items appear?

[2021-04-16 10:46] madtempest commented on #4629
![Box Screenshot 02](https://user-images.githubusercontent.com/14276889/115013676-f2034f00-9ee3-11eb-88b6-3aa499747c8e.PNG)
 I couldnt find "hide system files and folders" as a specific option, but I did follow what I think was your intended instructions as per the screenshot.

 This did not resolve the issue.

[2021-04-16 14:05] xpopy opened #4634 "The settings button has scrollbar buttons"
**Explain the bug**
The settings button has scrollbar buttons, which partly covers the settings icon when the left panel is collapsed

**To reproduce**
1. Open files
2. Look in the bottom left corner

**Expected behavior**
Since there's nothing to scroll and it looks ugly, the expected behaviour is to not show a scrollbar/scroll buttons.

**Logfile**
[debug.txt](https://github.com/files-community/

[2021-04-16 14:14] yaichenbaum commented on #4634
This issue has been resolved in `main`.

[2021-04-16 14:14] #4634 closed

[2021-04-16 14:15] yaichenbaum commented on #4631
@gave92 Should we merge this with #1194?

[2021-04-16 14:19] #4631 closed

[2021-04-16 14:19] gave92 commented on #4631
Merging with #1194

[2021-04-16 14:40] kimlimjustin opened #4635 "Feature: Attach version info when submitting issues reports"
**Is your feature request related to a problem?**
Submitting issues on GitHub is somehow troublesome especially to create bug report, which requires many OS information.

**Describe the solution**
Being inspired by vscode, create an issue submission form in Files, and automatically attach OS information and Files information.

**Requirements**
- Automatically fill out the version information when

[2021-04-16 14:56] merwie commented on #1260
it would be nice if you could save your settings in one drive so when you install it on a new pc it could auto-sync :D

[2021-04-16 15:01] combatbutter opened #4636 "Being able to tag documents"
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Additional comment**
Add any other comment or screenshots about the feature request here. What device type/UI lay

[2021-04-16 15:06] combatbutter commented on #4636
I tag my documents routinely in my documents' "Properties" (right click) in File Explorer to enable a more intuitive search, it would be great if you could add this feature to Files. In fact, if you could make it cleaner and with fewer steps than what is needed in File Explorer that would be ideal.

[2021-04-16 15:13] yaichenbaum commented on #4132
This enhancment has been approved for development.

[2021-04-16 15:38] merwie opened #4637 "Right click menu animation always opening at the top"
**Explain the bug**
If you right-click a menu opens, but if you right-click when your mouse is at the bottom of the screen so when it opens above your mouse the animation still starts at the top

**Expected behavior**
The animation should be flipped and start at the bottom IF you have your mouse at the point where the menu is above your mouse

[2021-04-16 15:43] FlowingSteve commented on #4247
Did a winget ( love it ) - ran FILES - saw the network icon ( i had a mapped z drive already) then tweaked a bunch of setting, restarted and they were gone - can no longer see all the networked devices, mapped drive are fine , so is onedrive and sharepoint drives - gonna uninstall and reinstall - just an FYI since i am running a Windows Dev version

OsVersion

[2021-04-16 15:45] josh-65 commented on #4247
@FlowingSteve create a new issue for this as it not a relate or same issue

[2021-04-16 15:49] josh-65 opened #4638 "What happened to the icons"
**Explain the bug**
Some of the icons are missing or incorrect there also quite small.

**Screenshots**
![image](https://user-images.githubusercontent.com/26977075/115050346-9204ac80-9ed3-11eb-9792-aa3afcf6ac37.png)

**System Information**
 - OS Version: Windows 10 20H2 19042906
 - App version: 1.5.13.0

[2021-04-16 16:01] yaichenbaum commented on #4638
@josh-65 Are you in the Discord server? The icons are still a work in progress.

[2021-04-16 16:01] #4638 closed

[2021-04-16 16:02] josh-65 commented on #4638
i knew that just didn't think the old icons would disappear

[2021-04-16 16:03] winston-de commented on #4636
This would be relatively easy to implement in the properties details page.

[2021-04-16 16:06] yaichenbaum commented on #4638
@josh-65 You are in the insider flight group which will sometimes get new features or changes that are still a work in progress, we usually give a heads up in the Discord server before we ship a change like this. You can rest assured though, that we are working on finishing work on the new icons.

[2021-04-16 16:14] josh-65 commented on #4638
i know that fine just making sure.

[2021-04-16 16:18] yaichenbaum commented on #4638
@josh-65 Thanks for checking! And for the future, it would be great if you could join the Discord server https://discord.gg/files.

[2021-04-16 16:19] winston-de commented on #3272
I believe this is an issue with the app coming out of the suspended state.
Interestingly, opening a folder pinned to the start menu will "reactivate" the app, and it will start responding again.

[2021-04-16 16:42] josh-65 opened #4639 "App crash when opening properties"
**Explain the bug**
When I try opening properties of a drive it will crash instantly. When doing it for folders it will open but crash when I press cancel (why is that there in the first place) the properties.

**Expected behaviour**
Open properties of the folder or drive

**Logfile**
[debug.log](https://github.com/files-community/Files/files/6326666/debug.log)
[debug_fulltrust.log](https://github

[2021-04-16 16:57] josh-65 opened #4640 "Recycle bin doesn't refresh when deleting"
**Explain the bug**
When deleting items in the recycle bin it won't auto refresh.

**Expected behaviour**
Write a clear description of what you expected.

**Logfile**
[debug.log](https://github.com/files-community/Files/files/6326777/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/6326778/debug_fulltrust.log)

**System Information**
 - OS Version: Windows 10 20H2 19

[2021-04-16 16:58] josh-65 commented on #4640
@yaichenbaum  it open

[2021-04-16 17:03] josh-65 opened #4641 "Documents folder brings up error but works anyway"
**Explain the bug**
When i go to documents via the sidebar it will bring up a can't locate error but when it close it show content in documents.

**Expected behaviour**
There should be no popup.

**Logfile**
[debug.log](https://github.com/files-community/Files/files/6326795/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/6326796/debug_fulltrust.log)

**Screenshots**

[2021-04-16 17:40] NikitaProgramist opened #4642 "Opening folder in google drive can cause a crash"
**Explain the bug**
Write a clear description of what the bug is.
Opening the folder on my google drive using "Files" sometimes application finishes work
[debug.txt](https://github.com/files-community/Files/files/6326990/debug.txt)
![failure](https://user-images.githubusercontent.com/58474512/115063111-d011c880-9ef3-11eb-8d80-21f411e11b07.png)

**To reproduce**
1. Go to '....'
2. Click on '....'
3

[2021-04-16 17:42] winston-de commented on #4608
Thanks for filing this issue. This was (inadvertently) fixed along with a recent redesign of the preview pane, which will be included in the next update.

![image](https://user-images.githubusercontent.com/59544401/115063321-4258bd80-9ea0-11eb-82b7-e07e7c97a740.png)

[2021-04-16 17:42] #4608 closed

[2021-04-16 17:47] josh-65 commented on #4640
Just to add the icon for it should update to show whether there's something in it or not

[2021-04-16 18:28] winston-de opened #4643 "Improving the new details view"
This issue is to track bugs and enhancements for the new details view. If you have any, please post them here and I'll add them.

- [x] Collapse status column when not in a cloud drive
- [x] Add recycle bin columns, and hide them when outside of the recycle bin
- [x] Columns aren't always collapsed after switching layout modes
- [x] Add empty space to the right of the last column instead of stretc

[2021-04-16 18:40] yaichenbaum commented on #4643
@winston-de Instead of stretching the last column, can you just have empty space like we have with the current DataGrid?

[2021-04-16 19:02] HoholEnot opened #4644 "When I try to delete several files (photos) at once, through a selection, sometimes an error occurs"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-16 19:03] HoholEnot commented on #4644
When I try to delete several files (photos) at once, through a selection, sometimes an error occurs

[2021-04-16 19:32] winston-de commented on #4643
@yaichenbaum Yeah, that's a better idea.

[2021-04-16 20:00] osieltorres opened #4645 "I liked the old icons on sidebar, current ones seems too small and don't fit with design"
**Explain the bug**
New icons on sidebar panel seems too small comparing to the font, please consider place back the old ones.

**To reproduce**
1. Go t the app.
2. Click on anywhere
3. Check on the size of sidebar panel icons.

**Expected behavior**
An icons more related to the design followed by the app, like the folder icons as example.

**Screenshots**
![image](https://user-images.githubuserco

[2021-04-16 21:06] #4645 closed

[2021-04-16 21:07] yaichenbaum commented on #4645
As mentioned in the release notes, the icons are placeholder and will be adjusted in a future update.

[2021-04-16 22:02] xpopy opened #4646 "Dynamic tab width"
**Is your feature request related to a problem?**
When I have even 3 tabs open the tab bar becomes scrollable and the tabs are a bit too wide taking up precious space

**Describe the solution**
Dynamically adjust the tab width to fit the tabs within the tab bar until a minimum width has been reached, and first then make it scrollable.

**Describe alternatives you've considered**
A clear descriptio

[2021-04-17 07:04] revanmj opened #4648 "DVD drive has generic folder icon instead of CD/DVD drive"
**Explain the bug**
DVD drive on sidebar or home screen has folder icon instead of proper one

**To reproduce**
1. Open app on Home screen

**Expected behavior**
DVD or CD drives should have proper icon, not generic folder one

**Logfile**
[debug.log](https://github.com/files-community/Files/files/6328759/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/6328760/debug

[2021-04-17 15:30] josh-65 opened #4651 "Add the option to use the old right click menu"
**Is your feature request related to a problem?**
I don't like the new version of it

**Describe the solution**
A toggle in appearance settings to use the old one would be nice

[2021-04-17 15:31] ma-er233 commented on #3601
Thanks a lot!  (｡･ω･｡)

[2021-04-17 15:52] josh-65 opened #4652 "Folder icons on side bar should be normal folders"
**Is your feature request related to a problem?**
The replacement for the sidebar icon currently look bad.

**Describe the solution**
It should be the normal folder icons in the navigation area. They should be double the size they currently are.

**Additional comment**
![image](https://user-images.githubusercontent.com/26977075/115118853-43234980-9f9d-11eb-99a9-b912cdf4dc98.png)

[2021-04-17 15:55] josh-65 commented on #4643
#4460 still works for me in 1.5.16.0

[2021-04-17 17:14] josh-65 opened #4653 "Sidebar selection animation not working properly"
**Explain the bug**
The sidebar currently selected animation cuts off when going outside the active button

**Expected behaviour**
It should show the animation all the way to the selected item.

**Screenshots**
https://user-images.githubusercontent.com/26977075/115121188-373d8480-9fa9-11eb-9982-51de9d521ea7.mp4

**System Information**
 - OS Version: Windows 10 20H2 19042.926
 - App version: [e.g.

[2021-04-17 18:23] gave92 commented on #4653
#4630?

[2021-04-17 18:26] josh-65 commented on #4653
Yes that the same one.

[2021-04-17 18:26] #4653 closed

[2021-04-17 19:10] winston-de commented on #4651
May I ask what about it you don't like?

[2021-04-17 19:31] josh-65 commented on #4651
Mostly the inconstancies of how the buttons are group some are icons like the open and pin to sidebar. some are the icon and text like open with and pin to start menu and with the icons changing I don't know what some of them do. They also change a lot in different part/folders.

[2021-04-17 19:34] winston-de commented on #4651
Thanks for the feedback. Fyi, all the buttons without text next to them have a tooltip so that you can identify what they do.
![image](https://user-images.githubusercontent.com/59544401/115124827-35f46380-9f79-11eb-8006-283832c0982b.png)

[2021-04-17 19:36] josh-65 commented on #4651
i still prefer having then all icon text format

[2021-04-17 20:22] Masamune3210 opened #4654 "Group files by type or extension"
**Is your feature request related to a problem?**
No, more of a lack of a feature parity that I use all the time

**Describe the solution**
Allow files to be grouped by extension/file type like Explorer

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Additional comment**
My device is a computer running Windows 10 20H2

[2021-04-17 20:42] winston-de commented on #4654
Thanks for this feature request, merging with #1874.

[2021-04-17 20:42] #4654 closed

[2021-04-17 20:42] Masamune3210 commented on #4654
Sorry, didnt see the already open request

[2021-04-17 21:17] winston-de commented on #4628
Yes, it appears so

[2021-04-17 23:19] complex commented on #4643
I'd like to be able to reorder columns, for example moving size before date.

An option to auto-size the name column (to be as wide as possible) would be nice too.

[2021-04-18 00:29] pklion opened #4657 "The library(folder) section only has the Desktop folder and the Downloads folder"
**Explain the bug**
The library(folder) section only has the Desktop folder and the Downloads folder.

**To reproduce**
1. Open Files
2. See the error

**Expected behavior**
I would like to show all of the following folders:
- Desktop
- Downloads
- Documents
- Pictures
- Videos
- Music

**Logfile**
[debug.txt](https://github.com/files-community/Files/files/6330288/debug.txt)
[debug_fulltrust.txt](

[2021-04-18 00:52] WolfIcefang commented on #4582
I have had a bit more experience while paying attention now, and have seen a few instances where I am able to delete a PDF while the preview pane is open. However, I have not been able to figure out what allows this to happen. To say it another way, and avoid ambiguity:
The preview pane must be open (or have very recently closed) for the "file open elsewhere" error to occur, however, sometimes the

[2021-04-18 01:24] #4369 closed

[2021-04-18 01:25] yaichenbaum commented on #4369
@Tropix126 This issue should be resolved with #4649.

[2021-04-18 01:29] #4652 closed

[2021-04-18 01:29] #4648 closed

[2021-04-18 02:19] #4593 closed

[2021-04-18 02:19] #4555 closed

[2021-04-18 02:20] #4314 closed

[2021-04-18 02:21] yaichenbaum commented on #4540
@d2dyno1 Can you adjust the adaptive layout feature to work correctly with the file types Josh mentioned? I can reproduce this issue as well.

[2021-04-18 02:23] yaichenbaum commented on #4106
@gave92 It's possible to replace these dialogs by redirecting the GUIDs, but due to the complexity, we don't have plans to implement this right now. Maybe @ADeltaX will want to give it a try at some point 😆.

[2021-04-18 02:23] #4106 closed

[2021-04-18 02:53] #4639 closed

[2021-04-18 02:53] #4591 closed

[2021-04-18 02:53] #4628 closed

[2021-04-18 02:53] yaichenbaum commented on #4639
This issue should be resolved with #4658.

[2021-04-18 03:35] winston-de opened #4660 "Merge conflict resolution button is hidden for items with long names"
**Explain the bug**
The merge conflict resolution button is hidden for items with long names.

**To reproduce**
1. Find a file with a very long name
2. Copy it
3. Paste it into the same directory
4. Conflict resolution button is hidden

**Expected behavior**
The text should be wrapped or cut off to not interfere with the button.

**Logfile**
Not applicable

**Screenshots**
![image](https://user-im

[2021-04-18 03:43] yaichenbaum commented on #4660
This should be resolved in `main`.

[2021-04-18 03:43] #4660 closed

[2021-04-18 06:54] yaichenbaum opened #4662 "Bug report: Invert selection sometimes freezes for a couple seconds before it works"
This is reproducible in v1.5.16

[2021-04-18 08:33] d2dyno1 commented on #4540
@josh-65 Could you share a screen recording of that issue

[2021-04-18 08:48] d2dyno1 commented on #4662
This is caused by multiple UI updates. In the function `InvertSelection` ItemsView.SelectedItems.Add is called for every item causing UI freeze in large directories.

[2021-04-18 11:13] josh-65 commented on #4652
can i know the reason this has been closed

[2021-04-18 11:20] josh-65 commented on #4540
I can try get a video of it happening. but i have found that there no pattern based on the amount or what's in the folders.

[2021-04-18 11:31] josh-65 opened #4664 "Say what is using a file is being used by program"
**Is your feature request related to a problem?**
When I do something to a file and it will say "file in use" it should tell me what file it is and what program is using it.

[2021-04-18 11:52] voiiden commented on #3882
Microsoft Edge has a great implementation of this.

https://user-images.githubusercontent.com/31285047/115144483-3827f200-a04d-11eb-9f35-85ed2f3705c4.mp4

[2021-04-18 12:09] mangoepic opened #4665 "Copy and Paste not working"
**Explain the bug**
Copying and Pasting does not work

**To reproduce**
1. Go to 'Desktop'
2. Richtclick on any file
3. Select 'Copy'
4. Rightclick on the Desktop Window
4. Select 'Paste'
5. Nothing happens
Same with Ctrl+C Ctrl+V

**Expected behavior**
A copy of the file to be generated

**Screenshots**
![5jS7yCy](https://user-images.githubusercontent.com/71931749/119264441-85b2f400-bbe3-11eb-8e4

[2021-04-18 13:43] yaichenbaum commented on #4664
Duplicate of #1681.

[2021-04-18 13:43] #4664 closed

[2021-04-18 13:43] yaichenbaum commented on #4662
@hez2010 I believe you tried solving this a while ago, right?

[2021-04-18 13:46] yaichenbaum commented on #4652
The icons are just placeholders and will be changed in a future update.

[2021-04-18 14:00] hez2010 commented on #4662
The problem I met previously is that sometimes the rectangle selection didn't work. I think they might be the same problem, though I didn't dig into it much.

[2021-04-18 14:02] hez2010 commented on #4662
@yaichenbaum I previously solved the performance issue with `SelectAll` via calling the internal method of `DataGrid`, but I haven't figure out a way to do invert selection in this way.

[2021-04-18 14:21] yaichenbaum commented on #4662
@hez2010 @winston-de created a list view data grid that's already in `main`, does that make a difference?

[2021-04-18 14:59] yaichenbaum commented on #4229
@cinqmilleans Do you want to try to solve this?

[2021-04-18 15:00] yaichenbaum commented on #290
@winston-de Do you want to remove the setting now and turn on the feature by default?

[2021-04-18 15:00] hez2010 commented on #4665
Does restarting Files app help?

[2021-04-18 15:08] yaichenbaum commented on #4428
@tsvietOK Do you want to work on this?

[2021-04-18 15:34] cinqmilleans commented on #4229
@yaichenbaum I'll investigate.

[2021-04-18 16:49] voiiden commented on #4324
How about something like `textBulletListLtr20Regular`? It looks like this:
![image](https://user-images.githubusercontent.com/31285047/115153520-b6e55500-a076-11eb-994a-6e6cb38e9fa7.png)

[2021-04-18 16:59] yaichenbaum commented on #4324
@XPoppyX Do you have any ideas for a new icon we can use?

[2021-04-18 17:36] winston-de commented on #290
@yaichenbaum Yeah, probably. I'll make a pr to do that.

[2021-04-18 18:04] Xairoo opened #4666 "Media files: Context menu doesn't appear and app freezes"
**Explain the bug**
Right click on media files (PNG, MOV, MP4, ...) freezes Files (PDF work, but it's a document ;-)).

**To reproduce**
1. Select a media file
2. Right click...

**Expected behavior**
Context menu should appear

**Logfile**
Nothing more than:
`2021-04-18 20:01:51.2956|INFO|FilesFullTrust.Program|Argument: LoadContextMenu|`

**System Information**
 - OS Version: 10.0.19043 Build 19

[2021-04-18 18:13] tsvietOK commented on #4428
@yaichenbaum sorry, have no time :(

[2021-04-18 18:38] yaichenbaum commented on #1225
This issue is no longer relevant since we display the item name in that locaiton.

[2021-04-18 18:49] winston-de commented on #4662
@yaichenbaum The new details view seems to have the same issue, I tried doing invert selection in the system32 and Files froze. It's the same for grid, tiles, and columns view as well.
We may want to file an issue for this in the WinUI repo as well.

[2021-04-18 19:29] kleenkanteen commented on #4627
I don't understand. What is a status center. How would it look compacted?

[2021-04-18 19:36] kleenkanteen commented on #1691
What use case exactly do you have for this?

[2021-04-18 19:39] kleenkanteen commented on #2238
Are you saying when hovering it should collapse automatically and show all individual directories?

[2021-04-18 19:41] kleenkanteen commented on #2238
test

[2021-04-18 19:42] winston-de commented on #4627
@kleenkanteen This is the status center, it allows you to view the status of ongoing file operations.
![image](https://user-images.githubusercontent.com/59544401/115158287-46244580-a042-11eb-971a-25acd5f2106a.png)

It wouldn't be compacted, it would be in it's own compact overlay window, which is much smaller and remains on top of other windows. It would be relatively similar to how Explorer shows

[2021-04-18 19:50] winston-de commented on #1691
Here's a couple I came up with.

1. User has a folder with some images they would like to add to a Word document. With this feature, they could keep Files on top of Word, and conveniently drag an image from Files into the word document when they need it
2. User is using Tablet Mode or Windows 10x, where windowing is limited to split screen, and would like to keep Files conveniently accessible

[2021-04-18 20:00] winston-de opened #4668 "Expanding or collapsing sidebar section causes crash"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Open Files
2. Expand or collapse a sidebar section
3. Files crashes

**Logfile**
[code]

**Screenshots**

**System Information**
 - OS Version: 19043.928
 - App version: 1.5.18.0

**Additional comment**

[2021-04-18 20:02] winston-de commented on #4666
Thanks for opening this issue. This should be fixed with #4625, which will be included in the next major update.

[2021-04-18 20:02] #4666 closed

[2021-04-18 20:28] Xairoo commented on #4666
No nightly builds? =)

[2021-04-18 20:36] XPoppyX commented on #4324
These are the icons that I found in mdl2 assets, which are related to operations and tasks

![e9f5](https://user-images.githubusercontent.com/61259627/115159942-bbecd900-a063-11eb-94aa-5cd44aa32f56.png) ![eadf](https://user-images.githubusercontent.com/61259627/115159946-bd1e0600-a063-11eb-8bc4-61b8a6167d08.png) ![eb91](https://user-images.githubusercontent.com/61259627/115159947-bd1e0600-a063-11e

[2021-04-18 20:42] winston-de commented on #4666
There are, you can ask to sign up for them in the discord server :)
https://discord.gg/files

[2021-04-18 21:16] XPoppyX commented on #1225
Are you not confusing it with selecting a single file? The file explorer shows the number of files and folders there when multiple items are selected

a single item:

![Captura de pantalla 2021-04-18 170044](https://user-images.githubusercontent.com/61259627/115160710-babdab00-a067-11eb-9257-e25c693b434d.png)
-----------

multiple items:

![Captura de pantalla 2021-04-18 170057](https://user-image

[2021-04-18 21:20] winston-de commented on #4668
Looks like this issue was introduced in #4354.
Fyi @d2dyno1

[2021-04-18 23:28] gdstuart commented on #4479
However, I do not see the Rating attribute you refer to.

Geoff

[2021-04-19 00:59] K12T6 opened #4670 "Change Downloads Folder Location"
**Is your feature request related to a problem?**
Default directories on the home page cannot be changed.

**Describe the solution**
Add the option to change what folders go where on the home page. For example, changing the Downloads quick link to go to a different directory for those who have their downloads folder in a different location (i.e. iCloud Drive)

**Additional comment**
App version 1.

[2021-04-19 02:37] yaichenbaum commented on #4670
This issue should be resolved in `main`.

[2021-04-19 02:37] #4670 closed

[2021-04-19 14:20] #4609 closed

[2021-04-19 14:21] #4668 closed

[2021-04-19 14:23] #283 closed

[2021-04-19 14:24] yaichenbaum commented on #283
@szaimen This feature request was implemented with #4672.

[2021-04-19 14:38] cinqmilleans commented on #4229
@yaichenbaum @XPoppyX
1) I have a fix for this issue, but
2) I got a null error when trying to rename in grid view. I must activate 2 lines in comments. I don't know why this code is commented out.
3) Visually, it's better, but there is still a downward shift in the icon, not very harmonious. It would be necessary to use a modal, as to create a new folder. It is also more convenient with long name

[2021-04-19 14:39] haneenmahd commented on #4665
Yeah! Your are right it does not work.
It does not completely copy paste the files in to another directory and also ignore some files too.

[2021-04-19 15:13] yaichenbaum commented on #4229
Can't you just change the background color of the TextBox?

[2021-04-19 15:35] MarcelloLOLL opened #4673 "App doesn load or stuck at splash screen"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-19 16:56] #4673 closed

[2021-04-19 17:32] winston-de commented on #4643
@complex This is out of scope for this issue, as the main purpose of this issue to get get to feature parity with the DataGrid based details view. However, please feel free to create a new issue for this.

Currently, the name size column is adapted to take up a certain percentage of the horizontal space available. I can definitely look into increasing that.

[2021-04-19 17:54] aayushyap89 opened #4675 "Choose Files"
Hello, I really love the files app but a few this that may exist but I dont know
If there is then please inform me
1. Please add a way to open files app instead of file explorer when you are choosing a file on a website to upload.
2. Is there a way to make it default so when you search a file in the Start Menu to open Files Instead of File explorer

[2021-04-19 18:52] LuanRoger opened #4676 "Delete folders from Program Files"
When trying to delete folders from 'Program Files (x86)' but the Files simply closes, even as Administrator

### To reproduce
1. Go to C:\Program Files (x86)
2. Try to delete or create a folder
4. See the error

I also tried to create files or folders but the program ends up failing. Apparently the problem is caused by the lack of permission to the program, but it happens even as Administrator

##

[2021-04-19 18:52] winston-de commented on #4675
Hi there! Happy to hear your enjoying Files.

Unfortunately, it is not currently possible to replace the default save as and file selection dialogs. Please see #4106.

Yes there is, please see [this guide](https://files-community.github.io/docs/#/articles/replace-file-explorer).

[2021-04-19 18:52] #4675 closed

[2021-04-19 19:23] yaichenbaum commented on #4229
This issue should be resolved with #4674.

[2021-04-19 19:23] #4229 closed

[2021-04-19 19:24] #721 closed

[2021-04-20 05:50] gave92 commented on #4676
@winston-de fixed in #4586?

[2021-04-20 06:06] winston-de commented on #4676
@gave92 No, I didn't know what was causing it, that PR just added a catch for the error and logs it.

[2021-04-20 08:11] voiiden opened #4678 "Escape key to exit settings"
I often try to exit the settings page using the escape key, as is convention in many other apps, such as discord and steam. I suggest the implementation of this feature, as I don't see any other use for the escape key in this situation.

[2021-04-20 08:56] cinqmilleans commented on #4678
It's a good idea.
I am always confused because the button to close is not in the same place as to open it. We could put a Close button at the bottom of the sidebar.

If the community accepts these changes, I can implement it.

[2021-04-20 09:36] voiiden commented on #4678
I'm not sure about that last idea. Back buttons are typically on the top, usually to the left.

[2021-04-20 11:09] v0iden opened #4679 "Quick open sidebar folder in new tab"
Pressing a folder with the mouse wheel opens it in a new tab. This should work for sidebar folders, too.

I made a crude video to demonstrate my idea:
https://user-images.githubusercontent.com/31285047/115386176-5ae71180-a1d9-11eb-85a7-7bd31508ed54.mp4

[2021-04-20 11:14] voiiden commented on #4547
Ctrl + Shift + Down arrow does the trick.

[2021-04-20 11:19] voiiden commented on #4679
Sorry for all the editing. I realized most of what I was proposing was already implemented.

[2021-04-20 12:54] dhenhugie opened #4680 "bug"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-20 13:26] TofuByte opened #4681 "Disk Cleanup"
Right-clicking on your system disk and going to its properties provides a large suite of information in tools. i.e. disk clean up and sharing options. Is it possible to get these features added in a future release?

[2021-04-20 13:44] pklion opened #4682 "Add keyboard shortcuts to change layout mode"
**Is your feature request related to a problem?**
I'm sometimes frustrating because I have to click 2 times when changing layout modes.

**Describe the solution**
Add keyboard shortcuts to change layout mode.

**Describe alternatives you've considered**
N/A

**Additional comment**
N/A

[2021-04-20 14:26] Rasmagoric commented on #4682
yeah maybe Alt+ 1 to 5? Or Ctrl + Shift instead of alt?

[2021-04-20 14:36] yaichenbaum commented on #4678
@voiiden Another option is to use the back button, it doesn't make much of a difference to me though.

[2021-04-20 15:00] jrmoynihan commented on #4557
Same issue, but with OneDrive.  Doesn't appear at all in the sidebar.

[2021-04-20 15:09] voiiden commented on #4678
Escape seems the most logical to me. It's literally called escape, as in escape from a menu, and backspace to go back is getting dated, usually getting replaced by Alt + Left arrow.

[2021-04-20 15:16] yaichenbaum commented on #4678
The reason I suggested back is because you are going back to the last page, esc is usually used for a dialog.

[2021-04-20 17:50] #4680 closed

[2021-04-20 19:11] RinLovesYou opened #4684 "[BUG] It will not open"
**Explain the bug**
It does not open

**To reproduce**
Open the App

**Expected behavior**
I expected the app to open

**Logfile**
No Log file is generated, because it does not open.

**Screenshots**
No screenshots needed, just the logo and crash after a while

**System Information**
 - OS Version: Windows Home 10.0.18363 Build 18363
 - App version: 1.5.0.0, no update in store so i'm assuming it's

[2021-04-20 20:31] d2dyno1 commented on #4684
Log file would still be useful there

[2021-04-20 21:36] pklion commented on #4682
I think Ctrl+Alt+1 to 5 or Alt+1 to 5 is good, isn't it?

[2021-04-21 02:48] #290 closed

[2021-04-21 02:49] yaichenbaum commented on #290
@szaimen This feature is implemented in `main`.

[2021-04-21 05:13] RinLovesYou commented on #4684
no log file exists though

[2021-04-21 05:14] RinLovesYou commented on #4684
it never even opens- i've tried building from source too, no dice

[2021-04-21 05:17] RinLovesYou commented on #4684
![image](https://user-images.githubusercontent.com/29461788/115500414-86b5d600-a271-11eb-91d9-aa875cbe5a26.png)

This is the built-from-source version, but the same thing happens with the official release
it is stuck on this screen and closes after a while. No log file ever exists

[2021-04-21 08:27] mangoepic commented on #4665
Here is just a short screen recording how it looks like: https://imgur.com/a/xfiPpFy
Cutting and pasting doesn't work, too (it seems to get reset as soon as I change directory?)

[2021-04-21 10:50] HariAcidReign opened #4687 "[BUG] Files just automatically disappears on clicking folder"
**Explain the bug**
When you click on any random folder, sometimes the Files application just shuts down without warning.

**Expected behavior**
I expected the folder to open up and the path to change, as usual.
However, the app closes suddenly. This is a recurring issue and can happen anytime. i.e. sometimes te folders open, sometimes they don't.

**Screenshots**
Add screenshots to help explain y

[2021-04-21 13:36] imsandro opened #4689 "Add drag and drop feature."
**Is your feature request related to a problem?**
I can't drag files from Files to another place - like for example importing files to Adobe Premiere by drag and drop.

**Describe the solution**
Allowing drag and drop feature like the Explorer.

**Describe alternatives you've considered**
Not much alternative other than use the ugly Windows default Explorer.

**Additional comment**
It would be the

[2021-04-21 15:41] winston-de commented on #4689
Hi! Thanks for opening this issue. Drag and drop is a feature that has been implemented. However, please keep in mind that currently you have to select an item before you can drag it. Like this:

https://user-images.githubusercontent.com/59544401/106496017-3d739880-6471-11eb-9f80-b8c9733b0026.mp4

[2021-04-21 15:41] #4689 closed

[2021-04-21 15:50] winston-de commented on #4687
Hi! Could you please upload the ```debug.log``` file to help us debug this issue? You can find it in this folder:
```%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState```

[2021-04-21 15:53] winston-de commented on #4644
Hi! Could you please upload the ```debug.log``` file to help debug this issue? It is located in
```%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState```.

[2021-04-21 16:19] winston-de commented on #4684
If you build from source code and launch with the debugger attached, could you please post what (if any) error is being thrown?

[2021-04-21 16:39] winston-de opened #4693 "Detect newly installed themes without restarting Files"
**Is your feature request related to a problem?**
Currently, users must restart Files to see new themes added to themes folder.

**Describe the solution**
Two parts:
- Check for newly installed themes in the themes folder when the user opens settings.
- Register the optional themes package as "not in use" so that it can be updated without restarting Files, and check for installation changes upon o

[2021-04-21 16:48] yaichenbaum commented on #1660
@XPoppyX Which keyboard shortcuts do you want to remap? We are trying to see how this feature would be used.

[2021-04-21 17:06] hez2010 commented on #4665
Can you provide your system version? (Run `winver` and you can see the system build number)

[2021-04-21 17:17] XPoppyX commented on #1660
That is something that other users must answer, I opened this feature request based on another one with a concept that I commented on how the design of the keyboard shortcut page could be, and I added that of being able to remap as an extra that surely others would be interested

[2021-04-21 17:52] HariAcidReign commented on #4687
I didn't find the debug file in the said path. Can you let me know where to navigate to?

![image](https://user-images.githubusercontent.com/58134096/115598528-261dac00-a2f8-11eb-88ce-6eda806d3922.png)

[2021-04-21 17:54] HariAcidReign commented on #4687
Also, I observed that I was able to navigate through all the folders without any issue if I used the keyboard instead of clicking them with the mouse. Maybe double-clicking the folders is causing the issue.

[2021-04-21 18:05] winston-de commented on #4687
@HariAcidReign
It's not located in the folder in your screenshot. You can access the folder with the log file by pasting the following in the path bar:
```%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState```

From there, please upload this file:
![image](https://user-images.githubusercontent.com/59544401/115599963-056e3b80-a291-11eb-9154-8739d7e5b5d7.png)

[2021-04-21 18:24] winston-de commented on #4687
Thanks for uploading the log file and additional info, I'm going to merge this with #3973.

As a workaround to this issue, you can disable the caching feature in Settings -> Experimental -> "Cache files and folders for better performance".
![image](https://user-images.githubusercontent.com/59544401/115602611-fccb3480-a293-11eb-8698-b4f1a6a508f5.png)

[2021-04-21 18:24] #4687 closed

[2021-04-21 18:48] HariAcidReign commented on #4687
@winston-de Even with it turned off, I'm still getting the issue. Only using arrow keys to navigate is solving the problem. Thanks for the prompt responses! Hope this bug gets fixed soon.

[2021-04-22 00:45] gate7lee opened #4695 "Display the networked drives on the left panel"
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Additional comment**
Add any other comment or screenshots about the feature request here. What device type/UI lay

[2021-04-22 01:52] zahidislm commented on #4433
Any update/issue with reproducibility?

[2021-04-22 02:25] #4695 closed

[2021-04-22 03:27] derpyderpaderp commented on #4644
Having this same issue when deleting multiple files at one time. It causes the app to crash with an error
[debug.txt](https://github.com/files-community/Files/files/6355314/debug.txt)

[2021-04-22 05:54] winston-de opened #4696 "Extra process spawned when opening a folder with the app execution alias"
**Explain the bug**
When a folder is opened in an already existing instance of Files using an app execution alias, a new extra process is spawned.

**To reproduce**
1. Open Files
2. Open task manager, check sub processes for Files
2. Run the command ```files.exe C:\users```, or similar
3. New process is spawned, even though folder is opened in current window

**Expected behavior**
Since the same i

[2021-04-22 06:26] RinLovesYou commented on #4684
Interesting- running with the debugger attached after what seemed like an eternity it started. Although it still took a hell of a long of a time. Sadly this isn't the case with the official release. No errors.

[2021-04-22 07:28] Jaiganeshkumaran commented on #4629
Box seem to create a virtual folder where it loads the list on demand for online-only files unlike OneDrive which creates a placeholder file for each online-only file

[2021-04-22 07:36] Jaiganeshkumaran commented on #4678
Settings page is full screen and not a modal. Esc is used for modal and transient surfaces, not for page navigation

[2021-04-22 08:06] KITTran opened #4697 "Error in open Google Drive Steam in Files"
**Explain the bug**
Write a clear description of what the bug is.
When I press a folder in Google Drive that already sync on my device, the Files wasn't response and auto exit.

**To reproduce**
1. Go to 'Files'
2. Click on 'any folder in Google Drive partition'
4. See the error

**Expected behavior**
Write a clear description of what you expected.
I expect that Files will response which error was

[2021-04-22 09:47] mangoepic commented on #4665
@hez2010 Oh there it is thanks. It's Microsoft Windows Version 1909 (Build 18363. 1500)

[2021-04-22 10:49] dpierangeli opened #4698 "Scroll with touch and 'open folders with one click' option set causes navigation"
I've a touch device (surface go) and the option 'open folders with one click'.
When scrolling a folder if the 'touch up' is on a folder files navigates in it.

**To reproduce**
1. Set the option to one click
2. Go to a folder with a lot of sub-folders
3. Scroll Down with touch and do the 'touch up' on a folder
4. That folder will be opened

**Expected behavior**
The scroll should not navigate outs

[2021-04-22 11:01] TailyFair opened #4699 "Add build date next to version in About page"
**Is your feature request related to a problem?**
When looking in about page, it's not clear when current local version was built. So when looking in main git commit history, it's unclear if my local version has these changes.
Tags are not made for minor versions, so they are not useful for smaller changes.

**Describe the solution**
I would love to see build date next to version in About page.
Fo

[2021-04-22 11:44] gave92 commented on #4697
Thanks for this report. Please add Files version to the issue description and upload the log files.

[2021-04-22 14:38] cinqmilleans commented on #4682
@Rasmagoric @pklion @yaichenbaum
I have started to implement this issue. I have questions.

1) The order of layouts is not the same in the navigation bar menu and in the context menu. It is annoying to assign a number. It is therefore necessary to use the same order. I propose the order, from the smallest to the biggest.
1. Column
2. Details
3. Tiles
4. Grid (small)
5. Grid (medium)
6. Grid (big)

[2021-04-22 14:44] yaichenbaum commented on #4682
Btw, we already have `ctrl` + wheel up/down and `ctrl` + `+`\`-`

[2021-04-22 14:59] cinqmilleans commented on #4682
Yes, I just saw it. We could still use ctrl.
ctrl + 1, ctrl + add, ...

[2021-04-22 15:01] yaichenbaum commented on #4682
Ctrl + 1 - 9 is used to switch tabs.

[2021-04-22 15:05] yaichenbaum commented on #4699
The changelog for insider builds can be found in the Discord server. In the case of v1.5.17, it's the same as v1.5.

[2021-04-22 15:05] #4699 closed

[2021-04-22 15:16] cinqmilleans commented on #4682
ok, we will stay on alt + 1/6.

[2021-04-22 15:22] yaichenbaum commented on #4682
What about `ctrl` + `shift` + 1/6?

[2021-04-22 15:28] cinqmilleans commented on #4682
ok for me.

[2021-04-22 15:38] yaichenbaum commented on #4678
@Jaiganeshkumaran Agreed, that's why I think we should use the back button.

[2021-04-22 17:48] trulko opened #4703 "Dynamic Grid View & Preview Row Height"
**Is your feature request related to a problem?**
In grid view, thumbnails which don't have a square aspect ratio have lots of wasted space and are very far away from the file name. This is also the case in the preview pane by default, unless you manually move the details text up with the slider -- see the picture below:
![image](https://user-images.githubusercontent.com/81886277/115761666-9700aa8

[2021-04-22 20:12] josh-65 opened #4705 "Operations don't seem to work"
**Explain the bug**
When I'm trying to copy anything over 10GB it doesn't seem to copy. It will create the folder structure and then in operations it just shows 0% always.

**Expected behaviour**
It should create the file and in on going tasks.

**Logfile**
[debug.log](https://github.com/files-community/Files/files/6360931/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/f

[2021-04-22 20:40] #4366 closed

[2021-04-22 20:49] 1121b opened #4706 "Caitlinsewell313ြ့ြ"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-22 20:50] 1121b commented on #4706
![image](https://user-images.githubusercontent.com/80531619/115783362-645fad80-a382-11eb-9e51-48e0c3075a91.jpeg)

[2021-04-22 20:51] 1121b commented on #4706
https://github.com/files-community/Files/issues/4706![image](https://user-images.githubusercontent.com/80531619/115783573-a12ba480-a382-11eb-97a0-d52bec150eca.png)

[2021-04-22 20:52] 1121b commented on #4706
https://github.com/files-community/Files/issues/4706**ြ့ြ**

[2021-04-22 21:28] josh-65 opened #4707 "Renaming drives doesn't work"
**Explain the bug**
When I go to rename a drive it will allow me to type a name and click ok it brings up admin mode for PowerShell I click yes and it does nothing even after restarting the app.

**To reproduce**
1. Right click a drive
2. Go to properties
3. Rename drive
4. Click ok
5. Click yes on PowerShell prompt
6. Restart files
7. Drive not renamed.

**Expected behaviour**
Drive should be ren

[2021-04-22 21:40] pklion commented on #4682
Looks good to me, too.

[2021-04-22 22:23] 01-1 opened #4708 "Scaling changes behavior of bundles"
**Explain the bug**
Using multiple monitors with different scaling, a larger (150%) scaling will cause bundles to display vertically and have 1 column but a normal scaling will allow for 2 columns.

**To reproduce**
1. Have multiple monitors with different scaling
2. Create bundles with multiple files/folders
3. Move windows between monitors

**Expected behavior**
Either it should have only one of

[2021-04-22 23:23] etaui opened #4709 "Renaming a shortcut removes the extension"
**Explain the bug**
When renaming a shortcut file, the extension is removed.

**To reproduce**
1. Create a shortcut file
2. Rename the shortcut file to something that does not have an extension

**Expected behavior**
The shortcut should hide the extension of .lnk (or .url) when renaming the file.

**Logfile**
[debug.txt](https://github.com/files-community/Files/files/6361745/debug.txt)
[debug_full

[2021-04-22 23:58] madtempest commented on #4629
@Jaiganeshkumaran That might be the case, but what about files that are kept locally on disk via its always sync feature? Surely those would be present.

[2021-04-23 00:10] trulko opened #4710 "Feature: Drag folder onto "+" icon to create new tab"
**Is your feature request related to a problem?**
It would be nice to be able to drag a folder onto the "+" icon for creating a new tab or onto a blank spot on the tab strip to create a new tab. Chrome/Edge/Firefox support doing this with links, and I have gotten used to doing it in browsers. When you try in Edge, a little arrow pops up too, which is a nice touch!
![image](https://user-images.gith

[2021-04-23 00:34] #4226 closed

[2021-04-23 00:58] 01-1 opened #4711 "Opening Windows directory crashes program"
**Explain the bug**
Opening the windows directory crashes the program. Also, one time opening a new tab after opening the Windows directory also crashed the program.

**To reproduce**
1. Open windows directory

Also might be related to preemptive cache of 1

**Expected behavior**
Does not crash

**Logfile**
[debug.txt](https://github.com/files-community/Files/files/6362000/debug.txt)
[debug_fulltr

[2021-04-23 01:49] JackGFuller opened #4713 "Unable to drag or place created Shortcut onto Taskbar"
**Explain the bug**
Write a clear description of what the bug is.
This capability is available in Win10 File Explorer.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.
In File Explorer, one can drag an item and pin it to the Taskbar, or drage an item from one folder to another - tha

[2021-04-23 03:01] etaui commented on #4711
also happened when i went into Recycle Bin, it might be a problem with large folders (maybe memory?)

[2021-04-23 03:09] srafsan opened #4714 "Unlocking Bitlocker not working"
Everytime I try to open the drive that has bitlocker, it says my password is incorrect. Even though it works fine when using default file explorer.

[2021-04-23 03:36] #4348 closed

[2021-04-23 03:37] yaichenbaum commented on #4348
This change was implemented in #4612.

[2021-04-23 04:30] winston-de opened #4715 "Library sometimes fails to load items"
**Explain the bug**
Sometimes certain libraries will fail to load items, and will show a blank page. It is not fixed by refreshing, but can be fixed by switching layout modes. I have only seen this occur with the Documents and Saved Pictures libraries.

**To reproduce**
1. Go to the Documents library
2. Sometimes it will not load, and show a blank page

**Logfile**
No errors were logged.

**Screen

[2021-04-23 09:48] TailyFair opened #4718 "Missing or incorrect shortcuts in tool tips"
**Explain the bug**
Some actions in their tooltips are missing keyboard shortcut descriptions.

Missing:
- [ ] Missing Add new tab (in tabs navbar) should show (CTRL + T)
![image](https://user-images.githubusercontent.com/27275873/115854424-e6a7aa80-a432-11eb-96c9-c960d45b5233.png)

- [ ] Missing in tab right click context (currently no shortcut shown) should show (CTRL + T)
![image](https://user-

[2021-04-23 10:03] TailyFair opened #4719 "No context menu when pressing on Library folders in home page"
**Explain the bug**
No context menu appears when pressing on Library folders in home page

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Context menu appears like pressing on Drives.

**Affected version**
1.5.17.0

[2021-04-23 13:53] Rasmagoric commented on #4682
I prefer the alt + 1/6.

[2021-04-23 13:56] yaichenbaum commented on #4719
What version of Files do you have?

[2021-04-23 14:42] yaichenbaum commented on #4682
`ctrl` + 1/6 would be consistent with the existing shortcut `ctrl` + `+`, is `alt` + 1/6 used in other applications for this type of thing?

[2021-04-23 14:48] MatiasHalac opened #4723 "Refresh automatically"
HI!

Is there a way to refresh automatically? for instance, each time I create a new folder, it doesnt appears unless i press F5.
Thanks!!

[2021-04-23 15:55] #4132 closed

[2021-04-23 15:57] yaichenbaum commented on #4723
What version of Files do you have? This should be automatic.

[2021-04-23 15:58] #4515 closed

[2021-04-23 16:08] josh-65 opened #4724 "Home screen refreshing"
**Is your feature request related to a problem?**
Home screen doesn't refresh until I reopen the app entirely.

**Describe the solution**
The refresh button and f5 hotkey should be enabled for it.

**Describe alternatives you've considered**
When ever a user goes on the home screen it refreshes.

[2021-04-23 16:31] winston-de opened #4725 "Attempting to drag a shortcut causes a crash"
**Explain the bug**
Attempting to drag a shortcut causes a crash.

**To reproduce**
1. Find a shortcut
2. Attempt to drag it
3. Files crashes

**Expected behavior**
It is not possible to drag and drop shortcuts since they can't be represented by an IStorageItem, so the operation should be cancelled if the user tries.

**Logfile**
[code]
**Screenshots**
Add screenshots to help explain your problem

[2021-04-23 16:46] winston-de opened #4726 "Dragging over a tab or library in sidebar doesn't navigate"
**Explain the bug**
Dragging over a tab or a library in the sidebar doesn't navigate to the folder or switch to the hovered tab, respectively.

**To reproduce**
1. Drag item over library in sidebar
2. Files does not navigate to the library

1. Open 2 tabs in 2 different folders
2. Drag item from one on top of the tab
3. Files does not switch to hovered tab

**Expected behavior**
Files should switc

[2021-04-23 16:56] winston-de commented on #4724
Thanks for the feedback. Which widgets on the home screen you think need to be refreshed?

[2021-04-23 17:06] josh-65 commented on #4724
Drives mostly

[2021-04-23 17:12] winston-de commented on #4724
@josh-65 Thanks for the additional info. I believe this can be merged with #2242.

[2021-04-23 17:12] #4724 closed

[2021-04-23 17:59] TailyFair commented on #4719
I have 1.5.17.0.

[2021-04-23 18:00] yaichenbaum commented on #4719
The context menu is only available in `main`.

[2021-04-23 18:00] #4719 closed

[2021-04-23 18:02] yaichenbaum commented on #4726
@winston-de dragging an item over a directory should not only navigate to it, it should also the user to drop the item there as well. This used to be the behavior but it looks like it broke in one of the many commits since v1.5.

[2021-04-23 18:14] winston-de commented on #4726
@yaichenbaum Yeah, I remember you mentioned that. I'm working on a PR with a few drag & drop fixes, I'll include that.

[2021-04-23 20:22] GriffinDarklighter opened #4727 "Files Bug"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-23 20:37] #4727 closed

[2021-04-23 21:47] pklion commented on #4682
Ctrl + Shift + 1/6 used in the windows default explorer.

[2021-04-23 21:50] yaichenbaum commented on #4682
In that case, let's change it to `ctrl` + `shift` + 1/6.
FYI @cinqmilleans

[2021-04-24 00:03] brendannoble opened #4729 "Taskbar icon is misaligned"
**Explain the bug**
The icon in the taskbar is misaligned with other icons, the bottom is a few pixels above the rest making it look off center.

**To reproduce**
1. Open Files
2. Check the icon against others in your taskbar

**Expected behavior**
The bottom of the icon should be aligned with the other icons in the taskbar.

**Screenshots**
![image](https://user-images.githubusercontent.com/26643

[2021-04-24 08:56] Therogamer opened #4731 "Files wont open no matter what"
Files wont launch/open not matter what.
I tried reinstalling running it as administrator everything it just wont work.

[2021-04-24 12:11] minidarknova opened #4732 "Different display option for different folder type"
Can we have different display option saved for different folder type. For example if a folder is video folder, it should show at a specific size that I assign it to show. If its Music folder, it should show all my music folders in a specific way and size in display option part.
Does that make sense what I am asking?
Explorer already does similar thing.

[2021-04-24 13:01] josh-65 commented on #4540
This turned to grid view when I went into it.
![image](https://user-images.githubusercontent.com/26977075/115959724-86356d80-a505-11eb-80a1-25fcd18aa26c.png)

[2021-04-24 14:04] sattarulwariqirohmani opened #4733 "can't delete for without recycle bin"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-24 14:58] d2dyno1 commented on #4540
Ahh.. I see 👀 There's a logic that adaptive layout follows so there's no random guessing. You can take a look at this logic here: https://github.com/files-community/Files/blob/main/Files/Helpers/AdaptiveLayoutHelpers.cs#L11

[2021-04-24 15:00] d2dyno1 commented on #4733
Could you add more details to the description

[2021-04-24 15:02] d2dyno1 commented on #4732
That feature already exists! Make sure you're on the latest version head to **Settings > Files and Folders > Enable individual preferences for individual directories**

[2021-04-24 15:28] sattarulwariqirohmani commented on #4733
If I delete file with shift and delete a file can't delete

[2021-04-24 17:50] matheus1776 opened #4734 "bug when right clicking on a jpg or mp4 file"
Go to any image file or mp4 / video file from windows through the files, Right click on it, an icon will appear as if you were processing / loading the options tab q always appears when you right click, but there , the files freezes, and you can’t access absolutely anything, you can just minimize and close it, when it freezes you try to do any action, like, click again or left click, and it just d

[2021-04-24 18:16] karthikeya-Git opened #4735 "Cannot delete multiple files selected using "SHIFT" key"
**Explain the bug**
when i tried to delete multiple files, i used shift key to select files and then delete key which resulted in bug and windows prompted me to report the bug.

**To reproduce**
1. Go to 'any file path'
2. Click on 'multiple files using SHIFT key'
3. Click on 'DELETE key'
4. See the error

**Expected behavior**
All selected files to be deleted (moved to recycle bin)

**Logfile**
[

[2021-04-24 21:03] winston-de commented on #4734
Thanks for reporting this bug. This issue was resolved with #4625.

[2021-04-24 21:03] #4734 closed

[2021-04-24 21:09] #4732 closed

[2021-04-25 01:22] yaichenbaum commented on #4729
It looks pretty aligned in the screenshot you shared, but perhaps the folder holder is causing it to look a little off.

[2021-04-25 01:23] yaichenbaum commented on #4731
@Therogamer Can you provide the log files and version information?

[2021-04-25 09:16] Therogamer commented on #4731
I can provide the version log files i cant right now
Version 1.5 Github

[2021-04-25 12:15] andstrat commented on #4391
Same Issue here when I open the second level of a  directory on non-C: drives and root layout is Detailed List.

WORKAROUND: As propososed by @gave92 changing the layout once to anything else than Detailed List. A crash never happed again while app was running and when opening a directory in Detail List layout even when switching to another drive.
Crash happens again with a freshly started app.

O

[2021-04-25 14:13] Rasmagoric commented on #4729
It's just one pixel off to the top.  Here's how it looks corrected:
![1px](https://user-images.githubusercontent.com/24687648/115996791-ab46e080-a5d8-11eb-93f0-0d523375d8e6.jpg)

[2021-04-25 14:17] osieltorres opened #4740 "Unable to drag selected items to a secondary pane"
**Explain the bug**
Unable to move files/folders dragging over secondary pane.

**To reproduce**
1. Go to Files application
2. Select some items
3. Try moving to secondary pane by dragging them
4. Overlay not block icon appears, not being able to drag the items

**Expected behavior**
Selected items to be moved by dragging them into pane.

**System Information**
 - OS Version: Windows 10 Pro, versi

[2021-04-25 14:20] AndriiHarashchak opened #4741 "Size of .rar files with small size not showed correctly"
**Explain the bug**
 .rar files that have a size smaller than 100kb (as I see on my device) are shoved as "empty" (0B) in folder view and in the "about" context menu.
In the screenshot given below the size of the archives is about 50kb each, but in Files, it`s showed as 0B.

**To reproduce**
Find a .rar file with a size smaller than 100 kb and look at its size.

**Expected behavior**
 To show the

[2021-04-25 14:43] yaichenbaum commented on #4640
This issue should be resolved with #4736.

[2021-04-25 14:43] #4640 closed

[2021-04-25 14:44] yaichenbaum commented on #4733
This issue should be resolved with #4736.

[2021-04-25 14:44] #4733 closed

[2021-04-25 15:08] #4725 closed

[2021-04-25 15:08] #4726 closed

[2021-04-25 17:50] josh-65 opened #4742 "bottom scroll bar cuts of file"
**Explain the bug**
It cuts a bit of the file off.

**Screenshots**
![image](https://user-images.githubusercontent.com/26977075/116003687-ea842a00-a5f6-11eb-8831-972f0d45daec.png)

**System Information**
 - OS Version: Windows 10 20H2 19042.928
 - App version:  v1.5.21

[2021-04-25 21:48] winston-de commented on #4740
Thanks for reporting this, this should be fixed with #4728.

[2021-04-25 21:48] #4740 closed

[2021-04-26 05:21] matheus1776 opened #4745 "Possible bug in error handling of files in dev version of build 21354"
I installed the new build preview of windows 10 that is in the "dev" phase on the insiders, the build is 21354, I set the files as the default manager file for windows 10 with the files that you have available to change the registry, when I did this, he displayed a notification saying: "An error not expected by the developers appeared, report", then, I went to test to see what had happened, to see

[2021-04-26 08:11] stanleyowen opened #4746 "Files Closes Unexpectedly"
**Explain the bug**
`Files` will close unexpectedly while trying to open a folder, then it loads for around 2s, and suddenly close unexpectedly which only occurs sometimes but stubborn.

**To reproduce**
It occurs suddenly and I didn't try to reproduce it.

**Expected behavior**
`Files` shouldn't close unexpectedly and any task should be done normally.

**Logfile**
Upload the log file here for us

[2021-04-26 10:21] cinqmilleans commented on #4741
I have not been able to reproduce the problem.

[2021-04-26 10:57] EcksDy commented on #4746
I'm having the same issue.

**Logfile**

[debug.txt](https://github.com/files-community/Files/files/6376463/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/Files/files/6376466/debug_fulltrust.txt)

**System Information**

- OS Version: Windows 10 Pro 20H2 19042.928
- App version: v1.5.0.0 from Microsoft Store

**Additional comment**

I've just updated to 1.5.0.0, and just insta

[2021-04-26 12:38] mc-marcocheng commented on #4684
I have the same issue. Where can I find the log file?

[2021-04-26 14:31] fabianogomesr opened #4747 "Bug Files"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-26 14:54] #4747 closed

[2021-04-26 15:16] winston-de commented on #4684
@RinLovesYou @mc-marcocheng Just out of curiosity, do you happen to use a device with Arm64 architecture?

[2021-04-26 15:21] winston-de commented on #4745
@matheus1776 Could you please upload the log file? You can find it in ```%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState```

[2021-04-26 15:36] mc-marcocheng commented on #4684
No.

Also, I downloaded and installed the app from the "Alternative download" link. I could not install the app with the Microsoft Store or the GitHub ones, For the Microsoft Store, it doesn't even download. For the GitHub one, the installer shows "Installing  required frameworks: 16%" and doesn't continue for at least 15 mins.

[2021-04-26 15:52] winston-de commented on #4684
@mc-marcocheng Thanks for the additional info. Unfortunately the Store is not without it's issues, and the required frameworks are also distributed through the Store which is likely why you can't install the GitHub distribution of Files.
A possible fix for this is to reset the Store, which you can do by running the following command in an administrator command prompt window: ```wsreset.exe```

[2021-04-26 15:58] brendannoble commented on #4729
That correction looks much better!

[2021-04-26 18:23] matheus1776 commented on #4745
[debug.txt](https://github.com/files-community/Files/files/6379268/debug.txt)

[2021-04-26 18:24] fnfontana opened #4751 "The installation get stucked at 16%."
**Explain the bug**
When I try to install the app, the installation get stucked at 16%. I've tried directly by the Microsoft Store and downloading the file here at GitHub.

**To reproduce**
Initiate the installer and wait for it...

**Expected behavior**
Finish the installation and use the program.

**Logfile**
I couldn't finish the installation, so there nos log file.

**Screenshots**
![Bug](http

[2021-04-26 18:25] winston-de opened #4752 "Preview pane doesn't respond properly when toggling in dual pane mode"
**Explain the bug**
The preview pane will not open or close properly when it is opened or closed in dual pane mode. Sometimes, it will not open at all in one of the panes. When closing, one of the panes will sometimes not have the column/row collapse properly.

**To reproduce**
1. Close preview pane
2. Open second pane
3. Enable preview pane
4. Preview pane will not open properly

<br>

1. Open pr

[2021-04-26 18:38] winston-de commented on #4745
Thanks for the additional info. It looks like this was not a false positive, as there was indeed an unhandled exception thrown. There doesn't seem to be an issue open for this. If you could make a new one, it would be greatly appreciated.

Here is the exception info:
[code]

[2021-04-26 18:55] matheus1776 opened #4753 "unhandled exception thrown."
Here is the exception info:

Parameter name: index|System.ArgumentOutOfRangeException: Index larger than max value.
Parameter name: index
   at System.Runtime.InteropServices.WindowsRuntime.IVector_CCWAdapter.EnsureIndexInt32(UInt32, Int32) + 0x74
   at System.Runtime.InteropServices.WindowsRuntime.IBindableVector_CCWAdapter.GetAt(IList, UInt32) + 0x26
   at System.Collections.IList__Impl.Vtbl.Get

[2021-04-26 19:20] yaichenbaum commented on #4751
The msix bundle will only work if you have the required dependencies. Can you try this installer https://files-community.github.io/package.github.io/Files.Package/Files.Package.appinstaller?

[2021-04-26 19:20] #4751 closed

[2021-04-26 19:21] #4753 closed

[2021-04-26 19:24] mc-marcocheng commented on #4684
@winston-de I ran the command for an hour and it did nothing. I even tried to reset Microsoft Store, still won't work. Then I go and update Windows, and it finally installs. The Files app is looking good right now. Thanks for the help.

[2021-04-26 19:25] josh-65 opened #4754 "Show when actions would required admin privileges"
**Describe the solution**
Like file explorer have an admin shield symbol next to an action that would require it like deleting a file.

[2021-04-26 19:53] fnfontana commented on #4751
Hi Yair, thank you for reply! I've also tried this installer, but still get stuck at 16% of the installation. What is the dependencies which I have to install before?

[2021-04-26 20:02] yaichenbaum commented on #4751
The app installer should add them all, where is it getting stuck?

[2021-04-26 22:51] yaichenbaum commented on #4754
This is already implemented in v1.5. Can you add a little more context?

[2021-04-26 23:03] josh-65 commented on #4754
Deleting or renaming won't show that they need admin always with the UAC prompt so a symbol next to the action can show it.

[2021-04-27 00:54] yaichenbaum commented on #4754
Oh, you mean in the context menus? Does this provide any benefit over the confirm dialog that we already show?

[2021-04-27 00:56] #4752 closed

[2021-04-27 01:46] yaichenbaum commented on #4746
This issue should be resolved in `main`.

[2021-04-27 01:46] #4746 closed

[2021-04-27 01:47] #4723 closed

[2021-04-27 03:32] stanleyowen opened #4756 "Unable to Select Multiple Folders/Files"
**Explain the bug**
Users are unable to select Multiple Folders/Files, it occurs also after I have reopen the `Files` Application.

**To reproduce**
It occurs suddenly and I didn't try to reproduce it.

**Expected behavior**
Users are able to select multiple folders/files.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open l

[2021-04-27 04:03] beqabeqa473 opened #4757 "accessibility: GridView of files and folders is not accessible for screenreaders"
Hello.

A GridView for displaying files and folders is not accessible for screenreaders.
columns and rows are not readable.

to reproduce an issue, you can launch narrator by pressing ctrl+shift+enter, open filels application, open some folder in it and try to navigate in a Grid by arrow keys.

expected result:
screenreader should read names of files and folders and all other possible columns in a

[2021-04-27 04:06] yaichenbaum commented on #4757
@beqabeqa473 What version of Files are you using? I just tested with the latest version of Files, and the screen reader is working fine in the grid view. By any chance, are you using the details layout?

[2021-04-27 04:07] yaichenbaum commented on #4756
The v1.5.2 rollout was paused to a couple breaking issues, can you try reinstalling Files to see if it's still an issue?

[2021-04-27 04:10] beqabeqa473 commented on #4757
@yaichenbaum I downloaded 1.5 version fro mgithub.
Yes, Details view was selected by default.

[2021-04-27 04:16] yaichenbaum commented on #4757
I am sorry about the inconvenience especially since accessibility is priority number one for us. I am happy to report that this issue is already resolved in `main` and will be available when we ship the next update, in the meantime, the grid view layout should be accessible with the screen reader.

[2021-04-27 04:16] #4757 closed

[2021-04-27 04:21] beqabeqa473 commented on #4757
I am ready to test and report issues if they still persist, because accessibility is high priority for me also, as i am blind person.

i found some other issues which could be already resolved.

do you have some beta channel or nightly builds so i could download and test the latest version?

thanks for prioritising accessibility.

[2021-04-27 04:23] yaichenbaum commented on #4703
Duplicate of #997.

[2021-04-27 04:23] #4703 closed

[2021-04-27 04:25] yaichenbaum commented on #99
Starting with #4744, Files will use the system thumbnails making this no longer relevent.

[2021-04-27 04:25] #99 closed

[2021-04-27 04:26] yaichenbaum commented on #655
This enhancement was recently implemented in `main`.

[2021-04-27 04:26] #655 closed

[2021-04-27 04:28] yaichenbaum commented on #1352
@d2dyno1 Can you confirm that that your recent changes resolved this issue?

[2021-04-27 04:29] yaichenbaum commented on #1154
This issue is no longer relevent since we now display other information in the tooltip in addition to the name.

[2021-04-27 04:29] #1154 closed

[2021-04-27 04:31] yaichenbaum commented on #1823
@lbfatcgf Is this still an issue in v1.5?

[2021-04-27 04:31] yaichenbaum commented on #1796
This issue should be resolved in `main`.

[2021-04-27 04:31] #1796 closed

[2021-04-27 04:32] yaichenbaum commented on #1604
Merging with #1912.

[2021-04-27 04:32] #1604 closed

[2021-04-27 04:35] yaichenbaum commented on #2309
@Don-Vito This appears to be resolved in `main`, can you check on your end?

[2021-04-27 04:35] yaichenbaum commented on #2279
This issue should be resolved in `main`.

[2021-04-27 04:35] #2279 closed

[2021-04-27 04:35] yaichenbaum commented on #4370
This issue should be resolved in `main`.

[2021-04-27 04:35] #4370 closed

[2021-04-27 04:36] yaichenbaum commented on #3062
This issue should be resolved in `main`.

[2021-04-27 04:36] #3062 closed

[2021-04-27 04:36] yaichenbaum commented on #2242
@generalguy41 Is this still an issue in v1.5?

[2021-04-27 04:37] stanleyowen opened #4758 "Unable to Upload Video Through Drag and Drop Feature"
**Explain the bug**
As described, `Files` supports Drag and Drop Feature, I am unable to upload video through Drag and Drop Feature to other third party apps, but I am able to drop other file types (.*txt).

**To reproduce**

**Expected behavior**
Users should be able to upload all file types without any restriction extension.

**Logfile**
Upload the log file here for us to understand your issue b

[2021-04-27 04:38] yaichenbaum commented on #2008
This feature was recently implemented in `main`.

[2021-04-27 04:38] #2008 closed

[2021-04-27 04:39] yaichenbaum commented on #2305
@gave92 Do you know if this is still an issue?

[2021-04-27 04:40] yaichenbaum commented on #2570
@winston-de Can you confirm if this is resolved in `main`?

[2021-04-27 04:40] yaichenbaum commented on #2527
This issue should be resolved in `main`.

[2021-04-27 04:40] #2527 closed

[2021-04-27 04:44] yaichenbaum commented on #2576
This enhancement was recently implemented in `main`

[2021-04-27 04:44] #2576 closed

[2021-04-27 04:46] yaichenbaum commented on #2592
We don't have plans to setup a translation service at this time, however, you can try using the tools linked to in the [documentation](https://files-community.github.io/docs/#/articles/translating-files) to make translating Files easier.

[2021-04-27 04:46] #2592 closed

[2021-04-27 04:50] yaichenbaum commented on #2971
Files does seem to have access to certain directories which are blocked by default in File Explorer, I am not sure if this is a bug or if Files just has a higher level of access. @ADeltaX, kind of random, but would you have any idea about this?

[2021-04-27 04:51] #2946 closed

[2021-04-27 04:51] yaichenbaum commented on #2945
Merging with #4521.

[2021-04-27 04:51] #2945 closed

[2021-04-27 04:56] yaichenbaum commented on #3005
This issue should be resolved in `main`.

[2021-04-27 04:56] #3005 closed

[2021-04-27 04:57] yaichenbaum commented on #3012
This issue should be resolved in `main.

[2021-04-27 04:57] #3012 closed

[2021-04-27 05:08] yaichenbaum commented on #4757
@beqabeqa473 Please make sure to report other issues that you find, it's likely that many of them are already resolved in the dev builds, but it's better to report them in case we missed them. You can also join our Discord server to get access to preview builds.

[2021-04-27 05:39] winston-de commented on #2570
@yaichenbaum It is not, but it's something I'm working on for the new details view. Previously this was blocked by https://github.com/windows-toolkit/WindowsCommunityToolkit/issues/3400.

[2021-04-27 06:07] d2dyno1 commented on #1352
Nope, that's not been fixed. @yaichenbaum

[2021-04-27 08:03] KITTran commented on #4697
I have already added Files version and uploaded log files

[2021-04-27 08:30] josh-65 commented on #4754
It only appears once for the first time its needed if i was testing actions to see if they need admin i would have to click all of them and restart files in between to see if the admin prompt comes up.  It is slow and annoying especially on lower spec systems. Right clicking to see a symbol can instantly tell me that multiple action's would require admin.

[2021-04-27 10:16] bieye250 opened #4761 "CAN NOT SHOW THE WINDOWS HIDDEN FILES"
Hi，I'm from China, using Windows 10, and I notice the application can't show the hidden files .  Also,  I have a file named "edge下载", but it doesn't  show (of course, the file can  be found by search-bar ) .
 see the images:![](https://ftp.bmp.ovh/imgs/2021/04/feec52112cdfe6f4.png)

[2021-04-27 10:47] TailyFair commented on #4761
Are hidden files setting turned on?
![image](https://user-images.githubusercontent.com/27275873/116229352-0f93ac80-a75f-11eb-917c-6fe3f1293005.png)

[2021-04-27 11:04] Therogamer commented on #4731
I resolved the issue with store and yes the store version works.

[2021-04-27 11:04] #4731 closed

[2021-04-27 15:40] beqabeqa473 commented on #4643
Hello.

when toggling to new details mode, screenreader starts to read contents of files and folders, but everytime folder changes focus jumps to name button instead of staying on file/folder list.

please fix that thing which makes app usage not so comfortable.

thanks.

[2021-04-27 15:44] beqabeqa473 opened #4762 "Accessibility issues"
Hello.

In comments below, i will write down all possible found issues related to accessibility.

[2021-04-27 15:46] beqabeqa473 commented on #4762
List items in a listview which is located next to tab bar have no labels.

their labels are located inside listview items themselves.

[2021-04-27 15:56] frbona commented on #2279
Hi,

After several tests, issue still occur on some big size folders

Thx,
François-Regis

Envoyé de mon Galaxy S21+ 5G Orange
Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>

________________________________
From: Yair Aichenbaum ***@***.***>
Sent: Tuesday, April 27, 2021 6:35:59 AM
To: files-community/Files ***@***.***>
Cc: frbona ***@***.***>; Mention ***@***.***>
Subject: Re: [files-c

[2021-04-27 16:13] yaichenbaum commented on #2279
@frbona Are you sure you tested the new details layout in `main`?

[2021-04-27 16:17] yaichenbaum commented on #4754
The UAC prompt should always show when trying to take an action that requires admin access.

[2021-04-27 16:19] nickolas52468 opened #4763 "More Libraries!"
**Is your feature request related to a problem?**
NO

**Describe the solution**
a way to add more Libraries to Files, like on original explorer

**Describe alternatives you've considered**
add a action for when the user right-click on Libraries, on the side bar, apears a option for create a New Librarie

**Additional comment**
is muth useful then Packeges, bacause is more minimalist and great to u

[2021-04-27 16:20] frbona commented on #2279
I am just testing list view. Which view are ypu calling 'main' ?

Envoyé de mon Galaxy S21+ 5G Orange
Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>

________________________________
From: Yair Aichenbaum ***@***.***>
Sent: Tuesday, April 27, 2021 6:13:39 PM
To: files-community/Files ***@***.***>
Cc: frbona ***@***.***>; Mention ***@***.***>
Subject: Re: [files-community/Files] Touch som

[2021-04-27 16:22] josh-65 commented on #4754
you sure it only shows up once for me then files is always in admin mode until it closed

[2021-04-27 16:25] winston-de opened #4764 "Crash when attempting to open some libraries"
**Explain the bug**
I have noticed that attempting to navigate to the "saved pictures library" is causing a crash for me. This does not occur with any other library.

**To reproduce**
1. Open "saved pictures library"
2. Files crashes

**Logfile**
[code]

**Screenshots**

https://user-images.githubusercontent.com/59544401/116277318-3390c700-a73a-11eb-866f-04acd47b9b25.mp4

**System Information**
 -

[2021-04-27 16:26] josh-65 commented on #4758
It also doesn't work for log files in 1.5.21

[2021-04-27 16:35] winston-de commented on #4763
Thanks for opening this issue. This has already been implemented, the option is located in the "..." menu in the library cards widget. You can then add folders to that library through the library properties, which you can access by right clicking it.

https://user-images.githubusercontent.com/59544401/116278674-93d43880-a73b-11eb-869c-8bfaaac2d9e4.mp4

[2021-04-27 16:35] #4763 closed

[2021-04-27 16:39] yaichenbaum commented on #4754
@josh-65 Files running in admin mode is something else, the UAC prompt should still come up when you need to take an action.

[2021-04-27 16:42] josh-65 commented on #4754
ok ill make a new issue.

[2021-04-27 16:42] #4754 closed

[2021-04-27 16:47] josh-65 opened #4765 "UAC prompt only shows up first time when admin is needed."
**Explain the bug**
When I take an admin action it will only show up the first time after that it will accept all others

**Expected behaviour**
UAC prompt should show up for all admin actions

**Logfile**
[debug.log](https://github.com/files-community/Files/files/6386213/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/6386214/debug_fulltrust.log)

**System Informat

[2021-04-27 16:53] iamjoelburris opened #4766 "Click, Drag, Release File Moving"
So when dragging files from the app to another app or within itself, one must click the item, release then click a second time to drag selected item. In WinExplorer it is 1 click. Click, drag, release click and it transfers. LOVE your application, but this one hiccup is uber frustrating to me. 1 click-select-drag-drop-release click motion is very very much desired. Thank you!

[2021-04-27 16:57] yaichenbaum commented on #4765
I was able to reproduce this in `main`. Thanks for opening the issue.

[2021-04-27 16:57] yaichenbaum commented on #4766
This issue should be resolved in `main`.

[2021-04-27 16:57] #4766 closed

[2021-04-27 16:58] yaichenbaum commented on #4766
The changes will be included when we release the next update 🚀

[2021-04-27 17:01] iamjoelburris commented on #4766
Killer!!!!

[2021-04-27 17:27] yaichenbaum commented on #2956
This issue appears to be resolved in `main`.

[2021-04-27 17:27] #2956 closed

[2021-04-27 17:30] yaichenbaum commented on #4643
@winston-de Fyi #2963.

[2021-04-27 17:31] #2794 closed

[2021-04-27 17:34] yaichenbaum commented on #3051
Merging with #1928.

[2021-04-27 17:34] #3051 closed

[2021-04-27 17:34] #3056 closed

[2021-04-27 17:35] yaichenbaum commented on #3048
This issue appears to be resolved in `main`.

[2021-04-27 17:35] #3048 closed

[2021-04-27 17:38] yaichenbaum commented on #3263
This issue appears to be resolved in `main`.

[2021-04-27 17:38] #3263 closed

[2021-04-27 17:39] yaichenbaum commented on #3262
@gavinayling Is this still an issue in v1.5?

[2021-04-27 17:42] yaichenbaum commented on #3225
@Josue7425 Is this still an issue in v1.5?

[2021-04-27 17:43] yaichenbaum commented on #3218
@tgrelka Is this still an issue in v1.5?

[2021-04-27 17:44] Josue7425 commented on #3225
The app works normally.

[2021-04-27 17:45] #3133 closed

[2021-04-27 17:45] yaichenbaum commented on #3129
@geedotk Is this still an issue in v1.5?

[2021-04-27 17:46] yaichenbaum commented on #3128
@Obianuju7 Is this still an issue in v1.5?

[2021-04-27 17:48] #3359 closed

[2021-04-27 17:49] yaichenbaum commented on #3359
We don't have plans to implement this change.

[2021-04-27 17:50] yaichenbaum commented on #3332
@mbeps Is this still an issue in v1.5?

[2021-04-27 17:51] yaichenbaum commented on #3330
@HamidRezaAshkiyan Can you fill out the issue template?

[2021-04-27 17:52] #3287 closed

[2021-04-27 17:54] yaichenbaum commented on #3275
Is the folder indexed?

[2021-04-27 17:54] yaichenbaum commented on #3538
Fyi @d2dyno1

[2021-04-27 17:55] yaichenbaum commented on #3522
@ReyMagos Is this still an issue in v1.5?

[2021-04-27 17:55] yaichenbaum commented on #3445
This issue should be resolved in `main`.

[2021-04-27 17:58] #3397 closed

[2021-04-27 17:59] yaichenbaum commented on #3721
@Motauer84 Is this still an issue in v1.5?

[2021-04-27 18:00] yaichenbaum commented on #3697
Merging with #1015.

[2021-04-27 18:00] #3697 closed

[2021-04-27 18:00] yaichenbaum commented on #3693
This issue should be resolved in `main`.

[2021-04-27 18:00] #3693 closed

[2021-04-27 18:03] yaichenbaum commented on #3820
@nvi9 Do you want to work on this issue?

[2021-04-27 18:06] yaichenbaum commented on #3950
We don't have plans to implement this change.

[2021-04-27 18:06] #3950 closed

[2021-04-27 18:09] yaichenbaum commented on #3985
This issue should be resolved in `main`.

[2021-04-27 18:09] #3985 closed

[2021-04-27 18:11] yaichenbaum commented on #4241
This issue should be resolved in `main`.

[2021-04-27 18:11] #4241 closed

[2021-04-27 18:14] yaichenbaum commented on #4206
@duke7553 Is this specific to debug mode?
@d2dyno1 Can you check if this is still an issue with the latest in `main`?

[2021-04-27 18:16] yaichenbaum commented on #4240
This issue appears to be resolved in `main`.

[2021-04-27 18:16] #4240 closed

[2021-04-27 18:17] yaichenbaum commented on #4308
@evancjohnson Are you still working on this issue?

[2021-04-27 18:18] yaichenbaum commented on #4256
This issue should be resolved in `main`.

[2021-04-27 18:18] #4256 closed

[2021-04-27 18:18] #3225 closed

[2021-04-27 18:19] #3332 closed

[2021-04-27 18:35] nickolas52468 commented on #4763
strange .. there is no option in the version I have here (1.5.0.0)

[2021-04-27 18:53] #4697 closed

[2021-04-27 18:54] gave92 commented on #4697
Thanks I can confirm this issue is fixed in latest code

[2021-04-27 18:57] winston-de commented on #4763
My bad, full library support is currently in insider builds, so it isn't available in 1.5. I apologize for the confusion.

[2021-04-27 20:00] evancjohnson commented on #4308
I totally spaced on this I'll have a PR for it this evening!

[2021-04-27 20:24] jcedmiston commented on #4710
possibly related to #4511 (Use CTRL + Left click for new tab)

[2021-04-27 20:40] winston-de commented on #4315
This actually seems to be a bug with WinUI, not with Files.

[2021-04-27 20:40] #4315 closed

[2021-04-27 21:02] TobberH opened #4768 "Files app freezes when right-clicking in the interface"
**Explain the bug**
Opening files App, selecting any drive to see files content will freeze the app interface making it unusable for me.

**To reproduce**
1. Open app
2. Click on any drive or folder
3. Right click anywhere in the interface.
4. App freezes and becomes unresponsive

**Expected behavior**
Expect the app to show context menu or something like that?

**Logfile**
[debug.txt](https://git

[2021-04-27 21:35] JettFlat commented on #4665
Same problem.  Microsoft Windows Version 2004 (Build 19041. 331)

[2021-04-27 21:37] nickolas52468 commented on #4763
not bad, so i will look for insider and still wait for it on realease version...
a great good tool  can be costum icons to libraries too... i like to use personal ICONs on special folders 😆

[2021-04-27 22:59] #2129 closed

[2021-04-27 23:01] yaichenbaum commented on #4768
@TobberH What version of Files do you have?

[2021-04-28 02:04] lbfatcgf commented on #1823
This issue has been solved

[2021-04-28 02:04] #1823 closed

[2021-04-28 02:14] yaichenbaum commented on #4252
@gave92 Were you able to reproduce this?

[2021-04-28 02:15] #4252 closed

[2021-04-28 04:10] Jaiganeshkumaran commented on #4718
Ctrl+F4 should also work I think

[2021-04-28 05:46] Mr-Second opened #4772 "Replace win10 explorer"
how to intercept win10.explorer.exe request and use this app instead?

[2021-04-28 05:55] TailyFair commented on #4718
CTRL + F4 closes whole application, not specific tab.

[2021-04-28 06:21] winston-de commented on #4772
Hi! You can replace Windows Explorer with Files by following [this guide](https://files-community.github.io/docs/#/articles/replace-file-explorer).

[2021-04-28 06:21] #4772 closed

[2021-04-28 06:57] haneenmahd commented on #4665
Maybe you should update to the latest one!
It worked on my machine after I updated

[2021-04-28 07:28] mangoepic commented on #4665
@haneenmahd I will try this thanks. Just realized windows gave me some update errors so will try. It sounds like a good idea for a file manager to be compatible with at least some older versions though?

[2021-04-28 10:07] Motauer84 commented on #3721
The issue still continue.

[2021-04-28 10:34] shoker537 opened #4774 "Clicking "OK" in Downloads Properties window crashes the app"
If I open Properties of Downloads folder (from sidebar) while being in the main screen (not in any folder) and click "OK" to close it the app crashes.
So if you open any folder and then open Properties of Downloads from sidebar it works fine.

**To reproduce**
1. Open Files
2. Open Properties of Downloads folder from sidebar
3. Click "OK" in Properties

**Expected behavior**
Just close Properties

[2021-04-28 10:53] haneenmahd commented on #4665
If that did not work try downloading to windows insider builds

[2021-04-28 11:12] ReyMagos commented on #3522
No, it isn't. "Item already exists" messages appearing without any probems.

[2021-04-28 11:45] Jaiganeshkumaran commented on #4718
Isn't that Alt+F4?

[2021-04-28 12:44] XPoppyX opened #4775 "Some Nav toolbar buttons have outdated id in string resources"
**Explain the bug**
Some "Display options" and "Selection options" button id is outdated in string resources

**Currently:**
`StatusBarControlDisplayOptionsButton.ToolTipService.ToolTip`
`StatusBarControlDisplayOptionsButton.AutomationProperties.Name`

`StatusBarControlSelectionOptions.AutomationProperties.Name`
`StatusBarControlSelectionOptions.ToolTipService.ToolTip`

**How it should be:**
`NavT

[2021-04-28 13:16] jmbaier opened #4776 "Fechando sozinho"
**Explain the bug**
Write a clear description of what the bug is.

**To reproduce**
1. Go to '....'
2. Click on '....'
3. Scroll down to '....'
4. See the error

**Expected behavior**
Write a clear description of what you expected.

**Logfile**
Upload the log file here for us to understand your issue better.
- You can access it from Settings->About->Open log location.
or
- Copy the debug.log and d

[2021-04-28 14:05] yaichenbaum commented on #3721
Can you try turning off the setting to cache items?

[2021-04-28 14:05] #4776 closed

[2021-04-28 14:16] #4775 closed

[2021-04-28 14:17] #3522 closed

[2021-04-28 15:31] winston-de commented on #4774
Thanks for reporting this, merging with #4531

[2021-04-28 15:31] #4774 closed

[2021-04-28 16:04] SiRo24 opened #4779 "New design"
**Is your feature request related to a problem?**
A clear description of what the problem is.

**Describe the solution**
A clear description of what you want.

**Describe alternatives you've considered**
A clear description of any alternative solutions or features you've considered.

**Additional comment**
Add any other comment or screenshots about the feature request here. What device type/UI lay

[2021-04-28 16:11] yaichenbaum commented on #4779
@SiRo24 Are you in the insider flight group? The new design is currently only for insiders.

[2021-04-28 17:44] SiRo24 commented on #4779
I always installed the latest windows insider versions, and I am currently on "Windows 10 Insider Preview 21364.1 (co_release)"

[2021-04-28 18:05] mangoepic commented on #4665
I can confirm that it now works for 20H2 (Build 19042.928)

[2021-04-28 18:28] winston-de opened #4780 "Implement access keys (aka key tips)"
**Is your feature request related to a problem?**
Many apps, including Windows Explorer, have key tips that show after pressing Alt to make it easier to navigate through the app from just a keyboard without having to memorize all the keyboard shortcuts.

Key tips in Windows Explorer:
![image](https://user-images.githubusercontent.com/59544401/116452791-f3514780-a812-11eb-90e0-321ac7323083.png)

**

[2021-04-28 18:36] yaichenbaum commented on #4779
@SiRo24 The Files insider program is different than the Windows Insider Program.

[2021-04-28 18:39] SiRo24 commented on #4779
Ok, but I never entered that one, even though I could use that version for about one day.. anyway, is there any way to become part of the Files insider program?

[2021-04-28 18:59] yaichenbaum commented on #4779
Yes! Please join our Discord server for more information.

[2021-04-28 18:59] #4779 closed

[2021-04-28 19:02] HamidRezaAshkiyan commented on #3330
I have switched to Ubuntu but I will try to install and test it another time so i can provide more info.
As long as i remember i had this issue long tine with different versions.

[2021-04-28 19:17] gavinayling commented on #3262
It does not appear to be!!
[bitmoji](https://sdk.bitmoji.com/render/panel/2063b3b3-2054-4a07-83b6-0a10a04de771-721131e3-0798-46ac-a25c-b68f3a3c5b3f-v1.png?transparent=1&palette=1&width=246)

[2021-04-28 19:30] #3262 closed

[2021-04-29 00:06] pklion opened #4781 "Hide "Open in Files""
**Is your feature request related to a problem?**
I'm using the Files app by default, but it shows the "Open in Files" item in the context menu.

**Describe the solution**
Hide the "Open in Files" item only in Files

**Describe alternatives you've considered**
N/A

**Additional comment**
N/A

[2021-04-29 00:08] pklion commented on #4781
Oh, why isn't this tagged automatically?

[2021-04-29 00:11] yaichenbaum commented on #4781
@pklion Can you add more context on the open in files option?

[2021-04-29 00:15] pklion commented on #4781
![image](https://user-images.githubusercontent.com/78145811/116487666-76ce6f80-a8cb-11eb-8452-376266595fdd.png)

[2021-04-29 00:18] yaichenbaum commented on #4781
@pklion This isn't part of Files, did you by any chance run the script we made a while back for this?

[2021-04-29 00:26] pklion commented on #4781
I ran [This script](https://files-community.github.io/docs/#/articles/replace-file-explorer)
So maybe that causes this problem...

[2021-04-29 00:27] pklion commented on #4781
And FYI "Open in Files" menu only showed in the folder context menu.

[2021-04-29 00:28] yaichenbaum commented on #4781
That script doesn't add anything to the context menu, we had a different script a while ago on the Wiki but we stopped supporting it a couple months ago.

[2021-04-29 01:35] #4780 closed

[2021-04-29 02:37] XPoppyX opened #4783 "Proposal for icon changes (3)"
_Part 3 of icon change proposals_

**Before:**

The "**Open in new tab**" and "**Open in new window**" icons are actually outdated so the change is necessary for these two

![Captura de pantalla 2021-04-28 212431](https://user-images.githubusercontent.com/61259627/116491588-3ab5f300-a868-11eb-9e69-784cd27eeb1e.png)

![Captura de pantalla 2021-04-28 212404](https://user-images.githubusercontent.com

[2021-04-29 02:45] ChildishGiant opened #4784 "When maximising a window, the accent colour is shown for a few frames"
**Explain the bug**
When a window is maximised, the new area is shown in the user's accent colour for a few frames.

**To reproduce**
1. Drag a window to the top or press the maximise button
100% reproducible

**Expected behavior**
The window to immediately resize or use the themed colour so as not to flash.

**Screenshots**

https://user-images.githubusercontent.com/13716824/116496832-d4e45e00-a8

[2021-04-29 02:57] pklion commented on #4781
@yaichenbaum
![image](https://user-images.githubusercontent.com/78145811/116497284-f23b1b80-a8e1-11eb-8888-a06c5ef2861f.png)
I think this is adding the "Open in Files" menu, isn't it?

[2021-04-29 02:59] ChildishGiant opened #4785 "Custom icons aren't used in the favourites bar"
**Is your feature request related to a problem?**
I use custom icons for my folders so I can quickly recognise them but in the sidebar they aren't shown
![ApplicationFrameHost_EtwZqAOoLn](https://user-images.githubusercontent.com/13716824/116496901-ff361b80-a89d-11eb-912e-25c25a48188d.png)

**Describe the solution**
Customs icons should be used in the sidebar 🤷

**Describe alternatives you've cons

[2021-04-29 03:09] yaichenbaum commented on #4781
Hmm, if it is, it shouldn't be there. @gave92 do you know what this is doing?

[2021-04-29 03:11] yaichenbaum commented on #4783
@XPoppyX This looks good, are these the last icons using `OldFluentUIGlyphs`?

[2021-04-29 03:14] yaichenbaum commented on #4784
This appears to be a framework bug with CoreWindow, can you open an issue for this  in the Feedback Hub as it's not specific to Files?

[2021-04-29 03:14] #4784 closed

[2021-04-29 03:15] yaichenbaum commented on #4785
Thanks for opening this issue, there is an open PR for this right now, in the meantime, let's continue tracking this in #2472.

[2021-04-29 03:15] #4785 closed

[2021-04-29 03:16] ChildishGiant commented on #4785
Ah sorry about that 😅

[2021-04-29 03:27] ChildishGiant commented on #4784
Would there be any way to change it to use the background colour, not the accent?

[2021-04-29 03:38] XPoppyX commented on #4783
@yaichenbaum I think it is still used in some parts because if I delete that font family the app crashes when clicking on certain options

[2021-04-29 04:05] Weilbyte opened #4786 "Text color not setting properly when switching to Windows default"
**Explain the bug**
Switching from `Light` to `Dark` theme works fine but when you switch from `Light` to `Windows default` (in this example, the windows default is dark) the files have black text (resulting in unreadable black-on-black text).

**To reproduce**
1. Navigate to a folder (with files)
2. Go to `Settings > Appearance`
3. Set theme to opposite of Windows default (for me, light)
4. Set t

[2021-04-29 04:06] yaichenbaum commented on #4786
Thanks for opening this issue, this issue should be resolved in `main`.

[2021-04-29 04:06] #4786 closed

[2021-04-29 04:07] yaichenbaum commented on #4784
Unfortunately changing the background isn't something that's supported.

[2021-04-29 04:08] yaichenbaum commented on #4785
No worries! It will hopefully be ready when we ship the next update.

[2021-04-29 04:10] #4762 closed

[2021-04-29 08:37] TailyFair commented on #4718
Oh,  you're right... I confused CLTR with ALT key 😅
Although I still think that CTRL + W is more common than CTRL + F4 and should be shown in tooltip.

[2021-04-29 08:45] mangoepic commented on #4783
i find that the Multitasking maybe shouldn't be exactly the task view symbol?

[2021-04-29 09:01] mangoepic opened #4788 "Add animation for opening a file"
**Is your feature request related to a problem?**
Currently the double click animation (in the larger layouts) is just the same as two single clicks. Some programs need a while to start up. It would be nice to have a small reassuring indication that Files is now opening something. Users might try to open the file multiple times

![GIF 29 04 2021 11-04-35](https://user-images.githubusercontent.com/

[2021-04-29 10:45] torgeros opened #4789 "FR: option for lasttab-behaviour"
## Feature Request

I would like to have an option to change the behaviour on closing the last tab.

## Reasons for that

Right now, when you close the last tab, the window closes with it. I like my tabbed windows (ie firefox) to open a new tab when closing the last one.
I do not like the fact that I can't spam-click the close-button of the tabs until all tabs are closed.

## Suggestion for Implem

[2021-04-29 10:58] torgeros commented on #3562
While this could be useful when integrated into the workflow, especially when moving or copying files, it might overload the user with UI.

If this gets implemented, I would like it to be either an OPT-IN feature or maybe even an addon (if addons are possible with UWP)

[2021-04-29 13:26] josh-65 commented on #4735
I don't have this issue so its fixed for the next update or was never broken. Try reinstalling files.

[2021-04-29 13:35] josh-65 commented on #4781
you can go to "HKEY_CURRENT_USER\SOFTWARE\Classes\Directory\shell\openinfiles" in the reg and delete openinfiles folder to remove it. As for the reg file the line @pklion highlighted does add it.

[2021-04-29 13:51] josh-65 commented on #3562
couldn't you just search *.mp3 in the directory then ctrl + a

[2021-04-29 14:20] yaichenbaum commented on #3562
It's something the user would have to toggle first so that shouldn't be an issue.

[2021-04-29 14:23] yaichenbaum commented on #4788
Once a user double clicks an item, Files doesn't know when the item is done opening, it's technically possible to try to track it, but it's out of scope for Files.

[2021-04-29 14:23] #4788 closed

[2021-04-29 14:27] mangoepic commented on #4788
@yaichenbaum its less about knowing exactly when a file is opened, but more about a general ux hint _that_ a file is trying to open, because there is no visual difference between selecting and opening something