[2021-11-29 22:41] JishnuJayaraj commented on #6952
same error exists for me. All other sidebar toggles functions but switching ON/OFF wsl brings up nothing on side panel.

[2021-11-30 00:28] TizianoMad commented on #7136
Hi,

Careful, this request has got nothing to do with "patching" themes.
It's an Icon creator "option" for individual folders.

Thank you.

[2021-11-30 00:38] yaichenbaum commented on #7136
@TizianoMad once the icon is created, we would have to modify the system dlls to replace the default icon. There are other ways to do it, but they are a bit complicated and out of scope for what we plan to work on in terms of customization. It's probably better for something like this to be its own app.

[2021-11-30 00:59] TizianoMad commented on #7136
@yaichenbaum, thank for your answer.

No, it is not the case !  As I said, it's not a "patcher" modifying DLLs in the system.
It is just applying a "desktop.ini" file with the icon created in the same folder, to make it portable as well, as I described in the post.

Pity if this app can't be an exclusive addon for "Files", as customization and design are the novolties of your app.
Maybe if you kno

[2021-11-30 01:06] yaichenbaum commented on #7136
@TizianoMad I think I misunderstood, you're just looking for an icon creator that will set individual icons normally? It's an innovative idea but it's still a bit out of scope for Files, even so I'll reopen the issue as a discussion to see how many users are interested.

[2021-11-30 02:02] TizianoMad commented on #7136
You got it. I recon you have a lot of work dealing with all prior aspects of your app.
If you take the time to read my intro, I precisely explain it would be optional as an "extension" app.
(means won't be part of the properties unless it is voluntarily added, but you got the right idea now).
I was suggesting integrating such a new proper app as extension (it's just an idea for the future, priorit

[2021-11-30 03:41] TizianoMad commented on #6553
Hi,
Surely for the ones like you who need to access older versions, this classic feature is needed.
For my part, I don't use it (as I dis-activated "Restore previous versions" in Windows) and had to remove it from the context menu and the properties options, with a small reg change (in that case, I would much prefer customizing the contexte menu #3966).

[2021-11-30 03:54] TizianoMad commented on #6421
Actually, "Files" is trying to offer improvements in displaying thumbnails, though taking more control of your explorer should also be part of the app, I guess it would be normal to include what is already part of usual features of the classic windows file explorer.

[2021-11-30 04:53] TizianoMad commented on #5031
I understand the issue. For example, to display "PDF" icon instead of the Chrome logo, I had to tweak Chrome's behavior in its reg files ans add the .ico file in its system folder. Obviously, it would have been easier to change the rule directly in file explorer settings.

[2021-11-30 06:17] maytinhdibo opened #7157 "Add command to cmd/wsl/powershell"
### What's the Problem?

Likely explore also have a command to open a folder by command.

### Solution/Idea

Likely explore also have a command to open a folder by command.

### Alternatives

Likely explore also have a command to open a folder by command.

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This prop

[2021-11-30 06:34] bitchyass opened #7158 "Cannot disable the option to set Files as default"
### Description

So I enabled the option to set Files as the default explorer application, but when I try to turn it off, it doesn't work. The prompt from Registry Editor to allow it to edit the registry does appear, but it doesn't work. When I click on the prompt for more notifications, it shows the location of the regedit file to be at "C:/Users/name/AppData/Local/Packages/49306atecsolution.File

[2021-11-30 08:14] jarno9981 commented on #7158
@bitchyass  try to reinstall it and all remaining updates it had that before but these things fixed for my

windows 11 build: 22000.348 beta same as you

[2021-11-30 08:22] BanCrash commented on #7158
Hi @bitchyass  , you have to follow the instructions here to unset as default file explorer:

https://files.community/docs/configuring/replace-file-explorer

TL;DR: download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run UnsetFilesAsDefault.reg to restore windows explorer

[2021-11-30 08:22] #7158 closed

[2021-11-30 10:00] gave92 commented on #7157
Do you mean starting Files from command line? If so you can `> files.exe some_directory`

[2021-11-30 10:17] maytinhdibo commented on #7157
yes

[2021-11-30 10:17] #7157 closed

[2021-11-30 10:38] laomengwa opened #7159 "Navigating to a directory with forward slashes breaks basic functionality"
### Description

Windows 的文件路径格式是用反斜线"\\"表示目录，但也兼容 Unix 的文件路径格式"/"，当在"Files"的路径框内以正斜线输入我自己的文件夹路径"E:/9/media/1"无法打开文件或创建、删除、编辑文件，但可以浏览文件夹的属性。
![image](https://user-images.githubusercontent.com/69566148/144031429-227a8b39-8deb-4129-a184-88160fca439f.png)

### Steps To Reproduce

点击“文件路径输入框”，把所有的"\\"替换成"/"，按下"enter"。

### Expected behavior

修复正斜线路径下的文件操作，但不希望以字符的替换的方式实现这操作（不希望把"/"替换为"\\"）。

### Files

[2021-11-30 12:08] hez2010 commented on #7159
A brief translation: cannot use `/` as path delimiter in path bar.

[2021-11-30 13:25] Jaiganeshkumaran opened #7163 "Reduce duplicated string resources"
Today there's a lot of duplicated string resources that basically represent the same word/phrase. For better maintainability, consider having one copy of it in the resource file and use binding to load localized strings in XAML.

[2021-11-30 14:31] Magic-0 commented on #7035
For information, this bug has newly occurred in the same context and I can say that files crashes after I press the enter key.
![image](https://user-images.githubusercontent.com/94640678/144066166-d2baf8ef-0d29-4af9-bf1f-d3ef90c034ca.png)

Logs in attachment.
[debug.log](https://github.com/files-community/Files/files/7626445/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files

[2021-11-30 14:44] josh-65 commented on #6504
This seems to be fixed in 2.0.41.0

[2021-11-30 14:46] DAmNRelentless commented on #6811
In fact, nothing which is executed from the Windows Run menu seems to work with Files.
Version: 2.0.34.0
OS Version: 10.0.22000.348

[2021-11-30 14:46] josh-65 commented on #7136
There is better options for making custom icons like Gimp and Photoshop for this.

[2021-11-30 14:52] josh-65 opened #7164 "Allow sideloading the themes extension for the sideloaded files"
### What's the Problem?

Currently the themes extension is quite hidden and not usable anyway but the store versions.

### Solution/Idea

Adding a themes download button under the current files one on the site with the same options and if sideload is picked

### Alternatives

Allow the extension to work with both store and sideloaded ones from where ever its installed from.

### Priorities

_No re

[2021-11-30 15:14] nfe213 commented on #7030
https://nfe213.github.io/pin-files-demo/

Check this out. Its a very rough demo but should get the point across. Default view is up top and my proposal is down below.

It might just be that there aren't enough users to warrant this feature in the main branch; if that is the case, how much work would it be for me to implement this feature on my own? I'm familiar with web dev stuff so XAML shouldn't

[2021-11-30 15:27] TizianoMad commented on #7136
Hi,
These are real picture editors, I'm talking about a very small specially preconfigured extension-app for W11 icons, as you can see in [# 2 App example](http://cocci10.fredisland.net/modules/images/DOSSIERS2.png).

[2021-11-30 16:21] cinqmilleans commented on #3944
@gave92 @yaichenbaum @d2dyno1
I did a trial implementation. This does not reduce performance so much because the sizes are calculated after displaying the rest. I do think, however, that this should be a setting, (disabled by default). The implementation only calculates once per element and displays in the size column and footer.

https://user-images.githubusercontent.com/46631671/144085880-110621

[2021-11-30 16:48] yaichenbaum commented on #3944
@cinqmilleans that doesn't look too bad, does it have any impact on performance at all?

[2021-11-30 16:53] yaichenbaum commented on #7030
@nfe213 correct me if I'm wrong but what you're looking for is an option to link items and group them together in a list. I think that the tags feature will work for this once we improve the feature.

[2021-11-30 17:07] cinqmilleans commented on #3944
@yaichenbaum I did not see any noticeable loss. The sizes update last without blocking the user interface. We can therefore do everything even if the sizes have not finished loading: open a sub-folder, rename, ....

[2021-11-30 17:23] MUH-ABDOU opened #7165 "*.txt files opened by notepad opens behind files Explorer GUI"
### Description

any opened text file goes behind the files explorer, which requires activating the notepad from taskbar to be able to edit.

### Steps To Reproduce

open any text file.

### Expected behavior

notepad opens on top of files explorer GUI, and to be able to edit rightaway.

### Files Version

2.0.34

### Windows Version

Win11 21H2

### Relevant Assets/Logs

![image](https://user-ima

[2021-11-30 17:53] MUH-ABDOU opened #7167 "Add Recent Files option in settings"
### What's the Problem?

Would be nice if we can remove recent file section from the home window.

### Solution/Idea

Add recent files switch in settings.

### Alternatives

N/A

### Files Version

2.0.34

### Windows Version

Win11 21H2

### Comments

_No response_

[2021-11-30 17:59] MUH-ABDOU commented on #7167
Just Fount it in Manage Widgets section on the top right area (next to the three dots). Closing This.

[2021-11-30 17:59] #7167 closed

[2021-11-30 18:01] yaichenbaum commented on #3944
@cinqmilleans do you want to add this as an experimental option?

[2021-11-30 18:05] cinqmilleans commented on #3944
@yaichenbaum Yes of course. I prepare this.

[2021-11-30 18:16] MUH-ABDOU opened #7168 "Speed Enhancements needed"
### Description

Files takes about 2 seconds to load Drives widget on startup.
Files takes about 1 to 2 seconds to show the full context menu items on right click, it is fast and good on right click and shows some items immediately, but takes time to load the rest.

would be nice if they can get fixed as they are frequently faced while using the app.

### Steps To Reproduce

Issue1- Open Files wit

[2021-11-30 18:21] yaichenbaum commented on #7168
Merging with #4180

[2021-11-30 18:21] #7168 closed

[2021-11-30 18:33] rsmyst opened #7169 "Files Crashes when simply selecting all files in a massive folder"
### Description

I have a couple picture folders with 1000+ pictures in them. FIles just seems to slow down a lot when opening those folders.
when it finally catches up, selecting all basically kills the app. this happens rather consistently as well.
In the end, i had to resort to copying the folders without opening them which made the issue disappear magically.

### Steps To Reproduce

1. Have a

[2021-11-30 19:28] kaname-png opened #7170 "I cannot see the Videos folder of my WIndows user"
### Description

I try to enter the default folder that Windows creates for users called Videos, but when I try to enter the application closes, I do not understand why because Windows Explorer can access without problems.

### Steps To Reproduce

1. Go to 'Videos' folder
2. See error

https://user-images.githubusercontent.com/56084970/144114926-e696dc08-e75a-44ea-b7ba-3962b03982c7.mp4

### Expect

[2021-11-30 19:33] #7001 closed

[2021-11-30 19:33] #6946 closed

[2021-11-30 19:33] #6896 closed

[2021-11-30 19:34] #6938 closed

[2021-11-30 19:34] #6720 closed

[2021-11-30 23:55] MarvinGrijalva opened #7171 "Unmount ISO files"
### Description

I have used files for some time and I consider that it is very good, better than the traditional file explorer, I have only noticed that when unmounting an ISO the unit still remains.

### Steps To Reproduce

1. Mount a ISO file
2.  Unmount a ISO file

### Expected behavior

That the units used are cleaned

### Files Version

Versión: 2.0.34.0 OS Version: 10.0.22000.318

### Windo

[2021-12-01 02:51] dayue1984 opened #7172 "Drag file not working on win11"
### Description

I can not drag file into wechat on windows11.
besides, I can not revert choice of setting files to defualt file manager.

### Steps To Reproduce

1. select file in files
2. drag the file onto wechat window
3. it shows "+" and file number under the mouse cursor witch means the drag operation should be receipted by wechat
4. release mouse button
5. nothing happened

### Expected beh

[2021-12-01 04:06] yaichenbaum commented on #7164
@josh-65 we're planning on replacing the theme extension in one of the next updates, can you try downloading the specific theme file directly from the repo?

[2021-12-01 06:41] #7171 closed

[2021-12-01 06:41] gave92 commented on #7171
Thanks for the report. Merging with #6072

[2021-12-01 06:43] gave92 commented on #7172
Hi, to restore windows explorer you'll need to download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run UnsetFilesAsDefault.reg.

[2021-12-01 06:48] gave92 commented on #7170
Thanks for the report. Could you try the following?
- Turn off "enable individual preferences for folders" option in Files settings > files and folders
- Go to any directory and set Grid View layout mode
- Try open the Videos folder

[2021-12-01 07:15] DejayRezme commented on #6448
I also think it's important you can both customize individual folders but also set a new default for all others. Like a few folders I want sorted by date modified, but all others should just be details with longer filenames showing.

[2021-12-01 08:14] nixwf opened #7173 "Set as default Experimental Feature will not revert."
### Description

I love this app, but it is notably slower than the default Windows 10 explorer. I recently set it as default to test it out, but i can't go back now. Whenever i click on the button to un-set it as default, it opens up a "Allow this app too maked changes to your pc blah-blah-blah", but when i click yes, it stays as my default file explorer. I'd really like to go back, but i'm unsur

[2021-12-01 08:46] bobworm opened #7174 "Display refresh"
### What's the Problem?

After a file is deleted, it still appears in the folder, unless you hit F5.

### Solution/Idea

Just refresh the folder.

### Alternatives

Manually refresh by hitting F5

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This

[2021-12-01 09:53] WhosPruv opened #7176 "Google Drive Folders not showing up under "Cloud Drives""
### Description

I am 3 google drive accounts logged in but the folders are not showing

![image](https://user-images.githubusercontent.com/94924029/144211761-7e5b8697-d2e8-4dbe-9ac6-9c26746d2875.png)

### Steps To Reproduce

_No response_

### Expected behavior

Should show the folders

### Files Version

Version: 2.0.41.0 OS Version: 10.0.22000.348

### Windows Version

Windows 11 21H2 22000.318

[2021-12-01 11:06] Torikkusu opened #7177 "crash"
### Description

total crash

### Steps To Reproduce

1 go to Libraries
2 go to Picture
3 crash

1 go to Libraries
2 go to Video
3 crash

### Expected behavior

open the folder

### Files Version

Version: 2.0.34.0 OS Version: 10.0.19043.1348

### Windows Version

Windows 10 Pro 21H1 19043.1348

### Relevant Assets/Logs

I don't get any logs

[2021-12-01 11:13] Torikkusu opened #7178 "SFTP/FTP"
### What's the Problem?

I don't wanna use a "Third-Party" programm to connet to my server, instant i wanna have it in my file manger, like one drive

### Solution/Idea

add a FTP/SFTP to file manger like FileZilla or winSCP

### Alternatives

-

### Priorities

-

### Files Version

Version: 2.0.34.0 OS Version: 10.0.19043.1348

### Windows Version

Windows 10 Pro 21H1 19043.1348

### Comments

_

[2021-12-01 12:31] BanCrash commented on #7173
Hi @nixwf , you have to follow the instructions here to unset as default file explorer:

https://files.community/docs/configuring/replace-file-explorer

TL;DR: download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run UnsetFilesAsDefault.reg to restore windows explorer

[2021-12-01 12:31] #7173 closed

[2021-12-01 12:31] BanCrash commented on #7174
Hello @bobworm , are you trying on a local folder or on a network folder / mtp device?

[2021-12-01 14:53] bobworm commented on #7174
Sorry, I forgot to mention, it's happening when I am trying to delete or move a file on another machine connected with Remote desktop.
I have just encountered another problem, I used the experimental option to set your application as default. When I tried to set it off it switches back to default immediately :-(
Thanks for you help and for that interesting alternative to the ugly file explorer of

[2021-12-01 15:22] RickeyWard commented on #7178
I'm not against adding a more robust integration (I'd love something like winscp that supports scp and browsing remote linux shares from my windows pc) but I'd like to point out FTP is already available.

FTP is a standard windows feature for mapped drives via the "network" section. expand network drives, right click on "network" and choose "map network drive" which supports FTP.

![image](https:/

[2021-12-01 16:01] RickeyWard opened #7179 "Filter folder contents via a fuzzy search"
### What's the Problem?

Different than Search (which searches down from current folder) I find I'm often looking for files in the current folder but not its subfolders. I often deal with very large folders with hundreds or thousands of files in it. Its very difficult to find files I'm looking for when I remember/know only a subset of the file name and Its not the beginning. File explorer and File

[2021-12-01 16:03] zzz2496 opened #7180 "I can't keep sorting preferences to stay in tact."
### Description

I've set my view mode to "Column", then set "Sort by" to "Date created" and "Group by" also to "Date created". If I close the tab, or close "Files" app, whenever I reopen, "Sort by" and "Group by" returns to it's default value.

### Steps To Reproduce

1. Go to "Layout"
2. Select "Columns"
3. Go to "Sort"
4. Highlight "Sort by", choose "Date created"
5. Go to "Sort"
6. Highlight "

[2021-12-01 16:30] josh-65 commented on #7164
I can manually add the file I just like the extension since it all of them and auto updated. if it planed to be replaced that's fine ill close this.

[2021-12-01 16:30] #7164 closed

[2021-12-01 17:35] duke7553 commented on #6328
@VPraharsha03 Can you still reproduce this bug with the latest version of Files?

[2021-12-01 17:45] Josh-65 opened #7181 "File/folder in the recycle bin can be added to other folders in it"
### Description

I can take a file or folder from anyway including the recycle bin itself into a folder into the recycle bin. it doesn't permantly delete them and adds them like normal folder would.

### Steps To Reproduce

_No response_

### Expected behavior

When moving file/folder into others in the recycle bin should be disabled. External files/folders added should go directly into the root o

[2021-12-01 17:48] josh-65 opened #7182 "New icon for mixed operation results"
### What's the Problem?

Currently if there a mix of successful and failed (not sure if it also does it during active ones) it will show the badge as failed.

### Solution/Idea

Add a new badge colour orange with a tilde (~) icon

### Alternatives

None

### Priorities

_No response_

### Files Version

2.0.41.0

### Windows Version

10.0.19043.1387

### Comments

_No response_

[2021-12-01 18:01] yaichenbaum commented on #7182
Merging with #4811.

[2021-12-01 18:01] #7182 closed

[2021-12-01 18:04] gave92 commented on #7176
Does Google drive show under Drives section?
Could you show a screenshot of Windows Explorer sidebar?

[2021-12-01 18:04] #7177 closed

[2021-12-01 18:04] gave92 commented on #7177
Merging with #7170

[2021-12-01 18:07] gave92 commented on #7178
Alternatively you can paste the Ftp path in the address bar and then pin the directory to favourites.
Instead SFTP is not yet supported.

[2021-12-01 18:10] #7180 closed

[2021-12-01 18:10] gave92 commented on #7180
Merging with #6370

[2021-12-01 20:10] BanCrash commented on #7174
Hello @bobworm , thanks for confirming. For the first issue, it's a known issue, merging with #5869

About the second issue: you have to follow the instructions here to unset as default file explorer:

https://files.community/docs/configuring/replace-file-explorer

TL;DR: download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip

[2021-12-01 20:10] #7174 closed

[2021-12-01 21:30] DevTechSolutions opened #7183 "Network Locations or equivalent of This PC"
### What's the Problem?

When using Files vs File Explorer, I noticed that there is no way to view the "Network Locations". This is where we place all Department Share shortcuts at our enterprise, so having this feature would be amazing. It could drastically increase adoption at our organization.

### Solution/Idea

I suggest to add another tab in the sidebar for Network locations.

### Alternativ

[2021-12-01 21:40] gave92 commented on #7183
Could you show a screenshot of windows explorer showing this?

[2021-12-01 22:40] DevTechSolutions commented on #7183
![12-01-2021-explorer_0zYCYDzuBx](https://user-images.githubusercontent.com/37643484/144325676-2b240e58-a2a1-431e-88f1-4a17f02baab9.png)

Hopefully this gives a clear picture of what I am referrring to. It is best practice to use shortcuts instead of mapped drives these days, so we push these shortcuts to all our users for accessing department shares instead of mapping drives.

[2021-12-01 23:06] kaname-png commented on #7170
@gave92 I did it and it has worked very well what you have told me, now I no longer get that error when viewing the videos and images folder of my Windows user.

[2021-12-02 01:04] dhbtfs commented on #4848
Please consider adding this feature as soon as you can. I am literally waiting on this feature to ditch old windows explorer.

[2021-12-02 01:11] TCMOREIRA opened #7184 "Linux version"
### What's the Problem?

Whenever I'm on Linux I really miss having "Files" as my Files-Browser. I haven't found a replacement for it that looks just as good and with all of its functionality right out of the box (not even Nautilus + Extensions + Themes).

Would it be too much? To ask for a Linux version?

### Solution/Idea

Making 'Files' compatible with Linux would be awesome!

Being able to dow

[2021-12-02 03:01] #7184 closed

[2021-12-02 04:31] bobworm commented on #7174
It works, thanks very much,

On 02/12/2021 00:10:35, BanCrash ***@***.***> wrote:
Sorry, I forgot to mention, it's happening when I am trying to delete or move a file on another machine connected with Remote desktop. I have just encountered another problem, I used the experimental option to set your application as default. When I tried to set it off it switches back to default immediately :-( Than

[2021-12-02 07:08] alalloush opened #7187 "Control+Shift while renaming file doesn't select word"
### Description

While renaming a file/folder, holding Shift lets you select multiple characters. Holding control lets you skip over words.

Holding both control + shift should let you select whole words. It currently exits out of the rename state.

### Steps To Reproduce

1. Click rename on a file
2. Hold Control+Shift and press Left/Right
3. Pressing left will end renaming
4. Pressing right will

[2021-12-02 07:10] alalloush commented on #7187
Duplicate of #6778

[2021-12-02 07:10] #7187 closed

[2021-12-02 09:53] japesdb commented on #7138
I have encountered this problem as well. I noticed that when you cut or copy file/s or folder/s and paste them to a new directory or drive, usually you still have the old or previous folder selected which ends up with that empty folder. I always have to make sure that I have everything deselected then I paste whatever was copied or cut.

[2021-12-02 10:30] MUH-ABDOU opened #7188 "Arrange Widgets Feature"
### What's the Problem?

Currently I can't find an option to arrange widgets in home. for ex. make drivers widget above folders widget.

### Solution/Idea

Add an option for this either in settings or in manage widgets dropdown.

### Alternatives

N/A

### Priorities

_No response_

### Files Version

2.0.34

### Windows Version

Win11 21H2

### Comments

_No response_

[2021-12-02 10:51] groundwater-modeling opened #7189 "设置了默认文件管理，然后取消不掉。现在软件闪退，没法用。"
### Description

设置了默认文件管理，然后取消不掉。现在软件闪退，没法用。

### Steps To Reproduce

_No response_

### Expected behavior

It can't be set as non-default files manager.

### Files Version

win11

### Windows Version

win11

### Relevant Assets/Logs

no logs

[2021-12-02 14:08] epullay opened #7190 "Files keeps crashing, no visible error code"
Hello!
Yesterday I installed Files on my computer, and after some hours of usage I set it as the default files explorer on win 10 enterprise.
Everything was working fine until a couple of hours had passed, and now Files won't open. It displays the splash screen of the software, holds for about 1 second and then closes automatically

![image](https://user-images.githubusercontent.com/7623299/144437

[2021-12-02 14:24] muhammadbahaa2001 opened #7192 "Roll back to File Explorer for testing purposes"
### What's the Problem?

I have set Files 2.0 as default file manager for Windows, I tried to roll back using a .reg file, it worked fine but can't run File Explorer from pinned in Taskbar, only I can run by opening any folder or Start Menu.
I used to open File Explorer from pinned in Taskbar.

### Solution/Idea

Why not give option / integrate a .reg file script that will allow to roll back to fi

[2021-12-02 14:33] #7192 closed

[2021-12-02 15:09] jhancuff commented on #6849
Can confirm, can't permanently delete items from network shares in general if the dialog is disabled.

[2021-12-02 15:42] jesuisleprecieu opened #7193 "Files crashes whenever I click on it"
When I open Files, it just closes itself... I can't do anything except reinstalling files on the Microsoft Store... Any advice pls ?

[2021-12-02 15:44] Raithlin commented on #7077
Is there an accepted shortcut we can assign to this? I can do the pull request for this if we decide on that.

[2021-12-02 15:55] yaichenbaum commented on #7188
Merging with #2263

[2021-12-02 15:55] #7188 closed

[2021-12-02 16:15] yaichenbaum commented on #7193
@jesuisleprecieu can you upload the logs? It might be easier to open a new bug report where you can use the template to include relevant information https://github.com/files-community/Files/issues/new?assignees=&labels=bug&template=bug_report.yml.

[2021-12-02 16:15] #7193 closed

[2021-12-02 16:16] yaichenbaum commented on #7190
@epullay can you upload the logs? It might be easier to open a new bug report where you can use the template to include relevant information https://github.com/files-community/Files/issues/new?assignees=&labels=bug&template=bug_report.yml.

[2021-12-02 16:16] #7190 closed

[2021-12-02 16:22] epullay opened #7194 "Files crashes on startup, no visual errors"
### Description

Yesterday I installed Files on my computer, and after some hours of usage I set it as the default files explorer on win 10 enterprise.
Everything was working fine until a couple of hours had passed, and now Files won't open. It displays the splash screen of the software, holds for about 1 second and then closes automatically

### Steps To Reproduce

None, seems to just fail when l

[2021-12-02 16:25] yaichenbaum commented on #7077
@Raithlin there is already a shortcut, this issue is specifically about using tab navigation to enter edit mode. I have a fix I'm working on for this and plan to open a PR soon.

[2021-12-02 16:33] yaichenbaum commented on #6391
@cognociente this issue should be resolved in v2.0.34.

[2021-12-02 16:33] #6391 closed

[2021-12-02 16:34] #7043 closed

[2021-12-02 17:08] gave92 commented on #7194
Also #7088

[2021-12-02 17:11] Marechoux commented on #7194
Hello, I had the same issue, deleting the content of the parameter "LastSessionTabList" in the file "%localappdata%\Local\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState\settings\user_settings.json" seems to have fixed the problem for me.

[2021-12-02 17:20] gave92 commented on #7194
@epullay could you try @Marechoux suggestion? If it works, please also post the contents of `user_settings.json`, _before removing the value_. Thanks!

[2021-12-02 17:23] dantonbertuol commented on #7194
I have the same problem. Removing user_settings.json worked. Any idea what it might be?

[2021-12-02 17:36] aayushyap89 opened #7195 "Can't drag and drop files or folders into other places or folders."
### Description

New bug, for some reason I cant drag and drop items such as images or folders into a folder, it shows that little block icon on the white square, the same one that shows up when you drag an item onto your taskbar to open chrome which dosnt work on win11 anymore but use to on win10.
Btw forgot to report so the debugfiles might be late.

### Steps To Reproduce

1. Find a file and cr

[2021-12-02 17:36] gave92 commented on #7189
Hi, download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run UnsetFilesAsDefault.reg to restore windows explorer.

[2021-12-02 17:37] #7189 closed

[2021-12-02 17:38] aayushyap89 opened #7196 "Video previews in recycle bin broken."
### Description

So whenever I clicked on a video it starts out normal for I would guess 1/4 to 1/2 a second and then it turns into this covering the whole video, I also noticed for the 1/2 second it is normal the play button is white as if I am able to click it but after it bugs out it turns this gray and I cant play it neither can I change the time line. I have restarted and tested this 3 times

[2021-12-02 17:50] yaichenbaum commented on #7196
@winston-de are previews meant to work in recycle bin?

[2021-12-02 17:58] winston-de commented on #7196
Yes, because it seemed to work fine, but if it's causing issues I'll make a PR so it only shows the thumbnail.

[2021-12-02 18:26] alirezanoori1986 opened #7197 "Option to disable recent files section"
### What's the Problem?

Just like the title says. I don't want the program to save the recent files that I have opened. Imagine a browser that doesn't let you clear history or disable it.

### Solution/Idea

Add an option for this. Both to disable the feature and clear current ones.

### Alternatives

Use windows options

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This

[2021-12-02 18:29] gave92 commented on #7197
Being implemented in #5882

[2021-12-02 18:29] #7197 closed

[2021-12-02 18:32] alirezanoori1986 opened #7198 "Remember sidebar status"
### Description

The program doesn't remember the status of lists on the sidebar. The default explorer does this. For example, I want the Favorites to be visible all the time.

### Steps To Reproduce

1. Open the program
2. Expand Favorites
3. Close the program
4. Open the program again

### Expected behavior

Favorites should be expanded

### Files Version

2.0.34.0

### Windows Version

Windows

[2021-12-02 18:52] gave92 commented on #7198
Merging with #6469

[2021-12-02 18:52] #7198 closed

[2021-12-02 19:40] rgilsimoes commented on #6937
I have a similar problem.

But only "Local Drives" load slow.

I think I could be related to having network attached drives.

[2021-12-02 19:56] dantonbertuol commented on #7194
Attached the user_settings file that doesn't work and the user_settings that works.

From the file that doesn't work I removed the line below, and mysteriously it came back working:
` "{\"InitialPageType\":\"Files.Views.PaneHolderPage, Files, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null\",\"NavigationArg\":{\"$type\":\"PaneNavigationArguments\",\"LeftPaneNavPathParam\":\"C:\\\\Users\\\\29

[2021-12-02 20:08] gave92 commented on #7194
@dantonbertuol I think it means that Files crashes for you if you visit the Videos library.

[2021-12-02 20:24] epullay commented on #7194
Yup, that fixed it for me. Thank you so much!

[2021-12-02 20:25] gave92 commented on #7194
@epullay do you still have the user_settings.json that made it crash?

[2021-12-02 20:29] epullay commented on #7194
Yeah, I'll send the lines right away. The directory that got unplugged wasn't open afaik, but it's worth a shot anyways
[code]

[2021-12-02 20:31] epullay commented on #7194
Yeah, I'll send the lines right away. The directory that got unplugged wasn't open afaik, but it's worth a shot anyways
[code]

[2021-12-02 20:34] gave92 commented on #7170
Note: happens if folder is grouped and contains an element with DisplayName != Name.

[2021-12-02 23:32] gave92 commented on #7194
@epullay could you check if visiting any of those folders (e.g `H:\Games\The Harbour`) causes Files crash? If not, could you check what happens if you add those lines back into user_settings.json? Thanks for the help.

[2021-12-03 02:27] groundwater-modeling commented on #7189
我真的太感谢你了。Much appreciated.

[2021-12-03 03:02] Kingqibin commented on #7189
I meet the same problem, thank u so much!!!

[2021-12-03 15:05] #7183 closed

[2021-12-03 15:05] yaichenbaum commented on #7183
This issue should be resolved with #7185

[2021-12-03 16:43] brunur opened #7204 "Customization"
### What's the Problem?

_No response_

### Solution/Idea

I do not need date/type/size columns. I remove these and resize the name column every time I load up. I'd like the ability to save the preferences so I don't have to do this every day and with every folder that I open, which is many. I work in a dozen folders and rename files constantly. Please add an 'apply to all folders' option and incl

[2021-12-03 17:29] gave92 commented on #7204
Try to turn off the "enable individual preferences for folders" in Files setting > File and folders. Any preference you set will be used for all folders.

[2021-12-03 17:39] brunur commented on #7204
I hadn't seen that option there. I had to increase the size of the window,
it was being cut off at the 'show unindexed items..' line.

Thank you for the help :)

On Fri, Dec 3, 2021 at 9:29 AM Marco Gavelli ***@***.***>
wrote:

[2021-12-03 17:47] EntityReborn opened #7205 "Browsing a server doesn't show shares/password prompt"
### Description

I'm on Windows 11, and when I go to \\SOME-SVR\, it doesn't ask for credentials, nor does it list shares when I have credentials entered via Credential Manager.

### Steps To Reproduce

1. Browse to \\SOME-SVR

### Expected behavior

Expect password prompt in case of no credentials saved in Credential Manager, or list of shares when authorized to view.

### Files Version

2.0.34.0

[2021-12-03 18:49] Magic-0 opened #7206 "Partial copy with android device"
### Description

When I want to copy a folder with file and subfolders in my android smartphone, Files copy only the file contained in it but not others folders.

### Steps To Reproduce

1. Connect a smartphone to the PC
2. Select media synchronization in your android device
3. Copy a folder in your android device

### Expected behavior

Files copy the entire folder with files and folder contained

[2021-12-03 19:04] #7204 closed

[2021-12-03 20:01] Jetfly56 opened #7208 "Right clicking items that do not have focus does not work"
### Description

Right items that are not highlighted continues the action of bringing up the context menu for the folder/file that already has focus, also it appears that tags do not work on some types of folders, shared folders appear to not work. Also Opening a folder in "Dual Pane, where the new folder opens on the right pane, if another folder is selected in the left pane, it is opened in a n

[2021-12-03 20:36] #4362 closed

[2021-12-03 20:36] gave92 commented on #4362
Bumping to #7304

[2021-12-03 23:26] Erquint commented on #2065
![Screenshot](https://i.imgur.com/FqdxTyh.png)
I see people reporting numbers around 60 MB…
I just installed it and it's already **half-a-gigabyte** with a couple handfuls of tabs!
And it lags like all hell, taking seconds for a reaction to every click…

[2021-12-04 00:37] epullay commented on #7194
I've been messing with the following settings on the user_settings.json file
[code]
Removing the H:/ drive from the list seems to fix the issue, if I have any other folders in the LastSessionTabList setting. However, leaving just the H:/ drive in the settings doesn't cause the crash.
I'm including new logs, just including 2 folders. This should still replicate the crash
[code]

[2021-12-04 12:58] chselab opened #7209 "Potential race condition in FileOperationsHandler"
### Description

The file contains the class `ProgressHandler` whose methods `AddOperation`, `RemoveOperation`, and `UpdateOperation` may be called in parallel judging from the use of `ConcurrentDictionary`. All three methods invoke `UpdateTaskbarProgress` which ultimately uses the property `Progress`:
https://github.com/files-community/Files/blob/3a8da90d8009010d699a1c94df9b2420d97c06fa/Files.Lau

[2021-12-04 14:30] mndream opened #7210 "默认文件资源管理器选项无法关闭"
### Description

默认文件资源管理器选项无法关闭

在设置中点击这个选项一直是打开状态，无法关闭

卸载后无法打开旧的 默认的文件资源管理器

### Steps To Reproduce

_No response_

### Expected behavior

默认文件资源管理器选项可以关闭，恢复旧的文件资源管理器

### Files Version

版本: 2.0.34.0 OS Version: 10.0.19042.1348

### Windows Version

20H2

### Relevant Assets/Logs

2021-11-28 21:09:02.4556|INFO|OnLaunched|App launched. Prelaunch: False
2021-11-28 21:09:03.0590|INFO|GetDrivesAsyn

[2021-12-04 15:30] gave92 commented on #7210
Hi, download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run UnsetFilesAsDefault.reg to restore windows explorer.

[2021-12-04 15:30] #7210 closed

[2021-12-04 15:45] Josh-65 opened #7211 "Bug: No prompt is displayed when shortcut cannot be created"
### Description

Admin folders like programs folder can not have shortcuts be made. with file explorer it will ask to make it on the desktop with files it just doesn't do anything

### Steps To Reproduce

_No response_

### Expected behavior

Should ask to make it in a user specified location (desktop default)

### Files Version

2.0.41.0

### Windows Version

10.0.19043.1387

### Relevant Assets/

[2021-12-04 22:20] josh-65 opened #7213 "Allow disabling the settings button if user doesn't run in admin"
### What's the Problem?

I would like to use files for my server account that is restricted and as it can be used now I would like stopping users accessing the settings.

### Solution/Idea

Add a toggle in settings to only show the button if it's ran in administrator. The button wont show at all or give a "Settings has been disabled by administrator"

### Alternatives

Add a group policy item call

[2021-12-04 22:23] Josh-65 opened #7214 "Feature: Move widget options to the main settings modal"
### What's the Problem?

Currently it the only settings that is not in the settings menu. I would expected them in there and still end up looking in there for them because it makes more sense. This will add to #7213

** Requirements
- Remove flyout from toolbar
- Add widgets section to the appearance settings page
- Add sub settings to turn widgets on/off

[2021-12-05 01:31] yaichenbaum commented on #2065
@Erquint It depends on how many tabs you have open, if you have any ideas on how to fix the memory leaks, please open a PR, we've been having a lot of trouble with this.

[2021-12-05 07:09] 701yekeparG opened #7215 "No drives are shown anymore, I don't know the reason."
### Description

No drives are shown anymore, I don't know the reason.

### Steps To Reproduce

I have only opend Files a second time.

### Expected behavior

The browser should show my drives.

### Files Version

2.0.34.0

### Windows Version

Windows 10 Pro 19042.1348

### Relevant Assets/Logs

![image555](https://user-images.githubusercontent.com/30576606/144737228-d09500d2-474e-4e13-bd7d-b3639

[2021-12-05 07:32] alirezanoori1986 opened #7216 "File operations improvements"
### What's the Problem?

As described in "Idea" section.

### Solution/Idea

- Add a button to clear all completed operations.
- An option to automatically remove completed operations
- Option to show operations in a panel/dialog when they are running

### Alternatives

N/A

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W |

[2021-12-05 07:44] alirezanoori1986 opened #7217 "Bug: Delete shortcuts don't work on search results"
### Description

There are a lot of issues with file operations when you search.

### Steps To Reproduce

1. Go to a folder and search for anything
2. Select an item
3. Hit "Delete" on the keyboard (or Shift + Delete)
4. Observe that the item isn't deleted

### Requirements
- Shortcuts should work as expected

### Files Version

v2.3.49

### Windows Version

Windows 11 10.0.22000.348

### Relevant

[2021-12-05 08:18] Sabarigirishan opened #7218 "Default file explorer feature is not working properly."
### Description

This feature is not working when I open any drivers(C, D, E, etc) or recycle bin using run command(win+R) in win11.
But normal folder are opening in the files software.r

### Steps To Reproduce

1. Type Win+R.
2. Type folder destination(c:\)
3. Hit enter.
![image](https://user-images.githubusercontent.com/66403234/144738763-15592ad7-5ec9-4a6f-8d4d-b362e460d741.png)

### Expected b

[2021-12-05 10:10] CHALENCON-Yoan opened #7219 "Copy and Paste doesn't work !"
### Description

When I try to copy and paste a file or a folder, it's not working !
When I copy, the paste logo lights up but when I click on it, nothing happens, not even an error message.
If I paste the file on my desktop, it works and if I do with Windows File Explorer, it works to.

### Steps To Reproduce

1. Select a file or a folder
2. Click on copy
3. Go to an other folder (or not)
4. Clic

[2021-12-05 10:27] gave92 commented on #7215
Thanks for the report. Could you post the app's 2 log files? You can get them from Files Settings > About.

[2021-12-05 11:18] gave92 commented on #7218
This is currently by design. To open Files when clicking on This PC or recyclebin, the reg files included below should do the trick but there may be undesired side effects.

To do:
1. Extract the two files from this archive [SetUnsetFilesAsDefault_Bad.zip](https://github.com/files-community/Files/files/5825020/SetUnsetFilesAsDefault_Bad.zip) and place them *on the desktop*
2. Run `SetFilesAsDefaul

[2021-12-05 11:18] #7218 closed

[2021-12-05 12:22] gdmcoder opened #7221 "Option to 'set Files as Default File Explorer' doesn't get undo/disabled"
So, i intentionally enabled the option to 'set Files as Default File Explorer' but now, i want to go back to default Windows File Explorer so, first i tried to disable that option 'set Files as Default File Explorer' but it wasn't going back

![k2wML36xQt](https://user-images.githubusercontent.com/95571677/144745910-15e74b31-f76f-4b53-83b2-7c8f01ccf20d.gif)

so, then i uninstall the app but after

[2021-12-05 12:29] gave92 commented on #7221
To restore windows explorer, download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run UnsetFilesAsDefault.reg.

[2021-12-05 12:29] #7221 closed

[2021-12-05 12:30] riksque opened #7222 "Moving one tab among the others caused the software to crash"
### Description

Déplacement d'un onglets parmi les autres à fait planter le logiciel.

### Steps To Reproduce

_No response_

### Expected behavior

Je pensait simplement déplacer un onglet pour mieux les organiser.

### Files Version

Version : 2.0.34.0 OS Version: 10.0.22000.348

### Windows Version

Édition	Windows 11 Professionnel Version	21H2 Installé le	‎17-‎11-‎21 Build du système d’exploi

[2021-12-05 12:37] gdmcoder commented on #7221
Ohh Thanks bro👍😄

[2021-12-05 14:20] yaichenbaum commented on #7216
@alirezanoori1986 the first issue is already resolved in `main`. Can you open individual issues for the others so we can track them seperately?

[2021-12-05 14:20] #7216 closed

[2021-12-05 15:00] #7206 closed

[2021-12-05 15:00] yaichenbaum commented on #7206
This issue should be resolved with #7212.

[2021-12-05 15:55] 701yekeparG commented on #7215
Oops! I have deinstalled your program already again. 😳

Am 05.12.2021 um 11:27 schrieb Marco Gavelli ***@***.***>:

﻿

Thanks for the report. Could you post the app's 2 log files? You can get them from Files Settings > About.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/files-community/Files/issues/7215#issuecomment-9

[2021-12-05 16:00] gave92 commented on #7215
No problem, closing this. Please let us know if it happens again.

[2021-12-05 16:00] #7215 closed

[2021-12-05 17:03] #7170 closed

[2021-12-05 17:04] yaichenbaum commented on #7170
This issue should be resolved with #7202.

[2021-12-05 17:36] alirezanoori1986 opened #7224 "An option to automatically remove completed operations"
### What's the Problem?

_No response_

### Solution/Idea

An option to automatically remove completed operations

### Alternatives

N/A

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will allow developers to accomplish Y | Could |
|

[2021-12-05 17:36] alirezanoori1986 opened #7225 "Feature: Option to show operations in a panel/dialog when they are running"
### What's the Problem?

_No response_

### Solution/Idea

Option to show operations in a panel/dialog when they are running

### Alternatives

N/A

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will allow developers to accomplish Y |

[2021-12-05 17:36] alirezanoori1986 commented on #7216
@yaichenbaum Done.

[2021-12-05 17:57] yaichenbaum commented on #7224
@alirezanoori1986 do you mean a button or a setting that will not show completed operations to begin with?

[2021-12-05 17:59] alirezanoori1986 commented on #7224
A setting that, if turned on, will automatically remove the completed task from the "ongoing tasks" section. So suppose you copy a file. During the copy process, it is shown on the "ongoing tasks operations" and the progress is shown. As soon as it's finished, it'll be removed.

[2021-12-05 17:59] yaichenbaum commented on #7225
@alirezanoori1986 this isn't very hard to implement but I'm not sure it makes sense to move it out of the main view. We've come to the understanding that it's best to keep whatever possible in the main view. Is there any specific use case where moving the operations to their own dialog would improve your workflow?

[2021-12-05 18:02] alirezanoori1986 commented on #7225
Actually, I don't like dialogs either. However, I would prefer to see the progress in more detail when something is running. A simple progress bar on a button is not very helpful. Ideally, I would like to see something like Chrome's download progress which shows you the progress, current speed, current file, etc. at the bottom of the main view.

[2021-12-05 18:41] yaichenbaum commented on #7225
Can you upload a screenshot of Chromes progress UI?

[2021-12-05 18:50] yaichenbaum commented on #7224
@alirezanoori1986 I'm not against this, can you share a little more feedback though on why this would be useful for your workflow? We like to show completed tasks so users can check the speed graph (once it's added) and other relevant details about the completed operation.

[2021-12-05 19:14] alirezanoori1986 commented on #7225
![image](https://user-images.githubusercontent.com/2578984/144760267-ae06030b-5078-4e2c-9411-39929ecaaa48.png)

[2021-12-05 19:21] alirezanoori1986 commented on #7224
So this is tied with the other feature that I requested. [#7225](https://github.com/files-community/Files/issues/7225). If I see the progress while it's running, I don't need to see the completed task hanging around anymore so I want it gone. (if you copy with native explorer, once it finishes, you don't see any trace of it).
This could be merged with that. So on the right-hand side of the panel,

[2021-12-05 20:47] caffeine-mgn opened #7226 "Detection default language work incorrectly"
### Description

By default I use `Russion` language in my windows. In `Files` sets as language `Windows default`. In fact `Files` uses `English` language

### Steps To Reproduce

1. Switch langiage of your OS to some not English langiage. For example to Russian.
2. In `Files` set as language value `Windows default`
3. Look to English interface of `Files`

### Expected behavior

`Files` should use

[2021-12-05 22:35] Darhagonable opened #7227 "Move date/time setting to right under language setting"
I think that for a more coherent experience the standalone settings should be on top and then the accordions should be grouped together underneath.
@yaichenbaum

[2021-12-06 01:18] Gabryxx7 commented on #1940
Hey, I am rather busy lately but I could try and implement the fix I mentioned above in the next couple of weeks. Code might not be amazing but it would be a start :)

[2021-12-06 02:54] yaichenbaum commented on #1940
That would be great! I guess we should figure out which surfaces should use the compact styles. My initial thoughts are the sidebar, all the different layout modes and context menus.

[2021-12-06 03:01] yaichenbaum commented on #7225
@alirezanoori1986 we plan to show more than just the speed and I don't think that can fit in the status bar. Once those indicators are added to the flyout, are you fine with clicking to button to check on the detailed progress? The reason I ask this is that displaying operations in a separate dialog will require the same amounts of clicks to view the progress but the flyout is integrated and quick

[2021-12-06 05:14] alirezanoori1986 commented on #7225
I personally think that you're going about the file operations wrong. You're treating them like a download. In a download operation, you care about the final product (the downloaded file). In a file operation, what you care about is the progress of that operation. Why would I want to see how a download went? On the other hand, I want to follow the progress of a file operation (especially if it's l

[2021-12-06 06:17] koddajr opened #7229 "Sidebar isnt collapse when open files"
### Description

![image](https://user-images.githubusercontent.com/53986027/144796550-5647e2cc-58a7-4abb-88c4-0aa804aa36cc.png)

As you can see on image, is expandend but isnt showing anythink, i need to click 2 times to show again... is possible to make always collapsed or add a option to it.

### Steps To Reproduce

_No response_

### Expected behavior

When i set a menu to be collapsed, persis

[2021-12-06 06:42] yaichenbaum commented on #7225
I added your issue regarding this to the backlog 👍

So maybe, if the number of details cannot fit the panel, your best option would be a dialog. It's flexible and can be moved around.

Well, these are my personal opinions and I might be completely off but I thought to share them with you.

Given your workflow, I think I have a better picture of your feature request. Sorry for all the questions, ju

[2021-12-06 09:54] #7229 closed

[2021-12-06 09:54] gave92 commented on #7229
Merging with #6469

[2021-12-06 11:55] anantguru opened #7230 "Creat New File"
### Description

Right Click-New Tab- File

this option open for name of file created by you but after feeding name of file nothing happening
no any file create in particular folder like Microsoft Power point, excel, word etc...

### Steps To Reproduce

_No response_

### Expected behavior

create a new file by new tab option

### Files Version

Version: 2.0.34.0 OS Version: 10.0.22000.318

### Wi

[2021-12-06 12:55] lgian4 opened #7232 "Multiple line of file name on medium icon"
### What's the Problem?

![image](https://user-images.githubusercontent.com/25984093/144848937-839f75d3-bcb5-4c65-959f-943528ae62e6.png)
I have a folder of video but I cant see the full name and, or differentiatebetween the file because the file name is short in medium icon

### Solution/Idea

having atleaest two line of filename in medium icon will help differentiate between file.  you can use th

[2021-12-06 15:15] BanCrash opened #7233 "Bug: After editing shortcut file information it doesn't get update until next folder refresh"
### Description

When you edit the info of a shortcut, you'll need to refresh the folder to get the updated shortcut information (the icon is updated though):

![GIF 06-12-2021 16-06-10](https://user-images.githubusercontent.com/11770760/144870171-2b4b16d2-3632-4ec2-907d-c7f7a2a20359.gif)

On the gif I've tried two times before refreshing to make sure that it's not a question about opening one tim

[2021-12-06 15:44] #7209 closed

[2021-12-06 15:45] yaichenbaum commented on #7209
This issue should be resolved with #7201.

[2021-12-06 16:14] alirezanoori1986 commented on #7225
No problem at all. BTW, I created a very similar program a long time ago. Unfortunately, I got tied up with work and couldn't update it after UWP but Files is almost everything that I wanted to implement so that's mainly the reason that I'm so excited about this program. Who knows, maybe if I find the time, I'll jump in and add a couple of PRs. But if you have the time, just take a look at my old

[2021-12-06 16:22] yaichenbaum commented on #7225
@alirezanoori1986 thank you!

[2021-12-06 16:49] gave92 commented on #7218
No known side-effects, but it hasn't got much testing. In any case you should always be able to revert to Explorer by running "UnsetFilesAsDefault.reg".

[2021-12-06 16:51] Sabarigirishan commented on #7218
Thanks, i will check this out.

[2021-12-06 16:51] gave92 commented on #7218
Nice, we'd be really happy to get feedback if you notice any issue.

[2021-12-06 19:23] #3667 closed

[2021-12-06 19:24] yaichenbaum commented on #3667
This issue should be resolved with #7126.

[2021-12-06 20:42] Erquint commented on #2065
Of course it does. Files is obviously caching an obscene amount of redundant data for each tab. I won't dive into your sprawling managed codebase. But I'd advise you start with profiling: make tools to reflect clearly all of the data that is stored in memory and work from there to cull, prune and generalize as much of it as you can.

[2021-12-06 20:57] yaichenbaum commented on #2065
@Erquint we've done that many times, unfortunately some of the larger memory leaks trace back to the WinUI library. Microsoft recently announced some fixes that will be shipped and possibly backported to older versions of Windows but we don't know when they will be available. There are memory leaks in the Files codebase that we can fix and we're going our best to do so.

[2021-12-06 22:52] d2dyno1 commented on #2065
@Erquint If you happen to find any, make sure to keep us notified!

[2021-12-07 01:14] mrzouzou opened #7235 "文件夹背景黑色"
### Description

白色主题下偶尔打开文件夹，子文件夹背景黑色，必须手动放大缩小后黑色背景消失

### Steps To Reproduce

_No response_

### Expected behavior

解决白色主题下文件夹背景出现黑色的bug

### Files Version

版本: 2.0.34.0 OS Version: 10.0.22000.348

### Windows Version

Windows 11 专业版  21H2  22000.348

### Relevant Assets/Logs

[debug.log](https://github.com/files-community/Files/files/7664690/debug.log)

[2021-12-07 01:37] VOOM108 commented on #7043
I think this was about being able to set the single click behavior only for the columns view. There is an option for single click behavior generally, but not specifically for columns view.

Also, there are, in settings, two settings for single click which I cannot discern in German language, I had to switch to English to understand them. Then I realized that they are also labelled wrongly:

EN
1.

[2021-12-07 02:06] yaichenbaum commented on #7043
@VOOM108 do you want to open a pull request to update the translations?

[2021-12-07 08:57] chingucoding opened #7236 "[Tracking] Interaction tests for Files"
With #7234 , we are adding interaction tests to Files. This issue is for tracking the changes that still need to be done:
* [x] Move Files, Files.Package ... into a `src` folder and the test projects into a `tests` folder
* [ ] Add running interaction tests to CI
* [ ] Improve interaction test coverage (optional)
* [x] Anything else?

[2021-12-07 08:57] chingucoding commented on #7236
@yaichenbaum FYI

[2021-12-07 09:44] starkgate commented on #2065
I'm glad you're taking it seriously. Files has brilliant features and looks beautiful, but performance still feels sluggish / not as fluid as the default explorer. For me that's it's biggest drawback.

[2021-12-07 11:28] gave92 commented on #7235
Merging with #6373

[2021-12-07 11:28] #7235 closed

[2021-12-07 12:11] VOOM108 commented on #7043
I hope I did that correctly: https://github.com/files-community/Files/pull/7237

I went through the whole German language file; it is very solid, but I additionally found and fixed a few minor mistakes.

[2021-12-07 16:32] celluj34 opened #7239 "Network shares not prompting for auth"
### Description

Hello;

When accessing a VM over the network (i.e. `\\cmp-vm1\C$`), if that drive requires authentication, I do not get prompted and the folder shows as empty.

If I use the native explorer to grant access, or already had access, then the files show up correctly.

### Steps To Reproduce

1. Have a network VM / folder / drive that requires different auth than the current user
2. Na

[2021-12-07 17:27] #7232 closed

[2021-12-07 17:38] yaichenbaum commented on #7236
@chingucoding support for testing in different languages?

[2021-12-07 17:45] Xavi3RElvis commented on #6873
Whatever registry changes are applied for this to work, can they not work in reverese for the default file explorer?
The file browsing state left behind when removing the app is completely broken

[2021-12-07 17:48] chingucoding commented on #7236
Do you mean to write the tests language agnostic? If so, the current PR solves this through automation IDs.

Or do you mean to write tests that actively test the app with different languages?

[2021-12-07 17:55] yaichenbaum commented on #7236
That's what I meant 👍

[2021-12-07 21:35] Raithlin commented on #6502
Would a Parallel.For not be useful here? I'm willing to have a look at why this is occurring and how to improve on it.

[2021-12-08 00:05] HammerOfDaGods commented on #6873
Would it be possible to have a button or tool to completely undo any changes made by Files' features and installation? I like the app, and I will continue using it, but it modifies essential functions of Windows, and at this point I'm afraid to remove it out of fear it will permanently break, or at the very least adversely affect, the default explorer.exe . I would feel a lot better having somethi

[2021-12-08 00:15] yaichenbaum commented on #6873
@HammerOfDaGods we don't recommend using experimental features on your main device. Turning off the option should revert all the changes, we're not sure why it's not working for you but we're looking into it. We're also working on automatically reverting the changes if someone uninstalls Files.

[2021-12-08 00:16] yaichenbaum commented on #6873
@Xavi3RElvis did you revert the changes before removing Files?

[2021-12-08 00:20] yaichenbaum commented on #6502
@Raithlin I'm not very familiar with the code for the file operations but if you think that'll help, would love to get this fixed 🙂

[2021-12-08 03:07] jac0b-w commented on #6730
It would also be really nice if the new window was created as soon as it was dragged off the title bar instead of when the mouse is released or at least for the new window to be spawned at the position where the mouse is released.

[2021-12-08 05:54] Altdanielplay opened #7241 "Recycle Bin deletes the format of my files"
### Description

![image](https://user-images.githubusercontent.com/93309350/145155519-9a84b6a0-4f51-437b-8eb0-eaca454078f5.png)

When I accidentally delete a photo or document, when I recover it from the recycle bin, it loses its file format and I have to add it manually

### Steps To Reproduce

_No response_

### Expected behavior

Hope they can fix it

### Files Version

Versión: 2.0.34.0 OS Ve

[2021-12-08 09:30] #7241 closed

[2021-12-08 09:31] gave92 commented on #7241
Thanks for the report. This is fixed in latest code. In the meantime the workaround is to enable "show file extensions for known file types" option in Windows Explorer.

[2021-12-08 09:33] #7239 closed

[2021-12-08 09:33] gave92 commented on #7239
Merging with #7205

[2021-12-08 11:09] dimankiev opened #7242 "Crash on opening terminal from context actions"
### Description

Sometimes, when I try to open the Windows Terminal instance via Files v2 context menu, the app runs into a problem, resulting in a crash.
Windows Terminal Preview, Version: 1.12.2931.0

### Steps To Reproduce

1. Open Files v2
2. Go to desired folder (It was located in "Libraries/Documents")
3. Right-click on blank space in folder items list container to open the context menu
4. L

[2021-12-08 13:00] Xavi3RElvis commented on #6873
Not only does it not revert anything for me but the button cannot get deactivated at all.
Clicking teh switch does nothing adn always stays at the on state while also fixing nothing regarding registry file explorer defaults

[2021-12-08 15:01] VOOM108 opened #7243 "Filetype icon overlay over thumbnails missing"
### What's the Problem?

In Explorer, thumbnails have, or can be set to have, filtype-icons as overlays. This helps to discern a JPG from a PSD or afphoto etc. Also, videos and images or PDFs are hard to discern without any indication of the filetype.

In medium or large icon view, even the filenames are usually cut off so that the extensions are not visible, either.

### Solution/Idea

Have files

[2021-12-08 15:54] yaichenbaum commented on #6873
@Xavi3RElvis did you revert the changes before removing Files? There is bug in the current release (which has been fixed in `main`) that the script to undo the changes wasn't kept if the app was removed before the changes were undone.

[2021-12-08 16:37] BlacklightYT opened #7245 "files as default explorer can't be changed back"
### Description

First i was suprised by the features by the app.
And I have tried files as the default explorer.
Because of some minor inconveniences, I wanted to leave files and change the default explorer back to the file explorer, but I can't.
Is there any other issue like that, haven't found any (Is this a clone?).

### Steps To Reproduce

1. install files
2. go to settings
3. change files as

[2021-12-08 17:11] Xavi3RElvis commented on #6873
Hmm I might have uninstalled before setting the feature to off. So this is already a known and resolved issue?

[2021-12-08 17:57] Josh-65 opened #7246 "Having two tabs open and dragging one will close the other window"
### Description

If I have two tabs open and move the one I want to go into a new window it just closes the other one and open the new one.

### Steps To Reproduce

_No response_

### Expected behavior

It should keep both windows open at the same location set

### Files Version

2.0.41.0

### Windows Version

10.0.19043.1387

### Relevant Assets/Logs

[debug.log](https://github.com/files-communit

[2021-12-08 18:12] josh-65 opened #7247 "Allow default actions in confit dialog"
### What's the Problem?

Currently i use replace existing as the default but all the time it generate new name adding extra steps.

### Solution/Idea

Add a options in settings with a drop down box allowing changing the default action.

### Alternatives

Save the last used result

### Priorities

_No response_

### Files Version

_No response_

### Windows Version

_No response_

### Comments

_No

[2021-12-08 18:13] josh-65 commented on #7245
https://files.community/docs/configuring/replace-file-explorer
follow the instructions for removing it as default

[2021-12-08 18:30] yaichenbaum commented on #6873
@Xavi3RElvis yes, it will be included in the next update.

[2021-12-08 18:35] BanCrash commented on #6873
@Xavi3RElvis in the meantime you can follow the instructions here to unset as default file explorer:

https://files.community/docs/configuring/replace-file-explorer

TL;DR: download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run UnsetFilesAsDefault.reg to restore windows explorer

[2021-12-08 18:40] yaichenbaum commented on #7245
@BlacklightYT did you uninstall Files? Uninstalling Files will not revert the changes and in the latest version of Files, reinstalling Files will result in a broken state where the app cannot toggle the feature on or off. This issue has been resolved and will be included in the next update but in the meantime, you can use this script to revert the changes https://raw.githubusercontent.com/files-co

[2021-12-08 18:40] #7245 closed

[2021-12-08 18:50] BlacklightYT commented on #7245
Thank you guys,
yes I once deinstalled files, because of a misconception or something else, i already fargot why, but after reinstalling it, the option for files as a default explorer was turned off again. Since then I haven't deinstalled the client until today, when i couldn't turn off the option.

[2021-12-08 19:59] #3944 closed

[2021-12-08 19:59] yaichenbaum commented on #3944
@pbakes this issue should be resolved with #7244.

[2021-12-08 20:19] Josh-65 opened #7248 "Extracting achieves constrain partly the same folder structure don't combine"
### Description

If I have multiple archives with a base structure of 1 > 2. It will make 1, 1 - copy and so on.

### Steps To Reproduce

_No response_

### Expected behavior

It should combine he folders like 7-zip does during extraction

### Files Version

2.0.41.0

### Windows Version

10.0.19043.1387

### Relevant Assets/Logs

[debug.log](https://github.com/files-community/Files/files/7678685/

[2021-12-08 20:33] josh-65 commented on #2242
Any updates on this been added/fixed I have also noticed it doesn't update drive space changes.

[2021-12-09 02:27] Aoxe opened #7249 "Drag/Drop multiple selected files from ND Files to new email message window (outlook& gmail)"
### Description

Files open split screen with a new o365 updated Outlook email message.  Files has 4 tabs open of different network drives and one synced Onedrive.  I CAN select multiple files from one of the network drive but CANNOT drag and drop them into the Outlook email body to attached them to the email.  A red circle replaces the mouse icon.

### Steps To Reproduce

_No response_

### Expec

[2021-12-09 08:03] shayvt opened #7250 "winget version is outdated"
### Description

winget version is outdated of files is 0.9.1.0

### Steps To Reproduce

_No response_

### Expected behavior

winget version should be Files latest version

### Files Version

n/a

### Windows Version

n/a

### Relevant Assets/Logs

Files                               Files-Community.Files               0.9.1.0

[2021-12-09 09:35] NNois opened #7251 "drag and drop paths"
### What's the Problem?

I often drag the explorer path to a terminal from the path bar or the sidebar.
Actually this is not possible I can only drag from the file list view

### Solution/Idea

make sidebar or path bar clic and drag "link" possible ;-)

### Alternatives

go back to parent folder and drag from the file view

### Priorities

| Capability | Priority |
| :---------- | :------- |
| Thi

[2021-12-09 11:24] Raithlin commented on #6502
@jdeloshoyos @Shamatix Which version of WIndows are you using? I'm on Windows 11 and I can't replicate the issue. Also, does this happen in large folders or pretty much anywhere?

[2021-12-09 13:12] navedrasul opened #7252 "Frequent crashes followed by inability to reopen the window (on Windows 11)"
### Description

On Windows 11 I've been facing frequent crashing of the app followed by the window failing to open on successive attempts to open the app. This failure is observed as an auto-crash as soon as the window launches upon the clicking of the app icon. Please resolve this soon as it is already hindering my work (and probably many others) frequently.

### Steps To Reproduce

_No response

[2021-12-09 14:03] yaichenbaum commented on #7250
We no longer support a custom WinGet version, instead, you can install Files through WinGet using the Microsoft Store as a source. Can you open an issue on the WinGet repo about the outdated package?

[2021-12-09 14:03] #7250 closed

[2021-12-09 14:20] #6899 closed

[2021-12-09 14:20] #6997 closed

[2021-12-09 15:27] jdeloshoyos commented on #6502
Hi! I'm on Win11 21H2 build 22000.348. For me it happens pretty much on any folder, even ones with very few files. There's a very noticeable pause (typically between 5-10 seconds in my case) since I give the delete command (by highlighting files and pressing DEL key) and the dialog for confirmation appearing.

[2021-12-09 15:50] tatsumara commented on #6937
i can confirm this has to do with network drives. i removed the one i had through windows explorer (it didn't seem to work in files) and now everything loads quickly again.

[2021-12-09 16:12] stamminator commented on #6837
@gave92 Any date for the release? I think this fix alone should've necessitated a hotfix. Having to add desktop.files.json to the .gitignore in my various git directories is frustrating, and I'm nervous about even opening a network drive using Files.

[2021-12-09 16:16] warappa commented on #7037
I roughly followed the steps to do the `Enable individual preferences for folders`-dance, but I
* Being on start screen
* disabled the setting
* navigated to "Pictures" - and this time it did not crash
* navigated to C-drive
* enabled the setting
* navigated to "Pictures" - and this time it did also not crash 🎉

But:
If I navigate to another library, it will crash again. After **this** crash, navi

[2021-12-09 17:32] MUH-ABDOU opened #7254 "Can't replace items with folders that need admin privileges to move"
### Description

Cutting an item to system folder (Admin privilege needed) and replacing the already existing items fails.
Items are not cut nor system folder items are replaced.
copying however works.

### Steps To Reproduce

cut an item
go to system directory
paste and replace

### Expected behavior

system folder items gets replaced and cut items gets cut.

### Files Version

2.0.34

### Window

[2021-12-09 18:21] gave92 commented on #6837
@stamminator It's been fixed for a while on the beta/insider version, which you can grab from here -> https://files.community/download/preview.
For an ETA on a Store release -> @yaichenbaum?

[2021-12-09 18:26] gave92 commented on #7037
Ok my understanding is that it only crashes when a folder is in details view & grouped & system language is not english. That issue has been fixed in #7202.

[2021-12-09 18:31] #7037 closed

[2021-12-09 18:36] yaichenbaum commented on #6837
@gave92 there are a couple of things left to try to do before the store release like the properties dialog, search filters and reverting the registry changes when uninstalling the app (I'm still working on figuring this one out).

[2021-12-09 18:40] yaichenbaum commented on #6837
@stamminator I'm sorry about the issue with the json files, we would have liked to release a hotfix but we're currently held back from releasing updates to the Microsoft Store because the last couple version of WinUI cause certification to fail. They have a fix for this in preview builds but we'd like to wait for a stable version of WinUI before releasing the next update.

[2021-12-09 18:40] gave92 commented on #7242
Thanks for the report. Threre's a chance this has been fixed by #7017 / Files beta 2.0.42.

[2021-12-09 18:42] gave92 commented on #7242
I believe you should

[2021-12-09 18:42] #7242 closed

[2021-12-09 18:45] gave92 commented on #7243
Thanks for the report. This is unfortunately a known issue, e.g #6966, #6512.

[2021-12-09 19:06] VOOM108 commented on #7243
The missing thumbnails / thumbnails not being refreshed etc. are an issue here, too. But I saw, that that is a known issue.

I hope the image makes clear, what I mean. When it comes to discerning images, videos and PDFs, it is even more disturbing, but knowing if what I see is the .afphoto with layers, or a .png exported flat also makes working with files hard...

![no-filetype-icons](https://user

[2021-12-09 19:09] VOOM108 commented on #7243
Also, I see much more text, up to 4 lines, in Explorer, but only one line in Files. So the filetype extension is visible even more seldom...

[2021-12-09 19:36] gave92 commented on #7249
Does dragging and dropping a single file work?
Does dragging and dropping multiple files work if after starting to drag you wait a few seconds before moving the mouse out of Files window?

[2021-12-09 21:25] xmha97 opened #7256 "Add option to rename pinned items"
### What's the Problem?

I can't change favorite item name:
![image](https://user-images.githubusercontent.com/23485114/145475946-e05fc0cf-2a12-4edb-8241-0cb3ec6df8d5.png)

### Solution/Idea

Can change favorite item name.
**File Explorer of Windows 7**
![image](https://user-images.githubusercontent.com/23485114/145477397-3b1b037c-d492-4321-8f02-0d2db455c075.png)
![image](https://user-images.githu

[2021-12-09 22:11] Aoxe commented on #7249
A single file moves fine.  The dragging and dropping multiple files does work if I wait a few sec before moving the mouse out of the first window.

[2021-12-10 02:07] VOOM108 commented on #5768
These are related: https://github.com/files-community/Files/issues/7243 resp. 7243 could solve this, too....

[2021-12-10 08:33] Raithlin commented on #6502
Thanks for that. I'm on the same version and my pop-up is instant whether I hit the DEL button or use the UI. It takes milliseconds longer on a large folder - enough for me to notice the delay, but certainly not 5-6 seconds.

Is there perhaps something that you have installed that I don't that might be causing the delay? Obviously, it isn't affecting Explorer but may well be holding back Files. I'

[2021-12-10 14:01] MrPeanut12 commented on #7178
Is this a duplicate of #2407?

[2021-12-10 15:30] Nilcouv opened #7258 "Unable to transfer files from compressed files open with 7zip"
### Description

Actual Behavior:
The user is unable to transfer files from a compressed file open with 7zip by :

- Drag and Drop
- Copy - Paste

### Steps To Reproduce

1. Open a compressed file
2. Select the content of the compressed file
3. Drag and drop / copy-paste the content in a folder open with "Files"

### Expected behavior

- by drag and drop : the cursor transform into a forbidden sig

[2021-12-10 17:23] yaichenbaum commented on #2242
@josh-65 we haven't worked on this yet.

[2021-12-10 17:26] gave92 commented on #7178
Looks like, thank you. Merging with #2407.

[2021-12-10 17:26] #7178 closed

[2021-12-10 18:18] Josh65-2201 opened #7259 "Bug: Contents of library locations and the network folder are still loaded after switching the directory"
### Description

When I click on a library to load it content then click on something else whiles it was still loading it will not show the new content and display old content in the new area. Clicking on something else after that will crash files.

### Steps To Reproduce

1. Open a library with lots of files/folders or the network folder on the sidebar
2. While the library/network folder is loadi

[2021-12-10 18:25] josh-65 opened #7260 "Change sections with links in settings dialog to function as regular buttons"
### Description

If this hasn't been change in the settings redesigned, on windows it allows you to click the whole thing to open and external link but with files its a button.
![image](https://user-images.githubusercontent.com/26977075/145623205-13b1e201-9644-4d0a-acf8-bfdbd62e13af.png)

### Steps To Reproduce

_No response_

### Expected behavior

Allow clicking on the whole button area

### Fil

[2021-12-10 20:33] Xavi3RElvis commented on #6873
The reg setting did work, thank you for that

[2021-12-10 20:38] TechyAditya opened #7261 "Misaligned title if there is special characters like '@' in the drive names"
--

[2021-12-11 02:26] RandomParacodes opened #7262 "Crashing when pasting/deleting large files"
### Description

UWP apps have been infamous for crashes and freezes, and Files is not an exception.

### Steps To Reproduce

Most common reproduction I can find:
Management of a number of files, can be easier to reproduce when the files are large in size. When do a copy/paste/delete, instant crash.
Elongated use decreases the stability.
Leave it for a long moment in the background and when you re

[2021-12-11 06:26] Chintan8169 opened #7263 "Copy and Paste Not working in phone storage."
Copying files from phone's internal storage to laptop works but if I try to copy files in phone's internal storage from laptop it does not work.
Also do note that in neither of above case it shows percentage of transfer complete. It stuck at 0%.
Also If I try to copy small files like 1 GB and it works but big files does not works.

[2021-12-11 08:49] gave92 commented on #6462
Given that the issue preventing the control panel to work is fixed we can perhaps integrate the following in the app.

To open recycle bin & my PC:
1. Extract the two files from this archive [SetUnsetFilesAsDefault_Bad.zip](https://github.com/files-community/Files/files/5825020/SetUnsetFilesAsDefault_Bad.zip) and place them *on the desktop*
2. Run `SetFilesAsDefault_Bad.reg`

[2021-12-12 02:37] BAKHSHAWI999 opened #7264 "Show full name"
Is it possible to add a feature that allows showing the full file name, because currently if the name is long its text disappears

The name appears like this if the text is long

![NVIDIA_Share_d15mUp9HXK](https://user-images.githubusercontent.com/17739512/145698205-d1e6b89d-4ee0-481e-92f2-4a16142d4ed2.png)

While in Windows Explorer the name appears in full

![NVIDIA_Share_tvOtNAMWRs](https://use

[2021-12-12 07:48] Heimdallr8181 opened #7265 "preview panel"
### What's the Problem?

The preview panel is tiny and should be more adjustable.

### Solution/Idea

I habe no idea

### Alternatives

Maybe a pop up

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will allow developers to accomplish

[2021-12-12 13:11] EDUCATION14 opened #7266 "crahed"
App got crashed while deleting file permanently

[2021-12-12 14:23] Pinghigh opened #7267 "Icons on sidebar have white background when patching system dlls"
### Description

i'm sorry that i cannot speak english well
切换系统图标后，files边栏显示的图标会带白边
![图片](https://user-images.githubusercontent.com/77083712/145716177-0bd7be6c-4ab1-4176-a1dd-c5acde08b0df.png)
如图

### Steps To Reproduce

1.change the icons with 7tsp
2.open the Files with dark mode

### Expected behavior

兼容第三方图标或者支持替换图标

### Files Version

版本: 2.0.34.0 OS Version: 10.0.22000.348

### Windows Vers

[2021-12-12 14:25] #7261 closed

[2021-12-12 14:30] TechyAditya opened #7268 "Text scaling issues"
### Description

I am getting weird font issues if I increase the font size of windows.

### Steps To Reproduce

1. Set display scaling to 100%
2. Set font size to 125-150%
3. Open files app

### Expected behavior

Text to be neat and properly aligned

### Files Version

2.0.34.0

### Windows Version

Windows 11 Insiders 10.0.22518.1000

### Relevant Assets/Logs

Watch steps to reproduce, it's com

[2021-12-12 16:31] dbeck12 opened #7269 "Drive Stays In Sidebar After Ejection"
### Description

When a drive is connected, it shows up as it should but when the device is ejected and removed from the system, it still shows up in the sidebar. When I click eject, it doesn't go away and there is no way that I could find that gets it to go away.

### Steps To Reproduce

1. Plug in a drive
2.  Eject the drive
3. Drive will remain shown in sidebar

### Expected behavior

When I cl

[2021-12-12 17:45] 439bananas opened #7270 "Files crashes immediately upon opening"
### Description

Whenever I open files, after a long term period of time (ie a few weeks), it crashes until it's reinstalled.

### Steps To Reproduce

I don't know if there's a specific reason why files crashes other than time but:
1. Open files
2. Observe that files crashes immediately upon opening

### Expected behavior

Files is expected to present the tabs I last had open

### Files Version

2

[2021-12-12 18:15] gave92 commented on #7264
Merging with #1033.

[2021-12-12 18:15] #7264 closed

[2021-12-12 18:16] 439bananas opened #7272 "Files does not restore tabs when opened via explorer.exe's shortcut"
### Description

When opening Files with explorer.exe (with Files as the default file explorer), if you have "continue where you left off" enabled when files starts, files discards all of your tabs and opens a new tab.

### Steps To Reproduce

1. Enable "continue where you left off" in startup settings.
2. Enable "set files as default file explorer" in "experimental"
3. Open some sample tabs you w

[2021-12-12 18:16] gave92 commented on #7266
Thanks for the report. Please post the app's log files. You can get them from Files Settings > About.

[2021-12-12 18:17] gave92 commented on #7265
Merging with #6628

[2021-12-12 18:17] #7265 closed

[2021-12-12 18:18] gave92 commented on #7269
Merging with #6439

[2021-12-12 18:18] #7269 closed

[2021-12-12 18:19] 439bananas commented on #6813
That did exist but it evidently got broken 🤔

[2021-12-12 18:23] gave92 commented on #7270
Have you already reinstalled the app? If not, could you post the contents of `user_settings.json` file (it's in the "settings" folder where the log files are loacated)

[2021-12-12 18:32] #7227 closed

[2021-12-12 18:33] yaichenbaum commented on #7227
@Darhagonable this issue should be resolved with #7231.

[2021-12-12 18:36] #7196 closed

[2021-12-12 18:36] yaichenbaum commented on #7196
@aayushyap89 this issue should be resolved with #7203.

[2021-12-12 18:45] 439bananas commented on #7270
I have now, I had beforehand. I have a settings.dat file but not user_settings.json

[2021-12-12 20:26] yaichenbaum commented on #4071
Is there a use case for this menu item?

[2021-12-12 20:32] d2dyno1 commented on #4071
Well, the same could be asked for opening the cd tray option. So the use case for this would be closing the tray. If the user opened the tray via Files, they would be able to also conveniently close it from the app.

[2021-12-12 20:38] yaichenbaum commented on #4071
@d2dyno1 agreed, I can't think of a use case for that either. The APIs to auto eject are useful when burning files to dvds but I'm not sure if either option makes sense in a file manager.

[2021-12-12 20:46] d2dyno1 commented on #4071
We already have the first one, so I figured we might as well add the other one since no one else has that in store.

[2021-12-12 20:47] yaichenbaum commented on #4071
@d2dyno1 do you think we should remove it? It doesn't make sense to have something we can't really think of a use case for 😆

[2021-12-12 21:30] #4071 closed

[2021-12-12 21:30] d2dyno1 commented on #4071
Closed. Explanation: https://github.com/files-community/Files/pull/7255#issuecomment-991974054

[2021-12-13 02:03] yaichenbaum commented on #7268
@TechyAditya can you add some screenshots showing where the issue exists?

[2021-12-13 02:14] yaira2 opened #7273 "Feature: Display shell items in main context menu when right clicking on sidebar"
Shell items are currently displayed in a sub menu when right clicking on the sidebar. It'll be more intuitive to display shell items in the main menu when right clicking on the sidebar.

**Requirements**
Handle shell items in the sidebar menu the same way it's handled in the file area (display 3 shell items in the main menu and the rest in the "more" sub menu)

[2021-12-13 02:43] TechyAditya commented on #7268
![image](https://user-images.githubusercontent.com/72063181/145744256-e2e29403-a31c-4fba-968d-da72baf23e85.png)

[2021-12-13 02:54] ZaneDragonBorn opened #7274 "Option to Mirror Drive layout from the Default file manager"
### What's the Problem?

The current way you guys have set up drives means that it's harder for me to use this as a default. I like to have my One Drive and PC drives accessible easily. However, the current system defaults their categories to collapse and makes the OneDrive take extra clicks just to open. Below are pics of the Default app and Files.
![image](https://user-images.githubusercontent.c

[2021-12-13 03:15] yaichenbaum commented on #7268
@TechyAditya thanks! I'm going to merge this with #5958.

[2021-12-13 03:15] #7268 closed

[2021-12-13 03:20] TechyAditya commented on #7230
Well, I do not get any problems. I am able to create any filename with extension easily. I tried making a file named hello.txt and it worked just fine.

[2021-12-13 03:42] TechyAditya opened #7275 "Please add multi-threaded copy support"
### What's the Problem?

I was comparing both windows explorer and Files app copy speed of 1600 files. Here are the results.
![image](https://user-images.githubusercontent.com/72063181/145748124-f171f574-ee91-41d6-bf73-85e27e761290.png)
Files app took 43 seconds to copy 1600 files of 300 kb each
![image](https://user-images.githubusercontent.com/72063181/145748156-0819afe6-0ec7-4efb-906e-3a50a92b3

[2021-12-13 04:02] TechyAditya commented on #7268
Yeah, both are different issues but ultimately they are scaling related issues. I didn't notice the settings part though. I fixed this issue by setting both windows scaling and font size to 100%.

[2021-12-13 04:11] yaichenbaum commented on #7268
@TechyAditya changing the scaling does resolve the issue but the app should really work as expected when it's set to 125/150.

[2021-12-13 05:43] myfix16 commented on #5030
Agree. I think Windows's default explorer's way to handle this issue is a good reference.

[2021-12-13 11:51] thewh1teagle opened #7280 "Open files in selected mode on selected file"
### Description

When downloading file in browser, and clicking on the "open file in folder"
the files app only opens the folder, without select the file, so I need to search the downloaded file

![image](https://user-images.githubusercontent.com/61390950/145807202-a86773fa-d2a5-48bb-8a52-30ad2c89377e.png)

### Steps To Reproduce

1. Download file in browser
2. click on open file in folder icon

#

[2021-12-13 12:21] NAIXIL opened #7281 "Cannot start the software after waking a hibernating computer"
### Description

I installed Files from Microsoft Store. After I hibernate the computer, the software does not work when I wake up the computer.
Reninstall the software can solve the problem.

### Steps To Reproduce

_No response_

### Expected behavior

I hope the software works good when I wake up my hibernating computer.

### Files Version

 Files version 2.0.34.0 UWP

### Windows Version

Wind

[2021-12-13 15:39] yaichenbaum commented on #7274
@ZaneDragonBorn you can expand the categories in Files and it should remember your preference across sessions.

[2021-12-13 15:39] yaichenbaum commented on #3338
@hez2010 is this still an issue?

[2021-12-13 15:40] #6499 closed

[2021-12-13 15:41] yaichenbaum commented on #6873
@HammerOfDaGods is this still an issue after running the script?

[2021-12-13 15:42] yaichenbaum commented on #6952
@JishnuJayaraj @vabka is this an issue for you in a fresh install of Windows 11?

[2021-12-13 15:42] #6971 closed

[2021-12-13 15:43] hez2010 commented on #3338
I don't think so :)

[2021-12-13 15:43] #7020 closed

[2021-12-13 15:43] #3338 closed

[2021-12-13 15:44] yaichenbaum commented on #6993
@gave92 I can reproduce this issue as well, interestingly enough, refreshing the directory usually loads the missing thumbnails.

[2021-12-13 15:45] #7121 closed

[2021-12-13 16:03] gave92 commented on #7280
Merging with #6382

[2021-12-13 16:05] gave92 commented on #7275
Files in most cases uses Explorer functions to copy paste. Where did you copy from/to?

[2021-12-13 16:50] yaichenbaum commented on #2041
@boscorelly is this still an issue in v2.0.34?

[2021-12-13 16:52] JishnuJayaraj commented on #6952
Nope, it was upgraded from windows 10

[2021-12-13 16:52] yaichenbaum commented on #3333
@gave92 were you able to reproduce this?

[2021-12-13 16:53] yaichenbaum commented on #3407
@qxoko is this an issue in v2.0.34?

[2021-12-13 16:54] yaichenbaum commented on #3492
@WillC34 is this an issue in 2.0.34?

[2021-12-13 16:55] yaichenbaum commented on #4080
@megaten is this an issue in v2.0.34?

[2021-12-13 16:57] yaichenbaum commented on #4063
@R3voA3 we show the items grayed out to improve discoverability and to indicate that such an option exists.

[2021-12-13 16:57] #4063 closed

[2021-12-13 16:59] ZaneDragonBorn commented on #7274
The first time it didn't but the second time did. May just have been a temp bug

[2021-12-13 17:01] yaichenbaum commented on #3970
@a03z is this an issue in v2.0.34?

[2021-12-13 17:01] #3818 closed

[2021-12-13 17:02] yaichenbaum commented on #3707
@debugkokichi is this an issue in v2.0.34?

[2021-12-13 17:03] yaichenbaum commented on #3658
@rui-n-oliveira is this an issue in v2.0.34?

[2021-12-13 17:04] yaichenbaum commented on #4637
This issue seems to be resolved in `main`.

[2021-12-13 17:04] #4637 closed

[2021-12-13 17:05] yaichenbaum commented on #4546
@militaryCoder is this still an issue in v2.0.34?

[2021-12-13 17:06] yaichenbaum commented on #4571
@inspiredscout is this still an issue in v2.0.34?

[2021-12-13 17:06] yaichenbaum commented on #4578
@killerpapy is this still an issue in v2.0.34?

[2021-12-13 17:07] yaichenbaum commented on #4544
@GiornoJJ thanks! Is this still an issue in v2.0.34?

[2021-12-13 17:08] #4470 closed

[2021-12-13 17:12] yaichenbaum commented on #4281
@d2dyno1 do you want to work on this?

[2021-12-13 17:13] yaichenbaum commented on #4251
This issue is resolved in `main`.

[2021-12-13 17:13] #4251 closed

[2021-12-13 17:14] yaichenbaum commented on #5296
This issue is resolved in v2.0.34.

[2021-12-13 17:14] #5296 closed

[2021-12-13 17:15] yaichenbaum commented on #5287
@TheOnlyTails is this still an issue in v2.0.34?

[2021-12-13 17:16] TheOnlyTails commented on #5287
I haven't noticed it in quite a while, so I don't think so!

[2021-12-13 17:16] yaichenbaum commented on #5260
This issue is resolved in `main`.

[2021-12-13 17:16] #5260 closed

[2021-12-13 17:16] yaichenbaum commented on #5096
@gave92 was this resolved?

[2021-12-13 17:18] yaichenbaum commented on #6952
@JishnuJayaraj it seems that upgrading from Windows 10 breaks the APIs to detect WSL. I've tested on a couple of devices with a fresh install and the APIs work correctly. This is still something for us to work on fixing but in the meantime, resetting Windows is a workaround.

[2021-12-13 17:19] #5287 closed

[2021-12-13 17:20] yaichenbaum commented on #5016
@mdtauk this is a pretty simple fix, do you want to give it a try?

[2021-12-13 17:21] yaichenbaum commented on #5023
@tsvietOK libraries are no longer displayed on the homepage so this issue should be resolved.

[2021-12-13 17:21] #5023 closed

[2021-12-13 17:24] yaichenbaum commented on #4977
@SpeedyIndeedy is this still an issue in v2.0.34?

[2021-12-13 17:26] yaichenbaum commented on #4953
This issue appears to be resolved in `main`.

[2021-12-13 17:26] #4953 closed

[2021-12-13 17:26] militaryCoder commented on #4546
@yaichenbaum, no, it isn't.

[2021-12-13 17:28] yaichenbaum commented on #4708
@01-1 this is the intended behavior. Regarding the multiple monitors, I recommend opening an issue on the feedback hub as that's an OS behavior and something that should be resolved by the Windows team.

[2021-12-13 17:28] #4708 closed

[2021-12-13 17:29] yaichenbaum commented on #4711
This issue should be resolved in `main`.

[2021-12-13 17:29] #4711 closed

[2021-12-13 17:29] yaichenbaum commented on #4741
@AndriiHarashchak is this still an issue in v2.0.34?

[2021-12-13 17:29] yaichenbaum commented on #4764
@winston-de is this still an issue in v2.0.34?

[2021-12-13 17:30] yaichenbaum commented on #4798
@winston-de I can't reproduce this, are you still seeing this bug?

[2021-12-13 17:30] #4546 closed

[2021-12-13 17:35] yaichenbaum commented on #4823
This issue is resolved in `main`.

[2021-12-13 17:35] #4823 closed

[2021-12-13 17:36] BanCrash opened #7284 "Crash when folder contains invalid shortcut"
### Description

When I enter my Images folder, Files will crash. I've tested another folders but this is the only one where I got the crash.

I cleaned the log to only have the relevant:

debug.log:
[code]

debug_fulltrust.log
[code]

### Steps To Reproduce

1. Go to Images folder (I don't know if this is related to #4764, maybe yes)
2. The app will crash.

### Expected behavior

Not crashing

##

[2021-12-13 17:37] #5616 closed

[2021-12-13 17:40] yaichenbaum commented on #5587
As @gave92 mentioned, this is the intended behavior, and it lines up with other apps such as File Explorer.

[2021-12-13 17:40] #5587 closed

[2021-12-13 17:44] yaichenbaum commented on #5558
@adrynalyne this appears to be a WinUI issue, can you report this on the WinUI repository? https://github.com/microsoft/microsoft-ui-xaml

[2021-12-13 17:44] #5558 closed

[2021-12-13 17:45] yaichenbaum commented on #5539
@TechGuysTechSpot is this an issue with v2.0.34?

[2021-12-13 17:45] yaichenbaum commented on #5511
This issue should be resolved in v2.0.34.

[2021-12-13 17:45] #5511 closed

[2021-12-13 17:46] yaichenbaum commented on #5495
This issue appears to be resolved in `main`.

[2021-12-13 17:46] #5495 closed

[2021-12-13 17:49] yaichenbaum commented on #5483
@Darhagonable is this still an issue in v2.0.34?

[2021-12-13 17:53] d2dyno1 commented on #4281
Is it present on latest version? @yaichenbaum

[2021-12-13 17:56] winston-de commented on #4798
Nope, seems to be resolved

[2021-12-13 17:56] #4798 closed

[2021-12-13 17:59] winston-de commented on #4764
No, seems to be resolved

[2021-12-13 17:59] #4764 closed

[2021-12-13 18:07] gave92 commented on #5096
It was, but the fix was later reversed as it (probably) caused windows store certification failure.

[2021-12-13 18:11] gave92 commented on #7284
Do you have any shortcut files in that folder?

[2021-12-13 18:12] yaichenbaum commented on #5408
@crashmit is this still an issue in v2.0.34?

[2021-12-13 18:19] yaichenbaum commented on #4281
Yes

[2021-12-13 18:25] yaichenbaum commented on #5371
@winston-de @gave92 do you think there is a way we can optimize the code for this?

[2021-12-13 18:26] yaichenbaum commented on #5380
This issue appears to be resolved in v2.0.34.

[2021-12-13 18:26] #5380 closed

[2021-12-13 18:30] BanCrash commented on #7284
@gave92 it's seem so:

![image](https://user-images.githubusercontent.com/11770760/145868035-52f82f99-8772-4182-99da-97cb80e8a531.png)

And after removing both of them the issue is fixed, yeah.

[2021-12-13 18:31] yaichenbaum commented on #2692
@Rasmagoric what do you think about merging this with #5058?

[2021-12-13 18:32] yaichenbaum commented on #2575
Merging with #1940.

[2021-12-13 18:32] #2575 closed

[2021-12-13 18:33] BanCrash commented on #7284
@gave92 it seems that one of them has no path:

![image](https://user-images.githubusercontent.com/11770760/145868495-ff045cb9-cab4-43a6-88f9-d93a11212e39.png)

(the one without thumbnail)

[2021-12-13 18:34] gave92 commented on #7284
Could you send me that shortcut?

[2021-12-13 18:35] yaichenbaum commented on #2436
@gave92 do you know if this is resolved in `main`?

[2021-12-13 18:35] gave92 commented on #2436
Nope

[2021-12-13 18:37] BanCrash commented on #7284
@gave92 sure, I've sent it to you on discord app-dev channel.

[2021-12-13 18:39] yaichenbaum commented on #4301
This is a great idea, let's wait to see what Microsoft does in this area in order to prevent duplicate work.

[2021-12-13 18:40] yaichenbaum commented on #2581
@pgirzalsky does the registry change work in Files?

[2021-12-13 18:42] thewh1teagle commented on #7280
I think it's sort of critical issue, I don't use this app because of that

[2021-12-13 18:43] yaichenbaum commented on #3665
@R3voA3 I think the extra space will be better used by showing more columns once they are added. The details layout is intended for viewing a lot of files in a list and a larger size would defeat the purpose, would the grid layout be a better choice to maximize the screen space?

[2021-12-13 18:54] yaichenbaum commented on #5726
The icons really make the most sense with custom icons since they help differentiate between tabs. My experience is that even when the icons are the default folder, it still helps brighten up the app with a little color. How many tabs do have open on a regular basis?

[2021-12-13 18:57] yaichenbaum commented on #1681
Merging with #5628

[2021-12-13 19:02] yaichenbaum commented on #5579
@esibruti do you want to work on this?

[2021-12-13 19:08] yaichenbaum commented on #4364
@lugh18 the intended behavior is to change the directory of the first pane as opposed to opening a second tab. I see your use case but it might be better with the split view feature in Windows.

[2021-12-13 19:08] #4364 closed

[2021-12-13 19:10] yaichenbaum commented on #6350
@arihant2math this should already be supported, if it's not working as intended, can you open a new issue as a bug report together with the log files so we can look into why it's not working?

[2021-12-13 19:10] #6350 closed

[2021-12-13 19:20] yaichenbaum commented on #6228
Merging with #4301

[2021-12-13 19:20] #6228 closed

[2021-12-13 19:22] #6053 closed

[2021-12-13 19:27] yaichenbaum commented on #6526
Merging with #5909

[2021-12-13 19:27] #6526 closed

[2021-12-13 19:34] yaichenbaum commented on #6462
@gave92 should this be integrated into the app and the documentation?

[2021-12-13 19:34] mdtauk commented on #5016
I think we should probably stick with using the Card brushes that come with WinUI - this way we are keeping consistent with Microsoft apps and other WinUI apps.

You should ensure the Rest and Hover brushes are being used correctly in Light and Dark themes.

[2021-12-13 19:38] Rasmagoric commented on #2692
I'd prefer this to be an individual feature (for the icons layout mode) independent of another mode.
But whatever it also would be cool for it's own layout mode.
Your call if you want to merge it.

[2021-12-13 19:45] yaichenbaum commented on #6458
@Danielku1 Currently, all changes to sidebar items are actual changes to the folder, this includes changing the name and icon. Treating favorites as a bookmark can work, but it would introduce another layer of complexity as renaming an item from the sidebar would no longer reflect on the actual path and while some would prefer this behavior, many users do not.
We have a bundles feature that allows

[2021-12-13 19:47] gave92 commented on #6462
@yaichenbaum I think so, it has no known issues anymore.

[2021-12-13 19:51] yaichenbaum commented on #6403
@mimoguz can you share some programs that can open directories? Ideally this would be applications that don't already add a shell item to the context menu.

[2021-12-13 19:56] yaichenbaum commented on #7280
@thewh1teagle we're working our best on the different issues, but I can't give an eta on this. Do you want to see if you can implement a fix on your own? Contributing a fix will help improve the app for not just you but for all the users.

[2021-12-13 20:01] AndriiHarashchak commented on #4741
Tested it now. Looks like a file size is correct now (tried to create a file and archive in "Files" and in "Windows Explorer"). The archive from the issue is with the correct size too. Screenshots are given below.
![image](https://user-images.githubusercontent.com/63160844/145879539-f4c58c23-5e86-48ce-9fab-406df7de0dc2.png)
![image](https://user-images.githubusercontent.com/63160844/145880003-9bcb

[2021-12-13 20:01] #4741 closed

[2021-12-13 20:03] yaichenbaum commented on #7267
@Pinghigh can you upload the log files?

[2021-12-13 20:04] yaichenbaum commented on #7263
@Chintan8169 thank you for taking the time to report this, in order to investigate the issue we'll need the log files and steps to repro this bug, can you please reopen this issue using the issue template?

[2021-12-13 20:04] #7263 closed

[2021-12-13 20:06] yaichenbaum commented on #7258
Thank you for taking the time to report this, can you please upload the log files?

[2021-12-13 20:13] mdtauk commented on #5016
Could you shift these to using the Button brushes then, and see if that improves things?

![image](https://user-images.githubusercontent.com/7389110/145881612-85847335-91a7-4bdc-8835-ba97bfe42093.png)

[2021-12-13 20:16] yaichenbaum commented on #5016
@mdtauk it's already using the button brushes 🤔

[2021-12-13 20:19] mdtauk commented on #5016
There is also the Grid View styling, that could be used.
![image](https://user-images.githubusercontent.com/7389110/145882435-782adbe3-dba2-478a-a5d1-550691c2ae65.png)

![image](https://user-images.githubusercontent.com/7389110/145882489-0a90ccaa-a145-4f31-9fbc-682eeea76471.png)

[2021-12-13 20:20] mdtauk commented on #5016
Whatever changes you make to the Bundles/Home Tab Cards - it should be used in a consistent manner with similar controls - so no implied differences will make users expect different behaviours from them

[2021-12-13 20:22] mangoepic commented on #6403
@yaichenbaum Open directories in general (like while having the application open and navigating through menus) or open directories in a specific way (like dragging the folder on the executable / specific commandline arguments?)

Also I think it might still be nice for Applications that have an entry in the shell menu anyways (if the user enabled it for that) so these could be together with other a

[2021-12-13 20:25] mangoepic commented on #5792
I want to try it, but tags are still a bit buggy/feeling a bit hacky, imma see if I can open bug reports

[2021-12-13 20:28] yaichenbaum commented on #5016
I guess this should really be brought up on the WinUI repo as the contrast ratio affect more than just Files, @winston-de any thoughts?

[2021-12-13 20:40] mimoguz commented on #6403
@yaichenbaum They do now :) That wasn't the case when I made the suggestion.  I still think this might be nice addition, but less useful now than then.

[2021-12-13 20:55] yaichenbaum commented on #5579
Yes

[2021-12-13 21:16] esibruti commented on #5579
@yaichenbaum Okay I'll take care of it :)

[2021-12-13 21:36] yaichenbaum commented on #6403
We're tracking a similar idea to group related actions together.

[2021-12-13 21:36] #6403 closed

[2021-12-13 22:03] Darhagonable commented on #5483
@yaichenbaum I'm struggling to reproduce this in v2.0.42
The issue originally just happened after initial install so can't guarantee it's actually fixed or if it just doesn't happen once its been installed once.
I tried uninstalling Files and nuking the temp files i could find in a VM and it seems to be working like it should after installing again.
I think we can close this issue for now but keep

[2021-12-13 22:20] mdtauk commented on #5016
Contrast ratio only applies to the button content and the hover's foreground and background

[2021-12-13 23:40] Nilcouv commented on #7258
[debug.log](https://github.com/files-community/Files/files/7707593/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/7707594/debug_fulltrust.log)

[2021-12-13 23:51] #5483 closed

[2021-12-13 23:59] yaichenbaum opened #7286 "Keep track of widgets expander state on home page"
### What's the Problem?

If you collapse a widget on the home page and reopen the app the widget will be expanded again.

### Solution/Idea

Files should keep track of the expanders state.

### Alternatives

NA

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will remember the expander state for each widget | Must |

### Files Version

v2.0.34

### Windows Vers

[2021-12-14 00:04] yaira2 opened #7287 "Feature: Add support for menu flyout on widget headers"
### What's the Problem?

There isn't any support for adding a menu flyout with widget related options to the widget headers on the home page. To work around this, the flyout buttons are added to the widget content but this causes the button to conflict with the rest of the controls in the widget.

### Solution/Idea

A template or way to add a couple menu items to a button in the expanders header s

[2021-12-14 00:08] yaichenbaum commented on #6921
The open in new window option is not used as commonly but it's displayed in the main menu when you open the extended context menu (shift + right click).

[2021-12-14 00:10] yaichenbaum commented on #1352
@gave92 if that's the case, this would only an issue in network drives, does that make sense?

[2021-12-14 00:13] yaichenbaum commented on #7045
Are you talking about the preview pane or in the grid layout?

[2021-12-14 00:17] yaichenbaum commented on #3562
Merging with #6514.

[2021-12-14 00:17] #3562 closed

[2021-12-14 00:23] yaichenbaum commented on #7128
@Wonder-NG can you upload the log files? My guess is that the full trust process crashed but I'll need the log files to confirm.

[2021-12-14 04:15] gave92 commented on #1352
The above comment is wrong, the same happens in local drives as well, but you need to paste the same folder twice. In any case the behaviour is consistent with explorer as we only use system copy functions. Seems excessive to throw away automatic system renaming just for this.

[2021-12-14 06:50] Chintan8169 opened #7288 "Copy and Paste Not working in phone storage"
### Description

Copying files from phone's internal storage to laptop works but if I try to copy files in phone's internal storage from laptop it does not work.
Also do note that in neither of above case it shows percentage of transfer complete. It stuck at 0%.
Also If I try to copy small files like 1 GB and it works but big files does not works.

### Steps To Reproduce

connect android phone via

[2021-12-14 08:32] MarcAnt01 commented on #7045
![image](https://user-images.githubusercontent.com/43090263/145960996-06177274-7293-4f9c-9e6c-6cf928d45761.png)

This is what I mean

[2021-12-14 08:58] killerpapy commented on #4578
Hello,

I am trying to install File without store and it's really hard...

I have this error  :
RROR: The running command stopped because the preference variable
"ErrorActionPreference" or common parameter is set to Stop: Deployment
failed with HRESULT: 0x80073CF3, Échec des mises à jour, de la dépendance
ou de la validation des conflits du package.

Windows ne peut pas installer le package Files_

[2021-12-14 09:04] killerpapy commented on #4578
I have solved the installation.

And Yes it's steel an issue in v2.0.34.

Network repository are very long to show.

Thanks. Regards

Le lun. 13 déc. 2021 à 18:06, Yair Aichenbaum ***@***.***> a
écrit :

--
If the automobile had followed the same development cycle as the computer,
a Rolls-Royce would today cost $100, get a million miles per gallon, and
explode once a year, killing everyone inside.

[2021-12-14 14:05] bcrdncola opened #7289 "Add support for windows default file operations as default behaviour."
### What's the Problem?

When copying/pasting files, the app uses its internal method for copying/pasting, which can be quite slow at times. Internal method provides little feedback on its progress for long operations, requiring the user to click the progress icon to see it's status.

### Solution/Idea

Allow the internal copy/paste functions to be replaced with windows default behaviour, and by e

[2021-12-14 14:38] yaichenbaum commented on #7045
I see what you're saying, what would you suggest to display instead?

[2021-12-14 14:54] yaichenbaum commented on #7258
Not a problem, I just want to confirm that you reproduced the issue before uploading the log files?

[2021-12-14 15:04] yaichenbaum commented on #7289
@bcrdncola we're already using the built-in file explorer file operations. @gave92 is there any reason it would be falling back to the storage apis?

[2021-12-14 15:31] MarcAnt01 commented on #7045
I put that in the solution/idea section. Whatever, I would either hide show "unsupported preview" like the file explorer or directly hide the grid

[2021-12-14 16:35] Chrisswl opened #7290 "network folder auto refresh"
### What's the Problem?

When creating a folder, currently it does not refresh and will have to refresh manually.

### Solution/Idea

Add auto-refresh function to network drives.

### Alternatives

Otherwise, the program is almost perfect!

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow

[2021-12-14 16:50] gave92 commented on #7289
Not that I'm aware of, should use shell operations in most locations, including network shares

[2021-12-14 17:44] yaichenbaum commented on #7289
@gave92 are there performance differences are should Files be the same as File Explorer?

[2021-12-14 17:59] bcrdncola commented on #7289
performed a quick test - using Explorer, a copy of 1060 items totalling 36.15 GB, took 1:33. Explorer used Terracopy for the process as I have Terracopy's shell integration enabled. Copying the exact same files to the exact same locations in Files using whatever method it utilizes (it did not bring up Terracopy when the paste was performed) took functionally the same amount of time. (roughly a 2 s

[2021-12-14 21:14] Nilcouv commented on #7258
yes, I reproduce the bug

https://user-images.githubusercontent.com/51994423/146080264-1af0567c-5c22-418b-a882-6bb06a8747ea.mp4

[debug_fulltrust.log](https://github.com/files-community/Files/files/7714774/debug_fulltrust.log)
[debug.log](https://github.com/files-community/Files/files/7714775/debug.log)
g

[2021-12-14 21:28] d2dyno1 opened #7291 "Cannot Drag & Drop to Samsung DeX"
### Description

Using the Samsung DeX on PC bridge does not accept drag data. This issue is not present in File Explorer.

### Steps To Reproduce

1. Open Samsung DeX on PC
2. Connect your phone to PC
3. Open My Files app from DeX
4. Select a directory and try drag and drop data from Files

### Expected behavior

Samsung DeX should accept the data.

### Files Version

main

### Windows Version

D

[2021-12-14 22:41] Talisman39ar commented on #4571
@yaichenbaum It still happens for me in 2.0.34 - for example trying to drag from Files into Sharepoint on Google Photos, the attempt is just ignored (using latest version of non-dev/canary Edge). Have to switch to File Explorer to get it to work.

[2021-12-15 01:56] yaichenbaum commented on #7258
Thanks

[2021-12-15 01:57] yaichenbaum commented on #7045
What's the unsupported file preview? Take for example an Audacity file, I don't think there is any preview to display.

[2021-12-15 05:19] TommyIX opened #7293 "Drag tabs causing files to crash on Win11"
### Description

When dragging tabs to blank area, I expect new window of files created. But files report unknown error and then crashed.
![image](https://user-images.githubusercontent.com/55588115/146127450-cf38f0cc-8c75-48ed-b890-dd908e48ca35.png)
![image](https://user-images.githubusercontent.com/55588115/146127531-18f33271-d15d-40d8-9151-99c0ed3c42d7.png)

### Steps To Reproduce

1. Open multi

[2021-12-15 07:30] #7290 closed

[2021-12-15 07:30] gave92 commented on #7290
Merging with #5869

[2021-12-15 08:10] MarcAnt01 commented on #7045
I mean when there's no preview available Files just shows the file/folder thumbnail and I think this should not happen, instead I'd rather an "unsupported content" textblock. Let me know, if this still isn't clear

[2021-12-15 10:33] MarcAnt01 opened #7294 "Increase the size of breadcrumbs textblocks"
### What's the Problem?

The size of breadcrumbs is too small, for example settings app has a very huge size
![image](https://user-images.githubusercontent.com/43090263/146169819-2df2a97d-6cbd-48f5-ad86-7d226bda13f1.png)
I understand anyway that in the case of Files it would be a waste of space, so I'd just ask it to make it the same size of the search textbox text, since currently it smaller than

[2021-12-15 11:03] SpeedyIndeedy commented on #4977
the issue was my pc, old hardware ig, so when i fresh installed, i was able use files app.

[2021-12-15 12:48] #4977 closed

[2021-12-15 12:48] gave92 commented on #4977
Thanks for the update

[2021-12-15 13:30] dansauve commented on #6883
+1 from me. I'm glad to see this was reopened... Having used dual-pane file managers for many years this drives me nuts to the point that Files is unusable to me because it drives me crazy! Hope to see a change in a future version

[2021-12-15 14:12] topiga opened #7295 "Standard explorer when I click on the trash"
### Description

Files is not opened when I click on the trash icon, on the desktop. It opens instead the standard Windows file explorer

### Steps To Reproduce

1. Activate the experimental feature "Set Files as default file explorer"
2. Open the trash from the desktop

### Expected behavior

It is supposed to open Files, not the standard Windows file explorer

### Files Version

Version : 2.0.34

[2021-12-15 14:57] siemaho opened #7296 "Use arrows (or add keyboard shortcuts) for moving between 'levels' in the column view"
### What's the Problem?

There is no option of taking full advantage of column view using keyboard only.

### Solution/Idea

Either assign left/right arrows (logical since up/down already enable vertical navigation).

### Alternatives

Enable users to assign their own keys for that functionality.

### Files Version

2.0.34.0

### Windows Version

Windows 10 Pro Version	20H2; Windows Feature Experi

[2021-12-15 15:03] siemaho opened #7297 "Column View :: Show"
### What's the Problem?

When using up/down arrows for vertical navigation in column view, selected folder's contents are not being shown in the next column.

### Solution/Idea

Make the column indexing/listing refresh whenever a folder is selected using arrows, as it is currently when using the mouse.

### Files Version

Version: 2.0.34.0 OS Version: 10.0.19042.1348

### Windows Version

Windows

[2021-12-15 15:14] yaichenbaum commented on #7294
@MarcAnt01 do you want to work on this?

[2021-12-15 15:15] yaichenbaum commented on #7293
Merging with #7246

[2021-12-15 15:15] #7293 closed

[2021-12-15 15:16] yaichenbaum commented on #7297
Merging with #7246.

[2021-12-15 15:16] #7297 closed

[2021-12-15 15:16] yaichenbaum commented on #7296
Mergning with #7139.

[2021-12-15 15:16] #7296 closed

[2021-12-15 15:17] MarcAnt01 commented on #7294
I can work on this around the end of December, but not any time soon, if someone else would like to step in it's ok

[2021-12-15 16:04] gave92 commented on #7295
This is currently by design. To open Files when clicking on This PC or recyclebin, the reg files included below should do the trick but there may be undesired side effects.

To do:
1. Extract the two files from this archive [SetUnsetFilesAsDefault_Bad.zip](https://github.com/files-community/Files/files/5825020/SetUnsetFilesAsDefault_Bad.zip) and place them *on the desktop*
2. Run `SetFilesAsDefaul

[2021-12-15 16:04] #7295 closed

[2021-12-15 16:06] gave92 commented on #7295
Merging with #6462

[2021-12-15 16:26] TechyAditya commented on #7275
I was copying from a folder in C drive to another folder in C drive. Just a basic copy-paste benchmarking in an SSD drive.

[2021-12-15 19:45] yaichenbaum commented on #7289
We don't have plans to support third party file operations, rather, we're working on improving the speed in Files so you won't have to rely on additional software.

[2021-12-15 19:45] #7289 closed

[2021-12-15 23:42] yaichenbaum commented on #7286
@d2dyno1 nice work, thanks!

[2021-12-16 01:32] #7286 closed

[2021-12-16 06:27] hez2010 opened #7300 "Improve rectangle selection performance"
The performance of rectangle selection is poor in large folders.
I created this issue for tracking the optimization work of rectangle selection.

[2021-12-16 10:56] boscorelly commented on #2041
nope :)

tested in 2.0.42

[2021-12-16 10:56] #2041 closed

[2021-12-16 11:11] chiragnahata opened #7301 "Need Help"
### Description

I have wrongly enabled set files as default but now I am unable to turn it off and the default windows file explorer is not working. Please help as soon as possible

### Steps To Reproduce

_No response_

### Expected behavior

Help

### Files Version

Version: 2.0.34.0 OS Version: 10.0.22000.376

### Windows Version

Windows 11 21h2 22000.376

### Relevant Assets/Logs

![WhatsApp

[2021-12-16 11:33] boscorelly commented on #3658
no problem for me in 2.0.42

[2021-12-16 12:30] gave92 commented on #7301
To restore windows explorer, download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run UnsetFilesAsDefault.reg.

[2021-12-16 14:17] Mariete124 opened #7303 "Files doesn't show the weight of the files"
### Description

When you try to see in inflo the weight of a file it just say 0. And also in the preview windows it doesn't show it neither

### Steps To Reproduce

1. Go to a file
2. Right click
3. Info

### Expected behavior

It shoud give the extac weight of that file. And it shoud appear in the preview window too

### Files Version

2.0.34.0

### Windows Version

Windows 10 pro 20h2 19042.134

[2021-12-16 14:18] #3658 closed

[2021-12-16 14:22] Mariete124 opened #7304 "When you delete, create, or do something to a file it doesn't appear at the momento you have to do F5"
### Description

You do some kind of file operatión, you delete one file, change the name or something. And when you do it everything keep the same. You have to refresh the page to see it

### Steps To Reproduce

1. Go to a file
2. Delete it
3. It doesn't do it
4. Refresh it
5. Now it does

### Expected behavior

You shoud see at the momento the canges, if you delete, or do something

### Files Ve

[2021-12-16 14:59] PTU93 opened #7305 "I want to remove it as a default app"
### Description

Files has been my default file viewer, I want to change it back to File Explorer. The switch in the settings page doesn't deactivate it. Just flicks back on.

### Steps To Reproduce

1. Settings
2. Experimental
3. Default app

### Expected behavior

To actually remove the Files app as a default file viewer

### Files Version

Version: 2.0.34.0 OS Version: 10.0.22000.348

### Windo

[2021-12-16 19:44] grtcoder commented on #7065
I would like to work on the issue

[2021-12-16 19:45] aayushyap89 opened #7306 "Target AKA destination in files dosnt work."
In regular file explorer when you open properties for a shortcut you can for what I was doing add --incognito to make brave browser in private mode instead of a regular window. Though when I opened the properties window for files and opened shortcut the destination box seemed to be the closest to file explorer target window and when I added --incognito to the end nothing happened and it didnt even

[2021-12-16 19:49] aayushyap89 opened #7307 "Target destination for a shortcut wont accept arguments."
### Description

In regular file explorer when you open properties for a shortcut you can for what I was doing add --incognito to make brave browser in private mode instead of a regular window. Though when I opened the properties window for files and opened shortcut the destination box seemed to be the closest to file explorer target window and when I added --incognito to the end nothing happened

[2021-12-16 19:49] #7306 closed

[2021-12-16 19:49] aayushyap89 commented on #7306
I opened an actual issue I dont know what I just made

[2021-12-16 20:42] m1karii commented on #5726
5~8

[2021-12-16 21:10] m1karii commented on #5932
@TizianoMad Thanks!
It works for me both in Explorer and Files. I use [ImageGlass](https://github.com/d2phap/ImageGlass) as my default image viewer instead of Windows Photos and SVG See works with it. ImageGlass can pretty much display any image filetype (including .svg and .psd for e.g.); thats why i have it as default for .svg files instead of web browser BTW (i recommend it).

[2021-12-16 21:19] AitorPro opened #7308 "Fallo en Set Files as default file explorer"
### Description

No puedo desactivar la opcion de Set Files as default file explorer y no me funciona la opcion

Espero que lo solucionen en una proxima version

Me despido

### Steps To Reproduce

Voy a opciones y voy a experimental y activo esta opcion Set Files as default file explorer

### Expected behavior

Hasta luego

### Files Version

Versión: 2.0.34.0 OS Version: 10.0.22523.1000

### Win

[2021-12-16 21:20] BanCrash commented on #7308
Hi @AitorPro  , you have to follow the instructions here to unset as default file explorer:

https://files.community/docs/configuring/replace-file-explorer

TL;DR: download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run UnsetFilesAsDefault.reg to restore windows explorer

[2021-12-16 21:20] #7308 closed

[2021-12-16 22:58] DAmNRelentless commented on #7305
There is a method to revert this on their docs. You download the archive and run the `UnsetFilesAsDefault.reg`.
Since this is directly merging the changes with your registry, this should work as intended: https://files.community/docs/configuring/replace-file-explorer

[2021-12-16 23:16] mortenanakin commented on #7275
I use Teracopy. Any way of Files let me use Teracopy as the default copy/paste app?

[2021-12-16 23:43] DAmNRelentless opened #7310 "Highlight newly created files and folders by default"
### What's the Problem?

I usually create new files with CTRL + SHIFT + N. Mostly that's folders or unnamed files.
Currently, after you create a new element, the current index of my sidebar is highlight.

### Solution/Idea

It would be much more beneficial to highlight the element which was just created.
That way you could instantly open the file/folder instantly by pressing `Enter`. Or in case yo

[2021-12-17 01:23] MagikarpLaCarpe commented on #7247
i agree with this that is the last and only reason on why i am not using this app...

[2021-12-17 04:02] #7305 closed

[2021-12-17 04:05] yaichenbaum commented on #2692
=

[2021-12-17 04:05] #2692 closed

[2021-12-17 08:48] gave92 commented on #7307
Where is the shortcut located? Is it in a folder the requires administrator access? It looks like Files is failing to save the arguments due to "access denied".
`
2021-12-16 11:44:41.2726|WARN|ParseFileOperationAsync|Access is denied. (0x80070005 (E_ACCESSDENIED))
	System.UnauthorizedAccessException: Access is denied. (0x80070005 (E_ACCESSDENIED))
   at System.Runtime.InteropServices.ComTypes.IPer

[2021-12-17 13:36] martinandersen3d commented on #1928
I want tree view also - Smash that like button in the top post 👍👍👍👍👍

[2021-12-17 16:19] human1978 commented on #7273
![73DC8F4B-EFDF-41A4-95F0-A7FE25419F42](https://user-images.githubusercontent.com/94195136/146575360-62574ff8-6821-4c9c-9365-e7454898a32d.jpeg)

[2021-12-17 16:21] human1978 commented on #7273
Actives install

[2021-12-17 18:32] JimOGorman opened #7312 ""Send to" missing"
### What's the Problem?

_No response_

### Solution/Idea

Add Send to... in right click menu option

### Alternatives

Long click on the file or folder could bring up this option

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end users to accomplish X | Should |
| This proposal will al

[2021-12-17 18:37] gave92 commented on #7312
@yaichenbaum I see that similar feature requests have been closed (#2940, #285). Is it still the case?

[2021-12-17 18:39] gave92 commented on #7312
@JimOGorman what do you use that menu most? For "send to desktop"? For "send to compressed folder"?

[2021-12-17 18:47] yaichenbaum commented on #7312
Yes, there doesn't appear to be much difference in the send-to feature as opposed to opening a new tab.

[2021-12-17 18:47] #7312 closed

[2021-12-17 20:15] JimOGorman commented on #7312
Usually send to an external drive / flash drive

[2021-12-17 20:20] JimOGorman commented on #7312
@gave92 More like "Copy to E:\" kinda thing.

[2021-12-18 01:03] warappa opened #7313 "Issues With Preview-Version and ms-appinstaller"
### Description

On up-to-date Windows 11 https://files.community/download/preview produces the following Windows error message in the app installer:
[code]
For more info see here:
https://techcommunity.microsoft.com/t5/msix-deployment/the-ms-appinstaller-protocol-has-been-disabled/m-p/3038361

### Steps To Reproduce

1. Open https://files.community/download/preview and allow opening the Windows a

[2021-12-18 13:36] gh0sti commented on #819
wouldnt it be better if the gif played in the sidepanel view similar to how pictures can be viewed in the sidepanel?

[2021-12-18 14:13] XavierWang3P opened #7314 "Unable to restore default explorer"
### Description

After I set Files as Explorer.exe, I couldn't restore the operation.

### Steps To Reproduce

_No response_

### Expected behavior

- The option of setting Files as default explorer can't be shut down.
- I found an article (link: [https://zhuanlan.zhihu.com/p/112818801](https://zhuanlan.zhihu.com/p/112818801)) that introducing how to change default explorer through regedit, howeve

[2021-12-18 14:32] BanCrash commented on #7314
Hi @XavierWang3P  , you have to follow the instructions here to unset as default file explorer:

https://files.community/docs/configuring/replace-file-explorer

TL;DR: download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run UnsetFilesAsDefault.reg to restore windows explorer

[2021-12-18 14:32] #7314 closed

[2021-12-18 18:21] aerioeus opened #7316 "Cannot reset Experimental/ Default File Explorer"
### Description

I have tried out the experimental feature to set Files as Default. Now that I want to reset it, it doesnt change back to Windows explorer. Where can I find the setting responsible for the Default to delete it?

merci A

### Steps To Reproduce

go to Experimental
uncheck the button "Default File Explorer"

### Expected behavior

let me uncheck the button "Default File Explorer" and

[2021-12-18 19:18] T-electroJo opened #7317 "Default-explorer-setting won't turn off."
### Description

Hello there,
the app is very cool and I really liked it so far. It just takes a little long to start.

Now I had activated the experimental function "Use as standard explorer". However, this can no longer be deactivated and so I can no longer use my old, normal Windows Explorer.

Please help quickly!
LG

### Steps To Reproduce

1. Activate "Use as Default-Explorer"
2. Try to disab

[2021-12-18 19:58] gave92 commented on #7317
Hi to restore classis Explorer, download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run "UnsetFilesAsDefault.reg".

[2021-12-18 19:58] #7317 closed

[2021-12-18 19:59] gave92 commented on #7316
Hi to restore classis Explorer, download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run "UnsetFilesAsDefault.reg".

[2021-12-18 19:59] #7316 closed

[2021-12-18 20:13] T-electroJo commented on #7317
Hi,

thank you so much! It worked for me.

Greetings from Germany,
Jonas
________________________________
From: Marco Gavelli ***@***.***>
Sent: Saturday, December 18, 2021 8:59:04 PM
To: files-community/Files ***@***.***>
Cc: T-electroJo ***@***.***>; Author ***@***.***>
Subject: Re: [files-community/Files] Default-explorer-setting won't turn off. (Issue #7317)

Hi to restore classis Explorer, do

[2021-12-18 22:52] babakfp opened #7318 "Unpin recycle bin option doesn't work"
### Description

Hi
I installed the app 10min ago.

When I right-click and click on the "Unpin from Favorites" option on the "Recycle Bin", it doesn't do anything.

In the Sidebar settings, the "Pin Recycle Bin to favorites" option is off. When I turn it on, then turn it off it works and it's gets removed from the Sidebar.

I tested to see that is it only for the "Pin Recycle" or it's for all dire

[2021-12-18 23:22] yaichenbaum commented on #7313
@warappa thanks for bringing this up, Microsoft temporarily disabled the protocol, but they are working on bringing it back. In the meantime, you can download Files using the direct path or from the Microsoft Store.

[2021-12-18 23:22] #7313 closed

[2021-12-19 01:05] Fannzc opened #7319 "BUG Report"
### Description

1.主页有时候识别不到驱动器，需要关闭重新打开
2.鼠标点击复制、剪切、粘贴功能无法使用，键盘也是如此
3.无法完全取代系统资源管理器，在其他软件许多时候点击后跳转的是系统自带的资源管理器
4.在winrar类似的解压软件中无法做到直接拖动以解压

1. Sometimes the home page cannot identify the drive. I need to close and open the home page again
2. The copy, cut, and paste functions cannot be used, nor does the keyboard
3. It cannot completely replace the system resource manager. In many cases, the res

[2021-12-19 08:55] vstar37 opened #7320 "The"
![image](https://user-images.githubusercontent.com/70553922/146669274-c5a07e63-7dda-423e-97d5-b9ea5226d388.png)
It will auto turn on.

[2021-12-19 14:48] #7274 closed

[2021-12-19 14:48] #7144 closed

[2021-12-19 14:48] #7266 closed

[2021-12-19 14:48] #5539 closed

[2021-12-19 15:54] ZaneDragonBorn opened #7321 "Add support for adding drives to favorites section"
### What's the Problem?

I can't favorite Drives or Files. This is kinda a bummer since it would give easier access to stuff. Also, you can't unfavorite stuff in the Home page.

### Solution/Idea

Allow them to be favorited. Only difference with a favorited file would be it is shown as a grid below favorited drives and folders.

### Alternatives

Nothing other than deal with it.

### Priorities

|

[2021-12-19 16:52] PicoPlanetDev opened #7322 "Option to hide files that start with "." in the WSL section"
### What's the Problem?

Files shows all files that start with "." which are usually hidden in Linux file managers, such as:
- .hushlogin
- .bashrc
- .profile
However, Files and Windows Explorer show these files by default with no way to hide them.

### Solution/Idea

Add an option to Files to hide these files when browsing subfolders of the WSL directory \\wsl.localhost\ or even a custom director

[2021-12-19 17:20] d2dyno1 commented on #7320
Please provide more details about the issue

[2021-12-19 18:47] yaichenbaum commented on #7322
Merging with #2587

[2021-12-19 18:47] #7322 closed

[2021-12-19 20:21] gave92 commented on #7320
Hi to restore classis Explorer, download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run "UnsetFilesAsDefault.reg".

[2021-12-19 20:21] #7320 closed

[2021-12-19 20:33] debugkokichi commented on #3707
I havent tried the newest version out yet, I will respond tomorrow when I tried it!

[2021-12-20 01:33] jiejasonliu commented on #7310
Hi there! 👋 I'd like to work on this issue. I did some looking around and my initial strategy was to retrieve the path from the item per `IStorageItem.Path` and clicking it. Unfortunately, it appears I have to defer the click since the UI isn't updated synchronously with the file creation and thus can't be clicked.

I had a peek in `ItemViewModel` and the `DirectoryInfoUpdated` event appears to be

[2021-12-20 04:14] #6873 closed

[2021-12-20 08:40] CosmicRide opened #7323 "React to dbClick"
### What's the Problem?

We hope you add this feature:
After double click ,it can return to the previous level。
This would be a very useful & convenient operation。

### Solution/Idea

After double click ,it can return to the previous level。

### Alternatives

You can refer to clover [http://cn.ejie.me/]

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allo

[2021-12-20 08:46] TechyAditya opened #7324 "Add an option to open the folder in file explorer"
### What's the Problem?

Sometimes, I really want to use original file manager for some reason. If I turn on that experimental setting files as default file explorer, then I got no way to use original file manager (other than opening control panel and navigating back to home).

### Solution/Idea

In menu, add a context menu to open in file explorer (only if that default file manager option is enab

[2021-12-20 08:55] TechyAditya opened #7325 "Caching Files app in memory"
### What's the Problem?

Files app takes a while to launch, like 10 seconds to fully load everything like drives, shortcuts, navigation bar, etc.

### Solution/Idea

Cache files app in memory at the startup, so that it'll launch as fast as one-click (whatsapp UWP beta does the same).

### PC specs

Windows 11
Intel i7 10th gen
M.2 SSD drive
16 GB ram

[2021-12-20 10:40] Vinfall opened #7326 "File Renaming UX Improvement"
### What's the Problem?

For now when renaming a file/folder in `Files`, when file name is limited to not exceed the width of the `Name` column, which can make the file name less unreadable than the original `Windows File Explorer` (I hope it's called that...).

A simple contrast between the two explorers:

1. Files
![Files](https://user-images.githubusercontent.com/91039000/146752376-3f30d5bc-6e5

[2021-12-20 11:28] esibruti commented on #5135
@yaichenbaum Can I try to implement this feature?

[2021-12-20 12:32] vabka commented on #6952
@yaichenbaum my laptop was upgraded to Windows 11 Insider Preview and WSL was installed in Windows 11. (WSL volume not visible)
My PC was upgraded to stable Windows 11 but WSL was installed in Windows 10. (WSL volume visible)

[2021-12-20 14:14] Josh-65 opened #7327 "Save folder index size"
### What's the Problem?

When ever I refresh or go back and forth a directory with folder sizes enable they get re index every time (no idea if this causes unnesary drive usage). Side note it doesn't seem to use the properties way so when opening the properties of that folder it also re index's the size.

### Solution/Idea

Cache the folder size (for properties and item column) and refresh with co

[2021-12-20 14:21] josh-65 commented on #7319
its best to split all issues in a separate issues as they can be tracked better.
issue 1 is being tracked with #6182.
issues 2 and 4 more information is need as I can do them fine.
issue 3 doesn't make sense as files doesn't have resource manager.

[2021-12-20 15:07] #2581 closed

[2021-12-20 15:07] #3333 closed

[2021-12-20 15:07] #3407 closed

[2021-12-20 15:08] #3492 closed

[2021-12-20 15:08] #4080 closed

[2021-12-20 15:08] #4544 closed

[2021-12-20 15:10] yaichenbaum commented on #7327
cc @cinqmilleans

[2021-12-20 15:11] yaichenbaum commented on #7325
@TechyAditya we already do this with Files but due to some platform bugs, it doesn't seem to make a difference. We're hoping to get this working when we switch to WinUI.

[2021-12-20 15:11] #7325 closed

[2021-12-20 15:13] yaichenbaum commented on #7324
@TechyAditya what are the reasons for opening File Explorer? We would like to resolve properly those instead of adding a menu item to fall back to explorer.

[2021-12-20 15:14] yaichenbaum commented on #7323
Merging with #2355

[2021-12-20 15:14] #7323 closed

[2021-12-20 15:14] #7319 closed

[2021-12-20 15:21] josh-65 commented on #7303
Are you sure the folder has files in it with content? As for the size in the item list there currently an experimental option for insider builds for it but isn't support for 2.0.34.

[2021-12-20 15:29] josh-65 opened #7328 "Add folder size collum indexing to netowrk drives"
### What's the Problem?

Currently the experimental feature doesn't work for network drives.

### Solution/Idea

.

### Alternatives

.

### Priorities

_No response_

### Files Version

2.0.43.0

### Windows Version

10.0.19043.1387

### Comments

_No response_

[2021-12-20 15:51] Talisman39ar opened #7329 "Columns view not working when navigate to folder from file path"
### Description

Using the Columns view, if I use a drop-down in the file path to navigate to a folder directly, then the columns aren't refreshed properly, and I can't then double click into folders within the folder I've just picked from the file path.

### Steps To Reproduce

1. Here I've used Columns to navigate to a folder, California Session 2021
<img width="672" alt="image" src="https://use

[2021-12-20 15:51] OscarDL opened #7330 "Keyboard shortcuts don't work in the "columns" layout"
### Description

Regular keyboard shortcuts, such as (in this example's case) Ctrl+C and Ctrl+V, don't do anything when using the columns layout.

Live example below using the On-Sscreen Keyboard app to show that they don't do anything.
Doing the exact same (even using OSK) in the regular "details" layout works flawlessly.

### Steps To Reproduce

1. Enable "columns" layout by clicking the icon th

[2021-12-20 15:53] OscarDL opened #7331 "Tab titles don't update when using the "columns" layout"
### Description

When navigating within folders (or even ZIP files), the tab title doesn't update, unlike in "details" layout which works flawlessly.

Live example below using both "columns" and "details" layouts to show the different behaviors.

### Steps To Reproduce

1. Enable "columns" layout by clicking the icon that looks like 3 squares at the top right, then clicking "columns"
2. Go to any

[2021-12-20 17:08] trparky opened #7332 "Search file contents..."
I'd like to see Files (the app) search file contents such as Microsoft Word documents in a particular path. I imagine that it would require tapping into the search system of Windows itself to do this since Windows Search indexes file contents.

[2021-12-20 17:48] cinqmilleans commented on #7327
I already tried. It is easy to cache the size of each calculated folder. The calculation is recursive therefore the subfolders are already cached when we open them. For this functionality, it is necessary to delete the cache of a folder when it is updated, even when it is not displayed. Technically this is possible, but it seems to me that it is not yet used by Files. I don't know the impact on pe

[2021-12-20 18:01] yaichenbaum commented on #7327
Seems like it can be a bit heavy but I think it should be fine if we indicate that in the setting description.

[2021-12-20 18:19] cinqmilleans commented on #7332
It's planned. A research system is under development. It will be possible to search for indexed content.

[2021-12-20 18:21] cinqmilleans commented on #7327
Let's test.

[2021-12-20 19:48] Battler624 opened #7334 "Feature: Add setting to makes delete permanently delete items by default"
### Description

Files are undeletable if I turn off "show a confirmation dialogue when deleting files"  but I still get a green checkmark for the operation.

### Steps To Reproduce

Go to recycle bin
click on properties.
turn on "dont move files to recycle bin"
go to files app
turn off the "show a confirmation dialogue" in preferences
try to delete a file

### Expected behavior

File gets deleted

[2021-12-20 19:58] whitequill opened #7335 "Unprepared for"
### Description

Files run into a problem that the developer didn't prepare for yet.

### Steps To Reproduce

1. Under Libraries right-click **Documents**
2. Choose **Properties**
3. Left click **Customization**

### Expected behavior

Choose a custom folder Icon dialog opens

### Files Version

Version: 2.0.34.0 OS Version: 10.0.22000.376

### Windows Version

Edition	Windows 11 Pro Version	21H2

[2021-12-20 22:30] Izzmo opened #7337 "Control + Shift + Arrow selection does not work in file rename mode"
### Description

Shift + Arrow works, but Control + Shift + Arrow to highlight whole words of text does not work. It blurs off of the file rename.

### Steps To Reproduce

1. Select a file to rename and press F2, or right click Rename (Example: _my-cool-file.pptx_)
2. Press the right arrow key to unselect the whole filename and put cursor just before extension.
2. Hold down Control + Shift + Left

[2021-12-20 22:31] Izzmo commented on #7337
Duplicate of #6778

[2021-12-20 22:31] #7337 closed

[2021-12-21 00:36] #7260 closed

[2021-12-21 00:36] yaichenbaum commented on #7260
This issue should be resolved with #7336

[2021-12-21 00:47] josh-65 commented on #7324
I believe this could be useful for when files isn't doing what's expected to get it done quicker. Most common is properly a failed operation for something files doesn't account for or ones that are lengthy in files but not in explorer. Like deleting many files that could be in use since there isn't an apply all feature. I've had to or preferred do this sometimes.

[2021-12-21 01:56] nhktmdzhg opened #7338 "Can't cut copy and paste"
### Description

I can't paste my file in other folder and I must use File Explore to paste it

### Steps To Reproduce

_No response_

### Expected behavior

Can paste file to other folder ?

### Files Version

Version: 2.0.34.0 OS Version: 10.0.19043.1021

### Windows Version

Windows 10 Pro 21H1 19043.1021

### Relevant Assets/Logs

[debug.log](https://github.com/files-community/Files/files/7749

[2021-12-21 03:48] qinywolf opened #7340 "Support for configuring the default sidebar expansion status and folder column name width."
### What's the Problem?

Support for configuring the default sidebar expansion status and folder column name width.
You need to expand the sidebar manually every time you use it, and it is recommended to record the sidebar status.
The column name interval for the file list often requires manual conditions, and it is recommended to provide a default value instead of creating a desktop.files.json fi

[2021-12-21 08:23] Raithlin commented on #5295
What version on Windows is this on? I am unable to replicate the issue on Windows 11.

[2021-12-21 08:24] gave92 commented on #7332
Should be possible already, by typing something like "content:YOURSEARCH"

[2021-12-21 08:32] gave92 commented on #7334
Using Shift+Delete should work for now.

[2021-12-21 08:33] #7335 closed

[2021-12-21 08:33] gave92 commented on #7335
Tgabks for the report. This is fixed in latest code.

[2021-12-21 08:46] Battler624 commented on #7334
Can confirm

[2021-12-21 13:57] tatsumara opened #7341 "Trying to copy file too large for the destination file system mistakenly succeeds"
### Description

Trying to copy a file larger than 4gb onto a FAT32 filesystem doesn't produce an error, but says the operation succeeded, while Explorer correctly errors out.

### Steps To Reproduce

1. Copy a file larger than 4gb
2. Paste it into a FAT32 filesystem

### Expected behavior

There should be an error dialog and it shouldn't claim that the operation worked.

### Files Version

Versio

[2021-12-21 13:59] tatsumara commented on #7341
seems this was mentioned already in #4884, my bad

[2021-12-21 16:00] #7331 closed

[2021-12-21 16:01] yaichenbaum commented on #7331
This issue should be resolved with #7333

[2021-12-21 16:02] #5408 closed

[2021-12-21 16:03] #7128 closed

[2021-12-21 16:08] yaichenbaum commented on #5135
Absolutely! Good luck 🙂

[2021-12-21 16:12] Dhyfer1 opened #7342 "Question about icons on the menu bar"
Hi. I need your help. I want to customize the toolbar of an app to zip/unzip files by replacing its icons with the icons shown in the image. What I want to know is, in which dll or exe file or in which directory could you find the icons in two colors shown in the image?

![0xAeu.png](https://user-images.githubusercontent.com/50301201/146962382-bdd060c2-9b5a-49d9-ae7c-2d42a6ea861c.png)

[2021-12-21 16:51] yaichenbaum commented on #7342
I'm not sure where File Explorer stores their icons, but we have our own custom font with them https://github.com/files-community/Files/blob/main/src/Files/Assets/Custom%20Glyphs/Colored-Icons.ttf.

[2021-12-21 16:51] #7342 closed

[2021-12-21 18:30] #6467 closed

[2021-12-21 20:00] xdanielc commented on #7124
Another milestone this could further be improved would be filter by metadata, maybe coping some syntax form exiftool, for example: -exif:fnumber>5.6

[2021-12-22 12:30] esibruti commented on #6115
For those who want to make this feature, you can consult this page:
[Microsoft Docs](https://docs.microsoft.com/en-us/windows/apps/design/controls/info-badge)

[2021-12-22 12:34] esibruti commented on #7225
Wouldn't it be interesting to use it?:
[Microsoft Docs](https://docs.microsoft.com/en-us/windows/apps/design/controls/infobar)

[2021-12-22 12:44] jerrywcy commented on #7338
Same Question here, quite a weird one because sometimes I can copy from File Explorer and paste in Files, but sometimes I can't.

[2021-12-22 12:49] jerrywcy commented on #7338
This happens EVERYWHERE, no matter in the cloud or local or libraries or drives. Also, Ctrl+C,Ctrl+V and clicking the Paste button or Copy button simply don't work.

[2021-12-22 12:55] jerrywcy commented on #7338
What is more weird is that simply drag a file to another folder/tab can work...

[2021-12-22 13:05] jerrywcy opened #7344 "Copy and Paste don't work"
### Description

No matter how hard I tried to copy/paste files in Files, it simply doesn't work. No matter I copy/paste files from a cloud or local directory, no matter I use keyboard shortcuts or click the Copy/Paste button, it JUST DOESN'T WORK.

### Steps To Reproduce

1. Go to a random folder and select a random file
2. Ctrl+C or click the Copy button
3. Go to another random folder and press

[2021-12-22 13:07] jerrywcy commented on #7344
Note that logs in `debug_fulltrust.log` after 21:00 might be useful because I carried out a copy and paste operation at that particular time, and for logs at other times, I'm not sure what they are recording.

[2021-12-22 15:46] JeffersonQin opened #7346 "Right Click Menu does not disapper as it should in certain situation"
### Description

1. right click blank area of a folder
2. select "more" in the menu
3. start whatever screenshoting software, in my case, snipaste
4. close the screenshoting software
5. the menu is left there, and will not disappear even if the folder is changed and blank area is clicked.

### Steps To Reproduce

_No response_

### Expected behavior

Menu should disappear after clicking blank area

[2021-12-22 16:07] Anonymoushacker4926 commented on #5295
It was on the latest version of windows 10. The issue was 6 months ago though it might've been patched already idk.

[2021-12-22 16:22] cinqmilleans commented on #7327
@yaichenbaum Here is an idea for improvement that can be implemented quickly and easily, while waiting for a more complete solution.

- When we want to display the size of a folder, we check if the size is cached. If so, we display it, otherwise we display a message (Calculation in progress ...).
- Then, we calculate asynchronously and recursively the current size of the file, because it could hav

[2021-12-22 16:48] josh-65 commented on #7346
This seem to be an issues with WinUI on Windows 10 as I have enounced it also in other apps and windows itself sometimes. its talked about on https://github.com/microsoft/microsoft-ui-xaml/issues/5519. Windows 11 isn't affected.

[2021-12-22 17:08] yaichenbaum commented on #7327
Is the cache you're talking about going to be stored across app sessions or only for the current instance?

[2021-12-22 18:51] gave92 commented on #7346
Merging with #6922

[2021-12-22 18:51] #7346 closed

[2021-12-22 19:02] cinqmilleans commented on #7327
@yaichenbaum To improve the idea above, we can update the cache directly when adding/removing files with Files by impacting the size of the parents in the cache. This will make it possible to have the right size immediately after an operation in Files, when we return to the parent.

[2021-12-22 20:14] cinqmilleans commented on #7124
@xdanielc Could you develop your idea? I do not understand.

[2021-12-22 20:41] islahamine opened #7347 "Pictures opens behind Files Explorer Window"
### Description

Hi ALL,

I Faced This Problem : When Trying To Open a Picture It Opens Behind And I Should Click On It In TaskBar
I'm Using The Microsoft Store Version .
Thanks In Advance.

### Steps To Reproduce

_No response_

### Expected behavior

I Expected The Picture To Be Opened On Top Like The Default Explorer

### Files Version

Version 2.0.34.0

### Windows Version

Windows 21H2 OS Bui

[2021-12-22 21:42] cinqmilleans commented on #7327
@yaichenbaum I think limiting the cache to the current instance is sufficient. Storing the info in a db will pose too much of a performance and update problem, for very little benefit. You can always add it later if needed.

[2021-12-22 21:46] yaichenbaum commented on #7327
I think it's worth keeping it across sessions because otherwise, it won't make much of a difference.

[2021-12-23 05:26] FranklinOP-IND opened #7349 "How can I Replace Old File Exploer With registry Change"
### Description

![image](https://user-images.githubusercontent.com/64591314/147191828-c5748883-bae8-477b-91ce-3d8e93aad9b7.png)
I unstall File Exploer 2 Then I show this meassge

how can defulat use old file explorer

### Steps To Reproduce

_No response_

### Expected behavior

![image](https://user-images.githubusercontent.com/64591314/147192084-22285cf5-e67d-45a7-9570-6e028e58aaac.png)
default

[2021-12-23 07:02] Moustik2002 commented on #7304
hi, i'm encountering same issue here.

[2021-12-23 08:19] wonderNG opened #7350 "Add the "Send to" option"
### What's the Problem?

Hello :-) Hope you're fine. I wrote last time caus I couldn't open directly a folder (expect when I'm not in the folder, when I right clik on it) with VSCode or PowerShell7. Now I see that I can open a folder even if I'm already in. If last time I was wrong and did'nt see it, forgive please.
Now, there is a feature that make me use the native Files Explorer( FE) : the **se

[2021-12-23 08:59] Mariete124 commented on #7304
Hi, I've found the solution. You need to go to advance setting and activate set at default explorer

[2021-12-23 09:07] Moustik2002 commented on #7304
on my side, even with default explorer set to Files, i need to hit F5 to have updated view of folder content.

[2021-12-23 11:20] 439bananas commented on #7270
@gave92 I can't seem to reproduce your issue on 2.0.34.0

[2021-12-23 11:50] gave92 commented on #7349
Hi to restore classis Explorer, download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run "UnsetFilesAsDefault.reg".

[2021-12-23 11:50] #7349 closed

[2021-12-23 11:52] gave92 commented on #7350
Hi, what do you use the Send To option the most? For the "compressed folder", the "send to desktop" or other options?

[2021-12-23 11:53] gave92 commented on #7165
Merging with #5291

[2021-12-23 11:53] #7165 closed

[2021-12-23 11:53] gave92 commented on #7347
Thanks for the report. Merging with #5291

[2021-12-23 11:53] #7347 closed

[2021-12-23 13:29] Saf0001 commented on #7245
I can't access this website. Is there any other way to recover it, or can you send the file to my email?
 My email :saf20080508@foxmail.com
Thank you very much

[2021-12-23 14:18] TechyAditya opened #7351 "App sometimes scrolls down slightly in any folder"
### Description

It's in the muscle memory to open the first folder of the G drive that contains all movies. But somehow, the files app slightly scrolls down when I open a folder (especially the downloads folder that has 1000+ files).

### Steps To Reproduce

1. Open a folder with 100s of files (say downloads folder)
2. Group by Date modified
3. Download some files
4. Close all files instances. Th

[2021-12-23 17:29] wonderNG commented on #7350
I oftenly use **Bluetooth Devices**

[2021-12-23 18:04] yaichenbaum commented on #7350
@wonderNG I think you can do that from the share menu, can you give that a try?

[2021-12-23 18:11] yaichenbaum commented on #5819
Merging with #6186

[2021-12-23 18:11] #5819 closed

[2021-12-23 18:12] yaichenbaum commented on #7351
Merging with #6186

[2021-12-23 18:12] #7351 closed

[2021-12-23 18:37] wonderNG commented on #7350
Here is the result
![image](https://user-images.githubusercontent.com/82185052/147280024-be3bbcaa-eb5b-4947-86ed-5392421171c8.png)

[2021-12-23 18:57] cinqmilleans commented on #7328
@josh-65 It works for me. Could you describe your system more precisely?

[2021-12-23 19:01] josh-65 commented on #7328
I tried it in a VM on Windows 11 build 22523 where it would access my hosts internal drive on Windows 10. The size column was blank like if the option was off. ill retry it sometime later or tomorrow.

[2021-12-24 01:54] thierryntoh24 opened #7352 "Issues With Admin Font Installation"
### Description

Unable to grant admin access to install some fonts I've got for all users. Keeps returning 'kernel version' error

### Steps To Reproduce

1. RC on a font face
2. Take install for all users
3. Grant admin permission
4. Error

### Expected behavior

Admin permissions should be granted and the installations proceeds as normal/

### Files Version

Version: 2.0.34.0 OS Version: 10.0.1

[2021-12-24 04:49] yaichenbaum commented on #7076
@TizianoMad I think I see what you're trying to do. We won't be adding a built-in option considering that there isn't much demand, but you can still accomplish what you're trying to do by changing the icons from the properties dialog.

[2021-12-24 04:49] #7076 closed

[2021-12-24 04:50] kaname-png opened #7353 "Unable to customize a library section"
### Description

When the options of a library category section are opened, the application crashes and closes immediately.

![image](https://user-images.githubusercontent.com/56084970/147317731-452f4638-8984-430c-bba2-ba874dea844d.png)

### Steps To Reproduce

1. Go to libraries
2. Right clic > Properties
3. Click customization

https://user-images.githubusercontent.com/56084970/147319062-f20a103

[2021-12-24 04:55] yaichenbaum commented on #7324
@josh-65 can you open or comment on an existing issue regarding the apply all options? I think it's better to focus on fixing those cases instead of working on this option.

[2021-12-24 04:55] #7324 closed

[2021-12-24 04:57] Carson365 commented on #6592
I am having the same issue. Windows 11 Edu Version 21H2, Files Version 2.0.34.0,
OS Version 10.0.22000.194.
A ".zip" (lowercase) file will lead to this behavior when trying to open with files.

[2021-12-24 06:35] shehabaldien opened #7354 "Files experimental reg edit won’t disable"
I turned the experimental feature for changing the reg edit
But now I can’t turn it off and when i uninstall the app
I can’t open any folder
Plz helppppppp

[2021-12-24 07:22] sergiosgAGP opened #7355 "List view"
Hi, thanks in advance.

I need a better list view, like the other Windows files.

![image](https://user-images.githubusercontent.com/22889550/147328899-1a506e70-f370-4fe2-9b2d-a4f8b4fed814.png)
![image](https://user-images.githubusercontent.com/22889550/147328938-102f66aa-a4c5-431e-b6fd-62d012ce6362.png)

[2021-12-24 07:48] KingfuChan opened #7356 "Chinese character display in context menu"
### Description

System language is Chinese (simplified). Using Huorong Security software (https://www.huorong.cn/) some entries will be put in the context menu. And sometimes (by this I mean not always) some of them can't be displayed properly. Other programs and Chinese context menu entries are likely to have the same problem randomly. I doubt it is a char encoding issue. Hope to see a fix in fu

[2021-12-24 09:32] gave92 commented on #6592
@Carson365 what app is set as default app for opening zip files?

[2021-12-24 10:52] Akex13 commented on #7344
Same problem as you with the last release.

[2021-12-24 14:51] yaichenbaum commented on #7355
Merging with #2509.

[2021-12-24 14:51] #7355 closed

[2021-12-24 14:53] yaichenbaum commented on #7356
@KingfuChan can you upload a screenshot?

[2021-12-24 14:55] yaichenbaum commented on #7354
This issue is resolved in `main`. In the meantime you can use this script to revert the changes https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip.

[2021-12-24 14:59] yaichenbaum commented on #7267
@Pinghigh can you check if the icon has a white background in some resolutions?

[2021-12-24 15:01] josh-65 commented on #7324
I did make one quite a while ago #5030

[2021-12-24 15:03] josh-65 commented on #7350
You will need to enable nearby sharing it should show up then. Not sure if nearby sharing also has to be enabled on the other device also

[2021-12-24 15:08] Danmyrer opened #7357 "No Icon for .zip-files when using 7zip"
### Description

When you are using 7zip as your default archive manager, you don't get an icon for .zip-files. Only .7z-files get the corresponding icon.

![grafik](https://user-images.githubusercontent.com/64264487/147360709-db0c65ab-1a0b-45d5-ae9c-f556a1295d80.png)

### Steps To Reproduce

0. Uninstall any other Archive-Managers you may have (i.e WinRAR)
1. Open Files
2. Navigate to any .zip-fi

[2021-12-24 15:18] Danmyrer commented on #7357
Bug fixed itself after restarting computer twice

[2021-12-24 15:18] #7357 closed

[2021-12-24 15:25] Josh65-2201 opened #7358 "Bug: Setting file permissions fails when admin access is required"
### Description

I have tested this with an image file in the programs folder on my C drive. File explorer says it required admin whilst files doesn't do anything. Reopening the properties menu, it will remove the permissions I had set/changed.

### Steps To Reproduce

1. Open an admin access only folder (e.g. C:/Users)
2. Open security page
3. Add a user to permission
4. Click ok
5. See nothing h

[2021-12-24 15:27] gusgeek opened #7359 "Dont restore default explorer"
### Description

Files dont return  Windows Explorer to the default App for open dir's on windows.

### Steps To Reproduce

- Set Files Default to Explorer of Windows System
- Restore the setting to default (Windows Explorer)
- Try to open a dir in windows desktop or another directory

### Expected behavior

Windows explorer shows an error after restoring default settings from files

### Files Ver

[2021-12-24 16:16] Merz26 opened #7360 "Add "Skip" and "Skip all" actions in the delete dialog if multiple files can't be deleted"
### What's the Problem?

I don't know if this has been posted before, but it's annoying if one deletes files in %temp% and can't delete some files that are opened by programs. Conveniently, the old file explorer has options to "Skip" and "Do this for all current items. Well, it's much more annoying now when in the new Files you have to click "Ok" every single time files can't be deleted.

### Solu

[2021-12-24 16:35] yaichenbaum commented on #7359
Merging with #7534

[2021-12-24 16:35] #7359 closed

[2021-12-24 18:12] gave92 commented on #7352
Merging with #6731, #7093

[2021-12-24 18:12] #7352 closed

[2021-12-24 18:14] #7353 closed

[2021-12-24 18:14] gave92 commented on #7353
Thanks for the report. This is fixed on main.

[2021-12-24 19:41] Turbolol opened #7361 "files crash when i select the preferences secction or i delete multiple files"
### Description

so... idk why when i select in the settings the preferences secction or i try to delete multiple files, files crash and send a notificacion saying that the app crashed

### Steps To Reproduce

_No response_

### Expected behavior

when i want to config files as my own, the app crashed. later i tried to delete some files at the same time and crashed (again)

### Files Version

Vers

[2021-12-24 20:21] gave92 commented on #7361
Hi, you can get the logs from: Files Settings > About > Open log locations (the two ".log" files)

[2021-12-25 00:46] wanderseeme opened #7362 "add an option to keep keyboard forcus stay in files pane"
![Keyboard Focus currently defaults to tabs, which makes people feel clumsy and unhandy](https://user-images.githubusercontent.com/1303078/147375070-16184ab5-3f99-43ae-8e02-ecee89567d44.png)

Keyboard Focus currently defaults to tabs, which makes people feel clumsy and unhandy for fast keybaord navigation

[2021-12-25 02:31] KingfuChan commented on #7356
Well I have to wait until next time I see this bug. It's really random and I have no idea if it is Files to blame.

[2021-12-25 06:29] Pinghigh commented on #7267
yes, i tried in 800*600, but it still has a white background

[2021-12-25 15:15] jardelvdm commented on #6824
When I tried to uncheck the `Set Files as default` and did not work, I took a picture of the path the registry would act  in the file `UnsetFilesAsDefault.reg` and then noticed that the directory was empty.

So I found and did follow the step 2 of [these instructions](https://files.community/docs/configuring/replace-file-explorer) and extracted the `.reg` files into the directory. After that the `

[2021-12-25 16:56] Meiryo7743 commented on #7350
I sometimes use Bluetooth sharing to receive files from my Android device, but Windows' nearby sharing works only between Windows devices. Thus adding the feature the author proposed to the right-click menu would be great at least for me.

[2021-12-26 00:41] yaichenbaum commented on #7362
Merging with #2977

[2021-12-26 00:41] #7362 closed

[2021-12-26 07:09] Ccaesar opened #7363 "Right-clicking in folder empty space causes crash"
### Description

Greetings,
When I open multiple folders in COLUMN view, right-clicking on the blank block to the right causes the whole program to crash (it could be one right-click or multiple). I think there may be a problem with the implementation of the right margin block in this view.

### Steps To Reproduce

1.switch to the "column" view.
2.open two or more folders.
3.right click the blank

[2021-12-26 14:18] dieggono opened #7364 "Drag and drop uploading in google chrome"
### What's the Problem?

I'm trying to upload photos from files to google photos in chrome by drag and drop but nothing happens.

### Solution/Idea

I want to be able to upload file in google chorome just by drag and drop the file from de app

### Alternatives

Right now I have to  upload file by selecting them in a pop-up window

### Priorities

_No response_

### Files Version

Versión: 2.0.34.0

[2021-12-27 05:32] jashanpreet11 opened #7365 "Set files as default file explorer"
### Description

hey Files team,
I m here to a problem i  am having with files .Sorry to say, but i want to delete files and remove files as my 'default file explorer' . I want to remove Files as my default file explorer but i go in settings and in experimentel section then when i clickthe option to make it off then a security notification comes to editthe registy i give permission but it donot ge

[2021-12-27 08:14] totoro1024 commented on #7365
After uninstalling, I can’t open the folder anymore

[2021-12-27 08:41] duke7553 commented on #7365
@totoro1024 @jashanpreet11 This issue is resolved in main. In the meantime, you can use this script to revert the changes https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip.

[2021-12-27 08:41] #7365 closed

[2021-12-27 12:57] Pinghigh opened #7367 "Flash back when opening a picture folder"
### Description

When i was opening the Picture folder(in library), it kept flashing back

### Steps To Reproduce

1.open Files
2.click the Picture folder
3.flash back

### Expected behavior

normally open the folder

### Files Version

版本: 2.0.34.0 OS Version: 10.0.22000.376

### Windows Version

windows 11 22000.376

### Relevant Assets/Logs

[debug.log](https://github.com/files-community/Files/

[2021-12-27 14:55] paulocampoy opened #7368 "Add product version column to details layout"
### What's the Problem?

I didn't found a way to add new columns on Files. I always use a column with info about version of app or documents. May you help me?
<img width="458" alt="2021-12-27 11_50_13-C_" src="https://user-images.githubusercontent.com/38701792/147483089-860bb7c8-e0cf-42c9-abe9-0978c44a6359.png">

### Solution/Idea

Create a way to add or remove columns from Files with infos like v

[2021-12-27 15:46] gave92 commented on #7367
Thanks for the report. This issue is fixed in latest preview version.

[2021-12-27 15:46] #7367 closed

[2021-12-27 17:10] BillCC95531 opened #7369 "Experimental Option Default File Explorer"
### Description

Files will not allow me to revert back to File Explorer as the default.  When I click the toggle switch in the experimental settings section to off, I get the windows message asking me if I want to allow the files program to make changes to the system, I click yes and then the files app turns the toggle switch back to the on position.

### Steps To Reproduce

Won't let me reproduc

[2021-12-27 17:30] gave92 commented on #7369
Hi, this issue is resolved in main. In the meantime, you can use this script to revert the changes https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip.

[2021-12-27 17:30] #7369 closed

[2021-12-27 17:43] gave92 commented on #6382
Pushed here: https://github.com/files-community/Files/tree/show_in_folder a test branch that adds support for highlighting the item when using "show in folder". Code is taken from Explorer++. Unfortunately it appears it does not work reliably, e.g works from the start menu but not from edge (same does Explorer++).

[2021-12-27 17:56] #5579 closed

[2021-12-27 17:56] yaichenbaum commented on #5579
This issue should be resolved with #7309

[2021-12-27 17:59] BillCC95531 commented on #7369
Thank you.  I ran the script and it successfully restored explorer to the
default.

On Mon, Dec 27, 2021 at 9:30 AM Marco Gavelli ***@***.***>
wrote:

[2021-12-27 20:09] v-aravind opened #7370 "Missing Dropbox context menu in Files right click"
### What's the Problem?

The context menu (right click) on files and folders in Dropbox folders does not include the context menu items specific to Dropbox, which appear in the standard windows Explorer context menu. The context menu items that appear in Windows Explorer are in the image below. These are missing from the context menu in the Files app.
![image](https://user-images.githubusercontent

[2021-12-27 20:14] v-aravind opened #7371 "Folder icon for Dropbox Business is incorrect"
### Description

The folder icon for Business Dropbox is not showing correctly - it shows the generic yellow folder icon instead of the dropbox icon
![image](https://user-images.githubusercontent.com/69113302/147504238-41c05565-923a-4302-88e1-1b505a4eba8f.png)

### Steps To Reproduce

_No response_

### Expected behavior

The correct icon for dropbox should appear - this happens for personal Dropb

[2021-12-27 21:37] gave92 commented on #7370
Could you post a screenshot of Files context menu for a Dropbox file?

[2021-12-28 01:29] njliligan opened #7372 "crash bug"
### Description

When I clicked the pictrues ，the application is crash。

### Steps To Reproduce

1,in the setting choose "SideBar".
2,open "Show library section".
3,click the Pictrues in "library section".

### Expected behavior

The apllication will crash

### Files Version

版本: 2.0.34.0 OS Version: 10.0.22000.376

### Windows Version

Windows 11 21H2 22000.376

### Relevant Assets/Logs

[debug_f

[2021-12-28 02:39] Nipponico commented on #7136
But why don't you read icons from Registry? I usually modify all the Windows icons importing a .reg like the following:

Windows Registry Editor Version 5.00
; Enable System Icons
[HKEY_CLASSES_ROOT\batfile\DefaultIcon]
@="F:\\Icone Sistema\\EXE File.ico,0"
...
[HKEY_CLASSES_ROOT\xmlfile\DefaultIcon]
@="F:\\Icone Sistema\\INF File.ico,0"
[HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersio

[2021-12-28 02:46] josh-65 commented on #7136
The Registry doesn't contain the icons. Those registry changes are just changing the icon path for certain references witch files should read if they get applies in file explorer since files reads from them.

[2021-12-28 08:28] gave92 commented on #7372
Thanks for the report. This issue is fixed in latest preview version.

[2021-12-28 08:28] #7372 closed

[2021-12-28 09:46] gave92 commented on #7363
Not specific to column view:
`2021-12-28 10:46:14.7413|ERROR|AppUnhandledException|Layout cycle detected.  Layout could not complete.
Layout cycle detected.  Layout could not complete.
	Windows.UI.Xaml.LayoutCycleException: Layout cycle detected.  Layout could not complete.
Layout cycle detected.  Layout could not complete.`

[2021-12-28 10:54] wonderNG commented on #7350
**Nearby Share** works but between two PC's

[2021-12-28 15:40] #7300 closed

[2021-12-28 15:40] yaichenbaum commented on #7300
This issue should be resolved with #7366.

[2021-12-28 16:42] #3707 closed

[2021-12-28 18:06] onein528 opened #7377 "Regain the UX/UI of the properties window in #6691"
### Description

The property window UI prior to #6691 is more similar to the properties window in Windows File Explorer and is more familiar to users, making it easier to acquire UX.

![image](https://user-images.githubusercontent.com/62196528/147593951-d919e181-623a-4dc1-ac26-59356be60f18.png)

Property windows, such as folders, have completely different content for each section and are terribly

[2021-12-28 18:33] yaichenbaum commented on #7377
The properties dialog is in middle of undergoing a refresh and the tab design was temporarily removed as we get ready to implement the changes.

[2021-12-28 18:33] #7377 closed

[2021-12-28 18:39] yaichenbaum commented on #7377
@onein528 I should clarify, the navigation view isn't being removed. I think you'll like the new design once it's fully implemented.

[2021-12-28 18:41] onein528 commented on #7377
That's interesting!!

[2021-12-28 18:43] yaichenbaum commented on #7377
Feel free to follow the progress in the PR I opened a couple of minutes ago #7378

[2021-12-28 23:16] MalteTasler commented on #6397
Maybe, Files could do it as many other modern apllications nowadays such as Microsoft Edge, that make the titlebar smaller when the window is maximized. In maximized mode, the padding above the tabs of the Files window should be removed so that the user can accomplish what this request is aiming for. When the window is not maximized the layout should be as it is now as there is no need for the cur

[2021-12-28 23:18] MalteTasler commented on #6195
From my personal view, I see nothing that would speak against this.

[2021-12-28 23:56] MalteTasler commented on #6067
I like the current approach. The properties shortcut is not only common, it is also an option that is available on every folder and file, like the other buttons in the top row.

While this is different from file explorer, once you get used to it it shouldn't get in the way for the majority of users.

[2021-12-29 00:15] MalteTasler commented on #5626
I would rather consider a context menu entry. Drag and drop should be reserved for moving or copying elements like the user expects it.

[2021-12-29 00:57] MalteTasler commented on #7256
Same as #3422 .

[2021-12-29 02:46] Talisman39ar opened #7379 "Default to pasting in right most column"
### What's the Problem?

When in columns view, if I go to paste a file from another folder, it's unclear how to tell Files which column I want to paste into. Generally I'd want to paste into the right-most column (IMO), but Files seems to use the next-to-last column as the focus.

I have to right click in the desired column and use the Paste in the drop-down to force it to paste in the column I wa

[2021-12-29 03:15] Talisman39ar opened #7380 "Layout picker menu only allows clicking on the view icons"
### What's the Problem?

The layout picker only allows clicking on the view icons. Clicking on the name of the view (Details, Columns, etc.) doesn't do anything.

### Solution/Idea

I would expect both the icon and the associated name to be treated as a single button, so clicking anywhere in there switches the view. (Nice that you have the tooltips with the keyboard shortcuts in there BTW!)

![ima

[2021-12-29 03:54] Talisman39ar commented on #5880
I realize this is a fairly old thread but figured I'd add on here...

Additional confusion can come because two individual items can look like they bare both selected, even when one of them no longer is:

<img width="679" alt="image" src="https://user-images.githubusercontent.com/61295915/147625673-f162a844-69d9-494a-8808-0fa498e3f2b8.png">

In this scenario, I'd clicked on an item in the right-mo

[2021-12-29 04:05] yaichenbaum commented on #7380
This will be resolved in the next update.

[2021-12-29 04:05] #7380 closed

[2021-12-29 10:59] sdnvm opened #7382 "the icon looks not clear"
### Description

![image](https://user-images.githubusercontent.com/96822193/147654809-953c75be-8bfa-477d-bcc6-a67ed439391e.png)
the icon looks not clear

### Steps To Reproduce

_No response_

### Expected behavior

🐱

### Files Version

版本: 2.0.34.0 OS Version: 10.0.22000.376

### Windows Version

Windows 11 21H2 22000.376

### Relevant Assets/Logs

[debug.log](https://github.com/files-community

[2021-12-29 11:59] knuxyl opened #7383 "Smaller/Adjustable Item Spacing"
### What's the Problem?

Files cannot display as many items either in the sidebar or in the main window as Windows Explorer. It makes it hard to scan through due to the big spacing between each item. I believe the issue is more about the spacing between the items than the font size of the text.

### Solution/Idea

An option to adjust the size would be great, or just have the spacing smaller in gen

[2021-12-29 12:05] knuxyl opened #7384 "Allow Enable/Disable "Open files/folders with a single click" to also work on items in the Home page."
### What's the Problem?

The persistent single click to open an item on the Home page is inconsistent with the rest of the file explorer when "Open files/folders with a single click" is disabled in settings.

### Solution/Idea

Allow double click to open items in the Home page, but also adhering to the setting "Open files/folders with a single click".

### Alternatives

Have the Home page not beha

[2021-12-29 12:14] gave92 commented on #7383
Merging with #1940

[2021-12-29 12:14] #7383 closed

[2021-12-29 12:15] gave92 commented on #7384
Merging with #6074

[2021-12-29 12:15] #7384 closed

[2021-12-29 12:16] knuxyl opened #7385 "Reduce minimum size for the sidebar"
### Description

The sidebar seems to have a minimum width which takes up too much space. I cannot seem to resize it past a certain point, even though all the items in the sidebar will not be hidden. This could be a feature request, but I believe it to be a bug due to the ability to resize it.

### Steps To Reproduce

Try to resize the sidebar to hide all unused space.

### Expected behavior

Be a

[2021-12-29 13:35] yaichenbaum commented on #7385
Fyi @winston-de

[2021-12-29 16:20] cinqmilleans opened #7386 "Bad column sizes in the new property popup"
### Description

In the disk size part of the properties, the column sizes are suitable for English, but not for other languages. The texts can be too long.

### Steps To Reproduce

1. Use Files after commit #7378.
2. In settings, choose the language French.
3. In Home (Accueil in French), open the properties panel of a drive.
4. Look Général/more details

### Expected behavior

The texts should b

[2021-12-29 16:28] ffbmarkus opened #7387 "no way back to standard explorer"
### Description

Hello, I changed in the experimentell settings the standard explorer to files. now I wanted to change back, but this is not working. it is going till it asks me for changing in registry, but then stop and the button is going back to change standard... no chance.

### Steps To Reproduce

_No response_

### Expected behavior

I wanted to go back to the standard windows explorer

###

[2021-12-29 16:39] gave92 commented on #7387
Hi to restore classis Explorer, download [this zip](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) and run "UnsetFilesAsDefault.reg".

[2021-12-29 16:39] #7387 closed

[2021-12-29 21:00] yaichenbaum commented on #7386
@cinqmilleans They aren't wrapping?

[2021-12-30 08:26] qtvbwfn opened #7389 "Chinese characters displaying incorrectly in context menu"
### Description

![files_16408520239630](https://user-images.githubusercontent.com/5848026/147734320-e9be9d03-421c-4037-8cb0-3a54b451ddb3.png)

### Steps To Reproduce

_No response_

### Expected behavior

![files_2_2021-12-30_16-22-46](https://user-images.githubusercontent.com/5848026/147734449-7653ba69-7f70-45cd-ba70-3c5ea6869b59.png)

### Files Version

2.0.34.0

### Windows Version

win10 ltsc

[2021-12-30 10:40] MaoshuiI commented on #7354
网站失效了，麻烦重新发一个感谢

[2021-12-30 23:17] v-dawg commented on #7332
It would also be good if it finds music when I search for an artist or a genre

[2021-12-31 07:29] CyrilCharlier opened #7392 "USB Key - Properties Window"
Hello,

Files version 2.0.34.0

When i want to go to "Properties" in the right click menu on a USB Key, the window is a bit empty :
<img width="533" alt="image" src="https://user-images.githubusercontent.com/11455745/147809748-67f9f6b9-5157-4a88-a1c3-aaac0f849dbc.png">

Thanks

[2021-12-31 08:06] Pinghigh opened #7393 "Fonts can't install for all users"
### Description

当我点击右键，为所有用户安装一些字体时，显示“FileAllTrust.exe”的UAC然后出现“内核信息无效”的提示，最后没成功

When I right-click to install some fonts for all users, the UAC of "filealltrust. Exe" will be displayed, and then the prompt of "invalid kernel information" will appear. Finally, it failed

*使用翻译软件，可能语言有疏漏*

*There may be language omission when using translation software*

### Steps To Reproduce

1.选中一些字体
1.Select

[2021-12-31 08:36] gave92 commented on #7393
Merging with #7093

[2021-12-31 08:36] #7393 closed

[2021-12-31 08:58] XavierWang3P commented on #7354
I tried the method that officially provided, however, it didn't work on Windows 11. So I asked my [friend](https://sspai.com/u/clyde/posts) to send an original copy of `HKEY_CLASSES_ROOT\Folder\shell`, then I can restore the default explorer.

Comparing to default settings, it isn't enough to just delete the `present value` in the `command` folder, also need to add a `DelegateExecute`, which is `{

[2021-12-31 10:51] onein528 commented on #7392
Describe the details of the system you are using.

This happens if your system theme is light windows 11 and you have specified Files as a dark theme.

[2021-12-31 10:57] CyrilCharlier commented on #7392
Hi thanks for the reply,

You are right, i'm on Win 11 with light theme and darh theme with Files ;)

i will turn off dark theme as an alternate for this issue.

thanks :)

[2021-12-31 11:00] onein528 commented on #7392
@CyrilCharlier you need to mark this issue as closed

[2021-12-31 11:04] CyrilCharlier commented on #7392
oh sorry i thought you should keep open to link this issue to fixing the issue.
I close immediately.

Thanks again

[2021-12-31 11:04] #7392 closed

[2021-12-31 11:10] onein528 commented on #7392
It seems technically impossible for Files to fix this.

UWP doesn't have the API to specify a theme that applies only to apps with Mica material.

[2021-12-31 23:41] winston-de commented on #7385
This behavior is intentional, it's so that the user can collapse and expand the sidebar by resizing it. However, the minimum size to collapse can be adjusted.

[2022-01-01 00:01] AndrewLaganaro opened #7395 "Add support customizing items in the folder widget on the home page"
### What's the Problem?

Hello guys! I like Files so much but i have a problem, **I have several Libraries** that I've made on windows, Libraries are different than folders, because **they group multiple folders** (perhaps even in different HD or SSD drives) into only one folder.

So, I have three storage drives, and I have a library for Development, Electronics projects, Design, Music, Books and

[2022-01-01 06:02] mylovesaber commented on #7053
I'm not able to install the preview version through website. I found some info about this problem:
https://docs.microsoft.com/en-us/windows/msix/app-installer/installing-windows10-apps-web
https://techcommunity.microsoft.com/t5/msix-deployment/the-ms-appinstaller-protocol-has-been-disabled/m-p/3038361

System: win11  21H2  22000.376

[2022-01-01 08:10] null-zero commented on #7054
Ive tried SageThumbs as well as Icaros

[2022-01-01 08:16] CessnaBroon opened #7396 "Downloads directory not displaying items when grouping is turned on"
My Downloads directory is located at d:\<user>\Downloads, which I set up through Windows, and has worked since September with this application, but all of a sudden, it refuses to display any of the files and folders in the directory, despite recognising they exist. I've tried reinstalling the app, but it has the same issue.
![image](https://user-images.githubusercontent.com/94312908/147846755-4213

[2022-01-01 14:34] #7361 closed

[2022-01-01 15:55] gave92 commented on #7396
Does pressing "F5" make the folder items appear?

[2022-01-01 16:52] CessnaBroon commented on #7396
It does not.

[2022-01-01 17:36] cinqmilleans opened #7397 "Always open folder with one click in column view"
### What's the Problem?

In Column View, folders do not open in a new page. Not displaying the contents of a selected folder is irrelevant.

### Solution/Idea

Always open folder with one click in column view.

### Alternatives

None.

### Priorities

| Capability | Priority |
| :---------- | :------- |
| This proposal will allow developers to accomplish W | Must |
| This proposal will allow end u

[2022-01-01 17:54] rafifos commented on #7396
I can confirm that this is happening on Windows 11 (21H2, build 22000.376) as well. My Downloads directory is in the default location (`%USERNAME%\Downloads`).

[2022-01-01 17:55] gave92 commented on #7396
Could you confirm Files version? Is it 2.0.34?

[2022-01-01 17:56] rafifos commented on #7396
Hi, @gave92.

[2022-01-01 17:57] rafifos commented on #7396
A (probably) cached version of the directory is shown when creating a new folder/file inside it, but it doen't shows the actual folder content, only what was there before it stopped working.

[2022-01-01 18:42] cinqmilleans commented on #7327
The problem with a persistent cache is that drives can change paths. In uwp, it is not possible to have the volume guid. I will do a version without persistence, but with an update during the session. The sizes of subfolders are already calculated during the parent folder. We will add persistence later if possible.

[2022-01-01 20:20] DustyOldRowe opened #7398 "Files crashing upon opening the Images and Video folders from the library section in the sidebar menu"
### Description

I dowloaded Files today and I use the library section in the sidebar very often, but when I open the Images and Videos folder from there de app crashes out of nowere, but when I access from the main page, the one you when you startup the app, it works, wich is very weird

### Steps To Reproduce

1. Open Files
2. Go to the sidebar menus
3. Make sure that the library cestion is acti

[2022-01-01 20:51] #7398 closed

[2022-01-01 20:51] gave92 commented on #7398
Thanks for the report. This is fixed on the preview version.

[2022-01-01 21:09] Duckloveshack commented on #7396
Can confirm it affects other folders too, **only if** the items are grouped in that specific folder. Once you group by none, all the files are shown. May have to open a separate issue because it doesn't just stick to a single folder. Version 2.0.34.0 btw

[2022-01-01 23:24] md1440 commented on #7396
Having the same issue on version Version: 2.0.34.0 OS Version: 10.0.19044.1415 when files are grouped...

[2022-01-01 23:53] yaichenbaum commented on #7395
@AndrewLaganaro thank you for your feedback, we're tracking a similar request in #6596.

[2022-01-01 23:53] #7395 closed

[2022-01-02 00:01] 1300371 commented on #2355
Just discover _Files_. Seems great!
And like others, i'm a current user of Clover and I really enjoy this feature.

So I add my humble comment hoping it can be added. 🤞

[2022-01-02 00:21] #7284 closed

[2022-01-02 00:51] MalteTasler commented on #6925
I like the idea, since tabs in Files should in general behave different from browser tabs. Browser tabs are about web sessions, hence multiple tabs can be different in content even though the same URL is opened. In Files on the other hand, there is no reason to open a new tab with the same path as an existing tab.

BTW, please add the "feature request" tag. :)

[2022-01-02 03:03] Talisman39ar commented on #7397
Same as #6490 and part of #5375 I believe

[2022-01-02 05:09] #7397 closed

[2022-01-02 05:13] yaichenbaum commented on #7396
This issue is reported to have been fixed in v2.0.43.

[2022-01-02 07:52] ElbowBaggins commented on #2299
Hi, I also had this issue and was actually able to get `foobar2000` to behave as desired. The fault does not lie within `Files` _per se_. There seems to be a complicated interaction happening here mostly between `Windows`' file associations system, the UWP App subsystem, and `Explorer`. It just happens that `Files` is exposing what is either an outright bug in `Windows`, _or_ we've every one of us

[2022-01-02 07:53] ElbowBaggins commented on #5309
@0wv Might wanna check out #2299. I had a similar issue.

[2022-01-02 08:13] CessnaBroon commented on #7396
This is correct for my issue too.

[2022-01-02 09:34] Tonic8 opened #7400 "have Nextcloud folder appear in Cloud Disk"
### What's the Problem?

Hello

i'm using Nextcloud https://nextcloud.com/ as my cloud file storage, but it seems that it is not recognize as so by Files :) .

### Solution/Idea

Have file integrate Nextcloud as a cloud file service.

### Alternatives

use Windows Explorer in the samtime

### Priorities

this will allow Nextcloud user to have Files as the definitive tool for file manager :)

### F

[2022-01-02 09:45] gave92 commented on #7400
Merging with #4420

[2022-01-02 09:45] #7400 closed

[2022-01-02 13:17] dinrise opened #7403 "Add skin forms support"
### What's the Problem?

Sorry for my English. I very like Apple Finder design, but windows give me more features. Some peoples like gnome, kde designs.

### Solution/Idea

Add any ways to customize xaml forms for create new awesome designs.

### Alternatives

no ideas

### Files Version

_No response_

### Windows Version

_No response_

### Comments

_No response_

[2022-01-02 15:49] onein528 opened #7404 "[Question]How did you undock the TabView?"
**Abstract**
I can't force Corner Radius for TabViewItem.
What code did you use to undock the TabViewItem?
Please help me......

**Screenshots**
I am currently creating an app with multi-tabs enabled:
![image](https://user-images.githubusercontent.com/62196528/147881392-b74f384c-dc10-4c85-8a28-6751a5b8b8df.png)

I imported these files(thx for those resources) but it didn't happen:

- [TabViewItem_

[2022-01-02 15:52] #7093 closed

[2022-01-02 15:53] yaichenbaum commented on #7093
This issue should be resolved with #7394

[2022-01-02 16:04] yaichenbaum commented on #7403
Please refer to the documentation on creating custom themes https://files.community/docs/configuring/custom-themes.

[2022-01-02 16:04] #7403 closed

[2022-01-02 16:05] yaichenbaum commented on #7404
@duke7553 do you remember what you had to change for this to work?

[2022-01-02 16:14] DanieLoche commented on #7176
Indeed, I have this in Windows 10 (I just installed Files and configured my Google Drive now).
![image](https://user-images.githubusercontent.com/11614445/147881919-0076d414-7b25-4957-8786-805ab735029b.png)

[2022-01-02 16:42] gave92 commented on #7176
Merging with #6321

[2022-01-02 16:42] #7176 closed

[2022-01-02 16:46] #4420 closed

[2022-01-02 16:46] yaichenbaum commented on #4420
This issue should be resolved with #7401

[2022-01-02 16:52] dinrise commented on #7403
@yaichenbaum but why? Your link, it's for color schemes. But my idea, for fully customization.

[2022-01-02 17:08] yaichenbaum commented on #7403
@dinrise are you interested in changing the location of controls or just the styles? To change the location of controls you'll need to fork the app and modify the xaml.

[2022-01-02 17:27] dinrise commented on #7403
@yaichenbaum i know, but my VS2022 crashes when trying to open designer( I don't know why.. Only with Files project

[2022-01-02 17:34] jimleroyer commented on #1824
Are there any instruction on how to install Files using Scoop? I don't see any available package for Files when running `scoop search file` from both the `main` and `extras` buckets.

[2022-01-02 17:48] yaichenbaum commented on #7403
@dinrise there have been some issues with the designer crashing with WinUI so in the meantime you might want to disable it. Have you tried debugging the solution and using hot reload to visualize changes?

[2022-01-02 18:00] dinrise commented on #7403
@yaichenbaum yes, but not effected

[2022-01-02 18:06] rashil2000 commented on #1824
Files is not present in Extras or Main. I wasn't able to create a manifest, I still face the same missing DLL errors even today from the msixbundle, even when I have all sorts of VC++ Redistributables installed.

[2022-01-02 18:09] yaichenbaum commented on #7403
Depending on what you change you'll sometimes have to redeploy the solution.

[2022-01-02 18:11] yaichenbaum commented on #1824
@rashil2000 can you see if you can get the dlls from this package? https://filescommunity.blob.core.windows.net/files/preview/Files.Package_2.0.43.0_Test/Files.Package_2.0.43.0_x86_x64_arm64.msixbundle

[2022-01-02 18:23] dinrise commented on #7403
@yaichenbaum i try to do something like that [https://i.imgur.com/uzcSRuL.png](url)

[2022-01-02 18:26] rashil2000 commented on #1824
Same error

[2022-01-02 18:30] frfidecaro opened #7407 "Drag from a file in a zipped folder"
### Description

I had a zip folder with three files. I tried to drag multiple compressed files onto the parent folder in the path bar. I had the popup saying that the file would be copied in that location but Files told me of an error not foreseen by developers and sent me here.
Thank you

### Steps To Reproduce

In a compressed folder
drag more than one file to some location in the address bar

[2022-01-02 18:51] #6940 closed

[2022-01-02 18:56] gave92 commented on #7407
Thanks for the report. Please upload Files debug logs, you can find them from Files Settings > About > Open log location (debug.log + debug_fulltrust.log)

[2022-01-02 19:27] #6462 closed

[2022-01-02 19:28] yaichenbaum commented on #6462
This issue should be resolved with #7408

[2022-01-02 20:01] yaichenbaum commented on #7403
That's going to require moving a number of controls around on the different pages and you'll likely have to redeploy after modifying the different files.

[2022-01-02 20:06] AndrewLaganaro commented on #7350
I support this

[2022-01-02 20:10] dinrise commented on #7403
@yaichenbaum thanks, will try tomorrow. Oh, and happy new year)

[2022-01-02 20:17] AndrewLaganaro opened #7409 "Set default folder layout/view across all system"
### What's the Problem?

Hi. In every folder I come across I have to change it's layout from "details" to "blocks", which is the one that I use the most

(I've tried to look on the issues if there was some similar to it, but I could find it. I've searched some terms but got no luck.)

This happens on every drive, every folder, in any location. **I have to change the layout as I come across with ea

[2022-01-02 20:18] yaichenbaum commented on #7350
@wonderNG can you open a feature request in the Feedback Hub for Microsoft to add a Bluetooth option to the share menu? Please note, we'll keep this issue open for further discussion but ideally this will be resolved by Microsoft adding this option to the share menu.

[2022-01-02 20:37] nvi9 commented on #6781
@justinbernard-dev is this happening after deleting/renaming the `cache.db` file too?

[2022-01-02 20:39] yaichenbaum commented on #7247
Merging with #6942

[2022-01-02 20:39] #7247 closed

[2022-01-02 20:40] yaichenbaum commented on #6737
@duke7553

[2022-01-02 20:41] yaichenbaum commented on #7409
Merging with #4155

[2022-01-02 20:41] #7409 closed

[2022-01-02 20:41] #7386 closed

[2022-01-02 20:42] yaichenbaum commented on #7386
@cinqmilleans this issue should be resolved with #7388

[2022-01-02 20:58] WINOFFRG opened #7410 "Download folder view doesn't load items"
### Description

Except all other categories or folder, If I open Dowload folder, it appears to be blank even though it has items inside it. The issue came up randomly and since it came, I haven't been able to solve it. It came randomly not after an Update, Windows Update but not sure if it is due to Themes update. Even on refreshing files/folder doesn't appear, but upon changing layout they do. O

[2022-01-02 21:00] justinbernard-dev commented on #6781
@nvi9 could you tell me where I can find this cache file? Searching my PC with Search Everything doesn't give me a result that could correspond to Files Application.

![image](https://user-images.githubusercontent.com/83189122/147889330-be9e6dc2-95ed-40c1-82c5-a19743960409.png)

[2022-01-02 21:00] WINOFFRG commented on #7410
Closing due to Duplicate of Issue https://github.com/files-community/Files/issues/7396

[2022-01-02 21:00] #7410 closed

[2022-01-02 21:04] nvi9 commented on #6781
It should be located in the same directory as your log file: `%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState`

[2022-01-02 21:39] justinbernard-dev commented on #6781
@nvi9 there sadly is no such file. Even if I search the whole `%localappdata%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\` folder using explorer.

[2022-01-02 21:40] aayushyap89 opened #7412 "Unselecting group option doesn't default to none"
### Description

This is a part of a second bug, I couldnt see all the files in my downloads folder and I was told to unselect the group by date modified option. I clicked on it and it removed the checkmark but it didnt select none and didnt nothing. I then selected group by none and then download files showed.

### Steps To Reproduce

1. select group by date
2. select group by date to unselect bu

[2022-01-02 21:54] mrkamalali opened #7413 "issue with set back file explorer as a default"
i  can not go  back  to  set  (file explorer) as a default  file explorer after  make  " Files" as  a default

[2022-01-02 22:23] gave92 commented on #7413
Hi, this issue is resolved in main. In the meantime, you can use [this script](https://raw.githubusercontent.com/files-community/files-community.github.io/main/data/SetFilesAsDefault.zip) ("UnsetFilesAsDefault.reg") to revert the changes.

[2022-01-02 22:23] #7413 closed

[2022-01-03 01:24] josh-65 opened #7414 "New propties window not easly moveable"
### Description

I believe because the tab buttons are where the title bar is makes it so it can't be moved.

### Steps To Reproduce

_No response_

### Expected behavior

The title bar should be blank so the window can be moved

### Files Version

2.0.44.0

### Windows Version

10.0.19043.1387

### Relevant Assets/Logs

*

[2022-01-03 03:35] yaichenbaum commented on #7414
Can you drag the window from the left of the title bar buttons? We're working on hiding the maximize and minimize buttons to give you more space to grab from.

[2022-01-03 03:39] josh-65 commented on #7414
I can but its very small amount. ill wait to see if the removing of the button make it easer to do

[2022-01-03 05:57] yaichenbaum commented on #7414
This issue is caused by hidden items in the nav view that are taking up space preventing the drag region from working correctly. The solution for this is to switch to `x:Load` so that the nav items don't take up any space.

[2022-01-03 09:50] LRMbbj opened #7420 "Abnormal icon when open a folder for the first time"
### Description

When I open a folder for the first time, the background of the icon becomes black.
(image at below)
![图片](https://user-images.githubusercontent.com/73622238/147917373-702a707d-52ac-43ca-82ed-90b2290a3f91.png)

### Steps To Reproduce

_No response_

### Expected behavior

The icon of folder display normally, even first time open

### Files Version

2.0.34.0

### Windows Version

10

[2022-01-03 10:07] soredake commented on #7420
Same in windows 11 pro with latest version.

[2022-01-03 10:36] gave92 commented on #7420
Merging with #7083, a refresh should fix them

[2022-01-03 11:03] dinrise commented on #7403
@yaichenbaum sorry, but i cant do that( Can you help me? [https://i.imgur.com/LbRjxn9.png](https://i.imgur.com/LbRjxn9.png)

I'm only frontend developer.. And dont know xaml(

[2022-01-03 11:11] frfidecaro commented on #7407
Thanks for the prompt reaction.
Sincere apologies, I had a lot of trouble with Windows 11 Explorer and among other things I uninstalled Files so data was deleted. I reinstalled Files now and this operation worked. Files Version is still 2.0.34.0, OS Version: 10.0.22000.376.

[2022-01-03 11:12] gave92 commented on #7407
Thanks, closing this for now. Please let us know if it happens again.

[2022-01-03 11:12] #7407 closed

[2022-01-03 13:45] gave92 commented on #7396
Could you check if the items appear if you change your system date to February? (not kidding)

[2022-01-03 13:54] m1karii commented on #6871
@yaichenbaum, I don't think you understood. What I meant was:
I know that there are means to patch icons on OS level, however I'd consider these means only if the patching tools were open source - which they are not. So I'm asking you to add an ability to change icons on Files app level only. Example of implementing this would be Files creating its own copy of icons from system DLLs which would be

[2022-01-03 14:38] tduong-cloud commented on #4966
Actually, I have found a workaround, you can add the other Sharepoint folder to Favorites

[2022-01-03 14:47] michelebiancucci commented on #4966
I'm actually already using this workaround, but again... it's a workaround and not a feature

[2022-01-03 15:05] Duckloveshack commented on #7396
Checked it now and actually it did temporarily fix it until Windows changed the date back.

[2022-01-03 15:07] gave92 commented on #7396
Thanks for confirming 👍

[2022-01-03 15:18] tduong-cloud commented on #4966
Indeed, I wanted to share the info because I have just thought about it today :p

[2022-01-03 16:09] CessnaBroon commented on #7396
Fixes for me.

[2022-01-03 16:09] #7396 closed

[2022-01-03 16:09] #7412 closed

[2022-01-03 16:10] yaichenbaum commented on #7412
This issue should be resolved with #7423

[2022-01-03 16:10] yaichenbaum commented on #7396
This issue should be resolved with #7423

[2022-01-03 16:16] CessnaBroon commented on #7396
Any idea when it will be in a release?

[2022-01-03 16:17] yaichenbaum commented on #7396
Insider build is compiling now