[2022-10-03 21:42] verdaderoken opened #10120 "Bug: Renaming a file/folder crashes the app"
### Description

Renaming an item using F2 or the Rename icon in the context menu would crash the app.

### Steps To Reproduce

1. Rename a file or a folder using F2 & the rename icon

### Steps to fix

- App should not crash

### Files Version

2.3.42.0

### Windows Version

10.0.22623.730

### Relevant Assets/Logs

[code]

[2022-10-03 22:00] verdaderoken opened #10122 "Feature: Display modals for drive errors during file transfer"
### What feature or improvement do you think would benefit Files?

It would be more helpful if we can tell the user that the drive is full, has insufficient free space, and/or disconnected during file transfers, specially for flash drives.

### Requirements

- Display a modal for when there's not enough space on a drive
- Include the additional size needed to transfer the file(s)
- Let the user kn

[2022-10-03 22:02] goosewin commented on #9076
I'm unable to reproduce the issue on the latest Preview version. Running Windows 11 21H2 build 22000.978.

Is it possible to outline steps to reproduce?

[2022-10-03 22:05] Josh-65 commented on #9076
Middle click on a folder. It also doesn't happen every time.

[2022-10-03 22:06] yaichenbaum commented on #6965
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:09] yaichenbaum commented on #7262
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:09] yaichenbaum commented on #7074
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:09] yaichenbaum commented on #7063
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:10] #7047 closed

[2022-10-03 22:11] yaichenbaum commented on #7035
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:11] #7389 closed

[2022-10-03 22:12] verdaderoken opened #10123 "Feature: Automatically close all tabs as soon as the drive is unmounted"
### What feature or improvement do you think would benefit Files?

In File Explorer, whenever you unmount a drive or a removable device while folders are still open, those folders will automatically close. Having the tabs still displayed while the actual drive is no longer accessible will be useless.

### Requirements

- Close all tabs related to the drive as soon as the user unmounted/disconnecte

[2022-10-03 22:13] yaichenbaum commented on #7894
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:13] yaichenbaum commented on #7852
This is resolved in `main`.

[2022-10-03 22:13] #7852 closed

[2022-10-03 22:14] #10120 closed

[2022-10-03 22:14] yaichenbaum commented on #7735
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:14] #7720 closed

[2022-10-03 22:15] yaichenbaum commented on #7535
This is resolved in `main`.

[2022-10-03 22:15] #7535 closed

[2022-10-03 22:15] #7477 closed

[2022-10-03 22:16] yaichenbaum commented on #7452
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:16] yaichenbaum commented on #7459
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:17] yaichenbaum commented on #8429
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:18] yaichenbaum commented on #9009
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:18] Josh-65 commented on #7459
I've had it happen recently it seems rare through. Cut stop working but copy still does

[2022-10-03 22:18] verdaderoken commented on #10092
Had the same problem in stable version for image files. It looks fixed in the latest preview build

[2022-10-03 22:21] yaichenbaum commented on #8557
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:21] yaichenbaum commented on #8677
This should be resolved in `main`.

[2022-10-03 22:21] #8677 closed

[2022-10-03 22:21] yaichenbaum commented on #8759
We made a number of improvements in this area that will be included in the next release.

[2022-10-03 22:21] #8759 closed

[2022-10-03 22:22] yaichenbaum commented on #8776
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:22] yaichenbaum commented on #8763
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:23] yaichenbaum commented on #7459
I think @gave92 had a fix for cut not working.

[2022-10-03 22:24] yaichenbaum commented on #9051
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:24] yaichenbaum commented on #9019
Is this still an issue in the latest preview build? https://files.community/download/preview

[2022-10-03 22:24] #10092 closed

[2022-10-03 22:26] yaichenbaum commented on #10123
The UX in File Explorer is confusing as it closes the app even when you want to continue using it. Displaying an image and error message in the folder that it doesn't exist might work better.

[2022-10-03 22:36] Josh-65 commented on #9051
Not for me. Think this was fixed a while ago in another issue

[2022-10-03 22:41] #9051 closed

[2022-10-03 23:25] yaichenbaum commented on #7894
I can confirm this is resolved

[2022-10-03 23:25] #7894 closed

[2022-10-03 23:31] taha2-4 commented on #8763
i tried deleting 50 + and it work perfectly

[2022-10-03 23:36] #8763 closed

[2022-10-04 00:51] AisinGioroKiIoi commented on #10098
您好，在【版本： 2.3.42.0
OS Version: 10.0.25211.1001】中，我尝试建了几个文件夹，均正常。ᠪᠠᠨᡳᡥᠠ（巴尼哈/谢谢）

[2022-10-04 05:35] Bufkin commented on #9009
No.

[2022-10-04 05:51] gave92 commented on #7459
For the winui3 version only, and copy works for me. This is a different issue.

[2022-10-04 06:03] AisinGioroKiIoi opened #10128 "未处理的错误"
### Description

整理文件的时候频繁弹出如下错误提示，应用关闭。
![image](https://user-images.githubusercontent.com/52952040/193745684-1fc913a8-8192-4abb-8d59-0a450d91895f.png)

### Steps To Reproduce

如上

### Steps to fix

未知

### Files Version

版本： 2.3.42.0 OS Version: 10.0.25211.1001

### Windows Version

版本	Windows 11 專業工作站版 Insider Preview 版本	22H2 安裝於	‎2022/‎9/‎30 OS 組建	25211.1001 體驗	Windows Feature Experience Pack

[2022-10-04 06:11] AisinGioroKiIoi commented on #10128
您好，该问题仅作反馈，可能是偶然性问题。不奢求解决。ᠪᠠᠨᡳᡥᠠ（巴尼哈/谢谢）

另，挂载的网络位置，文件移动、粘贴后，还是需要手动刷新之后才能显示。亦仅作反馈，不奢求解决，ᠪᠠᠨᡳᡥᠠ（巴尼哈/谢谢）

[2022-10-04 06:23] MintHawk commented on #8557
No, Yair, everything seems to be working fine.Cut/copy/paste works fine.Is there anything else you want me to check? Sent from Mail for Windows From: Yair AichenbaumSent: Τρίτη, 4 Οκτωβρίου 2022 1:21 πμTo: files-community/FilesCc: MintHawk; CommentSubject: Re: [files-community/Files] Crash when pasting (Issue #8557) Is this still an issue in the latest preview build? https://files.community/downlo

[2022-10-04 10:12] #9009 closed

[2022-10-04 10:14] #8557 closed

[2022-10-04 18:20] IBR-41379 commented on #8429
Nope. Just tested now. Not anymore.

[2022-10-04 18:21] #8429 closed

[2022-10-05 00:25] puppetsw commented on #10119
@yaichenbaum I'll take this one on.

[2022-10-05 00:33] verdaderoken opened #10129 "Feature: Horizontal scrolling shortcut for both Details and Columns view (Shift+Scroll)"
### What feature or improvement do you think would benefit Files?

A shortcut for horizontal scrolling would be great.
This provides better accessibility and navigation to the app.
The user won't have to hover/drag the horizontal scroll bar back and forth because they can use the shortcut anywhere in the area.

*In Columns view, horizontal scrolling is only possible when your cursor is not on top

[2022-10-05 00:45] AisinGioroKiIoi commented on #10128
您好，这个问题我没什么步骤可写。就是将文件夹A中的内容剪贴至文件夹B，软件弹出该提示，也没有更多的信息。ᠪᠠᠨᡳᡥᠠ（巴尼哈/谢谢）

[2022-10-05 03:12] lololololkl opened #10131 "When creating a folder, why does clicking the button fail?"
### Description

![image](https://user-images.githubusercontent.com/39233442/193970032-159658e4-bfe0-4194-9adb-ae915fd523dc.png)
When creating a new folder, after typing the name, the "Set Name" button cannot be clicked.

### Steps To Reproduce

1. to create a new folder
2. After typing Chinese folder name
3. can not click the butoon, but English folder name can.

### Steps to fix

Just fix this b

[2022-10-05 11:23] #10131 closed, assigned to nobody

[2022-10-05 11:23] gave92 commented on #10131
#9563

[2022-10-05 12:05] DominikGajdos commented on #8918
Hi @yaichenbaum, I would like to contribute to your project. This functionality looks interesting to implement. Can you please assign it to me?

[2022-10-05 12:10] DominikGajdos commented on #8918
Hi @yaichenbaum, I would like to help with this issue. It looks very interesting to implement. Can you assign it to me?

[2022-10-05 12:33] kevjustice opened #10133 "Right Click Pinned Options"
### What feature or improvement do you think would benefit Files?

"Ye age old right click menu issue"
Would it be possible to pin right click options from the Win11 "overflow" menu to the main right click menu?  My explorer/overflow right click menu is like 80% of the height on my 4k screen.  I just want 1 or 2 options in the shortened "Files" right click menu.

### Requirements

- Improve produc

[2022-10-05 14:19] whytewolf69 opened #10134 "Cannot revert to explorer after setting Files as default"
### Description

Reverting back to windows file manager after selecting file manager as default manager when opening windows file manger  and trying to open any drive or file the error application not found. Right click on select open will work. Quick access on left side works
![Screenshot 2022-10-05 234410](https://user-images.githubusercontent.com/35296982/194083600-876da218-9c33-4a75-bd40-d4231

[2022-10-05 14:21] Josh-65 commented on #10134
You can turn off the toggle in Files settings > experimental.

If you have uninstalled files, then open this https://raw.githubusercontent.com/files-community/Files/main/src/Files.FullTrust/Assets/FilesOpenDialog/UnsetFilesAsDefault.reg > right click on the opened page > Save as > set the type to "all files" > remove the .txt from the end of the name > open the file > allow admin when you get the

[2022-10-05 14:24] whytewolf69 opened #10135 "Selecting logs in the about menu does not open log location"
### Description

Selecting logs in the about menu does not open log location

### Steps To Reproduce

1. go to settings
2. about
3. click on open log location

### Steps to fix

no fix

### Files Version

Version: 2.3.12.0 OS Version: 10.0.22000.1042

### Windows Version

Windows 11 Pro Version	21H2 OS Build 22000.1042

### Relevant Assets/Logs

[debug.log](https://github.com/files-community/Files

[2022-10-05 14:26] Josh-65 commented on #10133
Merging with #3966

[2022-10-05 14:26] #10133 closed

[2022-10-05 14:34] whytewolf69 commented on #10134
This does not fix the issue have already turned of File app in Files settings > experimental.
Issue is still present after reverting back to windows file explorer

[2022-10-05 14:35] Josh-65 commented on #10134
Did you do the second method

[2022-10-05 14:36] whytewolf69 commented on #10134
yes

[2022-10-05 14:37] Josh-65 commented on #10134
What modification, scripts or other programmes have you ran on your system. As this probably isn't a Files issue by the screenshot

[2022-10-05 14:41] whytewolf69 commented on #10134
All I have done is install files app and selected it as the default explorer then deselected it reverting back to windows explorer. It worked fine b4 this was done nothing else was done prior to this no scripts

[2022-10-05 14:44] Josh-65 commented on #10134
Try restart Windows if that doesn't change it re-pin the items.

[2022-10-05 21:56] kevinmorrison opened #10136 "Very Laggy!"
I have disabled a number of features because I am trying to end the lag but no matter how lean I make files it is painfully laggy. I use Everything as my search index and wondering if there might be a conflict between these two? Other than how irritating this app is with the constant hanging on navigation I love what you are doing and this is something that Microcrap could have done long ago if th

[2022-10-05 21:58] Josh-65 commented on #10136
Try the preview version https://files.community/download/preview. It probably won't be perfect, but improvements are being made. Any specific issues you can make by following the issue templates.

[2022-10-05 21:58] #10136 closed

[2022-10-05 23:59] kevinmorrison commented on #10136
Thanks Josh, I will give it a go and see if it helps.

[2022-10-06 00:28] yaichenbaum commented on #8918
Requirements haven't been figured out yet but feel free to copy the UX that File Explorer uses.

[2022-10-06 01:14] oscdat opened #10137 "Dragging & Dropping RAR files not working with Google Drive"
I compressed10 Video Files into a single RAR file, the final RAR size adds up perfectly and I'm also able to play the videos wihtout any issues after compression. But when I Drag & Drop this single RAR file into my Google Drive, it immediately shows me the "Green Tick" mark and tells me that the download is complete since there is nothing to download in the first place, the size is shown as 0 KB.

[2022-10-06 01:15] Josh-65 commented on #10137
If your issue isnt the same as #9796

[2022-10-06 01:19] kevinmorrison commented on #10136
Installed it and put it through the paces and it did in fact stop the lag issue I was having!

[2022-10-06 01:23] yaichenbaum commented on #10135
Is Files set as the default file manager?

[2022-10-06 02:51] whytewolf69 commented on #10135
Not anymore no

On Thu, 6 Oct 2022, 11:23 Yair Aichenbaum, ***@***.***> wrote:

[2022-10-06 07:09] QuaintMako opened #10139 "Side effects with Sidebar refactoring"
### Description

After #10102 and #10114 that brought in a refactoring of the creation of sections in the sidebar, several side effects have been observed.

- The "Home Item" appears two times. One time at the top, one time at the bottom of the sidebar.
- The settings to show/hide the Network and Tags weren't porting correctly between sessions.

### Steps To Reproduce

1- Open the application and

[2022-10-06 07:12] verdaderoken opened #10140 "Bug: App crash while navigating to folders faster than usual"
### Description

The app is crashing whenever I navigate too fast.
I usually navigate to folders using a combination of arrow keys and the <kbd>Enter</kbd> key.

### Steps To Reproduce

1. Open Files app
2. Navigate to some folders fast enough that it would crash.

### Steps to fix

- Fix the crash to improve stability even when the user is navigating fast

### Files Version

2.3.45.0

### Windows

[2022-10-06 07:13] verdaderoken commented on #10140
I would also sometimes get this log when navigating

[code]

[2022-10-06 09:39] Josh-65 commented on #10140
Merging with #9921

[2022-10-06 09:39] #10140 closed

[2022-10-06 10:35] MalteTasler commented on #2586
it opens the file explorer for me, when typing something like "OneDrive\Pictures" into the address bar. So, it seems you have to set Files as default to make it work as expected. Is this already known?

[2022-10-06 11:24] WhispersOfJ opened #10142 "Bug: Opening Google Drive"
### Description

Upon Opening Drive, Files crashed.

### Steps To Reproduce

1. Double-Click On Google Drive Icon (Z:\ in my case)
2. Crash

### Steps to fix

Crash makes it impossible to access my Google Drive using Files, and thus makes it impossible for me to continue to use Files.

### Files Version

Version: 2.3.12.0 OS Version: 10.0.25211.1010

### Windows Version

Windows 11 Pro Insider Pre

[2022-10-06 11:35] Alby11 opened #10143 "Cannot connect to default share of remote machines"
### Description

Hi everyone! I'm trying to browse a server's default share (e.g.: C$) but nothing is being shown nor errors are thrown.

![image](https://user-images.githubusercontent.com/17138674/194299241-c1c9c974-869c-4fb4-99fd-9766198db8e5.png)

### Steps To Reproduce

1. put the server address in the address bar like: \\servername\c$
2. press enter

### Steps to fix

- no fixes available

##

[2022-10-06 11:41] Josh-65 commented on #10143
What is the server type (FTP, SFTP, WebDAV)

[2022-10-06 11:48] Alby11 commented on #10143
Hi @Josh-65, it is SMB (Windows Server)

[2022-10-06 12:08] Alby11 commented on #10143
Yes! I guess that the problem is due to my regular user, which is not admin of that server.

But with regular file explorer, UAC pops out for credentials. With Files it doesn't.

[2022-10-06 12:33] whytewolf69 commented on #10134
Quick access works that is not the issue it is the right side of explorer all drives  and folders on the right

[2022-10-06 14:54] yaichenbaum commented on #10142
Is this an issue in the preview version? files.community/download/preview

[2022-10-06 14:55] #10065 closed

[2022-10-06 14:57] yaichenbaum commented on #10128
Is there a sequence of steps that consistently reproduces the issue? Eg. open a folder and do x...

[2022-10-06 14:59] #4155 closed

[2022-10-06 14:59] #10142 closed, assigned to nobody

[2022-10-06 15:28] DominikGajdos commented on #8918
When will the requirements be figured?
Alternatively, could you recommend an issue I could help with?
Well thank you.

[2022-10-06 18:36] SAB236YT opened #10145 "Installation stops on MSIXBUNDLE"
### Description

it gets to 16% and then refuses to move what do i do?

### Steps To Reproduce

???

### Steps to fix

- eg. Fix crash that occurs when...
- eg. Correct action happens when clicking...

### Files Version

Files 2.3.12.0 x64/amd64

### Windows Version

Windows 10 Pro x64 OS Version 2004 Build 19041.1415

### Relevant Assets/Logs

wait but how do i know if i did not install it

[2022-10-06 18:38] VasigaranAndAngel commented on #10002
It should be treated as a mouse because pen accuracy is the same as mouse accuracy. It would be better if there was options in the settings to choose the spacing for pen, touch and mouse.

[2022-10-06 18:39] yaichenbaum commented on #10145
It's recommended to use the appinstaller https://files.community/download/stable.

[2022-10-06 18:44] yaichenbaum commented on #10002
I updated the requirements in the issue to include the pen feedback, I think we have the requirements figured out but please continue sharing feedback.

[2022-10-06 20:32] seirdotexe opened #10147 "Windows Explorer still opens in external upload windows (WhatsApp, Discord, etc)"
### Description

As titled. I set Files to default, but when I want to upload a file on WhatsApp/Discord, it does in fact open Windows Explorer.

### Steps To Reproduce

1. Open any external upload source
2. It uses Windows Explorer instead of Files

### Steps to fix

Files should open

### Files Version

Version: 2.3.12.0 OS Version: 10.0.22621.521

### Windows Version

Windows 11 22H2 22621.521

[2022-10-06 22:19] #9867 closed

[2022-10-07 04:40] verdaderoken commented on #9776
I think the problem also occurs outside the app. I tried the option "Save As" in MS Paint but it doesn't expand. Do you think it has something to do with the UI of Windows?
![image](https://user-images.githubusercontent.com/88200096/194468886-e8a1fcbf-c21d-4285-b679-36a9ca7dfc14.png)

build 22623.730

[2022-10-07 05:31] yaichenbaum commented on #9776
Most likely, that being said, is this an issue in the preview version of Files?

[2022-10-07 07:17] tower-town opened #10149 "samba can't be connected in win11 22H2 and error suffix when copy folder in samba."
### Description

 I wonder why the file can't connect via samba in win11 22H2, but win10 21H1 has no problem.
Sometimes, I feel good in win10.
Unfortunately, when I copy the folder to samba today, the `Files` will be created in a blank folder and copied into "\<folder>-copy".

There is no problem in using File explorer on the corresponding computer in the above two situations

### Steps To Reprodu

[2022-10-07 07:37] pritster5 commented on #8020
This is still a bug in the latest version. Just tested by ejecting the drive via the standard windows eject USB option in the taskbar tray yet the USB still showed up in the Files menu even after refreshing.

[2022-10-07 09:37] verdaderoken opened #10150 "Bug: Folder suggestions are not showing in the Address bar"
### Description

The folder suggestions are not showing in Address bar.
![image](https://user-images.githubusercontent.com/88200096/194523219-cd266dda-acb6-42c3-805c-419657e4d048.png)
the

### Steps To Reproduce

1. Navigate to any folder that has subdirectories
2. Click on the Address bar and type the letters of any subdirectory.
3. Suggestions will show but the actual text is not.

### Steps to

[2022-10-07 10:21] verdaderoken opened #10151 "Bug: App crashes while drag and dropping files"
### Description

The app crashed while I'm trying to drag and drop multiple files into a software.

### Steps To Reproduce

1. Select multiple files
2. Drag and drop to other software

### Steps to fix

- Implement an error handler for this (if possible)
- Prevent app crash

### Files Version

2.3.46.0

### Windows Version

10.0.22623.730

### Relevant Assets/Logs

From debug_fultrust.log

[code]

[2022-10-07 11:03] RihanArfan opened #10152 "A file can't be renamed the same as a folder name"
### Description

If you have a folder named `[folder] something.json` and try to rename a file to the same name (`[file] something.xyz` -> `[file] something.json`), the file name will auto increment (`[file] something.json (2)`).

### Steps To Reproduce

1. Create folder named something.json
2. Create file named example.txt
3. Rename example.txt to something.json
4. Result: file becomes something.

[2022-10-07 12:44] ambitiousCC commented on #10152
Interestingly, even the file manager that comes with Windows does not support consistent names for folders and files.

[2022-10-07 13:07] #10145 closed

[2022-10-07 13:17] Josh-65 commented on #10152
The file system isn't able to determine what is and isn't a folder when using names. Files won't be able to support it.

[2022-10-07 13:17] #10152 closed

[2022-10-07 18:24] Mario-Hofstaetter commented on #9995
I have turned of animations in the windows system config app for a long time, but the described animations are present in Files 2.13.12

[2022-10-07 18:26] Josh-65 commented on #9995
The next update to Files will remove them for the Windows 11 styles. You can see what there like in the preview builds https://files.community/download/preview

[2022-10-07 19:21] DominikGajdos commented on #1100
Hi @yaichenbaum. Can you assign this issue to me? Please.

[2022-10-07 19:37] yaichenbaum commented on #1100
@DominikGajdos sure

[2022-10-07 19:41] DominikGajdos commented on #1100
Thanks

[2022-10-07 22:48] Vulcanraven91 commented on #5845
I agree with you, I'm using it like 5 years now. Great tool.
Here is a SDK Wrapper in Fluent.

https://github.com/Riboe/EverythingSharp

[2022-10-07 22:48] Vulcanraven91 commented on #5845
I agree with you, I'm using it like 5 years now. Great tool.
Here is a SDK Wrapper in Fluent.

https://github.com/Riboe/EverythingSharp

[2022-10-07 23:17] Josh-65 commented on #9560
Asking @yaichenbaum for approval.

[2022-10-07 23:31] Josh-65 opened #10154 "Virtual (vhdx) mounted drives don't have Eject option"
### Description

File explorer has the option to eject a mounted drive in the context menu when Files doesn't.
![image](https://user-images.githubusercontent.com/26977075/194675153-371d506c-e89c-4acf-aebd-7d30d40c8b79.png)
![image](https://user-images.githubusercontent.com/26977075/194675195-b6e76eaf-94fb-480f-bf80-7fde9cef9587.png)

### Steps To Reproduce

1. Create a Hyper-V VM
2. Right click vi

[2022-10-08 00:31] AisinGioroKiIoi commented on #10128
没有一系列步骤。就是发生问题那天，文件夹内右键剪贴或者Ctrl+x，到另一个文件夹右键粘贴，或者Ctrl+v。有可能是突发情况。

[2022-10-08 09:09] gave92 commented on #10149
Merging with #9628

[2022-10-08 09:09] #10149 closed

[2022-10-08 12:07] Himankan opened #10157 "Bug: Renaming a shortcut that has a blank name crashes the app"
### Description

I had a URL shortcut which I tried to rename. I deleted the existing name to nothing and then tried adding a name later and found out that renaming web shortcuts crashes the app.

### Steps To Reproduce

1. Create a shortcut using windows explorer (for any URL)
2. Open files and go to the directory containing the shortcut file
3. Delete existing name
4. Press enter
5. Try renaming

[2022-10-08 14:17] Leoijeon opened #10159 "sometimes moving files very slow"
### Description

I'm moving some pdf files (about 4~10 MB one pdf), it moved several files then got stuck, and the computer fan started spinning faster.
![D3_L765PNN$)O@ NUC MM 7](https://user-images.githubusercontent.com/30471002/194711896-e2de9359-8c7c-4ea3-93f2-20c40c3b3acf.png)

### Steps To Reproduce

1. moving files

### Steps to fix

Fix sometimes move/copy files slow

### Files Version

Ve

[2022-10-08 14:24] Leoijeon opened #10160 "exiting properties dialog box bug"
### Description

I opened a picture's properties, then exit it. But the properties dialog box did not close but cover the whole Files app just like the screenshot. This didn't happen before, so I don't know it is an accidental bug or not.
![_UK(G$}}OTZ8@1NP}KYIB`J](https://user-images.githubusercontent.com/30471002/194712166-4627f590-998d-4bd5-ba82-5b49afed51cb.png)

### Steps To Reproduce

1. ope

[2022-10-08 14:24] Leoijeon commented on #10160
the whole app then can't close until I end the process by task manager

[2022-10-08 19:40] ferrariofilippo commented on #5888
I think this should also be implemented for folders

[2022-10-08 21:59] Josh-65 commented on #10157
Asking @yaichenbaum for approval.

[2022-10-08 21:59] Josh-65 commented on #10154
Asking @yaichenbaum for approval.

[2022-10-08 23:40] Colin-VideoRevealed commented on #9103
This also happens on Windows 11. Is this going to be fixed there too?

[2022-10-08 23:57] Colin-VideoRevealed opened #10162 "Right column should refresh for both folder contents and single files"
### What feature or improvement do you think would benefit Files?

Watch recording and you'll see that when reselecting the single file, you still see the old folder contents.
This is both confusing and irrelevant.

https://user-images.githubusercontent.com/93034904/194731538-19b84a76-d56d-4ebb-9ff6-c9526b80c947.mp4

### Requirements

The right area should always show relevant data based on what i

[2022-10-09 00:39] yaichenbaum commented on #10160
Is this an issue in the preview build? https://files.community/download/preview

[2022-10-09 00:40] #7452 closed

[2022-10-09 00:40] #7262 closed

[2022-10-09 00:40] #7074 closed

[2022-10-09 00:40] #7063 closed

[2022-10-09 00:40] #7035 closed

[2022-10-09 00:40] #7023 closed

[2022-10-09 00:40] #6965 closed

[2022-10-09 00:41] #3175 closed

[2022-10-09 00:41] #3020 closed

[2022-10-09 00:41] #7735 closed

[2022-10-09 00:41] #8243 closed

[2022-10-09 00:41] #8736 closed

[2022-10-09 00:41] #8776 closed

[2022-10-09 00:41] #9019 closed

[2022-10-09 01:17] Leoijeon commented on #10160
No, I install it from MS app store

[2022-10-09 01:19] Josh-65 commented on #10160
Did you download it from the link and test to see if issue happened?

[2022-10-09 01:23] Leoijeon commented on #10160
it didn't happen again, but I think it may be better if I report it.

[2022-10-09 02:25] yaichenbaum commented on #10157
I think we need to do some more investigation to see what the actual issue is.

[2022-10-09 02:25] yaichenbaum commented on #5888
Yes

[2022-10-09 13:54] yaichenbaum commented on #5845
Does the wrapper require users to have Everything installed?

[2022-10-09 15:33] #10119 closed

[2022-10-09 16:21] SAB236YT commented on #10145
thnks

[2022-10-09 16:55] SAB236YT commented on #10145
tho there is an error that interrupts the installation 0x80080005

[2022-10-09 17:02] #10160 closed

[2022-10-09 17:14] yaichenbaum commented on #10145
Can you send a screenshot?

[2022-10-09 17:36] SAB236YT commented on #10145
sure wait up

[2022-10-09 17:39] yaichenbaum commented on #9603
Merging with #7603

[2022-10-09 17:39] #9603 closed

[2022-10-09 17:40] yaichenbaum commented on #9605
Is this an issue in the preview version? https://files.community/download

[2022-10-09 17:41] yaichenbaum commented on #9517
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-09 17:41] SAB236YT commented on #10145
![Cattura](https://user-images.githubusercontent.com/98963514/194771426-e047b75f-32f7-469e-bdbf-76aa37941815.PNG)
this time its different...

[2022-10-09 17:55] yaichenbaum commented on #10145
I'm not sure what the issue is, I recommend opening an issue in Feedback Hub under AppInstaller.

[2022-10-09 18:07] #9282 closed

[2022-10-09 18:49] klngai opened #10164 "Add Folders to Favorites"
### What feature or improvement do you think would benefit Files?

How do I add folders to Favorites especially those that show upon the main panel?
![Files _ window](https://user-images.githubusercontent.com/14360781/194773578-fc06e0a8-7ec8-462e-b5b3-56871a55bd54.jpg)
e.g. adding music, pictures and videos to Favorites!

### Requirements

Nice!  Reply to kaleung.ngai@gmail.com

### Files Version

[2022-10-09 19:03] gave92 commented on #10164
Navigate to a folder, right-click and select "pin to favorites"

[2022-10-09 19:03] #10164 closed

[2022-10-09 19:14] klngai commented on #10164
Worked.  Thanks.  I liked it.

[2022-10-09 19:27] BraianPita opened #10165 "Display deleted filenames in the ongoing tasks menu"
### What feature or improvement do you think would benefit Files?

I think it would be better to display the names of the actual file/folder we are deleting when the notification of completion shows on the ongoing tasks menu in the top right corner of the window. The reason is clarity since it becomes unclear what file was successfully deleted if I am deleting multiple files/folders from the same

[2022-10-09 20:05] Taiyou06 opened #10166 "Random crash"
### Description

It lagged a lot when same tab opened up multiple times

### Steps To Reproduce

1. Open up same tab 6-7 times (with a lot of files)
2. Try to switch between them

### Steps to fix

(i have no clue to be honest)

### Files Version

2.3.12.0

### Windows Version

Windows 10 Home Single Language Version	21H2 19044.2075

### Relevant Assets/Logs

[debug.log](https://github.com/files-c

[2022-10-09 20:35] yaichenbaum commented on #8670
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-09 20:36] yaichenbaum commented on #8621
This is the expected behavior. Allowing audio to play on multiple tabs at once isn't desirable.

[2022-10-09 20:36] #8621 closed

[2022-10-09 20:37] yaichenbaum commented on #8515
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-09 20:39] yaichenbaum commented on #8112
@d2dyno1 we don't support bundles anymore but we keep getting reports of this issue.

[2022-10-09 20:40] #7828 closed

[2022-10-09 20:51] Josh-65 commented on #10166
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-09 20:52] Josh-65 commented on #10165
Merging with #4811

[2022-10-09 20:52] #10165 closed

[2022-10-09 21:02] Josh-65 commented on #9912
This is fixed in 2.3.47.

[2022-10-09 21:02] #9912 closed

[2022-10-09 21:04] Josh-65 commented on #10159
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-09 21:06] Josh-65 commented on #10157
This is what the log says.
[code]

[2022-10-09 21:24] ThisNekoGuy commented on #8515
It does sort of still happen in the preview version but inconsistently:
what happens now is that it only _sometimes_ redirects to a different location and in the occurrence I just encountered, it redirected me to the root of the `C:\` drive; can't say I know why this happens though, I've no clue

I just kept repeating this process until it happened

[2022-10-10 01:31] verdaderoken commented on #9776
yes both in stable and preview

[2022-10-10 02:05] Superhedgehoger opened #10168 "Hi I like it，hope to add double click to click function"
### What feature or improvement do you think would benefit Files?

I really like the windows explorer general options to click on items (selected when pointing), underline only when pointing to an icon title, and the checkbox feature.

### Requirements

- This proposal will accomplish X
- This proposal will accomplish Y
- This proposal will accomplish Z

### Files Version

版本: 2.3.12.0 OS Version:

[2022-10-10 07:53] Taiyou06 commented on #10166
i downloaded it from microsoft store

[2022-10-10 09:52] Josh-65 commented on #10168
Double click is the default way. single click can be found in Files settings > preferences > file and folder

[2022-10-10 09:52] #10168 closed

[2022-10-10 10:43] warpdesign opened #10169 "Bug: Folders ending with a dot character aren't displayed properly"
### Description

Files does not display correctly WSL folders ending with a dot, and cannot interact with them (no way to open a directory named `toto...` for example).

### Steps To Reproduce

1. Open a terminal in WSL
2. Create a folder named `foo...` by typing `mkdir foo...`
3. Navigate to this directory in Files (for example: `\\wsl$\Ubuntu-22.04\tmp`)

Notice how:
- the folder's name is `foo`

[2022-10-10 10:48] warpdesign opened #10170 "[WSL] Auto refresh of directory"
### What feature or improvement do you think would benefit Files?

Right now, when a folder from WSL is opened in `Files`, if the folder is updated, its content won't be refreshed in Files: the user has to manually refresh it.

### Requirements

- Running a command `inotifywait` using `wsl.exe` allows to get notified of filesystem changes with WSL

### Files Version

Version 2.13.12.0

### Windows

[2022-10-10 10:51] Josh-65 commented on #10170
Merging with #9250

[2022-10-10 10:51] #10170 closed

[2022-10-10 10:56] Josh-65 commented on #6924
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 10:58] Josh-65 commented on #6728
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 11:09] Josh-65 commented on #7526
Merging with #6728

[2022-10-10 11:09] #7526 closed

[2022-10-10 11:09] Josh-65 commented on #7272
Merging with #6728

[2022-10-10 11:09] #7272 closed

[2022-10-10 11:16] Josh-65 commented on #5867
This is fixed on 2.3.12.0

[2022-10-10 11:16] #5867 closed

[2022-10-10 11:20] Josh-65 commented on #9538
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 11:21] Josh-65 commented on #9522
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 11:22] Josh-65 commented on #9507
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 11:28] Josh-65 commented on #10107
Is this an issue in the preview version? https://files.community/download/preview

For number 3 its known issue. #5825

[2022-10-10 11:28] Josh-65 commented on #10093
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 11:29] Josh-65 commented on #10087
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 11:30] QuaintMako commented on #8797
Not sure if the import should be automatic, one may want to keep the Default Explorer and Files separated.

Several options are equally viable for me:
- Create a button to **import** the favorites one time. It would just fetch the favorites from Windows and **add** them to the existing favorites on Files. (See the picture below for an illustration)
- Create an option to choice wether **add the fav

[2022-10-10 11:55] Josh-65 commented on #2718
Is this still relevant with the way Files is going?

[2022-10-10 11:58] Josh-65 commented on #2999
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 12:01] Josh-65 commented on #3015
This is expected as dragging an item will move/copy it too wherever you stop holding left click.

[2022-10-10 12:02] Josh-65 commented on #3334
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 12:02] Josh-65 commented on #3342
https://files.community/docs/configuring/custom-themes

[2022-10-10 12:04] Leoijeon commented on #10087
Installed from Microsoft store. This problem is not happened now. But the refreshing speed is still slow sometimes (not only preview pane but also the file list).

[2022-10-10 12:05] Leoijeon commented on #10159
No, installed from Microsoft store.

[2022-10-10 12:08] Josh-65 commented on #3370
Asking @yaichenbaum for approval.

[2022-10-10 12:11] Josh-65 commented on #3422
Merging with #7256

[2022-10-10 12:24] #9076 closed

[2022-10-10 12:26] Josh-65 commented on #8793
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 12:27] Josh-65 commented on #8821
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 12:31] Josh-65 commented on #8972
@Arno989 have you had this issue happen again?

[2022-10-10 12:32] Josh-65 commented on #9042
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 12:32] Leoijeon opened #10171 "Bug: Drag and drop fails when receiving app uses storage apis"
### Description

In the windows file explorer, you can drag file to the xshell to upload file. The Files app do not support that.
Installed from Microsoft store. Not using a preview version.
![GIF](https://user-images.githubusercontent.com/30471002/194866370-6a4b70a8-26ba-4b86-abea-4b066e169104.gif)

### Steps To Reproduce

1. open xshell and files app
2. drag a file to xshell

### Steps to fix

-

[2022-10-10 12:33] Josh-65 commented on #9055
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 12:35] Josh-65 commented on #4041
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 12:36] Josh-65 commented on #4031
Should this be closed since tags are replacing bundles?

[2022-10-10 12:45] Josh-65 commented on #3114
Merging with #5888

[2022-10-10 12:45] #3114 closed

[2022-10-10 12:48] Josh-65 commented on #10159
No, it isn't an issue, or you haven't tried it?

[2022-10-10 12:50] Josh-65 commented on #3722
Asking @yaichenbaum for approval.

[2022-10-10 12:53] Josh-65 commented on #3723
Asking @yaichenbaum for approval.

[2022-10-10 12:54] Leoijeon commented on #10159
It's better to use the preview version?

[2022-10-10 12:54] Josh-65 commented on #1479
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-10 12:56] Josh-65 commented on #10159
Not always its less stable and has thing that may not make it to stable releases. It's asked to see if the bug has already been fixed

[2022-10-10 12:59] Josh-65 commented on #1671
Could you reopen this issue with the new templates please.

[2022-10-10 12:59] #1671 closed

[2022-10-10 12:59] Leoijeon commented on #10159
Ok, I will try this

[2022-10-10 13:00] silversword411 opened #10172 "Add column for path when doing search"
### What feature or improvement do you think would benefit Files?

When doing search there's no easy way to see where all the files are that you just searched for. Should have another column for "path" which auto-shows after doing search

![2022-10-10_085744 - ApplicationFrameHost_C_‎-_Files](https://user-images.githubusercontent.com/13395348/194871720-b8e7e741-66df-4a3c-9689-951dfcff6ec2.png)

##

[2022-10-10 13:04] Josh-65 commented on #10172
Merging with #7070

[2022-10-10 13:04] #10172 closed

[2022-10-10 13:23] MalteTasler commented on #7256
@Josh-65 according to Yairs comment above, these two issues are not the same. :) Or did I miss any news on that?

[2022-10-10 13:26] Josh-65 commented on #7256
Oh, didn't seem like that from the description. Il let Yair decide if they should be separate still

[2022-10-10 14:22] SAB236YT commented on #10145
ok thank you anyway
just you to know that its in italian so ill make the translation for you
"The installation of the application was not succsesfull with the error message: Error 0x8000000B: impossible to open the package from the position f5459d4828d6d0005eb969e187134578496e0c3. (0x8000000b)"

[2022-10-10 14:40] Leoijeon commented on #10087
This problem is not happened in preview version

[2022-10-10 14:41] Leoijeon commented on #10159
This problem is not happened in preview version

[2022-10-10 14:41] Taiyou06 commented on #10166
works fine _i guess_, spammed a lotta tabs it slowed down a lot but didn't crashed

[2022-10-10 14:42] #10087 closed

[2022-10-10 14:43] #10159 closed

[2022-10-10 14:43] #10166 closed

[2022-10-10 14:49] Leoijeon opened #10173 "How to clear the tags"
### Description

I installed preview version. The preview version (2.3.47) app shows my file tag "unknown", so I change it to "blue". Then in the stable version (2.3.12) also shows "unknown" tag.
Because I tagged many files, now I want to clear all tag, how to do that?

### Steps To Reproduce

tag files

### Steps to fix

How to clear the tags

### Files Version

Version: 2.3.12.0 OS Version: 10.0

[2022-10-10 14:54] Josh-65 commented on #10173
Right click on the file or folder > File tags > click the one called unknown.

[2022-10-10 14:56] Leoijeon commented on #10173
I know this, I mean can I clear different file's tag one time? I delete the filetags.db, but these tags still there.

[2022-10-10 15:03] Josh-65 commented on #10173
That tags that show as option are in Files settings > experimental > edit tags. If it doesn't work, then I don't know why it would be there.

[2022-10-10 15:07] Leoijeon commented on #10173
yes, I edit this file, "unknown" tag still exists. I curious about how this "tag info" stored?

[2022-10-10 15:09] Josh-65 commented on #10173
It's stored in the filetags.db file. But if you deleted it all files/folders should have lost there tags.

[2022-10-10 15:14] silversword411 commented on #10172
Sorry, my search-fu didn't find that original issue...I did try! ;)

[2022-10-10 15:36] deathgrape commented on #10093
Seems like that fixed it!

[2022-10-10 15:36] #10093 closed

[2022-10-10 15:37] fredericoregateiro commented on #6924
just try the 2.3.47.0 preview and it's working ok

[2022-10-10 15:37] #6924 closed

[2022-10-10 16:11] Josh-65 commented on #9522
Asking @yaichenbaum for approval.

[2022-10-10 17:33] MalteTasler commented on #8797
also #4620

[2022-10-11 00:12] FlorentLM commented on #6767
Can it be possible to add an option to just disable the accent colour for these icons and use white?

Or, alternatively, follow the user's preference for "Show accent colour on title bars and windows borders" under the Settings > Personalisation > Colours stock menu

[2022-10-11 00:17] Josh-65 commented on #6767
You can make a custom theme that set them to what every color you want.

[2022-10-11 00:48] FlorentLM commented on #10134
I'm having the exact same issue. Checked the option on, it set Files as default, and when I turned it off it made my Explorer like that. Rebooting didn't help, the registry change either

[2022-10-11 01:16] MimecraftAndrew opened #10175 "The Recycle Bin is displayed as Shell: RecycleBinFolder"
The Recycle Bin is displayed as Shell: RecycleBinFolder.I don't know how to correct.I think it's a big big problem.
![屏幕截图 2022-10-11 091726](https://user-images.githubusercontent.com/113965299/194975978-74c178c9-5f5a-4e80-87b0-27a2594f4b7d.png)

[2022-10-11 01:41] Josh-65 commented on #10175
Restart files if it happens again, please make a new issue following the issue templates.

[2022-10-11 01:41] #10175 closed

[2022-10-11 06:32] woshishui10000 opened #10176 "Files installation hangs at 16%"
### Description

I installed the latest Files version (Package_2.3.12.0_x64_arm64_Sideload.msixbundle) from Github.
The version app hangs on 'Installing required frameworks 16%'.
I dont know why. I restart my laptop, but it doesn't work.

### Steps To Reproduce

1. Go to Github
2. Search for "Files"
3. Download the Files page (Package_2.3.12.0_x64_arm64_Sideload.msixbundle)
4. Click the install bu

[2022-10-11 06:55] philliplanos commented on #9855
By the way, quick question. I cant seem to find the file path to change the
icon of the app. I've tried right clicking but it doesnt seem to allow me
to do anything but uninstall.

Ive looked at teh windows apps and other areas but I cant find anywhere
where to change the icon in the launcher.

When you have the time can you help me with that? Seems its installed
somewhere hidden

On Thu, Sep 1, 2

[2022-10-11 07:04] avjoshi-07 commented on #8759
No idea what parameter it is talking about.

*Archan V Joshi*
*Software Engineer*
*M.S. (Systems Engineering)*

On Thu, Mar 24, 2022 at 2:20 PM Marco Gavelli ***@***.***>
wrote:

[2022-10-11 07:13] wrdoss commented on #8507
Yes, The app started working perfectly a few builds ago. I'm really
impressed with it - thank you!

On Mon, May 9, 2022, 9:45 AM Yair Aichenbaum ***@***.***>
wrote:

[2022-10-11 07:40] CauZion commented on #9539
OK,  The only not addressed item is about cleaning all the tagged files to a given tag, This will help a lot the use of temporary tags, Thank you again, Carlos Sent from Mail for Windows From: Josh-65Sent: Monday, July 11, 2022 1:40 AMTo: files-community/FilesCc: CauZion; AuthorSubject: Re: [files-community/Files] TAGs are Great but... and Dual Pane little and easy improvement (Issue #9539) We can

[2022-10-11 07:41] vg-sbdragoo commented on #8280
That is great news Yair. I was just thinking about this yesterday while re-entering my most used ‘favorite’ after a reboot….

I’ll test and let you know.

Peace,

SCOTT B DRAGOO
Enterprise Information Architect
Pronouns: he/him
Platinum Vitality Status®

Mobile: 779.875.0945

Vitality Group
Website<http://www.vitalitygroup.com/> ǀ LinkedIn<https://www.linkedin.com/company/the-vitality-group-inc-/>

[2022-10-11 08:02] iiTzVonn commented on #9067
Thanks, it works now and does the app auto-update?

On Mon, 2 May 2022 at 14:22, Yair Aichenbaum ***@***.***>
wrote:

[2022-10-11 08:08] Josh-65 commented on #10176
Do not use the file on the repository use the site https://files.community/download/stable

[2022-10-11 08:09] Josh-65 commented on #9855
you can't change the icon without building from source and editing the files to use the icon you want

[2022-10-11 08:11] Josh-65 commented on #9067
yes

[2022-10-11 08:21] NyaDoo commented on #9684
Create shortcut in the right-click menu of Files.

获取Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Josh-65 ***@***.***>
Sent: Wednesday, August 10, 2022 6:19:07 PM
To: files-community/Files ***@***.***>
Cc: NyaDoo ***@***.***>; Author ***@***.***>
Subject: Re: [files-community/Files] Create Shortcut feature not working (Issue #9684)

Where are you making the sh

[2022-10-11 08:36] jameslashmar commented on #9260
Ok that was strange. Recently I tried the preview version of files and
noticed a bunch more themes.  I only had default in the stable build. and
wasn't able to have the 'glass' aero look in Win11.

I just did a reset in Files App Settings and it took care of that and quick
look.  So now both are working.

Files must have got a bit mangled through updates or something.

You can resolve this now.

T

[2022-10-11 09:17] viniciuscunha123 commented on #9722
*from* *files* to notepad and *from* *files* to whatsapp - actually for any
windows program, *just can't paste anywhere*

Em sáb., 13 de ago. de 2022 às 23:29, Josh-65 ***@***.***>
escreveu:

--
[image: photo]
Vinícius Cunha
Designer / Printer

M 51997762545
E ***@***.***

[2022-10-11 09:41] leic4u commented on #9507
No, I downloaded it from MS Store.

[2022-10-11 10:58] vacnex opened #10178 "Startup setting not working"
### Description

I have set behavior of startup settings is "Continues where you let off" but when I close and reopen it, File not open last location

### Steps To Reproduce

1 Go setting
2 Choose preferences
3 Set 'Continues where you let off' in Startup settings
4 open folder at any location
5 close
6 reopen

### Steps to fix

- Fix File not open last location when reopen

### Files Version

2.3

[2022-10-11 11:09] gave92 commented on #10173
Tag info is also stored inside each file, so no you can't get remove tags from all files at once.

[2022-10-11 11:16] gave92 commented on #10173
Edit: the best way to remove all tags is from inside Files. Clicking on each tag in Files sidebar shows all files with a tag, and you can untag them all at once. That is if you haven't deleted the filetags.db files :)

[2022-10-11 11:41] Leoijeon commented on #10173
Thanks for your answer. I tried again and show all hidden files, then I found when I tag a file, the second file will generate.
![QQ图片20221011193958](https://user-images.githubusercontent.com/30471002/195080495-2f673bc7-1930-4ea7-9003-86f41e8a84de.png)

[2022-10-11 11:51] Leoijeon commented on #10173
Your suggestion is useful. But there also a problem, the "Unknown" tagged files won't show in sidebar's tag page automatically. Unless I open their directory, then they will show in sidebar's tag page.

[2022-10-11 12:32] woshishui10000 commented on #10176
Nice, you are very intelligent.

[2022-10-11 14:28] vatsdimri commented on #7350
I don't know if this feature is being considered or not but I use send-to option to send some books to kindle.

![Screenshot (139)](https://user-images.githubusercontent.com/61177515/195119074-48fde0d6-8bd6-475d-a01f-a013b09a11f0.png)

[2022-10-11 14:42] sthivaios commented on #9522
I would check it too but it doesn't even wanna install right now. It has been stuck at the same screen for over 5 minutes now.

![image](https://user-images.githubusercontent.com/109022579/195122489-061bf1c9-82b4-4f1b-a7c7-30f372738840.png)

[2022-10-11 14:44] Josh-65 commented on #10178
how are you opening files. Selecting files from the start menu/taskbar or through explorer/open at location options

[2022-10-11 14:57] Araraura commented on #9522
Maybe on a VM?

[2022-10-11 15:17] sthivaios commented on #9522
Yes it is a VM.

I am reinstalling Windows right now, since there were not any important things on it. I just have it for reasons like that (testing, etc.).

When I reinstall it I will let you know about the CON, NUL, etc. thing.

[2022-10-11 16:26] Xyphyn opened #10179 "Properties menu opens on wrong monitor."
### Description

I have a dual monitor setup (different res, if that changes anything), and when I open the properties menu on a file, it appears on the bottom left of my second monitor, even if the files app is on my first monitor.

### Steps To Reproduce

1. Right click a file
2. Click properties
3. See the properties window open on the wrong monitor

### Steps to fix

- Make the properties menu

[2022-10-11 16:34] sthivaios commented on #9929
Just sayin' here, it still is an issue.

Just to let you know... :-)

[2022-10-11 16:39] sthivaios commented on #10150
Yes, I can confirm that this doesn in fact happen.

![Image](https://user-images.githubusercontent.com/109022579/195150267-eb6fa9eb-e3cc-4de8-b79e-6e2cf137758a.png)

[2022-10-11 17:09] Pudding555 commented on #10134
Same issue...

[2022-10-11 17:15] sthivaios commented on #10134
I just checked this, and it seems like the issue is gone, at least for me. I am using the preview (PRE) version of "Files", but if I set it as default, and then go back to settings > experimental and then untoggle "Set Files as the default file manager", it reverts back to windows explorer.

- OS : Windows 11 Enterprise EVALUATION  (OS Build : 22621.525)
- App Version : "Files" PREVIEW (PRE)

[2022-10-11 17:16] sthivaios commented on #6768
I have just checked this, and the issue is solved, at least for me.

I am using the PRE version of "Files". I suggest updating the app (if it is not up to date) and checking it again.

So, for me, the items did not get hilighted.

[2022-10-11 17:18] sthivaios commented on #10054
Works fine for me.

![Image](https://user-images.githubusercontent.com/109022579/195157636-93f6b7fa-4b29-48d9-be37-5ac8f6b092a8.png)

[2022-10-11 17:19] alishtamimi commented on #6768
It is almost solved, but yet, there is a problem when you drag a file and change its place for example, it will remain highlighted even if you click on another file.

[2022-10-11 17:24] sthivaios commented on #6768
@alishtamimi

Oh yes! I just tried that and I can confirm that his happens...

https://user-images.githubusercontent.com/109022579/195158682-fa24afa2-6973-4514-89cb-9e27078d3816.mp4

[2022-10-11 17:34] sthivaios commented on #9522
Also, I think the issues' priority should be turned into "High".

Whoever has control over that, (probably @Josh-65) please make that "High" priority.

[2022-10-11 17:36] sthivaios commented on #9517
@yaichenbaum Nope, definitely not. This is not an issue in the PRE version.

[2022-10-11 17:38] Josh-65 commented on #9522
Asking @yaichenbaum for approval. Priority will be set when approved.

[2022-10-11 17:40] sthivaios commented on #9522
Thank you!

[2022-10-11 17:40] Josh-65 commented on #10179
This shouldn't be an issue in the preview version as it opens at mouse cursor. https://files.community/download/preview

[2022-10-11 17:45] sthivaios commented on #6701
Can confirm that his is not an issue in the PRE version.

@Josh-65, @yaichenbaum You might wanna close this thread.

[2022-10-11 17:47] Josh-65 commented on #6701
It may still be an issue on their setup. That being said @erikoffereins Is this an issue still and issue on 2.3.12.0 or above.

[2022-10-11 18:03] soredake commented on #7452
@yaichenbaum i can't really test this since there is no google drive sync icons anymore in preview.

[2022-10-11 21:30] Josh-65 commented on #8797
Asking @yaichenbaum for approval.

[2022-10-11 21:46] Josh-65 commented on #4249
Asking @yaichenbaum for approval.

[2022-10-12 00:32] #8104 closed

[2022-10-12 00:34] yaichenbaum commented on #7452
That sounds like a different issue, can you open a separate issue so we can track it?

[2022-10-12 00:36] yaichenbaum commented on #9522
Priority is set based on how many users it affects, these aren't exactly common names for people to use.

[2022-10-12 00:46] yaichenbaum commented on #7256
They should be kept separate

[2022-10-12 00:46] yaichenbaum commented on #3422
Reopening since https://github.com/files-community/Files/issues/7256 is a different request

[2022-10-12 01:18] vacnex commented on #10178
I use Win+E to open Files, Files will apear like this, it has white border around tab
![image](https://user-images.githubusercontent.com/37587399/195226684-27017b8d-1873-4c98-bec9-d8b4bdfb1bde.png)
IF I open Files through click from pin on startbar it work normally

[2022-10-12 01:28] yaichenbaum commented on #9776
Let's treat this as a Windows issue.

[2022-10-12 01:29] yaichenbaum commented on #9042
Yes

[2022-10-12 01:30] yaichenbaum commented on #4041
Yes

[2022-10-12 01:31] yaichenbaum commented on #7273
Shell items are only shown in the "more" menu. This is requesting for them to be displayed in the main menu.

[2022-10-12 01:33] yaichenbaum commented on #1671
@Josh-65 can you create an issue for this one? We definitely want to implement this.

[2022-10-12 01:36] yaichenbaum commented on #8507
Thank you for your feedback

[2022-10-12 01:38] yaichenbaum commented on #8797
We don't have plans to implement this feature. The sidebar in Files has several differences with File Explorer and we want users to reconsider their pinned items when setting up Files.

[2022-10-12 01:41] yaichenbaum commented on #9929
@sthivaios this issue is high on our priority list as it's a regression since porting to WinAppSDK.

For what it's worth, your comments on issues these past few days have been extremely helpful. It's hard for us to check every issue and community participation makes it a lot easier and we really appreciate it.

[2022-10-12 03:35] philliplanos commented on #9855
Thanks to both of you - I cant imagine making an app is easy so i'm
grateful for the responses.

Cheers, hope you've both had a solid start to the week.

On Tue, Oct 11, 2022 at 6:51 PM Yair Aichenbaum ***@***.***>
wrote:

--

--

*Phillip Lanos*
Podcasting & Personal Brand Management
213-568-9791
<http://www.linkedin.com/in/philliplanos>
<http://twitter.com/philliplanos>Follow
me on Linkedin: htt

[2022-10-12 03:48] #10150 closed

[2022-10-12 03:52] SullieLore commented on #7526
Another thought: Close button closes Files to the Tray with an option of having a hidden icon. This would essentially replicate a running service. Since Files is a Windows app, the Efficiency mode should kick in to prevent excessive cpu/memory. The Open Files on Windows Startup should have another checkbox to Hide to Tray.

This all will mean that when people open folders from Start (or, in my cas

[2022-10-12 04:01] yaichenbaum commented on #4249
I'm not very familiar with this feature but looks like something we should support.

[2022-10-12 04:02] DanteAndHubble opened #10181 "When looking at downloads, it shows pins files that were downloaded over a year ago."
### Description

Everytimg I open the app, I have to spend a minute scrolling to the very top because downloads always opens at items from this year.

please help

### Steps To Reproduce

Click on downloads

### Steps to fix

I dont know how to fix this

### Files Version

Version: 2.3.12.0 OS Version: 10.0.22000.978

### Windows Version

Edition	Windows 11 Pro Version	21H2 Installed on	‎11/‎7/‎20

[2022-10-12 04:03] yaichenbaum commented on #7350
@vatsdimri is that something that would work with copy & paste?

[2022-10-12 04:05] yaichenbaum commented on #3723
I think we need a design before approving, keeping in planning for now.

[2022-10-12 04:06] yaichenbaum commented on #3722
What kinds of settings are available in HashTab?

[2022-10-12 04:08] yaichenbaum commented on #3370
Based on some polls and feedback we've been gathering, the custom terminal feature isn't used very often. I think we should gather some more feedback before making further changes to the feature.

[2022-10-12 04:09] yaichenbaum commented on #6768
The issue is resolved in the details layout but it's still present in the other layouts.

[2022-10-12 04:13] yaichenbaum commented on #10181
What happens if you reset the app?

[2022-10-12 04:24] vatsdimri commented on #7350
I don't think copy & paste would work but I don't know this how this work internally. Send to Kindle option is not there by default, it is added after you download send-to Kindle app. Maybe the app adds itself to the menu.

Other ways of sending to Kindle is by emailing the books to your Kindle account.

[2022-10-12 08:33] QuaintMako opened #10184 "New issue template for Code Quality issues"
As for now, there is two types of issues by default in on the repository : bug and feature request.

Sometimes, when developing, we can fall upon refactoring that may have nothing to do with our current issues that we'd like to mark for later. We are also currently going through a massive refactoring of the codebase.

It would be nice to have a template issue about code quality for those type of s

[2022-10-12 08:34] QuaintMako commented on #10184
Posting such a feature request because I am stumbling on quite a lot of small (and not so small) refactorings that have nothing to do with what I'm currently working on. Doing all of them by myself would be quite the task or/and out of the scope of the issue I am tackling when seeing them.

[2022-10-12 09:21] QuaintMako opened #10185 "Code Quality: Switching the Helpers Classes to static"
Most Helpers are defined as static classes.

Yet by roaming through the code, we can find some of them that are not, such as `FilesystemHelpers`.

**Requirements**
- Helper classes with plural name should be static (static class ExceptionHelpers)
- Helper classes with singular name should be instantiable. (sealed class ThemeHelper)

[2022-10-12 09:44] Fuziius opened #10186 "Files lose the color tag after editing"
### Description

I have Windows 11 and the Files version 2.3.12.0. For all my Excel tables I have a color tag. Every time I edit and save one of the Excel files, the color tag is gone and I have to find and re-tag the file.

### Steps To Reproduce

1. tag (Excel) file
2. open, modify and save file
3. tag is gone

### Steps to fix

How can the files keep the tag after editing

### Files Version

Ve

[2022-10-12 10:30] QuaintMako commented on #9921
An answer has been provided by the [microsoft-ui-xaml](https://github.com/microsoft/microsoft-ui-xaml/issues/7695 ) about this issue with a possible solution :

Should we go down this path ?

[2022-10-12 10:37] hez2010 commented on #9921
I don't think the solution works. We are using TemplatedBindings, not Bindings, and they cannot just be replaced with x:Bind.

[2022-10-12 10:57] sthivaios commented on #9929
Thank you! I just have a lot of free time now, because we don't have a lot of homework at school, so I decided to help in this community.

[2022-10-12 11:24] sthivaios commented on #9042
I just checked the PRE version, and it does in fact do that.

When hitting enter to enter the folder, the name tab will be highlighted.

https://user-images.githubusercontent.com/109022579/195329948-3dd1062e-6abc-4296-8435-f218ac37c04e.mp4

Btw, if my comments sometimes sound weird, it is because I am from Greece, and just 11 y.o. so, you know, I am just in class D' yet.

[2022-10-12 11:26] sthivaios commented on #2718
What are you talking about? It is right here

-->

![image](https://user-images.githubusercontent.com/109022579/195330859-d3b7a5e1-63f1-4c09-a5dc-904b7c3c0009.png)

[2022-10-12 11:29] Josh-65 commented on #2718
There's are thing that aren't implemented from the priorities list. This also takes about having the recent as a full page rather than just a widget

[2022-10-12 11:29] sthivaios commented on #2718
Yep, I just read the issue further and realized what they are actually talking about and the little table.

[2022-10-12 11:36] sthivaios commented on #9776
I have just checked this and it works fine, so try restarting your computer, reinstalling Files, or any other common "computer fix". You know what I mean... :)

Conclusion : It is not an issue of "Files".

[2022-10-12 11:40] sthivaios commented on #9522
Oh, if you consider it that way, yes it does make sense to be set to "low".

[2022-10-12 11:44] Josh-65 commented on #7526
It has been suggested #9837

[2022-10-12 12:00] Josh-65 opened #10187 "Feature: Add support for creating shortcuts from the new item menu"
### What feature or improvement do you think would benefit Files?

There should be the ability to add a new shortcut from the new menus in Files.

### Requirements
- Clicking on the option should display a modal
![image](https://user-images.githubusercontent.com/39923744/195749611-2b4dd2f4-5d09-488e-b17a-ee864537e20e.png)
- Detection on when it a local/network drive or a web address (https, http)

[2022-10-12 12:22] sthivaios commented on #7256
Yep, that is a good idea. It should be implemented as a feature.

[2022-10-12 12:27] sthivaios commented on #3422
#7256 I think that they are both the same thing...

[2022-10-12 13:25] yaichenbaum commented on #10187
I think we need design for this one.

[2022-10-12 13:32] yaichenbaum commented on #9929
Interesting, this was working fine for us on Microsoft.UI.Xaml 2.7.1.

[2022-10-12 13:36] yaichenbaum commented on #9522
I should point out that low priority doesn't mean it won't happen, in fact, most issues are set to low priority. This way contributors know that when an issue is marked as high or urgent, it's very high on the list.

[2022-10-12 13:39] QuaintMako commented on #9929
Offered a suggestion of fix if it's high on our priority list. It's more for a temporary fix, and if accepted, I'll open another issue to track that we need to get back to the previous display.

[2022-10-12 13:44] yaichenbaum commented on #2718
One of the benefits of a dedicated page over the existing widget is that it would allow for advanced searches, grouping/sorting and different layout modes.

[2022-10-12 13:56] daa729 commented on #9929
When I looked through it, I attempted switching to an iconbox instead and
it caused the application to crash. I was thinking if we could copy the
formatting used for the sidebar it would work but that wasn't running
properly.

On Wed, Oct 12, 2022 at 09:39 QuaintMako ***@***.***> wrote:

[2022-10-12 14:18] hez2010 commented on #9522
I don't see any problems here. Seems that the newer version of Windows has relaxed the restrictions around file/folder naming.
I can even use PowerShell to create a folder with the name `CON`.

![image](https://user-images.githubusercontent.com/14960345/195367478-bdf872a0-76a7-41f5-8a83-ef1a8d1c0477.png)

i.e. the Windows API allows to do so, and preventing users from creating such files and folde

[2022-10-12 14:28] Josh-65 commented on #9522
It should properly be looked into if that names cause issue in windows. I remember some would don't know if it's changed

[2022-10-12 15:08] yaichenbaum commented on #10128
Does it happen in the grid layouts?

[2022-10-12 15:16] yaichenbaum commented on #9870
This appears to be resolved in `main`.

[2022-10-12 15:16] #9870 closed

[2022-10-12 15:27] yaichenbaum commented on #8918
@DominikGajdos I updated the requirements, do you still want to work on this?

[2022-10-12 15:34] DominikGajdos commented on #8918
@yaichenbaum Yes. I still want to work on it. What are the new requirements?

[2022-10-12 15:50] DominikGajdos commented on #8918
Ok. If I finish the previous issue, then I will work on this issue.

[2022-10-12 16:14] Araraura commented on #9522
I think it could mainly cause issues with legacy devices or configurations

[2022-10-12 16:58] sthivaios commented on #3722
I just installed HashTab on a VM.

It has the following features :
- A link to license the software, that seems like it doesn't work anymore
- A settings link, which opens the following window : https://user-images.githubusercontent.com/109022579/195403031-21ea85ba-4dba-4685-aee0-5b45d8b4de4c.png
- A "Hash Comparison" text box, and a "Compare a file..." button
- The "main" thing that shows the has

[2022-10-12 17:36] sthivaios commented on #10181
I mean, I can't make a file look like it is 1 years old, but I have files from last week and it always opens at the beginning where the first files are. So, I am not exactly sure about year-old files but for weeks-old files, it always opens at the beginning. So in my case, I would consider this bug as invalid. As @yaichenbaum said, try resetting the app, and restarting your computer, as well as un

[2022-10-12 17:56] sthivaios commented on #10186
I have tried this with a text file, and the bug doesn't happen to me.

I will try it with excel too and let you know.

[2022-10-12 18:01] Josh-65 commented on #10181
Merging with #5825.
I believe it depends on how many items there are not if there grouped or not, I've had the scrolling issue when there was no grouping and in different layout modes. might be Files is loading items from B to Z first then items with symbols, number and A at the start which would lead items being loaded above the first viewpoint.

[2022-10-12 18:01] #10181 closed

[2022-10-12 18:04] Josh-65 commented on #10186
You will need to upload the logs files directly to GitHub. You can get them in files settings > about > open log folder.

[2022-10-12 18:12] sthivaios commented on #8515
It is not.

Uploading BUG#8515_Vid101.mp4…

[2022-10-12 18:16] sthivaios commented on #8515
You are probably having a hard time recreating this because it is not an issue anymore.

To @ThisNekoGuy, I suggest that you restart your computer, reset the app, or even uninstall the app and reinstall it. Also check if you have the latest version of the app. It might have been an old bug that was fixed with an update, so if there are any updates on microsoft store, install them. If you are gonna

[2022-10-12 18:18] sthivaios commented on #10128
That doesn't seem to happen to me. @yaichenbaum Is it possible that there are any complications with the chinese translation?

[2022-10-12 18:22] Josh-65 commented on #8515
You don't need to install preview in a VM the worse that could happen is the app crashes. They already said it still happens but less and they are on the latest 2.3.47 which is also the preview.

[2022-10-12 18:23] sthivaios commented on #9522
You can delete them fine through the normal explorer. It shows an error if you try to delete it through the Files app, but through the normal Windows Explorer, I was able to delete them all.

[2022-10-12 18:23] sthivaios commented on #9522
It might.

[2022-10-12 18:25] sthivaios commented on #10186
@Josh-65 I know you aren't asking me for the log files, but I am downloading the Lab Test Kit from the Microsoft Evaluation Center right now, to try it with excel. It does not happen with notepad though, as I said earlier. Also, if this bug actually "works" with excel, where can I upload the log files? Here?

[2022-10-12 18:27] Josh-65 commented on #10186
You can just drag the two .log files into the text box and wait for it to show something like [debug.log] (generated URL)

[2022-10-12 18:29] yaichenbaum commented on #10128
I don't think so, there are some crashes when you use the details layout but it's hard to reproduce consistently.

[2022-10-12 18:32] yaichenbaum commented on #3722
I think we can start with the most common hashes and track requests for additional ones later one. That being said, we need a design before starting on this.

[2022-10-12 18:39] sthivaios commented on #10186
Yeah, just like I attach videos and stuff. Ok, so just attach it to the comment. Sure, will do.

[2022-10-12 18:41] sthivaios commented on #10128
Oh, alright.

[2022-10-12 19:46] Fuziius commented on #10186
Hello @Josh-65 , I did open the log folder but what data should I upload form there? Or is it the whole folder?

[2022-10-12 19:48] Josh-65 commented on #10186
There should be two files debug.log and debug_fulltrust.log

[2022-10-12 19:49] Fuziius commented on #10186
Thanks for the help. If you need something else please let me know.
[debug.log](https://github.com/files-community/Files/files/9768250/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/9768251/debug_fulltrust.log)

[2022-10-12 20:39] Dummyfun95 opened #10190 "Windows"
How do I make a bootable usb windows without booting it

[2022-10-12 20:39] Josh-65 commented on #10190
Not the place for that use Google

[2022-10-12 20:39] #10190 closed

[2022-10-13 01:07] #9877 closed

[2022-10-13 05:53] #3334 closed

[2022-10-13 05:53] #4031 closed

[2022-10-13 05:54] yaichenbaum commented on #8821
Yes

[2022-10-13 05:55] #9517 closed

[2022-10-13 12:16] Josh-65 commented on #9423
Asking @yaichenbaum for approval.

[2022-10-13 12:20] Josh-65 commented on #9445
Asking @yaichenbaum for approval.

[2022-10-13 12:23] Josh-65 commented on #7259
Asking @yaichenbaum for approval.

[2022-10-13 12:34] Josh-65 opened #10193 "Bug: Files crashes when clicking browse on properties customise page"
### Description

![image](https://user-images.githubusercontent.com/26977075/195596844-385ab8db-44e8-47f1-b79a-81aa8e881572.png)

### Steps To Reproduce

1. Right click on a folder
2. Open the properties menu
3. Open the customise page
4. Click browse button
5. Files crashes

### Steps to fix

- Fix browse not opening file explorer open dialog

### Files Version

2.3.48.0

### Windows Version

11.

[2022-10-13 13:58] verdaderoken commented on #9836
To note, this still occurs in the latest preview build (v2.3.48)

[2022-10-13 14:01] verdaderoken commented on #9295
A single font file works but when you try to select multiple files and choose 'Install', only the first highlighted font will be installed

[2022-10-13 14:56] yaichenbaum commented on #6768
The issue is resolved in `main`.

[2022-10-13 14:56] #6768 closed

[2022-10-13 14:57] #9947 closed

[2022-10-13 14:58] yaichenbaum commented on #10184
@QuaintMako do you want to create a template?

[2022-10-13 14:59] yaichenbaum commented on #10185
@d2dyno1 @lukeblevins

[2022-10-13 15:00] yaichenbaum commented on #10066
@ferrariofilippo is this still an issue?

[2022-10-13 15:01] yaichenbaum commented on #10098
We closed this because the template isn't filled out

[2022-10-13 15:01] #10098 closed

[2022-10-13 15:02] QuaintMako commented on #10184
Can give it a shot, yeah

[2022-10-13 15:03] yaichenbaum commented on #9915
Merging with #10039

[2022-10-13 15:03] #9915 closed

[2022-10-13 15:03] yaichenbaum commented on #10039
Seems to have happened when migrating to WinAppSdk.

[2022-10-13 15:10] sthivaios commented on #9836
I can confirm that both of the things specified in this issue, are in fact bugs.

https://user-images.githubusercontent.com/109022579/195635229-df9be3d7-7ea1-4abb-9e3f-6b6a1b9df6bd.mp4

https://user-images.githubusercontent.com/109022579/195635250-70d7e3b4-e35d-47e6-bc28-205e96ab3cf9.mp4

[2022-10-13 15:26] Josh-65 opened #10194 "Bug: Windows default beep sound plays when focusing Files after minimising"
### Description

Since 2.3.47.0 it always plays the windows default beep sound when minimising and then clicking on the app in taskbar then clicking again bring Files up like normal.

### Steps To Reproduce

1. Open Files
2. Click the taskbar icon to minimize
3. Click the taskbar icon to focus the window. It will play the default beep sound and the taskbar will highlight like it's in focus
4. Clic

[2022-10-13 15:50] QuaintMako commented on #10184
Looking into it, but I'm not sure how to process here.

I believe the issue templates are to be done through the settings menu. I (obviously) do not have the rights for it here.

Looked around the Git documentation, seems they are stored in the .git folder, which I do not have access as well since it's a fork.

So, any hint on how to process would be gladly taken! ^^

[2022-10-13 15:51] QuaintMako commented on #10184
Looking into it, but I'm not sure how to process here.

I believe the issue templates are to be done through the settings menu. I (obviously) do not have the rights for it here.

Looked around the Git documentation, seems they are stored in the .git folder, which I do not have access as well since it's a fork.

So, any hint on how to process would be gladly taken! ^^

[2022-10-13 15:51] QuaintMako commented on #10184
Looking into it, but I'm not sure how to process here.

I believe the issue templates are to be done through the settings menu. I (obviously) do not have the rights for it here.

Looked around the Git documentation, seems they are stored in the .git folder, which I do not have access as well since it's a fork.

So, any hint on how to process would be gladly taken! ^^

[2022-10-13 15:55] yaichenbaum commented on #10184
It's just a markdown file that gets added to `github/ISSUE_TEMPLATE``

[2022-10-13 15:57] QuaintMako commented on #10184
Alright! Will get to it soon then! Thanks for the quick answer!

[2022-10-13 16:07] yaichenbaum commented on #10059
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-13 16:08] yaichenbaum commented on #10107
Drag and drop is resolved in the preview build https://files.community/download/preview

[2022-10-13 16:09] yaichenbaum commented on #10110
This might be a WinAppSdk issue but it's hard to know.

[2022-10-13 16:10] yaichenbaum commented on #10134
@whytewolf69 can you try installing the latest version of Files and toggling the option on/off?

[2022-10-13 16:13] yaichenbaum commented on #9701
I can't reproduce this issue, do you have "Continue where you left off" turned on?
![image](https://user-images.githubusercontent.com/39923744/195650065-803c88d0-3b53-4c94-8c61-0bcd1338611d.png)

[2022-10-13 16:35] #8942 closed

[2022-10-13 16:36] yaichenbaum commented on #8788
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:37] yaichenbaum commented on #8485
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:38] yaichenbaum commented on #8153
This is resolved in the preview build https://files.community/download/preview

[2022-10-13 16:38] #8153 closed

[2022-10-13 16:38] #9678 closed

[2022-10-13 16:39] yaichenbaum commented on #9678
This is resolved in the preview build https://files.community/download/preview

[2022-10-13 16:39] yaichenbaum commented on #7573
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:40] yaichenbaum commented on #7217
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:41] yaichenbaum commented on #6952
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:42] Josh-65 commented on #7573
Yes, decimals are still shown but not used.

[2022-10-13 16:42] yaichenbaum commented on #6937
This should be resolved in the preview build https://files.community/download/preview

[2022-10-13 16:42] #6937 closed

[2022-10-13 16:43] yaichenbaum commented on #6922
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:44] yaichenbaum commented on #6903
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:44] yaichenbaum commented on #6877
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:45] yaichenbaum commented on #6773
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:45] yaichenbaum commented on #6755
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:46] Josh-65 commented on #6922
Don't think so I can't reproduce with the steps given.

[2022-10-13 16:46] yaichenbaum commented on #6624
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:46] yaichenbaum commented on #6502
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:47] yaichenbaum commented on #6430
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:49] yaichenbaum commented on #6309
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 16:51] #6922 closed

[2022-10-13 16:52] yaichenbaum commented on #9445
What does the properties window look like in Files?

[2022-10-13 16:53] Josh-65 commented on #9445
![image](https://user-images.githubusercontent.com/26977075/195657896-04e3dcfe-417b-437f-ae64-2de8c076d442.png)

[2022-10-13 16:53] yaichenbaum commented on #9423
What is the "continue" button for?

[2022-10-13 16:54] yaichenbaum commented on #9445
Would it make sense to add the options to the general page like in File Explorer or should we keep a separate tab for consistency?

[2022-10-13 16:55] Josh-65 commented on #9423
To transfer the file with the properties that can't be copied removed

[2022-10-13 16:57] Josh-65 commented on #9445
I would expect it to be separate really. To keep the location and UI for setting the icon consistent. However, I'm not sure if opening a .dll and selecting an icon from it is possible since File explorer doesn't seem to allow that.

[2022-10-13 16:58] yaichenbaum commented on #9587
@mdtauk do you have any input on this?

[2022-10-13 17:07] yaichenbaum commented on #10122
Would a link to storage sense be useful when there isn't enough space?

[2022-10-13 17:10] Josh-65 commented on #4811
New thing I notice is that when lots of files are being discovered to run an operation, Explorer will show that and how many have been found with Files it just looks like it frozen at 0%.

[2022-10-13 17:10] yaichenbaum commented on #5853
@gave92 I think this would be a good change 👍

[2022-10-13 17:16] yaichenbaum commented on #9794
This appears to be resolved in the preview build https://files.community/download/preview

[2022-10-13 17:19] Josh-65 commented on #10194
Alright.

[2022-10-13 17:19] #10194 closed

[2022-10-13 17:22] yaichenbaum commented on #9693
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 17:27] yaichenbaum commented on #9768
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 17:27] #9174 closed

[2022-10-13 17:28] yaichenbaum commented on #9757
Is this still an issue in the preview build? https://files.community/download/preview

[2022-10-13 17:39] mdtauk commented on #9587
I can see the logic of using existing tags to replace the "Bundle".  My initial thinking is that people may see tags as an organisational tool, but see a Bundle as a group like Quick Access or Favourites.

If someone makes a tag specifically for having quick access to files or folders on their home screen - will they be annoyed to see that tag showing up in various folder views?

Also, could the t

[2022-10-13 17:49] verdaderoken commented on #10122
Regarding storage sense, I personally don't use it because of its lack of details, unlike WinDirStat.

Whenever I transfer files and a drive is full, I usually go to some directory (using explorer) and delete the ones I don't use anymore to free up space, and then click the "Try again" to continue the transfer without having to start all over again

I think the useful thing is to have that **Try a

[2022-10-13 18:23] cobbettjp opened #10197 "Files Preview 2.3.48.0 Crashing"
### Description

Files Preview 2.3.48.0 crashing regularly.

### Steps To Reproduce

The crashes were happening whilst browsing directories after turning off  'Enable overriding folder preferences in individual directories',

However I've turned this back on now and it's still crashing, so that may not be the cause.

### Steps to fix

None.

### Files Version

Files Preview 2.3.48.0

### Windows V

[2022-10-13 18:28] yaichenbaum commented on #10197
This is specific to the details layout and is being tracked here https://github.com/microsoft/microsoft-ui-xaml/issues/7695

[2022-10-13 18:28] #10197 closed

[2022-10-13 18:29] #9149 closed

[2022-10-13 18:35] yaichenbaum commented on #9587
My hunch is that users wanting to pin items on the home page will be okay with the tag displaying in other views as well. At the very least, they can hide the tag column if they don't want it displayed.

The first iteration will have a fixed size, if we do add support for custom sizes in the future, we'll still need to decide on the max items to display.

How would this work if users want multiple

[2022-10-13 19:59] ferrariofilippo commented on #10066
This hasn't happened since then

[2022-10-13 19:59] #10066 closed

[2022-10-13 20:19] yaichenbaum commented on #10094
@gave92 does the library we use have a proper way to detect if an item is an archive?

[2022-10-13 20:22] yaichenbaum commented on #9908
What's the name of the parent directory?

[2022-10-13 20:23] #9884 closed

[2022-10-13 20:29] yaichenbaum commented on #9846
I'm interested in learning more about your use case and when you use the option to duplicate tabs.

[2022-10-13 20:31] yaichenbaum commented on #9841
1. Can you share the zip file you're testing with?
2. What's the name of the parent directory?

[2022-10-13 20:35] yaichenbaum commented on #9826
@MarcAnt01 I'm having a hard time reproducing this, do you have another device to test on?

[2022-10-13 20:41] #9794 closed

[2022-10-13 20:43] yaichenbaum commented on #9753
The move options aren't supposed to be displayed for tags

Can you open a separate issue to track this?

[2022-10-13 20:46] yaichenbaum commented on #9741
This appears to be resolved in the preview version https:/files.community/download/preview.

[2022-10-13 20:46] #9741 closed

[2022-10-13 20:47] yaichenbaum commented on #9740
Can you include steps to reproduce the issue?

[2022-10-13 20:48] yaichenbaum commented on #9582
This is resolved in the latest preview build. https://files.community/download/preview
![image](https://user-images.githubusercontent.com/39923744/195707430-23f4586e-aee1-4fde-a70d-50908c713651.png)

[2022-10-13 20:48] #9582 closed

[2022-10-13 20:51] ferrariofilippo commented on #9753
I'll remove them

No problem

[2022-10-13 20:58] ferrariofilippo opened #10198 "Bug: "Open in new window/tab" command is not working for tags in the sidebar"
### Description

"Open in a new tab" and "Open in a new Window" commands aren't working for Tags.

### Steps To Reproduce

1. Right click on a tag in `Tags` Sidebar section
2. Select `Open in new window/pane`
3. See an error is displaying

### Steps to fix

- Commands should work properly

### Files Version

Version 2.3.28.0 OS Version: 10.0.22621.521

### Windows Version

Windows 11 Home 22H2 226

[2022-10-13 21:19] Josh-65 commented on #9740
They have done it in video form but put it at the bottom. I've move it to the step to reproduce section

[2022-10-13 21:42] yaichenbaum commented on #9404
This appears to be resolved in the preview build v2.3.48 https://files.community/download/preview

[2022-10-13 21:42] #9404 closed

[2022-10-13 21:42] tywunon commented on #9701
Just tried that still the same behavior.

[2022-10-13 21:43] yaichenbaum commented on #9289
Can you reproduce this in v2.3.48?

[2022-10-13 21:44] yaichenbaum commented on #9125
Can you reproduce this consistently in v2.3.48? https://files.community/download/preview

[2022-10-13 21:47] tywunon commented on #9701
may I upload a Video to youtube and post the link here?

[2022-10-13 21:48] yaichenbaum commented on #8732
Is this still an issue in the preview version? https://files.community/download/preview

[2022-10-13 21:49] yaichenbaum commented on #8743
This is resolved in the latest preview build v2.3.48. https://files.community/download/preview

[2022-10-13 21:49] #8743 closed

[2022-10-13 21:53] tywunon commented on #9701
https://youtu.be/Qg1TDG7OlOA

[2022-10-13 21:53] yaichenbaum commented on #9701
You can upload the video directly to GitHub

[2022-10-13 21:54] tywunon commented on #9701
I tried, but it said mkv is not supported

[2022-10-13 21:54] MarcAnt01 commented on #9826
Seems to be fixed in the WASDK version

[2022-10-13 21:54] #9826 closed

[2022-10-13 21:55] yaichenbaum commented on #8706
Is this still an issue in the preview version? https://files.community/download/preview

[2022-10-13 22:06] tywunon commented on #9701
The Preview works. So it might already been fixed.

Weird think to me, the preview starts without the 2nd pane, if you not turn on "Continue where you left off" I would think if the 2nd pane was open before closing it would come up with dual pane but both sides at Home, and "Continue where you left off" would only store what folders were open. But I think that's just me.

[2022-10-13 22:15] #9701 closed

[2022-10-13 22:18] Josh-65 commented on #9289
Haven't seen it happen for a while

[2022-10-13 22:18] #9289 closed

[2022-10-13 22:21] yaichenbaum commented on #8185
Bundles are no longer being developed and will be replaced with a tags widget.

[2022-10-13 22:21] #8185 closed

[2022-10-13 22:21] yaichenbaum commented on #8231
Bundles are no longer being developed and will be replaced with a tags widget.

[2022-10-13 22:21] #8231 closed

[2022-10-13 22:33] yaichenbaum commented on #7502
Bundles are no longer being developed and will be replaced with a tags widget.

[2022-10-13 22:33] #7502 closed

[2022-10-13 22:42] gisturbance opened #10199 "Dedicated recycle bin area"
### What feature or improvement do you think would benefit Files?

The recycle bin doesn't seem like something that belongs to "Favorites". It's a sacred place where files are deleted and recovered. Having a dedicated area for it would increase accessibility and free space in the favourites section.

### Requirements

- Create a dedicated area at the bottom of the left sidebar, that is always visi

[2022-10-13 22:51] Josh-65 commented on #10199
- How would it be more accessible? It would be the same size and area out of the favourites.
- Always showing the current and max size of the bin doesn't make since since it local and determent by the drive size. Which visible on the home page and the sidebar when hovered over.
- Right clicking to empty the bin is already a thing.
- It can already be pinned/unpinned from there like any other folde

[2022-10-13 23:14] d2dyno1 commented on #10185
I agree with few exceptions:
- Helper classes with plural name should be static (`static class ExceptionHelpers`)
- Helper classes with singular name should be instantiable. (`sealed class ThemeHelper`)

[2022-10-13 23:18] gisturbance commented on #10199
I wouldn't say that a recycle bin is a "favorite folder", rather a dedicated feature currently presented as a folder. It being a separate area would prevent any (accidental) interference (move/deletion) with other actual folders, especially since the sorting of the favorite items differs by every language and the items can't be rearranged.
Adding to that, for someone who isn't using the favorites

[2022-10-13 23:49] yaichenbaum commented on #10199
Recycle Bin is pinned as if it were a regular folder, users can navigate to it via the address bar, but it requires typing "Shell:RecyleBin" and is a little harder to discover. More advanced users can unpin it if they like and just type the path.

[2022-10-13 23:57] whytewolf69 commented on #10134
That is the version I have been using

[2022-10-13 23:58] DanteAndHubble commented on #10181
I just did, no luck

[2022-10-14 00:39] yaichenbaum commented on #10134
What happens when you open this file?

[2022-10-14 00:51] gisturbance commented on #10199
That's why it's so inaccessible. Having it separated would improve the whole flow.
One shouldn't have to navigate to delete/recover files.One shouldn't need to search between favorites for it.

Otherwise one could also remove the drives, the libraries and everything else because they can be added as favorites or navigated as well. Next step is to remove the settings button, or the whole interface

[2022-10-14 01:10] whytewolf69 commented on #10134
Adding that to the registry does not fix the issue

On Fri, 14 Oct 2022, 10:39 Yair Aichenbaum, ***@***.***>
wrote:

[2022-10-14 01:18] #10134 closed

[2022-10-14 01:19] whytewolf69 commented on #10134
Do you know the issue that I am having

On Fri, 14 Oct 2022, 11:09 Damon Liddell, ***@***.***> wrote:

[2022-10-14 01:28] yaichenbaum commented on #10134
To clarify, we need to know what happens when you open the reg file. Is there an error message, does it say imported successfully?

[2022-10-14 01:31] yaichenbaum commented on #7052
Is this still an issue in the preview version? https://files.community/download/preview

[2022-10-14 01:33] yaichenbaum commented on #6959
Merging with #8918

[2022-10-14 01:33] #6959 closed

[2022-10-14 01:34] yaichenbaum commented on #6958
Merging with #8918

[2022-10-14 01:34] #6958 closed

[2022-10-14 01:35] yaichenbaum commented on #6933
This issue is resolved in `main`.
![image](https://user-images.githubusercontent.com/39923744/195741888-957a1434-cc9d-4657-8743-53eb9812453d.png)

[2022-10-14 01:35] #6933 closed

[2022-10-14 01:36] yaichenbaum commented on #6926
Merging with #8358

[2022-10-14 02:19] yaichenbaum commented on #6905
Is this still an issue in the preview version? https://files.community/download/preview

[2022-10-14 02:22] yaichenbaum commented on #6845
Marking this as resolved since we're now using Crowdin.

[2022-10-14 02:22] #6845 closed

[2022-10-14 02:23] yaichenbaum commented on #6825
@carlosvsilva is this something you think you can work on?

[2022-10-14 02:26] Browntomcat33 opened #10201 "[Feature Request] Add customizable shortcut folder to side pane"
Something like this.
![mockup](https://user-images.githubusercontent.com/100460368/195747895-71a58397-df26-44ba-82d2-d674108d442b.jpg)

[2022-10-14 02:26] #6478 closed

[2022-10-14 02:27] Josh-65 commented on #10201
You can use tags for custom items in the sidebar

[2022-10-14 02:27] #10201 closed

[2022-10-14 02:30] yaichenbaum commented on #10201
@Josh-65 I think this is requestion support for creating custom sidebar sections.

[2022-10-14 02:31] yaichenbaum commented on #10201
@Browntomcat33 can you open an issue with the feature template?

[2022-10-14 02:33] yaichenbaum commented on #6408
Based on a quick poll, 99% of users use the sidebar. It'll be interesting to continue gathering feedback on this.

[2022-10-14 02:35] yaichenbaum commented on #6344
Is this still an issue in the preview version? https://files.community/download/preview

If it's still an issue, I recommend reporting this on the WinAppSdk repository.

[2022-10-14 02:35] #6344 closed

[2022-10-14 02:42] yaichenbaum commented on #5993
@BanCrash do you want to implement this?

[2022-10-14 02:43] yaichenbaum commented on #5903
Is this still an issue in the preview version? https://files.community/download/preview

[2022-10-14 03:18] whytewolf69 commented on #10134
Say imported successfully but I don't think you know the issue that is happening

[2022-10-14 03:22] jandye commented on #9587
I think they can both serve separate purposes

[2022-10-14 03:39] yaichenbaum commented on #10134
What happens if you set Files as the default again and try opening a drive from File Explorer?

[2022-10-14 04:09] whytewolf69 commented on #10134
1. I switched to file app as default manager
2. I have now reverted back to windows explorer as default file manager.
3. Windows explorer works as the default manager and Quick access works on the left side of windows explorer and is the only way that windows explorer can be used.
4. When I try to use the right window Payne in windows explorer I get the error message as in screen shot above, when

[2022-10-14 07:04] timxx commented on #9773
I have the same issue with i9 and 128GB memory, it's very slow compare to the builtin one.
Have to wait a while for opening a local folder

[2022-10-14 07:05] licdar87 commented on #9841
This problem is present for any archive file, in any directory (even C:\).

On a semi-related note, I recently upgraded one of my pcs to Win11 (NO clean install). I noticed I had a similar problem with the regular Win11 context menu (I had the Bandizip voices under the Other submenu instead of the main right-click menu). However, I managed to fix that with the help of a side script present inside

[2022-10-14 07:09] azra1l commented on #9908
I tested multiple different directories, appears to happen in any directory. Desktop, C:\temp, C:\users\whoami

[2022-10-14 07:55] whytewolf69 commented on #10134
The same will not work

On Fri, 14 Oct 2022, 13:39 Yair Aichenbaum, ***@***.***>
wrote:

[2022-10-14 07:56] ZaLiTHkA commented on #9794
using "Files (Preview)" version `2.3.48.0`, I don't see any noticable delay with renaming files or folders anymore..

I do still get a _slight_ delay with "Files" version `2.3.12.0`, but even that seems to be quicker than the experience I was having on version `2.3.7.0`. not sure if that's related to any code changes or just the whims of my laptop though.

---

@yaichenbaum, are you perhaps tracki

[2022-10-14 08:20] verdaderoken commented on #10179
This is fixed in the preview version

[2022-10-14 08:39] whytewolf69 commented on #10134
If you mean when file app is default the when I use file app it works

[2022-10-14 09:54] soredake opened #10204 "Bug: Google drive icon overlays aren't displayed"
### Description

Google drive sync icons are no longer shown in preview version.

### Steps To Reproduce

1. Download preview version.
2. Navigate to Google Drive
3. Observe that google drive sync icons aren't shown.

### Steps to fix

- Display Google Drive icon overlays

### Files Version

2.3.48.0

### Windows Version

10.0.22000.1042

### Relevant Assets/Logs

[debug.log](https://github.com/fi

[2022-10-14 10:03] soredake opened #10205 "scrolling in preview version is less smooth than in stable version"
### Description

Scrolling in preview version is less smooth than in stable version.

### Steps To Reproduce

1. Have 144hz monitor like me
2. Try scrolling in stable (somewhat acceptable)
3. Try scrolling in preview (less smooth)

### Steps to fix

- Make scrolling as smooth as in stable

### Files Version

2.3.48.0

### Windows Version

10.0.22000.1042

### Relevant Assets/Logs

[debug_fulltrust

[2022-10-14 10:48] #10179 closed

[2022-10-14 10:49] Josh-65 commented on #9908
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-14 10:51] Josh-65 commented on #9773
Speed improvements are always being made. You can try the preview builds https://files.community/download/preview as it's faster but more unstable.

[2022-10-14 13:35] QuaintMako commented on #10048
Waiting for #10161 to be finished and integrated to solve this issue. Some challenges are actually there for the feature, but should be made trivial following the refactoring.

[2022-10-14 13:52] #9753 closed

[2022-10-14 13:53] yaichenbaum commented on #10205
Is specific to the details layout?

[2022-10-14 13:53] yaichenbaum commented on #10204
Is this on the grid layout?

[2022-10-14 14:03] yaichenbaum commented on #9908
Yes

[2022-10-14 14:04] #8670 closed

[2022-10-14 14:20] soredake commented on #10204
Icons are missing on all layouts.

[2022-10-14 14:25] soredake commented on #10205
No, it happens in all layouts.

[2022-10-14 14:26] yaichenbaum commented on #10204
I can reproduce this issue

[2022-10-14 14:39] yaichenbaum commented on #10205
This seems to be a regression with all WinAppSdk applications, can you open an issue on their repo and link it here?

[2022-10-14 14:39] #10205 closed

[2022-10-14 14:41] yaichenbaum commented on #9794
There are a couple issues regarding deleting items, but I haven't been able to reproduce any. If you are able to put together exact steps to reproduce them, it would be great if you can open another issue.

[2022-10-14 14:42] yaichenbaum commented on #9841
If you install 7zip and right click on the archive, does it display?

[2022-10-14 14:48] BanCrash commented on #5993
I look at this at the past and found it beyond my knowledge, but I can give it another try.

[2022-10-14 15:12] licdar87 commented on #9841
No, it doesn't. Tried with both standard and preview version

[2022-10-14 15:18] yaichenbaum commented on #5993
I think we already have some exception handling that logs errors so we should be able to save the current tab session and auto restart the app (take a look at the restart prompt on the preferences page).

[2022-10-14 15:20] koblue opened #10208 "Modifier key tooltip for a mouse drag action only changes when the cursor is moved"
### Description

If I want to chanage the action when dragging to move, rather than copy, a group of selected files, the tooltip that pops up at the cursor only changes when the cursor is moved, rather than when the shift (or other modifier) key is pressed or released.

### Steps To Reproduce

1: Select file or files
2: Drag to trigger the tooltip
3: Press modifier key, such as shift or ctrl, but

[2022-10-14 15:23] yaichenbaum commented on #9841
Can you upload the log files from the preview version?

[2022-10-14 15:38] yaichenbaum commented on #10199
One shouldn't have to navigate to delete/recover files. One shouldn't need to search between favorites for it.

This can be said about any favorite or drive, the line needs to be drawn somewhere and I think we have a pretty good balance with the current design. It's useful to have a recycle bin shortcut on the sidebar but it's not the main function of the app. We'll leave this open to continue gat

[2022-10-14 17:06] ZaLiTHkA commented on #9794
I can't say I've found reproducible issues as such, `2.3.48.0` was spontaneous crashing earlier today, but I haven't dug into that one properly yet.. with that said, I _do_ enjoy pushing every button I find in every way possible, so I'll let you know if I do find anything useful. 👍🏼

but, before I derail _this_ issue comment stream too badly.. I'm not finding any other issues with renaming files,

[2022-10-14 17:12] yaichenbaum commented on #9794
Keep the feedback coming!

[2022-10-14 17:15] yaichenbaum commented on #10208
I can reproduce this issue on v2.3.48.

[2022-10-14 17:17] #9927 closed

[2022-10-14 17:19] yaichenbaum commented on #10185
This is ready to build

[2022-10-14 17:20] yaichenbaum commented on #7573
Is this in all regions? I can't produce this on my side.

[2022-10-14 17:21] #8793 closed

[2022-10-14 17:21] #8972 closed

[2022-10-14 17:21] #9055 closed

[2022-10-14 17:21] Josh-65 commented on #7573
Mines set to English US

[2022-10-14 17:22] #9605 closed

[2022-10-14 17:27] yaichenbaum commented on #4279
I'm having the same issue in File Explorer. Can you upload a screen recording of File Explorer compared to Files on your device?

[2022-10-14 17:28] yaichenbaum commented on #3342
Yes, but I think it'll be resolved with #10161

@lukeblevins can you confirm?

[2022-10-14 17:29] #2999 closed

[2022-10-14 18:35] Mayooooooooo787 opened #10209 "GTAG mods"

[2022-10-14 18:37] #10209 closed

[2022-10-14 18:37] licdar87 commented on #9841
[debug.log](https://github.com/files-community/Files/files/9789167/debug.log)
[debug_fulltrust.log](https://github.com/files-community/Files/files/9789169/debug_fulltrust.log)

[2022-10-14 21:11] sthivaios commented on #10110
I can confirm that this is indeed a bug.

https://user-images.githubusercontent.com/109022579/195944587-a78b772e-c2df-4596-9ea3-7cebdc897fd7.mp4

[2022-10-14 21:17] sthivaios commented on #8788
Everything woks fine for me in version 2.3.48.0

https://user-images.githubusercontent.com/109022579/195945547-8c76fcf5-6f0f-419d-ab13-a4a3cb27a927.mp4

[2022-10-14 21:30] sthivaios commented on #8485
Nope, it is not. I just tried it and on version 2.3.48.0 it seems to be fixed.

I was able to drag 20 files out of a zip file.

https://user-images.githubusercontent.com/109022579/195946684-6a40799b-3189-432e-aec9-8c3aae2d7f80.mp4

I also tried it with a 100 files later, and it worked too.

[2022-10-14 21:34] sthivaios commented on #9841
I haven't read all the comments, but, I just wanted to say that on version 2.3.48.0 this is not an issue.

[2022-10-14 21:43] yaichenbaum commented on #9841
@sthivaios it's important to note that not every device or installation will be able to reproduce the issue so we always like to hear from the original poster before marking something as resolved.

[2022-10-14 21:45] sthivaios commented on #7573
Yep, that is an issue in 2.3.48.0.

![image](https://user-images.githubusercontent.com/109022579/195948620-95d00298-ca28-4d59-b383-972be5357c7c.png)

Mine is set to English US like @Josh-65.

[2022-10-14 21:47] sthivaios commented on #9841
I mean, sure. I didn't expect it to be closed.

[2022-10-14 21:52] sthivaios commented on #5903
I mean, I was able to create a folder called "4.3.2.1 Workshop zur Exploration potenziell interessanter Informationen". And when I tried to name it something like "asfas\';\'.g';';,gerg" it did say that I cannot use /('\ etc.

[2022-10-14 21:55] Josh-65 commented on #8485
Should be tested using 7zip or WinRAR to extract as there external programs that are used

[2022-10-14 23:31] webddemo opened #10210 "RAM Usage stacking up after opening and closing tabs"
### Description

I opened and closed tabs on both the microsoft store and preview versions and the RAM usage gradually goes up but never comes down or gets any stable numbers, even if I leave only one tab open.

### Steps To Reproduce

1. I made a simple test opening 6 tabs
2. Then I closed them all apart from one
3. Then opened 3 more
4. At this point the ram usage usually stacks up a decent lot.

[2022-10-14 23:50] gisturbance commented on #10199
This misconception only applies when assuming that the recycle bin is equal to a drive or folder, which, from a perspective outside the fairly ill-designed Windows ecosystem, it simply is not.
I would go as far as treating it like a separate application - with the purpose of it's name, recycling files -, that due to bad design decisions was made to look like a folder.

To recap:
- Recycle bin has

[2022-10-14 23:54] Josh-65 commented on #10199
Favorites are stored alphabetically. Items are added to the bottom and the user can move them
![image](https://user-images.githubusercontent.com/26977075/195958886-d807ee90-f431-4c7e-801d-83c07d073509.png)

[2022-10-15 00:03] gisturbance commented on #10199
Oh, indeed. I only tried moving the entries by drag & drop, but the move actions are in the context menu. Though that shouldn't interfere with the rest of my arguments.

Understandable, that not everything can be implemented, though I dare to say that the mass alone doesn't know what's best, it rather stays to things it's used to.

[2022-10-15 00:46] JamesDBartlett3 commented on #9538
@Josh-65,
As of Files (Preview) Version 2.3.48.0, the issue still persists.

![image](https://user-images.githubusercontent.com/37491308/195961343-71e0d90b-79eb-4123-bb03-0e9d831a2076.png)
![image](https://user-images.githubusercontent.com/37491308/195961280-099ae220-121b-489f-bbbd-1f9aca953708.png)

[2022-10-15 01:10] Josh-65 commented on #9538
Asking @yaichenbaum for approval.

[2022-10-15 07:50] licdar87 commented on #9841
If possible, I'd be happy to try the 2.3.48.0 release and check if this problem is actually solved on my system.

[2022-10-15 12:44] ElitePheonix2009 opened #10213 "Received Error "Files ran into a issue that the developers did not prepare for yet" and files app crashed."
### Description

When I was extracting a .rar file I Received a Error "Files ran into a issue that the developers did not prepare for yet" and then the files app crashed and the notification appeared.

### Steps To Reproduce

1. Extract a .rar file.
2. See error.

### Steps to fix

I don't know how to fix this issue as I have received this error the first time.

### Files Version

Version: 2.3.12.

[2022-10-15 12:49] cinqmilleans opened #10214 "Show drives size in sidebar"
### What feature or improvement do you think would benefit Files?

To get the available size of a drive, you need to access the home page or the properties of the drive. It's annoying to know which disk to move files to.

It would be convenient to display it in the sidebar. I attach an example below. I also changed the recent tooltip to be non-redundant and consistent with properties. This could b

[2022-10-15 13:06] cinqmilleans opened #10215 "Bug: Move options are showing for non favorites on the sidebar"
### Description

The context menu of the favorites section show entries to move the element (up or down). This does not work because the order of the sections is fixed.

### Steps To Reproduce

1. Right click on the favorites section in the sidebar.
2. Click on "Move to bottom"
3. Nothing is happening.

### Steps to fix

The easiest way is to remove the menu entries.
We can also add the functional

[2022-10-15 13:27] cinqmilleans opened #10216 "Feature: Ability to sort favorites"
### What feature or improvement do you think would benefit Files?

Favorites are listed in chronological order (default) or sorted manually by the user. It would be handy if you could easily sort them by name.

### Requirements

- Add an entry in the favorites context menu to automate sorting. This command sorts only when clicked. It doesn't change anything when adding/moving a favorite later. You

[2022-10-15 13:29] Josh-65 commented on #10214
You can hover over it to show disk space used and max

[2022-10-15 13:44] Leoijeon opened #10217 "Bug: Untagged files showing in tag search results"
### Description

In a tag page, pressing F5 to refresh will cause some bug. Same bug will occur in preview version.

### Steps To Reproduce

1. click tag on the sidebar
2. refresh page
3. see that untagged items are showing in the results

### Steps to fix
- Only show taged files

### Files Version

Version: 2.3.12.0 OS Version: 10.0.19044.2006

### Windows Version

Windows 10 Pro Version	21H2 OS

[2022-10-15 14:11] nerditation commented on #7350
the `SendTo` menu is not only about sending files to bluetooth or similar locations, nor can it be replaced with the "share" feature, it's a convenient way to add custom context menu actions without the need to install any third party plugins or extensions. you just need a command that accept file names as command line arguments. you can use any program, you can put it directly, or create a shortc

[2022-10-15 14:14] bchevreau opened #10218 "Feature: Allow to set default layout for folders in Settings"
Hi

The fact that Layout>Column for example has to be re-selected everytime a new window is opened is quite tedious for people that prefer to solely use that Layout. Suggestion would be to add the option to select a specific Layout as default under Preferences > Files and Folders.

Thanks in advance!

[2022-10-15 14:15] Josh-65 commented on #10218
this is fixed in the preview version. https://files.community/download/preview

[2022-10-15 14:15] #10218 closed

[2022-10-15 14:23] couleurm commented on #7350
Gotta agree with nerdidation here, Send To is to me the best way to feed your file paths into your script, you can easily open it from the Run dialog (Windows+R) by typing `shell:sendto` to dump your batch files and shortcuts

[2022-10-15 14:46] cinqmilleans opened #10220 "Bug: Settings displays wrong language after installing Files"
### Description

After install, English is selected in the settings, but the locale language is used.
The System language is no longer available in the options. It was practical and avoids having to place English before the other languages, and therefore missing its rightful place.

### Steps To Reproduce

1. Use Windows in a language other than English.
2. Install Files.
3. Open Files. It is in t

[2022-10-15 15:01] ElitePheonix2009 commented on #10214
I am hovering over the drives but I cannot see the disk space used and max.

https://user-images.githubusercontent.com/114980232/195993350-cf138c51-23d5-4d56-9c50-a24298a397e3.mp4

[2022-10-15 15:14] Josh-65 commented on #10214
Its only on preview builds right now

[2022-10-15 16:16] undecV opened #10221 "Feature: Add an option to disable confirmation modal when changing file extensions"
### What feature or improvement do you think would benefit Files?

When renaming a file with its extension, a gentle dialog will tell you, "If you change a file extension, the file might become unusable. Are you sure you want to change it?"

I've noticed this is a good security design, but it might not be pleasant for someone who knows what they're doing.

### Requirements

- Like the "Show a conf

[2022-10-15 16:28] cinqmilleans commented on #10221
It's an great idea.

[2022-10-15 16:58] cinqmilleans commented on #10214
Without indicating the size, it is less dense.
![light](https://user-images.githubusercontent.com/46631671/195998753-098c1e55-7700-4067-8eb2-5d49d622a241.png)

[2022-10-15 17:46] lukeblevins commented on #3342
@yaichenbaum Can confirm that's in the works. 👍🏻

[2022-10-15 18:52] intergrav commented on #9377
+1, I keep running into this issue where there is a big empty space in the file type area / name and it drives me crazy lol

![image](https://user-images.githubusercontent.com/42325132/196003309-d41ec4ef-672b-4bf7-87d9-9aac4ea5d894.png)

![image](https://user-images.githubusercontent.com/42325132/196003268-15f3120e-1e2b-4ef3-aba9-1e13a5798c8c.png)

You could fit a lot more with this

[2022-10-15 18:56] sthivaios commented on #7217
What do you mean? Delete and Shift+Delete work perfectly fine. @yaichenbaum This was opened on December 5th 2021. It is outdated, and fixed by now. It think you should close it.

[2022-10-15 19:14] sthivaios opened #10223 "SMB Not Working"
### Description

When I try to access an SMB share, it simply doesn't do anything.

In this case, I tried accessing my Domain Controller that has an SMB share on it. It is on \\blackcomb.

When you go there it does nothing. Doesn't ask for your credentials, doesn't show any folders... It does nothing.

Take a look at the video below...

https://user-images.githubusercontent.com/109022579/196004017

[2022-10-15 19:38] coachz1 opened #10224 "List view and sidebar following"
### What feature or improvement do you think would benefit Files?

I really like the look but need LIST view in the main screen and for the sidebar to be able to expand to follow the directories as they open.
![explorer_HyAMglnpJj](https://user-images.githubusercontent.com/53879358/196004825-36907f0b-d3f9-4b6a-a8d6-830efce7d852.png)

### Requirements

- This proposal will accomplish X
- This propo

[2022-10-15 19:40] coachz1 commented on #10224
Also need a ribbon up top please !!!!!

[2022-10-15 20:50] MalteTasler commented on #7493
I think this can be closed as bundles are going to be replaced by tags.

[2022-10-15 22:50] Josh-65 commented on #10224
the ribbon is not coming back instead following the new design of the toolbar which is simpler and user friendly. if you want something added to it make a separate feature request

[2022-10-15 23:16] coachz1 opened #10225 "Bug: Dual pane context menu flashes"
### Description

When you open a second set of files in the dual pane mode and right click over the primary primary pain folder the context menu   flashes rapidly making it unusable

### Steps To Reproduce

Open a secondary pane
Right click  over folder in primary pane
 Context menu flashes and flashes

### Steps to fix

Make contex menu not flash

### Files Version

2.3.12

### Windows Version

W

[2022-10-15 23:22] coachz1 opened #10226 "Add list view"
### What feature or improvement do you think would benefit Files?

Would really like to see a list view just like in the old windows Explorer where the folders and files wrap tightly next to each other and are  sorted alphabetically by folder's 1st and then files.
 Also an easy way to change to the other modes such as details, small medium large icons and And in details mode have control over whic

[2022-10-15 23:25] coachz1 opened #10227 "Add double click to explorer pane to go up a directory"
### What feature or improvement do you think would benefit Files?

It would be very helpful if the file folder pane allowed double clicking in the white area to go up a directory. This is  an extremely fast way a very efficient way to work with a lot of files and folders

### Requirements

Add double click functionality

### Files Version

2.3.12

### Windows Version

Win 11 22h2

### Comments

If

[2022-10-15 23:27] coachz1 opened #10228 "Feature: Add toolbar button to hide file extensions"
### What feature or improvement do you think would benefit Files?

Add a button in the toolbar to hide and show file extensions

### Requirements

It would be very helpful to have a button in the toolbar to easily toggle on enough file extensions being displayed.

### Files Version

2.3.12

### Windows Version

Win11 22h2

### Comments

_No response_

[2022-10-16 00:15] yaichenbaum commented on #10210
Merging with #4180

[2022-10-16 00:15] #10210 closed

[2022-10-16 00:17] yaichenbaum commented on #10214
I'm not a fan of including the progress bar on the sidebar but I rather like the updated tooltip.

![image](https://user-images.githubusercontent.com/39923744/196012136-116ee3aa-5adf-45c3-a5ba-99ba50da7fc7.png)

[2022-10-16 00:18] yaichenbaum commented on #10215
@cinqmilleans do you want to work on this?

[2022-10-16 00:19] yaichenbaum commented on #10216
It might be confusing if it only sorts once given that the sort options throughout the rest of the app do not.

[2022-10-16 00:21] yaichenbaum commented on #10228
There is already an option in settings Can you share more about your use case for a quick shortcut on the toolbar?

[2022-10-16 00:22] yaichenbaum commented on #10227
This is already supported in the latest version of Files....

[2022-10-16 00:22] #10227 closed

[2022-10-16 00:22] yaichenbaum commented on #10226
Merging with #2509

[2022-10-16 00:22] #10226 closed

[2022-10-16 00:23] yaichenbaum commented on #10225
Thank you for your feedback, can you share a screen recording?

[2022-10-16 00:23] yaichenbaum commented on #10224
Merging with #1928

[2022-10-16 00:23] #10224 closed

[2022-10-16 00:25] yaichenbaum commented on #10221
This is an interesting idea to try, I'm going to leave this in planning for a while to gather additional feedback before approving.

[2022-10-16 00:26] yaichenbaum commented on #10220
@cinqmilleans good catch! Do you want to work on this?

[2022-10-16 00:41] yaichenbaum commented on #10199
That's very true, we've made several changes that took some time to be accepted but ended up being copied by others (removing the ribbon, simplifying the context menu etc). I want to note that we don't approve/close feature requests based on the effort, we're trying to build something special and we're not going to cut corners. However, before making a change to an existing feature, we either need

[2022-10-16 00:43] yaichenbaum commented on #9377
@intergrav we can solve that independently from this request by chaning the default width of the type column.

[2022-10-16 02:36] yaichenbaum commented on #7217
@sthivaios while it may work correctly on our devices, there are a lot of configurations out there and it's best to see if the issue was resolved for the person who reported it.

[2022-10-16 03:03] ReadieFur opened #10229 "Default sort and group by"
### What feature or improvement do you think would benefit Files?

Would it be possible to add a default sort and group by button based on the current folder view, like in how Microsoft's Explorer has the option to se a default sort and group by option for all folders.

### Requirements

- Create a either a tab in settings or a button to the sorting drop-down menu to apply the current filters to a

[2022-10-16 03:13] yaichenbaum commented on #10229
Thank you for your feedback, this is something we're planning to implement and being tracked in #7082

[2022-10-16 03:13] #10229 closed

[2022-10-16 03:56] alishtamimi commented on #8706
YES.

[2022-10-16 07:21] Josh-65 commented on #7493
This could be done for tags instead

[2022-10-16 07:22] Josh-65 commented on #10228
This is also in the layout flyout on the tool bar
![image](https://user-images.githubusercontent.com/26977075/196023523-2f0eb745-6323-43b2-a2d8-446703bb23b7.png)

[2022-10-16 07:23] Josh-65 commented on #10223
Network access is properly off since VMs default to being a public network. Can you try connecting in File explorer and see what it shows`

[2022-10-16 08:47] Jimmy20220531 opened #10230 "Bug: File name column has a max width"
### Description

I can't stretch the file name column past a certain width This is very confusing to me. Uninstalling and reinstalling is still the same.

### Steps To Reproduce
1. Open folder in the details layout
2. Try resizing the name column as wide as possible

### Steps to fix
- Remove the max width

### Files Version
v3.3.12

### Windows Version

Win 10 21H2

[2022-10-16 09:13] cinqmilleans commented on #10215
It's already done, here #10219. Note that my screenshort is obsolete. In the preview version, this bug applies to all sections. In the dev version, only the Favorites section. I modified my issue but not the screenshot. My fix corrects this last section.

[2022-10-16 09:19] cinqmilleans commented on #10216
It looks fine to me. You can provide a checkbox in the menu to sort or not by name. This is a feature that is not a priority but that we can consider a lot later.

[2022-10-16 09:20] cinqmilleans commented on #10220
It's already done. The pr is #10222. The bug is only in the option menu language switcher.

[2022-10-16 10:47] coachz1 commented on #10228
It's nice to be able to have extensions off but when I want to know what
extension a file is it's nice to have a check box like in the ribbon to
turn them back on quickly.

On Sat, Oct 15, 2022 at 8:21 PM Yair Aichenbaum ***@***.***>
wrote:

[2022-10-16 10:52] coachz1 commented on #10224
Thanks for the tremendous help.  Is this feature in 2.3.12 or a beta
version ?  If beta how can I test it please ?

On Sat, Oct 15, 2022 at 8:24 PM Yair Aichenbaum ***@***.***>
wrote:

[2022-10-16 10:53] coachz1 commented on #10224
What was not user friendly about the ribbon ? I loved it.

On Sat, Oct 15, 2022 at 6:50 PM Josh-65 ***@***.***> wrote:

[2022-10-16 11:03] mafra99 opened #10231 "when dragging items in the root directory of a drive, Files moves them even though the path has not been changed"
### Description

If you are in the root directory of a drive and drag a file that exists in the root directory, files displays "move to" as an action and tries to move the file even though the path has not changed.

This does not happen when you are in a subfolder.

### Steps To Reproduce

1. open the root directory of a drive
2. drag a file that exists in the root drive to an empty area
3. see th

[2022-10-16 13:35] #10215 closed

[2022-10-16 13:46] yaichenbaum commented on #10231
Merging with #10039

[2022-10-16 14:06] #10220 closed

[2022-10-16 14:14] yaichenbaum commented on #10224
There are pro and cons for both the ribbon and simplified toolbar but we made the decision to use the toolbar and it appears to be working very well.

[2022-10-16 14:30] yaichenbaum commented on #8706
In the preview build, how much of a difference is there between "open file location" and a standard launch?

[2022-10-16 14:32] #5903 closed

[2022-10-16 14:56] ElitePheonix2009 opened #10232 "Right clicking on a file, clicking on more and then moving mouse to the sub-menu which comes after clicking more closes the sub-menu"
### Description

I am right clicking a file, cling on the more option and then moving the mouse to the sub-menu which appears after clicking the more option then it is closing the sub-menu.

### Steps To Reproduce

1. Right click on a file.
2. Scroll down and click on the more option.
3. Move the mouse the sub-menu which appears after clicking the more option.
4. See that the sub-menu disappears.

[2022-10-16 15:04] ElitePheonix2009 opened #10233 "Clicking on the "Open log location" option in settings menu doesn't go to the folder in which logs are stored"
### Description

I am going to settings, clicking on the about section and then clicking on the option "Open log location" doesn't open the folder in which logs for this app is stored.

### Steps To Reproduce

1. Click on the settings option (the gear icon).
2. Click on the about section.
3. Click on "Open log location" option.
4. See that the folder where the logs are stored doesn't open.

### St

[2022-10-16 15:07] ElitePheonix2009 commented on #10233
https://user-images.githubusercontent.com/114980232/196042995-163d874d-667e-48ca-af86-3adc2b79d3dd.mp4

[2022-10-16 15:51] cinqmilleans commented on #10208
I'm on to fix this.

[2022-10-16 15:54] yaichenbaum commented on #10233
Is this an issue in the preview build?

[2022-10-16 15:56] #10232 closed

[2022-10-16 16:15] sthivaios commented on #10223
That's what I am saying. It is working properly with normal explorer.

[2022-10-16 16:36] yaichenbaum commented on #10228
Does the flyout Josh mentioned work for you?

[2022-10-16 16:38] yaichenbaum commented on #10134
I'm wondering if the other modifications on your device are interfering with File Explorer.

[2022-10-16 16:39] yaichenbaum commented on #9722
Is this still an issue in the preview version? https://files.community/download/preview

[2022-10-16 16:46] #2238 closed

[2022-10-16 16:47] yaichenbaum commented on #9494
@Josh-65 can you add steps to reproduce?

[2022-10-16 16:48] MalteTasler commented on #5603
this is still an issue in the current preview version of the app.

[2022-10-16 16:51] yaichenbaum commented on #9938
This is resolved in the preview build https://files.community/download/preview

[2022-10-16 16:51] #9938 closed

[2022-10-16 16:55] yaichenbaum commented on #6408
Thank you for your feedback, I understand the reason to hide the sidebar completely but it appears that almost every user uses the sidebar and it doesn't make sense for us to implement this option.

[2022-10-16 16:58] yaichenbaum commented on #5135
@gus33000 now that we use colored icons, is this still an issue?

[2022-10-16 17:01] alishtamimi commented on #8706
I'm going to test it more, but using edge to open file location from the download drop menu, it takes more than 8 seconds. It is so slow.

[2022-10-16 17:39] verdaderoken commented on #10233
Preview build works fine for me

[2022-10-16 17:44] #10233 closed

[2022-10-16 18:37] alirezanoori1986 commented on #7217
I just tried this. The problem is still there for ALL of the mentioned points on build 2.3.12.0
Also downloaded the latest preview version (2.3.49.0), again. ALL of the issues exist.

@sthivaios maybe try to read the text one more time?

BTW, the preview was extremely buggy so if you're really thinking about releasing it, don't.

[2022-10-16 18:59] verdaderoken opened #10234 "Feature: Esc to cancel tab tear off"
### What feature or improvement do you think would benefit Files?

Sometimes when using a touchpad, I accidentally drag a tab out to a new window. While still holding down the left button, I tried to cancel it with Esc but didn't work. A cancel function would be helpful to quickly prevent unintentional dragging.

### Requirements

- Implement a cancel shortcut when tearing a tab out of the window

[2022-10-16 19:11] yaichenbaum commented on #7217
@alirezanoori1986 can you update the issue description with steps to reproduce this issue?

[2022-10-16 19:45] alirezanoori1986 commented on #7217
@yaichenbaum just did

[2022-10-16 20:00] ferrariofilippo commented on #6031
Is this still a bug?

[2022-10-16 20:04] yaichenbaum commented on #7217
Can you clarify how many?

[2022-10-16 20:07] yaichenbaum commented on #6031
It seems to work correctly now but it's a bit confusing how it enables multiselect on all the columns. I'm not sure what the best path forward is but we might have to look at other apps/platforms to see how they handle it.

[2022-10-16 20:16] alirezanoori1986 commented on #7217
I've tested it on a folder with 68 files and 6 subdirectories.

The right click-delete worked in a folder that had "Thumbnails" view (only pictures) but didn't work on the folder with "Details" view.

[2022-10-16 20:21] yaichenbaum commented on #10214
@cinqmilleans I'm not convinced on showing the progress bar on the sidebar itself but if you already have the work for the better tooltip, do you want to open a PR just for that?
![image](https://user-images.githubusercontent.com/39923744/196056412-6c8a1e37-0fc4-4dc7-8ace-22b9b7eab87e.png)

[2022-10-16 20:22] yaichenbaum commented on #7217
That's useful to know 👍
We're going to continue investigating this.

[2022-10-16 20:28] yaichenbaum commented on #9980
I don't use tabs often but when I do, it's often with folders of the same name as well so this could be helpful. It's important to come up with a design that doesn't confuse users with the regular folder names.

An alternative solution would be to display the folders tag in the tab.

[2022-10-16 20:29] yaichenbaum commented on #10060
Is this still an issue in the preview version? https://files.community/download/preview

[2022-10-16 20:33] yaichenbaum commented on #9241
@esibruti when installing the app, is there anything that you think is confusing or needs to be specifically called out? It's hard to know because I'm very familiar with all the options but I do believe most of the app is self-explanatory even for non-technical users.

[2022-10-16 20:36] #8726 closed

[2022-10-16 20:37] yaichenbaum commented on #8726
Merging with #9980

[2022-10-16 20:39] yaichenbaum commented on #8699
Does the option to reopen recently closed tabs help with the issue of accidentally closing tabs?

[2022-10-16 20:41] yaichenbaum commented on #8366
@winston-de is there a way to automate this instead of manually creating columns in the xaml? If not, we might have to wait for a modern DataGrid control from WinUI.

[2022-10-16 20:44] yaichenbaum commented on #7513
@gave92 is this possible to implement now that we use a separate launcher?

[2022-10-16 20:45] yaichenbaum commented on #7485
Is this still an issue in the preview version? https://files.community/download/preview

[2022-10-16 20:50] yaichenbaum commented on #6945
@Elegant-Xia while we don't have plans to implement this, we added a toolbar button to make it easier to extract archives.

[2022-10-16 20:50] #6945 closed

[2022-10-16 20:50] #9058 closed

[2022-10-16 20:55] dracp opened #10235 "BUG: Files_2.3.49.0 Spanish translation (Box: Conflicting file name)"
**In pop-up box: Conflicting file name(s)**

![221016 Files_2 3 49 0_Cuadro emergente Nombres en conflicto_Sin traducir](https://user-images.githubusercontent.com/102802425/196057841-d8c16a44-86ce-401b-a203-ea168f999acb.png)

[2022-10-16 21:03] #10235 closed

[2022-10-16 21:28] winston-de commented on #8366
possible? probably.
feasible? probably not.

it would require a lot of interesting things, like manually adding column definitions to the grid in code behind, as well as the bindings. And of course, the fun part is when something changes, and you have to manually update every single row.

[2022-10-16 23:00] JoshyJoshyVR opened #10236 "Not sure if right place if so let me know. Diskmgmt issue"
### Description

I cannot extend a drive in windows when there is a drive between as shown in the screenshot

### Steps To Reproduce

Shrink a disk
Put a drive inbetween empty and one you want extended

### Steps to fix

Not sure

### Files Version

Not sure as i dont have custom one

### Windows Version

11 22H2

### Relevant Assets/Logs

![image](https://user-images.githubusercontent.com/8392992

[2022-10-17 01:03] FineWolf opened #10237 "Cannot open .zip file through default association"
### Description

When Files is associated as a default application for `.zip` files, opening them will return a "No such interface supported" error.

![image](https://user-images.githubusercontent.com/203591/196068343-68ab872f-322c-436f-b644-bb973a67eae1.png)

### Steps To Reproduce

1. Associate through Apps › Default apps in the control panel `.zip` files to files.
    ![image](https://user-imag

[2022-10-17 01:49] p-yukusai commented on #10060
Yes, nothing has changed by using the current preview version (Version: 2.3.49.0)

[2022-10-17 02:55] alishtamimi commented on #8706
TBH, this deal breaker bug is holding me back from using the Files as default.

[2022-10-17 03:01] whytewolf69 commented on #10134
No there are no other modifications to my computer the issue as only
occurred since file app has been installed

On Mon, 17 Oct 2022, 02:38 Yair Aichenbaum, ***@***.***>
wrote:

[2022-10-17 04:49] Josh-65 commented on #10134
The screenshots you send clearly show lots/big modification to your Windows install. They don't have to be done after Files one to potentially cause issues. Can you say what programs/scripts you used to get that look on Windows

[2022-10-17 04:55] Josh-65 commented on #10237
Is this an issue in the preview version? https://files.community/download/preview

[2022-10-17 04:57] Josh-65 commented on #10236
This is not a Files issue.

[2022-10-17 04:57] #10236 closed

[2022-10-17 04:59] Josh-65 commented on #10236
This is not a Files issue. However, Aomei partition assistant will properly work for your use case to make sure you review the changes before running them

[2022-10-17 05:13] Josh-65 commented on #9241
Setting as default, 7zip integration which could also include #10035, how the toolbar works (Most people properly would come from using the ribbon which showed all options regardless of what selected. Users may think the ones shown are the only ones) and maybe tags when finished since most probably haven't used MacOS

[2022-10-17 05:44] gus33000 commented on #5135
Yes I am afraid it is still an issue. They need to be clearly separated like in explorer.

[2022-10-17 06:59] whytewolf69 commented on #10134
No the only thing that was put on was windows blinds and that was after the
problem had already occurred there's no other modifications on the
computer. Problem was already there before windows blinds was installed.

On Mon, 17 Oct 2022, 14:49 Josh-65, ***@***.***> wrote:

[2022-10-17 07:24] ferrariofilippo commented on #10230
Should this be applied to all columns or just to the name?

[2022-10-17 07:48] Jimmy20220531 commented on #10230
I can only ask the problem, but I am not enough to solve it.

[2022-10-17 07:53] ferrariofilippo commented on #10230
I know how to solve it, but this is an issue of all columns. I want to know if you think the width limit shoul be removed from all columns

[2022-10-17 07:56] Jimmy20220531 commented on #10230
just to the name is much enough, Thank you so much.

[2022-10-17 09:41] soredake commented on #10205
https://github.com/microsoft/WindowsAppSDK/issues/3060

[2022-10-17 10:15] ElitePheonix2009 commented on #10233
I am using the stable build.

[2022-10-17 11:49] JeanPhilippeGeorge commented on #4279
Not sure of what your want.

The main difference is that when clicking on Open in Files it does exactly the same than when clicking New. In Windows Files Explorer it opens it (see picture on top for the difference).

I'm guessing that there is a problem (cache?) when you are reading the values in the registry.

If not mistaken, those values come from here (get the default value):
![image](https://

[2022-10-17 13:38] leic4u commented on #9507
@Josh-65 Sorry for the delayed reply. And I want to know how to install preview version?

[2022-10-17 14:28] Josh-65 commented on #10237
if Files is set as default, then any time a zip is opened in File explorer it will open Files instead.

[2022-10-17 14:28] #10237 closed

[2022-10-17 14:30] FineWolf commented on #10237
Which is the desired behavior when setting Files as the default application; not the error message above.

[2022-10-17 14:30] Josh-65 commented on #9507
download it from https://files.community/download/preview > then click to install

[2022-10-17 22:41] JoshyJoshyVR opened #10244 "How to make Win+E Open custom files app?"
I wish to have Windows+E open the custom files app, instead of my normal one

[2022-10-18 04:24] ambitiousCC commented on #1928
Will the UI of the treelist-view change significantly in future development, or will it inherit the previous collapsed style?

[2022-10-18 06:10] Josh-65 commented on #10244
Files settings > experimental > set as default

[2022-10-18 06:10] #10244 closed

[2022-10-18 09:01] thanosrbg commented on #9995
Thanks for the preview it looks amazing nice job.

On Fri, Oct 7, 2022 at 9:26 PM Josh-65 ***@***.***> wrote:

[2022-10-18 10:04] leic4u commented on #9507
@Josh-65 Preview version. Has the same problem.

![image](https://user-images.githubusercontent.com/32786903/196400234-97214ebd-a929-4ce0-906d-a610c4f2933c.png)

[2022-10-18 10:49] Josh-65 commented on #9507
Asking @yaichenbaum for approval.

[2022-10-18 12:35] xnanitex opened #10245 "Feature: Switch between folders in dual pane view with a shortcut"
### What feature or improvement do you think would benefit Files?

Would be nice to switch between dual pane folders without using a mouse (as well and toggling it on or off).
The dual pane view feature is well-known since Total Commander (no doubt, a classical file explorer) and probably many users would love to try this out in a new way, so that the adding a keyboard shortcut in Files would faci

[2022-10-18 17:55] EldarTura opened #10246 "Add total length of a video file."
Hi

I think it would be handy to add a category that shows the total length (duration) in minutes or hours of a video file.

Best regards

Eldar

[2022-10-18 19:01] HyPeRXKo commented on #8485
Unfortunately, it's not working with WinRAR. (on the preview version)

[2022-10-18 19:23] Josh-65 commented on #10246
Please make a new issue following the issue templates.

[2022-10-18 19:23] #10246 closed

[2022-10-19 00:10] yaichenbaum commented on #5135
What do the icons look like?

[2022-10-19 00:13] yaichenbaum commented on #4279
I'd like to see screen recording of File Explorer compared to Files on your device so that I can verify I'm using the same steps on my end to reproduce the issue.

[2022-10-19 00:16] yaichenbaum commented on #9241
This isn't officially recommended

This is an interesting feature but it's something they will automatically discover as they use the app.

Tags still need a lot of work, and we'll have to evaluate the ease of use but that's a potential candidate for a teaching tip with a link to the documentation. I wouldn't want to prompt the user on an unfamiliar feature before the get a chance to play with the

[2022-10-19 00:19] yaichenbaum commented on #1928
@ambitiousCC the design will be based off the screenshot in the description.

[2022-10-19 00:24] #6773 closed

[2022-10-19 00:24] #7459 closed

[2022-10-19 00:24] #7052 closed

[2022-10-19 00:25] #6952 closed

[2022-10-19 00:25] #6905 closed

[2022-10-19 00:25] #6903 closed

[2022-10-19 00:25] #6877 closed

[2022-10-19 00:25] #6755 closed

[2022-10-19 00:25] #6624 closed

[2022-10-19 00:25] #6502 closed

[2022-10-19 00:25] #6430 closed

[2022-10-19 00:25] #7485 closed

[2022-10-19 00:26] #10128 closed

[2022-10-19 00:26] #8788 closed

[2022-10-19 00:26] #8732 closed

[2022-10-19 00:36] yaichenbaum commented on #6309
Can you share a screen recording so I can make sure I'm using the same steps on my end?

[2022-10-19 02:04] yaichenbaum commented on #10245
What shortcuts does Total Commander use?

[2022-10-19 02:16] #9125 closed

[2022-10-19 02:16] #9757 closed

[2022-10-19 02:16] #9768 closed

[2022-10-19 02:27] yaichenbaum commented on #6309
@Zilla0617 it looks like you're still using the stable version in the screen recording, can you try with preview build?

[2022-10-19 02:30] Zilla0617 commented on #6309
https://user-images.githubusercontent.com/71089409/196583212-432d878e-ad7b-4777-9d88-9c89b8814e14.mp4

Same result with preview version

[2022-10-19 03:01] yaichenbaum commented on #6309
Thank you for the recordings, I can confirm that I've tried these steps and cannot reproduce the issue. I think we need to continue trying to reproduce this on our end before we can work on a fix.

[2022-10-19 08:20] QuaintMako opened #10248 "Code Quality : Duplication of FileTagHelper"
There is currently two FileTagsHelper coexisting in the code. One in `Files.App.Helpers` and the other in `Files.App.Filesystem`.

They share multiple methods with the same signatures, however their implementations are somewhat different.

The two helpers should be merged into only one contained in `Files.App.Helpers`.

Extra attention must be taken to ensure the merge of the shared methods.

[2022-10-19 08:36] hez2010 commented on #10248
Noticed and I'm working on it currently.

[2022-10-19 09:38] QuaintMako commented on #9929
Tried to look into this direction as well, but it seems there is an insolvable issue in this path. `SidebarViewModel `does not have any inheritance whereas `TabItem` needs to answer to the format of `TabViewItem` defined by Microsoft. Hence, we cannot replicate the process with the `BitmapImage`.

Still trying to find a solution that being said.

[2022-10-19 10:14] QuaintMako commented on #10248
Perfect, thanks for bringing it up!

[2022-10-19 14:21] #10248 closed

[2022-10-19 14:23] #10217 closed

[2022-10-19 14:24] yaichenbaum commented on #10217
This issue will be resolved in the next preview build https://files.community/download/preview

[2022-10-19 14:27] yaichenbaum commented on #9507
What are the steps to reproduce the issue? It appears to be working correctly on my device.

[2022-10-19 14:33] ElitePheonix2009 opened #10251 "Add support for send to option"
### What feature or improvement do you think would benefit Files?

I will like to customize the context menu using a app, and the app puts the custom context menu items in the send to option. So, pls support the send to option.

### Requirements

- Add send to option to the context menu.
- Add all the options inside the send to option available in file explorer.

### Files Version

Version: 2.3.12

[2022-10-19 14:36] yaichenbaum commented on #10251
Merging with #7350

[2022-10-19 14:36] #10251 closed

[2022-10-19 14:40] ElitePheonix2009 commented on #7350
I will like to customize the context menu using a app, and the app puts the custom context menu items in the send to option. So, pls support the send to option.

[2022-10-19 15:31] yaichenbaum commented on #10245
The tab key is used to switch the focus between UI elements so that won't work here.

[2022-10-19 16:20] #9822 closed

[2022-10-19 16:53] cinqmilleans opened #10252 "Bug: Drives section has the wrong order"
### Description

The Drives section sometimes appears in the wrong order (with c: last), while the home page is correct.
The order should be by letter and not by discovery. The C: drive sometimes appears last.

### Steps To Reproduce

For C:, I do not know. It seems random, half the time.

The bug can be seen as follows:
1) Connect a USB key.
2) Connect a second USB key.
3) Remove the first USB ke

[2022-10-19 16:59] yaichenbaum commented on #10252
This looks good, feel free to open a PR.

[2022-10-19 17:01] cinqmilleans commented on #10208
I can't fix this bug. Editing the caption after it is displayed does not work. I tried several ways, without success. It seems that it's not possible in WinUi3, but maybe I missed something. I say no more about my attempts not to influence other developers who try.

[2022-10-19 17:23] cinqmilleans commented on #10208
No because it is a text that must be given to the DragEventArgs parameter received by the DragOver event. You must modify the e.DragUIOverride.Caption string. But keeping the instance to change it later doesn't work. DragEventArgs contains Modifiers which is the key used when dragging, but DragOver is not triggered when Modifiers change. So we can't use x:Bind.

[2022-10-19 17:30] yaichenbaum commented on #10245
We can easily use a shortcut like `ctrl` + `shift` + `alt` + `F1' but it's not going to be useful if it doesn't make sense. It's sometimes helpful to look at other apps to see how they handle this.

[2022-10-19 18:42] #10184 closed

[2022-10-19 21:19] Josh-65 commented on #8485
Asking @yaichenbaum for approval.

[2022-10-19 21:24] yaichenbaum commented on #8485
What steps can I use to reproduce this?

[2022-10-19 21:25] QuaintMako commented on #9929
@yaichenbaum had a look on the Microsoft side for the icon issue, and I don't think it's quite up my alley yet. I'm no C++ coder, and I think it'd take quite a while to find the problem and fix it.

So question is: how important is it for us to have the icons displayed on the tabs? If it's high, I'll persist on the Microsoft side, else I'll go focus on more pressing matters.

[2022-10-19 21:26] Josh-65 commented on #8485
1. Open the zip/RAR file in 7zip/WinRAR.
2. Select 20 or more files.
3. Drag the selected files to the Files window.
4. See only 16 files extracted.

[2022-10-19 21:28] yaichenbaum commented on #9929
It's a pretty high priority in the sense this is a regression since migrating to WinAppSdk but the issue itself isn't that bad. Is there an issue on their repo?

[2022-10-19 21:28] yaichenbaum commented on #8485
Is this an issue with Files or with the archive apps @gave92?

[2022-10-19 21:39] HyPeRXKo commented on #8485
For me, it's only an issue with Files, I can unzip from WinRAR to the windows explorer fully, but with files, it will only transfer 16.

[2022-10-19 23:28] #10228 closed

[2022-10-19 23:48] Dummyfun95 opened #10254 "Windows"
My hp laptop and the mouse couser disappeared on the windows setup screen on windows 11 is ther any way to recover it

[2022-10-19 23:49] Josh-65 commented on #10254
Not the place for this

[2022-10-19 23:49] #10254 closed

[2022-10-20 02:02] alishtamimi commented on #8706
Any progress on this bug? @yaichenbaum

[2022-10-20 02:13] yaichenbaum commented on #8706
Did you get a chance to test the difference between a standard launch and "open file location"?

I also recommend removing the stable version before installing the preview version and making it the default.

[2022-10-20 02:18] yaichenbaum opened #10255 "Bug: Setting image as wallpaper adds copy to the local state folder"
### Description

Setting an image as the desktop or lockscreen background adds a copy of the image to the local state folder

### Steps To Reproduce

1. Select a photo
2. Use the toolbar option to set as the desktop background
3. Navigate to the local state folder for Files (settings > about > open log location)
4. See the copy of the image

### Steps to fix

- Don't copy the image to local state,

[2022-10-20 04:28] yaichenbaum commented on #10213
Is this still an issue in the preview version? https://files.community/download/preview

[2022-10-20 04:34] yaichenbaum commented on #10186
My guess is Excel removes the alternate data stream that holds the tag. Pinging @hez2010 for thoughts on this issue.

[2022-10-20 04:37] yaichenbaum commented on #10173
This is the expected behavior, Files only knows about the tags in its database, unless we index the complete file system, we have no way to detect unknown tags in advance. Does the additional file go away if you turn off the setting to display alternate data streams?

[2022-10-20 04:38] yaichenbaum commented on #10171
This is due to some API limitations left over from UWP, we're doing work to resolve this and it's high on our priority list.

[2022-10-20 04:40] yaichenbaum commented on #10151
Is this specific to the details layout?

[2022-10-20 04:41] yaichenbaum commented on #10151
We made some changes to the file handlers in v2.3.50, while they weren't specific to this issue, it might have solved them. Can you  check if it's still an issue?

[2022-10-20 04:42] yaichenbaum commented on #10054
Is this still an issue in the preview version? https://files.community/download/preview

[2022-10-20 04:45] yaichenbaum commented on #9908
Merging with https://github.com/files-community/Files/issues/9841

[2022-10-20 04:45] #9908 closed

[2022-10-20 04:47] yaichenbaum commented on #9816
Is this still an issue in the preview version? https://files.community/download/preview

[2022-10-20 07:27] JeanPhilippeGeorge commented on #4279
Files : https://1drv.ms/v/s!AveH8oTUFVRYk_BBrNddr8qP11zF9g?e=MMlzu1

Windows Explorer : https://1drv.ms/v/s!AveH8oTUFVRYk_BC7jLJBTPWkgNDNw?e=4kdcZ6

[2022-10-20 07:32] QuaintMako commented on #9929
An issue has been opened, as it was mentionned in the comments above. For me, to _try_ and just _try_ to fix it is gonna have a big entry cost since I don't usually do C++. Not even sure I'll find a solution.

It's mostly to known if I focus on this issue or if I spend sometime first on others pressing issues. (Crashes / perfs etc...)

[2022-10-20 09:34] Abell1656 opened #10256 "Bug: Clicking preferences in settings causes network drives to load again"
### Description

As soon as you switch to the "presets" tab in the settings, Files is automatically adding network drives for the unused drives (drive letters).

### Steps To Reproduce

* precondition: some network drives have to be defined

* open the settings and change over to the "presets" - tab
* as soon as the tab has become active Files will start to fill all unused drives (drive letters) w

[2022-10-20 14:17] tangtao199511 opened #10257 "The width of the "file tag" in the details layout is too wide"
Thank you so much for developing such a good-looking and handful file app. I want to replace it with the original file explorer.

But I am so sorry that there might be some imperfects in the latest version.

1. The width of the "file tag" **in the details layout** is too wide, and the default width of all the colunms are not customizable. Every time I directed to a new location, the width of the c

[2022-10-20 14:50] #10230 closed

[2022-10-20 14:55] yaichenbaum commented on #9929
WinUI 3 is closed source so there isn't anything we can do from our end.

[2022-10-20 15:05] yaichenbaum commented on #10257
The latest preview build allows you to set the default width of columns (it still allows you to override the default widths in individual directories).

The preview build has a number of performance improvements but please be advised that there may be unexpected issues with this build. https://files.community/download/preview

[2022-10-20 15:05] #10257 closed

[2022-10-20 15:43] cinqmilleans opened #10261 "Feature: Display drive letter of the connected network drives"
### What feature or improvement do you think would benefit Files?

It is possible to assign a letter to a network drive. It then appears in the local drives but without displaying its letter. I don't know if it's a bug or if it's intentional. It would be convenient to display its drive letter like any other drive. I see no reason not to.

### Requirements

Modify DriveItem.Text for network drives.

[2022-10-20 15:46] yaichenbaum commented on #10261
It should probably be displayed

[2022-10-20 16:16] #10252 closed

[2022-10-20 16:27] yaichenbaum commented on #4279
When I try opening the dotx file from File Explorer, it creates a copy rather than open the existing template.

[2022-10-20 16:37] JeanPhilippeGeorge commented on #4279
Yes, it does what New does instead of opening the file. New is the default operation in Windows Explorer

[2022-10-20 17:26] #5011 closed

[2022-10-20 17:27] khanhtoan529 commented on #9816
yeah, it's fixed now

[2022-10-20 17:27] #9816 closed

[2022-10-20 17:36] piotr25691 opened #10262 "Files still believes files are moving when they are done moving"
### Description

When you are moving files with Files, it gets stuck at 0%, and it stays at 0% even after the files are done moving so it never believes it moved anything

### Steps To Reproduce

1. Move a file to another location
2. Click on the button where ongoing actions are shown
3. Experience it showing "0%" regardless of the current file status

### Steps to fix

- When you move a file it s

[2022-10-20 17:45] cinqmilleans opened #10263 "Bug: Properties window for drives displays the drive letter in the name text box"
### Description

The properties textbox for renaming a drive initializes the field with the drive letter (ex: "SSD (D:)"). If the name changes, it is used to rename and Windows adds the path to it. It is therefore necessary to delete the useless path to rename it.

### Steps To Reproduce

1. Open the properties of a fixed drive.
2. The textbox of name contains the name and the path.

### Steps to

[2022-10-20 17:45] QuaintMako commented on #9929
... Okay I was about to work on WinUI 2 ! Thanks for pointing it out. Well, in that case I'll go raise an issue to WinUI3.

I'm still not sure how to make a custom controller for that issue though, so I'll pass the towel to someone more experimented that I.

Worst case scenario, we still have the possibility to replace the icons by Symbol Icons as was done in #10188 until WinUI 3 fixes it;

[2022-10-20 18:04] tangtao199511 commented on #10257
Thank you very much. I will try it on immediately.

Best

From: Yair Aichenbaum ***@***.***>
Sent: Thursday, October 20, 2022 4:05 PM
To: files-community/Files ***@***.***>
Cc: tangtao199511 ***@***.***>; Author ***@***.***>
Subject: Re: [files-community/Files] The width of the "file tag" in the details layout is too wide (Issue #10257)

The width of the "file tag" in the details layout is too wid

[2022-10-20 19:19] lucky-ly opened #10264 "Scroll wheel doesn't work in context menu when x-mouse button control is active"
### Description

I use X-mouse Button Control to disable annoying back/forward behaviour of 4/5th mouse buttons. But if XMBC is active, I can't scroll context menus with scroll wheel in Files. Scrolling works fine in all other places (mail files list, left panel, preferences, etc).

### Steps To Reproduce

1. Install and launch X-Mouse Button Control
2. Set "Move overflow items into a submenu" to

[2022-10-20 20:57] cinqmilleans opened #10265 "Bug: Tabs have wrong text in dual pane layout"
### Description

In dual panel mode, the tab labels show the 2 open folders. But when we change the folder of the right panel, the title of the left panel also changes. This is not the case when modifying the left panel.

### Steps To Reproduce

1. Open folder 1 in left panel and folder 2 in right panel.
2. Give the focus at the right panel.
3. Open folder 3 in the right panel.
4. The tab label is

[2022-10-20 21:06] gave92 commented on #10245
We already have this, don't we? Should be Ctrl+Shift+Left/Right arrow key iirc.

[2022-10-20 21:19] generalguy41 commented on #5759
Looks like the issue still applies for the Columns layout

https://user-images.githubusercontent.com/8879244/197060345-1dc97412-0196-450b-aa41-30f322e3d10d.mp4

[2022-10-20 21:21] #10245 closed

[2022-10-20 21:30] lukeblevins commented on #9858
@yaichenbaum This can probably be pinned again.

I am working on the RecycleBin handler/watcher so that one can be assigned to me.

[2022-10-20 22:23] yaichenbaum commented on #10263
Where should it be displayed and should it be displayed at all?

[2022-10-20 22:24] yaichenbaum commented on #10265
@lukeblevins is this resolved by your refactor work?

[2022-10-20 22:39] Lord-Balzac opened #10266 "Opening OneDrive page causes all files to be downloaded to device 每次打开OneDrive页面都会使OneDrive下载我的全部文件"
### Description

Everytime I open OneDrive Folder in Files App would sync all my files to my device.
----
每次我在Files内打开OneDrive文件夹都会使OneDrive同步我的所有文件。

### Steps To Reproduce

- Select OneDrive in the left panel and open it
- The OneDrive page will be blank for seconds
- As the file list is shown , the OneDrive app shows that files with only Internet access are being downlaoded
----
- 在左栏中选择OneDriv

[2022-10-21 00:32] verdaderoken commented on #10151
Dragging looks fine so far. I'll reopen this if it happens again :) Thank you!

[2022-10-21 00:32] #10151 closed

[2022-10-21 04:54] Josh-65 commented on #10266
Can you see if this is an issue in the preview version? https://files.community/download/preview

[2022-10-21 05:07] Lord-Balzac commented on #10266
Oops, I can't install the preview version on my device.
![image](https://user-images.githubusercontent.com/51845167/197116600-9422189d-9573-4b2a-8a44-eb3cb4a40c79.png)

[2022-10-21 05:08] Josh-65 commented on #10266
Try restarting your computer and trying it again

[2022-10-21 05:22] Lord-Balzac commented on #10266
It seems that the issue is gone for now.

[2022-10-21 05:29] #10266 closed

[2022-10-21 08:29] itsWindows11 commented on #9858
I can take a look at removing LibrariesHandler, probably not NetworkDrivesHandler because I don't have a network drive to test on.

[2022-10-21 10:05] Tarog opened #10267 "Files crashes after opening and closing the properties of a file or folder"
### Description

After right clicking a file or folder and selecting prooperties, closing out of the properties window crashes the app.

### Steps To Reproduce

1.right click any file or folder
2. selecr properties
3. exit out of the properties window

### Steps to fix

- eg. Fix crash that occurs when...
- eg. Correct action happens when clicking...

### Files Version

files 2.3.12.0

### Windows

[2022-10-21 12:03] QuaintMako opened #10268 "Code quality: Await is being used inside foreach loop"
### Description

Through the code, we can find some pieces of code looking like :

[code]

It is not the most efficient way of performing the tasks, since it means we are waiting for each task to be done before performing the next one. It would be much faster to perform all the task using the `Task.WhenAll `process.

As an exemple, using this process inside the `AddAllItemsToSidebar` method allowe

[2022-10-21 13:17] lukeblevins commented on #10265
@yaichenbaum Yes, it should overhaul that behavior. Regardless, you can assign this one to me.

[2022-10-21 14:14] yaichenbaum commented on #10267
This is fixed in the latest preview version

[2022-10-21 14:14] #10267 closed

[2022-10-21 14:16] yaichenbaum commented on #10268
Marking this as ready to build

[2022-10-21 14:42] #10261 closed

[2022-10-21 14:45] yaichenbaum commented on #10001
@cinqmilleans do you want to look at this?

[2022-10-21 14:56] cinqmilleans commented on #10263
You can simply remove the path when editing. Here is a mockup.

https://user-images.githubusercontent.com/46631671/197225832-e27acaaa-e016-4e6e-a006-434fbbe2b554.mp4

[2022-10-21 15:13] yaichenbaum commented on #10263
We can try that behavior, it might be confusing but we can see how it works.

[2022-10-21 15:15] yaichenbaum commented on #9858
Love the enthusiasm!

@itsWindows11 I believe there are ways to create virtual network drives.

Fyi @gave92

[2022-10-21 15:45] cinqmilleans commented on #10001
Ok I analyze the bug.

[2022-10-21 16:31] shadow575bg opened #10270 "Default file manager Bug"
### Description

Well I just installed today Files and want to try if I use the ,Set Files as the Default file manager,
But when I have (RuntimeBroker.exe errors every time) Then i wanted to use the standard file manager but then i get this error
(View Image 1, If Someone want to see My RuntimeBroker.exe error is - ShareX_TPXrE2OCw0)
Is there any fix to this?

 And The Sad Think i need to be with

[2022-10-21 16:42] yaichenbaum commented on #10270
Thank you for your feedback, this might be fixed in the preview version, but we don't have any plans to continue tracking this issue https://files.community/download/preview as we're hoping Microsoft will provide an official solution for changing the default file manager.

[2022-10-21 16:42] #10270 closed

[2022-10-21 17:27] gave92 commented on #10268
Consider that doing this in AddAllItemsToSidebar  would change the order of the items. Some more changes are required.

[2022-10-21 17:34] yaichenbaum commented on #10268
I think every scenario needs to be evaluated.

[2022-10-21 17:49] Josh-65 commented on #9858
You can go to file explorer > right click a drive > go to properties > sharing > advance sharing > share this folder > ok. Then it will show up in the network section under your computer name. Which you can map to a drive letter

[2022-10-21 17:51] Josh-65 commented on #10263
Having the path there doesn't cause issues when renaming for me it. it will remove the path if there when setting the name.

[2022-10-21 17:53] gave92 commented on #9858
What I usually do is creating a shared folder on my PC and then map it to a network drive with path `\\localhost\myFolder`

[2022-10-21 18:41] verdaderoken opened #10271 "Bug: App crashes"
### Description

Occurs once when I tried to toggle the "**Calculate Folder Sizes**" but I'm not sure because it didn't crash again after reproducing.

### Steps To Reproduce

Might not be these steps but for me, it happened this way:

1. Go to settings
2. Turn on Calculate Folder Sizes,

### Steps to fix

- Prevent app crash

### Files Version

2.3.51.0

### Windows Version

10.0.22623.870

### R

[2022-10-21 19:20] ferrariofilippo commented on #7573
It seems this issue doesn't involve archive extraction (English US).

![Image](https://user-images.githubusercontent.com/102259289/197273167-83ad6b1e-4670-484f-98fb-7fc8342d6658.png)

[2022-10-22 04:25] leic4u commented on #9507
@yaichenbaum I dont know what's speacial I did, I just installed Files App from MS Store ( and preview version from community because of Josh-65 ).
My OS is Windows 11 Pro 22H2 22623.870 ( Windows Feature Experience Pack 1000.22636.1000.0 ) Windows insider beta

[2022-10-22 05:31] 9xr42 opened #10272 "App Crashes when scroll"
### Description

On certain pages in Files, when scrolled to the bottom, the app completely freezes, and then crashes and closes down.

### Steps To Reproduce

1. Go to either the Downloads folder or the Documents folder.
2. Make sure the contents in the folder are more than what fit in a single page so scrolling is required.
3. When scrolled quickly to the very bottom, and even past it showing th

[2022-10-22 05:33] Josh-65 commented on #10272
Can you see if this is an issue in the preview version? https://files.community/download/preview

[2022-10-22 05:37] Josh-65 commented on #10271
@cinqmilleans could this be from the recent drive's changes?

[2022-10-22 09:12] cinqmilleans commented on #10001
@yaichenbaum No, because the issue already exists in the preview version, before my changes. I was able to reproduce the problem, I will analyze.

[2022-10-22 09:28] cinqmilleans commented on #10271
@Josh-65 I cannot reproduce the issue. I will analyze your logs to try to understand.

[2022-10-22 11:29] QuaintMako commented on #10268
I did the tests on `AddAllItemsToSidebar ` since it was a pretty easy step to test. Each and every modification will be evaluated for sure, it works only in scenarios where the order of task execution does not matter.

[2022-10-22 11:58] cinqmilleans commented on #10001
@yaichenbaum There is a logic to this behavior. OneDrive uses a folder placed by default in the C: drive.
The sizes displayed therefore correspond to the disk that hosts the folder synchronized with OneDrive. However, the expected, intuitive behavior is to display the remote sizes. This requires code to retrieve these values. It appears that this code does not currently exist for any cloud provide

[2022-10-22 18:06] ferrariofilippo commented on #7573
I was testing this feature in the preview and it seems that progress bar is stuck at 0%

![Image](https://user-images.githubusercontent.com/102259289/197356004-f07f5766-10de-4565-9691-0b1e407e6ad4.png)

[2022-10-22 20:17] rokejulianlockhart commented on #6408
@yaichenbaum, should this consequently be closed as not planned rather than completed?

[2022-10-22 23:22] Josh-65 commented on #6408
We don't use githubs close states thing as theres no reason too.

[2022-10-23 00:07] yaichenbaum commented on #10001
That's correct, this issue has been around for a while and isn't related to any of your recent changes.

I imagine the expected behavior for cloud drives is to only display the remote values and to fall back on the local values if that's the only information available.

[2022-10-23 00:09] #6408 closed

[2022-10-23 02:09] #1479 closed

[2022-10-23 02:09] #8699 closed

[2022-10-23 09:53] h3x1e opened #10276 "Bug: Always open new tabs in dual pane doesn't work on startup"
### Description

Dual Pane view is enabled in settings, when opening Files App both panes are no visible.

Tab indicates that there is a second pane open.

Switching to compact view then back to normal view causes the second panel to show correctly.

Opening new tab does not activate Dual Panel view.

### Steps To Reproduce

- Go to settings > Multitasking > Check Enable dual panel view + Always o

[2022-10-23 13:27] N0C1 opened #10277 "Exessive memory usage of runtimebroker.exe trough Files when accessing network drives"
### Description

Runtimebroker.exe responsible for checkign universal app permissions bloats memory usage, when accessing network shares trough files app.

In my case up to 8 GB (32 GB RAM).

### Steps To Reproduce

- Open a SMB file location
- Access or open a file (large files increase the effect)

### Steps to fix

Closing the files app lets runtimeborker.exe return to normal, in my case less t

[2022-10-23 13:44] richardvlittlewood opened #10278 "Add a more compact view"
### What feature or improvement do you think would benefit Files?

The spacing between items in the list view is excessive, even with the "compact styles" option selected. This requires more scrolling to see the same number of lines. The app should support a view at least as compact as windows 10 file explorer.

### Requirements

Modify compact styles option to offer an extra level of compactness

[2022-10-23 14:28] onein528 commented on #9929
@yaichenbaum We have same issue. This issue seems to be an issue MUX-side. TabView control certainly worked properly in WinUI 2.7 and also although I searched mux repo for this issue, there is no such an issue filed.

[2022-10-23 14:31] hc2cr7 opened #10279 "Not working Drag and drop files in FL studio"
### Description

I am trying to drag a .wav audio file into FL studio but FL studio not accepting the file through Files app, but drag and dropping the same file through windows file explorer is working, I tried drag and dropping the same file with Files to other software and its working, only having issue with FL studio

### Steps To Reproduce

Just drag and drop an audio file into FL studio

###

[2022-10-23 14:40] yaichenbaum commented on #10278
This is resolved in the preview build https://files.community/download/preview

[2022-10-23 14:40] #10278 closed

[2022-10-23 14:41] yaichenbaum commented on #10277
Merging with #4180
You can also try the preview build which already has some improvements in this area https://files.community/download/preview

[2022-10-23 14:41] #10277 closed

[2022-10-23 14:45] yaichenbaum commented on #9929
@onein528 have you filed an issue on the WinUI repo?

[2022-10-23 14:48] 0x5bfa opened #10280 "Bug: Exception is thrown when previewing html files"
### Description

https://github.com/files-community/Files/blob/d4bb3e867cf7f52bf9ddc184501a993e3ccb40c5/src/Files.App/UserControls/FilePreviews/HtmlPreview.xaml.cs#L10-L25

In my other app's tests, even if I called Ensure-- method before calling NavigateToString, WebView2 throw an exception that is something like 'Method was called unexpected time'. So notice that WebView2 is still  surprisingly u

[2022-10-23 14:49] onein528 commented on #9929
I'll do it.

[2022-10-23 15:24] yaichenbaum commented on #10280
Is this a bug report or code quality issue?

[2022-10-23 15:36] hez2010 commented on #10280
It's a bug. We should ensure CoreWebView getting loaded.

[2022-10-23 16:47] DeveloperWOW64 opened #10281 "Feature: Update themes"
### What feature or improvement do you think would benefit Files?

Some themes (Modern House, Bound to Be Blue, Luxury Red) need to be updated to the latest schemas and/or be abandoned.

### Requirements

_No description provided_

### Files Version

Version: 2.3.12.0

### Windows Version

Windows 11 Insider Beta 22H2 22623.870

### Comments

Fixed by: #10275

[2022-10-23 16:54] yaichenbaum commented on #10281
What are the issues with those themes and what do you think will solve them?

[2022-10-23 16:59] DeveloperWOW64 commented on #10281
* They have outdated template
* Modern House needs to exist
* Luxury Red needs to not exist

[2022-10-23 17:26] CamTheHelpDesk opened #10282 "Feature: Toggle legacy copy dialog"
### What feature or improvement do you think would benefit Files?

While I appreciate the simple "Ongoing Tasks" menu, I do appreciate the default Windows copy dialog, especially when I'm copying large files, as it allows me to see what exactly is going on and identify what files are failing.

A toggle between the ongoing tasks menu and legacy copy dialog would solve this issue.

### Requirements

[2022-10-23 17:31] gave92 commented on #10271
Might just be a concurrency issue. e.g replacing DriveSizeProvider's Dictionary with ConcurrentDictionary (or adding some locks) could fix this.

[2022-10-23 17:48] yaichenbaum commented on #10282
Merging with #6825 #4811

[2022-10-23 17:48] #10282 closed

[2022-10-23 17:56] yaichenbaum commented on #10281
What do you mean by outdated template?

I'm not sure I'm following, can you explain what you mean by this?

[2022-10-23 18:03] N0C1 commented on #10277
Hi yiachenbaum,

thanks for the suggestion & your great piece of work!
Switched to preview, but the issue persists.
Looking forward to new versions!

[2022-10-23 18:05] yaichenbaum commented on #10277
Can you send a screenshot? The preview build doesn't use runtime broker.

[2022-10-23 18:20] N0C1 commented on #10277
Hello,

there you go:
![image](https://user-images.githubusercontent.com/48812025/197408996-a9f4e3ca-2fb3-42b9-8d0f-fbdf3fa741c7.png)
[debug.log](https://github.com/files-community/Files/files/9847240/debug.log)
If you need additional files let me know.

I also noticed that it initially downloaded stable, when I clicked Preview on the website.

https://user-images.githubusercontent.com/48812025/19

[2022-10-23 22:36] Dummyfun95 opened #10286 "Windows"
Can someone help me get any files I need

[2022-10-23 23:00] #10286 closed

[2022-10-24 00:15] verdaderoken commented on #10279
Same issue with [#9788](https://github.com/files-community/Files/issues/9788)

Related:
Drag & drop also doesn't work in Messenger Desktop using Files app

[2022-10-24 04:11] Josh-65 commented on #10279
Can you see if this is an issue in the preview version? https://files.community/download/preview

[2022-10-24 06:19] verdaderoken commented on #10279
Yes, still an issue in the preview version
![image](https://user-images.githubusercontent.com/88200096/197460242-34068f70-d542-4b42-aec9-b01d14e2f064.png)

[2022-10-24 08:45] Josh-65 opened #10289 "Bug: Trying to open properties from blank area of a folder doesn't open window"
### Description

Read steps to reproduce for a clearer understanding.
Side note when right clicking a folder and opening properties it will open two windows of the same folder just clicked on.

### Steps To Reproduce

1. Go to a folder
2. Right click empty space
3. Click properties
4. See window doesn't open

### Steps to fix

Fix issue preventing window from opening

### Files Version

2.3.51.0

[2022-10-24 14:30] cinqmilleans commented on #10289
@yaichenbaum I identified the line of code to fix for this bug. However, it would be nice if the Show Properties command in the context menu corresponded to that in the action bar. It should be possible to open the properties from the quick actions when no element is selected. Is this the expected behavior?

[2022-10-24 14:35] yaichenbaum commented on #10289
Not currently but I don't see why it shouldn't be supported.

[2022-10-24 17:48] lukeblevins commented on #6692
One year on, we're taking an entirely different approach with the storage layer.

This will be publicized through final specifications, blog posts and docs once myself, et. al agree to start implementing it; but it will be influenced by the work led by @Arlodotexe to create a CommunityToolkit.Storage abstraction.

`ListedItem` will be no more - at least in its current form. More details will come

[2022-10-24 17:48] #6692 closed

[2022-10-25 03:31] alishtamimi commented on #8706
Yes, I did that. But nothing helped. It takes so much time to open file location from edge download section.

[2022-10-25 03:51] yaichenbaum commented on #8706
Did you time the difference between the different versions?

[2022-10-25 04:40] alishtamimi commented on #8706
I'm sorry I didn't track the time difference between previous versions.
But what I can tell that it is as slow as before.

[2022-10-25 04:45] lukeblevins commented on #9858
@yaichenbaum Can this be updated and assigned to @itsWindows11 and me?

[2022-10-25 04:48] lukeblevins commented on #9858
@itsWindows11 Just a fyi: It may be easier to rebase your branch based on #10283 once done testing. You can also open a PR to my PR branch and I'll absorb those changes you've done during review.

[2022-10-25 05:19] alishtamimi commented on #8706
The latest prerelease version takes about 11 seconds to open the file location, but it sometimes opens in 4.5 seconds.

[2022-10-25 08:16] QuaintMako opened #10291 "Actions with dropdown not displaying correctly in "..." dropdown of the Toolbar"
### Description

When Files' window is small enough to force the toolbar actions to collapse into a "..." dropdown, some actions are not displaying correctly inside of it.

It seems to be specifically the actions leading to another dropdown : Set As Background, Extract etc...

### Steps To Reproduce

In the case of an image :

1. Reduce the size of the app window until the toolbar actions are coll

[2022-10-25 08:17] QuaintMako commented on #10291
We can see that the dropdown arrow is aligned on the left. It may be linked to it.

[2022-10-25 14:53] #6400 closed

[2022-10-25 14:58] yaichenbaum commented on #10291
It's likely a result of the custom style those drowdowns use. It'll take some work to fix but it's an issue nontheless.

[2022-10-25 15:12] #8515 closed

[2022-10-25 23:14] kaname-png opened #10296 "Allow to set Files as default file explorer only for the current user"
### What feature or improvement do you think would benefit Files?

Currently when you enable the option to set Files as the default file manager, it applies that option to all users of the computer, so if a user does not have Files installed then Windows throws an error that the application is not installed.

This way you can choose which users want to set Files as the default file explorer and wh

[2022-10-25 23:15] Josh-65 commented on #10296
This is fixed in the preview version? https://files.community/download/preview
When downloaded just turn the toggle on > then off > then on to get the updates.

[2022-10-25 23:15] #10296 closed

[2022-10-26 01:28] #10157 closed

[2022-10-26 07:20] Josh-65 opened #10300 "Bug: Folder with zips in loads quite slowly"
### Description

I have a folder with 14 zip archives in and it takes about 10 seconds for it to load but after when going in and out of the folder its instant. This seems to only happen after a computer restart or Files update.

### Steps To Reproduce

1. Create a folder with 10+ archive files
2. Restarting computer
3. Navigate to the folder of archives

### Steps to fix

?

### Files Version

2.

[2022-10-26 07:23] Josh-65 opened #10301 "Bug: Archive information is not shown when open"
### Description

Date created, Date modified, and File sizes are shown as 0. 7z and I presume RARs will have the icons blank.
![image](https://user-images.githubusercontent.com/26977075/197961137-1e6d465b-b795-4dd7-8a33-2a570f193f49.png)

### Steps To Reproduce

Open a 7z archive

### Steps to fix

?

### Files Version

2.3.51.0

### Windows Version

10.0.22621.675

### Relevant Assets/Logs

[debu

[2022-10-26 13:05] QuaintMako commented on #10221
It'd be a fine addition to Files.
Working on an issue related to file renaming, the file extension confirmation pop-up was slowing me down quite a bit.

[2022-10-26 13:28] onein528 commented on #10280
No a bug basically. It's a spec. but failing even though you added ensuring method is a bug.

[2022-10-26 13:37] DuckEater commented on #1928
I know i'm not a big sponsor, but I'm doing my bit to support the development of this particular feature.

It's a big lacking in Windows (for anyone moving from MacOS to Windows at least) and Files seems to me the best way to fill this gap. Considering the number of people looking for this feature (beyond the Files forum), when it is implemented I think it will attract new users !

[2022-10-26 14:21] QuaintMako opened #10304 "Code Quality: Duplication in ModernShellPage and ColumnShellPage"
### Description

Some code is duplicated between `ModernShellPage.xaml.cs` and `ColumnShellPage.xaml.cs`. Sometimes it's entire methods, sometimes it's only partial bits.

We should look into fusing the two classes into an `abstract class BaseShellPage` to regroup the duplicates.

### Concerned code

- ModernShellPage.cs
- ColumnShellPage.cs

### Gains

- Better maintainability.
- No need to do th

[2022-10-26 14:24] yaichenbaum commented on #10280
Do you want to open a PR for this?

[2022-10-26 14:25] yaichenbaum commented on #1928
Thank you for your feedback, a tree view will definitely expand the user base and is something we're looking forward to implementing when we make some more progress on performance and code base improvements.

[2022-10-26 14:26] QuaintMako opened #10305 "Duplication in DetailsLayoutBrowser, ColumnViewBase and GridViewBrowser"
### Description

Some code is duplicated between `DetailsLayoutBrowser.xaml.cs, `GridViewBrowser.xaml.cs` and `ColumnViewBase.xaml.cs`. Sometimes it's entire methods, sometimes it's only partial bits.

These classes are already inheriting from `BaseLayout.cs`. The duplicated code may be better hoisted inside this class.

### Concerned code

- BaseLayout.cs
- ColumnViewBase.xaml.cs
- DetailsLayoutB

[2022-10-26 14:28] yaichenbaum commented on #10305
@lukeblevins do we want to move ahead with removing duplicate code in this area? It might help future refactoring efforts but I'm not sure if it conflicts with your current work.

[2022-10-26 14:29] yaichenbaum commented on #10304
I believe @lukeblevins has some ideas on this but it doesn't hurt to write them down.

[2022-10-26 14:45] lukeblevins commented on #10304
This should have been informed by the work that's in progress. The PR for it is open already as a draft. I'd prefer if we used that work instead.

[2022-10-26 14:47] #10304 closed

[2022-10-26 15:07] cinqmilleans commented on #10301
The library used, SevenZipExtractor, returns the current date for CreationTime and LastAccessTime. It only has LastWriteTime, which is the date of the file. The size is always 0.

If necessary we can display the date of the file, or display nothing if we have no relevant information.

[2022-10-26 16:51] #9499 closed

[2022-10-26 16:52] TheNopCrafter opened #10307 "Very good Explorer Alternative, but very, very slow!"
### Description

Files is really a good explorer, bur also very slow. If you switch between folders in the menu on the right, it lags. I have also tried in the Preview version…. it is a little, little bit better. But the same thing is if you go into an under folder, and another etc. It is much too slow… But at first, the "slowness" did not touch me but when I wanted to copy some data this takes of

[2022-10-26 16:53] yaichenbaum commented on #10307
Merging with #4180

[2022-10-26 18:02] songfengcctv opened #10308 "File"

[2022-10-26 18:05] #10308 closed

[2022-10-26 18:44] #10307 closed

[2022-10-26 19:28] lukeblevins commented on #9858
Thanks to work submitted from @itsWindows11 and others, #10283 is now ready for extensive testing and review.

[2022-10-27 03:20] Josh-65 commented on #10307
Speed improvements are always being made. You can try the preview builds https://files.community/download/preview as it's faster.

[2022-10-27 13:16] SimonL888 opened #10311 "Crash when using back button on mouse"
### Description

If one uses the back-button on the mouse and (mostly when more tabs are open) the app crashes completely.

### Steps To Reproduce

1. open app
2. open some taps
3. press back button on your mouse
4. app crashes

### Steps to fix

### Files Version

Version: 2.3.12.0

### Windows Version

Windows 11 10.0.22000.1165

### Relevant Assets/Logs

[code]

[2022-10-27 13:19] SimonL888 opened #10312 "Replace dialog on ftp-servers and net-drives"
### What feature or improvement do you think would benefit Files?

Please include a dialog if one want to replace a file when working on a network-drive. Now there is always coming up a copy of the file and no dialog or option to replace files or to decide on that behavior.

### Requirements

-New dialog on net drives to replace files or overwrite them

### Files Version

Version: 2.3.12.0 OS Vers

[2022-10-27 15:02] CarlosCevallos opened #10313 "Contenedores: Se pierde la configuración de carpetas"
### Description

Se pierde la configuración de carpetas al crear un Contenedor.

Me despido, sin antes, agradecerles por este programa que me parece fabuloso !.
Muchas gracias por este grandísimo aporte.

### Steps To Reproduce

1.- Abrir el "Files"  ( Versión: 2.3.12.0 OS Version: 10.0.19044.2132  )
2.- Click en boton "..." y "Crear Contenedor"
3.- Dentro del Nuevo Contenedor,  dar clik en "Agreg

[2022-10-27 15:03] foxxyboy16 opened #10314 "Cannot unmount virtual disk images."
### Description

Cannot unmount virtual disk images.

### Steps To Reproduce

1. Go to the appropriate folder where your .iso image located
2. Click on Mount and mount an iso image
3. Unmount iso image
Actual result:
Image cannot unmount properly

Expected result:
Image should be unmounted.

### Steps to fix

Release the proper update.

### Files Version

Version 2.3.12

### Windows Version

Windo

[2022-10-27 16:47] silversparker opened #10315 "Themes"
First of all, thanks for creating the app, I love to use it.

I just have a little suggestion or rather a question regarding your pre-installed themes. I love to use the glass theme but whenever the files windows is inactive, the semi-transparent background gets replaced by a black background. Is there any way around this or could you change that in the next release? I didnt find anything in the d

[2022-10-27 16:50] #10315 closed

[2022-10-27 16:51] gave92 commented on #10315
Happy you like Files:) Unfortunately this is a system limitation. Windows turns off transparency if an app is not on the foreground.

[2022-10-27 16:52] #10313 closed

[2022-10-27 16:52] gave92 commented on #10313
Thanks for the report. I'm closing this as we're in the process to replace Bundles with the file tags feature.

[2022-10-27 16:53] #10312 closed

[2022-10-27 16:53] gave92 commented on #10312
Merging with #8609

[2022-10-27 17:39] Josh-65 commented on #10314
Merging with #10154

[2022-10-27 17:39] #10314 closed

[2022-10-27 17:40] Josh-65 commented on #10311
Can you see if this is an issue in the preview version? https://files.community/download/preview

[2022-10-27 19:34] CarlosCevallos opened #10316 "Column mode improvements"
### What feature or improvement do you think would benefit Files?

1.- You can move the separation lines of the columns dynamically.
2.- Modify the font size of file names.

### Requirements

You could see the full names of the files or folders with better clarity

![files-2-col](https://user-images.githubusercontent.com/10996684/198381994-69b42b8e-a261-489e-88a0-78583fc75f3e.png)

### Files Versi

[2022-10-27 19:43] QuaintMako commented on #5853
This one is only an issue of location. Can be pretty easily fixed on Crowin. Problem is the modification needs to be propagated to all languages. Is there a way to raise an issue on a given string on all translations?

[2022-10-27 19:47] yaichenbaum commented on #10316
Merging with #6534

[2022-10-27 19:47] #10316 closed

[2022-10-27 19:57] CarlosCevallos commented on #10316
Excuse my ignorance please, I would like to understand...
You are closing this message because
1.- is not important now?
2.- Will it be taken into account in another version?
3.- Have the settings already been made? ..if so ...where or how do I configure it?

Could you guide me please?

[2022-10-27 20:48] yaichenbaum commented on #10316
We're tracking this feature request in an existing issue.

[2022-10-28 05:33] WilliamDelRey opened #10317 "Dual panel view doesn't have 'memory' when 'Continue where you left off' option is selected"
### Description

Dual panel view doesn't have 'memory'  when 'Continue where you left off' option is selected, the expected behavior is with dual panel enabled to reopen both panels

### Steps To Reproduce

1. Select 'Continue where you left off' option in startup setting
2. Enable dual panel view
3. Add a second panel
4. Close Files
5. Open Files

### Steps to fix

- eg. Fix crash that occurs whe

[2022-10-28 05:35] Josh-65 commented on #10317
Can you see if this is an issue in the preview version? https://files.community/download/preview

[2022-10-28 06:04] WilliamDelRey commented on #10317
It works like a charm! Great work!!!

[2022-10-28 06:04] #10317 closed

[2022-10-28 07:38] SimonL888 commented on #10311
Yes the problem is still there see logs from preview Version:

2022-10-28 09:36:14.2585|ERROR|AppUnhandledException|Object reference not set to an instance of an object.
	System.NullReferenceException: Object reference not set to an instance of an object.
   at WinRT.ExceptionHelpers.<ThrowExceptionForHR>g__Throw|20_0(Int32 hr)
   at ABI.Microsoft.UI.Xaml.Controls.IFrameMethods.Navigate(IObjectRef

[2022-10-28 07:41] Josh-65 commented on #10311
Asking @yaichenbaum for approval.

[2022-10-28 09:55] ferrariofilippo commented on #10204
I found the line that causes the problem (line 283 of `Files.App.Shell.Win32API.cs`).
This line was changed in <a href="https://github.com/files-community/Files/pull/9896">#9896</a> to avoid an exception.

[2022-10-28 12:57] QuaintMako commented on #2145
The crash seems to only happen when using the keyboard accelerator. Tried to open 40 tabs at the same time using another path of call. Reducing the accelerator to "one press = one use" should do the trick.

[2022-10-28 13:52] #8441 closed

[2022-10-28 13:58] Deekshithrathod commented on #10234
Hello @yaichenbaum
This issue could be a really good starting point for me to get started with opensource.

Can you assign this issue to me?

[2022-10-28 14:19] QuaintMako commented on #8375
@yaichenbaum this is probably linked to #[2145](https://github.com/files-community/Files/issues/2145)

[2022-10-28 14:32] #8375 closed

[2022-10-28 14:32] yaichenbaum commented on #2145
Seems like a reasonable solution, I think we do something similar with the back/forward buttons.

[2022-10-28 14:35] #10263 closed

[2022-10-28 14:39] leic4u commented on #9507
@yaichenbaum @Josh-65
It seems that I know how to reproduce the issue.
I used two accounts in Onedrive. One is personal accounts, and another one is MS developer accounts.
My personal account is working correctly while the developer account is wrong.

![image](https://user-images.githubusercontent.com/32786903/198651044-a7ce5e32-65c7-4036-ba48-47e494a81bd1.png)

[2022-10-28 14:46] QuaintMako commented on #2145
Are you talking about those accelerators?

![image](https://user-images.githubusercontent.com/110472580/198656088-0751ad58-a13d-4ad1-9845-ad71c9cfa66f.png)

[2022-10-28 14:54] ThePython10110 commented on #10311
Works perfectly for me (Version: 2.3.12.0, OS Version: 10.0.19044.2192)
Then again, it might be specific to Windows 11.

[2022-10-28 14:57] ThePython10110 commented on #9508
I can confirm this as well (Version: 2.3.12.0, OS Version: 10.0.19044.2192)

[2022-10-28 15:07] yaichenbaum commented on #10311
Is this specific to the details layout?

[2022-10-28 15:07] yaichenbaum commented on #2145
It might have actually been the refresh button but similar idea.

[2022-10-28 15:08] yaichenbaum commented on #9507
Is an MS developer account something we can sign up for to test?

[2022-10-28 15:09] yaichenbaum commented on #5853
I believe changing the text of the source string will reset the translated strings.

[2022-10-28 15:21] ThePython10110 opened #10319 "Files always opens dropdown menu when dragging/dropping files to desktop or default File Explorer"
### Description

Trying to drag and drop files from Files to the Desktop (or File Explorer) opens up a menu asking whether you want to move, copy, or create shortcuts. Also, the default option when dragging is creating a shortcut... which is ridiculous to me. Holding control or shift while dragging doesn't change the dropdown, just makes one option bold (plus #10208 is still annoying).
![Screensho

[2022-10-28 16:27] QuaintMako opened #10320 "Bug: Localization switching back to Default on DetailsBrowser"
### Description

When opening a view in Details Browser, when the view is done loading, all the items localization switch back to the default language.

### Steps To Reproduce

1. Go into Settings and set any language other than default (to better see the issue)
2. Switch back to any tab and open a folder with several different object.
3. Observe the localization going from selected language to th

[2022-10-28 16:32] QuaintMako commented on #10320
Looking at the gif, there may be a bunch of stuff broken regarding the localization. Can I see the buttons under the Favorites and the date of modification. But it may be because my computer's language is set to English.

[2022-10-28 16:43] yaichenbaum commented on #10320
Favorites work off of the folder names

[2022-10-28 21:33] Josh-65 commented on #9459
Is this still an issue?

[2022-10-28 22:24] Josh-65 opened #10321 "Bug: Items in File in use model are shown twice"
### Description

![image](https://user-images.githubusercontent.com/26977075/198741733-f505daa4-0502-40d2-a8a4-ce246f113863.png)

### Steps To Reproduce

1. Open a file that gets locked by program
2. Attempt to delete it
3. See the file shown twice in the dialog

### Steps to fix

Scan for and display items only one in model

### Files Version

2.3.52.0

### Windows Version

10.0.22621.675

### Re

[2022-10-28 22:25] Josh-65 commented on #10321
Asking @yaichenbaum for approval.

[2022-10-28 23:17] AkazaRenn commented on #9459
@Josh-65 Seems like it's not happening now. Thanks for reminding!

[2022-10-29 02:18] leic4u commented on #9507
@yaichenbaum What's your email address? I can creat a new Microsoft developer account for you to reproduce the bug.

[2022-10-29 08:01] shapiromh commented on #10311
I have the same error, and only run into it when using the "column" view. This applies if any tab is in column view, not necessarily the active tab.

[2022-10-29 10:05] timluther commented on #4076
Not sure why this is closed because this is so very _slow_

https://user-images.githubusercontent.com/4411129/198825612-3b4c4846-a1e0-41f6-be15-83f7664503ee.mp4

[2022-10-29 10:07] Josh-65 commented on #4076
This was closed since it old and nonspecific. try the preview version https://files.community/download/preview as its faster in most cases

[2022-10-29 10:11] timluther commented on #10307
Agreed, the app is extraordinarily slow when opening directories - obviously it's doing something expensive each time.
I'm doing my own investigations, I have Files compiling locally.
Here's a speed capture I made using 'Very sleepy'
[files_speed_capture.csv](https://github.com/files-community/Files/files/9893424/files_speed_capture.csv)

And here's a video showing just how slow it is. Explorer is

[2022-10-29 13:22] raul8505 commented on #9780
Amigo cuando copio no me llama al copiador que tengo instalado ni al de Windows por defecto

[2022-10-29 13:39] raul8505 commented on #6494
Me gustaría que se pudiera utilizar el copiador de su gusto tengo supercopier y cuando copio tiene que ser con su copiador ni siquiera con el Windows por defecto

[2022-10-29 17:18] cinqmilleans opened #10327 "Feature: Add compression options"
### What feature or improvement do you think would benefit Files?

Currently, data compression has no options other than file name. Some options are very practical (7z format, compression level, password, ...). Having all this integrated adds significant added value (no need to install third-party software, better integrated context menu, etc.). However, it must be kept simple so as not to confuse

[2022-10-30 01:18] yaichenbaum commented on #10319
We don't have control over this but we plan on switching to different drag and drop APIs in the future which may solve this.

[2022-10-30 01:22] yaichenbaum commented on #1586
Merging with #10320

[2022-10-30 01:22] #1586 closed

[2022-10-30 01:22] yaichenbaum commented on #10320
See #1586 for reference

[2022-10-30 01:29] #9459 closed

[2022-10-30 01:52] yaichenbaum commented on #10311
Merging with #10109

[2022-10-30 01:52] #10311 closed

[2022-10-30 01:58] yaichenbaum commented on #10307
I can't access those recordings (you should be able to upload them directly to GitHub) but as Josh mentioned, performance is constantly being improved. Navigating to different directories in the latest preview build is significantly faster than the current stable release. I recommend installing the latest preview build and comparing to the latest stable build.

[2022-10-30 02:33] yaichenbaum commented on #10327
@cinqmilleans I think we should split this into three separate feature requests, I renamed the title on this to be specific for passwords.

[2022-10-30 02:34] yaichenbaum commented on #10327
I think we should do this but setting to planning so that can settle on a UI.

[2022-10-30 02:41] yi-Xu-0100 commented on #1586
I check in the latest version (v2.3.12.0 Windows store), This still seems to be an issue, and now in folders where a lot of files exist, it's less of a problem due to the slow loading of the file list. 👀

[2022-10-30 02:42] Bluemethyst opened #10328 "Random Crashes"
### Description

Randomly crashing every few minutes for no reason, I've checked logs and no errors even show up, Please fix I love your product

### Steps To Reproduce

Just use the app for more then 3 mins or so

### Steps to fix

Just reopen the app and it wont do it for another 3 mins or so

### Files Version

Version: 2.3.12.0 OS Version: 10.0.19044.2130

### Windows Version

Edition	Windows

[2022-10-30 03:00] yaichenbaum commented on #10328
Thank you for your feedback, I'm having a hard time reproducing this issue. Is there a specific action that is causing the app to crash?

[2022-10-30 04:58] onein528 commented on #10280
Of course, I would do. However I have little time these days.

[2022-10-30 07:42] Josh-65 opened #10330 "Bug: Files unable to open content from File explorer calls"
### Description

Anything that try to call file Explorer doesn't open in Files. Eventually I get "Something when wrong" notification but Files stays open. Zips also don't open when Files is set as default.

### Steps To Reproduce

1. Enable Files set as default
2. Open File explorer or open location in a program
3. See Files not do anything

### Steps to fix

Have Files open the folder it suppose

[2022-10-30 09:11] cycles-3D opened #10332 "crashing after creating a theme file then opening the custom theme dropdown"
### Description

after creating a theme.xaml file in the themes folder and opening the custom theme drop down it just crashes and doesnt show anything in logs

### Steps To Reproduce

1.create a theme file in the theme folder
2.restart files
3.open custom thmems drop down

### Steps to fix

didnt find a fix

### Files Version

Version: 2.3.12.0 OS Version: 10.0.22621.674

### Windows Version

wind

[2022-10-30 09:14] Josh-65 commented on #10332
Could you upload the theme file

[2022-10-30 09:55] cycles-3D commented on #10332
il send it as a text file since git hub doesnt support xaml. i just modified the nord theme.
[nordmodified.txt](https://github.com/files-community/Files/files/9895550/nordmodified.txt)

[2022-10-30 11:24] hez2010 opened #10333 "The property window is not draggable"
### Description

The property window is not draggable in Files preview.

### Steps To Reproduce

1. Open property window
2. Try to drag the title bar

### Steps to fix

- Make the title bar of the property window draggable

### Files Version

2.3.53

### Windows Version

Windows 11 25231.1

### Relevant Assets/Logs

N/A

[2022-10-30 12:38] Leoijeon opened #10334 "Can't eject hard disk"
### Description

If I want to eject my hard disk, but didn't close Files app, system will tell me I can't eject. When I close Files app, I can eject my hard disk normally.

### Steps To Reproduce

1. open Files
2. eject hard disk

### Steps to fix

fix the problem when eject hard disk

### Files Version

Version: 2.3.12.0 OS Version: 10.0.19044.2006

### Windows Version

Windows 10 Pro Version	21H

[2022-10-30 14:26] yaichenbaum commented on #10333
Merging with #9919. Looks like it was accidentally closed before.

[2022-10-30 14:26] #10333 closed

[2022-10-30 15:34] verdaderoken opened #10336 "Feature: Add option to merge two tabs into split pane"
### What feature or improvement do you think would benefit Files?

Merging tabs would be a great feature for productivity specially for touch users

This feature helps users quickly use dual pane by dragging an existing tab over another tab.
This also lets new users discover dual pane accidentally when dragging a tab

from this:
![image](https://user-images.githubusercontent.com/88200096/198887146

[2022-10-30 16:12] verdaderoken opened #10337 "Bug: Frequent app crash"
### Description

Details are provided below.
I noticed the app crashes more often than usual since the WinUI 3.

### Steps To Reproduce

I don't know in particular but it occurs mostly when navigating.
Also happens randomly when the app is in the background but not minimized.

Some scenarios include:
- Copying a file from a folder and navigating to a destination folder
- While using dual-pane view

[2022-10-30 19:14] Josh-65 commented on #10337
Merging with #9921

[2022-10-30 19:54] yaichenbaum commented on #10337
This looks like a different issue

[2022-10-30 22:35] yaichenbaum opened #10342 "Feature: Custom themes v2"
### Description

## Rewriting custom themes

After discussing with the other contributors, it's been decided to rewrite custom themes in a more optimized way. What's clear is that the actual format doesn't matter to most users as they won't be editing the actual files. The deciding factor was that json is easier to work with code wise and is also easier to import/export with other settings.

## Im

[2022-10-30 22:45] verdaderoken opened #10343 "Feature: Improve the Recycle Bin properties window"
### What feature or improvement do you think would benefit Files?

I just noticed Files would open Recycle Bin's properties as if it was a normal folder.
The settings of the Recycle Bin should also be included in the redesign.

Files Recycle Bin properties window:
![image](https://user-images.githubusercontent.com/88200096/198904816-9713cc94-2bbd-43a2-9bd6-c631a2b5e063.png)

Default Recycle Bin pr

[2022-10-30 22:54] verdaderoken commented on #10337
I think the `0x8001010E` exception is different from [#9921](https://github.com/files-community/Files/issues/9921) because the app does not actually crash and only sends a notification

[2022-10-31 01:55] mdtauk commented on #10342
How will you handle things like Mica and Acrylic?

Does the AccentColor override the system provided colour?  And if so, how do you tell it to use the system colour?
`` "AccentColor": "SystemAccentFillSecondary"; ``
Something like this maybe? If you can parse the value when its not ARGB.

Have you considered adding support for background images maybe?  Either for the IconView or for the Window Bac

[2022-10-31 02:12] yaichenbaum commented on #10342
The app background automatically has mica (should fall back to acrylic on Windows 10). We might need to add an opacity value for each brush.

The system will fall back to the default system accent color if a proper value isn't provided.

Providing a path for `RootBackgroundBrush` instead of a color should work.

[2022-10-31 02:15] yaichenbaum commented on #10342
There has been a lot of discussion regarding the level of customization to provide users. While a Windows XP theme would be really cool, it's not the user experience I have in mind. I prefer the customization options in Windows Terminal and Microsoft Edge.

[2022-10-31 02:32] mdtauk commented on #10342
Not every element should support using an image, and many elements would have semi-transparent surfaces where only the lowest level colour is user-changable.