[2020-04-28 21:07] tsvietOK commented on #720
I remember this, but this implementation was buggy for toggle switches, to enable or disable it you had to click it twice. So i reworked it and it work good in debug mode.

[2020-04-28 21:09] yaichenbaum commented on #720
We need to figure out why this implementation causes that issue, it's worth it to use the implementation I shared above since it is more compact. I have used a similar implementation for settings in others apps and it worked fine, so I must of missed something when copying it over.

[2020-04-28 21:34] tsvietOK commented on #720
Good example, preference page, onedrive toggle working good, to enable or disable next toggle(show dialog...) you have to click twice, but if you click only once and reload settings page, toggle will change  state. But, anyway, i don't think get and set of acrylic parameter can cause app crash.

[2020-04-29 02:16] ADeltaX commented on #720
My code is 200% stable 😂😂😂

Anyway, jokes aside, I've had the same issue before my commit, and only in Release mode, so...
(PS: it happened on 0.7.7 store version for some reason but it's more random and rare)

[2020-04-29 02:50] yaichenbaum commented on #720
I canceled the rollout of the v0.7.9 release. I am not sure what's going on but I would appreciate if someone can figure it out.

[2020-04-29 17:29] tsvietOK commented on #720
@yaichenbaum We can revert my changes until problem will not be fixed. Currently i really don't understand what's wrong with my patch in release mode. Any help appreciated.

[2020-04-29 17:31] yaichenbaum commented on #720
@tsvietOK Did you get an exception when you tried running the app in release mode?

[2020-04-29 17:33] tsvietOK commented on #720
@yaichenbaum No, i can't catch any exception, app just crash right after start(Sometimes it starts fine).

[2020-04-29 17:40] tsvietOK commented on #720
@yaichenbaum Some notice, if comment [line](https://github.com/tsvietOK/files-uwp/blob/36e1853cd6ab068b28d1c1417e31aeca8e295140/Files/App.xaml.cs#L236) app starts fine(of course theme change in this case is not working)

[2020-04-29 17:52] yaichenbaum commented on #720
"Unhandled exception at 0x00007FFA571232E0 (Windows.UI.Xaml.dll) in Files.exe: 0xC000027B: An application-internal exception has occurred (parameters: 0x000001ECFDD83BA0, 0x0000000000000002)."

[2020-04-29 19:05] tsvietOK commented on #720
@yaichenbaum Sorry, i don't know what to do with this info:(

[2020-04-29 19:06] yaichenbaum commented on #720
@tsvietOK I tried commenting out the line you linked and I still get the issue.

[2020-04-29 19:20] tsvietOK commented on #720
@yaichenbaum There is another [line](https://github.com/tsvietOK/files-uwp/blob/36e1853cd6ab068b28d1c1417e31aeca8e295140/Files/App.xaml.cs#L255).

[2020-04-29 22:06] XPoppyX opened #721 "Display more details when hovering the mouse over a file"
- type
- size
- dimensions (if it is an image)

![tooltip](https://user-images.githubusercontent.com/61259627/80651529-10a6d680-8a44-11ea-9c92-70b0de8fd947.png)

[2020-04-29 23:19] tsvietOK commented on #720
@yaichenbaum problem somewhere in lines
https://github.com/tsvietOK/files-uwp/blob/36e1853cd6ab068b28d1c1417e31aeca8e295140/Files/Helpers/ThemeHelper.cs#L113
https://github.com/tsvietOK/files-uwp/blob/36e1853cd6ab068b28d1c1417e31aeca8e295140/Files/Helpers/ThemeHelper.cs#L119
https://github.com/tsvietOK/files-uwp/blob/36e1853cd6ab068b28d1c1417e31aeca8e295140/Files/Helpers/ThemeHelper.cs#L125
If com

[2020-04-30 03:07] xiaozhu2007 opened #722 "About"
The Chinese is not Good!

[2020-04-30 03:52] yaichenbaum commented on #722
@xiaozhu2007 Thank you for letting us know, if you are interested in fixing it up make sure to check out https://github.com/duke7553/files-uwp/blob/master/Translator.md.

[2020-04-30 05:48] Mahan3340 opened #723 "Selection Bug"
**Describe the bug**
File/Folder Select All Bug
**To Reproduce**
Steps to reproduce the behavior:
1. Select all from the bottom menu
2.  Click Somewhere blank to clear the selection
3. now the normal click and the long click do not work at all for all files and folders

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 1903 18363.815]
 - App version: [v0.7.8.

[2020-04-30 05:54] Mahan3340 opened #724 "Multiple File Seleection"
**Is your feature request related to a problem? Please describe.**
Select All is not always the needed case. most of the times I just want to select a few files and folders and perform some action on them

**Describe the solution you'd like**
Aside from the select all option, add an option to make the current files and folders selectable (using a checkbox or sth like that) then, while we are in th

[2020-04-30 05:59] Mahan3340 commented on #723
This also happens when a single file or folder is long pressed ( when the menu opens once this happens regardless of actually selecting an action or just dismissing the menu). By the way, I am using a surface with a touch screen.

[2020-04-30 10:31] MichelEngel opened #725 "Suggestion For Get Files UWP"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-30 10:32] MichelEngel commented on #725
Place the all transparent interface of the Get Files UWP please

[2020-04-30 10:33] MichelEngel commented on #725
Put everything in Portuguese the whole language of the Get Files UWP

[2020-04-30 11:13] ashmanX opened #726 "Additional Features Missing."
Hi, I would like you to add the following features in the upcoming releases:
1. Drag and Drop
2. Open With
3. Recycle Bin (alongside the Desktop option or somewhere)
THANK YOU

[2020-04-30 12:13] xPoppyx commented on #726
the app already supports drag and drop, the problem is that you must first select the file to be able to drag: #673

[2020-04-30 12:18] yaichenbaum commented on #724
@Mahan3340 Thank you for opening this issue with your feedback, I just wanted to let you know that we are tracking this same issue here #290. I am going to close this issue as it's already being tracked, but make sure to subscribe or comment on #290 so that you will get informed when it's addressed.

[2020-04-30 12:18] #724 closed

[2020-04-30 12:20] yaichenbaum commented on #725
@MichelEngel I am not so sure what you are referring to? Are you requesting that someone translates the app into Portuguese?

[2020-04-30 12:25] yaichenbaum commented on #726
@ashmanX Thank you for your feedback.
1. Drag and drop has already been implemented, make sure to update to the latest version (v0.7.8) in order to use this feature.
2. Open with is being tracked here #174 and there is already an open pull request #699.
3. Recycle bin is not yet supported but we are tracking a similar issue here #669.

I am going to be closing this issue since 1 has already been a

[2020-04-30 12:25] #726 closed

[2020-04-30 15:29] tsvietOK commented on #720
@yaichenbaum The problem is in var TintLuminosityOpacity in AppTheme. For some reason setting a value to this var in methods SetDefaultTheme(), SetLightTheme() and SetDarkTheme() causes app crash.

[2020-04-30 15:51] MichelEngel opened #727 "Suggestion For Get Files UWP"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-30 15:52] MichelEngel commented on #727
Take effect when transferring a file to a folder

[2020-04-30 16:06] xPoppyx commented on #727
if it's a single suggestion put it in the title.
Progress Dialog for file transfer operations: #114

[2020-05-01 00:40] #727 closed

[2020-05-01 00:41] yaichenbaum commented on #720
It turns out this issue goes back pretty far, it shouldn't be an issue for the store build.

[2020-05-01 00:44] tsvietOK commented on #720
@yaichenbaum We can keep this PR open until we will be sure that there is no issue for the store build

[2020-05-01 06:43] Alex-Ricardo opened #730 "无法打开部分子文件夹"
用的是win10应用商店的uwp版本，已经打开win10设置里的读取系统文件选项。可是无法打开部分子文件夹。部分如快捷方式等文件不显示。
![QQ截图20200501144210](https://user-images.githubusercontent.com/45425384/80787773-060e4d80-8bba-11ea-9d03-3b365b70c6c6.png)

[2020-05-01 11:29] MichelEngel opened #732 "Suggestion For Get Files UWP"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-01 11:34] MichelEngel commented on #732
work with all Adobe Creative Cloud software to improve everything and letter designer everything from File Explorer please https://www.adobe.com/br/creativecloud.html

[2020-05-01 11:49] yaichenbaum commented on #732
@MichelEngel Can you give more detail how you would like us to work with Adobe software?

[2020-05-01 12:00] xPoppyx commented on #730
目前该应用程序不支持快捷方式

_--google translator--_

[2020-05-01 12:01] yaichenbaum commented on #721
I think that a teaching tip would be very useful for this task.

[2020-05-01 13:00] GameSpeck opened #733 "Ability to change the default downloads folder"
**Is your feature request related to a problem? Please describe.**
My Windows OS is installed on my SSD but all my downloaded stuff is in my HDD because it has more space.

**Describe the solution you'd like**
Abiltity to change the default download folder, instead of C:\Downloads

**Describe alternatives you've considered**
None

**Additional context**
None

[2020-05-01 16:42] yaichenbaum commented on #733
@GameSpeck Can you check if changing the location from File Explorer addresses this issue?

[2020-05-01 17:00] GameSpeck commented on #733
@yaichenbaum Can you please explain what do you mean by changing the location? I didn't get it.

[2020-05-01 17:03] #733 closed

[2020-05-01 23:22] duke7553 commented on #696
@seohyun1108 Did this settings toggle fix your issue?

[2020-05-02 14:10] PeterStrick opened #734 "Improving touch support for Files UWP"
**Describe the bug**
Files UWP is not really Touch friendly. Things like double tapping or tap and hold to get the context menu don't work for touchscreens.

**To Reproduce**
Steps to reproduce the behavior:
Try opening a folder/file or opening the context menu in Files UWP with a Touchscreen. Works fine with mouse\Keyboard.

**Expected behavior**
Double tap to open the File/Folder, tap and hold t

[2020-05-02 19:54] brukbrhane opened #735 "Can't build app from source code"
Whenever I try to build files-uwp from source, It keeps telling me that I'm missing the assembly references "Windows" from the **Files.Launcher** project and "Windows Desktop Extensions for the UWP" on the **Files** project.

**Steps to reproduce the behavior:**
1. Open `Files.sln` file.
2. Change the CPU arch to x64
3. Run on local machine
4. See error

**Expected behavior**
The program builds an

[2020-05-02 20:54] lampenlampen commented on #735
Did you install it to the standard location?

[2020-05-02 21:09] Ombrelin opened #736 "Show disk usage"
In the old windows Files Explorer there is a view that shows the disks usage (occupied space and remaining space). Files UWP doesn't have this feature (or I have found it ?)
![image](https://user-images.githubusercontent.com/47502331/80892388-f120df80-8cc9-11ea-9e2c-56f7ed91cb76.png)

When you click on "Drives" show a view with the usage of disks using progress bars

Would love to have this featur

[2020-05-02 21:50] AdrianP25 commented on #660
I have the same bug, even so good App!

[2020-05-02 22:08] brukbrhane commented on #735
@lampenlampen I likely did not

[2020-05-02 22:32] fauzie811 opened #737 "List View fonts are too large"
**Is your feature request related to a problem? Please describe.**
The fonts are a bit too large in List View mode. It looks out of place.

**Describe the solution you'd like**
Make it the same size as the sidebar.

**Additional context**
![Files UWP - Preview 5_3_2020 5_29_32 AM](https://user-images.githubusercontent.com/318095/80893738-40353780-8cff-11ea-8353-63d7329bbebf.png)

[2020-05-03 01:33] yaichenbaum commented on #735
@brukbrhane Make sure that you have the right dependencies installed, if you don't Visual Studio should prompt you to download them.

[2020-05-03 01:40] yaichenbaum commented on #737
This is really a question about striking the right balance between touch and mouse friendly. I currently like the size of each how they are but this should definitely be a discussion to see if others feel the same way.

[2020-05-03 01:57] yaichenbaum commented on #736
@Ombrelin Thank you for opening this issue, a page for displaying drives is something we are exploring in #210. We are also looking into the possibility to add a widget to see drives on the home page in #366. I am going to be closing this issue in favor of the existing ones, but please add your feedback to each of them.

[2020-05-03 01:57] #736 closed

[2020-05-03 02:01] yaichenbaum commented on #734
I cannot reproduce the touch issues you mentioned in either of the layout modes. @duke7553 Can you try to reproduce this on your end?

[2020-05-03 02:02] xPoppyx commented on #737
mm I also think it should be a little bit smaller

[2020-05-03 02:13] xPoppyx opened #738 "Display in the bottom bar how many items are in a folder and how many have been selected"
![Anotación 2020-05-02 220749](https://user-images.githubusercontent.com/61259627/80896953-cfbbf580-8cc1-11ea-877b-eb2a4a8e9d31.png)

[2020-05-03 02:14] yaichenbaum commented on #738
We are currently tracking this in #281.

[2020-05-03 02:15] #738 closed

[2020-05-03 06:55] Mahan3340 commented on #734
I have the same issues, clicking and opening menus are not working properly with a touch screen, I will record my screen later and post it here.

[2020-05-03 07:26] Mahan3340 commented on #734
As you can see in the video, there are a lot of issues while using the touch screen (finger, not pen or mouse). To reproduce the problems you can do as follows:
Issue 1: Select All from The menu, Click somewhere blank to clear the selection, now nothing is clickable or long-pressable or double-clickable, and you have to close the app to be able to click again
Issue 2: The double click to open a fi

[2020-05-03 09:40] brukbrhane commented on #735
@yaichenbaum I didn't get any prompts. I'll try reinstalling VS to see if that helps

[2020-05-03 12:50] yaichenbaum commented on #734
The issue with double clicking to open a selected file is an issue with mouse usage as well. Issue 3 is also an issue with the mouse as well.

[2020-05-03 13:05] lorisobi commented on #719
I made a small **concept** of the file creation dialogue.
![New File](https://user-images.githubusercontent.com/28399150/80914914-0f7cee80-8d4f-11ea-9cef-568677bb239a.jpg)
If the list gets too long you could maybe use a list view with grouped headers

[2020-05-03 13:27] Mahan3340 commented on #734
@yaichenbaum So is there a way to fix these issues?

[2020-05-03 13:55] lorisobi commented on #114
Maybe don't make it as annoying as in the classic file explorer, maybe place it in the corner

![FileTransfer](https://user-images.githubusercontent.com/28399150/80915989-19eeb680-8d56-11ea-9182-472d27808a2b.jpg)

in my **concept** I did 2 different coloured versions.

it could be realized with _WinUI ListView for Messaging or Data Logging_

[2020-05-03 13:59] lampenlampen commented on #719
I really love it.

1. **Filename**:
I wonder if we can include a option to specify the filename somehow. So instead of a 2-step action (creating a default file, name it accordingly) it is a 1-step action (both in 1 dialog).
What about adding a textbox at the top for the filename?

2. **Folder**:
Can we somehow integrate the folder option? If not, we would need to "new"-buttons (file, folder) or a

[2020-05-03 14:12] lorisobi commented on #719
![NewFile2](https://user-images.githubusercontent.com/28399150/80916400-b3b76300-8d58-11ea-95e7-6ef832388453.jpg)

Either a textbox on the top or like this when you click (but I think first one would be more user friendly)

[2020-05-03 14:29] yaichenbaum commented on #114
@lorisobi I was thinking about something similar to this, except in the top right corner.

[2020-05-03 14:30] fauzie811 commented on #737
If you're talking about the list items' height, then I agree with you. It is good as it is.

But here, I'm talking about the text size only. Which has nothing to do with touch or mouse friendliness.

[2020-05-03 14:34] lampenlampen commented on #719
1. I would exclude shortcuts for now.
2. With this approach we can simply treat "folder" as a filetype and put it into the list.

I once saw a control, that would suit, but i don't remember where, so i do my best to describe it.
It is a control , which is divided into two parts. The 1. (left) part is a simple TextBox for the filename and the 2. (right) part displays the file extension (not editabl

[2020-05-03 14:47] lorisobi commented on #719
so like this?
![NewFile3](https://user-images.githubusercontent.com/28399150/80917197-bbc5d180-8d5d-11ea-806c-47a84fb0a4ff.jpg)

[2020-05-03 14:51] lampenlampen commented on #719
Yeah

1. How about deleting the space between the textbox and the file extension box?
2. I would delete the down arrow.
3. attach the "recent, all"-window beneath the "new file"-window.
4. move the create button the the bottom.

[2020-05-03 15:03] lampenlampen commented on #114
Most apps display notification in the bottom right corner, so i would stay with it.

We also need some way of hiding them and then some "notification center".

[2020-05-03 15:07] lampenlampen commented on #114
I think we only need to display at most one notification (for the current folder).
If the user navigates away or initiate a second, the first should hide itself.

And i would take not the colored version.

[2020-05-03 15:09] lampenlampen commented on #735
Then this is the reason.

I had the same problem with the extension sdks.

VS couldn't find the extension sdk and on some microsoft forum the suggestion was to reinstall or copy the extension sdks from the custom location to the default one.

[2020-05-03 15:14] yaichenbaum commented on #114
@lampenlampen I was thinking of something similar to how it works in Ubuntu. It would probably be a dropdown where you can see the progress.

[2020-05-03 15:14] yaichenbaum commented on #719
What about a simple menu that fetches the options from the registry?

[2020-05-03 15:15] lampenlampen commented on #114
😂 i never in my life saw a linux ui.

[2020-05-03 15:16] yaichenbaum commented on #734
Absolutely, the data grid issue should be fixed when WinUI releases a new DataGrid control. The other issues are things we need to look into.

[2020-05-03 15:20] lorisobi commented on #719
too simple 😂

[2020-05-03 15:25] lampenlampen commented on #719
i really would like to have an option to specify a custom filetypes.
With explorer i have to create a textdocument, so i can then rename it to a markdown file.

[2020-05-03 15:26] lorisobi commented on #719
yeah you're right, thats annoying. but maybe just put it in as first/last dropdown option

[2020-05-03 15:27] lorisobi commented on #114
I can not remember how this looks

[2020-05-03 15:31] lorisobi commented on #114
I think this would be fine for power users but probably annoying for (possible) normal users

[2020-05-03 15:32] lampenlampen commented on #719
For me personally the custom entries in the explorers "new"-menu do not bring any value.

The only option is use are the "folder" and the "textdocument" options.

I create all other entries (office, zip, bitmap) through the corresponding apps.

[2020-05-03 15:36] lampenlampen commented on #114
I would think, it is the other way.

The powerusers wants to have all there operations in eye contact.

The normal user starts one operation and either wait til it ends or, if he does some other work, forgets about it and if he want's to check he can have a look into the "notification center".

[2020-05-03 15:37] lorisobi commented on #114
i think a normal user doesn't want many options

[2020-05-03 15:42] lampenlampen commented on #719
You should be able to specify a custom entry. A AutoSuggestBox, where you enter custom entries. Or there is a settings option or a json file, where you can specify custom entries for the dropdown.

[2020-05-03 15:48] lampenlampen commented on #114
What do you mean with options?

I would only display the newest operation for the current folder with a hide button.
And all operations are listed in the "notification center".

So if the user navigates away from the folder the notification hides, because he clearly is not interested anymore in the operation. He want's to do some other work now.
And if he want's to check the operation, he can look

[2020-05-03 20:46] MichelEngel opened #739 "Suggestion New For Files UWP"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-03 20:48] MichelEngel commented on #739
![InkedScreenshot_6_LI](https://user-images.githubusercontent.com/60907149/80925461-46aaca00-8d66-11ea-9051-324de3ce71c3.jpg)
![Screenshot_2](https://user-images.githubusercontent.com/60907149/80925463-47436080-8d66-11ea-8086-bbe17e994b83.png)
![Screenshot_3](https://user-images.githubusercontent.com/60907149/80925464-47dbf700-8d66-11ea-8640-ab993de8c15d.png)
![Screenshot_4](https://user-images.gi

[2020-05-04 01:20] duke7553 commented on #735
Also make sure to select the Files.Package project before you build

[2020-05-04 01:27] duke7553 commented on #739
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-05-04 01:27] #739 closed

[2020-05-04 01:28] duke7553 commented on #730
Moved to #177

[2020-05-04 01:28] #730 closed

[2020-05-04 01:36] duke7553 commented on #695
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-05-04 01:36] #695 closed

[2020-05-04 01:38] duke7553 commented on #377
Closing this now.

[2020-05-04 01:38] #377 closed

[2020-05-04 01:42] duke7553 commented on #26
I'm going to move this item to #177

[2020-05-04 01:42] #26 closed

[2020-05-04 01:43] xPoppyx commented on #739
maybe these:
- specify what type of file you want to search
- when dragging and dropping a tab, open in a new window

[2020-05-04 01:45] duke7553 commented on #114
@yaichenbaum I like the idea of adding this as an icon to the new bottom bar. I'll work on a mockup soon based on the image above.

[2020-05-04 01:47] yaichenbaum commented on #114
@duke7553 I was actually thinking about putting it in the top right corner.

[2020-05-04 01:48] duke7553 commented on #147
The work we've done should streamline some of the process of adding new layouts. Expect to hear more about this after Launch. 😉

[2020-05-04 01:52] duke7553 commented on #130
Considering a separate app exists (and is now integrated with Files), I don't think this will be an area of focus for near future unless we hear more about how something like this can add unique value to the experience.

[2020-05-04 01:52] tsvietOK commented on #114
@duke7553 @yaichenbaum May be we can use Flayout to display progress
![image](https://user-images.githubusercontent.com/20501502/80931521-088fc380-8dc3-11ea-93a5-8df56d7a1371.png)

[2020-05-04 01:54] duke7553 commented on #114
@tsvietOK My mockups will certainly reflect this.

@yaichenbaum imo the top is somewhat crowded, so I think the bottom right corner would look better. I'll have my mockup done very soon so we can compare them.

[2020-05-04 01:55] duke7553 commented on #182
@yaichenbaum When you get a chance, I think we should determine how much work on this is left.

[2020-05-04 02:00] duke7553 commented on #191
@Chara-Reborn Hello and thanks for the feedback.
Although we've done work to improve the performance when loading large directories in all of our layout modes, I understand how sub-par the DataGrid is without inertia and scrolling personality which is characteristic of modern apps. I spent a considerable amount of time last Winter exploring alternatives to the current DataGrid control, but didn't

[2020-05-04 02:00] #191 closed

[2020-05-04 02:10] duke7553 commented on #328
Moving this to #177

[2020-05-04 02:10] #328 closed

[2020-05-04 02:13] duke7553 commented on #414
I think #261 and #100 will address this one. Please re-open if you've got anything else in mind.

[2020-05-04 02:13] #414 closed

[2020-05-04 02:25] yaichenbaum commented on #182
@duke7553 There is still quite a bit of work left on this, right now we only detect the common ones but we really need to add support to detect any variable.

[2020-05-04 02:26] yaichenbaum commented on #114
There is a actually a new WinUI control that is being designed that will allow for notifications throughout the app, I think we should wait to see if this will do what we want.

[2020-05-04 02:30] yaichenbaum commented on #377
@duke7553 It's fine to close this issue, we just need to keep in mind to add this to shortcuts and to the search results page when implemented.

[2020-05-04 05:14] lorisobi commented on #114
![FileTransfer3](https://user-images.githubusercontent.com/28399150/80937791-dab47a00-8dd6-11ea-9c1e-177d0840380f.jpg)

I also did a new design concept (maybe the selection which panes schould be show could also be done with a single button and a selection menu flyout)

[2020-05-04 05:15] lorisobi commented on #114
You mean this one?
![image](https://user-images.githubusercontent.com/28399150/80937860-0c2d4580-8dd7-11ea-9416-0d44b68b20b5.png)

[2020-05-04 08:53] brukbrhane commented on #735
Alright I've been AFK for a little while but I'll try reinstalling VS and trying what you've all told me. Thanks

[2020-05-04 08:53] #735 closed

[2020-05-04 10:57] lorisobi commented on #114
maybe this could also be grouped into delete, transfer, copy and for onedrive upload anf download

[2020-05-04 12:13] yaichenbaum commented on #114
@lorisobi I was actually talking about this proposal https://github.com/microsoft/microsoft-ui-xaml/issues/913.
If we don't want to wait for that I would suggest using the action center in Windows 10 as opposed to recreating the functionality ourselves.

[2020-05-04 12:16] yaichenbaum commented on #114
@tsvietOK I think the flyout would be great for the "action center" if we did create one, however I don't think we should go that route since we can use the built in action center in Windows 10 or the status control from WinUI whenever it's ready.

[2020-05-04 12:40] lampenlampen commented on #114
I would also go with the system action center. The operations are global and not tied to 1 instance of files. Especially with multiple instances of files it will get difficult, because i would expect to find all operations in all "notification centers".

[2020-05-04 14:59] MichelEngel opened #740 "Suggestion For Files UWP"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-04 15:00] #740 closed

[2020-05-04 15:00] MichelEngel commented on #740
Work with all Adobe Creative Cloud software to create and improve everything from files UWP

[2020-05-04 15:32] tsvietOK commented on #720
@yaichenbaum Bug in v0.7.9 still exists

[2020-05-04 15:38] xPoppyx opened #741 "The app crashes when starting [v0.7.9]"
![crash](https://user-images.githubusercontent.com/61259627/80984298-abfcca80-8dfb-11ea-8d7e-9be40c6bbea1.gif)

[2020-05-04 15:52] yaichenbaum commented on #720
@tsvietOK Even if you open the app a second time?

[2020-05-04 15:52] yaichenbaum commented on #741
Does this issue still exist after resetting the app?

[2020-05-04 15:55] xPoppyx commented on #741
I used the repair and reset options, it keeps crashing, I also tried to reinstall and restart Windows

[2020-05-04 15:57] SOI7 commented on #741
To me the app starts crashing on boot after opening a new tab. If I reinstall the app it opens again but the new tab causes the crash on boot again

[2020-05-04 15:57] tsvietOK commented on #720
@yaichenbaum After reinstall and clear data first and second start - crash, third start successful

[2020-05-04 15:57] yaichenbaum commented on #741
New tab crashes it for me as well.

[2020-05-04 15:58] yaichenbaum commented on #720
That is fine, does it work to create a new tab?

[2020-05-04 16:01] tsvietOK commented on #720
@yaichenbaum It crash when opening new tab

[2020-05-04 16:02] tsvietOK commented on #720
@yaichenbaum My PR should fix that

[2020-05-04 16:06] yarikvv commented on #741
I have same issue as well. App crashes right after launch.

[2020-05-04 16:07] yaichenbaum commented on #741
@yarikvv Try to reset the app.

[2020-05-04 16:09] yarikvv commented on #741
@yaichenbaum I tried both resetting and reinstalling. Nothing really helped.

[2020-05-04 16:11] yaichenbaum commented on #741
You might need to reopen the app a few times after resetting it, in any case @tsvietOK already has a fix and we hope to deploy it in the next few hours.

[2020-05-04 16:14] xPoppyx commented on #741
in my case, after trying to open several times it works, but if I close and try to open, it crashes again

[2020-05-04 16:18] yarikvv commented on #741
@yaichenbaum Yeah, on the third start it didn't crashed tho

[2020-05-04 16:46] duke7553 commented on #114
@lampenlampen We'll keep this in mind

[2020-05-04 18:23] #671 closed

[2020-05-04 18:28] duke7553 commented on #602
@Darhagonable Is this still an issue for you?

[2020-05-04 18:41] Darhagonable commented on #602
Just built version 0.7.9 and it seems to fixed now! :D

[2020-05-04 19:10] #602 closed

[2020-05-04 19:33] luandersonn commented on #741
Same where

[2020-05-04 19:33] luandersonn commented on #741
Same here

[2020-05-04 19:41] Darhagonable opened #745 "Can't open some folders in grid layout"
**Describe the bug**
When in grid layout sometimes double clicking a folder sometimes does nothing, opening in new tab works though.

**To Reproduce**
Steps to reproduce the behavior:
1. Set to grid layout.
2. Open folder within folder within folder.
3. At some point it no longer opens the folder.

**Expected behavior**
the folder to open like normal

**Desktop**
 - OS Version: Windows 10 1909 183

[2020-05-04 20:01] yaichenbaum commented on #745
This might be related to #660.

[2020-05-04 20:04] Darhagonable commented on #745
@yaichenbaum maybe but mine is not limited to the first folder but seems to be more random.

[2020-05-05 13:53] tomyan112 opened #747 "Rename file does not work"
**Describe the bug**
It would open the folder or the file

**To Reproduce**
Steps to reproduce the behavior:
1. Right click a folder or a file
2. Rename
4. See error

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 2004 19041.207]
 - App version: [v0.7.9.0]

[2020-05-05 15:22] Jaiganeshkumaran opened #748 "Add an option to hide the recent list on the home page"

[2020-05-05 15:33] Jaiganeshkumaran opened #749 "Consider adding an option to set as lockscreen background for images"
Currently, there is only an option to set an image as a desktop background. Please add one to set as lockscreen background too.

[2020-05-05 18:53] duke7553 commented on #747
Does this occur after creating the item?

[2020-05-05 18:54] duke7553 commented on #747
Also, what are you naming the file? Can you send us a screenshot of the issue?

[2020-05-05 18:58] duke7553 commented on #748
Hi @Jaiganeshkumaran .

We're planning to eventually improve the homepage layout. Is there anything you can think of that would add value to the app experience if put on the homepage? (i.e. what changes should we make to the recent items list to make it more useful for you?)

[2020-05-05 21:00] imthewiseguy commented on #147
That sounds cool! I've been working on this feature in the meantime just on a separate app so i don't break anything

[2020-05-05 21:34] duke7553 commented on #147
My vision is to allow contributors to work on/maintain their layouts without having to worry about breakage. We're in the process of abstracting away some of the tedious details of layout modes. I'm still using the work you submitted above to test against 😃

[2020-05-06 00:05] xPoppyx commented on #747
maybe it is related to #651

[2020-05-06 03:26] tomyan112 commented on #747
It is like @xPoppyx #651 issue, I too disabled Experimental double tap to rename files

[2020-05-06 12:32] yaichenbaum commented on #747
@tomyan112 Thank you for reporting this issue, lets move it over to #651.

[2020-05-06 12:32] #747 closed

[2020-05-06 14:57] yaichenbaum commented on #741
This issue should be fixed with v0.8.0.

[2020-05-06 14:57] #741 closed

[2020-05-06 14:58] yaichenbaum commented on #741
@ADeltaX @tsvietOK Thank you for all your help on fixing this issue.

[2020-05-06 15:00] yaichenbaum commented on #720
@tsvietOK Thank you for working on this issue, the fix is now out in production.

[2020-05-06 15:01] #722 closed

[2020-05-06 17:51] yarikvv commented on #748
It would be great if there could be an option to switch between recent places and pinned places on the home page.

[2020-05-06 19:07] astalavista5000 opened #750 "Hard drives disappearing + other"
There is a bug that when I start the app the Hard Disks and Onedrive disappear from view.
At first everytime the app gets updated they show but when I close the app and start it they disappear.
Also the search button doesn't work.
Right-click on recent items doesn't work.

[2020-05-06 19:30] xPoppyx commented on #750
searches have not yet been implemented, it was supposed to be disabled

[2020-05-06 19:31] yaichenbaum commented on #750
@astalavista5000 What version of the app are you running? Did you give the app permission to access the file system?

[2020-05-06 19:36] astalavista5000 commented on #750
I’m running the latest version 0.8.0.0 and yes because other files are being read.
They do appear on startup AFTER and update but after a second run they disappear.
I’ve noticed on GitHub that there are other reports like this.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Yair Aichenbaum<mailto:notifications@github.com>
Sent: 06 May 2020 21:31
To: duke7553/

[2020-05-06 19:38] yaichenbaum commented on #750
Checking to see if files are visible is not always a reliable way to know if the app has permissions to access the file system, I would recommend checking in the Windows 10 settings app to confirm.

[2020-05-07 02:00] xPoppyx opened #751 "Change view mode with Ctrl + scroll up/down"
Ctrl + scroll up: Grid view
Ctrl + scroll down: List view

[2020-05-07 02:11] yaichenbaum commented on #751
@xPoppyx Moving this over to #9.

[2020-05-07 02:11] #751 closed

[2020-05-07 02:11] xPoppyx opened #752 "Deselect with Ctrl + click"
![crash](https://user-images.githubusercontent.com/61259627/81246803-84b62100-8fe6-11ea-97e6-83aa9ede2783.gif)

[2020-05-07 02:41] xPoppyx opened #753 "More layout modes"
![Anotación 2020-05-06 224101](https://user-images.githubusercontent.com/61259627/81248597-b4672800-8fea-11ea-92f1-b98639c3165d.png)

_this would change the "Ctrl + scroll" feature request a bit_

[2020-05-07 03:04] XPoppyX opened #754 "Increase max lines of ItemName in grid view"
![Captura de pantalla (205)](https://user-images.githubusercontent.com/61259627/81249257-37d54900-8fec-11ea-8c0e-1faf27bb0238.png)
maybe you consider it unnecessary, but some users need it, like me, if I have many files with a slightly long name, and they have a number at the end, and I want to interact with some with a specific number, I would have to be hovering to each of them to see their full

[2020-05-07 09:02] astalavista5000 commented on #750
Hi,

I tried searching for Permissions but I can’t seem to find the option from the Windows 10 Settings.
Can you kindly help?

Thanks

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Yair Aichenbaum<mailto:notifications@github.com>
Sent: 06 May 2020 21:38
To: duke7553/files-uwp<mailto:files-uwp@noreply.github.com>
Cc: astalavista5000<mailto:miklosschembri@hotma

[2020-05-07 11:56] xPoppyx commented on #750
Settings > privacy > file system

[2020-05-07 11:59] astalavista5000 commented on #750
Hi,

Found it, it's enabled.
Still the app randomly shows One drive and other Drives but upon closing and starting the app those disappear again.

Thanks

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Richard <notifications@github.com>
Sent: Thursday, May 7, 2020 1:57:00 PM
To: duke7553/files-uwp <files-uwp@noreply.github.com>
Cc: astalavista5000 <miklossc

[2020-05-07 18:52] SebastianZHD opened #756 "a few suggestions"
1) Include a "This PC" button on the left that shows the traditional "This PC" screen with logical drives listed

2) Enable "tree view" with the tabs on the left

3) Allow a large and small size for the tabs on the left. Having them big is great for touchscreens, but it's frustrating on the desktop

4) Allow resizing the file/folder listings in the main view with further granularity beyond "List v

[2020-05-07 22:34] diligamer opened #757 "Make it closer to explorer.exe"
# Feedback

## Making Close To Explorer
1. There are some view switching shortcuts not in Files UWP  `ctrl+shift+1 through 6`
2. Allow us to switch the pinned sidebar items (#289)
4. Add a preview and details pane
5. Add folder icon support
6. Scrolling while viewing in QuickLook doesn't cause QuickLook to show the new selected file
7. Files appear twice
8. Add grouping support
9. Use a ribbon
10.

[2020-05-07 23:31] diligamer commented on #630
Windows bug.

[2020-05-08 02:05] xPoppyx commented on #757
17. #645

[2020-05-08 02:09] yaichenbaum commented on #757
@diligamer A lot of the issues you mentioned already have open issues, I would recommend subscribing or commenting on the other ones in order to get notified when the issues are fixed.

[2020-05-08 02:53] delay1 opened #758 "Unable to read sd card"
![Uploading image.png…]()

[2020-05-08 13:33] diligamer commented on #664
Here's a better idea that makes it closer to explorer
![image](https://user-images.githubusercontent.com/32780515/81410479-76344a80-9149-11ea-8299-f67cea996d51.png)
This moves the ellipsis menu to the context menu for no item selected along with the new menu, this will make space for the ribbon and a search box.

[2020-05-08 13:51] xPoppyx commented on #664
@diligamer the previous concept was similar, but they don't want to remove those buttons

[2020-05-08 15:28] #758 closed

[2020-05-08 18:00] diligamer commented on #664
The ribbon needs to be brought back.

[2020-05-08 18:02] yaichenbaum commented on #664
There are no plans to bring back the ribbon, the goal for Files UWP is to rethink what a file explorer app should be. We feel that there are better ways to provide features and to keep the design simple for more users.

[2020-05-09 04:29] YourDailyLlama commented on #696
I recently installed this app and i'm meeting the same problem. The thing is, in the settings page for File System, Files UWP is not there and yes, i have 'Allow apps to access the file system' toggle on.

[2020-05-09 14:31] fakerat opened #759 "Files UWP in Windows version 1607"
Maybe I am missing something, does Files UWP run in Windows build 14393 (1607)?

Is there some plans to cover if if not?

[2020-05-09 14:41] PeterStrick opened #760 "One Cosmetic Bug and One Feature Request"
**Describe the bug/feature**

[Bug]
When pressing on the OneDrive icon twice, the little blue indicator that shows, on what element of the sidebar you are currently on, moves to the Local Disc, where the OneDrive folder is physically stored in. It moves back to the OneDrive element of the sidebar when pressed on again.

[Feature request]
Add a option to change the icons in the sidebar. Like let th

[2020-05-09 18:48] duke7553 commented on #759
@fakerat Unfortunately, we're only targeting the latest versions of Windows (1809+ currently) because Files leverages UI and filesystem capabilities that only work on that release and higher. I would recommend upgrading to 1909 as it is very stable now that v2004 is almost finalized.

[2020-05-09 18:48] Dylan-Osborne opened #762 "Icon/Thumbnail Support"
Reading through the code I've noticed that in [Files/View Models/ItemViewModel.cs](https://github.com/duke7553/files-uwp/blob/master/Files/View%20Models/ItemViewModel.cs) ThumbnailMode.ListView is used, this makes sense given that the files within a folder are listed.
However I've noticed that ThumbnailMode.SingleItem is more likely to return the same icon used in File Explorer.

Is there a reason

[2020-05-09 18:48] #759 closed

[2020-05-09 18:50] duke7553 commented on #762
@Dylan-Osborne Wow. Thanks for this discovery!

I'll keep it in mind when making future changes to the filesystem ViewModel, and will gauge the performance impact.

[2020-05-09 18:52] duke7553 commented on #762
@Dylan-Osborne Do you think it would be beneficial to return the extended properties synchronously instead as well? I'm looking to improve the performance and resource usage of the thumbnail loading, and wanted a second opinion.

[2020-05-09 18:53] duke7553 opened #763 "Decrease the width of the inset sidebar shadow to match Your Phone app"
TBD

[2020-05-09 19:43] Dylan-Osborne commented on #762
@duke7553 To be honest I've got no idea on how the performance and resource usage would differ between sync and async in this scenario. I've never done any work in UWP projects before and I'm not too sure of the underlying API's, so I'd prefer not to give incorrect advice.

[2020-05-09 21:01] diligamer opened #764 "We need a design team."
Without a design team, we will have a spaghetti based app. A design team will also help in deciding the future of the app.

[2020-05-09 21:57] olehmisar opened #765 "Backward/forward navigation touchpad gestures"
I use backward/forward navigation touchpad gestures extensively and it is frustrating that this awesome app doesn't have such a feature. I would really appreciate it if you add the navigation gestures.

P.S. Alt+LeftArrow and Alt+RightArrow shortcuts don't work either.

[2020-05-09 22:12] olehmisar opened #766 "App crashes when I navigate to the "Preferences" setting"
**Describe the bug**
The app crashes whenever I click on the "Preferences" button in the settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Preferences'
3. App crashes

**Expected behavior**
The app shouldn't crash.

**Screenshots**
![image](https://user-images.githubusercontent.com/29802592/81486061-e7afee00-925a-11ea-9934-b5972805f322.png)

**Desktop (p

[2020-05-09 22:55] duke7553 commented on #764
Hello there.

I understand you concern. Right now we're extremely understaffed, so if you can find some like minded people to help us with the design, I'd definitely be open to working with them to make the app more coherent.

[2020-05-10 00:15] diligamer commented on #764
I have a lot of experience using figma and would probably be able to be the head of design, I'll also be in charge of the UI (I don't touch the code).

[2020-05-10 01:45] yaichenbaum commented on #764
I disagree, Files UWP has had a lot of thought on every single detail, we have gone through multiple iterations and both @duke7553 and I spend a lot of time on the design of the app. We have had many great discussions and some very good design concepts from different users, especially @xPoppyx. If you feel an area needs work, make sure to comment on an existing issue or open a new one.

[2020-05-10 01:45] #764 closed

[2020-05-10 01:56] yaichenbaum commented on #763
I think it's different in YourPhone since there are three different layers, in Files UWP there are only two so I think that we should keep this difference in mind.

[2020-05-10 02:50] yaichenbaum commented on #760
Potential duplicate of #559.

[2020-05-10 11:24] #749 closed

[2020-05-10 12:33] diligamer commented on #664
I feel like there is a scatter mess of buttons, and a ribbon would clean that up. It would also expose some options that are only in settings.

[2020-05-11 07:04] xumepoc opened #772 "Font size"
Is it possible to reduce the font size in the explorer? I know it uses the same size as the Windows 10 settings, but for the explorer it is a bit bigger which reduced the information which is displayed on it. A custom size slider in the settings would be perfect:)

P.S. I love the program. Best UWP out there!!!!

[2020-05-11 07:45] Jaiganeshkumaran opened #773 "Time zone bug"
Windows internally stores timestamps in UTC, however the File Explorer converts it to the current timezone to avoid confusion. Files UWP is not aware of this and shows wrong time for last modfied and created time.

[2020-05-11 11:39] diligamer opened #774 "Change icon to win10x file explorer icon"
I think the current one doesn't look microsofty at all. Using this one would give it a familiar face. You could also change a little to give the app a personality.

![image](https://user-images.githubusercontent.com/32780515/81557724-22b63c80-9395-11ea-962a-e00f1b17f031.png)

[2020-05-11 12:20] xPoppyx commented on #750
- sometimes the app starts without loading drives

[2020-05-11 12:32] yaichenbaum commented on #750
@tsvietOK I believe you fixed this issue in a recent pull request, can you confirm?

[2020-05-11 13:13] yaichenbaum commented on #774
The current icon is just the preview icon, the actual icon was designed by the community, take a look at #136 to see the process we went through to get the final icon.

[2020-05-11 13:13] #774 closed

[2020-05-11 13:58] tsvietOK commented on #750
@yaichenbaum From my side it is working fine. I launched app in release mode 20 times, and all time drives has been loaded.

[2020-05-11 14:19] diligamer commented on #774
I personally think yellow is a dated color in windows file explorer, considering the yellow has been here since 3.1, I think blue would give the app a personality.

[2020-05-11 14:29] yaichenbaum commented on #774
Thank you for sharing your thoughts, at this point there are no plans to change the icon.

[2020-05-11 14:48] KraXen72 opened #775 "option for classic context menu/options from it"
like i use winrar, i select some files and want to zip them. This option is in the context menu of normal explorer. You can either use the normal file explorer context menu or integrate its options to your modern context menu (right-click)

[2020-05-11 17:43] astalavista5000 commented on #750
[Image]
Hi,

As you cans see mine still showing like this :/
________________________________
From: Vladyslav <notifications@github.com>
Sent: Monday, 11 May 2020, 15:59
To: duke7553/files-uwp
Cc: astalavista5000; Mention
Subject: Re: [duke7553/files-uwp] Hard drives disappearing + other (#750)

@yaichenbaum<https://github.com/yaichenbaum> From my side it is working fine. I launched app in release

[2020-05-11 17:59] xPoppyx commented on #750
![Anotación 2020-05-11 135153](https://user-images.githubusercontent.com/61259627/81594928-a53bfd80-938f-11ea-8a9e-c87cb5dd1f2a.png)

[2020-05-11 18:01] yaichenbaum commented on #750
The reason you don't see it is that the update with the fix has not been released yet.

[2020-05-11 18:03] astalavista5000 commented on #750
What version are you on since in the previous email there was written that it was tried 20x and all drivers appeared without a problem?
Mine is 0.8.0.0

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Yair Aichenbaum<mailto:notifications@github.com>
Sent: 11 May 2020 20:01
To: duke7553/files-uwp<mailto:files-uwp@noreply.github.com>
Cc: astalavista5000<mailto:mi

[2020-05-11 18:04] yaichenbaum commented on #750
There is no version number yet since this update is still not complete. We will update this issue when the next update is released.

[2020-05-11 18:07] astalavista5000 commented on #750
Oh I see no problem then, this wasn’t a complain, just feedback, thanks for the work 😊

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Monday, May 11, 2020 8:04:50 PM
To: duke7553/files-uwp <files-uwp@noreply.github.com>
Cc: astalavista5000 <miklosschembri@hotmail.com>; Mention <

[2020-05-12 12:43] lewisnotfilc opened #776 "Open with option"
The app looks very good but it lacks an important feature in that I would like to choose what program a particular file opens with. Is this possible in the app? I may just not have recognised how to use this feature.

[2020-05-12 12:45] diligamer opened #777 "Concept for explorer"
This is a concept made for explorer's new design, could this be taken on as files's uwp design.
![image](https://user-images.githubusercontent.com/32780515/81692754-8b6de980-9467-11ea-8baa-48ebd79c9818.png)

[2020-05-12 13:43] yaichenbaum commented on #777
Thank you for taking the time to make this concept, **most** users are very happy with the current design and the plan is to keep improving what we already have rather than doing a redesign. Feel free to let us know what you feel is lacking in the current design to help us improve the design further.

[2020-05-12 13:54] diligamer commented on #777
This cleans up some inconsistencies and makes it closer to the new edge and adds a tree structure and a preview and details pane.

[2020-05-12 14:12] xPoppyx commented on #777
https://github.com/duke7553/files-uwp/issues/692#issuecomment-619397873

[2020-05-12 19:13] SOI7 commented on #777
Iirc the new WinUI now supports tree-view for side panels (https://twitter.com/gus33000/status/1255152407450796033?s=20), as for colored icons, sadly that can't be done since they rely on MDL2 Assets

[2020-05-12 19:42] diligamer commented on #777
Colored icons are in DLLs

[2020-05-12 19:44] SOI7 commented on #777
Yeah but UWPs can't reference them for sidebars, iirc @yaichenbaum referenced that in another issue

[2020-05-13 11:44] colinkiama opened #779 "App crashes when accessing android device's drive"
**Describe the bug**
App crashes whenever I try to access the drive of my android phone

**To Reproduce**
Steps to reproduce the behavior:
1. Plug-in phone
2. Click on phone under drive section
3. App crashes

**Expected behavior**
Root folder of the phone should be displayed

**Desktop**
 - OS Version: [e.g. Windows 10 1909 18363.778]
 - App version: [v0.8.0.0]

**Additional context**
App even cr

[2020-05-14 00:01] XPoppyX opened #782 "Add the option to pin items to start menu"
Option to pin programs and folders to the start menu

![8ws_5](https://user-images.githubusercontent.com/61259627/81877810-1af0c680-9554-11ea-865a-2656e2af1a27.png)

[2020-05-14 00:18] brukberhane commented on #642
Can confirm, Files UWP - Preview does not list the contents of network drives

[2020-05-14 01:21] duke7553 commented on #752
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-05-14 01:22] yaichenbaum commented on #752
I was able to reproduce this issue. If you ctrl + click on something it should select or deselect it.

[2020-05-14 01:24] duke7553 commented on #766
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-14 01:24] #766 closed

[2020-05-14 01:30] xPoppyx commented on #752
@duke7553 you can select multiple files with Ctrl + click, but you should also be able to deselect
![deselect](https://user-images.githubusercontent.com/61259627/81882382-9d7f8300-9560-11ea-9967-42d015440755.gif)

[2020-05-14 01:31] duke7553 commented on #757
Thank you for taking the time to open this feedback item. In order to best address this in a transparent way, we usually expect reporters to open each feedback topic (e.g. feature request, bug, question, discussion item) as its own ticket. Please review each topic suggested here, and add your own take on an already open issue, or open a new one.

Closing this now.

[2020-05-14 01:31] #757 closed

[2020-05-14 01:32] duke7553 commented on #777
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-05-14 01:32] #777 closed

[2020-05-14 01:32] duke7553 commented on #725
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-05-14 01:32] #725 closed

[2020-05-14 01:33] duke7553 commented on #732
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-05-14 01:33] #732 closed

[2020-05-14 01:39] duke7553 commented on #577
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-14 01:39] #577 closed

[2020-05-14 01:40] duke7553 commented on #688
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-14 01:40] duke7553 commented on #679
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-14 21:12] coff33ninja opened #783 "properties section needs looking into"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
right click properties needs a couple of tweaks
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
folder size calculation would be a great element as to the other right click properties section

[2020-05-15 02:22] jamiehoss opened #785 "Add Recycle Bin to sidebar"
I was wondering if it might be possible to put the Recycle Bin in the left sidebar? That would be a really useful feature, Windows File Explorer gives an option like this by allowing the Recycle Bin to be pinned in Quick Access.

[2020-05-15 03:12] xPoppyx opened #786 ""Date modified" does not display correctly"
![Anotación 2020-05-14 230101](https://user-images.githubusercontent.com/61259627/82007140-7cd62c80-9637-11ea-99b3-b4549da69bd7.png)

![seconds](https://user-images.githubusercontent.com/61259627/82007393-1a316080-9638-11ea-8496-5550b0182e78.gif)

-----------------------------------------------
"Date modified" Format #700

[2020-05-15 03:14] yaichenbaum commented on #785
Thank you for opening this issue. Files UWP does not support recycle bin at the moment. If we add support for it in the future, there will definitely be a way to pin it to the sidebar.

[2020-05-15 09:37] Jaiganeshkumaran commented on #786
I this this is related to #773

[2020-05-15 19:49] yaichenbaum commented on #752
This issue has been fixed with #788

[2020-05-15 19:49] #752 closed

[2020-05-15 19:53] diligamer commented on #630
I think the error should be `The file or folder name chosen is a reserved device file name kept for backwards compatibility with older devices. Please name your file or folder something else.`

[2020-05-15 19:55] diligamer commented on #785
Maybe something like this
![image](https://user-images.githubusercontent.com/32780515/82090922-22a09e80-96ff-11ea-9c5b-9bb3460451cd.png)

[2020-05-15 21:57] duke7553 commented on #641
Thank you for creating this feedback item. A solution for it is currently being reviewed as a PR (pull request) to our active development branch. We'll let you know once it's merged.

[2020-05-15 22:00] duke7553 commented on #773
@Jaiganeshkumaran Thank you for opening this feedback item.

Can you please elaborate on why this could be causing the display of negative timestamps? (e.g. -51 seconds)

[2020-05-15 22:06] duke7553 commented on #750
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-15 22:06] duke7553 commented on #752
Thank you for creating this feedback item. A solution for it is currently being reviewed as a PR (pull request) to our active development branch. We'll let you know once it's merged.

[2020-05-15 22:07] duke7553 commented on #752
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-15 22:27] #750 closed

[2020-05-15 22:52] duke7553 commented on #641
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-15 22:52] #641 closed

[2020-05-15 22:59] duke7553 commented on #723
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-15 22:59] #723 closed

[2020-05-15 22:59] #762 closed

[2020-05-16 01:21] xPoppyx commented on #664
- Slightly darker properties text in list view

![Anotación 2020-05-15 210958](https://user-images.githubusercontent.com/61259627/82106797-51b01380-96f1-11ea-842c-9876fc331d51.jpg)

[2020-05-16 01:49] #786 closed

[2020-05-16 06:16] Jaiganeshkumaran commented on #773
I think that this could be because of the calculation. Windows stores timestamps in UTC, not local time.
However Files UWP calculates relative time using DateTime.Now which returns the local time, and that may cause the display of negative timestamps if the time zone is behind UTC.

[2020-05-17 01:15] ChelaruCatalin opened #792 "Quick look focus is moved to the Files app"
Preview a image with "space" will open the quick preview app but the focus will be on Files app. This will make the use of "Esc" key to turn off QuickLook impossible.

To be able to use the "Esc" key one left click on the QuickLook window is required.

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 1903 18362.175]
 - App version: [v0.5.0]

[2020-05-17 01:17] ChelaruCatalin opened #793 "On StartUp options are greyed out"
![Annotation 2020-05-17 041703](https://user-images.githubusercontent.com/9988172/82133479-480fd400-97f5-11ea-8847-e4d084e5b02e.png)

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 1903 18362.175]
 - App version: [v0.5.0]

[2020-05-17 01:21] ChelaruCatalin opened #794 "After opening a file multiple times two, instances are opened at the same time."
After opening a file multiple times two instances are opened at the same time.
The problem "resets" if i go out of the folder and back in. But after 2-3 opening procedures of the same file the bug returns.

Issue observed with pictures and text files. Not reproducible with windows media player classic.

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 1903 1

[2020-05-17 01:26] ChelaruCatalin opened #795 "Add the ability to hide empty drivers"
Add a feature like Don't show hidden files, folders, or drivers from Folder Options.
This will hide this drivers as long as there is nothing plugged in.
![Annotation 2020-05-17 041703](https://user-images.githubusercontent.com/9988172/82133579-8f4a9480-97f6-11ea-80ed-55ed0ae6788c.png)

[2020-05-17 01:35] tsvietOK opened #796 "Bottom bar is not appeared after click on Home page "Open file location" button"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home page
2. Make sure recent files exists
3. Right click on recent file and click on "Open file location"
4. Bottom bar doesn't appear.

**Expected behavior**
Bottom bar should be visible like when you browsing files through drives.

**Screenshots**
![image](https:/

[2020-05-17 01:42] yaichenbaum commented on #793
Thank you for opening this issue, the reasons these options are greyed out is because they have not been implemented yet.

[2020-05-17 01:42] #793 closed

[2020-05-18 02:03] XPoppyX opened #798 "The app crashes when dragging an item on it from winrar"
![crash](https://user-images.githubusercontent.com/61259627/82167399-af776380-9889-11ea-8c69-4c6e7f9c082b.gif)
v0.8.0

[2020-05-18 12:33] XPoppyX opened #799 "The app crashes when opening some folders in grid view"
The app doesn't crash when opening some folders, if the folder is empty or if it's pinned to the sidebar and you open it from there.

**after opening a folder, the first folder inside has an animation as if you had selected it, as seen in the gif**

**v0.8.1**
![crash](https://user-images.githubusercontent.com/61259627/82213234-d497c080-98e1-11ea-8f7c-e024891813d5.gif)

[2020-05-18 12:57] xPoppyx opened #800 "Some thumbnails do not load"
**updated:** v0.8.2

![Anotación 2020-05-19 112859](https://user-images.githubusercontent.com/61259627/82346074-084b1700-99c4-11ea-9cd3-80b8d7be8152.png)

[2020-05-18 13:11] Rick-HM opened #801 "Bug: Navigating backwards after changing the layout uses the previous layout option"
**Steps to reproduce**
1. Set folder options to apply to all directories
2. Navigate to the `c:` drive and then navigate to a child directory
3. Change the layout mode
4. Navigate backwards and observe that the `c:` drive is using the previous layout even though all directories are supposed to use the same layout

**Requirements**
- Navigating backwards should reload the items with the correct lay

[2020-05-18 13:49] astalavista5000 commented on #750
Just received the update, wonderful :D

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Yair Aichenbaum <notifications@github.com>
Sent: Saturday, May 16, 2020 12:27:45 AM
To: duke7553/files-uwp <files-uwp@noreply.github.com>
Cc: astalavista5000 <miklosschembri@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [duk

[2020-05-18 15:50] yaichenbaum opened #803 "v0.8.1 Crashes when launching"
I just updated to v0.8.1 and it crashes when launching the application.

[2020-05-18 15:53] fabioromeo commented on #803
Same issue here, app crashes even after reinstalling and clearing data.

[2020-05-18 15:54] tsvietOK commented on #803
@yaichenbaum v0.8.1 working fine for me. 20/20 successful starts.

[2020-05-18 15:59] fabioromeo commented on #803
Weirdly enough, after rebooting the machine I could open the app.

[2020-05-18 18:32] SOI7 commented on #803
It's kinda random, I'm able to use the app after several boots

[2020-05-18 23:44] yaichenbaum opened #805 "Thoughts on opening pull requests directly to master"
Right now, pull requests are meant to target `develop`. This can lead to merge conflicts when merging `develop` into `master`. I also noticed that when pull requests are merged into `develop` it doesn't show the creator of the changes as a contributor even after merging `develop` into `master`.
What are the communities thoughts on targeting `master` with their pull requests?

[2020-05-18 23:51] tsvietOK commented on #805
@yaichenbaum What do you men under "it doesn't show the creator of the changes as a contributor"? Commit info already contain info about all authors
![image](https://user-images.githubusercontent.com/20501502/82269826-8505d300-997b-11ea-88a4-34079ca603c0.png)

[2020-05-19 00:02] yaichenbaum commented on #805
@tsvietOK https://github.com/duke7553/files-uwp/graphs/contributors.

[2020-05-19 00:19] #796 closed

[2020-05-19 01:53] yaichenbaum commented on #805
All pull requests should now target `master`.

[2020-05-19 02:07] #805 closed

[2020-05-19 03:24] yaichenbaum commented on #803
This issue has been fixed with the v0.8.2 release.

[2020-05-19 03:24] #803 closed

[2020-05-19 03:26] yaichenbaum commented on #760
Thank you for opening this issue, we are going to move the tracking over to #559. Make sure to subscribe to the #559 to get notified when the issue is fixed.

[2020-05-19 03:26] #760 closed

[2020-05-19 03:27] yaichenbaum commented on #678
@tsvietOK Can you confirm that you fixed this issue?

[2020-05-19 03:27] yaichenbaum commented on #563
Is this still an issue with the latest v0.8.2 release?

[2020-05-19 09:09] tsvietOK commented on #678
@yaichenbaum it is not my patch 😁, but issue has been fixed.

[2020-05-19 11:25] #678 closed

[2020-05-19 11:26] yaichenbaum commented on #678
Thank you @Dylan-Osborne for fixing this issue!

[2020-05-19 12:06] Darhagonable commented on #563
@yaichenbaum It seems to be fixed now :D

[2020-05-19 12:15] Darhagonable commented on #745
this seems to be fixed now as well

[2020-05-19 12:15] Senko-Dev commented on #664
I now have VS and will start work on the change.

[2020-05-19 12:19] yaichenbaum commented on #664
@Senko-Dev This design concept is very good but it has not yet been approved, feel free to open a pull request so we can continue the discussion.

[2020-05-19 12:19] yaichenbaum commented on #745
@Darhagonable Thank you for letting us know.

[2020-05-19 12:19] #745 closed

[2020-05-19 13:05] Dylan-Osborne commented on #721
@xPoppyx Would something like this suffice?
It just a standard tooltip that displays for about 5 seconds.
Folder:
![ToolTipFolder](https://user-images.githubusercontent.com/46000533/82329552-c5983780-99e1-11ea-921a-05afca6d3f61.jpg)
File:
![ToolTipFile](https://user-images.githubusercontent.com/46000533/82329560-c7fa9180-99e1-11ea-95e9-927aa3602306.jpg)

[2020-05-19 13:26] yaichenbaum commented on #721
@Dylan-Osborne That would be really great! Maybe we can add a feature flag to let you display the hash in the tooltip as well (or would that not work because of the time it takes to calculate the hash)?

[2020-05-19 13:52] Dylan-Osborne commented on #721
@yaichenbaum I'm personally not too keen on adding the hash to the tooltip as most standard users will never use a hash.

The real problem comes that the tooltip only shows for around 5 seconds, so for larger files the tooltip may already have disappeared before the hash is calculated.

However as you suggested, it might work to add a flag that determines whether or not to include the hash. It may

[2020-05-19 13:52] xPoppyx commented on #721
I don't think it will be useful if it takes time to show

[2020-05-19 13:55] yaichenbaum commented on #721
@Dylan-Osborne I agree with your points, I think we should leave the hash alone for now. If we do decide to add it later, we can always do it behind a flag.

[2020-05-19 16:03] cherepets opened #809 "Move/Copy/Delete UI for long operations"
When I'm trying to delete a really big folder I have no UI confirmation that it's currently happening and how long will it take.

Would be great to add such dialog windows.

It's also ok to just open a default Windows dialogs if that's possible.

[2020-05-19 16:04] Darhagonable commented on #800
to add to this if one clears thumbnails Files UWP doesn't seem to be able to make new ones so one has to first open the folder in file explorer so the thumbnails get created.

[2020-05-19 16:11] duke7553 commented on #800
@Darhagonable Thanks for this feedback. I know what the problem is, and will fix it soon based on this information.

[2020-05-19 16:22] Darhagonable opened #810 "Blurry low res image thumbnails"
v0.8.2

In grid view the thumbnails of low res images appear blurry. This might be intentional when scaling but if one does pixel art or Minecraft textures etc it's not really ideal.
![image](https://user-images.githubusercontent.com/14127357/82351780-53cde700-99fd-11ea-9316-69587586159e.png)
(these are 16x16)

If the thumbnails would use integer scaling instead that would be much preferred.

[2020-05-19 16:28] GittyMac commented on #803
0.8.2 still crashes for me with a Windows.UI.XAML.dll crash.

[2020-05-19 16:45] 00SAMU opened #811 "I'm having trouble opening file using touch"
**Describe the bug**
On my surface laptop 3, when i try to open a file (such as an image) using touch, i try to simulate a "double click", like when i open a file normally usning the touchpad or the mouse, but the most of the times the file does not open, due to a bad timing calibration between the two touches i think (but i'm not sure). Sometimes the files opens if i touch 3 times really quickly,

[2020-05-19 18:53] generalguy41 commented on #721
Why does the tooltip need to disappear after a set time? Would it not be better to have it replicate the explorer functionality?

[2020-05-19 18:55] yaichenbaum commented on #721
The tooltip is just to get a quick glance at the information.

[2020-05-19 19:01] Senko-Dev commented on #37
Can I help translate for Arabic langauage?

[2020-05-19 19:04] generalguy41 commented on #721
That's fair, but the way it works in explorer still serves that purpose

[2020-05-19 20:16] yaichenbaum commented on #37
@Senko-Dev Absolutely! Let us know if you have any questions.

[2020-05-20 10:46] Dylan-Osborne commented on #721
@generalguy41 I agree with you that the tooltip should display for longer (explorer shows for 32 seconds), unfortunately the tooltip duration property is not available for UWP at the moment. I've tried using other components, but as far as i can see it then breaks the capability to select files.

An issue regarding the missing properties has already been created [here](https://github.com/microsoft

[2020-05-20 20:09] tsvietOK commented on #664
@yaichenbaum We should extend design concept on how window look, when it has smallest available width.
Now it looks like:
![image](https://user-images.githubusercontent.com/20501502/82491858-ee0d5800-9aed-11ea-8ef7-2bf6512812d9.png)
I have some draft example
When changing window width, some elements hiding by window border.
Normal width:
![image](https://user-images.githubusercontent.com/20501502/

[2020-05-20 20:15] yaichenbaum commented on #664
@tsvietOK You brought up a great point, I think it's best to leave the navigation bar how it currently is (we can make the text size a little smaller). This would prevent the issue of controls getting cut off when the window is sized small.
In order to improve the tabs experience, what do you think of collapsing the sidebar to be compact?

[2020-05-20 20:18] tsvietOK commented on #664
@yaichenbaum I think it is a good idea, moreover there is a different [variants](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview#adaptive-behavior) how it could looks like when window has small size.

[2020-05-20 20:20] #559 closed

[2020-05-20 20:21] yaichenbaum commented on #559
This issue has been resolved with #816.

[2020-05-20 20:31] yaichenbaum commented on #664
I still think we can use the proposed design for large sized Windows.

[2020-05-20 20:39] tsvietOK commented on #664
@yaichenbaum What do you mean? Do we use large sized design now?

[2020-05-20 20:40] yaichenbaum commented on #664
By large size, I meant including the nav buttons and textbox on the same line.

[2020-05-20 20:49] yaichenbaum commented on #660
This issue was fixed with #787.

[2020-05-20 20:49] #660 closed

[2020-05-20 20:49] #679 closed

[2020-05-20 22:05] Senko-Dev commented on #37
What does this mean @yaichenbaum
![image](https://user-images.githubusercontent.com/32780515/82502122-1fdaea80-9aff-11ea-9e4e-957c58230fd8.png)

[2020-05-20 22:17] Senko-Dev commented on #37
I also can't translate because I don't see the option. @yaichenbaum

[2020-05-20 22:18] Senko-Dev commented on #37
Oh, I didn't restart VS, no worries

[2020-05-20 22:22] yaichenbaum commented on #37
@Senko-Dev Make sure to check out the documentation on translating Files and what tools you need to do that.

[2020-05-20 22:25] Senko-Dev commented on #37
@yaichenbaum What am I supposed to do with the XLF file?

[2020-05-20 22:54] XPoppyX opened #817 "Display how many items you select to delete"
![Anotación 2020-05-20 184632](https://user-images.githubusercontent.com/61259627/82504871-68c47c00-9aca-11ea-9849-31a9d304e370.png)

[2020-05-21 01:39] Darhagonable opened #819 "Feature: Preview gif files when hovering the mouse on top of the thumbnail"
**Requirements**
- Holding the mouse cursor over gif thumbnails in the grid layouts should start playing the gif

[2020-05-21 05:09] innameonly opened #820 "suggest"
I think if you fix it with the original file explorer ,it will be better.

[2020-05-21 05:17] yaichenbaum commented on #819
That is an interesting idea, I assume this would be for the grid view layout.

[2020-05-21 11:26] Darhagonable commented on #819
Yes for grid view layout. I forgot to mention that :P

[2020-05-21 12:46] innameonly opened #823 "bug"
The latest version
It crashs when delete something

[2020-05-21 19:26] duke7553 commented on #820
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-05-21 19:26] #820 closed

[2020-05-21 21:09] ChelaruCatalin opened #825 "Rename will open the file / folder"
Version 0.8.2.0 from window store.

When rename is selected from the contextual menu the file is open or the folder is open.

[2020-05-21 21:15] xPoppyx commented on #825
#651

[2020-05-22 00:05] innameonly commented on #820
Iam sorry .It is mix not fix

[2020-05-22 07:44] Airloss opened #826 "File sort mode can be independently in different folders"
I hope each folder level to be sorted independently like File Explorer.

[2020-05-22 11:35] xPoppyx commented on #826
#530

[2020-05-23 20:24] #563 closed

[2020-05-24 01:58] #800 closed

[2020-05-24 01:58] #810 closed

[2020-05-24 01:59] yaichenbaum commented on #810
This issue has been fixed with #812 and will roll out in the next update to Files UWP.

[2020-05-24 01:59] yaichenbaum commented on #800
This issue has been fixed with #812 and will roll out in the next update to Files UWP.

[2020-05-24 01:59] yaichenbaum commented on #799
This issue has been fixed with #812 and will roll out in the next update to Files UWP.

[2020-05-24 08:23] jayasio opened #828 "Support drag to move to another tab"
**Is your feature request related to a problem? Please describe.**
One of the main uses of multiple tabs for me would be to move a file/set of files from one folder to another, in this case, tabs.

**Describe the solution you'd like**
When I drag selected files/folders to another tab, the tab should automatically switch to the one the cursor is on top of. I should then be able to put it in, which

[2020-05-24 10:15] Jaiganeshkumaran opened #829 "I'd like to drag storage items into/outside the app"
**Describe the bug**
Drag and drop only works for moving files and not for uploading files to websites like OneDrive.

**Expected behavior**
File should be uploaded to the website.

**Desktop (please complete the following information):**
 - OS Version: Windows 10 Pro Insider Preview Build 19624.1000
 - App version: v0.8.2.0

[2020-05-24 10:30] lorisobi opened #830 "Search gets cropped in compact size"
Searchbar in the Settings gets cropped in compact size (4k Screen)
![Anmerkung 2020-05-24 123018](https://user-images.githubusercontent.com/28399150/82751835-58f2b380-9dba-11ea-9c62-f4de28787bc3.jpg)

[2020-05-24 13:40] yaichenbaum commented on #829
@Jaiganeshkumaran By uploading to websites, do you mean that you want to be able to drag a file out of Files UWP into an app or website to load it?

[2020-05-24 15:17] Jaiganeshkumaran commented on #829
Yes. I want to be able to drag any file out of Files UWP to load it in a external app or website just like to built-in File Explorer.

[2020-05-24 17:06] duke7553 commented on #799
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-24 17:07] duke7553 commented on #800
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-24 17:07] duke7553 commented on #810
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-24 17:47] Darhagonable commented on #810
just built from the master branch and this doesn't seem to be fixed...
![image](https://user-images.githubusercontent.com/14127357/82760953-55315200-9df7-11ea-9862-84ce9cab9d4c.png)
images with low resolution still looks blurry.

[2020-05-24 21:23] yaichenbaum commented on #753
This has been implemented with #827 and will roll out with the next release.

[2020-05-24 21:23] #753 closed

[2020-05-24 21:24] yaichenbaum commented on #772
Is there a specific area that you would like to use a smaller font?

[2020-05-24 21:26] yaichenbaum commented on #545
Thank you for opening this issue, there are no plans to change the icon design as we want to continue using the MDL2 Assets, if the assets are updated to include colored icons, we will be one of the first to start using them.

[2020-05-24 21:26] #545 closed

[2020-05-24 21:30] yaichenbaum commented on #657
@xPoppyx Can you confirm if these issues are fixed in `master`?

[2020-05-24 21:43] xPoppyx commented on #657
Still the same, I also just realized that when reaching the end of the name advancing letter by letter, the following file is selected (as seen in the gif) , this also happens in v0.8.2
![rename](https://user-images.githubusercontent.com/61259627/82765429-febb1800-9de4-11ea-9e48-bf88c17840f5.gif)

[2020-05-24 21:55] tsvietOK commented on #657
@yaichenbaum I could recommend only use of rename dialog. There is no way to increase height of separate item in folder, because "ItemsWrapGrid sizing all its items based on the first item's size (by default) " [source](https://github.com/microsoft/microsoft-ui-xaml/issues/2444#issuecomment-629223778)

[2020-05-24 22:10] yaichenbaum commented on #657
I don't want to add back in the rename dialog, I think we will keep this issue open and try to find a workaround.

[2020-05-24 22:19] xPoppyx commented on #657
is it possible to do something like this? changing the size of the icon / thumbnail and the textbox depending on how long the name is, up to a certain limit of course, and with the possibility of scrolling in the textbox, not with the mouse wheel, but when selecting (as in the gif above) or with the arrow keys

![Anotación 2020-05-24 181400](https://user-images.githubusercontent.com/61259627/82766

[2020-05-25 02:43] xPoppyx commented on #679
after renaming you still need to refresh manually

[2020-05-25 04:00] duke7553 commented on #773
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-05-25 04:00] #773 closed

[2020-05-25 07:23] xumepoc commented on #772
Well in general. The best option is for the user to be able to set the font size so that it can fit his needs.
Here is a screen shot of the normal File Explorer in Windows 10 and the UWP. I am ware that the font size in UWP applications is a big bigger, but you can also see how much less of information you can get at the same time comparing the two
![Annotation 2020-05-25 101713](https://user-imag

[2020-05-25 07:33] xumepoc opened #834 "Can't drag and drop file into Files UWP"
**Describe the bug**
You can drag and drop a file from Files UWP to anywhere else. But It seems that it is not possible to do the opposite: to drag and drop a file in Files UWP. For example if you want to drag and drop a file into a opened tab in Files UWP it is not possible

**To Reproduce**
Just try to drag and drop a file from a outlook application or even the File Explorer into the Files UWP.

[2020-05-25 07:58] xumepoc opened #835 "Default right mouse contextual menu not available while file is selected."
**Describe the bug**
In Files UWP the default right mouse contextual menu not available while file is selected. This is how it is working in File Explorer, but in File Explorer you can "deselect" a file by clicking on an empty space around the file. This is very useful when you want to "paste" a copied file but you have clicked on a file by accident.

**To Reproduce**
Copy a file.
Go to Files UWP

[2020-05-25 16:44] xumepoc opened #836 "Wrong date of modification for files"
**Describe the bug**
Apologies if this is already reported.
The date of modification is not taking into account the local time set on Windows 10. I live in timezone which is UTC +2  (+1 with Summer Time). The date of modification shows 3 hours ago for files which I just modified

**To Reproduce**
1. Change the time zone to UTC +2
2. Modify a file
3. Check data of modification of that file in Files

[2020-05-25 17:00] xPoppyx commented on #836
fixed: #831

[2020-05-25 17:01] yaichenbaum commented on #836
There is a potential fix for this issue in the fast ring, sign up [here ](https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAO__Qw_X6FUM0pUSzMxNUlCWE1FVENKVlVNVUNTRVpOUS4u)to get early access to updates.

[2020-05-25 17:58] xumepoc commented on #836
O this is great to hear :D :D :D

[2020-05-25 17:58] #836 closed

[2020-05-26 00:29] kangsoto commented on #255
nice trick and good isue

Hello guys, i just want you to know there is a game called https://joker123gaming.co You can play this game where ever you are, and so simple to play.

[2020-05-26 01:07] mexicanbuttslutt commented on #255
Who likes Mexican tight round ass
![1590405238593](https://user-images.githubusercontent.com/65930165/82850809-647dd180-9ec3-11ea-8cbc-7bdd0779bf24.jpg)

[2020-05-26 01:09] mexicanbuttslutt commented on #255
![VideoCapture_20200524-100738](https://user-images.githubusercontent.com/65930165/82850885-a4dd4f80-9ec3-11ea-9ed1-780637418c7b.jpg)

[2020-05-26 01:18] duke7553 commented on #488
@yaichenbaum Is there still a log file he can post to give us more information about drive loading?

[2020-05-26 01:22] duke7553 commented on #693
@seohyun1108 Hello there. Thanks for reporting this feedback to us. Have you noticed any improvements in this area with the latest updates?

[2020-05-26 01:25] duke7553 commented on #696
@YourDailyLlama @seohyun1108 Thanks for reporting this. Can you confirm on the latest update that the items in this folder which are missing are NOT shortcut files?

[2020-05-26 01:54] duke7553 commented on #811
Duplicate of #734

[2020-05-26 01:54] #811 closed

[2020-05-26 01:56] duke7553 commented on #823
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-05-26 01:56] #823 closed

[2020-05-26 02:21] yaichenbaum commented on #488
@NellPoi Is this still an issue in v0.9?

[2020-05-26 02:34] yaichenbaum commented on #835
@xumepoc Thanks for reporting this issue, it should be resolved with next v0.9. Please reopen this issue if you can reproduce this when you get the update.

[2020-05-26 02:34] #835 closed

[2020-05-26 03:01] XPoppyX opened #843 "Tiles View: file type not displaying correctly in my language"
![82855662-e5e05e80-9ed9-11ea-957b-9ab4aee35515](https://user-images.githubusercontent.com/61259627/82856250-7ff4d680-9edb-11ea-99d0-d958467017d7.png)

[2020-05-26 03:03] duke7553 commented on #779
Thank you for reporting this. I found out that this is a larger issue than I originally thought, as we have no way of enumerating the storage items from a phone's internal storage unless it has a path returned on the system. (Which it probably doesn't)

Hopefully, I can work with someone more talented than myself in this area soon.

[2020-05-26 03:05] duke7553 commented on #779
My initial thought is that we need to build a new way to access devices like this without being so dependent on their root path because those do not exist.

[2020-05-26 03:05] XPoppyX opened #844 "Slightly darker text of file properties in list view"
My proposal is that the texts of the file properties in list view are a little darker, like in file explorer

**current:**
![Anotación 2020-05-31 153848](https://user-images.githubusercontent.com/61259627/83361247-557ca080-a355-11ea-9d9e-f2f3e9970c5f.png)

**proposal:**
![82106797-51b01380-96f1-11ea-842c-9876fc331d51](https://user-images.githubusercontent.com/61259627/83361271-8d83e380-a355-11ea-8

[2020-05-26 04:51] hari1209-spec opened #846 "Iron Man"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-26 04:52] yaichenbaum commented on #846
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-05-26 04:52] #846 closed

[2020-05-26 04:59] Reset12138 opened #847 "Need .Msixbundle in Releases"
If the .Msixbundle is given in every Releases, I can add it in [microsoft/winget-pkgs](https://github.com/microsoft/winget-pkgs)

[2020-05-26 05:03] yaichenbaum commented on #847
I will update releases with the msixbundle shortly after they go live on the Microsoft Store.

[2020-05-26 05:03] #847 closed

[2020-05-26 05:04] Reset12138 commented on #847
ok thank you

[2020-05-26 05:41] Dayflare commented on #642
can confirm with Version 0.8.2.0 from Microsoft Store, not working with 0.8.2.0 Github Version either.

[2020-05-26 06:46] baileyaish123 opened #848 "cvc 1"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-05-26 06:46] baileyaish123 commented on #848
Duplicate of #

[2020-05-26 06:47] baileyaish123 commented on #848
hi

[2020-05-26 09:06] Jaiganeshkumaran commented on #676
I want to be assigned to #221

[2020-05-26 11:38] Tsubajashi commented on #848
Your OS Version, and version of the App is very old. can you try updating them, and check if the issue persists?

[2020-05-26 12:47] yaichenbaum commented on #676
@Jaiganeshkumaran Sure! Make a comment on that issue so I can assign it to you 😃

[2020-05-26 12:48] Darhagonable commented on #810
This is still an issue on v0.9.0

[2020-05-26 12:49] yaichenbaum commented on #848
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-05-26 12:49] #848 closed

[2020-05-26 12:52] Jaiganeshkumaran commented on #221
I can fix this issue.

[2020-05-26 12:54] yaichenbaum commented on #221
@Jaiganeshkumaran Thank you for jumping in! I am going to assign you this issue, if you decide you don't want to do it in the end, just let us know so we can assign it to someone else.

[2020-05-26 13:15] Jaiganeshkumaran commented on #221
This occurs because Files UWP tries to delete the file and when it fails, it shows the exception message in a ContentDialog. While we could simply change the message, it will still show the confirmation dialog before deleting if that is enabled. A simple way to check if a file in use is to read it in a stream. If the file can't be read we could assume that the file is open.

[2020-05-26 14:01] nodew opened #852 "Can't build from visual studio"
Error message
[code]
System info
[code]

[2020-05-26 15:21] TailyFair opened #854 "Inline path between navigation controls"
**Is your feature request related to a problem? Please describe.**
I think path is taking too much space with no reason and controls don't take that much space.

**Describe the solution you'd like**
I think path could be in-lined between navigation controls. And make it feel more like web browser.
Also making path font a bit smaller would make it look better.

**Additional context**
![image](https

[2020-05-26 15:22] TailyFair commented on #854
Just noticed that this is suggested in https://github.com/files-community/files-uwp/issues/664
Closing for duplication.

[2020-05-26 15:22] #854 closed

[2020-05-26 15:28] duke7553 commented on #221
@Jaiganeshkumaran Why not just handle the exception thrown when the file is in use?

[2020-05-26 18:34] yaichenbaum commented on #847
@Reset12138 The msix for v0.9.0 is now uploaded for the v0.9.0 release.

[2020-05-26 18:52] yaichenbaum commented on #37
I want to give a big thanks to everyone who has worked on translations, we are getting close to launching the first official preview #676 and I wanted to mention a couple things to keep in mind.
- **Missing strings**, we have been adding strings for different parts of the app as we work on refining the app. Even with all the strings we added, we have definitely missed some, so make sure to let us

[2020-05-26 19:04] Reset12138 commented on #847
got it. Thanks for your reminding.

-------- 原始信息 --------
发件人： Yair Aichenbaum <notifications@github.com>
日期: 2020/5/27 02:34 (GMT+08:00)
收件人： files-community/files-uwp <files-uwp@noreply.github.com>
抄送： 谭源 <kentertan12138@Outlook.com>, Mention <mention@noreply.github.com>
主题： Re: [files-community/files-uwp] Need .Msixbundle in Releases (#847)

@Reset12138<https://github.com/Reset12138> The msix

[2020-05-26 19:15] psdcovers opened #855 "Cannot see aliases and volumes"
**Describe the bug**
Firstly --- HOLY WOW!  As a macOS user who switched to Linux and is using vmware for Win10 all I can say is Files UWP brings sanity to the file manager.  I look forward to buying it.

THE BUG:  I'm currently working in Windows 10 Pro (paid) using VMWare Pro (paid) and to avoid filling up the VM with work that only exists in the VM I'm working from my mounted Synology NAS drive

[2020-05-26 19:43] R3voA3 commented on #37
@yaichenbaum Which branch contains the latest translation files? Translations branch seems to be gone.

[2020-05-26 19:46] yaichenbaum commented on #37
@R3voA3 The `master` branch contains the latest code, the documentation is a little out of date right now.

[2020-05-26 20:09] R3voA3 commented on #830
Can confirm, same issue on 1920x1080. The marging between the menu left of the search box and the box itself is too large, or minium window size should be increase slightly.

[2020-05-26 20:13] lampenlampen commented on #855
This is a known bug, that network drives appear empty (#642).

[2020-05-26 20:51] SOI7 opened #857 "Occasional crash when switching viewmode"
**Describe the bug**
Sometimes, when I switch viewmode (doesn't matter which one), the app crashes

**To Reproduce**
Simply switch viewmode consecutively

**Desktop (please complete the following information):**
 - OS Version: Windows 10 1909
 - App version: v0.9.0

**Additional context**
It may be related to loading thumbnails after switching viewmode

[2020-05-26 21:11] xPoppyx commented on #857
I was testing and it only happens between the grid views

[2020-05-26 22:29] duke7553 commented on #525
Thank you for creating this feedback item. This issue is resolved with the latest updates.

[2020-05-26 22:29] #525 closed

[2020-05-26 22:34] yaichenbaum commented on #855
@psdcovers Thank you for the kind words 😃. Can you check if manually navigating to your drives work?

[2020-05-26 22:37] duke7553 commented on #287
I thought about this proposal, and pinning individual files to the sidebar isn't useful to enough users. Regardless, the sidebar is intended to get users to their destination, rather than be the destination. This is why that idea conflicts with the design metaphor. However, we're investigating ways to better enhance discoverability of relevant items using the home page.

[2020-05-26 22:40] yaichenbaum commented on #287
I personally have some files I frequently open, for example the sln for Files UWP, having these pinned to a quick access section at the top of the sidebar would be helpful. I don't necessarily want to navigate to the directory and find the correct file there in order to open it.
I can see that some users won't want this but making it optional can solve that concern.

[2020-05-26 22:42] duke7553 commented on #852
@nodew Can you please provide more information about how you've tried to solve the problem. (e.g. cleaning and rebuilding)

[2020-05-26 23:01] szaimen commented on #287
So reopen?

[2020-05-27 02:33] Jaiganeshkumaran commented on #221
It depends on what you mean by open. Some apps like notepad and the photos app don't lock their file so you can successfully delete those even if it is open.

[2020-05-27 02:55] lorisobi commented on #830
or it should minimize to a button , which expands, when you click it

[2020-05-27 03:10] duke7553 commented on #287
I'll re-open this, but we should still consider changes to the new tab page to improve discoverability.

[2020-05-27 14:58] Jaiganeshkumaran commented on #564
Tablet mode support has been implemented in v0.9.0

[2020-05-27 14:59] #564 closed

[2020-05-27 15:21] MarcAnt01 commented on #564
@yaichenbaum can this be opened? Esc key is not working

[2020-05-27 15:22] yaichenbaum commented on #564
You can already use the `Back` key.

[2020-05-27 15:22] machinesmith42 opened #867 "Missing open with option"
One of the good features of the current windows explorer is a open with function.

[2020-05-27 15:23] MarcAnt01 commented on #564
Yes, but I'd like to use esc, like I do in some apps

[2020-05-27 15:24] machinesmith42 opened #868 "Favorite folders"
I would like the ability to pin folders to the home tab besides the defaults.

[2020-05-27 15:26] #867 closed

[2020-05-27 15:26] yaichenbaum commented on #564
There are no plans to support the `Esc` key.

[2020-05-27 15:26] machinesmith42 commented on #867
duplicate

[2020-05-27 15:27] MarcAnt01 commented on #564
Can I ask why? Are there any drawbacks?

[2020-05-27 15:29] yaichenbaum commented on #564
The `Esc` key is used for other functions throughout the app and it can cause potential conflicts.

[2020-05-27 19:49] RomanKornev opened #870 "Crash when changing a drive"
**Describe the bug**
Just installed the app and tried to switch drives. App became very laggy and, after switching, it crashed.
Didn't happen again after, but should still be fixed.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on any drive
2. Sometimes the app crashes

**Expected behavior**
The app doesn't crash

**Desktop (please complete the following information):**
 - OS: Window

[2020-05-27 19:57] RomanKornev commented on #697
Can confirm it crashes
[code]

[2020-05-27 20:04] RomanKornev opened #871 "Flickering UI refresh every second"
**Describe the bug**
App flickers every second in some folders

**To Reproduce**
Steps to reproduce the behavior:
1. Go to app's log directory
2. UI flashes every second

**Expected behavior**
UI should not flash every second

**Screenshots**
![2020-05-27 22 59 08](https://user-images.githubusercontent.com/5807561/83066599-f9243300-a06d-11ea-8b6a-925f9878b909.gif)

**Desktop (please complete the f

[2020-05-27 20:06] RomanKornev commented on #870
May or may not be related to #871. It crashed again right after switching from that directory with the same error in the log.

[2020-05-27 20:06] RomanKornev commented on #871
Crashed right after recording this

[2020-05-27 20:37] RomanKornev commented on #857
Can confirm it crashes

[2020-05-27 20:58] yaichenbaum commented on #871
This is do to a task that is watching for changes to files, we will work on improving this in the future, but this is necessary to prevent crashes when renaming files.

[2020-05-27 21:02] yaichenbaum commented on #868
This shouldn't be too hard to address, we should treat them like any other directory and the only difference would be that we pin this by default.

[2020-05-27 23:16] XPoppyX opened #873 "With "Show extensions for known file types" disabled, when renaming a file you need to type its extension or it will be unformatted"
![bug](https://user-images.githubusercontent.com/61259627/83084735-d8e97980-a057-11ea-97eb-6444337e9eca.gif)

[2020-05-27 23:43] duke7553 commented on #873
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-05-28 00:06] xPoppyx commented on #873
- With "Show extensions for known file types" **Enabled**

![Captura de pantalla (215)](https://user-images.githubusercontent.com/61259627/83083124-4a72f900-a053-11ea-8cf4-c3b9742c7e27.png)
--------------------------------------------------------------------------
- With "Show extensions for known file types" **Disabled**

_when renaming it is necessary to write its extension at the end or the fil

[2020-05-28 00:44] lextm opened #874 "Port it to macOS via Uno Platform"
**Is your feature request related to a problem? Please describe.**
Finder is not a very convenient file explorer to use, so there are tons of attempts to write a good file explorer for Mac. Files UWP can be one of them.

**Describe the solution you'd like**
Uno Platform enables UWP apps to port to several platforms, including macOS, so Files UWP can run on macOS if converting to a Uno app.

**Addi

[2020-05-28 02:43] Battler624 opened #875 "Behavior Changes | Crash |"
First off I am amazed by the work you've put into this, soon enough I might switch to this permanently but before that a few things must be done. This is compared to regular files explorer that comes with windows

There is a chance to crash every time I create a new folder, it seems the bug is related to the refresh that happens the moment it is created (it either refreshes and doesn't crash or cr

[2020-05-28 06:42] RomanKornev commented on #871
It only appears that way on some folders, not sure why

[2020-05-28 09:22] Jaiganeshkumaran opened #876 "Properties window shows wrong date modified and created date for system root directories"
**Describe the bug**
The properties window seems to show that the system root directories were created and modified on January 1, 1601.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any drive other than network drives and OneDrive.
2. Right-click on the empty area and hit properties.
3. It'll show that the folder was modified and created on January 1, 1601.

**Expected behavior**
It

[2020-05-28 09:24] Jaiganeshkumaran commented on #794
By instance do you mean a separate window?

[2020-05-28 09:34] Jaiganeshkumaran commented on #524
@szaimen It works in File Explorer because it opens the image in a special way to enable Photos App to cycle through the photos in the folder.

[2020-05-28 10:08] ChelaruCatalin commented on #794
No,i am referring to multiple instances of the program i use to open that file. For photos, two Photos apps will open at the same time.

[2020-05-28 10:09] szaimen commented on #524
Thanks for the insights. Then could we do the same like file explorer?

[2020-05-28 10:30] Jaiganeshkumaran commented on #524
I don’t really know how it works but we should be able to implement it.

[2020-05-28 13:01] generalguy41 opened #877 "Enter key does not work to confirm delete action"
**Describe the bug**
To delete a file using the Delete keyboard shortcut displays the popup to delete the file, but pressing enter to confirm just changes the focus to the directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any directory.
2. Click on a file.
3. Press 'Delete' or 'Shift+Delete' to delete the file.
4. Press one of:
   1. 'Enter' to confirm. See that focus has shif

[2020-05-28 13:17] Jaiganeshkumaran commented on #871
Because some other app keeps modifying the folder.

[2020-05-28 13:22] lampenlampen commented on #642
It works in release mode as well.

[2020-05-28 14:39] NellPoi commented on #488
No fix yet，it's only show onedrive device
![image](https://user-images.githubusercontent.com/16631927/83155610-fdb31f00-a133-11ea-8a8f-9dc626b8a15c.png)

[2020-05-28 14:41] TailyFair commented on #642
It does not work in 0.9 for me. On hover, it shows correct network drive size, but when opened, no files are shown.

[2020-05-28 14:43] lampenlampen commented on #642
It does not work, if packaged. If you compile from source it works in `debug` and `release` mode.

[2020-05-28 14:47] lampenlampen commented on #642
https://github.com/files-community/files-uwp/blob/bbb6fd4effe1b4f3d629045a566e58d14c9a5831/Files/View%20Models/ItemViewModel.cs#L752-L753

If the app is packaged this line return an `Access denied`. `hfile == -1`.

I also found this [thread](https://docs.microsoft.com/en-us/answers/questions/8279/why-does-findfirstfileexfromapp-throw-a-win32excep.html).

[2020-05-28 15:38] psdcovers commented on #855
No, if I type the path to a mounted drive or to the alias on my desktop I just get an invalid item error.

[2020-05-28 17:50] #688 closed

[2020-05-28 23:22] xPoppyx commented on #873
@duke7553 Can you re-open it please? I already changed the title to better understand the issue

[2020-05-30 11:10] Jaiganeshkumaran opened #880 "'Open in New Tab' & 'Open in New Window' context menu options are only shown for the folders and not for the drives."
These options are only shown for folders. They should also be shown for the drives.

[2020-05-30 15:29] XPoppyX opened #881 "Display file Directory instead of full path in properties dialog"
**Before:**
![Captura de pantalla (221)](https://user-images.githubusercontent.com/61259627/83331981-c4c79700-a266-11ea-811f-e2aad0404151.png)

**After:**
![Captura de pantalla (220)](https://user-images.githubusercontent.com/61259627/83331984-c5f8c400-a266-11ea-8fe9-d88b87ae6515.png)

[2020-05-30 16:17] ChelaruCatalin opened #882 "Cmd not starting"
Cmd is not starting anymore after following this : https://github.com/files-community/files-uwp/wiki/Replacing-File-Explorer-with-Files-UWP

[2020-05-30 18:59] duke7553 commented on #881
@xPoppyx I'm kind of divided on this because the full path can be useful for some users.

[2020-05-30 19:00] duke7553 commented on #801
The simple solution is that changing the view mode should clear navigation history.

[2020-05-30 19:12] duke7553 commented on #488
@NellPoi
Thank you for opening this issue. Would you be able to share the log file here for additional information? You can get it by going to the folder %localappdata%/Packages, search there for the folder Files and there in the folder LocalState should be a file debug.txt, which contains a stacktrace.

[2020-05-30 19:14] duke7553 commented on #479
@Crocodile73 By any chance, do you have more than one user accounts on this machine?

[2020-05-31 01:53] #221 closed

[2020-05-31 02:07] yaichenbaum commented on #882
@ChelaruCatalin That guide can cause issue on your computer since it replaces File Explorer, if it interferes with your work I would recommend reversing any changes you made to the registry.

[2020-05-31 02:07] #882 closed

[2020-05-31 02:08] yaichenbaum commented on #881
We can technically provide a feature flag for this, I am in favor of just showing the path since the file name is already displayed but this should be left up for discussion.

[2020-05-31 07:16] RoderickQiu commented on #734
This happens for me too, both long press and double press on my finger is not working.
Also, after a double press, the app stops responding.

[2020-05-31 11:59] ferama opened #884 "Add WSL2 and possibly other network drive support"
**Is your feature request related to a problem? Please describe.**
It seems that there is no network drives support.
Also typing \\wsl$\... into the location bar brings up nothing

**Describe the solution you'd like**
A section on the left panel with the network drives list. Clicking on the network drive you should be able to list and manage files

[2020-05-31 15:22] Jaiganeshkumaran opened #885 "Files UWP shows 1 days ago instead of 1 day ago"
**Describe the bug**
Files UWP shows 1 days ago instead of 1 day ago in date modified.

**Expected behavior**
It should say 1 day ago.

[2020-05-31 16:46] Phil4102 commented on #881
What about a "show full path" button when hovering over it?

[2020-05-31 17:38] tsvietOK commented on #881
We could add a button or context menu "Copy path"

[2020-05-31 19:15] yaichenbaum commented on #874
@lextm Make sure to keep us updated on the progress, we have no plans on our end to port it but we will be happy to link to your fork when it's ready. Please comment or open another issue when you get it working on macOS 🙂

[2020-05-31 19:15] #874 closed

[2020-05-31 19:17] lextm commented on #874
@yaichenbaum Sure. It will remain in my own fork for a while, as a few Uno bugs have already been identified and investigated on their side. As soon as I have something working on a Mac, will report back and possible merge some changes here.

[2020-05-31 19:35] yaichenbaum commented on #877
This issue should be fixed with #878.

[2020-05-31 19:35] #877 closed

[2020-05-31 19:36] yaichenbaum commented on #844
@xPoppyx Can you please fill out the issue template explaining the issue or proposal?

[2020-05-31 19:38] yaichenbaum commented on #852
Closing this issue, please reopen if you have more information to help us debug the issue with building the application.

[2020-05-31 19:38] #852 closed

[2020-05-31 19:39] yaichenbaum commented on #868
Merging with #366.

[2020-05-31 19:39] #868 closed

[2020-05-31 19:40] yaichenbaum commented on #884
Merging with #295.

[2020-05-31 19:40] #884 closed

[2020-05-31 19:44] xPoppyx commented on #844
updated

[2020-05-31 22:47] #700 closed

[2020-06-01 00:02] xPoppyx commented on #885
Fixed: #888

[2020-06-01 00:05] #885 closed

[2020-06-01 10:28] Crocodile73 commented on #479
no only one account. I removed the Samsung SSD which was the issue, i have not tested it on newer versions.

[2020-06-01 15:16] xPoppyx commented on #844
@yaichenbaum I can do a PR of this if you want, now they are Gray and the headers are still Light Gray
![before](https://user-images.githubusercontent.com/61259627/83423238-b0b39f00-a3f8-11ea-999f-0bf88a1b6ba2.jpg)
![AFTER](https://user-images.githubusercontent.com/61259627/83423248-b4472600-a3f8-11ea-85b8-9f88606fa870.jpg)

[2020-06-01 18:23] xPoppyx commented on #772
I reduced the font size a bit, ready for PR

![FONTSIZE](https://user-images.githubusercontent.com/61259627/83440649-4b20dc00-a413-11ea-8697-5e21649b08c3.jpg)

[2020-06-01 18:24] yaichenbaum commented on #772
I don't know if we want to reduce the font size, perhaps we will add customization options but for now we will be keeping it how it is.

[2020-06-01 18:41] xPoppyx commented on #844
The problem is that when selecting an item, depending on the accent color, it does not look good.
![Captura de pantalla (224)](https://user-images.githubusercontent.com/61259627/83441748-08f89a00-a415-11ea-83c5-ec2cc29b05ce.png)

[2020-06-01 18:41] Kesune opened #893 "No thumbnails on images"
-Thumbnails don't seem to generate when images are on another drive other then C:

-When using the application thumbnails being available everywhere would be a nice option.

**Additional context**
Using the grid views.

[2020-06-01 18:43] yaichenbaum commented on #844
I think it's best to hold off given the accessibility issues this would cause.

[2020-06-01 20:18] xumepoc commented on #772
No problem for me :). I am closing the comment for now ;)

[2020-06-01 20:18] #772 closed

[2020-06-02 12:46] NellPoi commented on #488
[debug.txt](https://github.com/files-community/files-uwp/files/4717179/debug.txt)
I've been on my evection these days,so I didn't read your comments,I'm very sorry,I hope that it can do some help to you.

[2020-06-02 13:44] Darhagonable opened #895 "Image thumbnails are still blurry"
**The issue**
Pixel arts and low res textures and images appear blurry instead of pixelated like they should. If it's intentional it should at least be an option in the settings.
#812 was supposed to fix #810 but it never got actually fixed and the issue got closed anyways.

**Screenshots**
![image](https://user-images.githubusercontent.com/14127357/83527154-af14d480-a4e7-11ea-9a3a-04cf322f63c3.pn

[2020-06-02 15:12] Schmensch opened #896 "Allow option to select files and folders by dragging mouse over them with key pressed"

[2020-06-02 15:34] Joni135 opened #897 "Translation is not consistent"
If I use the application in german, the translation is not consistent.

**Steps to reproduce the behavior:**
1. Install app in german
2. Parts of the app are not translated

**Missing translations:**
If you look at the "Geändert" section in a folder, you can see that if the file was edited just a couple hours ago, the text says for example 23 hours ago. What should be standing there is: vor 23 Stu

[2020-06-02 15:40] yaichenbaum commented on #897
@Joni135 Whoever did the original translation for German hasn't updated the translations for some time, there is nothing that we can do about it ourselves but if you know German, feel free to translate the app yourself and open a pull request 🙂

[2020-06-03 04:11] yaichenbaum commented on #508
This has been addressed with #894.

[2020-06-03 04:11] #508 closed

[2020-06-03 04:12] yaichenbaum commented on #635
@Darhagonable Thank you for opening this issue, due to performance costs with adding a round corner to large ui elements https://docs.microsoft.com/en-us/windows/uwp/design/style/rounded-corner#rounded-corners-and-performance, we will not be making this change.

[2020-06-03 04:12] #635 closed

[2020-06-03 04:12] #897 closed

[2020-06-03 04:16] yaichenbaum commented on #37
I want to thank everyone who has participated in translating Files UWP, being that most of the app is now localized, I am going to be closing this pull request. If there are any issues with localization, feel free to open an issue or just continue using this issue even in it's closed state.

[2020-06-03 04:16] #37 closed

[2020-06-03 04:18] yaichenbaum commented on #809
Merging with #114.

[2020-06-03 04:18] #809 closed

[2020-06-03 04:22] yaichenbaum commented on #282
Closing this issue due to lack of interest.

[2020-06-03 04:22] #282 closed

[2020-06-03 04:23] yaichenbaum commented on #291
As of now the plan is to use the default locations set in Windows. If plans change in the future we will make sure to let you know.

[2020-06-03 04:23] #291 closed

[2020-06-03 04:26] yaichenbaum commented on #526
We are looking into a brand new option for tabs (your regular tab strip will still be an option) where tabs are moved to a flyout. While we haven't fully committed to this idea yet, expect to see releases with some changes to the tabs as we explore ways to improve the experience.

[2020-06-03 04:26] #526 closed

[2020-06-03 04:27] yaichenbaum commented on #526
Here is a sneak peak of pre production builds with a proof of concept
![image](https://user-images.githubusercontent.com/39923744/83595793-f1aecf00-a530-11ea-8cd4-8a5fa875da8a.png)

[2020-06-03 04:28] yaichenbaum commented on #526
Here is a sneak-peek of pre production builds with a proof of concept.
![image](https://user-images.githubusercontent.com/39923744/83595793-f1aecf00-a530-11ea-8cd4-8a5fa875da8a.png)

[2020-06-03 04:30] yaichenbaum commented on #372
@RobbyRobbyRobby Is it possible to Launch BatchFileRename with parameters from Files UWP?

[2020-06-03 04:33] yaichenbaum commented on #366
We have been exploring different possibilities to improve the home page and one of the ideas was to create a widget system where anyone can contribute widgets for the home page that can be pinned or unpinned to meet the users needs.
If this is something the open source community would be interested in working on, please let us know your thoughts and ideas for setting up the widget architecture.

[2020-06-03 04:36] yaichenbaum commented on #674
A number of improvements have been made to improve the properties dialog design, make sure to update to the latest version of Files UWP to get the best experience.

[2020-06-03 04:36] #674 closed

[2020-06-03 04:37] yaichenbaum commented on #669
@seohyun1108 The latest update added a feature flag in the experimental settings page to turn on support for recycle bin, make sure to check it out and let us know of any issues.

[2020-06-03 04:37] #669 closed

[2020-06-03 04:40] yaichenbaum commented on #785
@jamiehoss The latest version (v0.9.1) added support for recycle bin, make sure to head to the experimental page settings in settings to turn on this feature.

[2020-06-03 04:40] #785 closed

[2020-06-03 04:42] yaichenbaum commented on #763
Changes to the sidebar have been made and the shadow is not closer to the shadows in the Your Phone app.

[2020-06-03 04:42] #763 closed

[2020-06-03 18:44] Cyberdroid1 opened #899 "App doesn't show or crashes when moving an object to Recycle Bin"
Today, I found the feature of Recycle Bin in the app and then went on to use it. With the Files app open on the side of my desktop, I dropped one of my shortcuts to the bin and when i checked into the recycle bin of the app, there was nothing but the file explorer was showing the deleted shortcut. Next, I cut a folder from the desktop through the app and then pasted it in the recycle bin of the ap

[2020-06-03 18:47] yaichenbaum commented on #899
@Cyberdroid1 I am happy you found the experimental feature we just added, this is still a work in progress and your feedback will help us improve it further.
cc @gave92

[2020-06-03 18:48] Cyberdroid1 commented on #881
We can create an option in settings whether to show complete path or the directory of the file. That would also be useful

[2020-06-03 19:09] yaichenbaum commented on #881
There is a difference with the file name and the path, mainly that the path is made up of folders while the file is a file name. In this case we should just keep them separate to create a division between the two.

[2020-06-03 19:56] xPoppyx commented on #799
still happening in the latest version
![bug](https://user-images.githubusercontent.com/61259627/83682991-adfca980-a5b2-11ea-8959-c569257b61a4.gif)

[2020-06-03 21:42] gave92 commented on #899
@Cyberdroid1 thanks for reporting this.
I can confirm that the shortcuts do not appear, I opened an issue regarding this [here](https://github.com/dahall/Vanara/issues/129).
Regarding the crash could you post here the contents of the "debug.txt" file (and possibly "debug_fulltrust.txt") that you find at `%LocalAppData%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState`?

[2020-06-03 22:34] jamiehoss commented on #785
@yaichenbaum trying it now and it works great, thanks a lot for implementing it! Keep up the great work, love the app.

[2020-06-04 00:58] xPoppyx opened #901 "Check "permanently delete" automatically by pressing shift + Del"
I wasn't sure if publishing it as a bug, I think before it was already automatically checked with shift + Del, I don't remember, that's why I put it as a feature request

[2020-06-04 02:17] yaichenbaum commented on #901
@gave92 It looks like the pull request to add recycle bin broke this feautre.

[2020-06-04 04:09] Cyberdroid1 commented on #899
[debug.txt](https://github.com/files-community/files-uwp/files/4727474/debug.txt)

The link for the file is given above. Please inform me if there is any sensitive info. The error happened yesterday only (twice). I did not find the debug_fulltrust.txt in the mentioned folder. Can you please tell where is it located?

[2020-06-04 07:35] gave92 commented on #901
I'm looking into this

[2020-06-04 08:39] gave92 commented on #899
@Cyberdroid1 debug.txt does not contains sensitive infos.
`debug_fulltrust.txt` may not be generated depending on the crash (if there is it's in the same place as debug.txt. I'll look into this.

[2020-06-04 08:59] Cyberdroid1 commented on #899
Ok, thanks

[2020-06-04 11:46] #901 closed

[2020-06-04 20:29] duke7553 commented on #895
@Darhagonable I'm interested in fixing this. Can you please send me a pixel art texture to test with?

[2020-06-04 20:31] duke7553 commented on #893
I cannot reproduce this one.

[2020-06-04 20:32] duke7553 commented on #693
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-06-04 20:32] #693 closed

[2020-06-04 20:47] Darhagonable commented on #895
@duke7553
![door_wood_upper test](https://user-images.githubusercontent.com/14127357/83808503-2f3c6500-a6b5-11ea-94b2-546296fb4def.png)

[2020-06-04 21:58] Darhagonable opened #915 "Smart Layout mode"
I think it would be great if the layout mode could be smart and depend on whats in the location.
I at least want list view when there's just normal files and folders but whenever there is an image anywhere i want it to use grid view (in my case small).
So my idea is that one would be able to select the layout mode depending on if there is an image in the location or not.

[2020-06-04 22:55] duke7553 commented on #895
This file is only 16x16, so we can't display it any better considering how small it is.

[2020-06-04 23:18] duke7553 commented on #696
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item soon. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-06-04 23:38] XPoppyX opened #917 ""Double tap to rename files" function"
Is it possible to delay the rename action when the file is clicked?

Because currently when you click on the name of a file in list view, it immediately changes to "rename mode", so the best solution would be to delay the rename action by 500 or more milliseconds

[2020-06-05 00:07] #627 closed

[2020-06-05 05:03] Lusician opened #921 "Allow Resizing of the Sidebar"
1.It is seems like searching button isn't displaying properly.
![image](https://user-images.githubusercontent.com/66457466/83838032-b37cff80-a72a-11ea-9a3c-436a8f7fd649.png)
2.The interface of Setting and Explorer have different style. I mean Fluent Design...Perhaps we should ensure the consistency of the design language.
![image](https://user-images.githubusercontent.com/66457466/83838248-3b63098

[2020-06-05 05:06] yaichenbaum commented on #921
1. Search is not yet enabled.
2. Files UWP uses fluent design which is why it looks different then File Explorer.
3. Can you give a little more detail which tabs you are talking about?
4. Do you think making the selected item in the sidebar have bold text would improve the design?

[2020-06-05 05:51] Lusician commented on #921
Thank you for checking my feedback. I'm sorry I didn't make it clear
![WIDTH](https://user-images.githubusercontent.com/66457466/83841541-a284bc00-a733-11ea-82fc-9bf14fb4dd43.png)
![home](https://user-images.githubusercontent.com/66457466/83841547-a4e71600-a733-11ea-8f83-508fca10b09f.png)
![SEETING_副本](https://user-images.githubusercontent.com/66457466/83841550-a7497000-a733-11ea-8fc3-1a24fd43707b

[2020-06-05 07:45] Jaiganeshkumaran commented on #915
Duplicate of #530

[2020-06-05 08:39] Cyberdroid1 commented on #899
Hello, today I tried to use the Recycle bin again. I right clicked on a file and clicked on move to Bin. The file disappeared from the path. Then I went on to check the recycle bin of the app but it wasn't there. Then I opened the recycle bin of file explorer but there also the file was missing. But soon the app crashed.

[2020-06-05 09:14] gave92 commented on #899
Thanks for the feedback. Do you mean that:
- you right clicked on a file in the app
- you selected "Delete" from the context menu
- you accepted the delete dialog without checking the "Permanently delete" option?
If the app crashed please post the `debug.txt` again.

[2020-06-05 12:43] Cyberdroid1 commented on #899
i had recently tried to tweak the Terminal Applications option and had opened the terminal.json file and added the id for fluent terminal. But then the app started to crash at startup. then i set the file back to its original state but still it failed to start. Thus i reinstalled the app.

Now i tried to right-click a file in the files app, and click on delete. The dialog box to whether permanentl

[2020-06-05 12:44] Cyberdroid1 commented on #899
Also, the file never got deleted. The Recycle bin feature is failing badly. Though the empty recycle bin feature worked perfectly as intended.

[2020-06-05 12:48] Cyberdroid1 commented on #899
I also noted one thing. The recycle bin feature worked for empty folders but a box appears when trying to delete a filled folder, a strange black dialog box appears.

[2020-06-05 12:50] Cyberdroid1 commented on #899
![image](https://user-images.githubusercontent.com/51435948/83878040-22714d00-a759-11ea-8cd7-69d89a6547cf.png)

Here is the image of the strange black dialog box.
Hope it helps...

[2020-06-05 13:17] gave92 commented on #899
It looks to me that the issue is not with the recyclebin feature itself but rather with simply deleting folders.

Could you try to reinstall the app again and *not* enable the recycle bin feature? Does the black box still appear when you delete a filled folder? Thanks!

@yaichenbaum What do you think?

[2020-06-05 13:23] Cyberdroid1 commented on #899
Hello, I tried what you said. But rhe black box still appears. Can you please share what the black box is meant to do? I am a bit curious 😉

[2020-06-05 13:28] yaichenbaum commented on #899
This might have something to do with Files UWP not supporting file shortcuts.

[2020-06-05 13:32] yaichenbaum commented on #915
Merging with #530.

[2020-06-05 13:32] #915 closed

[2020-06-05 13:36] Cyberdroid1 commented on #899
Wow, a small bug led to such a big conclusion. Maybe that's why the shortcuts on my desktop don't appear here in the Desktop tab of the app.

So the app doesn't support showing the shortcut of the deleted file? Because the files in the recycle bin of file explorer do appear in the recycle bin of the app.

[2020-06-05 13:58] mister-hunter opened #922 "Open with ..."
**Is your feature request related to a problem? Please describe.**
As a junior developer in college, I need need to open folders with Visual Studio or Visual Studio Code every day. I would like to see the 'open with' feature that is already present in the normal file explorer.

**Describe the solution you'd like**
I would like it when you right-click (or your non-primary mouse button) on a folder

[2020-06-05 14:00] mister-hunter commented on #829
Preferably also the ability to drop files and folders into Files UWP

[2020-06-05 15:17] #899 closed

[2020-06-05 15:18] Jaiganeshkumaran commented on #922
This feature will be available after merging #699.

[2020-06-05 15:20] mister-hunter commented on #922
Grand!

[2020-06-05 16:41] #922 closed

[2020-06-05 17:24] #657 closed

[2020-06-05 19:15] XPoppyX opened #924 "Refresh after renaming"
**Grid view and Tiles view:** You need to manually refresh to see the change after renaming.

**List view:** when you rename an item you can see the new name immediately without manually refreshing, but you cannot interact with the item, so you need to refresh anyway

[2020-06-05 20:41] Darhagonable commented on #895
I feel like i there's a misunderstanding on what i want to be achieved.
Left: What it currently looks like in Files UWP which is blurry.
Right: What it should look like. It can be displayed like this by using integer scaling/nearest neighbor on them instead when displaying them.
![scaling](https://user-images.githubusercontent.com/14127357/83920104-5ad65280-a77c-11ea-8fdf-32851c60453e.png)
Please

[2020-06-05 21:03] samtholiya opened #925 "Need documentation on contributing"
I was trying to build the repo with visual studio 2019.
Steps I followed:
1. Forked the repo
2. Click on Clone download and choose open in visual studio
3. Select File (Universal Windows)
4. No run button found.. on the toolbar (Why there is no run button here)

[2020-06-06 01:00] Jaiganeshkumaran commented on #925
If you don't see the run button try resetting the toolbar in Visual Studio.

[2020-06-06 09:49] mister-hunter opened #927 "Right-click -> rename opens file"
**Describe the bug**
Right-clicking to rename a file opens the file

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any folder with files
2. Right-click
3. Click rename
4. See the window for the file being opened

**Expected behaviour**
Allow renaming the file

**Screenshots**
n/a

**Desktop (please complete the following information):**
 - OS Version: Win 10 Version 10.0.18363 Build

[2020-06-06 11:48] lampenlampen commented on #925
You need to select the `Files.Package`-project.

![files_run](https://user-images.githubusercontent.com/26199386/83943403-17bbc400-a7fc-11ea-9577-e55aee220dc4.png)

If you still don't see the `Local Machine`-button, you can click `Debug` on the menubar and then `Start Debugging`.

[2020-06-06 11:51] samtholiya commented on #925
Thanks this solved my issue

[2020-06-06 11:51] #925 closed

[2020-06-06 11:56] xPoppyx commented on #927
in list view and "double tap to rename files" disabled? if so, that's the problem, see in: #651

[2020-06-06 12:06] mister-hunter commented on #927
Ah, apologies, my mistake

[2020-06-06 12:06] #927 closed

[2020-06-06 22:49] XPoppyX opened #929 "Properties dialog: black background in transparent images"
in the properties dialog, images with a transparent background appear with a black background, looks terrible depending on the image
![Anotación 2020-06-06 184752](https://user-images.githubusercontent.com/61259627/83955928-4c447580-a826-11ea-9bff-1453fa1f64a3.png)
![Anotación 2020-06-06 184813](https://user-images.githubusercontent.com/61259627/83955929-4d75a280-a826-11ea-8a42-d1dbefd18083.png)

[2020-06-07 07:15] tomyan112 opened #930 "None of my drive shows up"
**Screenshots**
![image](https://user-images.githubusercontent.com/9064351/83962646-afd7ad00-a8d1-11ea-92b2-c7900e239e70.png)

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 2004 19041.207]
 - App version: [v0.9.1]

[2020-06-07 11:00] Cyberdroid1 commented on #930
Even I am facing this problem in v0.9.2.

[2020-06-07 13:14] gave92 commented on #930
I've noticed this problem with removable drives. Sometimes they do not show up when connected/do not disappear when disconnected.
[Note for devs] Changing how you get the `Dispatcher` in `Drives.cs` seems to solve this.
=> `CoreApplication.MainView.Dispatcher` (current) often throws System.Exception
=> `CoreApplication.MainView.CoreWindow.Dispatcher` seems to work consistently
I'm not opening a PR

[2020-06-07 14:49] #776 closed

[2020-06-07 15:45] FibYar opened #934 "The appication triggers UAC on opening any file"
**Describe the bug**
When I try to open any file (even text ones) then Windows (UAC) asks me to allow this action.

**To Reproduce**
Steps to reproduce the behavior:
1. Create any file (for example E:\temp\test.txt) in classic Windows Explorer or "Files UWP".
2. Try to open this file in "Files UWP" with doubleclick.
3. You see that UAC triggers.

**Expected behavior**
I expect that UAC do not trig

[2020-06-07 15:55] xPoppyx commented on #934
I guess you have "takeown" added in the registry

[2020-06-07 16:34] FibYar commented on #934
Could you please explain what exactly does that means? I have a lot of "takeown" in registry. But I did not add them myself. Is it bad?

[2020-06-07 16:47] xPoppyx commented on #934
Well, when I added takeown, that dialog also appeared when I wanted to open any file, when I removed it, it no longer appeared.

Delete the **TakeOwnership** folder from::
HKEY_CLASSES_ROOT\*\shell\
HKEY_CLASSES_ROOT\Directory\shell\

Delete the **runas** folder from::
HKEY_CLASSES_ROOT\*\shell\
HKEY_CLASSES_ROOT\Drive\shell\

[2020-06-07 16:56] FibYar commented on #934
Yes, it worked. Thanks for the help!

[2020-06-07 16:56] #934 closed

[2020-06-07 17:21] Suburbanno opened #935 "Russian perssistent language"
I'm having problems with the language, I can not change the language to English, I have already reinstalled the application and it persists in Russian, where is the option to change the language?

**Screenshots**
![image](https://user-images.githubusercontent.com/13632826/83975323-b06c4580-a8c9-11ea-881c-2799ada2108b.png)

 - OS Version: [Windows 10 2004]
 - App version: [v0.9.1]

[2020-06-07 17:32] yaichenbaum commented on #935
At the moment the app defaults to the system language, as providing an option to override that comes with it's own set of difficulties.

[2020-06-07 17:35] DolphWindblade opened #936 "Single click"
Hi there, Love the File Explorer.  Would like it even more if it had a setting to allow single click opening of files and folders.
Thanks..

[2020-06-07 17:41] yaichenbaum commented on #308
This has been implemented with the v0.9.2 release.

[2020-06-07 17:41] #308 closed

[2020-06-07 17:53] #630 closed

[2020-06-07 17:58] Suburbanno commented on #935
Russian was as second option of applications for language in Windows, probably that was the reason, fixed!

[2020-06-07 17:58] #935 closed

[2020-06-07 19:21] tsvietOK commented on #930
@tomyan112 @Cyberdroid1 Can you give us more information about the disks to be displayed like model, type and connection interface?

[2020-06-07 19:28] #696 closed

[2020-06-07 19:29] gave92 commented on #930
@tomyan112 also please post the "debug.txt" file you find in `%LocalAppData%\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState`

[2020-06-07 19:29] Darhagonable commented on #929
Seems like they were set to ResizeThumbnail :P

[2020-06-07 20:25] tsvietOK commented on #924
@xPoppyx Can you confirm this bug still exists?

[2020-06-07 20:30] xPoppyx commented on #924
tested with the most recent changes:

still the same
![RENAME](https://user-images.githubusercontent.com/61259627/83979401-0b0e9d00-a8dc-11ea-882c-742b219d9f60.gif)

[2020-06-07 20:38] tsvietOK commented on #924
![Rename](https://user-images.githubusercontent.com/20501502/83979564-fbad4500-a917-11ea-82b2-1d45eecebd4a.gif)

[2020-06-07 20:53] xPoppyx commented on #924
What exactly did you test?

[2020-06-07 20:55] tsvietOK commented on #924
Renaming file

[2020-06-07 20:57] xPoppyx commented on #924
I meant if you tested the same thing manually refreshing or an added auto-refresh

[2020-06-07 20:58] tsvietOK commented on #924
I am just trying to reproduce your bug on current master brunch without any changes. For me it is working fine without manual refresh.

[2020-06-07 21:14] xPoppyx commented on #924
and in the microsoft store version (v0.9.1)?

[2020-06-07 21:15] tsvietOK commented on #924
Hmm, your right, store version has this bug.

[2020-06-07 23:21] #880 closed

[2020-06-08 01:01] xPoppyx opened #944 "Move "+" button down a bit"
**Current:**
![Captura de pantalla (8)](https://user-images.githubusercontent.com/61259627/83984206-e5948a00-a901-11ea-9611-2c087a95b3f4.png)

**Proposal:**
![Captura de pantalla (7)](https://user-images.githubusercontent.com/61259627/83984210-ef1df200-a901-11ea-84e3-9bac68c0348d.jpg)

[2020-06-08 03:43] tomyan112 commented on #930
2020-03-15 18:00:12.8600|INFO|Files.Filesystem.DrivesManager|Drive added: E:\, Removable
2020-03-15 18:00:13.0940|INFO|Files.App|App launched
2020-03-15 18:00:56.5690|INFO|Files.Filesystem.DrivesManager|Drive added: H:\, Removable
2020-03-15 18:01:10.3390|INFO|Files.App|App launched
2020-03-15 18:01:11.0980|INFO|Files.Filesystem.DrivesManager|Drive added: E:\, Removable
2020-03-15 18:01:48.7065|IN

[2020-06-08 03:45] tomyan112 commented on #930
Only C drive is missing now
![image](https://user-images.githubusercontent.com/9064351/83990841-7ceaf300-a97d-11ea-9101-c73abdd6142c.png)

[2020-06-08 03:46] Cyberdroid1 commented on #930
@tsvietOK Actually the app version magically switched back from v0.9.2 to v0.9.1. Due to this, the error was fixed and my drives show up normally. Sorry for the inconvenience...😅

[2020-06-08 07:28] Jaiganeshkumaran opened #946 "Ability to directly move an item to another directory"
Please add an option to directly move an item to another directory similar to the "Move to" option in File Explorer's ribbon.

[2020-06-08 07:30] Jaiganeshkumaran opened #947 "Add a recent items section to the sidebar"

[2020-06-08 07:43] xumepoc opened #948 "Can not run .bat files"
**Describe the bug**
In Files UWP it is not possible to run .bat files. When you double click or use the contextual menu "Open", nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a .bat file
2. Try to run it from inside Files UWP

**Expected behavior**
The .bat file should be executed.

**Desktop (please complete the following information):**
 - OS Version: Windows 1909

[2020-06-08 07:55] TailyFair commented on #947
Maybe they should not be pinned in Sidebar, but in New Tab page instead similar as in Explorer's `Quick access` page?

[2020-06-08 12:32] xPoppyx commented on #520
continue here: #692

[2020-06-08 12:32] #520 closed

[2020-06-08 12:39] xPoppyx commented on #697
fixed: #706

[2020-06-08 12:39] #697 closed

[2020-06-08 12:41] xPoppyx commented on #652
this no longer happens

[2020-06-08 12:41] #652 closed

[2020-06-08 12:42] xPoppyx commented on #644
now it shows correctly

[2020-06-08 12:42] #644 closed

[2020-06-08 12:47] xPoppyx commented on #756
this feature has been added, take a look at the latest version of the app

[2020-06-08 12:50] xPoppyx commented on #637
I will change the title since the tab header can already translate, and it only remains to be able to translate the path

[2020-06-08 13:04] TailyFair opened #949 "Allow to hide default library folders in sidebar"
**Is your feature request related to a problem? Please describe.**
I never use Pictures, Videos and Music library folders and they add clutter in sidebar.

**Describe the solution you'd like**
Give option to choose which default library folders would appear in sidebar.
Maybe additional settings page with toggles to which library folder would be visible in side bar.
Or maybe even add option to choo

[2020-06-08 20:13] xPoppyx commented on #944
#950

[2020-06-08 20:13] #944 closed

[2020-06-08 20:55] yaichenbaum commented on #949
@TailyFair Thank you for your feedback, I am working on it and if all goes well, it will be available with the next update.

[2020-06-09 02:10] Richard-HM commented on #799
@yaichenbaum can you reopen? in grid view, the app still crashing when opening some folders (v0.9.2)

[2020-06-09 02:12] yaichenbaum commented on #799
Are there any things in common with the folders that crash?

[2020-06-09 02:17] Richard-HM commented on #799
I thought that maybe the crashing was caused by some specific file type, but, it crashes even opening one that contains another simple folder inside

[2020-06-09 02:20] Richard-HM commented on #799
![crash](https://user-images.githubusercontent.com/61259627/84098822-3a093980-a9d6-11ea-92e2-2f87bc50618a.gif)

[2020-06-09 02:31] Richard-HM commented on #799
I'm not sure if it was after some changes to the selection system made a few days before May 18

[2020-06-09 02:41] yaichenbaum commented on #949
This has been addressed with #951.

[2020-06-09 02:41] #949 closed

[2020-06-09 03:26] XPoppyX opened #953 "update re-pinned library icons without reopening the app"
when you re-pin any library folder, it is shown with a folder icon, and you must reopen the app to see the icon it should have.

when you re-pin:
![Anotación 2020-06-08 232427](https://user-images.githubusercontent.com/61259627/84102727-404fe380-a9df-11ea-8376-ee8dfe2609c2.png)

after reopening the app:
![Anotación 2020-06-08 232445](https://user-images.githubusercontent.com/61259627/84102733-40e8

[2020-06-09 03:57] yaichenbaum commented on #953
@Richard-HM Thank you so much for testing this feature, I am already working on a fix and it should be ready soon.

[2020-06-09 05:03] Jaiganeshkumaran commented on #798
Duplicate of #834

[2020-06-09 06:50] xumepoc opened #956 "Have a choice window when pasting and already existing file"
Hi apologies if this is already requested.

When you try to paste a file that is already in the folder, instead of asking the user whether to overwrite the existing file or to keep them both (adding the new file with ***-Copy) the Files UWP does the latter automatically. That makes it quite time consuming to overwrite the existing file with the new: you have to delete the old file, wait for the re

[2020-06-09 09:23] TailyFair opened #957 "Add shortcuts page inside settings"
**Is your feature request related to a problem? Please describe.**
There is no way inside app to know what shortcuts are available

**Describe the solution you'd like**
Shortcuts page inside settings with list of available shortcuts

**Describe alternatives you've considered**
Show shortcut in tool-tip when hovering on button.

[2020-06-09 10:13] SOI7 opened #958 "Startup options require multiple clicks to change"
I have to click multiple times on the Startup options to change them

![test2](https://user-images.githubusercontent.com/50930970/84135586-75dde680-aa4a-11ea-93b0-cc7509c9eceb.gif)

App Version: 0.9.2
OS version: Windows 10 2004

[2020-06-09 10:40] TailyFair commented on #958
Experiencing same issue. Also app eventually crashes.

App version: 0.9.2
OS version: Windows 10 1909

[2020-06-09 11:34] Richard-HM commented on #958
fixed: #932

[2020-06-09 11:57] XPoppyX commented on #664
What if the path returns to the top position when the window is small?

[2020-06-09 12:41] #958 closed

[2020-06-09 13:36] Jaiganeshkumaran commented on #957
What do you mean by shortcuts?

[2020-06-09 13:37] XPoppyX commented on #957
@Jaiganeshkumaran  Keyboard shortcuts

[2020-06-09 13:50] Jaiganeshkumaran commented on #957
For items in the right click context menu, they can be shown right next to the label like what some apps do.

[2020-06-09 14:38] jakehandwork opened #961 "Add ctrl + c, ctrl + x, ctrl + v shortcuts for copy and pasting"
I would like to copy and paste files throughout the app. Even better if I can copy them from somewhere else and paste them to the app (from desktop to app) and vice-versa.

Ctrl +c, ctrl + v, and ctrl + x should all work as they do in other file apps and everywhere else. Instead of needing to right click to access that menu.

Let me know if this is already a thing and I'm just dumb.

[2020-06-09 14:40] jakehandwork opened #962 "Preferences and Files and Folders settings do not get saved"
When going to the settings and toggling any setting under Preferences or Files and Folders, these do not stay toggled when you back out. Further than that, 'Show hidden files, folders and drives' and 'Show drive letters' are disabled and I'm not sure what setting enables them.

[2020-06-09 14:41] yaichenbaum commented on #962
This was fixed with a recent pull request.

These options are not yet implemented.

[2020-06-09 14:41] #962 closed

[2020-06-09 14:42] XPoppyX commented on #961
The app already supports these shortcuts, the problem is that they do not respond well, it is as if it required a specific timing

[2020-06-09 14:49] XPoppyX opened #963 "Some keyboard shortcuts are hard to make work"
**(Shift+Del) it takes me several attempts to get the "permanently delete" checked:**

![delete](https://user-images.githubusercontent.com/61259627/84162134-05c96380-aa3e-11ea-8088-5355eb011ce7.gif)
-------------------------------------------------------

**also to copy/paste**

![pasting](https://user-images.githubusercontent.com/61259627/84162161-0feb6200-aa3e-11ea-94c8-aa8571b149b8.gif)

[2020-06-09 17:42] XPoppyX commented on #957
@TailyFair I Added keyboard shortcuts to the tooltip of buttons in the navigation bar and new tab button: #964

[2020-06-09 18:58] premsundaram opened #965 "Personal and Business OneDrive"
I installed app - it defaulted as 'onedrive' to one of my 4 onedrive for business accounts, not the personal onedrive. you might  need to do some work here on handling more than 1 onedrive account (and being able to differentiate between the normal and the business type).

but its very fast and i look forward to using more.
thanks
Prem

[2020-06-09 19:39] TailyFair commented on #957
This is great ! Did not expected this to be addressed this quickly!

[2020-06-09 20:50] yaichenbaum commented on #676
### Files UWP Preview is now officially available 🚀🚀🚀🚀
Ready more about the Files UWP over [here](https://medium.com/@yairai/launching-files-uwp-preview-ed7a43985130).
Download Files UWP Preview from the Microsoft Store [here](https://microsoft.msafflnk.net/ZaPRR).

[2020-06-09 20:56] yaichenbaum commented on #965
Merging with #16.

[2020-06-09 20:56] #965 closed

[2020-06-09 21:43] andyfmidd opened #966 ""This PC" view - all disk (and network drives) sizes and free space in one view"
**Is your feature request related to a problem? Please describe.**
No overview of all disks and sizes/freespace.

**Describe the solution you'd like**
Like the native PC explorer, ability to see all disks, network drives etc in one view

**Describe alternatives you've considered**
Free space etc is available as a tooltip for individual drives.

**Additional context**
Add any other context or scree

[2020-06-09 21:52] andyfmidd opened #967 "Desktop (in navigation pane) shows "Onedrive>Desktop""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-06-09 21:54] andyfmidd opened #968 "Shortcuts not shown"
**Describe the bug**
No shortcuts displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home
2. Click on Desktop

**Expected behavior**
All files and Shortcuts. Only files are shown

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 insider build 19640 release 200530-1731]
 - App version: [v0.9.2]

[2020-06-09 21:58] andyfmidd commented on #967
oh dear: all the details got dropped....
1) Goto Home.
2) click on Desktop in Nav panel

Path shown as D:>Onedrive>Desktop

Windows Insider build 19640 release 200530-1731
App ver: 0.9.2

[2020-06-09 21:59] andyfmidd commented on #967
"user too close to keyboard" - misunderstood "close and comment", as referring to the comment, rather than the issue.

[2020-06-09 22:19] XPoppyX commented on #968
#112

[2020-06-09 23:10] artikweb opened #969 "Add QuickLook integration"
**Is your feature request related to a problem? Please describe.**
It's not a problem, just an improvement. There's a popular app called QuickLook (https://github.com/QL-Win/QuickLook) that mimics the Quick Look functionality from MacOs and it'd be awesome if you could integrate pressing the space-bar on a file to trigger QL.

**Describe the solution you'd like**
Pressing space-bar with a file sel

[2020-06-09 23:11] yaichenbaum commented on #969
Files UWP should already be integrated with QuickLook, can you check if you see a QuickLook item when right clicking on a file or folder?

[2020-06-09 23:13] artikweb commented on #969
Oh wow I had no idea! But no, there's no "Quicklook" item and pressing space-bar does nothing. I'm using the Windows Store version of Quicklook, could that be the problem?

[2020-06-09 23:34] generalguy41 commented on #969
I have the store version (0.9.2.0) and QuickLook is still working for me.

[2020-06-09 23:39] generalguy41 commented on #967
Do you have your desktop synced to OneDrive? That's likely why, since I believe the app will use the default location for whatever your desktop is mapped to. You can find out by right clicking your desktop icon in explorer > Properties > Location.

[2020-06-10 02:00] yaichenbaum commented on #968
Shortcuts are not yet supported.

[2020-06-10 03:00] BronyaSeele opened #971 "Unable to access network share, including by mapping network drive, error message: content is empty"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-06-10 03:00] BronyaSeele commented on #971
![Uploading image.png…]()

[2020-06-10 03:00] #971 closed

[2020-06-10 03:38] wagsoft opened #973 "Close the property windows cause the program closed"
**Describe the bug**
Close the property windows cause the program closed.

**To Reproduce**
right click on one file and chose the property.  then close the property windows. and the program close.

**Desktop (please complete the following information):**
 - OS Version: Windows 10 2004 19041.265 Chinese version

[2020-06-10 05:56] TailyFair commented on #969
For me QuickLook does not work as well.
![image](https://user-images.githubusercontent.com/27275873/84232050-23f39a00-aaf8-11ea-8130-13bab0611eac.png)
Does this feature has to be enabled somehow?

[2020-06-10 06:20] Jaiganeshkumaran commented on #966
Duplicate of #210.

[2020-06-10 07:26] Serarg95 opened #974 "Buggy touch behaviour in "details" view"
When I use the app in the default "details" view, sometimes I try double finger click (it should be one click with finger but i guess u are already considering this) to open a folder and it doesnt work. That bug never happens if I change to "icons" view.

App version: 0.9.2.0
Windows version: Windows 10 2004 (19041.264)

[2020-06-10 07:45] Serarg95 opened #975 "Move from "totally black" dark theme to "dark grey""
I think Microsoft is moving from totally black (#00000) dark themes to dark grey themes. It gives a cleaner and lightest feeling to the user.

I propose a dark theme that uses similar colours to the leaked new Windows 10X File Explorer. I attach the image below:.

We can see it too in modern apps like "Your Phone", Edge and very probably in next Windows inbox apps coming with W10X.
![image](https:

[2020-06-10 08:01] imReker opened #976 "Can not open MTP device"
**Describe the bug**
Nothing happens when open MTP deivce.

**To Reproduce**
Steps to reproduce the behavior:
1. Plug in a mobile phone to PC.
2. Phone show as a drive in sidebar, click it.
3. Nothing happens.

**Desktop (please complete the following information):**
 - OS Version: 10.0.19041.264
 - App version: 0.9.2.0

[2020-06-10 08:03] imReker commented on #976
Dup with #779 , sorry

[2020-06-10 08:03] #976 closed

[2020-06-10 08:15] imReker commented on #9
In v0.9.2.0, alt+left/right not work correctly, sometimes they behavior like TAB key pressed and the focus moved.
And mouse back/forward button will make a left click event in window.

[2020-06-10 08:33] joaonl opened #978 "net use local drive doesn't show any files"
**Is your feature request related to a problem? Please describe.**
Not sure if this is a bug or feature.
You cannot see files when creating a shared drive with local folders:
`net use m: "\\localhost\c$\"` creates a shared drive which is empty while it should show the contents of local drive C.

**Describe the solution you'd like**
Would like to be able to browse local files as a network drive.

*

[2020-06-10 12:28] Mikodzi opened #979 "App crashes when creating and naming a folder on a OneDrive"
**Describe the bug**
When creating a folder on my OneDrive and when I'm starting to type a name, the app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to OneDrive from the sidebar
2. Click on Create Folder
3. When you see a window with the name option, start typing a name
4. See error

**Expected behavior**
It creates a folder with you custom name in a OneDrive

**Desktop (plea

[2020-06-10 14:18] mdtauk opened #980 "App installed from store - Crashes on launch"
**Describe the bug**
I installed the Beta app from the store, but it crashes on launch.  Sometimes the UI shows briefly, other times it crashes on splash screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app from Tile or All Apps list
2. Window with splash screen shows
3. Sometimes the UI starts to appear
4. Crash

**Expected behavior**
App should open and function

**Desktop (ple

[2020-06-10 15:14] AbelTheGeorge opened #981 "Unable to enable hidden files"
I wanted to enable the hidden files,folders and drive option in the settings but im not able to... im sure its not a bug but im not sure how to fix it. Is this option implemented in this preview? Thanks

Steps to reproduce the behavior:
1. Go to the app
2. Click on settings
3. Scroll down to files and folders
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/63577249

[2020-06-10 15:16] mlagardenhose opened #982 "Network Files Access"
**To Reproduce**
1. Go to 'a folder on a network'
2. Click on 'any folder'
3. Folders all appear as "empty"'
4. Seems like there's no access to files on the network

**Screenshots**
See attached screenshot

**Desktop**
 - OS: Windows 10 Pro 2004 [build: 19041.264]

![Annotation 2020-06-10 111555](https://user-images.githubusercontent.com/66739379/84285708-c8330c00-ab0b-11ea-8456-d8fdc528be82.jpg)

[2020-06-10 15:37] yhonfer opened #983 "it gets really cool and I can't use the files"
This bug occurs when entering a folder full of files, it seems as if it is constantly being updated and this damages the workflow.

Translated By Google ™.

[2020-06-10 15:37] #983 closed, assigned to lukeblevins

[2020-06-10 15:46] acid1232 opened #984 "Option to hide system folders in the sidebar"
I don't need an access to folders like Pictures, Music, Videos etc. It takes space for folders that I actually need.
![image](https://user-images.githubusercontent.com/43500097/84288982-3abede80-ab42-11ea-9741-368f449e956a.png)

[2020-06-10 15:52] Taras-Parfeniuk opened #985 "Apps are launching behind the Files UWP app window"
**Describe the bug**
If Windows Terminal set as default terminal app, after a click on 'Open in Terminal' context menu option the terminal window opens behind the Files UWP window, and the Files UWP window remains in focus.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings / Preferences'
2. Select 'Windows Terminal' in 'Terminal Applications' dropdown
3. Go to any directory
4.

[2020-06-10 17:19] ghost opened #986 "please add file details like on current explorer"
![Knipsel](https://user-images.githubusercontent.com/66744690/84298143-ef5efd00-ab4e-11ea-922c-a5192830f753.PNG)

i would really like to have file details like current file explorer has and like the image shows.

i have folders with video files that dont show a thumbnail and i cant see which file is what size. it is very useful to have.
i would also like it to include more like what the file exten

[2020-06-10 17:27] ghost opened #987 "file icons and thumbnails"
i dont have video thumbnails at all, on images only some work and most files do not show anything else than the deafult blank icon.
 docx files should show a word (or whatever is selected for those files) icon for example.

[2020-06-10 18:45] prathisahrudh opened #990 "Some Settings Section values get reset each time the app is opened."
The Settings menu seems to be bugged.
Appearance Section works perfectly but other sections in the settings menu even after setting a option get reset to their original values each time the app is opened ,
Eg: one drive Option is shown in the files menu even if the setting for it is turned off, The app crashes at times when clicking on the "on startup" section .

[2020-06-10 19:05] #986 closed, assigned to nobody

[2020-06-10 19:06] #982 closed, assigned to lukeblevins

[2020-06-10 19:10] hunterlan opened #991 "Loop loading data in properties"
**Describe the bug**
Endless load data + localization error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to my folder
2. Click on 'Properties' on my video
3. Endless load data

**Expected behavior**
See the information about file

**Screenshots**
![image](https://user-images.githubusercontent.com/38838841/84308299-ee39ca00-ab66-11ea-8f68-996e1eaa3a5a.png)

**Desktop:**
 - OS Version:

[2020-06-10 19:30] brucebinder opened #992 "Remove items from sidebar that come built in"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Need to be able to remove sidebar items that come built in.

[2020-06-10 19:32] #992 closed, assigned to nobody

[2020-06-10 21:02] aqilc opened #993 "Problems with saving your current Settings"
**Describe the bug**
This big is extremely important to Windows users as it doesn't let you edit the settings..? This should be looked over immediately over other bugs because this can cause immense frustration and diminish the userbase.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Settings
2. Change any setting
3. Navigate back

**Expected behavior**
For the settings to save whe

[2020-06-10 21:12] #993 closed, assigned to lukeblevins

[2020-06-10 22:00] #980 closed, assigned to lukeblevins

[2020-06-10 22:02] megalofauna opened #994 "QuickLook preview functionality"
**Describe the solution you'd like**
In Windows Explorer, I can preview supported file types via spacebar thanks to QuickLook. In Files UWP, this functionality is seemingly prevented/disallowed/not present. I'd love to be able to continue using QuickLook as I've become accustomed to while browsing my files through Files UWP 🔥.

Looks like you may be using QuickLook in some way in Files UWP. Hopefu

[2020-06-10 22:46] yaichenbaum commented on #953
This has been implemented, thank you for finding this issue.

[2020-06-10 22:46] #953 closed

[2020-06-10 23:10] yaichenbaum commented on #990
[v0.10 ](https://github.com/files-community/files-uwp/releases/tag/v0.10) Has been released and should be available for beta testers in a couple of hours.

[2020-06-10 23:10] #990 closed

[2020-06-10 23:11] yaichenbaum commented on #984
[v0.10 ](https://github.com/files-community/files-uwp/releases/tag/v0.10) Has been released and should be available for beta testers in a couple of hours.

[2020-06-10 23:11] #984 closed

[2020-06-11 01:26] jiyuge opened #995 "Only a single OneDrive account is shown on the left sidebar when I have 2 accounts both integrated to the file manager."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I have 2 OneDrive accounts, one personal and one school. On the left sidebar, there is only the horizontal tab for my school account, which is added after my personal account that I set up my computer with.

**Describe the solution you'd li

[2020-06-11 01:37] megalofauna commented on #994
There is already an open issue for this request.

[2020-06-11 01:37] #994 closed

[2020-06-11 03:23] Rick-HM opened #997 "Different size for each item in gridview"
for what purpose? to increase the MaxLines of the item names textblocks, and that the height of each item adapts independently, without depending on the size of the first item.

![Anotación 2020-06-10 232019](https://user-images.githubusercontent.com/61259627/84341409-fe56a700-ab70-11ea-9035-e31141a89206.png)

[2020-06-11 03:34] duke7553 commented on #995
Duplicate of #16

[2020-06-11 03:34] #995 closed

[2020-06-11 03:36] duke7553 commented on #756
Thank you for taking the time to open this feedback item. In order to best address this in a transparent way, we usually expect reporters to open each feedback topic (e.g. feature request, bug, question, discussion item) as its own ticket. Please review each topic suggested here, and add your own take on an already open issue, or open a new one.

Closing this now.

[2020-06-11 03:36] #756 closed

[2020-06-11 03:37] duke7553 commented on #966
We'd love to hear what you think about future work on a This PC section. To add your own take on it, and stay up to date, please subscribe to issue #210 .

[2020-06-11 03:37] #966 closed

[2020-06-11 03:40] duke7553 commented on #921
@Lusician Thank you for reporting this. We're working on allowing users to resize the sidebar.

[2020-06-11 03:42] duke7553 commented on #921
Duplicate of #672

[2020-06-11 03:42] #921 closed

[2020-06-11 03:46] duke7553 commented on #968
Duplicate of #177

(Moving this into a single issue)

[2020-06-11 03:46] #968 closed

[2020-06-11 03:46] duke7553 commented on #981
Duplicate of #177

[2020-06-11 03:46] #981 closed

[2020-06-11 03:47] yaichenbaum commented on #286
This has been implemented in v0.10 and will be rolling out to all users in the coming days.

[2020-06-11 03:47] #286 closed

[2020-06-11 03:50] duke7553 commented on #936
Duplicate of #261

[2020-06-11 03:50] #936 closed

[2020-06-11 03:51] yaichenbaum commented on #975
Is there a specific brush you think would look good for the background?

[2020-06-11 03:51] duke7553 commented on #924
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-06-11 03:51] #924 closed

[2020-06-11 03:52] yaichenbaum commented on #183
@xmha97 Thank you for opening this issue, there are not any plans to implement this option but if users request it in the future we will reevaluate.

[2020-06-11 03:52] #183 closed

[2020-06-11 03:52] duke7553 commented on #875
Thank you for taking the time to open this feedback item. In order to best address this in a transparent way, we usually expect reporters to open each feedback topic (e.g. feature request, bug, question, discussion item) as its own ticket. Please review each topic suggested here, and add your own take on an already open issue, or open a new one.

Closing this now.

[2020-06-11 03:52] #875 closed

[2020-06-11 03:53] duke7553 commented on #871
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-06-11 03:53] #871 closed

[2020-06-11 03:55] duke7553 commented on #870
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

If you're still seeing this one after re-testing with the necessary update, we'd be thrilled if you could reopen this issue.

[2020-06-11 03:55] #870 closed

[2020-06-11 03:57] duke7553 commented on #509
Wow. This is some great feedback!

Thank you for taking the time to open this one. In order to best address these in a transparent way, we usually expect reporters to open each feedback topic (e.g. feature request, bug, question, discussion item) as its own ticket. Please review each topic suggested here, and add your own take on an already open issue, or open a new one.

Closing this now.

[2020-06-11 03:57] #509 closed

[2020-06-11 03:59] duke7553 commented on #479
I'm going to mark this as fixed now since this cannot be reproduced, and wasn't tested on newer versions yet.

[2020-06-11 03:59] #479 closed

[2020-06-11 04:04] duke7553 commented on #855
Duplicate of #642

Thanks for the first impressions! We know this is an important item to fix for users. To be notified when the solution is available, please subscribe to the original item linked above.

[2020-06-11 04:04] #855 closed

[2020-06-11 04:05] duke7553 commented on #930
Thank you for creating this feedback item. This issue may currently be resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-06-11 04:05] #930 closed

[2020-06-11 05:49] aamman opened #999 "Excellent Direction"
I work with a lot of Photos and Video so this **feature** may be isolated to me. Sometimes I'll shoot sets of photos that I need to sort through. Right now on both file explorer and Files UWP i have to individually open each picture to see what I am looking at. The thumbnails often dont provide enough detail.

A **solution** to this already exists although dated. Windows XP had a [photo viewer ](h

[2020-06-11 06:13] Kaedin opened #1000 "Opening executable that requires elevated privileges to run might invoke UAC multiple times"
**Describe the bug**
Opening executable that requires elevated privileges to run might invoke UAC multiple times

**To Reproduce**
1. Locate an executable (.exe) that requires elevated privileges
2. Select "Open" or double click on the file
3. When "User Account Control" dialog is invoked, select "No"
4. UAC dialog opens multiple times again

**Expected behavior**
One dialog should be enough as pe

[2020-06-11 06:42] Jaiganeshkumaran commented on #999
@aamman There's an app called QuickLook in the Microsoft Store which can be used to preview a file by pressing spacebar just like macOS's finder. Also, Windows File Explorer has an option known as preview pane. You can use that to view a preview a file.

[2020-06-11 06:45] Jaiganeshkumaran commented on #991
This occurs because Files UWP is trying to calculate the hash however it fails as it's a folder.

[2020-06-11 06:48] Jaiganeshkumaran commented on #974
Duplicate of #734

[2020-06-11 06:56] aamman commented on #999
@Jaiganeshkumaran QuickLook app doesnt work in Files UWP but its a great solution for me for now. I am aware of preview pane on file explorer but i suggested it as an addition to files uwp. Actually both these features would be great in the app.

Thanks for QuickLook its great

[2020-06-11 07:04] Jaiganeshkumaran commented on #999
@aamman Files UWP does support QuickLook, however because of a bug in the latest version, it's no longer functioning for new users (#969).

[2020-06-11 07:50] Serarg95 commented on #975
Yes! I like the grey tones that "Your Phone" app uses in Dark mode.
!
![image](https://user-images.githubusercontent.com/66536926/84359434-e874d080-abc8-11ea-9170-d8239c0eaa13.png)

[2020-06-11 10:28] 1426652334 opened #1002 "It could not show the shortcut."
**Describe the bug**
It could not show the shortcut.

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 1903 18363.900]
 - App version: [v0.9.2.0]

[2020-06-11 10:31] Sett17 opened #1003 "App crashes when using High Contrast Theme"
App crashes right after the UI is loaded, no error message, and no time frame in which you would be able to click anything.

Steps to reproduce the behavior:
1. Apply any High Contrast Theme in Windows 10 Settings
2. Start Files UWP from Start List
3. Wait until the UI started loading
4 Watch it close

**Expected behavior**
Expected it to open with High Contrast Theme or at least a normal Theme.

[2020-06-11 10:53] andyfmidd opened #1004 "Context menu - add a button to access the context menu, as well as right click (or add to Options menu) to"
To me, a UWP program should not use "right click" Do others?
It is awkward on a touch screen/logical keyboard.
I get that the desktop version does, and have no problem with right click remaining. I just feel the options should be available by either the options menu or a button.

Add a button near the + ("create new item" button (navigation line), to get the menu?

On the same concept, could also

[2020-06-11 11:03] andyfmidd opened #1005 "Sidebar tooltips"
Adding an item to the sidebar merely adds its name (last element of the full path?).
However, apart from clicking it, its path is unknown (for us with short memories!). Add a tooltip to show full path.
Items with the identical name, but located on a different drive (e.g. NAS) can't be added at the moment. The Desktop explorer allows duplicate names. The tooltip helps identify them.

[2020-06-11 11:06] andyfmidd opened #1006 "Rename of items added to sidebar"
The name of the item added to a sidebar is its file/directory name. It would be nice to rename the Sidebar entry to be more helpful.

[2020-06-11 11:18] andyfmidd opened #1007 "Home page Recent Items (almost) always empty"
Home page "Recent items" list is always empty - I can't add to to it, unless I open a file.
Select a directory/file. Add it to Sidebar.
Goto Home: no items.
Access the directory via sidebar.
Goto Home: no items.

Find a file, (I chose a .png) open it. It now shows up on Home. Navigate somewhere else, then back to home. The item has gone.

Additional: how many recent items can appear, in theory? Ne

[2020-06-11 11:18] XPoppyX commented on #1005
An alternative could be adding "properties" to the context menu of pinned items, or also for the library and drives

[2020-06-11 11:24] XPoppyX commented on #1002
The app doesn't support shortcuts yet

[2020-06-11 11:30] hunterlan commented on #991
However, it's not a folder. It's just video (.mp4).

[2020-06-11 12:55] Jaiganeshkumaran opened #1008 "Selecting 'Open in new tab' option in preferences causes a crash"
**Describe the bug**
Selecting 'Open in new tab' option in preferences could cause a crash if it isn't selected already.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings>Preference
2. Select 'Open a specific page'
3. Now select 'Open a new tab'
4. App will crash

**Expected behavior**
App shouldn't crash and it should select the option.

**Screenshots**

![2020-06-11 18-10-04_T

[2020-06-11 13:04] Jaiganeshkumaran opened #1009 "You shouldn't be able to pin library folders"
**Describe the bug**
Currently, pin to sidebar option is shown for all folders including library folders such as Pictures, Documents etc.. This causes duplicate entries in the sidebar.

**Expected behavior**
This option should not be shown as these folders are already pinned and can't be unpinned.

[2020-06-11 13:07] Jaiganeshkumaran commented on #948
It does work for me. Could you install v0.9.2 and try again?

[2020-06-11 13:17] megalofauna opened #1010 "Drives (system and external) do not appear in sidebar"
**Describe the bug**
My drives are not shown/available in the sidebar, e.g., `C:\` (my system drive) and `E:\` (an external drive).

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files UWP
2. Observe sidebar

**Expected behavior**
I would expect that Files UWP would recognize and display my system and external drives.

**Screenshots**
![Annotation 2020-06-11 081325](https://user-images

[2020-06-11 13:36] XPoppyX commented on #1008
#932

[2020-06-11 13:40] #1008 closed

[2020-06-11 13:40] xumepoc commented on #948
I am having the same experience on v 0.9.2 For some .bat files it does run but for bat file which starts .exe file it seems it doesn't work.

![mAAecbUFqd](https://user-images.githubusercontent.com/46034979/84391909-45d94380-ac02-11ea-86fe-9c5454e4c386.gif)

[2020-06-11 14:21] mlagardenhose commented on #982
Just wondering, what does "closed" status mean?
Does that indicate that the problem has been resolved or will not be done?
Thanks.

[2020-06-11 14:37] XPoppyX commented on #982
As we mentioned, it is a duplicate of #642

[2020-06-11 14:50] yaichenbaum commented on #982
@mlagardenhose "Closed" means that we are not going to be tracking the specific issue mentioned here since we are tracking it in #642.

[2020-06-11 15:03] Jaiganeshkumaran commented on #1010
Duplicate of #488.

[2020-06-11 15:07] mlagardenhose commented on #982
got it. thanks.
bear with me as I am new to this platform.
great work, keep it up! can't wait for official release version

On Thu, Jun 11, 2020 at 10:51 AM Yair Aichenbaum <notifications@github.com>
wrote:

--
www.jcndesign.com <http://jcndesign.com/>

[2020-06-11 16:00] chuchanpr opened #1014 "Layout model should be consistent for each window"
**Is your feature request related to a problem? Please describe.**
No this is not a bug, Layout model should be consistent for each window. Users would not prefer using the same layout model in all windows.

**Describe the solution you'd like**
Layout model should be unique based on the folder we are in and app should remember it

**Describe alternatives you've considered**
A clear and concise des

[2020-06-11 16:03] chuchanpr opened #1015 "Allow setting custom folder icons"
**Is your feature request related to a problem? Please describe.**
Allow setting customer folder icons

**Describe the solution you'd like**
Current folder options does not allow setting customer icons

**Describe alternatives you've considered**
Set customer icon using windows explorer. but same settings do not apply

[2020-06-11 16:06] chuchanpr commented on #961
There is no window to show the functions are happening, would be great to see this

[2020-06-11 16:21] #991 closed

[2020-06-11 16:38] yaichenbaum commented on #1009
Duplicates are already handled, it's necessary to allow pinning libraries since they can be unpinned as well.

[2020-06-11 16:39] mdtauk commented on #1015
How about allowing Icon Packs to replace common icons in one go from settings - as well as changing individual icons

[2020-06-11 17:03] sumanth-vs opened #1016 "Per-Folder Layout Mode"
Looks and Performs really well!

**Unexpected Behaviour : **
One expected behaviour is - different folders should be able to have different Layout Modes. For example, my I want my Pictures folder to have Grid Layout, but my Documents folder to have List View Layout.

Currently, however, layout modes seem to apply everywhere. If I change the layout in Pictures, it changes the layout throughout the

[2020-06-11 17:13] XPoppyX commented on #1016
Duplicate: #530

[2020-06-11 17:17] yaichenbaum commented on #1016
Merging with #530.

[2020-06-11 17:17] #1016 closed

[2020-06-11 22:26] KirbyCrafter opened #1017 "Here's everything I really want to see from this that isn't there yet"
**Is your feature request related to a problem? Please describe.**
1. There is no graphic display for how much space you have left on a drive, only a number, which means I can't just glance at it and know roughly how much space I have left on my drive. (I know this makes me sound illiterate but I'm asking for a convenience feature ok?)
2. custom icons don't display, and I like to use custom icons

[2020-06-11 22:50] AqilCont opened #1019 "Ability to automatically install fonts."
**Is your feature request related to a problem? Please describe.**
Yeah, the original file explorer supported installing fonts through simple selection, right click, and pressing "Install" (or "Install all" for multiple fonts). With Files UWP, you have to individually open the font files to install them, using an in-build Windows tool.

**Describe the solution you'd like**
I would prefer a built-i

[2020-06-11 22:57] megalofauna commented on #1010
Dup as noted above.

[2020-06-11 22:57] #1010 closed

[2020-06-11 23:00] AqilCont opened #1020 "A "Don't ask again" option for file deletion."
### Is your feature request related to a problem? Please describe.
So, making files and deleting them is a daily routine thing for me, and a big pop-up window asking me if I want to delete them is a slight inconvenience.

## Describe the solution you'd like
So, the first time you delete a file, you should be greeted with the normal pop-up that asks you if you want to delete the file, if you want t

[2020-06-11 23:51] AqilCont opened #1021 "Random app crashes related to changing layout type."
## Describe the bug
First time trying grid view(medium), and the app completely hangs over and eventually crashes. Subsequent crashes follow after opening the app later, in random locations.

### To Reproduce(Not completely sure, but this is what I found)
1. Go to a place with a lot of items in it.
2. Try to change a layout mode at all.

### Expected behavior
I expected it to work.

## Screenshots

[2020-06-12 01:03] XPoppyX opened #1022 "Folders can be pinned multiple times"
Currently you can pin a folder multiple times, you only see one, but if for example you pin 5 times a folder, to unpin it you must also do it 5 times, so, the app continues "allowing" pin a folder that is already pinned.

![pin](https://user-images.githubusercontent.com/61259627/84453766-ada18580-ac26-11ea-9cec-680c5fb00e20.gif)

[2020-06-12 01:22] XPoppyX opened #1023 "Indicate the current layout mode"
concept:
![Captura de pantalla 2021-01-05 184523](https://user-images.githubusercontent.com/61259627/103703590-8f1a2780-4f86-11eb-8d60-045f8d953722.jpg)

[2020-06-12 01:27] Jaiganeshkumaran commented on #1021
Duplicate of #857

[2020-06-12 01:32] Jaiganeshkumaran commented on #1017
@KirbyCrafter If you don't like using Microsoft Store, you can download the latest version from the releases tab in GitHub.

[2020-06-12 01:44] fralyx opened #1024 "App or Customized Context Menu"
App's context menus for me is the big part of my daily routine on using file explorer, and I also hate the fact that this is UWP as the `WindowsApps` directory is inaccessible and I want the executable version as well.

![cm](https://user-images.githubusercontent.com/8995187/84455860-a27f4180-ac88-11ea-93cb-1ad6cdbbba47.png)

[2020-06-12 01:47] yaichenbaum commented on #1021
@AqilCont Thank you for opening this issue, I am merging this issue with #857.

[2020-06-12 01:47] #1021 closed

[2020-06-12 01:50] kyddox opened #1025 "One click to navigate"
Hi, firt, thank you for your work, i want to ask you to include one click to open files and archives option

Thanks

[2020-06-12 01:55] yaichenbaum commented on #1017
Describe the solution you'd like

You can install Files UWP from command line using the command `WinGet install FilesUWP`

[2020-06-12 01:56] Jaiganeshkumaran commented on #1024
See #699

[2020-06-12 01:59] yaichenbaum commented on #1015
@mdtauk Do you have in a mind a dialog with a preset of icons users can choose from?
![image](https://user-images.githubusercontent.com/39923744/84456745-cada5200-ac2e-11ea-9da1-db8532e692fd.png)

[2020-06-12 01:59] Jaiganeshkumaran commented on #1025
Duplicate of #261

[2020-06-12 02:01] yaichenbaum commented on #1019
@AqilCont Thank you for your feedback, the option to install fonts will be important to get on par with File Explorer functionality.

[2020-06-12 02:04] yaichenbaum commented on #1025
An option to open archives would be interesting, can you let us know why you think offering it built in will lead to a better experience than integrating with 7zip or other similar software?

[2020-06-12 02:10] kyddox opened #1027 "Cannot set to show file extension"
Cannot set to show file extensions, i enable the option but it disables whon i change the view

[2020-06-12 02:41] XPoppyX commented on #1027
a fix for multiple bugs in settings will be available in the next version of the app

[2020-06-12 03:58] mdtauk commented on #1015
That is of course the way Win32 does it. I probably think it would be more of a Change Icon button, which opens a file picker dialog, allowing you to pick an *.ico /.png /.svg  etc file.

As for an icon pack, I guess you would need some kind of zip file containing the image files and possibly some kind of JSON file assigning or naming the folder and file types, each icon is for.  This would be don

[2020-06-12 06:09] chuchanpr opened #1028 "Allow integration with power rename"
**Is your feature request related to a problem? Please describe.**
Allow integration with power rename

**Describe the solution you'd like**
Allow integration with power rename with a right click or menu

**Describe alternatives you've considered**
Explorer allows this option

**Additional context**
Sample menu
![image](https://user-images.githubusercontent.com/4193718/84470584-48d74100-aca1-11ea-

[2020-06-12 07:11] #1014 closed

[2020-06-12 07:11] chuchanpr commented on #1014
Duplicate found

[2020-06-12 07:40] hakulihanzo opened #1029 "Can't right-click to select open mode"
I want to right click on the file and I can choose to open it, like right click on the image file, and I can choose to open it in Photoshop or ACDsee

Thanks

[2020-06-12 07:53] SOI7 commented on #1023
What if the current layout mode icon replaces the layout menu icon on the status bar?

[2020-06-12 08:09] kyddox commented on #1025
I dont mean to open zip archives, the feature i think will be good is the
option to do just one click on the mouse to open files and folders, i have
using this configurations on the desktop and file explorer since windows xp
and tho need to do double click  is annoying me

*Ing. José Antonio Rovira Puig*
Cel.  04455 1951 7402

Considera el medio ambiente antes de imprimir este correo

El jue., 11

[2020-06-12 10:18] Jaiganeshkumaran commented on #1029
The latest preview has the open with option. You can download it from https://github.com/files-community/files-uwp/releases.

[2020-06-12 10:20] Jaiganeshkumaran commented on #1028
The app doesn't support custom context menu items yet. See #699.

[2020-06-12 11:09] lampenlampen commented on #1024
@fralyx Why do you need the exe?

The exe is located at `%localappdata\Microsoft\WindowsApps\files.exe`

[2020-06-12 11:15] drfuture opened #1030 "Provide msixbundle at github or offlinedownload at Businessstore"
Hi,
this tool looks very promising. as the MS-Store is disabled on my pc (i`m the admin who disabled it but wouldn`t a exctra config for me) i tryed to download the appxbundle by MS Business Store.
Unfortunality this is not posible. Maybe there is a option to allow / disallow this on publishing?
Thx second reason is - i need the appx file to maybe install the software remote.

So please provide th

[2020-06-12 12:46] yaichenbaum commented on #1025
@kyddox In that case we will be merging this issue with an existing one #261.

[2020-06-12 12:46] #1025 closed

[2020-06-12 12:49] yaichenbaum commented on #1030
@drfuture Files UWP is already available on WinGet, we try to upload the packages to the GitHub releases as well but that usually takes some time. I will take a look at putting it on the Microsoft Business Store.

[2020-06-12 12:52] yangjieshao opened #1031 "can not find disk H if I had not disk G"
My computer has C disk, D disk, E disk and H disk
Your program doesn't recognize disk H
![Snipaste_2020-06-12_20-50-33](https://user-images.githubusercontent.com/3275834/84504391-71d1f300-acee-11ea-9e80-533f16c00135.png)

![Snipaste_2020-06-12_20-51-23](https://user-images.githubusercontent.com/3275834/84504429-81e9d280-acee-11ea-9545-cbef714eca17.png)

[2020-06-12 12:52] yaichenbaum commented on #1029
We are working on adding an "open with" menu. There is not ETA but you can track the progress here #174.

[2020-06-12 12:52] #1029 closed

[2020-06-12 13:00] yaichenbaum opened #1032 "Add an option to choose the default text editor"
Like in File Explorer, we should have an "edit" option when right clicking on text files. We can have a similar configuration setup that we do for terminal applications to let the user choose which text editor to open by default.

[2020-06-12 13:45] chuchanpr opened #1033 "Feature: Wrap file names in the grid layout"
**Requirements**
- File names should wrap up to three lines in the grid view layouts.
- Selected items names should wrap as many lines as necessary to show the complete name

[2020-06-12 14:06] makeshift2k1 opened #1034 "Cut and paste problem when used in multi-window"
**Describe the bug**
App closes when cut/paste files in multi-window

**To Reproduce**
Steps to reproduce the behavior:
1. Shift+click taskbar icon to open one new window of the app
2. Trying to cut and paste a file
3. That opened windows closed on its own, and can't cut the file
4. The other window still works though

**Expected behavior**
Both should work like a charm

**Screenshots**
If applica

[2020-06-12 14:16] chuchanpr commented on #210
@yaichenbaum do you have a beta for this available yet? Would love to see this.

[2020-06-12 14:18] chuchanpr opened #1035 "Provide option to intergrate with some media manages or include some media manager"
**Is your feature request related to a problem? Please describe.**
Provide option to intergrate with some media manages or include some media manager

**Describe the solution you'd like**
Provide option to intergrate with some media manages or include some media manager

**Describe alternatives you've considered**
Use a customer MMM via Explorer to manage media (movies and tv shows) and rename fil

[2020-06-12 14:20] Rebellion2333 opened #1036 "没办法压缩文件（ZIP、7Z）"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-12 14:32] yaichenbaum commented on #210
@chuchanpr We are rethinking how the home page will work, the goal is to enable optional "widgets" that can be pinned to the home page, one of the possible widgets would be a drives section.

[2020-06-12 14:40] #645 closed

[2020-06-12 14:40] #1003 closed

[2020-06-12 16:25] chuchanpr opened #1037 "Drag and drop window tabs"
Drag and drop window tabs to create/remove new windows just like in browsers. This helps window and tab management must efficiently.

[2020-06-12 19:06] XPoppyX opened #1040 "Listview: add empty space where there is no column"
**Before:**
![Anotación 2020-06-12 150354](https://user-images.githubusercontent.com/61259627/84537613-1556df80-acbe-11ea-8da2-659c299c95c6.png)

**After:**
![Anotación 2020-06-12 1503542](https://user-images.githubusercontent.com/61259627/84537615-17b93980-acbe-11ea-978f-cbc2d719a8fd.png)

[2020-06-12 19:32] yaichenbaum opened #1042 "Ask for password when extracting password protected archives"
Files UWP is missing a dialog when extracting password protected archives.

[2020-06-12 23:24] duke7553 commented on #1036
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-06-12 23:24] #1036 closed

[2020-06-12 23:33] XPoppyX opened #1043 "High cpu and ram usage when calculating the size of folders containing a large number of files"
**UPDATE:** After more tests, it only happened the first time, then the use of cpu and ram is not that high anymore, but it is still a bit high, and it takes too long to show the size.
I also realized that it is not so much for the size, but for the amount of file.

while doing the calculation:
![Captura de pantalla (22)](https://user-images.githubusercontent.com/61259627/84553863-57dee300-ace3-11

[2020-06-13 01:05] VoidExploiter commented on #1034
This also occurs for copy too

[2020-06-13 02:09] AqilCont opened #1045 "Incorrect text coloration after switching themes."
### Describe the bug
Text coloration doesn't switch back accordingly when switching to dark theme from light theme.

### To Reproduce
Steps to reproduce the behavior:
1. Go to Settings
2. Switch to light mode
3. Exit out
4. Go to Settings again, but switch to dark mode this time
5. Exit and observe

### Expected behavior
It should simply be the correct color. Not anything too major, but makes the

[2020-06-13 07:14] chuchanpr opened #1047 "Ask for password when opening bit locked drive for the first time"
**Describe the bug**
Ask for password when opening bit locked drive for the first time. Now the app crashes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Files UWP'
2. Click on a drive that is bit locked (first time and it is locked)
3. App crashes

**Expected behavior**
Password should be prompted

**Desktop (please complete the following information):**
 - OS Version: [e.g. Window

[2020-06-13 14:05] dcalderonlo opened #1049 "Possibility to drag and drop files into the sidebar"
App version 0.9.2.0

[2020-06-13 14:45] Jaiganeshkumaran commented on #1049
You can currently drag and drop a file to an another folder in Files UWP. However, you can drag and drop it outside Files UWP.

[2020-06-13 15:42] dcalderonlo commented on #1049
It's concealer, sorry, I didn't know you had to select the item first, and then you could drag it, either way, you can't drag the files to the items in the left bar.

![image](https://user-images.githubusercontent.com/22837226/84572863-f4989380-ad6a-11ea-8f28-f3eb0bbd8fb1.png)

[2020-06-13 15:53] dcalderonlo opened #1050 "Most Degraded Box Properties"
A further degrade can cause the window box properties to not be lost in view with the rest of the application.

If the box were a little more transparent, the view would be less confused.

App version: [v0.9.2]

![image](https://user-images.githubusercontent.com/22837226/84572699-d7af9080-ad69-11ea-983e-3b77162d66cb.png)

[2020-06-13 16:50] chuchanpr commented on #672
Add option to collapse the side bar, for cleaner look

[2020-06-13 19:44] rroyGit opened #1051 "Shortcuts not visible"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-13 20:04] duke7553 commented on #1051
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-06-13 20:04] #1051 closed

[2020-06-13 22:03] XeZrunner opened #1052 "Sidebar items' pressed effect persists when released while outside of control"
**Describe the bug**
Holding a menu item in the sidebar, then moving the cursor/pointer outside of the control and letting go will result in the highlight effect persisting until the control is pressed again.

**To Reproduce**
1. Open the app.
2. Click or tap, and keep holding an item in the left sidebar.
3. Move the mouse or your finger/pointer outside of the menu item control.
4. Let go of the m

[2020-06-14 03:27] VoidExploiter opened #1054 "Properties Dialog Doesn't Populate for folders"
**Describe the bug**
Properties dialog doesn't populate for folders.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Files.UWP
2. Try to Right Click on properties for three to four folders
3. After that properties dialog will never populate
4. This happens because after the third try. It tries to calculate the MD5 hash for the folder.

**Expected behavior**
It should not try to calcula

[2020-06-14 06:08] yaichenbaum commented on #1034
This issue has been fixed in the v0.10.2 release. v0.10.2 is now available for beta testers and will roll out to everyone else in a few days.

[2020-06-14 06:08] #1034 closed

[2020-06-14 06:08] yaichenbaum commented on #1027
This issue has been fixed in the v0.10.2 release. v0.10.2 is now available for beta testers and will roll out to everyone else in a few days.

[2020-06-14 06:08] #1027 closed

[2020-06-14 06:12] yaichenbaum commented on #967
@andyfmidd This will happen if your device is setup to sync your desktop folder with OneDrive.

[2020-06-14 06:12] #967 closed

[2020-06-14 06:16] Jaiganeshkumaran commented on #1054
A folder is just a container for holding files. You can't really calculate the hash for a folder however we can calculate on the based on the folder data.

[2020-06-14 06:23] Jaiganeshkumaran opened #1056 "The latest version is crashing on startup"
**Describe the bug**
The latest version from the master branch seem to crash on startup.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the master branch.
2. Launch it.

**Expected behavior**
App should start properly.

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro Insider Preview
 - App version: v0.10.2

**Additional context**

`2020-06-13 18:51:13.79

[2020-06-14 07:47] B3HI13 opened #1057 "play multiselected mp3s"
**Describe the bug**
A clear and concise description of what the bug is.
when i want to play multiselected mp3s, only the last selected music plays. even i highlighted
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If app

[2020-06-14 10:48] seriaati opened #1058 "Let's get compatible with QuickLook!"
**Is your feature request related to a problem? Please describe.**
So the quicklook website you put in the "about" page of your app actually leads me to an amazing app somebody developed! However, it is not compatible with files UWP.

**Describe the solution you'd like**
Then since you two sort of know each other, why not put quick look straight into files UWP? It would be an amazing feature!

**D

[2020-06-14 10:56] Jaiganeshkumaran commented on #1058
QuickLook is supported by Files UWP and that's why it's listed in the about page however because of a known bug it's no longer working. (#969)

[2020-06-14 11:02] seriaati commented on #1058
So it is currently not working.

[2020-06-14 11:06] seriaati commented on #969
Hope this will work soon 😐

[2020-06-14 11:23] fanstyle-cmd opened #1059 "it cannot link my NAS synology"
hope the files can link the net storage through the FTP/NTP/SMB/SSH/TELNET

[2020-06-14 11:42] Yeba opened #1060 "It's so good!!!! but right click is not power. 这个软件太棒了！但是右键和一些快捷键支持还不是很好，作者加油！"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-14 13:26] gave92 commented on #969
@lampenlampen I think this issue is a bug introduced by the changes to the full-trust process to add support to the recycle bin. The `StartupTasks` is called too early while the full-trust process is not yet running. I'll see what to do.

[2020-06-14 13:51] AnuthaDev commented on #857
@duke7553 This might be of interest: https://devblogs.microsoft.com/oldnewthing/20140120-00/?p=2043

[2020-06-14 14:25] #969 closed

[2020-06-14 14:26] yaichenbaum commented on #969
This issue has been fixed with #1061 and will roll out to users when v0.11 is released.

[2020-06-14 14:27] yaichenbaum commented on #1058
This issue has been fixed with #1061 and will roll out to users when v0.11 is released.

[2020-06-14 14:27] #1058 closed

[2020-06-14 14:31] yaichenbaum commented on #1056
@Jaiganeshkumaran I have not been able to reproduce using the steps you mentioned. Can you try cleaning or maybe even re-clone the solution and test again?

[2020-06-14 14:47] Jaiganeshkumaran commented on #1060
Thanks for your appreciation. What options would you like to see in the right-click menu?

[2020-06-14 15:13] fralyx commented on #1024
@lampenlampen It's just me wanting to customize my windows even further. Somehow my WindowsApps folder is locked

[2020-06-14 15:15] fralyx commented on #1024
@Jaiganeshkumaran ah ok, i see it was done on yesterday there
https://github.com/files-community/files-uwp/pull/699#issuecomment-643569715

Thanks for pointing out

[2020-06-14 15:17] Jaiganeshkumaran commented on #1024
It's locked by default for everyone however you can mess around the permission to get access however it's not recommended.

[2020-06-14 15:18] lampenlampen commented on #1024
You can even create you own shortcut and let it point to `files`. That will also open Files-UWP. Then you can customize the shortcut.

[2020-06-14 15:23] lampenlampen commented on #1024
You can also let the shortcut point to `files -Directory "C:\Users"`, to open a specific folder.

[2020-06-14 16:03] gave92 commented on #1056
@Jaiganeshkumaran I was having the same issue. I fixed it by changing the Build Action for the file "Files\Assets\terminal\terminal.json" from "None" to "Content" in my local branch. I don't know why I have to do it and other people don't.

[2020-06-14 16:34] gave92 commented on #1047
I can't reproduce this. If I try to browse a drive encrypted with Bitlocker I get an empty drive until I insert the password from windows explorer. I get no crash.
Could you post the contents of `C:\Users\Marco\AppData\Local\Packages\49306atecsolution.FilesUWP_et10x9a9vyk8t\LocalState\debug.txt` after you get a crash?

[2020-06-14 16:36] yaichenbaum commented on #524
@gave92 Do you have any ideas on this?

[2020-06-14 16:38] gave92 commented on #524
@yaichenbaum Yup, PR #1062 should fix this

[2020-06-14 16:41] yaichenbaum commented on #799
Is this still an issue in v0.10.2?

[2020-06-14 16:42] yaichenbaum commented on #524
@gave92 The issue here is it should automatically allow that even without opening all the pictures.

[2020-06-14 16:44] yaichenbaum commented on #857
@SOI7 This issue may be fixed with the v0.10.2 update.

[2020-06-14 16:45] gave92 commented on #524
@yaichenbaum I know, I think we could do it using the code in #1062 (like if you click on a picture it looks for other pictures in the folder and open all those) but I don't like this solution much.

[2020-06-14 16:45] yaichenbaum commented on #1030
@drfuture Files UWP will soon be available on the Microsoft Store.

[2020-06-14 16:45] #1030 closed

[2020-06-14 16:46] yaichenbaum commented on #524
@gave92 That would work but I am worried about performance issues when opening a photo in a directory with thousands of photos.

[2020-06-14 16:47] XPoppyX commented on #799
works fine now

[2020-06-14 16:47] gave92 commented on #524
@yaichenbaum Yeah totally agree. I'm not sure how explorer handles that.

[2020-06-14 18:05] #1057 closed

[2020-06-14 18:06] yaichenbaum commented on #1057
Changes to address this have been implemented with #1062, make sure to subscribe to the releases to be notified when updates are released.

[2020-06-14 19:58] duke7553 commented on #1060
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-06-14 19:58] #1060 closed

[2020-06-15 01:52] Jaiganeshkumaran commented on #1004
Instead of having a button next to the + button, why not have the context menu options in the triple-dot menu?

[2020-06-15 01:53] Jaiganeshkumaran commented on #973
The app doesn't really close however the app gets minimized. You can restore the app by using Alt+Tab.

[2020-06-15 02:09] Jaiganeshkumaran commented on #1032
@yaichenbaum I don't really think that this option is really useful. I do use this option occasionally but not for text files.

[2020-06-15 02:13] tqgiub opened #1068 "建议支持网络共享访问，如\\172.18.0.186"
通过系统自带的资源管理器可以打开网络位置，通过files-community不能打开
[https://s1.ax1x.com/2020/06/15/NpILKf.png](url)

[2020-06-15 02:14] Jaiganeshkumaran opened #1069 "Add the ability to rearrange pinned items"
**Is your feature request related to a problem? Please describe.**
No. Currently, to change the order of pinned items shown on the sidebar, I need to manually edit the file or unpin all items and pin them again in the order I want. This is not convenient.

**Describe the solution you'd like**
The right-click context menu could have a move up and a move down option.