[2020-08-18 05:22] Jaiganeshkumaran commented on #333
@yaichenbaum Yes I am still working and PR is coming soon.

[2020-08-18 05:48] gave92 commented on #1397
@Jaiganeshkumaran Yup icons work!

![Screenshot (6)](https://user-images.githubusercontent.com/9673091/90475158-3822cb80-e127-11ea-9ece-7e465dfba40e.png)

[2020-08-18 06:31] Jaiganeshkumaran opened #1755 "Show original location for items in the recycle bin"

[2020-08-18 13:29] NoStyle27 opened #1756 "闪退"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-08-18 13:39] Jaiganeshkumaran commented on #1755
This is for the properties window not the recycle bin directory view itself.

[2020-08-18 13:40] NoStyle27 commented on #1756
单机两次任意文件或文件夹，软件会闪退。

[2020-08-18 13:41] #1756 closed

[2020-08-18 13:49] yolong-lin commented on #1751
@Jaiganeshkumaran  Thanks. But it seems to only work on absolute path.
If I type `files .` or `files .\`, it will open a new tab not the present working directory.

[2020-08-18 13:50] NoStyle27 opened #1757 "闪退"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-08-18 13:53] #1757 closed

[2020-08-18 14:57] Daksh777 opened #1759 "Quick access shortcuts/folders are not visible"
**Describe the bug**
The quick folder or quick shortcuts which appear in the left menu of Explorer do not appear in the app. I am only able to see the Music folder.

**Expected behavior**
All the quick access folders/shortcuts should appear in the left menu.

**Screenshots**
![image](https://user-images.githubusercontent.com/43648146/90528786-a64fa880-e190-11ea-8fa6-9d73501ce5eb.png)

**Desktop (p

[2020-08-18 15:04] NoStyle27 opened #1760 "Crash"
**Describe the bug**
After you set the layout mode to list view,click twice or double click after one click any file or folder，App will crash. Other layout modes will not.

**To Reproduce**
Steps to reproduce the behavior:
1. Open and use Files UWP
2. set the layout mode to list view
3. Click twice any file or folder/Double click after one click any file or folder
4. See error

**Expected behavior

[2020-08-18 15:08] gave92 commented on #1759
Make sure you have given file system access.
You can check it in Settings->Privacy->File system.

[2020-08-18 20:31] winiston2212 commented on #1650
How does this look for image files?
![image](https://user-images.githubusercontent.com/59544401/90562317-d8441900-e156-11ea-9911-687659a33778.png)

[2020-08-18 20:44] XPoppyX commented on #1650
@winiston2212  What about "Dimensions" instead of "Size"? also show "Width", "Height" and "Bit depth"

![image](https://user-images.githubusercontent.com/61259627/90563393-be63ff80-e171-11ea-8908-11981847af0c.png)

[2020-08-18 21:26] winiston2212 commented on #1650
I feel like having both dimensions and width/height is redundant. What about having a more detailed description in a tooltip? Like this:
![image](https://user-images.githubusercontent.com/59544401/90567265-bd75a280-e15e-11ea-944c-a497d9df233b.png)

[2020-08-19 03:32] Daksh777 commented on #1759
Thank you. That worked.

[2020-08-19 03:32] #1759 closed

[2020-08-19 03:58] Jaiganeshkumaran commented on #1760
@NoStyle27 Please upload the log files. You can access them from Settings->About->Open log location.

[2020-08-19 04:33] Daksh777 opened #1763 "Highlight folder when back button is pressed"
**Is your feature request related to a problem? Please describe.**
When in the file explorer (windows default app), I open a folder and press backspace or the back button and go back, it highlights that opened folder. In this app, nothing is highlighted and the view is scrolled back up to the top.

**Describe the solution you'd like**
Highlight the folders when backspace or back button is pressed

[2020-08-19 05:00] Jaiganeshkumaran commented on #1226
@yaichenbaum Could you assign me on this issue?

[2020-08-19 10:01] NoStyle27 commented on #1760
@Jaiganeshkumaran Is this ？
![capture_20200819175440977](https://user-images.githubusercontent.com/68083847/90620850-934ae000-e245-11ea-9ba6-f5e562285ef4.jpg)

[debug.txt](https://github.com/files-community/files-uwp/files/5095570/debug.txt)
[debug_fulltrust.txt](https://github.com/files-community/files-uwp/files/5095572/debug_fulltrust.txt)

[2020-08-19 10:03] Jaiganeshkumaran commented on #1760
@NoStyle27 Only debug.txt is needed for me.

[2020-08-19 10:07] NoStyle27 commented on #1760
@Jaiganeshkumaran It's okay. It's all yours.

[2020-08-19 10:29] Jaiganeshkumaran opened #1765 "Update the supported language list on the Microsoft Store"
The list is outdated and misses a lot of newly added languages like Korean.

[2020-08-19 12:46] yaichenbaum commented on #1765
@Jaiganeshkumaran The language list on the store is automatically generated based on the languages in the package. The language list will get updated when we roll out v0.14.

[2020-08-19 12:46] #1765 closed

[2020-08-19 12:52] Jaiganeshkumaran commented on #1742
@lorisobi That's because Russian comes first in your Windows language list. You can manage it Settings->Time & Language->Language. Windows always uses the language list order. To change the order select a language from the list and hit up or down.

[2020-08-19 18:56] osieltorres opened #1767 "External device cannot be removed while app is opened"
**Describe the bug**
If you open an external device in app, you cannot remove device unless you close the app

**To Reproduce**
Steps to reproduce the behavior:
1. Plug in any external device
2. Open it in app
3. Change disk to any other and try to remove external device from taskbar option
4. Not possible to remove device, windows keeps telling that device is in use, after closing the app, then t

[2020-08-19 21:44] duke7553 commented on #1692
I think the selected tab is visible enough because of the other design features. Do we really need an accent colored icon here?

[2020-08-19 21:49] duke7553 commented on #1684
Thank you for creating this feedback item. This issue is currently resolved in our active development branch and will be shipped soon once we've validated that everything works properly. Please subscribe to our releases to be notified when this is available.

[2020-08-19 21:49] #1684 closed

[2020-08-19 21:50] duke7553 commented on #1684
@gave92 Thank you for the prompt action on this one.

[2020-08-19 22:33] generalguy41 commented on #1692
Could always make it an option in the Settings > Appearance pane. I do agree that on a dark background, it could be slightly difficult to tell which tab is active/selected:
![image](https://user-images.githubusercontent.com/8879244/90696469-51706880-e24a-11ea-9145-e366cd83a032.png)
I don't think it would hurt to at least add an option.

[2020-08-20 03:22] X-Jackdaw opened #1768 "Show permanent deletion warning"
**Is your feature request related to a problem? Please describe.**
If I close the delete confirmation, the app will not confirm even if I delete a very big file or folder that cannot put it in the recycle bin. However, Windows explorer will warn you that this action will delete the file or folder permanently.

**Describe the solution you'd like**
When the file will be permanently deleted, I hope t

[2020-08-20 07:56] Dylan-Osborne commented on #1661
I get the same issue, Files UWP always crashes after extracting a zip file.

I somehow don't think think that the issue lies with the actual extraction as the files are always extracted successfully. It almost appears as if the crash occurs when Files UWP is processing the new folder that was created by the extraction (so that it can be added to the UI)

@Jaiganeshkumaran I only get this crash whe

[2020-08-20 11:08] cristiangerardo opened #1769 "Improve performance"
Very good UI, but the performance is very bad. When accessing any folder, the system takes a long time to read and display the results.
In addition, the properties of disks such as folders or files are very basic.

[2020-08-20 11:50] gave92 commented on #1760
This should be the same issue that was fixed in #1736

[2020-08-20 12:04] NoStyle27 commented on #1760
To support you

[2020-08-20 14:50] Jaiganeshkumaran opened #1771 "Properties window doesn't work on 1903"
**Describe the bug**
On Windows 10 Version 1903, properties window no longer works and clicking on the properties option shows a splash screen for some time but then the entire app instance crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Hit properties on any folder or file
4. It will crash if you are on 1903

**Expected behavior**
A lot of people are still running 1903 and the app

[2020-08-20 18:46] d2dyno1 commented on #1705
Created Pull Request #1773

[2020-08-20 19:15] yaichenbaum commented on #1705
The reason we don't want to do that is because the list of licenses will grow over time.

[2020-08-20 19:15] #1705 closed

[2020-08-20 20:53] d2dyno1 commented on #381
Can you assign me @yaichenbaum ?

[2020-08-20 21:21] stamminator opened #1774 "Difference between v0.13 and v0.13.1?"
My Files UWP app has automatically updated to version 0.13.1.0. This repo doesn't mention anything about a .1 minor release, I only see a 0.13 release. What changes does this minor release contain, and why isn't it documented in the releases?

[2020-08-20 21:24] yaichenbaum commented on #1774
@stamminator 0.13.1 is just a minor revision with updated dependencies.

[2020-08-20 21:24] #1774 closed

[2020-08-20 23:50] yaichenbaum commented on #1767
@tsvietOK

[2020-08-20 23:52] yaichenbaum commented on #1769
@cristiangerardo Can you provide information about the number of items in the location, the drive type, and how long it takes to load the items? It would also be helpful if you shared how the speeds compare to File Explorer.

[2020-08-20 23:53] #1760 closed

[2020-08-20 23:54] yaichenbaum commented on #1748
Merging with #174.

[2020-08-20 23:54] #1748 closed

[2020-08-21 00:02] yaichenbaum commented on #1670
@CreepKY Is this still an issue in v0.13.1?

[2020-08-21 00:03] yaichenbaum commented on #1629
Merging with #1342.

[2020-08-21 00:03] #1629 closed

[2020-08-21 00:06] yaichenbaum commented on #1676
@R3voA3 Is this still an issue in v0.13.1?

[2020-08-21 02:02] generalguy41 commented on #1712
Issue seems to be fixed in v0.13.1.0.

[2020-08-21 02:02] #1712 closed

[2020-08-21 02:39] generalguy41 opened #1776 "Can't delete multiple items"
**Describe the bug**
Can't delete multiple items.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a folder with a lot of items.
2. Select them all.
3. Try to delete them all.
4. Either one file/folder appears to delete, or none do.

**Expected behavior**
All files will be deleted.

**Screenshots**
![ezgif-7-1ce33e2a859d](https://user-images.githubusercontent.com/8879244/90844957-15fd99

[2020-08-21 04:14] generalguy41 opened #1777 "Page doesn't switch when going between Home page and sidebar option"
**Describe the bug**
When switching back and forth between the Home page and a pinned sidebar option, if you go between the same option repeatedly, the page won't change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home page.
2. Click on one of the pinned items in the sidebar.
3. Go back to Home page.
4. Attempt to switch back to the page you were just on.
5. Page won't change.

**

[2020-08-21 08:13] d2dyno1 commented on #381
#1779 PR

[2020-08-21 08:49] R3voA3 commented on #1676
Not sure if fixed, but I can't reproduce it.

[2020-08-21 19:36] ArttuLai opened #1782 ""Open in Terminal" is greyed out and doesn't work"
## Describe the bug
I noticed in version 0.13.2 that I can't open terminal (or CMD) in any folder anymore — the option is greyed out and I can't activate it. Setting the "terminal application" to CMD doesn't work either.

## To Reproduce
Steps to reproduce the behavior:
1. Open settings --> Preferences --> Terminal Applications
2. Choose any option; CMD, or Terminal (if you have Windows Terminal s

[2020-08-22 09:28] MarcAnt01 opened #1783 "Copy path from recycle bin crashes the app"
**Describe the bug**
The button to copy the path from recycling bin crashes the app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to recycle bin
2. Click on "copy path"

**Expected behavior**
Not crash

**Screenshots**
Not needed

**Desktop (please complete the following information):**
 - OS Version: Windows 10 2004
 - App version: [v0.13.3.0]

**Additional context**
Not needed

[2020-08-22 17:02] thomiel opened #1786 "'New Folder' option not obvious at first"
**Is your feature request related to a problem? Please describe.**
I didn't find out how to create a new folder at first. Finally, after taking some time and pressing any possible button, I discovered that this function could have been found below the '+' icon. I assumed this whould have to do more something like 'add window' because it sits in the window menu.

**Describe the solution you'd like*

[2020-08-22 17:15] tsvietOK opened #1787 "Toolbar "+" button is disabled in all folders."
**Describe the bug**
When navigating to any folder it is not possible to create a folder through "+" button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any folder
2. "+" button is disabled.

**Screenshots**
![image](https://user-images.githubusercontent.com/20501502/90961772-d6aa8600-e4b3-11ea-9069-d6f7420bf15f.png)

**Desktop (please complete the following information):**
 - OS V

[2020-08-23 00:34] gaviny82 opened #1788 "App crashes when navigating to AppData in the NavigationBar"
**Describe the bug**
Clicking items in the `NavigationBar` to navigate to some folders crashes the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any folder in `%appdata%`
2. Click on `AppData` in the `NavigationBar` to navigate
3. Crash

**Expected behavior**
Navigate to the clicked folder

**Screenshots**
![image](https://user-images.githubusercontent.com/38808970/90968118-3c7e

[2020-08-23 01:02] #1788 closed, assigned to nobody

[2020-08-23 05:44] Czile-create opened #1789 "The mapped network driver does not show up fully in the list."
After I have mapped my network drive (NAS) using Microsoft's File Manager, if I disconnect, when I click the icon again, it tries to reconnect. But in this file manager, the icon will just disappear. Also, this file manager doesn't use the mapped network drive feature and to reconnect I have to open the file manager that comes with the system, which causes me a lot of trouble.

我使用微软的文件管理器对我的网络硬盘（

[2020-08-23 11:55] astalavista5000 opened #1790 "New UI Based on Edge and New Office 365"
**Is your feature request related to a problem? Please describe.**
The app now it looks like that it's in progress for another UI refresh and is looking a bit odd, maybe the tabs being separate from the rest?

**Describe the solution you'd like**
I was thinking since Microsoft is focusing on another design language and it seems that everything is being taken from the new office 365 new dashboard t

[2020-08-23 13:16] #1782 closed, assigned to nobody

[2020-08-23 13:16] #1787 closed, assigned to nobody

[2020-08-23 17:39] duke7553 commented on #1790
@astalavista5000 Thanks for suggesting this. Usually, we don't leave large, monolithic requests open like this.

In order to best address this in a transparent way, we usually expect reporters to open each feedback topic (e.g. feature request, bug, question, discussion item) as its own ticket. Please review each topic suggested here, and add your own take on an already open issue, or open a new on

[2020-08-23 17:39] #1790 closed

[2020-08-23 19:40] #1676 closed

[2020-08-24 00:59] seinlen opened #1794 "show the onedrive-personal tab"
**Is your feature request related to a problem? Please describe.**
I link to both ondrive-personal and onedrive for business services, but on the side panel there's only onedrive for business tab.

**Describe the solution you'd like**
Add a new tab for onedrive-personal, like traditional file explorer.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2020-08-24 03:07] Starbuck1991 commented on #1674
Dual pane is a much needed feature. Please, make it so!

[2020-08-24 12:23] thomiel commented on #1786
not in current version 0.13.1:

![grafik](https://user-images.githubusercontent.com/11477743/91044318-5c921280-e615-11ea-80c6-03f6f9f083f4.png)

[2020-08-24 12:29] thomiel commented on #1786
ah, now I get it: you right-clicked on the empty forders content area! but what will you do, if the folder is full of files and you don't find an empty area to right-click on?

right-clicking on a folder or drive should allow the user to create a subfolder (or bitmap image, or text document).

[2020-08-24 15:55] g2vnn opened #1795 "Drag and Drop and a way to make it default, please :)"
**Is your feature request related to a problem? Please describe.**
I can't drag and drop and I'm not able to open files with Files UWP, rather, the standard file explorer.

**Describe the solution you'd like**
I'd like a drag and drop feature added, and a way to make this my default, because man it's so nice.

**Describe alternatives you've considered**
Just uninstalling and waiting hopefully.

**

[2020-08-24 15:58] GrandSchtroumpf opened #1796 "accent color doesn't follow change on selected files"
**Describe the bug**
When the accent color changes with the background image & with a slideshow, the color of the file selection doesn't change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Personalization > Background
2. Select Slideshow (use folder with background with different accent colors) + "change picture every" 1m (fastest)
3. Go to Settings > Personalization > C

[2020-08-24 16:59] gave92 commented on #1796
Thanks for this feedback item. I can confirm the issue as well.

I might add that from the log file posted there are at least 3 more serious issues though :)
- Crash when switching sidebar item
- Crash when extracting a zip file due to path too long (extracting inside the package temp directory may not be ideal)
- Crash when trying to rename an open file

[2020-08-24 21:18] #1397 closed

[2020-08-24 21:20] yaichenbaum commented on #1397
@gave92 Thank you for all your great work on implementing this feature in #1754.

[2020-08-24 21:21] yaichenbaum commented on #174
@gave92 Thank you for all your great work on implementing this feature in #1754.

[2020-08-24 21:21] #174 closed

[2020-08-25 01:40] yaichenbaum commented on #1795
@g2vnn Can you please provide more details on the steps to reproduce this issue?

[2020-08-25 01:42] SofyUchiha opened #1797 "Unexpected closing of the application"
Selecting two or more items (either files or folders), right-clicking, and requesting properties closes the program completely.

![image](https://user-images.githubusercontent.com/70182567/91112943-c41e8100-e65a-11ea-9986-508e6035e970.png)

![image](https://user-images.githubusercontent.com/70182567/91112949-cd0f5280-e65a-11ea-98c8-fb7d15f43e00.png)

Outside of that, I found no critical bugs. Very

[2020-08-25 01:43] yaichenbaum commented on #1652
This issue should be resolved with #1780.

[2020-08-25 01:43] #1652 closed

[2020-08-25 01:46] yaichenbaum commented on #1797
@SofyUchiha Can you please fill out the issue template in order to help us troubleshoot the issue better?

[2020-08-25 01:57] SofyUchiha commented on #1797
I would be happy to do this, but it's my first time on GitHub, I'm still learning how to use it: c I made this account to report this problem, when giving in properties having two or more elements selected, the program just closes. As soon as I get a better handle on this platform, I'll provide more information.

[2020-08-25 07:01] Dylan-Osborne opened #1798 "Crash when multitasking flyout is disabled"
**Describe the bug**
Files UWP crashes when attempting to open any folder or path when "Show multitasking flyout in the navigation toolbar" is disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to the latest version (0.13.4.0)
2. Go to Settings ->Experimental and disable "Show multitasking flyout in the navigation toolbar"
3. Go back to the home page and try open any folder or

[2020-08-25 08:27] KaKi87 commented on #174
Nice ! When will the feature be available on MS Store ?

[2020-08-25 12:34] generalguy41 commented on #1798
Duplicate of #1641

[2020-08-25 13:24] Dylan-Osborne commented on #1798
@generalguy41 This isn't to do with creating tabs. This crash occurs when trying to browse away from the home page.

[2020-08-25 13:26] generalguy41 commented on #1798
Fair. I wonder if both would be fixed by addressing the issue.

[2020-08-25 13:36] tsvietOK opened #1799 "Crash when closing app where New tab opened and Continue where you left off enabled"
**Describe the bug**
App crashing every time when user closes it with New tab opened and Continue where you left off enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settigns -> On Startup -> Enable "Continue where you left off"
2. Open new tab
3. Close app
4. See error

**Expected behavior**
App should be closed properly without an error.

**Desktop (please complete the followi

[2020-08-25 16:44] Jianghanlin opened #1800 "Increase disk capacity usage"
Dear developer,
My suggestion is that the software should be able to include a diagram of disk capacity usage.

[2020-08-25 16:54] Cyberdroid1 opened #1801 "Windows 'under-construction' UWP File explorer"
To open the app -

Open Start and enter this code -

explorer shell:AppsFolder\c5e2524a-ea46-4f67-841f-6a9465d9d515_cw5n1h2txyewy!App

Click or press enter on first result. The app opens.

Attaching screenshot of app
![image](https://user-images.githubusercontent.com/51435948/91204356-95b7a900-e721-11ea-94f9-6e934f3a185e.png)

[2020-08-25 18:09] gave92 commented on #1801
There is also the new File Explorer beta that is found on Windows 10X emulator, it looks *a lot* like Files UWP :)

![image](https://user-images.githubusercontent.com/9673091/91211300-d9ed7e00-e70e-11ea-9f49-d6db507075a8.png)

[2020-08-25 18:13] gave92 commented on #1800
Disk usage is already available if you right click on the root folder of a drive > properties

<img width="250" src="https://user-images.githubusercontent.com/9673091/91211552-3f416f00-e70f-11ea-83f5-750239e9d3f0.png"/>

[2020-08-25 20:15] d2dyno1 commented on #1801
The Windows 10X File Explorer looks 💩 imo. The Files UWP look so much better + they have tab support

[2020-08-25 20:22] d2dyno1 commented on #1799
I'll investigate

[2020-08-25 20:49] SOI7 commented on #1801
The only thing I like more in Windows 10X is the shortcuts buttons in the toolbar, but other than that I prefer Files UWP by Miles

[2020-08-25 21:31] #1799 closed

[2020-08-25 23:20] yaichenbaum commented on #1798
Merging with #1641.

[2020-08-25 23:20] #1798 closed

[2020-08-25 23:25] yaichenbaum commented on #1368
@Jaiganeshkumaran Have you made any progress on this feature?

[2020-08-25 23:30] yaichenbaum commented on #1428
@NicTanghe Can you share the log file so we can properly investigate the issue?

[2020-08-25 23:32] yaichenbaum commented on #1408
@AdinAck We have not been able to reproduce this issue, what type of file are you seeing this issue with?

[2020-08-25 23:34] yaichenbaum commented on #1280
@ZoroNasr Is this still an issue in v0.13.1?

[2020-08-25 23:36] yaichenbaum commented on #1208
@Jaiganeshkumaran Have you made any progress on this issue?

[2020-08-26 00:27] duke7553 commented on #1801
Thanks for the positive feedback. I'll close this now.

[2020-08-26 00:27] #1801 closed

[2020-08-26 00:28] AdinAck commented on #1408
It appears to work now! Looks like it was fixed at some point or a windows update maybe fixed it, who knows?

[2020-08-26 00:28] #1408 closed

[2020-08-26 02:36] yaichenbaum commented on #174
The feature is already available to users in the beta flight, however it will be a at least couple weeks before we roll it out to regular users since we still working on refining the improved context menu.

[2020-08-26 02:37] yaichenbaum commented on #1748
This has been implemented in #1754.

[2020-08-26 02:39] yaichenbaum commented on #1019
This has been implemented in #1754.

[2020-08-26 02:39] yaichenbaum commented on #1028
This has been implemented in #1754.

[2020-08-26 02:39] yaichenbaum commented on #1300
This has been implemented with #1754.

[2020-08-26 02:40] yaichenbaum commented on #1304
This has been implemented with #1754.

[2020-08-26 02:40] yaichenbaum commented on #1210
This has been implemented with #1754.

[2020-08-26 02:40] yaichenbaum commented on #1024
This has been implemented with #1754.

[2020-08-26 02:41] yaichenbaum commented on #775
This has been implemented with #1754.

[2020-08-26 02:41] yaichenbaum commented on #1105
This has been implemented with #1754.

[2020-08-26 04:12] Jaiganeshkumaran commented on #1208
@yaichenbaum Please assign this issue with someone who has a touch screen.

[2020-08-26 04:49] Jaiganeshkumaran opened #1803 "Add a cancel button in the properties window to prevent rename when item name is changed"

[2020-08-26 05:03] revanmj commented on #174
Is there any way to get into beta flight?

[2020-08-26 06:29] NicTanghe commented on #1428
I don't have any log files sorry.

On Wed, 26 Aug 2020, 01:30 Yair Aichenbaum, <notifications@github.com>
wrote:

[2020-08-26 08:41] Jianghanlin commented on #1800
Thanks for your reminder. What you are talking about is a detailed display and a way to check. But what I mean is that I hope to add a way to quickly check the disk capacity, which can be displayed in the main interface immediately. The following is a reference picture. The picture I designed may be a bit ugly, hahaha
![Snipaste_2020-08-26_16-34-30](https://user-images.githubusercontent.com/419528

[2020-08-26 10:31] ZoroNasr commented on #1280
no, not anymore :)
On 8/26/2020 1:34:50 AM, Yair Aichenbaum <notifications@github.com> wrote:
@ZoroNasr [https://github.com/ZoroNasr] Is this still an issue in v0.13.1?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub [https://github.com/files-community/files-uwp/issues/1280#issuecomment-680320033], or unsubscribe [https://github.com/notification

[2020-08-26 11:47] #1280 closed

[2020-08-26 12:33] MarcAnt01 opened #1804 "Win32 apps are launched in background"
**Describe the bug**
UWP apps are open over Files UWP. For example if I open a photo with MS Photos app the new window will be in foreground, but if I open a .docx file with Word the window will be in foreground

**To Reproduce**
Open a file whose default app to open it is not UWP

**Expected behavior**
Have the same behavior of UWP apps

**Screenshots**
Not applicable

**Desktop (please complete

[2020-08-26 14:08] MarcAnt01 commented on #1603
Can confirm I have this delay, Win32 explorer happens to be slow just with heavy folders while Files UWP has a little delay when opening a folder, even if it contains few elements.

[2020-08-26 14:12] MarcAnt01 opened #1805 "Quick access"
**Is your feature request related to a problem? Please describe.**
I like the possibility to have access to frequently used folders without having to look for them manually.

**Describe the solution you'd like**
Include a Quick access area in the sidebar, allowing to pin folders and to automatically display the most-used ones

**Describe alternatives you've considered**
None

**Additional context*

[2020-08-26 14:16] Jaiganeshkumaran commented on #1805
@MarcAnt01 You can already pin a folder the sidebar by right clicking on a folder and selecting 'Pin to sidebar'.

[2020-08-26 14:17] Jaiganeshkumaran commented on #1804
Duplicate of #985

[2020-08-26 14:17] Atlasim1 opened #1806 "Propreties Menu Not Working"
**Describe the bug**
The Propreties Menu Is Not Working
When i click propreties it opens a new window and then crashes
sometimes it dosent crash sometimes it does

**To Reproduce**
Steps to reproduce the behavior:
1. Right Click on any file
2. Click Propreties

**Expected behavior**
It should open the propreties menu

**Screenshots**
i dont have screenshots there are no error messages

**Desktop (

[2020-08-26 14:20] MarcAnt01 commented on #1804
@Jaiganeshkumaran the issue talks about a specific issue with the terminal when launched in a specific scenario, while my issue aims to be general

[2020-08-26 14:31] stamminator commented on #1774
In the interest of transparency, we should be able to view all of the code for each version we're installing on our machines.

[2020-08-26 14:39] Atlasim1 opened #1807 "Add Terminals In Tabs"
i have bad english sorry
**This is a functional and visual tweak**

**Is your feature request related to a problem? Please describe.**
When i launch an app in windows terminal i dont like that the tabs are not the same design

**Describe the solution you'd like**
A Better ""integration"" Beetween Windows terminal and files uwp

**Describe alternatives you've considered**
Option 1 :
add the option

[2020-08-26 14:41] Atlasim1 commented on #1807
its a visual tweak
idk if you can do that but ok

[2020-08-26 14:44] Atlasim1 commented on #1806
realised that issue #1771 is the same thign

[2020-08-26 15:33] d2dyno1 commented on #1786
I don't really think I'd be very convinient, I'd say it would confuse some users as to where is the folder created. There is just enough space on the left side to open a context menu on a folder with current implemenation:
![image](https://user-images.githubusercontent.com/53011783/91324331-3c538680-e7c2-11ea-8073-4fa413640e3e.png)

[2020-08-26 15:57] SOI7 opened #1809 ""Something went wrong" notification"
**Describe the bug**
I keep getting a "Something went wrong" notification each time I close or reduce Files UWP. The irony is that the app didn't even crash

**To Reproduce**
Open the app, then close or reduce it

**Expected behavior**
No notification at all (the app is working fine apparently)

**Screenshots**
![image](https://user-images.githubusercontent.com/50930970/91327121-6bb7c280-e7c5-11ea

[2020-08-26 17:06] duke7553 commented on #1809
I get this too whenever I minimize the app.

[2020-08-26 17:07] duke7553 commented on #1804
Duplicate of #985
Please follow issue 985 for updates on this one.

[2020-08-26 17:07] #1804 closed

[2020-08-26 17:59] gave92 commented on #1809
This just got fixed in 9e1461a6736c010b2f8c7d4b3699afd8159f87be
@d2dyno1 confirm?

[2020-08-26 18:12] MarcAnt01 commented on #985
@duke7553 can this ticket be refactored to be more general?

[2020-08-26 18:35] d2dyno1 commented on #1803
Will do!

[2020-08-26 18:42] d2dyno1 commented on #1800
I think that would make the user interface cluttered, you can already see the disk usage when hovering on the disk

[2020-08-26 18:53] d2dyno1 commented on #1561
@yaichenbaum Can you assign me?

[2020-08-26 19:13] d2dyno1 commented on #1577
Instead of cutting, scroll to the end?

[2020-08-26 19:20] #1806 closed

[2020-08-26 20:10] yaichenbaum commented on #1774
@stamminator You are correct, we will try to be more transparent about minor patches in the future.

[2020-08-26 20:20] #1803 closed

[2020-08-26 20:22] yaichenbaum commented on #1786
@d2dyno1 That is definitely a possibility, how about changing the icon of the button and changing the menu to have the same items as the right click context menu?

[2020-08-26 20:31] d2dyno1 commented on #1786
@yaichenbaum  That'd be great! The '+' would finally have a purpose

[2020-08-26 20:50] yaichenbaum commented on #1807
@Atlasim1 Files UWP uses a custom design for tabs, if you would like to see Windows Terminal use a similar design, make sure to open an issue on the Windows Terminal repository.

[2020-08-26 20:50] #1807 closed

[2020-08-26 20:55] yarikv8601 opened #1813 "App asks for file system access permission on Win10 2004 and doesn't show local drives."
**Describe the bug**
When Files app starts, it asks for granting file system access permission. After pressing 'Grant Permission' button, in settings page there's no Files app listed. However I'm able to access any folder or file on any of of my local drives by entering folder path manually. Also drives do not show on the side panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files

[2020-08-26 22:02] DeDaMrAzR opened #1816 "Selecting multiple files and using cut (ctrl+x) crashes the program."
**To Reproduce**
Steps to reproduce the behavior:
1. select all files
2. Click on cut or ctrl+x
3. See error, or not (:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):**
 - OS:  Windows 10 2004 19041.450
 - App version: v 0.13.1.0

**Additional context**
I think title is self explanatory.

**Log file**
[

[2020-08-26 23:12] yaichenbaum commented on #1800
Merging with #366.

[2020-08-26 23:12] #1800 closed

[2020-08-26 23:16] yaichenbaum commented on #1805
@MarcAnt01 You can already see recently opened folders on the jumplist, however, adding a quick access section is something we can look at doing as well.

[2020-08-26 23:17] #1809 closed

[2020-08-26 23:55] gave92 opened #1817 "USB drives not added to sidebar after minimize/restore"
**Describe the bug**
USB drives are not added to the sidebar drives list if the app has been minimized and restored

**To Reproduce**
Steps to reproduce the behavior:
1. Minimize app
2. Restore app
3. Connect USB drive
4. USB drive is not shown in sidebar

**Desktop (please complete the following information):**
 - OS Version: Windows 10 2004
 - App version: [v0.13.4]

[2020-08-27 00:05] #1428 closed

[2020-08-27 00:08] gave92 commented on #1816
Thanks for this feedback item. I can reproduce this in both ListView and GridView modes as long as there are enough items in the folder to make scrollbars appear. 👍

[2020-08-27 00:28] thomiel commented on #1786
Now that you mention it: yes there are a few pixels left and right of the list item. But that's not obvious. Rather a hidden feature.

[2020-08-27 01:27] gave92 commented on #177
@duke7553 could you remove my assignment on this issue? Support for shortcuts was introduced but I'm not currently working on the other features mentioned here. Thanks!

[2020-08-27 01:29] yaichenbaum commented on #177
@gave92 Done. Thank you so much for your help with adding support for shortcuts.

[2020-08-27 01:30] #1767 closed

[2020-08-27 01:46] #1817 closed

[2020-08-27 02:11] eachann1026 opened #1821 "File UWP flashes back when deleting a file"
File UWP flashes back when deleting a file
**Now the software is still prone to collapse and unstable**

[2020-08-27 03:48] yaichenbaum commented on #1821
@eachann1026 Can you please fill out the issue template so we can better understand the issue?

[2020-08-27 05:58] lbfatcgf opened #1822 "Program quits when copying paste"
Windows10 pro 1909 18363.1049

debug.txt

2020-08-27 13:49:10.0868|ERROR|Files.App|无效的 FORMATETC 结构 (Exception from HRESULT: 0x80040064)|System.Exception: 无效的 FORMATETC 结构 (Exception from HRESULT: 0x80040064)
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() + 0x21
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task) + 0x70
   at System.Runtime.CompilerServ

[2020-08-27 06:01] lbfatcgf opened #1823 "Program quits when copying paste"
Windows10 pro 1909 18363.1049

debug.txt

2020-08-27 13:59:47.4154|ERROR|Files.App|Invalid FORMATETC structure (Exception from HRESULT: 0x80040064)|System.Exception: Invalid FORMATETC structure (Exception from HRESULT: 0x80040064)
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw() + 0x21
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task) + 0x70
   at Syste

[2020-08-27 06:06] #1822 closed

[2020-08-27 07:41] zbalkan commented on #177
If I get it right, the shortcuts can be used as of now. But accessing the Alternate Data Streams feature of NTFS is missing. Is it correct?

[2020-08-27 07:42] rashil2000 opened #1824 "Add Scoop and Chocolatey package managers installation method"
**Is your feature request related to a problem? Please describe.**
Many people use package managers. It's just a part of the workflow. Adding an option to install through either Scoop or Chocolatey is extremely easy.
**Describe the solution you'd like**
I'd like to install and update Files-UWP through the commandline, i.e. using a package manager, preferably Scoop or Chocolatey. I know I can insta

[2020-08-27 07:42] Jaiganeshkumaran commented on #177
@zbalkan Yeah

[2020-08-27 09:18] Jaiganeshkumaran opened #1825 "App crashes occasionally during launch"
**Describe the bug**
Sometimes when opening Files UWP it crashes for no reason.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Files
2. Switch to some other app for some time and switch back to Files UWP
3. It may crash

**Expected behavior**
Files UWP shouldn't crash.

**Desktop :**
 - OS: Windows 10 Pro Version 2004
 - App version: v0.13.4.0

**Additional context**
Add any other cont

[2020-08-27 09:20] Jaiganeshkumaran commented on #1825
This also occurs while navigating through the UI like the settings page.

[2020-08-27 10:40] gave92 commented on #1825
Looks similar to #1809. Crash during launch should be fixed now

[2020-08-27 10:41] Jaiganeshkumaran commented on #1825
@gave92 But for me it really crashes.

[2020-08-27 11:47] EugeneVe opened #1828 "Acrylic didn't work on Windows 10 ver. 2004 (20201.1000)"
Acrylic didn't work on Windows 10 ver. 2004 (20201.1000) toggle Acrylic on/off doing nothing.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If ap

[2020-08-27 13:03] yaichenbaum commented on #1828
@EugeneVe Can you try update to v0.13.1?

[2020-08-27 18:15] gave92 opened #1829 "Duplicate usb drives in sidebar"
**Describe the bug**
If app is started with a connected usb drive, the usb drive will appear twice in the sidebar

**To Reproduce**
Steps to reproduce the behavior:
1. Connect usb drive
2. Launch app
4. See duplicate item in sidebar

**Desktop (please complete the following information):**
 - OS Version: [e.g. Windows 10 2004]
 - App version: [0.13.5 from source]

**Additional context**
My bad, th

[2020-08-27 18:50] gave92 opened #1831 "Crash with continue where you left off feature"
**Describe the bug**
App will crash on launch if continue where you left off setting is enabled and the last session contains an invalid path

**To Reproduce**
Steps to reproduce the behavior:
1. Enable continue where you left off setting
2. Navigate to USB drive
3. Close app
4. Disconnect USB drive
5. Launch app and see error

**Expected behavior**
App should discard last session path if the path

[2020-08-27 21:43] yaichenbaum commented on #1823
@lbfatcgf Can you fill out the issue template with details such as the version number...

[2020-08-28 02:11] #1829 closed

[2020-08-28 02:12] #1400 closed

[2020-08-28 02:12] #1816 closed

[2020-08-28 02:13] yaichenbaum commented on #1816
This issue was fixed with #1820.

[2020-08-28 02:13] yaichenbaum commented on #1400
This issue was fixed with #1820.

[2020-08-28 02:49] Jaiganeshkumaran commented on #1828
@EugeneVe You need enable Acrylic. It isn't applied by default.

[2020-08-28 04:41] lbfatcgf commented on #1823
version 0.13.1.0

[2020-08-28 08:42] Jaiganeshkumaran opened #1834 "Right clicking rename box closes rename mode"
**Describe the bug**
When you right-click the text box shown in rename mode it gets closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Hit rename on any item
2. Right click or long press
3. It will get closed

**Expected behavior**
It shouldn't close until the users hits enter or space or any other standard key for closing something.

**Screenshots**
Recorded video of the problem:
https

[2020-08-28 08:44] Jaiganeshkumaran commented on #1834
For some reason the context menu isn't captured by the video but when I right click I does show a menu flyout for a second and then it goes away.

[2020-08-28 09:52] dockyflash opened #1835 "Registry replacement to open Files UWP launches the app for everything else related to Explorer"
Hi, after following [these steps](https://github.com/files-community/files-uwp/wiki/Replacing-File-Explorer-with-Files-UWP) opening folders was fine but when I went to open "additional power options" on System > energy and suspension it opened Files UWP, so I went on the search bar to open the control panel and it also opened Files. I know this is just a "hack" but so letting you guys know if no o

[2020-08-28 13:05] yaichenbaum commented on #1835
@dockyflash This is a known side affect of using this method. We don't recommend editing the registry if you need access to Control Panel.

[2020-08-28 13:05] #1835 closed

[2020-08-28 13:41] Thomas1664 opened #1836 "Avoid duplicate code in properties"
**Describe the bug**
The section inside the properties dialog which contains the file icon and the file name is implemented in the general view as well as in the shortcut view.
The result of this doubled implementation is that future changes must be implemented twice which may lead to errors.

**Expected behaviour**
Implement this section once e.g. in a custom control

I could fix it with a PR by

[2020-08-28 15:31] duke7553 commented on #1821
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-08-28 15:31] #1821 closed

[2020-08-28 15:35] duke7553 commented on #1732
Thank you for creating this feedback item. This issue is currently resolved in our stable branch and should be available from the Microsoft Store. Please subscribe to our releases to be notified when fixes like this are available.

[2020-08-28 15:35] #1732 closed

[2020-08-28 15:40] duke7553 commented on #1737
@Jaiganeshkumaran Hello there.

Was your stack trace the same as before after @gave92 PR?

[2020-08-28 15:41] duke7553 commented on #1631
Thank you for creating this feedback item. This issue is currently resolved in one of our releases and should be available from the Microsoft Store. Please subscribe to our releases to be notified when fixes like this are available.

[2020-08-28 15:41] #1631 closed

[2020-08-28 15:42] duke7553 commented on #1605
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-08-28 15:42] #1605 closed

[2020-08-28 15:42] Jaiganeshkumaran commented on #1737
@gave92 Yes the same stack trace after @gave92's PR. Nothing changed.

[2020-08-28 15:44] duke7553 commented on #1670
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 7+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-08-28 15:44] #1670 closed

[2020-08-28 15:50] duke7553 commented on #799
@XPoppyX If this is still an issue, can you please upload your debug logs?

[2020-08-28 15:54] duke7553 commented on #1266
@kleuton05 I can't reproduce this one anymore. Please let me know if this was fixed, as otherwise I'll be closing this soon.

[2020-08-28 17:47] SketchNI commented on #295
I wouldn't close out the distro when Files closes.
I'd instead add a button to the listing so something like
[code]
A standby-style icon would best denote it but that isn't an emoji.
You could go one step further and allow something like

[code]
to allow WSl distros to be started via Files as well as terminated. That may be beyond the scope of the project but could be added under a "EnableDevelope

[2020-08-29 01:53] XPoppyX commented on #799
for now it no longer crashes after it no longer does the weird animation I mentioned before when opening a folder

[2020-08-29 02:06] XPoppyX opened #1838 "Properties: Move "Cancel" button to the right"
The "ok" button should always be on the left, and "Cancel" on the right

![Anotación 2020-08-28 220552](https://user-images.githubusercontent.com/61259627/91626160-a9aa1780-e97a-11ea-863f-0b97cabde0a8.png)

[2020-08-29 17:29] KaKi87 commented on #174
I have `Files UWP - Preview`, version `0.13.1.0`, is that the *beta flight* ? It doesn't seem so, because I can't see find the feature

[2020-08-29 21:47] duke7553 commented on #987
Can no longer repro this one.

[2020-08-29 21:47] #987 closed

[2020-08-29 21:50] duke7553 commented on #1266
Please re-open if this becomes an issue again. Thanks!

[2020-08-29 21:50] #1266 closed

[2020-08-30 06:37] mdtauk opened #1839 "Files UWP crashes when I connect my Zune HD to my PC"
**Describe the bug**
When I connect my Zune HD to my PC, Files UWP will crash.

**To Reproduce**
These are the steps I did to test this:
1. Opened Files UWP
2. I connected my OnePlus phone
3. Then I connected my Zune HD
4. FIles UWP Crashed

**Expected behavior**
Zune HD does not present filesystem access by default in Windows, but is recognised as a device by the Zune software and in Device Manag

[2020-08-30 17:15] ZoroNasr opened #1840 "Progress bar for pasting between tabs"
I cannot find any indication about the paste status when cutting and pasting files between different tabs in the app.

[2020-08-30 17:20] ZoroNasr opened #1841 "There is no way of selecting multiple files without left click on the mouse"
When i try to select multiple files away from each other, i tried pressing on ctrl, moving then pressing the space bar, but the file was not selected. the only way to do it is to press on the left click on the mouse.

app version : 0.13.1.0

[2020-08-30 23:40] GittyMac opened #1844 "Executable files that are opened in Files UWP are opened in the last viewed folder."
**Describe the bug**
In the "Recent Items" page on the "Home" tab, if you run an executable, it will open in the folder that you last viewed in the Files UWP tab.  It defaults to C;\Windows\System32 if no folders are opened.

**To Reproduce**
Steps to reproduce the behavior:
1. Run an executable that opens/creates files in the folder that it is ran in.
2. Go to any other folder.
3. Click on the "H

[2020-08-31 02:26] yaichenbaum commented on #1840
Duplicate of #114.

[2020-08-31 02:26] #1840 closed

[2020-08-31 05:11] EdiTurn commented on #1528
The support of Windows Terminal Preview still have problems:
1. If both Windows Terminal & Windows Terminal Preview are installed ,everything works fine. And the app opened by wt.exe can be set in Aliase.

2.  If only Windows Terminal Preview installed:
  - auto detect not work
  - change terminal.json (add profile manually), then the changes will be reset after Files UWP restart.
  - change termi

[2020-08-31 11:55] Thomas1664 commented on #1387
I can take it.

[2020-08-31 15:38] #1839 closed

[2020-08-31 18:02] tsvietOK opened #1848 "Duplicate window opens when moving tab to tab strip from another window"
**Describe the bug**
When moving(drag'n'drop) tab from another window it opens this tab and opens new window with this tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Open any folder
2. Open any folder in another tab
3. Move second tab outside window
4. Move tab from just created window back to main window
5. Dragged tab opens in both windows.

**Expected behavior**
Tab should be opened

[2020-08-31 18:10] mdtauk commented on #1839
Version 0.13.6  is working now, so thanks!

[2020-08-31 19:05] gave92 commented on #1813
@yarikv8601 could you check again with version 0.13.6? It may still crash but it will log more useful debug info

[2020-08-31 19:22] Sav22999 opened #1849 "Option to open file/folder with a single click instead of double click"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-31 19:32] Thomas1664 commented on #1387
@yaichenbaum How do I add new translation keys without markup?

[2020-08-31 19:47] yarikv8601 commented on #1813
@gave92 logs from version 0.13.6:
**debug.txt**
`2020-08-31 22:44:21.8290|INFO|Files.App|App launched|
2020-08-31 22:44:22.0290|INFO|Files.Filesystem.DrivesManager|Drive added: C:\, Fixed|
2020-08-31 22:44:22.0610|INFO|Files.Filesystem.DrivesManager|Drive added: D:\, Fixed|
2020-08-31 22:44:22.0940|INFO|Files.Filesystem.DrivesManager|Drive added: E:\, Fixed|
2020-08-31 22:44:22.1330|INFO|Files.Fil

[2020-09-01 01:47] #1771 closed

[2020-09-01 05:25] Dylan-Osborne commented on #1849
Possible duplicate of #261

[2020-09-01 12:20] #1849 closed

[2020-09-01 15:35] Thomas1664 commented on #1797
I can verify this issue. I showed a friend of mine this app and as he tried to open properties the app crashed. However, it works on my device. I think this issue occurs only on Windows 10 version 1903/1909

[2020-09-01 15:39] Thomas1664 commented on #1797
But this bug was fixed in #1771

[2020-09-01 16:35] AngelZeur opened #1855 "Suggestion For Files UWP - Preview"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-01 16:42] AngerZeur commented on #1855
Put all these same options for when you right click on the devices and units please
![Screenshot_1](https://user-images.githubusercontent.com/60907149/91882109-e61a9380-ec58-11ea-85cb-9e37b0bbea0b.png)

[2020-09-01 17:20] yaichenbaum commented on #1797
@Thomas1664 This issue has been fixed in the `master` branch, but it has not rolled out to users yet.

[2020-09-01 17:20] #1797 closed

[2020-09-01 17:29] yaichenbaum commented on #1855
@AngelZeur Please fill out the issue template.

[2020-09-01 17:29] #1855 closed

[2020-09-02 09:24] Jaiganeshkumaran opened #1857 "Item list isn't reordered when you create an item"

[2020-09-02 09:29] Sav22999 opened #1858 "Cannot run bat files"
**Describe the bug**
I've found [this issue](https://github.com/files-community/files-uwp/issues/948), but it's closed and marked as "Solved", but it's not.

I can't run my .bat files

**To Reproduce**
Steps to reproduce the behavior:
1. Double-Click on a '.bat' file
2. The file is not executed

**Expected behavior**
Execute the bat file

**Desktop (please complete the following information):**
 -

[2020-09-02 09:41] crashmit opened #1859 "Renaming a file crashes Files UWP"
**Describe the bug**
Files crashes sometimes when double-clicking folders

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Folder
2. Double click it or Right-click and select rename
3. Files crashes

**Expected behavior**
Allow me to rename the folder

**Desktop:**
 - OS Version: [e.g. Windows 10 2004 19041.450]
 - App version: [v0.13.01]

**Additional context**
Initially I encountere

[2020-09-02 10:04] Jaiganeshkumaran commented on #1387
@Thomas1664 Just add them in the resource file and load the string at runtime using Files UWP's static ResourceController class.

[2020-09-02 12:23] yaichenbaum commented on #1858
@Sav22999 Have you tried running them as administrator?

[2020-09-02 12:25] yaichenbaum commented on #1795
I am going to close this issue as it has been inactive for over a week, please reopen it and provide more details if you are still experiencing this issue.

[2020-09-02 12:25] #1795 closed

[2020-09-02 13:25] gave92 commented on #1859
This issue should be already solved in 0.13.6

[2020-09-02 13:29] crashmit commented on #1859
Okay, then it's all fine. I'm not a beta tester and don't have access to that version yet.

[2020-09-02 13:31] #1859 closed

[2020-09-02 14:03] #799 closed

[2020-09-02 14:45] Sav22999 commented on #1858
@yaichenbaum Ok, basically after I've executed it as administrator, it worked. And now works also without admin permissions.

[2020-09-02 14:45] #1858 closed

[2020-09-02 18:17] duke7553 commented on #1828
Thanks again for your feedback.

_Since we didn't hear from you on this topic for 6+ days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-09-02 18:17] #1828 closed

[2020-09-02 18:19] duke7553 commented on #1825
@Jaiganeshkumaran Just wanted to confirm with you. Is this one still an issue?

[2020-09-02 23:11] #1838 closed

[2020-09-03 01:21] XPoppyX opened #1861 "Properties: Add string for "Cancel" button"
No string added for "Cancel" button to translate

[2020-09-03 02:49] Jaiganeshkumaran commented on #1825
@duke7553 Yes I still saw this issue but this time when navigating inside Files it simply crashes.

[2020-09-03 06:10] WallerGeque opened #1864 "Two OneDrive accounts login in suggestions"
When two onedrives log in, we can't view their folders separately at the same time. You can only access one folder.

[2020-09-03 06:57] Jaiganeshkumaran commented on #1864
@WallerGeque Only one account is shown on the sidebar however you can access another by typing the location on the navigation path box.

[2020-09-03 08:10] Forresett opened #1865 "Trying to open Control Panel just opens the files-uwp home screen"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you set this as your default files app over the Windows File Explorer
2. Type in "Control Panel" in the Windows search
3. Try to open Control Panel-
4. Realize you are at the files-uwp home screen :(

**Expected behavior**
After opening Control Panel is just imme

[2020-09-03 08:37] Jaiganeshkumaran commented on #1865
@Forresett Did you replace the File Explorer with Files UWP? Control Panel is part of File Explorer and as a consequence replacing it will prevent it from working.

[2020-09-03 10:58] yaichenbaum commented on #1865
This is a known side effect with the method used to set Files UWP as the default. It's not recommended if you need to use control panel.

[2020-09-03 10:58] #1865 closed

[2020-09-03 13:25] yaichenbaum commented on #1864
Duplicate of #1794.

[2020-09-03 13:25] #1864 closed

[2020-09-03 23:46] #817 closed

[2020-09-04 04:27] Jaiganeshkumaran commented on #1841
@ZoroNasr You can click the bottom button in the right and select everything

[2020-09-04 04:39] Jaiganeshkumaran opened #1869 "Shell context menu items vanished after hitting 'Pin to Start'"
**Describe the bug**
After hitting 'Pin to Start' shell context menu item, all shell context items gets removed for all items.

**To Reproduce**
Steps to reproduce the behavior:
1. Right-click on a folder
2. Click on 'Pin to Start'
3. Right-click on any other item
4. Shell context menu will be removed until you restart the app

**Expected behavior**
Items shouldn't get removed. Also pin to start o

[2020-09-04 05:01] Cyberdroid1 opened #1870 "Music control icons in taskbar popup"
**Describe the bug**
The icon popup of FIles UWP in taskbar has music playback buttons (previous, play/pause, next).

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Files UWP
2. Hover cursor on app icon
3. See the popup

**Expected behavior**
The media playback buttons should not be present there.

**Screenshots**

![image](https://user-images.githubusercontent.com/51435948/92201202-9

[2020-09-04 06:10] gave92 commented on #1869
@Jaiganeshkumaran the fulltrust process is probably crashing. Do you get anything in the log files?

[2020-09-04 06:12] Jaiganeshkumaran commented on #1869
@gave92
[code]

[2020-09-04 08:23] Jaiganeshkumaran commented on #1869
@gave92 How about remove the Pin to Start and implementing our self using a secondary tile that will launch it in Files UWP without making it default

[2020-09-04 08:24] gave92 commented on #1869
@Jaiganeshkumaran the pin to start should be already hidden. If you see it it's a bug

[2020-09-04 08:25] Jaiganeshkumaran commented on #1869
@gave92 How do you disable it? By finding the name? That won't work for other languages.

[2020-09-04 08:25] Jaiganeshkumaran commented on #1870
@Cyberdroid1 This is a known issue with Windows 10 hybrid apps (Desktop + WinRT)

[2020-09-04 08:26] gave92 commented on #1869
@Jaiganeshkumaran no by finding it's command verb ("pintohome") which is language independent

[2020-09-04 08:26] Jaiganeshkumaran commented on #1869
@gave92 So why am I seeing it?

[2020-09-04 08:33] gave92 commented on #1869
@Jaiganeshkumaran see above.
If you can, it would be really useful if you could connect to the fulltrust process in visual studio and post what is logged to the output window when you right click

[2020-09-04 08:34] Jaiganeshkumaran commented on #1869
@gave92 I'll do that.

[2020-09-04 09:40] ZoroNasr commented on #1841
No, i don't want to select everything, i want to select like 3 or 4 files, and i can't do everything using the keyboard, i have to use the mouse unlike the normal explorer where u can go to the files with the arrows, and click on the space bar to select them. that is what i meant !!

[2020-09-04 10:02] Jaiganeshkumaran commented on #1841
@ZoroNasr You can do that by pressing shift while you use the arrow keys.

[2020-09-04 10:18] Jaiganeshkumaran commented on #1695
Not just for touch even with mouse it's difficult to select the small >.

[2020-09-04 10:26] Jaiganeshkumaran opened #1872 "Modern navigation and commanding"
**Is your feature request related to a problem? Please describe.**
Although the current navigation bar and status bar looks good and works fine, it's plain and boring. Also many options are buried in the more button which makes it difficult to use.

**Describe the solution you'd like**
A single compact header at the top with all information about the current directory with all the options inline d

[2020-09-04 13:02] yaichenbaum commented on #1841
@ZoroNasr Can you add your feedback to #9?

[2020-09-04 13:02] #1841 closed

[2020-09-04 14:18] ZoroNasr commented on #1841
Well, no, if i press the shift key, it will choose all the files in the row, i was to select specific files 3 or 4 rows on top, i can click on the file, hold on to control, and then i need to move the mouse up and then left click on it. on the normal explorer, u can simply click on space bar when u reach the file u want to select, and it gets selected. I hope you got my point. Simply imagine not u

[2020-09-04 14:44] yaichenbaum commented on #1841
@ZoroNasr We are tracking feedback related to mouse and keyboard shortcuts in #9. Please add your feedback there so that we can keep track of it.

[2020-09-04 14:50] ZoroNasr commented on #9
Whenever I try to select multiple files using the Ctrl+space bar, it doesn't work, only Ctrl+left mouse click.

[2020-09-04 15:14] osieltorres commented on #1857
I would also aggregate that on rename sometimes also happens.
Example:
I have three files, let's say E8.mp4, E9.mp4 & E10.mp4, if I rename E8.mp4 to E11.mp4, works fine, it goes to the list bottom, but when I rename it back to E8.mp4, it remains on the bottom until you refresh the view.

[2020-09-04 16:35] #1861 closed

[2020-09-04 17:16] yaichenbaum commented on #1870
This is a known issue for UWP apps that take advantage of the desktop bridge and there is nothing we can do on our end to fix it.

[2020-09-04 17:16] #1870 closed

[2020-09-04 20:25] yaichenbaum opened #1873 "The new right click context menu is slow when opening"
The new right click context menu has a delay before it's displayed.

[2020-09-04 20:25] yaichenbaum commented on #1873
cc @gave92

[2020-09-05 03:51] Jaiganeshkumaran commented on #45
@ChihweiLHBird Using System.IO will make it slower because UWP apps have limited access and you need to use StorageItems to get them. Instead we can use the native API: https://docs.microsoft.com/en-us/uwp/api/Windows.Storage.Compression?view=winrt-19041

[2020-09-05 09:34] Thomas1664 commented on #1452
I can confirm that issue. The changed date format is applied to none of the list items. The same bug appears in properties as well

[2020-09-05 09:43] Thomas1664 commented on #1435
I can't confirm any issues concerning shortcuts (at least on Windows 10 version 2004. For more information about shortcuts, see #9

[2020-09-05 14:59] gave92 commented on #1869
I can confirm that "pintohome" mentioned above refers to the "Add to quick access" item not the "Pin to start".
Unfortunately the pin to start menu item does not appear for me in Files UWP at all, so I can't reproduce the issue reported here.

[2020-09-05 15:03] Jaiganeshkumaran commented on #1869
@gave92 I only see it sometimes but I'm pretty sure that it says 'Pin to Start'. Also on this PC the Windows language is different from the app language so could that be an issue? But on my other PC where both the languages are the same and I still see it.

![Screenshot (1)](https://user-images.githubusercontent.com/45227503/92307860-016a0380-efb7-11ea-80a7-e93946a85f55.png)

[2020-09-05 15:07] Jaiganeshkumaran commented on #1161
@thetek42 The main issue is that the built-in tags feature only works with some files instead of all files.

[2020-09-05 15:16] AlexDavies8 opened #1874 "Grouping Folder Contents (Group By)"
**Is your feature request related to a problem? Please describe.**
Cannot group folder contents like in File Explorer

**Describe the solution you'd like**
Add a 'Group By' option, allowing folder contents to be automatically grouped.

**Describe alternatives you've considered**
None

**Additional context**
![image](https://user-images.githubusercontent.com/52012013/92308031-91498680-ef92-11ea-802

[2020-09-05 15:35] Jaiganeshkumaran commented on #1161
Comments property works with most files but for others I'm searching for another property

[2020-09-05 19:19] lidua opened #1875 "Crash when moving a tab that hasn't been loaded yet out of the window"
**Describe the bug**
The app crashes when moving a tab that hasn't been loaded yet out of the window

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new tab
2. Move it out of the window

**Expected behavior**
Create a new window

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS Version: [Wind

[2020-09-05 20:29] SaSiNO97 opened #1876 "The properties dialog crashes the app"
**Describe the bug**
The properties dialog crashes the whole app

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on any file or folder
2. Click properties
3. The app crashes.

**Expected behavior**
-

**Screenshots**
-

**Desktop (please complete the following information):**
 - OS Version: Microsoft Windows Version 10.0.18362.900
 - App version: 0.13.1.0

**Additional context**

[2020-09-06 03:26] #1170 closed

[2020-09-06 03:26] #1585 closed

[2020-09-06 04:14] KafuuNeko opened #1878 "After changing the file extension, the file icon is not updated automatically to reflect the new extension, and it needs to be manually refreshed"
重命名文件后缀名后文件图标无法及时更新成与后缀名相对应的图标，需要手动刷新后才更新

[2020-09-06 05:14] gave92 commented on #1876
@SaSiNO97 thanks for this report. This issue should be fixed since version 0.13.6 #1850.

[2020-09-06 05:25] gave92 commented on #1869
@Jaiganeshkumaran no, windows language should not be an issue in this case.
I notice that you get more menu items than me though (I don't get Pin to start and Scan with defender) so some menu items are not shown every time/to everyone (bug).

Regardless in order to fix this issue I'd need your help as Pin to start does not appear for me, did you have any chance to check with visual studio as said

[2020-09-06 05:55] TomerGamerTV opened #1879 "the program just freezes and the only thing i can do is drag it around"
**Describe the bug**
the program just freezes and the only thing I can do is drag it around

**To Reproduce**
Steps to reproduce the behavior:
1. view some folders
2. click on properties
3. exit properties
4. window stuck

**Expected behavior**
to work normal I think

**Screenshots**
it's just stuck like normal but not working so there is no what to screenshot

**Desktop (please complete the follo

[2020-09-06 06:11] Jaiganeshkumaran commented on #1869
@gave92
[code]

[2020-09-06 06:12] Jaiganeshkumaran commented on #1869
Actually I didn't see any of those items like Microsoft Defender or Pin to Start in the debug build however I cannot attach to Files UWP Preview because Debug.WriteLine is removed from the release build.

[2020-09-06 06:23] gave92 commented on #1869
@Jaiganeshkumaran thanks, I'll check if I get those items in the Release build then.
(As a side note, it looks like the log above is from the uwp app, I was suggesting you connect the debugger to the fulltrust process instead. In Visual studio: Debug > Connect to process > select FilesFulltrust.exe)

[2020-09-06 06:25] Jaiganeshkumaran commented on #1869
@gave92 I used the start option so I didn't get to choose that.

[2020-09-06 06:25] gave92 commented on #1869
@Jaiganeshkumaran yup, you'd have to start the app from the start menu, and the connect to it from visual studio

[2020-09-06 06:28] Jaiganeshkumaran commented on #1869
Can I modify the source to use NLog instead of Debug.WriteLine and do a release build?

[2020-09-06 06:29] Jaiganeshkumaran commented on #1161
It's much harder than I originally thought. Although tags are there in Windows, it's for a few file types and it doesn't work with others. Microsoft doesn't provide a good documentation about this so it's not reliable. They are other properties however we shouldn't modify them because it may contain other information and even then they are only available for a few files. To make matters even worse

[2020-09-06 06:30] gave92 commented on #1869
@Jaiganeshkumaran sure, that'd be great.

[2020-09-06 06:43] asuetin opened #1880 "SSHFS slowdowns after 0.13.0"
**Describe the bug**
Opening a SSHFS drive and folders within it is slow in comparison to other drives. The context menu is also slower to open.

**To Reproduce**
Steps to reproduce the behavior:
1. Download and install [WinFsp](https://github.com/billziss-gh/winfsp/releases)
2. Download and install [SSHFS-Win](https://github.com/billziss-gh/sshfs-win/releases)
3. Create a SSHFS drive pointing to

[2020-09-06 07:11] gave92 commented on #1878
I'll assume this means something like:

😂

[2020-09-06 07:34] Jaiganeshkumaran commented on #1869
@gave92 I don't see them now. Here's the log file:
[code]

[2020-09-06 07:45] gave92 commented on #1869
@Jaiganeshkumaran yeah Pin to start is missing, this was Release mode right?
It seems some menu items are not consistently shown which is bad :(

[2020-09-06 07:48] Jaiganeshkumaran commented on #1869
@gave92 Yes that was a release build but in the store version I see it but not in the GitHub version. I don't even see PowerRename and some other options in the GitHub version regardless of the build mode

[2020-09-06 11:22] Jaiganeshkumaran opened #1882 "PowerRename uses classic theme when launched from Files UWP"
**Describe the bug**
If you have PowerToys installed and when you use PowerRename from Files UWP, PowerRename uses old theme while running the same app from Explorer or outside uses the standard Windows 10 theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Install PowerToys if you don't have it
2. Enable PowerRename
3. Open Files UWP
4. Go to any folder and right click on any item
5. You

[2020-09-06 11:23] Jaiganeshkumaran commented on #1161
@yaichenbaum @gave92 Any idea on which property to use for storing tags? I don't get why some properties are only available for some file types although they are generic.

[2020-09-06 12:22] gave92 commented on #1161
@Jaiganeshkumaran I haven't investigated this, I'm not sure if there are properties common to all file types.
As an alternative we could also consider using Alternate Data Streams which would work on all files and folders (but NTFS only).
I'd prefer doing this using file properties though :)

[2020-09-06 12:42] Jaiganeshkumaran commented on #1161
@gave92 Alternate streams is a great idea but we should wait for #177 to be completed

[2020-09-06 13:32] gave92 commented on #1161
@Jaiganeshkumaran I was looking to alternatives to Alternate streams as you'd need to use the fulltrust process to get them (slow) and they do not persists if copied outside NTFS. Not sure if there's another way though.

[2020-09-06 13:33] Jaiganeshkumaran commented on #1161
@gave92 It's just colour so perfomance might not be an issue. For other file systems the solution is simple: AppData

[2020-09-06 14:38] yaichenbaum commented on #1161
fyi @duke7553

[2020-09-06 15:48] yaichenbaum commented on #1872
@Jaiganeshkumaran Before opening a pull request, can you share some concepts of what you have in mind?

[2020-09-06 15:49] Jaiganeshkumaran commented on #1872
@Jaiganeshkumaran Something like Groove Music's album but smaller. I didn't start working on this yet.

[2020-09-06 15:49] yaichenbaum commented on #1880
@asuetin The slower context menu is due to the new shell integration support and we are tracking the issue here #1873.

[2020-09-06 15:51] #1876 closed

[2020-09-06 15:52] yaichenbaum commented on #1875
@lidua Is this still an issue in v0.14?

[2020-09-06 18:08] #1836 closed

[2020-09-06 19:30] AngelZeur opened #1884 "My USB Stick Doesn't Recognize On UWP Files Devices and Drives - Preview"
**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wh

[2020-09-06 19:30] AngelZeur commented on #1884
I have a serious problem when I put my USB stick directly on my computer the UWP Files - Preview does not recognize my PENDRIVE on the Devices and drives correct this big error please

[2020-09-06 21:28] yaichenbaum commented on #1884
@AngelZeur Please fill out the issue template to better help us understand the issue.

[2020-09-06 21:28] #1884 closed

[2020-09-07 02:08] yaichenbaum commented on #1824
Unfortunately it looks like Winget is the only package manager that currently support Msix installers.

[2020-09-07 02:08] #1824 closed

[2020-09-07 04:00] duke7553 commented on #895
@Darhagonable Since we've seen no progress from you on this issue, we'll close this soon.

[2020-09-07 04:01] Jaiganeshkumaran commented on #1872
The idea is to combine the status bar and path bar into one single panel. Also put the options front and center for easy access.

[2020-09-07 04:02] duke7553 commented on #1879
@TomerGamerTV Does this occur when closing the Properties window in a particular way? Like by the close button, or the X caption button only?

[2020-09-07 05:05] TomerGamerTV commented on #1879
The x button I think oh and plus I found some other real crashes

The program crashing then I'm trying to move big files or view them

[2020-09-07 05:18] duke7553 commented on #985
@gave92 @yaichenbaum I'm not sure if this one is an issue anymore.

In my testing, multiple apps like Terminal, Notepad, and Edge all launch in front of the app window, as expected. Maybe if it is still an issue, we can do something like this when launching another process(?):
[code]

[2020-09-07 05:57] gave92 commented on #985
@duke7553 I'm not sure if this is still an issue, as I was never able to reproduce this consistently.
A couple of possible issues with the code above (that I remember from my previous testing):
- the opened window is not always the "next" one, sometimes is the one at the very bottom
- SetForegroundWindow was not working for me, possibly because of calling it from a process which is not on the fore

[2020-09-07 06:05] xumepoc opened #1886 "Contextual menu doesn't appear"
**Describe the bug**
The right mouse contextual menu is displayed only once after PC start and then is not shown again anymore.
The first opening takes 1-2 seconds.
After a PC restart the same is repeated :)

**Desktop (please complete the following information):**
 - OS Version: Windows 10 1909 18363.900
 - App version: [v0.14.0]

[2020-09-07 06:08] xumepoc commented on #1869
I can confirm that the GitHub version has some problem with that.

[2020-09-07 12:42] yaichenbaum commented on #985
@duke7553 I can still reproduce it.

[2020-09-07 16:27] duke7553 commented on #985
Just read the docs on this. You're right, it has to be called from the foreground process, so that function won't work.

[2020-09-07 17:30] gave92 commented on #985
@duke7553 there should be a way around this since Autohotkey and the like  manage it, tried looking at their source and they're doing some magic with AttachThreadInput function but could not get it to work

[2020-09-07 17:34] yaichenbaum commented on #1872
@Jaiganeshkumaran Looking forward for some concepts so we can discuss it and provide input.

[2020-09-07 18:57] Thomas1664 commented on #1387
@yaichenbaum I think the approach with a bar in the bottom of the page like edge isn't the best choice since it is not that appealing. For this reason, I suggest either using a dialog or the way VS Code handles in-app notifications (I don't mean the messages in the right corner on the bottom) using [this control](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/inappnotification)

[2020-09-07 19:00] gave92 commented on #1886
@xumepoc Thanks for the report. Please post the app log files.

[2020-09-07 19:14] xumepoc commented on #1886
`2020-09-07 22:09:09.8874|INFO|Files.App|App launched|
2020-09-07 22:09:10.0997|WARN|Files.Filesystem.DrivesManager|Can't get storage device name: Access is denied. (Exception from HRESULT: 0x80070005), skipping...|
2020-09-07 22:09:10.1072|WARN|Files.Filesystem.DrivesManager|Can't get storage device name: Access is denied. (Exception from HRESULT: 0x80070005), skipping...|
2020-09-07 22:09:10.140

[2020-09-07 19:15] xumepoc commented on #1886
Ups wrong closure :(

[2020-09-08 04:04] Jaiganeshkumaran commented on #1387
@Thomas1664 Do that then. Showing a notification near the action center is not suitable.

[2020-09-08 08:14] asuetin opened #1892 "Unnecessary scrollbar below the Home page tiles"
**Describe the bug**
A scrollbar appears when you hover the cursor below the Home page tiles even if the window is wide enough for it to not be necessary.

**To Reproduce**
1. Maximize the Files UWP window
2. Hover the cursor below the tiles

**Expected behavior**
The scrollbar should not appear if the window is wide enough.

**Screenshots**
![image](https://user-images.githubusercontent.com/37500

[2020-09-08 08:27] asuetin opened #1893 "Support overwrite experience during paste operation"
**Is your feature request related to a problem? Please describe.**
When you're pasting a file to a folder that already has a file with the same name, there is no choice to overwrite it - the app always creates a copy.

**Describe the solution you'd like**
Offer a dialog with the choice of either overwriting or creating a copy.

**Additional context**
App version: v0.14.0

[2020-09-08 11:53] Thomas1664 commented on #1387
@Jaiganeshkumaran can cou specify which approach you actually refer to with "that"?
I suggested 2 options:
- dialog
- VS Code like in-app notification

[2020-09-08 12:32] Jaiganeshkumaran commented on #1387
@Thomas1664 VS Code like in-app popup notification would be better.

[2020-09-08 14:00] yaichenbaum commented on #1387
@Thomas1664 An in app notification seems like the best idea.

[2020-09-08 14:22] Jaiganeshkumaran commented on #1892
This is there for all pages in Files UWP not just the home tiles.

[2020-09-08 15:32] qsels opened #1894 "desktop not showing up"
![image](https://user-images.githubusercontent.com/67203605/92497113-f1c10980-f1c6-11ea-92a6-f62848fee06c.png)

basically the desktop file/folder/whatever won't show up.

[2020-09-08 16:25] AngelZeur opened #1895 "Add shell extension support for the right click context menu on drives in the sidebar"
![Screenshot_2](https://user-images.githubusercontent.com/60907149/92502751-b6c6d200-f1d6-11ea-84e7-5bdf0354649c.png)
![Screenshot_1](https://user-images.githubusercontent.com/60907149/92502755-b75f6880-f1d6-11ea-9632-d03c5bd469c5.png)

**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the

[2020-09-08 16:25] AngelZeur commented on #1895
Put all these option of the original Windows 10 File Explorer when I click with the right mouse bhutan on a device and drive as my USB STICK to have this in The UWP Files - Preview when I click with the right-click bhutan on a Device or drive in The UWP Files - Preview like for example this my USB Pendrive from Print Screen and appear all these option in The UWP Files - Preview please

[2020-09-08 18:11] yaichenbaum commented on #1894
@qsels Please fill out the issue template with the Windows version to help us investigate the issue.

[2020-09-08 18:12] yaichenbaum commented on #1895
@AngelZeur Can you please fill out the issue template to better help us understand the feature proposal?

[2020-09-09 00:09] Talisman39ar commented on #1813
I'm getting the same Grant Permission request, and the same issue where the list of apps granted file system access is blank - on both my HP desktop and Lenovo laptop, using v14 of Files UWP. On my desktop, Files continues to work anyway, and I'm seeing my external drives. But on my laptop, it crashes immediately, and there's a toast message saying "something has gone wrong". LMK if you want log f

[2020-09-09 02:47] jcg3675 opened #1897 "Follow the system setting for showing the accent color on the title bar"
**Is your feature request related to a problem? Please describe.**
No problem.

**Describe the solution you'd like**
Irrespective of Light and Dark theme, there should be an option to set the title bar--as in the horizontal strip that contains the tabs--to my system accent color.

**Describe alternatives you've considered**
No alternatives.

**Additional context**
Using Files v. 0.14.0.0 on Asus Z

[2020-09-09 03:59] AngelZeur opened #1898 "Put all of these original Windows 10 File Explorer option owned by Files and Folders please"
![Screenshot_4](https://user-images.githubusercontent.com/60907149/92552771-c1658380-f237-11ea-8906-bd910f01d69d.png)
![Screenshot_3](https://user-images.githubusercontent.com/60907149/92552773-c1fe1a00-f237-11ea-836c-c5cfd29e54ac.png)
![Screenshot_2](https://user-images.githubusercontent.com/60907149/92552774-c296b080-f237-11ea-8b14-3310cc7dd0cc.png)
![Screenshot_1](https://user-images.githubuser

[2020-09-09 05:34] gave92 commented on #1813
@Talisman39ar yes, the log files for both would be useful. Thanks!

[2020-09-09 09:15] perplexityjeff commented on #1769
I continue to monitor the project with great interest but this is a lot of the reason that I am not using it as my daily driver as well. For example I use Tablacus now and it speed is amazing but the UI is outdated.

Specs:
I have a 256 Samsung 8XX Pro SSD with 16GB RAM and a Ryzen 5.

[2020-09-09 12:14] Jaiganeshkumaran commented on #1069
@yaichenbaum @duke7553 Can I create a custom control for this? Rearranging with drag is not easy with the navigation view control. It was designed for static navigation items and not meant for pinning stuff.

[2020-09-09 12:51] Jaiganeshkumaran opened #1899 "Settings page distracts users"
**Is your feature request related to a problem? Please describe.**
Today the settings button opens in full screen and distracts users.

**Describe the solution you'd like**
Since it has only a few options, consider making a side panel something like in the Mail app.

**Describe alternatives you've considered**
None.

[2020-09-09 13:06] yaichenbaum commented on #1069
@Jaiganeshkumaran We plan on implementing some other changes to the sidebar #692. It's ok to use a different control such as a ListView as long as it can support the UI we are aiming for.

[2020-09-09 13:08] Jaiganeshkumaran commented on #1069
List view has built-in rearrange feature so we only need to save the state.

[2020-09-09 13:09] yaichenbaum commented on #1069
@Jaiganeshkumaran Will it support a hierarchical menu?

[2020-09-09 13:12] Jaiganeshkumaran commented on #1069
@yaichenbaum List view doesn't support that so we can use tree view instead which also supports reordering.

[2020-09-09 13:14] yaichenbaum commented on #1899
Based off analytics, the settings page is not opened very often so there shouldn't be an issue of it being distracting. It's also important to note that the settings page is going to get more options over time so it is probably best to continue with the current format.

[2020-09-09 13:16] Jaiganeshkumaran commented on #1899
@yaichenbaum But it wastes a lot of space and since those controls aren't going to probably use horizontal scrolling in the future.

[2020-09-09 13:18] Jaiganeshkumaran commented on #1899
How about making it another tab or even another window?

[2020-09-09 13:58] yaichenbaum commented on #1899
Another tab can definitely work but it will be confusing if the user hid the tabs. Opening it in another window might cause a disconnected experience. One of the things we intend on doing is to make the settings pages a richer experience. We can do this by adding tips and links to related settings in the unused space.

[2020-09-09 14:00] yaichenbaum commented on #1069
@Jaiganeshkumaran TreeView seems like it can do everything we need.

[2020-09-09 15:31] Talisman39ar commented on #1899
Having Settings be modal where it takes over the whole app is how MS is doing things with its most contemporary apps, e.g. Your Phone and To-Do. Unless there is a compelling reason to be doing something in Settings *while* also manipulating something else, then I would say stick with that established pattern.

[2020-09-09 15:32] Jaiganeshkumaran commented on #1899
@Talisman39ar But in the app's setting page you don't get a sidebar or something.

[2020-09-09 16:30] Talisman39ar commented on #1899
@Jaiganeshkumaran Do you mean in apps like To-Do and Your Phone the settings themselves don't have a sidebar? If so, that's true, both have all settings on a single page. In the case of Your Phone that's getting to be a long list, in that respect I think the current Files arrangement of having categories in the sidebar is arguably simpler (though it requires more clicks).

Maybe you can be more sp

[2020-09-09 17:34] yaichenbaum commented on #1899
The Your Phone app is actually switching it's setting page to use the same design we use in Files UWP.

[2020-09-09 18:16] XPoppyX commented on #1898
Details: #1650
Security: #1647

[2020-09-09 19:45] SOI7 opened #1900 "Media Controls in taskbar preview shouldn't exist"
**Describe the bug**
I see media controls in the taskbar preview, but they don't work, and tbh I see no point on having them at all

**To Reproduce**
Hover the mouse on an open Files UWP instance

**Expected behavior**
Media controls shouldn't be there

**Screenshots**
![image](https://user-images.githubusercontent.com/50930970/92645810-b6692c80-f2e5-11ea-9fac-594a456bc0cd.png)

**Desktop (please

[2020-09-09 19:55] yaichenbaum commented on #1900
This is an issue with Windows 10 2004, I would advise opening an issue on the Feedback Hub.

[2020-09-09 19:55] #1900 closed

[2020-09-09 23:14] IanHead commented on #1503
When I try pasting an item on a local drive, the refresh is automatic, but when pasting in a folder on a mapped network drive, the folder needs to be refreshed manually - the same is true when creating new items or deleting items on a mapped network drive.

[2020-09-10 03:01] pixl-8 opened #1903 "Make a website."
You guys should make a website for your Files UWP that explains info and stuff.
If you need a domain just get one at [Freenom](https://freenom.com).
I was thinking of a domain like files-uwp.tk or files-uwp.com.

[2020-09-10 03:03] Jaiganeshkumaran commented on #1899
@Talisman39ar When I am browsing through files I have to open the full screen settings, find the menu item, click on it and hit the option, Then I need to comeback. Instead a dialog or flyout will be better since I can change the option instantly and see the change.

[2020-09-10 03:05] yaichenbaum commented on #1899
@Jaiganeshkumaran That is a valid point, however, most settings are very clear in what they do and some of them even include a description with more details.

[2020-09-10 03:06] yaichenbaum commented on #1903
@pixl-8 The wiki already includes a lot of info, however, creating a dedicated site is something we can look into once the app leaves beta.

[2020-09-10 03:17] Jaiganeshkumaran commented on #1899
@yaichenbaum Don't just copy apps like Your Phone because they were designed for a different use case.

[2020-09-10 03:26] yaichenbaum commented on #1899
There doesn't seem to be a lot of users finding the settings page distraction, however, to be consistent with the other sidebar items, I don't see an issue adding a right click context menu with the option to open the settings page in a new window.

[2020-09-10 04:23] pixl-8 opened #1904 "Add a preview option for files"
in windows file explorer (the one that we have by default), you can preview certain types of files. This would be a great feature to add to Files UWP.

[2020-09-10 04:26] pixl-8 commented on #1903
Good idea.

[2020-09-10 04:30] pixl-8 opened #1905 "Tab crash bug"
There is an issue with Files UWP when you press CTRL + T more than four times and then manually close about three. This issue is pretty rare because I've only had it happen once.

Windows 10 Version: Build 20170.rs_prerelease (Windows 10 home)
Files UWP Version: 0.14.0.0

[2020-09-10 09:39] Jaiganeshkumaran commented on #1905
@pixl-8 Could you share the log file?

[2020-09-10 18:21] gave92 commented on #1813
@Talisman39ar thank you. Looking at the log files, the issue you see on the HP is the same @yarikv8601 reported. On the lenovo is a different one, could you open a new issue describing the problem you experience on the lenovo?

[2020-09-10 18:26] gave92 commented on #1904
@pixl-8 currently Files UWP offers file preview through the integration with QuickLook, but the possibility of having built-in preview is being investigated.

Same as #130

[2020-09-10 18:31] gave92 commented on #1898
A quick and dirty solution for this is to offer an option to open the standard windows explorer properties window instead of app's. Could this satisfy "power" users until we have a full uwp implementation?

[2020-09-10 20:17] yarikv8601 commented on #1813
@gave92 I think I should mention that before it all started I manually installed KB4568831 update and activated updated Start Menu using registry. Reverting to old Start menu didn't fixed the issue with Files app though.

[2020-09-10 21:02] #1869 closed

[2020-09-10 21:03] Talisman39ar commented on #1813
@gave92 Having the same issue on the HP now too - Files starts (though window doesn't populate with files list), toast message about something went wrong appears, and Files disappears. Here's the log files from the HP - I'll do the Lenovo later and file a separate ticket for that, don't have it with me right now

[debug.txt](https://github.com/files-community/files-uwp/files/5204651/debug.txt)
[de

[2020-09-10 21:54] pixl-8 commented on #1904
Ok 👍

[2020-09-11 02:45] Talisman39ar opened #1908 "Files UWP crashes on startup, following "something went wrong" toast message"
**Describe the bug**
I started out mentioning this bug in #1813 but @gave92  asked me to file it separately.
I don't get to the grant permission request - app is crashing as soon as a toast message saying "Something went wrong" appears in bottom right corner.

**To Reproduce**
Steps to reproduce the behavior:
Start Files
Window briefly appears but doesn't populate with files
Toast message appears

[2020-09-11 03:18] duke7553 commented on #114
### Feedback Opportunity:

We're working on improving both the progress UI and reliability of Storage Item operations based on your feedback.

![image](https://user-images.githubusercontent.com/20365014/92851104-3614fb00-f3bb-11ea-88d1-f1afd85ccfd8.png)
Recently, we decided to add a new banner to the StatusCenter saying "Operation Complete" if a storage item recycle/delete/paste operation takes lo

[2020-09-11 03:50] lorisobi commented on #114
Have you thought about a clear all button next to the "Ongoing Tasks" Heading or about a swipe control for the operations to cancle or delete?

[2020-09-11 03:51] lorisobi commented on #632
When I move some bigger files and switch the tab files uwp crashes

[2020-09-11 11:06] R3voA3 opened #1910 ""Empty Recycle Bin" context menu entry is grayed out"
The option is grayed out, even though there are files in the Recycle Bin

![image](https://user-images.githubusercontent.com/17484252/92918353-9fceec80-f42f-11ea-942f-c58c2794837f.png)
[debug_fulltrust.txt](https://github.com/files-community/files-uwp/files/5208517/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/files-uwp/files/5208518/debug.txt)

[2020-09-11 11:10] Jaiganeshkumaran commented on #1824
@yaichenbaum They don't officially support MSIX however since they rely on PowerShell script you can actually deploy MSIX to them as a PowerShell script that installs it.

[2020-09-11 11:23] R3voA3 opened #1911 "App crashed when copying many files, not all files are copied, slow file operation"
Steps to reproduce
1. Create a folder
2. Create a text file
3. Copy the text file a few times
4. Select the new text files
5. Copy the text files (Repeat 4 and 5) until you have like 50 files
6. Press CTRL+V a few times rapidly

[debug_fulltrust.txt](https://github.com/files-community/files-uwp/files/5208551/debug_fulltrust.txt)
[debug.txt](https://github.com/files-community/files-uwp/files/520855

[2020-09-11 11:35] Jaiganeshkumaran commented on #1911
Related to #1222

[2020-09-11 11:41] Jaiganeshkumaran opened #1912 "Control + Tab doesn't work always"
**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

Control + Tab is an essential feature of any tab based app and after you threw away the WinUI Tab view and went with your own, I've seen a lot of issues especially with the Control +

[2020-09-11 13:46] SOI7 opened #1913 "Random crash after right clicking on a file"
I got a crash after right clicking on a Word file. Here is the Debug.log:

2020-09-11 15:43:37.1912|ERROR|Files.App|Object reference not set to an instance of an object.|System.NullReferenceException: Object reference not set to an instance of an object.
   at Files.BaseLayout.RightClickItemContextMenu_Opening(Object, Object) + 0x4dc
   at System.EventHandler`1.Invoke(Object, TEventArgs) + 0x2e

[2020-09-11 14:46] generalguy41 commented on #1498
This is still present in 0.14.0.0

[2020-09-11 15:06] generalguy41 opened #1914 ""Report this issue" crash notification only reopens Files"
**Describe the bug**
Clicking the button in the crash flyout notification only reopens Files instead of linking to the bug report page.

**To Reproduce**
Steps to reproduce the behavior:
1. Trigger a crash. Initially I had Files crash for some other reason, but I couldn't replicate it so I used the disabled multitasking flyout from #1641 (which is still present in 0.14.0.0)
2. Wait for flyout to p

[2020-09-11 16:13] duke7553 commented on #632
@lorisobi Is this on the latest preview? Also, can you upload your debug log so I can look into this?

[2020-09-12 00:38] BuraChuhadar commented on #174
hello everyone, I apologize for the radio silence I have been dealing with some life/work issues and couldn't get to this work. I really appreciate @gave92 for implementing this feature this looks really nice.

[2020-09-12 00:44] BuraChuhadar commented on #1397
hello everyone, I apologize for the radio silence I have been dealing with some life/work issues and couldn't get to this work. I really appreciate @gave92 for implementing this feature this looks really nice.

[2020-09-12 20:28] gave92 commented on #1813
@Talisman39ar could you check if disabling the "Continue where you left off" option in the app's settings "solves" the issue ?

[2020-09-12 20:31] gave92 commented on #1908
@Talisman39ar could you check if disabling the "Continue where you left off" option in the app's settings "solves" the issue?

[2020-09-12 20:47] gave92 commented on #1873
@yaichenbaum I'm reporting here the comments made on Discord, too easy to loose info there.
The delay is mostly due to the call to the Win32 [QueryContextMenu](https://docs.microsoft.com/en-us/windows/win32/api/shobjidl_core/nf-shobjidl_core-icontextmenu-querycontextmenu) function. The first time it's called it takes up to 1 sec to complete. Being an windows API call I'm not really sure you can im

[2020-09-12 20:48] duke7553 commented on #1222
There are some pretty major enhancements in this area (as of today) which are available from the StatusCenter branch. We hope to have these reliability improvements in preview very soon.

[2020-09-12 20:49] duke7553 commented on #1222
@Jaiganeshkumaran Thank you for creating this feedback item. A solution to this issue is currently resolved in one of our active development branches and will be shipped after we've validated that everything works properly via code review.

We will notify you when this feature is in a PR

[2020-09-12 20:54] gave92 commented on #1875
Yup it's still an issue. Same stacktrace.

   at Files.UserControls.HorizontalMultitaskingControl.TabStrip_TabDroppedOutside(TabView sender, TabViewTabDroppedOutsideEventArgs args)
   at System.Runtime.CompilerServices.AsyncMethodBuilderCore.<>c.<ThrowAsync>b__7_0(Object state)
   at System.Threading.WinRTSynchronizationContextBase.Invoker.InvokeCore()

[2020-09-12 20:59] duke7553 commented on #1911
Based on your log file, I've discovered the cause of a crash and made necessary improvements to fix it. We're hoping to get these changes out to testers soon. In the meantime, these changes landed in the StatusCenter branch.

I'll leave this open because there are other issues you reported here which may require additional validation.

[2020-09-12 21:18] Talisman39ar commented on #1908
I had to uninstall and reinstall in order to try that (since the app crashed before I had any chance of getting to the Settings). I think I had "Continue where you left off" turned off and I'll leave it off now, but i had set a folder on OneDrive as the default for new tabs/startup. Maybe that was causing an issue. I'll leave it to the default Files homepage and see if the problem reoccurs. I'm st

[2020-09-13 00:52] #1813 closed

[2020-09-13 00:54] #1908 closed

[2020-09-13 01:06] yaichenbaum commented on #1397
@BuraChuhadar Thank you for the update, we really appreciate all the work and time you put into the right click context menu and implementing a solid foundation for others to build off of. Enhancing the context menu has been of the most requested features since the project started and it would not be as good as it is today without the work you and @gave92 did.

[2020-09-13 01:08] #1242 closed

[2020-09-13 01:09] yaichenbaum commented on #1242
@Xemanth This has been implemented with #1906.

[2020-09-13 01:20] #1914 closed

[2020-09-13 03:15] ColbertBrave opened #1920 "Please add an option to turn off animation"
In the last version(0.12 or 0.13), there isn't animation at the address bar when I open an folder, it looks very good for me and many people. In the latest version, developers add the animation feature. It is also good but not for some people. I hope to add an option to turn off animation just as what Apple did in the IOS when IOS7 first appeared. In a addition, the file explorer is really stunnin

[2020-09-13 03:47] Jaiganeshkumaran commented on #1873
@gave92 Use a list view that's clickable IsItemClick=True and put it inside a flyout control

[2020-09-13 13:29] yaichenbaum commented on #1920
@ColbertBrave Can you share a screen recording of the animation you are referring to?

[2020-09-13 13:38] ColbertBrave commented on #1920
@yaichenbaum This is a screenshot of the animation and it marks the location of animation. The animation occurs when I open an folder. The animation there is distractive for some people. I wish to add an option to turn off it. Thank you very much.
![image](https://user-images.githubusercontent.com/32506859/93019300-bed4a680-f608-11ea-8d26-8ec4ebc42163.png)

[2020-09-13 14:26] #1873 closed

[2020-09-13 14:29] yaichenbaum commented on #1920
@ColbertBrave Are you talking about the reveal animation on the border of the navigation bar?

[2020-09-13 16:38] SOI7 commented on #1920
I think he means the progress bar that appears each time you open a folder

[2020-09-13 20:49] guai commented on #917
remove this annoying thing entirely!
renaming is not so common thing we need that kind of shortcut. explicit button/hotkey/menu action is more than enough

[2020-09-14 00:36] ColbertBrave commented on #1920
@yaichenbaum Yes. Please consider adding an option to turn off it. It is really distractive. THANKS.

[2020-09-14 01:47] seohyun1108 opened #1922 "please Add Korean"
**Is your feature request related to a problem? Please describe.**
Please add Korean in Files UWP:( There are Japanese and Chinese but not Korean. Thanks.

[2020-09-14 02:28] XPoppyX opened #1923 "The most recent Spanish translation update was reversed"
Changes made with #1896 was reversed or something like that

[2020-09-14 06:33] asuetin opened #1924 "Add support for OneDrive personal vault"
**Describe the bug**
Files UWP displays the [Personal Vault](https://www.microsoft.com/en-us/microsoft-365/onedrive/personal-vault) as a shortcut when it's not open. When you click on it and log in, the app crashes. If you open OneDrive after that, the shortcut is nowhere to be found.

**To Reproduce**
1. Lock the Personal Vault in OneDrive
2. Open it in Files UWP

**Expected behavior**
The Person

[2020-09-14 12:37] yaichenbaum commented on #1922
Please check this guide for help in translating Files UWP into another language https://github.com/files-community/files-uwp/wiki/Translating-Files-UWP-into-your-language.

[2020-09-14 12:37] #1922 closed

[2020-09-14 12:55] #1923 closed

[2020-09-14 21:21] osieltorres commented on #1899
I personally don't think setting page may be a distraction, although I do think there should be a save action on settings back arrow button after user change any setting. Currently if you do so, you would need to restart the app for changes to have effect.

[2020-09-14 22:32] duke7553 commented on #1879
@TomerGamerTV The issue you mentioned with moving large files might have been fixed with the reliability improvements we're making to storage item operations including paste. I would suggest reproducing the issue in the latest preview, and if you encounter a crash, open a new issue with the debug log attached. Also please follow #632 for updates on that one.

[2020-09-14 23:53] #1777 closed

[2020-09-15 09:56] rc1 opened #1928 "Feature: Add TreeView"
**Is your feature request related to a problem? Please describe.**

Typically, I work in a project folder. That folder might have multiple sub folders like: `images`, `src`, `prints`, `presentations`. With Windows Explorer and Files, I must keep navigating in and out of folders. I want a view of all my files and folders in one view. Much like how VS Code's 'Explorer' handles files display and navi

[2020-09-15 10:40] rc1 opened #1929 "List and sort directories alongside files"
**Is your feature request related to a problem? Please describe.**
Directories contain files and sub-directories. When listing a directory, I expect the contents to be sorted by date or alphabetically. However, the typical design pattern on Windows is to have a list of directories sorted then list of files. Here is an illustration of a situation where this causes a problem: when I unzip a director

[2020-09-16 10:33] wongdom opened #1930 "Problem with using track pad to scroll mid way during use"
**Describe the bug**
Problem with using track pad to scroll mid way during use. another thing - even the touch screen scrolling didn't work. the side bar scroll didn't work as well

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Well , I'm using a surface pro 7 - I can use the trackpad to scroll in wi

[2020-09-16 12:37] #1894 closed

[2020-09-16 12:39] yaichenbaum commented on #1823
@lbfatcgf Thank you for the information, we are working on fixing several issues around file operations for v0.15 so this will hopefully be resolved once that is rolled out.

[2020-09-16 13:19] rachit1601 opened #1931 "App Crashes every time space bar is pressed upon a file"
**Describe the bug**
The App crashes whenever I press space bar when a file is selected

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Any folder
2. Click on any file
3. Press Space Bar
4. See error ( App crashes & closes

**Expected behavior**
I expected it to open quick look but I even tried it without quick look still it crashes

**Desktop (please complete the following information

[2020-09-16 14:13] Talisman39ar commented on #1929
As someone who used Macs for many years, totally agree! I still find it takes me longer to find things on Windows because of this. Would love to see an option to force alphabetical (or whatever sort mechanism) regardless of whether folder or file.

[2020-09-16 20:36] AngelZeur opened #1932 "ctrl + z command for restoring deleted files and folders is not working restoring in the same previous place as the files and folders were before deleting"
**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of wh

[2020-09-16 20:36] AngelZeur commented on #1932
ctrl + z command for restoring deleted files and folders is not working restoring in the same previous place as the files and folders were before deleting

[2020-09-17 04:18] emvaized commented on #261
I think there must be checkbox in the top left corner of icons, that appear on hover and allow to select the file.
In standard File explorer there is such an option indeed:
![screenshot](https://user-images.githubusercontent.com/37851576/93419617-f87e0980-f8b5-11ea-91c7-edb57f73fe0d.png)

[2020-09-17 04:20] emvaized commented on #261
I would love to see an option for single click to open on desktop.
This is also good for people with physical injuries, for whom it is difficult to quickly double click.

[2020-09-17 11:32] Cyberdroid1 opened #1935 "Going from Home to Recycle Bin directly creates a bug."
**Describe the bug**
When I launch Files UWP and at Home tab, I directly go to Recycle Bin and see that the screen is not updated.

**Expected behavior**
Recycle Bin screen should have appeared properly.

**Screenshots**

![image](https://user-images.githubusercontent.com/51435948/93464808-64d52900-f907-11ea-934f-9476089464eb.png)

**Desktop (please complete the following information):**
 - OS Ver

[2020-09-17 11:35] Cyberdroid1 opened #1936 "The Title Bar is messed up"
**Describe the bug**
After changing multitasking from adaptive to vertical, the title bar is messed up and file path bar covers the close, minimize, maximise buttons.

**Expected behavior**
There should be a gap between them

**Screenshots**

![image](https://user-images.githubusercontent.com/51435948/93465091-e927ac00-f907-11ea-89b1-b3252ddcd883.png)

**Desktop (please complete the following info

[2020-09-17 13:41] #1904 closed

[2020-09-17 13:45] yaichenbaum commented on #1886
This issue is fixed in the `master` branch.

[2020-09-17 13:45] #1886 closed

[2020-09-17 16:40] bjasi opened #1937 "Grant permission welcome dialog shows on every start"
**Describe the bug**
Every time I launch the app, it shows the welcome dialogue with 'grant permission button'. I have to click the button to proceed to the app. However, nothing needs to be changed in settings. Permission has already been granted earlier. If I just close the settings window and proceed to the app, it works as expected. I tried resetting and reinstalling the app

**Expected behavi

[2020-09-17 17:17] gave92 commented on #1937
Thanks for this report. This issue is fixed in version 0.14.1.

[2020-09-17 17:21] gave92 commented on #1935
This issue may have been fixed with #1926
@Thomas1664 do you confirm?

[2020-09-17 17:25] Thomas1664 commented on #1935
@gave92 I can confirm that the issue doesn't occur on master.

[2020-09-17 19:05] #1937 closed

[2020-09-17 19:08] #1935 closed

[2020-09-17 22:37] Thomas1664 opened #1939 "Opening recycle bin on startup with ContinueLastSessionOnStartUp causes crash"
**Describe the bug**
When the setting `ContinueLastSessionOnStartUp` is enabled and the recycle bin is stored in `LastSessionPages` when the app gets closed, the app will crash during the next launch.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable setting "continue where you left off"
2. Click on recycle bin in sidebar
3. Close the app
4. Launch the app again
5. See error

**Expected

[2020-09-18 09:35] soraphis opened #1940 "Add option for compact layout"
**Is your feature request related to a problem? Please describe.**
Its annoying that so much space is wasted in comparison to the default explorer

**Describe the solution you'd like**
An option to reduce the font size

**Describe alternatives you've considered**
Changing the windows scale seems not to work on a per-app basis on UWP apps

**Additional context**
comparison screenshot:
left the old

[2020-09-18 17:34] #1387 closed

[2020-09-18 20:11] duke7553 commented on #1940
Some of the work that is currently in the proposal drafting stage should pave the way for density adjustments to the List control. We adjusted the default font size several months ago, but recognize the padding isn't as suitable as it could be for some users.

[2020-09-19 08:09] gave92 opened #1942 "Explorer's Paste command is shown in context menu"
**Describe the bug**
Explorer's Paste command is shown in context menu

**To Reproduce**
Steps to reproduce the behavior:
1. Copy a file
2. Right click on folder
3. See paste command

**Expected behavior**
Only the app's internal paste command should be shown, not the one from Windows Explorer.

**Desktop (please complete the following information):**
 - OS Version: [Windows 10 2004]
 - App versio

[2020-09-19 08:38] gave92 opened #1944 "Fulltrust process crashes when right-clicking on exe files"
**Describe the bug**
Fulltrust process crashes when right-clicking on some items e.g shortcut files or .exe files.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on .exe file
2. The fulltrust process crashes and explorer context menu items are not shown

**Desktop (please complete the following information):**
 - OS Version: [Windows 10 2004]
 - App version: [0.14.0.0]

**Additi

[2020-09-19 09:45] suganth215 opened #1946 "Media controls shown by default"
![image](https://user-images.githubusercontent.com/59024917/93664240-ebfeda00-fa8a-11ea-9aff-037c3c3f8aaf.png)
There is no media played in the file explorer, even though media controls are shown constantly when hovered over the icon.

[2020-09-19 11:08] gave92 commented on #1946
Same as #1900

[2020-09-19 18:23] arasthudev opened #1947 "Occasional crash when viewing properties of secondary storage device"
**Crashes while opening properties tab**
The app crashes once opening of a properties tab occurs by right clicking.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Secondary Storage Device' (Not C:\ Directory)
2. Right Click on 'Folder'
3. Scroll down to 'Properties'
4. Sometimes see error, no idea what's causing it

**Expected behavior**
To show the properties tab without crashing.

[2020-09-19 22:39] jzt835 opened #1948 "Add timestamp to current time after copying"
**Is your feature request related to a problem? Please describe.**
I am always frustrated, when I copy folders and files to an external hard drive (NTFS and exFAT) that the timestamps for modification time are not set to the current time.

**Describe the solution you'd like**
It should be added options in preferences that allow users to decide if the timestamp should be set to current time when co

[2020-09-19 23:24] d2dyno1 commented on #333
There's an app called Everything it has a nice search engine

[2020-09-19 23:25] d2dyno1 commented on #333
Real quick and efficient

[2020-09-19 23:32] d2dyno1 commented on #333
Here are some useful links:

Debate over releasing Everything's source code:
https://www.voidtools.com/forum/viewtopic.php?t=590

Everything's SDK (.dll):
http://support.voidtools.com/everything/SDK

@Jaiganeshkumaran @yaichenbaum

[2020-09-19 23:41] d2dyno1 commented on #333
I believe the searching process will be to just pass in the matching files (and folders) from the SDK to the ListViewBrowser Page's constructor

[2020-09-20 01:44] #1946 closed

[2020-09-20 15:40] XSH-Hero opened #1949 "An error was caused while dragging the tabs."
When I dragged the tab (which I wasn't on ) out of the main window, it won't create a new window, actually, it crash.

[2020-09-20 15:41] XSH-Hero commented on #1949
- OS Version: [Windows 10 2004 20211.1000]
 - App version: [v0.14.0]

[2020-09-20 15:41] XSH-Hero commented on #1949
This is the log:
2020-09-20 23:27:03.9423|ERROR|Files.App|Object reference not set to an instance of an object.|System.NullReferenceException: Object reference not set to an instance of an object.
   at Files.UserControls.HorizontalMultitaskingControl.<TabStrip_TabDroppedOutside>d__21.MoveNext() + 0xf4
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtim

[2020-09-20 15:49] XSH-Hero commented on #1949
The error behaves lik this:
![image](https://user-images.githubusercontent.com/69738882/93715454-e5ac5300-fb9b-11ea-85af-0ca67b870e56.png)

[2020-09-20 15:51] Thomas1664 commented on #1949
Duplicate of #1875

[2020-09-20 17:40] AbelTheGeorge opened #1950 "Preview for media"
Im always frustrated when I have to slowly one by one open up multiple audio or video files to find the one im looking for

I recently installed a plugin in the default file explorer that brings up a mini player that plays the media when the mouse hovers over it. I have attached a gif of me doing it below. It quickly plays any audio, video or gif as soon as the cursor hovers over it...

So I think

[2020-09-21 03:07] #1949 closed

[2020-09-21 04:18] Ramses-Oliveros-Santos opened #1951 "RED please make a red secction"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-21 06:06] Jaiganeshkumaran commented on #1951
@Ramses-Oliveros-Santos Please explain properly. I don't understand what do you mean.

[2020-09-21 13:44] #1875 closed

[2020-09-21 13:47] #1942 closed

[2020-09-21 20:35] d2dyno1 commented on #333
I'm able to help if you want @Jaiganeshkumaran

[2020-09-22 08:28] hsusanoo opened #1958 "App crash when navigating to anything besides settings"
**Describe the bug**
The app crashes if I try to open any folder/disk away from the home page, the only thing that seems to work properly is settings. If I try to set the app startup to a specific page or pages, it shows a blank page, when I open settings and go back it crashes, and when trying to switch to the next tab it crashes. I tried disabling all experimental features but nothing changes.

[2020-09-22 09:25] Jaiganeshkumaran commented on #333
@yaichenbaum Is the search box necessary for the settings page?

[2020-09-22 10:27] d2dyno1 commented on #333
Probably no, the settings page already covers the entire explorer

[2020-09-22 12:24] yaichenbaum commented on #333
As we add more settings, it is going to be necessary.

[2020-09-22 15:14] XSH-Hero opened #1960 "Suggestion： Error notification"
Hi！ I want the button “Report this issue” from the error notification link to Github , not Files UWP

[2020-09-22 15:22] XSH-Hero commented on #1960
![files](https://user-images.githubusercontent.com/69738882/93902614-5b462980-fd2a-11ea-8c7d-787690d44673.png)

[2020-09-22 17:32] yaichenbaum commented on #1960
@XSH-Hero This issue should be resolved when we release the next update.

[2020-09-22 17:32] #1960 closed

[2020-09-22 18:10] Cyberdroid1 opened #1961 "App crashes when following this procedure"
**Describe the bug**
Whenever I try creating a new tab, it does not get created (Even the Tabs bar is not visible). On launching a folder from left pane, it opens a blank "New Tab" and crashes on me with a notification to report.

**To Reproduce**
Steps to reproduce the behavior:
1. On Home, click on 3 dots and select new tab (Tabs UI must be disabled)
2. Then go on to click on a pinned folder on

[2020-09-22 22:45] jakguzik opened #1963 "What an awesome app UWP is, but Dropbox context menu will be even better to have :)"
**Is your feature request related to a problem? Please describe.**
I can't reach my dropbox files context menu what is crucial for using any fil explorer.

**Describe the solution you'd like**
To have stadard dropbox features in the context menu for files and folders.

**Describe alternatives you've considered**
Honestly I don't know any.

**Additional context**
Classical desktop Win10, I gues you

[2020-09-22 23:16] yaichenbaum commented on #1963
@jakguzik Can you fill in details like the version number? It will also help if you shared screenshots of what you expect to come up.

[2020-09-23 16:47] AngelZeur opened #1964 "Date modified from Sort by is not working"
![Screenshot_1](https://user-images.githubusercontent.com/60907149/94043441-4e195100-fda3-11ea-8276-994c6f2082fb.png)

**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...

[2020-09-23 16:47] AngelZeur commented on #1964
Date modified from Sort by is not working in the files of the files explorer files UWP files - Preview when you put modified Date in the folder of the files does not appear showing any date of the files

[2020-09-23 22:08] duke7553 commented on #1951
@Ramses-Oliveros-Santos
Thanks for your feedback. We're having trouble understanding what you're requesting and need additional information to investigate this item. Please re-open when you've filled out the issue template to the best of your ability.

[2020-09-23 22:08] #1951 closed

[2020-09-23 22:10] duke7553 commented on #1905
@pixl-8 Yeah. This seems like an edge case. Can you please share your debug log file, so we can track down this one?

[2020-09-23 23:30] yaichenbaum commented on #1912
We are still using the WinUI TabView, the issue with the shortcut is likely due to moving the code for detecting shortcuts to a different file, this will require some investigation to confirm.

[2020-09-23 23:31] yaichenbaum commented on #1913
Merging with #1944.

[2020-09-23 23:34] yaichenbaum commented on #1898
@AngelZeur Please subscribe to #1647 and #1650 to get notified when these features are implemented.
@gave92 It's better to continue working on a full solution, @winiston2212 is working on the details page and there is already an open pull request #1952.

[2020-09-23 23:34] #1898 closed

[2020-09-23 23:36] yaichenbaum commented on #1650
I think it's better to display both in the dialog without using a tooltip since the properties dialog should have all the main details displayed. Additionally, there is enough room for it so it should cause any space issues.

[2020-09-24 11:50] Tester09 opened #1965 "App doesn't allow to copy file's or folder's name"
**Describe the bug**
To copy file's or folder's name in the Explorer you should select it and press F2 or _rename_ in the RMB context menu then coping the name by Ctrl+C or by copy in the context menu but same actions aren't working in Files UWP and have very glitchy behaviour.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any location
2. Select any file or folder and press F2
3. Tr

[2020-09-24 21:47] duke7553 commented on #1650
Hi there @winiston2212 .

It made my day to see your diligent effort getting this implemented.

Certainly let us know if you're in doubt with any of the less obvious details. For instance, I would recommend tailoring this experience for desktop power users by packing in many relevant properties. It looks like that's what you're doing, so I'll be very excited to review this one with @yaichenbaum

S

[2020-09-24 21:50] duke7553 commented on #1103
Assuming this will be implemented with the Details tab in #1962 , I'll link them together.

[2020-09-24 21:58] duke7553 commented on #1872
@Jaiganeshkumaran Do you have any concepts for this? It's been a while since this one was opened.

[2020-09-24 22:44] yaichenbaum commented on #1650
@duke7553 This is a work in progress between @winiston2212 and myself, we are working on getting location for geo tags on photos working before turning to the design and code of the implmentation.

[2020-09-24 22:52] duke7553 commented on #1892
Thank you for creating this feedback item. A solution for it is currently being reviewed as a PR (pull request) to our active development branch. We'll let you know once it's merged.

[2020-09-24 22:58] duke7553 commented on #1897
@yaichenbaum Maybe before we set our custom title bar, we can retrieve the [background color](https://docs.microsoft.com/en-us/uwp/api/windows.ui.viewmanagement.applicationviewtitlebar.backgroundcolor?view=winrt-19041#Windows_UI_ViewManagement_ApplicationViewTitleBar_BackgroundColor) and handle it appropriately if its not a default color?

[2020-09-24 23:13] duke7553 commented on #1615
We could customize the icon with DragUIOverride by setting it to a more transparent version of the item's icon.

[2020-09-24 23:28] AqilCont commented on #1950
Have you tried [QuickLook](https://github.com/QL-Win/QuickLook)? It's completely compatible with Files UWP out of the box, and is less annoying than a hover pop-up imo. It even has a nice UI....

[2020-09-24 23:32] #1892 closed

[2020-09-24 23:44] yaichenbaum commented on #1897
@duke7553 We should only use the background color if the user turned on the setting to display the accent color in the title bar.

[2020-09-25 06:17] AbelTheGeorge commented on #1950
Thanks for the suggestion it's a fantastic app...

On Fri, 25 Sep, 2020, 4:58 am Aqil Contractor, <notifications@github.com>
wrote:

[2020-09-25 12:19] asuetin opened #1968 "Ability to drag files between tabs in the same window"
**Is your feature request related to a problem? Please describe.**
Currently it's impossible to drag a file from one tab to another in the same window.

**Describe the solution you'd like**
Make inactive tabs into valid drop targets, and also activate the target tab after hovering over it for a certain period of time (similar to how you can hover a file over an opened application on the taskbar an

[2020-09-25 13:58] yaichenbaum commented on #1968
@duke7553 Can you confirm that this has been implemented for a couple of versions already?

[2020-09-25 14:26] generalguy41 commented on #1968
@yaichenbaum I've actually had issues with this as of late. It seems as though you can only do it if you drag the file in from the right side of the tab.
![ezgif-3-43787b743b64](https://user-images.githubusercontent.com/8879244/94278732-306df800-ff19-11ea-8243-8638acf45b24.gif)

Version 0.14.0.0. Not sure if this is exactly what OP is talking about, but if so then maybe this should be a bug instea

[2020-09-25 15:45] yaichenbaum commented on #1968
@generalguy41 Please open a new issue and if it turns out they are the same, we can merge them then.

[2020-09-25 15:51] generalguy41 commented on #1968
@yaichenbaum will do.
@asuetin Can you confirm that this is the same issue you're having?

[2020-09-25 16:01] generalguy41 opened #1969 "Issues moving files to new tabs"
**Describe the bug**
Files won't move a file/folder to a new tab unless it's dragged from the right side.

**To Reproduce**
Steps to reproduce the behavior:
1. Open two tabs
2. Click on a file in one and attempt to drag it to the other tab.
3. Files won't show a proper "Move" prompt unless you move the file in from the right side of the tab.

**Expected behavior**
File will be moved to the new tab

[2020-09-25 16:56] AqilCont commented on #1950
No problem :D If you think the current functionality is fine, you can probably close this.

[2020-09-25 18:40] mdtauk commented on #1897
If you query the registry to see if the Show Color on Titlebar setting is on, you could use a tinted Acrylic brush for the top bar/tab area.  And then if the Acrylic setting is turned off in the app or the system, the fallback colour can match the Accent Colour used for the titlebars.

[2020-09-26 00:09] winiston2212 commented on #1650
@duke7553 I'm glad you like it!

Currently, any set of properties (excluding the core properties) that is completely null is hidden. I think it's better this way since there are a lot of sections. However, I am considering adding a "show all button" in case users wanted to add properties themselves.

You're right, it should. I will fix that.

Currently, getting the properties takes about 17 millis

[2020-09-26 06:07] zcccccc1 opened #1971 "Cannot open new tab"
**Describe the bug**
When I close the last tab and quit Files, next time I can't open a new tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Close Files by clicking × on the only tab
2. Reopen Files
3. See error

**Expected behavior**
cannot open tabs in one window; if you try to open a new tab by ··· → New tab the app crash.

**Screenshots**
![image](https://user-images.githubuserconten

[2020-09-26 08:45] aunight opened #1972 "More Language Support"
Such as Traditional Chinese
I can help to translate

[2020-09-26 09:41] gave92 commented on #1972
In case you're willing you can translate the app yourself.
Here's the guide: https://github.com/files-community/Files/wiki/Translating-Files-UWP-into-your-language

[2020-09-26 10:04] gave92 commented on #1971
@zcccccc1 thanks for the report.
Could you post a screenshot of the "Multitasking" page of the app's settings?

[2020-09-26 11:15] zcccccc1 commented on #1971
![image](https://user-images.githubusercontent.com/61610201/94339440-a8791280-002c-11eb-95c5-125d37aa035e.png)

[2020-09-26 12:33] gave92 commented on #1971
@zcccccc1 thanks this confirms the issue, it happens when none of the 3 options is selected

[2020-09-27 00:43] #1939 closed

[2020-09-27 00:43] #1958 closed

[2020-09-27 00:43] #1961 closed

[2020-09-27 00:43] #1971 closed

[2020-09-27 00:46] #1972 closed

[2020-09-27 05:44] Jaiganeshkumaran commented on #1965
@yaichenbaum Could you assign me on this issue?

[2020-09-27 13:05] Thomas1664 commented on #1208
@yaichenbaum Can you assign me for this issue? I do have a touch screen.

[2020-09-27 13:36] yaichenbaum commented on #1965
@Jaiganeshkumaran Sure, however, you already have a number of assigned issues that you haven't opened pull requests for.

[2020-09-27 15:54] d2dyno1 opened #1975 "Add Undo, Redo functionallity"
**Is your feature request related to a problem? Please describe.**
It's sometimes annoying when you copy file(s) to a folder that you didn't intend to. Same with moving/deleting items.

**Describe the solution you'd like**
ctrl+z, ctrl+y to undo/redo filesystem operations

[2020-09-27 16:11] asuetin commented on #1968
@generalguy41 Yes, seems like the same issue. I did manage to make the Move prompt appear but as soon as I let go of the LMB, the app crashed, so I though it was an extension of the original bug. I can't reproduce the crash in 0.15.0 though, just the weird prompt behavior.

[2020-09-27 17:50] #1689 closed

[2020-09-27 18:26] gave92 commented on #1944
@yaichenbaum I just saw that you merged issue #1913 with this one. Note that this issue is related to a crash of the fulltrust process, while #1913 looks to have a different root cause. I'd keep the two issues separate.

[2020-09-27 20:03] d2dyno1 commented on #1975
I'll try to implement it

[2020-09-28 00:43] RiemaruKarurosu opened #1978 "Missing Selection Mark"
I would be perfect if the app coud hace a Selection Mark as the main windows file explorer.
![imagen](https://user-images.githubusercontent.com/45057400/94380047-88635500-00f9-11eb-8b0f-12b7371dca82.png)

Most of the file explorers out there have this function. It would be a nice feature.

[2020-09-28 08:54] Jaiganeshkumaran opened #1981 "Can't navigate to any folder"
**Describe the bug**
After installing 0.15.0.0, I can't navigate to any folder and it always crashes

**To Reproduce**
Steps to reproduce the behavior:
1. Get 0.15.0.0
2. Go to any folder

**Expected behavior**
A clear and concise description of what you expected to happen.
The app shouldn't crash and should work

**Desktop:**
 - OS: Windows 10 Pro Insider Preview Version 20H2 (Release preview cha

[2020-09-28 08:59] Jaiganeshkumaran commented on #1981
After changing the multi-tasking mode, this no longer occurs but sometimes the setting page doesn't allow to select any option.

[2020-09-28 11:16] gave92 commented on #1981
This is fixed on master

[2020-09-28 11:58] #1981 closed

[2020-09-28 12:40] ilikec opened #1982 "Crashing Application upon Ctrl + C / V / X"
**Describe the bug**
Upon pressing Ctrl + C / V / X after selecting any file, Files UWP crashes without further notice. All three functions work fine via context-menu

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Documents','Pictures' or an external hard drive
2. Click on any given file
3. Press Ctrl + C or Ctrl + X or Ctrl + V
4. The application crashes

**Expected behavior**
The f

[2020-09-28 16:33] gave92 commented on #1982
Thanks for the report. This appears to be a pretty common stacktrace.
Could you check if the issue is present also if you set Tile view instead of Details view?

[2020-09-28 22:59] duke7553 commented on #1978
@RiemaruKarurosu This is a Duplicate of #94

[2020-09-28 22:59] #1978 closed

[2020-09-29 00:26] duke7553 commented on #1905
@pixl-8 Thanks again for your feedback.

_Since we didn't hear from you on this topic for several days, we'll assume everything is worked out and close this feedback item. If you had more feedback to provide, please re-open this and help the owners by describing the current status and any steps taken to troubleshoot this._

[2020-09-29 00:26] #1905 closed

[2020-09-29 00:28] duke7553 commented on #1913
Reopening as per @gave92's guidance

[2020-09-29 02:37] #1944 closed

[2020-09-29 06:14] ilikec commented on #1982
Can reproduce in both tileview and gridview.
[debug.txt](https://github.com/files-community/Files/files/5296778/debug.txt)

[2020-09-29 11:14] Nuzza opened #1987 "Files UWP crashes when dragging and dropping files onto folders"
**Describe the bug**
Upon releasing the left click button while dragging a file or several files over a folder, causes Files UWP to crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Drag and Drop a file or several files onto a folder (move to that folder)
2. Files UWP crashes

**Expected behavior**
The zip file(s) are moved to the folder when releasing the left click over a folder while

[2020-09-29 11:40] gave92 commented on #1987
Thanks for the report. This issue is fixed on master -> #1983

[2020-09-29 15:46] generalguy41 opened #1988 "Colon after QuickLook in right click menu"
**Describe the bug**
QuickLook has a colon after it in the right click menu that shouldn't be there.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click any file/folder

**Expected behavior**
Should not have colon.

**Screenshots**
![image](https://user-images.githubusercontent.com/8879244/94581141-bb682e80-0248-11eb-9c63-8f4465b10832.png)

**Desktop (please complete the following in

[2020-09-29 17:54] #1208 closed

[2020-09-29 19:31] antnauman opened #1993 "Layout in Context menu"
Please provide Layout options in Context menu.

[2020-09-29 19:32] #1988 closed

[2020-09-29 19:36] antnauman opened #1995 "Please allow to Select multiple items using mouse click & drag"
UWP layouts may not have this feature built-in, but I would like to have this functionality: Select multiple items by keeping mouse click pressed and moving cursor to select items.

[2020-09-29 19:59] AngelZeur opened #1997 "When I go to rename the name of some File Files UWP - Preview it closes automatically appearing this error to me saying this print screen correct this please so I can rename the name of all Files"
![Screenshot_1](https://user-images.githubusercontent.com/60907149/94609413-20397e00-0275-11eb-80d8-527877213560.png)

**Describe the bug**
A clear and concise description of what the bug is and why it is more urgent than other issue reports. Can't answer this? Please return to the previous page and file a regular bug/feature report.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...

[2020-09-29 19:59] AngelZeur commented on #1997
When I go to rename the name of some File Files UWP - Preview it closes automatically appearing this error to me saying this print screen correct this please so I can rename the name of all Files

[2020-09-29 20:04] yaichenbaum commented on #1997
@AngelZeur Can you try updating to v0.15 and let us know if you still see this issue?

[2020-09-29 20:10] askfriends opened #1998 "Add "Sent To" option in right click menu"
i have a feature request so im bypassing your template, hopeu wont mind.

1. Add "Send to" option in right click menu, for example when i right click on any folder to send it to USB drive, there should be send to option which makes it easy to send files to usb drive and this option is available in windows right click menu.

2. when i copy a folder from Drive1 and right click in Drive2 to paste it,

[2020-09-29 21:16] yaichenbaum commented on #1995
Merging with #94.

[2020-09-29 21:16] #1995 closed

[2020-09-29 21:18] #1982 closed

[2020-09-30 04:49] Jaiganeshkumaran commented on #1993
@yaichenbaum Could you assign me on this issue?

[2020-09-30 04:53] Gizmotronn opened #2001 "Explorer crashes after attempting to copy any file, without copying them"
**Describe the bug**
Selecting any file or folder, or groups of either, and attempting to copy it results in the application crashing

**To Reproduce**
Steps to reproduce the behavior:
1. Open two windows or tabs
2. On one tab/window, choose a file to copy
3. On the other tab/window, choose a folder to copy that file into
4. See error

**Expected behavior**
Application crashes without copying file

[2020-09-30 05:00] Jaiganeshkumaran commented on #2001
@Gizmotronn Explorer crashes or Files UWP crashes?

[2020-09-30 05:01] Gizmotronn commented on #2001
Files UWP, sorry

[2020-09-30 05:45] Jaiganeshkumaran commented on #1940
Not needed. Already the size is so small and reducing it will make it unusable with touch. The File Explorer is an old application designed when you only used your PC on a desk with a mouse so that's why it's too small. This application should also work with touch and having it too small will be bad.

[2020-09-30 05:48] Jaiganeshkumaran opened #2003 "Ability to use horizontal scrolling with grid view"
**Is your feature request related to a problem? Please describe.**
Although Microsoft recommends vertical scrolling, horizontal scrolling can sometimes be useful especially for large screens.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
A toggle to use horizontal scrolling instead of vertical scrolling.

**Describe alternatives you've considered

[2020-09-30 09:12] Jaiganeshkumaran opened #2005 "App crashed while permanently deleting a protected folder"
**Describe the bug**
A clear and concise description of what the bug is.
App crashed while permanently deleting a protected folder

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Documents
2. Right-click on the feedback hub folder and hit Shift key + D
3. App will crash

**Expected behavior**
A clear and concise description of what you expected to happen.
The app should show a message

[2020-09-30 09:32] Jaiganeshkumaran commented on #2005
It seems like it tries to delete a file again and again. In this case, it should simply ignore and wait for deletion to complete.

[2020-09-30 11:47] Jaiganeshkumaran opened #2006 "Ability to pin a folder to start"
**Is your feature request related to a problem? Please describe.**
In File Explorer, you can pin a folder to the start menu, and clicking on it will open in it in File Explorer.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
We can add an option to pin a folder like that however it should open it in Files without making it the default shell file m

[2020-09-30 12:16] Jaiganeshkumaran commented on #2006
@yaichenbaum Could you assign me on this issue?

[2020-09-30 12:18] yaichenbaum commented on #2006
@Jaiganeshkumaran Is it possible to use a shell extension menu item in the context menu?

[2020-09-30 12:19] yaichenbaum commented on #2006
Merging with #782.

[2020-09-30 12:19] #2006 closed

[2020-09-30 12:20] yaichenbaum commented on #2001
@Gizmotronn What version of the app are you using?

[2020-09-30 12:20] #1963 closed

[2020-09-30 12:20] Gizmotronn commented on #2001
Latest version from the releases as of today.

[2020-09-30 12:22] yaichenbaum commented on #2001
@Gizmotronn Can you confirm that it's v0.15.4?

[2020-09-30 13:34] generalguy41 commented on #1940
@Jaiganeshkumaran I disagree that it's not needed. As a primarily desktop user, I think that there should be an option to have a "compact" mode. By default, it could use the more spaced out mode, but I'd like to see the option available at least.

[2020-09-30 13:36] Jaiganeshkumaran commented on #1940
@generalguy41 I'm a desktop user too and don't have a touch screen but it shouldn't be that small

[2020-09-30 13:46] SOI7 commented on #1910
Sorry to reopen this, but the issue still exists on 0.15.4.0 :x

![image](https://user-images.githubusercontent.com/50930970/94693467-0f037680-0334-11eb-96b2-af0c9cb19167.png)

[2020-09-30 13:47] generalguy41 commented on #1940
@Jaiganeshkumaran Agree to disagree, I guess. I would much rather have an option to show more items in the window and have a more compact view. Ultimately the decision isn't up to me, but I'd seriously hope it would be taken it into consideration for more "power users" I guess.

[2020-09-30 17:28] #1727 closed

[2020-09-30 17:57] yanjingtui opened #2008 "Multiselect"
**Is your feature request related to a problem? Please describe.**
Please add multi select features for touch screen and mouse

**Describe the solution you'd like**
Long press a file, hold your finger and use another finger to select another file. Just like this at 1:34 https://youtu.be/I5EA8il5ojQ
For mouse users, just select file by clicking and dragging.

**Describe alternatives you've consider

[2020-09-30 19:35] brukberhane opened #2009 "Windows Terminal Preview is not recognized by Files"
**Describe the bug**
Basically, Files doesn't recognize WT Preview. You may try to manyally add it to the terminal.json file but it gets removed on startup. Even changing the title from "Windows Terminal" to "Windows Terminal Preview" still makes Files remove that JSON object all together.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Preferences
2. Edit the file to add Wi

[2020-09-30 23:04] #843 closed

[2020-09-30 23:45] yaichenbaum commented on #2009
Windows Terminal Preview is not intended to be detected by Files, have you tried using the sample profile for Windows Terminal Preview?

[2020-09-30 23:51] brukberhane commented on #2009
No I haven't tried using the sample profile for Windows Terminal Preview.. I actually can't see it on the wiki...

[2020-10-01 01:48] Gizmotronn commented on #2001
0.15.0 actually, my mistake @yaichenbaum

[2020-10-01 07:13] whdmike opened #2011 "Option to sort pinned files (items)"
**Is your feature request related to a problem? Please describe.**
I would like to be able to sort pinned items (on a left). Now I can pin them, but if I want to change the order of importance for me, I can't.

**Describe the solution you'd like**
be able to sort pinned files (items)

**Describe alternatives you've considered**
just that, option to sort pinned files. Windows file explorer can do,

[2020-10-01 08:39] hederaetype opened #2012 "Moving files into folders"
Everytime 2 or more files are moved from a place to another, the app crashes, specifically i'm trying to move two .pngs in desktop into a folder.

[2020-10-01 08:41] hederaetype commented on #2012
It could be because of alert for same file names

[2020-10-01 12:19] yaichenbaum commented on #2012
@hederaetype Can you fill out the issue template?

[2020-10-01 12:22] yaichenbaum commented on #2009
@brukberhane The profile for Windows Terminal Preview is the same Windows Terminal profile. See this [doc ](https://docs.microsoft.com/en-us/windows/terminal/command-line-arguments?tabs=windows)for more information.

[2020-10-01 12:31] brukberhane commented on #2009
@yaichenbaum I am aware that they share the same CLI yet the option to select windows terminal instead of say powershell on files doesn't pop up and when you add teh profile to terminal.json manually, it deletes it on startup. Except when I did the workaroudn I mentioned

[2020-10-01 12:33] yaichenbaum commented on #2009
You shouldn't need to change the profile, if you change the `wt` argument in the Windows 10 settings app to point to the Preview then Files will automatically launch the Preview version.

[2020-10-01 12:35] brukberhane commented on #2009
I had changed the wt argument to point to the Preview... but it just wouldn't show up in the list of terminals

[2020-10-01 12:41] hederaetype commented on #2012
<!--
🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨

**Describe the bug**
Everytime 2 or more files are moved from a place to another, the app crashes, specifically i'm trying to move two .pngs in desktop into a folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'desktop'
2. select some files and move them into a desktop folder;
3. if the folder contains files with same name, you get app crash
4. You get an error "S

[2020-10-01 12:41] hederaetype commented on #2012
**Describe the bug**
Everytime 2 or more files are moved from a place to another, the app crashes, specifically i'm trying to move two .pngs in desktop into a folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'desktop'
2. select some files and move them into a desktop folder;
3. if the folder contains files with same name, you get app crash
4. You get an error "Something went wro

[2020-10-01 12:46] yaichenbaum commented on #2009
The list of terminals won't change, the apps basically runs the `wt` command to launch the app connected to that argument.

[2020-10-01 12:49] yaichenbaum commented on #2012
Does this issue still occur after updating to v0.15.4?

[2020-10-01 12:50] yaichenbaum commented on #2001
@Gizmotronn Does it still exist in v0.15.4?

[2020-10-01 12:56] brukberhane commented on #2009
![image](https://user-images.githubusercontent.com/20716815/94811826-8dc4e600-03fe-11eb-984b-ddded0e64902.png)
![image](https://user-images.githubusercontent.com/20716815/94811843-91586d00-03fe-11eb-991d-ec7d0041d72e.png)

[2020-10-01 12:57] yaichenbaum commented on #2009
That looks correct, what happens when you try launching Terminal from the right click context menu?

[2020-10-01 12:58] brukberhane commented on #2009
@yaichenbaum
![image](https://user-images.githubusercontent.com/20716815/94812093-edbb8c80-03fe-11eb-8bf0-990b20802397.png)

[2020-10-01 13:00] brukberhane commented on #2009
But when I place a new profile in there called "Windows Terminal Preview" and then replace the path `wt.exe` with just `wt`. It doesn't get deleted on startup
![image](https://user-images.githubusercontent.com/20716815/94812284-31ae9180-03ff-11eb-805a-a04739d8a23c.png)

[2020-10-01 13:00] yaichenbaum commented on #2009
Can you try adding this profile?
[code]

[2020-10-01 13:01] hederaetype commented on #2012
I'm still getting error, but the window doesn't crash. Now it does not delete the images.

Here's a screen record
https://www.dropbox.com/s/w8qb7fmxvhq2x51/Files%20-%20Preview%202020-10-01%2014-58-04.mp4?dl=0

[2020-10-01 13:02] brukberhane commented on #2009
Before restarting files after adding your config:
![image](https://user-images.githubusercontent.com/20716815/94812468-75a19680-03ff-11eb-9309-e11fcc93bf5d.png)
After:
![image](https://user-images.githubusercontent.com/20716815/94812457-70444c00-03ff-11eb-93c3-2a1cf0c2f725.png)

At this point, I feel that it should be worth mentioning that I **ONLY** have Windows Terminal Preview Installed.

[2020-10-01 14:16] hederaetype opened #2013 "Open a folder in a new tab"
**Is your feature request related to a problem? Please describe.**
It would be easier to navigate with some well-known functions in browsers

**Describe the solution you'd like**
Scrollwheel click to open a folder in a new tab

**Describe alternatives you've considered**
Scrollwheel click to open a folder in a new tab and keyboard shortcut ctrl+t (similar to mac)

[2020-10-01 14:18] hederaetype opened #2014 "New tab shortcuts"
**Is your feature request related to a problem? Please describe.**
It would be easier to navigate with some well-known functions in browsers

**Describe the solution you'd like**
Scrollwheel click to open a folder in a new tab

**Describe alternatives you've considered**
keyboard shortcut ctrl+t (similar to mac)

[2020-10-01 14:18] #2013 closed

[2020-10-01 14:24] hederaetype opened #2015 "Quickview arrow navigation"
**Describe the bug**
Quickview not following selection navigation.

**To Reproduce**
Steps to reproduce the behavior:
1. while navigating folders with quickview and keyboard arrows, the mini window doesn't follow selection as in default explorer.
2. you must close the preview with spacebar and press again to preview the new file.

**Expected behavior**
The preview follows arrow navigation selectio

[2020-10-01 14:25] gave92 commented on #2006
@yaichenbaum i was not able to get the "pin to start" option from explorer to work (I get a nice UnauthorizedAccessException). I guess we could implement this internally I guess.

[2020-10-01 14:33] Jaiganeshkumaran commented on #2006
@gave92 That will only use the Explorer implementation which will actually use the default shell explorer and not Files. We can use a secondary tile which always launches Files.

[2020-10-01 16:56] xmha97 opened #2016 "Support pCloud virtual drive"
Hi, I using [pCloud](https://www.pcloud.com/) on my PC.
on Windows Explorer, I can see pCloud virtual drive.
![Windows Explorer](https://user-images.githubusercontent.com/23485114/94838957-2ff6c500-0423-11eb-819c-fe8641f32630.png)
But on [Files UWP](https://github.com/files-community/Files), I can't see pCloud virtual drive.
![Files UWP](https://user-images.githubusercontent.com/23485114/94839340-

[2020-10-01 17:32] EpixyKing101 opened #2017 "Add Better Downloads"
Hello, I've been using Files for a while, and on thing I always hate is the downloads area in the application. It's nothing like the one in normal File Explorer. For example, I'll sort it by date, but the folders **ALWAYS APPEAR AT THE BOTTOM**.
![image](https://user-images.githubusercontent.com/72221097/94842738-9999b380-03d0-11eb-9ad2-c9e879cd1afa.png)
And this is Files:
![image](https://user-im

[2020-10-01 20:40] yaichenbaum commented on #2014
Duplicate of #9.

[2020-10-01 20:40] #2014 closed

[2020-10-01 20:41] yaichenbaum commented on #2017
Duplicate of #131.

[2020-10-01 20:41] #2017 closed

[2020-10-01 20:43] yaichenbaum commented on #2015
Can you confirm if #792 is the same issue?

[2020-10-01 21:28] generalguy41 commented on #2015
@yaichenbaum I think it's more likely a duplicate of #1373

[2020-10-02 01:05] #1993 closed

[2020-10-02 01:06] yaichenbaum commented on #1993
@Jaiganeshkumaran Thank you for implementing this.

[2020-10-02 06:31] hederaetype commented on #2015
@generalguy41 you're right it is.

[2020-10-02 10:25] tal-sitton opened #2019 "fake D: drive that crashes the app"
**Describe the bug**
A clear and concise description of what the bug is.
there wasn't any USB connected, but it showed that there is. I clicked on it and it crashed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the "driver" section
2. Click on "USB drive D:"
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
I don't know, there wasn't

[2020-10-02 13:10] duke7553 opened #2020 "Unable to invoke certain focused buttons with Enter"
**Describe the bug**
Focusing most buttons in the app with the tab key works, but users have trouble selecting/invoking some buttons with the enter key.

**To Reproduce**
Steps to reproduce the behavior:
1. Press tab until a status bar button on the bottom right side are highlighted
2. Attempt to press enter to invoke the attached Flyout

**Expected behavior**
Users should be able to change the ap

[2020-10-02 13:14] Jaiganeshkumaran commented on #2019
@yaichenbaum This a bug in Windows 10 and I've noticed it too. Explorer hides it but the drive will appear in the disk management tool.

[2020-10-02 15:19] #2015 closed

[2020-10-03 10:35] RadioActiveEssence opened #2021 "Random quit when in Downloads folder."
I had just downloaded a video from my whatsapp web, and was about to delete it because it had downloaded twice. I right-clicked to select delete, but then decided to press delete on the keyobard. The app decided to quit, and i got a windows notification asking me to report the problem. I don't have any screenshots.

OS: Windows 10 Pro 10.0.19042 Build 19042(I am in the Windows Beta Insider program

[2020-10-03 10:38] CodeDevTurbo commented on #2021
Also i had downloaded the app from the Windows Store

[2020-10-03 11:40] RadioActiveEssence opened #2022 "Zip File support"
I have noticed that when opening a Zip file in your app, it opens it in Windows Explorer and not in Files. This is annoying because i have to switch inbetween two file viewers when accessing my Zip files. If this could be fixed then it would be good because it is a basic feature in all File Explorer apps

[2020-10-03 12:09] XPoppyX commented on #2022
Duplicate of #45

[2020-10-03 13:56] MangoAJust opened #2023 "Allow drag and drop from other apps"
**Is your feature request related to a problem? Please describe.**
Yes. I'm always frustrated when, for example, I've got a zip file open with WinRar, I can't drag and drop and I'm forced to use the default (ugly) windows file, explorer.

**Describe the solution you'd like**
I'd like to be able to select a file, drag and drop it, from/to an external app or website, and to be able to move files usi

[2020-10-03 16:21] RadioActiveEssence opened #2024 "Breaking the Tabs"
I broke the tabs when playing around with your app. Upon fullscreening the app again, the tabs decide to show themselves under the close and minimize buttons. IMPORTANT: Like I said, it only happens after fullscreening the app again. I have uploded a video of how to do it:
[Video.zip](https://github.com/files-community/Files/files/5321966/Video.zip)
OS: Windows 10 Pro 10.0.19042 Build 19042(I am i

[2020-10-03 16:24] RadioActiveEssence commented on #2022
Ok. Sorry i didn't realise because that was a long time ago.

[2020-10-03 16:24] #2022 closed

[2020-10-04 02:31] Jaiganeshkumaran commented on #2024
@RadioActiveEssence This is intended and not a bug if you select the 'Adaptive' option in multitasking. When in a small window size, you can access the tabs by pressing the button next to the disabled search box.

[2020-10-04 05:06] dokijianhua opened #2025 "shortcut file dont't display when open this software again"
**Describe the bug**
  shortcut  file dont't  display  when   open this software again
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings->OnStartup'    selected  'option continue where you left off'
2. Open  a folder whatever  in  'Files' , but must  include shortcut  file   。
3. close this   'Files'    window at all
4. open   'Files'  again,you will see    you  closed  folder

[2020-10-04 08:48] RadioActiveEssence commented on #2024
@Jaiganeshkumaran So you intend for the tabs to show below the close buttons making them hard to reach?
![Files - Preview 04_10_2020 09_47_35](https://user-images.githubusercontent.com/70538199/95011175-bc250a00-0626-11eb-9d57-c319e96a2e56.png)

[2020-10-04 11:42] Jaiganeshkumaran commented on #2024
@RadioActiveEssence That shouldn't happen.

[2020-10-04 17:00] Atlasim1 opened #2026 "Opening Compressed files (ZIP)"
**Is your feature request related to a problem? Please describe.**
It isnt really a problem BUT i would like the files beta app to be able to open .ZIP compressed "folders"

**Describe the solution you'd like**
if you try to open a .ZIP file and that your default program is windows explorer it should open it inside of the files beta app insted of windows' explorer.exe

**Describe alternatives you'

[2020-10-04 17:01] Atlasim1 commented on #2026
this is not a bug
it is a feature request

[2020-10-04 17:03] Atlasim1 commented on #2009
try and not using preview and the official version

[2020-10-04 17:13] brukberhane commented on #2009
@Atlasim1 Is it possilble to install the official version alongside the preview?

[2020-10-04 17:32] XPoppyX commented on #2026
Duplicate of #45

[2020-10-04 18:14] RexTremendae opened #2027 "Build problems"
I installed this project from Windows Store and I already love it! I would like to help out if possible, but following the instructions for cloning and building the project causes VS to report build errors.

![image](https://user-images.githubusercontent.com/6555002/95023522-d76f3400-067d-11eb-80b6-78885dab482e.png)

VS suggested I should install C++ SDK or something like that, which I did.
If som

[2020-10-04 19:25] duke7553 commented on #2027
@RexTremendae Hi there.

Please make sure you have selected Files.Package in Visual Studio. You may also want to try restarting VS and cleaning and rebuilding once you've selected Files.Package and your PCs architecture.

Does this help?

[2020-10-04 19:27] duke7553 commented on #2026
Marking this as a duplicate of #45

[2020-10-04 19:27] #2026 closed

[2020-10-04 19:28] duke7553 commented on #45
@Jaiganeshkumaran Does the native API support folder items? In my analysis, it appears support for that is lacking, but I'm still unsure.

[2020-10-04 21:57] HentaiOusama opened #2028 "Different Layout at different locations"
**Is your feature request related to a problem? Please describe.**
In the new file explorer, when we change the layout mode, it get applied everywhere instead of just the current location.

**Describe the solution you'd like**
Just like the old file explorer, when we change the layout mode, it should only be applied to the specific location (I.e. the current location)
Additionally, Uses should hav

[2020-10-04 22:20] HentaiOusama opened #2029 "Slow double click shows rename option"
**Describe the bug**
If the double click on a highlighted folder/file is not very fast, then instead of opening the folder/file, it shows the rename option.

**To Reproduce**
Steps to reproduce the behavior:
1. Single click on any file or a folder
2. Make a normal double click to open that highlighted file
3. (Change the time gap between the two clicks of a double click)
4. Unless the double click

[2020-10-04 22:48] RexTremendae commented on #2027
No, that did not help. After spending some more time I found out that it has to do with the "Target platform version" on the project Files.Extensions. It seems that I don't have the correct version installed on my system (and I don't know how to get it).

My solution was to change that version on the project to match what is installed on my system. An update to the documentation would really be ap

[2020-10-05 00:26] yaichenbaum commented on #2028
Duplicate of #530.

[2020-10-05 00:26] #2028 closed

[2020-10-05 05:18] HentaiOusama opened #2031 "Desktop.ini data not being processed"
**Is your feature request related to a problem? Please describe.**
Chainging the folder icon from desktop.ini

**Describe the solution you'd like**
I used an script which changes the icon of sub-folders in a particular location by editing/creating desktop.ini file in each of the sub-folders. Now when I open that location in normal file explorers, the new icons shows up perfect. But in the Files Be

[2020-10-05 13:51] yaichenbaum commented on #2031
Duplicate of #519.

[2020-10-05 13:51] #2031 closed

[2020-10-05 14:15] yaichenbaum commented on #1532
@smallg0at Can you try updating the app to v0.15.4 to check if the issue still exists?

[2020-10-05 14:18] yaichenbaum commented on #1598
Does this issue still exist in v0.15.4?

[2020-10-05 14:19] yaichenbaum commented on #1546
@soumyamahunt Would you like to work on this issue?

[2020-10-05 14:55] #1965 closed

[2020-10-05 16:22] yaichenbaum opened #2034 "(Settings Button) Section 508 502.3.1: (Files/button '') The Name property of a focusable element must not be null."
The following accessibility issue needs investigation.

**App:** Files

**Element path:** button ''

**Issue Details:** The Name property of a focusable element must not be null. [Section 508 502.3.1](https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-ict-refresh/final-rule/single-file-version#502-interoperability-assistive-technology)

**How To Fix:** Provide a

[2020-10-05 16:54] RadioActiveEssence commented on #2024
Here is a better video of how it happens. My OBS Studio wasn't working so I used a different recording software.
[Uploading Vid.zip…]()

[2020-10-05 17:05] #2034 closed

[2020-10-05 17:12] duke7553 opened #2036 "Unable to use TAB key to select all sidebar items"
**Describe the bug**
Some items are not registered as a tab stop

**To Reproduce**
Reproducible by trying to use the TAB key to focus some items

**Expected behavior**
All items should be invokable via keyboard

[2020-10-05 17:27] duke7553 commented on #2027
@RexTremendae You can install the required SDKs through Visual Studio Installer under the UWP section.
We require the 19041 SDK

[2020-10-05 17:31] #1695 closed

[2020-10-05 18:09] RexTremendae commented on #2027
Yes, that is exactly what I did and it does not work with the current state of the master branch. Current checked-in version is 18362, when I changed to 19041 it worked.

[2020-10-05 18:32] RexTremendae commented on #2027
Added PR #2038

[2020-10-05 19:04] #2027 closed

[2020-10-06 06:13] Thomas1664 opened #2040 "Unable to reach navigation bar in properties"
**Describe the bug**
In the properties dialog the navigation menu is not reachable via keyboard which prevents users to access shortcut page via keyboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Open properties for a shortcut
2. Use `Tab` and try to reach navigation bar
4. See error

**Expected behavior**
Focus should put at navigation view items

**Desktop (please complete the follo

[2020-10-06 09:28] DanielSlincak commented on #2011
Hi, could I work on this issue? @yaichenbaum

[2020-10-06 10:01] boscorelly opened #2041 "Access share"
hi,

when i try to access a root share on my server, ie \\192.168.254.204, when i am originally located on my usb HDD, it loop back to my HDD.

when i try to access a share from the drop down list shown from typing the ip address and clinking on the name of the shared folder, it show this :
![image](https://user-images.githubusercontent.com/3873787/95187650-b0bf1380-07cb-11eb-9f22-ab88dfd21fd0.png

[2020-10-06 10:17] boscorelly opened #2042 "Pasting to shared folder/mapped drive doesn't trigger refresh"
Hi,

when pasting to a shared folder or a mapped drive is not causing refresh of the windows as it is done on a local folder, and there is no progress windows shown. It is a problem when pasting large files (WIM file 10Gb ie).

v 0.15.4.0

[2020-10-06 10:25] boscorelly commented on #2029
i can't reproduce it. I use the same time on explorer and Files, and it works the same way for me

[2020-10-06 12:58] natiT commented on #2001
Hello, i got the same Problem in 0.15.4.0. Error Logs also write "Access Denied" but i have Access to the Source and Destination Path.
[debug.txt](https://github.com/files-community/Files/files/5333904/debug.txt)

[2020-10-06 13:24] yaichenbaum commented on #2011
@DanielSlincak Sure!

[2020-10-06 14:46] HentaiOusama commented on #2029
Is the file highlighted before making a double click on it?

[2020-10-06 15:11] HentaiOusama commented on #2029
I don't know then.... But for me it definitely shows rename option. Unless I really focus and make the double click very quick. I don't think that i can show it clearly even if i screen recorded it. 😅

[2020-10-07 09:28] whdmike opened #2043 "Support "putting away" a group of tabs for later use in Windows Timeline"
**Is your feature request related to a problem? Please describe.**
When you are working with file manager it is always good to be able to minimize app to tray, not to have too many windows open when you don't need them.

**Describe the solution you'd like**
Minimize to tray when you press minimize

**Describe alternatives you've considered**
just that

**Additional context**
thanks for your hard w

[2020-10-07 10:29] iron9light opened #2044 "Support long path"
Support long dir/file path

[2020-10-07 14:35] yaichenbaum commented on #2043
@whdmike Can you explain a scenario where this feature would be helpful? The notification tray is not really meant to be used in this way and is discouraged unless there is a good reason for using it.

[2020-10-07 14:36] yaichenbaum commented on #2044
I am not sure if this is possible since Windows puts its own limitation on the length of file paths.
fyi @duke7553

[2020-10-07 14:48] whdmike commented on #2043
I don't like to start a file manager all the time, when for example if I work inside of a particular folder. I like to close my file manager to tray, that I don't have too many windows open at the time and when I need again that folder I was working in, I don't need to search for it (open file manager again and search for it). The main reason is that inside windows I prefer not to have too many wi

[2020-10-07 15:02] yaichenbaum commented on #2043
@whdmike Have you enabled the "Continue where you left off" option?

[2020-10-07 15:44] duke7553 commented on #2027
@RexTremendae Thanks for catching this inconsistency btw. I think VS would preinstall the 1903 SDK and I always instructed users to install the one for 2004, so that's why I was confused 😊

[2020-10-07 15:47] #1964 closed

[2020-10-07 16:06] whdmike commented on #2043
It is not that practical. My thinking was to suggest this feature and if more people like it, do it, if not, it is also ok. Put it to vote. Thanks

[2020-10-07 16:39] duke7553 commented on #2044
@iron9light Sorry. This is simply impossible because of how the Windows APIs we use work.

[2020-10-07 16:39] #2044 closed

[2020-10-07 16:43] yaichenbaum commented on #2043
The continue where you left off feature is equivalent to minimizing to the tray, but it helps the user know that pressing on the close button is really closing it. In any case, if we did minimize to the tray, it would do the same thing by enabling the continue where you left off option and just relaunching the app for you when you hit the icon.

[2020-10-07 17:15] #2020 closed

[2020-10-07 17:15] #2036 closed

[2020-10-07 20:57] Thomas1664 commented on #1947
This happens when you remove a secondary storage item while the app is still open. After removing the drive, you can still view the files in it. If you rightclick on any item, the full trust process will crash and if you then try to open properties, the application will crash at `FolderProperties.cs`, line 86.
Instead of letting the user view items of a removed drive, we should display an error me

[2020-10-07 21:21] yaichenbaum commented on #691
This will be implemented with #1962.

[2020-10-07 21:26] #691 closed

[2020-10-07 21:30] Thomas1664 commented on #1212
@yaichenbaum Can you assign me?

[2020-10-07 21:30] yaichenbaum commented on #1879
This issue should be resolved with #2045.

[2020-10-07 21:34] yaichenbaum commented on #2029
This is because of the way the DataGrid is made, an easy work around is to click to the right of the file name and that way you won't run into this issue.

[2020-10-07 21:34] #2029 closed

[2020-10-07 21:35] #1879 closed

[2020-10-07 22:48] yaichenbaum commented on #1212
@Thomas1664 Done 👍.

[2020-10-08 00:00] Nuzza opened #2048 "Right click the selected tab bar for various options"
**Is your feature request related to a problem? Please describe.**
Feature Request: Basically, it would be a great productivity improvement if you were able to right click a tab in the tab bar for various options similar to Chrome or Microsoft Edge.

**Describe the solution you'd like**
Some examples/ideas for the various options could be as follows:
- New tab (Ctrl+T)
- Refresh (Ctrl+R)
- Duplica

[2020-10-08 00:47] yaichenbaum commented on #2048
Duplicate of #260.

[2020-10-08 00:47] #2048 closed

[2020-10-08 01:40] marvalarva2929 opened #2049 "Search"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Im not sure if this is a bug or not, but I cant search through the different files in a specific folder or location. I asking this because their is a search icon, but no search capability.

**Describe the solution you'd like**
A clear and

[2020-10-08 01:42] yaichenbaum commented on #2049
Duplicate of #333.

[2020-10-08 01:42] #2049 closed

[2020-10-08 03:37] jean3x7 opened #2050 "I want to suggest some things"
Hello. i want to suggest some things:

1. Middle Click in folder to open in new tab.
2. Drag items to Recycle Bin
3. Show drives usages in navigation pane (below names, progress bar)
4. Click and Drag to select items
5. Checkbox to selected item
6. Option to open folder in Windows Explorer
7. Option to drag item with modifier key to create link, copy or cut (alt, ctrl)
8. Drag tab to out of curren

[2020-10-08 04:19] duke7553 commented on #2050
Thank you for taking the time to open this feedback item. In order to best address this in a transparent way, we usually expect reporters to open each feedback topic (e.g. feature request, bug, question, discussion item) as its own ticket. Please review each topic suggested here, and add your own take on an already open issue, or open a new one.

Closing this now.

[2020-10-08 04:19] #2050 closed

[2020-10-08 07:40] reboot-pixel opened #2052 "Creating a new file in non-elevated folder crashes the app"
**Describe the bug**
As the titles say, you cannot create new files like on Program Files on C:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Program Files or any Folder that needs Elevation
2. Open Context Menu and New file -> Bitmap or Text Document
3. Name the file you want
4. Crash

**Expected behavior**
A prompt asking for elevation like in File Explorer and New File

**Screensh

[2020-10-08 07:50] Jaiganeshkumaran opened #2053 "Narrator doesn't read the combo box heading"
**Describe the bug**
Normally the Narrator app will first read the heading of a combo box and then the actual item. However, in Files this doesn't happen and it only reads the value. How do you know what the value means without hearing the header of that combo box.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Narrator
2. Go to Files->Settings
3. Keyboard focus on any of the combo b

[2020-10-08 08:04] Jaiganeshkumaran commented on #2053
I see there's a separate text block for heading which is not good with Narrator. Always use the header property if available

[2020-10-08 11:41] whdmike commented on #2043
I appreciate your effort to help me, but I have my own system of working with computer and I don't want to have enabled an option to continue where I left. My default option is to open disc D. And I like minimize to tray when I am working. Thank you for your hard work anyway.

[2020-10-08 14:54] Jaiganeshkumaran opened #2054 "Home page narrator issue"
**Describe the bug**
Currently, if you focus a location item on the home page, Narrator says it's a button which it should say so that you can know what it is but it doesn't say the name of it. Maybe ToString isn't implemented for the custom model which .NET uses as the default name to send to Windows

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page and focus a location item w

[2020-10-08 14:57] Jaiganeshkumaran opened #2055 "Can't focus regular sidebar items list with keyboard (only drives)"
Can't focus on the regular sidebar items list with the keyboard (only drives section). I need to use the mouse but if I'm blind I can't. Both should be separated and the tab key should move between each section if the navigation view control is focused via keyboard. Today it's not really possible to access these items with the keyboard.

[2020-10-08 15:15] yaichenbaum commented on #2054
This is probably since we are not setting the Automation Property name, this needs to be set in the code behind so that the narrator picks it up.

[2020-10-08 15:18] Jaiganeshkumaran commented on #2054
@yaichenbaum Why can't we do it in XAML? Why code behind?

[2020-10-08 15:18] yaichenbaum commented on #2054
Because the location for each item is different.

[2020-10-08 15:20] Jaiganeshkumaran commented on #2054
@yaichenbaum Well we can do bind that to a string in the model

[2020-10-08 15:32] yaichenbaum commented on #2054
@Jaiganeshkumaran That can work, would you like to work on this?

[2020-10-08 15:51] yaichenbaum commented on #2043
@whdmike I understand your use case for opening by default to your drive, while minimizing the app to keep tabs open. Can you help us by letting us know what you would expect to happen if you launched the app from the taskbar again?

[2020-10-08 16:06] whdmike commented on #2043
Thanks for reopening. First app lounches faster and you just continue
where you have been working. I am very practical person and I like
order. I don't like to have many windows open and for me it turned out
very practical if I can have a file manager, that I can open and it
starts with my favourite folder - ususaly I use dual pane explorer like
Zabkat or XYplorer -  I can minimize it to tray whil

[2020-10-08 22:52] #1968 closed

[2020-10-09 00:05] duke7553 commented on #2043
@whdmike Files already takes advantage of lifecycle features for modern apps which allow us to run in the background for faster startup times. If you're not satisfied with the startup time, please verify you have background app permission enabled for Files in Windows Settings. With this enabled, the app starts as fast as other native apps like Settings and Mail.

![image](https://user-images.githu

[2020-10-09 00:30] duke7553 commented on #2043
@whdmike We're going to reopen this issue. We gave it some thought, and we like some of the ideas you bring up about wanting to get back into the flow easily. I just don't think the system tray is the best approach for this. We're going to explore allowing users to "put away" a group of tabs to the Windows Timeline for later. This will be an arguably better version than what you mentioned, because

[2020-10-09 00:31] duke7553 commented on #2043
Sorry for completely misinterpreting your feature idea 🙂

[2020-10-09 19:46] Thomas1664 commented on #1212
What about adding (almost) every context menu item to each sidebar item (except recycle bin and home)?

[2020-10-09 20:18] yaichenbaum commented on #1212
That should work.

[2020-10-10 11:45] erikmf12 commented on #2023
This feature already exists, although not very intuitive. It works if you drop the file onto one of the address bar folder names. You can also drag a file in the app if you select it first, and then drop the file either on some other app or again on a folder name in the address bar or side bar.

[2020-10-10 14:39] minecraftgive opened #2063 "Add shortcut key function"
Add shortcut key function and use it to start this application

[2020-10-10 19:48] HenryOfCarim opened #2064 "Some apps executed via Files don't have access to files in a folder"
**Describe the bug**
I have a python app which runs normally via Explorer but via Files, it shows an error which indicates it doesn't have access to files in its folder. Same happens when I try this app in Explorer's Quick Access section. But some sneaky python app is not only one with strange behaviour.  When in the folder with a bunch of pictures you try to open one with MS Photos you won't be a

[2020-10-10 20:47] AnphirAddoN opened #2065 "Reduce memory usage"
To be a beta works perfect really is something to be grateful for all the effort they are doing to achieve such a good file browser, has aesthetics and good functionality, I would like very much to improve in the consumption of resources. At the moment it is my default file browser, thank you very much for the app.

**Is your feature request related to a problem? Please describe.**
A clear and con

[2020-10-11 07:09] Jaiganeshkumaran opened #2066 "Folder should open in new tab if you hold down the Control key while opening it"

[2020-10-11 08:05] rachiwicks opened #2067 "Better multi-selection using touch"
Right now, can only select multiple files/folders only by holding CTRL. Need better touch support in tablet mode/ when no keyboard attached to select without a keyboard

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description

[2020-10-11 08:12] Xakkef opened #2068 "A little idea"
I'm not good at English, So with the help of Google Translate. :]

1. Use Win+E Quick open FilesUWP, Originally used to open the Explorer, Custom shortcut keys are also OK;

2. Add bookmark function, Very important function, You can refer to the bookmarks of Google Chrome.

Thanks for watching.

[2020-10-11 18:47] duke7553 commented on #2065
@AnphirAddoN Please give us a bit more info on this one.

- Does it always use too much RAM?

- How about for specific scenarios only like loading a large folder?

- Does memory usage free itself over time compared to what I'd expect from other apps?

Please answer these question and get back to us with the specific details.

[2020-10-11 18:48] duke7553 commented on #2068
Thank you for taking the time to open this feedback item. In order to best address this in a transparent way, we usually expect reporters to open each feedback topic (e.g. feature request, bug, question, discussion item) as its own ticket. Please review each topic suggested here, and add your own take on an already open issue, or open a new one.

Closing this now.

[2020-10-11 18:48] #2068 closed

[2020-10-11 18:51] duke7553 commented on #2067
Duplicate of #2008

[2020-10-11 18:51] #2067 closed

[2020-10-11 18:55] duke7553 commented on #2055
@Jaiganeshkumaran Was this fixed by #2036 ?

[2020-10-12 00:05] #1726 closed

[2020-10-12 00:12] yaichenbaum commented on #2063
You can pin it to be the first item in the taskbar and use Win + 1 to open it.

[2020-10-12 00:12] #2063 closed

[2020-10-12 04:01] aldonsantoas commented on #1101
its awesome

[2020-10-12 10:34] ZzzzzzzSkyward opened #2070 "Error when installing MsixBundle: low version of Microsoft.UI.Xaml"
I encountered a error that the UI Xaml is outdated(mine 2.4.2005, required 2.4.2007) when installing Msix using Powershell.
[code]
However I cannot find resolution from Google.
Everything I tried is install Microsoft.UI.Xaml.2.5 with nuget but it didnt work.
[code]
With the above code I succeeded in downloading a folder with the exactly same name, but nothing happened further. And I'm left confuse

[2020-10-12 12:28] #2052 closed

[2020-10-12 12:41] DanielSlincak commented on #2011
I'll make a pull request by the end of the week. I'm working on two ways on how to sort the pinned items. The first is by dragging and dropping them - the implementation for this is finished. The second one is by right-clicking and selecting from pre-determined sort options - name, date added, ascending and descending. I'm still working on a few details with this implementation.

[2020-10-12 12:54] whdmike opened #2071 "replace win10 file exlporer"
**Describe the bug**
I replaced win explorer with UWP as described in Wiki, but when I open a desktop folder shortcut, UWP crashes

**To Reproduce**
 replaced win explorer with UWP as described in Wiki, but when I open a desktop folder shortcut, UWP crashes

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help

[2020-10-12 14:50] yaichenbaum commented on #2070
@ZzzzzzzSkyward Have you tried running the msix file outside of Powershell?

[2020-10-12 14:51] yaichenbaum commented on #2071
The method in the wiki is not supported and is only there for debug purposes.

[2020-10-12 14:51] #2071 closed

[2020-10-12 18:45] duke7553 commented on #2042
@boscorelly When you paste many items, does the StatusCenter show a banner during the process?

[2020-10-12 20:13] Thomas1664 commented on #1212
@yaichenbaum Adding properties to drives works. However, it does not work for pinned folders because no properties are shown.

[2020-10-12 20:43] Thomas1664 commented on #1502
To add additional context, this issue only occurs when you plug in a device that needs to be repaired.

[2020-10-13 00:58] #2053 closed

[2020-10-13 01:10] #1598 closed

[2020-10-13 01:10] #1872 closed

[2020-10-13 01:10] #1997 closed

[2020-10-13 01:12] yaichenbaum commented on #1435
@seohyun1108 Is this still an issue in v0.16?

[2020-10-13 01:13] yaichenbaum commented on #1484
Is this still an issue in v0.16?

[2020-10-13 01:14] yaichenbaum commented on #1503
Merging with #2042.

[2020-10-13 01:14] #1503 closed

[2020-10-13 01:15] yaichenbaum commented on #1589
Can you confirm if you are still not seeing the correct behavior?

[2020-10-13 03:27] seohyun1108 commented on #1435
Now it's Ok. Thanks!

[2020-10-13 03:27] #1435 closed

[2020-10-13 06:45] Jaiganeshkumaran commented on #2055
@duke7553 Works now

[2020-10-13 06:45] #2055 closed

[2020-10-13 07:42] fisforfaheem opened #2079 "Provide a appx(app package) for isntalltion on windows 10 devices"
not all people can install through store we need an app package so we could install through usb and enjoy.

[2020-10-13 08:22] boscorelly commented on #2042
@yaichenbaum the issue related is yes linked, but there is no problem when pasting files to local drive

@duke7553 i can't answer : v0.17 is no more workink on network path, i have this error when accessing a shared folder :
Value does not fall within expected range.

[2020-10-13 08:23] boscorelly opened #2080 "Can't access shared folder from the drop down on the path bar"
Hi,

since upgrading to v0.17 today, i can't access to network path, i have this error when accessing a shared folder :
Value does not fall within expected range.

[2020-10-13 08:25] boscorelly commented on #2079
why can't you install through the store ? As it is the aim of a store, i am surprised

[2020-10-13 08:27] boscorelly commented on #2066
hi,

good request ! i will add the suggestion of an option to open in new tab or in new windows, or use the setting existing in settings tab.

[2020-10-13 09:28] Thomas1664 commented on #1323
@yaichenbaum Since this issue is fixed, you can go ahead and close this.

[2020-10-13 09:32] Thomas1664 commented on #1339
@yxhl Is this still an issue in the latest version?

[2020-10-13 09:36] Thomas1664 commented on #1388
@roguex-tech Is this still an issue in the latest version?

[2020-10-13 09:39] Thomas1664 commented on #1483
Right now, the only way of creating a new folder in recycle bin is via ctrl+shift+n.

[2020-10-13 09:47] Thomas1664 commented on #1590
@tsvietOK @yaichenbaum I think we can close this issue since the problem seems to be solved.

[2020-10-13 10:02] yxhl commented on #1339
NO, I can't occur now. It is work well.

[2020-10-13 10:44] Thomas1664 commented on #1339
Can you close this issue since it forks fine?

[2020-10-13 10:46] #1339 closed

[2020-10-13 10:57] whdmike commented on #2071
This is strange. You should put this information inside the wiki if this is the case. We are testing UWP and reporting bugs in order to help everyone, I think we deserve a different treatment. Sorry.

[2020-10-13 12:08] #1590 closed

[2020-10-13 12:09] yaichenbaum commented on #1323
@stamminator Can you confirm if this is fixed on your end?

[2020-10-13 12:13] yaichenbaum commented on #2071
@whdmike You are absolutely correct, it was a mistake on our part that we thought the wiki made it clear that it was unsupported. Upon checking the page, I was able to confirm that the warning was not clear enough and the page has since been updated. I am sorry about the confusion. Once we feel that the app is in a more stable position, we will explore replacing the File Explorer UI with Files.

[2020-10-13 12:16] yaichenbaum commented on #2079
@fisforfaheem You can find the latest package on the release page [here](https://github.com/files-community/Files/releases/download/v0.16/FilesUWP-0.16.Msixbundle).

[2020-10-13 12:16] #2079 closed

[2020-10-13 12:17] yaichenbaum commented on #2080
@duke7553

[2020-10-13 12:20] yaichenbaum commented on #2042
Related to #2080.

[2020-10-13 15:29] amartidev opened #2083 "Add support for Colorize extension"
<! -
🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨

RECONOZCO LO SIGUIENTE ANTES DE CONTINUAR:
1. Si elimino toda esta plantilla y sigo mi propio camino, el equipo central puede cerrar mi problema sin más explicaciones o compromisos.
2. Si enumero varios errores / inquietudes en este único problema, el equipo central puede cerrar mi problema sin más explicación o compromiso.
3. Si escribo un problema que tiene muchos duplicados, el

[2020-10-13 16:17] gave92 commented on #1483
@Thomas1664 thanks for pointing this out. Needs to be corrected.

[2020-10-13 17:18] mimamulhassankhan opened #2085 "Automatically add a Powershell profile when Powershell is detected"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-13 17:31] #1638 closed

[2020-10-13 21:43] Bysic opened #2086 "please add fast files dragging feature just like the stock one."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-13 22:46] duke7553 commented on #2080
@boscorelly Hmm... could you please upload your log file? That way, we'll have the context this exception occurs in.

[2020-10-13 22:50] duke7553 commented on #2080
@yaichenbaum Actually, I can guess why this happened. Let me author a potential fix really quick.

[2020-10-14 00:16] #2086 closed

[2020-10-14 00:16] yaichenbaum commented on #2086
@Bysic Please fill out the issue template so we can understand you feature request.

[2020-10-14 02:03] stamminator commented on #1323
@yaichenbaum Well it appeared to be fixed in the initial release that contained the fix several weeks ago, but the .16 and .17 builds are completely unresponsive for me, so I can't confirm.

[2020-10-14 09:39] ZzzzzzzSkyward commented on #2070
Excuse me, I am using win10 and I've not installed Visual Studio. I wonder what kind of application I can use to run the msix file. It is foreign to me and I am unable to find any useful ideas.

[2020-10-14 09:41] ZzzzzzzSkyward commented on #2070
Plus, I have succeeded in installing v0.13, but failed at v0.14.

[2020-10-14 10:00] ZzzzzzzSkyward commented on #2070
The problem seems to be my Microsoft UI Xaml, which I have no way to update, despite the Install-Package command.

[2020-10-14 17:41] roguex-tech commented on #1388
@Thomas1664 Not at this time. I can no longer reproduce it. Close her up...

[2020-10-14 18:32] Thomas1664 commented on #1388
@yaichenbaum You can close this issue and mark it as fixed.

[2020-10-14 19:04] #1388 closed

[2020-10-14 19:10] gave92 commented on #2083
I don't suppose @yaichenbaum you would accept something like the following to solve this issue, right? (would solve #519 as well I think)

![image](https://user-images.githubusercontent.com/9673091/96033695-b7e7c080-0e60-11eb-9705-49b607f63b0f.png)

[2020-10-14 19:12] yaichenbaum commented on #2083
@gave92 It depends on how the extension works, if all it does is change the folder icon, then I think #519 would solve it. If it works differently then we should explore to find out how it does it.

[2020-10-14 19:14] gave92 commented on #2083
I just tried with that extension and it looks like it works the same as #519 example.
The picture above is real -> you can see that two icons pick up the color set through the Colorize extension

[2020-10-14 19:16] yaichenbaum commented on #2083
Is there a way to take the icon only when it's a custom one?

[2020-10-14 19:19] gave92 commented on #2083
I don't think you can distinguish whether the icon is a default one using `StorageFolder.GetThumbnailAsync`
You'd probably be able to do this from the fulltrust process..

[2020-10-14 19:24] yaichenbaum commented on #2083
@gave92 Is this something you can work on?

[2020-10-14 19:35] gave92 commented on #2083
Just to be sure: is the following the expected result?
(All default Files folder icons except for the 2 custom ones)

![Immagine 2020-10-14 213142](https://user-images.githubusercontent.com/9673091/96036673-1616a280-0e65-11eb-94df-283447c46da0.png)

[2020-10-14 19:49] DorukSega opened #2090 "CTD on opening tabs"
I opened more than one tabs at a fast pace while it was parsing the existing tab and it crashed to desktop, I don't know any symptoms more than that

[2020-10-14 20:21] yaichenbaum commented on #2090
@DorukSega Can you post the log file?

[2020-10-14 20:24] Thomas1664 opened #2091 "Wrong date format for dates that are more than a week ago"
**Describe the bug**
When date format is set to `System`, the date format is everywhere wrong for dates that are more than a week ago.

**To Reproduce**
Steps to reproduce the behavior:
1. Set date format to `System` in settings
2. Create a new item or view items that are created less than a week ago
4. See error

**Expected behavior**
Dates should be in correct format

[2020-10-14 20:25] Thomas1664 commented on #2091
@yaichenbaum Can you assign this issue to me?

[2020-10-14 21:21] Thomas1664 opened #2093 "Code improvements in details page of properties dialog"
The details page of properties dialog has several issues:
- Property names are not localized
- You can edit read-only properties (e.g. `DateModified`)
- Code needs refactoring

[2020-10-14 21:22] Thomas1664 commented on #2093
@yaichenbaum Can you assign me on this as well?

[2020-10-14 22:29] duke7553 commented on #2083
Related: Official support for tagging folders is tracked here: https://github.com/files-community/Files/issues/1161

[2020-10-14 22:33] duke7553 commented on #1568
@Jaiganeshkumaran Is this still an issue? If so, can you describe it to me?

[2020-10-14 22:35] duke7553 commented on #1602
@Fearlessv Thank you for taking the time to open this feedback item. In order to best address this in a transparent way, we usually expect reporters to open each feedback topic (e.g. feature request, bug, question, discussion item) as its own ticket. Please review each topic suggested here, and add your own take on an already open issue, or open a new one.

Closing this now as @Jaiganeshkumaran ha

[2020-10-14 22:35] #1602 closed

[2020-10-14 22:37] generalguy41 commented on #1969
This seems to have been resolved in the latest build. Thanks for the hard work!

[2020-10-14 22:37] #1969 closed

[2020-10-14 23:15] duke7553 commented on #1692
Whenever I see accent color, I think something should be interacted with. The fact we might have different tabs with different icon colors would seem distracting. Looking back at this, I think we should focus more on improving the color palate to make the tabs more visible without use of accent color.

[2020-10-14 23:19] duke7553 commented on #2093
@Thomas1664 You bet!

[2020-10-14 23:21] duke7553 commented on #2070
I think @yaichenbaum meant you should try to run the MSIX file by double clicking it.

[2020-10-14 23:24] Thomas1664 commented on #1513
@yaichenbaum Can you assign me?

[2020-10-15 01:25] ColbertBrave opened #2096 "When copying and pasting folders, the program will automatically restart"
When I copy the folder and paste it to a location, the program restarts. In addition, when I rename the file, the file type is automatically converted to "file" instead of the original file type.

The debug.txt may be helpful.
[debug.txt](https://github.com/files-community/Files/files/5381905/debug.txt)

[2020-10-15 02:50] yaichenbaum commented on #1513
@Thomas1664 Sure. Please make sure it is done in a way we can easily disable it in case we ship the app outside of the store as well.

[2020-10-15 02:52] Jaiganeshkumaran commented on #1513
@yaichenbaum This is the first proposal ever. Microsoft Store exists so that apps don't need to worry about updates. Files is a store app, not a sideloaded app

[2020-10-15 02:55] yaichenbaum commented on #1513
@Jaiganeshkumaran Providing alternatives for users who do not have access to the store is part of the plan for the future.

[2020-10-15 02:56] Jaiganeshkumaran commented on #1513
But this is about checking updates for the store version. This shouldn't be done

[2020-10-15 02:58] #1212 closed

[2020-10-15 03:01] #2091 closed

[2020-10-15 03:02] yaichenbaum commented on #1452
This issue should be fixed with #2092.

[2020-10-15 03:02] #1452 closed

[2020-10-15 03:03] yaichenbaum commented on #1513
@Jaiganeshkumaran Users should be informed about updates without having to open the Microsoft Store. This will help users stay up to date.

[2020-10-15 03:06] Jaiganeshkumaran commented on #1513
Provide an option called Check for updates like what Feedback Hub. Not a periodic 'Task'

[2020-10-15 03:10] Jaiganeshkumaran commented on #1513
@yaichenbaum This is a store app. Updates are performed automatically by Windows. To inform users, show a dialog after an update.

[2020-10-15 03:12] Jaiganeshkumaran commented on #1513
When Windows already checks for app updates, why should we? It is annoying to see apps asking for updates. Windows Store apps are better because updates are only applied after you are done with it.

[2020-10-15 03:14] Jaiganeshkumaran commented on #1920
No need for an option. Files UWP probably uses Composition or XAML for animations, so disabling system animations from Settings->Ease of access->Display should also disable Files UWP animations.

[2020-10-15 03:31] yaichenbaum commented on #1920
@Jaiganeshkumaran Is correct, closing this issue.

[2020-10-15 03:31] #1920 closed

[2020-10-15 14:18] #1323 closed

[2020-10-15 15:00] Jaiganeshkumaran commented on #1437
@yaichenbaum Could you assign me on this issue?

[2020-10-15 15:01] yaichenbaum commented on #1437
This is already implemented with the shell extensions.

[2020-10-15 15:03] #1437 closed

[2020-10-15 15:04] yaichenbaum commented on #1437
How would it work, would it launch the photos app and auto select the crop option?

[2020-10-15 15:05] bhupathi189 opened #2098 "when accessing DVD drive folder(without a DVD). The files window is crashing"
**Describe the bug**
When accessing DVD drive folder(without a DVD). The files window is being crashed/closed( not the Whole files app)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home Page'
2. Click on 'DVD RW Drive'
3. Wait
4. See error

**Expected behavior**
It should either show a warning that DVD is inserted or open the DVD bay to insert DVD.

**Screenshots**
If applicable, a

[2020-10-15 15:06] Jaiganeshkumaran commented on #1437
@yaichenbaum That's right but without opening the entire app itself. Photos app provides a Launch for results URI for cropping which will be done in a model dialog and hitting save will close it and no other options would be shown

[2020-10-15 15:07] Jaiganeshkumaran commented on #1437
It will not switch to the Photos app instead it will open as a dialog box with LaunchUriForResultsAsync and will provide options only for cropping.

[2020-10-15 15:12] yaichenbaum commented on #1437
@Jaiganeshkumaran That is an amazing idea! Can you please open a proposal for it?

[2020-10-15 15:16] Jaiganeshkumaran opened #2099 "Built-in option to crop an image"
**Is your feature request related to a problem? Please describe.**
Today if you need to crop an image, I need to open it with Photos, hit crop, and go back. Since it's opening a separate window, it distracts users and no that quick and first.

**Describe the solution you'd like**
Photos app provides a special service via Launch for results WinRT contract the lets your app access the crop experienc

[2020-10-15 15:17] Jaiganeshkumaran commented on #1437
Done #2099

[2020-10-15 17:00] seltinusjulio commented on #261
It's good. But, I think we need a better design rather checkboxes.

[2020-10-15 17:06] yaichenbaum commented on #261
@seltinusjulio You can already use ctrl + click to select more than one item.

[2020-10-15 17:43] #519 closed

[2020-10-15 17:43] #2083 closed

[2020-10-15 22:31] fisforfaheem commented on #2079
their should be an option for offline distribution of app not everyone has
internet on pc these days :)

On Tue, Oct 13, 2020 at 5:17 PM Yair Aichenbaum <notifications@github.com>
wrote:

[2020-10-15 23:44] #1209 closed

[2020-10-16 00:45] vaimalaviya1233 opened #2102 "Paste Crash"
**Describe the bug**
When i cut using windows explorer and pasting  using files app I think more than 6 GB files it crashed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' it doen't matter if multiple file add up to make more or 6GB'
2. "cut all those files using explorer and open folder in files app"
3. "right click and paste and sometime after it crashed"
4. See error

**Expected b

[2020-10-16 01:46] Jaiganeshkumaran commented on #2102
@vaimalaviya1233 Duplicate of #1222

[2020-10-16 02:52] #2102 closed

[2020-10-16 02:53] yaichenbaum commented on #1222
@Jaiganeshkumaran Can you upload the log file?

[2020-10-16 03:56] Jaiganeshkumaran commented on #1222
@yaichenbaum I don't have it anymore

[2020-10-16 17:07] RiemaruKarurosu opened #2104 "Accesing to Appdata coming from %appdata% (Roaming) crashed Files UWP"
When you type %appdata% and go back to App Data the whole app crashes.
debug_fulltrust.txt

---------------------------------------------------------------
2020-10-16 11:58:11.3096|INFO|FilesFullTrust.QuickLook|QuickLook detected: False|
2020-10-16 11:58:46.8768|INFO|FilesFullTrust.Program|Argument: Terminate|
2020-10-16 11:59:05.0284|INFO|FilesFullTrust.QuickLook|QuickLook detected: False|
2020-1

[2020-10-16 17:34] #1042 closed

[2020-10-16 17:35] yaichenbaum commented on #2104
This issue will be fixed with #177.

[2020-10-16 17:35] #2104 closed

[2020-10-16 17:37] yaichenbaum commented on #177
@gave92 Can you confirm if all that's left to his issue is hidden items?

[2020-10-16 17:42] gave92 commented on #177
Alternate Data Streams as well

[2020-10-17 06:06] testiwm007 opened #2106 "File Paste"
When we file paste. Not asking to overwrite confirmation. And create new file with copy name.
That is really needed to ask and overwrite existing file.

[2020-10-17 06:40] UnnieChaeng opened #2107 "Files UWP not opening"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-10-17 16:50] DorukSega commented on #2090
sorry, but where can I find it?

[2020-10-17 19:51] Concorde1234 opened #2109 "Strange folders appearing out of the blue"
**Describe the bug**
On several occasions, folders with Chinese names on them have appeared in my files and disappear quickly. Many of these occasions have resulted in a crash of the files app.

**To Reproduce**
It seems to just happen at random but it almost always happens after I've been using the file system for a long time not right at start up.

**Expected behavior**
Folders I create should b

[2020-10-18 00:27] #1483 closed

[2020-10-18 01:53] #2107 closed

[2020-10-18 09:36] golamrabbiazad opened #2111 "Video files don't play on dragging"
**Describe the bug**
When I select a video file and then drag it **(which is annoying to me because direct dragging not works)** to the MPC-HC video player it shows on player **link** (other players such as vlc, wmp shows copy on dragging and plays smoothly) and doesn't play that dragged file.

**Expected behavior**
I expected every video file plays on dragged to the player.

**Screenshots**
![cap

[2020-10-18 11:47] KristofKekesi opened #2112 "[Feature] Always on acrylic"
**Is your feature request related to a problem? Please describe.**
When I click on something else than Files, the acrylic is switched to a static color. If there was an option in the settings like '`Always on acrylic`' that would be great.

**Describe the solution you'd like**
'`Always on acrylic`' switch in the settings

[2020-10-18 11:54] gave92 commented on #2112
I believe this is not allowed by windows. From the docs:

When an app window on desktop deactivates
...

[2020-10-18 12:37] KristofKekesi opened #2113 "[Bug] right click menu paste wrong color"
**Describe the bug**
In the right click menu option Paste has a wrong color.

**To Reproduce**
Steps to reproduce the behavior:
1. Set dark mode
2. Right click
3. Paste has the wrong color

**Expected behavior**
Color like the other options

**Screenshots**
![l](https://user-images.githubusercontent.com/64812024/96367663-7a7c7f00-114f-11eb-81ce-f6b5d551cd60.PNG)
![l2](https://user-images.githubuse

[2020-10-18 16:21] yaichenbaum commented on #2090
You can access it from Settings->About->Open log location.

[2020-10-18 16:23] #2112 closed

[2020-10-18 18:48] Brandon-Hughes-MSCS opened #2114 "Layout Per Folder Feature Request"
**Is your feature request related to a problem? Please describe.**
Setting a Layout setting on one folder switches all folders i view to switch to that layout. so for downloads i normally use details and photos i use small thumbnails. but i have to consistently switch the layout.

**Describe the solution you'd like**
Make it so that each folder can have a its each own layout saved. so every time i

[2020-10-18 19:04] XPoppyX commented on #2114
Duplicate of #530

[2020-10-18 19:06] #2114 closed

[2020-10-18 20:07] yaichenbaum opened #2115 "Opening the properties window causes the main app window to be resized"

[2020-10-18 21:30] #1650 closed

[2020-10-18 23:16] yaichenbaum commented on #1703
This issue is now fixed in the master branch.

[2020-10-18 23:16] #1703 closed

[2020-10-18 23:18] yaichenbaum opened #2117 "Add `ctrl + shift + t` to restore a recently closed tab"

[2020-10-18 23:20] yaichenbaum commented on #9
With the exception of one shortcut #2117, all items in this issue have been resolved. Moving forward, requests for new shortcuts should get their own issue.

[2020-10-18 23:20] #9 closed

[2020-10-19 02:56] ZzzzzzzSkyward commented on #2070
I find the defalut application to run MSIX file is the  Microsoft WinRT Storage, which gives the error information as "invalid registry value".

[2020-10-19 16:24] pitchtheripoff opened #2118 "Drag and Drop"
**Is your feature request related to a problem? Please describe.**
I hate that I can't drag stuff into other folders and have to always Ctrl+C Ctrl+V everything. It gets annoying.

**Describe the solution you'd like**
Give us the ability to drag files from folder to folder.

**Describe alternatives you've considered**
I haven't considered any.

**Additional context**
App version: 0.17.0.0

[2020-10-19 16:31] pitchtheripoff commented on #2065
Hey, I agree with this. The app uses too much RAM for a file explorer. 58 MB, to be exact. This is way too much especially when compared to the stock Windows 10 File Explorer.
Of course it frees itself once closed but still, this is kind of a problem when not using tabs or using more than 5 tabs.